@import "../../../../styles/common-blocks";

.remove-password {
	margin-bottom: 2rem;
	&--title {
		@extend %subtitle;
		margin: 0;
	}

	&--gif {
		margin-top: 2rem;
		& video {
			width: 100%;
		}
	}
}

.instruction {
	margin-top: 3rem;

	&__title {
		@extend %subtitle;
		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	&__list {
		margin-top: 3rem;
		padding: 0;
		list-style-position: inside;
		list-style-type: decimal;
		@extend %text-common;
		font-size: 1.6rem;
		line-height: 3rem;
	}

	&__step {
		&--bold {
			font-weight: bold;
		}
	}

	&__button {
		margin-top: 3rem;
		@extend %theme-btn;
		min-width: 20rem;
	}
}
