<div class="remove-password">
	<h2 class="remove-password--title">
		How to remove passwords from {{browserName | titlecase}}
	</h2>

	<div class="remove-password--gif">
		<video autoplay>
			<source [src]="'/assets/images/privacy-tab/non-private-passwords/how-remove-passwords-' + browserName + '.mp4'"
					type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>

	<div class="instruction">
		<h3 class="instruction__title">To remove passwords stored in {{browserName | titlecase}}, follow these steps:</h3>
		<ng-container *ngTemplateOutlet="getTemplate(browserName)"></ng-container>
		<button class="instruction__button"
				vtrSendAnalytics
				[metricsEvent]="'ItemClick'"
				[metricsItem]="'NonPrivatePasswordsGotItButton'"
				(click)="buttonClickEmit()">Got it</button>
	</div>
</div>

<ng-template #chrome>
	<ul class="instruction__list">
		<li class="instruction__step">Click <img src="assets/images/privacy-tab/non-private-passwords/Icon_Chrome.png"
												 srcset="assets/images/privacy-tab/non-private-passwords/Icon_Chrome.png 2x"
												 alt="chrome's setting icon"> near the address bar in Chrome.</li>
		<li class="instruction__step">Go to <span class="instruction__step--bold">More tools</span> and choose <span
			class="instruction__step--bold">Clear browsing data…</span></li>
		<li class="instruction__step">Navigate to the <span class="instruction__step--bold">Advanced</span> tab.</li>
		<li class="instruction__step">Check <span
			class="instruction__step--bold">Passwords and other sign-in data</span> and <span
			class="instruction__step--bold">Autofill form data.</span></li>
		<li class="instruction__step">Hit the <span class="instruction__step--bold">Clear data</span> button.</li>
	</ul>
</ng-template>

<ng-template #edge>
	<ul class="instruction__list">
		<li class="instruction__step">Click <img src="assets/images/privacy-tab/non-private-passwords/Icon_Edge.png"
												 srcset="assets/images/privacy-tab/non-private-passwords/Icon_Edge.png 2x"
												 alt="edge's setting icon"> near the address bar in Edge.</li>
		<li class="instruction__step">Go to <span class="instruction__step--bold">Settings</span> and choose <span
			class="instruction__step--bold">Privacy & security.</span></li>
		<li class="instruction__step">Choose what to clear under <span class="instruction__step--bold">Clear browsing data.</span>
		</li>
		<li class="instruction__step">Check <span class="instruction__step--bold">Passwords</span></li>
		<li class="instruction__step">Hit the <span class="instruction__step--bold">Clear</span> button.</li>
	</ul>
</ng-template>

<ng-template #firefox>
	<ul class="instruction__list">
		<li class="instruction__step">Click menu <img src="assets/images/privacy-tab/non-private-passwords/Icon_Firefox.png"
													  srcset="assets/images/privacy-tab/non-private-passwords/Icon_Firefox.png 2x"
													  alt="edge's setting icon"> near the address bar in Firefox.</li>
		<li class="instruction__step">Go to Options and choose the <span class="instruction__step--bold">Privacy & Security</span>
			tab.
		</li>
		<li class="instruction__step">Scroll to find <span class="instruction__step--bold">Logins & Passwords</span> and
			click the <span class="instruction__step--bold">Saved Logins</span> button.
		</li>
	</ul>
</ng-template>
