<div>
	<div *ngIf="showIC===4 || showIC===3 || showIC===14 || showIC===13">
		<div class="row pt-5 smart-settings-card"
			id="smartSettings">
			<div class="col mx-auto ">
				<vtr-container-collapsible
					[cardTitle]="'device.deviceSettings.power.powerSmartSettings.title' | translate"
					[isCollapsed]="false"
					[allowCollapse]="false"
					[theme]="'blue'">
					<ul class="list-group list-group-flush">
						<li class="">
							<vtr-ui-row-switch [leftIcon]="['icomoon','icomoon-ic']"
								[title]="'device.deviceSettings.power.powerSmartSettings.subtitle' | translate | titlecase"
								[caption]="captionText"
								[isSwitchVisible]="showIntelligentCoolingToggle"
								[isSwitchChecked]="enableIntelligentCoolingToggle"
								[showChildContent]="true"
								[theme]="'blue'"
								[switchId]="'ds-power-powerSmartSettings'"
								[isLastChild]='true'
								(toggleOnOff)="onIntelligentCoolingToggle($event)">
								<div class="alignment pl-5">
									<div class="well ml-2"
                                        *ngIf="showIC===3 && !apsStatus">
										{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.apsHint' | translate }}
									</div>
									<div *ngIf="showIC===3 && isShowIntelligentCoolingModes()"
										class="optimize">
										{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.optimize' | translate | uppercase }}
									</div>
									<div class="row no-gutters ml-2"
                                        *ngIf="isShowIntelligentCoolingModes()"
										role="radiogroup">
										<vtr-ui-circle-radio-with-checkbox *ngIf="showIC!==14"
											[theme]="'blue'"
											[radioId]="'radioICPerformance'"
											[group]="'radio'"
											[label]="'device.deviceSettings.power.powerSmartSettings.intelligentCooling.options.performance' + showIC | translate"
											[value]="'performance'"
											[checked]="radioPerformance"
											(optionChange)="changePerformance($event)"
											[textId]="'myDevice-settings-power-intelligent-cooling'">
										</vtr-ui-circle-radio-with-checkbox>
										<vtr-ui-circle-radio-with-checkbox [radioId]="'radioICQuiteCool'"
											[theme]="'blue'"
											[group]="'radio'"
											[label]="'device.deviceSettings.power.powerSmartSettings.intelligentCooling.options.quiteCool' + showIC | translate"
											[value]="showIC==14 ? 'LE-IntelligentCooling2x' : 'LE-CoolingDown2x' "
											[checked]="radioQuietCool"
											(optionChange)="changeQuietCool($event)"
											[textId]="'myDevice-settings-power-intelligent-cooling'">
										</vtr-ui-circle-radio-with-checkbox>
										<vtr-ui-circle-radio-with-checkbox *ngIf="showIC===14"
											[theme]="'blue'"
											[radioId]="'radioICPerformance'"
											[group]="'radio'"
											[label]="'device.deviceSettings.power.powerSmartSettings.intelligentCooling.options.performance' + showIC | translate"
											[value]="'performance'"
											[checked]="radioPerformance"
											(optionChange)="changePerformance($event)"
											[textId]="'myDevice-settings-power-intelligent-cooling'">
										</vtr-ui-circle-radio-with-checkbox>
										<vtr-ui-circle-radio-with-checkbox *ngIf="showIC===14"
											[theme]="'blue'"
											[radioId]="'quiteBatterySaving'"
											[group]="'radio'"
											[label]="'device.deviceSettings.power.powerSmartSettings.intelligentCooling.options.batterySaving' | translate"
											[value]="'LE-Battery-Life-mode2x'"
											[checked]="radioBatterySaving"
											(optionChange)="changeBatterySaving($event)"
											[textId]="'myDevice-settings-power-intelligent-cooling'">
										</vtr-ui-circle-radio-with-checkbox>
									</div>
									<div class="well ml-2"
                                        *ngIf="showIC===14"> {{ selectedModeText }} </div>
								</div>

							</vtr-ui-row-switch>
						</li>
					</ul>
				</vtr-container-collapsible>
			</div>
		</div>
	</div>

	<div *ngIf="showIC===5">
		<div class="row pt-5 smart-settings-card"
			id="smartSettings">
			<div class="col mx-auto ">
				<vtr-container-collapsible
					[cardTitle]="'device.deviceSettings.power.powerSmartSettings.title' | translate"
					[isCollapsed]="false"
					[allowCollapse]="false"
					[theme]="'blue'">
					<div class="row">
						<div class="col-auto left-icon">
							<span [ngClass]="'icomoon icomoon-ic'"></span>
						</div>
						<div class="col text-wrap subtitle">
							<h3 tabindex="0"
                                role="text"
                                id="powerSmartSettings.intelligentCooling.title"
                                attr.aria-label="powerSmartSettings.intelligentCooling.title">
								<!-- Intelligent Cooling  -->
								{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.title' | translate}}
							</h3>
							<p tabindex="0"
                                role="text"
                                id="powerSmartSettings.description"
                                attr.aria-label="powerSmartSettings.description">
								{{'device.deviceSettings.power.powerSmartSettings.description5' | translate}}
								<a class="read-more-link"
									#readMoreLink
									*ngIf="!onReadMoreClick"
									href="javascript:void(0)"
									(click)="readMoreLink.blur();readMore(readMoreDiv)"
									(keydown.enter)="readMoreLink.blur();readMore(readMoreDiv);"
									tabindex="0"
                                    role="link"
                                    id="powerSmartSettings-intelligentCooling-read-more"
									attr.aria-label="powerSmartSettings-intelligentCooling-read-more">
									{{'device.deviceSettings.power.powerSmartSettings.readMore' | translate}}</a>
							</p>
							<div style="display:none"
								tabindex="0"
								id="readMoreDiv"
								role="text"
								#readMoreDiv>
								<p tabindex="0"
									id="readMoreMode1"
									role="text">
                                    <span role="text" class="cooling-modes"
                                        id="{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode1' | translate}}">{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode1' | translate}}:</span>
									{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.line1' | translate}}
								</p>
								<p tabindex="0"
									role="text"
									id="readMoreMode2">
                                    <span role="text" class="cooling-modes"
                                        id="{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode2' | translate}}">{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode2' | translate}}:</span>
									{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.line2' | translate}}
								</p>
								<p tabindex="0"
									id="readMoreMode3"
									role="text">
									<span role="text"
                                        class="cooling-modes"
                                        id="{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode3' | translate}}">{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode3' | translate}}:</span>
									{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.line3' | translate}}
								</p>
							</div>
							<p role="text"
								class="text-right more-info">
								<!-- Do not need to add keydown.enter event handling for modal dialogue default will work without event handling provided the link is button , a href keyboard support will not work-->
								<button alt=""
									class="more-info-button"
									type="button"
									(click)="coolingModesPopUp()"
									tabindex="0"
                                    role="link"
                                    id="powerSmartSettings-intelligentCooling-more-info"
									attr.aria-label="powerSmartSettings-intelligentCooling-more-info ">
									{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.line4' | translate}}
								</button>
							</p>
						</div>
					</div>
				</vtr-container-collapsible>
			</div>
		</div>
	</div>
	<div *ngIf="showIC===6">
		<div class="row py-5 smart-settings-card"
			id="smartSettings">
			<div class="col mx-auto ">
				<vtr-container-collapsible
					[cardTitle]="'device.deviceSettings.power.powerSmartSettings.title' | translate"
					[isCollapsed]="false"
					[allowCollapse]="false"
					[theme]="'blue'">
					<div class="row">
						<div class="col-auto left-icon">
							<span [ngClass]="'icomoon icomoon-ic'"></span>
						</div>
						<div class="col text-wrap subtitle">
							<h3 tabindex="0"
								role="text" id="powersmartsettings-intelligentCooling-title"
                                attr.aria-label="powersmartsettings-intelligentCooling-title">
								<!-- Intelligent Cooling  -->
								{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.title' | translate}}
                            </h3>
							<p tabindex="0"
                                role="text" id="powersmartsettings-dytc6-dec1"
                                attr.aria-label="powersmartsettings-dytc6-dec1">
								{{'device.deviceSettings.power.powerSmartSettings.dytc6.desc1' | translate}}
							</p>
							<p tabindex="0"
								role="text" id="powersmartsettings-dytc6-dec2"
                                attr.aria-label="powersmartsettings-dytc6-dec2">
								{{'device.deviceSettings.power.powerSmartSettings.dytc6.desc2' | translate}}
							</p>
							<div class="row mb-4">
								<div>
									<img role="img"
										class="img-fluid mx-auto d-block"
										src="assets/images/dytc6_toolbar.png" id="powersmartsettings-dytc6-toolbar"
                                        attr.aria-label="powersmartsettings-dytc6-toolbar">
								</div>
							</div>
							<p *ngIf="dytc6IsAutoModeSupported && (dytc6Mode === 'autoMode')"
								tabindex="0"
								role="text" id="powersmartsettings-dytc6-dec3_1"
                                attr.aria-label="powersmartsettings-dytc6-dec3_1">
								{{'device.deviceSettings.power.powerSmartSettings.dytc6.desc3_1' | translate}}
							</p>
							<p *ngIf="dytc6IsAutoModeSupported && (dytc6Mode === 'manualMode')"
								tabindex="0"
								role="text" id="powersmartsettings-dytc6-dec3"
                                attr.aria-label="powersmartsettings-dytc6-dec3">
								{{'device.deviceSettings.power.powerSmartSettings.dytc6.desc3' | translate}}
							</p>
							<div *ngIf="isCollapsed"
								tabindex="0"
                                id="readMoreDytc6"
								role="text">
								<p tabindex="0"
                                    id="readMoreDytc6Mode1"
                                    attr.aria-label="readMoreDytc6Mode1"
									role="text">
									<span role="text"
										class="cooling-modes">
										{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".title1" | translate}}:
									</span>
									{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".desc1" | translate}}
								</p>
								<p tabindex="0"
									id="readMoreDytc6Mode2"
									role="text">
									<span role="text"
										class="cooling-modes">
										{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".title2" | translate}}:
									</span>
									{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".desc2" | translate}}
								</p>
								<p tabindex="0"
									id="readMoreDytc6Mode3"
									role="text">
									<span role="text"
										class="cooling-modes">
										{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".title3" | translate}}:
									</span>
									{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".desc3" | translate}}
								</p>

                            </div>
                            <div class="more-info mt-5 row" (click)="showMoreDytc6()">
                                <div class="more-info-button mr-2" *ngIf="!isCollapsed" tabindex="0" role="link"
                                    id="powerSmartSettings-intelligentCooling-more-info"
                                    attr.aria-label="powerSmartSettings-intelligentCooling-more-info">
                                    {{'device.deviceSettings.inputAccessories.controlOptions.more' | translate}}
                                </div>
                                <div class="more-info-button mr-2" *ngIf="isCollapsed" tabindex="0" role="link"
                                    id="powerSmartSettings-intelligentCooling-less-info"
                                    attr.aria-label="powerSmartSettings-intelligentCooling-less-info">
                                    {{'device.deviceSettings.inputAccessories.controlOptions.less' | translate}}
                                </div>
								<fa-icon *ngIf="!isCollapsed"
									[icon]="['fal', 'chevron-down']"></fa-icon>
								<fa-icon *ngIf="isCollapsed"
									[icon]="['fal', 'chevron-up']"></fa-icon>
							</div>
						</div>
					</div>
				</vtr-container-collapsible>
			</div>
		</div>
	</div>
</div>
