@import "../../../app.theme";

.smart-settings-card {
	.left-icon {
		margin-top: 1.25rem;
		color: white;
		padding-right: 1rem;
	}
	.subtitle {
		width: 100%;

		h3 {
			margin-top: 1.5rem;
			text-transform: capitalize;
			color: $light;
			font-size: $section_header;
			font-weight: $weight_light;
			letter-spacing: 0.05rem;
			text-transform: none;
		}
		p {
			//opacity: 0.8;
			color: $light;
			font-size: $body;
			font-weight: $weight_light;
			a {
				list-style: none;
				text-decoration: underline;
				color: $light;

				&:hover {
					list-style: none;
					color: $light;
					text-decoration: underline;
				}
			}
		}
		// li vtr-ui-row-switch div {
		//     margin-left: -10px;
		// }
		::ng-deep .vtr-ui-rounded-rectangle-radio {
			&.border-grey {
				border: none;
			}
			@media #{$mediaquery_X25} {
				width: 25rem;
			}
		}

		@media #{$mediaquery_X25} {
			width: 25rem;
		}
	}

	.well {
		padding: 15px;
		background: #225faa;
		border-radius: 10px;
		opacity: 0.9;
		font-size: $fontsize_xs;
		color: $light;
		margin-top: 3rem;
		margin-right:0rem;
		max-width: 100%;
		min-height: 2.8rem;
	}

	.alignment {
		margin-top: 1rem;
		margin-left: -5px !important;
		margin-bottom: 12px;
	}
	.list-group.list-group-flush {
		list-style-type: none;
	}

	.cooling-modes {
		font-weight: $weight_bold;
	}

	.more-info {
		cursor: pointer;
		.more-info-button {
			background: none;
			border: none;
			list-style: none;
			color: $light;
			text-decoration: underline;
			cursor: pointer;
			font-size: $body;
			font-weight: $weight_bold;
			@media #{$black-on-white} {
				color: $high-contrast-blue;
			}
			@media #{$white-on-black} {
				color: $yellow;
			}
			&:hover {
				list-style: none;
				color: $light;
				text-decoration: underline;
			}
		}
		fa-icon {
			font-size: 1.5rem;
			color: white;
			vertical-align: middle;
		}
	}
	.read-more-link {
		color: $light;
		text-decoration: underline;
		cursor: pointer;
		@media #{$black-on-white} {
			color: $high-contrast-blue;
		}
		@media #{$white-on-black} {
			color: $yellow;
		}
	}
	.optimize {
		color: $light;
		font-size: $fontsize_xs;
		font-weight: 700;
		margin-bottom: 10px;
		margin-top: 2rem;
		margin-left: 0.5rem;
	}
}
