<div>
	<!-- < showIC=3/4 for thinkpad-ITS, showIC=13/14/15 for ideapad-ITS, This showIC should be equal to an exact value, not a range> -->
	<div *ngIf="showIC===4 || showIC===3 || showIC===13 || showIC===14 || showIC===15">
		<div class="row pt-5 smart-settings-card"
			id="smartSettings">
			<div class="col mx-auto ">
				<vtr-container-collapsible
					[cardTitle]="'device.deviceSettings.power.powerSmartSettings.title' | translate"
					[isCollapsed]="false"
					[allowCollapse]="true"
					[theme]="'white'"
					[tabIndex]="0"
					[collapseLinkId]="'device-settings-powerSmartSettings'">
					<ul class="list-group list-group-flush">
						<li class="">
							<vtr-ui-row-switch [leftIcon]="['icomoon','icomoon-ic']"
								[title]="'device.deviceSettings.power.powerSmartSettings.subtitle' | translate | titlecase"
								[caption]="captionText"
								[isSwitchVisible]="showIntelligentCoolingToggle"
								[isSwitchChecked]="enableIntelligentCoolingToggle"
								[showChildContent]="true"
								[theme]="'white'"
								[switchId]="'ds-power-powerSmartSettings'"
								[isLastChild]='true'
								(toggleOnOff)="onIntelligentCoolingToggle($event)">
								<div class="alignment pl-5">
									<div class="well ml-2"
										id="power.powerSmartSettings.intelligentCooling.apsHint"
										attr.aria-label="power.powerSmartSettings.intelligentCooling.apsHint"
										*ngIf="showIC===3 && !apsStatus">
										{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.apsHint' | translate }}
									</div>
									<div *ngIf="showIC===3 && showIntelligentCoolingModes"
										class="optimize"
										id="power.powerSmartSettings.intelligentCooling.optimize"
										attr.aria-label="power.powerSmartSettings.intelligentCooling.optimize">
										{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.optimize' | translate | uppercase }}
									</div>
									<div class="row no-gutters ml-2 cooling-mode-list-block"
										*ngIf="showIntelligentCoolingModes">
										<vtr-ui-circle-radio-with-checkbox-list
											[groupName]="'intelligent-cooling-radio-group'"
											(optionChange)="onIntelligentCoolingModeChange($event)"
											[radioDetails]="intelligentCoolingUIModel">
										</vtr-ui-circle-radio-with-checkbox-list>
									</div>
									<div class="well ml-2"
										role="heading"
										id="powerSmartSettings-maximum-system-protection-note"
										attr.aria-label="powerSmartSettings-maximum-system-protection-note"
										*ngIf="showIC>=14">
										<div class="selectModeDesc"
											role="text"
											id="IntelligentCooling-selectedModeText">
											{{ selectedModeText }}
										</div>
										<div class="transition"
											*ngIf="showIC>=15 && radioQuietCool">
											<vtr-ui-checkbox [componentId]="'IntelligentCooling-5.0-AutoTransition'"
												[value]="isAutoTransitionEnabled"
												[checked]="isAutoTransitionEnabled"
												[label]="'device.deviceSettings.power.powerSmartSettings.intelligentCooling.autoTransition.description' | translate"
												(toggle)="onAutoTransitionToggle($event)"
												id="IntelligentCooling-5.0-AutoTransition-checkBox">
											</vtr-ui-checkbox>
											<div class="transitionReadMore mt-3 row">
												<div class="read-more-button mr-2"
													role="button"
													[id]="autoTransitionIsReadMore
													? 'powerSmartSettings-intelligentCooling-autoTransition-less'
													: 'powerSmartSettings-intelligentCooling-autoTransition-more'"
													[attr.aria-label]=" !autoTransitionIsReadMore ? 'more' : 'less'"
													tabindex="0"
													(keydown.enter)="autoTransitionReadMoreClick()"
													(click)="autoTransitionReadMoreClick()">
													{{
														autoTransitionIsReadMore
														? ('device.deviceSettings.power.powerSmartSettings.intelligentCooling.autoTransition.less' | translate)
														: ('device.deviceSettings.power.powerSmartSettings.intelligentCooling.autoTransition.more' | translate)
													}}
												</div>
												<fa-icon *ngIf="!autoTransitionIsReadMore"
													[icon]="['fal', 'chevron-down']"></fa-icon>
												<fa-icon *ngIf="autoTransitionIsReadMore"
													[icon]="['fal', 'chevron-up']"></fa-icon>
											</div>
											<div *ngIf="autoTransitionIsReadMore"
												attr.aria-label="ITSAutoTransitionReadMore"
												class="mt-3">
												<p class="transitionMoreInfo"
													role="text"
													id="ITSAutoTransitionReadMore-PartA">
													{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.autoTransition.moreContent.desc1' | translate}}
												</p>
												<p class="transitionMoreInfo"
													role="text"
													id="ITSAutoTransitionReadMore-PartB">
													{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.autoTransition.moreContent.desc2' | translate}}
												</p>
												<p class="transitionMoreInfo"
													role="text"
													id="ITSAutoTransitionReadMore-PartC">
													{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.autoTransition.moreContent.desc3' | translate}}
												</p>
											</div>
										</div>
									</div>
								</div>

							</vtr-ui-row-switch>
						</li>
					</ul>
				</vtr-container-collapsible>
			</div>
		</div>
	</div>

	<div *ngIf="showIC===5">
		<div class="row pt-5 smart-settings-card"
			id="smartSettings">
			<div class="col mx-auto ">
				<vtr-container-collapsible
					[cardTitle]="'device.deviceSettings.power.powerSmartSettings.title' | translate"
					[isCollapsed]="false"
					[collapseLinkId]="'device-settings-powerSmartSettings'"
					[theme]="'white'">
					<div class="row">
						<div class="col-auto left-icon">
							<span [ngClass]="'icomoon icomoon-ic'"
								role="img"
								attr.aria-label="{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.title' | translate}}"></span>
						</div>
						<div class="col text-wrap subtitle">
							<h3 id="powerSmartSettings.intelligentCooling.title"
								attr.aria-label="powerSmartSettings.intelligentCooling.title">
								<!-- Intelligent Cooling  -->
								{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.title' | translate}}
							</h3>
							<p id="powerSmartSettings-dytc5-description"
								aria-hidden="false">
								{{'device.deviceSettings.power.powerSmartSettings.description5' | translate}}
								<a class="read-more-link"
									#readMoreLink
									*ngIf="!onReadMoreClick"
									href="javascript:void(0)"
									(click)="[readMoreLink.blur(),readMore(readMoreDiv,$event)]"
									(keydown.enter)="[readMoreLink.blur(),$event.stopPropagation(),readMore(readMoreDiv,$event)]"
									tabindex="0"
									role="link"
									id="powerSmartSettings-intelligentCooling-read-more"
									attr.aria-label="powerSmartSettings-intelligentCooling-read-more">
									{{'device.deviceSettings.power.powerSmartSettings.readMore' | translate}}</a>
							</p>
							<div style="display:none;outline: none;"
								tabindex="-1"
								id="readMoreDiv"
								role="heading"
								#readMoreDiv>
								<p id="readMoreMode1"
									role="heading">
									<span class="cooling-modes"
										id="device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode1">{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode1' | translate}}:
									</span>
									{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.line1' | translate}}
								</p>
								<p id="readMoreMode2"
									role="heading">
									<span class="cooling-modes"
										id="device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode2">{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode2' | translate}}:
									</span>
									{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.line2' | translate}}
								</p>
								<p id="readMoreMode3"
									role="heading">
									<span class="cooling-modes"
										id="device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode3">{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.mode3' | translate}}:
									</span>
									{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.line3' | translate}}
								</p>
							</div>
							<p class="text-right more-info">
								<!-- Do not need to add keydown.enter event handling for modal dialogue default will work without event handling provided the link is button , a href keyboard support will not work-->
								<button alt=""
									class="more-info-button"
									type="button"
									(click)="coolingModesPopUp()"
									tabindex="0"
									role="link"
									id="powerSmartSettings-intelligentCooling-more-info"
									attr.aria-label="powerSmartSettings-intelligentCooling-more-info ">
									{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.readMore.line4' | translate}}
								</button>
							</p>
						</div>
					</div>
				</vtr-container-collapsible>
			</div>
		</div>
	</div>
	<div *ngIf="showIC===6">
		<div class="row pt-5 smart-settings-card"
			id="smartSettings">
			<div class="col mx-auto ">
				<vtr-container-collapsible
					[cardTitle]="'device.deviceSettings.power.powerSmartSettings.title' | translate"
					[isCollapsed]="false"
					[collapseLinkId]="'device-settings-powerSmartSettings'"
					[theme]="'white'">
					<div class="row">
						<div class="col-auto left-icon">
							<span [ngClass]="'icomoon icomoon-ic'"
								role="img"
								attr.aria-label="{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.title' | translate}}"></span>
						</div>
						<div class="col text-wrap subtitle">
							<h3 id="powersmartsettings-intelligentCooling-title"
								attr.aria-label="powersmartsettings-intelligentCooling-title">
								<!-- Intelligent Cooling  -->
								{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.title' | translate}}
							</h3>
							<p id="powersmartsettings-dytc6-dec1"
								role="heading"
								attr.aria-label="powersmartsettings-dytc6-dec1">
								{{'device.deviceSettings.power.powerSmartSettings.dytc6.desc1' | translate}}
							</p>
							<p id="powersmartsettings-dytc6-dec2"
								role="heading"
								attr.aria-label="powersmartsettings-dytc6-dec2">
								{{'device.deviceSettings.power.powerSmartSettings.dytc6.desc2' | translate}}
							</p>
							<div class="row mb-4">
								<div>
									<img role="img"
										attr.aria-label="powersmartsettings-dytc6-toolbar"
										alt="powersmartsettings-dytc6-toolbar"
										class="img-fluid mx-auto d-block"
										src="assets/images/dytc6_toolbar.png"
										id="powersmartsettings-dytc6-toolbar">
								</div>
							</div>
							<p *ngIf="dytc6IsAutoModeSupported && (dytc6Mode === 'autoMode')"
								id="powersmartsettings-dytc6-dec3_1"
								role="heading"
								attr.aria-label="powersmartsettings-dytc6-dec3_1">
								{{'device.deviceSettings.power.powerSmartSettings.dytc6.desc3_1' | translate}}
							</p>
							<p *ngIf="dytc6IsAutoModeSupported && (dytc6Mode === 'manualMode')"
								id="powersmartsettings-dytc6-dec3"
								role="heading"
								attr.aria-label="powersmartsettings-dytc6-dec3">
								{{'device.deviceSettings.power.powerSmartSettings.dytc6.desc3' | translate}}
							</p>
							<div *ngIf="isCollapsed"
								style="outline:none;"
								role="text"
								[autofocus]="isCollapsed"
								id="readMoreDytc6">
								<p id="readMoreDytc6Mode1"
									role="heading"
									attr.aria-label="readMoreDytc6Mode1">
									<span class="cooling-modes">
										{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".title1" | translate}}:
									</span>
									{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".desc1" | translate}}
								</p>
								<p id="readMoreDytc6Mode2"
									role="heading"
									attr.aria-label="readMoreDytc6Mode2">
									<span class="cooling-modes">
										{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".title2" | translate}}:
									</span>
									{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".desc2" | translate}}
								</p>
								<p id="readMoreDytc6Mode3"
									role="heading"
									attr.aria-label="readMoreDytc6Mode3">
									<span class="cooling-modes">
										{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".title3" | translate}}:
									</span>
									{{"device.deviceSettings.power.powerSmartSettings.dytc6." + dytc6Mode + ".desc3" | translate}}
								</p>

							</div>
							<div class="more-info mt-5 row read-more-link dytc6-info-link"
								(click)="showMoreDytc6()"
								(keydown.enter)="showMoreDytc6()"
								[autofocus]="!isCollapsed && showMoreLessDytc6Clicked"
								[attr.aria-expanded]="isCollapsed"
								tabindex="0">
								<div class="row">
									<div class="more-info-button mr-2"
										*ngIf="!isCollapsed"
										aria-hidden="false"
										role="button"
										id="powerSmartSettings-intelligentCooling-more-info"
										attr.aria-label="powerSmartSettings-intelligentCooling-more-info">
										{{'device.deviceSettings.inputAccessories.controlOptions.more' | translate}}
									</div>
									<div class="more-info-button mr-2"
										*ngIf="isCollapsed"
										aria-hidden="false"
										role="button"
										id="powerSmartSettings-intelligentCooling-less-info"
										attr.aria-label="powerSmartSettings-intelligentCooling-less-info">
										{{'device.deviceSettings.inputAccessories.controlOptions.less' | translate}}
									</div>
									<fa-icon *ngIf="!isCollapsed"
										[icon]="['fal', 'chevron-down']"></fa-icon>
									<fa-icon *ngIf="isCollapsed"
										[icon]="['fal', 'chevron-up']"></fa-icon>
								</div>
							</div>
						</div>
					</div>
				</vtr-container-collapsible>
			</div>
		</div>
	</div>
	<div *ngIf="showIC===61">
		<div class="row pt-5 smart-settings-card"
			id="smartSettings">
			<div class="col mx-auto ">
				<vtr-container-collapsible
					[cardTitle]="'device.deviceSettings.power.powerSmartSettings.title' | translate"
					[isCollapsed]="false"
					[collapseLinkId]="'device-settings-powerSmartSettings'"
					[theme]="'white'">
					<div class="row">
						<div class="col-auto left-icon">
							<span [ngClass]="'icomoon icomoon-ic'"
								role="img"
								attr.aria-label="{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.title' | translate}}"></span>
						</div>
						<div class="col text-wrap subtitle">
							<h3 id="powersmartsettings-intelligentCooling-title"
								attr.aria-label="powersmartsettings-intelligentCooling-title">
								<!-- Intelligent Cooling  -->
								{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.title' | translate}}
							</h3>
							<p id="powersmartsettings-dytc6-dec1"
								role="heading"
								attr.aria-label="powersmartsettings-dytc6-dec1">
								{{'device.deviceSettings.power.powerSmartSettings.dytc6.desc1' | translate}}
							</p>
							<p id="powersmartsettings-dytc6-dec2"
								role="heading"
								attr.aria-label="powersmartsettings-dytc6-dec2">
								{{'device.deviceSettings.power.powerSmartSettings.dytc6.desc2' | translate}}
							</p>
							<div class="row mb-4">
								<div>
									<img role="img"
										attr.aria-label="powersmartsettings-dytc6-toolbar"
										alt="powersmartsettings-dytc6-toolbar"
										class="img-fluid mx-auto d-block"
										src="assets/images/dytc6_toolbar.png">
								</div>
							</div>
							<div *ngIf="isCollapsed"
								id="readMoreDytc6"
								style="outline:none;"
								role="text"
								[autofocus]="isCollapsed">
								<p id="readMoreDytc6Mode1"
									role="heading"
									attr.aria-label="readMoreDytc6Mode1">
									<span class="cooling-modes">
										{{"device.deviceSettings.power.powerSmartSettings.dytc61.title1" | translate}}:
									</span>
									{{"device.deviceSettings.power.powerSmartSettings.dytc61.desc1" | translate}}
								</p>
								<p id="readMoreDytc6Mode2"
									role="heading"
									attr.aria-label="readMoreDytc6Mode2">
									<span class="cooling-modes">
										{{"device.deviceSettings.power.powerSmartSettings.dytc61.title2" | translate}}:
									</span>
									{{"device.deviceSettings.power.powerSmartSettings.dytc61.desc2" | translate}}
								</p>
								<p id="readMoreDytc6Mode3"
									role="heading"
									attr.aria-label="readMoreDytc6Mode3">
									<span class="cooling-modes">
										{{"device.deviceSettings.power.powerSmartSettings.dytc61.title3" | translate}}:
									</span>
									{{"device.deviceSettings.power.powerSmartSettings.dytc61.desc3" | translate}}
								</p>
								<p id="readMoreDytc6Mode3"
									role="heading"
									attr.aria-label="readMoreDytc6Mode4">
									<span class="cooling-modes">
										{{"device.deviceSettings.power.powerSmartSettings.dytc61.title4" | translate}}:
									</span>
									{{"device.deviceSettings.power.powerSmartSettings.dytc61.desc4" | translate}}
								</p>

							</div>
							<div class="more-info mt-5 row read-more-link dytc6-info-link"
								(click)="showMoreDytc6()"
								(keydown.enter)="showMoreDytc6()"
								[autofocus]="!isCollapsed && showMoreLessDytc6Clicked"
								[attr.aria-expanded]="isCollapsed"
								tabindex="0"
								role="button">
								<div class="row">
									<div class="more-info-button mr-2"
										*ngIf="!isCollapsed"
										role="link"
										id="powerSmartSettings-intelligentCooling-more-info"
										attr.aria-label="powerSmartSettings-intelligentCooling-more-info">
										{{'device.deviceSettings.inputAccessories.controlOptions.more' | translate}}
									</div>
									<div class="more-info-button mr-2"
										*ngIf="isCollapsed"
										role="link"
										id="powerSmartSettings-intelligentCooling-less-info"
										attr.aria-label="powerSmartSettings-intelligentCooling-less-info">
										{{'device.deviceSettings.inputAccessories.controlOptions.less' | translate}}
									</div>
									<fa-icon *ngIf="!isCollapsed"
										[icon]="['fal', 'chevron-down']"></fa-icon>
									<fa-icon *ngIf="isCollapsed"
										[icon]="['fal', 'chevron-up']"></fa-icon>
								</div>
							</div>
						</div>
					</div>
				</vtr-container-collapsible>
			</div>
		</div>
	</div>
</div>
