@import "../../../app.theme";

.smart-settings-card {
	.left-icon {
		margin-top: 1.25rem;
		color: $menu_hover;
		padding-right: 1rem;
	}
	.subtitle {
		width: 100%;

		h3 {
			margin-top: 1.5rem;
			text-transform: capitalize;
			font-size: $section_header;
			font-weight: $weight_light;
			letter-spacing: 0.05rem;
			text-transform: none;
		}
		p {
			//opacity: 0.8;
			color: $grey_dark;
			font-size: $body;
			font-weight: $weight_light;
			a {
				list-style: none;
				text-decoration: underline;
				color: $grey_dark;

				&:hover {
					list-style: none;
					color: $grey_dark;
					text-decoration: underline;
				}
			}
		}
		// li vtr-ui-row-switch div {
		//     margin-left: -10px;
		// }
		::ng-deep .vtr-ui-rounded-rectangle-radio {
			&.border-grey {
				border: none;
			}
			@media #{$mediaquery_X25} {
				width: 25rem;
			}
		}

		@media #{$mediaquery_X25} {
			width: 25rem;
		}
	}

	.well {
		padding: 15px;
		background: #f5f7f8;
		border-radius: 10px;
		opacity: 1;
		font-size: $fontsize_xs;
		color: #34495e;
		margin-top: 3rem;
		margin-right:0rem;
		max-width: 100%;
		min-height: 2.8rem;
	}

	.alignment {
		margin-top: 1rem;
		margin-left: -5px !important;
		margin-bottom: 12px;
	}
	.list-group.list-group-flush {
		list-style-type: none;
	}

	.cooling-modes {
		font-weight: $weight_bold;
	}

	.more-info {
		cursor: pointer;
		.more-info-button {
			background: none;
			border: none;
			list-style: none;
			color: $menu_hover;
			text-decoration: underline;
			cursor: pointer;
			font-size: $body;
			font-weight: $weight_bold;
			@media #{$black-on-white} {
				color: $high-contrast-blue;
			}
			@media #{$white-on-black} {
				color: $yellow;
			}
			&:hover {
				list-style: none;
				color: $menu_hover;
				text-decoration: underline;
			}
			&:focus {
				@include outline-white;
			}
		}
		fa-icon {
			font-size: 1.5rem;
			color: $menu_hover;
			vertical-align: middle;
		}
	}
	.read-more-link {
		color: $grey_dark;
		text-decoration: underline;
		cursor: pointer;
		@media #{$black-on-white} {
			color: $high-contrast-blue;
		}
		@media #{$white-on-black} {
			color: $yellow;
		}
		&:focus {
			@include outline-white;
		}
	}
	.optimize {
		font-size: $fontsize_xs;
		font-weight: 700;
		margin-bottom: 10px;
		margin-top: 2rem;
		margin-left: 0.5rem;
	}
	.cooling-mode-list-block {
		&:focus {
			@include outline-white;
		}
	}
	.transition {
		::ng-deep .auto-set-checkbox {
			label {
				color: #34495e;
				background: #f5f7f8;
				opacity: 1;
				font-size: $fontsize_xs;
				
				margin-right:0rem;
				max-width: 100%;
				min-height: 2.5rem;
				font-weight:400;
				margin-bottom: 0.5rem;
				line-height:1.4;
				top: 0rem !important;
				padding-top: 0rem;
			}
			input {
				top: 0rem !important;

			}
		}
	}
	.transitionMoreInfo {
				color: #34495e;
				background: #f5f7f8;
				opacity: 0.8;
				font-size: $fontsize_xs;
				margin-right:0rem;
				max-width: 100%;
				min-height: 2.5rem;
				font-weight:400;
				margin-bottom: 0rem !important;
				
	}
	.transitionReadMore {
		cursor: pointer;
		.read-more-button {
			background: none;
			border: none;
			list-style: none;
			color: #4a81fd;
			text-decoration: underline;
			cursor: pointer;
			font-size: $body;
			font-weight: $weight_bold;
			@media #{$black-on-white} {
				color: $high-contrast-blue;
			}
			@media #{$white-on-black} {
				color: $yellow;
			}
			&:hover {
				list-style: none;
				color: #4a81fd;
				text-decoration: underline;
			}
		}
		fa-icon {
			font-size: 1.5rem;
			color: #4a81fd;
			vertical-align: middle;
		}
	}
	.selectModeDesc {
		opacity: 0.8;
		font-size: $fontsize_xs;
		color: #34495e;
		margin-right:0rem;
		max-width: 100%;
		min-height: 2.8rem;
	}
}
