<div class="vtr-widget-device-recover-bad-sectors">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="title">{{title}}</div>
					<div class="title-question-mark">
						<a class="refresh-button"
							href="javascript:void();"
							aria-label="recover-question-mark"
							tabindex="0"
							triggers="click:blur"
							[ngbTooltip]="tooltipRef"
							tooltipClass="vtr-tooltip"
							[ngClass]="'recover-question-icon'">
							<fa-icon
								placement="auto"
								[icon]="['fal', 'question-circle']"
								container="vtr-root">
							</fa-icon>
						</a>
					</div>
				</div>
				<div class="description">{{'hardwareScan.recoverBadSectors.waitAvailability' | translate}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="button-row">
					<vtr-ui-button
						metricsEvent="FeatureClick"
						metricsParent="HardwareScan"
						metricsItem="HardwareScan.RecoverBadSectors"
						[isFullWidth]="true"
						[label]="textButton"
						[isDisabled]="disable"
						[routerPath] = "recoverPath"
						[active]="'true'"
						[tooltipText]="tooltipText">
					</vtr-ui-button>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #tooltipRef>
	<div>{{description}}</div>
</ng-template>
