<div class="vtr-ui-button">
	<div class="button-box"
		*ngIf="label">
		<button *ngIf="alreadyJoinGroup !== 'joined'"
			title="{{tooltip?label:''}}"
			[disabled]="isDisabled"
			type="button"
			class="btn button {{getButtonColor(buttonColor)}}"
			vtrMetrics
			[routerLink]="routerPath"
			routerLinkActive="active"
			[href]="href"
			[id]="linkId"
			[attr.aria-label]="label"
			[tabindex]="tabIndex"
			[metricsItem]="metricsItem"
			[metricsEvent]="metricsEvent"
			[metricsParam]="metricsParam"
			[metricsValue]="metricsValue"
			[metricsItemPosition]="metricsItemPosition"
			[metricsPageNumber]="metricsPageNumber"
			[metricsItemID]="metricsItemID"
			[metricsItemCategory]="metricsItemCategory"
			[metricsParent]="metricsParent"
			[ngClass]="{'fullWidth': isFullWidth === true,
						'halfWidth': isHalfWidth,
						'text-upper-case': upperCaseLabel === true,
						'text-capitalize': capitalizeLabel === true,
						'regular-width': isRegular,
						'btn-size-small': btnHeight,
						'btn-gradient': isGradient,
						'btn-in-red-bg': inRedBackground,
						'disable': isDisabled}"
			(click)="onClickButton($event)">
			<span class="text" [innerHTML]="label"></span>
		</button>
		<button *ngIf="alreadyJoinGroup === 'joined'"
			title="{{tooltip?label:''}}"
			type="button"
			class="button disable"
			[disabled]="false"
			[id]="linkId"
			[attr.aria-label]="label"
			[tabindex]="tabIndex"
			vtrMetrics
			[routerLink]="routerPath"
			routerLinkActive="active"
			[metricsItem]="metricsItem"
			[metricsEvent]="metricsEvent"
			[metricsParam]="metricsParam"
			[metricsValue]="metricsValue"
			[metricsItemPosition]="metricsItemPosition"
			[metricsPageNumber]="metricsPageNumber"
			[metricsItemID]="metricsItemID"
			[metricsItemCategory]="metricsItemCategory"
			[metricsParent]="metricsParent"
			[ngClass]="{'fullWidth': isFullWidth === true ,'text-upper-case': upperCaseLabel}"
			(click)="onClickButton($event)">{{label}} </button>
	</div>
</div>
