@import "../../../app.theme";

.vtr-ui-button {
	display: block;

	.button-box {
		padding: 0.5rem;
		position: relative;

		.button {
			padding: 0 2.5rem;
			position: relative;
			min-height: 5.2rem;
			border-radius: 3rem;
			min-width: 12rem;
			background: transparent $gradient_blue 0% 0% no-repeat padding-box;
			border: none;
			color: $light;
			font-size: $fontsize_xs;
			font-weight: $weight_bold;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			max-width: 100%;

			&:hover {
				background: $blue_gradient;
				@media #{$black-on-white} {
					background: $light;
					color: $high-contrast-white-textselected;
					border: 0.1rem solid $high-contrast-white-textselected;
				}

				@media #{$white-on-black} {
					background: $dark;
					color: $high-contrast-black-textselected;
					border: 0.1rem solid $high-contrast-black-textselected;
				}
			}

			&:focus {
				outline: none !important;
				box-shadow: none;
				&::after {
					@include button-outline-blue;
				}

				@media #{$black-on-white} {
					&::after {
						@include button-outline-blue($dark);
					}
				}

				@media #{$white-on-black} {
					&::after {
						@include button-outline-blue($light);
					}
				}
			}

			.text {
				display: block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				//font-size: $fontsize_sm !important;
				letter-spacing: 0;
				cursor: pointer;
			}
			@include ui-button-high-contrast-white;
			@include ui-button-high-contrast-black;
			@media #{$mediaquery_X4} {
				min-width: 10rem;
			}
		}

		.text-upper-case {
			text-transform: uppercase;
		}

		.text-capitalize {
			text-transform: capitalize;
		}

		.disable {
			background: $grey_light !important;
			opacity: 1;
			color: $shade_blue !important;
			border: none !important;
			cursor: default;
			&:hover {
				background: $grey_light !important;
				@media #{$black-on-white} {
					border: 0.1rem solid $high-contrast-white-disabled !important;
					background: $light !important;
					color: $high-contrast-white-disabled !important;
				}
				@media #{$white-on-black} {
					border: 0.1rem solid $high-contrast-black-disabled !important;
					background: $dark !important;
					color: $high-contrast-black-disabled !important;
				}
			}
			.text {
				cursor: default;
				opacity: 0.5;
			}
			@include ui-button-high-contrast-white-disabled;
			@include ui-button-high-contrast-black-disabled;
		}

		.loading {
			opacity: 0.6;
			&:hover {
				background: $gradient_main;
			}
		}

		.fullWidth {
			width: 100%; // change back by Bob, this is a global button.
		}

		.halfWidth {
			width: 50%;
		}

		.regular-width {
			width: 25rem;
		}

		.btn-size-small {
			min-height: 3.6rem;
			font-size: 1.4rem;
		}

		.btn-gradient {
			background-color: $button_gradient_start;
			background-image: linear-gradient(to right, $button_gradient_start, $button_gradient_end);
			@include high-contrast-background-image;
		}

		.btn-red {
			background: $gradient_red;
			color: $light;
			@media #{$black-on-white} {
				background: $high-contrast-white-textselected;
				color: $light;
			}
			@media #{$white-on-black} {
				background: $high-contrast-black-textselected;
				color: $dark;
			}
			&:hover {
				background: linear-gradient(90deg, $button_red_start 0%, $button_red_start 100%);
				@media #{$black-on-white} {
					background: $light;
					color: $high-contrast-white-textselected;
					border: 0.1rem solid $high-contrast-white-textselected;
				}

				@media #{$white-on-black} {
					background: $dark;
					color: $high-contrast-black-textselected;
					border: 0.1rem solid $high-contrast-black-textselected;
				}
			}
		}

		.btn-gray {
			background: $gradient_gray;
			color: $shade_blue;
			box-shadow: 0 0 0 0.1rem $grey_dark;
			&:hover {
				background: linear-gradient(90deg, $grey_lighter 0%, $grey_lighter 100%);
			}
			@include ui-button-high-contrast-white;
			@include ui-button-high-contrast-black;
		}
		.btn-in-red-bg {
			color: $stop_dark;
			box-shadow: 0 0 0 0.1rem $alt;
			@media #{$black-on-white} {
				background: $high-contrast-white-textselected;
				color: $light;
			}
			@media #{$white-on-black} {
				background: $high-contrast-black-textselected;
				color: $dark;
			}
			&:focus::after {
				border: thin solid $orange;
				@media #{$black-on-white} {
					&::after {
						@include button-outline-blue($dark);
					}
				}

				@media #{$white-on-black} {
					&::after {
						@include button-outline-blue($light);
					}
				}
			}
		}
	}
}

::ng-deep {
	.is-gaming {
		.button-box {
			.btn, .button {
				height: 4rem !important;
				min-height: 4rem !important;
				padding: 0 2rem !important;
				background: none !important;
				background-image: none !important;
				background-color: $blueFill !important;
				line-height: 4rem !important;
				border-radius: 2rem !important;
				-webkit-transition: 0.2s ease !important;
				transition: 0.2s ease !important;
				display: inline-block !important;
				cursor: pointer !important;
				-webkit-user-select: none !important;
				-moz-user-select: none !important;
				-ms-user-select: none !important;
				user-select: none !important;
				letter-spacing: 0.1rem !important;
				font-weight: bold !important;
				min-width: 4rem !important;

				&.smallBtn {
					height: 3rem !important;
					line-height: 3rem !important;
					border-radius: 1.5rem !important;
				}

				&.greyBtn {
					background-color: $white20 !important;
				}

				&:hover {
					background-color: $blueHover !important;
				}

				&:active {
					transform: scale(0.96);
				}

				.text {
					letter-spacing: inherit !important;
				}
			}

			.underlineBtn {
				font-size: 1.4rem !important;
				color: $blueFill !important;
				font-weight: bold !important;
				height: 2rem !important;
				line-height: 2rem !important;
				border-bottom: 0.2rem solid $blueFill !important;
				display: inline-block !important;
				cursor: pointer !important;
				-webkit-user-select: none !important;
				-moz-user-select: none !important;
				-ms-user-select: none !important;
				user-select: none !important;
				-webkit-transition: 0.2s ease !important;
				transition: 0.2s ease !important;
				&:hover {
					color: $blueHover !important;
				}
			}
		}
	}
}
