<div class='title'>{{'faq.question4.title' | translate}}</div>
<hr/>
<h3 class='heading2'>{{'faq.question4.heading1' | translate}}</h3>
<p [innerHTML]="'faq.question4.para1' | translate"></p>
<h3 class='heading2'>{{'faq.question4.heading2' | translate}}</h3>
<ul>
    <li>{{'faq.question4.para2' | translate}}</li>
</ul>
<h3 class='heading2'>{{'faq.question4.heading3' | translate}}</h3>
<ul>
    <li>{{'faq.question4.para3' | translate}}</li>
</ul>
<h3 class='heading2'>{{'faq.question4.heading4' | translate}}</h3>
<ul>
    <li>{{'faq.question4.para4' | translate}}</li>
</ul>
<h3 class='heading2'>{{'faq.question4.heading5' | translate}}</h3>
<p [innerHTML]="'faq.question4.para5' | translate"></p>
<br/>
<h3 class='heading2'>{{'faq.question4.heading6' | translate}}</h3>
<p [innerHTML]="'faq.question4.para6' | translate"></p>
<p [innerHTML]="'faq.question4.para7' | translate"></p>
<img [src]="'assets/images/qa/' + langCode + '4.1.jpg'" />
<p></p>
<p [innerHTML]="'faq.question4.para8' | translate"></p>
<h3 class='heading2'>{{'faq.question4.heading7' | translate}}</h3>
<p>{{'faq.question4.para9' | translate}}</p>
<p [innerHTML]="'faq.question4.para10' | translate"></p>
<p [innerHTML]="'faq.question4.para11' | translate"></p>
<p [innerHTML]="'faq.question4.para12' | translate"></p>
<p>{{'faq.question4.para13' | translate}}</p>
<img [src]="'assets/images/qa/' + langCode + '4.2.jpg'" />
<p></p>
