@import "../../../app.theme.scss";
.lighting-single-color {
	::ng-deep {
		.content-title {
			color: $gaming_lightest;
			font-weight: $weight_medium;
			font-size: 2.4rem;
			letter-spacing: -0.02rem;
			line-height: 3rem;
			margin-bottom: 2rem;
			margin-top: 9rem;
		}
	}
	.lighting-list-option {
		padding-left: 0;
		list-style: none;
		li {
			margin-bottom: 0;
		}
		.gaming-radio {
			display: inline-block;
			position: relative;
			padding-left: 3.5rem;
			margin-bottom: 1rem;
			cursor: pointer;
			font-size: 1.4rem;
			color: $gaming_lightest;
			line-height: 2.4rem;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			@media #{$high-contrast} {
				color: buttonText;
			}
			@media #{$small-screen} {
				line-height: 3.5rem;
				margin-bottom: 0.8rem;
			}
			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				&:checked {
					& ~ .checkmark {
						&:hover {
							background-color: $white10;
						}
						&:after {
							display: block;
						}
					}
				}
			}
			.checkmark {
				@media #{$high-contrast} {
					color: windowText;
				}
				&:after {
					top: 50%;
					left: 50%;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: $blueFill;
					transform: translateX(-50%) translateY(-50%);
					@media #{$high-contrast} {
						border-color: windowText;
						background: buttonText;
					}
				}
			}
		}
		.checkmark {
			position: absolute;
			top: 0.4rem;
			left: 0;
			height: 2rem;
			width: 2rem;
			background-color: $white5;
			border: 0.1rem solid $white20;
			border-radius: 50%;
			&:hover {
				background-color: $white10;
			}
			&:after {
				content: "";
				position: absolute;
				display: none;
			}
			@media #{$high-contrast} {
				background-color: window;
			}
		}
	}
}
::ng-deep {
	body.focus-enable {
		.is-gaming {
			.lighting-single-color {
				.lighting-list-option li {
					&:focus {
						label {
							@include outline-blue-gaming;
						}
					}
				}
			}
		}
	}
}
