<div class="lighting-single-color">
	<h3 class="content-title">{{'gaming.lightingProfile.lightingSingleLightingOption.option5.title' | translate}}</h3>
	<ul class="lighting-list-option">
		<li *ngFor="let option of options">
			<label class="gaming-radio">{{option.name | translate}}
				<input type="radio" name="price" id="gaming_lighting_singlecolor_blink"
					attr.aria-label="gaming_lighting_singlecolor_blink" vtrMetrics
					[metricsItem]="'singlecolor_blink_option'+option.id" metricsEvent="featureClick" (click)="getValue(option.id)"
					[checked]="isChecked(option.id)" [value]=option.id>
				<span class="checkmark"></span>
			</label>
		</li>
	</ul>
</div>
