<div class="lighting-single-color">
	<ul class="lighting-list-option" role="radiogroup" aria-labelledby="radiogroup">
		<li *ngFor="let option of options" tabindex="0" (keyup.enter)="getValue(option.id)" role="radio"
			attr.aria-label ="option.option| translate" [attr.aria-checked]="selectedOptionId === option.id ? 'true':'false'">
			<label class="gaming-radio" *ngIf="option.name !== 'undefined'">{{option.name | translate}}
				<input type="radio" name="price" id="gaming_lighting_singlecolor_blink{{option.id}}"
					attr.aria-label="gaming_lighting_singlecolor_blink{{option.id | translate}}" vtrMetrics
					[metricsItem]="'singlecolor_blink_option'+option.id" metricsEvent="featureClick"
					[metricsParam]="'singlecolor_blink_option'+option.id" metricsValue="{{option.id}}"
					(click)="getValue(option.id)" [checked]="isChecked(option.id)" [value]="option.id" tabindex="-1">
				<span class="checkmark"></span>
			</label>
		</li>
	</ul>
</div>