<div class="vtr-widget-home-security-my-device container-fluid">
	<div class="icon-container">
		<div class="icon">
			<img class="img-fluid" src="assets/images/device.png" />
		</div>
		<div class="sub-text">
			<span title="{{myDevice.family}}" *ngIf="deviceName"> {{deviceName}} </span>
			<div class="loading" *ngIf="!deviceName">
				<div class="spinner-border text-primary progress-spinner" role="status">
				</div>
			</div>
		</div>
		<div class="device-status">
			<h3>
				<span class="badge badge-pill badge-success" *ngIf="deviceStatus==='secure'">
					{{'homeSecurity.secure' | translate}}
				</span>
				<span class="badge badge-pill badge-danger" *ngIf="deviceStatus==='needs attention'">
					{{'homeSecurity.needAttention' | translate}}
				</span>
			</h3>
		</div>
	</div>
	<div class="device-status-container">
		<div class="loading" *ngIf="!devicePosture || devicePosture.length === 0">
			<div class="spinner-border text-primary progress-spinner" role="status">
			</div>
		</div>
		<div class="row" *ngIf="devicePosture.length !== 0">
			<div class="col-6 device-info" *ngFor="let device of devicePosture">
				<div class="row">
					<div class="col-7 title" title="{{device.title}}">{{ device.title }}</div>
					<div class="col-3 detail bad" *ngIf="device.status === 2">
						{{ 'security.homeprotection.securityhealth.fail' | translate}}</div>
					<div class="col-3 detail good" *ngIf="device.status === 1">
						{{ 'security.homeprotection.securityhealth.pass' | translate}}</div>
					<div class="col-2 status-badge">
						<div class="bad item-icon status" *ngIf="device.status === 2">
							<div class="icon-bkg">
								<fa-icon [icon]="['fas', 'times']"></fa-icon>
							</div>
						</div>
						<div class="good item-icon status" *ngIf="device.status === 1">
							<div class="icon-bkg">
								<fa-icon [icon]="['fas', 'circle']"></fa-icon>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
