<div class="vtr-widget-home-security-my-device container-fluid">
	<div class="icon-container">
		<div class="icon">
			<img class="img-fluid" src="assets/images/device.png" />
		</div>
		<div class="sub-text">
			<span title="{{homeSecurityOverviewMyDevice.deviceName}}" *ngIf="homeSecurityOverviewMyDevice && homeSecurityOverviewMyDevice.deviceName"> {{homeSecurityOverviewMyDevice.deviceName | characterLimit:20}} </span>
			<div class="loading" *ngIf="!homeSecurityOverviewMyDevice || !homeSecurityOverviewMyDevice.deviceName">
				<div class="spinner-border text-primary progress-spinner" role="status">
				</div>
			</div>
		</div>
		<div class="device-status">
			<h3>
				<span class="badge badge-pill badge-success" *ngIf="homeSecurityOverviewMyDevice && homeSecurityOverviewMyDevice.deviceStatus==='secure'">
					{{'homeSecurity.secure' | translate}}
				</span>
				<span class="badge badge-pill badge-danger" *ngIf="homeSecurityOverviewMyDevice && homeSecurityOverviewMyDevice.deviceStatus==='needs attention'">
					{{'homeSecurity.needAttention' | translate}}
				</span>
			</h3>
		</div>
	</div>
	<div class="device-status-container">
		<div class="loading" *ngIf="!homeSecurityOverviewMyDevice || !homeSecurityOverviewMyDevice.devicePostures">
			<div class="spinner-border text-primary progress-spinner" role="status">
			</div>
		</div>
		<div class="row" *ngIf="homeSecurityOverviewMyDevice && homeSecurityOverviewMyDevice.devicePostures">
			<div class="col-6 device-info" *ngFor="let device of homeSecurityOverviewMyDevice.devicePostures">
				<div class="row">
					<div class="col-7 title" title="{{device.name}}">{{ device.name }}</div>
					<div class="col-3 detail bad" *ngIf="device.vulnerable === true">
						{{ 'security.homeprotection.securityhealth.fail' | translate}}</div>
					<div class="col-3 detail good" *ngIf="device.vulnerable === false">
						{{ 'security.homeprotection.securityhealth.pass' | translate}}</div>
					<div class="col-2 status-badge">
						<div class="bad item-icon status" *ngIf="device.vulnerable === true">
							<div class="icon-bkg">
								<fa-icon [icon]="['fas', 'times']"></fa-icon>
							</div>
						</div>
						<div class="good item-icon status" *ngIf="device.vulnerable === false">
							<div class="icon-bkg">
								<fa-icon [icon]="['fas', 'circle']"></fa-icon>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
