<div class="home-protection-location-modal">
	<h1>{{ header | translate }} </h1>
	<button
		mat-dialog-close
		class="position-relative float-right closeButton"
		id="btn-home-protection-location-close"
		aria-label="{{'common.ui.close' | translate}}"
		vtrMetrics
		metricsItem="closeHomeProtectionLocationModal"
		metricsEvent="FeatureClick"
	>
		<fa-icon [icon]="['fal', 'times']"></fa-icon>
	</button>
	<p class="description">
		{{ description | translate }}
	</p>
	<ul>
		<li *ngFor="let package of packages">{{ package }}</li>
	</ul>
	<div class="d-flex">
		<div class="ml-0 mr-4 pl-0">
			<button type="button"
				class="btn btn-default modal-button"
				(click)="onOkClick($event)"
				mat-dialog-close>
				{{OkText | translate}}
			</button>
		</div>
		<div class="ml-0 mr-4 pl-0">
			<div role="button"
				class="btn btn-default modal-button-cancel"
				mat-dialog-close>
				{{CancelText | translate}}
			</div>
		</div>
	</div>
</div>
