<div class="vtr-widget-device-update">
	<div class="container-fluid">
		<div class="row">
			<div class="col col-12 systemupdate-background">
				<div class="row" *ngIf="!isUpdateDownloading">
					<div class="col title"
						id="system-update-title"
						attr.aria-label="system-update-title">{{title}}</div>
				</div>
				<div class="row" *ngIf="isUpdateDownloading">
					<div class="col title"
						id="system-update-installing-title"
						attr.aria-label="system-update-installing-title">{{installingTitleText}}</div>
				</div>
				<div class="row">
					<div class="col row1"
						id="system-update-sub-title1"
						role="heading" aria-level="positive">{{subTitle1}}</div>
				</div>
				<div class="row">
					<div class="col row1"
						id="system-update-sub-title2"
						role="heading" aria-level="positive">{{subTitle2}}</div>
				</div>
				<div *ngIf="!showProgress && !isUpdateDownloading"
					class="row">
					<div class="button-row">
						<vtr-ui-button linkId="su_check_updates"
							metricsEvent="FeatureClick"
							metricsItem="btn.Check For Updates"
							metricsParent="Pages.SystemUpdate"
							[isFullWidth]="true"
							[isDisabled]="isCheckingPluginStatus"
							[label]="buttonText"
							(onClick)="onCheckForUpdates()"></vtr-ui-button>
					</div>
				</div>
				<div *ngIf="showProgress"
					class="col row">
					<div class="col col-12 row progress-div">
						<div class="col col-9 progress-title"
							id="su-cheking-updates-title"
							aria-label="su-cheking-updates-title">{{'systemUpdates.banner.checking' | translate}}</div>
						<div class="col col-3 progress-percent-text">
							<div class="row progress-right">
								<span class="progress-value-text">{{percent}}</span>
								<span class="progress-complete-text"
									id="su-progress-complete-text"
									aria-label="su-progress-complete-text">{{'systemUpdates.banner.percent' | translate}}</span>
							</div>
						</div>
					</div>
					<div class="col col-12 row progress-bar-div-container">
						<div class="col col-12 progress-bar-div"
							id="su_check_progress"
							aria-label="su_check_progress">
							<ngb-progressbar type="success"
								[value]="percent"
								[height]="'0.6rem'"></ngb-progressbar>
						</div>
					</div>
					<div class="col col-12 row">
						<div class="col col-12 cancel-check p-5">
							<button type="button"
								id="su_cancel_updates"
								attr.aria-label="su_cancel_updates"
								vtrMetrics
								metricsEvent="ItemClick"
								metricsParent="Pages.SystemUpdate"
								metricsItem="'btn.cancel'"
								class="btn btn-link cancel-check"
								[disabled]="percent === 0 || isCheckingStatus"
								(click)="cancelUpdates()">{{'systemUpdates.banner.cancelCheck' | translate}}</button>
						</div>
					</div>
				</div>

				<div class="col row"
					*ngIf="isUpdateDownloading">
					<div class="col col-12 row progress-div">
						<div class="col col-9 progress-title">
							<fa-icon [icon]="['fas', 'spinner']"
								[spin]="true"
								*ngIf="downloadingPercent < 100">
							</fa-icon>
							<fa-icon [icon]="['fas', 'check-circle']"
								class="success"
								*ngIf="downloadingPercent === 100">
							</fa-icon>
							{{downloadingUpdateText}}
						</div>
						<div class="col col-3 progress-percent-text">
							<div class="row progress-right">
								<span class="progress-value-text">{{downloadingPercent}}</span>
								<span class="progress-complete-text"
									id="su-progress-complete-text"
									aria-label="su-progress-complete-text">{{'systemUpdates.banner.percent' | translate}}</span>
							</div>
						</div>
					</div>
					<div class="col col-12 row progress-bar-div-container">
						<div class="col col-12 progress-bar-div"
							id="su_download_progress"
							aria-label="su_download_progress">
							<ngb-progressbar type="success"
								[value]="downloadingPercent"
								[height]="'0.6rem'"></ngb-progressbar>
						</div>
					</div>

					<div class="col col-12 row progress-div install-progress">
						<div class="col col-9 progress-title">
							<fa-icon [icon]="['fas', 'spinner']"
								[ngClass]="{downloading: installingPercent === 0, installing: installingPercent>0}"
								[spin]="true">
							</fa-icon>
							{{'systemUpdates.banner.installing' | translate}}
						</div>
						<div class="col col-3 progress-percent-text">
							<div class="row progress-right">
								<span class="progress-value-text">{{installingPercent}}</span>
								<span class="progress-complete-text"
									id="su-progress-complete-text"
									aria-label="su-progress-complete-text">{{'systemUpdates.banner.percent' | translate}}</span>
							</div>
						</div>
					</div>
					<div class="col col-12 row progress-bar-div-container">
						<div class="col col-12 progress-bar-div"
							id="su_install_progress"
							aria-label="su_install_progress">
							<ngb-progressbar type="success"
								[value]="installingPercent"
								[height]="'0.6rem'"></ngb-progressbar>
						</div>
					</div>
					<div class="col col-12 row">
						<div class="col col-12 cancel-check p-5">
							<button type="button"
								id="su_cancel_update_download"
								attr.aria-label="su_cancel_update_download"
								[title]="'systemUpdates.banner.cancelUpdates' | translate"
								vtrMetrics
								metricsEvent="ItemClick"
								metricsParent="Pages.SystemUpdate"
								metricsItem="btn.cancel downloading"
								class="btn btn-link cancel-check"
								[disabled]="downloadingPercent === 100 || downloadingPercent === 0"
								(click)="onCancelUpdateDownload()">{{'systemUpdates.banner.cancelUpdates' | translate}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
