<div class="vtr-widget-device-update">
	<div class="container-fluid">
		<div class="row">
			<div class="col col-12 systemupdate-background">
				<div class="row">
					<div class="col title">{{title}}</div>
				</div>
				<div class="row">
					<div class="col row1">{{subTitle1}}</div>
				</div>
				<div class="row">
					<div class="col row1">{{subTitle2}}</div>
				</div>
				<div *ngIf="!showProgress"
					class="row">
					<div class="col button-row">
						<button class="action-button"
							(click)="showUpdates()">{{checkForUpdates}}</button>
					</div>
				</div>
				<div *ngIf="showProgress"
					class="col row">
					<div class="col col-12 row progress-div">
						<div class="col col-10 progress-title">{{checkingForUpdates}}</div>
						<div class="col col-2 progress-percent-text">
							<div class="row progress-right">
								<span class="col-4 progress-value-text">{{progressValue}}</span>
								<span class="col-8 progress-complete-text">{{complete}}</span>
							</div>
						</div>
					</div>
					<div class="col col-12 row progress-bar-div-container">
						<div class="col col-12 progress-bar-div">
							<!-- <mat-progress-bar mode="determinate"
								value="40"></mat-progress-bar> -->
							<ngb-progressbar type="info"
								[value]="80"
								height="5px"></ngb-progressbar>
						</div>
					</div>
					<div class="col col-12 row">
						<div class="col col-12 cancel-check">
							<a class="cancel-check-text"
								(click)="cancelUpdates()">{{cancelCheck}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
