@import "../../../app.theme";

.vtr-widget-device-update {
	.systemupdate-background {
		border-radius: 0.7rem;
		border-bottom-left-radius: 0rem;
		border-bottom-right-radius: 0rem;
		height: 100%;
		width: 100%;
		background: linear-gradient($gradient_angle, $main_darkest 0%, $main_darker 100%);
		box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);

		.title {
			color: $light;
			font-size: 3.4rem;
			font-weight: $weight_light;
			line-height: 4.2rem;
			padding-left: 2.5rem;
			padding-top: 2rem;
			padding-bottom: 2rem;
			padding-right: 2.5rem;
			@media #{$breakpoint_xl} {
				font-size: 2rem;
				padding-bottom: 0.8rem;
			}
		}

		.row1 {
			opacity: 0.5;
			color: $light;
			font-size: 1.75rem;
			line-height: 2.1rem;
			padding-left: 2.5rem;
			padding-top: 0rem;
			padding-right: 5rem;
		}

		.button-row {
			padding-left: 2.5rem;
			padding-bottom: 3rem;
			padding-top: 2.5rem;
			padding-right: 2.5rem;
			max-width: 100%;
			&::ng-deep{
				vtr-ui-button {
					.button-box {
						padding: 0;
					}
				}
			}
		}

		.progress-div {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
			margin-top: 3rem;
			border-top: 0.1rem solid;
			border-color: rgba(255, 255, 255, 0.18);

			&.install-progress {
				border-top: 0;
				margin-top: 0;
			}
			.progress-title {
				color: $light;
				font-size: 2.5rem;
				font-weight: $weight_light;
				line-height: 2.9rem;
				padding-top: 5rem;
				padding-bottom: 2rem;
				padding-right: 5rem;

				.installing {
					color: $light;
				}
				.downloading {
					color: transparent;
				}
			}

			.progress-percent-text {
				color: $light;
				font-size: $fontsize_xl;
				font-weight: $weight_light;
				line-height: 2.9rem;
				padding-top: 5rem;
				padding-bottom: 2rem;
				float: right;

				.progress-right {
					float: right;
					display: inline;

					.progress-value-text {
						color: $light;
						font-size: 1.75rem;
						font-weight: $weight_light;
						line-height: 2.9rem;
						padding-right: 0rem;
						padding-left: 0rem;
						text-align: left;
						font-size: 3rem !important;
					}

					.progress-complete-text {
						color: $light;
						font-size: 1.75rem;
						font-weight: $weight_light;
						line-height: 2.9rem;
						padding-right: 0rem;
						padding-left: 0;
						text-align: left;
					}
				}
			}
		}

		.progress-bar-div-container {
			padding-left: 2.5rem;
			padding-right: 2.5rem;

			.progress-bar-div {
				padding: 1rem;
				border-radius: 1.5rem;
				background: linear-gradient($gradient_angle_reverse, $main_darkest 0%, $main_darker 100%);

				::ng-deep .mat-progress-bar-fill::after {
					background: linear-gradient(90deg, $go 0%, $go 100%);
				}

				::ng-deep .mat-progress-bar-buffer {
					background: $light;
				}

				::ng-deep .mat-progress-bar {
					border-radius: 0.4rem;
				}

				.progress {
					height: 0.2rem;

					.progress-bar {
						height: 0.8rem;
						border-radius: 0.8rem;
						margin-top: -0.3rem;

						&.bg-info {
							background: linear-gradient(90deg, $go_light 0%, $go_dark 100%) !important;
						}
					}
				}
			}
		}

		.cancel-check {
			color: $light;
			font-size: 1.3rem;
			font-weight: $weight_medium;
			line-height: 1.5rem;
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
			border-bottom: 0.2rem solid $light;
			padding: 0 0 0.1rem;

			&:hover, &:focus {
				color: $light;
				text-decoration: none;
			}
		}
	}
}
