@import '../../../app.theme';

.vtr-widget-device-update {
	.systemupdate-background {
		border-radius: 1rem;
		height: 100%;
		width: 100%;
		background: $gaming_darkest;
		box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
		@media #{$white-on-black} {
			box-shadow: none;
			@include white-border;
		}
		@media #{$black-on-white} {
			box-shadow: none;
			@include black-border;
		}

		.title {
			color: $light;
			font-family: $font_family_semibold;
			font-size: 2.4rem;
			line-height: 2.8rem;
			padding-left: 2.4rem;
			padding-top: 2.4rem;
			padding-bottom: 0.8rem;
			padding-right: 2.4rem;
			@media #{$breakpoint_xl} {
				font-size: 2rem;
				padding-bottom: 0.8rem;
			}
		}

		.sub-title {
			opacity: 0.75;
			color: $light;
			font-size: 1.4rem;
			font-family: $font_family_semilight;
			line-height: 2.1rem;
			padding-left: 2.4rem;
			padding-top: 0rem;
			padding-right: 2.4rem;
		}

		.button-row {
			padding-left: 2.4rem;
			padding-bottom: 2.4rem;
			padding-top: 4rem;
			padding-right: 2.4rem;
			max-width: 100%;
			&::ng-deep {
				vtr-ui-button {
					.button-box {
						padding: 0;
					}
				}
			}
		}
		.progress-div {
			padding-left: 2.4rem;
			padding-right: 2.4rem;
			margin-top: 2.4rem;

			.progress-title {
				color: $light;
				font-size: 2.4rem;
				font-family: $font_family_semibold;
				line-height: 2.8rem;
				padding-right: 5rem;
			}

			.progress-subtitle {
				color: $light;
				font-size: 1.4rem;
				font-family: $font_family_semilight;
				margin-top: 0.8rem;
				line-height: 1.9rem;
				padding-right: 5rem;
				opacity: 0.75;
				text-align: left;
			}

			.progress-percent-text {
				color: $light;
				padding-top: 2.7rem;
				padding-right: 0.6rem;
				margin-top: 0.8rem;
				float: right;

				.progress-right {
					float: right;
					display: inline;
					text-align: right;

					.progress-value-text {
						font-family: $font_family_semibold;
						line-height: 4rem;
						font-size: 3rem !important;
					}

					.progress-complete-text {
						font-size: 1.4rem;
						font-family: 'Segoe UI';
						line-height: 1.9rem;
					}
				}
			}
		}

		.cancel-check {
			color: $light;
			font-size: 1.4rem;
			font-family: 'Segoe UI Bold', sans-serif;
			line-height: 2rem;
			text-align: center;
			text-transform: uppercase;
			border-bottom: 0.2rem solid $light;
			padding: 0 0 0.2rem;
			letter-spacing: 0.49px;
			margin-top: 1.6rem;

			&:hover,
			&:focus {
				color: $light;
				text-decoration: none;
			}

			&:focus {
				box-shadow: none;
				@include outline-blue;
			}

			cursor: pointer;
		}

		.link-button-container {
			text-align: center;
			margin-bottom: 2.4rem;
		}

		.check-again {
			height: 2.2rem;
			margin-top: 5.3rem;
		}
	}

	.no-bottom-radius {
		border-bottom-left-radius: 0rem;
		border-bottom-right-radius: 0rem;
	}
}
