<div class="scan-settings sidebar-widget">
    <div *ngIf="!isChangeSchedule">
        <div class="title pb-3">{{'smartPerformance.scanSettings.title' |translate }}</div>
        <div class="card-info">
            <p>{{'smartPerformance.scanSettings.description' |translate }}</p>
        </div>
        <ul class="chevron-list">
            <li class="d-flex justify-content-between">
                <div class="item d-flex">
                    <span class="icomoon icomoon-LE-Visible-to-online-trackers2x"></span>
                    <strong>{{'smartPerformance.scanSettings.enableScan' |translate }}</strong>
                </div>
                <div class="status d-flex justify-content-end">
                    <vtr-ui-custom-switch
                        [componentId]="'sp.enableScan'"
                        [switchParam]="'sp.enableScan'"
                        [value]="scanToggleValue"
                        (toggle)="setEnableScanStatus($event)">
                    </vtr-ui-custom-switch>
                    <fa-icon class="question"
                        tabindex="0"
                        triggers="click:blur"
                        placement="auto"
                        id=""
                        attr.aria-label=""
                        role="tooltip"
                        [ngbTooltip]="'smartPerformance.scanSettings.tooltipText' |translate"
                        #tooltip="ngbTooltip"
                        [icon]="['far', 'question-circle']"
                        container="vtr-root"
                        tooltipClass="vtr-tooltip">
                    </fa-icon>
                </div>
            </li>
            <li class="d-flex justify-content-between calendar-list" [ngClass]="{'disable-list':!scanToggleValue}" (click)="changeScanSchedule()">
                <div class="item d-flex">
                    <span class="icomoon icomoon-calendar"></span>
                    <!-- <strong>{{'smartPerformance.scanCompletePage.Onceaweek' |translate }}</strong> -->
                    <strong>{{selectedFrequency | translate}}</strong>
                </div>
                <div class="status d-flex justify-content-end" >
                    <p class="mr-3 text-uppercase" *ngIf="frequencyValue === 0 || frequencyValue === 1"><strong *ngIf="sliceDay">{{selectedDay}}</strong><strong *ngIf="!sliceDay">{{selectedDay | translate}}</strong> | {{scanTime.hour}}:{{scanTime.min}} {{scanTime.amPm}}</p>
                    <p class="mr-3 text-uppercase" *ngIf="frequencyValue === 2"><strong>{{(this.selectedNumber)}}</strong> | {{scanTime.hour}}:{{scanTime.min}} {{scanTime.amPm}}</p>
                    <fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
                </div>
            </li>
        </ul>
        <!-- <a href="#" class="link-text">Manage Subscription</a> -->
    </div>


    <div *ngIf="isChangeSchedule" class="change-scan-schedule">
        <div class="title pb-3">{{'smartPerformance.scanSettings.changeScanTitle' |translate }}</div>
        <div class="card-info">
            <p>{{'smartPerformance.scanSettings.changeScanDescription' |translate }}</p>
        </div>
        <ul class="chevron-list">
            <li class="d-flex justify-content-between">
                <div class="item d-flex">
                    <b>{{'smartPerformance.scanSettings.frequency' |translate }}</b>
                </div>
                <a class="status d-flex justify-content-end" (click)="openScanScheduleDropDown(1)">
                    <!-- <p class="mr-3">{{selectedFrequency}}</p> -->
                    {{selectedFrequency | translate}}
                    <span class="ml-3">
                        <fa-icon  *ngIf="scheduleTab != 1"
                        [icon]="['fas', 'chevron-down']"></fa-icon>
                    <fa-icon *ngIf="scheduleTab === 1"
                        [icon]="['fas', 'chevron-up']"></fa-icon>
                    </span>
                </a>
                <div *ngIf="scheduleTab === 1" class="freq-dropdown">
                    <div *ngFor="let freq of scanFrequency;let ind=index" class="frequency-text"
                        (click)="changeScanFrequency(ind)" [ngClass]="{'selected-frequency':frequencyValue === ind}">{{freq | translate}}</div>
                </div>
            </li>

            <li *ngIf="frequencyValue === 2" class="d-flex justify-content-between">
                    <div class="item d-flex">
                        <b>{{'smartPerformance.scanSettings.txtDate' |translate }}</b>
                    </div>
                    <a class="status d-flex justify-content-end" (click)="openScanScheduleDropDown(3)">
                        <!-- <p class="mr-3">{{selectedNumber}}</p> -->
                        {{selectedNumber}}
                        <span class="ml-3">
                        <fa-icon *ngIf="scheduleTab != 3"
                            [icon]="['fas', 'chevron-down']"></fa-icon>
                        <fa-icon *ngIf="scheduleTab === 3"
                            [icon]="['fas', 'chevron-up']"></fa-icon>
                        </span>
                    </a>
                    <div *ngIf="scheduleTab === 3" class="date-dropdown">
                        <div *ngFor="let date of dates;let ind=index"
                            (click)="changeScanDate(ind)" class="date-text" [ngClass]="{'selected-date':dateValue === ind}">{{date}}</div>
                            <!-- <ngb-datepicker [(ngModel)]="scanScheduleDate" (select)="changeScanScheduleDate()"></ngb-datepicker> -->
                    </div>
                </li>

            <li *ngIf="frequencyValue === 0 || frequencyValue === 1" class="d-flex justify-content-between">
                <div class="item d-flex">
                    <b>{{'smartPerformance.scanSettings.txtDay' |translate }}</b>
                </div>
                <a class="status d-flex justify-content-end" (click)="openScanScheduleDropDown(3)">
                    <!-- <p class="mr-3">{{selectedDay}}</p> -->
                    {{selectedDay| translate}}
                    <span class="ml-3">
                        <fa-icon *ngIf="scheduleTab != 3" [icon]="['fas', 'chevron-down']"
                        ></fa-icon>
                        <fa-icon *ngIf="scheduleTab === 3"
                        [icon]="['fas', 'chevron-up']"></fa-icon>
                    </span>
                </a>
                <div *ngIf="scheduleTab === 3" class="day-dropdown">
                    <div *ngFor="let day of days;let ind=index"
                        (click)="changeScanDay(ind)" class="days-text" [ngClass]="{'selected-day':dayValue === ind}">{{day | translate}}</div>
                </div>
            </li>
            <li class="d-flex justify-content-between">
                <div class="item d-flex">
                    <b>{{'smartPerformance.scanSettings.txtTime' |translate }}</b>
                </div>
                <a class="status d-flex justify-content-end" (click)="openScanScheduleDropDown(2)">
                    <!-- <p class="mr-3">12:00AM</p> -->
                    <!-- <p class="mr-3">{{scanTime.hour}}:{{scanTime.min}} {{scanTime.amPm}}</p> -->
                    {{scanTime.hour}}:{{scanTime.min}} {{scanTime.amPm}}
                    <span class="ml-3">
                    <fa-icon *ngIf="scheduleTab !== 2" [icon]="['fas', 'chevron-down']"></fa-icon>
                    <fa-icon *ngIf="scheduleTab === 2"
                    [icon]="['fas', 'chevron-up']"></fa-icon>
                    </span>
                </a>
                <div *ngIf="scheduleTab === 2" class="time-dropdown">
                    <div class="row">
                        <div class="col hour-block">
                            <div class="hour-text" *ngFor="let hour of hours;let ind=index" [ngClass]="{'selected-text':copyScanTime.hourId === ind}"
                                (click)="changeHoursTime(ind)">{{hour}}</div>
                        </div>
                        <div class="col minutes-block">
                            <div class="min-text" *ngFor="let min of mins;let ind=index" [ngClass]="{'selected-text':copyScanTime.minId === ind}"
                                (click)="changeMinutesTime(ind)">{{min}}</div>
                        </div>
                        <div class="col amPm-block">
                            <div class="amPm-text" *ngFor="let amPm of amPm;let ind=index" [ngClass]="{'selected-text':copyScanTime.amPmId === ind}"
                                (click)="changeAmPm(ind)">{{amPm}}</div>
                        </div>
                    </div>
                    <div class="row select-close py-2">
                        <div class="col text-center"><fa-icon [icon]="['fal', 'check']"	(click)="saveChangeScanTime()"></fa-icon></div>
                        <div class="col text-center"><fa-icon [icon]="['fal', 'times']" (click)="cancelChangeScanTime()"></fa-icon></div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- <a href="#" class="link-text">Manage Subscription</a> -->
        <div class="text-center">
                <button class="save-button" (click)="saveChangedScanSchedule()"
                vtrMetrics
                metricsItem="btn.savechangedscanschedule"
                metricsParent="Page.Support.SmartPerformance"
                metricsEvent="FeatureClick"
                >{{'smartPerformance.scanSettings.txtSave' |translate }}</button>
                <a class="cancel-link active" (click)="cancelChangedScanSchedule()"
                vtrMetrics
                metricsItem="btn.cancelchangedscanschedule"
                metricsParent="Page.Support.SmartPerformance"
                metricsEvent="FeatureClick"
                >{{'smartPerformance.scanSettings.txtCancel' |translate }}</a>
            </div>
    </div>
</div>
