<div class="rank-star-container">
    <div class="row">
        <div class="col-left" [attr.aria-label] = "'battery health level'" role="img">
			<svg id="battery-health-level-star"*ngFor="let item of items; let i = index;" viewBox="0 0 21.69 20.628" class="bi bi-star-fill"
                [ngClass]="{'rank-star-filled': currentHealthLevel !== -1  && i < currentHealthLevel, 'rank-star-unfilled': currentHealthLevel !== -1 && i >= currentHealthLevel, 'rank-star-error': currentHealthLevel === -1}"
                xmlns="http://www.w3.org/2000/svg">
				<path xmlns="http://www.w3.org/2000/svg" d="M-245.479,75.164l6.7-3.524-1.28,7.463,5.422,5.286-7.494,1.089-3.351,6.79-3.351-6.79-7.494-1.089L-250.9,79.1l-1.28-7.463Z" transform="translate(-234.634 92.268) rotate(180)"/>
            </svg>
        </div>
        <section id="battery-health-lifespan" class="col-right">
            <h5 class="desc" id="battery-health-lifespan-desc" attr.aria-label="predicted lifespan">
                {{ 'device.deviceSettings.power.batterySettings.batteryHealth.batteryLifeSpan.lifeSpan' | translate }}
            </h5>
			<p *ngIf="lifeSpan; else lifeSpan_errorTemp" class="desc-light" id="battery-health-lifespan-months" role="text">
                {{lifeSpan}} {{ 'device.deviceSettings.power.batterySettings.batteryHealth.batteryLifeSpan.months' | translate }}
            </p>
            <ng-template #lifeSpan_errorTemp>
				<div style="display:inline-block; padding-bottom: 8px;" [attr.aria-label]="'battery health lifespan data is not available'" role="img">
					<vtr-ui-exclamation-point ></vtr-ui-exclamation-point>
				</div>
            </ng-template>
        </section>
    </div>
</div>
