@import '../../../../../../../app.theme.scss';
@import '../battery-health.variables';
@import '../battery-health.theme';
@import '../battery-health.gaming.theme';
@import '../a11y';

.rank-star-container {
	margin-left: 24px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 5px;
}

.rank-star {
	margin-right: 10px;
	width: 22px;
	height: 21px;
	margin-top: 10px;
}
.rank-star-filled {
	@extend .rank-star;
	fill: #30d487;
	@include high-contrast('black-on-white') {
		fill: #000000;
	}
	@include high-contrast('white-on-black') {
		fill: #ffffff;
	}
}
.rank-star-unfilled {
	@extend .rank-star;
	fill: #34495e;
	@media #{$black-on-white} {
		fill: #ffffff;
		stroke: #000000;
	}
	@media #{$white-on-black} {
		fill: #000000;
		stroke: #ffffff;
	}
}

.rank-star-error {
	@extend .rank-star;
	fill: #e6eaeb;
	// @media #{$black-on-white} {
	//     fill: #000000;
	// }
	// @media #{$white-on-black} {
	//     fill: #ffffff;
	// }
}

section .desc {
	display: inline-block;
	font-size: $base;
	color: $grey_darker;
	font-weight: $battery-semi-bold;
	padding-top: 12px;
}
section .desc-light {
	display: inline-block;
	font-size: $base;
	color: $grey_darker;
	font-family: $font_family_semilight;
	padding-top: 12px;
	margin-left: 2px;
}
section .symbol {
	font-weight: $battery-semi-bold;
}
section .exclamation {
	margin-left: 0.5rem;
	padding-bottom: 8px;
	display: inline-block;
}
.col-left {
	min-width: 173px;
}
.col-right {
	padding-right: 3px;
}
.alert-icon {
	margin-left: 10px;
	fill: #f7c809;
	@media #{$black-on-white} {
		fill: #000000;
	}
	@media #{$white-on-black} {
		fill: #ffffff;
	}
}
::ng-deep .col-right svg {
	margin-left: 10px;
	margin-top: -5px;
	width: 26px;
	height: 26px;
	stroke: #f7c809;
	@media #{$black-on-white} {
		stroke: #000000;
	}
	@media #{$white-on-black} {
		stroke: #ffffff;
	}
}

:host-context(.is-gaming) {
	$color: map-get($smart-battery-gaming-theme, color);
	section .desc,
	section .desc-light {
		color: map-get($color, default);
	}
}
