@import "../../../../app.theme";

.vtr-modal-hardware-scan-customize {
	fa-icon {
		font-size: $fontsize_xl;
		color: $main;
	}

	.modal-information {
		// padding: 0 2rem 0 2rem;

		.title {
			width: 100%;
			font-size: $fontsize_xl;
			font-weight: $weight_light;
			color: $shade_blue;
		}

		.description {
			width: 100%;
			color: $shade-darker;
			font-size: $fontsize_xs2;
			font-weight: $weight_light;
		}

		.errorMessage {
			width: 100%;
			color: $alt;
			font-size: $fontsize_xs;
			font-weight: $weight_medium;
		}
	}

	.button-row {
		padding: 2rem;

		.action-button {
			border-radius: 2.5rem;
			background: $gradient_main;
			text-transform: uppercase;
			padding: 0 3rem;
			color: $light;
			font-size: $fontsize_xs;
			height: 5rem;
			font-weight: $weight_bold;
			line-height: 5rem;

			text-align: center;
			border: 0rem;
			cursor: pointer;
		}
	}

	.close-btn {
		position: absolute;
		right: 2.3rem;
		top: 2.4rem;
		width: 2rem;
		height: 2rem;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}

		img{
			width: 100%;
			height: 100%;
		}
	}
}

.modal-body {
	padding: 2.4rem;
}
