<div class="modal-body vtr-modal-hardware-scan-customize">
	
	<div class="row modal-information">
		<div class="title">{{ title }}</div>
		<div class="description">{{ description }}</div>
		<div class="errorMessage">{{ errorMessage }}</div>
	</div>

	<vtr-ui-hardware-list-test [items]="items" (selectAny)="receiveSelect()"></vtr-ui-hardware-list-test>

	<div class="row">
		<div class="col button-row">
			<button class="action-button" 
				(click)="onClickRun()">{{ buttonText }}</button>
		</div>
	</div>

	<a role="button"
		href="javascript:;"
		class="close-btn"
		vtrMetrics
		metricsEvent="FeatureClick"
		metricsParent="HardwareScan.CustomizeScan"
		metricsItem="CustomizeScan.Close"
		(click)="closeModal()">
		<img [src]=" '/assets/icons/Close.svg' | svgInline | async"
			alt=""
			srcset="">
	</a>
</div>
