@import "../../app.theme.scss";

.vtr-camera-background-blur {
	.img-preview {
			border: 0.1rem solid #ecf0f1;
			height: 25.8rem;
			object-fit: contain;
			width: calc(100% - 1.3rem);
			border-radius: 0.4rem;
			margin-top: 1rem;
			margin-left: 1.3rem;
			img{
				width: 100%;
				height: 100%;
			}
	}
}
