<div class="vtr-camera-background-blur">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 pl-0 pr-0">
			<div class="img-preview">
				<img *ngIf="option.currentMode.toLowerCase() === 'blur'"
					role="img"
					id="camera-background-blur-blur-mode"
					src="assets/images/hardware-settings/camera-background-blur/blur-mode.jpg" />
				<img *ngIf="option.currentMode.toLowerCase() === 'comic'"
					role="img"
					id="camera-background-blur-comic-mode"
					src="assets/images/hardware-settings/camera-background-blur/comic-mode.jpg" />
				<img *ngIf="option.currentMode.toLowerCase() === 'sketch'"
					role="img"
					id="camera-background-blur-sketch-mode"
					src="assets/images/hardware-settings/camera-background-blur/sketch-mode.jpg" />
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
			<ul class="list-group list-group-flush">
				<li class="list-group-item border-top">
					<div class="mt-4 camera-modes-block">
						<vtr-ui-rounded-rectangle-custom-radio-list [groupName]="'camera-blur-radio-group'"
							[isVertical]=true
							[radioDetails]="radioDetails"
							(selectionChange)="onChange($event)">
						</vtr-ui-rounded-rectangle-custom-radio-list>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
