@import "../../app.theme.scss";

.vtr-camera-background-blur {
	.img-preview {
			// border: 0.1rem solid #ecf0f1;
			height: 25.8rem;
			object-fit: contain;
			width: calc(100% - 1.3rem);
			border-radius: 0.4rem;
			margin-top: 1rem;
			margin-left: 1.3rem;
			img{
				max-width: 100%;
				height: 100%;
			}
	}
	.border-top {
		margin-top: 1rem;
		background: transparent;
		@media #{$breakpoint_xl} {
			max-width: 70%;
		}
		@media #{$breakpoint_lg} {
			max-width: 100%;
			padding-left: 0.8rem;
		}
		@media #{$breakpoint_md} {
			max-width: 60%;
		}
		@media #{$breakpoint_sm} {
			max-width: 85%;
		}
	}
}
