@import "../../app.theme.scss";

.vtr-camera-background-blur {
	.img-preview {
			border: 0.1rem solid #ecf0f1;
			height: 25.8rem;
			object-fit: contain;
			width: 100%;
			border-radius: 0.4rem;
			margin-top: 1rem;
			img{
				width: 100%;
				height: 100%;
			}
	}
	::ng-deep .vtr-ui-rounded-rectangle-radio {
		.icon-circle {
			left: -8.5rem;
		}
	}
}
