@import '../../app.theme.scss';

.vtr-material-menu {
	@include high-contrast-adjust;
	button > * {
		cursor: pointer;
	}

	.menu-navbar {
		height: $material_menu_height;
		background-color: $main_darker;
		color: $light;
		@include high-contrast-background-color;
		@media #{$black-on-white} {
			border: 0.2rem solid $dark;
		}
		@media #{$white-on-black} {
			border: 0.2rem solid $light;
		}
		.navbar-brand {
			width: $material_menu_height;
			font-size: $fontsize_xl5;
			font-weight: $weight_bold;
			color: $light;
			.menu-main-logo {
				background-color: $blue_extralight;
				&:focus {
					@include outline-white;
				}
			}
		}
		.navbar-text {
			@include high-contrast-color-reversal;
			@media #{$breakpoint_xl} {
				text-align: left;
			}
			.device-type {
				font-size: $body;
			}
		}
		.navbar-toggler {
			font-size: $fontsize_xl1;
			line-height: 1;
			color: $shade_light;
			@media #{$breakpoint_xl} {
				display: block;
			}
			&:hover {
				color: $shade_extralight;
				@include menu-color-hover-high-contrast;
			}
			&:focus {
				@include outline-white-high-contrast;
				@include menu-color-hover-high-contrast;
			}
			.unread-count-tag {
				left: 3.8rem;
			}
		}
		.menu-container {
			@media #{$breakpoint_xl} {
				display: none;
			}
			.user-item {
				padding: 0.1rem;
				@media #{$black-on-white} {
					border-left: 0.1rem solid $dark;
				}

				@media #{$white-on-black} {
					border-left: 0.1rem solid $light;
				}
			}
			.menu-item {
				font-family: 'Segoe UI', sans-serif;
				font-size: $fontsize_sm;
				font-weight: $weight_light;
				outline: none;
				.menu-angle-down-icon {
					font-size: $fontsize_xl;
				}
				&::after {
					border: 0 !important;
				}
				@include menu-color-high-contrast;
				&:hover {
					background-color: $hover_dark;
					@include menu-color-hover-high-contrast;
					@include high-contrast-background;
				}
				&:focus {
					outline-offset: -0.2rem;
					@include outline-white-high-contrast;
					@include menu-color-hover-high-contrast;
				}
				&.active,
				&.actived {
					outline: none;
					background-color: $menu_hover;
					@include high-contrast-color;

					@media #{$black-on-white} {
						background-color: $high-contrast-white-dark-magenta;
					}

					@media #{$white-on-black} {
						background-color: $high-contrast-black-cyan;
					}
				}
				&.search-active {
					.fa-icon {
						color: $main;
					}
				}
				&.user {
					line-height: 1;
					background-color: $main_darkest;
					@include high-contrast-background;
					.user-initials {
						font-size: $fontsize_md !important;
						width: $menu_item_height;
						height: $menu_item_height;
						background-color: $main_darker;
						line-height: $menu_item_height;
						@include high-contrast-background;
						@media #{$black-on-white} {
							@include black-border;
						}
						@media #{$white-on-black} {
							@include white-border;
						}
					}
				}
			}
		}

		.app-search {
			::ng-deep {
				.mat-button-wrapper {
					padding-left: 2rem;
					padding-right: 2rem;
				}
			}
		}

		.search-dropdown {
			position: absolute;
			top: calc(#{$material_menu_height} + 0.5rem);
			width: 40rem;
			right: 0rem;
		}

		.search-nav-item {
			position: relative;
		}

		.search-nav-item-mask {
			opacity: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 100;
			cursor: pointer;
		}
	}
	.unread-count-tag {
		left: 4rem;
		top: 0.3rem;
		background: $button_red_start;
		color: $light;
		width: $menu_item_tag_height;
		height: $menu_item_tag_height;
		font-size: $fontsize_xs3;

		@media #{$black-on-white} {
			@include black-border;
		}

		@media #{$white-on-black} {
			@include white-border;
		}
	}
	.search-dropdown-sm {
		position: absolute;
		top: 9.5rem;
		right: 2.2rem;
	}
}

::ng-deep {
	.menu-dropdown-container {
		background-color: $light;
		@include high-contrast-background;
		box-shadow: $menu_dropdown_shadow;
	}
	.user-menu-dropdown-container {
		border-radius: 0 0 0.5rem 0.5rem !important;
		max-width: 30rem;
		.user-text {
			color: $main_shade;
			font-size: $fontsize_xs;
			font-weight: $weight_regular;
			font-family: 'Segoe UI', sans-serif;
			min-height: 2.2rem;
			line-height: 1;
			@include high-contrast-text-color-disabled;
			.user-menu-item-text {
				word-break: normal;
				white-space: pre-wrap;
				word-wrap: break-word;
				line-height: 1.3;
			}
		}
		.user-menu-item {
			color: $main_shade;
			font-weight: $weight_regular;
			font-family: 'Segoe UI', sans-serif;
			min-height: 2.2rem;
			line-height: 1;
			outline: none !important;
			::first-letter {
				text-transform: uppercase !important;
			}
			.user-menu-item-text {
				word-break: normal;
				white-space: pre-wrap;
				word-wrap: break-word;
				line-height: 1.3;
			}
			@include menu-color-high-contrast;
			&:hover {
				color: $blue-light;
				@include menu-color-hover-high-contrast;
				.user-menu-item-text {
					text-decoration: underline;
				}
			}
			&:focus {
				color: $blue-light;
				@include menu-color-focus-high-contrast;
				.user-menu-item-text {
					@include border-blue-high-contrast;
					text-decoration: none;
				}
			}
			&.active {
				color: $blue-light;
				@include menu-color-hover-high-contrast;
				.user-menu-item-text {
					border: none;
					text-decoration: underline;
				}
			}
		}
		.unread-tag {
			left: 0.5rem;
			top: 50%;
			margin-top: -0.3rem;
			width: 0.8rem;
			height: 0.8rem;
			background: $button_red_start;
			@media #{$black-on-white} {
				@include high-contrast-white-background;
			}
			@media #{$white-on-black} {
				@include high-contrast-black-background;
			}
		}
	}
}
