@import "../../../app.theme.scss";
::ng-deep vtr-ui-color-picker{
    .ui-color-picker{
        width: 100%;
        height: 100%;
        .preset-color{
            width: 350px;
            overflow: hidden;
            border-radius: 4px;
            background: #283756;
            box-shadow: 0 0 1px #283756;
            padding-bottom: 35px;
            box-shadow: 0 16px 32px rgba(0,0,0,0.2);
            ul{
                width: 100%;
                padding: 10px 20px 0 10px;
                overflow: hidden;
                li{
                    width: 30px; 
                    height: 30px;
                    // width: calc((100% - 16.5rem)/8);
                    // height: calc((100% - 16.5rem)/8);
                    // padding: calc((100% - 12rem)/16);
                    border-radius:4px;
                    float: left;
                    margin-left: 10px;
                    margin-top: 10px;
                    cursor: pointer;
                    span{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                    &.checked{
                        border: 1px solid $light;
                        span{
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3e%3ctitle%3e6.20pxIcon/checkLine%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='6.20pxIcon/checkLine' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cpath d='M8.1116626,13.630581 L16.0313582,5.35279564 C16.4676981,4.89672665 17.1911384,4.88073301 17.6472074,5.31707287 C18.1032764,5.75341272 18.11927,6.47685303 17.6829301,6.93292202 L8.93558544,16.0757787 C8.48484105,16.5469035 7.73191951,16.546056 7.28223692,16.0739175 L2.31529664,10.8589429 C1.87998466,10.4018927 1.89760695,9.67849027 2.35465713,9.24317828 C2.81170731,8.8078663 3.53510978,8.82548859 3.97042177,9.28253877 L8.1116626,13.630581 Z' id='Path-2' fill='%23FFFFFF' fill-rule='nonzero'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }
            .more-color{
                padding-left: 20px;
                .under-line-button {
                    margin-top: 2rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
        .inp-color-picker{
            box-shadow: 0 16px 32px rgba(0,0,0,0.2);
        }
        .color-inp{
            width: 0;
            height: 0;
            display: none;
        }
        .color-picker{
            overflow: hidden;
            padding-bottom: 3rem;
            background: #283756 !important;
            border: 1px solid #283756 !important;
            border-radius: 0.5rem;
            box-shadow: 0 0 1rem #283756;
            z-index: 1 !important;
            .cursor{
                background: $light;
                box-shadow: 0 16px 32px rgba(0,0,0,0.2);
                border: none !important;
            }
            .rgba-text{
                .box{
                   padding: 0 16px 8px 16px !important;
                   input{
                        background: #34405e;
                        border: 1px solid #34405e;
                        color: $light;
                    }
                    &>div{
                        color: $light;
                        font-size: 1.4rem !important;
                        opacity: 0;
                    }
                }
            }
            .button-area{
                .btn-apply{
                    width: 47% !important;
                    float: left;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: "Segoe UI";
                    font-weight: bold;
                    color: $white100;
                    padding: 8px 20px;
                    background-color: $blueFill;
                    border-radius: 20px;
                    width: auto;
                    transition: all 0.2s ease;
                    &:hover {
                      background-color: $blueHover;
                      cursor: pointer;
                    }
                    &:active {
                      transform: scale(0.96);
                    }
                }
                .btn-cancel{
                    width: 47% !important;
                    float: right;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: "Segoe UI";
                    font-weight: bold;
                    color: $white100;
                    padding: 8px 20px;
                    background-color: $white60;
                    border-radius: 20px;
                    width: auto;
                    transition: all 0.2s ease;
                    &:hover {
                      background-color: $white20;
                      cursor: pointer;
                    }
                    &:active {
                      transform: scale(0.96);
                    }

                }
            }
            .type-policy{
                display: none;
            }
        }
        .color-name{
            width: 100%;
            position: absolute;
            z-index:999999;
            bottom: 83px;
            padding: 0 24px;
            font-size: 14px;
            color: $light;
            display: flex;
            justify-content: space-around;
        }
    }
}