@import "../../../app.theme";

.vtr-modal-scan-failure{
	padding: 1.8rem 2.4rem 2.4rem;
	@include high-contrast-border;

	.modal-information {

		.title {
			width: 100%;
			font-size: $fontsize_xl;
			font-weight: $weight_light;
			color: $shade_blue;
			margin-bottom: 2.4rem;
			height: 3.2rem;
			padding: 0 2.4rem 0 0; // to avoid title overlapping X button
		}

		.description {
			width: 100%;
			color: $shade_blue;
			font-size: $fontsize_xs;
			font-weight: $weight_light;
			padding: 0 2.4rem 0 0;
		}

		.description-failure ::ng-deep {
			// Changing description-failure bold font-weight
			b {
				font-weight: $weight_600;
			}

			padding: 1rem 0 0 0;
		}

		.modules-container {
			display: flex;
			flex-direction: column;
			border-top: solid 1px $grey_light;
			border-bottom: solid 1px $grey_light;
		}

		.list-modules {
			margin-bottom: 0;

			.item-module-device {
				margin-top: 2.5rem;
				list-style-type: none;

				.module-device-row {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0 0 0 0;

					.module-device-name-container {
						display: flex;
						flex-wrap: wrap;
						width: 100%;
						margin: 0 0 0 0;

						.module-name {
							color: $shade_blue;
							font-size: $fontsize_xs;
							margin-bottom: 0;
							font-weight: $weight_600;
							flex-shrink: 1;

							// Space between module name and description text
							&:after {
								content: ' ';
								margin-right: 1.2rem;
							}
						}

						.description.device-name {
							width: auto;
							flex-grow: 1;
							margin-bottom: 0;
						}
					}
				}
			}

			&:last-child {
				&:last-child {
					margin-bottom: 2.5rem;
				}
			}
		}

		.button-row {
			align-items: center;
			padding: 1rem 0 0 0;

			.hyperlink-container {
				margin: 0 0 0 2.6rem;
			}
		}
	}
}
