<div class="modal-body vtr-modal-scan-failure" aria-labelledby="scan-failure-title" aria-describedby="scan-failure-description">

	<div class="modal-information">
		<h1 id="scan-failure-title" class="title">{{ 'hardwareScan.scanFailureModal.title' | translate }}</h1>
		<p id="scan-failure-description" class="description">{{ 'hardwareScan.scanFailureModal.problemDetected' | translate }}</p>

		<div class="modules" aria-live="polite" *ngFor="let module of failedModules; let idModule = index">
			<li class="list-module" [attr.aria-describedby]="'module-' + idModule">
				<div class="module-row">
					<img aria-hidden="true" class="warning" [src]="'assets/icons/test-attention-icon.svg' | svgInline | async"/>
					<span id="{{ 'module-' + idModule }}" class="module-name">{{ module.moduleName }}</span>
				</div>
				<div *ngIf="module.moduleId == 'storage'" aria-live="polite">
					<div class="list-device" *ngFor="let device of module.devices;">
						<span class="description">{{ device.deviceName }}</span>
					</div>
				</div>
			</li>
		</div>
		<div *ngIf="hasFailedRbsDevice; else withoutRBS">
			<div class="description description-failure">
				<p [innerHTML]="'hardwareScan.scanFailureModal.suggestedActionRbs' | translate"></p>
			</div>
			<div class="row button-row">
				<vtr-ui-button metricsEvent="FeatureClick" metricsParent="HardwareScan.ScanFailureActions"
					metricsItem="ScanFailureActions.RecoverBadSectors" id="rbsButton" (click)="goToRBSPage()"
					[tooltipText]="'hardwareScan.scanFailureModal.recoverBadSectorsButtonText' | translate"
					[label]="'hardwareScan.scanFailureModal.recoverBadSectorsButtonText' | translate">
				</vtr-ui-button>
				<button class="btn btn-link support-button" type="button" id="supportButtonWithRBS"
					vtrMetrics metricsEvent="FeatureClick" metricsParent="HardwareScan.ScanFailureActions" metricsItem="ScanFailureActions.LenovoSupport"
					[title]="'hardwareScan.scanFailureModal.supportButtonText' | translate"
					(click)="openSupportPage()">{{'hardwareScan.scanFailureModal.supportButtonText' | translate }}</button>
			</div>
		</div>

		<ng-template #withoutRBS>
			<div class="description description-failure">
				<p [innerHTML]="'hardwareScan.scanFailureModal.suggestedActionSupport' | translate"></p>
			</div>
			<div class="row">
				<div class="col button-row">
					<vtr-ui-button metricsEvent="FeatureClick" metricsParent="HardwareScan.ScanFailureActions"
						metricsItem="ScanFailureActions.LenovoSupport" id="supportButtonWithoutRBS"
						(click)="openSupportPage()"
						[tooltipText]="'hardwareScan.scanFailureModal.supportButtonText' | translate"
						[label]="'hardwareScan.scanFailureModal.supportButtonText' | translate">
					</vtr-ui-button>
				</div>
			</div>
		</ng-template>

		<a vtrMetrics metricsEvent="FeatureClick" metricsParent="HardwareScan.ScanFailureActions" aria-label="Close"
			metricsItem="ScanFailureActions.Close" role="button" href="javascript:;" class="close-btn"
			(click)="closeModal()">
			<img [src]=" 'assets/icons/Close.svg' | svgInline | async" alt="" srcset="">
		</a>
	</div>
</div>
