@import "../../../app.theme";

.vtr-modal-scan-failure{
	fa-icon {
		font-size: 2rem;
		color: $main;
	}

	.modal-information {
		padding: 0 2rem 0 2rem;

		.title {
			width: 100%;
			font-size: 3rem;
			font-weight: bold;
			color: $blue-dark;
		}

		.description {
			width: 100%;
			color: $shade-darker;
			font-size: 1.8rem;
			font-weight: $weight_medium;
		}

		.modules {
			padding-bottom: 1rem;
			.warning {
				color: $orange_light;
			}
			.list-module {
				list-style-type: none;

				.module-row {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0 1.5rem 0 0rem;
				}

				.module-name {
					width: 100%;
					color: $shade-darker;
					font-size: $fontsize_xs2;
					padding-left: 1rem;
					font-weight: $weight_bold;
				}

				.list-device {
					padding: 0 0 0 3.4rem; // icon size (2.4rem) + module-name spacing (1rem)
				}
			}
		}
    }

    .modal-body{
        padding: 0 5rem 3rem 5rem;
    }

	.button-row {
		padding: 2rem;

		.action-button {
			border-radius: 2.5rem;
			background: $gradient_main;
            text-transform: uppercase;
            text-decoration: none;
			padding: 2rem 3rem;
			color: $light;
			font-size: 1.5rem;
			height: 5rem;
			font-weight: $weight_bold;
			line-height: 5rem;

			text-align: center;
			border: 0rem;
			cursor: pointer;
		}
	}
}
