<div class="modal-body vtr-modal-scan-failure" aria-labelledby="scan-failure-title" aria-describedby="scan-failure-description">

	<div class="modal-information">
		<h1 id="scan-failure-title" class="title">{{ 'hardwareScan.scanFailureModal.title' | translate }}</h1>
		<p id="scan-failure-description" class="description">{{ 'hardwareScan.scanFailureModal.problemDetected' | translate }}</p>
		<div class="modules-container">
			<ul role="list" class="list-modules" aria-live="polite" *ngFor="let module of failedModules; let idModule = index;" [attr.id]="'module-' + idModule">
				<li role="listitem"
					class="item-module-device"
					*ngFor="let device of module.devices; let idDevice = index"
					[attr.aria-describedby]="'module-' + idModule + '-device-' + idDevice">
					<div class="module-device-row" [attr.id]="'module-' + idModule + '-device-' + idDevice" role="region">
						<div class="module-device-name-container">
							<p class="module-name">{{ module.moduleName }}</p>
							<p class="description device-name">{{ device.deviceName }}</p>
						</div>
						<vtr-ui-hardware-scan-test-result [module]="module"></vtr-ui-hardware-scan-test-result>
					</div>
				</li>
			</ul>
		</div>

		<div *ngIf="hasFailedRbsDevice; else withoutRBS">
			<div class="description description-failure">
				<p [innerHTML]="'hardwareScan.scanFailureModal.suggestedActionRbs' | translate"></p>
			</div>
			<div class="row button-row">
				<vtr-ui-button
					metricsEvent="FeatureClick"
					metricsParent="HardwareScan.ScanFailureActions"
					metricsItem="ScanFailureActions.RecoverBadSectors"
					linkId="hwscan-go-to-rbs-btn" (click)="goToRBSPage()"
					[tooltipText]="'hardwareScan.scanFailureModal.recoverBadSectorsButtonText' | translate"
					[label]="'hardwareScan.scanFailureModal.recoverBadSectorsButtonText' | translate">
				</vtr-ui-button>
				<vtr-ui-hyperlink-button
					class="hyperlink-container"
					hyperlinkStyle="xs-blue-lighter"
					metricsEvent="FeatureClick"
					metricsParent="HardwareScan.ScanFailureActions"
					metricsItem="ScanFailureActions.LenovoSupport"
					linkId="hwscan-open-support-page-link" (hyperlinkClick)="openSupportPage()"
				 	[tooltipText]="'hardwareScan.scanFailureModal.supportButtonText' | translate"
				   	[label]="'hardwareScan.scanFailureModal.supportButtonText' | translate"
					[upperCaseLabel]="true">
				</vtr-ui-hyperlink-button>
			</div>
		</div>

		<ng-template #withoutRBS>
			<div class="description description-failure">
				<p [innerHTML]="'hardwareScan.scanFailureModal.suggestedActionSupport' | translate"></p>
			</div>
			<div class="row">
				<div class="col button-row">
					<vtr-ui-button metricsEvent="FeatureClick" metricsParent="HardwareScan.ScanFailureActions"
						metricsItem="ScanFailureActions.LenovoSupport" id="supportButtonWithoutRBS"
						(click)="openSupportPage()"
						[tooltipText]="'hardwareScan.scanFailureModal.supportButtonText' | translate"
						[label]="'hardwareScan.scanFailureModal.supportButtonText' | translate">
					</vtr-ui-button>
				</div>
			</div>
		</ng-template>

		<div class="btn-modal-close">
			<vtr-ui-close-button
				metricsItem="ScanFailureActions.Close"
				metricsEvent="FeatureClick"
				metricsParent="HardwareScan.ScanFailureActions"
				aria-label="Close"
				(clickClose)="closeModal()">
			</vtr-ui-close-button>
		</div>
	</div>
</div>
