<div class="modal-body vtr-modal-scan-failure" aria-labelledby="scan-failure-title" aria-describedby="scan-failure-description">

	<div class="modal-information">
		<h1 id="scan-failure-title" class="title">{{ 'hardwareScan.scanFailureModal.title' | translate }}</h1>
		<p id="scan-failure-description" class="description">{{ 'hardwareScan.scanFailureModal.problemDetected' | translate }}</p>
		<div class="modules-container">
			<div class="modules" aria-live="polite" *ngFor="let module of failedModules; let idModule = index;">
				<div class="list-module" *ngFor="let device of module.devices;">
					<li class="list-device" [attr.aria-describedby]="'module-' + idModule">
						<div class="module-row">
							<p class="module-name-container" id="{{ 'module-' + idModule }}">
								<span class="module-name">{{ module.moduleName }}</span>
								<span class="description">{{ device.deviceName }}</span>
							</p>
							<vtr-ui-hardware-scan-test-result [module]="module"></vtr-ui-hardware-scan-test-result>
						</div>
					</li>
				</div>
			</div>
		</div>

		<div *ngIf="hasFailedRbsDevice; else withoutRBS">
			<div class="description description-failure">
				<p [innerHTML]="'hardwareScan.scanFailureModal.suggestedActionRbs' | translate"></p>
			</div>
			<div class="row button-row">
				<vtr-ui-button
					metricsEvent="FeatureClick"
					metricsParent="HardwareScan.ScanFailureActions"
					metricsItem="ScanFailureActions.RecoverBadSectors"
					id="rbsButton" (click)="goToRBSPage()"
					[tooltipText]="'hardwareScan.scanFailureModal.recoverBadSectorsButtonText' | translate"
					[label]="'hardwareScan.scanFailureModal.recoverBadSectorsButtonText' | translate">
				</vtr-ui-button>
				<vtr-ui-button
					buttonColor="secondary-blue-lighter-bg-transparent"
					metricsEvent="FeatureClick"
					metricsParent="HardwareScan.ScanFailureActions"
					metricsItem="ScanFailureActions.LenovoSupport"
					id="supportButtonWithRBS" (click)="openSupportPage()"
				   [tooltipText]="'hardwareScan.scanFailureModal.supportButtonText' | translate"
				   [label]="'hardwareScan.scanFailureModal.supportButtonText' | translate">
				</vtr-ui-button>
			</div>
		</div>

		<ng-template #withoutRBS>
			<div class="description description-failure">
				<p [innerHTML]="'hardwareScan.scanFailureModal.suggestedActionSupport' | translate"></p>
			</div>
			<div class="row">
				<div class="col button-row">
					<vtr-ui-button metricsEvent="FeatureClick" metricsParent="HardwareScan.ScanFailureActions"
						metricsItem="ScanFailureActions.LenovoSupport" id="supportButtonWithoutRBS"
						(click)="openSupportPage()"
						[tooltipText]="'hardwareScan.scanFailureModal.supportButtonText' | translate"
						[label]="'hardwareScan.scanFailureModal.supportButtonText' | translate">
					</vtr-ui-button>
				</div>
			</div>
		</ng-template>

		<div class="btn-modal-close">
			<vtr-ui-close-button
				metricsItem="ScanFailureActions.Close"
				metricsEvent="FeatureClick"
				metricsParent="HardwareScan.ScanFailureActions"
				aria-label="Close"
				(clickClose)="closeModal()">
			</vtr-ui-close-button>
		</div>
	</div>
</div>
