<div class="multi-state-toggle">
	<div class="inner-toggle">

		<input type="radio" vtrMetrics [metricsItem]="'gaming.lightingProfile.profileheading.text1.title' | translate"
			metricsEvent="featureClick" value="0" name="lighting-porfile" id="off_radio" [checked]="currentProfile===0"
			(change)="SetProfile($event)">
		<label for="off_radio" id="off">{{'gaming.lightingProfile.profileheading.text1.title' | translate}}</label>


		<input type="radio" vtrMetrics [metricsItem]="'gaming.lightingProfile.profileheading.text2.title' | translate"
		metricsEvent="featureClick" value="1" name="lighting-porfile" id="first_radio" [checked]="currentProfile===1"
			(change)="SetProfile($event)">
		<label for="first_radio" id="first_lbl">{{'gaming.lightingProfile.profileheading.text2.title' | translate}}</label>


		<input type="radio" vtrMetrics [metricsItem]="'gaming.lightingProfile.profileheading.text3.title' | translate"
		metricsEvent="featureClick" value="2" name="lighting-porfile" id="second_radio" [checked]="currentProfile===2"
			(change)="SetProfile($event)">
		<label for="second_radio" id="second_lbl">{{'gaming.lightingProfile.profileheading.text3.title' | translate}}</label>


		<input type="radio" vtrMetrics [metricsItem]="'gaming.lightingProfile.profileheading.text4.title' | translate"
		metricsEvent="featureClick" value="3" name="lighting-porfile" id="third_radio" [checked]="currentProfile===3"
			(change)="SetProfile($event)">
		<label for="third_radio"
			id="third_lbl">{{'gaming.lightingProfile.profileheading.text4.title' | translate}}</label>
		<div [ngClass]="{'toggle':isToggle}"></div>
	</div>
</div>
