@import "../../../app.theme.scss";

.multi-state-toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5rem;
	width: 100%;
	border-radius: 5rem;
	margin: auto;
	background: $gaming_dark;
	position: relative;
	z-index: 0;
	box-sizing: border-box;
	background-clip: padding-box;
	border: solid 0.2rem transparent;
	padding: 0.2rem;
	&::after {
		content: " ";
		position: absolute;
		border-radius: 5rem;
		top: 0rem;
		left: 0rem;
		bottom: 0rem;
		right: 0rem;
		margin: 0rem;
		background: $gaming_dark;
		z-index: -1;
	}
	&::before {
		content: " ";
		position: absolute;
		border-radius: 5rem;
		top: 0rem;
		left: 0rem;
		bottom: 0rem;
		right: 0rem;
		margin: -0.2rem;
		background-image: $gaming_lighting_gradient;
		z-index: -1;
	}
	.inner-toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		position: relative;
		&.optionnull {
			#off {
				color: $gaming_lightest !important;
			}
		}
	}
	input {
		opacity: 0;
		position: absolute;
		left: 0;
		margin: 0;
		padding: 0;
		width: 25%;
		height: 4.2rem;
		&:nth-child(3) {
			left: 25%;
		}
		&:nth-child(5) {
			left: 50%;
		}
		&:nth-child(7) {
			left: 75%;
		}
		& ~ label {
			color: $gaming;
			font-size: 1.8rem;
			width: 25%;
			height: 4.2rem;
			border-radius: 4.2rem; 
			margin: 0.4rem 0.2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			z-index: 1;
			cursor: pointer;
			.num {
				display: none;
			}
			@media #{$breakpoint_xl2} {
				font-size: 1.4rem;
			}
			@media #{$breakpoint_xl} {
				white-space: nowrap;
				overflow: hidden;
				&#off {
					letter-spacing: 0;
					text-indent: 0;
				}
				& > span:nth-child(1) {
					display: none;
				}
				.num {
					display: block;
				}
			}
		}
	}

	.toggle {
		position: absolute;
		background: $gaming_lighting_gradient;
		width: 25%;
		height: 4.2rem;
		border-radius: 4.2rem;
		transition: left 0.3s ease-in-out;
		left: 0;
	}
	#profile_off_radio:checked {
		& ~ #off {
			color: $gaming_lightest;
		}
		& ~ .toggle {
			left: 0%;
		}
	}
	#profile_first_radio:checked {
		& ~ #first_lbl {
			color: $gaming_lightest;
		}
		& ~ .toggle {
			left: 25%;
		}
	}
	#profile_second_radio:checked {
		& ~ #second_lbl {
			color: $gaming_lightest;
		}
		& ~ .toggle {
			left: 50%;
		}
	}
	#profile_third_radio:checked {
		& ~ #third_lbl {
			color: $gaming_lightest;
		}
		& ~ .toggle {
			left: 75%;
		}
	}
	#single_off_radio:checked {
		& ~ #off {
			color: $gaming_lightest;
		}
		& ~ .toggle {
			left: 0%;
		}
	}
	#single_first_radio:checked {
		& ~ #first_lbl {
			color: $gaming_lightest;
		}
		& ~ .toggle {
			left: 25%;
		}
	}
	#single_second_radio:checked {
		& ~ #second_lbl {
			color: $gaming_lightest;
		}
		& ~ .toggle {
			left: 50%;
		}
	}
	#single_third_radio:checked {
		& ~ #third_lbl {
			color: $gaming_lightest;
		}
		& ~ .toggle {
			left: 75%;
		}
	}
}
