<div class="multi-state-toggle">
  <input type="radio" value="1" name="lighting-porfile" id="off_radio"  	[checked]="currentProfile===1" (change)="SetProfile($event)">
  <label for="off_radio" id="off">Off</label>
  <input type="radio" value="2" name="lighting-porfile" id="first_radio"    [checked]="currentProfile===2" (change)="SetProfile($event)">
  <label for="first_radio" id="first_lbl">Profile 1</label>
  <input type="radio" value="3" name="lighting-porfile" id="second_radio"     [checked]="currentProfile===3" (change)="SetProfile($event)">
  <label for="second_radio" id="second_lbl">Profile 2</label>
  <input type="radio" value="4" name="lighting-porfile" id="third_radio"    [checked]="currentProfile===4" (change)="SetProfile($event)">
  <label for="third_radio" id="third_lbl">Profile 3</label>
  <div class="toggle"></div>
</div>
