<vtr-page-layout [title]="'common.menu.smb.sub2' | translate"
	[back]="'common.ui.back' | translate"
	[backId]="'smb-creator-centre-page-btn-back'"
	[textId]="'smb-creator-centre'"
	[parentPath]="parentPath"
	[menuItems]="menuItems"
	[pageCssClass]="'creator-centre'"
	[shiftLeftUp]="false"
	[shiftRightUp]="true"
	class="smb">
	<left-content>
		<div #hsRouterOutlet>
			<router-outlet (activate)="onRouteActivate($event, hsRouterOutlet)">
			</router-outlet>
		</div>
	</left-content>
</vtr-page-layout>
