$border-width: 1px;
$border-style: solid;

$battery-semi-bold: 600;

$battery-text-color-palette: (
	default: #34495e,
	white-on-black: #f5f7f8,
	black-on-white: black,
);

$battery-background-palette: (
	default: #f5f7f8,
	white-on-black: black,
	black-on-white: white,
);

$battery-border-palette: (
	default: #ecf0f1,
	white-on-black: white,
	black-on-white: black,
);

$smart-battery-theme: (
	color: $battery-text-color-palette,
	background: $battery-background-palette,
	border: $battery-border-palette,
);

$battery-capacity-circle: (
	error: (
		ground: #e6eaeb,
		over: #e6eaeb,
	),
	color-green: (
		ground: #34495e,
		over: #30d487,
	),
	color-yellow: (
		ground: #34495e,
		over: #f7c809,
	),
	color-pink: (
		ground: #34495e,
		over: #fd796c,
	),
	color-red: (
		ground: #34495e,
		over: #db221f,
	),
);
$battery-capacity-circle-high-contrast: (
	white: #ffffff,
	black: #000000,
);
