@import 'src/app/app.theme.scss';
.panelOfLifeSpan {
	// font-size: $body;
	// max-width: 75rem;
	min-height: 7rem;
	width: 100%;
	background-color: #f5f7f8;
	border: 1px solid #ecf0f1;
}
.panelOfBatteryCapacity {
	min-height: 25rem;
	width: 100%;
	background-color: #f5f7f8;
	border: 1px solid #ecf0f1;
}
.panelResponsive {
	display: flex;
	grid-column-gap: 10px;
	justify-content: space-between;
	align-items: stretch;
	padding-right: 0;

	@media #{$breakpoint_xl} {
		flex-direction: column;
	}
	@media #{$breakpoint_lg} {
		flex-direction: row;
	}
	@media #{$breakpoint_md} {
		flex-direction: column;
	}
	@media #{$breakpoint_sm} {
		flex-direction: column;
	}
}
