<vtr-ui-row-switch *ngIf="batteryHealthCapability"
	[title]="'device.deviceSettings.power.batterySettings.batteryHealth.title' | translate"
	[caption]="'device.deviceSettings.power.batterySettings.batteryHealth.description' | translate"
	[isSwitchVisible]="false"
	[showChildContent]="true"
	[leftIcon]="['icomoon', 'icomoon-battery-health']"
	[isLastChild]="hideSeparation"
	[switchId]="'ds-power-battery-batteryHealth'">
	<vtr-battery-layout>
		<vtr-battery-capacity></vtr-battery-capacity>
		<vtr-battery-temperature></vtr-battery-temperature>
	</vtr-battery-layout>
</vtr-ui-row-switch>
