@import "../../../app.theme";
vtr-widget-status ::ng-deep {
	vtr-ui-list-chevron {
		li {
			&.good {
				.item-icon {
					.icon-bkg {
						background: $green_gradient !important;
						border-color: $green_dark !important;
					}
				}
			}

			&.bad {
				.item-icon {
					.icon-bkg {
						background: $gradient_red1 !important;
						border-color: $button_red_start !important;
					}
				}
			}

			&.black,
			&.text-blue {
				.item-icon {
					.icon-bkg {
						background: $black_gradient !important;
						border-color: $black_light !important;
					}
				}
			}
			.item-text {
				.detail {
					&.good {
						color: $green_dark !important;
					}

					&.bad {
						color: $button_red_start !important;
					}

					&.black {
						color: $black_light !important;
					}
				}
			}
		}
	}
}
