<div class="vtr-widget-security">
	<div class="container-fluid">
		<div class="row security-background">
			<div class="col col-3">
				<div class="row">
					<div class="col circle-container">
						<div class="circle percent-{{percentValue}}">{{percentValue ? percentValue : 0}}<span class="percent">%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-9 last-col">
				<p class="title">{{security.title[titleStatus] | translate}}</p>
				<p class="row1">{{security.subTitle[titleStatus] | translate}}</p>
				<p class="row1">{{security.subTitle2[titleStatus] | translate}}</p>
				<div class="button-row">
					<button class="action-button" vtrMetrics metricsEvent="itemClick" metricsItem="securityAdvisor101"
					(click)="buttonClick()">{{'security.landing.security101' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
