<div class="vtr-widget-security">
	<div class="container-fluid">
		<div class="row security-background justify-content-end">
			<div class="right-container col-12 col-md-10 d-flex flex-column justify-content-between">
				<div class="level_desc">
					<h4 class="title mb-4" [innerHTML]="securityLevelInfo[statusItem.status].title | translate"></h4>
					<h5 class="desc mb-4" [innerHTML]="securityLevelInfo[statusItem.status].desc | translate"></h5>
				</div>
				<div class="row no-gutters align-items-center">
					<h5 class="col-6 desc" [innerHTML]="btnDesc[statusItem.fullyProtected ? 1 : 0] | translate"></h5>
					<vtr-ui-button class="col-6"
						metricsItem="securityAdvisor101"
						metricsEvent="ArticleClick"
						metricsItemPosition="1"
						metricsPageNumber="1"
						[metricsItemID]="articleId"
						[metricsItemCategory]="articleCategory"
						[label]="'security.landing.security101' | translate"
						(onClick)="buttonClick()"
						btnHeight=true
						linkId="sa-ov-btn-securityArticle">
					</vtr-ui-button>
				</div>
			</div>
			<div class="left-container">
				<div class="position-relative">
					<div class="circle-box d-flex justify-content-center">
						<img [src]=" images[statusItem.status][statusItem.icon] | svgInline | async">
					</div>
					<div class="circle-desc">
						<p title="" class="text-two-ellipsis" [innerHTML]="'security.landing.level' | translate"></p>
						<b class="text-ellipsis text-uppercase" [innerHTML]="securityLevelInfo[statusItem.status].status | translate"></b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
