@import "../../../app.theme";
@import "../../pages/page-privacy/styles/common-blocks.scss";

.vtr-widget-security {
  .security-background {
    border-radius: 0.5rem;
	height: 100%;
	width: 100%;
	color: $light;
    background: linear-gradient(109deg, $hover_dark 0%, $main_darker 100%);
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
	padding: 2.5rem;
	position: relative;

	.left-container {
		position: absolute;
		left: 0;
		top: 1.5rem;
		.circle-box {
			background: linear-gradient(109deg, $hover_dark 15%, $main_darker 245%);
			width: 25rem;
			height: 27rem;
			border-radius: 50%;
			img {
				width: 18rem;
			}
		}
		.circle-desc {
			width: 10rem;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -5rem;
			margin-top: -2rem;
			text-align: center;
			p {
				font-size: 1.6rem;
				line-height: 1.1;
			}
			b {
				font-size: 1.2rem;
			}
		}
	}

	.right-container {
		background-color: $main_darker;
		padding: 3rem 0 3rem 13rem;
		min-height: 24rem;
		.title {
			font-size: 2rem;
		}
		.desc {
			font-size: 1.4rem;
		}
	}
	@media #{$breakpoint_md} {
		.right-container {
			padding: 1.5rem;
			margin-top: 17rem;
			min-height: 20rem;
		}
		.left-container {
			left: 50%;
			top: 0;
			margin-left: -10rem;
			.circle-box {
				background: transparent;
				width: 20rem;
				height: 20rem;
			}
		}
	}
	@media #{$mediaquery_X45} {
		.right-container {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 1.5rem;
			margin-top: 17rem;
		}
		.left-container {
			left: 50%;
			top: 0;
			margin-left: -10rem;
			.circle-box {
				background: transparent;
				width: 20rem;
				height: 20rem;
			}
		}
	}

    // vtr-ui-button {
    //     ::ng-deep .vtr-ui-button {
    //       .button-box .button {
    //         min-height: 3.5rem;
    //         font-size: 1.5rem;
    //         font-weight: 600;
    //       }
    //     }
    // }

    .offline-icon {
      fa-icon {
        font-size: 10rem;
        ::ng-deep svg {
          color: $light;
        }
      }
    }
  }
}
