<div class="vtr-widget-security">
	<div class="container-fluid">
		<div class="row security-background">
			<div class="col-3 col-sm-3 col-md-12 col-lg-3">
				<div class="row">
					<div class="col circle-container">
						<div class="circle percent-{{percentValue}}">{{percentValue}}<span class="percent">%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-9 col-sm-9 col-md-12 col-lg-9 last-col">
				<p class="title">{{security.title[percentValue === 100 ? 0 : 1] | translate}}</p>
				<p class="row1">{{security.subTitle[percentValue === 100 ? 0 : 1] | translate}}</p>
				<p class="row1">{{security.subTitle2[percentValue === 100 ? 0 : 1] | translate}}</p>
				<div class="button-row">
					<vtr-ui-button id="sa-ov-btn-securityArticle"
						aria-label="sa-ov-btn-securityArticle"
						metricsItem="securityAdvisor101"
						metricsEvent="ArticleClick"
						metricsItemPosition="1"
						metricsPageNumber="1"
						[metricsItemID]="articleId"
						[metricsItemCategory]="articleCategory"
						[label]="'security.landing.security101' | translate"
						[title]="'security.landing.security101' | translate"
						(onClick)="buttonClick()"
						[upperCaseLabel]=false></vtr-ui-button>
				</div>
			</div>
		</div>
	</div>
</div>
