@import "../../../app.theme";

$largeCircleWidth: 22rem;
$largeSideWidth: 3.5rem;
.vtr-widget-security {
  .security-background {
    border-radius: 0.5rem;
	height: 100%;
	width: 100%;
	color: $light;
    background: linear-gradient(109deg, $hover_dark 0%, $main_darker 100%);
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
	padding: 4.5rem 2.5rem 2.5rem;
	position: relative;
	// @media #{$mediaquery_X46} {  // $mediaquery_X46 support 1:1 of screen 768px-992px
	// 	padding-top: 3.5rem;
	// }
	@media #{$mediaquery_X48} {
		padding-top: 3.5rem;
	}

	.left-container {
		margin-top: -3rem;
		.circle-box {
			width: $largeCircleWidth;
			height: $largeCircleWidth;
		}
		@media #{$mediaquery_X45} {
			.circle-box {
				width: 18rem;
				height: 18rem;
			}
		}
		// @media #{$mediaquery_X46} {
		// 	margin-top: -2rem;
		// 	.circle-box {
		// 		width: 10rem;
		// 		height: 10rem;
		// 	}
		// }
		@media #{$mediaquery_X47} {
			.circle-box {
				width: 18rem;
				height: 18rem;
			}
		}
		@media #{$mediaquery_X48} {
			margin-top: -2rem;
			.circle-box {
				width: 10rem;
				height: 10rem;
			}
		}
		.circle-desc {
			width: 12rem;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -6rem;
			margin-top: -2rem;
			text-align: center;
			p {
				font-size: 1.6rem;
				line-height: 1.1;
			}
			b {
				font-size: 1.2rem;
			}
			@media #{$mediaquery_X45} {
				width: 12rem;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -6rem;
				margin-top: -2rem;
			}
			// @media #{$mediaquery_X46} {
			// 	position: initial;
			// 	width: auto;
			// 	margin-top: 1rem;
			// 	margin-left: 0;
			// }
			@media #{$mediaquery_X47} {
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -6rem;
				margin-top: -2rem;
			}
			@media #{$mediaquery_X48} {
				position: initial;
				width: auto;
				margin-top: 1rem;
				margin-left: 0;
			}
		}
	}

	.side {
		margin-left: -1rem;
		svg {
			width: $largeSideWidth;
		}
	}
	// @media #{$mediaquery_X46} {
	// 	.side {
	// 		margin-left: 0;
	// 		svg {
	// 			width: 1.5rem;
	// 		}
	// 	}
	// }
	@media #{$mediaquery_X48} {
		.side {
			margin-left: 0;
			svg {
				width: 1.5rem;
			}
		}
	}

	.right-container {
		background-color: $main_darker;
		padding: 2rem;
		border-radius: 0 0.5rem 0.5rem 0.5rem;
		.title {
			font-size: 2rem;
		}
	}

	@media #{$mediaquery_X43} {
		.follow-btn {
			padding-left: calc(#{$largeCircleWidth + $largeSideWidth} + 1rem);
		}
	}

	.desc {
		font-size: 1.4rem;
	}

	.button {
		max-width: 50%;
	}

    vtr-ui-button {
        ::ng-deep .vtr-ui-button {
          .button-box .button {
            width: 100%;
          }
        }
    }

    .offline-icon {
      fa-icon {
        font-size: 10rem;
        ::ng-deep svg {
          color: $light;
        }
      }
    }
  }
}
