<div class="subpage-creator-settings vtr-subpage row vtr-page-columns">
	<div class="col-lg-7 col-xl-8 vtr-subpage-left-column">
		<vtr-ui-header-subpage [title]="'smb.creatorCentre.creatorSettings.title' | translate"
			[caption]="'smb.creatorCentre.creatorSettings.desc' | translate" [textId]="'smb-creator-settings'">
		</vtr-ui-header-subpage>

		<div class="row py-5" id="Creator Settings">
			<div class="col-12 px-0 creator-settings-block">
				<vtr-container-collapsible [collapseLinkId]="'creatorSettings'" [headerLevel]="3"
					[cardTitle]="'smb.creatorCentre.creatorSettings.title' | translate" componentName="Creator Settings"
					[isCollapsed]="false" [allowCollapse]="true" [theme]="'white'" [tabIndex]="0">
					<ul class="list-group list-group-flush">
						<li class="common-li-padding" *ngIf="intelligentPerformanceVisible">
							<vtr-intelligent-performance
							(intelligentPerformanceCapability)="updateIntelligentPerformanceCapability($event)"
							></vtr-intelligent-performance>
						</li>
                        <li class="common-li-padding"
                            *ngIf="hdrCapability">
							<vtr-color-settings></vtr-color-settings>
                        </li>
					</ul>
				</vtr-container-collapsible>
			</div>
		</div>
	</div>

	<div class="col-lg-5 col-xl-4 vtr-subpage-right-column">
		<div class="col mt-40">
			<vtr-promotion-banner *ngIf="intelligentPerformanceVisible"
				[title]="'smb.creatorCentre.creatorSettings.bannerITS.title' | translate"
				[description]="'smb.creatorCentre.creatorSettings.bannerITS.desc' | translate"
				[imgSrc]="'assets/icons/Icon_ITS.png'"
			></vtr-promotion-banner>
		</div>
	</div>
</div>