@import '../../../../../app.theme';
.subpage-creator-settings {
	ul.list-group {
		list-style-type: none;
	}
	.vtr-subpage-left-column {
		::ng-deep .left-border {
			border-left: 0.7rem solid $smb_navy;
			@media #{$white-on-black} {
				border-left: 0.7rem solid $high-contrast-black-cyan;
			}
			@media #{$black-on-white} {
				border-left: 0.7rem solid $high-contrast-white-dark-magenta;
			}
		}
	}

	.card-content {
		margin-top: -8.5rem;
		@media #{$breakpoint_lg} {
			margin-top: -1rem;
		}
	}
}
