<div class="row">
	<h2 class="col title">{{ 'hardwareScan.title' | translate }}</h2>
</div>
<div class="row">
 	<div class="col button-row">
		<vtr-ui-button
			linkId="hwscan-quick-scan-btn"
			[vtrMetricEnabled]="false"
			[label]= " 'hardwareScan.quickScan' | translate "
			[isDisabled]="disableButtonScan"
			[tooltipText] =" 'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate "
			(onClick)="onQuickScan()">
		</vtr-ui-button>
		<vtr-ui-hyperlink-button
			linkId="hwscan-custom-scan-btn"
			linkRole="button"
			class="hyperlink-container"
			hyperlinkStyle="xs-white"
			metricsParent="HardwareScan"
			metricsItem="HardwareScan.CustomizeScan"
			[isDisabled]="disableButtonScan"
			[label]="'hardwareScan.customize.name' | translate"
			[ngbTooltip]="('hardwareScan.reminderTimeRetrieveHardwareInformation' | translate)"
			tooltipClass="vtr-system-tooltip"
			[upperCaseLabel]="true"
			(hyperlinkClick)="onAnchor()">
		</vtr-ui-hyperlink-button>
	</div>
</div>
