@import '../../../../../app.theme';

.title {
	color: $light;
	font-size: $fontsize_xl;
	font-weight: $weight_600;
	padding: 2.4rem 2.4rem 0.5rem;
}

.button-row {
	padding: 2.4rem;
	display: flex;

	::ng-deep .vtr-ui-button {
		.button-box {
			padding-left: 0;
		}
	}

	.hyperlink-container {
		margin: 0 0 0 1.9rem;
	}
}
