<div class="vtr-home-security-account-status">
	<div class="title mb-4">{{'homeSecurity.accountStatus.title' | translate}}</div>
	<div *ngIf="!account?.state" class="d-flex justify-content-center">
		<div class="spinner-border text-primary progress-spinner" role="status">
		</div>
	</div>
	<div class="description mb-5" *ngIf="account?.state === 'local'">
		<div>{{'homeSecurity.accountStatus.localAccountDetail2' | translate}}</div>
	</div>
	<div class="description mb-5" *ngIf="account?.state === 'trial'">
		<div *ngIf="account?.expiration" class="trial-description mb-2">{{'homeSecurity.accountStatus.inTrialDetail1' | translate: {remainingDays: account?.expiration | daysInterval: account?.standardTime } }}</div>
		<div>{{'homeSecurity.accountStatus.inTrialDetail2' | translate}}</div>
	</div>
	<div class="description mb-5" *ngIf="account?.state === 'trialExpired'">
		<div class="text-danger mb-2">{{'homeSecurity.accountStatus.trialExpiredDetail1' | translate}}</div>
		<div>{{'homeSecurity.accountStatus.trialExpiredDetail2' | translate}}</div>
	</div>
	<div class="description mb-5" *ngIf="account?.state === 'standard'">
		<div *ngIf="account?.expiration" class="text-success mb-2">{{'homeSecurity.accountStatus.upgradedDetail1' | translate: { expiredDate: account?.expiration | date:'dd/MM/yyyy' } }}</div>
		<div>{{'homeSecurity.accountStatus.upgradedDetail2' | translate}}</div>
	</div>
	<div class="startTrial-btn mb-5">
		<vtr-ui-button *ngIf="account?.state === 'local'"
			id="chs-account-btn-startTrial" aria-label="chs-account-btn-startTrial"
			(click)="common?.startTrial()"
			[isFullWidth]="true"
			metricsEvent="FeatureClick"
			metricsItem="CHSStartTrialButton"
			[label]="'homeSecurity.accountStatus.startTrial' | translate"
			[title]="'homeSecurity.accountStatus.startTrial' | translate"
			[isDisabled]="common?.startTrialDisabled">
		</vtr-ui-button>
		<vtr-ui-button *ngIf="account?.state === 'trial' || account?.state === 'trialExpired'"
			id="chs-account-btn-upgradeAccount" aria-label="chs-account-btn-upgradeAccount"
			(click)="common?.upgrade()"
			[isFullWidth]="true"
			metricsEvent="FeatureClick"
			metricsItem="upgradeAccount"
			[label]="'homeSecurity.accountStatus.upgradeAccount' | translate"
			[title]="'homeSecurity.accountStatus.upgradeAccount' | translate">
		</vtr-ui-button>
		<vtr-ui-button *ngIf="account?.state === 'standard'"
			id="chs-account-btn-manageAccount" aria-label="chs-account-btn-manageAccount"
			(click)="common?.openCornet('login')"
			[isDisabled]="!common?.connectedHomeSecurity?.account?.consoleUrl"
			[isFullWidth]="true"
			metricsEvent="FeatureClick"
			metricsItem="manageAccount"
			[label]="'homeSecurity.accountStatus.manageAccount' | translate"
			[title]="'homeSecurity.accountStatus.manageAccount' | translate">
		</vtr-ui-button>
	</div>
	<a class="already-account text-uppercase"
		*ngIf="account?.state === 'trial' || account?.state === 'trialExpired'"
		[ngClass]="{'disabled': !common?.connectedHomeSecurity?.account?.consoleUrl}"
		href="javascript:void(0)" target="_blank"
		(click)="common?.openCornet('profile')"
		id="chs-account-alreadyHaveAccount"
		attr.aria-label="chs-account-alreadyHaveAccount"
		vtrMetrics
		metricsEvent="featureClick"
		metricsItem="alreadyHaveAccount">
		{{'homeSecurity.accountStatus.alreadyHaveAccount' | translate}}
	</a>
</div>
