@import "../../../styles/common-blocks";

:host {
	display: block;
}

.check-breaches {
	width: 100%;

	&__title {
		@extend %subtitle;
		margin: 0;
	}

	&__text {
		@extend %text-common;
		font-size: 1.6rem;
		margin: 0;
	}

	&__text-content {
		margin: 2rem 0;
	}

	&__description {
		margin: 2rem 0 0 0;

		&--first-scan {
			margin: 5rem 0 0 0;
		}
	}

	&__preview-link {
		@extend %button-link;
		padding: 0;
		border-bottom: 1px solid #2D62D8;

		&:before {
			display: none;
		}
	}

	&__limit-pitch {
		width: 100%;
	}
}

.check-breaches-description {
	display: flex;
	margin: 3rem 0 2rem 0;

	&__text {
		color: #667481;
		font-size: 1.6rem;
		font-weight: bold;
		margin: 0 2rem 0 0;
	}

	&__link {
		color: #4A90E2;
		font-size: 1.6rem;
		font-weight: bold;
		text-decoration: underline;
		margin: 0;
	}
}

.check-breaches-risks {
	display: flex;
	justify-content: space-between;
	padding: 2rem 2rem 2rem 3rem;
	border: 1px solid #ECF0F1;
	border-radius: 8px;
	background: linear-gradient(315deg, #FBFDFE 0%, #F3F7F9 100%);

	&__text-col {
		margin: 0 6rem 0 0;
	}

	&__img-col {
		align-self: center;
		max-width: 20.8rem;
	}

	&__img {
		width: 100%;
		display: block;
		line-height: 1px;
	}

	&__description {
		margin: 0 0 2rem 0;
	}

	&__title {
		text-transform: uppercase;
		color: #34495E;
		font-size: 1.6rem;
		font-weight: bold;
		line-height: 2.3rem;
	}

	&__text {
		color: #667481;
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 2.3rem;
		margin: 1rem 0 0 0;
	}

	&__link {
		font-size: 1.3rem;
		text-decoration: underline;
	}

	&__img {
	}
}
