<div class="privacy-dashboard">
    <h2 class="privacy-dashboard__title">Privacy control at a glance</h2>
    <vtr-privacy-dashboard-list></vtr-privacy-dashboard-list>
</div>

<div class="installed-page">
    <div class="installed-page__title-line">
        <h3 class="installed-page__title">Who’s tracking you online</h3>
        <button class="installed-page__read-more-link">
            <span class="">Read more</span>
        </button>
    </div>
    <p class="installed-page__text">
        Lenovo Privacy by FigLeaf has blocked trackers on sites within the green bubble above, keeping you private while you do the things you love online.
    </p>
    <div class="installed-page__browser">

    </div>
</div>

<button class="btn btn-primary btn-lg" (click)="backClicked()"><= back</button>
