@import "../../styles/common-blocks";

.installed-page {
  margin: -5.6rem 0 0 0;
  &__tracking-map {
    @extend %common-block-wrapper;
  }

  &__title-line {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem;
  }

  &__title {
    @extend %subtitle;
  }

  &__read-more-link {
    @extend %button-link;
    @extend %button-link--to-right;

    span {
      @extend %button-link__text;
    }
  }

  &__text {
    color: #667481;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.3rem;
    margin: 0;
  }
}

.browser-accounts-block {
  @extend %common-block-wrapper;
  margin: 5rem 0 0 0;
  padding: 3.5rem 4rem 4rem 4rem;
  &__title {
    @extend %subtitle;
    margin: 0 0 2rem 0;
  }
  &__text {
    @extend %text-common;
    margin: 0 0 2rem 0;
  }
}

.figleaf-stored-accounts {
  border: 1px solid #DBEBDC;
  border-radius: 8px;
  background: linear-gradient(45deg, #F7FFF6 0%, #FFFFFF 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 2rem;
  &__img {}
  &__details-col {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2rem;
  }
  &__title {
    color: #34495E;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.9rem;
    padding: 0 5rem 0 0;
    margin: 0;
  }
  &__btn {
    @extend %theme-btn;
  }
}