@import '../../../styles/common-blocks';
@import '../../../styles/mixins';

.confirm {
	width: 100%;
	&__close-btn {
		position: absolute;
		top: 2.3rem;
		right: 2.3rem;
		border: none;
		padding: 0;
		margin: 0;
		width: 2rem;
		height: 2rem;
		background: url("src/assets/icons/privacy-tab/close-icon.svg") center center no-repeat;
		background-size: contain;
	}
	&__title {
		color: #194A65;
		font-size: 2.5rem;
		line-height: 2.9rem;
		margin: 0 0 3rem 0;
		font-weight: 400;
	}
	&__confirm-btn-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 4rem;
	}
	&__confirm-btn {
		@extend %theme-btn;
		min-width: 25rem;
		&--error {
			background: linear-gradient(270deg, #E2E2E2 0%, #C2C6CF 100%);
		}
	}
}

.confirm-content {
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid #ECF0F1;
	&__container-top {
		background: #F5F7F8;
		width: 100%;
		padding: 2rem;
		&--error {
			border-radius: 10px 0 0 10px;
		}
	}
	&__inner-wrapper {
		min-width: 30rem;
		flex-shrink: 1;
	}
	&__title {
		@extend %text-common;
		margin: 0;

		&--bold {
			font-weight: 600;
		}
	}
	&__steps {
		padding: 3rem 1.5rem 2.8rem 1.5rem;
	}
}

.verification-input {
	margin-top: 2rem;
	&__input {
		height: 6rem;
		width: 100%;
		border: 2px solid #E6EAEB;
		border-radius: 6px;
		text-align: center;
		letter-spacing: 5rem;
		color: #34495E;
		font-size: 25px;
		font-weight: 500;
		outline: none;
		padding: 0 0 0 1.5rem;
		&::-ms-clear {
			display: none;
		}
		&:focus {
			border: 2px solid #4A81FD;
		}
		&--error {
			&, &:focus {
				border: 2px solid #F66A5B;
				color: #F66A5B;
			}
		}
	}
}

.confirm-failure {
	margin: 1rem 0 0 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	&__text {
		font-size: 1.6rem;
		color: #667481;
		line-height: 2.3rem;
		margin: 0;
		padding: 0 2rem 0 0;
	}
	&__btn {
		@include href();
		border: none;
		border-bottom: 1px solid #2D62D8;

		background: transparent;
		text-transform: uppercase;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 2.3rem;
		margin: 0;
		padding: 0 0 2px 0;
	}
}

.confirm-error {
	border-radius: 0 0 6px 6px;
	background-color: #F66A5B;
	padding: 0.7rem 2rem 0.6rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	&__img {
		height: 2.3rem;
		width: auto;
	}
	&__text {
		color: #FFFFFF;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 2.3rem;
		margin: 0 0 0 1.4rem;
	}
}
