<div class="confirm">
	<form action="" (submit)="confirmCode()" [formGroup]="confirmationForm">

		<h2 class="confirm__title">Let’s confirm your email</h2>

		<div class="confirm-content">
			<div class="confirm-content__container-top"
				 [class.confirm-content__container-top--error]="isBackendError$ | async">
				<div class="confirm-content__inner-wrapper">
					<p class="confirm-content__title">Check
					<span class="confirm-content__title--bold">{{userEmail}}</span> for a verification code and enter it below.</p>
					<div class="verification-input">
						<input #confirmationInput
							   class="verification-input__input"
							   [class.verification-input__input--error]="isBackendError$ | async"
							   type="text" maxlength="6" vtrNumbersOnly
							   formControlName="confirmationCode">
					</div>
				</div>
			</div>

			<div *ngIf="(isShowError$ | async) || (isBackendError$ | async)" class="confirm-error">
				<img class="confirm-error__img" src="assets/icons/privacy-tab/error-white.svg" alt="">
				<p class="confirm-error__text">Invalid code.</p>
			</div>
		</div>

		<div class="confirm__confirm-btn-wrapper">
			<button class="confirm__confirm-btn"
					vtrSendAnalytics
					[metricsEvent]="'ItemClick'"
					[metricsItem]="'BreachedAccountsConfirmEmailButton'"
					[class.confirm__confirm-btn--error]="(isShowError$ | async) || (isBackendError$ | async)"
					[disabled]="(isShowError$ | async) || (isBackendError$ | async)"
					vtrOfflineMode
					type="submit">
				Confirm
			</button>
			<button type="reset"
					class="confirm-failure__btn"
					vtrSendAnalytics
					[metricsEvent]="'ItemClick'"
					[metricsItem]="'BreachedAccountsSendCodeAgainLink'"
					vtrOfflineMode
					(click)="resendConfirmationCode()">
				Send the code again
			</button>
		</div>
	</form>
</div>
