
@import "../../../app.theme";

.vtr-ui-hardware-scan-test-result {

	.item-right {
		display: flex;
		justify-content: right;
		align-items: center;

		.module-result-text {
			padding: 0 1rem;
			font-size: $fontsize_xs2;
			font-weight: $weight_bold;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}

	.text-status {
		margin: 0rem;
	}

	.not-applicable {
		color: $light-grey;
	}

	.warning {
		color: $warning_light;
	}

	.test-status-icon {
		display: inline-block;
		border-radius: 50%;
		height: 2rem;
		width: 2rem;
		text-align: center;
		background: $green-gradient;
		background-color: $green-darker;
		border: 2px solid $green-dark;
		opacity: 1;

		fa-icon {
			font-size: $fontsize_xs2;
			line-height: 1.6rem;
			margin-bottom: 1rem;
			color: $light;
		}
	}

	.na-icon {
		font-size: $fontsize_lg;
	}
}
