@import '../../../../../app.theme.scss';

$icon_size: 2.4rem;
$clean_icon_size: 1.6rem;
$font_size: 1.4rem;
$line_height: 2rem;

:host {
	.widget-root {
		background: $light;
		box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
		border: 1px solid $menu_hover;
		border-radius: 0.5rem;
		height: 6rem;
		padding: 0.2rem;

		.search-icon-box {
			width: $icon_size + 3rem;

			.search-icon {
				font-size: $icon_size;
				color: $menu_hover;
			}
		}

		.search-input-box {
			.search-input {
				font-size: $font_size;
				border: none;
				outline: none;

				&:focus {
					border: none;
					outline: none;
				}
			}

			::-ms-clear {
				display: none;
			}

			.clean-button-box.mat-button {
				padding: 0;
				margin: 0;
				min-width: initial;
				height: 100%;

				.clean-button {
					position: relative;
					font-size: $clean_icon_size;
					height: 100%;
					width: $clean_icon_size + 3rem;
					cursor: pointer;

					&::before,
					&::after {
						position: absolute;
						content: '';
						height: 1px;
						width: 2rem;
						top: 50%;
						left: 50%;
						margin-left: -1.2rem;
						background: rgba(102, 116, 129);
					}

					&::before {
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
					}

					&::after {
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}

					&:hover {
						&::before,
						&::after {
							background: $menu_hover;
						}
					}
				}
			}
		}

		.search-btn-box {
			padding: 0 1rem;

			.search-btn {
				line-height: 3.6rem;
				padding: 0 3rem;
				font-size: $font_size;
				text-transform: uppercase;
				border-radius: 3rem;
				color: $light;
				font-weight: bold;
				background-color: transparent $gradient_blue 0% 0% no-repeat padding-box;
				&:disabled {
					background-color: $button_disable;
				}
			}
		}
	}
}

:host-context(.is-gaming) {
	.search-btn {
		color: $gaming_lightest;
		&:disabled {
			background-color: $button_disable;
		}
	}
}
