@import "../../../../app.theme.scss";
.caption {
	font-size: $fontsize_xs;
	font-weight: $weight_light;
    color: $purple_navy;
}
.input-item{
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    &:first-child{
        padding: 1.5rem 0;
    }
    &:last-child{
        margin-bottom: 3rem;
    }
    .dropdown{
        ::ng-deep .vtr-ui-dropdown{
            margin-top: 3rem;
        }
        // @media screen and (max-width:640px){
        //     width: 100%;
        // }
	}
	::ng-deep .vtr-ui-switch-row.white-theme {
		.vtr-col-pad, .col-12{
			padding-left: 0;
		}
	}
}
