<p class="caption"
	id="activeProtectionSystem-advanced-settings-desc"
	role="text">
	{{'device.smartAssist.activeProtectionSystem.advanced.description' | translate}}
</p>
<div class="row">
	<div class="col">

		<li *ngIf="penCapability"
			class="input-item">
			<div>
				<vtr-ui-row-switch [title]="'device.smartAssist.activeProtectionSystem.advanced.pen.title' | translate"
					[headingLevel]="-1"
					[caption]="'device.smartAssist.activeProtectionSystem.advanced.pen.description' | translate"
					[theme]="'white'"
					[isSwitchVisible]="true"
					[showChildContent]="true"
					[isSwitchChecked]="penStatus"
					(toggleOnOff)="setPenSetting($event)"
					[isMetricsEnabled]=false
					[switchId]="'activeProtectionSystem-advanced-pen'">
					<div class="dropdown col-sm-6 pl-0">
						<vtr-ui-dropdown [dropDownId]="'penIntervalsDropDown'"
							[isMetricsEnabled]=true
							[metricsParent]="metricsParent"
							[metricsItem]="'dropdown.aps.pen-input-time'"
							*ngIf=" penStatus "
							[list]="intervals"
							[value]="penDelay"
							(selectionChange)="setPenDelayTime($event)">
						</vtr-ui-dropdown>
					</div>
				</vtr-ui-row-switch>
			</div>
		</li>

		<li *ngIf="touchCapability"
			class="input-item">
			<div>
				<vtr-ui-row-switch
					[title]="'device.smartAssist.activeProtectionSystem.advanced.touch.title' | translate"
					[headingLevel]="5"
					[theme]="'white'"
					[isSwitchVisible]="true"
					[showChildContent]="true"
					[isSwitchChecked]="touchStatus"
					(toggleOnOff)="setTouchInputSetting($event)"
					[isMetricsEnabled]=false
					[switchId]="'activeProtectionSystem_touchInput'">
				</vtr-ui-row-switch>
			</div>
		</li>

		<li *ngIf="pSensorCapability"
			class="input-item">
			<div>
				<vtr-ui-row-switch [title]="'device.smartAssist.activeProtectionSystem.advanced.hand.title' | translate"
					[headingLevel]="5"
					[theme]="'white'"
					[isSwitchVisible]="true"
					[showChildContent]="true"
					[isSwitchChecked]="pSensorStatus"
					(toggleOnOff)="setPSensorSetting($event)"
					[isMetricsEnabled]=false
					[switchId]="'activeProtectionSystem_advanced_hand'">
				</vtr-ui-row-switch>
			</div>
		</li>
	</div>
</div>
