@import "../../../../../app.theme";

.vtr-hardware-components {
	.body-content {
		border-radius: 0rem 0rem 0.5rem 0.5rem;
		@include high-contrast-border;
	}

	.hardwarescan-background {
		border-radius: 0.5rem;
		border-bottom-left-radius: 0rem;
		border-bottom-right-radius: 0rem;
		height: 100%;
		width: 100%;
		background: linear-gradient($gradient_angle, $main_darkest 0%, $main_darker 100%);
		box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);

		@include high-contrast-border;
		@media #{$high-contrast} {
			border-bottom: none;
		}
	}
	
	.header2{
		padding: 1rem 1.5rem;
		align-items: center;
		color: $menu_hover;
		font-size: $fontsize_xl;
		font-weight: $weight_light;
		&::first-letter {
			text-transform: uppercase;
		}
	}

	.button-box {
		padding: 0.5rem;
		@media #{$mediaquery_7} {
			margin-top: 1.2rem;
		}

		.button {
			min-height: 3rem;
			border-radius: 3rem;
			min-width: 6rem;
			background: $gradient_main;
			border: none;
			color: $light;
			font-size: $fontsize_xs2;
			font-weight: $weight_bold;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			// cursor: pointer;
			padding: 0 2.5rem;
		}
	}

	.warning {
		color: $warning_dark;
	}

	.not-applicable {
		color: $light-grey;
	}
	
	.link-support {
	padding-top: 1rem;
	text-decoration: underline;
	&:hover {
		color: $menu_hover;
		text-decoration: none;
	}
}
}
