@import "../../../app.theme.scss";
.wifi-security-invitation-modal {
	border-radius: $border_radius;
	background: $light;
	background-size: cover;
	color: $main_dark;
	box-shadow: $drop_shadow;
	padding: 4rem;
	position: relative;
	h1 {
		font-size: 2.6rem;
		font-weight: $weight_regular;
		color: $main_dark;
		letter-spacing: 0;
	}
	.description {
		font-size: 1.3rem;
		font-weight: $weight_bold;
		color: $main_dark;
		text-transform: uppercase;
		opacity: .4;
		letter-spacing: 0;
	}
	.header-description {
		text-transform: none;
		font-weight: $weight_600;
	}
	.close-btn{
		position: absolute;
		right: 1.8rem;
		top: 1.8rem;
		width: 2.2rem;
		height: 2.2rem;
		cursor: pointer;
		&:hover{
			opacity: .7;
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			text-decoration: none;
			font-size: 2rem;
			color: $light;
		}
	}
	.code-input-group{
		box-shadow: $drop_shadow;
		border: 1px solid $grey_light;
		border-radius: $border_radius_sm;
		&.input-focus {
			border: 1px solid $menu_hover;
		}
		input{
			font-weight:$weight_bold;
		}
		label{
			font-size: 1.3rem;
			font-weight: $weight_bold;
			color: $main_dark;
			text-transform: uppercase;
			opacity: .4;
			letter-spacing: 0;
		}
		input:disabled{
			background-color: $light!important
		}
		.form-control{
			border: 0px;
			font-size: 1.6rem;
			padding: 1.5rem 3rem 1.5rem 0;
			letter-spacing: 0.2rem;
			text-transform: uppercase;
			margin-bottom: 0.1rem;
			margin-top: 0.1rem;
			margin-left: 2rem;
			width: 80%;
		}
		.form-control:focus{
			box-shadow: 0px 0px;
		}
	}
	.modal-button {
		background: $gradient_main;
		border-radius: 6rem;
		padding: 0 3rem;
		font-size: 1.5rem;
		color: $light;
		font-weight: $weight_bold;
		margin: 1rem;
	}
	vtr-ui-button {
		display: inline-block;
	}
	.cancel-button {
		background: $light;
		color: $blue-lighter;
		border-bottom: 1px solid $blue-light;
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;
		&:hover {
			color: $blue-light;
		}
	}

	.join-info{
		line-height: 2.5rem;
		font-size: 1.3rem;
		font-weight: $weight_bold;

		.joinGroupSuccess{
			height: 20rem;
			justify-content: center;
			align-items: center;
		}
		.success{
			font-weight: $weight_medium;
			font-size: 2rem;
			line-height: 3rem;
			color: $shade_blue;
		}
		.successtitle{
			font-weight: $weight_regular;
			font-size: 1.5rem;
			margin: 0.5rem 0 2rem;
		}
		.failed{
			color: $alt;
			font-weight: $weight_medium;
			font-size: 1.8rem;
		}
	}

	.divider {
		height: 0.1rem;
		background-color: $shade_lighter;
	}
	.joinfailed{
		border: 1px solid $border_light;
		background-color: $text_light;
		box-shadow: none;

		input{
			color: $alt;
			background-color: $text_light;
		}
	}

	.loading-container {
		height: 20rem;
		display: flex;
		align-items: center;
		justify-content: center;
		.spinner-border {
			color: $blue-light;
			width: 6rem;
			height: 6rem;
			border-width: 0.5rem;
		}
		.connecting {
			font-size: 2rem;
		}
	}

	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color: $shade_light;
		text-transform: lowercase;
	}
}
