<div class="wifi-security-invitation-modal">
	<div role="button" class="close-btn" (click)="onCancelClick($event)"
			id="chs-btn-inviatation-close"
			vtrMetrics
			metricsItem="CHSInvitationCloseButton"
			metricsEvent="featureClick"
			metricsParent="{{metricsParent}}">
			<img [src]=" 'assets/icons/Close.svg' | svgInline | async" alt="" srcset="">
	</div>
	<div class="content-container" *ngIf="!startJoin">
		<h1 *ngIf="!joinSuccess" [innerHTML]="header | translate"></h1>
		<p *ngIf="!joinSuccess" class="description header-description pb-3"
			[innerHTML]="headerDescription | translate">
		</p>
		<p *ngIf="!joinSuccess" class="description mt-5 mb-3"
			[innerHTML]="description | translate">
		</p>
		<div class="form-group code-input-group p-3" [ngClass]="{'d-none': joinSuccess, 'joinfailed': joinFailed, 'input-focus': isFocusIn}">
			<input type="text" id="chs-btn-inviatation-input" class="form-control"
				placeholder="{{'security.homeprotection.invitationcode.invitationCode' | translate}}" #code
				(keyup)="KeyPress($event)"
				(keyup.enter)="joinGroupBy(code.value)"
				(focusin)="focusIn()"
				(focusout)="focusOut()" maxlength="6">
		</div>
		<div class="join-info">
			<div class="d-flex flex-column" [ngClass]="{'joinGroupSuccess':joinSuccess}">
				<div *ngIf="joinSuccess" class="successIcon pb-5">
					<img [src]=" 'assets/images/connected-home-security/success-join.svg' | svgInline | async">
				</div>
				<div class="success pl-3" *ngIf="joinSuccess" [innerHTML]="'security.homeprotection.invitationcode.success' | translate"></div>
			</div>
			<div class="failed" *ngIf="joinFailed" [innerHTML]="'security.homeprotection.invitationcode.fail' | translate"></div>
		</div>
		<div class="divider mt-5" *ngIf="!joinSuccess"></div>
		<div class="d-flex flex-row">
			<div class="ml-0 mr-4 pl-0 mt-4">
				<vtr-ui-button *ngIf="!joinSuccess"
					metricsEvent="featureClick"
					metricsItem="connect"
					(onClick)="joinGroupBy(code.value)"
					[title]="'security.homeprotection.invitationcode.connect' | translate"
					[label]="'security.homeprotection.invitationcode.connect' | translate"
					[isDisabled]="!(code.value.length === 6)"
					btnHeight=true
					linkId="chs-btn-inviatation-connect">
				</vtr-ui-button>
				<button id="chs-btn-inviatation-cancel" class="btn btn-default modal-button cancel-button"
					vtrMetrics
					metricsItem="CHSInvitationCancelButton"
					metricsEvent="featureClick"
					metricsParent="{{metricsParent}}"
					(click)="onCancelClick(code.value)"
					*ngIf="!joinSuccess"
					[innerHTML]="'security.homeprotection.invitationcode.cancel' | translate">
				</button>
			</div>
		</div>
	</div>
	<div class="loading-container flex-column" *ngIf="startJoin">
		<div class="spinner-border text-primary progress-spinner" role="status"></div>
		<div class="connecting mt-5" [innerHTML]="'security.homeprotection.invitationcode.connecting' | translate"></div>
	</div>
</div>
