@import '../../../app.theme.scss';
.wifi-security-invitation-dialog {
	background: $light;
	background-size: cover;
	color: $main_dark;
	padding: 2rem 2rem 0 2rem;
	position: relative;
	h1 {
		font-size: 2.6rem;
		font-weight: $weight_regular;
		color: $main_dark;
		letter-spacing: 0;
	}
	.description {
		font-size: 1.3rem;
		font-weight: $weight_bold;
		color: $main_dark;
		text-transform: uppercase;
		opacity: 0.4;
		letter-spacing: 0;
	}
	.header-description {
		text-transform: none;
		font-weight: $weight_600;
	}
	.closeButton {
		top: -1.5rem;
		right: -1.5rem;
		height: 2.4rem;
		width: 2.4rem;
		color: $grey_darker;

		&:focus {
			outline: 0.1rem solid $menu_hover;
		}
		&:hover {
			color: $menu_hover;
		}
	}
	.close-btn {
		position: absolute;
		right: 1.8rem;
		top: 1.8rem;
		width: 2.2rem;
		height: 2.2rem;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			text-decoration: none;
			font-size: 2rem;
			color: $light;
		}
	}
	.code-input-group {
		box-shadow: $drop_shadow;
		border: 1px solid $grey_light;
		border-radius: $border_radius_sm;
		&.input-focus {
			border: 1px solid $menu_hover;
		}
		input {
			font-weight: $weight_bold;
		}
		label {
			font-size: 1.3rem;
			font-weight: $weight_bold;
			color: $main_dark;
			text-transform: uppercase;
			opacity: 0.4;
			letter-spacing: 0;
		}
		input:disabled {
			background-color: $light !important;
		}
	}
	.modal-button {
		background: $gradient_main;
		border-radius: 6rem;
		padding: 0 3rem;
		font-size: 1.5rem;
		color: $light;
		font-weight: $weight_bold;
		margin: 1rem;
	}
	vtr-ui-button {
		display: inline-block;
	}

	.join-info {
		line-height: 2.5rem;
		font-size: 1.3rem;
		font-weight: $weight_bold;

		.joinGroupSuccess {
			height: 20rem;
			justify-content: center;
			align-items: center;
		}
		.successIcon {
			@media #{$black-on-white} {
				filter: grayscale(100%) contrast(8000%);
			}
			@media #{$white-on-black} {
				filter: grayscale(100%) invert(1) contrast(8000%);
			}
		}
		.success {
			font-weight: $weight_medium;
			font-size: 2rem;
			line-height: 3rem;
			color: $shade_blue;
			&:focus {
				outline: 0rem;
			}
		}
		.successtitle {
			font-weight: $weight_regular;
			font-size: 1.5rem;
			margin: 0.5rem 0 2rem;
		}
	}

	.divider {
		height: 0.1rem;
		background-color: $shade_lighter;
	}
	.joinfailed {
		border: 1px solid $border_light;
		background-color: $text_light;
		box-shadow: none;

		input {
			color: $alt;
			background-color: $text_light;
		}
	}

	.loading-container {
		height: 20rem;
		display: flex;
		align-items: center;
		justify-content: center;
		.spinner-border {
			color: $blue-light;
			width: 6rem;
			height: 6rem;
			border-width: 0.5rem;
		}
		.connecting {
			font-size: 2rem;
			&:focus {
				outline: 0rem;
			}
		}
	}

	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color: $shade_light;
		text-transform: lowercase;
	}

	.invitation-input-box {
		letter-spacing: 0.2rem;
		padding: 1rem 2rem;
		font-size: 1.6rem;
	}

	.mat-error {
		font-weight: $weight_medium;
		font-size: 1.8rem;
	}
}
