<section class="permit">
	<figure class="permit__figure">
		<img src="assets/images/privacy-tab/privacy-search-completed.png"
			 srcset="assets/images/privacy-tab/privacy-search-completed@2x.png 2x"
			 alt="permit">
	</figure>

	<div class="permit__stepper">
		<ng-content select=".stepper"></ng-content>
	</div>

	<h2 class="permit__title">
		Can we scan your browser for potential risks?
	</h2>


	<div class="permit__text-block">
		<p class="permit__text">
			Lenovo Privacy Essentials by FigLeaf needs your permission to find out if you’re storing vulnerable
			accounts in your browser and if tracking tools are collecting information about you.
		</p>
	</div>

	<button class="permit__button"
			vtrSendAnalytics
			vtrOfflineMode
			[metricsEvent]="'ItemClick'"
			[metricsItem]="'ScoreConsentPopupAgreeAndScanButton'"
			(click)="allowEmitter()">
		Agree & Scan
	</button>

	<button class="permit__button--skip"
			vtrSendAnalytics
			[metricsEvent]="'ItemClick'"
			[metricsItem]="'ScoreConsentPopupSkipButton'"
			(click)="disallowEmitter()">
		Skip
	</button>

</section>
