@import "../../styles/common-blocks";

.browser-accounts-page {
	@extend %common-block-wrapper;
	padding: 3.5rem 4rem 4rem 4rem;
	border-radius: 0 0 1rem 1rem;

	&__header {
		margin-bottom: 3rem;
	}

	&__title-block {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		align-content: center;
	}

	&__title {
		@extend %subtitle;
	}

	&__btn {
		@extend %theme-btn;
		min-width: 20rem;
		font-size: 1.3rem;
	}

	&__text {
		@extend %text-common;
		font-size: 1.6rem;
		margin: 0 0 2rem 0;
	}

	&__title--red {
		color: red;
		font-weight: bold;
	}

	&__accounts-stored {
		margin-top: 2rem;
	}
}

.browser-accounts-concent {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ECF0F1;
	border-radius: 5px;
	background-color: #F5F7F8;
	padding: 2.5rem 2rem;
	margin: 0 0 2rem 0;

	&__text-wrapper {
		display: flex;
		align-items: center;
		margin: 0 3.5rem 0 0;
	}

	&__text {
		color: #34495E;
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 2.9rem;
		margin: 0;
	}

	&__btn-wrapper {
	}

	&__btn {
		@extend %theme-btn;
		min-width: 24rem;

		&--transparent {
			@extend %theme-btn--transparent;
		}
	}
}
