<section class="browser-accounts-page"
		 vtrSendAnalytics
		 [metricsEvent]="'PageView'"
		 [attr.data-analyticsName]="(isFigleafReadyForCommunication$ | async) ? 'NonPrivatePassword.PrivatelyStoredPasswordsBlock' : 'NonPrivatePassword.NonPrivatePasswordsBlock'">

	<div class="browser-accounts-page__header">
		<vtr-browser-account-header
			[isNonPrivatePasswordWasScanned]="isNonPrivatePasswordWasScanned$ | async"
			[isFigleafReadyForCommunication]="isFigleafReadyForCommunication$ | async"
			[nonPrivatePasswordCount]="nonPrivatePasswordCount$ | async"
			[dashboardData]="dashboardData$ | async"
			(openFigleafApp)="openFigleafApp()">
		</vtr-browser-account-header>
	</div>

	<div *ngIf="!(isConsentToGetBrowsersAccountsGiven$ | async)" class="browser-accounts-concent">
		<div class="browser-accounts-concent__text-wrapper">
			<p class="browser-accounts-concent__text">
				Show me what private information can be collected by third-party apps.
			</p>
		</div>
		<div class="browser-accounts-concent__btn-wrapper">
			<vtr-ab-tests [testName]="currentTests.PrimaryButtonPitch">
				<button class="browser-accounts-concent__btn"
						*testOption="'Secondary'"
						vtrSendAnalytics
						[metricsEvent]="'ItemClick'"
						[metricsItem]="'NonPrivatePasswordsAcceptAndScanButton'"
						[metricsParam]="{Test: 'PrimaryButtonPitch', Variant: 'Secondary'}"
						(click)="giveConcentToGetBrowserAccounts()">
					ACCEPT & SHOW
				</button>
				<button class="browser-accounts-concent__btn browser-accounts-concent__btn--transparent"
						*testOption="'Primary'"
						vtrSendAnalytics
						[metricsEvent]="'ItemClick'"
						[metricsItem]="'NonPrivatePasswordsAcceptAndScanButton'"
						[metricsParam]="{Test: 'PrimaryButtonPitch', Variant: 'Primary'}"
						(click)="giveConcentToGetBrowserAccounts()">
					ACCEPT & SHOW
				</button>
			</vtr-ab-tests>

		</div>
	</div>

	<vtr-non-private-password [browserStoredAccountsData]="browserStoredAccountsData"></vtr-non-private-password>
</section>
