<section class="browser-accounts-page"
		 vtrSendAnalytics
		 [metricsEvent]="'PageView'">

	<div class="browser-accounts-page__header">
		<vtr-browser-account-header
			[isNonPrivatePasswordWasScanned]="isNonPrivatePasswordWasScanned$ | async"
			[isFigleafReadyForCommunication]="isFigleafReadyForCommunication$ | async"
			[nonPrivatePasswordCount]="nonPrivatePasswordCount$ | async"
			[dashboardData]="dashboardData$ | async"
			(openFigleafApp)="openFigleafApp()">
		</vtr-browser-account-header>
	</div>

	<div *ngIf="!(isConsentToGetBrowsersAccountsGiven$ | async)" class="browser-accounts-concent">
		<div class="browser-accounts-concent__text-wrapper">
			<p class="browser-accounts-concent__text">
				Show me what private information can be collected by third-party apps.
			</p>
		</div>
		<div class="browser-accounts-concent__btn-wrapper">
			<button class="browser-accounts-concent__btn"
					vtrSendAnalytics
					[metricsEvent]="'ItemClick'"
					[metricsItem]="'NonPrivatePasswordsAcceptAndScanButton'"
					(click)="giveConcentToGetBrowserAccounts()">
				ACCEPT & SHOW
			</button>
		</div>
	</div>

	<vtr-non-private-password [browserStoredAccountsData]="browserStoredAccountsData"></vtr-non-private-password>
</section>
