<section class="browser-accounts-page"
		 vtrSendAnalytics
		 [metricsEvent]="'PageView'">

	<div class="browser-accounts-page__header">
		<vtr-feature-header
			[texts]="textForFeatureHeader"
			[isFeatureWasScanned]="isNonPrivatePasswordWasScanned$ | async"
			[isFigleafReadyToCommunication]="isFigleafInstalled$ | async">
			<span class="browser-accounts-page__title--red">{{nonPrivatePasswordCount$ | async}}</span> Non-private
			passwords found
		</vtr-feature-header>
	</div>

	<div *ngIf="!(isConsentToGetBrowsersAccountsGiven$ | async)" class="browser-accounts-concent">
		<div class="browser-accounts-concent__text-wrapper">
			<p class="browser-accounts-concent__text">
				Show me what private information can be collected by third-party apps.
			</p>
		</div>
		<div class="browser-accounts-concent__btn-wrapper">
			<button class="browser-accounts-concent__btn"
					vtrSendAnalytics
					[metricsEvent]="'ItemClick'"
					[metricsItem]="'NonPrivatePasswordsPermissionToAccessButton'"
					(click)="giveConcentToGetBrowserAccounts()">
				ACCEPT & SHOW
			</button>
		</div>
	</div>

	<vtr-non-private-password [browserStoredAccountsData]="browserStoredAccountsData"></vtr-non-private-password>

</section>
