<div class="vtr-ui-rounded-rectangle-radio"
	[ngClass]="{'border-blue':checked && !disabled,
	'border-grey':!checked&&!disabled,
	'large-width': isLarge,
	'border-checked-disabled': checked && disabled,
	'border-disabled': disabled && !checked}">
	<input id="{{radioId}}"
		attr.aria-label="{{radioId}}"
		name="{{group}}"
		type="radio"
		[value]="value"
		[checked]="checked"
		[disabled]="disabled"
		#radio
		(click)="onChange(value)" />
	<label for="{{radioId}}"
		vtrMetrics
		metricsEvent="featureClick"
		[metricsItem]="name"
		[metricsValue]="value"
		id="{{radioId}}"
		attr.aria-label="{{radioId}}">
		<fa-layers [fixedWidth]="true"
			class="icon-circle">
			<fa-icon [icon]="['fal', 'circle']"></fa-icon>
			<fa-icon [icon]="['fas', 'circle']"
				transform="shrink-6"
				*ngIf="checked" class="checked-circle"></fa-icon>
		</fa-layers>
		<span class="label"
			id="{{radioId}}-title"
			attr.aria-label="{{radioId}}-title">{{label}}</span>
	</label>
</div>
