<div class="vtr-ui-rounded-rectangle-radio"
	[ngClass]="{'border-blue':checked, 'border-grey':!checked}">
	<input id="{{radioId}}"
		attr.aria-label="{{radioId}}"
		name="{{group}}"
		type="radio"
		[value]="value"
		[checked]="checked"
		[disabled]="disabled"
		#radio
		(click)="onChange(value)" />
	<label for="{{radioId}}"
		vtrMetrics
		metricsEvent="featureClick"
		[metricsItem]="name"
		[metricsValue]="value">
		<fa-layers [fixedWidth]="true"
			class="icon-circle">
			<fa-icon [icon]="['fal', 'circle']"></fa-icon>
			<fa-icon [icon]="['fas', 'circle']"
				transform="shrink-6"
				*ngIf="checked"></fa-icon>
		</fa-layers>
		<span class="label">{{label}}</span>
	</label>
</div>
