@import "../../../app.theme";

.vtr-ui-rounded-rectangle-radio {
	box-sizing: border-box;
	background: transparent linear-gradient(270deg, $solitude 0%, $grey_lighter 100%) 0% 0% no-repeat padding-box;
	display: inline-block;
	margin-right: 1.5rem;
	margin-bottom: 1rem;
	position: relative;
	width: 25rem;
	height: 6.5rem;
	border-radius: 20rem;
	cursor: pointer;
	outline: none;

	@media #{$breakpoint_xl} {
		width: 20rem;
	}

	label {
		box-sizing: border-box;
		padding: 0rem;
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		z-index: 2;
		overflow: hidden;
			.label {
			// @media #{$mediaquery_X4} {
			// 	padding-right: .5rem;
			// 	font-size: 1rem;
			// 	position: absolute;
			// 	top:1.5rem;
			// 	left:5rem;

			// }
			position: absolute;
			top: 48.5%;
			left: 6rem;
			color: $shade_blue;
			font-size: $fontsize_xs;
			font-weight: $weight_light;
			word-wrap: break-word;
			word-break: break-all;
			padding-right: 1rem;
			transform: translateY(-50%);
		}

		.icon-circle {
			font-size: 3rem;
			color: $grey_darker;
			top: 1.5rem;
			left: 1.3rem;
			.checked-circle{
				color: $menu_hover;
			}
			@media #{$white-on-black}{
				background-color: $dark;
				border:none;
				color: $highlight_bright;
			}
			@media #{$black-on-white}{
				background-color: $light;
				border: none;
				color: $high-contrast-white-textselected;
			}

		}

		fa-icon.icon {
			position: absolute;
			left: 9rem;
			top: 9rem;
			font-size: 3.2rem;
			color: $menu_hover;
			}

		span.question {
			position: absolute;
			left: 9.5rem;
			top: 9.3rem;
			font-size: 1.8rem;
			color: $main;
		}
	}

	input[type="radio"]:not(:checked) + label::after {
		opacity: 0;
		transition: all 1s ease;
		}
	input:checked + label::after {
		opacity: 1;
	}

	input {
		position: absolute;
		visibility: hidden;
	}

	&.border-blue {
		border: 0.2rem solid $dim_gray;
		// transition: all 50ms ease-in;
		@media #{$black-on-white} {
			border: 0.2rem solid $high-contrast-white-textselected;
		}

	}
	&.border-grey {
		border: 0.2rem solid $note_border;
		// transition: all 50ms ease-in;
		@media #{$black-on-white} {
			border: none;
		}

	}
	&.border-disabled {
		border: 0.2rem solid #e6eaeb;
		cursor: default;
		label {
			.icon-circle {
				color: $grey_darker;
			}
		}
	}
	&.border-checked-disabled {
		border: 0.2rem solid #667481;
		cursor: default;
		label {
			.icon-circle {
				color: $grey_darker;
			}
		}
	}
	&.border-disabled {
		border: 0.2rem solid #e6eaeb;
		cursor: default;
		label {
			.icon-circle {
				color: $grey_darker;
			}
		}
	}
	&.border-checked-disabled {
		border: 0.2rem solid #667481;
		cursor: default;
		label {
			.icon-circle {
				color: $grey_darker;
			}
		}
	}
}
.large-width {
	width: 29rem;
}

