@import "../../../app.theme.scss";
.modal-main-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: $screen_dark_50;

	a {
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
}
ui-popover {
	position: absolute;
	min-width: 45rem;
	width: 40%;
	padding: 3rem 5rem;
	background: #fbfdff;
	z-index: 9;
	border-radius: 1rem;
	box-shadow: 0 0.8rem 1.5rem $screen_dark_30;
	right: 0;
	top: 25%;
	left: 0;
	margin: auto;
	@media #{$black-on-white} {
		border: 0.1rem solid $dark;
	}
	@media #{$white-on-black} {
		border: 0.1rem solid $light;
	}
	@media #{$small-screen} {
		max-width: 45rem;
	}
	@media #{$medium-screen} {
		max-width: 50rem;
	}
}

.vtr-ui-macrokey-popup {
	&.modal-body {
		padding: 0;
	}

	.content-body {
		min-height: 10rem;
	}

	fa-icon {
		font-size: 3rem;
		color: $main;
	}

	h1 {
		font-size: 2.5rem;
		font-weight: normal;
		color: $blue-dark;
	}

	p {
		font-size: 1.6rem;
		color: $light-grey;
		padding: 0.5rem 0;
	}

	.btn-close {
		button.close {
			&:hover {
				opacity: 0.75;
			}
		}
	}
	.enable-button {
		background: $gradient_main;
		border-radius: 3rem;
		color: $light;
		font-size: 2rem;
		padding: 1rem 3rem;
		margin-top: 1rem;
		font-weight: $weight_bold;
		//text-transform: uppercase;
	}

	.cancel-link {
		height: 3.2rem;
		color: $main;
		font-size: 2rem;
		vertical-align: middle;
		padding: 0 0.5rem;
		font-weight: $weight_600;
		margin-top: 1.8rem;
		margin-left: 3rem;
		border-bottom: 2px solid $btn_secondary_color;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}
}

::ng-deep {
	.vtr-menu-main {
		z-index: 100 !important;
	}
	.vtr-page-content {
		z-index: unset !important;
	}
}
