<div class="modal-main-wrapper" *ngIf="clearRecordPopup || timeoutRecording">
<ui-popover>
		<div class="ui-popover-head">
			<button class="close" type="button" (click)="close()">
				<i class="icon icon-close"></i>
			</button>
		</div>
		<div class="ui-popover-content">
			<p *ngIf="clearRecordPopup">{{'gaming.macroKey.actionButton.clearAction.title' | translate}}</p>
			<p *ngIf="timeoutRecording">{{'gaming.macroKey.actionButton.timeoutTitle' | translate}}</p>
		</div>
		<div class="ui-popover-footer">
			<div *ngIf="clearRecordPopup">
			<button class="btn btn-rounded"
				(click)="close()">{{'gaming.macroKey.actionButton.clearAction.btnClear' | translate}}</button>
			<button class="btn btn-default"
				(click)="close()">{{'gaming.macroKey.actionButton.clearAction.btnCancel' | translate}}</button>
			</div>
			<div *ngIf="timeoutRecording">
					<button class="btn btn-rounded"
					(click)="close()">{{'gaming.macroKey.actionButton.btnOk' | translate}}</button>
			</div>
		</div>
</ui-popover>
</div>
