@import "../../../app.theme.scss";
.modal-main-wrapper{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
	background-color: $screen_dark_50;
}
ui-popover {
	position: absolute;
    width: 44rem;
    padding: 3rem 5rem;
    background: #fbfdff;
    z-index: 9;
    border-radius: 1rem;
    box-shadow: 0 0.8rem 1.5rem $screen_dark_30;
    right: 0;
    top: 25%;
    left: 0;
    margin: auto;
  @media #{$small-screen} {
    width: 45rem;
  }
  @media #{$medium-screen} {
    width: 50rem;
  }
  .ui-popover-head {
    position: relative;
    height: 3.2rem;
    .close {
      color: $gaming_gstart;
      position: absolute;
      right: -2rem;
      font-size: 3rem;
    }
  }
  .ui-popover-content {
    min-height: 12rem;
    p {
      color: $main_darkest;
      font-size: 2.4rem;
      line-height: 3.6rem;
	}
	.body-content{
		p{
			font-size: 1.5rem;
		}
	}
  }
  .ui-popover-footer {
    border-top: 1px solid $screen_dark_30;
    padding-top: 2.4rem;
    .btn-rounded {
      height: 4rem;
      border-radius: 3rem;
      min-width: 15rem;
      border: none;
      background: $gaming_lighting_gradient;
      color: $gaming_lightest;
      font-size: 2rem;
      text-transform: uppercase;
	  letter-spacing: -0.1rem;
	  margin-right: 3rem;
	}
	.btn-default{
		text-decoration: underline;
		font-size: 2rem;
		text-transform: uppercase;
		color: $gaming_light_blue
	}
  }
}
