<div class="modal-main-wrapper" id="close" tabindex="1">
	<ui-popover>

		<div class="modal-body vtr-ui-macrokey-popup">
			<div class="row justify-content-end">
				<div class="btn-close">
					<button type="button" class="close" aria-hidden="true" (click)="submitAction(false)"
						aria-label="close" vtrMetrics [metricsItem]="'macrokey_popup_close'" metricsEvent="featureClick"
						tabindex="1" (keyup.enter)="submitAction(false)">
						<fa-icon [icon]="['fal', 'times']"></fa-icon>
					</button>
				</div>
			</div>
			<div class="content-body">
				<h1>{{modalContent.headerTitle | translate}}</h1>
				<p>{{modalContent.bodyText | translate}}</p>
			</div>
			<hr>
			<div class="row">
				<div *ngIf="modalContent.btnConfirm">
					<button class="btn enable-button" (click)="submitAction(true)" id="macrokey_popup_clear"
						aria-label="macrokey popup clear" vtrMetrics [metricsItem]="'macrokey_popup_clear'" tabindex="1"
						(keyup.enter)="submitAction(true)"
						metricsEvent="featureClick">{{'gaming.macroKey.popupContent.confirmButton.btnClear' | translate}}</button>
					<a (click)="submitAction(false)" tabindex="1" (keyup.enter)="submitAction(false)"
						(keydown)="keydownFn($event)" class="cancel-link active" id="macrokey_popup_cancle"
						aria-label="macrokey popup cancle" role="button" vtrMetrics
						[metricsItem]="'macrokey_popup_cancle'"
						metricsEvent="featureClick">{{'gaming.macroKey.popupContent.confirmButton.btnCancel' | translate}}</a>
				</div>
				<div *ngIf="!modalContent.btnConfirm">
					<button class="btn enable-button" (click)="submitAction(true)" id="{{modalContent.metricsItemId}}"
						aria-label="macrokey popup ok" vtrMetrics [metricsItem]="modalContent.metricsItemId"
						metricsEvent="featureClick" tabindex="1"
						(keyup.enter)="submitAction(true)">{{'gaming.macroKey.popupContent.btnOk' | translate}}</button>
				</div>
			</div>
		</div>
	</ui-popover>
</div>
