@import '../../app.theme';
.mat-chip-list-container {
	::ng-deep {
		.mat-chip-list-wrapper {
			align-items: stretch;
		}
	}
}
.vtr-material-tile {
	background: transparent;
	border-radius: 0.5rem;
	flex: 0 0 20%;
	max-width: 20%;
	min-width: 10rem;
	padding: 0 1.5rem 1.5rem;
	height: auto;

	.tile-container {
		min-width: 10rem;
		max-width: 15rem;
		.tile-icon {
			width: 5rem;
			margin-bottom: 1rem;
		}
		.tile-name {
			font-size: 1.4rem;
		}
		.add-border {
			width: 5rem;
			height: 5rem;
			border: 0.1rem solid $menu_hover;
			border-radius: 0.5rem;
			cursor: pointer;
			.mat-icon {
				font-size: 5rem;
				width: 100%;
				height: 100%;
				color: $blue-lighter;
			}
		}
	}
}
