@import '../../app.theme.scss';
.mat-chip-list-container {
	::ng-deep {
		.mat-chip-list-wrapper {
			align-items: stretch;
		}
	}
}
.vtr-material-tile {
	background: transparent;
	border-radius: 0.5rem;
	flex: 0 0 20%;
	max-width: 20%;
	min-width: 12rem;
	padding: 1.5rem;
	height: auto;
	&:active {
		box-shadow: none !important;
	}

	.tile-container {
		min-width: 10rem;
		max-width: 15rem;
		.tile-icon {
			width: 5rem;
			margin-bottom: 1rem;
		}
		.add-border {
			width: 5rem;
			height: 5rem;
			border: 0.2rem solid $menu_hover;
			border-radius: 0.5rem;
			overflow: hidden;
			cursor: pointer;
			fa-icon {
				font-size: 4rem;
				line-height: 1;
				color: $blue-lighter;
			}
		}
	}
}
