@import "../../../styles/common-blocks";

.check-breaches {
	&__form {
		display: flex;
		flex-direction: column;
		border-radius: 7px;
		border: 2px solid transparent;
		position: relative;
	}

	&__input-wrapper {
		position: relative;
		z-index: 2;
		display: flex;
		width: 100%;
		background: #FFFFFF;
		border-radius: 0.7rem;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
		min-height: 9rem;
		padding: 0 2rem 0 0;
		justify-content: space-between;
		border: 2px solid transparent;
		transition: border-color .1s linear;

		&--small {
			border-radius: 25px;
			padding: 0;
			min-height: 5rem;
			border: none;
		}

		&--focused {
			border: 2px solid #4A81FD;
		}

		&--validation-error {
			border: 2px solid #F66A5B;
		}

		&--server-error {
			border: 2px solid #C2C6CE;
		}
	}

	&__input-with-id {
		flex-grow: 1;
	}

	&__input {
		width: 100%;
		height: 100%;
		outline: none;
		border: none;
		border-radius: 0.7rem;
		font-size: 2rem;
		color: #34495E;
		padding: 0 0 0 3rem;
		background: none;

		&::placeholder {
			color: #D7D8D8;
			font-weight: 500;
			font-size: 1.6rem;
			text-transform: uppercase;
		}

		&--validation-error {
			color: #F66A5B;
		}
	}

	&__button {
		@extend %theme-btn;
		max-width: 35%;
		min-width: 22rem;
		align-self: center;
		cursor: pointer;

		&--error {
			cursor: default;
			background: linear-gradient(270deg, #E2E2E2 0%, #C2C6CF 100%);
		}

		&--transparent {
			@extend %theme-btn--transparent;
		}
	}

	&__loader {
		width: 40px;
		height: 40px;
		margin: 0 2rem 0 0;
		align-self: center;
	}
}

.lenovo-id {
	position: absolute;
	top: calc(100% - 6px);
	left: 3rem;
	padding: 1.3rem 3rem;
	min-width: 46rem;
	max-width: 100%;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;

	&__text {
		color: #4A81FD;
		font-weight: 500;
		font-size: 1.3rem;
		line-height: 2.6rem;
		margin: 0;
	}

	&__id {
		color: #667481;
		font-weight: 300;
		font-size: 1.3rem;
		line-height: 2.6rem;
	}
}

.check-error {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.7rem 3rem 0.6rem 3rem;
	width: calc(100% - 8px);
	border-radius: 0 0 4px 4px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__img {
		height: 2.3rem;
		width: auto;
	}
;

	&__text {
		color: #fff;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 2.3rem;
		margin: 0 0 0 1.4rem;
	}
;

	&--validation {
		background-color: #F66A5B;
	}

	&--server {
		background-color: #C2C6CE;
	}
}
