@import "../../../app.theme.scss";

.title-main {
	font-size: 3.4rem;
	//text-transform: uppercase;
	font-weight: 500;
	padding: 1.6rem 0;
	@media #{$mediaquery_11} {
		font-size: 3.2rem;
	}
	span {
		color: $gaming;
		font-weight: 700;
		white-space: nowrap;
	}
}

.col-6 {
	min-width: 22rem;
}

.select-wrapper {
}

.record-list-wrapper {
	position: relative;
	height: 70rem;
	.top-fix {
		height: 64rem;
		padding: 3rem;
		overflow: auto;
		align-content: flex-start;
		overflow-x: hidden;
	}

	&.recording {
		position: relative;
		&::after {
			content: attr(data-line);
			padding-top: 1rem;
			position: absolute;
			bottom: 19rem;
			width: 100%;
			font-size: 1.6rem;
			color: #545f76;
			left: 0px;
		}
		.top-fix {
			height: 48rem;
		}
	}

	.bottom-fix {
		padding-bottom: 1.4rem;
		padding-right: 4.6rem;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.record-table {
	font-size: 1.6rem;
	text-align: left;
	.record-header {
		margin: 0.4rem 0rem;
		> div {
			display: inline-block;
			width: 50%;
			padding: 0.5rem 1rem;
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
		}
	}
	.record-footer {
		text-align: center;
		display: none;
		font-size: 1.6rem;
		color: $gaming_hover;
	}
	&.recording {
		.record-footer {
			display: block;
		}
	}
	.record-list {
		.record-item {
			cursor: pointer;
			position: relative;
			svg {
				vertical-align: text-bottom;
				path {
					@media #{$black-on-white} {
						fill: $dark;
					}
					@media #{$white-on-black} {
						fill: $light;
					}
				}
			}
			&:nth-child(odd) {
				background-color: $gaming_hover;
				@media #{$black-on-white} {
					background-color: $high-contrast-grey;
				}
				@media #{$white-on-black} {
					background-color: $high-contrast-grey;
				}
				border-radius: 0.3rem;
				.key {
					svg {
						opacity: 0.8;
						path {
							@media #{$black-on-white} {
								fill: $dark;
							}
							@media #{$white-on-black} {
								fill: $light;
							}
						}
					}
				}
			}
			&:hover {
				color: $gaming_light_blue;
				svg {
					path {
						fill: $gaming_light_blue;
						@media #{$black-on-white} {
							fill: $dark;
						}
						@media #{$white-on-black} {
							fill: $light;
						}
					}
				}
				.interval {
					display: none;
				}
				.delete-button {
					display: inline-block;
					position: absolute;
					right: 0;
					top: 0;
					width: 2.6rem;
					cursor: pointer;
					margin: 0.4rem 1rem;
					height: 2.6rem;
					transition: all 0.4s ease-in-out;
					overflow: hidden;
					font-weight: 500;
					color: $gaming_light_blue;
					&:hover {
						width: auto;
					}
				}
			}
			&.paired {
				color: $gaming_light_blue;
				svg {
					path {
						fill: $gaming_light_blue;
					}
				}
				.interval {
					display: none;
				}
				// .delete-button {
				// 	display: inline-block;
				// 	position: absolute;
				// 	right: 0;
				// 	top: 0;
				// 	width: 2.6rem;
				// 	cursor: pointer;
				// 	margin: 0.4rem 1rem;
				// 	height: 2.6rem;
				// 	transition: all 0.4s ease-in-out;
				// 	overflow: hidden;
				// 	font-weight: 500;
				// 	color: $gaming_light_blue;
				// 	&:hover {
				// 		width: 11rem;
				// 	}
				// }
			}
			.delete-button {
				display: none;
				img {
					width: 2.2rem;
					height: 2.2rem;
					vertical-align: bottom;
				}
			}
			> div {
				> div {
					display: inline-block;
					width: 50%;
					padding: 0.5rem 1rem;
					font-weight: 500;
					&.key {
						text-align: left;
						svg {
							height: 2rem;
							width: 2rem;
							vertical-align: bottom;
							margin-right: 1rem;
						}
					}
					&.interval {
						text-align: right;
					}
				}
			}
		}
	}
	.interval {
		&.hide {
			display: none !important;
		}
	}
}

.delete-btn {
	cursor: pointer;
	font-size: 1.6rem;
	font-weight: 700;
	color: $gaming_light_blue;
	display: inline-block;
	//text-transform: uppercase;
	padding: 0.4rem;
	svg {
		path {
			fill: $gaming_light_blue;
		}
		margin: 0.4rem;
		height: 2.6rem;
		width: 2.6rem;
	}
	span {
		display: inline-block;
		letter-spacing: 0.2rem;
		padding: 0.4rem;
		border-bottom: 0.2rem solid $gaming_light_blue;
	}
}
