@import "../../../app.theme.scss";

.title-main {
	font-size: 3.4rem;
	//text-transform: uppercase;
	font-weight: 500;
	padding: 1.6rem 0;
	text-overflow: ellipsis;
	overflow: hidden;
	@media #{$breakpoint_md} {
		font-size: 3.2rem;
	}
	span {
		color: $gaming;
		font-weight: 700;
		white-space: nowrap;
	}
}

.col-6 {
	min-width: 22rem;
}

.record-list-wrapper {
	position: relative;
	height: 70rem;
	.top-fix {
		height: 64rem;
		padding: 3rem;
		overflow: auto;
		align-content: flex-start;
		overflow-x: hidden;
	}

	&.recording {
		position: relative;
		&::after {
			content: attr(data-line);
			padding-top: 1rem;
			position: absolute;
			bottom: 19rem;
			width: 100%;
			font-size: 1.6rem;
			color: #545f76;
			left: 0px;
		}
		.top-fix {
			height: 48rem;
		}
	}

	.bottom-fix {
		padding-bottom: 1.4rem;
		padding-right: 4.6rem;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.record-table {
	font-size: 1.6rem;
	text-align: left;
	.record-header {
		margin: 0.4rem 0rem;
		> div {
			display: inline-block;
			padding: 0.5rem 1rem;
			&:first-child {
				text-align: left;
				width: 60%;
			}
			&:last-child {
				text-align: right;
				width: 40%;
			}
		}
	}
	.record-footer {
		text-align: center;
		display: none;
		font-size: 1.6rem;
		color: $gaming_hover;
	}
	&.recording {
		.record-footer {
			display: block;
		}
	}
	.record-list {
		.record-item {
			cursor: pointer;
			position: relative;
			border-radius: 0.3rem;
			@media #{$high-contrast} {
				background-color: window;
				border: 0.1rem solid windowText;
			}
			svg {
				vertical-align: text-bottom;
				path {
					@media #{$high-contrast} {
						fill: windowText;
					}
				}
			}
			&:nth-child(odd) {
				background-color: $white5;
			}
			&:hover {
				color: $blueHover;
				@media #{$high-contrast} {
					background-color: highlight;
					border: 0.1rem solid windowText;
				}
				svg {
					path {
						fill: $gaming_light_blue;
						@media #{$high-contrast} {
							fill: windowText;
						}
					}
				}
				.interval {
					display: none;
				}
				.delete-button {
					display: inline-block;
					position: absolute;
					right: 0;
					top: 0;
					width: 2.6rem;
					cursor: pointer;
					margin: 0.4rem 1rem;
					height: 2.6rem;
					transition: all 0.4s ease-in-out;
					overflow: hidden;
					font-weight: 500;
					color: $gaming_light_blue;
					&:hover {
						width: auto;
						@media #{$high-contrast} {
							color: highlightText;
						}
					}
				}
			}
			&.paired {
				color: $gaming_light_blue;
				@media #{$high-contrast} {
					background-color: window;
					border: 0.1rem solid windowText;
				}
				svg {
					path {
						fill: $blueHover;
						@media #{$high-contrast} {
							fill: highlightText;
						}
					}
				}
				.interval {
					display: none;
				}
			}
			.delete-button {
				display: none;
				img {
					width: 2.2rem;
					height: 2.2rem;
					vertical-align: bottom;
				}
			}
			> div {
				> div {
					display: inline-block;
					width: 50%;
					padding: 0.5rem 1rem;
					font-weight: 500;
					&.key {
						text-align: left;
						svg {
							height: 2rem;
							width: 2rem;
							vertical-align: bottom;
							margin-right: 1rem;
						}
					}
					&.interval {
						text-align: right;
					}
				}
			}
		}
	}
	.interval {
		&.hide {
			display: none !important;
		}
	}
}

.delete-wrapper {
	.delete-btn {
		font-size: 1.4rem;
		color: $blueFill;
		font-weight: bold;
		line-height: 2rem;
		border-bottom: 0.2rem solid $blueFill;
		display: inline-block;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-transition: 0.2s ease;
		transition: 0.2s ease;
		@media #{$high-contrast} {
			color: buttonText;
		}
	}

	svg {
		path {
			-webkit-transition: 0.2s ease;
			transition: 0.2s ease;
			fill: $blueFill;
			@media #{$high-contrast} {
				fill: buttonText;
			}
		}
		margin: 0.4rem;
		height: 2rem;
		width: 2rem;
	}
	&:hover {
		.delete-btn {
			color: $blueHover;
			border-bottom: 0.2rem solid $blueHover;
			@media #{$high-contrast} {
				color: highlightText;
			}
		}
		svg {
			path {
				fill: $blueHover;
				@media #{$high-contrast} {
					fill: highlightText;
				}
			}
		}
	}
}