<div class="row">
	<div class="col title">{{'hardwareScan.title' | translate}}</div>
</div>
<div class="row">
 	<div class="col button-row">
		<button [ngClass]="{'action-button': !isButtonDisable(), 'action-button-disable': isButtonDisable()}"
			[title]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate"
			[disabled]="isButtonDisable()"
			(click)="onQuickScan()"
			tabindex="1"
			>{{'hardwareScan.quickScan' | translate}}</button>
		<a	href="javascript:void();"
			vtrMetrics
			metricsEvent="FeatureClick"
			metricsParent="HardwareScan"
			metricsItem="HardwareScan.CustomizeScan"
			[title]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate"
			[ngClass]="{'action-anchor': !isButtonDisable(), 'disabled-anchor': isButtonDisable()}"
			tabindex="1"
			(click)="onAnchor()"
			>{{'hardwareScan.customize.name' | translate}}
		</a>
	</div>
</div>
