<div class="row">
	<div class="col title">{{'hardwareScan.title' | translate}}</div>
</div>
<div class="row">
 	<div class="col button-row">
		<button type="button"
			[ngClass]="{'action-button': !disableButtonScan, 'action-button-disable': disableButtonScan}"
			[title]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate"
			[disabled]="disableButtonScan"
			(click)="onQuickScan()"
			tabindex="1"
			>{{'hardwareScan.quickScan' | translate}}</button>
		<div class="row align-items-center">
			<button type="button"
				vtrMetrics
				metricsEvent="FeatureClick"
				metricsParent="HardwareScan"
				metricsItem="HardwareScan.CustomizeScan"
				[ngClass]="{'action-anchor': !disableButtonScan, 'disabled-anchor': disableButtonScan}"
				[title]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate"
				[disabled]="disableButtonScan"
				tabindex="1"
				(click)="onAnchor()">{{'hardwareScan.customize.name' | translate}}
			</button>
		</div>
	</div>
</div>
