<div class="row">
	<h2 class="col title">{{'hardwareScan.title' | translate}}</h2>
</div>
<div class="row">
 	<div class="col button-row">
		<vtr-ui-button
			metricsEvent="FeatureClick"
			metricsParent="HardwareScan"
			metricsItem="HardwareScan.CustomizeScan"
			[label]= " 'hardwareScan.quickScan' | translate "
			(onClick)="onQuickScan()">
		</vtr-ui-button>
		<div class="row align-items-center">
			<div [title]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate">
				<button vtrMetrics
					metricsEvent="FeatureClick"
					metricsParent="HardwareScan"
					metricsItem="HardwareScan.CustomizeScan"
					[ngClass]="{'action-anchor': !disableButtonScan, 'disabled-anchor': disableButtonScan}"
					[disabled]="disableButtonScan"
					tabindex="1"
					(click)="onAnchor()">{{'hardwareScan.customize.name' | translate}}
				</button>
			</div>
		</div>
	</div>
</div>
