@import "../../../app.theme";

.title {
    font-size: $fontsize_xl;
	font-weight: $weight_600;
	color: $shade_blue;
}

.loading {
    font-size: 3rem;
    color: $main;
}

.description {
    font-size: $fontsize_xs;
	font-weight: $weight_bold;
	color: $shade_blue;
}

.modal-body {
  padding: 2.4rem;
}

.close-button {
  border: none;
  color: $main;
  padding: 0 1rem 1rem 1rem ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: $weight_light;
  outline: none;
  font-size: 5rem;
}

.user-submit {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 5rem;
  font-weight: $weight_bold;
  text-transform: uppercase;
}

.padding-header {
    padding: 3rem;
}

.close-btn {
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
