<div class="vtr-widget-about">
	<div class="container-fluid">
		<div class="d-flex mb-3">
			<div class="mr-4">
				<img class="about-logo" [src]="'assets/icons/Vantage_L_logo_about.svg'">
			</div>
			<div>
				<div class="title">Lenovo Vantage</div>
				<div class="version">Version: 10.1903.105 Build 0.0.20</div>
			</div>
		</div>
		<div class="about-links mb-4">
			<div class="link"><a href="javascript:;">Licence agreement</a></div>
			<div class="link"><a href="javascript:;">Other software licences</a></div>
			<div class="link"><a href="https://www.lenovo.com" target="_blank">Our website</a></div>
		</div>
		<div class="copyright">© 2002-2019 Lenovo all rights reserve</div>
	</div>
</div>
