@import '../../../app.theme.scss';

.vtr-widget-about {
	border-radius: $border_radius;
	background-color: $light;
	box-shadow: $drop_shadow;
	padding: 4rem;

	.about-logo {
		width: 5.2rem;
		height: 5.2rem;
	}

	.title {
		color: $main_dark;
		font-size: 2.5rem;
    height: 2.9rem;
    line-height: 2.9rem;
		font-weight: $weight_medium;
    margin-bottom: 0.3rem;
		letter-spacing: 0;
	}

  @mixin aboutNormalFontStyle {
		font-size: 1.4rem;
    height: 2.3rem;
    line-height: 2.3rem;
		font-weight: $weight_regular;
		letter-spacing: 0;
  }

	.version {
		color: #667481;
		@include aboutNormalFontStyle;
	}

	.about-links {
		.link {
		  @include aboutNormalFontStyle;
      a {
        text-decoration: underline;
      }
		}
	}

  .copyright{
    color: #667481;
		@include aboutNormalFontStyle;
  }
}
