<div class="try-product">
	<div class="try-product__block try-product__block--risk">
		<p class="try-product__block-title">What's the risk?</p>
		<p class="try-product__block-description">{{isFigleafReadyToCommunication ? texts.riskAfterInstallFigleaf : texts.risk}}</p>
	</div>

	<div class="try-product__block try-product__block--fix">
		<p class="try-product__block-title">How to fix</p>
		<p class="try-product__block-description">{{isFigleafReadyToCommunication ? texts.howToFixAfterInstallFigleaf : texts.howToFix}}</p>
		<div class="try-product__group-button" *ngIf="!isFigleafReadyToCommunication">
			<div class="try-product__button-link try-product__button-link--download"
				 vtrOfflineMode positionContextTo="top-right" contextSize="small">
				<a vtrOpenFigleafInstaller
				   vtrSendAnalytics
				   [metricsEvent]="'ItemClick'"
				   [metricsItem]="'InstallButton' | changeActionButtonText | async">
					{{'Install' | changeActionButtonText | async}}
				</a>
			</div>
			<div class="try-product__button-link try-product__button-link--to-right">
				<a routerLink="/privacy/landing"
				   vtrSendAnalytics
				   [metricsEvent]="'ItemClick'"
				   [metricsItem]="'LearnMoreLink'">
					Learn more
				</a>
			</div>
		</div>
	</div>
</div>
