<div class="modal-body" aria-labelledby="recover-title" aria-describedby="recover-description">
	<div id="recover-title" class="title">{{'hardwareScan.warning' | translate}}</div>
	<div id="recover-description" class="description" [innerHtml]="modalDescription"></div>

	<div class="row">
		<vtr-ui-button
			linkId="hwscan-rbs-confirm-btn"
			metricsParent="{{ItemParent}}"
			metricsItem="{{ConfirmItemName}}"
			[label]="buttonText"
			(onClick)="onClosing()">
		</vtr-ui-button>
	</div>

	<div class="btn-modal-close">
		<vtr-ui-close-button
			linkId="hwscan-rbs-confirm-close-btn"
			metricsParent="{{ItemParent}}"
			metricsItem="{{CancelItemName}}"
			(clickClose)="activeModal.dismiss('Cross click')">
		</vtr-ui-close-button>
	</div>
</div>
