<div class="installed-browser__wrapper">
  <div class="installed-browser__detail-col">
    <img class="installed-browser__icon" src="{{installedBrowser.image_url}}" alt="">
    <div class="installed-browser__description">
      <p class="installed-browser__title">6 accounts stored in {{installedBrowser.name}}</p>
      <p class="installed-browser__text">{{installedBrowser.name}}’s user data can be easily read by any program on your computer</p>
    </div>
  </div>
  <button class="installed-browser__btn">Show details</button>
</div>
