@import "../../styles/common-blocks";

.installed-browser {
  &__wrapper {
    padding: 2.5rem 2rem;
    border: 1px solid #ECF0F1;
    border-radius: 5px;
    background-color: #F5F7F8;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.2);
    margin-top: 2rem;
  }
  &__collapsed {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__detail-col {
    display: flex;
    align-items: center;
  }
  &__icon {
    max-width: 4.3rem;
    max-height: 4.3rem;
  }
  &__description {
    padding: 0 0 0 1.3rem;
  }
  &__title {
    text-transform: uppercase;
    color: #34495E;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin: 0;
  }
  &__text {
    color: #667481;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.3rem;
    margin: 0;
  }
  &__btn {
    @extend %theme-btn;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    &--expanded {
      background: #fff;
      color: #4A81FD;
      border-color: transparent;
    }
  }
  &__content {
    height: 30rem;
    overflow: auto;
    margin-top: 2rem;
  }
}

.browser-preview {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: rgba(86,108,127,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    color: #34495E;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.9rem;
    text-align: center;
    max-width: 60%;
    margin: 0;
  }
  &__btn {
    @extend %theme-btn;
    margin-top: 2rem;
    text-transform: uppercase;
    min-width: 24rem;
  }
}

.browser-accounts {
}