@import "../../../styles/common-blocks";

.tooltip {
	width: 100%;
}

.tooltip-context {
	width: 35rem;
	background: #FFFFFF;
	@extend %text-common;
	color: #1b1b1b;
	text-transform: none;

	&--small {
		width: 20rem;
	}
}
