@import "../../app.theme";

.vtr-menu-header {
	.menu-header-tab {
		cursor: pointer;
		position: relative;
		display: inline-block;
		color: $light;
		opacity: 0.5;
		margin: 0 2rem 0.1rem;

		@media #{$breakpoint_xl} {
			margin: 0 1rem 0.1rem;
		}
		@media #{$breakpoint_sm} {
			margin: 0 0.5rem 0.1rem;
		}


		&:first-child {
			margin-left: 0.5rem;
		}
		&.active,
		&:hover {
			opacity: 1;
			.menu-pointer {
				display: inline-block;
			}
		}

		.tab-label {
			font-size: $fontsize_lg;
			font-weight: $weight_600;
			padding-bottom: 2rem;
			cursor: pointer;
			@media #{$breakpoint_md} {
				font-size: $fontsize_md;
			}
			@media #{$breakpoint_sm} {
				font-size: $fontsize_sm;
			}

		}
		fa-icon {
			&.menu-pointer {
				display: none;
				position: absolute;
				bottom: -2.5rem;
				left: 50%;
				margin-left: -1.5rem;
				color: $light;
				font-size: 3rem;
				transform: rotate(45deg);
				z-index: 0;

				@media #{$black-on-white} {
					color:$light;
				}
				@media #{$white-on-black} {
					color: $dark;
				}


			}
		}
	}
}
