<div class="vtr-menu-header d-flex">
	<ng-container *ngFor="let tab of menuItems; let i=index;">
		<div class="menu-header-tab {{tab.prop}}"
			tabindex="1"
			[routerLink]="'/'+tab.path"
			[routerLinkActive]="['active']"
			[routerLinkActiveOptions]="{exact: false}"
			[queryParams]="tab.params"
			(keydown.enter)="changeRoute(tab.path,tab.params)"
			role="link"
			id="myDevice-settings-header-menu-{{tab.icon}}"
			attr.aria-labelledby="myDevice-settings-header-menu-{{tab.icon}}-title">
			<div class="tab-label"
				title=""
				[ngbTooltip]="tab.label"
				tooltipClass="vtr-system-tooltip"
				container="body">
				<i class="icomoon {{tab.iconClass}}"></i>
				<span class="text text-ellipsis"
					id="myDevice-settings-header-menu-{{tab.icon}}-title"
					attr.aria-label="myDevice-settings-header-menu-{{tab.label}}"
					aria-hidden="true">{{tab.label}}</span>
			</div>
			<fa-icon [icon]="['fas', 'square']"
				class="menu-pointer"></fa-icon>
		</div>
	</ng-container>
</div>
