@import "../../app.theme";

.vtr-menu-header {
	.menu-header-tab {
		cursor: pointer;
		position: relative;
		display: inline-block;
		color: $light;
		opacity: 0.5;
		margin: 0 2rem 0.1rem;
		
		@media #{$breakpoint_xl} {
			margin: 0 1rem 0.1rem;
		}
		@media #{$breakpoint_sm} {
			margin: 0 0.5rem 0.1rem;
		}
		@media #{$breakpoint_md} {
			margin-right: 3.5rem !important;
		}
		@media #{$breakpoint_sm} {
			margin-right: 3.5rem !important;
		}
		&:first-child {
			margin-left: 0.5rem;
		}
		&.active,
		&:hover {
			opacity: 1;
			.menu-pointer {
				display: inline-block;
			}
		}

		.tab-label {
			font-size: $fontsize_lg;
			font-weight: $weight_600;
			padding-bottom: 2rem;
			cursor: pointer;
			.icomoon {
				height: 4rem;
				width: 4rem;
				font-size: 3.2rem;
			}
			@media #{$breakpoint_xl6} {
				font-size: $fontsize_md;
				.text {
					display: inline-block;
				}
				.icomoon {
					display: none;
				}
			}
			@media #{$breakpoint_xl5} {
				font-size: $fontsize_md;
				.text {
					display: inline-block;
				}
				.icomoon {
					display: none;
				}
			}
			@media #{$breakpoint_xl4} {
				font-size: $fontsize_md;
				.text {
					display: inline-block;
				}
				.icomoon {
					display: none;
				}
			}
			@media #{$breakpoint_xl3} {
				font-size: $fontsize_md;
				.text {
					display: inline-block;
				}
				.icomoon {
					display: none;
				}
			}
			@media #{$breakpoint_xl2} {
				font-size: $fontsize_md;
				.text {
					display: inline-block;
				}
				.icomoon {
					display: none;
				}
			}
			@media #{$breakpoint_xl} {
				font-size: $fontsize_md;
				.text {
					display: inline-block;
				}
				.icomoon {
					display: none;
				}
			}
			@media #{$breakpoint_lg} {
				font-size: $fontsize_sm;
				.text {
					display: inline-block;
				}
				.icomoon {
					display: none;
				}
			}
			@media #{$breakpoint_md} {
				font-size: $fontsize_sm;
				.text {
					display: none;
				}
				.icomoon {
					display: inline-block;
				}
			}
			@media #{$breakpoint_sm} {
				font-size: $fontsize_sm;
				.text {
					display: none;
				}
				.icomoon {
					display: inline-block;
				}
			}

		}
		fa-icon {
			&.menu-pointer {
				display: none;
				position: absolute;
				bottom: -1.8rem;
				left: 50%;
				margin-left: -1.5rem;
				color: $light;
				font-size: 2.2rem;
				transform: rotate(45deg);
				z-index: 2;

				@media #{$black-on-white} {
					color:$light;
				}
				@media #{$white-on-black} {
					color: $dark;
				}


			}
		}
	}
}
