<div class="vtr-menu-header">
	<ng-container *ngFor="let tab of menuItems; let i=index;">
		<div class="menu-header-tab {{tab.prop}}"
			tabindex="0"
			[routerLink]="'/'+tab.path"
			routerLinkActive="active"
			[queryParams]="params"
			(keydown.enter)="changeRoute(tab.path,params)"
			role="link"
			id="myDevice-settings-header-menu-{{tab.icon}}"
			attr.aria-label="myDevice-settings-header-menu-{{tab.label}">
			<div class="tab-label"
				id="myDevice-settings-header-menu-{{tab.icon}}-title"
			attr.aria-label="myDevice-settings-header-menu-{{tab.icon}}-title"
			title="{{tab.label}}">
			<i class="icomoon {{tab.iconClass}}"></i>
			<span class="text">{{tab.label}}</span>
		</div>
		<fa-icon [icon]="['fas', 'square']"
			class="menu-pointer"></fa-icon>
</div>
</ng-container>
</div>
