@import "../../../styles/variables";

.scan-steps {
  display: flex;
  justify-content: center;
  @media (max-width: $responsive_s) {
    flex-direction: column;
  }

  &--inner-indent {
    padding: 0 2rem;
  }
  &__item {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0 2rem;
    &:nth-child(2) {
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        background: #E6EAEB;
        width: calc(100% - 9.1rem); // 51px (width of circle) + 20px (from design) + 20px (from design)
        top: 2.5rem;
        right: calc(50% + 5.1rem);
      }
      &:after {
        content: '';
        position: absolute;
        height: 1px;
        background: #E6EAEB;
        width: calc(100% - 9.1rem); // 51px (width of circle) + 20px (from design) + 20px (from design)
        top: 2.5rem;
        left: calc(50% + 5.1rem);
      }
    }
    @media (max-width: $responsive_s) {
      width: 100%;
      margin-top: 2rem;
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
  }
  &__number-wrapper {
    height: 5.1rem;
    width: 5.1rem;
    border: 1px solid #E6EAEB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__number {
    color: #4A81FD;
    font-size: 3rem;
    font-weight: 500;
  }
  &__title,
  &__text {
    font-size: 1.6rem;
    line-height: 2.3rem;
    max-width: 130%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__title {
    color: #34495E;
    font-weight: bold;
    margin: 1.4rem 0 0 0;
    text-transform: uppercase;
  }
  &__text {
    color: #667481;
    font-weight: 300;
    margin: 0;
	max-width: 200px;
  }
}
