@import "../../../app.theme.scss";

.vtr-ui-list-checkbox {
	.list-group {
		margin: 3.5rem 0;
		box-sizing: unset;
		.list-group-item {
			background: $grey_lighter;
			padding: 1.5rem 1rem 1.5rem 0.2rem;
			border: 0.1rem solid $note_border;
			&:last-child {
				border-top: none;
			}
			.button-box {
				padding: 0rem;
				margin: 0rem;
				display: inline-block;


				.btn-round-sm {
					border-radius: 0.5rem;
					padding: 0.5rem 1rem 0.5rem 1rem;
					font-size: 1.3rem;
					background: $light;
					border: 0rem;
					color: $stop_light;
					font-weight: $weight_light;
					line-height: 1px;
				}
			}
			.custom-control {
				display: inline-block;
				.custom-control-input {
					z-index: 0;
				}
				.custom-control-label {
					padding-left: 1.2rem;
					@media #{$breakpoint_sm} {
						padding-bottom: 1rem;
					}

					// rounded square-box background
					&::before {
						width: 1.8rem;
						height: 1.8rem;
						box-shadow: inset 0 0 0 0.1rem $light;
						border: 0.1rem solid $shade_darker;
					}

					// tick mark
					&::after {
						width: 1.8rem;
						height: 1.8rem;
					}
					&:hover::before {
						@media #{$white-on-black} {
							@include high-contrast-black-border;
						}
						@media #{$black-on-white} {
							@include high-contrast-white-border;
						}
					}
				}
				&.custom-checkbox{
					.custom-control-input:disabled ~ .custom-control-label::before {
						background-color: #bbb;
						@media #{$high-contrast} {
							background: $high-contrast-black-disabled;
						}
						@media #{$black-on-white} {
							background: $high-contrast-white-disabled;
						}
						@media #{$white-on-black} {
							background: $high-contrast-black-disabled;
						}
					}
					.custom-control-input:disabled:checked ~ .custom-control-label::before {
						border-color: #aaa;
					}

					.custom-control-input:focus ~ .custom-control-label::before{
						outline: 0.1rem solid $menu_hover!important;
						outline-offset: 0.2rem!important;
					}
					.custom-control-input:checked ~ .custom-control-label {
						&::before {
							@media #{$white-on-black} {
								@include high-contrast-black-background;
								@include high-contrast-black-border;
							}
							@media #{$black-on-white} {
								@include high-contrast-white-background;
								@include high-contrast-white-border;
							}
						}
						&::after {
							@media #{$white-on-black} {
								background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
							}
						}

						&:hover {
							&::before {
								@media #{$white-on-black} {
									background: $dark;
									@include high-contrast-black-border;
								}
								@media #{$black-on-white} {
									background: $light;
									@include high-contrast-white-border;
								}
							}
							&::after {
								@media #{$white-on-black} {
									background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
								}
								@media #{$black-on-white} {
									background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
								}
							}
						}
						&:active {
							&::before {
								@media #{$white-on-black} {
									@include high-contrast-black-background;
									@include high-contrast-black-border;
								}
								@media #{$black-on-white} {
									@include high-contrast-white-background;
									@include high-contrast-white-border;
								}
							}
							&::after {
								@media #{$white-on-black} {
									background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
								}
								@media #{$black-on-white} {
									background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
								}
							}
						}
					}
				}
			}

			.update-title {
				font-size: $fontsize_xs;
				font-weight: $weight_600;
				padding-top: 0rem;
				color: $shade_blue;
				.update-number {
					font-weight: normal;
				}
			}

			.fail-reason {
				padding-left: 0rem;
				font-size: 1.6rem;
				color: #2f3447;
			}

			.question {
				cursor: pointer;
				color: $main;
				font-size: $fontsize_sm;
				&:focus {
					outline: 0.1rem solid $menu_hover;
					outline-offset: 0.2rem;
				}
			}
		}
		.icon-check {
			.icon-bg {
				display: inline-block;
				border: 0.23rem solid $go_dark;
				border-radius: 50%;
				height: 2.3rem;
				width: 2.3rem;
				background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
				background-color: $go_dark;
				border-color: $go_dark;

				fa-icon {
					font-size: 1.2rem;
					color: $light;
				}
			}
		}
		.icon-check::before {
			content: ''
		}

		.icon-times {
			.icon-bg {
				display: inline-block;
				border: 0.23rem solid $stop_dark;
				border-radius: 50%;
				height: 2.2rem;
				width: 2.2rem;
				background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
				background-color: $stop_dark;

				fa-icon {
					font-size: 1.2rem;
					color: $light;
				}
			}
		}
	}

	// .tooltip-container {
	// 	.read {
	// 		color: $menu_hover;
	// 		text-decoration: underline;

	// 		&:focus {
	// 			outline: 0.1rem solid $menu_hover;
	// 			outline-offset: 0.2rem;
	// 		}
	// 	}

	// 	.ignore {
	// 		color: $menu_hover;
	// 		text-decoration: underline;

	// 		&:focus ::before{
	// 			outline: 0.1rem solid $menu_hover;
	// 			outline-offset: 0.2rem;
	// 		}
	// 	}
	// }
}
