@import "../../../app.theme.scss";

.vtr-ui-list-checkbox {
	.list-group {
		margin: 3.5rem 0;
		box-sizing: unset;
		.list-group-item {
			background: $grey_lighter;
			padding: 1.5rem 1rem 1.5rem 0.2rem;
			border: 0.1rem solid $note_border;
			&:last-child {
				border-top: none;
			}
			.button-box {
				padding: 0rem;
				margin: 0rem;
				display: inline-block;

				.btn-round-sm {
					border-radius: 0.5rem;
					padding: 0.5rem 1rem 0.5rem 1rem;
					font-size: 1.3rem;
					background: $light;
					border: 0rem;
					color: $stop_light;
					font-weight: $weight_light;
				}
			}
			.custom-control {
				display: inline-block;
				.custom-control-label {
					padding-left: 1.2rem;

					// rounded square-box background
					&::before {
						width: 1.8rem;
						height: 1.8rem;
					}

					// tick mark
					&::after {
						width: 1.8rem;
						height: 1.8rem;
					}
				}
				&.custom-checkbox{
					.custom-control-input:disabled ~ .custom-control-label::before {
						background-color: #bbb;
					}
					.custom-control-input:disabled:checked ~ .custom-control-label::before {
						border-color: #aaa;
					}
				}
			}

			.update-title {
				font-size: $fontsize_xs;
				font-weight: $weight_600;
				padding-top: 0rem;
				color: $shade_blue;
				.update-number {
					font-weight: normal;
				}
			}

			.fail-reason {
				padding-left: 0rem;
				font-size: 1.6rem;
				color: #2f3447;
			}

			.question {
				cursor: pointer;
				color: $main;
				font-size: 1.8rem;
			}
		}
		.icon-check {
			.icon-bg {
				display: inline-block;
				border: 0.23rem solid $go_dark;
				border-radius: 50%;
				height: 2.3rem;
				width: 2.3rem;
				background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
				background-color: $go_dark;
				border-color: $go_dark;

				fa-icon {
					font-size: 1.2rem;
					color: $light;
				}
			}
		}
		.icon-check::before {
			content: ''
		}

		.icon-times {
			.icon-bg {
				display: inline-block;
				border: 0.23rem solid $stop_dark;
				border-radius: 50%;
				height: 2.2rem;
				width: 2.2rem;
				background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
				background-color: $stop_dark;

				fa-icon {
					font-size: 1.2rem;
					color: $light;
				}
			}
		}
	}

	// .tooltip-container {
	// 	li {
	// 		padding: 1rem;
	// 		height: 4rem;
	// 	}
	// }
}
