@import "../../../app.theme.scss";

.vtr-ui-list-checkbox {
	.checkbox-list {
		margin-top: 2rem;
		margin-bottom: 3rem;
		list-style: none;
		padding: 0;
		background-color: $shade_extralight;
		border: 0.1rem solid $shade_lighter;
		border-radius: $border_radius;
		li {
			height: 6rem;
			padding: 1.5rem 1rem 1.5rem 0;
			border-bottom: 0.1rem solid $shade_lighter;
			color: $main_darker;
			&:last-child {
				border: none;
			}

			.update-checkbox {
				font-size: 1.4rem;
				padding-left: 3rem;

				.failure {
					color: $alt;
				}
				.success {
					color: $go_dark;
				}
			}

			.custom-control {
				display: inline-block;
				.custom-control-label {
					padding-left: 1rem;

					// rounded square-box background
					&::before {
						top: 0.2rem;
						width: 1.5rem;
						height: 1.5rem;
					}

					// tick mark
					&::after {
						top: 0rem;
						width: 2rem;
						height: 2rem;
						left: -1.7rem;
					}
				}
			}

			.button-box {
				padding: 0rem;
				margin: 0rem;
				display: inline-block;

				.btn-round-sm {
					border-radius: 0.5rem;
					padding: 0.5rem 1rem 0.5rem 1rem;
					font-size: 1.3rem;
					background: $light;
					border: 0rem;
					color: $stop_light;
					font-weight: $weight_light;
				}
			}

			.item-text {
				overflow: hidden;
				.title {
					font-size: 1.4rem;
					font-weight: $weight_medium;
					float: left;
					&.light-title {
						font-weight: $weight_light;
					}
					&.completed {
						float: none;
					}
				}
				.detail {
					padding-left: 0.5rem;
					padding-right: 0.5rem;
					float: right;
					text-align: right;
					font-size: 1.2rem;
					color: $shade_dark;
					&.highlight {
						color: $main_shade;
						text-decoration: underline;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			.question {
				color: $main;
				line-height: 2.8rem;
				font-size: 2rem;
			}
		}
	}
}
