<div class="vtr-ui-list-checkbox">
	<ul class="checkbox-list"
		*ngIf="!isInstallationCompleted">
		<li *ngFor="let item of items; let i = index">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col col-11 item-text">
						<div class="custom-control custom-checkbox update-checkbox">
							<input id="{{ 'updateCheckbox' + randomNumber + i }}"
								type="checkbox"
								class="custom-control-input"
								checked=""
								[name]="item.packageName"
								(change)="onCheckChange($event)" />
							<label class="custom-control-label "
								for="{{ 'updateCheckbox' + randomNumber + i }}">
								<span class="title"
									[ngClass]="{'light-title':item.lightTitle}">
									{{item.packageDesc}}</span>
								<!-- <span class="detail"
									[ngClass]="{'highlight':item.asLink}">
									{{item.detail}}</span> -->
							</label>
						</div>
						<div class="button-box pl-1"
							*ngIf="item.packageRebootType === 'RebootForced'">
							<div class="btn-round-sm">
								<fa-icon [icon]="['fas', 'undo']"></fa-icon> Reboot required
							</div>
						</div>
					</div>
					<div class="col col-1 text-right">
						<div>
							<fa-icon class="question"
								triggers="click:blur"
								placement="top"
								[ngbTooltip]="systemUpdateTooltip"
								[icon]="['far', 'question-circle']"
								container="body"
								tooltipClass="tooltip-click"
								#tooltip="ngbTooltip"
								(click)="onTooltipClick(item, tooltip)"></fa-icon>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<ul class="list-group"
		*ngIf="isInstallationCompleted">
		<li class="list-group-item"
			*ngFor="let item of items">
			<div class="row align-items-center">
				<div class="col-auto px-3">
					<div class="bullet-icon-times"
						*ngIf="item.installationStatus.toLocaleLowerCase() === 'installfailed' || item.installationStatus.toLocaleLowerCase() === ''">
						<div class="icon-bkg">
							<fa-icon [icon]="['fas', 'times']"></fa-icon>
						</div>
					</div>
					<div class="bullet-icon-check"
						*ngIf="item.installationStatus.toLocaleLowerCase() === 'success'">
						<div class="icon-bkg">
							<fa-icon [icon]="['fas', 'check']"></fa-icon>
						</div>
					</div>
				</div>
				<div class="col col-11 text px-0 button-box">
					<div class="update-title">{{item.packageDesc}}</div>
				</div>
				<fa-icon class="question"
					triggers="click:blur"
					placement="top"
					[ngbTooltip]="systemUpdateTooltip"
					[icon]="['far', 'question-circle']"
					container="body"
					tooltipClass="tooltip-click"
					#tooltip="ngbTooltip"
					(click)="onTooltipClick(item, tooltip)"></fa-icon>
			</div>
		</li>
	</ul>
</div>
<ng-template #systemUpdateTooltip>
	<div class="tooltip-container">
		<a href="#"
			class="reboot-text">
			<div class="row">
				<div class="col-auto pl-0 pr-0">
					<fa-icon [icon]="['fas', 'undo']"></fa-icon>
				</div>
				<div class="col">Reboot required</div>
			</div>
		</a>
		<ul>
			<li>Manufacturer: <span>{{ manufacturer }}</span></li>
			<li>Version: <span>{{ version }}</span></li>
			<li>Installed version: <span>{{ installedVersion }}</span></li>
			<li>Download size: <span>{{ downloadSize }}</span> </li>
			<li>Disc space needed: <span>{{ diskSpaceNeeded }}</span></li>
		</ul>
		<div class="row">
			<div class="col-6 pl-0 pr-0 text-left">
				<a href="javascript:void(0)"
					class="read"
					(click)="onReadMoreClick($event)">Read more</a>
			</div>
			<!-- required in MVP 2 -->
			<!-- <div class="col-6 pl-0 pr-0 text-right">
				<a href="javascript:void(0)"
					class="ignore"
					(click)="onIgnoreUpdateClick($event)"
					>Ignore update</a>
			</div> -->
		</div>
	</div>
</ng-template>
