@import "../../../app.theme";

@mixin theme($name, $background, $font_color, $icon_color, $border) {
	.vtr-ui-switch-row.#{$name} {
		.col-auto {
			height: 100%;
			@media #{$black-on-white} {
				margin: 0.2rem;
			}
			@media #{$white-on-black} {
				margin: 0.2rem;
			}
		}
		.vtr-col-pad {
			padding: 0 1.5rem;
		}
		.vtr-row-switch {
			// padding-right: 3rem;
			padding-right: 0;
			display: flex;
			align-content: flex-start;
			min-width: 8rem;
			@media #{$mediaquery_X42} {
				padding-left: 0;
			}
			> div.right-align {
				float: right;
				::ng-deep span.switch {
					margin-right: 0;
				}
			}
		}
		.vtr-disabled {
			opacity: 0.65;
			pointer-events: none !important;
		}

		padding: 1.5rem 0.7rem 1.5rem;
		padding-left: 0rem;
		// margin: 0rem 1.7rem 0;
		margin-left: 0;
		margin-right: 0;
		background-color: none;
		border-bottom: 0.1rem solid $border;

		&.last-child {
			border-bottom: none;
		}

		.left-icon-column {
			padding: 0 1rem 0 0;

			.left-icon {
				font-size: $fontsize_lg;
				color: $icon_color;
				fill: $icon_color;
				width: 2rem;
				height: 2rem;
			}

			.left-icon-svg {
				font-size: $fontsize_lg;
				color: $icon_color;
				fill: $icon_color;
				width: 2.5rem;
				height: 2rem;
				margin-top: -0.3rem;
				margin-bottom: 0.3rem;
				margin-right: -0.2rem;
				vertical-align: -0.12em;
			}

			.adminLogo {
				width: 2rem;
				height: 2rem;
				margin-top: 0.5rem;
				display: inline-block;
				background-repeat: no-repeat no-repeat;
				pointer-events: none;
				background-image: url("../../../../assets/images/UACLogo.png");
				background-position: center;
			}
		}

		.left-icon-block {
			width: 2rem;
			color: $icon_color;
			position: relative;
			// top: .7em; // commented out to match the UI Mocukp
		}
		.top-pad-03 {
			padding-top: 0rem;
		}

		.right-icon {
			font-size: $fontsize_sm;
			color: $icon_color;
			cursor: pointer;

			&:hover {
				color: $highlight;
			}
		}

		.title {
			font-size: $fontsize_md;
			color:  $font_color;
			font-weight: $weight_light;
			letter-spacing: 0.05rem;
			text-transform: none;
		}

		.caption {
			font-size: $fontsize_xs;
			font-weight: $weight_light;
			color: $font_color;
			// max-width: 60rem;
		}

		.read-more {
			color: $icon_color;
			margin-top: 0.3rem;
			cursor: pointer;
			font-size: 1.5rem;

			&:hover {
				text-decoration: underline;
			}
		}

		.text {
			font-size: $fontsize_xs;

			.link-text {
				font-size: $fontsize_xs2;
				text-decoration: underline;
				letter-spacing: 0.05rem;
				padding-top: 0.3rem;
			}
		}

		.link-text {
			font-size: $fontsize_xs2;
			text-decoration: underline;
			letter-spacing: 0.05rem;
			padding-top: 0.3rem;
		}

		.tool-tip-icon {
			//margin-left: 0.9rem;
			margin-top: 0.3rem;
			margin-left: auto;
			order: 2;
			// &.auto-screen-lock-help-icon {
			// 	margin-left: 3.5rem;
			// }
		}
		// .right-align{
		// 	padding-left: 3.5rem;
		// }
		.row {
			flex-wrap: nowrap;
		}

		.row {
			flex-wrap: nowrap;
		}

		.btn-label {
			margin: 0rem 0rem 1rem 0rem;
			padding: 0.5rem 1.5rem;
			border-radius: 2.25rem;
			background: $gradient_main;
			color: $light;
			font-size: $body;
			font-weight: $weight_bold;
			text-align: center;
			text-transform: uppercase;
			max-width: 12rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}
.smart-tooltip-list {
	padding: 0;
	list-style: none;
	fa-icon {
		color: $dark;
		font-size: 0.5rem;
		padding-bottom: 5px;
		vertical-align: middle;
		display: inline-block;
	}
}

.table {
	width: 28rem !important;
	font-size: 1.2rem;
	margin-bottom: 0;
	th {
		width: auto;
		white-space: nowrap;
		td {
		width: auto;
		}
	}
}
.table-bordered {
	th, td {
		border: 0.1rem solid $dark;
	}
}


// @mixin theme($name, $background, $font_color, $icon_color, $border)
@include theme(white-theme, $light, $purple_navy, $menu_hover, $screen_dark_10);
@include theme(blue-theme, $gradient_main, $light, $light, $screen_light_15);

.vtr-ui-switch-row.white-theme {
	.caption {
		color: $grey_dark;
	}
}
