@import "../../../styles/common-blocks";

.choose-browser {
	&__title {
		color: #194A65;
		font-size: 2.5rem;
		line-height: 2.9rem;
	}

	&__text {
		color: #667481;
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 2.3rem;
		margin-top: 2rem;

		&--bold {
			margin: 0;
			font-weight: bold;
		}
	}

	&__list {
		display: flex;
		flex-flow: row;
		margin-top: 2rem;

	}

	&__item {
		display: flex;
		flex-flow: column;
		align-items: center;
		width: 13rem;
		padding: 2rem 2.4rem 1.4rem 2rem;
		border-radius: 0.5rem;
		background-color: #F5F7F8;
		box-sizing: border-box;
		border: .1rem solid transparent;

		&--active {
			border-color: #4A81FD;
		}

		&:hover {
			border-color: #4A81FD;
		}
	}

	&__browser-name {
		color: #34495E;
		font-size: 1.2rem;
		padding: 1.4rem 0;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.76px;
		line-height: 1.6rem;
	}

	&__promise {
		border: 1px solid #ECF0F1;
		border-radius: 6px;
		background-color: #F5F7F8;
		margin-top: 4rem;
		padding: 1.5rem 2rem;
	}

	&__promise-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__button-group {
		margin: 3rem 0 2rem 0;
	}

	&__button {
		@extend %theme-btn;

		&:not(:first-child) {
			margin-left: 2rem;
		}

		&--grey {
			@extend %theme-btn--grey;
		}
	}

	$radioSize: 21px;
	$radioBorder: #4A81FD;
	$radioActive: $radioBorder;

	&__el {
		height: $radioSize;
		width: $radioSize;
		display: block;
		position: relative;
		border-radius: 50%;
		background: #fff;
		border: 2px solid $radioBorder;
		transition: border .2s ease;

		&:after {
			$innerDotSize: 10px;
			border-radius: 50%;
			content: '';
			width: $innerDotSize;
			height: $innerDotSize;
			display: block;
			left: 50%;
			top: 50%;
			margin: ($innerDotSize / 2 * -1) 0 0 ($innerDotSize / 2 * -1);
			position: absolute;
		}
		.choose-browser__radio:hover & {
			&:after {
				background: lighten($radioActive, 10);
			}
		}
		.choose-browser__radio-input:checked + & {

			&:after {
				background: $radioActive;
			}
		}
	}
	&__radio-input {
		position: absolute;
		right: 100%;
		top: 0;
	}
	&__radio {
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}
}
