<div class="choose-browser"
	data-analyticsName="WebsiteTrackersPopup">
	<ng-container *ngIf="!isBrowserListEmpty">
		<h2 class="choose-browser__title">
			Can we check your browser?
		</h2>
		<p class="choose-browser__text">
			To find out who’s tracking you online, we need to check your browsing history and look at what sites you’ve
			visited. Which browser should we check?
		</p>
	</ng-container>

	<ng-container *ngIf="isBrowserListEmpty">
		<h2 class="choose-browser__title">
			You need a different browser to see a personalized tracker map
		</h2>
		<p class="choose-browser__text">
			We can’t show you a personalized tracker map because you don’t have one of the supported browsers installed
			on your Lenovo. Get one of the browsers below, or check out a general tracker map instead.
		</p>
	</ng-container>


	<div class="choose-browser__list">
		<label class="choose-browser__radio choose-browser__item"
			*ngFor="let browser of browserList"
			[ngClass]="{'choose-browser__item--active': (!isBrowserListEmpty && browser.value === chosenBroswer)}"
			(click)="choseBrowser(browser.value)">
			<img [src]="browser.img"
				[alt]="browser.name">
			<span class="choose-browser__browser-name">{{browser.name}}</span>
			<input class="choose-browser__radio-input"
				type="radio"
				*ngIf="!isBrowserListEmpty"
				[name]="browser.name"
				[value]="browser.value"
				[checked]="browser.value === chosenBroswer">
			<span class="choose-browser__el"></span>

		</label>
	</div>

	<div class="choose-browser__promise">
		<div class="choose-browser__promise-title">
			<span class="choose-browser__text choose-browser__text--bold">Our Privacy Promise</span>
			<img src="assets/images/privacy-tab/figleaf.png"
				alt="figleaf">
		</div>
		<div class="choose-browser__text">
			We won’t store any of your data. We’ll only use it to analyze trackers. All information is transferred using
			a secure https connection.
		</div>
	</div>

	<div class="choose-browser__button-group">
		<button type="button"
			class="choose-browser__button"
			*ngIf="!isBrowserListEmpty"
			(click)="browserEmit()"
			vtrSendAnalytics
			[metricsEvent]="'ItemClick'"
			[metricsItem]="'WebsiteTrackersCheckNowButton'">Check now</button>
		<button type="button"
			class="choose-browser__button"
			*ngIf="isBrowserListEmpty"
			(click)="rejection.emit()">See general map</button>
		<button type="button"
			class="choose-browser__button choose-browser__button--grey"
			(click)="rejection.emit()"
			vtrSendAnalytics
			[metricsEvent]="'ItemClick'"
			[metricsItem]="'WebsiteTrackersNoThanksButton'">No thanks</button>
	</div>
</div>
