<div class="vtr-battery-gauge-reset">
	<div class="no-max-width">
		<vtr-ui-row-switch [title]="'device.deviceSettings.power.batterySettings.gaugeReset.title' | translate"
			[name]="'battery-gauge-reset-title'"
			[caption]="'device.deviceSettings.power.batterySettings.gaugeReset.description' | translate"
			[isSwitchVisible]="false"
			[showChildContent]="true"
			[leftIcon]="['fal', 'battery-full']"
			[isLastChild]='true'
			[switchId]="'ds-power-battery-batteryGaugeReset'">
			<div class="container-fluid">
				<div *ngIf="batteryService.gaugeResetInfo?.length>0">
					<div class="row pt-1"
						*ngFor="let battery of batteryService.gaugeResetInfo; let i=index"
						tabindex="0"
						role="text">
						<div class="col px-20">
							<div class="battery-text"
								
								role="text">
								<span role="text"
									*ngIf="batteryService.gaugeResetInfo?.length==1" id="deviceSettings-batteryGauge-subtitle">
									{{'device.deviceSettings.batteryGauge.subtitle'| translate}}
								</span>
								<span role="text"
									*ngIf="batteryService.gaugeResetInfo?.length>1" id="gaugeResetInfo-{{i}}">
									{{ headings[i] | translate }}
								</span>
							</div>
							<div class="battery-gauge-info py-3">

								<!-- Initial State Battery Gauge Reset -->
								<div>
									<div class="row">
										<div class="col-4 label-text"
											role="text" id="battery-barcode-title-{{i}}">
											{{ 'device.deviceSettings.power.batterySettings.gaugeReset.barCode' | translate}}
										</div>
										<div class="col-8 label-value"
											role="text" id="battery-barcode-value-{{i}}">{{battery.barCode}}</div>
									</div>
								</div>

								<!-- Battery Gauge Reset Progress -->
								<div *ngIf="battery.isResetRunning">
									<div class="row"
										*ngIf="isValid(battery.stage) && isValid(battery.stageNum)">
										<div class="col-4 label-text"
											role="text" id="batterySettings-gaugeReset-progress-title">
											{{ 'device.deviceSettings.power.batterySettings.gaugeReset.progress' | translate}}
										</div>
										<div class="col-8 label-value"
											*ngIf="battery.stage==1"
											role="text" id="batterySettings-gaugeReset-progressText1">
											{{'device.deviceSettings.power.batterySettings.gaugeReset.progressText1' | translate : { stage: battery.stage, stageNum: battery.stageNum } }}
										</div>
										<div class="col-8 label-value"
											*ngIf="battery.stage==2"
											role="text" id="batterySettings-gaugeReset-progressText2">
											{{'device.deviceSettings.power.batterySettings.gaugeReset.progressText2' | translate : { stage: battery.stage, stageNum: battery.stageNum } }}
										</div>
										<div class="col-8 label-value"
											*ngIf="battery.stage==3"
											role="text" id="batterySettings-gaugeReset-progressText3">
											{{'device.deviceSettings.power.batterySettings.gaugeReset.progressText3' | translate : { stage: battery.stage, stageNum: battery.stageNum } }}
										</div>
									</div>
									<div class="row"
										*ngIf="isValid(batteryService.remainingPercentages[battery.batteryNum - 1])">
										<div class="col-4 label-text"
											role="text" id="batterySettings-gaugeReset-remaining-title">
											{{ 'device.deviceSettings.power.batterySettings.gaugeReset.remaining' | translate}}
										</div>
										<div class="col-8 label-value"
											role="text" id="batterySettings-gaugeReset-remainingPercentage-value">
											{{batteryService.remainingPercentages[battery.batteryNum - 1]}}<span
												role="text">%</span>
										</div>
									</div>
									<div class="row"
										*ngIf="isValid(battery.startTime)">
										<div class="col-4 label-text"
											role="text" id="batterySettings-gaugeReset-startTime-title">
											{{ 'device.deviceSettings.power.batterySettings.gaugeReset.startTime' | translate}}
										</div>
										<div class="col-8 label-value"
											role="text"
											*ngIf="is12HrsFormat" id="battery-startTime-value-12hrs-format">
											{{battery.startTime | date : 'M/d/yyyy h:mm:ss '}}
											{{startTimeAbbreviated[i] | translate}}
										</div>
										<div class="col-8 label-value"
											role="text"
											*ngIf="!is12HrsFormat" id="battery-startTime-value-not12hrs-format">
											{{battery.startTime | date : 'M/d/yyyy H:mm:ss '}}
										</div>
									</div>
									<div class="row pt-3">
										<div class="col-12 percent-note" id="batterySettings-gaugeReset-percentNote">
											{{ 'device.deviceSettings.power.batterySettings.gaugeReset.percentNote' | translate}}
										</div>
									</div>
								</div>

								<!-- Last Battery Gauge reset result -->
								<div *ngIf="!battery.isResetRunning">
									<div class="row"
										*ngIf="isValid(battery.lastResetTime) && isValid(battery.resetErrorLog)">
										<div class="col-4 label-text"
											role="text" id="batterySettings-gaugeReset-lastReset-title-{{i}}">
											{{ 'device.deviceSettings.power.batterySettings.gaugeReset.lastReset' | translate}}
										</div>
										<div class="col-8 label-value"
											role="text"
											*ngIf="is12HrsFormat" id="batterySettings-battery-lastResetTime-value-12hrs-{{i}}">
											{{battery.lastResetTime | date : 'M/d/yyyy h:mm:ss '}}
											{{ lastResetTimeAbbreviated[i] | translate}}
											<br *ngIf="battery.lastResetTime">
											{{'device.deviceSettings.power.batterySettings.gaugeReset.resetLog.' + battery.resetErrorLog | translate}}
										</div>
										<div class="col-8 label-value"
											role="text"
											*ngIf="!is12HrsFormat" id="batterySettings-battery-lastResetTime-value-not12hrs-{{i}}">
											{{battery.lastResetTime | date : 'M/d/yyyy H:mm:ss '}}
											<br>
											{{'device.deviceSettings.power.batterySettings.gaugeReset.resetLog.' + battery.resetErrorLog | translate}}
										</div>
									</div>
									<div class="row"
										*ngIf="isValid(battery.FCCBefore) && isValid(battery.FCCAfter)">
										<div class="col-4 label-text"
											role="text" id="batterySettings-gaugeReset-fullChargeCapacity">
											{{ 'device.deviceSettings.power.batterySettings.gaugeReset.fullChargeCapacity' | translate}}
										</div>
										<div class="col-8 label-value"
											role="text"
											[innerHTML]="'device.deviceSettings.power.batterySettings.gaugeReset.FCCText' | translate: { before: battery.FCCBefore, after: battery.FCCAfter } ">
										</div>
									</div>
								</div>

								<div class="col-lg-8 col-md-8 col-sm-12 battery-gauge-btn"
									[class.stop-btn]="battery.isResetRunning"
									[class.disabled-btn]="isResetBtnDisabled(i) || !batteryService.isAcAttached">
									<vtr-ui-button metricsItem="Battery.Gauge.RESET"
										metricsParent="Page.Settings"
										metricsEvent="FeatureClick"
										[isRegular]="true"
										[disabled]="(batteryService.isGaugeResetRunning &&
											(batteryService.gaugeResetInfo.length > 1 && !battery.isResetRunning)) ||
											!batteryService.isAcAttached"
										[tabIndex]="((batteryService.isGaugeResetRunning &&
											(batteryService.gaugeResetInfo.length > 1 && !battery.isResetRunning)) ||
											!batteryService.isAcAttached)?-1:0"
										
										[linkId]="'myDevice-settings-battery-gauge-reset-stop-btn'"
										[label]="battery.isResetRunning? ('device.deviceSettings.power.batterySettings.gaugeReset.btnLabel.stop'|translate): ('device.deviceSettings.power.batterySettings.gaugeReset.btnLabel.reset' | translate)"
										
										(click)="onBatteryGaugeReset(i)"></vtr-ui-button>
								</div>
							</div>
						</div>
					</div>
					<div class="row px-20 pt-3">
						<span *ngIf="!batteryService.isAcAttached"
							class="note warning-note"
							tabindex="0"
							role="text" id="gaugeReset-warning-note"> 
							{{'device.deviceSettings.power.batterySettings.gaugeReset.note' | translate}}
						</span>
						<span *ngIf="batteryService.isAcAttached && batteryService.gaugeResetInfo?.length>1"
							class="note"
							tabindex="0"
							role="text" id="gaugeReset-warning-dual_note">
							{{'device.deviceSettings.power.batterySettings.gaugeReset.dual_note' | translate}}
						</span>
					</div>
				</div>
			</div>
		</vtr-ui-row-switch>
	</div>
</div>
