$warranty-icon-adp: '\e1249';
$warranty-icon-adpone: '\e1249';
$warranty-icon-depot: '\e1250';
$warranty-icon-ise: '\e1251';
$warranty-icon-kyd: '\e1252';
$warranty-icon-carryin: '\e1250';
$warranty-icon-mailin: '\e1253';
$warranty-icon-onsite: '\e1254';
$warranty-icon-premier: '\e1255';
$warranty-icon-premiumcare: '\e1256';
$warranty-icon-sb: '\e1257';
$warranty-icon-sbty: '\e1257';
$warranty-icon-ticru: '\e1258';
$warranty-icon-legionultimate: '\e1221';
$warranty-icon-smartperformance: '\e1284';
$warranty-icon-premiumcaredepot: '\e1256';
$warranty-icon-premierdepot: '\e1255';
$warranty-icon-nowarranty: '\e1310';
