@import "../../../styles/common-blocks";

.support-widget {
	@extend %common-block-wrapper;
	margin: $topIndent 0 10.6rem 0;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	display: flex;
	flex-direction: column;

	&__title {
		line-height: 2.9rem;
		font-size: 2.5rem;
		font-weight: 500;
		color: #194A65;
	}

	&__text {
		color: #C8CAD2;
		font-size: 1.1rem;
		line-height: 2.3rem;
		text-transform: uppercase;
		margin: 0;
	}

	&__button {
		position: relative;
		border: 1px solid #ECF0F1;
		border-radius: 5px;
		width: 100%;
		background-color: #F5F7F8;
		padding: 1.7rem 0 1.8rem 5rem;
		margin-top: 2rem;
		font-size: 1.4rem;
		font-weight: 600;
		color: #34495E;
		text-align: left;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -0.1rem;
			transform: translateY(-50%) rotate(90deg);
			transform-origin: 50% 50%;
			right: 1.2rem;
			width: 1.4rem;
			height: 0.8rem;
			background: url("src/assets/icons/privacy-tab/icon-gray-arrow.svg") center no-repeat;
			background-size: contain;
		}

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -0.1rem;
			transform: translateY(-50%) rotate(90deg);
			transform-origin: 50% 50%;
			left: 1.6rem;
			width: 2.3rem;
			height: 2.3rem;
			background: url("src/assets/icons/privacy-tab/icon-support-clock.png") center no-repeat;
			background-size: contain;
		}
	}
}
