@import '../../../../../app.theme.scss';

.vtr-modal-chs-welcome-container {
    .page {
        margin: 0 4rem;
        .page-img {
            img {
				width: 100%;
            }
        }
        .page-title {
			font-size: $fontsize_lg;
			font-weight: bold;
            color: $dark;
			margin-bottom: 2rem;
		}
		.page-subtitle {
			font-size: $fontsize_xs;
			font-weight: bold;
			color: $dark;
		}
        .page-desc {
            font-size: $fontsize_xs;
			color: $shade_blue;
			font-weight: $weight_light;
        }
        .chs-logo {
            border-bottom: 0.1rem solid $shade_extralight;
            img {
                height: 7rem;
            }
		}

	}
	.page-one {
		margin: 0;
		.icon-bkg {
			.icomoon {
				font-size: 3.5rem;
			}
		}
	}
    .page-two {
		border-bottom: none;
		margin: 2rem;
        color: $dark;
        .description {
			font-size: $fontsize_lg;
			font-weight: $weight_regular;
            letter-spacing: 0;
		}
		.sub-desc {
			font-size: 1.5rem;
			font-weight: $weight_regular;
			margin-bottom: 4rem;
		}
        .modal-button {
			width: 20rem;
            font-size: $fontsize_xs;
			padding: 1rem;
			text-align: center;
			border: none;
			letter-spacing: 0;
		}
		.allow-btn {
			background-color: $blue_lightest;
			color: $light;
			margin-right: 2rem;
		}
		.cancel-btn {
			background-color: $gray;
		}
    }
    .page-indicator {
        margin-bottom: 4rem;
        margin-top: 3rem;
		::ng-deep {
			.button-box {
				.button {
					min-height: 4rem;
				}
			}
		}
	}

	@media #{$breakpoint_sm} {
		.page-one {
			.page-img {
				margin-bottom: 1.5rem !important;
			}

			.page-title {
				margin-bottom: 2rem !important;
			}
		}

		.page-two {
			.sub-desc {
				margin-bottom: 3rem;
			}

			.modal-button {
				width: 18rem;
			}
		}
	}
}
