@import '../../../../../app.theme.scss';

.vtr-modal-chs-welcome-container {
    .page {
        margin: 0 4rem;
        .page-img {
            img {
				width: 100%;
            }
        }
        .page-title {
            font-size: 2.5rem;
            color: $dark;
			margin-bottom: 2rem;
		}
		.page-subtitle {
			font-size: 1.8rem;
			font-weight: bold;
			color: $dark;
		}
        .page-desc {
            font-size: 1.8rem;
			color: $shade_blue;
			font-weight: $weight_light;
        }
        .chs-logo {
            border-bottom: 0.1rem solid $shade_extralight;
            img {
                height: 7rem;
            }
        }

	}
	.page-one {
		margin: 0;
		.icon-bkg {
			.icomoon {
				font-size: 3.5rem;
			}
		}
	}
    .page-two {
		border-bottom: none;
		margin: 4rem;
        color: $dark;
        .description {
            font-size: $fontsize_xl;
            letter-spacing: 0;
		}
		.sub-desc {
			font-size: 2rem;
			margin-bottom: 6rem;
		}
        .modal-button {
			width: 28rem;
            font-size: 1.8rem;
			padding: 1rem;
			text-align: center;
			border: none;
			letter-spacing: 0;
		}
		.allow-btn {
			background-color: $blue_lightest;
			color: $light;
		}
		.cancel-btn {
			background-color: $gray;
		}
    }
    .page-indicator {
        margin-bottom: 4rem;
        margin-top: 3rem;
		::ng-deep {
			.button-box {
				.button {
					min-height: 4rem;
				}
			}
		}
    }
}
