<div class="vtr-modal-chs-welcome-container position-relative">
	<!-- start of page 1-->
	<div class="page page-one" *ngIf="switchPage === 1">
		<div class="text-center">
			<div class="page-img mb-5">
				<img src="assets/images/connected-home-security/welcome-slide1@2x.png" alt="">
			</div>
			<p class="page-title text-uppercase mb-80" [innerHTML]="'homeSecurity.tour.welcomeTitle' | translate"></p>
			<div class="row text-left">
				<div class="col-8 row m-auto page-subtitle text-uppercase">
					<div class="col-2"></div>
					<div class="col-10" [innerHTML]="'homeSecurity.tour.welcomeSubTitle' | translate"></div>
				</div>
			</div>
			<div *ngFor="let item of welcomeDesc" class="row text-left mb-3">
				<div class="col-8 m-auto row page-desc" >
					<div class="icon-bkg col-2 blue text-right pr-3">
						<span [ngClass]="['icomoon', 'icomoon-' + item.icon]"></span>
					</div>
					<div class="col-10" [innerHTML]="item.desc | translate"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of page1-->
	<!-- start of page 2-->
	<div class="page page-two" *ngIf="switchPage === 2 && showPageLocation === true">
		<p class="description" [innerHTML]="'homeSecurity.tour.locationTitle' | translate"></p>
		<p class="sub-desc" [innerHTML]="'homeSecurity.tour.locationPermission' | translate"></p>
		<div class="d-flex justify-content-between">
			<button class="modal-button allow-btn"
				id="chs-tour-btn-openLocation"
				vtrMetrics
				metricsEvent="FeatureClick"
				metricsItem="CHSWelcomeOpenLocationButton"
				metricsParent="{{metricsParent}}"
				(click)="openLocation($event)"
				[innerHTML]="'homeSecurity.tour.allow' | translate"
				title="{{'homeSecurity.tour.allow' | translate}}">
			</button>
			<button class="modal-button cancel-btn"
				id="chs-tour-btn-cancelLocation"
				vtrMetrics
				metricsEvent="FeatureClick"
				metricsItem="CHSWelcomeCancelLocationButton"
				metricsParent="{{metricsParent}}"
				(click)="closeModal()"
				[innerHTML]="'homeSecurity.tour.notNow' | translate"
				title="{{'homeSecurity.tour.notNow' | translate}}">
			</button>
		</div>
	</div>
	<!-- end of page2-->
	<div class="page-indicator">
		<div *ngIf="switchPage === 1"
			class="row text-center align-items-center justify-content-center">
			<div>
				<vtr-ui-button linkId="chs-tour-btn-next"
					*ngIf="isLocationServiceOn === false"
					metricsEvent="FeatureClick"
					metricsItem="CHSWelcomeNextButton"
					metricsParent="{{metricsParent}}"
					[label]="'tutorial.next' | translate"
					(onClick)="next()"></vtr-ui-button>
				<vtr-ui-button *ngIf="isLocationServiceOn === true"
					linkId="chs-tour-btn-done"
					metricsEvent="FeatureClick"
					metricsItem="CHSWelcomeDoneButton"
					metricsParent="{{metricsParent}}"
					(onClick)="closeModal()"
					[label]="'homeSecurity.tour.done' | translate"></vtr-ui-button>
			</div>
		</div>
	</div>
</div>
