@import '../../../../../app.theme.scss';

.vtr-modal-chs-welcome-container {
	.close-btn {
		width: 2.2rem;
		height: 2.2rem;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
    .modal-header {
		border: none;
		padding-top: 2rem;
		padding-right: 2rem;
    }
    .page {
        border-bottom: 0.1rem solid $shade_lighter;
        margin: 0 4rem;
        .page-img {
            padding: 0rem 5rem;
            img {
				width: 100%;
				max-height: 40rem;
            }
        }
        .page-title {
            font-size: 4.5rem;
            color: $main_darker;
			margin-bottom: 2rem;
        }
        .page-desc {
            font-size: 2rem;
            color: $shade_darker;
            line-height: 3.5rem;
			padding: 0 5rem 2rem;
        }
        .chs-logo {
            border-bottom: 0.1rem solid $shade_extralight;
            img {
                height: 7rem;
            }
        }

    }
    .page-two{
        border-bottom: none;
        color: $main_dark;
        .description {
            font-size: 2.5rem;
            font-weight: $weight_bold;
            letter-spacing: 0;
        }
        .sub-desc {
            font-size: 2rem;
			margin-bottom: 5rem;
			::ng-deep .button {
				font-size: 2rem;
			}
        }
        .modal-button {
            background: $gradient_main;
            border-radius: 5rem;
            padding: 0 3rem;
            height: 6rem;
            font-size: 2rem;
            color: $light;
            font-weight: $weight_medium;
        }
    }
    .page-indicator {
        margin-bottom: 2rem;
        margin-top: 2rem;
        .button-welcome {
            padding: 0 4rem;
        }

        a {
            color: $main;
            font-size: 2rem;
        }
        a:hover {
            cursor: pointer;
        }
    }
}
