<div class="vtr-modal-chs-welcome-container position-relative">
	<div class="modal-header justify-content-end">
		<div role="button" id="chs-tour-btn-close"
			href="javascript:;"
			class="close-btn"
			metricsItem="closeCHSWelcomeModal"
			metricsEvent="featureClick"
			metricsParent="ConnectedHomeSecurity"
			[ngClass]="{'invisible': isLocationServiceOn === true && showPageLocation === true}"
			(click)="closeModal()">
			<img [src]=" '/assets/icons/Close.svg' | svgInline | async"
				alt=""
				srcset="">
		</div>
	</div>
	<!-- start of page 1-->
	<div class="page page-one" *ngIf="switchPage === 1">
		<div class="text-center">
			<div class="page-img">
				<img src="assets/images/placeholder-800X800.png" alt="">
			</div>
			<p class="page-title mb-3">{{'homeSecurity.tour.welcome1' | translate}}</p>
			<p class="page-desc p-0">{{'homeSecurity.tour.welcomeDesc1' | translate}}</p>
			<p class="page-desc font-weight-bold">{{'homeSecurity.tour.welcomeDescStart' | translate}}</p>
		</div>
	</div>
	<!-- end of page1-->
	<!-- start of page 2-->
	<div class="page page-two" *ngIf="switchPage === 2 && showPageLocation === true">
		<div class="chs-logo w-100 pb-5">
			<img src="assets/images/connected-home-security/welcome-chs-logo.png" alt="">
		</div>
		<p class="description">
			{{'homeSecurity.tour.locationTitle' | translate}}
		</p>
		<p class="sub-desc">
			{{'homeSecurity.tour.locationPermission' | translate}}
		</p>
		<div class="d-flex sub-desc">
			<div class="ml-0 mr-4 pl-0">
				<vtr-ui-button *ngIf="!isLocationServiceOn"
					linkId="chs-tour-btn-openLocation"
					role="button"
					metricsEvent="FeatureClick"
					metricsItem="CHSWelcomeOpenLocationButton"
					metricsParent="{{metricsParent}}"
					(click)="openLocation($event)"
					[upperCaseLabel]=false
					[label]="'homeSecurity.tour.locationTitle' | translate"
					[title]="'homeSecurity.tour.locationTitle' | translate"></vtr-ui-button>
			</div>
		</div>
	</div>
	<!-- end of page4-->
	<div class="page-indicator">
		<div *ngIf="switchPage === 1"
			class="row text-center align-items-center justify-content-center">
			<div>
				<vtr-ui-button linkId="chs-tour-btn-start"
					*ngIf="!isLocationServiceOn"
					role="button"
					metricsEvent="FeatureClick"
					metricsItem="CHSWelcomeNextButton"
					metricsParent="{{metricsParent}}"
					[label]="'tutorial.next' | translate"
					(click)="next()"
					[title]="'tutorial.next' | translate"></vtr-ui-button>
				<vtr-ui-button *ngIf="isLocationServiceOn === true"
					linkId="chs-tour-location-done-btn"
					role="button"
					metricsEvent="FeatureClick"
					metricsItem="CHSWelcomeDoneButton"
					metricsParent="{{metricsParent}}"
					(click)="closeModal()"
					[label]="'homeSecurity.tour.done' | translate"
					[title]="'homeSecurity.tour.done' | translate"></vtr-ui-button>
			</div>
		</div>
	</div>
</div>
