<div class="breached-description">
	<div class="breached-description__text-wrapper">
		<div class="breached-description__text" vtrCutMultilineTextWithDots [textToAppend]="breachedAccount.details" [addShowMoreBtn]="true"></div>
	</div>

	<div class="breached-description__details-wrapper">
		<div class="breached-description__details-wrapper-title">
			We found your information in a {{breachedAccount.date | date:'MMM d, y'}} data breach
		</div>

		<div class="breached-description__description">
			<div class="breached-description__col">
				<div *ngIf="breachedAccount.email"
					 class="breached-description__item"
					 [ngClass]="{'breached-description__item--email': breachedAccount.email}">
					{{breachedAccount.email}}
				</div>
				<div *ngIf="breachedAccount.password"
					 class="breached-description__item"
					 [ngClass]="{'breached-description__item--password': breachedAccount.password}">
					{{breachedAccount.password}}
				</div>
				<div *ngIf="breachedAccount.name" class="breached-description__item"
					 [ngClass]="{'breached-description__item--name': breachedAccount.name}">
					{{breachedAccount.name}}
				</div>
			</div>
		</div>
	</div>
</div>
