@import "../../../common/directives/cut-multiline-text-with-dots/cut-multiline-text-with-dots";

.breached-description {
	font-size: 1.6rem;
	font-weight: 500;
	&__text-wrapper {
		padding-bottom: 2.4rem;
	}
	&__text {
		color: #34495E;
		line-height: 2.2rem;
	}

	&__details-wrapper {
		padding: 2.4rem;
		border: 1px solid #ECF0F1;
		border-radius: 6px;
		background-color: #FFFFFF;
	}

	&__details-wrapper-title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.6rem;
	}

	&__description {
		display: flex;
		flex-flow: row;
		color: #E74C3C;
		padding-bottom: 1rem;
	}

	&__col {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}

	&__item {
		position: relative;
		margin-top: 2.7rem;
		padding: .6rem 2rem .8rem 4rem;
		background-color: #F5F7F8;
		border-radius: 19px;
		font-size: 1.2rem;
		color: #E74C3C;
		font-weight: 600;

		&:not(:last-child) {
			margin-right: 2rem;
		}

		&:before {
			content: "";
			position: absolute;
			left: 1rem;
			top: 50%;
			transform: translateY(-50%);
			width: 16px;
			height: 17px;
			background: none;
			background-size: contain;
		}

		&--password:before {
			background: url("src/assets/icons/privacy-tab/icon-password-black.svg") 0 0 no-repeat;
		}

		&--email:before {
			background: url("src/assets/icons/privacy-tab/icon-email-black.svg") 0 0 no-repeat;
		}

		&--name:before {
			background: url("src/assets/icons/privacy-tab/icon-name-black.svg") 0 0 no-repeat;
		}
	}
}
