<div class="select-box">
	<div class="dropdown">
		<a class="dropdown-toggle" id="gaming-drop" (click)="toggleOptions(options)">
			<span *ngFor="let option of options.dropOptions" 
			[ngStyle]="{display: option.value != options.curSelected? 'none':''}">
				{{option.name  | translate}}
			</span>
			<i class="icon icon-arrowdown"></i>
		</a>
		<ng-container *ngIf="showOptions">
			<div class="gaming-dropdown-menu">
				<ng-container *ngFor="let option of options.dropOptions; index as i">
					<li [ngClass]="{ 'selected': option.value===options.curSelected }" (click)="optionSelected(option)"
						(mouseenter)="changeDescription(option)" (mouseleave)="resetDescription(option)">
						<a class="dropdown-item"><i class="icon icon-checkline"></i>{{ option.name  | translate}}</a>
					</li>
				</ng-container>
				<div class="information">
					<p>{{ currentDescription | translate }}</p>
				</div>
			</div>
		</ng-container>
	</div>
</div>