@import "../../../../styles/common-blocks";

.scan-limit-pitch {
	display: flex;
	justify-content: space-between;
	background: linear-gradient(315deg, #FBFDFE 0%, #F3F7F9 100%);
	border: 1px solid #ECF0F1;
	border-radius: 8px;

	&__wrapper {
		padding: 2rem 0 3rem 3rem;
	}

	&__title {
		@extend %text-common;
		font-weight: bold;
		color: #34495E;
		text-transform: uppercase;
	}

	&__text {
		@extend %text-common;
		margin-top: 2rem;
		color: #34495E;
	}

	&__button-group {
		display: flex;
		flex-flow: row;
		justify-content: left;
		align-items: center;
		margin-top: 4rem;
	}

	&__button {
		@extend %theme-btn;
		min-width: 20rem;
	}

	&__show-more {
		@extend %button-link;
		@extend %button-link--to-right;
		margin-left: 4rem;
	}

	&__show-more-text {
		@extend %button-link__text;
	}

	&__img {
		padding: 0;
		margin: 0;
		max-width: 200px;

		& img {
			width: 100%;
		}
	}
}
