<div class="scan-limit-pitch" data-analyticsName="LimitBlock">
	<div class="scan-limit-pitch__wrapper">
		<p class="scan-limit-pitch__title">You’ve reached your breach scan limit</p>
		<p class="scan-limit-pitch__text">
			If you want to check more emails, install Lenovo Privacy Essentials by FigLeaf.
		</p>
		<div class="scan-limit-pitch__button-group">
			<button class="scan-limit-pitch__button"
					vtrOfflineMode
					vtrOpenFigleafInstaller
					vtrSendAnalytics
					[metricsEvent]="'ItemClick'"
					[metricsItem]="'InstallButton' | changeActionButtonText | async">
				{{'Install now' | changeActionButtonText | async}}
			</button>
			<div class="scan-limit-pitch__button-link">
				<a class="scan-limit-pitch__show-more"
				   vtrSendAnalytics
				   [metricsEvent]="'ItemClick'"
				   [metricsItem]="'LearnMoreLink'"
				   routerLink="/privacy/landing">
					<span class="scan-limit-pitch__show-more-text">Learn more</span>
				</a>
			</div>
		</div>
	</div>
	<figure class="scan-limit-pitch__img">
		<img src="assets/images/privacy-tab/pitch-block/Limit.png"
			 srcset="assets/images/privacy-tab/pitch-block/Limit@2x.png 2x"
			 alt="scan limit image">
	</figure>
</div>
