<div class="vtr-page-device-updates vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="backarrow"
				[back]="back"
				[title]="title">
			</vtr-header-main>
		</div>
	</div>

	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-7 col-xl-8 vtr-page-left-column">
						<div class="vtr-page-shift-up">
							<div class="vtr-device-information">
								<div class="container-fluid">

									<div class="row">
										<div class="col col-12">
											<vtr-widget-offline-info *ngIf="!isOnline"
												[isButtonVisible]="false"
												[isSubtitleVisible]="false"
												[title]="'dashboard.offlineInfo.title' | translate"
												[subtitle]="'dashboard.offlineInfo.subtitle' | translate"
												[buttonText]="'dashboard.offlineInfo.buttonText' | translate"
												(buttonClick)="onGetSupportClick($event)"></vtr-widget-offline-info>

											<vtr-widget-device-update [title]="updateTitle | translate"
												*ngIf="isOnline"
												[subTitle1]="getLastUpdatedText()"
												[subTitle2]="getNextUpdatedScanText()"
												[buttonText]="'systemUpdates.banner.checkButton' | translate"
												[percent]="percentCompleted"
												[showProgress]="isUpdateCheckInProgress"
												[isUpdateDownloading]="isUpdateDownloading"
												[isCheckingPluginStatus]="isCheckingPluginStatus"
												[installingPercent]="installationPercent"
												[downloadingPercent]="downloadingPercent"
												(checkForUpdate)="onCheckForUpdates()"
												(cancelUpdateCheck)="onCancelUpdateCheck()"
												(cancelUpdateDownload)="onCancelUpdateDownload()">
											</vtr-widget-device-update>
										</div>
									</div>
									<vtr-available-updates *ngIf="isUpdateListVisible()"
										[criticalUpdates]="criticalUpdates"
														   [optionalUpdates]="optionalUpdates"
										[recommendedUpdates]="recommendedUpdates"
										[ignoredUpdates]="ignoredUpdates"
										[isInstallationCompleted]="systemUpdateService.isInstallationCompleted"
										[isInstallationSuccess]="systemUpdateService.isInstallationSuccess"
										[isInstallingAllUpdates]="systemUpdateService.isInstallingAllUpdates"
										(checkChange)="onUpdateSelectionChange($event)"
										(ignoreUpdate)="onIgnoredUpdate($event)"
										(installAllUpdate)="showInstallConfirmation('all')"
										(installSelectedUpdate)="showInstallConfirmation('selected')">
									</vtr-available-updates>

									<div class="row">
										<div class="col col-12 installation-history-container p-5">
											<!-- Installation timeline is scope of MVP-2 -->
											<!-- <div class="row">
											<div class="col installation-history">
												{{ installationHistory }}
											</div>
										</div>
										<div class="row installation-history-div">
											<div class="col col-1 installation-history-ellipses">
												---
											</div>
											<div class="col col-1 installation-history-dash">
												<hr>
											</div>
											<div class="col col-9 installation-history-text">
												<div class="row">
													<div class="col">
														<ul class="status-list">
															<div class="row">
																<li *ngFor="let item of installationHistoryList"
																	[ngClass]="[item.status]">
																	<a routerLink="/{{item.path}}">
																		<div class="container-fluid">
																			<div class="row">
																				<div class="col col-2 text-right">
																					<div class="status-icon">
																						<div class="icon-bkg">
																							<fa-icon
																								[icon]="['fas', item.icon]">
																							</fa-icon>
																						</div>
																					</div>
																				</div>
																				<div class="col col-10 status-text">
																					<div class="title">
																						{{item.installationDate}}
																					</div>
																				</div>
																			</div>
																		</div>
																	</a>
																</li>
															</div>
															<hr>
														</ul>
													</div>
													<div class="col col-1 installation-history-dash status-now">
														Now
													</div>
												</div>
											</div>
										</div> -->

											<!-- <div class="row">
											<div class="col row1 full-history">
												<a (click)="onToggleFullHistory()"
													class="pointer">Full History</a>
											</div>
										</div>

										<vtr-installation-history *ngIf="showFullHistory"
											(reinstallUpdate)="onReinstallUpdate($event)"></vtr-installation-history> -->


											<!-- <ng-template #tipContent>
											<div>
												<a href="#"
													class="reboot-text">
													<div class="row">
														<div class="col-auto pl-0 pr-0">
															<fa-icon [icon]="['fas', 'undo']"></fa-icon>
														</div>
														<div class="col">Reboot required</div>
													</div>
												</a>
												<ul>
													<li>Manufacturer: <span>{{ updateDetails.manufacturer }}</span></li>
													<li>Version: <span>{{ updateDetails.version }}</span></li>
													<li>Installed version:
														<span>{{ updateDetails.installedVersion }}</span></li>
													<li>Download size: <span>{{ updateDetails.downloadSize }}</span>
													</li>
													<li>Disc space needed:
														<span>{{ updateDetails.diskSpaceNeeded }}</span></li>
												</ul>
												<div class="row">
													<div class="col-auto pl-0">
														<a href="#"
															class="read">Read more</a>
													</div>
													<div class="col-auto pl-0">
														<a href="#"
															class="ignore">Ignore update</a>
													</div>
												</div>
											</div>
										</ng-template>
										<div class="row justify-content-center">
											<fa-icon class="question-icon"
												placement="auto"
												[ngbTooltip]="tipContent"
												[icon]="['far', 'question-circle']"
												container="body"
												tooltipClass="tooltip-click"
												triggers="click:blur">
											</fa-icon>
										</div> -->

											<vtr-container-collapsible
												[cardTitle]="'systemUpdates.history' | translate | lowercase"
												[isCollapsed]="false">
												<vtr-installation-history (reinstallUpdate)="onReinstallUpdate($event)">
												</vtr-installation-history>
											</vtr-container-collapsible>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<div class="container-fluid">
								<div class="row mb-40">
									<div class="col col-12 cont">

										<vtr-autoupdate-settings
											[title]="'systemUpdates.autoUpdateSettings.title' | translate"
											componentName="Auto Update Settings"
											[description]="'systemUpdates.autoUpdateSettings.subtitle' | translate"
											[items]="autoUpdateOptions"
											(toggleOnOff)="onUpdateToggleOnOff($event)">
										</vtr-autoupdate-settings>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 mb-40">
										<vtr-container-card [img]="'assets/images/support.jpg'"
											[itemID]="'LenovoSupportWebsite'"
											[title]="'systemUpdates.support.title' | translate"
											[action]="'Read More'"
											[actionType]="'External'"
											[actionLink]="supportLink"
											[type]="'partnerarticle'"
											order="2"
											sideFlag = 'r'
											[ratioX]="4"
											[ratioY]="2">
										</vtr-container-card>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 mb-40">
										<vtr-container-card [img]="cardContentPositionA.FeatureImage"
															[itemID]="cardContentPositionA.Id"
											[caption]="cardContentPositionA.Description"
											[title]="cardContentPositionA.Title"
											[logoText]="cardContentPositionA.BrandName"
											[action]="cardContentPositionA.Action"
											[actionType]="cardContentPositionA.ActionType"
											[actionLink]="cardContentPositionA.ActionLink"
											[type]="'corner-article'"
											order="3"
											sideFlag = 'r'
											[ratioX]="4"
											[ratioY]="2"
											[cornerShift]="'large'">
										</vtr-container-card>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
