@import '../../../app.theme.scss';

.vtr-modal-lenovo-id {
  /************** common *************/
  .modal-dialog {
    width: 500px;
    height: 640px;
  }

  .container {
    width: 500px;
    height: 640px;
		border-radius: 1rem;
		background-color: $light;
		box-shadow: $drop_shadow;
  }

  .btn-close {
    position: absolute;
    right: 1%;
    top: 1%;
  }

}