@import "../../../app.theme.scss";
.vtr-modal-lenovo-id {
    .modal-content {
        width: inherit;
        height: 600px;
        overflow: hidden;
        border: none;
        margin: 0 auto;
    }
    .progress-spinner {
        width: 8rem;
        height: 8rem;
        top: calc(50% - 4rem);
        right: calc(50% - 4rem);
        display: block;
        position: fixed;
    }
    .id-container {
        width: inherit;
        height: 600px;
        overflow: hidden;
        border-style: none;
    }
    .close {
        font-size: 3.5rem;
    }
    .close:focus {
        outline: none;
    }
}
