<div class="modal-body vtr-modal-lenovo-id">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-content">
		<div class="spinner-border text-primary progress-spinner" *ngIf="!isBroswerVisible" role="status">
		</div>
		<x-ms-webview class="id-container" id="lid-webview" [style.visibility]="isBroswerVisible? 'visible': 'hidden'"></x-ms-webview>
	</div>
</div>