@import '../../../app.theme.scss';
.vtr-ui-add-reduce-button {
    width: 100%;
    height: 100%;
    background-color: $white5;
    border-radius: .6rem;
    display: flex;
    button {
        margin-top: -0.2rem;
        font-size: 3rem;
    }
    p {
        flex: 1;
        font-size: 1.4rem;
    }
    .disabled {
        color: $screen_light_15;
        cursor: not-allowed;
    }
    button,
    p {
        height: 100%;
        line-height: 100%;
        text-align: center;
        color: $light;
        span {
            height: 100%;
            justify-content: center;
            align-items: center;
            display: -webkit-flex;
        }
    }
}