@import "../../../app.theme.scss";

.color-wheel {
	.color-display {
		width: 0;
		height: 0;
		border: 0;
	}
	.rgb-values {
		.form-group {
			margin-left: 2rem;
			label {
				width: 2.4rem;
				font-size: 1.6rem;
				color: $gaming_lightest;
			}
			input {
				height: 3rem;
				width: 6rem;
				background: $gaming_shade;
				font-size: 1.6rem;
				color: $gaming_lightest;
				border: none;
				box-sizing: border-box;
				padding: 0.6rem;
			}
		}
	}
}

/deep/ {
	.color-wheel {
		.color-picker {
			width: 100% !important;
		}
	}
}