@import "../../../app.theme.scss";

.picker-container {
	.color-display {
		width: 0;
		height: 0;
		border: 0;
	}
	.rgb-values {
		.form-group {
			margin-left: 2rem;
			label {
				width: 2.4rem;
				font-size: 1.6rem;
				color: $gaming_lightest;
			}
			input {
				height: 3rem;
				width: 6rem;
				background: $gaming_shade;
				font-size: 1.6rem;
				color: $gaming_lightest;
				border: none;
				box-sizing: border-box;
				padding: 0.6rem;
			}
		}
	}
}

::ng-deep {
	.picker-container {
		.color-picker {
			border: 0;
			border-radius: $border_radius_sm;
			background: $gaming_shade;
			.saturation-lightness {
				border-radius: $border_radius_sm $border_radius_sm 0 0;
			}
			.hue-alpha {
				.selected-color-background {
					opacity: 0;
				}
			}
			.selected-color {
				border: 0;
			}
			.rgba-text {
				.box {
					padding: 0 8px 8px 8px;
					div {
						color: $gaming_lighter;
					}
					input {
						color: $gaming_lightest;
						background: $gaming_darker;
						border: 0;
					}
				}
			}
			.type-policy {
				display: none;
			}
		}
	}
}
