<div class="title" id="support-detail-article-3-tittle" role="text">{{'faq.question3.title' | translate}}</div>
<hr/>
<h3 class="heading2">{{'faq.question3.heading1' | translate}}</h3>
<p>{{'faq.question3.para1' | translate}}</p>
<h3 class="heading2">{{'faq.question3.heading2' | translate}}</h3>
<p>{{'faq.question3.para2' | translate}}</p>
<ul>
    <li>{{'faq.question3.para3' | translate}}</li>
</ul>
<h3 class="heading2">{{'faq.question3.heading3' | translate}}</h3>
<ul>
    <li>{{'faq.question3.para4' | translate}}</li>
</ul>
<h3 class="heading2">{{'faq.question3.heading4' | translate}}</h3>
<p><strong><u>{{'faq.question3.para5' | translate}}</u></strong></p>
<ol>
    <li [innerHTML]="'faq.question3.para6' | translate"></li>
    <li>{{'faq.question3.para7' | translate}}</li>
</ol>
<p><strong><u>{{'faq.question3.para8' | translate}}</u></strong></p>
<p [innerHTML]="'faq.question3.para9' | translate"></p>
<ol>
    <li [innerHTML]="'faq.question3.para10' | translate"></li>
    <li [innerHTML]="'faq.question3.para11' | translate"></li>
    <li [innerHTML]="'faq.question3.para12' | translate"></li>
    <li [innerHTML]="'faq.question3.para13' | translate"></li>
</ol>
<p [innerHTML]="'faq.question3.para14' | translate"></p>
<ol>
    <li [innerHTML]="'faq.question3.para15' | translate"></li>
    <li [innerHTML]="'faq.question3.para16' | translate"></li>
    <li [innerHTML]="'faq.question3.para17' | translate"></li>
    <li [innerHTML]="'faq.question3.para18' | translate"></li>
</ol>
