<div class="vtr-page-connected-home-security vtr-page">
    <div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="'&lt; '"
				[back]="'common.ui.back' | translate"
				[title]="'homeSecurity.title' | translate"></vtr-header-main>
		</div>
    </div>
    <div class="row vtr-page-content">
        <div class="col vtr-col">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-8 vtr-page-left-column">
                    <div class="vtr-subpage">
                        <div class="vtr-page-shift-up">
                            <div class="container-fluid">
                                <div class="row mb-40 content-container p-40">
                                    <div class="container-fluid">
                                        <vtr-widget-home-security-device
                                            [login]="account.lenovoIdLoggedIn"
                                            [state]="account.state"
                                            (upgradeAccount)="onUpgradeAccount()"
                                            (startTrial)="onStartTrial()"
                                          ></vtr-widget-home-security-device>
                                    </div>
                                </div>
                                <div class="row content-container p-40">
                                    <div class="container-fluid fix-height">
                                        <div class="row title">{{'homeSecurity.overviewBlockTitle' | translate}}</div>
                                        <div class="container-fluid sub-container">
                                            <div class="row sub-title">{{'homeSecurity.myDevice' | translate}}</div>
                                            <div class="row container-fluid h-50 device-card">
                                                <vtr-widget-home-security-my-device class="container-fluid" [homeSecurityOverviewMyDevice]="homeSecurityOverviewMyDevice"></vtr-widget-home-security-my-device>
                                            </div>
                                            <div class="row sub-title">{{'homeSecurity.allDevices' | translate}}
                                                <vtr-ui-button
                                                (click)="switchStatus()"
                                                [label]="'switch'"></vtr-ui-button>
                                            </div>
                                            <div class="row container-fluid home-card">
												<vtr-widget-home-security-all-devices class="container-fluid"
												[eventEmitter]="eventEmitter"
												[allDevicesInfo]="allDevicesInfo"
												[account]="account"
												(emitter)="haddleChange($event)"></vtr-widget-home-security-all-devices>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4 vtr-page-right-column">
                    <div class="vtr-page-shift-up">
                        <div class="container-fluid">
                            <div class="row mb-40">
                                <div class="col col-12">
									<vtr-widget-home-security-account-status
										[status]="account.state"
										[standardTime]="account.standardTime"
										[expiredDate]="account.expiration"
										(startTrial)="onStartTrial()"
										(manageAccount)="onManageAccount($event)"
										(upgradeAccount)="onUpgradeAccount()">
                                    </vtr-widget-home-security-account-status>
                                </div>
                            </div>
                            <div class="row mb-40">
                                <div class="col col-12">
                                    <vtr-widget-questions [title]="'homeSecurity.notification' | translate"
                                        [description]="'homeSecurity.recent' | translate "
                                        [items]="notifications.items">
                                    </vtr-widget-questions>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
