<div class="vtr-page-connected-home-security vtr-page">
    <div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="'&lt; '"
				[back]="'common.ui.back' | translate"
				[title]="'homeSecurity.title' | translate"></vtr-header-main>
		</div>
    </div>
    <div class="row vtr-page-content">
        <div class="col vtr-col">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-8 vtr-page-left-column">
                    <div class="vtr-subpage">
                        <div class="vtr-page-shift-up">
                            <div class="container-fluid">
                                <div class="row mb-40 content-container p-40">
                                    <div class="container-fluid">
                                        <vtr-widget-home-security-device [subscription]="account.subscription"></vtr-widget-home-security-device>
                                    </div>
                                </div>
                                <div class="row content-container p-40">
                                    <div class="container-fluid fix-height">
                                        <div class="row title">{{'homeSecurity.overviewBlockTitle' | translate}}</div>
                                        <div class="row description">placeholder placeholder placeholder placeholder placeholder</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4 vtr-page-right-column">
                    <div class="vtr-page-shift-up">
                        <div class="container-fluid">
                            <div class="row mb-40">
                                <div class="col col-12">
                                    <vtr-widget-home-security-account-status [title]="'My connected home security'"
                                        [description]="'placeholder'">
                                    </vtr-widget-home-security-account-status>
                                </div>
                            </div>
                            <div class="row mb-40">
                                <div class="col col-12">
                                    <vtr-widget-status [title]="'Notifications'"
                                        [description]="'Recent notifications'"
                                        [items]="notifications.items">
                                    </vtr-widget-status>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>