@import "../../../app.theme.scss";

::ng-deep {
	.vtr-page-connected-home-security {
		.vtr-security-health {
			border-radius: $border_radius;
			background-color: $light;
			box-shadow: $drop_shadow;
			padding: 2rem;

			.subTitle {
				font-size: $fontsize_xl;
				font-weight: $weight_medium;
			}

			.description {
				color: $main_shade;
				font-size: 1.6rem;
				font-weight: $weight_medium;
			}

			.loading {
				text-align: center;
			}

			vtr-ui-list-chevron {
				a.disabled {
					pointer-events: auto;
				}
				.chevron-list {
					li.black {
						.detail {
							color: $black_light !important;
						}
					}
				}
			}

			.home-security {
				color: $main_darker;
				font-size: 2rem;
				margin-top: 1rem;
				font-weight: $weight_bold;
			}

			.security-health-disabled {
				.security-health-disabled-list {
					background-color: $shade;
					border: 0.1rem solid $shade_lighter;
					border-radius: $border_radius;
					padding: 1rem 0rem 0rem 0rem;
					background-size: cover;
					margin: 1.5rem 0rem 0rem 0rem;
					background-image: url("src/assets/images/security-health-disabled-1.png"), url("src/assets/images/security-health-disabled-3.png"), url("src/assets/images/security-health-disabled-2.png");
					background-repeat: no-repeat, no-repeat, no-repeat;
					background-position: left, right, center;
					background-size: 18rem 100%, 14rem 100%, 100% 100%;
					height: 50rem;

					.peace-of-mind {
						margin: 0rem 1rem;
						color: $main_dark;
						font-size: 3rem;
						font-weight: $weight_light;
						text-align: center;
					}

					vtr-ui-button {
						max-width: 90%;
						::ng-deep .button {
							width: 100%;
						}
					}
				}

				.coronet-section {
					margin-top: 1.5rem;

					.p-0 {
						padding: 0rem;
					}

					.view-security-check {
						padding: 0rem;
						margin-top: 1.2rem;
						text-align: center;
						font-size: 1.3rem;
						font-weight: $weight_regular;
						cursor: pointer;

						a {
							color: $main;
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}
					}

					.coronet_logo_teal {
						width: 10rem;
						padding: 0rem 0.5rem 0rem 0rem;
						margin-top: 0rem;
					}
				}

				.coronet-disabled {
					filter: blur(0.5rem);
					opacity: 1;
					-webkit-filter: blur(0.5rem);
					-moz-filter: blur(0.5rem);
					-o-filter: blur(0.5rem);
					-ms-filter: blur(0.5rem);
				}
			}
		}
	}
	.bottom-content {
		margin-bottom: 2rem;
	}
}
