<div class='cover' id="{{dropDownId}}" attr.aria-label="{{dropDownId}}" *ngIf='isDropDownOpen' [attr.aria-hidden]="!isDropDownOpen" (click)="toggle()" (keydown.enter)="toggle()" tabindex="0"></div>
<section class="vtr-ui-dropdown">
	<div #toggleBtn class="input" (click)="toggle()" (keydown.enter)="toggle()" role="combobox" [attr.aria-expanded]="isDropDownOpen" aria-haspopup="true" tabindex="0">
		<div class="list" *ngIf="isDropDownOpen && !disabled" role="listbox" tabindex="0" [attr.aria-hidden]="!isDropDownOpen">
			<ul>
				<li (click)="[select(i, toggleBtn),toggle()]" role="option" (keydown.enter)="[select(i, toggleBtn),toggle()]" tabindex="0" attr.aria-label="{{ i.text }}" *ngFor="let i of list" >
					<span *ngIf="textCase === 'default'">{{i.text | titlecase }}</span>
					<span *ngIf="textCase === 'oled'" >{{customCamelCase(i.text)}}</span>
				</li>
			</ul>
		</div>
		<div class="time">
			<span *ngIf="textCase === 'default'">{{name}} {{placeholder | titlecase }} </span>
			<span *ngIf="textCase === 'oled'" >{{name}} {{placeholder | lowercase }} </span>
		</div>
		<p class="chevron">
			<fa-icon *ngIf="!isDropDownOpen" [icon]="['fal', 'chevron-down']">
			</fa-icon>
			<fa-icon *ngIf="isDropDownOpen" [icon]="['fal', 'chevron-up']">
			</fa-icon>
		</p>
	</div>

</section>
