@import "../../app.theme.scss";

.vtr-home {
	width: 100%;
	min-height: 80vh;
	height: 100%;
	.spinner {
		font-size: 10rem;
		color: $main; 
	}
}

.vtr-home-gaming {
	width: 100%;
	height: 100%;
	min-height: 80vh;
	@media #{$breakpoint_sm} {
		min-height: 90vh;
	}
	@media #{$breakpoint_md} {
		min-height: 90vh;
	}
	background-color: $gaming_darkest;
	.spinner {
		font-size: 10rem;
		color: $main;
	}
} 