<div class="vtr-modal-wait" aria-labelledby="wait-title" aria-describedby="wait-description">
	<h1 id="wait-title" class="title" role="heading">{{modalTitle}}</h1>
	<p id="wait-description" class="description" role="text">{{modalDescription}}</p>

	<div class="row">
		<div id="loading-div">
			<fa-icon id="loading-icon" placement="auto" [spin]="true" [icon]="['fal', 'circle-notch']" container="body">
			</fa-icon>
		</div>
	</div>

	<div class="btn-modal-close">
		<vtr-ui-close-button
			linkId="hwscan-wait-modal-close-btn"
			metricsItem="{{ CancelItemName }}"
			metricsParent="{{ ItemParent }}"
			(clickClose)="closeButtonClick()">
		</vtr-ui-close-button>
	</div>
</div>
