@import "../../styles/common-blocks";

.breaches-block {
  margin: 5rem 0 0 0;
  padding: 3.5rem 6.5rem 3rem 4rem;
  &__wrapper {
    @extend %common-block-wrapper;
  }
  &__title {
    @extend %subtitle;
  }
  &__text {
    @extend %text-common;
  }
  &__accounts-container {
    display: flex;
    justify-content: space-between;
  }
  &__account {
    //width: 25%;
  }
}

.more-breaches {
  &__number {
    color: #4A81FD;
    font-size: 44px;
    font-weight: bold;
    line-height: 23px;
  }
  &__plus {
    font-weight: 300;
  }
}