@import "../../styles/common-blocks";

.breaches-block {
  margin: 5rem 0 0 0;
  padding: 3.5rem 6.5rem 3rem 4rem;
  &__wrapper {
    @extend %common-block-wrapper;
  }
  &__title {
    @extend %subtitle;
  }
  &__text {
    @extend %text-common;
  }
  &__accounts-container {
    display: flex;
    justify-content: space-between;
  }
  &__account {
    width: 22%;
    margin: 0 10px 0 0;
  }
  &__get-figleaf-text {
    margin: 30px 0 0 0;
    color: #667481;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
  }
  &__get-figleaf-link {

  }
}

.more-breaches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(34% - 30px);
  &__number-wrapper {
    align-self: flex-end;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  &__number {
    color: #4A81FD;
    font-size: 44px;
    font-weight: bold;
    line-height: 23px;
    display: flex;
    justify-content: center;
  }
  &__plus {
    font-weight: 300;
  }
  &__description {
    color: #34495E;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
  }
  &__btn {
    @extend %theme-btn;
    align-self: flex-end;
  }
}