@import "../../styles/common-blocks";

.result-page {
  margin: -5.6rem 0 0 0;
}

.breaches-block {
  margin: 5rem 0 0 0;
  padding: 3.5rem 4rem 3rem 4rem;
  &__wrapper {
    @extend %common-block-wrapper;
  }
  &__title {
    @extend %subtitle;
  }
  &__text {
    @extend %text-common;
    margin: 2rem 0;
  }
  &__accounts-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__accounts-container {
    display: flex;
    justify-content: space-between;
    width: 66%;
  }
  &__account {
    width: calc(100% / 3 - 1.5rem);
    &:last-child {
      margin: 0;
    }
  }
  &__get-figleaf-text {
    margin: 3rem 0 0 0;
    color: #667481;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.3rem;
  }
  &__get-figleaf-link {

  }
}

.more-breaches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 34%;
  &__number-wrapper {
    align-self: flex-end;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  &__number {
    color: #4A81FD;
    font-size: 4.4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  &__plus {
    font-weight: 300;
  }
  &__description {
    color: #34495E;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.7rem;
  }
  &__btn {
    @extend %theme-btn;
    min-width: 18rem;
    align-self: flex-end;
    font-weight: 500;
    text-transform: uppercase;
  }
}
