<div class="modal-body vtr-modal-ai-meeting-manager">
	<h1 class="mb-3" *ngIf="value=='translation'">
		{{'smb.meetingExperience.meetingManager.aiMeetingManager.translation.title' | translate}}</h1>
	<h1 class="mb-3" *ngIf="value=='voiceToText'">
		{{'smb.meetingExperience.meetingManager.aiMeetingManager.voiceToText.title' | translate}}</h1>
	<p class="mb-3 sub-heading">{{'smb.meetingExperience.meetingManager.aiMeetingManager.modalPopUp.heading' | translate}}</p>
	<div class="row">
		<div class="col">
			<div class="number-list">
				<li *ngFor="let serialNumber of serialNumbers">
					<div class="d-flex justify-content-start">
						<div>
							<p class="serial">{{serialNumber}}.</p>
						</div>
						<span class="text-regular" *ngIf="value=='translation'" id="aiMettingManager-modal-{{value}}-point-{{serialNumber}}">
							{{'smb.meetingExperience.meetingManager.aiMeetingManager.modalPopUp.translation.point' + serialNumber | translate}}
						</span>
						<span class="text-regular" *ngIf="value=='voiceToText'" id="aiMettingManager-modal-{{value}}-point-{{serialNumber}}">
							{{'smb.meetingExperience.meetingManager.aiMeetingManager.modalPopUp.voiceToText.point' + serialNumber | translate}}
						</span>
					</div>
				</li>
			</div>
		</div>
	</div>
	<div class="line"></div>
	<div class="row">
		<vtr-ui-button class="install-or-launch-btn"
			linkId="productivity-meetingManager-aiMettingManager-modal-close-button"
			metricsEvent="FeatureClick"
			metricsItem="{{metricsParent}}ModalCloseButton"
			metricsParent="Productivity.MeetingManager.{{metricsParent}}"
			[btnHeight]="true"
			[label]="'smb.meetingExperience.meetingManager.aiMeetingManager.modalPopUp.closeText' | translate"
			(onClick)="closeModal()">
		</vtr-ui-button>
	</div>
	<div class="btn-modal-close">
		<vtr-ui-close-button
			linkId="productivity-meetingManager-aiMettingManager-modal-close"
			metricsItem="MeetingManager{{metricsParent}}ModalCloseIcon"
			metricsParent="Productivity.MeetingManager.{{metricsParent}}"
			(clickClose)="closeModal()">
		</vtr-ui-close-button>
	</div>
</div>
