@import '../../../../app.theme';

.vtr-hardware-scan-header-pages {
	border-radius: 0.5rem;
	border-bottom-left-radius: 0rem;
	border-bottom-right-radius: 0rem;
	height: 100%;
	width: 100%;
	background: linear-gradient($gradient_angle, $main_darkest 0%, $main_darker 100%);
	box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);

	@include high-contrast-border;
	@media #{$high-contrast} {
		border-bottom: none;
	}
}
