<div class="vtr-widget-quicksettings-list" *ngIf="isQuickSettingsVisible"  tabindex="1" attr.aria-label="{{title}}"  id="gaming_quick_settings
" role="article">
	<div class="widget-title" title="">
		{{title}}
	</div>
	<div class="widget-container" title="">
		<div class="container-fluid">
			<div class="row">
				<div class="col quickSettings-list-items" title="">
					<vtr-widget-device-update-settings
						componentName="Quick Setting"
						[items]="quickSettings"
						[options]="drop"
						(toggleOnOff)="onToggleStateChanged($event)"
						(optionSelected)="onOptionSelected($event)">
					</vtr-widget-device-update-settings>
				</div>
			</div>
		</div>
	</div>
</div>
