@import "../../../app.theme.scss";

.vtr-widget-quicksettings-list {
	.widget-title {
		color: $gaming_lightest;
		font-size: 4rem;
		margin-bottom: 1rem;
		font-weight: $weight-light;
	}
	.widget-container {
		border-radius: $border_radius;
		background: $gaming_darkest;
		box-shadow: $drop_shadow_gaming;
		padding: 2rem;
	}
	.quickSettings-list-items {
		&::ng-deep .vtr-widget-device-update-settings {
			background-color: transparent;
			padding: 0;
			box-shadow: none;
			border: none;
			.settings-container {
				margin-top: 0;
				.list-group-item {
					background: transparent;
					color: white;
					padding: 1.8rem 0.8rem;
					font-size: 1.8rem;
					border: none;
					border-bottom: 1px solid $screen_dark_15;
					&:last-child {
						border-bottom: none;
					}
					&:first-child {
						.media-body {
							> div.collapsible {
								display: block !important;
							}
						}
					}
					.media {
						padding-left: 0 !important;
						fa-icon {
							display: none;
						}
						.media-body {
							padding-left: 0 !important;
							.no-pointer {
								width: 5.4rem;
							}
							.customizable {
								text-align: right;
								margin-right: 2rem;
								margin-left: 30%;
								display: inline-block;
								text-decoration: none;
								height: 3.2rem;
								width: 3.2rem;
								border-radius: 3.2rem;
								margin-top: 0.3rem;
								position: absolute;
								right: 6rem;
								.icon {
									text-align: center;
									font-size: 2.2rem;
									color: $gaming_grey_lightest;
									line-height: 3.2rem;
									position: relative;
									@media #{$black-on-white} {
										color: $gaming_lightest;
									}
									@media #{$white-on-black} {
										color: $gaming_lightest;
									}
									&::after {
										content: "";
										position: absolute;
										height: 3.2rem;
										width: 3.2rem;
										border-radius: 3.2rem;
										background: $screen_dark_20;
										transition: all 0.3s ease-in;
										right: 0;
										opacity: 0;
										@media #{$black-on-white} {
											background: transparent;
										}
										@media #{$white-on-black} {
											background: transparent;
										}
									}
								}
								&:hover .icon::after {
									opacity: 1;
								}
							}
						}
					}
					.update-title {
						color: white;
					}
				}
				&::ng-deep vtr-ui-switch-onoff {
					.checkbox {
						input {
							& + .switch {
								background: $gaming_switch_light;
								height: 2.4rem;
								width: 5.4rem;
								transition: all 0.2s ease-in;
								small {
									background: $gaming_switch_dark;
									height: 1.8rem;
									width: 1.8rem;
									margin-top: 0.1rem;
									transition: all 0.2s ease-in;
									@media #{$black-on-white} {
										background: $gaming_darkest;
									}
									@media #{$white-on-black} {
										background: $gaming_lightest;
									}
								}
							}
							&.wifi-checked + .switch {
								background: $gaming_green_gradient;
								transition: all 0.2s ease-in;
								small {
									background: $gaming_lightest;
									transition: all 0.2s ease-in;
									left: 3.2rem;
									@media #{$black-on-white} {
										background: $gaming_darkest;
									}
									@media #{$white-on-black} {
										background: $gaming_lightest;
									}
								}
							}
						}
						.switch-label.on-label {
							color: $gaming_lightest;
							font-weight: bold;
							font-size: 1.2rem;
							padding-top: 0.1rem;
							text-indent: -0.4rem;
							transition: all 0.2s ease-in;
							@media #{$medium-screen} {
								padding-top: 0.3rem;
							}
							@media #{$small-screen} {
								padding-top: 0.3rem;
							}
						}
						.switch-label.off-label {
							color: $gaming_switch_dark;
							font-weight: bold;
							font-size: 1.2rem;
							padding-top: 0.1rem;
							text-indent: 0;
							transition: all 0.2s ease-in;
							@media #{$medium-screen} {
								padding-top: 0.3rem;
							}
							@media #{$small-screen} {
								padding-top: 0.3rem;
							}
						}
					}
				}
			}
		}
	}
}
