<div class="vtr-widget-home-security-all-devices container-fluid">
	<div class="loading" *ngIf="!pluginAvailable || !account || !allDevicesInfo">
		<div class="spinner-border text-primary progress-spinner" role="status">
		</div>
	</div>
	<div class="row content" [ngClass]="{'show-overlay':account.state === 'trialExpired' || account.state === 'local'}" *ngIf="pluginAvailable">
			<div class="col-4 icon-container">
				<div class="row">
					<div class="icon col-4">
						<fa-icon [icon]="['fal', 'home-lg-alt']"></fa-icon>
					</div>
					<div class="col-8 text">
						<div class="all-device-name text-uppercase">{{'homeSecurity.allDevices' | translate}}</div>
						<div class="manage">
							<a target="_blank" href="javascript:void(0)"
								id="chs-lnk-ad-manageAccount"
								aria-label="chs-lnk-ad-manageAccount"
								vtrMetrics
								metricsItem="manageAccountAllDevice"
								metricsEvent="featureClick"
								(click)="openCornet()">
								{{'homeSecurity.manageAccount' | translate}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-5 device-info">
				<div class="row">
					<div class="col-5 number-container">
						<div class="icon">
							<img class="img-fluid circle" src="assets/images/connected-home-security/ecosystem-circle-red.svg" *ngIf="!allDevicesInfo.allDevicesStatus"/>
							<img class="img-fluid circle" src="assets/images/connected-home-security/ecosystem-circle-green.svg" *ngIf="allDevicesInfo.allDevicesStatus"/>
						</div>
						<div class="device-number" [ngClass]="{'sizeChange': judgeDeviceNumber()}" *ngIf="allDevicesInfo.allDevicesNumber!==0">{{allDevicesInfo.allDevicesNumber}}</div>
					</div>
					<div class="col-7 text" >
						<div class="device-text text-uppercase">{{'homeSecurity.devices' | translate}}</div>
						<div class="status">
							<h3 style="margin-bottom: 0rem" *ngIf="showBadge()">
								<span class="badge badge-pill badge-success" *ngIf="allDevicesInfo.allDevicesStatus">
									{{'homeSecurity.secure' | translate}}
								</span>
								<span class="badge badge-pill badge-danger" (click)="openCornet()" *ngIf="!allDevicesInfo.allDevicesStatus"
									id="chs-btn-ad-needAttention"
									aria-label="chs-btn-ad-needAttention"
									vtrMetrics
									metricsItem="needAttentionAllDevice"
									metricsEvent="featureClick">
									{{'homeSecurity.needAttention' | translate}}</span>
							</h3>
						</div>
						<div class="protected-device">
							<a  target="_blank" href="javascript:void(0)"
								id="chs-lnk-ad-seeProtectedDevices"
								aria-label="chs-lnk-ad-seeProtectedDevices"
								vtrMetrics
								metricsItem="seeProtectedDevicesAllDevice"
								metricsEvent="featureClick"
								(click)="openCornet()">{{'homeSecurity.seeProtectedDevices' | translate}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3 add-device">
				<vtr-ui-button
					id="chs-btnlnk-ad-addDevice"
					aria-label="chs-btn-ad-addDevice"
					vtrMetrics
					metricsItem="addDeviceAllDevice"
					metricsEvent="featureClick"
					(click)="openCornet()"
					[title]="'homeSecurity.addDevice' | translate"
					[label]="'homeSecurity.addDevice' | translate">
				</vtr-ui-button>
			</div>
	</div>
	<div class="row overlay" *ngIf="pluginAvailable && account">
		<div class="col content-container" *ngIf="account.state === 'trialExpired'">
			<div class="text">{{'homeSecurity.trialExpired' | translate}}</div>
			<vtr-ui-button
				id="chs-btn-ad-upgrade"
				aria-label="chs-btn-ad-upgrade"
				vtrMetrics
				metricsItem="upgradeAllDevice"
				metricsEvent="featureClick"
				(click)="openUpgrade()"
				[title]="'homeSecurity.upgrade' | translate"
				[label]="'homeSecurity.upgrade' | translate">
			</vtr-ui-button>
		</div>
		<div class="col content-container" *ngIf="account.state === 'local'">
			<div class="text">{{'homeSecurity.freeTrial' | translate}}</div>
			<vtr-ui-button
				id="chs-btn-ad-startTrial"
				aria-label="chs-btn-ad-startTrial"
				vtrMetrics
				metricsItem="startTrialAllDevice"
				metricsEvent="featureClick"
				(click)="startTrial()"
				[label]="'homeSecurity.startTrial' | translate">
			</vtr-ui-button>
		</div>
	</div>
</div>
