@import "../../../app.theme.scss";

.vtr-widget-home-security-all-devices {
    height: 100%;
    position: relative;
    .loading {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: underline;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: $weight_medium;
    }
    ::ng-deep {
        .button-box {
            .button {
                min-height: 4rem !important;
            }
        }
    }
    .content {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        border-radius: $border_radius;
        background: $shade_lightest;
        .icon-container {
            border-right: 0.1rem solid $shade_lighter;
            .icon {
                font-size: 5rem;
                color: $main;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 0;
                .all-device-name {
                    justify-content: center;
                    font-size: 1.5rem;
                    font-weight: $weight_bold;
                }
            }
        }
        .device-info {
            .number-container {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    .img-fluid {
                        max-width: 65%;
                    }
                }
                .device-number {
                    font-size: 5rem;
                    font-weight: $weight_600;
                    &.sizeChange {
                        font-size: 4rem;
                    }
                }
            }
            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .device-text {
                    justify-content: center;
                    font-size: 1.5rem;
                    font-weight: $weight_bold;
                }
                .status {
                    .button-red {
                        cursor: pointer;
                    }
                }
            }
        }
        .add-device {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .overlay {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        z-index: 0;
        &.show-overlay {
            z-index: 2;
        }
        .place-holder {
            border-radius: $border_radius;
            background: $shade_lightest;
            opacity: 0.9;
        }
        .content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: $shade_lightest;
            border-radius: $border_radius;
            .text {
                display: flex;
                justify-content: center;
                font-size: 1.5rem;
                font-weight: $weight_600;
                color: red;
            }
            .text-description {
                display: flex;
                justify-content: center;
                font-size: 1.5rem;
                font-weight: $weight_medium;
            }
            ::ng-deep {
                .button-box {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
