<div class="vtr-widget-home-security-all-devices container-fluid">
	<div class="loading" *ngIf="!pluginAvailable">
		<div class="spinner-border text-primary progress-spinner" role="status">
		</div>
	</div>
	<div class="row content" *ngIf="pluginAvailable">
			<div class="col-4 icon-container">
				<div class="row">
					<div class="icon col-4">
						<fa-icon [icon]="['fal', 'home-lg-alt']"></fa-icon>
					</div>
					<div class="col-8 text">
						<div class="all-device-name text-uppercase">{{'homeSecurity.allDevice' | translate}}</div>
						<div class="manage">
							<a target="_blank" href="{{homeSecurityUrl}}"
								id="chs-lnk-ad-manageAccount"
								aria-label="chs-lnk-ad-manageAccount"
								vtrMetrics
								metricsItem="manageAccountAllDevice"
								metricsEvent="featureClick">
								{{'homeSecurity.manageAccount' | translate}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-5 device-info">
				<div class="row">
					<div class="col-5 number-container">
						<div class="icon">
							<img class="img-fluid circle" src="assets/images/connected-home-security/ecosystem-circle-green.svg" *ngIf="logonStatus!=='trial expired'"/>
							<img class="img-fluid circle" src="assets/images/connected-home-security/ecosystem-circle-red.svg" *ngIf="logonStatus==='trial expired'"/>
						</div>
						<div class="device-number" [ngClass]="{'sizeChange': deviceMoreThanTen}" *ngIf="devicesNumber!==0">{{devicesNumber}}</div>
					</div>
					<div class="col-7 text" >
						<div class="device-text text-uppercase">{{'homeSecurity.devices' | translate}}</div>
						<div class="status">
							<h3 style="margin-bottom: 0rem" *ngIf="isShowBadge">
								<span class="badge badge-pill badge-danger button-green" *ngIf="devicesStatus==='secure'">
									{{'homeSecurity.secure' | translate}}
								</span>
								<span class="badge badge-pill badge-danger button-red" (click)="openCornet()" *ngIf="devicesStatus==='needs attention'"
									id="chs-btn-ad-needAttention"
									aria-label="chs-btn-ad-needAttention"
									vtrMetrics
									metricsItem="needAttentionAllDevice"
									metricsEvent="featureClick">
									{{'homeSecurity.needAttention' | translate}}</span>
							</h3>
						</div>
						<div class="protected-device">
							<a  target="_blank" href="{{homeSecurityUrl}}"
								id="chs-lnk-ad-seeProtectedDevices"
								aria-label="chs-lnk-ad-seeProtectedDevices"
								vtrMetrics
								metricsItem="seeProtectedDevicesAllDevice"
								metricsEvent="featureClick">{{'homeSecurity.seeProtectedDevices' | translate}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3 add-device">
				<vtr-ui-button
					id="chs-btnlnk-ad-addDevice"
					aria-label="chs-btn-ad-addDevice"
					vtrMetrics
					metricsItem="addDeviceAllDevice"
					metricsEvent="featureClick"
					(click)="openCornet()"
					[title]="'homeSecurity.addDevice' | translate"
					[label]="'homeSecurity.addDevice' | translate">
				</vtr-ui-button>
			</div>
	</div>
	<div class="row overlay" [ngClass]="{'show-overlay':logonStatus === 'trial expired'}" *ngIf="pluginAvailable">
		<div class="col-8 place-holder"></div>
		<div class="col-4 content-container">
			<div class="text">{{'homeSecurity.trialExpired' | translate}}</div>
			<div class="text-description">{{'homeSecurity.trialExpiredSubtext' | translate}}</div>
			<vtr-ui-button
				id="chs-btn-ad-upgrade"
				aria-label="chs-btn-ad-upgrade"
				vtrMetrics
				metricsItem="upgradeAllDevice"
				metricsEvent="featureClick"
				(click)="openUpgrade()"
				[title]="'homeSecurity.upgrade' | translate"
				[label]="'homeSecurity.upgrade' | translate">
			</vtr-ui-button>
		</div>
	</div>
</div>
