@import '../../../app.theme.scss';
.sidebar-widget {
    border-radius: 0.9rem;
    background-color: $light;
    box-shadow: 0 0 1.5rem 0 $screen_dark_15;
    padding: 4rem;
    .title {
        font-size: 2.5rem;
        font-weight: 500;
    }
    .card-info{
        p {
            font-size: 1.2rem;
        }
    }
    .link-text {
        font-size: 1.6rem;
        text-decoration: underline;
        letter-spacing: 0.05rem;
        color: #4a81fd;
        cursor: pointer;
        font-weight: 600;
    }
    .status-list {
        padding-left: 0;
        padding: 1rem 1.4rem;
        border-radius: 0.8rem;
        background: $shade_extralight;
        border: 0.1rem solid $shade_lighter;
        li {
            border-bottom: 0.1rem solid $screen_dark_05;
            line-height: 3rem;
            &:last-child{
                border-bottom: none;
            }
        }
        .item {
            font-weight: $weight_bold;
            font-size: 1.2rem;
        }
        .status {
            font-size: 1.2rem;
        }
    }
    .chevron-list {
        padding-left: 0;
        border-radius: 0.8rem;
        background: $shade_extralight;
        border: 0.1rem solid $shade_lighter;
        li {
            padding: 1.2rem;
            border-bottom: 0.1rem solid $screen_dark_05;
            line-height: 3rem;
            font-size: 1.4rem;
            .d-flex{
                &:first-child{
                    .icon{
                        margin-right: 1rem;
                        color: $main;
                        font-size: 2rem;
                    }
                }
                &:first-child{
                    .icon{
                        margin-left: 1rem;
                    }
                }
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .labels {
        .badge {
            font-size: 1.2rem;
            margin-bottom: 0.6rem;
        }
        .badge-primary{
            position: relative;
            height: 2rem;
            &::after {
                content: "";
                position: absolute;
                top:1px;
                right:-7px;
                width: 0px;
                height: 0px;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid $main;
            }
        }
        .badge-light {
            background: transparent;
        }
    }
    .junk-list {
        position: relative;
        padding-left: 3rem;
        list-style: none;
        li {
            line-height: 2.7rem;
            font-size: 1.2rem;
        }
    }
    &.recommended-action{
        background-color: #526fff;
        background-image: linear-gradient(45deg, #526fff 25%, #f175fd 100%);
        .title{
            color: $light;
            text-transform: uppercase;
        }
        .card-info {
            p {
                font-size: 1.6rem;
                color: $light;
            }
        }
        .pricing{
            .big-text {
                font-size: 5.5rem;
                font-weight: $weight_black;
                color: $light;
            }
            small {
                text-transform: uppercase;
                color: $gray;
                font-size: 1.6rem;
                font-weight: $weight_black;
            }
        }
        p {
            color: $light;
            font-size: 1.6rem;
        }
        .action-button {
            border-radius: 2.5rem;
            background: $light;
            text-transform: uppercase;
            padding: 0 5rem;
            color: $main;
            font-size: 1.5rem;
            height: 5rem;
            font-weight: $weight_medium;
            line-height: 5rem;
            text-align: center;
            border: 0rem;
            cursor: pointer;
            width: 100%;
        }
    }
}