<div class="subscription-details sidebar-widget">
    <div class="title pb-3">{{'smartPerformance.subscriptionDetails.title' |translate }}</div>
    <div class="card-info">
        <p>{{'smartPerformance.subscriptionDetails.description' |translate }} <a href="#" class="para-link">{{'smartPerformance.subscriptionDetails.learnMore' |translate }}</a></p>
    </div>
    <ul class="status-list">
        <li class="d-flex justify-content-between">
            <div class="item">{{'smartPerformance.subscriptionDetails.startDate' |translate }}</div>
            <div class="status">{{startDate}}</div>
        </li>
        <li class="d-flex justify-content-between">
            <div class="item">{{'smartPerformance.subscriptionDetails.endDate' |translate }}</div>
            <div class="status">{{endDate}}</div>
        </li>
        <li class="d-flex justify-content-between">
            <div class="item">{{'smartPerformance.subscriptionDetails.status' |translate }}</div>
            <div class="status"><div [ngClass]="{'badge-danger': strStatus==='INACTIVE', 'badge-success': strStatus==='ACTIVE' }" class="badge badge-pill">{{status |translate}}</div></div>
        </li>
    </ul>
    <a class="link-text" (click)=openSubscribeModal()>{{'smartPerformance.subscriptionDetails.manageSubscription' |translate }}</a>
</div>
