<div class="subscription-details sidebar-widget">
    <div *ngIf="isSubscribed" class="title pb-3">{{'smartPerformance.subscriptionDetails.title' |translate }}</div>
    <div *ngIf="!isSubscribed" class="title pb-3">{{'smartPerformance.subscriptionDetails.title' |translate }}</div>
    <div class="card-info">      
        <p *ngIf="isSubscribed">{{'smartPerformance.subscriptionDetails.description' |translate }}</p>
        <p *ngIf="!isSubscribed">{{'smartPerformance.subscriptionDetails.descriptionNonSubscriber' |translate }}</p>
        <!-- <a href="#" class="para-link"
            vtrMetrics
            metricsItem="btn.sp.subscriptionDetails"
            metricsParent="Page.Support.SmartPerformance"
            metricsEvent="FeatureClick"
            >{{'smartPerformance.subscriptionDetails.learnMore' |translate }}</a> -->
    </div>
    <ul class="status-list">
        <li class="d-flex justify-content-between">
            <div class="item">{{'smartPerformance.subscriptionDetails.startDate' |translate }}</div>
            <div class="status">{{subscriptionDetails.startDate}}</div>
        </li>
        <li class="d-flex justify-content-between">
            <div class="item">{{'smartPerformance.subscriptionDetails.endDate' |translate }}</div>
            <div class="status">{{subscriptionDetails.endDate}}</div>
        </li>
        <li class="d-flex justify-content-between">
            <div class="item">{{'smartPerformance.subscriptionDetails.status' |translate }}</div>
            <div class="status"><div [ngClass]="{'badge-danger': strStatus==='INACTIVE', 'badge-success': strStatus==='ACTIVE', 'badge-processing' : strStatus==='PROCESSING' }" class="badge badge-pill">{{subscriptionDetails.status |translate}}</div></div>
        </li>
    </ul>
    <!-- <a *ngIf="isSubscribed" class="link-text" (click)=openSubscribeModal() 
        vtrMetrics
        metricsItem="btn.manageSub"
        metricsEvent="FeatureClick"
        metricsParent="Page.Support.SmartPerformance">
        {{'smartPerformance.subscriptionDetails.manageSubscription' |translate }}
    </a> -->
    <a *ngIf="!isSubscribed" class="link-text" [attr.disabled] = "strStatus==='PROCESSING'" (click)=openSubscribeModal() 
        vtrMetrics
        metricsItem="btn.managesubscription"
        metricsEvent="FeatureClick"
        metricsParent="Page.Support.SmartPerformance">
        {{'smartPerformance.subscriptionDetails.manageSubscription' |translate }}
    </a>
    <a *ngIf="!isSubscribed" class="link-text-payment" (click)="enableFullFeature(true)"> -> </a>
</div>
