<div class="subscription-details sidebar-widget">
    <div *ngIf="isSubscribed" class="title pb-3">{{'smartPerformance.subscriptionDetails.title' |translate }}</div>
    <div *ngIf="!isSubscribed" class="title pb-3">{{'smartPerformance.subscriptionDetails.title' |translate }}</div>
    <div class="card-info">         
        <p *ngIf="isSubscribed">{{'smartPerformance.subscriptionDetails.description' |translate }}</p>
        <p *ngIf="!isSubscribed">{{'smartPerformance.subscriptionDetails.descriptionNonSubscriber' |translate }}</p>
        <!-- <a href="#" class="para-link"
            vtrMetrics
            metricsItem="btn.sp.subscriptionDetails"
            metricsParent="Page.Support.SmartPerformance"
            metricsEvent="FeatureClick"
            >{{'smartPerformance.subscriptionDetails.learnMore' |translate }}</a> -->
    </div>
    <ul class="status-list" *ngIf="isOnline">
        <li class="d-flex justify-content-between start-date-spinner">
            <div class="item">{{'smartPerformance.subscriptionDetails.startDate' |translate }}</div>
            <div class="status" *ngIf="!isLoading">{{subscriptionDetails.startDate}}</div>
            <div *ngIf="isLoading" class="loader mr-5">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
        <li class="d-flex justify-content-between end-date-spinner">
            <div class="item">{{'smartPerformance.subscriptionDetails.endDate' |translate }}</div>
            <div class="status" *ngIf="!isLoading">{{subscriptionDetails.endDate}}</div>
            <div *ngIf="isLoading" class="loader mr-5">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
        <li class="d-flex justify-content-between status-spinner">
            <div class="item">{{'smartPerformance.subscriptionDetails.status' |translate }}</div>
            <div class="status" *ngIf="strStatus">
                <div [ngClass]="{'badge-danger': strStatus==='INACTIVE', 'badge-success': strStatus==='ACTIVE', 'badge-processing' : strStatus==='PROCESSING', 'bage-expired': strStatus==='EXPIRED' }" class="badge badge-pill mr-2">{{subscriptionDetails.status |translate}}</div>
                <img *ngIf="isRefreshEnabled" title="{{'smartPerformance.scanningPage.refreshButton' | translate}}" src="assets/icons/refresh.svg" alt="" class="refresh-icon" (click) = "isFirstLoad = true; getSubscriptionDetails()">
        </div>
            <div *ngIf="isLoading && !strStatus">
                <div class="container" [style.height.px]="40">
                    <div class="loader center-block">
                        <div class="spinner-border text-secondary progress-spinner" role="status"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>    
    <!-- <a *ngIf="isSubscribed" class="link-text" (click)=openSubscribeModal() 
        vtrMetrics
        metricsItem="btn.manageSub"
        metricsEvent="FeatureClick"
        metricsParent="Page.Support.SmartPerformance">
        {{'smartPerformance.subscriptionDetails.manageSubscription' |translate }}
    </a> -->
    <h4 *ngIf="expiredDaysCount" class="text-danger"><fa-icon [icon]="['fas', 'exclamation-circle']" class="mr-2"></fa-icon>{{'smartPerformance.subscriptionDetails.expiredNote' |translate }} {{expiredDaysCount}}</h4>
    <button *ngIf="!isSubscribed && isOnline || expiredDaysCount" [ngClass]="{'disabled-link' : strStatus==='PROCESSING' || tempHide === true}"
        class="link-text" [class.disabled]="strStatus==='PROCESSING' || tempHide"
        (click)=openSubscribeModal() vtrMetrics metricsItem="btn.managesubscription"
        metricsEvent="FeatureClick" metricsParent="Page.Support.SmartPerformance">
        {{'smartPerformance.subscriptionDetails.manageSubscription' |translate }}
    </button>
    <div class="row" *ngIf="!isOnline">
        <vtr-widget-offline-info [title]="'dashboard.offlineInfo.title' | translate" [isSubtitleVisible]="false"
        [isButtonVisible]="false">
    </vtr-widget-offline-info>
    </div>
</div>
