<div class="gaming-advanced-oc gaming-modal-fun">
    <div class="modal-loading" *ngIf="loading">
        <fa-icon [icon]="['fal', 'circle-notch']" class="icon" [spin]="true"></fa-icon>
    </div>
    <div class="modal-main" *ngIf="!loading">
        <div class="modal-header">
            <button type="button"  class="close" 
            tabindex="1" (click)="closeThermalMode2Modal()" aria-label="close" 
            vtrMetrics metricsEvent="featureClick" metricsItem="thermalmode_close" metricsParent="Gaming.ThermalMode">
                ×
            </button>
            <div class="header-text">
                <h2 class="title">{{ 'gaming.dashboard.device.thermalMode2Popup.thermalMode2SettingTitle' | translate }}</h2>
                <p class="description">
                    <span>{{ 'gaming.dashboard.device.thermalMode2Popup.thermalMode2SettingDesc' | translate }}</span>
                    <span *ngIf="!gamingCapabilities.desktopType"> {{ 'gaming.dashboard.device.thermalMode2Popup.fnQDesc' | translate }}</span>
                </p>
            </div>
        </div>
        <div class="modal-body" tabindex="-1">
            <div class="item" *ngIf="gamingCapabilities.supporttedThermalMode.includes(3)">
                <div class="item-left" tabindex="1" (keyup.enter)="setThermalModeSettingStatus(3)">
                    <input id="radio-performance" class="item-radio-button" type="radio" name="thermalMode"
                        [checked]="thermalModeSettingStatus===3" value="3" (click)="setThermalModeSettingStatus(3)">
                    <label for="radio-performance">
                        <img class="gaming-radio-image-rest" *ngIf="thermalModeSettingStatus!==3"/>
                        <img class="gaming-radio-image-selected" *ngIf="thermalModeSettingStatus===3"/>
                    </label>
                </div>
                <div class="item-right">
                    <h2 class="thermal-mode-title">
                        {{ 'gaming.dashboard.device.thermalMode2Popup.perormanceTitle' | translate }}
                    </h2>
                    <p class="description">
                        {{ 'gaming.dashboard.device.thermalMode2Popup.performanceDesc' | translate }}
                        <span *ngIf="OCsupportted !== 0"> {{ 'gaming.dashboard.device.thermalMode2Popup.OCDesc' | translate }}</span>
                        <span *ngIf="!gamingCapabilities.desktopType"> {{ 'gaming.dashboard.device.thermalMode2Popup.ac_dcDesc' | translate }}</span>
                    </p>
                    <div class="item-oc" *ngIf="OCsupportted !== 0">
                        <ng-container *ngIf="OCsupportted === driverStatus || driverStatus === 3">
                            <div class="item-oc-left">
                                <button class="oc-checkbox" [ngClass]="{'checked':OCSettings}" role="checkbox"
                                tabindex="1" (click)="setPerformanceOCSetting($event)"></button>
                            </div>
                            <div class="oc-description">
                                <p *ngIf="OCsupportted === 3">
                                    {{ 'gaming.dashboard.device.thermalMode2Popup.OC.cpu_gpuOC' | translate }} &nbsp;
                                    <a class="oc-advance-button" *ngIf="gamingCapabilities.advanceCPUOCFeature || gamingCapabilities.advanceGPUOCFeature" 
                                    tabindex="1" (click)="openWaringModal()" (keyup.enter)="openWaringModal()">{{ 'gaming.dashboard.device.thermalMode2Popup.OC.advance' | translate }}</a>
                                </p>
                                <p *ngIf="OCsupportted === 2">
                                    {{ 'gaming.dashboard.device.thermalMode2Popup.OC.cpuOC' | translate }} &nbsp;
                                    <a  class="oc-advance-button" *ngIf="gamingCapabilities.advanceCPUOCFeature || gamingCapabilities.advanceGPUOCFeature" 
                                    tabindex="1" (click)="openWaringModal()" (keyup.enter)="openWaringModal()">{{ 'gaming.dashboard.device.thermalMode2Popup.OC.advance' | translate }}</a>
                                </p>
                                <p *ngIf="OCsupportted === 1">
                                    {{ 'gaming.dashboard.device.thermalMode2Popup.OC.gpuOC' | translate }} &nbsp;
                                    <a  class="oc-advance-button" *ngIf="gamingCapabilities.advanceCPUOCFeature || gamingCapabilities.advanceGPUOCFeature" 
                                    tabindex="1" (click)="openWaringModal()" (keyup.enter)="openWaringModal()">{{ 'gaming.dashboard.device.thermalMode2Popup.OC.advance' | translate }}</a>
                                </p>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="OCsupportted !== driverStatus && driverStatus !== 3">
                            <div class="oc-description">
                                <p *ngIf="OCsupportted === 3 && driverStatus === 0">
                                    {{ 'gaming.dashboard.device.thermalMode2Popup.OC.cpu_gpuDriverLack' | translate }} &nbsp;
                                    <a class="oc-driver-link" routerLink="/device/system-updates" (click)="closeThermalMode2Modal()" vtrMetrics metricsEvent="featureClick" metricsItem="thermalmode_goinstalldriver" metricsParent="Gaming.ThermalMode">{{ 'gaming.dashboard.device.thermalMode2Popup.OC.goInstall' | translate }}</a>
                                </p>
                                <p *ngIf="(OCsupportted === 3 && driverStatus === 1) || (OCsupportted === 2 && driverStatus !== 3)">
                                    {{ 'gaming.dashboard.device.thermalMode2Popup.OC.cpuDriverLack' | translate }} &nbsp;
                                    <a class="oc-driver-link" routerLink="/device/system-updates" (click)="closeThermalMode2Modal()" vtrMetrics metricsEvent="featureClick" metricsItem="thermalmode_goinstalldriver" metricsParent="Gaming.ThermalMode">{{ 'gaming.dashboard.device.thermalMode2Popup.OC.goInstall' | translate }}</a>
                                </p>
                                <p *ngIf="(OCsupportted === 3 && driverStatus === 2) || (OCsupportted === 1 && driverStatus !== 3)">
                                    {{ 'gaming.dashboard.device.thermalMode2Popup.OC.gpuDriverLack' | translate }} &nbsp;
                                    <a class="oc-driver-link" routerLink="/device/system-updates" (click)="closeThermalMode2Modal()" vtrMetrics metricsEvent="featureClick" metricsItem="thermalmode_goinstalldriver" metricsParent="Gaming.ThermalMode">{{ 'gaming.dashboard.device.thermalMode2Popup.OC.goInstall' | translate }}</a>
                                </p>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="item" *ngIf="gamingCapabilities.supporttedThermalMode.includes(2)">
                <div class="item-left" tabindex="1" (keyup.enter)="setThermalModeSettingStatus(2)">
                    <input id="radio-banance" class="item-radio-button" type="radio" name="thermalMode"
                        [checked]="thermalModeSettingStatus===2" value="2" (click)="setThermalModeSettingStatus(2)">
                    <label for="radio-banance">
                        <img class="gaming-radio-image-rest" *ngIf="thermalModeSettingStatus!==2"/>
                        <img class="gaming-radio-image-selected" *ngIf="thermalModeSettingStatus===2"/>
                    </label>
                </div>
                <div class="item-right">
                    <h2 class="thermal-mode-title">{{ 'gaming.dashboard.device.thermalMode2Popup.balanceTitle' | translate }}</h2>
                    <p class="description">
                        {{ 'gaming.dashboard.device.thermalMode2Popup.balanceDesc' | translate }}
                    </p>
                </div>
            </div>
            <div class="item" *ngIf="gamingCapabilities.supporttedThermalMode.includes(1)">
                <div class="item-left" tabindex="1" (keyup.enter)="setThermalModeSettingStatus(1)">
                    <input id="radio-quiet" class="item-radio-button" type="radio" name="thermalMode"
                        [checked]="thermalModeSettingStatus===1" value="1" (click)="setThermalModeSettingStatus(1)">
                    <label for="radio-quiet">
                        <img class="gaming-radio-image-rest" *ngIf="thermalModeSettingStatus!==1"/>
                        <img class="gaming-radio-image-selected" *ngIf="thermalModeSettingStatus===1"/>
                    </label>
                </div>
                <div class="item-right">
                    <h2 class="thermal-mode-title">{{ 'gaming.dashboard.device.thermalMode2Popup.quietTitle' | translate }}</h2>
                    <p class="description">
                        {{ 'gaming.dashboard.device.thermalMode2Popup.quietDesc' | translate }}
                    </p>
                </div>
            </div>
            <div class="item-auto-switch">
                <div class="auto-switch-left">
                    <div class="auto-switch-toggle">
                        <vtr-ui-toggle (toggleStatus)="setAutoSwitchStatus($event)" [value]="autoSwitchStatus" [onOffSwitchId]="'thermalmode_autoPerformanceSwitch'" [parentId]="'Gaming.ThermalMode'">
                        </vtr-ui-toggle>
                    </div>
                </div>
                <div class="auto-switch-right">
                    <p class="description">{{ 'gaming.dashboard.device.thermalMode2Popup.autoSwitch' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
