@import "../styles/common-blocks";
@import "../styles/fonts";
@import "../styles/variables";

.privacy-wrapper {
	background-color: #f6f8f8;
	.page-header-bg {
		background: #289cd0;
		background: linear-gradient(to right, #72d0bb 0%, #289cd0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72d0bb", endColorstr="#289cd0", GradientType=1);
		&::before {
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			width: 100%;
			background: url(/assets/images/gaming/GamingTopImage.jpg) center center no-repeat;
			background-size: cover;
			opacity: 0.15;
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		max-width: 160rem;
		margin: 0 auto;
	}

	&__main-col {
		position: relative;
		padding: 0 4rem 4rem 8.5rem;
		background-color: #f6f8f8;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
		@media screen and (max-width: $responsive_l) {
			flex-basis: 100%;
			flex-grow: 1;
			max-width: 100%;
			padding: 0 4rem 4rem 4rem;
		}
	}
	&__side-col {
		padding: 0 8.5rem 4rem 4rem;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		background-color: #fff;;
		@media screen and (max-width: $responsive_l) {
			flex-basis: 100%;
			flex-grow: 1;
			max-width: 100%;
			padding: 0 4rem 4rem 4rem;
		}
	}
	&__inner-page {
		margin-top: $topIndent;
		border-radius: 1rem;
		box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
	}
}

.img-for-service-worker {
	height: 1px;
	width: 1px;
	visibility: hidden;
}
