<div class="privacy-wrapper" data-analyticsName="privacy">
	<vtr-main-header></vtr-main-header>
	<div class="privacy-wrapper__content">
		<div class="privacy-wrapper__main-col">
			<router-outlet></router-outlet>
		</div>
		<div class="privacy-wrapper__side-col">
			<vtr-side-bar></vtr-side-bar>
		</div>
	</div>
	<vtr-common-popup [popUpId]="permitTrackersAndPasswordsPopupId" size="large">
		<ng-template>
			<vtr-permit-trackers-and-passwords
				(allow)="setPermit($event, permitTrackersAndPasswordsPopupId)">
			</vtr-permit-trackers-and-passwords>
		</ng-template>
	</vtr-common-popup>
</div>
