<div class="privacy-wrapper" data-analyticsName="privacy">
    <vtr-main-header></vtr-main-header>
    <div class="privacy-wrapper__content">
        <div class="privacy-wrapper__main-col">
            <div [ngClass]="[moveBlockToTop ? 'privacy-wrapper__inner-page' : '']">
                <vtr-privacy-score *ngIf="showPrivacyScore"></vtr-privacy-score>
                <vtr-nav-tabs *ngIf="showNavigationBlock"></vtr-nav-tabs>
                <router-outlet></router-outlet>
            </div>
			<vtr-did-you-know></vtr-did-you-know>
			<vtr-stat
				*ngIf="(isFigleafReadyForCommunication$ | async)"
				[dashboardData]="dashboardData$ | async">
			</vtr-stat>
            <vtr-support-banner *ngIf="showSupportBanner"></vtr-support-banner>
        </div>
        <div class="privacy-wrapper__side-col">
            <vtr-side-bar></vtr-side-bar>
        </div>
    </div>
</div>
