.header-nav {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0 0 0;
	padding: 0 1rem;

	&__item {
		list-style-type: none;
		width: 30%;
	}

	&__img {
		cursor: pointer;
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		padding: 1rem 0 2rem 0;
		cursor: pointer;

		&:hover {
			background: linear-gradient(#fff 80%, transparent);
			border-radius: 20px 20px 0 0;
		}

		&.active {
			color: #5671ff;
			border-radius: 20px 20px 0 0;
			background-color: #FFFFFF;
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				height: 17px;
				width: 100%;
				background: #fff;
			}

			&:hover {
				color: #34495E;
			}
		}
	}

	&__number {
		font-size: 1.6rem;
		font-weight: bold;
		height: 2.2rem;
		cursor: pointer;

		&--exist {
			color: red;
		}

		&--none {
			color: green;
		}
	}

	&__title {
		color: #34495E;
		font-size: 1.6rem;
		font-weight: bold;
		line-height: 2.2rem;
		text-transform: uppercase;
		cursor: pointer;
		text-align: center;
	}
}
