@import "../../../styles/common-blocks";

.enter-email {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 4.5rem 7rem 0;

	&__figure {
		max-width: 30rem;
		img {
			width: 100%;
			height: auto;
		}
	}

	&__stepper {
		margin-top: 3rem;
	}

	&__title {
		@extend %subtitle;
		margin-top: 1rem;
		text-align: center;
	}

	&__text-block {
		margin-top: 3rem;
	}

	&__text {
		@extend %text-common;
		text-align: center;
		font-size: 1.6rem;

		&--block {
			display: block;
		}
	}

	&__check-form {
		margin-top: 6.5rem;
		width: 100%;
	}

	&__button {
		&--skip {
			@extend %button-text;
		}
	}
}

.scan-limit-pitch {
	display: flex;
	justify-content: space-between;
	background: linear-gradient(315deg, #FBFDFE 0%, #F3F7F9 100%);
	border: 1px solid #ECF0F1;
	border-radius: 8px;
	margin-top: 2rem;

	&__wrapper {
		padding: 1rem 2rem;
	}

	&__title {
		@extend %text-common;
		font-weight: bold;
		color: #34495E;
		text-transform: uppercase;
	}

	&__text {
		@extend %text-common;
		margin-top: 1rem;
		color: #34495E;
	}

	&__button-group {
		display: flex;
		flex-flow: row;
		justify-content: left;
		align-items: center;
		margin-top: 1.5rem;
	}

	&__button {
		@extend %button-link;
		@extend %button-link--to-right;
		color: #4A81FD;
		&:before {
			position: absolute;
			transform: translateY(-50%);
			width: 1.4rem;
			height: 1.2rem;
			top: 60%;
			background-image: url("/assets/icons/privacy-tab/icon-download.svg");
		}
		&--continue {
			margin: 4rem auto -1rem;
			width: 26rem;
			@extend %theme-btn;
		}
	}

	&__show-more {
		@extend %button-link;
		@extend %button-link--to-right;
		margin-left: 4rem;
	}

	&__show-more-text {
		@extend %button-link__text;
	}
}
