<section class="enter-email">
	<figure class="enter-email__figure">
		<img src="assets/images/privacy-tab/verify-email.png"
			 srcset="assets/images/privacy-tab/verify-email@2x.png 2x"
			 alt="email">
	</figure>

	<div class="enter-email__stepper">
		<ng-content select=".stepper"></ng-content>
	</div>

	<h2 class="enter-email__title">
		Let’s see if your email was breached
	</h2>

	<ng-container *ngIf="(scanCounter$ | async) < scanCounterLimit; else scanLimitPitch">
		<div class="enter-email__text-block">
			<p class="enter-email__text">
				Lenovo Privacy Essentials by FigLeaf will check if your email address is on the dark web or in any known data breach.
			</p>
		</div>

		<vtr-check-breaches-form strategy="emitEmail"
								 appearance="small"
								 class="enter-email__check-form"
								 (userEmail)="allowEmitter()">
		</vtr-check-breaches-form>
	</ng-container>

	<ng-template #scanLimitPitch>
		<div class="scan-limit-pitch" data-analyticsName="LimitBlock">
			<div class="scan-limit-pitch__wrapper">
				<p class="scan-limit-pitch__title">You’ve reached your breach scan limit</p>
				<p class="scan-limit-pitch__text">
					If you want to check more emails, install Lenovo Privacy Essentials by FigLeaf.
				</p>
				<div class="scan-limit-pitch__button-group">
					<button class="scan-limit-pitch__button"
							vtrOfflineMode
							vtrOpenFigleafInstaller
							vtrSendAnalytics
							[metricsEvent]="'ItemClick'"
							[metricsItem]="'InstallButton' | changeActionButtonText | async">
						{{'Install Now' | changeActionButtonText | async}}
					</button>
					<div class="scan-limit-pitch__button-link">
						<a class="scan-limit-pitch__show-more"
						   vtrSendAnalytics
						   [metricsEvent]="'ItemClick'"
						   [metricsItem]="'LearnMoreLink'"
						   routerLink="/privacy/landing">
							<span class="scan-limit-pitch__show-more-text">Learn more</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<button class="scan-limit-pitch__button--continue"
				vtrSendAnalytics
				vtrOfflineMode
				[metricsEvent]="'ItemClick'"
				[metricsItem]="'ScoreEmailPopupContinueButton'"
				(click)="disallowEmitter()">
			Continue
		</button>
	</ng-template>

	<button class="enter-email__button--skip"
			vtrSendAnalytics
			[metricsEvent]="'ItemClick'"
			[metricsItem]="'ScoreEmailPopupSkipButton'"
			(click)="disallowEmitter()">
		Skip
	</button>
</section>
