@import "../../../styles/common-blocks";

.enter-email {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 4.5rem 7rem 0;

	&__stepper {
		margin-top: 3rem;
	}

	&__title {
		@extend %subtitle;
		margin-top: 1rem;
		text-align: center;
	}

	&__text-block {
		margin-top: 3rem;
	}

	&__text {
		@extend %text-common;
		text-align: center;
		font-size: 1.6rem;

		&--block {
			display: block;
		}
	}

	&__check-form {
		margin-top: 6.5rem;
		width: 100%;
	}

	&__button {
		&--skip {
			@extend %button-text;
		}
	}
}
