<section class="enter-email">
	<figure class="enter-email__figure">
		<img src="assets/images/privacy-tab/verify-email.png"
			 srcset="assets/images/privacy-tab/verify-email@2x.png 2x"
			 alt="email">
	</figure>

	<div class="enter-email__stepper">
		<ng-content select=".stepper"></ng-content>
	</div>

	<h2 class="enter-email__title">
		Let’s see if your email was breached
	</h2>

	<div class="enter-email__text-block">
		<p class="enter-email__text">
			Lenovo Privacy Essentials by FigLeaf will check if your email address is on the dark web or in any known data breach.
		</p>
	</div>

	<vtr-check-breaches-form strategy="emitEmail"
							 class="enter-email__check-form"
							 (userEmail)="allowEmitter()">
	</vtr-check-breaches-form>

	<button class="enter-email__button--skip"
			vtrSendAnalytics
			[metricsEvent]="'ItemClick'"
			[metricsItem]="'ScoreEmailPopupSkipButton'"
			(click)="disallowEmitter()">
		Skip
	</button>
</section>
