$triangleSize: 10px;

.tooltip-fg {
	position: relative;

	&__text {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 3;
		cursor: pointer;
	}

	&__context {
		font-size: 1.6rem;
		color: #667481;
		font-weight: 400;
		line-height: 2.3rem;

		display: flex;
		position: absolute;
		z-index: 3;
		margin-top: $triangleSize + 3px;
		padding: 2rem 1rem 2rem;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		background: white;
		box-shadow: 0 2px 14px 0 rgba(0,0,0,0.20);
		border-radius: 14px;

		&:after {
			content: " ";
			position: absolute;
			bottom: 99%;  /* At the top of the tooltip */
			left: 50%;
			margin-left: -$triangleSize;
			border-width: $triangleSize;
			border-style: solid;
			border-color: transparent transparent white transparent;
			-webkit-filter: drop-shadow(0 -3px 2px rgba(0,0,0,.2));
			filter: drop-shadow(0 -3px 2px rgba(0,0,0,.2));
		}

		&--left-to-right {
			transform: translateX(0%);
			border-radius: 0 14px 14px 14px;
			margin-top: $triangleSize;

			&:after {
				margin-left: -($triangleSize / 2);
				border-width: $triangleSize / 2;
				border-color: transparent transparent white white;
				left: $triangleSize / 2;
			}
		}

		&--right-to-left {
			transform: translateX(-100%);
			border-radius: 14px 0 14px 14px;
			margin-top: $triangleSize;

			&:after {
				margin-left: -($triangleSize / 2);
				border-width: $triangleSize / 2;
				border-color: transparent white white transparent;
				left: calc(100% - #{$triangleSize / 2});
			}
		}
	}
}
