<div class="vtr-widget-warranty" [ngClass]="{'expired': item.status == 1, 'not-found': item.status == 2}">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="title pb-40">{{status.title[item.status]}}</div>
				<div class="content" *ngIf="item.status < 2">
					<div class="sub-title">{{getRoundYear(item.dayDiff)}}Y Depot Warranty</div>
					<div class="sub-description pb-40">
						This product has years limited warranty and it entitled to depot repair service. Customers may call their local
						service center for more information. Dealers may provide carry-in repair for this product.
					</div>
					<div class="sub-title">Warranty Details:</div>
					<div class="sub-description pb-40">
						<div class="pb-2">Start date: <b>{{dateFormat(item.startDate)}}</b></div>
						<div class="pb-2">End date: <b>{{dateFormat(item.endDate)}}</b></div>
						<div class="pb-2">Status: <b>{{status.detail[item.status]}}</b></div>
					</div>
				</div>
				<div class="content" *ngIf="item.status == 2">
					<div class="sub-description pb-40">
						We were unable to locate warranty details for your device, to have more warranty options, please visit our support website.
					</div>
				</div>
				<div class="button-box">
					<!-- <a role="button" href="https://pcsupport.lenovo.com/us/en/warrantylookup" class="button">VIEW WARRANTY OPTIONS</a> -->
					<a role="button" href="{{item.url}}" target="_blank" class="button">VIEW WARRANTY OPTIONS</a>
				</div>
			</div>
		</div>
	</div>
</div>
