@import "../../../styles/common-blocks";

.article-widget {
  margin-top: 3.5rem;
  &__top-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
   color: #194A65;
    font-size: 2.5rem;
    line-height: 5rem;
  }
  &__link {
    @extend %button-link__text;
    color: #4A81FD;
    text-transform: uppercase;
  }
}