@import "../../../styles/common-blocks";

.article-widget {
	margin: $topIndent 0 8.6rem 0;

	&__top-description {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		color: #194A65;
		font-size: 2.5rem;
		line-height: 5rem;
	}

	&__link {
		@extend %button-link__text;
		font-size: 1.3rem;
		color: #4A81FD;
		font-weight: 500;
		text-transform: uppercase;
	}
}
.all-articles-block {
	padding: 4rem 0;
	text-align: right;
}

.all-articles-link {
	@extend %button-link;
	@extend %button-link__text;
	@extend %button-link--uppercase;
	@extend %button-link--padding-0;
}
