@import "../../../styles/common-blocks";

.article-widget {
	margin: $topIndent 0 7.6rem 0;

	&__top-description {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		color: #194A65;
		font-size: $fontsize_xl;
		line-height: 5rem;
	}

	&__link {
		@extend %button-link;
		@extend %button-link__text;
		@extend %button-link--padding-0;
		@extend %button-link--uppercase;
		font-weight: bold;
	}
}
.all-articles-block {
	padding: 4rem 0;
	text-align: right;
}

.all-articles-link {
	@extend %button-link;
	@extend %button-link__text;
	@extend %button-link--uppercase;
	@extend %button-link--padding-0;
}
