<div *ngIf="showedArticle" class="article-widget">
    <div class="article-widget__top-description">
        <p class="article-widget__title">Privacy hub</p>
		<a class="article-widget__link" routerLink="/privacy/articles">See all articles</a>
	</div>
    <vtr-article-preview
		(openArticle)="openArticle($event)"
		[article]="showedArticle"></vtr-article-preview>
</div>
<vtr-common-popup [popUpId]="articlePopupId" size="large">
	<ng-template>
		<vtr-article-description [article]="article"></vtr-article-description>

		<a class="all-articles-link" routerLink="/privacy/articles" (click)="closeArticlePopup()">see all articles</a>
	</ng-template>

</vtr-common-popup>

