<div class="modal-header">
	<h4 class="modal-title intelligent-cooling-modal-title"
		id="powerSmartSettings-intelligentCooling-intelligentCoolingModesModal-title">
		{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.intelligentCoolingModesModal.title' | translate}}
	</h4>

	<button class="close-button bg-white btn-modal-close"
		type="button"
		role="button"
		id="intelligentCoolingModesModal-close-icon"
		tabindex="1"
		aria-label="intelligent cooling modes top close"
		(click)="closeModal()"
		(keydown.enter)="closeModal()">
		<fa-icon [icon]="['fal', 'times']"></fa-icon>
	</button>

</div>
<div class="modal-body vtr-modal-intelligent-cooling-modes">
	<div class="row">
		<div class="col">
			<div class="number-list">
				<li>
					<div class="d-flex justify-content-start mb-2 mr-2">
						<div class="serial-bakcground">
							<p class="serial"
								aria-hidden="false"
								id="intelligent-cooling-modes-no-1">1</p>
						</div>
						<span class="text-regular"
							aria-hidden="false"
							id="modal-intelligent-cooling-modes-list1">{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.intelligentCoolingModesModal.coolingModesList.list1' | translate}}</span>
					</div>
				</li>
				<div class="col ml-5 toolbar-block">
					<img class="img-fluid ml-5"
						role="img"
						id="toolbar"
						aria-label="sample toolbar"
						src="assets/images/toolbar.PNG">
				</div>

			</div>
		</div>
	</div>
	<hr aria-hidden="true">
	<div class="row">
		<div class="col">
			<div class="number-list">
				<li>
					<div class="d-flex justify-content-start mb-2 mr-2">
						<div class="serial-bakcground">
							<p class="serial serial2"
								aria-hidden="false"
								id="intelligent-cooling-modes-no-2">2</p>
						</div>
						<span class="text-regular"
							aria-hidden="false"
							id="modal-intelligent-cooling-modes-list2">
							{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.intelligentCoolingModesModal.coolingModesList.list2' | translate}}
						</span>
					</div>
				</li>
				<div class="col ml-5 battery-guage-block">
					<img class="img-fluid ml-5 "
						role="img"
						id="battery-guage"
						aria-label="sample battery-guage"
						src="assets/images/battery-guage.jpg">
				</div>

			</div>
		</div>
	</div>
	<hr aria-hidden="true">
	<div class="row">
		<button class="btn close-button"
			role="button"
			tabindex="1"
			(click)="closeModal()"
			(keydown.enter)="closeModal()"
			aria-label="intelligent cooling modes bottom close"
			id="intelligentCoolingModesModal-close-button">
			{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.intelligentCoolingModesModal.close' | translate}}</button>
	</div>

</div>