@import '../../../../app.theme';

.container-card {
	box-shadow: $drop_shadow;
	border-radius: $border_radius;
	background: linear-gradient(293deg, $hover_dark 0%, $main_darker 100%);
	@include high-contrast-border;

	.content {
		@media #{$mediaquery_X43} {
			.left-side {
				flex: 0 0 58.333333%;
				max-width: 58.33%;
			}
			.right-side {
				flex: 0 0 41.666667%;
				max-width: 41.66%;
			}
		}

		.right-side {
			::ng-deep {
				* {
					max-height: 18rem;
				}
			}
		}

		.inner-content {
			padding: 2rem 2.5rem;
			::ng-deep {
				* {
					cursor: pointer;
				}
			}
		}

		.title {
			font-size: $fontsize_xl;
			color: $light;
			font-weight: $weight_semibold;
		}

		.summary {
			font-size: $fontsize_xs;
			color: $light;
			font-weight: $weight_regular;
			line-height: 2rem;
		}

		.link-button {
			font-size: $fontsize_xs;
			font-weight: $weight_bold;
			border-bottom: 0.1rem solid $light;
			min-width: initial;
			line-height: 1.5;
			border-radius: 0;
			outline: none;
			color: $light;
			text-decoration: none;
		}

		.mat-icon-button {
			height: auto;
			line-height: 1;
			outline: none;
			color: $light;
			fa-icon {
				font-size: $fontsize_lg;
				line-height: 1;
				height: 2rem;
			}
		}

		.absolute-lnk {
			position: absolute;
			bottom: 0rem;
			margin: 2rem 0;
			@media #{$mediaquery_X43} {
				position: absolute;
				justify-content: start !important;
			}
			@media #{$large-screen-1} {
				position: initial;
				justify-content: center !important;
				margin-bottom: 0;
			}
			@media #{$mediaquery_xl} {
				position: absolute;
			}
			@media #{$mediaquery_lg} {
				position: initial;
				margin-bottom: 0;
			}
			@media #{$breakpoint_md} {
				position: absolute;
				margin: 2rem 0;
			}
		}
	}

	a:hover {
		text-decoration: none;
	}
}
