<div *ngIf="cardData?.linkPath" class="container-card card-corner position-relative">
	<a	*ngIf="!cardData?.isActionLink"		
		class="h-100 content d-block"
		role="link"
		routerLink="/{{cardData.linkPath}}"
		[queryParams]="cardData.params?{nav:cardData.params}:undefined"
		tabindex="0"
		vtrMetrics
		id="{{cardId+'-status-card'}}"
		metricsItemCategory="corner"
		metricsEvent="itemClick"
		[metricsItem]="cardId+'-'+cardData.metricsItem"
		[metricsItemPosition]="order"
		[metricsItemID]="cardId"
		>
		<div class="row h-100 inner-content">
			<div class="left-side col-7 col-md-12 col-lg-7 col-xl-12 p-0 d-flex flex-column justify-content-between mb-20">
				<div class="desc d-flex flex-column">
					<h2 id="{{cardId+'-title'}}" class="title mb-3" [innerHTML]="cardData.title | translate"></h2>
					<p id="{{cardId+'-summary'}}" role="text" class="summary m-0" [innerHTML]="cardData.summary | translate"></p>
				</div>
			</div>
			<div class="right-side col-5 col-md-12 col-lg-5 col-xl-12 p-0 d-flex align-items-center
				justify-content-center">
				<ng-content select=".link-content"></ng-content>
			</div>
			<div class="col px-0 absolute-lnk d-flex align-items-end
				justify-content-start justify-content-md-center justify-content-lg-start justify-content-xl-center">
				<button
					id="{{cardId+'-lnk-btn'}}"
					mat-flat-button
					tabindex="-1"
					class="link-button a absolute text-uppercase p-0 m-0"
					[ngbTooltip]="cardData.linkText | translate"
					tooltipClass="vtr-system-tooltip text-capitalize"
					container="body"
					[innerHTML]="cardData.linkText | translate"
				></button>
				<button mat-icon-button
					id="{{cardId+'-arrow-btn'}}"
					tabindex="-1"
					class="m-0 a"
					[disableRipple]="true">
					<mat-icon>arrow_forward</mat-icon>
				</button>
			</div>
		</div>
	</a>

	<a	*ngIf="cardData?.isActionLink"		
		class="h-100 content d-block"
		role="link"
		href="javascript:void(0);"
		(click)="onClick(cardData?.linkPath, cardData?.params)"
		(keydown.enter)="onClick(cardData?.linkPath, cardData?.params)"		
		tabindex="0"
		vtrMetrics
		id="{{cardId+'-status-card'}}"
		metricsItemCategory="corner"
		metricsEvent="itemClick"
		[metricsItem]="cardId+'-'+cardData.metricsItem"
		[metricsItemPosition]="order"
		[metricsItemID]="cardId"
		>
		<div class="row h-100 inner-content">
			<div class="left-side col-7 col-md-12 col-lg-7 col-xl-12 p-0 d-flex flex-column justify-content-between mb-20">
				<div class="desc d-flex flex-column">
					<h2 id="{{cardId+'-title'}}" class="title mb-3" [innerHTML]="cardData.title | translate"></h2>
					<p id="{{cardId+'-summary'}}" role="text" class="summary m-0" [innerHTML]="cardData.summary | translate"></p>
				</div>
			</div>
			<div class="right-side col-5 col-md-12 col-lg-5 col-xl-12 p-0 d-flex align-items-center
				justify-content-center">
				<ng-content select=".action-content"></ng-content>
			</div>
			<div class="col px-0 absolute-lnk d-flex align-items-end
				justify-content-start justify-content-md-center justify-content-lg-start justify-content-xl-center">
				<button
					id="{{cardId+'-lnk-btn'}}"
					mat-flat-button
					tabindex="-1"
					class="link-button a absolute text-uppercase p-0 m-0"
					[ngbTooltip]="cardData.linkText | translate"
					tooltipClass="vtr-system-tooltip text-capitalize"
					container="body"
					[innerHTML]="cardData.linkText | translate"
				></button>
				<button mat-icon-button
					id="{{cardId+'-arrow-btn'}}"
					tabindex="-1"
					class="m-0 a"
					[disableRipple]="true">
					<mat-icon>arrow_forward</mat-icon>
				</button>
			</div>
		</div>
	</a>
</div>

