<vtr-page-layout [title]="'smartPerformance.title' | translate"
	[textId]="'smartPerformance'"
	[pageCssClass]="'device'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true"
	[back]="'common.ui.back' | translate"
	[backId]="'smartPerformance-back-btn'">

	<left-content>
		<vtr-subpage-smart-performance-dashboard (scanEmitter)="scanNow()"
			*ngIf="!smartPerformanceService.isScanning && !smartPerformanceService.isScanningCompleted && !smartPerformanceService.isSubscribed"></vtr-subpage-smart-performance-dashboard>
		<vtr-subpage-scanning *ngIf="smartPerformanceService.isScanning"
			(sendModelStatus)="cancelScanfromScanning()"
			[scheduleScanData]="smartPerformanceService.scheduleScanObj"
			[isAutoScanRunning]="isScheduleScanRunning">
		</vtr-subpage-scanning>
		<vtr-subpage-smart-performance-scan-summary *ngIf="(smartPerformanceService.isScanningCompleted || smartPerformanceService.isSubscribed) && !smartPerformanceService.isScanning"
			[hasSubscribedScanCompleted]="hasSubscribedScanCompleted"
			[inputIsScanningCompleted]="showSubscribersummary"
			(backToScan)="changeScanEvent()"
			(backToNonSubscriber)="changeSummaryToHome()"
			[rating]="rating"
			[tune]="tune"
			[boost]="boost"
			[secure]="secure"
			[isOnline]="isOnline">
		</vtr-subpage-smart-performance-scan-summary>

	</left-content>
	<right-content>
		<div class="vtr-ui-smart-performance vtr-page">
			<div class="row vtr-page-content">
				<div class="col vtr-col">
					<div class="container-fluid">
						<div class="row">
							<div class="vtr-page-shift-up w-100">
								<div class="container-fluid">
									<ng-container *ngIf="!smartPerformanceService.isScanning && !smartPerformanceService.isScanningCompleted && !smartPerformanceService.isSubscribed">
										<div class="row mb-24">
											<div class="col col-12">
												<vtr-widget-subscriptiondetails (subScribeEvent)="changeManageSubscription($event)"
													(expiredStatusEvent)="subscriptionInfo($event)"
													[isOnline]="isOnline"></vtr-widget-subscriptiondetails>
											</div>
										</div>

										<div class="row mb-24"
											*ngIf="!isOldVersion">
											<div class="col col-12">
												<!----------Scan Schedule--------------->
												<vtr-subpage-schedule-scan [isOnline]="isOnline"
													(hideBasedOnOldAddIn)="hideBasedOnOldAddInVersion($event)"></vtr-subpage-schedule-scan>
												<!----------Scan Schedule--------------->
											</div>
										</div>
									</ng-container>

									<ng-container *ngIf="(smartPerformanceService.isScanningCompleted || smartPerformanceService.isSubscribed) && !smartPerformanceService.isScanning">
										<div class="row mb-24"
											*ngIf="smartPerformanceService.isSubscribed && !isOldVersion">
											<div class="col col-12">
												<!-- --------Scan Schedule------------- -->
												<vtr-subpage-schedule-scan (scanDatekValueChange)='changeNextScanDateValue($event)'
													(hideBasedOnOldAddInSummary)="hideBasedOnOldAddInVersionInSummaryPage($event)"
													[isOnline]="isOnline">
												</vtr-subpage-schedule-scan>
												<!-- --------Scan Schedule------------- -->
											</div>
										</div>
										<div class="row mb-24"
											*ngIf="!smartPerformanceService.isSubscribed && !smartPerformanceService.isExpired">
											<div class="col col-12">
												<vtr-widget-recommend-action></vtr-widget-recommend-action>
											</div>
										</div>
										<div class="row mb-24"
											*ngIf="smartPerformanceService.isSubscribed || smartPerformanceService.isExpired">
											<div class="col col-12">
												<vtr-widget-subscriptiondetails [isOnline]="isOnline"></vtr-widget-subscriptiondetails>
											</div>
										</div>
									</ng-container>
									<ng-container *ngIf="smartPerformanceService.isScanning">
										<div class="row mb-24">
											<div class="col col-12">
												<vtr-widget-subscriptiondetails (subScribeEvent)="changeManageSubscription($event)"
													(expiredStatusEvent)="subscriptionInfo($event)"
													[isClickDisabled]="true"
													[isOnline]="isOnline"></vtr-widget-subscriptiondetails>
											</div>
										</div>

										<div class="row mb-24"
											*ngIf="!isOldVersion">
											<div class="col col-12">
												<vtr-subpage-schedule-scan [isOnline]="isOnline"
													[isClickDisabled]="true"
													(hideBasedOnOldAddIn)="hideBasedOnOldAddInVersion($event)"></vtr-subpage-schedule-scan>
											</div>
										</div>
									</ng-container>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</right-content>
</vtr-page-layout>