<vtr-page-layout [title]="'smartPerformance.title' | translate"
	[textId]="'smartPerformance'"
	[pageCssClass]="'device'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true"
	[back]="'common.ui.back' | translate"
	[backId]="'smartPerformance-back-btn'">
	<left-content>
		<vtr-subpage-smart-performance-dashboard (scanEmitter)="scanNow()"
			*ngIf="(smartPerformanceService.scanningState === ScanningState.NotStart
					||smartPerformanceService.scanningState === ScanningState.Canceled)
					&&!smartPerformanceService.isSubscribed">
		</vtr-subpage-smart-performance-dashboard>
		<vtr-subpage-scanning *ngIf="smartPerformanceService.scanningState === ScanningState.Running"
			(sendModelStatus)="cancelScanfromScanning()"
			[scheduleScanData]="smartPerformanceService.scheduleScanObj"
			[isAutoScanRunning]="isScheduleScanRunning">
		</vtr-subpage-scanning>
		<vtr-subpage-smart-performance-scan-summary *ngIf="isShowScanSummary(smartPerformanceService.scanningState)"
			[hasSubscribedScanCompleted]="hasSubscribedScanCompleted"
			[scanningState]="smartPerformanceService.scanningState"
			(backToScan)="changeScanEvent()"
			(backToNonSubscriber)="changeSummaryToHome()"
			[rating]="rating"
			[leftAnimator]="leftAnimator"
			[scanResult]="scanResult"
			[issueCount]="issueCount"
			[isOnline]="isOnline">
		</vtr-subpage-smart-performance-scan-summary>
	</left-content>
	<right-content>
		<div class="container-fluid smart-performance-right-content">
			<div class="row align-items-stretch no-gutters"
				*ngIf="(smartPerformanceService.scanningState === ScanningState.NotStart || smartPerformanceService.scanningState === ScanningState.Canceled) &&
					!smartPerformanceService.isSubscribed">
				<div class="col-12 col-sm-6 col-lg-12 mb-24 widget-card">
					<vtr-widget-recommend-action [isDisabled]="!isOnline"></vtr-widget-recommend-action>
				</div>
				<div class="col-12 col-sm-6 col-lg-12 mb-24 widget-card"
					*ngIf="!isOldVersion">
					<vtr-subpage-schedule-scan [isOnline]="isOnline"
						(hideBasedOnOldAddIn)="hideBasedOnOldAddInVersion($event)">
					</vtr-subpage-schedule-scan>
				</div>
			</div>
			<div class="row align-items-stretch no-gutters"
				*ngIf=" smartPerformanceService.scanningState === ScanningState.Completed
					|| (smartPerformanceService.scanningState !== ScanningState.Running && smartPerformanceService.isSubscribed)">

				<div class="col-12 col-sm-6 col-lg-12 mb-24 widget-card"
					*ngIf="!smartPerformanceService.isSubscribed && !smartPerformanceService.isExpired">
					<vtr-widget-recommend-action [isDisabled]="!isOnline"></vtr-widget-recommend-action>
				</div>
				<div class="col-12 col-sm-6 col-lg-12 mb-24 widget-card"
					*ngIf="!isOldVersion">
					<vtr-subpage-schedule-scan (scanDateValueChange)="changeNextScanDateValue($event)"
						(hideBasedOnOldAddInSummary)="hideBasedOnOldAddInVersionInSummaryPage($event)"
						[isOnline]="isOnline">
					</vtr-subpage-schedule-scan>
				</div>
				<div class="col-12 col-sm-6 col-lg-12 mb-24 widget-card"
					*ngIf="smartPerformanceService.isSubscribed || smartPerformanceService.isExpired">
					<vtr-widget-subscriptiondetails [isOnline]="isOnline"></vtr-widget-subscriptiondetails>
				</div>
			</div>
			<div class="row align-items-stretch no-gutters"
				*ngIf="smartPerformanceService.scanningState === ScanningState.Running">
				<div class="col-12 col-sm-6 col-lg-12 mb-24 widget-card"
					*ngIf="!smartPerformanceService.isSubscribed">
					<vtr-widget-recommend-action [isDisabled]="true"></vtr-widget-recommend-action>
				</div>
				<div class="col-12 col-sm-6 col-lg-12 mb-24 widget-card"
					*ngIf="!isOldVersion">
					<vtr-subpage-schedule-scan [isOnline]="isOnline"
						[isClickDisabled]="true"
						(hideBasedOnOldAddIn)="hideBasedOnOldAddInVersion($event)"></vtr-subpage-schedule-scan>
				</div>
				<div class="col-12 col-sm-6 col-lg-12 mb-24 widget-card"
					*ngIf="smartPerformanceService.isSubscribed">
					<vtr-widget-subscriptiondetails (subScribeEvent)="changeManageSubscription($event)"
						(expiredStatusEvent)="subscriptionInfo($event)"
						[isClickDisabled]="true"
						[isOnline]="isOnline">
					</vtr-widget-subscriptiondetails>
				</div>
			</div>
		</div>
	</right-content>
</vtr-page-layout>

<!-- For PA test UI use, it will remove before rc1 -->
<div style="position:fixed; top: 10.5rem; right: 3.2rem; width: 16rem; z-index: 9999999999;
	background: rgba(255,255,255,.9); padding: 1.6rem; border-radius: 0.6rem;"
	*ngIf="smartPerformanceService.scanningState === ScanningState.Completed && !smartPerformanceService.isSubscribed">
	<div class="mb-2"
		style="font-size: 1.4rem;">For PA test UI use</div>
	<div class="d-flex justify-content-between">
		<div class="btn btn-outline-dark py-0"
			style="font-size: 1.8rem;"
			(click)="rating = rating - 1 < 0 ? 0 : rating - 1;leftAnimator = rating*10 + '%'">-</div>
		<input type="text"
			class="w-100 text-center mx-2"
			style="height: 3rem; font-size: 1.6rem; padding: 0 1rem;"
			[(ngModel)]="rating"
			(keyup)="rating=rating>10?10:rating>=0?rating:0;leftAnimator = rating*10 + '%'" />
		<div class="btn btn-outline-dark py-0"
			style="font-size: 1.8rem;"
			(click)="rating = rating + 1 > 10 ? 10 : rating + 1;leftAnimator = rating*10 + '%'">+</div>
	</div>
</div>
