<div class="error-message-modal position-relative" aria-label="Error" role="dialog">
	<div class="error-message-content">
		<h1 [innerHTML]="header | translate"></h1>
		<p class="description" [innerHTML]="description | translate"></p>
		<div class="pt-0 d-flex align-items-center">
			<vtr-ui-button
				[linkId]="cancelButtonId"
				metricsEvent="featureClick"
				metricsItem="closeErrorMessage"
				(onClick)="onCloseClick($event)"
				[label]="closeText | translate"></vtr-ui-button>
		</div>
	</div>
	<div class="btn-modal-close">
		<vtr-ui-close-button linkId="{{closeButtonId}}"
			metricsItem="closeErrorMessageModal"
			(clickClose)="onCloseClick($event)">
		</vtr-ui-close-button>
	</div>
</div>
