<div class="vtr-ui-rounded-rectangle-radio-list">
	<div role="radiogroup"
		class="radio-group"
		[id]="model.groupName">
		<ng-template ngFor
			let-item
			[ngForOf]="model.radioDetails"
			let-index="index">
			<div role="radio"
				#radioRef
				[id]="item.componentId"
				[attr.aria-checked]="item.isChecked"
				[attr.aria-disabled]="item.isDisabled"
				(click)="onClick($event)"
				(keydown)="onKeyDown($event, index)"
				[tabindex]="item.isChecked ? 0 : -1"
				vtrMetrics
				[metricsEvent]="metricsEvent"
				[metricsItem]="item.componentId"
				[metricsValue]="item.isChecked">
				{{item.label}}
			</div>
		</ng-template>
	</div>
</div>