@import "../../../app.theme";

.mcafee-logo {
    width: 10rem;
    padding-top: 1rem;
}

.subtitle {
    color: $main_shade;
    font-size: 1.4rem;
    font-weight: $weight_regular;
    line-height: 2.3rem;
    @media #{$mediaquery_X46} { 
        font-size: 1.2rem;
    }
}

.button, button {
    min-height: 6rem;
    border-radius: 3rem;
    min-width: 12rem;
    background: $gradient_main;
    border: none;
    color: $light;
    font-size: 1.75rem;
    font-weight: $weight_bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.1rem;
  }

.list-group {
    border-radius: $border_radius;

    .list-group-item {
        background: $shade_extralight;
    }

    .text {
        color: $shade_extradark;
        padding: 2rem 0;
        font-size: 1.4rem;
        font-weight: $weight_bold;
        letter-spacing: 0.89px;
        line-height: 2.3rem;
    }
}

.title {
    color: $screen_dark_70;
    font-size: 2.5rem;
    font-weight: $weight_regular;
    line-height: 2.9rem;
    @media #{$mediaquery_X46} { 
        font-size: 2.2rem;
    }
}

.text {
    font-size: 1.5rem;
    line-height: 2.1rem;
}

.mt-60 {
    margin-top: 60px;
}

.md-margin {
    @media #{$mediaquery_X46} {
        margin-bottom: 2rem;
      }
}

.vtr-widget-mcafee {
    @media #{$mediaquery_X46} { 
        justify-content: center !important;
    }
}

.md-col {
    @media #{$mediaquery_X46} {
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
    }
}

::ng-deep {
    .vtr-ui-button {
        @media #{$mediaquery_X46} { 
            margin-top: 2rem;
        }
    }
}
