<div class="vtr-widget-mcafee mt-4 row justify-content-between mb-5">
	<vtr-ui-description-button class="col-12"
		[vtrMetricEnabled]="install?true:false"
		metricsEvent="FeatureClick"
		[metricsItem]="install?'launchMcafee':''"
		metricsParent="security.antivirus"
		[id]="install?'sa-av-btn-launchmcafee':'sa-av-btn-getMcafee'"
		[label]="install?launchMcafeeText:getMcafeeText"
		[isDisabled]="isOnline === false && !install"
		[upperCaseLabel]="false"
		[btnHeight]="true"
		(buttonClick)="install?common.launch():common.openMcAfeePurchase('button')">
		<p class="title pb-3">{{'security.antivirus.common.mcafeePremium' | translate}}</p>
		<p class="subtitle">
			{{'security.antivirus.common.protectedBy' | translate: {protectedName: name } }}
		</p>
	</vtr-ui-description-button>
</div>
