<ul class="list-group">
  <li class="list-group-item" *ngFor="let list of statusList">
    <div class="row align-items-center">
      <div class="col-auto text px-3 text-uppercase align-self-start">
        {{ list.title | translate }}
      </div>
      <div class="flex-column align-item-center ml-5 badge-position">
        <h3><span class="badge badge-pill text-uppercase" [ngClass]="list.status | textClass"
            title="{{list.status | statusText | translate | uppercase}}">
            {{ list.status | statusText | translate }}
          </span></h3>
        <div *ngIf="list.badge && isShowMore===false">
          <h3 *ngFor="let badgeItem of list.badge" [ngClass]="badgeItem | cursorType">
            <a *ngIf="badgeItem.status" [href]="badgeItem.expiredUrl | sanitizeUrl" target="_blank">
              <span class="badge badge-pill text-uppercase"
                [ngClass]="badgeItem.status | textClass" (click)="badgeItem.clickEvent()" title="{{badgeItem.text}}">
                {{badgeItem.text}}
              </span>
            </a>
          </h3>
        </div>
      </div>
      <div class="fa-color ml-auto" vtrMetrics metricsItem="collapseWiFiHistory" metricsEvent="featureClick"
        *ngIf="isShowMore===false" (click)="isShowMore=true">
        <fa-icon [icon]="['fas', 'chevron-up']" class="mr-4">
        </fa-icon>
      </div>
      <div class="fa-color ml-auto" vtrMetrics metricsItem="expandWiFiHistory" metricsEvent="featureClick"
        aria-label="sa-ws-btn-moreinfo" *ngIf="isShowMore===true" (click)="isShowMore=false">
        <fa-icon [icon]="['fas', 'chevron-down']" class="mr-4">
        </fa-icon>
      </div>
    </div>
  </li>
</ul>