@import "../../../app.theme.scss";

.vtr-page-security-wifi {
  .vtr-security-advisor {
    border-radius: $border_radius;
    background-color: $light;
    box-shadow: $drop_shadow;
    padding: 4rem;
    .title {
      color: $main_darker;
      font-size: 2.5rem;
    }
    .description {
      color: $shade;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: $weight_medium;
    }

    .home-security {
      color: $main_darker;
      font-size: 2.5rem;
      margin-top: 1rem;
    }

    coronet-section {
      margin-top: 1rem;

      .view-security-check {
        color: $main;
        margin-top: 0.3rem;
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .coronet_logo_teal {
        height: 6rem;
        width: 18rem;
      }
    }
  }
}
