<div class="vtr-page-security-wifi vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="backarrow"
				[back]="back"
				[title]="title"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col col-8 vtr-page-left-column">
						<div class="vtr-subpage">
							<div class="vtr-page-shift-up">
								<wifi-security></wifi-security>
							</div>
						</div>
						<div class="connected-home-container">
							<vtr-connected-home></vtr-connected-home>
						</div>
					</div>
					<div class="col col-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">

							<div class="container-fluid">

								<!--Start of Security Card Advisor-->
								<div class="row mb-40">
									<div class="col col-12">
										<vtr-widget-status [title]="'Security Advisor'"
											[description]="'Security Status Component'"
											[items]="mockService.securityStatus">
										</vtr-widget-status>
									</div>
								</div>
								<!--end of Security Card Advisor-->

								<!--Start of Security Health Advisor-->
								<div class="row mb-40">
									<div class="col col-12">
										<div class="vtr-security-health">
											<div class="container-fluid">
												<div class="row">
													<div class="col">
														<div class="title">{{'Security Health'}}</div>
														<div class="description">
															{{'Learn more about each of these components here. Make &quot;here&quot; a hyperlink. We will work on creating an article that links to this content'}}
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col">

														<!--Start of Security Health Advisor When LWS is enabled-->
														<vtr-ui-list-chevron [items]="mockService.securityHealth"
															*ngIf="isLWSEnabled===true">
														</vtr-ui-list-chevron>
														<!--end of Security Health Advisor When LWS is enabled-->

														<!--Start of Security Health Advisor When LWS is disabled-->
														<div class="security-health-disabled"
															*ngIf="isLWSEnabled===false">
															<div class="security-health-disabled-list">

																<div class="peace-of-mind">
																	Do you want more
																	peace of mind?
																</div>
																<div class="button-box shift-left">
																	<vtr-ui-button
																		(onClick)="enableWiFiSecurity($event)"
																		[label]="'Enable Wifi security'">
																	</vtr-ui-button>
																</div>
															</div>

															<div class="coronet-section">
																<div class="row">
																	<div class="col">
																		<div class="pull left view-security-check">
																			<a routerLink="/{{viewSecChkRoute}}">View
																				more
																				security
																				checks</a>
																		</div>

																	</div>

																	<div class="col-4 p-0">
																		<div class="pull right">
																			<a routerLink="/{{viewSecChkRoute}}">
																				<img class="coronet_logo_teal"
																					src="../../../../assets/images/coronet-icon.png" /></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<!--end of Security Health Advisor When LWS is disabled-->

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end of Security Health Advisor-->


								<!--start of Antivirus ad-->
								<div class="row mb-40">
									<div class="col col-12">
										<vtr-container-card
											[img]="'https://www.channelweb.co.uk/w-images/7703f0aa-a9d4-48ec-a719-c993f0388479/3/Datacentre-580x358.jpg'"
											[title]="'Try out McAfee anti-virus software for 6 months'"
											[logoText]="'LENEVO SPECIAL'"
											[readMore]="'http://www.google.com'"
											[type]="'article'"
											[ratioX]="4"
											[ratioY]="4">
										</vtr-container-card>
									</div>
								</div>
								<!--end of Antivirus ad-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
