@import "../../../app.theme.scss";
::ng-deep {
	.vtr-page-security-wifi {
		.connected-home-status,
		.connected-home-container {
			margin-top: 5rem;
		}

		.vtr-page-right-column {
			@media #{$mediaquery_X5} {
				padding: 4rem 4rem 4rem 8.5rem;
			}
		}

		.bottom-content {
			padding-bottom: 3rem;
			hr {
				border: 0.1rem solid $grey_light;
				margin: 5rem 0 4rem 0;
			}
		}

		vtr-ui-button {
			.vtr-ui-button {
				.button-box .button {
					max-width: 33rem;
				}
			}
			@media #{$mediaquery_X7, $mediaquery_17} {
				.vtr-ui-button {
					max-width: 100% !important;
					.button-box .button {
						max-width: 100% !important;
					}
				}
			}
		}

		@media #{$mediaquery_md} {
			.bottom-content {
				// margin: 0 4rem 2rem;
			}
			.vtr-page-right-column {
				padding: 0rem 4rem 0rem 4rem;
			}
		}
	}
}
