<vtr-page-layout [title]="'common.securityAdvisor.wifi' | translate"
	[textId]="'security-wifi'"
	[pageCssClass]="'security-wifi'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true"
	[back]="'common.ui.back' | translate"
	[backId]="'sa-ws-btn-back'">

	<left-content>
		<vtr-widget-offline-info *ngIf="!isOnline"
			[title]="'dashboard.offlineInfo.title' | translate"
			[isSubtitleVisible]="false"
			[isButtonVisible]="false"></vtr-widget-offline-info>
		<wifi-security [data]="wifiHomeViewModel"
			[vtrAppSearchScroller]="['search-wifi-security']"
			[isShowHistory]="isShowHistory"
			[showChs]="showChs"
			></wifi-security>
		<div class="connected-home-status"
			*ngIf="showChs">
			<vtr-connected-home-status [homeSecurity]="homeSecurity"></vtr-connected-home-status>
		</div>
		<div id="home-security" *ngIf="showChs"
			class="connected-home-container">
			<vtr-home-security></vtr-home-security>
		</div>
		<div class="bottom-content" hidden>
			<div class="d-none d-md-block">
				<hr>
				<vtr-widget-powered-by-info [title]="'homeSecurity.overview.poweredBy'"
					[detail]="'common.securityAdvisor.privacyPolicyAndTermsOfService'"
					[imgUrl]="'assets/images/coronet-logo.svg'"
					linkId="sa-wifi-lnk"
					privacyUrl="https://homesecurity.coro.net/"
					termsUrl="https://homesecurity.coro.net/">
				</vtr-widget-powered-by-info>
			</div>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<!--Start of Security Card Advisor-->
			<div *ngIf="segment !== segmentConst.Commercial && !this.deviceService.isGaming"
				class="row mb-40">
				<div class="col col-12">
					<vtr-widget-security-status [securityAdvisor]="securityAdvisor"
						[linkId]="'wifi-security'">
					</vtr-widget-security-status>
				</div>
			</div>
			<!--end of Security Card Advisor-->
			<div class="row">
				<div class="col col-12">
					<vtr-container-card [img]="cardContentPositionA.FeatureImage"
						[caption]="cardContentPositionA.Description"
						[title]="cardContentPositionA.Title"
						[logoText]="cardContentPositionA.BrandName"
						[action]="cardContentPositionA.Action"
						[actionType]="cardContentPositionA.ActionType"
						[actionLink]="cardContentPositionA.ActionLink"
						[itemID]="cardContentPositionA.ActionLink"
						[ratioX]="4"
						[ratioY]="2"
						type="corner-article"
						cornerShift="large"
						order="1"
						sideFlag="r"
						[containerCardId]="'sa-ws-modal'">
					</vtr-container-card>
				</div>
			</div>
		</div>
	<div class="bottom-content w-100" hidden>
		<div class="d-block d-md-none">
			<hr>
			<vtr-widget-powered-by-info [title]="'homeSecurity.overview.poweredBy'"
				[detail]="'common.securityAdvisor.privacyPolicyAndTermsOfService'"
				[imgUrl]="'assets/images/coronet-logo.svg'"
				linkId="sa-wifi-lnk"
				privacyUrl="https://homesecurity.coro.net/"
				termsUrl="https://homesecurity.coro.net/">
			</vtr-widget-powered-by-info>
		</div>
	</div>
	</right-content>

</vtr-page-layout>
