<div class="vtr-page-security-wifi vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="backarrow"
				[back]="'common.ui.back'| translate"
				[title]="'common.securityAdvisor.wifi' | translate"
				[backId]="backId"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-lg-8 col-xl-8 vtr-page-left-column">
						<div class="vtr-subpage">
							<div class="vtr-page-shift-up">
								<vtr-widget-offline-info *ngIf="!isOnline"
									[title]="'dashboard.offlineInfo.title' | translate"
									[isSubtitleVisible]="false"
									[isButtonVisible]="false"></vtr-widget-offline-info>
								<wifi-security [data]="wifiHomeViewModel"
									[wifiIsShowMore]="wifiIsShowMore"></wifi-security>
							</div>
						</div>
						<div id="home-security"
							class="connected-home-container">
							<vtr-connected-home [data]="wifiHomeViewModel"
								[isShowInvitationCode]="isShowInvitationCode"></vtr-connected-home>
						</div>
					</div>
					<div class="col-sm-12 col-lg-4 col-xl-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<div class="container-fluid">
								<!--Start of Security Card Advisor-->
								<div class="row mb-40">
									<div class="col col-12">
										<vtr-widget-security-status [securityAdvisor]="securityAdvisor"
											[linkId]="'wifi-security'">
										</vtr-widget-security-status>
									</div>
								</div>
								<!--end of Security Card Advisor-->

								<!--Start of Security Health Advisor-->
								<div class="row mb-40">
									<div class="col col-12">
										<div class="vtr-security-health">
											<div class="container-fluid">
												<div class="row">
													<div class="col">
														<div class="title">
															{{'security.homeprotection.securityhealth.title' | translate}}
														</div>
														<div class="description"
															*ngIf="securityHealthViewModel.isLWSEnabled">
															<span
																*vtrTranslate="'security.homeprotection.securityhealth.learnMoreAboutSecurityHealth' | translate">

																<a vtrMetrics
																	id="sa-ws-lnk-sh-learnmore"
																	aria-label="sa-ws-lnk-sh-learnmore"
																	metricsEvent="ArticleClick"
																	metricsItem="learnMoreAboutSecurityHealth"
																	metricsItemPosition="3"
																	metricsPageNumber="1"
																	[metricsItemID]="securityHealthArticleId"
																	[metricsItemCategory]="securityHealthArticleCategory"
																	href="javascript:void(0)"
																	(click)="openSecurityHealthArticle()"
																	target="_blank"></a>
															</span>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col">

														<!--Start of Security Health Advisor When LWS is enabled-->
														<div *ngIf="securityHealthViewModel.isLWSEnabled===undefined || (securityHealthViewModel.isLWSEnabled===true && securityHealthViewModel.homeDevicePosture.length === 0)"
															class="loading">
															<div class="spinner-border text-primary progress-spinner"
																role="status"></div>
														</div>
														<vtr-ui-list-chevron
															[items]="securityHealthViewModel.homeDevicePosture"
															metricsEvent="featureClick"
															[chevronVisibility]='false'
															[clickable]="false"
															*ngIf="securityHealthViewModel.isLWSEnabled===true && securityHealthViewModel.homeDevicePosture.length > 0">
														</vtr-ui-list-chevron>
														<!--end of Security Health Advisor When LWS is enabled-->

														<!--Start of Security Health Advisor When LWS is disabled-->
														<div class="security-health-disabled"
															*ngIf="securityHealthViewModel.isLWSEnabled===false">
															<div class="security-health-disabled-list">

																<div class="peace-of-mind">
																	{{'security.homeprotection.securityhealth.peaceOfMind' | translate}}
																</div>
																<div class="button-box">
																	<vtr-ui-button id="sa-ws-btn-sh-enablewifisecurity"
																		aria-label="sa-ws-btn-sh-enablewifisecurity"
																		metricsEvent="FeatureClick"
																		metricsItem="enableWiFiSecurity"
																		(onClick)="enableWiFiSecurity($event)"
																		[isDisabled]="cancelClick"
																		[label]="'security.homeprotection.securityhealth.button' | translate"
																		[title]="'security.homeprotection.securityhealth.button' | translate"
																		[linkId]="'wifi-security-enableWifiSecurity-btn'">
																	</vtr-ui-button>
																</div>
															</div>

															<div class="coronet-section">
																<div class="row">
																	<div class="col">
																	</div>

																	<div class="p-0">
																		<div class="pull right">
																			<img class="coronet_logo_teal"
																				src="../../../../assets/images/coronet-icon.png" />
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<!--end of Security Health Advisor When LWS is disabled-->
													</div>
												</div>
											</div>
										</div>
										<div *ngIf="securityHealthViewModel.isLWSEnabled"
											class="security-health"></div>
									</div>
								</div>
								<!--end of Security Health Advisor-->

								<div class="row">
									<div class="col col-12">
										<vtr-container-card id="sa-ws-lnk-cardcontent"
											aria-label="sa-ws-lnk-cardcontent"
											[img]="cardContentPositionA.FeatureImage"
											[caption]="cardContentPositionA.Description"
											[title]="cardContentPositionA.Title"
											[logoText]="cardContentPositionA.BrandName"
											[action]="cardContentPositionA.Action"
											[actionType]="cardContentPositionA.ActionType"
											[actionLink]="cardContentPositionA.ActionLink"
											[itemID]="cardContentPositionA.ActionLink"
											[ratioX]="4"
											[ratioY]="2"
											type="corner-article"
											cornerShift="large"
											order="1"
											sideFlag="r"
											[containerCardId]="'wifisecurity-card'">
										</vtr-container-card>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
