<div class="row">
    <div class="col">
        <h1>{{'device.myDevice.title' | translate}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 px-0 pb-5 pt-0">
        <vtr-container-card order="1" sideFlag="r" [item]="cardContentPositionA"
            [type]="'subpage-corner'" [ratio]="2" [cornerShift]="'large'"
            id="device-container-card" aria-label="device-container-card" [containerCardId]="'myDevice-container-card'">
        </vtr-container-card>
    </div>
</div>