@import "../../../app.theme";
.security-widget {
    border-bottom: solid 1px $main_lightest;
    padding: 3rem;
    .security-widget-inner {
        .title {
            font-size: 2.5rem;
			font-weight: $weight_medium;
			margin-bottom: -1.5rem;
			color: $main_darker;
        }
    }
    // &:last-child {
    //     border-bottom: none;
    // }
}
.security-widget.security-widget-no-bottom-border {
    border-bottom: none;
}
.security-widget {
    .security-widget-inner {
        .windows-logo {
			width: 12rem;
			padding-top: 1rem;
        }
    }
}
