@import "../../../app.theme";
// .security-widget {
// 	border-bottom: solid 1px $main_lightest;
// 	padding: 3rem;
// 	.security-widget-inner {
// 		.title {
// 			font-size: 2.5rem;
// 			font-weight: $weight_regular;
// 			margin-bottom: -1.5rem;
// 		}
// 	}
// 	// &:last-child {
// 	//     border-bottom: none;
// 	// }
// }
// .security-widget.security-widget-no-bottom-border {
// 	border-bottom: none;
// }
// .security-widget.windows-hello {
// 	.security-widget-inner {
// 		.title {
// 			color: $go_dark;
// 		}
// 		.windows-logo {
// 			width: 12rem;
// 			padding-top: 1rem;
// 		}
// 	}
// }
