<div class="breached-description">
	<div class="breached-description__text">
		<p class="breached-description__plaintext">
			Your private information was part of a data breach, but the source is unknown or undisclosed due to an ongoing investigation.
		</p>
	</div>

	<div class="breached-description__details-wrapper">
		<div class="breached-description__details-wrapper-title">
			We found your information in a {{otherBreachedAccount[0].date | date:'MMM d, y'}} data breach
		</div>

		<div class="breached-description__description">
			<div class="breached-description__col">
				<ng-container *ngIf="breachedEmails.length > 0">
					<div *ngFor="let email of breachedEmails"
						 class="breached-description__item breached-description__item--email">
						{{email}}
					</div>
				</ng-container>

				<ng-container *ngIf="breachedPasswords.length > 0">
					<div *ngFor="let password of breachedPasswords"
						 class="breached-description__item breached-description__item--password">
						{{password}}
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>
