@import "../../../app.theme.scss";

ui-popover {
	position: absolute;
	max-width: 56rem;
	background: $gaming_lightest;
	z-index: 9;
	border-radius: 1rem;
	box-shadow: 0 0.8rem 1.5rem $screen_dark_30;
	right: 7.3rem;
	top: -11.5rem;
	width: 35vw;
	min-width: 56rem;
	@media #{$breakpoint_md} {
		min-width: 45rem;
	}
	@media #{$mediaquery_X48} {
		min-width: 44rem;
	}
	@media #{$breakpoint_sm} {
		min-width: 36rem;
	}
	@media #{$black-on-white} {
		background: $high-contrast-grey;
	}
	@media #{$white-on-black} {
		background: $high-contrast-grey;
	}
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-bottom: 3rem solid $gaming_lightest;
		border-left: 3rem solid transparent;
		bottom: -1rem;
		top: calc(50% - 1.5rem);
		right: -1.2rem;
		transform: rotate(-45deg);
		@media #{$breakpoint_md} {
			top:11.8rem;
		}
		@media #{$black-on-white} {
			border-bottom: 3rem solid $high-contrast-grey;
			border-left: 3rem solid transparent;
		} 
		@media #{$white-on-black} {
			border-bottom: 3rem solid $high-contrast-grey;
			border-left: 3rem solid transparent;
		}
	}
	.vtr-ui-popover {
		&.modal-body {
			padding: 4rem 4rem;
			.btn-close {
				position: absolute;
				top: 0px;
				right: 0px;
				padding: 0.6rem 1.2rem;
				width: 4rem;
				height: 4rem;
			}
		}
		.content-body {
			min-height: 10rem;
		}
		fa-icon {
			font-size: 3rem;
			color: $main;
			display: block !important;
			@media #{$black-on-white} {
				color: $gaming_darkest;
			}
			@media #{$white-on-black} {
				color: $gaming_darkest;
			}
		}

		h1 {
			font-size: $fontsize_xl;
			font-weight: normal;
			color: $blue-dark;
			padding-right: 2.5rem;
		}

		p {
			font-size: 1.6rem;
			color: $light-grey;
			padding: 0.5rem 0;
		}

		.enable-button {
			background: $gradient_main;
			border-radius: 3rem;
			color: $light;
			font-size: $fontsize_sm;
			padding: 1rem 3rem;
			margin-top: 1rem;
			margin-right: 3rem;
			font-weight: $weight_bold;
		}

		.cancel-link {
			height: 2.5rem;
			color: $main;
			font-size: $fontsize_sm;
			vertical-align: middle;
			padding: 0 0.5rem;
			font-weight: $weight_600;
			margin-top: 1rem;
			border-bottom: 2px solid $btn_secondary_color;
			cursor: pointer;
			&:hover{
				text-decoration: none;
			}
		}
	}
	#restart_popup{
		color: $gaming_darkest;
		@media #{$black-on-white} {
			display: none;
		}
		@media #{$white-on-black} {
			display: none;
		}
	}
	#popup_close{
		@media #{$black-on-white} {
			display: none;
		}
		@media #{$white-on-black} {
			display: none;
		}
	}
}
