@import "../../../app.theme.scss";

ui-popover {
	position: absolute;
	width: 60rem;
	padding: 3rem 5rem;
	background: $gaming_lightest;
	z-index: 9;
	border-radius: 1rem;
	box-shadow: 0 0.8rem 1.5rem $screen_dark_30;
	right: 8rem;
	top: -13rem;
	@media #{$small-screen} {
		width: 35rem;
		top: -14rem;
	}
	@media #{$medium-screen} {
		width: 45rem;
		top: -13rem;
	}
	@media #{$mediaquery_X31} {
		width: 38rem;
	}
	@media #{$black-on-white} {
		background: $high-contrast-grey;
	}
	@media #{$white-on-black} {
		background: $high-contrast-grey;
	}
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-bottom: 3rem solid $gaming_lightest;
		border-left: 3rem solid transparent;
		bottom: -1rem;
		top: calc(50% - 1.5rem);
		right: -1.2rem;
		transform: rotate(-45deg);
		@media #{$black-on-white} {
			border-bottom: 3rem solid $high-contrast-grey;
			border-left: 3rem solid transparent;
		}
		@media #{$white-on-black} {
			border-bottom: 3rem solid $high-contrast-grey;
			border-left: 3rem solid transparent;
		}
	}
	.vtr-ui-popover {
		&.modal-body {
			padding: 0;
		}

		.content-body {
			min-height: 10rem;
		}
		fa-icon {
			font-size: 3rem;
			color: $main;
			display: block !important;
			@media #{$black-on-white} {
				color: $gaming_darkest;
			}
			@media #{$white-on-black} {
				color: $gaming_darkest;
			}
		}

		h1 {
			font-size: 2.5rem;
			font-weight: normal;
			color: $blue-dark;
		}

		p {
			font-size: 1.6rem;
			color: $light-grey;
			padding: 0.5rem 0;
		}

		.enable-button {
			background: $gradient_main;
			border-radius: 3rem;
			color: $light;
			font-size: 2rem;
			padding: 1rem 3rem;
			margin-top: 1rem;
			font-weight: $weight_bold;
			// text-transform: uppercase;
		}

		.cancel-link {
			height: 3.2rem;
			color: $main;
			font-size: 2rem;
			vertical-align: middle;
			padding: 0 0.5rem;
			font-weight: $weight_600;
			margin-top: 1.8rem;
			margin-left: 3rem;
			border-bottom: 2px solid $btn_secondary_color;
			cursor: pointer;
			&:hover{
				text-decoration: none;
			}
		}
	}
	#restart_popup{
		color: $gaming_darkest;
		@media #{$black-on-white} {
			display: none;
		}
		@media #{$white-on-black} {
			display: none;
		}
	}
	#popup_close{
		@media #{$black-on-white} {
			display: none;
		}
		@media #{$white-on-black} {
			display: none;
		}
	}
}
