<div class="figleaf-stored-accounts">
	<img class="figleaf-stored-accounts__img"
		 src="assets/images/privacy-tab/logo-leaf.png"
		 srcset="assets/images/privacy-tab/logo-leaf@2x.png 2x"
		 alt="figleaf logo">
	<div class="figleaf-stored-accounts__details-col">
		<div class="figleaf-stored-accounts__title">
			<p><strong>{{dashboardData?.totalAccounts}}</strong> accounts stored</p>
			<p>in Lenovo Privacy Essentials by FigLeaf</p>
		</div>

		<button class="figleaf-stored-accounts__btn"
				vtrSendAnalytics
				[metricsEvent]="'ItemClick'"
				[metricsItem]="'NonPrivatePasswordsSeeDetailsButton'"
				(click)="buttonClick()">See details</button>
	</div>
</div>
