@import "../../../app.theme";
.vtr-ui-lighting-keyboard-lnbx50{
    width: 100%;
    padding: 3%;
    background: #212b44;
    overflow: hidden;
}
// .keyboard-description{
//     height: 3rem;
//     line-height: 3rem;
//     color: $light;
//     font-size: 2rem;
//     margin-bottom: 3rem;;
// }
.keyboard-toggle{
    display: flex;
    color: $light;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    .toggle-box{
        display: flex;
        align-items: center;
        vtr-ui-toggle{
            ::ng-deep{
                .toggle-button{
                   margin-top: 0 !important;
                }
            }
        }
        p{
            margin-left: 1rem;
            line-height: 3rem;
            margin-bottom: 0 !important;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .keyboard-description{
        text-align: right;
        flex: 1;
        line-height: 3rem;
    }
}
.disabled-description{
    color: $light;
    font-size: 1.4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}
.keyboard-main{
    width: 100%;
    padding-bottom: 2px;
    overflow: hidden;
    position: relative;
    .emptyArea{
        width: 20%;
        height: 0;
        padding-bottom: 5.7%;
        position: absolute;
        right: 0;
        bottom: 2px;
    }
}
.keyboard-box{
    width: 400%;
    position: relative;
    .disabledBox{
        width: 25%;
        height: 0;
        padding-bottom: 9.57%;
        z-index: 9;
        border: 1px solid $light;
        border-radius: 0.4rem;
        position: absolute;
        top: 0;
        left: 0;
        .disabled-border{
            width: 99%;
            height: 99%;
            background: linear-gradient(
                to top right,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) calc(50% - 1.5px),
                rgba(255, 255, 255, 1) 50%,
                rgba(0, 0, 0, 0) calc(50% + 1.5px),
                rgba(0, 0, 0, 0) 100%
            ), linear-gradient(
                to bottom right,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) calc(50% - 1.5px),
                rgba(255, 255, 255, 1) 50%,
                rgba(0, 0, 0, 0) calc(50% + 1.5px),
                rgba(0, 0, 0, 0) 100%
            );
            position: absolute;
            top: 0.5%;
            left: 0.5%;
        }
    }
    .keyboard-area{
        width: 25%;
        float: left;
        cursor: pointer;
        
        // &:hover{
        //     opacity: 1;
        // }
        &#keyboard-area1{
            margin-left: -18.12%;
        }
        &.keyboard-area2{
            margin-left: -16.125%;
        }
        &.keyboard-area3{
            margin-left: -20.745%;
        }
        .keyboard-area-line{
            width: 100%;
            overflow: hidden;
            li{
                float: left;
                height: 0;
                position: relative;
                opacity: 0.8;
                &.opacity100{
                    opacity: 1;
                }
                &.opacity80{
                    opacity: 0.8;
                }
                &.opacity20{
                    opacity: 0.2;
                }
                span{
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    border-radius: 0.2rem;
                    &.disabled{
                        box-shadow: none!important;
                        border: 2px solid rgba(255,255,255,0.5)!important;
                    }
                }
            }
            &.area1Line0,
            &.area1Line2{
                margin-left: -2.5%;
            }
            &.area1Line1{
                margin-left: -1%;
            }
            &.area1Line4,
            &.area1Line5{
                margin-left: -3%;
            }
            &.area2Line0,
            &.area2Line3{
                margin-left: -8%;
            }
            &.area2Line1{
                margin-left: -9%;
            }
            &.area2Line2{
                margin-left: -10.5%;
            }
            &.area2Line4,
            &.area2Line5{
                margin-left: -5.5%;
            }
            &.area3Line3,
            &.area3Line5{
                margin-top: -5.7%;
            }
        }
    }
}