@import "../../../../../app.theme";

.vtr-connected-home-status {
	box-shadow: $drop_shadow;
	border-radius: $border_radius;
	background-color: $light;
	.title {
		display: inline-block;
		font-size: 2.5rem;
		font-weight: 400;
		margin-right: 2rem;
		color: $shade_blue;
	}

	.chsStatus {
		margin-top: 2rem;
		.line-height-2-5 {
			line-height: 2.5rem;
			height: 2.5rem;
		}
	}

	.card {
		border-radius: $border_radius;
		.no-gutters {
			height: 4.5rem;
			width: 100%;
			display: flex;
			.homesecurity-container-name,
			.homesecurity-container-enable span{
				display: inline-blockl;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.homesecurity-container-name{
				min-width: 20%
			}
			.homesecurity-container-enable{
				max-width: 50%;
				line-height: 0rem;
				span{
					width: 100%
				}
			}
		}

		.card-header {
			border-radius: $border_radius;
			padding: 1.6rem 2.5rem;
			background: $shade_extralight;
			border: 0rem;
		}

		.subHeading {
			display: flex;
			.loading {
				margin-right: 1rem;
			}
			width: 50%;
			justify-content: flex-start;
			.circle {
				background-color: $go;
				background-image: linear-gradient(313deg, $go_light 25%, $go 100%);
				height: 2.5rem;
				width: 2.7rem;
				border-radius: 100%;
				border: 0.1rem solid $go_dark;
				text-align: center;
				display: inline-block;
				margin-right: 1rem;
				flex-shrink: 0;

				fa-icon {
					font-size: 1.5rem;
					color: $light;
				}

				&.red {
					background-color: $stop;
					background-image: linear-gradient(315deg, $stop_light 25%, $stop 100%);
					border: 0.1rem solid $stop_dark;
				}
			}
			.line-height-2-5 {
				line-height: 2.5rem;
				height: 2.5rem;
			}

			h3 {
				font-weight: $weight_bold;
				text-transform: uppercase;
				margin-right: 2.5rem;
			}
		}
	}

	.button-container {
		display: flex;
		align-items: center;
		width: 50%;
		vtr-ui-button {
			max-width: 90%;
			margin-left: auto;
			margin-right: 0;
			display: inline-block;
			::ng-deep .button-box {
				margin-top: 0 !important;
				.button {
					width: 100%;
				}
			}
		}
	}
}
