@import "../../../styles/common-blocks";

.try-product {
	padding: 3rem 0;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	background-color: inherit;

	&__block {
		width: 48%;
		padding: 1.5rem 3rem 1.5rem 2rem;
		background-color: #FFFFFF;
		border-radius: 10px;
		border: 1px solid #EBEBEB;
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			height: 100%;
			width: 3px;
			left: 0;
			top: 0;
		}

		&--risk:before {
			background-color: #E74C3C;
		}

		&--fix:before {
			background-color: #2ECC71;
		}
	}

	&__block-title {
		@extend %text-common;
		font-weight: bold;
		color: #34495E;
	}

	&__block-description {
		@extend %text-common;
		color: #34495E;
	}



	//&__description {
	//	display: flex;
	//	flex-flow: column;
	//}
	//
	//&__title {
	//	@extend %text-common;
	//	font-weight: bold;
	//	text-transform: uppercase;
	//	letter-spacing: 0.89px;
	//	color: #34495E;
	//}
	//
	//&__text {
	//	@extend %text-common;
	//}
	//
	//&__group-button {
	//	display: flex;
	//	flex-flow: row;
	//	align-items: center;
	//	margin-top: 2rem;
	//}
	//
	//&__button {
	//	@extend %theme-btn;
	//	margin-right: 2rem;
	//}
	//
	//&__button-link {
	//	text-align: center;
	//
	//	a {
	//		@extend %button-link;
	//		@extend %button-link--to-right;
	//
	//		span {
	//			border-bottom: 1px solid;
	//		}
	//	}
	//}
}
