@import "../../../styles/common-blocks";

.try-product {
	padding: 3rem 0;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: flex-start;
	background-color: inherit;

	&__block {
		width: 48%;
		padding: 1.5rem 3rem 1.5rem 2rem;
		background-color: #FFFFFF;
		border-radius: 10px;
		border: 1px solid #EBEBEB;
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			height: 100%;
			width: 3px;
			left: 0;
			top: 0;
		}

		&--risk:before {
			background-color: #E74C3C;
		}

		&--fix:before {
			background-color: #2ECC71;
		}
	}

	&__block-title {
		@extend %text-common;
		text-transform: uppercase;
		font-weight: bold;
		color: #34495E;
	}

	&__block-description {
		@extend %text-common;
		color: #34495E;
	}
	&__group-button {
		display: flex;
		flex-flow: row;
		align-items: center;
		margin-top: 2rem;
	}

	&__button-link {
		text-align: center;
		cursor: pointer;

		a {
			@extend %button-link;
			@extend %button-link--to-right;
			padding-right: 0;
			position: relative;
			border-bottom: 1px solid;
			cursor: pointer;
		}

		&.offline-active {
			a {
				color: #D8D8D8;

				&:before {
					display: none;
				}
			}
		}

		&:not(:last-child) {
			margin-right: 4rem;
		}

		&--to-right {
			a {
				@extend %button-link--to-right;

				&:before {
					right: -15px;
				}
			}
		}

		&--download {
			a:before {
				position: absolute;
				transform: translateY(-50%);
				width: 1.4rem;
				height: 1.2rem;
				right: -15px;
				top: 60%;
				background-image: url("src/assets/icons/privacy-tab/icon-download.svg");
			}

			a:hover:before {
				background-image: url("/assets/icons/privacy-tab/icon-download-hover.svg");
			}

			a:active:before {
				background-image: url("/assets/icons/privacy-tab/icon-download-active.svg");
			}
		}
	}
}
