<div class="pitch">
	<div class="pitch__description">
		<p class="pitch__title">
			{{texts.title}}
		</p>
		<p class="pitch__text">
			{{texts.text}}
		</p>
		<div class="pitch__group-button">
			<button class="pitch__button" vtrOpenFigleafInstaller>
				Try FigLeaf
			</button>
			<a class="pitch__link" routerLink="./landing" (click)="clickMore.emit()">
				Learn more
			</a>
		</div>
	</div>
	<div class="pitch__image-wrapper">
		<img class="pitch__image"
			 src="/assets/images/privacy-tab/pitch-block/Img_pitch_artic.png"
			 srcset="/assets/images/privacy-tab/pitch-block/Img_pitch_artic@2x.png 2x"
			 alt="Try FigLeaf">
	</div>
</div>
