@import "../../../styles/common-blocks";

.pitch {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	border: 1px solid #ECF0F1;
	border-radius: 8px;
	background: linear-gradient(315deg, #FBFDFE 0%, #F3F7F9 100%);
	padding-right: 0;

	&__image-wrapper {
		width: 25%;
		display: flex;
		align-items: flex-end;
	}

	&__image {
		width: 100%;
	}

	&__description {
		width: 70%;
		padding: 2rem 0 4rem 3rem;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}

	&__title {
		color: #34495E;
		font-size: 1.6rem;
		font-weight: bold;
		line-height: 2.3rem;
		text-transform: uppercase;
	}

	&__text {
		color: #667481;
		font-size: 1.6rem;
		line-height: 2.3rem;
		margin: 0 1rem 3rem 0;

		&--bold {
			font-weight: bold;
			color: #34495E;
		}
	}

	&__group-button {
		display: flex;
		align-items: center;
	}

	&__button {
		@extend %theme-btn;
		margin: 0 4rem 0 0;
	}

	&__link {
		@extend %button-link;
		@extend %button-link--to-right;

		&::after {
			content: '';
			position: absolute;
			width: calc(100% - 2.5rem);
			height: 1px;
			background: #4A81FD;
			top: calc(100% + 1px);
			left: 0;
		}
	}
}
