@import '../../../app.theme.scss';

.vtr-modal-voice {

	.close-btn {
		position: absolute;
		right: -1.8rem;
		top: -1.8rem;
		width: 2.2rem;
		height: 2.2rem;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
.line {
	width: 100%;
	height: 1px;
	background-color: #f5f7f8;
	margin-bottom: 1rem;
	margin-top: 1.5rem;
}
	&.modal-body {
		padding: 0;
	}

	fa-icon {
		font-size: 3rem;
		color: $main;
	}

	h1 {
		font-size: 3rem;
		font-weight: normal;
		color: $main_dark;
		line-height: 29px;
		&.sub-heading{
			font-weight: $weight_bold;
		}
	}


	p {
		font-size: 1.6rem;
		color: $light-grey;
		padding: 0.5rem 0;
	}

	.close-button {
		background: $gradient_main;
		border-radius: 3rem;
		color: $light;
		font-size: $fontsize_xs;
		padding: 1.5rem 4.5rem;
		font-weight: 500;
		margin-top: 1rem;
		letter-spacing: 1px;
		line-height: 18px;
		font-weight: $weight_bold;
		text-transform: uppercase;
	}



	.number-list {
		margin-top: 1rem;
		list-style: none;
		padding: 0;

		.text-regular {
			// color: $shade_blue;

			padding: 1.4rem 0 0 1.5rem;
			font-size: 1.8rem;
			line-height: 1.2;
			color:#667481;;
		}
			.serial{
				font-size: 4rem;
				color: $main_dark;
				// width: 4.3rem;
				// height: 2.9rem;
				font-weight: $weight_regular;
				text-align: center;
				padding: 0;
				margin: 0 auto;
				//line-height: 1.8;
			}


	}
}
