<div class="video-widget" data-analyticsName="Home.VideoBlock">
	<div class="video-widget__inner"
		 vtrSendAnalytics
		 [metricsEvent]="'ItemClick'"
		 [metricsItem]="'ViewVideoButton'"
		 [ngClass]="{
		 	'video-widget--bottom': margin === 'bottom',
		 	'offline-image-overlay': !isOnline
		 }"
		 (click)="openVideo()">
		<img class="video-widget__main-image"
			 [src]="isOnline ? '/assets/images/privacy-tab/video-widget/video-widget.png' : '/assets/images/privacy-tab/video-widget/video-widget-offline.png'"
			 alt="Why Online Privacy Matters video">
	</div>
</div>
<vtr-common-popup [popUpId]="videoPopupId" size="big">
	<h3>Why Online Privacy Matters</h3>
	<ng-template>
		<vtr-video></vtr-video>
	</ng-template>
</vtr-common-popup>
