@import "../../../styles/common-blocks";
@import "../../../styles/offline-overlay";

.video-widget {
	@extend %common-block-wrapper;
	margin: $topIndent 0 9.6rem 0;
	letter-spacing: 0;
	padding: 0;
	display: flex;
	flex-flow: column;
	overflow: hidden;
	cursor: pointer;

	&__main-image {
		width: 100%;
		height: auto;
		cursor: pointer;
	}

	&__title {
		color: #444F78;
		font-size: 2.2rem;
		line-height: 3.4rem;
		padding: 0 2rem 2.6rem 2rem;
		cursor: pointer;
	}
}
