<div class="row">
	<div class="col vtr-col">
		<div class="mb-5">
			<div class="vtr-device-information mb-24 border-none">
				<div class="container-fluid">
					<div class="system-scan-complete">
						<vtr-ui-smart-performance-header *ngIf="smartPerformanceService.subscriptionState === SubscriptionState.Inactive"
							[image]="rating < 8 ? SPHeaderImageType.Issue : SPHeaderImageType.Well"
							[headerTitle]="'smartPerformance.scanCompletePage.foundIssues' | translate:{issueCount: issueCount}"
							[subTitle]="getScanSummarySubTitle()"
							headerTitleId="smart-performance-scan-summary-title"
							[bottomRadius]="true"
							[isOnline]="isOnline"
							subTitleId="smart-performance-scan-summary-desc"
							[contentWrap]="true">
							<vtr-ui-smart-performance-rating [leftAnimator]="leftAnimator"
								[rating]="rating"
								[hideStatus]="true"></vtr-ui-smart-performance-rating>
							<div class="d-flex align-items-center purchase-content">
								<vtr-ui-button (onClick)="openSubscribeModal()"
									class="mr-3"
									linkId="btn.smart-performance-sign-up-and-fix"
									metricsItem="btn.signUpAndFix"
									metricsEvent="ItemClick"
									metricsParent="Page.Support.SmartPerformance"
									[isDisabled]="!isOnline"
									[isFullWidth]="true"
									[label]="(smartPerformanceService.subscriptionState === SubscriptionState.Inactive? 'smartPerformance.signUpAndFix': 'smartPerformance.scanCompletePage.renewAndFix')| translate"></vtr-ui-button>
								<p id="smart-performance-scan-complete-purchase-tip"
									role="text"
									[innerHTML]="'smartPerformance.scanCompletePage.summaryPurchaseTip' | translate"></p>
							</div>
						</vtr-ui-smart-performance-header>

						<vtr-ui-smart-performance-header *ngIf="smartPerformanceService.subscriptionState === SubscriptionState.Expired "
							[image]="rating < 8 ? SPHeaderImageType.Issue : SPHeaderImageType.Well"
							[headerTitle]="getExpiredHeaderTitle()"
							[subTitle]="getExpiredSubTitle()"
							headerTitleId="smart-performance-scan-summary-title"
							subTitleId="smart-performance-scan-summary-desc"
							[bottomRadius]="true"
							[isOnline]="isOnline"
							[canShowOfflineText]="smartPerformanceService.scanningState === ScanningState.NotStart"
							[contentWrap]="true">
							<vtr-ui-smart-performance-rating [leftAnimator]="smartPerformanceService.scanningState === ScanningState.Completed ? leftAnimator : '100%'"
								[rating]="rating"
								[hidePointer]="smartPerformanceService.scanningState !== ScanningState.Completed"
								[hideStatus]="true">
							</vtr-ui-smart-performance-rating>
							<div class="d-flex justify-content-start flex-wrap">
								<vtr-ui-button (onClick)="ScanNowSummary()"
									*ngIf="smartPerformanceService.scanningState === ScanningState.NotStart
										||smartPerformanceService.scanningState === ScanningState.Canceled "
									linkId="btn.smart-performance-scan"
									metricsItem="btn.scan&fix"
									metricsEvent="FeatureClick"
									metricsParent="Page.Support.SmartPerformance"
									[isDisabled]="isLoading || !isOnline"
									[isFullWidth]="true"
									[label]="'smartPerformance.scanNow' | translate">
								</vtr-ui-button>
								<vtr-ui-button (onClick)="openSubscribeModal()"
									*ngIf="smartPerformanceService.scanningState === ScanningState.Completed"
									class="mr-3"
									linkId="btn.smart-performance-renew-and-fix"
									metricsItem="btn.renewAndFix"
									metricsEvent="ItemClick"
									metricsParent="Page.Support.SmartPerformance"
									[isDisabled]="!isOnline"
									[isFullWidth]="true"
									[label]="'smartPerformance.scanCompletePage.renewAndFix'| translate"></vtr-ui-button>
								<div class="desc-block">
									<div class="desc desc1 col-auto"
										*ngIf="historyScanResultsDateTime && historyScanResultsDateTime.length > 0">
										<b id="smart-performance-scan-summary-mostRecent"
											role="block"
											title="{{'smartPerformance.subscriberScanHomePage.mostRecent' |translate }}">{{'smartPerformance.subscriberScanHomePage.mostRecent' |translate }}</b><br>
										{{mostRecentScan}}
									</div>
									<div class="desc desc2 col-auto-1"
										*ngIf="smartPerformanceService.enableNextText">
										<b id="smart-performance-scan-summary-nextScheduled"
											role="block"
											title="{{'smartPerformance.subscriberScanHomePage.nextScheduled' |translate }}">{{'smartPerformance.subscriberScanHomePage.nextScheduled' |translate }}</b><br>
										{{smartPerformanceService.nextScheduleScan}}
									</div>
								</div>
							</div>
						</vtr-ui-smart-performance-header>

						<vtr-ui-smart-performance-header *ngIf="smartPerformanceService.subscriptionState === SubscriptionState.Active "
							[image]="rating < 8 ? SPHeaderImageType.Issue : SPHeaderImageType.Well"
							[headerTitle]="smartPerformanceService.scanningState === ScanningState.Canceled
									?('smartPerformance.subscriberScanHomePage.titleScanCanceled' | translate)
										:('smartPerformance.subscriberScanHomePage.title'| translate)+' '+machineFamilyName "
							[subTitle]="isScanningFinished()
									? ('smartPerformance.subscriberScanHomePage.serialNumber' |translate) + ' ' +  systemSerialNumber
										: ('smartPerformance.subscriberScanHomePage.description' |translate)"
							headerTitleId="smart-performance-scan-summary-title"
							subTitleId="smart-performance-scan-summary-desc"
							[bottomRadius]="true"
							[isOnline]="isOnline"
							[canShowOfflineText]="smartPerformanceService.scanningState === ScanningState.NotStart"
							[contentWrap]="true">
							<vtr-ui-smart-performance-rating [leftAnimator]="isScanningFinished() ? leftAnimator : '100%'"
								[rating]="rating"
								[hidePointer]="!isScanningFinished()"
								[hideStatus]="true">
							</vtr-ui-smart-performance-rating>
							<div class="d-flex justify-content-start flex-wrap">
								<vtr-ui-button (onClick)="ScanNowSummary()"
									*ngIf="smartPerformanceService.scanningState === ScanningState.NotStart && smartPerformanceService.subscriptionState === SubscriptionState.Active"
									linkId="btn.smart-performance-scan-and-fix"
									metricsItem="btn.scan&fix"
									metricsEvent="FeatureClick"
									metricsParent="Page.Support.SmartPerformance"
									[isDisabled]="isLoading || !isOnline"
									[isFullWidth]="true"
									[label]="'smartPerformance.subscriberScanHomePage.scanNow' | translate">
								</vtr-ui-button>
								<vtr-ui-button (onClick)="BackToSummary()"
									*ngIf="isScanningFinished()"
									linkId="btn.smart-performance-scan-and-fix"
									metricsItem="btn.backtohome"
									metricsEvent="FeatureClick"
									metricsParent="Page.Support.SmartPerformance"
									[isFullWidth]="true"
									[label]="'smartPerformance.subscriberScanHomePage.backToHome' | translate">
								</vtr-ui-button>
								<div class="desc-block">
									<div class="desc desc1 col-auto"
										*ngIf="historyScanResultsDateTime && historyScanResultsDateTime.length > 0">
										<b id="smart-performance-scan-summary-mostRecent"
											role="block"
											title="{{'smartPerformance.subscriberScanHomePage.mostRecent' |translate }}">{{'smartPerformance.subscriberScanHomePage.mostRecent' |translate }}</b><br>
										{{mostRecentScan}}
									</div>
									<div class="desc desc2 col-auto-1"
										*ngIf="smartPerformanceService.enableNextText">
										<b id="smart-performance-scan-summary-nextScheduled"
											role="block"
											title="{{'smartPerformance.subscriberScanHomePage.nextScheduled' |translate }}">{{'smartPerformance.subscriberScanHomePage.nextScheduled' |translate }}</b><br>
										{{smartPerformanceService.nextScheduleScan}}
									</div>
								</div>
							</div>
						</vtr-ui-smart-performance-header>
					</div>
				</div>
			</div>
			<div class="vtr-device-information mb-24"
				*ngIf="isScanningFinished()">
				<div class="vtr-ui-smart-performance-scan-summary">
					<div class="vtr-scan-information">
						<div class="scan-summary-block">
							<div class="row">
								<div class="title-block w-100">
									<h3 *ngIf="smartPerformanceService.subscriptionState === SubscriptionState.Active"
										id="smart-performance-scan-summary-subTitle">
										{{'smartPerformance.subscriberScanHomePage.successTitle' |translate}}
									</h3>
									<p *ngIf="smartPerformanceService.subscriptionState === SubscriptionState.Active"
										class="mb-20"
										id="smart-performance-scan-summary-description"
										role="text"
										[innerHTML]="'smartPerformance.subscriberScanHomePage.successDescription' |translate:{issueCount: issueCount }">
									</p>
								</div>
							</div>
							<vtr-subpage-scan-results-accordion [resultItem]="scanResult">
							</vtr-subpage-scan-results-accordion>
						</div>
					</div>
				</div>
			</div>
			<div class="vtr-device-information mb-24"
				*ngIf="smartPerformanceService.subscriptionState !== SubscriptionState.Inactive">
				<div class="vtr-ui-smart-performance-scan-summary">
					<div class="vtr-scan-information">
						<div class="scan-summary-block">
							<div class="row px-0">
								<div class="navbar bkg-transparent justify-content-between w-100">

									<div class="title-block">
										<h3 id="smart-performance-scan-summary-subscribed-title">
											{{'smartPerformance.subscriberScanHomePage.scanSummary.title' |translate }}</h3>
										<p id="smart-performance-scan-summary-subscribed-desc"
											class="mb-0"
											role="text">
											{{'smartPerformance.subscriberScanHomePage.scanSummary.description' |translate }}
										</p>
									</div>
									<div class="summary-period">
										<ul class="list-group list-group-horizontal">
											<li class="list-group-item"
												tabindex="0"
												id="smart-performance-scan-summary-{{item.itemName}}"
												*ngFor="let item of menuItems;let ind=index"
												(click)="scanSummaryTime(ind)"
												(keydown.enter)="scanSummaryTime(ind)"
												[ngClass]="{'selected-list-item': tabIndex === ind}"
												#menuTab>
												{{item.itemName | translate}}
											</li>
											<div class="dropdown">
												<li id="dropdownMenu1"
													class="list-group-item cl list-selected-item">
													<fa-icon class="calender-icon"
														[icon]="['fal', 'calendar-alt']">
													</fa-icon>
													<span id="smart-performance-scan-summary-annualYear"
														role="text"
														*ngIf="!dropDownToggle || tabIndex === 0">{{annualYear}}</span>
													<span id="smart-performance-scan-summary-customeDate"
														role="text"
														*ngIf="tabIndex === 1">{{customDate}}</span>
													<fa-icon class="drop-down-icon"
														*ngIf="dropDownToggle && tabIndex === 1"
														tabindex="0"
														id="smart-performance-scan-summary-open-dropDown"
														role="button"
														(click)="openDropDown()"
														(keydown.enter)="openDropDown()"
														[icon]="!isDropDownOpen ? ['fas', 'chevron-down'] : ['fas', 'chevron-up']">
													</fa-icon>
												</li>
											</div>
										</ul>

										<div *ngIf="isDropDownOpen && tabIndex === 1"
											tabindex="-1"
											class="calender-dropDown">
											<div *ngIf="tabIndex === 1">
												<div class="row mt-1">
													<div class="col">
														<div class="custom-from-date py-3 px-3 mb-2"
															[ngClass]="{'selected-custom-date':isFromDate}">
															<div class="w-100"
																id="smart-performance-scan-summary-txtFrom"
																role="text">
																{{'smartPerformance.subscriberScanHomePage.scanSummary.txtFrom' |translate }}
															</div>
															<div class="w-100"><input type='text'
																	id="smart-performance-scan-summary-dateFrom-input"
																	class="date-input"
																	[ngModel]="displayFromDate"
																	(click)="selectFromDate()"
																	(keydown.enter)="selectFromDate()"
																	readonly /></div>
														</div>
														<div class="custom-to-date py-3 px-3"
															[ngClass]="{'selected-custom-date':!isFromDate}">
															<div class="w-100"
																id="smart-performance-scan-summary-txtTo"
																role="text">
																{{'smartPerformance.subscriberScanHomePage.scanSummary.txtTo' |translate }}
															</div>
															<div class="w-100"><input type='text'
																	id="smart-performance-scan-summary-dateTo-input"
																	class="date-input"
																	[ngModel]="displayToDate"
																	(click)="selectToDate()"
																	(keydown.enter)="selectToDate()"
																	readonly /></div>

														</div>
														<div class="row d-flex justify-content-center">
															<vtr-ui-button [isFullWidth]="false"
																[isDisabled]="!displayFromDate || !displayToDate"
																linkId="smart-performance-scan-summary-customDate-btn"
																(onClick)="customDateScanSummary()"
																[label]="'smartPerformance.subscriberScanHomePage.scanSummary.txtGo' |translate">
															</vtr-ui-button>
															<vtr-ui-button [isFullWidth]="false"
																(onClick)="resetCustomDateScanSummary()"
																linkId="smart-performance-scan-summary-resetCustomDate-btn"
																[label]="'smartPerformance.subscriberScanHomePage.scanSummary.txtClr' |translate">
															</vtr-ui-button>
														</div>
													</div>
													<div class="col date-picker">
														<ngb-datepicker *ngIf="isFromDate"
															id="smart-performance-scan-summary-fromDate-picker"
															[(ngModel)]="selectedfromDate"
															[displayMonths]="displayMonths"
															[navigation]="navigation"
															[maxDate]="(maxDate && selectedTodate)"
															[minDate]="minDate"
															(select)="onDateSelected()">
														</ngb-datepicker>
														<ngb-datepicker *ngIf="!isFromDate"
															id="smart-performance-scan-summary-toDate-picker"
															[(ngModel)]="selectedTodate"
															[displayMonths]="displayMonths"
															[navigation]="navigation"
															[maxDate]="maxDate"
															[minDate]="(minDate && selectedfromDate)"
															(select)="onDateSelected()">
														</ngb-datepicker>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div *ngIf="!isLoadingCanceledSummary && !isLoading && (!historyScanResultsDateTime || (historyScanResultsDateTime && historyScanResultsDateTime.length === 0))"
								class="row pt-4 d-flex justify-content-between px-0 position-relative">
								<h4 class="py-5"
									id="smart-performance-scan-summary-noScanResults">{{'smartPerformance.noScanResults' |translate }}</h4>
							</div>
							<div *ngIf="isLoadingCanceledSummary || isLoading || (historyScanResultsDateTime && historyScanResultsDateTime.length > 0)"
								class="row pt-5 d-flex justify-content-between px-0 position-relative">
								<div *ngIf="isLoading">
									<div class="container"
										[style.height.px]="40">
										<div class="loader center-block">
											<div class="spinner-border text-secondary progress-spinner"
												role="status">
											</div>
										</div>
									</div>
								</div>
								<div *ngIf="!isLoading && !isLoadingCanceledSummary"
									class="tune">
									<div class="d-flex">
										<div class="w-100">
											<div class="box-title d-flex align-items-center justify-content-between">
												<h5 id="smart-performance-scan-summary-tunePC-summaryTitle"
													title="{{'smartPerformance.tunePCPerformance.summaryTitle' |translate }}">
													{{'smartPerformance.tunePCPerformance.summaryTitle' |translate }}
												</h5>
												<div class="icomoon icomoon-tune-pc"></div>
											</div>
											<div class="value justify-content-center"
												id="smart-performance-scan-summary-tunePC-fixes-text"
												role="text"
												title="{{historyRes.tuneCount || 0}} {{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}">
												<div class="value-box"
													id="smart-performance-scan-summary-tuneCount"
													role="text">{{historyRes.tuneCount || 0}}</div>
												<span id="smart-performance-scan-summary-tunePC-fixes"
													role="text">{{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}</span>
											</div>
											<p class="w-100 text-center summary-caption"
												id="smart-performance-scan-summary-tunePC-summaryCaption"
												role="text">
												{{formatMemorySize(historyRes.tuneSize)}} <span class="mr-1">{{sizeExtension}}</span>
												{{'smartPerformance.subscriberScanHomePage.scanSummary.summaryCaption' |translate }}
												<fa-icon class="question"
													tabindex="0"
													triggers="manual"
													placement="auto"
													vtrMetrics
													metricsItem="btn.showTunePCTooltip"
													metricsEvent="FeatureClick"
													metricsParent="Page.Support.SmartPerformance"
													id="smart-performance-scan-summary-tunePC-tooltip"
													attr.aria-label=""
													role="tooltip"
													[matTooltip]="'smartPerformance.scanCompletePage.tunePCTooltip' | translate"
													#tooltip="matTooltip"
													[icon]="['far', 'question-circle']"
													matTooltipClass="vtr-tooltip"
													(click)="toggleTooltip(tooltip)"
													(keydown.enter)="toggleTooltip(tooltip)">
												</fa-icon>
											</p>
										</div>

									</div>
								</div>
								<div *ngIf="!isLoading && !isLoadingCanceledSummary"
									class="boost">
									<div class="d-flex">
										<div class="w-100">
											<div class="box-title d-flex align-items-center justify-content-between">
												<h5 id="smart-performance-scan-summary-boost-title"
													title="{{'smartPerformance.boostInternetPerformance.summaryTitle' |translate }}">
													{{'smartPerformance.boostInternetPerformance.summaryTitle' |translate }}
												</h5>
												<div class="icomoon icomoon-boost-internet"></div>
											</div>
											<div class="value justify-content-center"
												id="smart-performance-scan-summary-boost-fixes-text"
												role="text"
												title="{{historyRes.boostCount || 0}} {{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}">
												<div class="value-box"
													id="smart-performance-scan-summary-boost-count"
													role="text">{{historyRes.boostCount || 0}}</div>
												<span id="smart-performance-scan-summary-boost-fixes"
													role="text">{{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}</span>
											</div>
											<p class="w-100 text-center summary-caption"
												id="smart-performance-scan-summary-boost-summaryCaption"
												role="text">
												{{formatMemorySize(historyRes.boostSize)}} <span class="mr-1">{{sizeExtension}}</span>
												{{'smartPerformance.subscriberScanHomePage.scanSummary.summaryCaption' |translate }}
												<fa-icon class="question"
													tabindex="0"
													triggers="manual"
													placement="auto"
													vtrMetrics
													metricsItem="btn.showBoostTooltip"
													metricsEvent="FeatureClick"
													metricsParent="Page.Support.SmartPerformance"
													id="smart-performance-scan-summary-boost-tooltip"
													attr.aria-label=""
													role="tooltip"
													[matTooltip]="'smartPerformance.scanCompletePage.boostTooltip' | translate"
													#tooltip="matTooltip"
													[icon]="['far', 'question-circle']"
													matTooltipClass="vtr-tooltip"
													(click)="toggleTooltip(tooltip)"
													(keydown.enter)="toggleTooltip(tooltip)">
												</fa-icon>
											</p>
										</div>

									</div>
								</div>
								<div *ngIf="!isLoading && !isLoadingCanceledSummary"
									class="secure">
									<div class="d-flex">
										<div class="w-100">
											<div class="box-title d-flex align-items-center justify-content-between">
												<h5 id="smart-performance-scan-summary-malware-title"
													title="{{'smartPerformance.malwareSecurity.summaryTitle' |translate }}">
													{{'smartPerformance.malwareSecurity.summaryTitle' |translate }}
												</h5>
												<span class="icomoon icomoon-malware"></span>
											</div>

											<div class="value justify-content-center"
												id="smart-performance-scan-summary-malware-fixes-text"
												role="text"
												title="{{historyRes.secure || 0}} {{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}">
												<div class="value-box"
													id="smart-performance-scan-summary-secure"
													role="text">{{historyRes.secure || 0}}</div>
												<span id="smart-performance-scan-summary-malware-fixes"
													role="text">{{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}</span>
											</div>
											<p class="w-100 text-center summary-caption"
												id="smart-performance-scan-summary-malware-summaryCaption"
												role="text">
												<span class="mr-1"> </span>
												<fa-icon class="question"
													tabindex="0"
													triggers="manual"
													placement="auto"
													vtrMetrics
													metricsItem="btn.showMalwareTooltip"
													metricsEvent="FeatureClick"
													metricsParent="Page.Support.SmartPerformance"
													id="smart-performance-scan-summary-malware-tooltip"
													attr.aria-label=""
													role="tooltip"
													[matTooltip]="'smartPerformance.scanCompletePage.malwareTooltip' | translate"
													#tooltip="matTooltip"
													[icon]="['far', 'question-circle']"
													matTooltipClass="vtr-tooltip"
													(click)="tooltip.toggle()"
													(keydown.enter)="tooltip.toggle()">
												</fa-icon>
											</p>
											<!-- <p>{{'smartPerformance.subscriberScanHomePage.scanSummary.secureSummary' |translate }}</p> -->
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="vtr-device-information mb-24"
				*ngIf="(smartPerformanceService.subscriptionState !== SubscriptionState.Inactive) && !showResultStatus.show && historyScanResultsDateTime && historyScanResultsDateTime.length > 0">
				<div class="vtr-ui-smart-performance-scan-summary">
					<div class="vtr-scan-information">
						<div class="scan-summary-block">
							<div class="row px-0">
								<div class="title-block w-100">
									<h3 id="smart-performance-scan-summary-lastScanResults-title">
										{{'smartPerformance.subscriberScanHomePage.lastScanResults.title' |translate }}
									</h3>
								</div>
							</div>
							<div class="row px-0">
								<div class="col">
									<div class="scan-list-container">
										<div class="row">
											<div class="col">
												<ul class="scan-list">
													<li class="list-item"
														*ngFor="let item of historyScanResultsDateTime;let ind=index"
														tabindex="0"
														id="smart-performance-scan-summary-scan-result-{{ind + 1}}"
														role="button"
														vtrMetrics
														metricsItem="btn.smartPerformanceScanResult-{{ind + 1}}"
														metricsEvent="FeatureClick"
														metricsParent="Page.Support.SmartPerformance"
														(keypress)="onKeyPress($event)"
														(click)="seeScanResultDetails(item, ind)">
														<div class="container-fluid">
															<div class="row no-gutters align-items-center">
																<div class="col-7 scan-run-time">
																	<b>{{item.scanRunDate}}</b> -
																	<span>{{item.scanRunTime | uppercase}}</span>
																	<span class="ml-1"
																		id="smart-performance-scan-summary-manual-{{ind + 1}}"
																		role="text"
																		*ngIf="item.type.toUpperCase() == 'MS'">({{'smartPerformance.manual' |translate }})</span>
																	<span class="ml-1"
																		id="smart-performance-scan-summary-auto-{{ind + 1}}"
																		role="text"
																		*ngIf="item.type.toUpperCase() == 'SS'">({{'smartPerformance.auto' |translate }})</span>
																</div>
																<div class="col-5 fixes text-right"
																	id="smart-performance-scan-summary-fixes-{{ind + 1}}"
																	role="text"
																	title="{{item.fixcount === 0 ? item.fixcount : (item.fixcount | number)}} {{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' | translate}}">
																	<b>{{item.fixcount === 0 ? item.fixcount : (item.fixcount | number)}}</b>
																	{{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' | translate}}
																	<fa-icon class="pl-2 pr-3"
																		[icon]="['fal', 'chevron-right']"></fa-icon>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vtr-device-information mb-24"
				*ngIf="(smartPerformanceService.subscriptionState !== SubscriptionState.Inactive) && showResultStatus.show">
				<div class="vtr-ui-smart-performance-scan-summary">
					<div class="vtr-scan-information">
						<div class="scan-summary-block">
							<div class="d-flex px-0">
								<div class="title-block">
									<h3 id="smart-performance-scan-summary-scanResults-title"
										class="text-capitalize"
										*ngIf="showResultStatus.isLastFix">{{'smartPerformance.lastFix' |translate }}</h3>
									<h3 id="smart-performance-scan-summary-scanResults-title"
										class="text-capitalize"
										*ngIf="!showResultStatus.isLastFix">{{'smartPerformance.fixResult' |translate }}</h3>
									<p class="mb-20">
										<span>{{showResultStatus.time}}</span>
										<span class="ml-1"
											id="smart-performance-scan-summary-manual"
											role="text"
											*ngIf="showResultStatus.itemType == 'MS'">({{'smartPerformance.manual' |translate }})</span>
										<span class="ml-1"
											id="smart-performance-scan-summary-auto"
											role="text"
											*ngIf="showResultStatus.itemType == 'SS'">({{'smartPerformance.auto' |translate }})</span>
									</p>
								</div>
								<a class="ml-auto pt-2 d-flex align-items-center check-previous-results-content"
									id="smart-performance-check-previous-results"
									role="link"
									vtrMetrics
									metricsItem="btn.smartPerformanceCheckPreviousResults"
									metricsEvent="FeatureClick"
									metricsParent="Page.Support.SmartPerformance"
									(click)="checkPreviousResults()">
									<span href="javascript:void(0)"
										class="check-previous-results mr-3">{{'smartPerformance.checkPreviousResults' |translate }}</span>
									<fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
								</a>
							</div>
							<div class="summary-block w-100">
								<vtr-subpage-scan-results-accordion [resultItem]="showResultItem"
									[resultStatus]="showResultStatus">
								</vtr-subpage-scan-results-accordion>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
