@import '../../../../../app.theme.scss';

.light-dashline {
	border-top: 1px solid $screen_light_15;
}

vtr-subpage-smart-performance-scan-summary {
	.vtr-page-header {
		display: none;
	}
}

.vtr-ui-smart-performance-scan-summary {
	.vtr-scan-information {

		.scan-summary-block {
			padding: $padding_content;

			.bkg-transparent {
				background: transparent !important;
				align-items: flex-start;
			}

			.title-block {
				width: 45%;

				@media #{$breakpoint_xl} {
					width: 100%;
				}

				@media #{$breakpoint_lg} {
					width: 45%;
				}

				@media #{$breakpoint_md} {
					width: 100%;
				}

				@media #{$breakpoint_sm} {
					width: 100%;
				}

				h3 {
					font-size: 2.4rem;
					font-weight: $weight_600;
					color: #303D49;
				}

				p {
					font-size: 1.4rem;
					color: $shade;
				}
			}

			.full-width {
				width: 100%;
			}

			.summary-period {
				//width: 62%;
				width: auto;
				position: relative;

				@media #{$breakpoint_xl} {
					width: 100%;
					display: flex;
					flex-direction: row;
				}

				@media #{$breakpoint_lg} {
					width: 55%;
					display: flex;
					flex-direction: row-reverse;
				}

				@media #{$breakpoint_md} {
					width: 100%;
					display: flex;
					flex-direction: row;
				}

				@media #{$breakpoint_sm} {
					width: 100%;
					display: flex;
					flex-direction: row;
				}

				.list-group {
					background: $grey_lighter;
					border-radius: 0.5rem;
					max-width: 100%;
					border: 0.1rem solid $note_border;

					.list-group-item {
						border-radius: 0.5rem;
						border: none;
						background: transparent;
						color: $grey_darker;
						font-size: 1.2rem;
						font-weight: $weight_bold;
						padding: 0.6rem;
						margin: 0.45rem;
						cursor: pointer;

						&:focus {
							@include outline-blue;
						}

						@media #{$breakpoint_sm} {
							padding: 0.3rem;
						}

						.calender-icon {
							color: $go_dark;
						}

						.drop-down-icon {
							margin-left: 1rem;
							cursor: pointer;

							&:focus {
								@include outline-blue;
							}
						}

						&:first-child {
							border-top-left-radius: 0.5rem !important;
							border-top-right-radius: 0.5rem !important;
						}

						&:last-child {
							border-radius: 0 !important;
							border-left: 0.1rem solid $light;
						}

						fa-icon {
							padding-right: 0.5rem;
						}

						.list-item {
							cursor: pointer;
						}
					}

					.list-selected-item {
						width: 21rem;
						cursor: default;

						@media #{$breakpoint_lg} {
							width: 20rem;
						}

						@media #{$breakpoint_md} {
							width: 21rem;
						}

						@media #{$breakpoint_sm} {
							width: auto;
						}
					}

					.selected-list-item {
						background-color: #fff;
					}

					.list-group-horizontal:last-child .list-group-item {
						border-radius: 0;
					}
				}

				.dropdownmenu {
					width: 25%;
					background: $light;
					box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
					border-radius: 0.9rem;
					padding: 1rem;
					position: absolute;
					left: 15rem;
					font-size: 1.2rem;

					a {
						font-size: 1.4rem;
						cursor: pointer;

						&:active {
							color: $go_dark;
						}
					}

					.link-active {
						color: $go_dark;
						font-weight: $weight_bold;
					}
				}

				.calender-drop {
					width: 100%;
					background: $light;
					box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
					border-radius: 0.9rem;
					padding: 1rem;
					z-index: 9999;
				}

				.calender-dropDown {
					position: absolute;
					top: 4rem;
					right: 0;
					width: 100%;
					min-width: 44rem;
					max-width: 48rem;
					background: $light;
					box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
					border-radius: 0.9rem;
					padding: 1rem;
					z-index: 1;
					font-size: 1.2rem;

					@media #{$breakpoint_xl} {
						right: auto;
					}

					@media #{$breakpoint_md} {
						right: 0;
					}

					@media #{$breakpoint_sm} {
						right: auto;
					}

					.date-input {
						width: 100%;
					}

					.selected-custom-date {
						background-color: #F5F7F8;
					}

					.custom-to-date,
					.custom-from-date {
						.col-1 {
							white-space: nowrap;
						}
					}

					.date-picker {
						background-color: #F5F7F8;
					}

					.custom-go-btn {
						background: $gradient_main;
						border: none;
						color: $light;
						font-size: $body;
						text-align: center;
						display: inline-block;
						cursor: pointer;
						padding: 0.4rem 2.5rem;
						margin: 0 0.2rem;
					}

					::ng-deep .vtr-ui-button {
						.button-box {
							.button {
								min-height: 3.2rem;
								min-width: 1rem;
								font-weight: 500;
								padding: 0 1.2rem;
							}
						}
					}
				}
			}

			.tune,
			.boost,
			.secure {
				background: #F5F7F8;
				height: auto;
				border-radius: 0.5rem;
				padding: 1.7rem 2.5rem;
				color: #303D49;
				width: calc(33.33% - 1.8rem);

				@media #{$breakpoint_xl} {
					width: calc(33.33% - 1rem);
					padding: 1.2rem;
				}

				@media #{$breakpoint_lg} {
					width: calc(33.33% - 1rem);
					padding: 1.5rem 2rem;
				}

				@media #{$breakpoint_md} {
					padding: 1rem;
					width: calc(33.33% - 1rem);
				}

				@media #{$breakpoint_sm} {
					padding: 1rem;
					width: calc(33.33% - 0.5rem);
				}

				h5 {
					font-size: $fontsize_md;
					font-weight: $weight_bold;
					margin-bottom: 0;
					display: -webkit-box;
					overflow: hidden;
					white-space: normal;
					text-overflow: ellipsis;
					word-wrap: break-word;
					-webkit-line-clamp: 2;
					/* autoprefixer: off */
					-webkit-box-orient: vertical;

					@media #{$breakpoint_sm} {
						font-size: $fontsize_xs;
						line-height: 1.4;
					}
				}

				.value {
					font-size: 5rem;
					font-weight: $weight_bold;
					width: 95%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					margin: auto;
					text-align: center;
					display: block !important;
					padding-top: 1rem;

					@media #{$breakpoint_xl} {
						font-size: 3.2rem;
					}

					@media #{$breakpoint_md} {
						margin-top: 1rem;
					}

					@media #{$breakpoint_sm} {
						font-size: 2.5rem;
						margin-top: 1rem;
					}

					span {
						font-size: 1.6rem;
						padding-top: 3.5rem;

						@media #{$breakpoint_xl} {
							padding-top: 1.8rem;
						}

						@media #{$breakpoint_md} {
							padding-top: 1.5rem;
						}

						@media #{$breakpoint_sm} {
							padding-top: 1rem;
						}
					}
				}

				.value-box {
					height: 2.8rem;
				}

				.summary-caption {
					font-size: 1.5rem;
					font-weight: $weight_regular;
					color: $main_shade;
					width: 99.9%;
					margin-bottom: 0;
					position: relative;
					padding: 0 3rem;

					@media #{$breakpoint_sm} {
						font-size: 1.1rem;
						line-height: 1.4rem;
					}

					fa-icon {
						cursor: pointer;
						position: absolute;
						right: 0;
						top: 0;
						width: 4rem;
						font-size: 1.6rem;
						text-align: center;
						color: $grey_dark;
						&:hover {
							color: $menu_hover;
						}
					}
				}

				.icomoon,
				.icon {
					color: $main;
					font-size: 4rem;
					line-height: 1;
					margin-left: 0.5rem;

					@media #{$breakpoint_xl} {
						font-size: 3.5rem;
					}

					@media #{$breakpoint_md} {
						font-size: 2.6rem;
					}

					@media #{$breakpoint_sm} {
						font-size: 2.4rem;
					}
				}
			}

			.scan-list-container {
				margin-top: 1rem;

				.scan-list {
					list-style-type: none;
					padding: 0;
					border-radius: $border_radius;
					background: #F5F7F8;
					overflow: hidden;

					.list-item {
						padding: 1.5rem 0;
						border-bottom: 0.1rem solid $shade_lighter;
						color: $main_darker;
						font-size: 1.4rem;
						cursor: pointer;

						* {
							cursor: pointer;
						}

						&:hover {
							background: #f7f9fa;
						}

						.col-2,
						.col-1 {
							text-align: center;
						}

						&:last-child {
							border-bottom: none;
						}

						.icon-bkg {
							color: $light;
						}

						.scan-run-time {
							span {
								font-family: $font_family_semilight;
							}
						}

						.scan-items {
							font-size: 1.2rem;

							.icon {
								font-size: 1.6rem;
								color: $main;
								padding-right: 1rem;
							}

							.text {
								overflow: hidden;
								text-overflow: ellipsis;
								max-width: 100%;
								white-space: nowrap;
							}
						}

						.scan-item-value {
							font-size: 1.2rem;
							font-weight: $weight_bold;
						}

						.scan-status {
							padding-right: 0;

							fa-icon {
								padding-left: 0.3rem;
								color: $go_dark;
								font-size: 0.5rem;
								vertical-align: middle;

								&.red-icon {
									color: $stop;
								}
							}
						}

						.fixes {
							text-overflow: ellipsis;
							overflow-x: hidden;

							@media #{$breakpoint_sm} {
								max-width: 9rem;
								display: inline-block;
								padding: 0;
								padding-left: 1.5rem;
							}
						}

						.icon-check-box {
							justify-content: center;
							text-align: center;
							text-overflow: ellipsis;
							overflow-x: hidden;
						}
					}
				}
			}
		}
	}
}

.vtr-device-information {
	box-shadow: $drop_shadow;
	border-radius: 0.8rem;
	background: $light;

	.pc-info-card {
		@media #{$white-on-black} {
			box-shadow: none;
			@include white-border;
			border-bottom: none;
			background: none;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		@media #{$black-on-white} {
			box-shadow: none;
			@include black-border;
			border-bottom: none;
			background: none;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		&.card-small {
			margin: 2rem auto 0rem auto;

			.heading {
				.icon {
					font-size: 4rem;
					margin-right: 1.5rem;
					color: $main_shade;
				}
			}
		}

		.heading {
			display: flex;
			align-items: center;

			.icon {
				font-size: 3.2rem;
				margin-right: 1.5rem;
				color: $main_gstart;

				@media #{$breakpoint_sm} {
					font-size: 3rem;
					height: 3rem;
					width: 3rem;
				}
			}

			h2 {
				font-size: 2.5rem;
				padding: 0;
				font-weight: $weight_medium;
				color: $main_darkest;
				text-transform: uppercase;

				@media #{$breakpoint_sm} {
					font-size: $fontsize_sm;
				}
			}

			h3 {
				font-size: 2rem;
				padding: 0;
				font-weight: $weight_medium;
				color: $main_shade;
				text-transform: uppercase;
			}
		}
	}
}

.system-scan-complete {

	.performance-slider-block {
		margin: 2rem 0;
		width: 100%;
		padding: 0rem 2rem 3.5rem;
		margin-bottom: 7rem;

		.recomendation-text {
			margin-bottom: 2rem;
			display: block;
			color: $light !important;
			font-weight: $weight_regular;
			font-size: 2.2rem !important;
			opacity: 1 !important;

			@media #{$breakpoint_sm} {
				font-size: $fontsize_sm !important;
			}
		}

		.slider {
			width: calc(100% - 1rem);
			height: 1rem;
			background: transparent;
			border-radius: 2rem;
			position: relative;
			z-index: 0;
			background-color: #52ffeb;
			background-image: linear-gradient(90deg, #52ffeb 25%, #04ff5d 100%);

			&::after {
				position: absolute;
				content: '';
				width: calc(100% + 2rem);
				height: 3rem;
				background: linear-gradient(to right, #d02928, #d73f26, #dd5124, #e26222, #e77222, #de7d15, #d48708, #c99000, #ad9500, #909700, #729816, #51982c);
				border-radius: 2rem;
				top: -1rem;
				left: -1rem;
				z-index: 1;
				animation-name: expanding;
				animation-timing-function: ease-in-out;
				animation-iteration-count: 1;
				animation-duration: 1s;
			}

			@media #{$white-on-black} {
				background-image: none;
				background: $light;
				box-shadow: none;
				@include white-border;

				&::after {
					background: $light;
				}
			}

			@media #{$black-on-white} {
				background-image: none;
				background: $dark;
				box-shadow: none;
				@include black-border;

				&::after {
					background: $dark;
				}
			}

			&::before {
				position: absolute;
				content: '';
				width: calc(100% + 2rem);
				height: 3rem;
				background-image: linear-gradient(90deg, $light 25%, $dark 100%);
				border-radius: 2rem;
				top: -1rem;
				left: -1rem;
				z-index: 0;
				opacity: 0.02;
			}

			.condition {
				padding: 0 1.5rem;
				font-size: 1.4rem;
				text-transform: uppercase;
				font-weight: $weight_bold;

				.critical {
					bottom: -6rem;
					left: -1rem;
					color: #D02928;
					position: absolute;
				}

				.well {
					right: 10px;
					color: #51982C;
					position: absolute;
					bottom: -6rem;
					right: -1rem;
				}
			}

			.verticle-lines {
				counter-reset: lines -1;
				display: flex;
				justify-content: space-between;
				top: -0.9rem;
				position: relative;
				z-index: 2;

				.scan-pointer {
					position: absolute;
					color: $light;
					width: 2.5rem;
					height: auto;
					font-size: 2.5rem;
					top: -1.5rem;
					left: 0%;
					text-shadow: 0 0 1rem $dark;
					transition: all 1s ease-in-out;
					transform: translateX(-1.25rem);

					@media #{$white-on-black} {
						@include high-contrast-adjust;
					}

					@media #{$black-on-white} {
						@include high-contrast-adjust;
					}
				}

				.line {
					width: 0.1rem;
					height: 2rem;
					margin-top: 0.5rem;
					border-left: 0.2rem dotted $main_lightest;
					margin-right: 9%;

					@media #{$white-on-black} {
						border-left: 0.4rem dotted $dark;
						@include high-contrast-adjust;
					}

					@media #{$black-on-white} {
						border-left: 0.4rem dotted $light;
						@include high-contrast-adjust;
					}

					&::after {
						counter-increment: lines;
						content: counter(lines);
						position: relative;
						bottom: -3.5rem;
						color: $shade_darker;
						font-size: 1.2rem;
						left: -0.5rem;
					}

					&:last-child {
						margin-right: 0%;
					}
				}
			}

			.divider {
				position: absolute;
				left: 50%;
				border-left: 1px solid $shade_darkest;
			}
		}

		&.before-result {
			padding: 3.5rem 2rem 2rem 2rem;

			.slider {
				@media #{$white-on-black} {
					background: $light;
					box-shadow: none;
					@include white-border;
				}

				@media #{$black-on-white} {
					background: $dark;
					box-shadow: none;
					@include black-border;
				}

				.condition {
					padding: 0 1.5rem;
					font-size: 1rem;
					text-transform: uppercase;
					font-weight: $weight_regular;

					.critical {
						top: -3rem;
						left: 1.5rem;
						color: #D00707;
						position: absolute;
					}

					.well {
						top: -3rem;
						right: 1.5rem;
						color: #51982C;
						position: absolute;
					}
				}
			}

			.pc-status-info {
				margin-top: 2rem;

				.needs-tune-up {
					span {
						background: #252a3f !important;
						max-width: 70%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						display: inline-block;
						margin-bottom: -0.5rem;
					}
				}

				.running-well {
					span {
						background: #2a2f43 !important;
						max-width: 70%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						display: inline-block;
						margin-bottom: -0.5rem;
					}
				}

				.info-text {
					color: $alt;
					margin-top: 1.8rem;
					margin-bottom: 0rem;
					font-size: 1rem;
					width: calc(60% - 0.8rem);
					text-align: center;
					position: relative;
					font-weight: $weight_bold;
					word-break: keep-all;
					word-wrap: break-word;

					@media #{$breakpoint_sm} {
						font-size: 1rem;
						width: calc(60.5% - 2rem);
					}

					span {
						//background:#2a2f43!important;
						padding: 0rem 0.2rem;
						position: relative;
						z-index: 9;
					}

					&::before {
						content: "";
						position: absolute;
						width: 30%;
						height: 1rem;
						border: 0.1rem solid $alt;
						border-top: none;
						border-right: none;
						left: 0;
						bottom: 0.5rem;
						z-index: 0;

						@media #{$breakpoint_xl} {
							width: 20%;
						}

						@media #{$breakpoint_lg} {
							width: 30%;
						}

						@media #{$breakpoint_md} {
							width: 27%;
						}

						@media #{$breakpoint_sm} {
							width: 20%;
						}
					}

					&::after {
						content: "";
						position: absolute;
						width: 30%;
						height: 1rem;
						border: 0.1rem solid $alt;
						border-top: none;
						border-left: none;
						right: 0;
						bottom: 0.5rem;
						z-index: 0;

						@media #{$breakpoint_xl} {
							width: 20%;
						}

						@media #{$breakpoint_lg} {
							width: 30%;
						}

						@media #{$breakpoint_md} {
							width: 27%;
						}

						@media #{$breakpoint_sm} {
							width: 20%;
						}
					}

					&.running-well {
						width: 39%;
						margin-left: 0.5%;
						color: $green_darker;

						&::before {
							border-color: $green_darker;
						}

						&::after {
							border-color: $green_darker;
						}
					}
				}
			}
		}
	}

	.summary-block {
		padding: $padding_content;

		@media #{$white-on-black} {
			box-shadow: none;
			@include white-border;
			background: none;
		}

		@media #{$black-on-white} {
			box-shadow: none;
			@include black-border;
			background: none;
		}

		.col-auto-1 {
			flex: 0 0 auto;
			width: auto;
			max-width: 48%;

			@media #{$breakpoint_md} {
				width: auto;
				max-width: 65% !important;
			}

			@media #{$mediaquery_X8} {
				width: auto;
				max-width: 100%;
			}

			@media only screen and (min-width: 1200px) {
				width: 100%;
				max-width: 100% !important;
			}

		}

		.title-big {
			font-size: 3.5rem;
			font-weight: $weight_light;
		}

		h3 {
			font-size: 2rem;
			font-weight: $weight_600;
			margin-bottom: 1rem;
		}

		p {
			font-size: $fontsize_sm;
			line-height: 2.2rem;
		}

		.w-75 {
			@media #{$breakpoint_xl} {
				width: 100% !important;
				justify-content: flex-start !important;
			}

			@media #{$breakpoint_sm} {
				flex-direction: column;
			}
		}

		::ng-deep .tooltip-inner {
			@include tt-inner()
		}

		::ng-deep .arrow::before {
			@include arrow-before()
		}

		.action-button {
			border-radius: 2.5rem;
			background: $gradient_main;
			text-transform: uppercase;
			padding: 0 3rem;
			color: $light;
			font-size: 1.5rem;
			height: 5rem;
			font-weight: $weight_bold;
			text-align: center;
			border: 0rem;
			cursor: pointer;
			min-width: 11.5rem;

			&:focus {
				@include outline-blue
			}

			@media #{$breakpoint_xl} {
				min-width: 11.5rem;
				padding: 0 2.4rem;
				font-size: 1.2rem;
			}

			@media #{$breakpoint_sm} {
				width: 65%;
				margin: 0 auto 1rem;
			}

			@include ui-button-high-contrast-black;
			@include ui-button-high-contrast-white;
			@include high-contrast-adjust;
		}

		.disabled-button {
			border-radius: 2.5rem;
			background: $main_shade;
			text-transform: uppercase;
			padding: 0 3rem;
			color: $light;
			font-size: 1.5rem;
			height: 5rem;
			cursor: not-allowed;
			font-weight: $weight_medium;
			line-height: 5rem;
			text-align: center;
			border: 0rem;
			opacity: 0.7;
			min-width: 11.5rem;
		}

	}
	.subscribe-scan-summaries {
		padding: $padding_content $padding_content 0.9rem;
	}
}
.desc-block {
	display: flex;
	align-items: center;
	flex-direction: row;
	color: $light;

	@media #{$breakpoint_sm} {
		justify-content: center;
	}

	.desc {
		font-size: 1.6rem;
		line-height: 1.8rem;
		// width: auto;
		padding-left: 0.5rem;
		// min-width: 11.5rem;

		&.desc1 {
			border-right: 0.1rem solid $shade_lighter;
			// width: 30%;
			// max-width: 13rem;					
			margin: 0.5rem 0.5rem 0.5rem 1rem;
		}


		&.desc2 {
			margin: 0.5rem;
			word-break: break-all !important;
		}

		b {
			font-size: $fontsize_xs2;
			font-weight: $weight_bold;

			@media #{$breakpoint_xl} {
				font-size: 1.1rem;
			}

			@media #{$breakpoint_md} {
				font-size: 1.1rem;
				max-width: 13.5rem;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow-x: hidden;
				display: inline-block;
			}
		}
	}
}

.scanned-items {
	background: $grey_lighter;
	border-radius: 0.6rem;
	border: 0.1rem solid $shade_lighter;
	padding: 1rem 1.6rem;
	margin-bottom: 1.5rem;

	.heading {
		display: flex;
		align-items: center;

		.icon {
			font-size: 3.2rem;
			line-height: 0;
			color: $main;
		}

		h3 {
			font-size: 1.4rem;
			font-weight: $weight_bold;
			color: $grey_dark;
			padding-left: 1.6rem;
			margin-bottom: 0;
			white-space: no-wrap;
			overflow: hidden;
			text-overflow: ellipsis;

			@media #{$breakpoint_sm} {
				font-size: 1.1rem;
			}
		}
	}

	.status {
		display: flex;
		align-items: center;

		.icon-bkg {
			color: $light;
		}

		.icon-check {
			padding-right: 1rem;
			display: inline-block;

			.icon-bkg {
				display: inline-block;
				border-radius: 50%;
				height: 1.7rem;
				width: 1.7rem;
				line-height: 1.5rem;
				font-size: 1rem;
				text-align: center;
				background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
				border: 0.1rem solid $go_dark;
			}

			&::before {
				content: '';
			}
		}
	}
}

.check-previous-results {
	font-size: $body;
	font-weight: bold;
	padding-bottom: 0.1rem;
	color: $blue-lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 0.2rem solid $blue-lighter;
	&:hover {
		border-bottom: 0.2rem solid transparent;
	}
}

@keyframes expanding {
	0% {
		width: 5%;
	}

	100% {
		width: 102%;
	}
}

.spinner-border {
	height: 35px;
	width: 35px;
}

.loader {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.purchase-content {
	p {
		margin-bottom: 0;
		padding-left: 1rem;
		color: $light;
		font-size: $body;
	}
}