<vtr-page-layout [title]="title"
	[textId]="'myDevice'"
	[pageCssClass]="'device'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true">
	<left-content>
		<div class="row"
			*ngIf="!isScanning && !isScanningCompleted">
			<div class="col vtr-col">
				<div class="mb-5">
					<div class="vtr-device-information">
						<div class="container-fluid">
							<div class="system-scan-complete">
								<div class="row">
									<div class="col col-12 offline-info-background">
										<div class="w-100">
											<div class="row d-flex justify-content-between">
												<div class="mt-5 hero-text"
													*ngIf="!isSubscribed">
													<h1 id="smart-performance-scan-summary-title">{{'smartPerformance.scanCompletePage.title' |translate }}
													</h1>
													<h3 id="smart-performance-scan-summary-desc">{{'smartPerformance.scanCompletePage.description' |translate }}
														{{machineFamilyName}}</h3>
												</div>
												<div class="mt-5 hero-text"
													*ngIf="isSubscribed">
													<h1 id="smart-performance-scan-summary-title">{{'smartPerformance.subscriberScanHomePage.title' |translate }}
														{{machineFamilyName}}</h1>
													<h3 id="smart-performance-scan-summary-desc">{{'smartPerformance.subscriberScanHomePage.serialNumber' |translate }}
														{{systemSerialNumber}}</h3>
												</div>
												<span class="icomoon icomoon-pcScan"></span>
											</div>
											<hr class="light-dashline" />
										</div>

										<div *ngIf="!inputIsScanningCompleted"
											class="performance-slider-block before-result">
											<div class="slider">
												<div class="condition">
													<div class="critical"
														id="smart-performance-scan-summary-not-complete-critical"
														role="text">
														{{'smartPerformance.critical' |translate }}</div>
													<div class="well"
														id="smart-performance-scan-summary-note-complete-allIsWell"
														role="text">
														{{'smartPerformance.allisWell' |translate }}</div>
												</div>
												<div class="verticle-lines">
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
												</div>
											</div>
											<div class="pc-status-info d-flex">
												<p class="info-text needs-tune-up">
													<span id="smart-performance-scan-summary-tuneup"
														role="text"
														title="{{'smartPerformance.tuneUP' |translate }}">{{'smartPerformance.tuneUP' |translate }}</span>
												</p>
												<p class="info-text running-well">
													<span id="smart-performance-scan-summary-running-well"
														role="text"
														title="{{'smartPerformance.runningWell' |translate }}">{{'smartPerformance.runningWell' |translate }}</span>
												</p>
											</div>
										</div>

										<div *ngIf="inputIsScanningCompleted"
											class="performance-slider-block scan-results">
											<h3 class="recomendation-text"
												id="smart-performance-scan-summary-scanRates">
												{{'smartPerformance.scanCompletePage.scanRates' |translate }}<span>{{rating}}</span>
											</h3>
											<div class="slider">
												<div class="verticle-lines">
													<div class="scan-pointer"
														[ngStyle]="{'left': leftAnimator}"
														*ngIf="!isSubscribed">&#9660;</div>
													<div class="scan-pointer"
														[ngStyle]="{'left': leftAnimator}"
														*ngIf="inputIsScanningCompleted">&#9660;</div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
												</div>
												<div class="condition">
													<div class="critical"
														id="smart-performance-scan-summary-complete-critical"
														role="text">
														{{'smartPerformance.critical' |translate }}</div>
													<div class="well"
														id="smart-performance-scan-summary-complete-allIsWell"
														role="text">
														{{'smartPerformance.allisWell' |translate }}</div>
												</div>
											</div>
										</div>

									</div>
								</div>
								<div class="row">
									<div class="summary-block w-100"
										*ngIf="!isSubscribed">
										<h1 class="title-big mb-3"
											id="smart-performance-scan-summary-summary">
											{{'smartPerformance.scanCompletePage.summary' |translate }}</h1>
										<p *ngIf="!isSubscribed && !isExpired"
											id="smart-performance-scan-summary-details"
											role="text"
											[innerHTML]="'smartPerformance.scanCompletePage.summaryDetails' |translate:{issueCount: issueCount }">
										</p>
										<p *ngIf="!isSubscribed && isExpired"
											id="smart-performance-scan-summary-details"
											role="text"
											[innerHTML]="'smartPerformance.scanCompletePage.expiredSummaryDetails' |translate"></p>

										<div class="d-flex justify-content-start my-5">
											<vtr-ui-button (onClick)="openSubscribeModal()"
												*ngIf="isExpired"
												class="mr-3"
												linkId="btn.smart-performance-renew-and-fix"
												metricsItem="btn.renewAndFix"
												metricsEvent="ItemClick"
												metricsParent="Page.Support.SmartPerformance"
												[isFullWidth]="true"
												[label]="'smartPerformance.scanCompletePage.renewAndFix' | translate"></vtr-ui-button>
											<vtr-ui-button (onClick)="backToNonSubScriberHome()"
												linkId="btn.smart-performance-back-to-home"
												metricsItem="btn.backtohome"
												metricsEvent="ItemClick"
												metricsParent="Page.Support.SmartPerformance"
												[isFullWidth]="true"
												[label]="'smartPerformance.scanCompletePage.backToHome' | translate"></vtr-ui-button>
										</div>
										<vtr-subpage-scan-results-accordion [tune]="tune"
											[boost]="boost"
											[secure]="secure"
											[scannigResultObj]="scannigResultObj">
										</vtr-subpage-scan-results-accordion>
									</div>
									<div class="summary-block w-100"
										*ngIf="isSubscribed">
										<h3 *ngIf="!inputIsScanningCompleted"
											id="smart-performance-scan-summary-subTitle">
											{{'smartPerformance.subscriberScanHomePage.subTitle' |translate }}
										</h3>
										<p *ngIf="!inputIsScanningCompleted"
											id="smart-performance-scan-summary-description"
											role="text">
											{{'smartPerformance.subscriberScanHomePage.description' |translate }}
										</p>

										<h3 *ngIf="inputIsScanningCompleted"
											id="smart-performance-scan-summary-subTitle">
											{{'smartPerformance.subscriberScanHomePage.successTitle' |translate}}
										</h3>
										<p *ngIf="inputIsScanningCompleted"
											id="smart-performance-scan-summary-description"
											role="text"
											[innerHTML]="'smartPerformance.subscriberScanHomePage.successDescription' |translate:{issueCount: issueCount }">
										</p>
										<div class="d-flex justify-content-start my-5 w-75">
											<vtr-ui-button (onClick)="ScanNowSummary()"
												*ngIf="!inputIsScanningCompleted"
												linkId="btn.smart-performance-scan-and-fix"
												metricsItem="btn.scan&fix"
												metricsEvent="FeatureClick"
												metricsParent="Page.Support.SmartPerformance"
												[isDisabled]="isLoading || !isOnline"
												[isFullWidth]="true"
												[label]="'smartPerformance.subscriberScanHomePage.scanNow' | translate"></vtr-ui-button>
											<vtr-ui-button (onClick)="BackToSummary()"
												*ngIf="inputIsScanningCompleted"
												linkId="btn.smart-performance-scan-and-fix"
												metricsItem="btn.backtohome"
												metricsEvent="FeatureClick"
												metricsParent="Page.Support.SmartPerformance"
												[isFullWidth]="true"
												[label]="'smartPerformance.subscriberScanHomePage.backToHome' | translate"></vtr-ui-button>
											<div class="desc-block">
												<div class="desc desc1 col-auto"
													*ngIf="historyScanResultsDateTime && historyScanResultsDateTime.length > 0">
													<b id="smart-performance-scan-summary-mostRecent"
														role="block"
														title="{{'smartPerformance.subscriberScanHomePage.mostRecent' |translate }}">{{'smartPerformance.subscriberScanHomePage.mostRecent' |translate }}</b><br>
													{{mostRecentScan}}
												</div>
												<div class="desc desc2 col-auto-1"
													*ngIf="enableNextText">
													<b id="smart-performance-scan-summary-nextScheduled"
														role="block"
														title="{{'smartPerformance.subscriberScanHomePage.nextScheduled' |translate }}">{{'smartPerformance.subscriberScanHomePage.nextScheduled' |translate }}</b><br>
													{{nextScheduleScan}}
												</div>
											</div>
										</div>
										<div *ngIf="inputIsScanningCompleted"
											class="summary-block w-100 pt-3 mb-5">
											<div class="scanned-items d-flex justify-content-between">
												<div class="heading"
													_ngcontent-dag-c274="">
													<div class="icon icon-performance"></div>
													<h3 id="smart-performance-scan-summary-tunePC-title">{{'smartPerformance.tunePCPerformance.title' |translate }}</h3>
												</div>
												<div class="status">
													<div class="icon-check">
														<div class="icon-bkg">
															<fa-icon [icon]="['fas', 'check']"></fa-icon>
														</div>
													</div>
												</div>
											</div>
											<div class="scanned-items d-flex justify-content-between">
												<div class="heading"
													_ngcontent-dag-c274="">
													<div class="icon icon-internet-performance"></div>
													<h3 id="smart-performance-scan-summary-extraTitle">{{'smartPerformance.boostInternetPerformance.extraTitle' |translate }}</h3>
												</div>
												<div class="status">
													<div class="icon-check">
														<div class="icon-bkg">
															<fa-icon [icon]="['fas', 'check']"></fa-icon>
														</div>
													</div>
												</div>
											</div>
											<div class="scanned-items d-flex justify-content-between">
												<div class="heading"
													_ngcontent-dag-c274="">
													<div class="icon icon-malware-security"></div>
													<h3 id="smart-performance-scan-summary-malware-title">{{'smartPerformance.malwareSecurity.title' |translate }}</h3>
												</div>
												<div class="status">
													<div class="icon-check">
														<div class="icon-bkg">
															<fa-icon [icon]="['fas', 'check']"></fa-icon>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row"></div>
							</div>
							<!-- <vtr-ui-smart-performance-scan-summary></vtr-ui-smart-performance-scan-summary> -->
							<!-- subscriber part -->

						</div>
					</div>
					<div class="vtr-device-information">
						<div class="vtr-ui-smart-performance-scan-summary"
							*ngIf="isSubscribed || isExpired">
							<div class="vtr-scan-information mt-5">
								<div class="scan-summary-block">
									<div class="row px-0">
										<div class="navbar bkg-transparent justify-content-between w-100">

											<div class="title-block">
												<h3 id="smart-performance-scan-summary-subscribed-title">{{'smartPerformance.subscriberScanHomePage.scanSummary.title' |translate }}
												</h3>
												<p id="smart-performance-scan-summary-subscribed-desc"
													role="text">{{'smartPerformance.subscriberScanHomePage.scanSummary.description' |translate }}
												</p>
											</div>
											<div class="summary-period">
												<ul class="list-group list-group-horizontal">
													<li class="list-group-item"
														tabindex="0"
														id="smart-performance-scan-summary-{{item.itemName}}"
														*ngFor="let item of menuItems;let ind=index"
														(click)="scanSummaryTime(ind)"
														(keydown.enter)="scanSummaryTime(ind)"
														[ngClass]="{'selected-list-item': tabIndex === ind}"
														#menuTab>
														{{item.itemName | translate}}
														<!-- <div class="list-item" >
														</div> -->
													</li>
													<div class="dropdown">
														<li id="dropdownMenu1"
															class="list-group-item cl list-selected-item">
															<fa-icon class="calender-icon"
																[icon]="['fal', 'calendar-alt']"></fa-icon>
															<span id="smart-performance-scan-summary-annualYear"
																role="text"
																*ngIf="!dropDownToggle || tabIndex === 0">{{annualYear}}</span>
															<span id="smart-performance-scan-summary-customeDate"
																role="text"
																*ngIf="tabIndex === 1">{{customDate}}</span>
															<fa-icon class="drop-down-icon"
																*ngIf="dropDownToggle && tabIndex === 1"
																tabindex="0"
																id="smart-performance-scan-summary-open-dropDown"
																role="button"
																(click)="openDropDown()"
																(keydown.enter)="openDropDown()"
																[icon]="!isDropDownOpen ? ['fas', 'chevron-down'] : ['fas', 'chevron-up']"></fa-icon>
														</li>
													</div>
												</ul>

												<div *ngIf="isDropDownOpen && tabIndex === 1"
													tabindex="-1"
													class="calender-dropDown">
													<div *ngIf="tabIndex === 1">
														<div class="row mt-1">
															<div class="col">
																<div class="custom-from-date py-3 px-3 mb-2"
																	[ngClass]="{'selected-custom-date':isFromDate}">
																	<div class="w-100"
																		id="smart-performance-scan-summary-txtFrom"
																		role="text">{{'smartPerformance.subscriberScanHomePage.scanSummary.txtFrom' |translate }}</div>
																	<div class="w-100"><input type='text'
																			id="smart-performance-scan-summary-dateFrom-input"
																			class="date-input"
																			[ngModel]="displayFromDate"
																			(click)="selectFromDate()"
																			(keydown.enter)="selectFromDate()"
																			readonly /></div>
																</div>
																<div class="custom-to-date py-3 px-3"
																	[ngClass]="{'selected-custom-date':!isFromDate}">
																	<div class="w-100"
																		id="smart-performance-scan-summary-txtTo"
																		role="text">{{'smartPerformance.subscriberScanHomePage.scanSummary.txtTo' |translate }}</div>
																	<div class="w-100"><input type='text'
																			id="smart-performance-scan-summary-dateTo-input"
																			class="date-input"
																			[ngModel]="displayToDate"
																			(click)="selectToDate()"
																			(keydown.enter)="selectToDate()"
																			readonly /></div>

																</div>
																<div class="row d-flex justify-content-center">
																	<vtr-ui-button [isFullWidth]="false"
																		[isDisabled]="!displayFromDate || !displayToDate"
																		linkId="smart-performance-scan-summary-customDate-btn"
																		(onClick)="customDateScanSummary()"
																		[label]="'smartPerformance.subscriberScanHomePage.scanSummary.txtGo' |translate"></vtr-ui-button>
																	<vtr-ui-button [isFullWidth]="false"
																		(onClick)="resetCustomDateScanSummary()"
																		linkId="smart-performance-scan-summary-resetCustomDate-btn"
																		[label]="'smartPerformance.subscriberScanHomePage.scanSummary.txtClr' |translate"></vtr-ui-button>
																</div>
															</div>
															<div class="col date-picker">
																<ngb-datepicker *ngIf="isFromDate"
																	id="smart-performance-scan-summary-fromDate-picker"
																	[(ngModel)]="selectedfromDate"
																	[displayMonths]="displayMonths"
																	[navigation]="navigation"
																	[maxDate]="(maxDate && selectedTodate)"
																	[minDate]="minDate"
																	(select)="onDateSelected()">
																</ngb-datepicker>
																<ngb-datepicker *ngIf="!isFromDate"
																	id="smart-performance-scan-summary-toDate-picker"
																	[(ngModel)]="selectedTodate"
																	[displayMonths]="displayMonths"
																	[navigation]="navigation"
																	[maxDate]="maxDate"
																	[minDate]="(minDate && selectedfromDate)"
																	(select)="onDateSelected()">
																</ngb-datepicker>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
									<div *ngIf="!historyScanResultsDateTime || (historyScanResultsDateTime && historyScanResultsDateTime.length === 0)"
										class="row my-5 d-flex justify-content-between px-0 position-relative">
										<h4 id="smart-performance-scan-summary-noScanResults">{{'smartPerformance.noScanResults' |translate }}</h4>
									</div>
									<div *ngIf="historyScanResultsDateTime && historyScanResultsDateTime.length > 0"
										class="row my-5 d-flex justify-content-between px-0 position-relative">
										<div *ngIf="isLoading">
											<div class="container"
												[style.height.px]="40">
												<div class="loader center-block">
													<div class="spinner-border text-secondary progress-spinner"
														role="status"></div>
												</div>
											</div>
										</div>
										<div *ngIf="!isLoading"
											class="tune">
											<div class="d-flex">
												<div class="w-100">
													<div class="box-title d-flex  justify-content-between">
														<h5 id="smart-performance-scan-summary-tunePC-summaryTitle"
															title="{{'smartPerformance.tunePCPerformance.summaryTitle' |translate }}">
															{{'smartPerformance.tunePCPerformance.summaryTitle' |translate }}
														</h5>
														<div class="icon icon-performance"></div>
													</div>
													<div class="value justify-content-center"
														id="smart-performance-scan-summary-tunePC-fixes-text"
														role="text"
														title="{{historyRes.tuneCount || 0}} {{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}">
														<div class="value-box"
															id="smart-performance-scan-summary-tuneCount"
															role="text">{{historyRes.tuneCount || 0}}</div>
														<span id="smart-performance-scan-summary-tunePC-fixes"
															role="text">{{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}</span>
													</div>
													<p class="w-100 text-center"
														id="smart-performance-scan-summary-tunePC-summaryCaption"
														role="text">
														{{formatMemorySize(historyRes.tuneSize)}} <span class="mr-1">{{sizeExtension}}</span>
														{{'smartPerformance.subscriberScanHomePage.scanSummary.summaryCaption' |translate }}
													</p>
												</div>

											</div>
										</div>
										<div *ngIf="!isLoading"
											class="boost">
											<div class="d-flex">
												<div class="w-100">
													<div class="box-title d-flex  justify-content-between">
														<h5 id="smart-performance-scan-summary-boost-title"
															title="{{'smartPerformance.boostInternetPerformance.summaryTitle' |translate }}">
															{{'smartPerformance.boostInternetPerformance.summaryTitle' |translate }}
														</h5>
														<div class="icon icon-internet-performance"></div>
													</div>
													<div class="value justify-content-center"
														id="smart-performance-scan-summary-boost-fixes-text"
														role="text"
														title="{{historyRes.boostCount || 0}} {{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}">
														<div class="value-box"
															id="smart-performance-scan-summary-boost-count"
															role="text">{{historyRes.boostCount || 0}}</div>
														<span id="smart-performance-scan-summary-boost-fixes"
															role="text">{{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}</span>
													</div>
													<p class="w-100 text-center"
														id="smart-performance-scan-summary-boost-summaryCaption"
														role="text">
														{{formatMemorySize(historyRes.boostSize)}} <span class="mr-1">{{sizeExtension}}</span>
														{{'smartPerformance.subscriberScanHomePage.scanSummary.summaryCaption' |translate }}
													</p>
												</div>

											</div>
										</div>
										<div *ngIf="!isLoading"
											class="secure">
											<div class="d-flex">
												<div class="w-100">
													<div class="box-title d-flex  justify-content-between">
														<h5 id="smart-performance-scan-summary-malware-title"
															title="{{'smartPerformance.malwareSecurity.summaryTitle' |translate }}">
															{{'smartPerformance.malwareSecurity.summaryTitle' |translate }}
														</h5>
														<span class="icomoon icomoon-malware"></span>
													</div>

													<div class="value justify-content-center"
														id="smart-performance-scan-summary-malware-fixes-text"
														role="text"
														title="{{historyRes.secure || 0}} {{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}">
														<div class="value-box"
															id="smart-performance-scan-summary-secure"
															role="text">{{historyRes.secure || 0}}</div>
														<span id="smart-performance-scan-summary-malware-fixes"
															role="text">{{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' |translate }}</span>
													</div>
													<!-- <p>{{'smartPerformance.subscriberScanHomePage.scanSummary.secureSummary' |translate }}</p> -->
												</div>

											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="vtr-device-information"
						*ngIf="isSubscribed || isExpired">
						<div class="vtr-ui-smart-performance-scan-summary"
							*ngIf="historyScanResultsDateTime && historyScanResultsDateTime.length > 0">
							<div class="vtr-scan-information mt-5">
								<div class="scan-summary-block">
									<div class="row px-0">
										<div class="title-block w-100">
											<h3 id="smart-performance-scan-summary-lastScanResults-title">{{'smartPerformance.subscriberScanHomePage.lastScanResults.title' |translate }}
											</h3>
										</div>
									</div>
									<div class="row px-0">
										<div class="col">
											<div class="scan-list-container">
												<div class="row">
													<div class="col">
														<ul class="scan-list">
															<li class=" list-item list-heading">
																<div class="container-fluid">
																	<div class="row align-items-center">
																		<div class="offset-1 col-6"
																			id="smart-performance-scan-summary-lastScanResults-scanDate"
																			role="text"
																			title="{{'smartPerformance.subscriberScanHomePage.lastScanResults.scanDate' |translate }}">
																			{{'smartPerformance.subscriberScanHomePage.lastScanResults.scanDate' |translate }}
																		</div>
																		<div class="col-3 fixes"
																			id="smart-performance-scan-summary-lastScanResults-results"
																			role="text"
																			title="{{'smartPerformance.subscriberScanHomePage.lastScanResults.results' |translate }}">
																			{{'smartPerformance.subscriberScanHomePage.lastScanResults.results' |translate }}
																		</div>
																		<div class="col-2 icon-check-box"
																			id="smart-performance-scan-summary-lastScanResults-status"
																			role="text"
																			title="{{'smartPerformance.subscriberScanHomePage.lastScanResults.status' |translate }}">
																			{{'smartPerformance.subscriberScanHomePage.lastScanResults.status' |translate }}
																		</div>
																	</div>
																</div>
															</li>
															<li class=" list-item"
																*ngFor="let item of historyScanResultsDateTime;let ind=index">
																<div class="container-fluid">
																	<div class="row align-items-center">
																		<div class="col-1 text-center">
																			<fa-icon tabindex="0"
																				id="smart-performance-scan-summary-expand-row"
																				role="button"
																				class="chevron-up"
																				[icon]="toggleValue === ind ? ['fal', 'chevron-up'] : ['fal', 'chevron-down']"
																				(click)="expandRow(ind)"
																				(keydown.enter)="expandRow(ind)">
																			</fa-icon>
																			<!-- <fa-icon
																				*ngIf="toggleValue != ind"
																				class="chevron-down"
																				[icon]="['fal', 'chevron-down']"
																				(click)="expandRow(ind)">
																			</fa-icon> -->
																		</div>
																		<div class="col-6">
																			<b>{{item.scanrunDate}}</b> -
																			<span>{{item.scanrunTime | uppercase}}</span>
																			<span class="ml-1"
																				id="smart-performance-scan-summary-manual"
																				role="text"
																				*ngIf="item.type.toUpperCase() == 'MS'">({{'smartPerformance.manual' |translate }})</span>
																			<span class="ml-1"
																				id="smart-performance-scan-summary-auto"
																				role="text"
																				*ngIf="item.type.toUpperCase() == 'SS'">({{'smartPerformance.auto' |translate }})</span>
																		</div>
																		<div class="col-3 fixes"
																			id="smart-performance-scan-summary-fixes"
																			role="text"
																			title="{{item.fixcount === 0 ? item.fixcount : (item.fixcount | number:'2.0')}} {{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' | translate}}">
																			{{item.fixcount === 0 ? item.fixcount : (item.fixcount | number)}}
																			{{'smartPerformance.subscriberScanHomePage.scanSummary.fixes' | translate}}
																		</div>
																		<div class="col-2 d-flex icon-check-box"
																			*ngIf="item.status === 'C'">
																			<div class="icon-check">
																				<div class="icon-bkg">
																					<fa-icon id="smart-performance-scan-summary-check-icon"
																						[icon]="['fas', 'check']">
																					</fa-icon>
																				</div>
																			</div>
																		</div>
																		<div class="col-2 d-flex icon-check-box"
																			*ngIf="item.status === 'S'">
																			<div class="icon-times">
																				<div class="icon-bkg">
																					<fa-icon id="smart-performance-scan-summary-exclamation-icon"
																						[icon]="['fas', 'exclamation']">
																					</fa-icon>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="row pl-0 pr-0"
																		*ngIf="toggleValue === ind">
																		<div class="col-12 pl-0 pr-0">
																			<div class="row pl-0 pr-0 pt-3">
																				<div class="col-1">&nbsp;
																				</div>
																				<div class="scan-items col-7">
																					<div class="row">
																						<div class="col-2 px-0 icon icon-performance"></div>
																						<div class="col-10 px-0 text"
																							id="smart-performance-scan-summary-tunePC-summaryTitle2"
																							role="text"
																							title="{{'smartPerformance.tunePCPerformance.summaryTitle' |translate }}">{{'smartPerformance.tunePCPerformance.summaryTitle' |translate }}</div>
																					</div>
																				</div>
																				<div id="smart-performance-scan-summary-tunePC-tuneValue"
																					role="text"
																					class="scan-item-value col-2">
																					{{item.Tune || 0}}
																				</div>
																				<!-- <div class="scan-status col-2 px-2"
																				*ngIf="item.status === 'C'">
																					<fa-icon
																						[icon]="['fas', 'circle']">
																					</fa-icon>
																				</div>
																				<div class="scan-status col-2 px-2"
																				*ngIf="item.status === 'S'">
																					<fa-icon
																						class="red-icon"
																						[icon]="['fas', 'circle']">
																					</fa-icon>
																				</div> -->
																			</div>

																			<div class="row pl-0 pr-0">
																				<div class="col-1">&nbsp;
																				</div>
																				<div class="scan-items col-7">
																					<div class="row">
																						<div class="col-2 px-0 icon icon-internet-performance"></div>
																						<div class="col-10 px-0 text"
																							id="smart-performance-scan-summary-boost-summaryTitle2"
																							role="text"
																							title="{{'smartPerformance.boostInternetPerformance.summaryTitle' |translate }}">{{'smartPerformance.boostInternetPerformance.summaryTitle' |translate }}</div>
																					</div>
																				</div>
																				<div id="smart-performance-scan-summary-boost-boostValue"
																					role="text"
																					class="scan-item-value col-2">
																					{{item.Boost || 0}}
																				</div>
																				<!-- <div class="scan-status col-2 px-2"
																				*ngIf="item.status === 'C'">
																					<fa-icon
																						[icon]="['fas', 'circle']">
																					</fa-icon>
																				</div>
																				<div class="scan-status col-2 px-2"
																				*ngIf="item.status === 'S'">
																					<fa-icon
																						class="red-icon"
																						[icon]="['fas', 'circle']">
																					</fa-icon>
																				</div> -->
																			</div>
																			<div class="row pl-0 pr-0">
																				<div class="col-1">&nbsp;
																				</div>
																				<div class="scan-items col-7">
																					<div class="row">
																						<div class="col-2 px-0 icon icon-malware-security"></div>
																						<div class="col-10 px-0 text"
																							id="smart-performance-scan-summary-malware-summaryTitle2"
																							role="text"
																							title="{{'smartPerformance.malwareSecurity.summaryTitle' |translate }}">{{'smartPerformance.malwareSecurity.summaryTitle' |translate }}</div>
																					</div>
																				</div>
																				<div id="smart-performance-scan-summary-malware-secureValue"
																					role="text"
																					class="scan-item-value col-2">
																					{{item.Secure || 0}}
																				</div>
																				<!-- <div class="scan-status col-2 px-2"
																				*ngIf="item.status === 'C'">
																					<fa-icon
																						[icon]="['fas', 'circle']">
																					</fa-icon>
																				</div>
																				<div class="scan-status col-2 px-2"
																				*ngIf="item.status === 'S'">
																					<fa-icon
																						class="red-icon"
																						[icon]="['fas', 'circle']">
																					</fa-icon>
																				</div> -->
																			</div>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</left-content>
	<right-content>
		<div class="row vtr-page-content"
			*ngIf="!isScanning && !isScanningCompleted">
			<div class="col vtr-col">
				<div class="container-fluid">
					<div class="row">

						<div class="vtr-page-right-column">
							<div class="vtr-page-shift-up">
								<div class="container-fluid">
									<div class="row mb-40"
										*ngIf="isSubscribed && !isOldVersion">
										<div class="col col-12">
											<!-- --------Scan Schedule------------- -->
											<vtr-subpage-schedule-scan (scanDatekValueChange)='changeNextScanDateValue($event)'
												(hideBasedOnOldAddInSummary)="hideBasedOnOldAddInVersionInSummaryPage($event)"
												[isOnline]="isOnline"
												[isExpired]="isExpired">
											</vtr-subpage-schedule-scan>
											<!-- --------Scan Schedule------------- -->
										</div>
									</div>
									<div class="row mb-40"
										*ngIf="!isSubscribed && !isExpired">
										<div class="col col-12">
											<div class="recommended-action sidebar-widget">
												<div class="title pb-3"
													id="smart-performance-scan-summary-recommendAction-title"
													role="text">
													{{'smartPerformance.scanCompletePage.recommendedAction.title' |translate }}
												</div>
												<div class="card-info"
													id="smart-performance-scan-summary-recommendAction-desc"
													role="text">
													<p>{{'smartPerformance.scanCompletePage.recommendedAction.description' |translate }}
														<!-- <a href="#" class="link-text" vtrMetrics
															metricsItem="smartPerformance.learnmore"
															metricsEvent="ArticleClick"
															metricsParent="Page.Support.SmartPerformance">{{'smartPerformance.subscriptionDetails.learnMore' |translate }}</a> -->
													</p>
													<!-- <p>{{'smartPerformance.scanCompletePage.recommendedAction.description1' |translate }}</p> -->
												</div>
												<div class="pricing">
													<h2 class="big-text"
														id="smart-performance-scan-summary-recommendAction-yearlyPricing">
														{{'smartPerformance.scanCompletePage.recommendedAction.yearlyPricing' |translate }}
													</h2>
													<small id="smart-performance-scan-summary-recommendAction-monthlyPricing"
														role="text">{{'smartPerformance.scanCompletePage.recommendedAction.monthlyPricing' |translate }}</small>
												</div>
												<p id="smart-performance-scan-summary-recommendAction-longerTerm"
													role="text">{{'smartPerformance.scanCompletePage.recommendedAction.longerTerm' |translate }}
												</p>
												<!-- These are commented as per new requirment please dont delete -->
												<vtr-ui-button (onClick)="openSubscribeModal()"
													class="mt-2"
													linkId="btn.smart-performance-sign-up"
													metricsItem="btn.enablefullfeature"
													metricsEvent="FeatureClick"
													metricsParent="Page.Support.SmartPerformance"
													[isFullWidth]="true"
													buttonColor="gray"
													[label]="'smartPerformance.scanCompletePage.recommendedAction.signupButton' | translate"></vtr-ui-button>
											</div>
										</div>
									</div>
									<div class="row mb-40"
										*ngIf="isSubscribed || isExpired">
										<div class="col col-12">
											<vtr-widget-subscriptiondetails [isOnline]="isOnline"></vtr-widget-subscriptiondetails>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</right-content>
</vtr-page-layout>