.header-nav {
  display: flex;
  justify-content: space-between;

  &__item {
    list-style-type: none;
  }

  &__link {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.active {
      color: #5671ff;

      //&:hover {
      //  cursor: default;
      //  text-decoration: none;
      //}
    }
  }
}