<div>
  <ul class="header-nav">
    <li class="header-nav__item">
      <a class="header-nav__link" routerLink="./breaches" routerLinkActive="active">
        <img src="/assets/images/privacy-tab/logo-leaf.png" alt="Breached Accounts logo">
        <span class="header-nav__number">0</span>
        <p class="header-nav__title">Breached Accounts</p>
      </a>
    </li>
    <li class="header-nav__item">
      <a class="header-nav__link" routerLink="./trackers" routerLinkActive="active">
        <img src="/assets/images/privacy-tab/logo-leaf.png" alt="Breached Accounts logo">
        <span class="header-nav__number">0</span>
        <p class="header-nav__title">Visible to Online Trackers</p>
      </a>
    </li>
    <li class="header-nav__item">
      <a class="header-nav__link" routerLink="./browser-accounts" routerLinkActive="active">
        <img src="/assets/images/privacy-tab/logo-leaf.png" alt="Breached Accounts logo">
        <span class="header-nav__number">0</span>
        <p class="header-nav__title">Non-Private Passwords</p>
      </a>
    </li>
  </ul>
</div>