.header-nav {
  display: flex;
  justify-content: space-between;

  &__item {
    list-style-type: none;
}

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    &.active {
      color: #5671ff;

      border-radius: 20px 20px 0 0;
      background-color: #FFFFFF;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 17px;
        width: 100%;
        background: #fff;
      }

      &:hover {
        color: #34495E;
      }
    }
  }

  &__number {
    font-size: 1.4rem;
    font-weight: bold;
    height: 2.2rem;
    &--exist {
      color: red;
    }
    &--none {
      color: green;
    }
  }

  &__title {
    color: #34495E;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.2rem;
    text-transform: uppercase;
  }
}