<div class="vtr-widget-hardware-scan-status" *ngIf="hasPreviousResults()">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="title">{{title}}</div>
				<div class="description">{{description}}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<vtr-ui-hardware-list [items]="item.modules" [template]="3">
			</vtr-ui-hardware-list>
		</div>
	</div>
	<div class="button-row">
		<beta-vtr-ui-button
			metricsEvent="ItemClick"
			metricsParent="Device.HardwareScan"
			metricsItem="'btn.'+textButton"
			[isFullWidth]="true"
			[label]="buttonText"
			[tooltipText]="buttonText"
			[routerPath] = "viewResultsPath"
			[active]="'true'"
			(onClick)="onPreviousResults()">
		</beta-vtr-ui-button>
	</div>
</div>
