<section class="scan-page">
    <div class="scan-page__scan scan__wrapper">
        <h2 class="scan__title">Check my privacy level</h2>
        <p class="scan__text">Security software protects the data on your device and keeps your Lenovo safe from viruses.</p>

        <vtr-check-breaches-form></vtr-check-breaches-form>

        <div class="scan__steps scan-steps">
            <div class="scan-steps__item">
                <div class="scan-steps__number-wrapper">
                    <div class="scan-steps__number">1</div>
                </div>
                <h4 class="scan-steps__title">Enter your email</h4>
                <p class="scan-steps__text">We’ll search the internet
                    and the dark web for your info</p>
            </div>
            <div class="scan-steps__item">
                <div class="scan-steps__number-wrapper">
                    <div class="scan-steps__number">2</div>
                </div>
                <h4 class="scan-steps__title">Verify it’s you</h4>
                <p class="scan-steps__text">Check your email
                    for a verification code</p>
            </div>
            <div class="scan-steps__item">
                <div class="scan-steps__number-wrapper">
                    <div class="scan-steps__number">3</div>
                </div>
                <h4 class="scan-steps__title">See your privacy level</h4>
                <p class="scan-steps__text">Find out if you have control
                    of your privacy online.</p>
            </div>
        </div>
    </div>


    <div class="scan-page__features scan-features">
        <h2 class="scan-features__title">Peel back the curtains</h2>
        <p class="scan-features__text">Here’s what our quick privacy checkup will show you:</p>
        <div class="scan-features__items-wrapper">
            <div class="features-item">
                <div class="features-item__description">
                    <h4 class="features-item__title">Breached Accounts</h4>
                    <p class="features-item__text">Find out if your personal info is floating around online.</p>
                </div>
                <img class="features-item__img" src="assets/images/privacy-tab/_cube-feature-1.jpg.jpg" alt="Lenovo Figleaf feature"/>
            </div>
            <div class="features-item">
                <div class="features-item__description">
                    <h4 class="features-item__title">Website Trackers</h4>
                    <p class="features-item__text">Understand who could be following you online.</p>
                </div>
                <img class="features-item__img" src="assets/images/privacy-tab/_cube-feature-1.jpg.jpg" alt="Lenovo Figleaf feature"/>
            </div>
            <div class="features-item">
                <div class="features-item__description">
                    <h4 class="features-item__title">Easily Accessible Passwords</h4>
                    <p class="features-item__text">See how your passwords are stored, and find out if they’re strong and private.</p>
                </div>
                <img class="features-item__img" src="assets/images/privacy-tab/_cube-feature-1.jpg.jpg" alt="Lenovo Figleaf feature"/>
            </div>
        </div>
    </div>

    <div class="scan-page__banner">
        <vtr-page-banner [data]="pageBannerData"></vtr-page-banner>
    </div>

</section>

