<section class="scan-page">
    <div class="scan-page__scan scan__wrapper">
        <h2 class="scan__title">Check my privacy level</h2>
        <p class="scan__text">Security software protects the data on your device and keeps your Lenovo safe from viruses.</p>

        <vtr-check-breaches-form></vtr-check-breaches-form>

        <div class="scan-page__scan-steps">
            <vtr-scan-steps [innerIndent]="true" steps="scanSteps"></vtr-scan-steps>
        </div>
    </div>


    <div class="scan-page__features scan-features">
        <h2 class="scan-features__title">Peel back the curtains</h2>
        <p class="scan-features__text">Here’s what our quick privacy checkup will show you:</p>
        <div class="scan-features__items-wrapper">
            <div class="features-item">
                <div class="features-item__description">
                    <h4 class="features-item__title">Breached Accounts</h4>
                    <p class="features-item__text">Find out if your personal info is floating around online.</p>
                </div>
                <img class="features-item__img" src="assets/images/privacy-tab/_cube-feature-1.jpg.jpg" alt="Lenovo Figleaf feature"/>
            </div>
            <div class="features-item">
                <div class="features-item__description">
                    <h4 class="features-item__title">Website Trackers</h4>
                    <p class="features-item__text">Understand who could be following you online.</p>
                </div>
                <img class="features-item__img" src="assets/images/privacy-tab/_cube-feature-1.jpg.jpg" alt="Lenovo Figleaf feature"/>
            </div>
            <div class="features-item">
                <div class="features-item__description">
                    <h4 class="features-item__title">Easily Accessible Passwords</h4>
                    <p class="features-item__text">See how your passwords are stored, and find out if they’re strong and private.</p>
                </div>
                <img class="features-item__img" src="assets/images/privacy-tab/_cube-feature-1.jpg.jpg" alt="Lenovo Figleaf feature"/>
            </div>
        </div>
    </div>

    <div class="scan-page__banner">
        <vtr-page-banner [data]="pageBannerData"></vtr-page-banner>
    </div>

</section>

