
<div class="row">
	<div *ngIf="isRecoverExecuting(); else scanExecuting">
		<h2 class="col title" aria-live="polite">
			{{ 'hardwareScan.recoverBadSectors.executingTitle' | translate }}
		</h2>
	</div>
	<ng-template #scanExecuting>
		<h2 class="col title" aria-live="polite">
			{{'hardwareScan.executingScanTitle' | translate:{'title': getDeviceTitle()} }}
		</h2>
	</ng-template>
</div>
<div class="row hwscan-header">
	<div class="col row1" aria-live="polite">
		<p class="row">{{subTitle}}</p>
		<p id="warning-message" class="row">{{'hardwareScan.warningMessage' | translate}}</p>
	</div>
	<div class="row">
		<div class="row progress-div">
			<div class="row progress-percent-text" aria-live="polite">
				<p class="progress-value-text">{{percent}}%</p>
				<p class="progress-complete-text">{{'hardwareScan.complete' | translate}}</p>
			</div>
		</div>
	</div>
</div>
<div class="col row hwscan-header">
	<div class="col col-12 row progress-bar-div-container">
		<div class="col col-12 progress-bar-div">
			<ngb-progressbar type="success" [value]="percent" [height]="'0.6rem'"></ngb-progressbar>
		</div>
	</div>

	<div class="col col-12 row">
		<div class="col col-12 row">
			<div class="col col-12 cancel-check"
					title="{{ disableCancel ? ('hardwareScan.waitScanStarts' | translate) : ''}}">
				<button type="button"
					id="hw_cancel_scan"
					attr.aria-label="hw_cancel_scan"
					vtrMetrics
					metricsEvent="FeatureClick"
					metricsParent="{{itemParentCancel}}"
					metricsItem="{{itemNameCancel}}"
					class="cancel-check cancel-check-button"
					[disabled]="disableCancel"
					tabindex="1"
					(click)="onCancel()">{{'hardwareScan.cancel' | translate}}</button>
			</div>
		</div>
	</div>
</div>
