@import "../../../../../../app.theme";

.title {
	color: $light;
	font-size: $fontsize_xl;
	font-weight: $weight_600;
	padding-left: 2.4rem;
	padding-top: 2.4rem;
	padding-bottom: 0.5rem;
	padding-right: 2.4rem;
}
.row1 {
	color: $light;
	font-size: $fontsize_xs;
	line-height: 2.1rem;
	padding:0rem 2.4rem// updated as per new specs
}

.progress-div {
	align-items: flex-end;
	padding:0rem 2.4rem;
	.progress-percent-text {
		color: $light;
		font-size: $fontsize_xl;
		font-weight: $weight_light;
		line-height: 2.9rem;
		display: inline-flex;
		text-align: right;
		.progress-value-text {
			color: $light;
			font-weight: $weight_light;
			line-height: 2.9rem;
			padding-right: 0rem;
			padding-left: 0rem;
			text-align: left;
			font-size: 3rem;
		}
		.progress-complete-text {
			color: $light;
			font-size: $fontsize_xs;
			font-weight: $weight_light;
			line-height: 2.9rem;
			padding-right: 1rem;
			padding-left: 0;
			text-align: left;
		}
	}
}
.progress-bar-div-container {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	.progress-bar-div {
		padding: 1rem;
		border-radius: 1.5rem;
		background: linear-gradient($gradient_angle_reverse, $main_darkest 0%, $main_darker 100%);

		::ng-deep .mat-progress-bar-fill::after {
			background: linear-gradient(90deg, $go 0%, $go 100%);
		}
		::ng-deep .mat-progress-bar-buffer {
			background: $light;
		}
		::ng-deep .mat-progress-bar {
			border-radius: 0.4rem;
		}

		@include high-contrast-border;
		::ng-deep .progress {
			height: 0.2rem;

			.progress-bar {
				border-radius: 0.8rem;
				margin-top: 0;

				@include high-contrast-background-color-reversal;
				&.bg-info {
					background: linear-gradient(90deg, $go_light 0%, $go_dark 100%) !important;
				}
			}

			@include high-contrast-border;
		}
	}
}

.cancel-check {
	color: $light;
	font-size: $fontsize_xs;
	font-weight: $weight_medium;
	text-align: center;
	text-transform: uppercase;
	padding-top: 0.5rem;

	.cancel-check-button {
		border-bottom: 0.2rem solid $light;

		&:hover:enabled {
			border: none;
			padding-bottom: 0.2rem;
			text-decoration: none;
		}
	}

	&:focus {
		@include outline-blue;
	}
}

.hwscan-header {
	padding-bottom: 2.5rem;
}

@mixin dots($color) {
	animation: dots 2s steps(5, end) infinite;

	@keyframes dots {
		0%, 20% {
			color: rgba(0,0,0,0);
			text-shadow:
				.25em 0 0 rgba(0,0,0,0),
				.5em 0 0 rgba(0,0,0,0);
		}
		40% {
			color: $color;
			text-shadow:
				.25em 0 0 rgba(0,0,0,0),
				.5em 0 0 rgba(0,0,0,0);
		}
		60% {
			text-shadow:
				.25em 0 0 $color,
				.5em 0 0 rgba(0,0,0,0);
		}
		80%, 100% {
			text-shadow:
				.25em 0 0 $color,
				.5em 0 0 $color;
		}
	}
}

.animated-dots:after {
	content: '. ';

	// Used when high contrast is not active or is white-on-black
	@include dots($light);

	@media #{$black-on-white} {
		@include dots($dark);
	}
}

