@import "../../../../../../app.theme";

.status {
	font-size: $fontsize_lg;
	color: $light;
	padding-right: 2.4rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: right;
}
.title {
	color: $light;
	font-size: $fontsize_xl2;
	font-weight: $weight_light;
	line-height: 4.2rem;
	padding-left: 2.4rem;
	padding-top: 3rem;
	padding-bottom: 0.5rem;
	padding-right: 2.4rem;
}
.row1 {
	color: $light;
	font-size: $fontsize_xs;
	line-height: 2.1rem;
	padding:0rem 2.4rem// updated as per new specs
}

.progress-div {
	align-items: flex-end;
	padding:0rem 2.4rem;
	.progress-percent-text {
		color: $light;
		font-size: $fontsize_xl;
		font-weight: $weight_light;
		line-height: 2.9rem;
		display: inline-flex;
		text-align: right;
		.progress-value-text {
			color: $light;
			font-weight: $weight_light;
			line-height: 2.9rem;
			padding-right: 0rem;
			padding-left: 0rem;
			text-align: left;
			font-size: 3rem;
		}
		.progress-complete-text {
			color: $light;
			font-size: $fontsize_xs;
			font-weight: $weight_light;
			line-height: 2.9rem;
			padding-right: 1rem;
			padding-left: 0;
			text-align: left;
		}
	}
}
.progress-bar-div-container {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	.progress-bar-div {
		padding: 1rem;
		border-radius: 1.5rem;
		background: linear-gradient($gradient_angle_reverse, $main_darkest 0%, $main_darker 100%);
			::ng-deep .mat-progress-bar-fill::after {
			background: linear-gradient(90deg, $go 0%, $go 100%);
		}
			::ng-deep .mat-progress-bar-buffer {
			background: $light;
		}
			::ng-deep .mat-progress-bar {
			border-radius: 0.4rem;
		}
		.progress {
			height: 0.2rem;
			.progress-bar {
				height: 0.8rem;
				border-radius: 0.8rem;
				margin-top: -0.3rem;
				&.bg-info {
					background: linear-gradient(90deg, $go_light 0%, $go_dark 100%) !important;
				}
			}
		}
	}
}

.cancel-check {
	color: $light;
	font-size: $fontsize_xs;
	font-weight: $weight_medium;
	line-height: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	padding: 1rem !important;

	&:focus {
		@include outline-blue;
	}
}

.hwscan-header {
	padding-bottom: 1.5rem;
}
.final-result-code {
	color: $light;
	font-size: $fontsize_xs2;
	line-height: 1.5rem;
	padding-left: 5rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
	padding-right: 2.4rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.result-code-value-text {
		opacity: 0.5;
	}
	.result-code-complete-text {
		margin-left: 0.5rem;
		text-transform: uppercase;
	}
	.result-code-icon {
		margin-left: 0.5rem;
		font-size: $fontsize_sm;
		color: $menu_hover;
		cursor: pointer;
		&:hover {
			color: $highlight;
		}
	}
}


