<div class="subpage-device-settings-smart-assist vtr-subpage">
	<div class="row">
		<div class="col">
			<vtr-ui-header-subpage [items]="headerMenuItems"
				[title]="title | translate"
				[caption]="'device.deviceSettings.smartAssist.description' | translate"
				[menuTitle]="'device.deviceSettings.smartAssist.jumpTo.title' | translate"></vtr-ui-header-subpage>
		</div>
	</div>
	<div class="row py-5 smart-assist-card"
		id="security">
		<div class="col-10 mx-auto ">
			<vtr-container-collapsible
				[cardTitle]="'device.deviceSettings.smartAssist.intelligentSecurity.title' | translate"
				componentName="intelligent security"
				[isCollapsed]="false"
				[allowCollapse]="true"
				[theme]="'white'"
				(toggle)="onCardCollapse($event)">
				<ul class="list-group list-group-flush">
					<li class="pt-3"
						*ngIf="isThinkPad">
						<vtr-ui-row-switch
							[title]="'device.deviceSettings.smartAssist.intelligentSecurity.HumanPresenceDetection.title' | translate"
							componentName="Human presence detection"
							[isSwitchVisible]="true"
							[leftIcon]="['fal', 'gem']"
							[rightIcon]="['far', 'question-circle']"
							[tooltipText]="'device.deviceSettings.smartAssist.intelligentSecurity.HumanPresenceDetection.tooltip' | translate"
							[showChildContent]="true"
							[isSwitchChecked]="intelligentSecurity.humanPresenceDetectionFlag"
							(toggleOnOff)="onHumanPresenceDetectStatusToggle($event)"
							[theme]="'white'">
						</vtr-ui-row-switch>
					</li>
					<li class="pt-3"
						[ngClass]="{'ml-4':'isThinkPad', 'disabled-overlay': !intelligentSecurity.humanPresenceDetectionFlag }">
						<vtr-ui-row-switch
							[title]="'device.deviceSettings.smartAssist.intelligentSecurity.autoIrCameraLogin.title' | translate"
							[isSwitchVisible]="true"
							[leftIcon]="['fal', 'gem']"
							[rightIcon]="['far', 'question-circle']"
							[tooltipText]="'device.deviceSettings.smartAssist.intelligentSecurity.HumanPresenceDetection.tooltip' | translate"
							[showChildContent]="true"
							[isSwitchChecked]="intelligentSecurity.autoIRLoginFlag"
							(toggleOnOff)="onAutoIRCameraLoginStatusToggle($event)"
							[theme]="'white'"
							[disabled]="!intelligentSecurity.humanPresenceDetectionFlag">
							<div class="caption">
								<p>{{ 'device.deviceSettings.smartAssist.intelligentSecurity.autoIrCameraLogin.caption' | translate }}
									<a
										href="javascript:void();">{{ 'device.deviceSettings.smartAssist.intelligentSecurity.readMore' | translate}}</a>
								</p>
							</div>

						</vtr-ui-row-switch>
					</li>
					<li class="pt-3 pl-5"
						[ngClass]="{'ml-4':'isThinkPad', 'disabled-overlay': !intelligentSecurity.humanPresenceDetectionFlag }">
						<vtr-ui-row-switch [title]="distanceSensitivityTitle | translate"
							[isSwitchVisible]="false"
							[leftIcon]="['fal', 'gem']"
							[showChildContent]="true"
							[readMoreText]="''"
							[theme]="'white'"
							[disabled]="!intelligentSecurity.autoIRLoginFlag">
							<div class="caption">
								<p>{{ 'device.deviceSettings.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.caption' | translate }}
								</p>
							</div>
							<vtr-ui-range-slider
								[minValueLegend]="'device.deviceSettings.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.near' | translate"
								[minValue]="0"
								[maxValueLegend]="'device.deviceSettings.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.far' | translate"
								[maxValue]="100"
								(change)="setHumanDistance($event)"
								[enableSlider]="!intelligentSecurity.autoIRLoginFlag"
								[value]="intelligentSecurity.humanDistance">
							</vtr-ui-range-slider>
							<div class="pt-3">
								<div class="feature-note p-4">
									<p>{{'device.deviceSettings.smartAssist.intelligentSecurity.note.description1' | translate}}
										<a href="javascript:void()"
											(click)="launchFaceEnrollment()">{{'device.deviceSettings.smartAssist.intelligentSecurity.WindowsLink.goToWindowsHello' | translate}}</a>
									</p>
								</div>
							</div>
						</vtr-ui-row-switch>
					</li>
					<li class="pt-3 auto-screen-block"
						[ngClass]="{'ml-4':'isThinkPad', 'disabled-overlay': !intelligentSecurity.humanPresenceDetectionFlag }">
						<vtr-ui-row-switch
							[title]="'device.deviceSettings.smartAssist.intelligentSecurity.autoScreenLock.title' | translate"
							[caption]=" 'device.deviceSettings.smartAssist.intelligentSecurity.autoScreenLock.caption' | translate"
							[isSwitchVisible]="true"
							[leftIcon]="['fal', 'gem']"
							[rightIcon]="['far', 'question-circle']"
							[tooltipText]="'device.deviceSettings.smartAssist.intelligentSecurity.HumanPresenceDetection.tooltip' | translate"
							[readMoreText]="''"
							[showChildContent]="true"
							[isSwitchChecked]="intelligentSecurity.isAutoScreenLockChecked"
							(toggleOnOff)="onChangeAutoScreenLockFlag($event)"
							[theme]="'white'"
							[disabled]="!intelligentSecurity.humanPresenceDetectionFlag">
							<div class="row blur"
								[class.disabled]="!intelligentSecurity.isAutoScreenLockChecked">
								<div class="col-12 py-4 pr-0 d-flex justify-content-between auto-screen-lock-timer">
									<h3>{{ 'device.deviceSettings.smartAssist.intelligentSecurity.autoScreenLock.autoScreenLockTimer.title' | translate}}
									</h3>
									<a href="javascript:void();"
										class="d-flex no-pointer">
										<fa-icon class="question"
											triggers="click:blur"
											placement="auto"
											[ngbTooltip]="tooltipText | translate"
											[icon]="['far', 'question-circle']"
											container="body"
											tooltipClass="vtr-tooltip"></fa-icon>
									</a>
								</div>
								<div class="row no-gutters pl-4 ">
									<vtr-ui-rounded-rectangle-radio [radioId]="'radio1'"
										[group]="'radio'"
										[label]="'device.deviceSettings.smartAssist.intelligentSecurity.autoScreenLock.autoScreenLockTimer.radioButton.fast' | translate"
										[value]="1"
										[checked]="true"
										(change)="onAutoScreenLockStatusToggle($event)"
										[disabled]="!intelligentSecurity.autoScreenLockFlag">
									</vtr-ui-rounded-rectangle-radio>
									<vtr-ui-rounded-rectangle-radio [radioId]="'radio2'"
										[group]="'radio'"
										[label]="'device.deviceSettings.smartAssist.intelligentSecurity.autoScreenLock.autoScreenLockTimer.radioButton.medium' | translate"
										[value]="2"
										[checked]="''"
										(change)="onAutoScreenLockStatusToggle($event)"
										[disabled]="!intelligentSecurity.autoScreenLockFlag">
									</vtr-ui-rounded-rectangle-radio>
									<vtr-ui-rounded-rectangle-radio [radioId]="'radio3'"
										[group]="'radio'"
										[label]="'device.deviceSettings.smartAssist.intelligentSecurity.autoScreenLock.autoScreenLockTimer.radioButton.slow' | translate"
										[value]="3"
										[checked]="''"
										(change)="onAutoScreenLockStatusToggle($event)"
										[disabled]="!intelligentSecurity.autoScreenLockFlag">
									</vtr-ui-rounded-rectangle-radio>
								</div>
								<div class="feature-note screen-lock-note p-4 ml-4 mt-2 mb-2 mr-2">
									<p>{{'device.deviceSettings.smartAssist.intelligentSecurity.note.description2' | translate}}
										<br><a href="javascript:void();"
											(click)="launchPowerAndSleep();">{{'device.deviceSettings.smartAssist.intelligentSecurity.WindowsLink.screenTimeoutSettings' | translate}}</a>
									</p>
								</div>
							</div>
						</vtr-ui-row-switch>
					</li>

				</ul>
				<div class="row">
					<div class="feature-note p-4 m-4">
						<p>{{'device.deviceSettings.smartAssist.intelligentSecurity.note.description3' | translate}}</p>
						<p>{{'device.deviceSettings.smartAssist.intelligentSecurity.note.description4' | translate}}</p>
						<p>{{'device.deviceSettings.smartAssist.intelligentSecurity.note.description5' | translate}}</p>
					</div>
				</div>
			</vtr-container-collapsible>
		</div>
	</div>

</div>
