<div class="subpage-device-settings-smart-assist vtr-subpage">
	<div class="row">
		<div class="col">
			<vtr-ui-header-subpage [items]="headerMenuItems" [title]="title | translate"
				[caption]="'device.deviceSettings.smartAssist.description' | translate"
				[menuTitle]="'device.deviceSettings.smartAssist.jumpTo.title' | translate"></vtr-ui-header-subpage>
		</div>
	</div>
	<div class="row py-5 smart-assist-card" id="security">
		<div class="col-10 mx-auto ">
			<vtr-container-collapsible
				[cardTitle]="'device.deviceSettings.smartAssist.intelligentSecurity.title' | translate"
				componentName="intelligent security" 
				[isCollapsed]="false" 
				[allowCollapse]="true" 
				[theme]="'white'"
				(toggle)="onCardCollapse($event)">
				<ul class="list-group list-group-flush" *ngIf="!isThinkpad">
					<li class="pt-3">
						<vtr-ui-row-switch
							[title]="'device.deviceSettings.smartAssist.intelligentSecurity.zeroTouchLogin.title' | translate"
							[caption]=" 'device.deviceSettings.smartAssist.intelligentSecurity.zeroTouchLogin.caption' | translate"
							[isSwitchVisible]="true" 
							[leftIcon]="['fal', 'gem']"
							[showChildContent]="true"
							[isSwitchChecked]="intelligentSecurity.zeroTouchLoginFlag"
							(toggleOnOff)="onzeroTouchLoginStatusToggle($event)" 
							[theme]="'white'"
							[disabled]="!intelligentSecurity.humanPresenceDetectionFlag">
						</vtr-ui-row-switch>
					</li>
					<li class="pt-3 pl-5">
						<div class="pt-3">
							<vtr-ui-row-switch [title]="distanceSensitivityTitle | translate"
								[caption]="'device.deviceSettings.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.caption' | translate"
								[isSwitchVisible]="true" [showChildContent]="true"
								[isSwitchChecked]="intelligentSecurity.distanceSensitivityFlag"
								(toggleOnOff)="distanceSensitivityStatusToggle($event)" [theme]="'white'"
								[disabled]="!intelligentSecurity.zeroTouchLoginFlag">
								<vtr-ui-range-slider
									[minValueLegend]="'device.deviceSettings.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.near' | translate"
									[minValue]="0"
									[maxValueLegend]="'device.deviceSettings.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.far' | translate"
									[maxValue]="100" (change)="setHumanDistance($event)"
									[enableSlider]="!intelligentSecurity.zeroTouchLoginFlag" [value]="intelligentSecurity.humanDistance">
								</vtr-ui-range-slider>
								<div class="pt-3">
									<div class="feature-note pr-1 pt-3">
										<div class="row">
											<div class="col-auto pl-3">
												<fa-icon [icon]="['fal', 'exclamation-circle']"></fa-icon>
											</div>
											<div class="col">
												<p>{{'device.deviceSettings.smartAssist.intelligentSecurity.note.description1' | translate}}
													<a
														href="ms-settings:signinoptions-launchfaceenrollment">{{'device.deviceSettings.smartAssist.intelligentSecurity.WindowsLink.goToWindowsHello' | translate}}</a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</vtr-ui-row-switch>
						</div>
					</li>
				</ul>
				<ul class="list-group list-group-flush">
					<li class="pt-3 auto-screen-block">
						<vtr-ui-row-switch
							[title]="'device.deviceSettings.smartAssist.intelligentSecurity.zeroTouchLock.title' | translate"
							[caption]=" 'device.deviceSettings.smartAssist.intelligentSecurity.zeroTouchLock.caption' | translate"
							[isSwitchVisible]="true" 
							[leftIcon]="['fal', 'gem']"
							[readMoreText]="''" 
							[showChildContent]="true"
							[isSwitchChecked]="intelligentSecurity.zeroTouchLockFlag"
							(toggleOnOff)="onChangezeroTouchLockFlag($event)" 
							[theme]="'white'"
							[disabled]="!intelligentSecurity.humanPresenceDetectionFlag">
							<div class="row blur" [class.disabled]="!intelligentSecurity.zeroTouchLockFlag">
								<div class="col-12 py-4 pr-0 d-flex justify-content-between auto-screen-lock-timer">
									<h3>{{ 'device.deviceSettings.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.title' | translate}}
									</h3>
									<a href="javascript:void();" class="d-flex no-pointer">
										<fa-icon class="question" triggers="click:blur" placement="auto"
											[ngbTooltip]="tooltipText | translate" [icon]="['far', 'question-circle']"
											container="body" tooltipClass="vtr-tooltip"></fa-icon>
									</a>
								</div>
								<div class="row no-gutters pl-4 ">
									<vtr-ui-rounded-rectangle-radio [radioId]="'radio1'" [group]="'radio'"
										[label]="'device.deviceSettings.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.fast' | translate"
										[value]="'fast'" [checked]="autoScreenLockStatus[0]"
										(change)="onAutoScreenLockStatusToggle($event,0)"
										[disabled]="!intelligentSecurity.zeroTouchLockFlag">
									</vtr-ui-rounded-rectangle-radio>
									<vtr-ui-rounded-rectangle-radio [radioId]="'radio2'" [group]="'radio'"
										[label]="'device.deviceSettings.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.medium' | translate"
										[value]="'medium'" [checked]="autoScreenLockStatus[1]"
										(change)="onAutoScreenLockStatusToggle($event,1)"
										[disabled]="!intelligentSecurity.zeroTouchLockFlag">
									</vtr-ui-rounded-rectangle-radio>
									<vtr-ui-rounded-rectangle-radio [radioId]="'radio3'" [group]="'radio'"
										[label]="'device.deviceSettings.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.slow' | translate"
										[value]="'slow'" [checked]="autoScreenLockStatus[2]"
										(change)="onAutoScreenLockStatusToggle($event,2)"
										[disabled]="!intelligentSecurity.zeroTouchLockFlag">
									</vtr-ui-rounded-rectangle-radio>
								</div>
								<div class="feature-note screen-lock-note p-4 ml-4 mt-2 mb-2 mr-2">
									<p>{{'device.deviceSettings.smartAssist.intelligentSecurity.note.description2' | translate}}
										<br><a
											href="ms-settings:lockscreen">{{'device.deviceSettings.smartAssist.intelligentSecurity.WindowsLink.screenTimeoutSettings' | translate}}</a>
									</p>
								</div>
							</div>
						</vtr-ui-row-switch>
					</li>

				</ul>
				<div class="row">
					<div class="feature-note p-4 m-4">
						<p>{{'device.deviceSettings.smartAssist.intelligentSecurity.note.description3' | translate}}</p>
						<p>{{'device.deviceSettings.smartAssist.intelligentSecurity.note.description4' | translate}}</p>
						<p>{{'device.deviceSettings.smartAssist.intelligentSecurity.note.description5' | translate}}</p>
					</div>
				</div>
			</vtr-container-collapsible>
		</div>
	</div>

</div>