@import "../../../../../app.theme.scss";

.vtr-home-security-device{
    
	.heading {
		color: $main_dark;
		font-size: 2.8rem;
		font-weight: $weight_regular;
	}
	
	.security-card {
		box-shadow: $drop_shadow;
		border-radius: $border_radius;
		background-color: $light;
		padding: 1.5rem;
	}

	.coronet_logo{
		width: 11rem;
	}

	.get-app-code-box{
		background-color: $shade_lightest;
		border: 0.1rem solid $shade_lighter;
		border-radius: $border_radius;
		text-align: center;
	}

	::ng-deep .vtr-ui-button{
		display: inline-block;
	}
}
