@import '../../../app.theme.scss';

.vtr-widget-questions {
	border-radius: $border_radius;
	background-color:$light;
	box-shadow: $drop_shadow;
	padding: 4rem;
	@media #{$mediaquery_X1}{
		padding: 2rem;
	}
	@media #{$mediaquery_10}{
		padding: 1.5rem 2rem;
	}
	.title {
		color: $main_darker;
		font-size: $title;
		font-weight: $weight_medium;
	}
	.description {
		color: $main_shade;
		font-size: $body;
		text-transform: uppercase;
		font-weight: $weight_medium;
	}
}
