
.question-container {
  border-radius: 0.625rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 0.9375rem 0 rgba(0, 0, 0, 0.15);

}

.title {
  height: 1.8125rem;
  color: #194A65;
  font-size: 1.5625rem;
  line-height: 1.8125rem;
  margin-top: 2.625rem;
}

.description {
  height: 0.8125rem;
  color: rgba(66, 78, 123, 0.4);
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.7px;
  line-height: 0.8125rem;
  margin-bottom:1.5625rem;
}

.body {
  border: 1px solid #ECF0F1;
  border-radius: 0.3125rem;
  background-color: rgba(236, 240, 241, 0.5);
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2.625rem;
  color: #34495E;
  font-size:0.8125rem;
}

.body-row {
  height: 50px;
  border: 1px solid #ECF0F1;
}

.center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.text {
  color: #34495E;
  font-size: 0.8125rem;
  width: 100%;

}
