<div class="vtr-widget-questions">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="title" id="{{linkId}}-title"
				attr.aria-label="{{linkId}}-title">{{title}}</div>
				<div class="description" id="{{linkId}}-description"
				attr.aria-label="{{linkId}}-description">{{description}}</div>
			</div>
		</div>
		<div class="row filter">
			<div class="col chevron">
				<vtr-ui-list-chevron [items]="items"
					[iconPlacement]="'left'"
					metricsEvent="articleClick"
					[arrowColor]="'blue-arrow'"
					[clickable]="clickable"
					[chevronVisibility]="chevronVisibility"
					[blockPosition]="blockPosition"
					[linkId]="linkId"></vtr-ui-list-chevron>
			</div>
			<div class="cover"></div>
		</div>
	</div>
</div>
