<div *ngFor="let browser of installedBrowsers?.browserData; trackBy: trackByBrowser; let i = index">
	<vtr-installed-browser
		[installedBrowser]="browser"
		[showDetailAction]="inputData.showDetailAction"
		[index]="i"
		[isDetailsExpanded]="i === openPasswordId"
		[isFigleafInstalled]="isFigleafInstalled"
		(howToFixClick)="howToFixClick.emit($event)"
		(openAccordion)="openAccordion($event)">
	</vtr-installed-browser>
</div>
<vtr-try-product-block
	*ngIf="(openPasswordId === null) &&
			isNonPrivatePasswordWasScanned &&
			nonPrivatePasswordCount > 0"
	[isFigleafReadyToCommunication]="isFigleafInstalled"
	[texts]="tryProductText">
</vtr-try-product-block>
<div class="browser-stored-account__clear-data-wrapper"
	 *ngIf="isNonPrivatePasswordWasScanned && nonPrivatePasswordCount > 0">
	<vtr-clear-data-tooltip [feature]="passwordFeatureName" (dataWasClear)="openAccordion(null)"></vtr-clear-data-tooltip>
</div>
