@import "../../../../app.theme.scss";
ul{
	list-style: none;
}
.context{
	font-size: $fontsize_xs;
	margin-right: 0.5rem;
	color: $purple_navy;
	font-weight: $weight_light;
	padding-left: 1.5rem;
	margin-bottom: 0;
}

.install-btn {
	width: 30%;
	height: 3.8rem;
	border-radius: 25rem;
	color: $light;
	background: linear-gradient(270deg, #4980FC 0%, #2E62D9 100%);
	font-size: $fontsize_xs;
	font-weight: $weight_bold;
	border: none;
	margin-top: 0.5rem;
}

::ng-deep .vtr-ui-switch-row .white-theme {
	border-bottom: none !important;
}

.blue-theme {
	margin-top: -5px;
	color: $main;
}

.voice-list {
	::ng-deep .vtr-ui-switch-row.white-theme {
		.vtr-row-switch {
			display: block !important;
			text-align: right !important;
			min-width: auto !important;
		}
	}
}
