<vtr-page-layout [title]="title"
[textId]="'smartPerformance'"
[pageCssClass]="'device'"
[shiftLeftUp]="true"
[shiftRightUp]="true"
[back]="'common.ui.back' | translate"
[backId]="'smartPerformance-back-btn'">
<left-content>
	<div class="vtr-ui-smart-performance vtr-page">
	<div class="row vtr-page-content"  *ngIf="!isScanning && !isScanningCompleted && !isSubscribed">
		<div class="col vtr-col">
			<div class="container-fluid mb-5">
				<div class="row">
					<div class="vtr-page-left-column">
					<div class="vtr-page-shift-up">
						<div class="vtr-device-information">
							<div class="container-fluid">
								<div class="row">
									<div class="col col-12 offline-info-background py-5">
										<div class="d-flex justify-content-center w-100 hero-content">
											<span class="icomoon icomoon-pcScan"></span>
											<div class="pl-5 main-title">
												<h1>{{'smartPerformance.performanceandSecurityCheckTitle' |translate }}</h1>
												<h3>{{'smartPerformance.performanceandSecurityCheckSubTitle' |translate }}</h3>
											</div>
										</div>
										<div class="d-flex justify-content-center mb-4">
											<button class="action-button" (click)="scanNow()"
											vtrMetrics
											metricsItem="btn.freepcscan"
											metricsEvent="FeatureClick"
											metricsParent="Page.Support.SmartPerformance"
											[ngbTooltip]="'smartPerformance.scanButton' | translate"
											placement="top">{{'smartPerformance.scanButton' |translate }}</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col col-12 pc-performance-block">
										<h1>{{'smartPerformance.section1Heading' |translate }}</h1>
										<h5>{{'smartPerformance.section1Description' |translate }}</h5>
										<div class="performance-slider-block">
											<div class="slider">
												<div class="condition">
													<div class="critical">{{'smartPerformance.critical' |translate }}</div>
													<div class="well">{{'smartPerformance.allisWell' |translate }}</div>
												</div>
												<div class="verticle-lines">
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
												</div>
											</div>
											<div class="pc-status-info d-flex">
												<p class="info-text needs-tune-up"><span>{{'smartPerformance.tuneUP' |translate }}</span></p>
												<p class="info-text running-well"><span>{{'smartPerformance.runningWell' |translate }}</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col col-12 pc-performance-block">
										<h2>{{'smartPerformance.section2Heading' |translate }}</h2>
										<h5>{{'smartPerformance.section2Description' |translate }}</h5>
									</div>
								</div>
								<div class="row">
									<div class="col col-12 pc-performance-block">
										<div class="row">
											<ngb-tabset class="tabset-main">
												<ngb-tab id="main-1">
													<ng-template ngbTabTitle>
														<div class="icomoon icomoon-tune-pc"></div>{{'smartPerformance.tunePCPerformance.title' |translate }}
													</ng-template>
													<ng-template ngbTabContent>
														<h2>{{'smartPerformance.tunePCPerformance.heading' |translate }}</h2>
														<h5>{{'smartPerformance.tunePCPerformance.description' |translate }}</h5>
														<div class="icon-bar my-5">
															<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<span class="icomoon icomoon-junk"></span>
																	<p>{{'smartPerformance.tunePCPerformance.tabSet1.tab1' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-usibilityIssue"></div>
																	<p>{{'smartPerformance.tunePCPerformance.tabSet1.tab2' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-windows"></div>
																	<p>{{'smartPerformance.tunePCPerformance.tabSet1.tab3' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-systemError"></div>
																	<p>{{'smartPerformance.tunePCPerformance.tabSet1.tab4' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-registryError"></div>
																	<p>{{'smartPerformance.tunePCPerformance.tabSet1.tab5' |translate }}</p>
																</li>
															</ul>
														</div>
														<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
														<div class="row my-5 smart-features">
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.tunePCPerformance.tabSet2.tab1Heading' |translate }}</h3>
																<p>{{'smartPerformance.tunePCPerformance.tabSet2.tab1Description' |translate }}</p>
															</div>
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.tunePCPerformance.tabSet2.tab2Heading' |translate }}</h3>
																<p>{{'smartPerformance.tunePCPerformance.tabSet2.tab2Description' |translate }}</p>
															</div>
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.tunePCPerformance.tabSet2.tab3Heading' |translate }}</h3>
																<p>{{'smartPerformance.tunePCPerformance.tabSet2.tab3Description' |translate }}</p>
															</div>
														</div>
													</ng-template>
												</ngb-tab>
												<ngb-tab id="main-2">
													<ng-template ngbTabTitle>
														<div class="icomoon icomoon-boost-internet"></div>{{'smartPerformance.boostInternetPerformance.title' |translate }}
													</ng-template>
													<ng-template ngbTabContent>
														<h2>{{'smartPerformance.boostInternetPerformance.heading' |translate }}</h2>
														<h5>{{'smartPerformance.boostInternetPerformance.description' |translate }}</h5>
														<div class="icon-bar my-5">
															<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-e-junk"></div>
																	<p>{{'smartPerformance.boostInternetPerformance.tabSet1.tab1' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-network-settings"></div>
																	<p>{{'smartPerformance.boostInternetPerformance.tabSet1.tab2' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-browser-settings"></div>
																	<p>{{'smartPerformance.boostInternetPerformance.tabSet1.tab3' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-browser-security"></div>
																	<p>{{'smartPerformance.boostInternetPerformance.tabSet1.tab4' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-wifi"></div>
																	<p>{{'smartPerformance.boostInternetPerformance.tabSet1.tab5' |translate }}</p>
																</li>
															</ul>
														</div>
														<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
														<div class="row my-5 smart-features">
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.boostInternetPerformance.tabSet2.tab1Heading' |translate }}</h3>
																<p>{{'smartPerformance.boostInternetPerformance.tabSet2.tab1Description' |translate }}</p>
															</div>
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.boostInternetPerformance.tabSet2.tab2Heading' |translate }}</h3>
																<p>{{'smartPerformance.boostInternetPerformance.tabSet2.tab2Description' |translate }}</p>
															</div>
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.boostInternetPerformance.tabSet2.tab3Heading' |translate }}</h3>
																<p>{{'smartPerformance.boostInternetPerformance.tabSet2.tab3Description' |translate }}</p>
															</div>
														</div>
													</ng-template>
												</ngb-tab>
												<ngb-tab id="main-3">
													<ng-template ngbTabTitle>
														<span class="icomoon icomoon-malware-security"></span>{{'smartPerformance.malwareSecurity.title' |translate }}
													</ng-template>
													<ng-template ngbTabContent>
														<h2>{{'smartPerformance.malwareSecurity.heading' |translate }}</h2>
														<h5>{{'smartPerformance.malwareSecurity.description' |translate }}</h5>
														<div class="icon-bar my-5">
															<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-malware-scan"></div>
																	<p>{{'smartPerformance.malwareSecurity.tabSet1.tab1' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-zero-day"></div>
																	<p>{{'smartPerformance.malwareSecurity.tabSet1.tab2' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-errant-program"></div>
																	<p>{{'smartPerformance.malwareSecurity.tabSet1.tab3' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-annoying-adware"></div>
																	<p>{{'smartPerformance.malwareSecurity.tabSet1.tab4' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-security-settings"></div>
																	<p>{{'smartPerformance.malwareSecurity.tabSet1.tab5' |translate }}</p>
																</li>
															</ul>
														</div>
														<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
														<div class="row my-5 smart-features">
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.malwareSecurity.tabSet2.tab1Heading' |translate }}</h3>
																<p>{{'smartPerformance.malwareSecurity.tabSet2.tab1Description' |translate }}</p>
															</div>
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.malwareSecurity.tabSet2.tab2Heading' |translate }}</h3>
																<p>{{'smartPerformance.malwareSecurity.tabSet2.tab2Description' |translate }}</p>
															</div>
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.malwareSecurity.tabSet2.tab3Heading' |translate }}</h3>
																<p>{{'smartPerformance.malwareSecurity.tabSet2.tab3Description' |translate }}</p>
															</div>
														</div>
													</ng-template>
												</ngb-tab>

												<ngb-tab id="main-4">
													<ng-template ngbTabTitle>
														<span class="icomoon icomoon-proactive"></span>{{'smartPerformance.proactiveAutomated.title' |translate }}
													</ng-template>
													<ng-template ngbTabContent>
														<h2>{{'smartPerformance.proactiveAutomated.heading' |translate }}</h2>
														<h5>{{'smartPerformance.proactiveAutomated.description' |translate }}</h5>
														<div class="icon-bar my-5">
															<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-schedule-scan"></div>
																	<p>{{'smartPerformance.proactiveAutomated.tabSet1.tab1' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-on-demand"></div>
																	<p>{{'smartPerformance.proactiveAutomated.tabSet1.tab2' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-automated"></div>
																	<p>{{'smartPerformance.proactiveAutomated.tabSet1.tab3' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-effective"></div>
																	<p>{{'smartPerformance.proactiveAutomated.tabSet1.tab4' |translate }}</p>
																</li>
																<li class="icon-box d-flex justify-content-center align-items-center py-3">
																	<div class="icomoon icomoon-7-protection"></div>
																	<p>{{'smartPerformance.proactiveAutomated.tabSet1.tab5' |translate }}</p>
																</li>
															</ul>
														</div>
														<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
														<div class="row my-5 smart-features">
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.proactiveAutomated.tabSet2.tab1Heading' |translate }}</h3>
																<p>{{'smartPerformance.proactiveAutomated.tabSet2.tab1Description' |translate }}</p>
															</div>
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.proactiveAutomated.tabSet2.tab2Heading' |translate }}</h3>
																<p>{{'smartPerformance.proactiveAutomated.tabSet2.tab2Description' |translate }}</p>
															</div>
															<div class="col-4">
																<h3 class="title">{{'smartPerformance.proactiveAutomated.tabSet2.tab3Heading' |translate }}</h3>
																<p>{{'smartPerformance.proactiveAutomated.tabSet2.tab3Description' |translate }}</p>
															</div>
														</div>
													</ng-template>
												</ngb-tab>
											</ngb-tabset>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col col-12 free-scan">
										<div class="row">
											<div class="contents">
												<button class="action-button btn-block" (click)="scanNow()"
												vtrMetrics
												metricsItem="btn.freepcscan"
												metricsEvent="FeatureClick"
												metricsParent="Page.Support.SmartPerformance"
												[ngbTooltip]="'smartPerformance.scanButton' | translate"
												placement="top">{{'smartPerformance.scanButton' |translate}}</button>
												<div class="description">
													<p [innerHTML]="'smartPerformance.startScan' |translate"></p>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						<div class="system-scan-complete" *ngIf="isScanningCompleted">
								<div class="row">
									<div class="col col-12 offline-info-background">
										<div class="w-100">
											<div class="row d-flex justify-content-between">
												<div class="mt-5">
													<h1>{{'smartPerformance.scanCompletePage.title' |translate }}</h1>
													<h3>{{'smartPerformance.scanCompletePage.description' |translate }}</h3>
												</div>
												<fa-icon [icon]="['fas', 'laptop']"></fa-icon>
											</div>
											<hr class="light-dashline" />
										</div>
										<div class="performance-slider-block scan-results">
											<h3 class="recomendation-text">{{'smartPerformance.scanCompletePage.scanRates' |translate }}<span>4</span></h3>
											<div class="slider">
												<div class="verticle-lines">
													<div class="scan-pointer">&#9660;</div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
													<div class="line"></div>
												</div>
												<div class="condition">
													<div class="critical">{{'smartPerformance.critical' |translate }}</div>
													<div class="well">{{'smartPerformance.allisWell' |translate }}</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="summary-block">
										<h2 class="title-big mb-3">{{'smartPerformance.scanCompletePage.summary' |translate }}</h2>
										<p>{{'smartPerformance.scanCompletePage.summaryDetails' |translate }}</p>
										<div class="d-flex justify-content-between my-5">
											<button class="action-button"
											vtrMetrics
											metricsEvent="FeatureClick"
											metricsParent="Page.Support.SmartPerformance"
											metricsItem="btn.backtohome"
											>{{'smartPerformance.scanCompletePage.signupRepairButton' |translate }}</button>
											<div class="desc">
												<p>{{'smartPerformance.scanCompletePage.monthlyPricing' |translate }}<a href="#" class="para-link" vtrMetrics
													metricsItem="btn.learnmore"
													metricsParent="Page.Support.SmartPerformance"
													metricsEvent="FeatureClick">Learn more</a></p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">

								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</left-content>
<right-content>
	<div class="vtr-ui-smart-performance vtr-page">
	<div class="row vtr-page-content"  *ngIf="!isScanning && !isScanningCompleted && !isSubscribed">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="vtr-page-shift-up">
						<div class="container-fluid">

							<div class="row mb-40" *ngIf="!isScanning && !isScanningCompleted">
								<div class="col col-12">
									<vtr-widget-subscriptiondetails (subScribeEvent)="changeManageSubscription($event)"></vtr-widget-subscriptiondetails>
								</div>
							</div>

							<div class="row mb-40"  *ngIf="!isScanning && !isScanningCompleted">
								<div class="col col-12">
								<!----------Scan Schedule--------------->
								<vtr-ui-scan-schedule></vtr-ui-scan-schedule>
								<!----------Scan Schedule--------------->
								</div>
							</div>

							<div class="row mb-40">
								<div class="col col-12">
									<div class="feedback-container">
										<div class="container-fliud">
											<div class="row">
												<div class="col">
													<div class="title">{{'smartPerformance.feedbackContainer.title' | translate}}</div>
													<div class="description">{{'smartPerformance.feedbackContainer.subtitle' | translate}}</div>
													<div class="pt-5 text-center">
														<button class="feedback-btn"
														vtrMetrics
														metricsEvent="FeatureClick"
														metricsParent="Page.Support.SmartPerformance" 
														metricsItem="btn.sp.sendfeedback"
														type="button"
														(click)="onclickFeedback()"
														[ngbTooltip]="'smartPerformance.feedbackContainer.buttonText' | translate"
														placement="top">{{'smartPerformance.feedbackContainer.buttonText' | translate}}
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div></div>
</right-content>
</vtr-page-layout>
<vtr-ui-smart-performance-scanning *ngIf="isScanning" (sendModelStatus)="cancelScanfromScanning()"
	[scheduleScanData]="scheduleScanObj" [isScheduleScan]="isScheduleScan" [isAutoScanRunning]="isScheduleScanRunning">
</vtr-ui-smart-performance-scanning>
<vtr-ui-smart-performance-scan-summary *ngIf="(isScanningCompleted || isSubscribed) && !isScanning "
	[hasSubscribedScanCompleted]="hasSubscribedScanCompleted" [inputIsScanningCompleted]="showSubscribersummary"
	(backToScan)="changeScanEvent()" (backToNonSubscriber)="changeSummaryToHome()" [rating]="rating" [tune]="tune" [boost]="boost" [secure]="secure">
</vtr-ui-smart-performance-scan-summary>
