<div class="vtr-ui-smart-performance vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [back]="back"
				[title]="title">
			</vtr-header-main>
		</div>
	</div>
	 <!-- {{isSubscribed}} and {{isScanningCompleted}} and {{isScanning}} -->
	<div class="row vtr-page-content"  *ngIf="!isScanning && !isScanningCompleted && !isSubscribed">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-lg-8 col-xl-8 vtr-page-left-column">
						<div class="vtr-page-shift-up">
							<div class="vtr-device-information">
								<div class="container-fluid">
									<div class="row">
										<div class="col col-12 offline-info-background py-5">
											<div class="d-flex justify-content-center w-100">
												<div class="row">
													<div class="icon icon-computer-scan-756353"></div>
													<div class="mt-5 pt-5 pl-5">
														<h1>Performance & Security Check</h1>
														<h3>Let's diagnose and resolve performance and security issues in computer</h3>
													</div>
												</div>
											</div>
											<div class="d-flex justify-content-center mb-4">
												<button class="action-button" (click)="isScanning=!isScanning">free pc scan</button>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col col-12 pc-performance-block">
											<h1>How would you rate your PC Performance?</h1>
											<h5>PC running slow? Applications taking too long to respond? Windows
												errors?</h5>
											<h5>Malware concerns? Let's diagnose whats's causing the problem and fix it.
											</h5>
											<div class="performance-slider-block">

												<div class="slider">
													<div class="condition">
														<div class="critical">critical</div>

														<div class="well">all is well</div>
													</div>
													<div class="verticle-lines">
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
													</div>
												</div>
												<div class="pc-status-info">
													<p class="info-text"><span>Your PC needs a tune-up</span></p>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col col-12 pc-performance-block">
											<h2>Top-notch PC performance. Always</h2>
											<h3>Our software can proactively scan these areas of your system 24X7 to
												find and fix issues as they arise so that your PC always has top-notch
												performance.</h3>

										</div>
									</div>
									<div class="row">
										<div class="col col-12 pc-performance-block">
											<div class="row">
												<ngb-tabset class="tabset-main">
													<ngb-tab id="main-1">
														<ng-template ngbTabTitle>
															<div class="icon icon-performance"></div>TUNE PC
															PERFORMANCE
														</ng-template>
														<ng-template ngbTabContent>
															<h2>Show Your Computer some extra love</h2>
															<h3>Even the best computer will benefit from periodic
																tune-ups. Get a tuneup and get more done with our powerful app.
															</h3>
															<div class="icon-bar my-5">
																<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-recycling-2025397"></div>
																		<p>Accumulated Junk</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-noun-touch-200038"></div>
																		<p>Usability Issues</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-microsoft-windows-22"></div>
																		<p>Windows Settings</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-error-1582584"></div>
																		<p>System Errors</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-noun-registery-key-1581151"></div>
																		<p>Registry Errors</p>
																	</li>
																</ul>
															</div>
															<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
															<div class="row my-5 smart-features">
																<div class="col-sm-4">
																	<h3 class="title">IT'S EASY</h3>
																	<p>We don't confuse you with tech mumbo jumbo</p>
																</div>
																<div class="col-sm-4">
																	<h3 class="title">IT'S FAST</h3>
																	<p>Get a 100 point check done in under 5 minutes</p>
																</div>
																<div class="col-sm-4">
																	<h3 class="title">IT'S SAFE</h3>
																	<p>No scareware, built with best practices</p>
																</div>
															</div>
														</ng-template>
													</ngb-tab>
													<ngb-tab id="main-2">
														<ng-template ngbTabTitle>
															<div class="icon icon-internet-performance"></div>
															BOOST INTERNET PERFORMANCE
														</ng-template>
														<ng-template ngbTabContent>
															<h2>Give your internet a boost</h2>
															<h3>For many, slow, or no Wi-Fi, is like living off-grid. Let's configure your internet, Wi-Fi, and browser settings for optimal performance.
															</h3>
															<div class="icon-bar my-5">
																<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-router"></div>
																		<p>Network Settings</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-icon-browser-settings"></div>
																		<p>Browser Settings</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-visible-to-online-trackers"></div>
																		<p>Browser Security</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-wifi"></div>
																		<p>Wi-Fi Performance</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-icon-e-junk"></div>
																		<p>E-junk</p>
																	</li>
																</ul>
															</div>
															<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
															<div class="row my-5 smart-features">
																<div class="col-sm-4">
																	<h3 class="title">SLOW INTERNET</h3>
																	<p>We will help you get maximum performance.</p>
																</div>
																<div class="col-sm-4">
																	<h3 class="title">CONNECTIVITY ERRORS</h3>
																	<p>We can diagnose and repair your connectivity problems.</p>
																</div>
																<div class="col-sm-4">
																	<h3 class="title">BROWSER ISSUES</h3>
																	<p>We configure and fix all popular web browsers.</p>
																</div>
															</div>
														</ng-template>
													</ngb-tab>
													<ngb-tab id="main-3">
														<ng-template ngbTabTitle>
															<div class="icon icon-malware-security"></div>
															MALWARE & SECURITY
														</ng-template>
														<ng-template ngbTabContent>
															<h2>Give your internet a boost</h2>
															<h3>For many, slow, or no Wi-Fi, is like living off-grid. Let's configure your internet, Wi-Fi, and browser settings for optimal performance.
															</h3>
															<div class="icon-bar my-5">
																<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-virus"></div>
																		<p>Malware scan</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-icon-zero-day"></div>
																		<p>Zero-day infection</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-icon-security-settings"></div>
																		<p>Security settings</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-uninstall-375971"></div>
																		<p>Errant programs</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-multitasking"></div>
																		<p>Annoying adware</p>
																	</li>
																</ul>
															</div>
															<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
															<div class="row my-5 smart-features">
																<div class="col-sm-4">
																	<h3 class="title">ZERO DAY VIRUS</h3>
																	<p>We remove even the newest malware infection.</p>
																</div>
																<div class="col-sm-4">
																	<h3 class="title">SPYWARE REMOVAL</h3>
																	<p>We remove all potentially unwanted programs.</p>
																</div>
																<div class="col-sm-4">
																	<h3 class="title">LIGHT AND FAST</h3>
																	<p>Scan typically takes 5-10 mins.</p>
																</div>
															</div>
														</ng-template>
													</ngb-tab>
													
													<ngb-tab id="main-4">
														<ng-template ngbTabTitle> 
															<div class="icon icon-easy-resume"></div>
															PROACTIVE & AUTOMATED
														</ng-template>
														<ng-template ngbTabContent>
															<h2>Get the power to resolve issues, before they impact you!</h2>
															<h3>Smart performance constantly looks for hundreds of issues that impact PC performance. We fix them proactively, giving you peace of mind.
															</h3>
															<div class="icon-bar my-5">
																<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-icon-schedule-scan"></div>
																		<p>Schedule Scan</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-responsive"></div>
																		<p>On-demand Scan</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-icon-automated-resolution"></div>
																		<p>Automaded resolution</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-thumbsup"></div>
																		<p>It's effective</p>
																	</li>
																	<li class="icon-box d-flex justify-content-center align-items-center py-3">
																		<div class="icon icon-icon-247-protection"></div>
																		<p>24/7 protection</p>
																	</li>
																</ul>
															</div>
															<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->

														</ng-template>
													</ngb-tab>
												</ngb-tabset>
											</div>
											 
										</div>
									</div>
									
									<div class="row">
										<div class="col col-12 free-scan">
											<div class="row">
												<div class="contents">
													<button class="action-button">free pc scan</button>
													<div class="description">
														<p><strong>Ready to start the scan?</strong> Let's diagnose and resolve performance and security issues in your computer</p>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
								 <!-- <vtr-ui-smart-performance-scanning 
								*ngIf="isScanning" (sendScanStatus)="changeScanStatus()">
							</vtr-ui-smart-performance-scanning> -->
							
							<div class="system-scan-complete" *ngIf="isScanningCompleted">
									<div class="row">
										<div class="col col-12 offline-info-background">
											<div class="w-100">
												<div class="row d-flex justify-content-between">
													<div class="mt-5">
														<h1>System scan is now complete</h1>
														<h3>Here is what we found on your Lenovo Vantage 720s</h3>
													</div>
													<fa-icon [icon]="['fas', 'laptop']"></fa-icon>
												</div>
												<hr class="light-dashline" />
											</div>
											<div class="performance-slider-block scan-results">
												<h3 class="recomendation-text">Our scan rates PC at: <span>4</span></h3>
												<div class="slider">
													<div class="verticle-lines">
														<div class="scan-pointer">&#9660;</div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
														<div class="line"></div>
													</div>
													<div class="condition">
														<div class="critical">critical</div>
														<div class="well">all is well</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="summary-block">
											<h2 class="title-big mb-3">Summary</h2>
											<p>Our scan found <span>54 issues</span> in following areas below. Sign up now to fix this problems and keep your system running smoothly. Our software can proactively scan these areas of your system 24x7 to find and fix issues as they arise so that your PC always has top-notch performance.</p>
											<div class="d-flex justify-content-between my-5">
												<button class="action-button">Sign up and repair now</button>
												<div class="desc">
													<p><b>Only $2 per month.</b> We will automatically fix these issues. <br>
													Once today and every week thereafter. <a href="#" class="para-link">Learn more</a></p>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
									 
									</div>
								</div>
							</div>							
						</div>
						
					</div>
					
					<div class="col-sm-12 col-lg-4 col-xl-4 vtr-page-right-column">
						 
						<div class="vtr-page-shift-up">
							<div class="container-fluid">
								<div class="row mb-40" *ngIf="!isScanning && !isScanningCompleted">
									
									<div class="col col-12">
										<div class="subscription-details sidebar-widget">
											<div class="title pb-3">
												Subscription details
											</div>
											<div class="card-info">
												<p>You are subscribed to the Lenovo Smart Performance Service. During this time all the features are fully available to keep your PC protected and running smoothly. <a href="#" class="para-link">Learn more</a></p>
											</div>
											<ul class="status-list">
												<li class="d-flex justify-content-between">
													<div class="item">Start date</div>
													<div class="status">{{startDate}}</div>
												</li>
												<li class="d-flex justify-content-between">
													<div class="item">End date</div>
													<div class="status">{{endDate}}</div>
												</li>
												<li class="d-flex justify-content-between">
													<div class="item">Status</div>
													<div class="status"><div [ngClass]="{'badge-danger': status==='INACTIVE', 'badge-success': status==='ACTIVE' }" class="badge badge-pill">{{status}}</div></div>
												</li>
											</ul>
											<a href="#" class="link-text">Manage Subscription</a>
										</div>
									</div>
								</div>
								
								<div class="row mb-40"  *ngIf="!isScanning && !isScanningCompleted">
									<div class="col col-12">
										<div class="scan-settings sidebar-widget">
											<div class="title pb-3">
												Scan settings
											</div>
											<div class="card-info">
												<p>Enable or disable the scan and set the scan schedule</p>
											</div>
											<ul class="chevron-list">
                                                <li class="d-flex justify-content-between">
                                                    <div class="item d-flex">
                                                        <!-- <fa-icon [icon]="['fas', 'laptop']"></fa-icon> -->
                                                        <strong>Enable Scan</strong>
                                                    </div>
                                                    <div class="status d-flex justify-content-end">
                                                        <vtr-ui-switch-onoff [value]="true"
                                                        [disabled]="false"></vtr-ui-switch-onoff>
                                                        <!-- <fa-icon [icon]="['fas', 'laptop']"></fa-icon> -->
                                                    </div>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <div class="item d-flex">
                                                        <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                                                        <strong>Once a week</strong>
                                                    </div>
                                                    <div class="status d-flex justify-content-end">
                                                        <p class="mr-3"><strong>SAT</strong> | 12:00AM</p>
                                                        <fa-icon [icon]="['fal', 'chevron-down']"></fa-icon>
                                                    </div>
                                                </li>
                                            </ul>
											<!-- <a href="#" class="link-text">Manage Subscription</a> -->
										</div>
									</div>
								</div>

								<!-- <div class="row mb-40"  *ngIf="isScanning">
									<div class="col col-12">
										<div class="accumulated-junk sidebar-widget">
											<div class="mini-text">
												NOW SCANNING DETAIL
											</div>
											<div class="title pb-3">
												<fa-icon [icon]="['fas', 'laptop']" class="mr-2"></fa-icon>
												{{currentSubItemCategory.name}}
											</div>
											<div class="card-info">
												 <p>This is a brief description of what Accumulated Junk means to a user and why they should know more about it. What is it, why is it important, how is it affecting my computer performance, how will I benifit from the junk being cleaned up?</p>  
												<p>{{currentSubItemCategory.desc}}</p>
											</div>
											<div class="d-flex">
												<div class="labels d-flex flex-column">
													<span class="badge badge-primary">CURRENT:</span>
													<span class="badge badge-light">UP NEXT:</span>
												</div>
												<div class="ms-slider">
													<ul class="junk-list ms-slider__words">
														<li class="ms-slider__word" *ngFor="let item of subItems">{{item.key}}</li>
														 <li class="ms-slider__word">Applying registry and shortcut fixes</li>
														<li class="ms-slider__word">Scanning and fixing critical services</li>
														<li class="ms-slider__word">Modifying windows settings</li>
														<li class="ms-slider__word">Improving start-up performance</li>  
													</ul>
												</div>
											</div>
											  <a href="#" class="link-text">Manage Subscription</a>  
									</div>
								</div> -->

								<!-- <div class="row mb-40"  *ngIf="isScanningCompleted">
									<div class="col col-12">
										<div class="recommended-action sidebar-widget">
											<div class="title pb-3">
												Recommended Action
											</div>
											<div class="card-info">
												<p>We will automatically fix these issues. Once today and every thereafter <a href="#" class="link-text">Learn more</a></p>
											</div>
											<div class="pricing">
												<h2 class="big-text">$19.99 / Yr</h2>
												<small>less than $2 per month</small>
											</div>
											<p>Longer term? Even more savings!</p>
											<button class="action-button mt-2" (click)=openSubscribeModal()>Sign up</button>
										</div>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<vtr-ui-smart-performance-scanning 
*ngIf="isScanning" (sendScanStatus)="changeScanStatus()">
</vtr-ui-smart-performance-scanning>
<vtr-ui-smart-performance-scan-summary *ngIf="(isScanningCompleted || isSubscribed) && !isScanning " (backToScan)="changeScanEvent()"></vtr-ui-smart-performance-scan-summary>
</div>
