@import '../../../app.theme.scss';
.light-dashline {
	border-top: 1px solid $screen_light_15;
}
.vtr-ui-smart-performance {
	.vtr-device-information {
		box-shadow: $drop_shadow;
		border-radius: 0.8rem;
		background: $light;

		::ng-deep .tooltip-inner {
			@include tt-inner()
		}
		::ng-deep .arrow::before {
			@include arrow-before()
		}
		
		.offline-info-background {
			border-top-left-radius: 0.8rem;
			border-top-right-radius: 0.8rem;
			height: 100%;
			width: 100%;
			background: linear-gradient($gradient_angle, $main_darkest 0%, $main_darker 100%);
			box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
			padding: 0rem 4rem;
			@media #{$breakpoint_lg}{
				padding-left: 3rem;
				padding-right: 3rem;
			}
			@media #{$breakpoint_sm}{
				padding-left: 2.4rem;
				padding-right: 2.4rem;
			}
			.hero-content {
				max-width: 60rem;
				margin: auto;
			}
			.main-title {
				margin-top: 5rem;
				@media #{$breakpoint_xl}{
					margin-bottom: 3rem;
				}
				@media #{$breakpoint_sm}{
					margin-top: 0rem;
					margin-bottom: 0rem;
				}
				h1 {
					color: $light;
					font-size: 3.4rem;
					font-weight: $weight_light;
					@media #{$breakpoint_xl}{
						font-size: 3.1rem;
						margin-bottom: 1.2rem;
					}
					@media #{$breakpoint_sm}{
						font-size: 2rem;
						margin-bottom: 1.2rem;
					}
				}
				h3 {
					font-size: $fontsize_sm;
					color: $light;
					opacity: 0.5;
					line-height: 2;
					font-weight: $weight_regular;
					line-height: 2.4rem;
					@media #{$breakpoint_sm}{
						font-weight: $weight_light;
						font-size: $fontsize_sm;
						margin-bottom: 3.2rem;
						line-height: auto;
					}
				}
			}
			.icomoon {
				color: #7D5FEF;
				font-size: 13rem;
				margin-top: 1rem;
				margin-bottom: -2rem;
				@media #{$breakpoint_xl} {
					font-size: 12rem;
					width: 12.6rem;
					height: 10.9rem;
				}
				@media #{$breakpoint_sm} {
					font-size: 9.7rem;
					margin-top: -2rem;
					width: 8rem;
					height: 8rem;
				}
			}
			.action-button {
				border-radius: 2.5rem;
				background: $gradient_main;
				text-transform: uppercase;
				padding: 0 5rem;
				color: $light;
				font-size: 1.5rem;
				height: 5rem;
				font-weight: $weight_medium;
				line-height: 5rem;
				text-align: center;
				border: 0rem;
				cursor: pointer;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				@media #{$breakpoint_sm}{
					font-size: 1.2rem;
					padding:0rem 2.5rem;
					margin-bottom:-1rem;					
				}
			}
			.disabled-button{
				background: $main_shade;
				text-transform: uppercase;
				padding: 0 5rem;
				cursor: not-allowed;
				height: 5rem;
				font-weight: $weight_medium;
				opacity: 0.7;
				border-radius: 2.5rem;
				color: $light;
				font-size: 1.5rem;
				line-height: 5rem;
				text-align: center;
				border: 0rem;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				@media #{$breakpoint_sm}{
					font-size: 1.2rem;
					padding:0rem 2.5rem;
					margin-bottom:-1rem;					
				}
			}
		}
		.pc-performance-block {
			padding: 2.5rem 2.5rem 0 2.5rem;
			h1 {
				font-size: 3rem;
				font-weight: $weight_light;
				color: $shade_blue;
				margin-bottom: 2rem;
				@media #{$breakpoint_xl}{
					font-size: 2.2rem;
					margin-bottom: 1rem;
				}
				@media #{$breakpoint_sm}{
					font-size: 2rem;
					margin-bottom: 1rem;
				}
			}
			h2 {
				font-size: $fontsize_xl;
				font-weight: $weight_light;
				color: $shade_blue;
				margin-bottom: 2rem;
				padding: 0;
				@media #{$breakpoint_sm}{
					font-size: $fontsize_lg;
					margin-bottom: 1rem;
				}
			}
			h5 {
				font-size: $fontsize_sm;
				font-weight: $weight_light;
				color: $shade_blue;
				line-height: 2.1rem;
				max-width: 60rem;
				@media #{$breakpoint_xl}{
					max-width: 54rem;
				}
				@media #{$breakpoint_sm}{
					font-size: $fontsize_xs;
					margin-bottom: 1rem;
				}
			}
			.performance-slider-block {
				margin: 2rem 0;
				background: $grey_lighter;
				width: 100%;
				padding: 3.5rem 2rem 2rem 2rem;
				border-radius: 0.5rem;
				@media #{$breakpoint_sm}{
					margin-bottom: 0rem;
				}
				.slider {
					width: 100%;
					height: 3rem;
					background: linear-gradient(to right, #d02928, #d73f26, #dd5124, #e26222, #e77222, #de7d15, #d48708, #c99000, #ad9500, #909700, #729816, #51982c);
					border-radius: 2rem;
					position: relative;
					.condition {
						padding: 0 1.5rem;
						font-size: 1rem;
						text-transform: uppercase;
						font-weight: $weight_regular;
						.critical{
							top: -18px;
							color: #D00707;
							position: absolute;
						}
						.well {
							right: 10px;
							color: #51982C;
							position: absolute;
							top: -18px;
						}
					}
					.verticle-lines {
						counter-reset: lines -1;
						display: flex;
						justify-content: space-between;
						padding: 0 2rem;
						.line{
							width: 0.1rem;
							height: 2rem;
							margin-top: 0.5rem;
							border-left: 0.2rem dotted $main_lightest;
							&::after {
								counter-increment: lines;
								content: counter(lines);
								position: relative;
								bottom: -2.4rem;
								color: $shade_darker;
								font-size: 0.8rem;
								left: -0.5rem;
							}
						}

					  }
					  .divider{
						position:absolute;
						left:50%;

						border-left:1px solid $shade_darkest;
					}
				}
				.pc-status-info{
					margin-left: 2rem;
					.info-text{						
						color: $alt;
						margin-top: 1.8rem;
						margin-bottom: 0rem;
						font-size: 1.3rem;
						width: calc(60.5% - 2rem);
						text-align: center;
						position: relative;
						font-weight: $weight_bold;
						word-break: keep-all;
						word-wrap: break-word;
						@media #{$breakpoint_sm}{
							font-size: 1rem;
							width: calc(60.5% - 2rem);
						}
						span{
							background: $grey_lighter;
							padding:0rem 0.2rem;
							position: relative;
							z-index: 9;
						}
						&::after{
							content: "";
							position: absolute;
							width: 50%;
							height: 1rem;
							background: $grey_lighter;
							left: 25%;
							bottom: 0rem;
							z-index: 1;
							@media #{$breakpoint_sm}{
								width: 70%;
								left: 15%;
							}
						}
						&::before {
							content: "";
							position: absolute;
							width: 100%;
							height: 1rem;
							border: 0.1rem solid $alt;
							border-top: none;
							left: 0;
							bottom: 0.5rem;
							z-index: 0;
						}
						&.running-well{
							width: 39%;
							margin-left: 0.5%;
							color: $green_darker;
							&::before {
								border-color: $green_darker;
							}
						}
					}
				}
			}
			:host ::ng-deep .tabset1 a.nav-link {
				color: green;
			  }

			  :host ::ng-deep .tabset1 a.nav-link.active {
				color: red;
				font-weight: bold;
			  }
			.smart-features{
				padding-left: 6rem;
				padding-right: 6rem;
				@media #{$breakpoint_xl}{
					padding-left: 0rem;
					padding-right: 0rem;
					.col-4:first-child {
						padding-left: 0rem;
					}
					.col-4:last-child {
						padding-right: 0rem;
					}
				}
				@media #{$breakpoint_md}{
					padding-left: 0rem;
					padding-right: 0rem;
					.col-4:first-child {
						padding-left: 0rem;
					}
					.col-4:last-child {
						padding-right: 0rem;
					}
				}
				@media #{$breakpoint_sm}{
					padding-left: 0rem;
					padding-right: 0rem;
					.col-4:first-child {
						padding-left: 0rem;
					}
					.col-4:last-child {
						padding-right: 0rem;
					}
				}
				.title{
					font-weight: $weight_bold;
					font-size: $fontsize_sm;
					color: $shade_blue;
					@media #{$breakpoint_sm}{
						font-size: $fontsize_xs;
						max-width: 100%;
						display: inline-block;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				p {
					font-size: $fontsize_sm;
					color: $shade_blue;
					margin-top: 1.1rem;
					font-weight: $weight_light;
					@media #{$breakpoint_sm}{
						font-size: $fontsize_xs2;
						line-height: 1.6rem;
					}
				}
				> div {
					position: relative;
					&::after{
						position: absolute;
						content: "";
						right: 0;
						top: 0;
						bottom: 0;
						width: 1px;
						height: 100%;
						background: $screen_dark_10;
						@media #{$breakpoint_sm} {
							display: none;
						}
					}
					&:last-child{
						&::after {
							display: none;
						}
					}
				}
			}
			.icon-bar {
				background: $grey_lighter;
				border-radius: 0.8rem;

				.listed-task-icons {
					padding-left: 0;
					@media #{$breakpoint_md}{
						padding-top: 0;
						padding-bottom: 0;
					}
					.icon-box {
						width: 20%;
						position: relative;
						padding:0rem 0.25rem 1rem;
						@media #{$breakpoint_sm}{
							width: auto;
							min-width: 7rem;
							position:static;
						}
						&::after {
							content: '';
							position: absolute;
							height: 100%;
							width: 1px;
							background: $light;
							right: 0;
							top: 0;
							@media #{$breakpoint_sm}{
								right: 0.5rem;
							}
						}
						&:last-child {
							&::after {
								display: none;
							}
						}
						.icomoon, .icon {
							font-size: 2.2rem;
							margin-right: 0.8rem;
							color: $menu_hover;
							// @media #{$breakpoint_xl} {
							// 	font-size: 2.2rem;
							// 	margin-right: 0.5rem;
							// }
							@media #{$breakpoint_xl}{
								font-size: 1.8rem;
								margin-right: 0.2rem;
								margin-left:0.1rem;
							}
							@media #{$breakpoint_md}{
								font-size: 1.8rem;
								margin-right: 0.2rem;
								margin-left:0.1rem;
							}
							@media #{$breakpoint_sm}{
								font-size: $fontsize_sm;
								margin-right: 0.2rem;
								margin-left:0.1rem;
							}
						}
						p {
							font-size: 1.2rem;
							line-height: 1.2rem;
							margin-top: 0.4rem;
							@media #{$breakpoint_xl}{
								font-size: 1rem;
								line-height: 1.2rem;
								margin-bottom: 0;
								margin-top: 0;
								max-width: 5.5rem;	
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;		
							}
							@media #{$breakpoint_md}{
								font-size: 1rem;
								line-height: 1.2rem;
								margin-bottom: 0;
								margin-top: 0;
								max-width: 5.5rem;
							}
							@media #{$breakpoint_sm}{
								font-size: 1rem;
								line-height: 1.2rem;
								margin-bottom: 0;
								margin-top: 0;
								max-width: 5.5rem;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;				
								font-weight:$weight_light;
							}
						}
					}
				}
			}
			&::ng-deep {
				.tabset-main{
					.nav-tabs {
						.nav-item {
							&:last-child {
								position: relative;
								&:before {
									position: absolute;
									content: '\2605';
									top: -0.1rem;
									left: 0.5rem;
									color: #fff;
									font-size: 2rem;
									z-index: 9;
								}
								&:after {
									position: absolute;
									content: '';
									width: 0;
									height: 0;
									border-left: 3rem solid transparent;
									border-right: 3rem solid transparent;
									border-bottom: 3rem solid #4579f0;
									top: -0.3rem;
									left: -1.8rem;
									transform: rotate(-45deg);
									z-index: 5;
								}
								.nav-link{
									box-sizing: border-box;
									border: 0.2rem solid $main !important;
									position: relative;
								}
							}
						}
					}
				}
			}
		}
		.free-scan {
			background: $main_darkest;
			padding: 3rem;
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
			@media #{$breakpoint_sm}{
				padding: 2.4rem;
			}
			.contents {
				display: flex;
				justify-content: center;
				width: 100%;
				::ng-deep .tooltip-inner {
					@include tt-inner()
				}
				::ng-deep .arrow::before {
					@include arrow-before()
				}
				.action-button {
					border-radius: 2.5rem;
					background: $gradient_main;
					text-transform: uppercase;
					padding: 0 2.5rem;
					color: $light;
					font-size: 1.5rem;
					height: 5rem;
					font-weight: $weight_medium;
					line-height: 5rem;
					text-align: center;
					border: 0rem;
					cursor: pointer;
					margin-right: 3rem;
					max-width: 25rem;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					@media #{$breakpoint_md}{
						margin-right: 2rem;
					}
					@media #{$breakpoint_sm}{
						font-size: 1.2rem;
						max-width: 15.2rem;
						padding:0rem 1rem;					
					}
				}
				.disabled-button {
					border-radius: 2.5rem;
					background: $main_shade;
					text-transform: uppercase;
					padding: 0 2.5rem;
					color: $light;
					font-size: 1.5rem;
					height: 5rem;
					font-weight: $weight_medium;
					line-height: 5rem;
					text-align: center;
					border: 0rem;
					cursor: not-allowed;
					margin-right: 3rem;
					max-width: 25rem;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					@media #{$breakpoint_md}{
						margin-right: 2rem;
					}
					@media #{$breakpoint_sm}{
						font-size: 1.2rem;
						max-width: 15.2rem;
						padding:0rem 1rem;					
					}
				}
				.description {
					max-width: 40rem;
					@media #{$breakpoint_sm} {
						margin-top: 0.5rem;
					}
					p {
						strong {
							font-weight: $weight_bold;
						}
						font-size: 1.6rem;
						color: $main_lightest;
						@media #{$breakpoint_sm}{
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}

	:host ::ng-deep .tabset1 a.nav-link {
		color: green;
	  }

	  :host ::ng-deep .tabset1 a.nav-link.active {
		color: red;
		font-weight: bold;
	  }
	.warranty-box {
		border-radius: $border_radius;
		background-size: cover;
		color: $light;
		box-shadow: $drop_shadow;
		padding: 4rem;
		letter-spacing: 0;
		&.expired {
			background: url("~/assets/images/warranty-bg.png") no-repeat, linear-gradient(to left top, #F17F14, #ED4E04);
		}

		.title {
			font-size: 2.5rem;
			font-weight: $weight_bold;
			text-transform: uppercase;
		}

		.sub-title {
			font-size: 1.6rem;
			font-weight: $weight_bold;
			opacity: .8;
			padding-bottom: 0.75rem;
		}

		.sub-description {
			font-size: 1.5rem;
			font-weight: $weight_medium;
			opacity: .8;
			line-height: 2.3rem;
		}

		.button {
			text-transform: uppercase;
			display: inline-block;
			width: 100%;
			height: 5rem;
			line-height: 5rem;
			border: none;
			border-radius: 10rem;
			background: $light;
			padding: 0 3rem;
			color: $main;
			font-size: 1.5rem;
			letter-spacing: 0.1rem;
			font-weight: $weight_bold;
			text-align: center;
			text-decoration: none;
			cursor: pointer;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&:hover {
				box-shadow: none;
				background: $main_lightest;
			}

			&:focus {
				box-shadow: none;
			}
		}
	}

	.sidebar-widget {
		border-radius: 0.9rem;
		background-color: $light;
		box-shadow: 0 0 1.5rem 0 $screen_dark_15;
		padding: 2.4rem;
		.title {
			font-size: 2.5rem;
			font-weight: 500;
		}
		.card-info{
			p {
				font-size: 1.2rem;
			}
		}
		.link-text {
			font-size: 1.4rem;
			padding-bottom: 0.3rem;
			border-bottom: 0.2rem solid $menu_hover;
			letter-spacing: 0.05rem;
			color: $menu_hover;
			cursor: pointer;
			font-weight: 600;
			@media #{$breakpoint_sm}{
				font-size: $fontsize_xs;
			}
		}
		.status-list {
			padding-left: 0;
			padding: 1rem 1.4rem;
			border-radius: 0.8rem;
			background: $shade_extralight;
			border: 0.1rem solid $shade_lighter;
			li {
				border-bottom: 0.1rem solid $screen_dark_05;
				line-height: 3rem;
				&:last-child{
					border-bottom: none;
				}
			}
			.item {
				font-weight: $weight_bold;
				font-size: 1.2rem;
			}
			.status {
				font-size: 1.4rem;
				min-width: 8rem;
            	text-align: center;
				.badge{
					height: 1.8rem;
					font-size: 1.2rem;
					padding-left: 1.8rem;
					padding-right: 1.8rem;
				}
			}
		}
		.chevron-list {
			padding-left: 0;
			border-radius: 0.8rem;
			background: $shade_extralight;
			border: 0.1rem solid $shade_lighter;
			li {
				padding: 1.2rem 1.6rem;
				border-bottom: 0.1rem solid $screen_dark_05;
				line-height: 3rem;
				font-size: 1.4rem;
				height: 6rem;
				.item{
					strong {
						font-size: $fontsize_xs;
						font-weight: $weight_bold;
						line-height: 3.5rem;
						color: $shade_blue;
					}
					&:first-child{
						.icomoon{
							margin-right: 0.8rem;
							color: $main;
							font-size: 2.4rem;
							height: 2.4rem;
							width: 2.4rem;
						}
					}
				}
				&:last-child{
					border-bottom: none;
				}
				.status {
					strong{
						font-weight: $weight_bold;
					}
				}
			}
		}
		.labels {
			.badge {
				font-size: 1.2rem;
				margin-bottom: 0.6rem;
			}
			.badge-primary{
				position: relative;
				height: 2rem;
				&::after {
					content: "";
					position: absolute;
					top:1px;
					right:-7px;
					width: 0px;
					height: 0px;
					border-top: 7px solid transparent;
					border-bottom: 7px solid transparent;
					border-left: 7px solid $main;
				}
			}
			.badge-light {
				background: transparent;
			}
		}
		.junk-list {
			position: relative;
			padding-left: 3rem;
			list-style: none;
			li {
				line-height: 2.7rem;
				font-size: 1.2rem;
			}
		}
		&.recommended-action{
			background-color: #526fff;
			background-image: linear-gradient(45deg, #526fff 25%, #f175fd 100%);
			.title{
				color: $light;
				text-transform: uppercase;
			}
			.card-info {
				p {
					font-size: 1.6rem;
					color: $light;
				}
			}
			.pricing{
				.big-text {
					font-size: 5.5rem;
					font-weight: $weight_black;
					color: $light;
				}
				small {
					text-transform: uppercase;
					color: $gray;
					font-size: 1.6rem;
					font-weight: $weight_black;
				}
			}
			p {
				color: $light;
				font-size: 1.6rem;
			}
			.action-button {
				border-radius: 2.5rem;
				background: $light;
				text-transform: uppercase;
				padding: 0 5rem;
				color: $main;
				font-size: 1.5rem;
				height: 5rem;
				font-weight: $weight_medium;
				line-height: 5rem;
				text-align: center;
				border: 0rem;
				cursor: pointer;
				width: 100%;
			}
		}
	}

	.feedback-container {
		border-radius: $border_radius;
		background-color: $light;
		box-shadow: $drop_shadow;
		padding: $fontsize_xl;
		.title {
			color: $main_darker;
			font-size: $fontsize_xl;
			font-weight: $weight_600;
		}
		.description {
			color: $main_shade;
			font-size: $fontsize_xs;
			font-weight: $weight_light;
		}

		::ng-deep .tooltip-inner {
			@include tt-inner()
		}
		::ng-deep .arrow::before {
			@include arrow-before()
		}

		.feedback-btn {
			padding: 0 2.5rem;
			position: relative;
			min-height: 5.2rem;
			border-radius: 3rem;
			min-width: 12rem;
			background: transparent $gradient_blue 0% 0% no-repeat padding-box;
			border: none;
			color: $light;
			font-size: $fontsize_xs;
			font-weight: $weight_bold;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			width: 100%;
			text-transform: uppercase;

			&:hover {
				background: $blue_gradient;
			}

			&:focus {
				outline: none !important;
				box-shadow: none;
				&::after {
					@include button-outline-blue;
				}
			}

			@include ui-button-high-contrast-black;
			@include ui-button-high-contrast-white;
			@media #{$mediaquery_X4} {
				min-width: 10rem;
			}
		}
	}
}
