<div class="row vtr-widget-mcafee-content-card">
	<div class="background-container row col-12 justify-content-center">
		<div class="row description justify-content-start">
			<p class="title" [innerHTML]="'security.antivirus.others.contentCardTitle' | translate"></p>
			<p class="desc" [innerHTML]="'security.antivirus.others.contentCardDesc' | translate"></p>
			<a href="javascript:void(0)"
				id="sa-av-modal-article_link"
				[ngClass]="{'disabled': !isOnline}"
				tabindex="isOnline?0:-1"
				(click)="openArticle()"
				target="_blank"
				vtrMetrics
				metricsParent="security.antivirus"
				metricsEvent="ArticleClick"
				metricsItem="learnMore"
				metricsItemCategory="corner-article"
				metricsItemID="articleId"
				[innerHTML]="'security.antivirus.others.contentCardLearnMore' | translate"></a>
		</div>
	</div>
 	<object class="col-12 p-0 image" data="../../../../../../assets/images/antivirus/side_bar_bottom.svg" type="image/svg+xml"></object>
</div>
