<div class="vtr-battery-charge-threshold-settings">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="threshold-for-built-in-battery">
					{{ "treshold for Built in battery" }}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">

				<div class="select-box">
					<div class="label">Start charging when below</div>
					<select class="custom-select">
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>

			</div>
			<div class="col">
				<div class="select-box">
					<div class="label">Stop charging at</div>
					<select class="custom-select">
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col">

          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Automatically set to start "charging at %" to 5% below the "stop chargint at %"</label>
            </div>





			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="row-seperator">&nbsp;</div>
			</div>
    </div>

    <div class="row">
      <div class="col">
        <div class="note-box">
          <div class="note">
            <b>Note:</b>Battery Charge Threshold is still not fully active. Please unplug your machine and allow your battery to drain to or below the stop-charging threshold.

          </div>
        </div>

      </div>
    </div>
	</div>
</div>
