@import '../../../app.theme.scss';

.vtr-battery-charge-threshold-settings {
	padding-top: 1rem;
	.threshold-for-built-in-battery {
		color: $main_darker;
		font-size: 1.5rem;
		font-weight: $weight_bold;
		text-transform: uppercase;
		margin: 2rem 0 0.5rem 0;
	}
	.inputSection {
		margin-top: 1rem;
		.dropdown-toggle::after {
			display: none;
		}
		.select-title {
			font-size: 1.2rem;
			font-weight: $weight_medium;
			text-transform: uppercase;
			letter-spacing: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			text-align: left;
		}
		.select-text {
			font-size: 1.8rem;
			font-weight: $weight_light;
		}

		.toggle-close {
			.select-title {
				color: $shade;
			}
			.select-text {
				color: $shade_darker;
			}
		}

		.toggle-open {
			.select-title,
			.select-text {
				@media #{$white-on-black} {
					@include high-contrast-black-text-color;
				}
				@media #{$black-on-white} {
					@include high-contrast-white-text-color;
				}
			}
		}

		.disabled {
			.btn-block {
				pointer-events: none;
				button {
					&.btn-outline-shadow {
						background-color: #f5f7f8 !important;
						@media #{$white-on-black} {
							@include high-contrast-black-disabled-border;
							border-width: 0.2rem;
						}
						@media #{$black-on-white} {
							@include high-contrast-white-disabled-border;
							border-width: 0.2rem;
						}
					}
					.dropdown-icon {
						fa-icon {
							color: #667481 !important;
							@media #{$white-on-black} {
								@include high-contrast-black-text-color-disabled;
								opacity: 0.5;
							}
							@media #{$black-on-white} {
								@include high-contrast-white-text-color-disabled;
								opacity: 0.5;
							}
						}
					}
					.select-title,
					.select-text {
						@media #{$white-on-black} {
							@include high-contrast-black-text-color-disabled;
							opacity: 0.5;
						}
						@media #{$black-on-white} {
							@include high-contrast-white-text-color-disabled;
							opacity: 0.5;
						}
					}
				}
			}
			.auto-set-checkbox {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		.btn-block {
			button {
				padding: 0.5rem 1rem;
				min-height: 7rem;
				&.btn-outline-shadow {
					border: 1px solid $shade_lighter;
					border-radius: $border_radius_sm;
					background-color: $light;
					box-shadow: $drop_shadow;
					&:focus {
						outline: 0.1rem solid $menu_hover !important;
						outline-offset: 0.2rem !important;
						@media #{$white-on-black} {
							@include high-contrast-black-border;
						}
						@media #{$black-on-white} {
							@include high-contrast-white-border;
						}
					}
					&:hover,
					&:active {
						@media #{$white-on-black} {
							@include high-contrast-black-border;
						}
						@media #{$black-on-white} {
							@include high-contrast-white-border;
						}
					}
					&:active {
						@media #{$white-on-black} {
							@include high-contrast-black-text-color;
						}
						@media #{$black-on-white} {
							@include high-contrast-white-text-color;
						}
					}
				}
				.dropdown-icon {
					fa-icon {
						font-size: 2rem;
						color: $gray_dark;
						&.chevron-up {
							color: $main;
							@media #{$white-on-black} {
								@include high-contrast-black-text-color;
							}
							@media #{$black-on-white} {
								@include high-contrast-white-text-color;
							}
						}
					}
				}
			}
		}
		.dropdown-item {
			font-size: 1.3rem;
			@media #{$white-on-black} {
				color: $light;
			}
			@media #{$black-on-white} {
				color: $dark;
			}
			&:hover {
				background: $main_lightest;
				@media #{$white-on-black} {
					@include high-contrast-black-text-color;
				}
				@media #{$black-on-white} {
					@include high-contrast-white-text-color;
				}
			}
			&:focus {
				@media #{$white-on-black} {
					@include high-contrast-black-text-color;
				}
				@media #{$black-on-white} {
					@include high-contrast-white-text-color;
				}
			}
			&.disabled {
				pointer-events: none;
				background: $shade_lightest;
				color: $shade;
				@media #{$white-on-black} {
					@include high-contrast-black-text-color-disabled;
				}
				@media #{$black-on-white} {
					@include high-contrast-white-text-color-disabled;
				}
			}
			&:active {
				background-color: $main_lightest;
				color: $dark;
			}
		}

		.btn:focus,
		.btn:active {
			outline: none !important;
		}

		.dropdown-menu {
			margin-left: auto;
			&:hover {
				@media #{$white-on-black} {
					@include high-contrast-black-border;
				}
				@media #{$black-on-white} {
					@include high-contrast-white-border;
				}
			}
		}

		.dropdown .dropdown-menu:not(.show) {
			display: none;
		}

		.dropdown dropdown-menu.show {
			display: block;
		}
	}

	.row-seperator {
		width: 100%;
		height: 0.2rem;
		background-color: $shade_lightest;
		margin-top: 1.5rem;
	}

	.note-box {
		border: 1px solid $shade_lighter;
		border-radius: $border_radius_sm;
		background-color: $shade_lightest;
		margin: 1rem 0rem 1.5rem 0rem;
		.note {
			color: $stop;
			font-size: 1.5rem;
			line-height: 1.8em;
			padding: 1.5rem 2rem;
		}
	}
}
