@import '../../../app.theme.scss';

$charge_settings_dark_01:#34495E;
$charge_settings_dark_02:rgba(66, 78, 123, 0.4);
$charge_settings_dark_03:#667481;
$charge_settings_light_01:#E0E0E0;
$charge_settings_light_02:#ECF0F1;
$charge_settings_light_03:#E6EAEB;
$charge_settings_red_01:#E74C3C;
$charge_settings_light_04:#F5F7F8;


.vtr-battery-charge-threshold-settings {

	.threshold-for-built-in-battery {
		color:$charge_settings_dark_01;
		font-size: 0.875rem;
		font-weight: $weight_bold;
		letter-spacing: 0.055625rem;
		line-height: 1.4375rem;
		text-transform: uppercase;
		margin:0.5rem;
	}
	.select-box {
		border: 0.0625rem solid $charge_settings_light_01;
		border-radius: 0.3125rem;
		background-color:$light;
		box-shadow: 0 0 10.3125rem 0 $screen_dark_15;
		padding: 0.25rem;
		position: relative;
		margin:0.5rem;


		.label {
			color: $charge_settings_dark_02;
			font-size: 0.6875rem;
			font-weight: $weight_medium;
			line-height: 0.8125rem;
			text-transform: uppercase;
			margin-top: 0.5rem;
			padding: 0.25rem;
		  }

		  .custom-select {
			border: none;
			color:$charge_settings_dark_01;
			font-size: 1rem;
			font-weight: $weight_light;
			line-height: 1.1875rem;
		  }

	}

	.row-seperator {
		height: 0.0625rem;
		background-color: $charge_settings_light_02;
		margin:1rem;
	}
	.checkbox {
		height: 1.25rem;
		width: 1.25rem;
		border: 0.0625rem solid $charge_settings_light_03;
	}


	.custom-control-label {
		height: 1.25rem;
		color:$charge_settings_dark_03;
		font-size: 0.875rem;
		font-weight: $weight_light;
		line-height: 1.25rem;
		 margin:0.5rem;
	}

	.note-box {
		border: 0.0625rem solid $charge_settings_light_02;
		border-radius: 0.25rem;
		background-color:$charge_settings_light_04;
		box-shadow: 0 0 1.25rem 0 $screen_dark_20;
		margin:0.5rem;

		.note {
			color:$charge_settings_red_01;
			font-size: 0.875rem;
			font-weight: $weight_light;
			line-height: 1.4375rem;
			margin:0.5rem;
			padding:0.5rem;
		}
	}

	.dropdown-toggle::after {
		display: none;
	}

	.select-title{
		font-size: 7px;
		font-weight: 500;
		line-height: 13px;
	}
	.select-text{

		color: #34495E;
		font-family: Rubik;
		font-size: 16px;
		font-weight: 300;
		line-height: 19px;

	}

	.btn-outline-shadow{
		border: 1px solid #E0E0E0;
		border-radius: 5px;
		background-color: #FFFFFF;
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
	}
	.btn:focus,.btn:active {
		outline: none !important;
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
	}

	.dropdown-menu {
		width:98%;
	}


	.dropdown .dropdown-menu:not(.show){
		display:none;
	}

	.dropdown dropdown-menu.show{
		display:block;
	}





}
