@import "../../../app.theme.scss";

.vtr-battery-charge-threshold-settings {
	padding-top: 1rem;
	.threshold-for-built-in-battery {
		color: $main_darker;
		font-size: 1.5rem;
		font-weight: $weight_bold;
		text-transform: uppercase;
		margin: 2rem 0 0.5rem 0;
	}
	.inputSection {
		margin-top: 1rem;
		.dropdown-toggle::after {
			display: none;
		}
		.select-title {
			font-size: 1.2rem;
			font-weight: $weight_medium;
			text-transform: uppercase;
			color: $shade;
			letter-spacing: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			text-align: left;
		}
		.select-text {
			color: $shade_darker;
			font-size: 1.8rem;
			font-weight: $weight_light;
		}
		.disabled {
			.btn-block {
				pointer-events: none;
				button {
					&.btn-outline-shadow {
						background-color: #f5f7f8 !important;
					}
					.dropdown-icon {
						fa-icon {
							color: #667481 !important;
						}
					}
				}
			}
			.auto-set-checkbox {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		.btn-block {
			button {
				padding: 0.5rem 1rem;
				min-height: 7rem;
				&.btn-outline-shadow {
					border: 1px solid $shade_lighter;
					border-radius: $border_radius_sm;
					background-color: $light;
					box-shadow: $drop_shadow;
				}
				.dropdown-icon {
					fa-icon {
						font-size: 2rem;
						color: $main;
					}
				}
			}
		}
		.dropdown-item {
			font-size: 1.3rem;
			&:hover {
				background: $main_lightest;
			}
			&.disabled {
				pointer-events: none;
				background: $shade_lightest;
				color: $shade;
			}
		}

		.btn:focus,
		.btn:active {
			outline: none !important;
		}

		.dropdown-menu {
			margin-left: auto;
		}

		.dropdown .dropdown-menu:not(.show) {
			display: none;
		}

		.dropdown dropdown-menu.show {
			display: block;
		}

		.auto-set-checkbox {
			margin-top: 2rem;
			position: relative;
			input {
				width: 1.5rem;
				height: 1.5rem;
				position: absolute;
				top: 0.5rem;
				margin-right: 0.5rem;
				z-index: 0;
				opacity: 1;
				outline: 0;
			}
			label {
				color: $shade_blue;
				font-size: $fontsize_xs;
				font-weight: $weight_light;
				text-align: left;
				padding-left: 2rem;
			}
		}
	}

	.row-seperator {
		width: 100%;
		height: 0.2rem;
		background-color: $shade_lightest;
		margin-top: 1.5rem;
	}

	.note-box {
		border: 1px solid $shade_lighter;
		border-radius: $border_radius_sm;
		background-color: $shade_lightest;
		margin: 1rem 0rem 1.5rem 0rem;
		.note {
			color: $stop;
			font-size: 1.5rem;
			line-height: 1.8em;
			padding: 1.5rem 2rem;
		}
	}
}
