<div class="vtr-battery-charge-threshold-settings">
	<div class="container-fluid">
		<!--start of display title in row-->
		<div class="row"
			*ngIf="title && !displayNoteOnly">
			<div class="col px-5 pb-4">
				<div class="threshold-for-built-in-battery"
					id="{{textId}}-title"
					attr.aria-label="{{textId}}-title">
					{{ title }}
				</div>
			</div>
		</div>

		<!--end of display title in row-->
		<!--start of display inputs for action in row-->
		<div class="row"
			*ngIf="!displayNoteOnly">
			<div class="col">
				<div class="inputSection">
					<div class="row">
						<!--start of left dropdown box for action in row-->
						<div class="col-12 px-5 pb-4"
							[class.disabled]="bctInfo.checkboxValue || isDisabled">
							<div class="btn-group btn-block dropdown-left"
								ngbDropdown
								#startAtDrop="ngbDropdown"
								placement="bottom-right">
								<button [ngClass]="['btn','btn-outline-shadow',bctInfo.checkboxValue?'disabled':'']"
									ngbDropdownToggle
									#startToggle
									[disabled]="bctInfo.checkboxValue?true:false"
									type="button"
									id="{{textId}}-start-dropdown"
									attr.aria-label="{{textId}}-
									{{'device.deviceSettings.power.batterySettings.batteryThreshold.options.start' | translate}}.
									{{startAtDrop.isOpen()?'-':'selected '+bctInfo.startValue+'%.'}}-dropdown">
									<div class="row d-flex justify-content-between">
										<div class="col-11 pl-1 pr-1">
											<div class="select-title"
												id="{{textId}}-startcharge"
												attr.aria-label="{{textId}}-startcharge">
												{{'device.deviceSettings.power.batterySettings.batteryThreshold.options.start' | translate}}
											</div>

											<div class="select-text text-left"
												id="{{textId}}-selectedstartcharge"
												attr.aria-label="{{textId}}-selectedstartcharge">
												{{bctInfo.startValue}}%
											</div>
										</div>
										<div class="col-1 pl-1 pr-1">
											<div class="dropdown-icon">
												<fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
											</div>
										</div>
									</div>
								</button>
								<div ngbDropdownMenu
									aria-labelledby=""
									role="listbox"
									tabindex="-1">
									<a [ngClass]="['dropdown-item',item >= bctInfo.stopValue?'disabled':'']"
										ngbDropdownItem
										role="option"
										tabindex="{{item === bctInfo.startValue?0:-1}}"
										*ngFor="let item of startAtChargeOptions;let currentIndex=index;"
										(click)="[onStartValueChange(item , startToggle), $event.preventDefault()]"
										(keydown.enter)="onStartValueChange(item , startToggle)"
										id="{{textId}}-{{startAtChargeOption}}-{{item}}"
										[attr.aria-selected]="bctInfo.startValue===item?true:false"
										[disabled]="item >= bctInfo.stopValue"
										attr.aria-disabled="{{item >= bctInfo.stopValue}}"
										attr.aria-label="{{textId}}-{{'device.deviceSettings.power.batterySettings.batteryThreshold.options.start' | translate}}-Option-{{item}}">{{item}}%</a>
								</div>
							</div>
						</div>
						<!--end of left dropdown box for action in row-->
					</div>
					<div class="row">
						<!--start of right dropdown box for action in row-->
						<div class="col-12 px-5 pb-4"
							[class.disabled]="isDisabled">
							<div class="btn-group btn-block dropdown-right"
								ngbDropdown
								#stopAtDrop="ngbDropdown"
								placement="bottom-right">
								<button [ngClass]="['btn','btn-outline-shadow']"
									ngbDropdownToggle
									#endToggle
									type="button"
									id="{{textId}}-stop-dropdown"
									attr.aria-label="{{textId}}-
									{{'device.deviceSettings.power.batterySettings.batteryThreshold.options.stop' | translate}}.
									{{stopAtDrop.isOpen()?'-':'selected '+bctInfo.stopValue+'%.'}}-dropdown">
									<div class="row d-flex justify-content-between">
										<div class="col-11 pl-1 pr-1">
											<div class="select-title"
												id="{{textId}}-stopcharge"
												attr.aria-label="{{textId}}-stopcharge">
												{{'device.deviceSettings.power.batterySettings.batteryThreshold.options.stop' | translate}}
											</div>
											<div class="select-text text-left"
												id="{{textId}}-selectedStopAtCharge"
												attr.aria-label="{{textId}}-selectedStopAtCharge">
												{{bctInfo.stopValue}}%
											</div>
										</div>
										<div class="col-1 pl-0 pr-1">
											<div class="dropdown-icon">
												<fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
											</div>
										</div>
									</div>
								</button>
								<div ngbDropdownMenu
									aria-labelledby="">
									<a [ngClass]="['dropdown-item',!bctInfo.checkboxValue && (item <= bctInfo.startValue) ?'disabled':'']"
										ngbDropdownItem
										role="option"
										tabindex="{{item === bctInfo.stopValue?0:-1}}"
										*ngFor="let item of stopAtChargeOptions;let currentIndex=index;"
										(click)="[onStopValueChange(item , endToggle), $event.preventDefault()]"
										(keydown.enter)="onStopValueChange(item , endToggle)"
										id="{{textId}}-stopAtChargeOption-{{item}}"
										[disabled]="!bctInfo.checkboxValue && (item <= bctInfo.startValue)"
										[attr.aria-selected]="bctInfo.stopValue===item?true:false"
										attr.aria-disabled="{{!bctInfo.checkboxValue && (item <= bctInfo.startValue)}}"
										attr.aria-label="{{textId}}-{{'device.deviceSettings.power.batterySettings.batteryThreshold.options.stop' | translate}}-Option-{{item}}">{{item}}%</a>
								</div>
							</div>
						</div>
						<!--end of right dropdown box for action in row-->
					</div>
					<div class="row"
						*ngIf="!displayNoteOnly"
						[class.disabled]="isDisabled">
						<div class="col px-5">
							<vtr-ui-checkbox [componentId]="'cb' + textId"
								[disabled]="isDisabled"
								[value]="bctInfo.checkboxValue"
								[checked]="bctInfo.checkboxValue"
								[label]="'device.deviceSettings.power.batterySettings.batteryThreshold.options.checkboxText' | translate"
								(toggle)='toggleAutoChargeSettings($event)'>
							</vtr-ui-checkbox>
						</div>
					</div>
				</div>
			</div>
			<!--end of display inputs for action in row-->
		</div>
		<!--start of row seperator-->
		<div class="row"
			*ngIf="!displayNoteOnly">
			<div class="col px-20">
				<div class="row-seperator">&nbsp;</div>
			</div>
		</div>
		<!--end of row seperator-->

		<!--start of Note -->
		<div class="row"
			*ngIf="showBCTWarningNote">
			<div class="col px-5">
				<div class="note-box">
					<div class="note"
						id="battery-threshold-note">
						<b>{{'device.deviceSettings.power.batterySettings.batteryThreshold.note' | translate}}
							:</b>
						{{'device.deviceSettings.power.batterySettings.batteryThreshold.noteInfo' | translate}}
					</div>
				</div>
			</div>
		</div>
		<!--end of Note -->
	</div>
</div>
