@import '../../../../../../app.theme.scss';

.itpf-layout {
    .well {
		padding: 16px;
		background: #f5f7f8;
		border: 0.1rem solid $note_border;
		opacity: 1;
		font-size: $fontsize_xs;
		color: #34495e;
		margin-top: 3rem;
		margin-right: 0rem;
		max-width: 100%;
		min-height: 2.8rem;
    }
    .cooling-mode-list-block {
		&:focus {
			@include outline-blue;
		}
    }
    .selectModeDesc {
		opacity: 1;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		color: #34495e;
		margin-right: 0rem;
		max-width: 100%;
		min-height: 2.8rem;
	}
}