@import "../../../app.theme";
.vtr-page-device-gaming {
	.p-30 {
		padding: 1.875rem;
	}

	.pl-40 {
		padding-left: 2.5rem;
	}

	.pr-40 {
		padding-right: 2.5rem;
	}

	.pa-20 {
		padding: 1.25rem;
	}

	.mt--50 {
		margin-top: -5.3125rem;
	}
	.system-status-block {
		padding-top: 7.5rem;
	}

	.pt-6 {
		padding-top: 6rem;
	}
}

::ng-deep {
	.vtr-page-device-gaming {
		.vtr-page-header {
			.gaming-header-image {
				height: 5rem;
			}
		}
	}

	.macro-key-subpage {
		.container-card {
			background-color: $gaming_lightest !important;
		}
	}
}
