<div class="vtr-page-device-gaming vtr-page container-fluid macro-key-subpage">
		<div class="row" *ngIf="!isOnline">
				<div class="col col-12 px-40 pb-40">
					<vtr-widget-offline-info [title]="'dashboard.offlineInfo.title' | translate"
						[subtitle]="'dashboard.offlineInfo.subtitle' | translate"
						[buttonText]="'dashboard.offlineInfo.buttonText' | translate" [isSubtitleVisible]="false"
						[isButtonVisible]="false" id="dashboard-btn-connectivity">
					</vtr-widget-offline-info>
				</div>
			</div>
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="'gaming.macroKey.title' | translate" [backarrow]="'&lt; '"
				[back]="'common.ui.back' | translate" [backId]="backId" [ariaLabel]="'Back to dashboard'">
			</vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div [ngClass]="'col-sm-12 col-md-12 col-lg-8 col-xl-8 vtr-page-left-column'">
						<div class="vtr-page-shift-up nmx-40">
							<div class="container-fluid">
								<div class="row mb-60">
									<div class="col col-12 px-40">
										<vtr-widget-macrokey-settings></vtr-widget-macrokey-settings>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-12 col-md-6 col-lg-12 mb-60">
										<vtr-container-card *ngIf="(articleContent | json) != '{}'" order="2" [itemID]="articleContent.id"
												[img]="articleContent.FeatureImage"
												[caption]="articleContent.Description"
												[title]="articleContent.Title"
												[logoText]="articleContent.BrandName"
												[action]="articleContent.Action"
												[dataSource]="articleContent.DataSource"
												[actionType]="articleContent.ActionType"
												[actionLink]="articleContent.ActionLink" [type]="'corner'"
												[ratioX]="4" [ratioY]="2" [cornerShift]="'large'" id="macro_key_crm_card_B"
												aria-label="macro_key_crm_card_B" [cardId]="'macro_key_crm_card'">
											</vtr-container-card>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
