@import "../../../app.theme";

::ng-deep {
	.vtr-page-device-gaming {
		.vtr-page-header {
			.gaming-header-image {
				height: 5rem;
			}
		}
	}
}

::ng-deep .vtr-page-gaming-macrokey {
	.vtr-page-left-column {
		.vtr-page-column-shift-up {
			overflow: hidden;
		}	
	}

	.vtr-page-right-column {
		.vtr-page-column-shift-up {
			overflow: hidden;
		}	
	}
}