@import "../../../styles/common-blocks";

.support-widget {
  @extend %common-block-wrapper;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  margin: 5rem 0;

  &__col {

  }
  &__title {
    text-transform: uppercase;
    line-height: 2.3rem;
    color: #34495E;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 0 0.2rem;
  }
  &__text {
    font-weight: 300;
    margin: 0;
    font-size: 1.4rem;
    color: #667481;
    line-height: 2.3rem;
  }
  &__button {
    border: 1px solid #ECF0F1;
    border-radius: 5px;
    background-color: #F5F7F8;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding: 1.7rem 0 1.8rem 1.5rem;
  }
  &__icon {
    max-height: 2.2rem;
    margin-right: 1.5rem;
  }
  &__support-time {
    font-size: 1.2rem;
    color: #34495E;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
    strong {
      font-weight: bold;
    }
  }
  &__support-time {
    margin: 0;
    width: 100%;
    position: relative;
    &::after {
      content: '>';
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translate(-50%, 0);
    }
  }
}
