<div id="welcome-tutorial-page-basic-title"
	hidden>
	{{ "welcometutorial.title1" | translate }} {{ "welcometutorial.title2" | translate }} {{ "welcometutorial.title3" | translate }}
</div>
<div class="vtr-body vtr-modal-welcome"
	id="modal-welcome"
	[ngSwitch]="page">
	<div *ngSwitchCase="1">
		<div class="card shadow-sm">
			<div class="card-body p-0"
				*ngIf="'welcometutorial.title1' | translate">
				<div class="banner-page-1 row justify-content-center align-items-center">
					<div class="col-auto title-alignment">
						<div class="row justify-content-center align-items-center">
							<div class="col-auto title1 text-center"
								id="welcome-tutorial-page-title"
								role="text">
								{{ "welcometutorial.title1" | translate }}
							</div>
						</div>
						<div class="row justify-content-center align-items-center ">
							<div class="col-auto px-1 title1 uppercase text-center"
								id="welcome-tutorial-page-subtitle"
								role="text">
								{{ "welcometutorial.title2" | translate }}
								<span>{{ "welcometutorial.title3" | translate }}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="content-page-1 font-14-semi"
					id="welcome-body-scroll">
					<div class="row no-gutters">
						<div class="col-auto title2"
							*ngIf="!deviceService.isGaming"
							id="welcome-tutorial-page-subtitle"
							role="text"
							[innerHTML]="'welcometutorial.description'| translate">
						</div>
						<div class="col-auto title2"
							*ngIf="deviceService.isGaming"
							id="welcome-tutorial-page-gaming-description"
							role="text"
							[innerHTML]="'welcometutorial.gaming.gamingDescription'| translate">
						</div>
					</div>
					<div class="row no-gutters justify-content-center align-items-center"
						[hidden]="deviceService.isArm || deviceService.isGaming">
						<div class="col-auto title2">
							<ul>
								<li *ngFor="let item of allCoreFeatures"
									[hidden]="item.id==='bullets2' && machineInfo && machineInfo.brand==='think'">
									<div [id]="'welcome-tutorial-page-' + item.id"
										role="text"
										[innerHTML]="item.label | translate">
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="row no-gutters"
						[hidden]="deviceService.isArm || !deviceService.isGaming">
						<div class="col-auto title2">
							<div *ngFor="let item of allGamingFeatures"
								[id]="'welcome-tutorial-page-gaming-' + item.id"
								role="text"
								[innerHTML]="item.label | translate">
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center align-items-center next-btn">
					<div class="col-auto ">
						<vtr-ui-button metricsParent="WelcomePage"
							metricsEvent="featureClick"
							[tooltip]="false"
							[metricsItem]="'NEXT'"
							[tabIndex]="1"
							[label]="'tutorial.next' | translate"
							[btnHeight]=true
							[isGradient]=true
							(onClick)="next(1)"
							[linkId]="'tutorial_next_btn'">
						</vtr-ui-button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- start of page 2-->
	<!-- end of page1-->
	<div *ngSwitchCase="2"
		#welcomepage2
		tabindex="-1">
		<div class="card shadow-sm">
			<div class="card-body p-0"
				*ngIf="'welcometutorial.subtitle1' | translate">
				<div class="banner-page-2 row justify-content-center align-items-center">
				</div>
				<div class="content-page-2"
					id="welcome-body-scroll">
					<div class="row justify-content-center align-items-center font-14-bold mb-20">
						<div class="col-auto title2 uppercase text-center"
							id="welcome-tutorial-page-2-subtitle1"
							role="text">
							{{ "welcometutorial.subtitle1" | translate }}
						</div>
					</div>
					<div class="row mb-5"
						*ngIf="!deviceService.isGaming"
						[ngClass]="{'radio-is-selected' : usageType !== null && usageType !== segmentConst.Gaming}">
						<div class="col-4 device-image-content d-flex justify-content-center"
							*ngFor="let usage of allUsageTypes">
							<div class="device-image">
								<input type="radio"
									tabindex="0"
									id="segment-choose-{{usage.id}}"
									[attr.aria-label]="usage.textKey | translate"
									[checked]="usageType && usageType === usage.value"
									[value]="usage.value"
									(click)="saveUsageType(usage.value)"
									name="tutorial-segment-choose" />
								<img src="assets/images/welcome/{{usage.image}}"
									alt="" />
								<label for="segment-choose-{{usage.id}}"
									aria-hidden="true"
									class="centered">
									{{ usage.textKey | translate }}
								</label>
							</div>
						</div>
					</div>

					<div class="row mb-5"
						*ngIf="deviceService.isGaming"
						[ngClass]="{'radio-is-selected' : gamingScenario !== null}">
						<div class="col-4 device-image-content d-flex justify-content-center"
							*ngFor="let scenario of allGamingScenarios">
							<div class="device-image">
								<input type="radio"
									tabindex="0"
									[attr.aria-label]="scenario.textKey | translate"
									id="gaming-scenario-choose-{{scenario.id}}"
									[checked]="gamingScenario && gamingScenario === scenario.value"
									[value]="scenario.value"
									(click)="saveGamingScenario(scenario.value)"
									name="gaming-scenario-choose" />
								<img src="assets/images/welcome/{{scenario.image}}"
									alt="" />
								<label for="gaming-scenario-choose-{{scenario.id}}"
									aria-hidden="true"
									class="centered">
									{{ scenario.textKey | translate }}
								</label>
							</div>
						</div>
					</div>

					<div class="row justify-content-center align-items-center font-14-bold col-12 mb-20">
						<div class="col-auto title2 uppercase text-center"
							id="welcome-tutorial-page-2-subtitle2"
							role="text">
							{{ "welcometutorial.subtitle2" | translate}}
						</div>
					</div>
					<div class="row d-flex justify-content-center interests">
						<div class="col-auto inline-block"
							*ngFor="let interest of interests; index as i"
							[hidden]="i > 7 && !hideMoreInterestBtn">
							<input type="checkbox"
								[attr.aria-label]="'welcometutorial.interests.' + interest.label | translate"
								[id]="interest.label + 'checkbox-welcome'"
								(click)="toggle($event, interest.label)"
								(keypress)="onKeyPress($event)"
								[checked]="interest.checked" />
							<label [for]="interest.label + 'checkbox-welcome'"
								aria-hidden="true">{{ "welcometutorial.interests." + interest.label | translate }}</label>

						</div>
					</div>
					<div *ngIf="!hideMoreInterestBtn"
						class="row justify-content-center align-items-center font-12-semi mb-4 col-12">
						<div class="col-auto more-interests"
							tabindex="0"
							id="tutorial_hide_moreInterest"
							role="button"
							(click)="moreInterestClicked()"
							(keypress)="onKeyPress($event)">
							{{ "welcometutorial.moreInterest" | translate | lowercase }}
						</div>
					</div>
					<div class="row privacy-check mt-3"
						*ngIf="vantageToolbarStatus.available">
						<div class="custom-control custom-checkbox pl-0">
							<input type="checkbox"
								(click)="saveToolbar($event)"
								[checked]="vantageToolbar"
								class="custom-control-input"
								(keypress)="onKeyPress($event)"
								id="welcome-toolbar-label">
							<label class="custom-control-label-out"></label>
							<label class="custom-control-label"
								dir="{{'dir' | translate}}"
								for="welcome-toolbar-label">
								{{ "welcometutorial.toolbartitle" | translate }}
							</label>
						</div>
					</div>

					<div class="row privacy-check mt-3">
						<div class="custom-control custom-checkbox pl-0">
							<input type="checkbox"
								(click)="savePrivacy($event, 'PRIVACYPOLICY')"
								(keypress)="onKeyPress($event)"
								[checked]="privacyPolicy"
								class="custom-control-input"
								id="welcome-privacy-label">
							<label class="custom-control-label-out"></label>
							<label class="custom-control-label"
								for="welcome-privacy-label"
								[dir]="'dir' | translate">
								{{ "welcometutorial.privacytitle" | translate }}
								<a class="linktext"
									tabindex="0"
									id="welcome-privacy-link"
									(click)="privacyPolicyClick($event)"
									href="#"
									rel="noopener"
									[innerHTML]="'welcometutorial.privacypolicy' | translate">
								</a>
							</label>
						</div>
					</div>
				</div>

				<div class="row justify-content-center align-items-center next-btn">
					<div class="col-auto"
						(keypress)="btnDoneOnKeyPress($event)">
						<vtr-ui-button [tabIndex]='0'
							[vtrMetricEnabled]="false"
							[tooltip]="false"
							[label]="'welcometutorial.done' | translate"
							[btnHeight]=true
							[isGradient]=true
							(onClick)="next(2)"
							[linkId]="'tutorial_done_btn'">
						</vtr-ui-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
