<div class="modal-body vtr-modal-welcome" [ngSwitch]="page">
	<div *ngSwitchCase="1" class="screen-1 p-5">
		<div class="d-flex justify-content-center">
			<img height="300px" width="300px" src="./../../../../assets/images/bitmap1.png"/>
		</div>
		<div class="d-flex justify-content-center title py-4">
			Almost there!
		</div>
		<div class="d-flex justify-content-center subtitle text-wrap py-3">
			Just a few more buttons to press before we can have liftoff. Before we can give you the most optimal
			experience there are still a few things to setup.
		</div>
		<div class="d-flex justify-content-center">
			<vtr-ui-button [label]="'START PERSONALIZING'" (onClick)="next(1)"></vtr-ui-button>
		</div>
		<div class="divider"></div>
		<div class="d-flex justify-content-center align-items-center">
			<ul class="list-inline">
				<li class="list-inline-item current d-inline-flex justify-content-center align-items-center"><span
					class="text">1</span></li>
				<li class="list-inline-item next d-inline-flex justify-content-center align-items-center"><span
					class="text invisible">2</span></li>
				<li class="list-inline-item next d-inline-flex justify-content-center align-items-center"><span
					class="text invisible">3</span></li>
			</ul>
		</div>

	</div>
	<div *ngSwitchCase="2" class="screen-2 p-5">
		<div class="d-flex justify-content-center">
			<img src="./../../../../assets/images/bitmap2.png" height="300px" width="300px"/>
		</div>
		<div class="d-flex justify-content-center title py-4">
			How will you use it?
		</div>
		<div class="d-flex justify-content-center subtitle py-3">
			Click on one of these uses to tell is how you will use this machine?
		</div>
		<div class="d-flex justify-content-center">
			<div>
				<input type="radio" name="radio" id="radio1" value="business" [(ngModel)]="data.page2.radioValue"/>
				<label for="radio1" class="radio-label">BUSINESS</label>
				<input type="radio" name="radio" id="radio2" value="personal" [(ngModel)]="data.page2.radioValue"/>
				<label for="radio2" class="radio-label">PERSONAL</label>
				<input type="radio" name="radio" id="radio3" value="custom" [(ngModel)]="data.page2.radioValue"/>
				<label for="radio3" class="radio-label">CUSTOM</label>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row justify-content-center align-items-center position-relative">
			<div class="col-auto px-0">
				<ul class="list-inline">
					<li class="list-inline-item previous d-inline-flex justify-content-center align-items-center"><span
						class="text invisible">1</span></li>
					<li class="list-inline-item current d-inline-flex justify-content-center align-items-center"><span
						class="text">2</span></li>
					<li class="list-inline-item next d-inline-flex justify-content-center align-items-center"><span
						class="text invisible">3</span></li>
				</ul>
			</div>
			<div class="position-absolute button">
				<vtr-ui-button [label]="data.page2.radioValue?'NEXT':'SKIP'" (onClick)="next(2)"></vtr-ui-button>
			</div>

		</div>
	</div>
	<div *ngSwitchCase="3" class="p-5">
		<div class="d-flex justify-content-center">
			<img src="./../../../../assets/images/bitmap3.png" height="300px" width="300px"/>
		</div>
		<div class="d-flex justify-content-center title py-4">
			What are your interests?
		</div>
		<div class="d-flex justify-content-center subtitle py-3">
			Click on one of these uses to tell is how you will use this machine?
		</div>
		<div class="d-flex justify-content-center py-3">
			<div class="d-flex justify-content-center">
				<div class="inline-block">
					<input type="checkbox" id="checkbox1" (click)="toggle($event,'GAMES')"/>
					<label for="checkbox1">GAMES</label>
				</div>
				<div class="inline-block">
					<input type="checkbox" id="checkbox2" (click)="toggle($event,'NEWS')"/>
					<label for="checkbox2">NEWS</label>
				</div>
				<div class="inline-block">
					<input type="checkbox" id="checkbox3" (click)="toggle($event,'ENTERTAINMENT')"/>
					<label for="checkbox3">ENTERTAINMENT</label>
				</div>
				<div class="inline-block">
					<input type="checkbox" id="checkbox4" (click)="toggle($event,'ARTS')"/>
					<label for="checkbox4">ARTS</label>
				</div>
			</div>

		</div>
		<div class="d-flex justify-content-center py-3">
			<div class="d-flex justify-content-center">
				<div class="inline-block">
					<input type="checkbox" id="checkbox5" (click)="toggle($event,'TECHNOLOGY')"/>
					<label for="checkbox5">TECHNOLOGY</label>
				</div>
				<div class="inline-block">
					<input type="checkbox" id="checkbox6" (click)="toggle($event,'POLITICS')"/>
					<label for="checkbox6">POLITICS</label>
				</div>
				<div class="inline-block">
					<input type="checkbox" id="checkbox7" (click)="toggle($event,'SPORTS')"/>
					<label for="checkbox7">SPORTS</label>
				</div>

			</div>

		</div>
		<div class="d-flex justify-content-center py-3">
			<div class="d-flex justify-content-center">
				<div class="inline-block">
					<input type="checkbox" id="checkbox8" (click)="toggle($event,'REGIONAL NEWS')"/>
					<label for="checkbox8">REGIONAL NEWS</label>
				</div>
				<div class="inline-block">
					<input type="checkbox" id="checkbox9" (click)="toggle($event,'TECHNOLOG')"/>
					<label for="checkbox9">TECHNOLOG</label>
				</div>

			</div>
		</div>
		<div class="divider"></div>
		<div class="row justify-content-center align-items-center position-relative">

			<div class="col-auto px-0">
				<ul class="list-inline">
					<li class="list-inline-item previous d-inline-flex justify-content-center align-items-center"><span
						class="text invisible">1</span></li>
					<li class="list-inline-item previous d-inline-flex justify-content-center align-items-center"><span
						class="text invisible">2</span></li>
					<li class="list-inline-item current d-inline-flex justify-content-center align-items-center"><span
						class="text ">3</span></li>
				</ul>
			</div>
			<div class="position-absolute button">
				<vtr-ui-button [label]="checkedArray.length>0?'NEXT':'SKIP'" (onClick)="next(3)"></vtr-ui-button>
			</div>
		</div>
	</div>


	<div class="btn-close position-absolute">
		<button type="button" class="close" aria-hidden="true" (click)="activeModal.dismiss()">
			<h1>&times;</h1>
		</button>
	</div>
</div>
