@import "../../../app.theme.scss";

:host {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.vtr-modal-welcome {
	border-radius: $border_radius;
	color: $main_dark;
	box-shadow: $drop_shadow;
	padding: 0;
	position: relative;
	max-width: 60rem !important;
	max-height: 60rem;
	height: auto;
	background: $shade_lightest;
	overflow: hidden;
	@media #{$breakpoint_md} {
		width: 100%;
		height: 100%;
	}

	@media #{$breakpoint_sm} {
		width: 100%;
		height: 42rem;
	}

	.card-body {
		display: flex;
		flex-flow: column;
		width: 60rem;
		max-height: 60rem;
		height: auto;
		@media #{$breakpoint_md} {
			width: 100%;
			height: 100%;
		}
		@media #{$breakpoint_sm} {
			width: 100%;
			height: 42rem;
		}
	}

	.banner-page-1 {
		background: url("src/assets/images/welcome/header-1.jpg") no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 30rem;
		flex-shrink: 0;
		@media #{$breakpoint_sm} {
			height: 17.6rem;
		}

		.title-alignment {
			line-height: 4rem;
			margin-top: 15rem;
			@media #{$breakpoint_sm} {
				margin-top: 3.5rem;
			}

			.title1 {
				color: $light;
				font-size: 3.6rem;
				font-weight: $weight_light;

				span {
					font-size: $fontsize_xl2;
					font-weight: $weight_bold;
				}
			}
		}
	}

	.banner-page-2 {
		background: url("src/assets/images/welcome/header-2.jpg") no-repeat;
		background-size: cover;
		height: 10rem;
		width: 100%;
		flex-shrink: 0;
		background-position: center;
		@media #{$breakpoint_sm} {
			height: 11rem;
		}
	}

	.font-14-semi {
		font-size: 1.8rem;
		font-weight: 300;
	}

	.font-12-semi {
		font-size: 1.6rem;
		font-weight: 300;
		.title2 {
			&:focus {
				outline: none;
			}
		}
	}

	.font-14-bold {
		font-size: $fontsize_xs;
		font-weight: $weight_bold;
	}

	.content-page-2 {
		overflow-y: auto;
		color: $dark;
		padding: 3rem 4rem 0;
		height: auto;
		font-size: 1.5rem;
		font-weight: $weight_regular;
		letter-spacing: 0.05rem;
		@media #{$breakpoint_md} {
			height: 100%;
		}
		@media #{$breakpoint_sm} {
			padding: 3rem 1rem 0;
			height: 42rem;
		}

		img {
			width: 100%;
			height: 6.5rem;
		}

		.device-image-content {
			padding: 0 0.6rem;
		}

		.device-image {
			cursor: pointer;
			width: 14.4rem;
			height: 100%;
			position: relative;
			border-radius: $border_radius_sm;
			overflow: hidden;
			@media #{$breakpoint_md} {
				width: 12rem;
			}

			&::after {
				content: "";
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0, 0, 0, 0.3);
				position: absolute;
				z-index: 1;
			}

			label {
				font-size: $fontsize_xs;
				width: 100%;
				height: 100%;
				padding: 0 2%;
				line-height: 2rem;
				align-items: center;
				display: flex;
				justify-content: center;
				font-weight: $weight_light;
				z-index: 2;
				&:focus {
					outline: none;
				}
			}

			img {
				position: relative;
				z-index: 0;
			}

			input {
				display: none;
			}
		}

		.interests {
			margin-left: 0.1rem;
			margin-right: 0.1rem;

			div {
				margin-left: 1rem;
				padding-left: 0;
				padding-right: 0;

				input {
					display: none !important;
				}

				label {
					margin-bottom: 1.2rem;
				}
			}
		}

		.privacy-check {
			opacity: 1;
			margin-left: 0.6rem;

			.linktext {
				color: $main;
				text-decoration: underline;
			}
		}

		.custom-control-label {
			padding-left: 3rem;
			line-height: 1.8rem;
			font-size: $fontsize_xs;
			margin-bottom: 1rem;
			font-weight: $weight_light;
			min-height: 2rem;

			// rounded square-box background
			&::before {
				width: 1.8rem;
				height: 1.8rem;
				top: 0.1rem;
				left: 0.2rem;
				box-shadow: inset 0 0 0 0.1rem $light;
				border: 0.1rem solid $shade_darker;
			}

			// tick mark
			&::after {
				top: 0.2rem;
				width: 2rem;
				height: 2rem;
				left: 0.1rem;
			}
		}
	}

	.content-page-1 {
		overflow-y: auto;
		color: $shade_blue;
		padding: 2rem 7.2rem 0;
		height: auto;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		letter-spacing: 0.05rem;
		text-align: left;
		@media #{$breakpoint_sm} {
			width: 100%;
			height: 100%;
		}
		@media #{$breakpoint_sm} {
			width: 100%;
			height: 42rem;
		}

		ul {
			width: 90%;
			margin: 0 auto;
			li {
				margin-bottom: 1rem;
				text-align: left;
			}
		}

		div.row:first-child {
			margin-bottom: 1.5rem;
		}
	}

	.next-btn {
		padding: 0.5rem 0 1.5rem;
		flex-shrink: 0;
		@media #{$breakpoint_md} {
			margin-top: 1rem;
		}
	}

	.vtr-progress-bar {
		padding: 1rem 0.7rem 1.5rem 0.7rem;
	}

	.screen1 {
		background-color: $shade_lighter;
	}

	.card {
		border-radius: 1rem;
		border: none;
	}

	.uppercase {
		text-transform: uppercase;
	}

	/************** common *************/
	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $light;
		text-align: center;
		word-break: normal;
	}

	.divider {
		height: 0.1rem;
		border: 0.1rem solid $shade_extralight;
		background-color: $shade_light;
		margin: 2rem 0;
	}

	.list-inline-item {
		border-radius: 50%;
		height: 2rem;
		width: 2rem;
		background-color: $shade_lighter;
	}

	.current {
		border-radius: 50%;
		height: 3rem;
		width: 3rem;
		background: linear-gradient(270deg, $main_light 0%, $main 100%);

		.text {
			visibility: visible;
			color: $light;
			font-size: 1.7rem;
			font-weight: bold;
		}
	}

	.previous {
		background: $go_light;
		position: relative;
	}

	.previous::after {
		content: "";
		height: 0.5rem;
		width: 1rem;
		border-left: 0.1rem solid $light;
		border-bottom: 0.1rem solid $light;
		transform: rotate(-45deg);
		position: absolute;
		left: 0.4rem;
		top: 0.5rem;
	}

	input[type="radio"] {
		opacity: 0;
	}

	input[type="radio"]:checked + img {
		border: 2pt solid $go_dark;
	}

	div.radio-is-selected input[type="radio"]:not(:checked) + img {
		opacity: 0.5 !important;
	}

	.content-page-2 .interests input[type="checkbox"] {
		opacity: 0;
	}

	.content-page-2 .interests input[type="checkbox"] + label {
		padding: 0.3rem 2rem;
		border: 0.1rem solid $shade_btn_light;
		border-radius: 2.5rem;
		color: $shade_darkest;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		text-align: center;
		vertical-align: middle;

		&:hover {
			border: 0.1rem solid $shade_dark;
		}
	}

	.content-page-2 .interests input[type="checkbox"]:checked + label {
		border: 0.1rem solid #21c48a;
		background: #f5f7f8;
	}

	.content-page-2 .interests label {
		position: relative;
	}

	.content-page-2 .interests label::before {
		content: none;
		height: 1rem;
		width: 1.5rem;
		display: inline-block;
		border-left: 0.3rem solid $go_light;
		border-bottom: 0.3rem solid $go_light;
		transform: rotate(-45deg);
		position: absolute;
		left: 1rem;
		top: 1.9rem;
	}

	.content-page-2 .interests .hideLabel {
		display: none;
		visibility: hidden;
	}

	.btn-close {
		right: 1rem;
		top: 1rem;
	}

	.button {
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}

	.imageheader1 {
		height: 25rem;
		width: 50rem;
		border-radius: 1rem;
	}

	.imageheader2 {
		height: 12rem;
		width: 50rem;
		border-radius: 1rem;
	}

	.mb-20 {
		margin-bottom: 2rem;
	}

	.padding1 {
		padding-top: 3.4rem;
		padding-left: 3.2rem;
		padding-bottom: 3.4rem;
	}

	.padding2 {
		padding-top: 2.8rem;
		padding-bottom: 3.6rem;
	}

	.padding3 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.padding4 {
		padding-left: 3.2rem;
		padding-right: 1.2rem;
	}

	.padding5 {
		padding-top: 2.8rem;
		padding-bottom: 3.6rem;
	}

	.padding6 {
		padding-right: 1rem;
		padding-bottom: 3.8rem;
	}

	.padding7 {
		padding-top: 12rem;
	}

	.margin-top-25 {
		margin-top: 2.5rem;
	}

	#skill {
		list-style: none;
		position: relative;
		line-height: 2em;
	}

	#skill li {
		background: $shade_dark;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#191c28), to(#2f3447));
		background-image: -webkit-linear-gradient(to right, #191c28, #2f3447);
		background-image: -moz-linear-gradient(to right, #191c28, #2f3447);
		background-image: -ms-linear-gradient(to right, #191c28, #2f3447);
		background-image: -o-linear-gradient(to right, #191c28, #2f3447);
		background-image: linear-gradient(to right, #191c28, #2f3447);
		height: 2rem;
		padding: 0 0.5rem;
		border-radius: 1rem;
	}

	#skill {
		padding: 0;
	}

	.bar1 {
		height: 0.6rem;
		position: absolute;
		z-index: 1000;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 1rem;
		width: 0%;
	}

	.bar2 {
		height: 0.2rem;
		width: 98%;
		position: absolute;
		background: white;
		z-index: 999;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 1rem;
	}

	.more-interests {
		cursor: pointer;
		color: black;
		font-weight: $weight_light;
		font-size: $fontsize_xs;
		&:hover {
			color: $dark !important;
		}
	}

	.html-css {
		width: 2%;
		background-color: #35e6b9;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#2ecc71), to(#35e6b9));
		background-image: -webkit-linear-gradient(to right, #2ecc71, #35e6b9);
		background-image: -moz-linear-gradient(to right, #2ecc71, #35e6b9);
		background-image: -ms-linear-gradient(to right, #2ecc71, #35e6b9);
		background-image: -o-linear-gradient(to right, #2ecc71, #35e6b9);
		background-image: linear-gradient(to right, #2ecc71, #35e6b9);
	}

	#welcome-body-scroll::-webkit-scrollbar {
		width: 0.5rem;
	}

	#welcome-body-scroll::-webkit-scrollbar-thumb {
		background-color: $shade;
	}

	.content-page-2 .interests input[type="checkbox"] + label,
	.content-page-2 .privacy-check .custom-checkbox {
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}

	.content-page-2 span.more-interests:hover,
	.content-page-2 .privacy-check .linktext:hover {
		color: $main_gstart;
	}

	@-moz-keyframes html-css {
		0% {
			width: 0;
		}

		100% {
			width: 90%;
		}
	}

	@-webkit-keyframes html-css {
		0% {
			width: 0;
		}

		100% {
			width: 90%;
		}
	}

	.lang-he-privacy-link{
		float: left;
		margin-right: 10px;
	}
}
