@import "../../../app.theme.scss";

:host {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.vtr-modal-welcome {
	border-radius: $border_radius;
	color: $main_dark;
	box-shadow: $drop_shadow;
	padding: 0;
	position: relative;
	max-width: 60rem !important;
	max-height: 60rem;
	height: auto;
	background: $shade_lightest;
	overflow: hidden;
	@media #{$breakpoint_md} {
		width: 100%;
		height: 100%;
	}

	@media #{$breakpoint_sm} {
		width: 100%;
		height: 42rem;
	}

	@media #{$high-contrast} {
		border: 1px solid currentColor !important;
	}

	@media #{$black-on-white} {
		border: 1px solid $dark !important;
	}

	@media #{$white-on-black} {
		border: 1px solid $light !important;
	}

	.card-body {
		display: flex;
		flex-flow: column;
		width: 60rem;
		max-height: 60rem;
		height: auto;
		@media #{$breakpoint_md} {
			width: 100%;
			height: 100%;
		}
		@media #{$breakpoint_sm} {
			width: 100%;
			height: 42rem;
		}
	}

	.banner-page-1 {
		background: url("/assets/images/welcome/header-1.jpg") no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 30rem;
		margin-bottom:2.4rem;
		flex-shrink: 0;
		@media #{$breakpoint_sm} {
			height: 17.6rem;
		}

		.title-alignment {
			line-height: 4rem;
			margin-top: 15rem;
			@media #{$breakpoint_sm} {
				margin-top: 3.5rem;
			}

			.title1 {
				color: $light;
				font-size: 3.6rem;
				font-weight: $weight_light;

				span {
					font-size: $fontsize_xl2;
					font-weight: $weight_bold;
				}
				@include high-contrast-adjust;
			}
		}
	}

	.banner-page-2 {
		background: url("/assets/images/welcome/header-2.jpg") no-repeat;
		background-size: cover;
		height: 10rem;
		width: 100%;
		flex-shrink: 0;
		margin-bottom:2.4rem;
		background-position: center;
		@media #{$breakpoint_sm} {
			height: 4.4rem;
		}
	}

	.font-14-semi {
		font-size: 1.8rem;
		font-weight: 300;
	}

	.font-12-semi {
		font-size: 1.6rem;
		font-weight: 300;
	}

	.font-14-bold {
		font-size: $fontsize_xs;
		font-weight: $weight_bold;
	}

	.content-page-2 {
		overflow-y: auto;
		color: $dark;
		padding: 0rem 6.9rem 1.5rem 7rem;
		height: auto;
		font-size: 1.5rem;
		font-weight: $weight_regular;
		letter-spacing: 0.05rem;
		@media #{$breakpoint_md} {
			padding: 0rem 6.9rem 1.5rem 7rem;
			height: 100%;
		}
		@media #{$breakpoint_sm} {
			padding: 0rem 3.4rem 1.5rem;
			overflow-x: hidden;
			height: 42rem;
		}

		.device-image-content {
			padding: 0 0.6rem;
		}

		.device-image {
			cursor: pointer;
			width: 14.4rem;
			height: 6.5rem;
			position: relative;
			@media #{$breakpoint_md} {
				width: 12rem;
			}

			&::after {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				z-index: 1;
				left: 0;
				top: 0;
				border-radius: $border_radius_sm;
				overflow: hidden;
				background-color: rgba(0, 0, 0, 0.3);
			}


			@media #{$high-contrast} {
				&::after {
					background-color: rgba(0, 0, 0, 0.3);
				}
			}

			@media #{$black-on-white} {
				&::after {
					background-color: rgba(0, 0, 0, 0.3);
				}
			}

			@media #{$white-on-black} {
				&::after {
					background-color: rgba(0, 0, 0, 0.3);
				}
			}

			img {
				position: absolute;
				z-index: 0;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border-radius: $border_radius_sm;
				overflow: hidden;
			}

			label {
				position: absolute;
				font-size: $fontsize_xs;
				width: 100%;
				height: 100%;
				padding: 0 2%;
				line-height: 2rem;
				align-items: center;
				display: flex;
				justify-content: center;
				font-weight: $weight_light;
				z-index: 2;
				@include high-contrast-adjust;
			}

			input {
				width: calc(100% + 0.2rem);
				height: calc(100% + 0.2rem);
				&:focus ~ label {
					outline: none !important;
					&:before {
						content: '';
						position: absolute;
						width: calc(100% + 0.6rem);
						height: calc(100% + 0.6rem);
						left: -0.3rem;
						top: -0.3rem;
						background: none;
						border-radius: calc(#{$border_radius_sm} + 0.2rem);
						border: 0.1rem solid $menu_hover;
					}
				}
			}
		}

		.interests {
			margin-left: 0.1rem;
			margin-right: 0.1rem;

			input[type="checkbox"] + label {
				padding: 0.3rem 2rem;
				border: 0.1rem solid $shade_btn_light;
				border-radius: 2.5rem;
				color: $shade_darkest;
				font-size: $fontsize_xs;
				font-weight: $weight_light;
				text-align: center;
				vertical-align: middle;

				&:hover {
					border: 0.1rem solid $shade_dark;
				}
			}

			input[type="checkbox"]:checked + label {
				border: 0.1rem solid #21c48a;
				background: #f5f7f8;
			}

			.hideLabel {
				display: none;
				visibility: hidden;
			}

			div {
				margin-left: 1rem;
				padding-left: 0;
				padding-right: 0;

				input[type="checkbox"]  {
					opacity: 0;
					width: 100%;
					height: calc(100% - 1.2rem);
					position: absolute;
					&:focus ~ label {
						outline: none !important;
						&:before {
							content: '';
							position: absolute;
							width: calc(100% + 0.6rem);
							height: calc(100% + 0.6rem);
							left: -0.3rem;
							top: -0.3rem;
							background: none;
							border-radius: 10rem;
							border: 0.1rem solid $menu_hover;
						}
					}
				}

				label {
					position: relative;
					margin-bottom: 1.2rem;
				}
			}
		}

		.privacy-check {
			opacity: 1;
			margin-left: 0.6rem;

			.linktext {
				color: $main;
				text-decoration: underline;
				padding: 0.2rem;
				&:focus {
					outline: none !important;
					padding: 0.1rem;
					border: 0.1rem solid $menu_hover;
				}
			}

			.custom-control-label-out {
				position: absolute;
				padding-left: 3rem;
				line-height: 1.8rem;
				font-size: $fontsize_xs2;
				margin-bottom: 1rem;
				font-weight: $weight_light;
				min-height: 2rem;
			}

			.custom-control-input {
				width: 2.2rem;
				height: 2.2rem;
			}

			input:focus ~ .custom-control-label-out {
				outline: none !important;
				&:before {
					content: '';
					position: absolute;
					width: 2.4rem;
					height: 2.4rem;
					left: -0.1rem;
					top: -0.2rem;
					background: none;
					border-radius: 0.4rem;
					border: 0.1rem solid $menu_hover;
				}
			}

			@media #{$high-contrast} {
				input ~ label::before {
					background: none;
				}
			}

			@media #{$black-on-white} {
				input:checked ~ .custom-control-label::after {
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
				}

				.custom-control-input:checked ~ .custom-control-label::before {
					@include high-contrast-white-background;
					box-shadow: none;
					border-radius: 0.25rem !important;
					@include high-contrast-white-border;
				}
				.custom-control-input:checked:hover ~ .custom-control-label::before {
					@include high-contrast-background-transparent;
					@include high-contrast-white-border;
				}
				.custom-control-input:checked:active ~ .custom-control-label::before {
					@include high-contrast-white-background;
					@include high-contrast-white-border;

				}
				.custom-control-input:hover ~ .custom-control-label::before {
					border-radius: 0.25rem !important;
				}

				.custom-checkbox :checked:hover.custom-control-input ~ .custom-control-label::after {
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e") !important;
				}
			}

			@media #{$white-on-black} {
				.custom-control-input:checked ~ .custom-control-label::before {
					@include high-contrast-black-background;
					box-shadow: none;
					border-radius: 0.25rem !important;
					@include high-contrast-black-border;
				}
				.custom-control-input:checked:hover ~ .custom-control-label::before {
					@include high-contrast-background-transparent;
					@include high-contrast-black-border;
				}
				.custom-control-input:checked:active ~ .custom-control-label::before {
					@include high-contrast-black-background;
					@include high-contrast-black-border;

				}
				.custom-control-input:hover ~ .custom-control-label::before {
					border-radius: 0.25rem !important;
				}
				.custom-checkbox :checked.custom-control-input ~ .custom-control-label::after {
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e") !important;
				}
				.custom-checkbox :checked:hover.custom-control-input ~ .custom-control-label::after {
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e") !important;
				}
			}
		}

		.custom-control-label {
			padding-left: 3rem;
			line-height: 1.8rem;
			font-size: $fontsize_xs2;
			margin-bottom: 1rem;
			font-weight: $weight_light;
			min-height: 2rem;

			// rounded square-box background
			&::before {
				width: 1.8rem;
				height: 1.8rem;
				top: 0.1rem;
				left: 0.2rem;
				box-shadow: inset 0 0 0 0.1rem $light;
				border: 0.1rem solid $shade_darker;
				@media #{$white-on-black} {
					background: transparent;
				}
				@media #{$black-on-white} {
					background: transparent;
				}
			}

			// tick mark
			&::after {
				top: 0;
				width: 2rem;
				height: 2rem;
				left: 0.1rem;
			}
			&:hover, &:active {
				&::before {
					@media #{$white-on-black} {
						@include high-contrast-black-border;
					}
					@media #{$black-on-white} {
						@include high-contrast-white-border;
					}
				}
			}
		}
	}

	.content-page-1 {
		overflow-y: auto;
		color: $shade_blue;
		padding: 0rem 7.2rem 1.5rem 7.2rem;
		height: auto;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		letter-spacing: 0.05rem;
		text-align: left;
		@media #{$breakpoint_md} {
			height: 100%;
		}
		@media #{$breakpoint_sm} {
			width: 100%;
			height: 42rem;
			padding: 0rem 3.6rem 1.5rem;
		}

		ul {
			width: 90%;
			margin: 0 auto;
			li {
				margin-bottom: 1rem;
				text-align: left;
			}
		}

		div.row:first-child {
			margin-bottom: 1.5rem;
		}
	}

	.next-btn {
		padding: 0.5rem 0 1.5rem;
		flex-shrink: 0;
		@media #{$breakpoint_md} {
			margin-top: 1rem;
		}
	}

	.vtr-progress-bar {
		padding: 1rem 0.7rem 1.5rem 0.7rem;
	}

	.screen1 {
		background-color: $shade_lighter;
	}

	.card {
		border-radius: 1rem;
		border: none;
	}

	.uppercase {
		text-transform: uppercase;
	}

	/************** common *************/
	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $light;
		text-align: center;
		word-break: normal;
	}

	.divider {
		height: 0.1rem;
		border: 0.1rem solid $shade_extralight;
		background-color: $shade_light;
		margin: 2rem 0;
	}

	.list-inline-item {
		border-radius: 50%;
		height: 2rem;
		width: 2rem;
		background-color: $shade_lighter;
	}

	.current {
		border-radius: 50%;
		height: 3rem;
		width: 3rem;
		background: linear-gradient(270deg, $main_light 0%, $main 100%);

		.text {
			visibility: visible;
			color: $light;
			font-size: 1.7rem;
			font-weight: bold;
		}
	}

	.previous {
		background: $go_light;
		position: relative;
	}

	.previous::after {
		content: "";
		height: 0.5rem;
		width: 1rem;
		border-left: 0.1rem solid $light;
		border-bottom: 0.1rem solid $light;
		transform: rotate(-45deg);
		position: absolute;
		left: 0.4rem;
		top: 0.5rem;
	}

	input[type="radio"] {
		opacity: 0;
	}

	input[type="radio"]:checked + img {
		border: 2pt solid $go_dark;
	}

	div.radio-is-selected input[type="radio"]:not(:checked) + img {
		opacity: 0.5 !important;
	}

	.btn-close {
		right: 1rem;
		top: 1rem;
	}

	.button {
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}

	.imageheader1 {
		height: 25rem;
		width: 50rem;
		border-radius: 1rem;
	}

	.imageheader2 {
		height: 12rem;
		width: 50rem;
		border-radius: 1rem;
	}

	.mb-20 {
		margin-bottom: 2rem;
	}

	.padding1 {
		padding-top: 3.4rem;
		padding-left: 3.2rem;
		padding-bottom: 3.4rem;
	}

	.padding2 {
		padding-top: 2.8rem;
		padding-bottom: 3.6rem;
	}

	.padding3 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.padding4 {
		padding-left: 3.2rem;
		padding-right: 1.2rem;
	}

	.padding5 {
		padding-top: 2.8rem;
		padding-bottom: 3.6rem;
	}

	.padding6 {
		padding-right: 1rem;
		padding-bottom: 3.8rem;
	}

	.padding7 {
		padding-top: 12rem;
	}

	.margin-top-25 {
		margin-top: 2.5rem;
	}

	.bar1 {
		height: 0.6rem;
		position: absolute;
		z-index: 1000;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 1rem;
		width: 0%;
	}

	.bar2 {
		height: 0.2rem;
		width: 98%;
		position: absolute;
		background: white;
		z-index: 999;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 1rem;
	}

	.more-interests {
		cursor: pointer;
		color: black;
		font-weight: $weight_light;
		font-size: $fontsize_xs;
		outline: none !important;
		padding: 0.1rem;
		&:hover {
			color: $dark !important;
		}
		&:focus {
			padding: 0;
			border: 0.1rem solid $menu_hover;
		}
	}

	#welcome-body-scroll::-webkit-scrollbar {
		width: 0.5rem;
	}

	#welcome-body-scroll::-webkit-scrollbar-thumb {
		background-color: $shade;
	}

	.content-page-2 .interests input[type="checkbox"] + label,
	.content-page-2 .privacy-check .custom-checkbox {
		cursor: pointer;
	}

	.content-page-2 span.more-interests:hover,
	.content-page-2 .privacy-check .linktext:hover {
		color: $main_gstart;
	}

	.lang-he-privacy-link{
		float: left;
		margin-right: 10px;
	}

	@media #{$high-contrast} {
		.content-page-2 .interests input[type="checkbox"] + label {
			border: 0.1rem solid rgba($color: $light, $alpha: 0.4);
		}

		.content-page-2 .interests input[type="checkbox"]:checked + label {
			border: 0.1rem solid currentColor;
			color: currentColor;
			background: currentColor;
		}

		.custom-control-label {
			&::before {
				border: 0.1rem solid currentColor;
			}
		}
	}

	@media #{$black-on-white} {
		.content-page-2 .interests input[type="checkbox"] + label {
			border: 0.1rem solid rgba($color: $dark, $alpha: 0.5);
		}

		.content-page-2 .interests input[type="checkbox"]:checked + label {
			border: 0.1rem solid $dark;
			color: $dark;
			background: $dark;
		}

		.custom-control-label {
			&::before {
				border: 0.1rem solid $dark;
			}
		}
	}

	@media #{$white-on-black} {
		.content-page-2 .interests input[type="checkbox"] + label {
			border: 0.1rem solid rgba($color: $light, $alpha: 0.5);
		}

		.content-page-2 .interests input[type="checkbox"]:checked + label {
			border: 0.1rem solid $light;
			color: $light;
			background: $light;
		}

		.custom-control-label {
			&::before {
				border: 0.1rem solid $light;
			}
		}
	}
}

:host-context(.is-gaming) {
	.vtr-modal-welcome {
		background-color: $gaming_darkest;
		.card {
			background-color: $gaming_darkest;
		}

		.banner-page-1 {
			background: url("/assets/images/welcome/gaming-header-1.jpg") no-repeat;
			background-size: cover;
			background-position: center;
		}

		.banner-page-2 {
			background: url("/assets/images/welcome/gaming-header-2.jpg") no-repeat;
			background-size: cover;
			background-position: center;
		}

		.content-page-1 {
			color: $gaming_lightest;

			ul {
				width: 100%;
				li {
					margin-bottom: 0.2rem;
				}
			}

		}

		.content-page-2 {
			color: $gaming_lightest;
		}

		.content-page-2 .interests input[type="checkbox"] + label {
			border: none;
			color: $gaming_lightest;
			background-color:$gaming_blue_grey_light;

			&:hover {
				background-color: $gaming-slate-blue;
			}
		}

		.content-page-2 .interests input[type="checkbox"]:checked + label {
			border: none;
			background:$blueFill;
		}

		.more-interests {
			color: $gaming_lightest;
			&:hover {
				color: $gaming_lighter !important;
			}
		}

		.custom-control-label {
			&::before {
				box-shadow: none;
				border: none;
			}
		}

		@media #{$high-contrast} {
			.content-page-2 .interests input[type="checkbox"] + label {
				border: 0.1rem solid rgba($color: $light, $alpha: 0.4);
			}

			.content-page-2 .interests input[type="checkbox"]:checked + label {
				border: 0.1rem solid currentColor;
				color: currentColor;
				background: currentColor;
			}

			.custom-control-label {
				&::before {
					border: 0.1rem solid currentColor;
				}
			}
		}

		@media #{$black-on-white} {
			.content-page-2 .interests input[type="checkbox"] + label {
				border: 0.1rem solid rgba($color: $dark, $alpha: 0.5);
			}

			.content-page-2 .interests input[type="checkbox"]:checked + label {
				border: 0.1rem solid $dark;
				color: $dark;
				background: $dark;
			}

			.custom-control-label {
				&::before {
					border: 0.1rem solid $dark;
				}
			}
		}

		@media #{$white-on-black} {
			.content-page-2 .interests input[type="checkbox"] + label {
				border: 0.1rem solid rgba($color: $light, $alpha: 0.5);
			}

			.content-page-2 .interests input[type="checkbox"]:checked + label {
				border: 0.1rem solid $light;
				color: $light;
				background: $light;
			}

			.custom-control-label {
				&::before {
					border: 0.1rem solid $light;
				}
			}
		}
	}
}
