<div class="browser-accounts-block browser-accounts-block__wrapper"
	 [attr.data-analyticsName]="(isFigleafInstalled$ | async) ? 'PrivatelyStoredPasswordsBlock' : 'NonPrivatePasswordsBlock'">

	<vtr-browser-stored-accounts
		[openPasswordId]="openPasswordId$ | async"
		[inputData]="browserStoredAccountsData">
	</vtr-browser-stored-accounts>
	<div class="browser-accounts-block__accounts-stored">
		<vtr-accounts-stored
			*ngIf="isFigleafReadyForCommunication$ | async"
			[dashboardData]="dashboardData$ | async"
			(buttonClick$)="openFigleaf">
		</vtr-accounts-stored>
	</div>
	<vtr-try-product-block
		*ngIf="((openPasswordId$ | async) === null) && (isShowTryBlock$ | async)"
		[isFigleafReadyToCommunication]="isFigleafReadyForCommunication$ | async"
		[texts]="tryProductText">
	</vtr-try-product-block>
</div>
