@import "../../styles/common-blocks";

.browser-accounts-block {
	@extend %common-block-wrapper;
	padding: 3.5rem 4rem 4rem 4rem;

	&__title {
		@extend %subtitle;
		margin: 0 0 2rem 0;
	}

	&__text {
		@extend %text-common;
		margin: 0 0 2rem 0;
	}
}

.browser-accounts-concent {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ECF0F1;
	border-radius: 5px;
	background-color: #F5F7F8;
	padding: 2.5rem 2rem;
	margin: 0 0 1rem 0;

	&__text-wrapper {
		display: flex;
		align-items: center;
		margin: 0 3.5rem 0 0;
	}

	&__text {
		color: #34495E;
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 2.9rem;
		margin: 0;
	}

	&__btn-wrapper {
	}

	&__btn {
		@extend %theme-btn;
	}
}

.figleaf-stored-accounts {
	border: 1px solid #DBEBDC;
	border-radius: 8px;
	background: linear-gradient(45deg, #F7FFF6 0%, #FFFFFF 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.8rem 2rem;

	&__img {
	}

	&__details-col {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 0 2rem;
	}

	&__title {
		color: #34495E;
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 2.9rem;
		padding: 0 5rem 0 0;
		margin: 0;
	}

	&__btn {
		@extend %theme-btn;
	}
}
