@import "../../styles/common-blocks";

.browser-accounts-block {
	&__accounts-stored {
		margin-top: 2rem;
	}

	&__title {
		@extend %subtitle;
		margin: 0 0 2rem 0;
	}

	&__text {
		@extend %text-common;
		font-size: 1.6rem;
		line-height: 3rem;
		margin: 0 0 2rem 0;
	}
}
