<div class="browser-accounts-block browser-accounts-block__wrapper"
	 [attr.data-analyticsName]="(isFigleafInstalled$ | async) ? 'PrivatelyStoredPasswordsBlock' : 'NonPrivatePasswordsBlock'">

	<vtr-browser-stored-accounts
		[openPasswordId]="openPasswordId$ | async"
		[inputData]="browserStoredAccountsData"
		(howToFixClick)="openPopup($event)" >
	</vtr-browser-stored-accounts>
	<div class="browser-accounts-block__accounts-stored"
		 *ngIf="(isShowAccountsStored$ | async) && (isFigleafReadyForCommunication$ | async) ||
		 		((isFigleafReadyForCommunication$ | async) &&
		 		(isNonPrivatePasswordWasScanned$ | async) &&
				(nonPrivatePasswordCount$ | async) > 0)">
		<vtr-accounts-stored
			[dashboardData]="dashboardData$ | async"
			(buttonClick$)="openFigleaf()">
		</vtr-accounts-stored>
	</div>
	<vtr-try-product-block
		*ngIf="((openPasswordId$ | async) === null) &&
				(isNonPrivatePasswordWasScanned$ | async) &&
				(nonPrivatePasswordCount$ | async) > 0"
		[isFigleafReadyToCommunication]="isFigleafReadyForCommunication$ | async"
		[texts]="tryProductText">
	</vtr-try-product-block>
</div>

<vtr-common-popup [popUpId]="removePasswordPopupId" size="big">
	<ng-template>
		<vtr-remove-password
			[browserName]="browserName"
			[popupId]="removePasswordPopupId"
			(buttonClick)="closePopup(removePasswordPopupId)">
		</vtr-remove-password>
	</ng-template>
</vtr-common-popup>
