<div class="browser-accounts-block browser-accounts-block__wrapper" [attr.data-analyticsName]="(isFigleafInstalled$ | async) ? 'PrivatelyStoredPasswordsBlock' : 'NonPrivatePasswordsBlock'">
	<ng-container>
		<p class="browser-accounts-block__title">Check for non-private passwords</p>
		<p class="browser-accounts-block__text">
			If you store passwords for your bank accounts or social media profiles in your web browser,
			you risk sharing this private information unintentionally with apps and extensions on your PC.
		</p>
	</ng-container>


	<div *ngIf="!(isConsentToGetBrowsersAccountsGiven$ | async)" class="browser-accounts-concent">
		<div class="browser-accounts-concent__text-wrapper">
			<p class="browser-accounts-concent__text">
				Show me what private information can be collected by third-party apps.
			</p>
		</div>
		<div class="browser-accounts-concent__btn-wrapper">
			<button class="browser-accounts-concent__btn"
					vtrSendAnalytics
					[metricsEvent]="'ItemClick'"
					[metricsItem]="'NonPrivatePasswordsPermissionToAccessButton'"
					(click)="giveConcentToGetBrowserAccounts()">
				ACCEPT & SHOW
			</button>
		</div>
	</div>

	<div *ngIf="browserStoredAccountsData.showDetailAction === 'link' && isFigleafReadyForCommunication$ | async"
		 class="figleaf-stored-accounts">
		<img class="figleaf-stored-accounts__img"
			 src="/assets/images/privacy-tab/logo-leaf.png"
			 srcset="/assets/images/privacy-tab/logo-leaf@2x.png 2x"
			 alt="figleaf logo">
		<div class="figleaf-stored-accounts__details-col">
			<p class="figleaf-stored-accounts__title">
				<strong>{{(figleafDashboard | async).totalAccounts}}</strong>
				accounts stored in Lenovo Privacy by FigLeaf
			</p>
			<button class="figleaf-stored-accounts__btn"
					vtrSendAnalytics
					[metricsEvent]="'ItemClick'"
					[metricsItem]="'NonPrivatePasswordsSeeDetailsButton'"
					(click)="openFigleaf()">See details</button>
		</div>
	</div>

	<vtr-browser-stored-accounts
		[openPasswordId]="openPasswordId$ | async"
		[inputData]="browserStoredAccountsData">
	</vtr-browser-stored-accounts>
</div>
