@import "icomoon-variables";

.icomoon-Active-protection {
  &:before {
    content: $icomoon-Active-protection;
  }
}
.icomoon-arrows-h {
  &:before {
    content: $icomoon-arrows-h;
  }
}
.icomoon-audio {
  &:before {
    content: $icomoon-audio;
  }
}
.icomoon-Auto {
  &:before {
    content: $icomoon-Auto;
  }
}
.icomoon-auto-screen-off {
  &:before {
    content: $icomoon-auto-screen-off;
  }
}
.icomoon-Camera {
  &:before {
    content: $icomoon-Camera;
  }
}
.icomoon-Camera-slash {
  &:before {
    content: $icomoon-Camera-slash;
  }
}
.icomoon-ConditionACAdapterError {
  &:before {
    content: $icomoon-ConditionACAdapterError;
  }
}
.icomoon-ConditionBadBattery {
  &:before {
    content: $icomoon-ConditionBadBattery;
  }
}
.icomoon-ConditionFairBattery {
  &:before {
    content: $icomoon-ConditionFairBattery;
  }
}
.icomoon-ConditionGoodBattery {
  &:before {
    content: $icomoon-ConditionGoodBattery;
  }
}
.icomoon-display_camera {
  &:before {
    content: $icomoon-display_camera;
  }
}
.icomoon-dpc-docking {
  &:before {
    content: $icomoon-dpc-docking;
  }
}
.icomoon-dpc-hdmi {
  &:before {
    content: $icomoon-dpc-hdmi;
  }
}
.icomoon-dpc-icon {
  &:before {
    content: $icomoon-dpc-icon;
  }
}
.icomoon-dpc-optional {
  &:before {
    content: $icomoon-dpc-optional;
  }
}
.icomoon-dpc-type-c {
  &:before {
    content: $icomoon-dpc-type-c;
  }
}
.icomoon-dpc-wigig {
  &:before {
    content: $icomoon-dpc-wigig;
  }
}
.icomoon-dynamic {
  &:before {
    content: $icomoon-dynamic;
  }
}
.icomoon-F1-F12-funciton {
  &:before {
    content: $icomoon-F1-F12-funciton;
  }
}
.icomoon-FA-Battery-bolt2x {
  &:before {
    content: $icomoon-FA-Battery-bolt2x;
  }
}
.icomoon-FA-Battery-three-quarters2x {
  &:before {
    content: $icomoon-FA-Battery-three-quarters2x;
  }
}
.icomoon-FA-Bolt2x {
  &:before {
    content: $icomoon-FA-Bolt2x;
  }
}
.icomoon-FA-Briefcase2x {
  &:before {
    content: $icomoon-FA-Briefcase2x;
  }
}
.icomoon-face-recognition {
  &:before {
    content: $icomoon-face-recognition;
  }
}
.icomoon-FA-Child2x {
  &:before {
    content: $icomoon-FA-Child2x;
  }
}
.icomoon-FA-Connection2x {
  &:before {
    content: $icomoon-FA-Connection2x;
  }
}
.icomoon-FA-Download2x {
  &:before {
    content: $icomoon-FA-Download2x;
  }
}
.icomoon-FA-Eye2x {
  &:before {
    content: $icomoon-FA-Eye2x;
  }
}
.icomoon-FA-Eye-Slash2x {
  &:before {
    content: $icomoon-FA-Eye-Slash2x;
  }
}
.icomoon-FA-Headset2x {
  &:before {
    content: $icomoon-FA-Headset2x;
  }
}
.icomoon-FA-Info-circle2x {
  &:before {
    content: $icomoon-FA-Info-circle2x;
  }
}
.icomoon-FA-keyboard2x {
  &:before {
    content: $icomoon-FA-keyboard2x;
  }
}
.icomoon-FA-Lock2x {
  &:before {
    content: $icomoon-FA-Lock2x;
  }
}
.icomoon-FA-Mail2x {
  &:before {
    content: $icomoon-FA-Mail2x;
  }
}
.icomoon-FA-mask2x {
  &:before {
    content: $icomoon-FA-mask2x;
  }
}
.icomoon-FA-Microphone---slash2x {
  &:before {
    content: $icomoon-FA-Microphone---slash2x;
  }
}
.icomoon-FA-Microphone2x {
  &:before {
    content: $icomoon-FA-Microphone2x;
  }
}
.icomoon-familyMembers {
  &:before {
    content: $icomoon-familyMembers;
  }
}
.icomoon-FA-Plane2x {
  &:before {
    content: $icomoon-FA-Plane2x;
  }
}
.icomoon-FA-Plug2x {
  &:before {
    content: $icomoon-FA-Plug2x;
  }
}
.icomoon-FA-Question-circle2x {
  &:before {
    content: $icomoon-FA-Question-circle2x;
  }
}
.icomoon-FA-Settings2x {
  &:before {
    content: $icomoon-FA-Settings2x;
  }
}
.icomoon-FA-Tasks2x {
  &:before {
    content: $icomoon-FA-Tasks2x;
  }
}
.icomoon-FA-Tools2x {
  &:before {
    content: $icomoon-FA-Tools2x;
  }
}
.icomoon-FA-trophy2x {
  &:before {
    content: $icomoon-FA-trophy2x;
  }
}
.icomoon-FA-Umbrella2x {
  &:before {
    content: $icomoon-FA-Umbrella2x;
  }
}
.icomoon-FA-Unplugged2x {
  &:before {
    content: $icomoon-FA-Unplugged2x;
  }
}
.icomoon-FA-User-headset2x {
  &:before {
    content: $icomoon-FA-User-headset2x;
  }
}
.icomoon-FA-Wheel2x {
  &:before {
    content: $icomoon-FA-Wheel2x;
  }
}
.icomoon-Flip-to-boot {
  &:before {
    content: $icomoon-Flip-to-boot;
  }
}
.icomoon-Fn-key-Ctrol-swap {
  &:before {
    content: $icomoon-Fn-key-Ctrol-swap;
  }
}
.icomoon-games {
  &:before {
    content: $icomoon-games;
  }
}
.icomoon-homeDevices {
  &:before {
    content: $icomoon-homeDevices;
  }
}
.icomoon-input_accessories {
  &:before {
    content: $icomoon-input_accessories;
  }
}
.icomoon-keep-my-display {
  &:before {
    content: $icomoon-keep-my-display;
  }
}
.icomoon-landing-antivirus {
  &:before {
    content: $icomoon-landing-antivirus;
  }
}
.icomoon-landing-disk {
  &:before {
    content: $icomoon-landing-disk;
  }
}
.icomoon-landing-finger {
  &:before {
    content: $icomoon-landing-finger;
  }
}
.icomoon-landing-firewall {
  &:before {
    content: $icomoon-landing-firewall;
  }
}
.icomoon-landing-password {
  &:before {
    content: $icomoon-landing-password;
  }
}
.icomoon-landing-uac {
  &:before {
    content: $icomoon-landing-uac;
  }
}
.icomoon-landing-vpn {
  &:before {
    content: $icomoon-landing-vpn;
  }
}
.icomoon-landing-wifi {
  &:before {
    content: $icomoon-landing-wifi;
  }
}
.icomoon-landing-windows {
  &:before {
    content: $icomoon-landing-windows;
  }
}
.icomoon-LE-Acoustic-echo-cancellation2x {
  &:before {
    content: $icomoon-LE-Acoustic-echo-cancellation2x;
  }
}
.icomoon-LE-Active-pen-battery2x {
  &:before {
    content: $icomoon-LE-Active-pen-battery2x;
  }
}
.icomoon-LE-Airplanemode2x {
  &:before {
    content: $icomoon-LE-Airplanemode2x;
  }
}
.icomoon-LE-AirplanemodeCharging2x {
  &:before {
    content: $icomoon-LE-AirplanemodeCharging2x;
  }
}
.icomoon-LE-Always-on-usb2x {
  &:before {
    content: $icomoon-LE-Always-on-usb2x;
  }
}
.icomoon-LE-Battery-charge-treshold2x {
  &:before {
    content: $icomoon-LE-Battery-charge-treshold2x;
  }
}
.icomoon-LE-Battery-gauge-reset2x {
  &:before {
    content: $icomoon-LE-Battery-gauge-reset2x;
  }
}
.icomoon-LE-Battery-Life-mode2x {
  &:before {
    content: $icomoon-LE-Battery-Life-mode2x;
  }
}
.icomoon-LE-Breached-accounts2x {
  &:before {
    content: $icomoon-LE-Breached-accounts2x;
  }
}
.icomoon-LE-ChargeFromShutdown2x {
  &:before {
    content: $icomoon-LE-ChargeFromShutdown2x;
  }
}
.icomoon-LE-Charging-USB---SS2x {
  &:before {
    content: $icomoon-LE-Charging-USB---SS2x;
  }
}
.icomoon-LE-Charging-USB2x {
  &:before {
    content: $icomoon-LE-Charging-USB2x;
  }
}
.icomoon-LE-ConservationCharging2x {
  &:before {
    content: $icomoon-LE-ConservationCharging2x;
  }
}
.icomoon-LE-Conservation-mode2x {
  &:before {
    content: $icomoon-LE-Conservation-mode2x;
  }
}
.icomoon-LE-CoolingDown2x {
  &:before {
    content: $icomoon-LE-CoolingDown2x;
  }
}
.icomoon-LE-Data-protection2x {
  &:before {
    content: $icomoon-LE-Data-protection2x;
  }
}
.icomoon-LE-Display-priority-control2x {
  &:before {
    content: $icomoon-LE-Display-priority-control2x;
  }
}
.icomoon-LE-Dolby2x {
  &:before {
    content: $icomoon-LE-Dolby2x;
  }
}
.icomoon-LE-Easily-accessible-accounts2x {
  &:before {
    content: $icomoon-LE-Easily-accessible-accounts2x;
  }
}
.icomoon-LE-Easy-resume2x {
  &:before {
    content: $icomoon-LE-Easy-resume2x;
  }
}
.icomoon-LE-Energy-star-logo2x {
  &:before {
    content: $icomoon-LE-Energy-star-logo2x;
  }
}
.icomoon-LE-expressCharging2x {
  &:before {
    content: $icomoon-LE-expressCharging2x;
  }
}
.icomoon-LE-face-detection2x {
  &:before {
    content: $icomoon-LE-face-detection2x;
  }
}
.icomoon-LE-face-recognition2x {
  &:before {
    content: $icomoon-LE-face-recognition2x;
  }
}
.icomoon-LE-Figleaf2x {
  &:before {
    content: $icomoon-LE-Figleaf2x;
  }
}
.icomoon-LE-Finger-Identification2x {
  &:before {
    content: $icomoon-LE-Finger-Identification2x;
  }
}
.icomoon-LE-Finger-recognition2x {
  &:before {
    content: $icomoon-LE-Finger-recognition2x;
  }
}
.icomoon-LE-Finger-Scanning2x {
  &:before {
    content: $icomoon-LE-Finger-Scanning2x;
  }
}
.icomoon-LE-Handwritting-identification2x {
  &:before {
    content: $icomoon-LE-Handwritting-identification2x;
  }
}
.icomoon-LE-Handwritting-recognition2x {
  &:before {
    content: $icomoon-LE-Handwritting-recognition2x;
  }
}
.icomoon-LE-HDMI2x {
  &:before {
    content: $icomoon-LE-HDMI2x;
  }
}
.icomoon-LE-IntelligentCooling2x {
  &:before {
    content: $icomoon-LE-IntelligentCooling2x;
  }
}
.icomoon-LE-Intelligent-dual-fan-2x {
  &:before {
    content: $icomoon-LE-Intelligent-dual-fan-2x;
  }
}
.icomoon-LE-IR2x {
  &:before {
    content: $icomoon-LE-IR2x;
  }
}
.icomoon-LE-Microphone-Optimize2x {
  &:before {
    content: $icomoon-LE-Microphone-Optimize2x;
  }
}
.icomoon-LE-Microphone-volume2x {
  &:before {
    content: $icomoon-LE-Microphone-volume2x;
  }
}
.icomoon-LE-Palm-recognition2x {
  &:before {
    content: $icomoon-LE-Palm-recognition2x;
  }
}
.icomoon-LE-Palm-Scanning2x {
  &:before {
    content: $icomoon-LE-Palm-Scanning2x;
  }
}
.icomoon-LE-Power-agenda2x {
  &:before {
    content: $icomoon-LE-Power-agenda2x;
  }
}
.icomoon-LE-Power-plan2x {
  &:before {
    content: $icomoon-LE-Power-plan2x;
  }
}
.icomoon-LE-Smart-Assist2x {
  &:before {
    content: $icomoon-LE-Smart-Assist2x;
  }
}
.icomoon-LE-USB-Type-C2x {
  &:before {
    content: $icomoon-LE-USB-Type-C2x;
  }
}
.icomoon-LE-USB2x {
  &:before {
    content: $icomoon-LE-USB2x;
  }
}
.icomoon-LE-User-Detection2x {
  &:before {
    content: $icomoon-LE-User-Detection2x;
  }
}
.icomoon-Level_1 {
  &:before {
    content: $icomoon-Level_1;
  }
}
.icomoon-Level_2 {
  &:before {
    content: $icomoon-Level_2;
  }
}
.icomoon-LE-Visible-to-online-trackers2x {
  &:before {
    content: $icomoon-LE-Visible-to-online-trackers2x;
  }
}
.icomoon-LE-Voice2x {
  &:before {
    content: $icomoon-LE-Voice2x;
  }
}
.icomoon-LE-VoiceRecognition2x {
  &:before {
    content: $icomoon-LE-VoiceRecognition2x;
  }
}
.icomoon-LE-Voice-recognition2x {
  &:before {
    content: $icomoon-LE-Voice-recognition2x;
  }
}
.icomoon-movie {
  &:before {
    content: $icomoon-movie;
  }
}
.icomoon-multiplevoices {
  &:before {
    content: $icomoon-multiplevoices;
  }
}
.icomoon-music {
  &:before {
    content: $icomoon-music;
  }
}
.icomoon-NoBatteryError {
  &:before {
    content: $icomoon-NoBatteryError;
  }
}
.icomoon-normal {
  &:before {
    content: $icomoon-normal;
  }
}
.icomoon-Off {
  &:before {
    content: $icomoon-Off;
  }
}
.icomoon-onlymyvoice {
  &:before {
    content: $icomoon-onlymyvoice;
  }
}
.icomoon-performance {
  &:before {
    content: $icomoon-performance;
  }
}
.icomoon-personalDevice {
  &:before {
    content: $icomoon-personalDevice;
  }
}
.icomoon-places {
  &:before {
    content: $icomoon-places;
  }
}
.icomoon-power_nav {
  &:before {
    content: $icomoon-power_nav;
  }
}
.icomoon-privacy-guard {
  &:before {
    content: $icomoon-privacy-guard;
  }
}
.icomoon-Quick-settings_Charge-threshold-off {
  &:before {
    content: $icomoon-Quick-settings_Charge-threshold-off;
  }
}
.icomoon-quick-setting-system-update {
  &:before {
    content: $icomoon-quick-setting-system-update;
  }
}
.icomoon-Special-function {
  &:before {
    content: $icomoon-Special-function;
  }
}
.icomoon-star {
  &:before {
    content: $icomoon-star;
  }
}
.icomoon-superResolution {
  &:before {
    content: $icomoon-superResolution;
  }
}
.icomoon-translation {
  &:before {
    content: $icomoon-translation;
  }
}
.icomoon-voicerecognition {
  &:before {
    content: $icomoon-voicerecognition;
  }
}
.icomoon-voice-to-text {
  &:before {
    content: $icomoon-voice-to-text;
  }
}
.icomoon-voip {
  &:before {
    content: $icomoon-voip;
  }
}
.icomoon-VOIP-Hotkeys {
  &:before {
    content: $icomoon-VOIP-Hotkeys;
  }
}
.icomoon-wifiNetworks {
  &:before {
    content: $icomoon-wifiNetworks;
  }
}
.icomoon-zero-touch-lock {
  &:before {
    content: $icomoon-zero-touch-lock;
  }
}
.icomoon-zero-touch-login {
  &:before {
    content: $icomoon-zero-touch-login;
  }
}
.icomoon-zero-touch-playback {
  &:before {
    content: $icomoon-zero-touch-playback;
  }
}
