@import "icomoon-variables";

.icomoon-Active-protection {
	&:before {
		content: $icomoon-Active-protection;
	}
}
.icomoon-arrows-h {
	&:before {
		content: $icomoon-arrows-h;
	}
}
.icomoon-auto-screen-off {
	&:before {
		content: $icomoon-auto-screen-off;
	}
}
.icomoon-Auto {
	&:before {
		content: $icomoon-Auto;
	}
}
.icomoon-Camera-slash {
	&:before {
		content: $icomoon-Camera-slash;
	}
}
.icomoon-Camera {
	&:before {
		content: $icomoon-Camera;
	}
}
.icomoon-ConditionACAdapterError {
	&:before {
		content: $icomoon-ConditionACAdapterError;
	}
}
.icomoon-ConditionBadBattery {
	&:before {
		content: $icomoon-ConditionBadBattery;
	}
}
.icomoon-ConditionFairBattery {
	&:before {
		content: $icomoon-ConditionFairBattery;
	}
}
.icomoon-ConditionGoodBattery {
	&:before {
		content: $icomoon-ConditionGoodBattery;
	}
}
.icomoon-dynamic {
	&:before {
		content: $icomoon-dynamic;
	}
}
.icomoon-F1-F12-funciton {
	&:before {
		content: $icomoon-F1-F12-funciton;
		color: #4a81fd;
	}
}
.icomoon-FA-Battery-bolt2x {
	&:before {
		content: $icomoon-FA-Battery-bolt2x;
	}
}
.icomoon-FA-Battery-three-quarters2x {
	&:before {
		content: $icomoon-FA-Battery-three-quarters2x;
	}
}
.icomoon-FA-Bolt2x {
	&:before {
		content: $icomoon-FA-Bolt2x;
	}
}
.icomoon-FA-Briefcase2x {
	&:before {
		content: $icomoon-FA-Briefcase2x;
	}
}
.icomoon-FA-Child2x {
	&:before {
		content: $icomoon-FA-Child2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Connection2x {
	&:before {
		content: $icomoon-FA-Connection2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Download2x {
	&:before {
		content: $icomoon-FA-Download2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Eye-Slash2x {
	&:before {
		content: $icomoon-FA-Eye-Slash2x;
	}
}
.icomoon-FA-Eye2x {
	&:before {
		content: $icomoon-FA-Eye2x;
	}
}
.icomoon-FA-Headset2x {
	&:before {
		content: $icomoon-FA-Headset2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Info-circle2x {
	&:before {
		content: $icomoon-FA-Info-circle2x;
		color: #4a81fd;
	}
}
.icomoon-FA-keyboard2x {
	&:before {
		content: $icomoon-FA-keyboard2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Lock2x {
	&:before {
		content: $icomoon-FA-Lock2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Mail2x {
	&:before {
		content: $icomoon-FA-Mail2x;
		color: #4a81fd;
	}
}
.icomoon-FA-mask2x {
	&:before {
		content: $icomoon-FA-mask2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Microphone---slash2x {
	&:before {
		content: $icomoon-FA-Microphone---slash2x;
	}
}
.icomoon-FA-Microphone2x {
	&:before {
		content: $icomoon-FA-Microphone2x;
	}
}
.icomoon-FA-Plane2x {
	&:before {
		content: $icomoon-FA-Plane2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Plug2x {
	&:before {
		content: $icomoon-FA-Plug2x;
	}
}
.icomoon-FA-Question-circle2x {
	&:before {
		content: $icomoon-FA-Question-circle2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Settings2x {
	&:before {
		content: $icomoon-FA-Settings2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Tasks2x {
	&:before {
		content: $icomoon-FA-Tasks2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Tools2x {
	&:before {
		content: $icomoon-FA-Tools2x;
		color: #4a81fd;
	}
}
.icomoon-FA-trophy2x {
	&:before {
		content: $icomoon-FA-trophy2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Umbrella2x {
	&:before {
		content: $icomoon-FA-Umbrella2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Unplugged2x {
	&:before {
		content: $icomoon-FA-Unplugged2x;
	}
}
.icomoon-FA-User-headset2x {
	&:before {
		content: $icomoon-FA-User-headset2x;
		color: #4a81fd;
	}
}
.icomoon-FA-Wheel2x {
	&:before {
		content: $icomoon-FA-Wheel2x;
		color: #4a81fd;
	}
}
.icomoon-face-recognition {
	&:before {
		content: $icomoon-face-recognition;
	}
}
.icomoon-familyMembers {
	&:before {
		content: $icomoon-familyMembers;
		color: #4a81fd;
	}
}
.icomoon-Flip-to-boot {
	&:before {
		content: $icomoon-Flip-to-boot;
		color: #4a81fd;
	}
}
.icomoon-Fn-key-Ctrol-swap {
	&:before {
		content: $icomoon-Fn-key-Ctrol-swap;
		color: #418afd;
	}
}
.icomoon-games {
	&:before {
		content: $icomoon-games;
		color: #4a81fd;
	}
}
.icomoon-Hidden-keyboard-functions {
	&:before {
		content: $icomoon-Hidden-keyboard-functions;
		color: #418afd;
	}
}
.icomoon-homeDevices {
	&:before {
		content: $icomoon-homeDevices;
		color: #4a81fd;
	}
}
.icomoon-keep-my-display {
	&:before {
		content: $icomoon-keep-my-display;
	}
}
.icomoon-landing-antivirus {
	&:before {
		content: $icomoon-landing-antivirus;
		color: #4a81fd;
	}
}
.icomoon-landing-disk {
	&:before {
		content: $icomoon-landing-disk;
		color: #4a81fd;
	}
}
.icomoon-landing-finger {
	&:before {
		content: $icomoon-landing-finger;
		color: #4a81fd;
	}
}
.icomoon-landing-firewall {
	&:before {
		content: $icomoon-landing-firewall;
		color: #4a81fd;
	}
}
.icomoon-landing-password {
	&:before {
		content: $icomoon-landing-password;
		color: #4a81fd;
	}
}
.icomoon-landing-uac {
	&:before {
		content: $icomoon-landing-uac;
		color: #4a81fd;
	}
}
.icomoon-landing-vpn {
	&:before {
		content: $icomoon-landing-vpn;
		color: #4a81fd;
	}
}
.icomoon-landing-wifi {
	&:before {
		content: $icomoon-landing-wifi;
		color: #4a81fd;
	}
}
.icomoon-landing-windows {
	&:before {
		content: $icomoon-landing-windows;
		color: #4a81fd;
	}
}
.icomoon-LE-Acoustic-echo-cancellation2x {
	&:before {
		content: $icomoon-LE-Acoustic-echo-cancellation2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Active-pen-battery2x {
	&:before {
		content: $icomoon-LE-Active-pen-battery2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Airplanemode2x {
	&:before {
		content: $icomoon-LE-Airplanemode2x;
	}
}
.icomoon-LE-AirplanemodeCharging2x {
	&:before {
		content: $icomoon-LE-AirplanemodeCharging2x;
	}
}
.icomoon-LE-Always-on-usb2x {
	&:before {
		content: $icomoon-LE-Always-on-usb2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Battery-charge-treshold2x {
	&:before {
		content: $icomoon-LE-Battery-charge-treshold2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Battery-gauge-reset2x {
	&:before {
		content: $icomoon-LE-Battery-gauge-reset2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Battery-Life-mode2x {
	&:before {
		content: $icomoon-LE-Battery-Life-mode2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Breached-accounts2x {
	&:before {
		content: $icomoon-LE-Breached-accounts2x;
		color: #4a81fd;
	}
}
.icomoon-LE-ChargeFromShutdown2x {
	&:before {
		content: $icomoon-LE-ChargeFromShutdown2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Charging-USB---SS2x {
	&:before {
		content: $icomoon-LE-Charging-USB---SS2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Charging-USB2x {
	&:before {
		content: $icomoon-LE-Charging-USB2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Conservation-mode2x {
	&:before {
		content: $icomoon-LE-Conservation-mode2x;
		color: #4a81fd;
	}
}
.icomoon-LE-ConservationCharging2x {
	&:before {
		content: $icomoon-LE-ConservationCharging2x;
	}
}
.icomoon-LE-CoolingDown2x {
	&:before {
		content: $icomoon-LE-CoolingDown2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Data-protection2x {
	&:before {
		content: $icomoon-LE-Data-protection2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Display-priority-control2x {
	&:before {
		content: $icomoon-LE-Display-priority-control2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Dolby2x {
	&:before {
		content: $icomoon-LE-Dolby2x;
	}
}
.icomoon-LE-Easily-accessible-accounts2x {
	&:before {
		content: $icomoon-LE-Easily-accessible-accounts2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Easy-resume2x {
	&:before {
		content: $icomoon-LE-Easy-resume2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Energy-star-logo2x {
	&:before {
		content: $icomoon-LE-Energy-star-logo2x;
	}
}
.icomoon-LE-expressCharging2x {
	&:before {
		content: $icomoon-LE-expressCharging2x;
	}
}
.icomoon-LE-face-detection2x {
	&:before {
		content: $icomoon-LE-face-detection2x;
		color: #4a81fd;
	}
}
.icomoon-LE-face-recognition2x {
	&:before {
		content: $icomoon-LE-face-recognition2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Figleaf2x {
	&:before {
		content: $icomoon-LE-Figleaf2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Finger-Identification2x {
	&:before {
		content: $icomoon-LE-Finger-Identification2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Finger-recognition2x {
	&:before {
		content: $icomoon-LE-Finger-recognition2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Finger-Scanning2x {
	&:before {
		content: $icomoon-LE-Finger-Scanning2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Handwritting-identification2x {
	&:before {
		content: $icomoon-LE-Handwritting-identification2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Handwritting-recognition2x {
	&:before {
		content: $icomoon-LE-Handwritting-recognition2x;
		color: #4a81fd;
	}
}
.icomoon-LE-HDMI2x {
	&:before {
		content: $icomoon-LE-HDMI2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Intelligent-dual-fan-2x {
	&:before {
		content: $icomoon-LE-Intelligent-dual-fan-2x;
		color: #4a81fd;
	}
}
.icomoon-LE-IntelligentCooling2x {
	&:before {
		content: $icomoon-LE-IntelligentCooling2x;
		color: #4a81fd;
	}
}
.icomoon-LE-IR2x {
	&:before {
		content: $icomoon-LE-IR2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Microphone-Optimize2x {
	&:before {
		content: $icomoon-LE-Microphone-Optimize2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Microphone-volume2x {
	&:before {
		content: $icomoon-LE-Microphone-volume2x;
	}
}
.icomoon-LE-Palm-recognition2x {
	&:before {
		content: $icomoon-LE-Palm-recognition2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Palm-Scanning2x {
	&:before {
		content: $icomoon-LE-Palm-Scanning2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Power-agenda2x {
	&:before {
		content: $icomoon-LE-Power-agenda2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Power-plan2x {
	&:before {
		content: $icomoon-LE-Power-plan2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Smart-Assist2x {
	&:before {
		content: $icomoon-LE-Smart-Assist2x;
		color: #4a81fd;
	}
}
.icomoon-LE-USB-Type-C2x {
	&:before {
		content: $icomoon-LE-USB-Type-C2x;
		color: #4a81fd;
	}
}
.icomoon-LE-USB2x {
	&:before {
		content: $icomoon-LE-USB2x;
		color: #4a81fd;
	}
}
.icomoon-LE-User-Detection2x {
	&:before {
		content: $icomoon-LE-User-Detection2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Visible-to-online-trackers2x {
	&:before {
		content: $icomoon-LE-Visible-to-online-trackers2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Voice-recognition2x {
	&:before {
		content: $icomoon-LE-Voice-recognition2x;
		color: #4a81fd;
	}
}
.icomoon-LE-Voice2x {
	&:before {
		content: $icomoon-LE-Voice2x;
		color: #4a81fd;
	}
}
.icomoon-LE-VoiceRecognition2x {
	&:before {
		content: $icomoon-LE-VoiceRecognition2x;
		color: #4a81fd;
	}
}
.icomoon-Level_1 {
	&:before {
		content: $icomoon-Level_1;
	}
}
.icomoon-Level_2 {
	&:before {
		content: $icomoon-Level_2;
	}
}
.icomoon-movie {
	&:before {
		content: $icomoon-movie;
		color: #4a81fd;
	}
}
.icomoon-multiplevoices {
	&:before {
		content: $icomoon-multiplevoices;
		color: #4a81fd;
	}
}
.icomoon-music {
	&:before {
		content: $icomoon-music;
	}
}
.icomoon-NoBatteryError {
	&:before {
		content: $icomoon-NoBatteryError;
	}
}
.icomoon-normal {
	&:before {
		content: $icomoon-normal;
	}
}
.icomoon-Off {
	&:before {
		content: $icomoon-Off;
	}
}
.icomoon-onlymyvoice {
	&:before {
		content: $icomoon-onlymyvoice;
		color: #4a81fd;
	}
}
.icomoon-performance {
	&:before {
		content: $icomoon-performance;
	}
}
.icomoon-personalDevice {
	&:before {
		content: $icomoon-personalDevice;
		color: #4a81fd;
	}
}
.icomoon-places {
	&:before {
		content: $icomoon-places;
		color: #4a81fd;
	}
}
.icomoon-privacy-guard {
	&:before {
		content: $icomoon-privacy-guard;
		color: #4a81fd;
	}
}
.icomoon-Quick-settings_Charge-threshold-off {
	&:before {
		content: $icomoon-Quick-settings_Charge-threshold-off;
	}
}
.icomoon-quick-setting-system-update {
	&:before {
		content: $icomoon-quick-setting-system-update;
	}
}
.icomoon-Special-function {
	&:before {
		content: $icomoon-Special-function;
		color: #4a81fd;
	}
}
.icomoon-star {
	&:before {
		content: $icomoon-star;
	}
}
.icomoon-superResolution {
	&:before {
		content: $icomoon-superResolution;
		color: #4a81fd;
	}
}
.icomoon-Top-row-keys {
	&:before {
		content: $icomoon-Top-row-keys;
		color: #418afd;
	}
}
.icomoon-translation {
	&:before {
		content: $icomoon-translation;
	}
}
.icomoon-voice-to-text {
	&:before {
		content: $icomoon-voice-to-text;
	}
}
.icomoon-voicerecognition {
	&:before {
		content: $icomoon-voicerecognition;
		color: #4a81fd;
	}
}
.icomoon-VOIP-Hotkeys {
	&:before {
		content: $icomoon-VOIP-Hotkeys;
		color: #4a81fd;
	}
}
.icomoon-voip {
	&:before {
		content: $icomoon-voip;
		color: #4a81fd;
	}
}
.icomoon-wifiNetworks {
	&:before {
		content: $icomoon-wifiNetworks;
		color: #4a81fd;
	}
}
.icomoon-zero-touch-lock {
	&:before {
		content: $icomoon-zero-touch-lock;
		color: #4a81fd;
	}
}
.icomoon-zero-touch-login {
	&:before {
		content: $icomoon-zero-touch-login;
		color: #4a81fd;
	}
}
.icomoon-arrows-h:before {
  content: "\e901";
}
.icomoon-audio:before {
  content: "\e902";
  color: #fff;
}
.icomoon-auto-screen-off:before {
  content: "\e903";
}
.icomoon-Camera:before {
  content: "\e904";
}
.icomoon-Camera-slash:before {
  content: "\e905";
}
.icomoon-ConditionACAdapterError:before {
  content: "\e906";
}
.icomoon-ConditionBadBattery:before {
  content: "\e907";
}
.icomoon-ConditionFairBattery:before {
  content: "\e908";
}
.icomoon-ConditionGoodBattery:before {
  content: "\e909";
}
.icomoon-display_camera:before {
  content: "\e90a";
  color: #fff;
}
.icomoon-dynamic:before {
  content: "\e90b";
}
.icomoon-F1-F12-funciton:before {
  content: "\e90c";
  color: #4a81fd;
}
.icomoon-FA-Battery-bolt2x:before {
  content: "\e90d";
}
.icomoon-FA-Battery-three-quarters2x:before {
  content: "\e90e";
}
.icomoon-FA-Bolt2x:before {
  content: "\e90f";
}
.icomoon-FA-Briefcase2x:before {
  content: "\e910";
}
.icomoon-face-recognition:before {
  content: "\e911";
}
.icomoon-FA-Child2x:before {
  content: "\e912";
  color: #4a81fd;
}
.icomoon-FA-Connection2x:before {
  content: "\e913";
  color: #4a81fd;
}
.icomoon-FA-Download2x:before {
  content: "\e914";
  color: #4a81fd;
}
.icomoon-FA-Eye2x:before {
  content: "\e915";
}
.icomoon-FA-Eye-Slash2x:before {
  content: "\e916";
}
.icomoon-FA-Headset2x:before {
  content: "\e917";
  color: #4a81fd;
}
.icomoon-FA-Info-circle2x:before {
  content: "\e918";
  color: #4a81fd;
}
.icomoon-FA-keyboard2x:before {
  content: "\e919";
  color: #4a81fd;
}
.icomoon-FA-Lock2x:before {
  content: "\e91a";
  color: #4a81fd;
}
.icomoon-FA-Mail2x:before {
  content: "\e91b";
  color: #4a81fd;
}
.icomoon-FA-mask2x:before {
  content: "\e91c";
  color: #4a81fd;
}
.icomoon-FA-Microphone---slash2x:before {
  content: "\e91d";
}
.icomoon-FA-Microphone2x:before {
  content: "\e91e";
}
.icomoon-familyMembers:before {
  content: "\e91f";
  color: #4a81fd;
}
.icomoon-FA-Plane2x:before {
  content: "\e920";
  color: #4a81fd;
}
.icomoon-FA-Plug2x:before {
  content: "\e921";
}
.icomoon-FA-Question-circle2x:before {
  content: "\e922";
  color: #4a81fd;
}
.icomoon-FA-Settings2x:before {
  content: "\e923";
  color: #4a81fd;
}
.icomoon-FA-Tasks2x:before {
  content: "\e924";
  color: #4a81fd;
}
.icomoon-FA-Tools2x:before {
  content: "\e925";
  color: #4a81fd;
}
.icomoon-FA-trophy2x:before {
  content: "\e926";
  color: #4a81fd;
}
.icomoon-FA-Umbrella2x:before {
  content: "\e927";
  color: #4a81fd;
}
.icomoon-FA-Unplugged2x:before {
  content: "\e928";
}
.icomoon-FA-User-headset2x:before {
  content: "\e929";
  color: #4a81fd;
}
.icomoon-FA-Wheel2x:before {
  content: "\e92a";
  color: #4a81fd;
}
.icomoon-Flip-to-boot:before {
  content: "\e92b";
  color: #4a81fd;
}
.icomoon-Fn-key-Ctrol-swap:before {
  content: "\e92c";
  color: #418afd;
}
.icomoon-games:before {
  content: "\e92d";
  color: #4a81fd;
}
.icomoon-Hidden-keyboard-functions:before {
  content: "\e92e";
  color: #418afd;
}
.icomoon-homeDevices:before {
  content: "\e92f";
  color: #4a81fd;
}
.icomoon-input_accessories:before {
  content: "\e930";
  color: #fff;
}
.icomoon-keep-my-display:before {
  content: "\e931";
}
.icomoon-landing-antivirus:before {
  content: "\e932";
  color: #4a81fd;
}
.icomoon-landing-disk:before {
  content: "\e933";
  color: #4a81fd;
}
.icomoon-landing-finger:before {
  content: "\e934";
  color: #4a81fd;
}
.icomoon-landing-firewall:before {
  content: "\e935";
  color: #4a81fd;
}
.icomoon-landing-password:before {
  content: "\e936";
  color: #4a81fd;
}
.icomoon-landing-uac:before {
  content: "\e937";
  color: #4a81fd;
}
.icomoon-landing-vpn:before {
  content: "\e938";
  color: #4a81fd;
}
.icomoon-landing-wifi:before {
  content: "\e939";
  color: #4a81fd;
}
.icomoon-landing-windows:before {
  content: "\e93a";
  color: #4a81fd;
}
.icomoon-LE-Acoustic-echo-cancellation2x:before {
  content: "\e93b";
  color: #4a81fd;
}
.icomoon-LE-Active-pen-battery2x:before {
  content: "\e93c";
  color: #4a81fd;
}
.icomoon-LE-Airplanemode2x:before {
  content: "\e93d";
}
.icomoon-LE-AirplanemodeCharging2x:before {
  content: "\e93e";
}
.icomoon-LE-Always-on-usb2x:before {
  content: "\e93f";
  color: #4a81fd;
}
.icomoon-LE-Battery-charge-treshold2x:before {
  content: "\e940";
  color: #4a81fd;
}
.icomoon-LE-Battery-gauge-reset2x:before {
  content: "\e941";
  color: #4a81fd;
}
.icomoon-LE-Battery-Life-mode2x:before {
  content: "\e942";
  color: #4a81fd;
}
.icomoon-LE-Breached-accounts2x:before {
  content: "\e943";
  color: #4a81fd;
}
.icomoon-LE-ChargeFromShutdown2x:before {
  content: "\e944";
  color: #4a81fd;
}
.icomoon-LE-Charging-USB---SS2x:before {
  content: "\e945";
  color: #4a81fd;
}
.icomoon-LE-Charging-USB2x:before {
  content: "\e946";
  color: #4a81fd;
}
.icomoon-LE-ConservationCharging2x:before {
  content: "\e947";
}
.icomoon-LE-Conservation-mode2x:before {
  content: "\e948";
  color: #4a81fd;
}
.icomoon-LE-CoolingDown2x:before {
  content: "\e949";
  color: #4a81fd;
}
.icomoon-LE-Data-protection2x:before {
  content: "\e94a";
  color: #4a81fd;
}
.icomoon-LE-Display-priority-control2x:before {
  content: "\e94b";
  color: #4a81fd;
}
.icomoon-LE-Dolby2x:before {
  content: "\e94c";
}
.icomoon-LE-Easily-accessible-accounts2x:before {
  content: "\e94d";
  color: #4a81fd;
}
.icomoon-LE-Easy-resume2x:before {
  content: "\e94e";
  color: #4a81fd;
}
.icomoon-LE-Energy-star-logo2x:before {
  content: "\e94f";
}
.icomoon-LE-expressCharging2x:before {
  content: "\e950";
}
.icomoon-LE-face-detection2x:before {
  content: "\e951";
  color: #4a81fd;
}
.icomoon-LE-face-recognition2x:before {
  content: "\e952";
  color: #4a81fd;
}
.icomoon-LE-Figleaf2x:before {
  content: "\e953";
  color: #4a81fd;
}
.icomoon-LE-Finger-Identification2x:before {
  content: "\e954";
  color: #4a81fd;
}
.icomoon-LE-Finger-recognition2x:before {
  content: "\e955";
  color: #4a81fd;
}
.icomoon-LE-Finger-Scanning2x:before {
  content: "\e956";
  color: #4a81fd;
}
.icomoon-LE-Handwritting-identification2x:before {
  content: "\e957";
  color: #4a81fd;
}
.icomoon-LE-Handwritting-recognition2x:before {
  content: "\e958";
  color: #4a81fd;
}
.icomoon-LE-HDMI2x:before {
  content: "\e959";
  color: #4a81fd;
}
.icomoon-LE-IntelligentCooling2x:before {
  content: "\e95a";
  color: #4a81fd;
}
.icomoon-LE-Intelligent-dual-fan-2x:before {
  content: "\e95b";
  color: #4a81fd;
}
.icomoon-LE-IR2x:before {
  content: "\e95c";
  color: #4a81fd;
}
.icomoon-LE-Microphone-Optimize2x:before {
  content: "\e95d";
  color: #4a81fd;
}
.icomoon-LE-Microphone-volume2x:before {
  content: "\e95e";
}
.icomoon-LE-Palm-recognition2x:before {
  content: "\e95f";
  color: #4a81fd;
}
.icomoon-LE-Palm-Scanning2x:before {
  content: "\e960";
  color: #4a81fd;
}
.icomoon-LE-Power-agenda2x:before {
  content: "\e961";
  color: #4a81fd;
}
.icomoon-LE-Power-plan2x:before {
  content: "\e962";
  color: #4a81fd;
}
.icomoon-LE-Smart-Assist2x:before {
  content: "\e963";
  color: #4a81fd;
}
.icomoon-LE-USB-Type-C2x:before {
  content: "\e964";
  color: #4a81fd;
}
.icomoon-LE-USB2x:before {
  content: "\e965";
  color: #4a81fd;
}
.icomoon-LE-User-Detection2x:before {
  content: "\e966";
  color: #4a81fd;
}
.icomoon-LE-Visible-to-online-trackers2x:before {
  content: "\e967";
  color: #4a81fd;
}
.icomoon-LE-Voice2x:before {
  content: "\e968";
  color: #4a81fd;
}
.icomoon-LE-VoiceRecognition2x:before {
  content: "\e969";
  color: #4a81fd;
}
.icomoon-LE-Voice-recognition2x:before {
  content: "\e96a";
  color: #4a81fd;
}
.icomoon-movie:before {
  content: "\e96b";
  color: #4a81fd;
}
.icomoon-multiplevoices:before {
  content: "\e96c";
  color: #4a81fd;
}
.icomoon-music:before {
  content: "\e96d";
}
.icomoon-NoBatteryError:before {
  content: "\e96e";
}
.icomoon-normal:before {
  content: "\e96f";
}
.icomoon-onlymyvoice:before {
  content: "\e970";
  color: #4a81fd;
}
.icomoon-performance:before {
  content: "\e971";
}
.icomoon-personalDevice:before {
  content: "\e972";
  color: #4a81fd;
}
.icomoon-places:before {
  content: "\e973";
  color: #4a81fd;
}
.icomoon-power_nav:before {
  content: "\e974";
  color: #fff;
}
.icomoon-privacy-guard:before {
  content: "\e975";
  color: #4a81fd;
}
.icomoon-Quick-settings_Charge-threshold-off:before {
  content: "\e976";
}
.icomoon-quick-setting-system-update:before {
  content: "\e977";
}
.icomoon-Special-function:before {
  content: "\e978";
  color: #4a81fd;
}
.icomoon-star:before {
  content: "\e979";
}
.icomoon-superResolution:before {
  content: "\e97a";
  color: #4a81fd;
}
.icomoon-Top-row-keys:before {
  content: "\e97b";
  color: #418afd;
}
.icomoon-translation:before {
  content: "\e97c";
}
.icomoon-voicerecognition:before {
  content: "\e97d";
  color: #4a81fd;
}
.icomoon-voice-to-text:before {
  content: "\e97e";
}
.icomoon-voip:before {
  content: "\e97f";
  color: #4a81fd;
}
.icomoon-VOIP-Hotkeys:before {
  content: "\e980";
  color: #4a81fd;
}
.icomoon-wifiNetworks:before {
  content: "\e981";
  color: #4a81fd;
}
.icomoon-zero-touch-lock:before {
  content: "\e982";
  color: #4a81fd;
}
.icomoon-zero-touch-login:before {
  content: "\e983";
  color: #4a81fd;
}
.icomoon-zero-touch-playback:before {
  content: "\e984";
  color: #4a81fd;
}
