$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;


$icomoon-Active-protection: "\e900";
$icomoon-arrows-h: "\e901";
$icomoon-audio: "\e902";
$icomoon-Auto: "\e903";
$icomoon-auto-screen-off: "\e904";
$icomoon-Camera: "\e905";
$icomoon-Camera-slash: "\e906";
$icomoon-ConditionACAdapterError: "\e907";
$icomoon-ConditionBadBattery: "\e908";
$icomoon-ConditionFairBattery: "\e909";
$icomoon-ConditionGoodBattery: "\e90a";
$icomoon-display_camera: "\e90b";
$icomoon-dpc-docking: "\e90c";
$icomoon-dpc-hdmi: "\e90d";
$icomoon-dpc-icon: "\e90e";
$icomoon-dpc-optional: "\e90f";
$icomoon-dpc-type-c: "\e910";
$icomoon-dpc-wigig: "\e911";
$icomoon-dpm-global-settings: "\e912";
$icomoon-dpm-power-agenda: "\e913";
$icomoon-dpm-power-plan: "\e914";
$icomoon-dpm-power-use: "\e915";
$icomoon-DS-ic-list_Smart-standby: "\e916";
$icomoon-dynamic: "\e917";
$icomoon-F1-F12-funciton: "\e918";
$icomoon-FA-Battery-bolt2x: "\e919";
$icomoon-FA-Battery-three-quarters2x: "\e91a";
$icomoon-FA-Bolt2x: "\e91b";
$icomoon-FA-Briefcase2x: "\e91c";
$icomoon-face-recognition: "\e91d";
$icomoon-FA-Child2x: "\e91e";
$icomoon-FA-Connection2x: "\e91f";
$icomoon-FA-Download2x: "\e920";
$icomoon-FA-Eye2x: "\e921";
$icomoon-FA-Eye-Slash2x: "\e922";
$icomoon-FA-Headset2x: "\e923";
$icomoon-FA-Info-circle2x: "\e924";
$icomoon-FA-keyboard2x: "\e925";
$icomoon-FA-Lock2x: "\e926";
$icomoon-FA-Mail2x: "\e927";
$icomoon-FA-mask2x: "\e928";
$icomoon-FA-Microphone---slash2x: "\e929";
$icomoon-FA-Microphone2x: "\e92a";
$icomoon-familyMembers: "\e92b";
$icomoon-FA-Plane2x: "\e92c";
$icomoon-FA-Plug2x: "\e92d";
$icomoon-FA-Question-circle2x: "\e92e";
$icomoon-FA-Settings2x: "\e92f";
$icomoon-FA-Tasks2x: "\e930";
$icomoon-FA-Tools2x: "\e931";
$icomoon-FA-trophy2x: "\e932";
$icomoon-FA-Umbrella2x: "\e933";
$icomoon-FA-Unplugged2x: "\e934";
$icomoon-FA-User-headset2x: "\e935";
$icomoon-FA-Wheel2x: "\e936";
$icomoon-Flip-to-boot: "\e937";
$icomoon-Fn-key-Ctrol-swap: "\e938";
$icomoon-games: "\e939";
$icomoon-Hidden-keyboard-functions: "\e93a";
$icomoon-homeDevices: "\e93b";
$icomoon-ic: "\e93c";
$icomoon-input_accessories: "\e93d";
$icomoon-keep-my-display: "\e93e";
$icomoon-landing-antivirus: "\e93f";
$icomoon-landing-disk: "\e940";
$icomoon-landing-finger: "\e941";
$icomoon-landing-firewall: "\e942";
$icomoon-landing-password: "\e943";
$icomoon-landing-uac: "\e944";
$icomoon-landing-vpn: "\e945";
$icomoon-landing-wifi: "\e946";
$icomoon-landing-windows: "\e947";
$icomoon-LE-Acoustic-echo-cancellation2x: "\e948";
$icomoon-LE-Active-pen-battery2x: "\e949";
$icomoon-LE-Airplanemode2x: "\e94a";
$icomoon-LE-AirplanemodeCharging2x: "\e94b";
$icomoon-LE-Always-on-usb2x: "\e94c";
$icomoon-LE-Battery-charge-treshold2x: "\e94d";
$icomoon-LE-Battery-gauge-reset2x: "\e94e";
$icomoon-LE-Battery-Life-mode2x: "\e94f";
$icomoon-LE-Breached-accounts2x: "\e950";
$icomoon-LE-ChargeFromShutdown2x: "\e951";
$icomoon-LE-Charging-USB---SS2x: "\e952";
$icomoon-LE-Charging-USB2x: "\e953";
$icomoon-LE-ConservationCharging2x: "\e954";
$icomoon-LE-Conservation-mode2x: "\e955";
$icomoon-LE-CoolingDown2x: "\e956";
$icomoon-LE-Data-protection2x: "\e957";
$icomoon-LE-Display-priority-control2x: "\e958";
$icomoon-LE-Dolby2x: "\e959";
$icomoon-LE-Easily-accessible-accounts2x: "\e95a";
$icomoon-LE-Easy-resume2x: "\e95b";
$icomoon-LE-Energy-star-logo2x: "\e95c";
$icomoon-LE-expressCharging2x: "\e95d";
$icomoon-LE-face-detection2x: "\e95e";
$icomoon-LE-face-recognition2x: "\e95f";
$icomoon-LE-Figleaf2x: "\e960";
$icomoon-LE-Finger-Identification2x: "\e961";
$icomoon-LE-Finger-recognition2x: "\e962";
$icomoon-LE-Finger-Scanning2x: "\e963";
$icomoon-LE-Handwritting-identification2x: "\e964";
$icomoon-LE-Handwritting-recognition2x: "\e965";
$icomoon-LE-HDMI2x: "\e966";
$icomoon-LE-IntelligentCooling2x: "\e967";
$icomoon-LE-Intelligent-dual-fan-2x: "\e968";
$icomoon-LE-IR2x: "\e969";
$icomoon-LE-Microphone-Optimize2x: "\e96a";
$icomoon-LE-Microphone-volume2x: "\e96b";
$icomoon-LE-Palm-recognition2x: "\e96c";
$icomoon-LE-Palm-Scanning2x: "\e96d";
$icomoon-LE-Power-agenda2x: "\e96e";
$icomoon-LE-Power-plan2x: "\e96f";
$icomoon-LE-Smart-Assist2x: "\e970";
$icomoon-LE-USB-Type-C2x: "\e971";
$icomoon-LE-USB2x: "\e972";
$icomoon-LE-User-Detection2x: "\e973";
$icomoon-Level_1: "\e974";
$icomoon-Level_2: "\e975";
$icomoon-LE-Visible-to-online-trackers2x: "\e976";
$icomoon-LE-Voice2x: "\e977";
$icomoon-LE-VoiceRecognition2x: "\e978";
$icomoon-LE-Voice-recognition2x: "\e979";
$icomoon-movie: "\e97a";
$icomoon-multiplevoices: "\e97b";
$icomoon-music: "\e97c";
$icomoon-NoBatteryError: "\e97d";
$icomoon-normal: "\e97e";
$icomoon-Off: "\e97f";
$icomoon-onlymyvoice: "\e980";
$icomoon-performance: "\e981";
$icomoon-personalDevice: "\e982";
$icomoon-places: "\e983";
$icomoon-power_nav: "\e984";
$icomoon-privacy-guard: "\e985";
$icomoon-Quick-settings_Charge-threshold-off: "\e986";
$icomoon-quick-setting-system-update: "\e987";
$icomoon-Special-function: "\e988";
$icomoon-star: "\e989";
$icomoon-superResolution: "\e98a";
$icomoon-Top-row-keys: "\e98b";
$icomoon-translation: "\e98c";
$icomoon-voicerecognition: "\e98d";
$icomoon-voice-to-text: "\e98e";
$icomoon-voip: "\e98f";
$icomoon-VOIP-Hotkeys: "\e990";
$icomoon-wifiNetworks: "\e991";
$icomoon-zero-touch-lock: "\e992";
$icomoon-zero-touch-login: "\e993";
$icomoon-zero-touch-playback: "\e994";

