$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icomoon-Active-protection: "\e900";
$icomoon-arrows-h: "\e901";
$icomoon-auto-screen-off: "\e902";
$icomoon-Camera: "\e903";
$icomoon-Camera-slash: "\e904";
$icomoon-ConditionACAdapterError: "\e905";
$icomoon-ConditionBadBattery: "\e906";
$icomoon-ConditionFairBattery: "\e907";
$icomoon-ConditionGoodBattery: "\e908";
$icomoon-dynamic: "\e909";
$icomoon-F1-F12-funciton: "\e90a";
$icomoon-FA-Battery-bolt2x: "\e90b";
$icomoon-FA-Battery-three-quarters2x: "\e90c";
$icomoon-FA-Bolt2x: "\e90d";
$icomoon-FA-Briefcase2x: "\e90e";
$icomoon-face-recognition: "\e90f";
$icomoon-FA-Child2x: "\e910";
$icomoon-FA-Connection2x: "\e911";
$icomoon-FA-Download2x: "\e912";
$icomoon-FA-Eye2x: "\e913";
$icomoon-FA-Eye-Slash2x: "\e914";
$icomoon-FA-Headset2x: "\e915";
$icomoon-FA-Info-circle2x: "\e916";
$icomoon-FA-keyboard2x: "\e917";
$icomoon-FA-Lock2x: "\e918";
$icomoon-FA-Mail2x: "\e919";
$icomoon-FA-mask2x: "\e91a";
$icomoon-FA-Microphone---slash2x: "\e91b";
$icomoon-FA-Microphone2x: "\e91c";
$icomoon-familyMembers: "\e91d";
$icomoon-FA-Plane2x: "\e91e";
$icomoon-FA-Plug2x: "\e91f";
$icomoon-FA-Question-circle2x: "\e920";
$icomoon-FA-Settings2x: "\e921";
$icomoon-FA-Tasks2x: "\e922";
$icomoon-FA-Tools2x: "\e923";
$icomoon-FA-trophy2x: "\e924";
$icomoon-FA-Umbrella2x: "\e925";
$icomoon-FA-Unplugged2x: "\e926";
$icomoon-FA-User-headset2x: "\e927";
$icomoon-FA-Wheel2x: "\e928";
$icomoon-Flip-to-boot: "\e929";
$icomoon-Fn-key-Ctrol-swap: "\e92a";
$icomoon-games: "\e92b";
$icomoon-homeDevices: "\e92d";
$icomoon-keep-my-display: "\e92e";
$icomoon-LE-Acoustic-echo-cancellation2x: "\e92f";
$icomoon-LE-Active-pen-battery2x: "\e930";
$icomoon-LE-Airplanemode2x: "\e931";
$icomoon-LE-AirplanemodeCharging2x: "\e932";
$icomoon-LE-Always-on-usb2x: "\e933";
$icomoon-LE-Battery-charge-treshold2x: "\e934";
$icomoon-LE-Battery-gauge-reset2x: "\e935";
$icomoon-LE-Battery-Life-mode2x: "\e936";
$icomoon-LE-Breached-accounts2x: "\e937";
$icomoon-LE-ChargeFromShutdown2x: "\e938";
$icomoon-LE-Charging-USB---SS2x: "\e939";
$icomoon-LE-Charging-USB2x: "\e93a";
$icomoon-LE-ConservationCharging2x: "\e93b";
$icomoon-LE-Conservation-mode2x: "\e93c";
$icomoon-LE-CoolingDown2x: "\e93d";
$icomoon-LE-Data-protection2x: "\e93e";
$icomoon-LE-Display-priority-control2x: "\e93f";
$icomoon-LE-Dolby2x: "\e940";
$icomoon-LE-Easily-accessible-accounts2x: "\e941";
$icomoon-LE-Easy-resume2x: "\e942";
$icomoon-LE-Energy-star-logo2x: "\e943";
$icomoon-LE-expressCharging2x: "\e944";
$icomoon-LE-face-detection2x: "\e945";
$icomoon-LE-face-recognition2x: "\e946";
$icomoon-LE-Figleaf2x: "\e947";
$icomoon-LE-Finger-Identification2x: "\e948";
$icomoon-LE-Finger-recognition2x: "\e949";
$icomoon-LE-Finger-Scanning2x: "\e94a";
$icomoon-LE-Handwritting-identification2x: "\e94b";
$icomoon-LE-Handwritting-recognition2x: "\e94c";
$icomoon-LE-HDMI2x: "\e94d";
$icomoon-LE-IntelligentCooling2x: "\e94e";
$icomoon-LE-Intelligent-dual-fan-2x: "\e94f";
$icomoon-LE-IR2x: "\e950";
$icomoon-LE-Microphone-Optimize2x: "\e951";
$icomoon-LE-Microphone-volume2x: "\e952";
$icomoon-LE-Palm-recognition2x: "\e953";
$icomoon-LE-Palm-Scanning2x: "\e954";
$icomoon-LE-Power-agenda2x: "\e955";
$icomoon-LE-Power-plan2x: "\e956";
$icomoon-LE-Smart-Assist2x: "\e957";
$icomoon-LE-USB-Type-C2x: "\e958";
$icomoon-LE-USB2x: "\e959";
$icomoon-LE-User-Detection2x: "\e95a";
$icomoon-LE-Visible-to-online-trackers2x: "\e95b";
$icomoon-LE-Voice2x: "\e95c";
$icomoon-LE-VoiceRecognition2x: "\e95d";
$icomoon-LE-Voice-recognition2x: "\e95e";
$icomoon-movie: "\e95f";
$icomoon-multiplevoices: "\e960";
$icomoon-music: "\e961";
$icomoon-NoBatteryError: "\e962";
$icomoon-normal: "\e963";
$icomoon-onlymyvoice: "\e964";
$icomoon-performance: "\e965";
$icomoon-personalDevice: "\e966";
$icomoon-places: "\e967";
$icomoon-privacy-guard: "\e968";
$icomoon-quick-setting-system-update: "\e969";
$icomoon-Special-function: "\e96a";
$icomoon-star: "\e96b";
$icomoon-translation: "\e96d";
$icomoon-voicerecognition: "\e96e";
$icomoon-voice-to-text: "\e96f";
$icomoon-voip: "\e970";
$icomoon-VOIP-Hotkeys: "\e971";
$icomoon-wifiNetworks: "\e972";
$icomoon-zero-touch-lock: "\e973";
$icomoon-zero-touch-login: "\e974";
$icomoon-zero-touch-playback: "\e975";

