@import "../../app.theme";

// style should only effect app when is gaming device
:host-context(.is-gaming) {
	.vtr-header-main {
		// TEMP STYLING TO BE REPLACED WHEN WE HAVE ACTUAL BACKGROUND SPECS
		background: #289cd0;
		background: -moz-linear-gradient(left, #72d0bb 0%, #289cd0 100%);
		background: -webkit-linear-gradient(left, #72d0bb 0%, #289cd0 100%);
		background: linear-gradient(to right, #72d0bb 0%, #289cd0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72d0bb', endColorstr='#289cd0',GradientType=1 );
		position: relative;
		&::before {
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			width: 100%;
			background: url(/assets/images/gaming/GamingTopImage.jpg) center center no-repeat;
			background-size: cover;
			opacity: 0.15;
		}
	}
}
