@import "../../app.theme";

.vtr-header-main {
	// TEMP STYLING TO BE REPLACED WHEN WE HAVE ACTUAL background: #289cd0;
	background: -moz-linear-gradient(left, #289cd0 0%, #72d0bb 100%);
	background: -webkit-linear-gradient(left, #289cd0 0%, #72d0bb 100%);
	background: linear-gradient(to right, #289cd0 0%, #72d0bb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#289cd0', endColorstr='#72d0bb', GradientType=1);

	.vtr-header-main-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
	}

	&.dcc {
		background: linear-gradient(to right, #185d73 0%, #1e7390 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#185d73", endColorstr="#1e7390", GradientType=1);
		&::before {
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			width: 100%;
			background: url(~/assets/images/dcc/top-image-dcc.jpg) center center no-repeat;
			background-size: cover;
			opacity: 0.15;
		}
	}

	.vtr-header-main-inner {
		max-width: $max_page_width;
		margin: 0 auto;
		position: relative;
		padding: 2rem $padding_side 6rem $padding_side;
		// @media #{$breakpoint_sm} {
		// 	padding: 5rem 0rem 8rem 0rem;
		// }
		height: 100%;

		&.show-back-btn {
			padding-top: 2rem;
		}

		@media #{$breakpoint_xl} {
			padding-left: $padding_side;
		}
		// RESPONSIVE EFFORT
		// @media #{$mediaquery_X4} {
		// 	padding-left: 5rem;
		// }
		// @media #{$mediaquery_xl} {
		// 	//	padding-top: 13rem;
		// }
		.title {
			color: $light;
			font-size: $fontsize_xl4;
			font-weight: $weight_light;
			margin: 0;
			position: relative;
			z-index: 1;
			max-width: $max_page_width;
			::ng-deep {
				pre {
					width: 100%;
					color: inherit;
					font: inherit;
					margin-bottom: 0;
					display: inline-block;
					word-break: break-word;
					word-wrap: break-word;
					white-space: pre-wrap;
					overflow: visible;
				}
			}
			@media #{$black-on-white} {
				margin-top: 1rem;
			}
			@media #{$white-on-black} {
				margin-top: 1rem;
			}
		}
		.back {
			color: $light;
			font-size: $fontsize_xs2;
			font-weight: $weight_bold;
			margin: 0;
			display: table;
			position: relative;
			cursor: pointer;
			z-index: 1;
			@media #{$black-on-white} {
				margin: 2px;
			}
			@media #{$white-on-black} {
				margin: 2px;
			}
			a {
				color: #ffffff;
				border-bottom: 0.1rem solid $light;
				color: $light;
			}

			span {
				text-decoration: underline;
			}

			&:hover {
				span {
					text-decoration: none;
				}
			}
		}
		a {
			&:hover {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
		.forward-link {
			float: right;
			margin-top: 3.5rem;
			text-transform: uppercase;
			font-size: 1.2rem;
			position: relative;
			z-index: 1;
			a {
				color: $light;
				text-decoration: none;
				&:hover {
					text-decoration: none;
					.forward-link-label {
						border-bottom: 0.2rem solid transparent;
					}
				}
				.forward-link-label {
					padding-bottom: 0.4rem;
					border-bottom: 0.2rem solid $light;
				}
				.forward-link-icon {
					padding-left: 1rem;
				}
			}
		}
		.menu {
			position: absolute;
			bottom: 0;
			//left: $padding_side;
		}

		.welcomeText-placeholder{
			height: 5rem;
		}
	}
}
