@import "../../app.theme";

.vtr-header-main {
	// TEMP STYLING TO BE REPLACED WHEN WE HAVE ACTUAL BACKGROUND SPECS
	background: #289cd0;
	background: -moz-linear-gradient(left, #289cd0 0%, #72d0bb 100%);
	background: -webkit-linear-gradient(left, #289cd0 0%, #72d0bb 100%);
	background: linear-gradient(to right, #289cd0 0%, #72d0bb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#289cd0', endColorstr='#72d0bb', GradientType=1);

	position: relative;
	padding: 5rem $padding_side 8rem $padding_side;
	height: 100%;
	@media #{$mediaquery_X4} {
		padding-left: 5rem;
	}
	@media #{$mediaquery_xl} {
		//	padding-top: 13rem;
	}
	.title {
		width: 100%;
		color: $light;
		font-size: $page_header;
		font-weight: $weight_light;
		display: inline-block;
		margin: 0;
		position: relative;
		z-index: 1;
		::ng-deep {
			pre {
				width: 100%;
				color: inherit;
				font: inherit;
				margin: 0;
				display: inline-block;
				word-break: break-word;
				word-wrap: break-word;
				white-space: pre-wrap;
				overflow: visible;
			}
		}
	}
	.back {
		color: $light;
		font-size: $base;
		font-weight: $weight_bold;
		margin: 0;
		display: table;
		position: relative;
		cursor: pointer;
		z-index: 1;

		a {
			color: #ffffff;
			border-bottom: 0.1rem solid $light;
			color:  $light;
		}

		span {
			text-decoration: underline;
		}

		&:hover {
			span {
				text-decoration: none;
			}
		}
	}
	a {
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	.forward-link {
		float: right;
		margin-top: 3.5rem;
		text-transform: uppercase;
		font-size: 1.2rem;
		position: relative;
		z-index: 1;
		a {
			color: $light;
			text-decoration: none;
			&:hover {
				text-decoration: none;
				.forward-link-label {
					border-bottom: 0.2rem solid transparent;
				}
			}
			.forward-link-label {
				padding-bottom: 0.4rem;
				border-bottom: 0.2rem solid $light;
			}
			.forward-link-icon {
				padding-left: 1rem;
			}
		}
	}
	.menu {
		position: absolute;
		bottom: 0;
		left: $padding_side;
	}
}
