@import "../../../../../app.theme";

.list-group {
	border-radius: $border_radius;
	background: $shade_extralight;
	border: 0.1rem solid $shade_lighter;
	padding: 0 2rem;
	margin-top: 2.7rem;
	margin-bottom: 2rem;
	@media #{$mediaquery_X46} {
		padding: 1rem;
	}

	.group-item {
		border-bottom: 0.1rem dashed $shade_light;
		padding: 1rem 0;

		&:nth-last-child(2) {
			border-bottom: none;
			padding-bottom: 0;
		}

		.windows-padding {
			@media #{$mediaquery_X46} {
				padding-right: 0.7rem !important;
			}
		}

		.text-color {
			color: $go_dark;
			font-size: 1.3rem;
			font-weight: 600;
			@media #{$mediaquery_X46} {
				font-size: 1.1rem;
			}
		}

		.text-d-color {
			color: red;
			font-size: 1.3rem;
			@media #{$mediaquery_X46} {
				font-size: 1.1rem;
			}
		}
	}

	.group-delete-item {
		border-bottom: 0.1rem dashed $shade_light;
		padding: 1rem 0;

		&:nth-last-child(2) {
			border-bottom: none;
			padding-bottom: 0;
		}

		.text-color {
			color: $light-grey;
			font-size: 1.1rem;
		}

		.text {
			color: $light-grey;
			font-weight: $weight_regular;
		}

		.times {
			font-size: 1.6rem;
			color: $light-grey;
			padding: 0 1.5rem 0 0.8rem;
		}

		.divider {
			height: 0.1rem;
			background-color: $light-grey;
			position: relative;
			top: -0.8rem;
		}
	}

	li {
		list-style: none;
	}

	.button {
		position: relative;
		top: 2rem;
		::ng-deep {
			.button-box {
				.button {
					font-size: 2rem;
					font-weight: $weight_600;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
	}

	.white-button {
		::ng-deep {
			.button-box {
				.button {
					border: 0.1rem solid $main !important;
					background: $light!important;
					color: $main!important;
					font-size: 2rem !important;
					min-width: 24rem !important;
					font-weight: $weight_bold;
				}
			}
		}
	}

	.normal-button {
		::ng-deep {
			.button-box {
				.button {
					color: $light!important;
					min-width: 20rem;
				}
			}
		}
	}

	.text {
		color: $shade_extradark;
		padding: 1rem 0;
		font-size: 1.8rem;
		font-weight: $weight_bold;

		@media #{$mediaquery_X46} {
			font-size: 1.4rem;
		}
	}

	span:hover {
		cursor: default;
	}

	.bullet-icon {
		.icon-bkg {
			display: inline-block;
			border-radius: 50%;
			height: 3.3rem;
			width: 3.3rem;
			border-width: 0.3rem;
			border-style: solid;
			text-align: center;
			@media #{$mediaquery_X46} {
				height: 2.7rem;
				width: 2.7rem;
			}
			fa-icon {
				font-size: 1.6rem;
				line-height: 2.7rem;
				color: $light;
				@media #{$mediaquery_X46} {
					font-size: 1.3rem;
					line-height: 2.2rem;
				}
			}
		}

		.icon-check {
			background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
			background-color: $go_dark;
			border-color: $go_dark;
		}

		.icon-check:before {
			content: "";
		}

		.icon-times {
			background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
			background-color: $stop_dark;
			border-color: $stop_dark;
		}

		.icon-dot {
			border-width: 1rem;
			border-color: $main;
		}
	}
}

.windows-group {
	padding: 0 1.2rem;
	.text {
		font-size: 1.3rem;
	}

	.windows-padding {
		padding-right: 0.8rem !important;
	}
	h3 {
		font-size: 1.1rem !important;
	}

	.bullet-icon {
		height: 2.7rem;
		width: 2.7rem;

		.icon-bkg {
			height: 2.7rem;
			width: 2.7rem;

			fa-icon {
				line-height: 2.2rem;
				font-size: 1.4rem;
			}
		}
	}

	.visible {
		visibility: hidden !important;
	}

}
