@import "../../../../../app.theme";

.list-group {
	border-radius: $border_radius;
	background: $shade_extralight;
	border: 0.1rem solid $shade_lighter;
	padding: 0 2rem;
	margin-top: 2.7rem;
	margin-bottom: 2rem;
	@media #{$mediaquery_lg} {
		padding: 1rem;
	}

	.group-item {
		border-bottom: 0.1rem dashed $shade_light;
		padding: 1rem 0;

		&:nth-last-child(2) {
			border-bottom: none;
			padding-bottom: 0;
		}

		.windows-padding {
			@media #{$mediaquery_lg} {
				padding-right: 0.7rem !important;
			}
		}

		.text-color {
			color: $go_dark;
			font-size: 1.3rem;
			font-weight: 600;
			@media #{$mediaquery_lg} {
				font-size: 1.1rem;
			}
		}

		.text-d-color {
			color: red;
			font-size: 1.3rem;
			@media #{$mediaquery_lg} {
				font-size: 1.1rem;
			}
		}
	}

	.group-delete-item {
		border-bottom: 0.1rem dashed $shade_light;
		padding: 1rem 0;

		&:nth-last-child(2) {
			border-bottom: none;
			padding-bottom: 0;
		}

		.line-through {
			text-decoration: line-through;
		}

		.text-color {
			color: $light-grey;
			font-size: 1.1rem;
		}

		.text {
			color: $light-grey;
			font-weight: $weight_regular;
		}

		.times {
			font-size: 1.6rem;
			color: $light-grey;
			padding: 0 1.5rem 0 0.8rem;
		}
	}

	li {
		list-style: none;
	}

	.button {
		position: relative;
		top: 1.8rem;
		@media #{$mediaquery_lg} {
			top: 2.5rem;
		}
		::ng-deep {
			.button-box {
				.button {
					font-size: 2rem;
					font-weight: $weight_600;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
	}

	.white-button {
		::ng-deep {
			.button-box {
				.button {
					border: 0.1rem solid $main !important;
					background: $light!important;
					color: $main!important;
					min-width: 24rem !important;
					font-weight: $weight_bold;
				}
			}
		}
	}

	.normal-button {
		::ng-deep {
			.button-box {
				.button {
					color: $light!important;
					min-width: 20rem;
				}
				.disable {
					background: $grey_light !important;
					opacity: 1;
					color: $shade_blue !important;
					border: none !important;
					cursor: default;
					&:hover {
						background: $grey_light !important;
					}
					.text {
						cursor: default;
						opacity: 0.5;
					}
				}
			}
		}
	}

	.text {
		color: $grey_darker;
		padding: 1rem 0;
		font-size: 1.3rem;
		font-weight: $weight_bold;
	}

	span:hover {
		cursor: default;
	}

	.bullet-icon {
		.icon-bkg {
			display: inline-block;
			border-radius: 50%;
			height: 2.5rem;
			width: 2.5rem;
			border-width: 0.3rem;
			border-style: solid;
			text-align: center;
			fa-icon {
				font-size: 1.6rem;
				line-height: 2rem;
				color: $light;
				font-size: 1.3rem;
				line-height: 2rem;
			}
		}

		.icon-check {
			background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
			background-color: $go_dark;
			border-color: $go_dark;
		}

		.icon-check:before {
			content: "";
		}

		.icon-times {
			background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
			background-color: $stop_dark;
			border-color: $stop_dark;
		}

		.icon-dot {
			border-width: 1rem;
			border-color: $main;
		}
	}
}

.windows-group {
	padding: 0 1.2rem;
	.text {
		font-size: 1.3rem;
	}

	.windows-padding {
		padding-right: 0.5rem !important;
	}
	h3 {
		font-size: 1.1rem !important;
	}

	.bullet-icon {
		height: 2.5rem;
		width: 2.5rem;

		.icon-bkg {
			height: 2.5rem;
			width: 2.5rem;

			fa-icon {
				line-height: 2rem;
				font-size: 1.4rem;
			}
		}
	}

	.button {
		@media #{$mediaquery_lg} {
			top: 1.8rem;
		}
	}

	.visible {
		visibility: hidden !important;
	}

}
