<div class="vtr-feedback-form"
	id="feedback-form-dialog">
	<div class="content">
		<div class="title">{{ 'dashboard.feedback.title' | translate }}</div>
		<form name="feedBack"
			class="feedback-form"
			[formGroup]="feedbackForm"
			novalidate>
			<div class="line"></div>
			<div class="qa-item"
				*ngFor="let qa of questions">
				<div class="question" [innerHTML]="qa.question | translate" [id]="qa.name"
				[attr.aria-label]="qa.name"></div>
				<div class="form-check form-check-inline">
					<input class="form-check-input"
						type="radio"
						tabindex="-1"
						[formControlName]="qa.name"
						[name]="qa.name"
						[id]="qa.idYes"
						[attr.aria-label]="qa.idYes"
						[value]="true">
					<label class="form-check-label"
						[tabindex]="feedbackSuccess ? -1 : 0"
						(keyup.enter)="setRadioStatus(qa.name, true)"
						[for]="qa.idYes">{{'dashboard.feedback.form.yes' | translate}}</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input"
						type="radio"
						tabindex="-1"
						[formControlName]="qa.name"
						[name]="qa.name"
						[id]="qa.idNo"
						[attr.aria-label]="qa.idNo"
						[value]="false">
					<label class="form-check-label"
						[tabindex]="feedbackSuccess ? -1 : 0"
						(keyup.enter)="setRadioStatus(qa.name, false)"
						[for]="qa.idNo">{{'dashboard.feedback.form.no' | translate}}</label>
				</div>
				<div class="line"></div>
			</div>

			<div class="row">
				<div class="col">
					<div class="comment-tip" id="feedback-form-additional-comments"
					attr.aria-label="feedback-form-additional-comments">
						{{'dashboard.feedback.form.tips1' | translate}}
					</div>
					<textarea placeholder="{{'dashboard.feedback.form.comments' | translate}}"
						class="form-control user-comment"
						cols="30"
						rows="10"
						[tabindex]="feedbackSuccess ? -1 : 0"
						formControlName="userComment"
						pattern="^(?!\s*$).+"
						required></textarea>
				</div>
			</div>

			<div class="d-flex">
				<div class="button-box">
					<vtr-ui-button linkId="modal-btn-sendfeedback"
						metricsEvent="FeatureClick"
						metricsItem="SendFeedbackButton"
						metricsParent="Page.Dashboard"
						[tabIndex]="feedbackSuccess ? -1 : 0"
						[isFullWidth]="true"
						[isDisabled]="!feedbackForm.value.userComment && feedbackForm.value.qaNewStyle === null && feedbackForm.value.qaPerformance === null && feedbackForm.value.qaUseFrequency === null"
						[label]="'dashboard.feedback.form.sendFeedback' | translate"
						(onClick)="onFeedBackSubmit()"></vtr-ui-button>
				</div>
				<div ngbDropdown 
					class="d-inline-block dropdown-content">
					<div class="dropdown-btn"
						id="feedback-dropdown"
						[tabindex]="feedbackSuccess ? -1 : 0"
						attr.aria-label="feedback-dropdown" ngbDropdownToggle>
						<fa-icon [icon]="['fal', 'angle-down']"></fa-icon>
					</div>
					<div class="dropdown-list"
						ngbDropdownMenu
						aria-labelledby="feedback-dropdown">
						<div class="menu-pointer"></div>
						<div class="dropdown-item" ngbDropdownItem
							[tabindex]="feedbackSuccess ? -1 : 0"
							vtrMetrics
							id="modal-btn-submitScreeenshot"
							attr.aria-label="modal-btn-submitScreeenshot"
							metricsItem="btn.SubmitScreenShot"
							metricsEvent="FeatureClick"
							metricsParent="Dialog.Feedback"
							title="{{'dashboard.feedback.form.submitScreenShot' | translate}}"
							(keyup.enter)="goToMailUtility()"
							(click)="goToMailUtility()">
							{{'dashboard.feedback.form.submitScreenShot' | translate}}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="feedback-success"
		*ngIf="feedbackSuccess">
		<div class="success-icon">
			<fa-icon [icon]="['fal', 'check-circle']"></fa-icon>
		</div>
		<div class="thank-you" id="feedback-modal-thank-you"
		attr.aria-label="feedback-modal-thank-you">{{ 'dashboard.feedback.form.messages.feedbackSuccess' | translate }}</div>
		<div class="left-time">{{ leftTime }}</div>
	</div>

	<a role="button"
		href="javascript:;"
		class="close-btn"
		id="feedback-modal-btn-close"
		attr.aria-label="feedback-modal-btn-close"
		vtrMetrics
		metricsItem="btn.close"
		metricsEvent="featureClick"
		metricsParent="Dialog.Feedback"
		data-dismiss="modal"
		(click)="activeModal.dismiss('Cross click')"
		aria-label="Close">
		<img [src]=" '/assets/icons/Close.svg' | svgInline | async"
			alt=""
			srcset="">
	</a>
</div>
