@import "../../../app.theme.scss";

:host {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

$normalPadding: 2.4rem;

.vtr-feedback-form {
	border-radius: $border_radius;
	background: $light;
	background-size: cover;
	color: $shade_blue;
	box-shadow: $drop_shadow;
	padding: $normalPadding 0 2rem 0;
	position: relative;
	width: 100%;
	line-height: 1.4;

	.content {
		.title {
			font-size: $title;
			font-weight: $weight_600;
			margin-bottom: 1rem;
			color: $shade_blue;
			padding-left: $normalPadding;
		}
		
		.feedback-form {
			padding: 0 $normalPadding;
			max-height: calc(98vh - 20rem);
			overflow-y: auto;
		}

		.line {
			width: calc(100% - #{$normalPadding} * 2);
			height: 1px;
			margin-left: $normalPadding;
			background-color: #f5f7f8;
			margin-bottom: 1.5rem;
		}

		.qa-item {
			margin-bottom: 2.5rem;
			.question {
				font-size: $body;
				color: $shade_blue;
				margin-bottom: 0.8rem;
			}

			.form-check-inline {
				margin-right: 2.5rem;

				.form-check-input {
					position: absolute;
				}

				&:hover {
					label {
						color: $menu_hover;
					}
				}
			}

			.form-check-input {
				width: 2rem;
				height: 2rem;
				margin-right: 0;
				opacity: 0;
				z-index: -1;
			}

			.form-check-input:checked~label::after {
				color: #fff;
				background-color: $menu_hover;
				width: 1.4rem;
				height: 1.4rem;
				margin: 0.3rem 0 0 0.3rem;
				@media #{$black-on-white} {
					background-color: $high-contrast-white-textselected;
				}
				@media #{$white-on-black} {
					background-color: $high-contrast-black-textselected;
				}
			}
			label {
				font-size: $body;
				padding-left: 2.8rem;
				height: 2rem;
				color: $shade_blue;
				position: relative;
				margin-bottom: 0;

				&::before {
					border-radius: 50%;
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 2rem;
					height: 2rem;
					pointer-events: none;
					content: "";
					background-color: #fff;
					border: 1px solid $shade_blue;
				}

				&::after {
					border-radius: 50%;
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 2rem;
					height: 2rem;
					content: "";
					background: no-repeat 50%/50% 50%;
					
				}
			}
			.likely-content {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				margin: 0 -1rem;
				.likely-text {
					padding: 0 1rem;
					width: 49%;
					font-size: $body;
				}
				.form-check-inline {
					margin-right: 0;
				}
				.form-check-input:checked~label::after {
					margin: 0.3rem 0 0 1.3rem;
				}
				label {
					height: 4.8rem;
					padding-left: 0;
					text-align: center;
					width: 4rem;
					padding: 0 1rem;
					&::before {
						top: 2.4rem;
						margin-left: 1rem;
					}
					&::after {
						top: 2.4rem;
						margin-left: 1rem;
						
					}
				}
			}

			.line {
				margin-top: 2rem;
			}
		}

		.comment-tip {
			color: $shade_blue;
			font-size: 1.4rem;
			margin-bottom: 1.5rem;
		}

		.user-comment, .user-email {
			border: 1px solid $shade_lighter;
			border-radius: 5px;
			background-color: #FFFFFF;
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
			height: 12rem;
			padding: 2rem 2.4rem;
			cursor: text;
			font-size: $body;
			color: $shade_blue;
			user-select: all;
			overflow-y: auto;

			&:focus {
				border-color: $main;
			}
		}
		.user-email {		
			height: 6rem;			
		}
		.comment-count {
			color: $grey_dark;
			font-size: $caption;
			margin-bottom: 2.5rem;
		}

		.btn-box {
			padding-left: $normalPadding;
			padding-right: $normalPadding;
		}

		.btn-submit {
			flex: 0 0 22rem;
			max-width: 24rem;
			margin-right: 1rem;
		}

		.btn-submit-screenshot {
			cursor: pointer;
			max-width: 60%;
			font-size: $body;
			font-weight: $weight_bold;
			text-transform: uppercase;
			padding: 0.2rem 0;
			border-top: 0.2rem solid transparent;
			border-bottom: 0.2rem solid $menu_hover;
			color: $blue-lighter;
			&:hover {
				color: $menu_hover;
				border-bottom: 0.2rem solid transparent;
			}
		}
	}
	@media screen and (max-height: 750px) {
		.content {
			.qa-item,
			.user-comment {
				margin-bottom: 2rem;
			}
			.qa-item .question {
				margin-bottom: 0.6rem;
			}
			.user-comment {
				height: 10rem;
			}
			.user-email{
				height: 5rem;
			}
		}
	}

	.feedback-success {
		position: absolute;
		border-radius: $border_radius;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: #ffffff;
		padding: 4rem;

		.success-icon {
			font-size: 16rem;
			color: $go;
			text-align: center;
		}

		.thank-you {
			padding-top: 1rem;
			font-size: 2rem;
			font-weight: $weight_bold;
			text-align: center;
			letter-spacing: 0.1rem;
		}

		.left-time {
			padding-top: 1rem;
			font-size: 2rem;
			font-weight: $weight_light;
			text-align: center;
			letter-spacing: 0.1rem;
			opacity: .5;
		}
	}

	.close-btn {
		position: absolute;
		right: 1.8rem;
		top: 1.8rem;
		width: 2.2rem;
		height: 2.2rem;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
	@media #{$black-on-white} {
		border: 1px solid $dark !important ;
		border-radius: 1rem;
	}
	@media #{$white-on-black} {
		border: 1px solid $light !important ;
		border-radius: 1rem;
	}
}