<div class="vtr-modal-smart-performance-feedback">
	<div class="icon">
		<fa-icon [icon]="['fal', 'times']" (click)="closeModal()"></fa-icon>
	</div>
	<div class="title">{{ 'dashboard.feedback.title' | translate }}</div>
	<form class="feedback-form" [formGroup]="feedbackForm" (ngSubmit)="onFeedBackSubmit()">
		<div class="non-subscribers" *ngIf="!isSubscribed">
			<div class="qa-item">
				<div class="question" [dir]="'dir' | translate" [innerHTML]="questions[0].question | translate"></div>
				<div class="likely-content">
					<div class="form-check form-check-inline"
						*ngFor="let likely of questions[0].likelyValues; let i=index">
						<input class="form-check-input" type="radio" [id]="'feedback-likely-1' + likely"
							name="fbProductLF" formControlName="fbProductLF" [value]="likely" (click)="setSubmitButtonActive()">
						<label class="form-check-label-out"></label>
						<label class="form-check-label" [id]="'feedback-form-likely-1' + likely" role="text"
							[for]="'feedback-likely-1' + likely">{{ likely }}</label>
					</div>
					<div class="w-100 mb-1"></div>
					<div class="likely-text" *ngFor="let rating of questions[0].ratingValue">{{ rating | translate }}
					</div>
				</div>
			</div>
			<div class="qa-item">
				<div class="question" [dir]="'dir' | translate" [innerHTML]="questions[1].question | translate"></div>
				<div class="likely-content">
					<div class="form-check form-check-inline"
						*ngFor="let likely of questions[1].likelyValues; let i=index">
						<input class="form-check-input" type="radio" [id]="'feedback-likely-2' + likely"
							name="fbFeature" formControlName="fbFeature" [value]="likely" (click)="setSubmitButtonActive()">
						<label class="form-check-label-out"></label>
						<label class="form-check-label" [id]="'feedback-form-likely-2' + likely" role="text"
							[for]="'feedback-likely-2' + likely">{{ likely }}</label>
					</div>
					<div class="w-100 mb-1"></div>
					<div class="likely-text" *ngFor="let rating of questions[1].ratingValue">{{ rating | translate }}
					</div>
					<!-- <div class="likely-text text-right" >{{ 'smartPerformance.feedbackContainer.rating.r2' | translate }}</div> -->
				</div>
			</div>
			<div class="qa-item">
				<div class="question" [dir]="'dir' | translate" [innerHTML]="questions[2].question | translate"></div>
				<div class="likely-content">
					<div class="form-check form-check-inline"
						*ngFor="let likely of questions[2].likelyValues; let i=index">
						<input class="form-check-input" type="radio" [id]="'feedback-likely-3' + likely"
							name="fbScan" formControlName="fbScan" [value]="likely"
							(click)="setSubmitButtonActive()">
						<label class="form-check-label-out"></label>
						<label class="form-check-label" [id]="'feedback-form-likely-3' + likely" role="text"
							[for]="'feedback-likely-3' + likely">{{ likely }}</label>
					</div>
					<div class="w-100 mb-1"></div>
					<div class="likely-text" *ngFor="let rating of questions[2].ratingValue">{{ rating | translate }}
					</div>
					<!-- <div class="likely-text text-right" >{{ 'smartPerformance.feedbackContainer.rating.r2' | translate }}</div> -->
				</div>
			</div>
		</div>

		<div class="non-subscribers" *ngIf="isSubscribed">
			<div class="qa-item">
				<div class="question" [dir]="'dir' | translate" [innerHTML]="questions[3].question | translate"></div>
				<div class="likely-content">
					<div class="form-check form-check-inline"
						*ngFor="let likely of questions[3].likelyValues; let i=index">
						<input class="form-check-input" type="radio" [id]="'feedback-likely-1' + likely"
							name="fbFixes" formControlName="fbFixes" [value]="likely" (click)="setSubmitButtonActive()">
						<label class="form-check-label-out"></label>
						<label class="form-check-label" [id]="'feedback-form-likely-1' + likely" role="text"
							[for]="'feedback-likely-1' + likely">{{ likely }}</label>
					</div>
					<div class="w-100 mb-1"></div>
					<div class="likely-text" *ngFor="let rating of questions[3].ratingValue">{{ rating | translate }}
					</div>
				</div>
			</div>
			<div class="qa-item">
				<div class="question" [dir]="'dir' | translate" [innerHTML]="questions[4].question | translate"></div>
				<div class="likely-content">
					<div class="form-check form-check-inline"
						*ngFor="let likely of questions[4].likelyValues; let i=index">
						<input class="form-check-input" type="radio" [id]="'feedback-likely-2' + likely"
							name="fbValueMoney" formControlName="fbValueMoney" [value]="likely" (click)="setSubmitButtonActive()">
						<label class="form-check-label-out"></label>
						<label class="form-check-label" [id]="'feedback-form-likely-2' + likely" role="text"
							[for]="'feedback-likely-2' + likely">{{ likely }}</label>
					</div>
					<div class="w-100 mb-1"></div>
					<div class="likely-text" *ngFor="let rating of questions[4].ratingValue">{{ rating | translate }}
					</div>
					<!-- <div class="likely-text text-right" >{{ 'smartPerformance.feedbackContainer.rating.r2' | translate }}</div> -->
				</div>
			</div>
			<div class="qa-item">
				<div class="question" [dir]="'dir' | translate" [innerHTML]="questions[5].question | translate"></div>
				<div class="likely-content">
					<div class="form-check form-check-inline"
						*ngFor="let likely of questions[5].likelyValues; let i=index">
						<input class="form-check-input" type="radio" [id]="'feedback-likely-3' + likely"
							name="fbRefer" formControlName="fbRefer" [value]="likely"
							(click)="setSubmitButtonActive()">
						<label class="form-check-label-out"></label>
						<label class="form-check-label" [id]="'feedback-form-likely-3' + likely" role="text"
							[for]="'feedback-likely-3' + likely">{{ likely }}</label>
					</div>
					<div class="w-100 mb-1"></div>
					<div class="likely-text" *ngFor="let rating of questions[5].ratingValue">{{ rating | translate }}
					</div>
					<!-- <div class="likely-text text-right" >{{ 'smartPerformance.feedbackContainer.rating.r2' | translate }}</div> -->
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col">
				<div class="comment-tip" id="feedback-form-additional-comments"
					attr.aria-label="feedback-form-additional-comments">
					{{'smartPerformance.feedbackContainer.commentTip' | translate}}
				</div>
				<textarea #feedbackComment placeholder="{{'smartPerformance.feedbackContainer.comments' | translate}}"
					class="form-control user-comment mb-1" id="feedback-form-comments-input" 
					name="fbComment" formControlName="fbComment" 
					(blur)="setSubmitButtonActive()"
					attr.aria-label="{{'dashboard.feedback.form.comments' | translate}}" cols="30" rows="10"
					maxlength="1000" pattern="^(?!\s*$).+" required></textarea>
				<div class="w-100 text-right comment-count">{{feedbackComment.value.length}}/1000</div>
			</div>
		</div>
		<hr class="line">
		<div class="d-flex justify-content-start align-items-center">
			<div class="btn-submit">
				<vtr-ui-button linkId="modal-btn-sendfeedback"
					metricsEvent="FeatureClick"
					metricsItem="SendFeedbackButton"
					metricsParent="Dialog.Feedback"
					[tabIndex]="feedbackSuccess ? -1 : 0"
					[btnHeight]="true"
					[isFullWidth]="true"
					[isDisabled]="!isSubmitButtonActive"
					[label]="'smartPerformance.feedbackContainer.buttonText' | translate"
					(onClick)="onFeedBackSubmit()"></vtr-ui-button>
			</div>

		</div>
	</form>
	<div class="feedback-success d-flex align-items-center justify-content-center"
		*ngIf="feedbackSuccess">
		<div>
			<div class="success-icon">
				<fa-icon [icon]="['fal', 'check-circle']"></fa-icon>
			</div>
			<div class="thank-you"
				id="feedback-modal-thank-you"
				attr.aria-label="feedback-modal-thank-you">{{ 'dashboard.feedback.form.messages.feedbackSuccess' | translate }}</div>
			<div class="left-time">{{ leftTime }}</div>
		</div>
	</div>
</div>