@import "../../styles/common-blocks";

.browser-accounts-block {
  @extend %common-block-wrapper;
  padding: 3.5rem 4rem 4rem 4rem;
  &__title {
    @extend %subtitle;
    margin: 0;
  }
  &__text {
    @extend %text-common;
    margin: 2rem 0;
  }
}

.installed-browser {
  border-radius: 5px;
  background-color: #F5F7F8;
  box-shadow: 0 0 2rem 0 rgba(0,0,0,0.2);
}