@import "../../../../app.theme.scss";
.list-group.list-group-flush {
    list-style-type: none;
}
.border-top {
    border-top: 1px solid #dee2e6 !important;
    width: 100%;
}

.superResolution-group {
    .feature-note {
        background-color: $grey_lighter;
        border: 0.1rem solid $note_border;
        width: 100%;
        margin-left: 4.5rem !important;
        margin-bottom: 1.5rem !important;
        p {
            font-size: $fontsize_xs;
            color: $shade_blue;
            &:focus {
                @include outline-blue;
            }
        }
        ul li {
            list-style-type: disc;
            margin: 0;
            padding: 0;
        }
    }
    ::ng-deep .tooltip-inner {
        .srTooltip {
            margin-top: 10px;
        }
    }
    ::ng-deep .white-theme{
        padding: 0px !important;
    }
}
