@import "../../../../app.theme.scss";
.list-group.list-group-flush {
    list-style-type: none;
}
.border-top {
    border-top: 1px solid #dee2e6 !important;
    width: 100%;
}

.superResolution-group {
    .feature-note {
        background-color: $grey_lighter;
        border: 0.1rem solid $note_border;
        width: 100%;
        margin-top: 1.5rem;
        margin-left: 4.5rem !important;
        margin-bottom: 1.5rem !important;
        label {
            font-size: $fontsize_xs;
            color: $shade_blue;
            font-weight: 300;
            margin-bottom: 0.2rem !important;
            margin-top: 0.2rem !important;
        }

        .description-div {
            margin-left: 1.5rem;
            ul li {
                list-style-type: disc;
                span {
                    font-size: $fontsize_xs;
                    color: $shade_blue;
                    font-weight: 300;
                }
            }
        }
    }

    .sr-describe-div {
        width: 100%;
        margin-top: -10px;
        margin-left: 4.5rem !important;
        padding-right: 4.5rem;
        color: #667481;
        font-size: 1.4rem;
        font-weight: 300;
    }

    .superResolution-image {
        width: 100%;
        margin-left: 4.5rem !important;
        padding-right: 4.5rem;
        position: relative;
        .image {
            width: 100%;
        }
        .superResolution-image-word {
            padding-right: 4.5rem;
            position: absolute;
            z-index: 2;
            top: 86.8%;
            width: 100%;
            height: 13.3%;
            font-size: 1.8rem;
            .imageText {
                color: white;
                text-align: center;

                display: -webkit-box;
                -webkit-box-orient: horizontal;
                -webkit-box-pack: center;
                -webkit-box-align: center;

                display: -moz-box;
                -moz-box-orient: horizontal;
                -moz-box-pack: center;
                -moz-box-align: center;

                display: -o-box;
                -o-box-orient: horizontal;
                -o-box-pack: center;
                -o-box-align: center;

                display: -ms-box;
                -ms-box-orient: horizontal;
                -ms-box-pack: center;
                -ms-box-align: center;
            }
            .superResolution-image-before {
                width: 47.9%;
                height: 100%;
                float: left;
            }
            .superResolution-image-Arrow {
                height: 100%;
                width: 4.2%;
                float: left;
            }
            .intelligent-security-image-after {
                width: 47.9%;
                height: 100%;
                float: left;
            }
        }
    }

    ::ng-deep .tooltip-inner {
        .srTooltip {
            margin-top: 10px;
        }
    }
    ::ng-deep .white-theme {
        padding: 0px !important;
    }
}