@import "../../../../app.theme.scss";
.list-group.list-group-flush {
    list-style-type: none;
}
.border-top{
    border-top: 1px solid #dee2e6 !important;
    width: 100%;
}
.feature-note {
    background-color: $shade_lightest;
    border: 1px solid $shade_lighter;
    width: 100%;
    margin-left: 4rem !important;
    margin-right: 0.6rem !important;
    margin-bottom: 1.5rem !important;
    p {
        font-size: $body;
        color: $main_darker;
    }
    ul{
        list-style-type:disc;
        margin:0;
        padding:0
    }
}