@import "../../../app.theme";
svg {
	width: 100%;
	height: 100%;
	.a {
		@media #{$black-on-white} {
			fill: $light;
			stroke: $dark;
		}
		@media #{$white-on-black} {
			fill: $dark;
			stroke: $light;
		}
	}
	::ng-deep .line-tag {
		@media #{$black-on-white} {
			fill: $light;
		}
		@media #{$white-on-black} {
			fill: $dark;
		}
		&.line-tag-fill {
			@media #{$black-on-white} {
				fill: $dark;
			}
			@media #{$white-on-black} {
				fill: $light;
			}
		}
	}

}
