@import '../../../app.theme.scss';

a:focus,
button:focus,
input:focus,
textarea:focus {
	outline: none;
}

$dialogPadding: 4rem;
$marginY: 3.5rem;

.payment-options {
	width: 100%;
	margin: 0px auto;

	iframe {
		width: 100%;
		height: calc(100vh - #{$dialogPadding + $marginY});
	}
}

.modal-smart-performance-subscribe {
	padding: $dialogPadding 0 0 0;

	@media #{$white-on-black} {
		box-shadow: none;
		@include white-border;
	}

	@media #{$black-on-white} {
		box-shadow: none;
		@include black-border;
	}
}


.close {
	&:focus {
		@include outline-blue;
	}
}

.container-fluid {

	.modal-header {
		.title {
			font-size: $title;
			font-weight: $weight_600;
			color: $shade_blue;
			padding-right: 2.4rem;
		}
	}

}