@import '../../../app.theme.scss';
a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}
.payment-options {
	width: 100%;
	margin: 0px auto;
	iframe {
		width: 100%;
		height: 70rem;
	}
}
.pricing-table-container {
	padding: 2rem 4rem;
	.back {
		display: inline-block;
		font-size: 1.4rem;
		color: $main;
		text-decoration: none;
		font-weight: $weight_bold;
		text-transform: uppercase;
		span{
			padding-bottom: 0.2rem;
			border-bottom:0.2rem solid $main;
		}
		&:hover {
			color: $main_gstart;
			span {
				border-bottom: none;
			}
		}
    }
    .page-heading {
        font-size: 4rem;
        font-weight: 300;
        color: $main_shade;
    }
	p {
		font-size: 1.6rem;
		color: $main_shade;
	}
	.pricing-tables{
		list-style: none;
		padding-left: 0;
		position: relative;
		@media #{$medium-screen} {
			justify-content: space-around !important;
		}
		@media #{$small-screen} {
			justify-content: space-around !important;
		}
		input[type=radio]{
			position: absolute;
			opacity: 0;
			&:checked + .pricing-table-card {
				background: $main;
				transform: scale(1.1);
				box-shadow: 0 1rem 1.5rem $screen_dark_30;
				.popular-text {
					color: $light;
				}
				.duration {
					color: $light;
					&::after{
						border-bottom-color: $light;
					}
				}
				.price {
					color: $light;
					font-size: 4rem;
					small{
						color: $light;
					}
				}
				.value, .billing-duration {
					color: $light;
				}
				.btn-rounded {
					color: $main;
					background: $light;
				}
			}
		}
		li {
			width: calc(20% - 1.2rem);
		}
		.pricing-table-card {
			background: $shade_lighter;
			border-radius: 0.6rem;
			width: 100%;
			box-sizing: border-box;
			text-align: center;
			padding: 2rem 0.5rem;
			position: relative;
			cursor: pointer;
			box-shadow: 0 0.5rem 1rem $screen_dark_05;
			transition: transform .2s ease-in-out;
			@media #{$medium-screen} {
				width: calc(33.33% - 2rem);
				margin: 1rem 0;
			}
			@media #{$small-screen} {
				width: calc(50% - 2rem);
				margin: 1rem 0;
			}
			.popular-text{
				display: block;
				text-align: center;
				font-size: 1rem;
				padding: 0rem 0rem 1rem;
				width: 100%;
				position: absolute;
				top: 0.8rem;
			}
			.duration{
				font-weight: $weight_bold;
				font-size: 2rem;
				display: block;
				text-align: center;
				color: $dark;
				position: relative;
				&::after {
					position: absolute;
					content: '';
					width: 4rem;
					height: 0.1rem;
					border-bottom: dotted 0.2rem $main_dark;
					bottom: -1rem;
					left: calc(50% - 2rem);
				}
			}
			.price {
				font-size: 3rem;
				font-weight: $weight_black;
				color: $main;
				display: block;
				text-align: center;
				small{
					width: 2rem;
					font-size: 30%;
					line-height: 1.3rem;
					font-weight: $weight_regular;
					color: $main_shade;
					display: inline-block;
				}
			}
			.value {
				text-transform: uppercase;
				font-weight: $weight_regular;
				color: $shade_darker;
				margin-bottom: 3rem;
			}
			.billing-duration {
				color: $main_dark;
				font-size: 1.4rem;
				display: block;
				text-align: center;
				padding-bottom: 2rem;
			}
			.btn-rounded {
				height: 3rem;
				padding: 0rem 3.5rem;
				background: transparent;
				border: 0.1rem solid $main;
				border-radius: 3rem;
				text-align: center;
				font-size: 1.6rem;
				color: $main;
				letter-spacing: 0;
			}
		}
	}
}
