@import '../../../../../app.theme.scss';

.sidebar-widget {
	border-radius: 0.9rem;
	background-color: $light;
	box-shadow: 0 0 1.5rem 0 $screen_dark_15;
	padding: 2.2rem;

	vtr-widget-offline-info {
		width: 100%;
	}

	.title {
		font-size: $fontsize_xl;
		font-family: $font_family_semibold;
		color: $grey_darker;
		text-transform: capitalize;
	}

	.card-info {
		margin-bottom: 2rem;
		p {
			font-size: $fontsize_xs;
			color: #303D49;
		}
	}

	.link-text {
		font-size: 1.4rem;
		padding-bottom: 0.3rem;
		border-bottom: 0.2rem solid $menu_hover;
		letter-spacing: 0.05rem;
		color: $menu_hover;
		cursor: pointer;
		font-weight: 600;
		margin-top: 1rem;

		&:hover {
			color: $blue-light;
		}

		&:focus {
			@include outline-blue;
		}

		&:disabled {
			cursor: not-allowed;
			color: $grey_dark;
			border-bottom: 0.2rem solid $grey_dark;
			opacity: .4;

			@media #{$black-on-white} {
				opacity: .5;
				color: $high-contrast-white-disabled-maroon;
				border-bottom: 0.2rem solid $high-contrast-white-disabled-maroon;
			}

			@media #{$white-on-black} {
				opacity: .5;
				color: $high-contrast-black-disabled-green;
				border-bottom: 0.2rem solid $high-contrast-black-disabled-green;
			}
		}

		@media #{$breakpoint_sm} {
			font-size: $fontsize_xs;
		}
	}

	.link-text-payment {
		font-size: 1.4rem;


		letter-spacing: 0.05rem;
		color: $menu_hover;
		float: right;
		cursor: pointer;
		font-weight: 600;

		@media #{$breakpoint_sm} {
			font-size: $fontsize_xs;
		}
	}

	.status-list {
		padding-left: 0;
		border-radius: 0.8rem;
		background: $shade_extralight;
		border: 0.1rem solid $shade_lighter;

		li {
			border-bottom: 0.1rem solid $screen_dark_05;
			line-height: 5rem;
			padding: 0 2rem;

			&:last-child {
				border-bottom: none;
			}
		}

		.item {
			font-weight: $weight_bold;
			font-size: 1.2rem;
		}

		.status {
			font-size: 1.4rem;
			min-width: 8rem;
			text-align: right;

			.badge {
				height: 1.8rem;
				font-size: 1.2rem;
				padding-left: 1.8rem;
				padding-right: 1.8rem;
			}

			.badge-processing {
				background-color: $grey_light;
				color: rgba(102, 116, 129, 0.5);
			}

			.bage-expired {
				color: white;
				background-color: orangered;
			}
		}

	}

	.chevron-list {
		padding-left: 0;
		border-radius: 0.8rem;
		background: $shade_extralight;
		border: 0.1rem solid $shade_lighter;

		li {
			padding: 1.2rem 1.6rem;
			border-bottom: 0.1rem solid $screen_dark_05;
			line-height: 3rem;
			font-size: 1.4rem;

			.d-flex {
				&:first-child {
					.icon {
						margin-right: 1rem;
						color: $main;
						font-size: 2rem;
					}
				}

				&:first-child {
					.icon {
						margin-left: 1rem;
					}
				}
			}

			&:last-child {
				border-bottom: none;
			}

			.question {
				font-size: 1.6rem;
				color: $grey_dark;
				margin-top: 0.5rem;

				&:hover {
					color: $main;
				}
			}
		}
	}

	.labels {
		.badge {
			font-size: 1.2rem;
			margin-bottom: 0.6rem;
		}

		.badge-primary {
			position: relative;
			height: 2rem;

			&::after {
				content: "";
				position: absolute;
				top: 1px;
				right: -7px;
				width: 0px;
				height: 0px;
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-left: 7px solid $main;
			}
		}

		.badge-light {
			background: transparent;
		}
	}

	.junk-list {
		position: relative;
		padding-left: 3rem;
		list-style: none;

		li {
			line-height: 2.7rem;
			font-size: 1.2rem;
		}
	}

	.refresh-icon {
		height: 15px;
	}

	.loader {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&>span {
			display: inline-block;
			background-color: $shade_extradark;
			width: 0rem;
			height: 0rem;
			border-radius: 50%;
			margin: 0rem 0.4rem;
			transform: translate3d(0);
			animation: bounce 0.6s infinite alternate;
		}

		&>span:nth-child(2) {
			background-color: $shade_darker;
			animation-delay: 0.2s;
		}

		&>span:nth-child(3) {
			animation-delay: 0.4s;
		}
	}

	@keyframes bounce {
		to {
			width: 0.5rem;
			height: 0.5rem;
			transform: translate3d(0, -0.5rem, 0);
		}
	}

}