<div class="vtr-page-{{pageCssClass}} vtr-page container-fluid page-content-bg">
	<div class="row vtr-page-header">
		<div class="col vtr-col" [ngStyle]="{background: dccService.headerBackground}">
			<div class="container">
				<vtr-header-main [title]="pageTitle" [back]="backLinkText" [parentPath]="parentPath"
					[menuItems]="menuItems" [forwardLink]="" [textId]="textId"></vtr-header-main>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xl-8 vtr-page-left-column">
				<div class="vtr-page-shift-up nmx-40">
					<!-- add the select attribute to ng-content -->
					<ng-content select="left-content"></ng-content>
				</div>
			</div>
			<div class="col-md-6 col-xl-4 vtr-page-right-column">
				<div class="vtr-page-shift-up">
					<!-- add the select attribute to ng-content -->
					<ng-content select="right-content"></ng-content>
				</div>
			</div>
		</div>
	</div>
</div>