@import "../../app.theme";

.vtr-page-content {
	.p-30 {
		padding: 1.875rem;
	}

	.pl-40 {
		padding-left: 2.5rem;
	}

	.pr-40 {
		padding-right: 2.5rem;
	}

	.pa-20 {
		padding: 1.25rem;
	}

	.mt--50 {
		margin-top: -5.3125rem;
	}
	.system-status-block {
		padding-top: 7.5rem;
	}

	.pt-6 {
		padding-top: 6rem;
	}
	.vtr-page-right-column {
		@media #{$mediaquery_X8} {
			padding: 4rem 4rem 4rem 8.5rem;
		}
	}
}

.page-content-bg {
	@media #{$mediaquery_md} {
		background: none !important;
	}
}

::ng-deep {
	.page-content-bg {
		.vtr-header-main {
			background: none !important;
			padding: 5rem 8.5rem 8rem 1.2rem !important;
			&::before {
				background: none !important;
			}
			@media #{$mediaquery_md} {
				padding: 5rem 8.5rem 8rem 5rem !important;
			}
		}
		.vtr-page-left-column {
			background-color: #f1f1f1;
			padding-right: 3.6rem;
			@media #{$mediaquery_md} {
				padding: 0rem 5rem;
				padding-bottom: 10rem;
			}
		}

		.vtr-page-right-column {
			padding-left: 3.6rem;
			@media #{$mediaquery_md} {
				padding: 0rem 5rem;
			}
		}
	}
}

.container {
	@media #{$mediaquery_5} {
		max-width: 100%;
		padding: 0rem 7rem;
	}

	@media #{$mediaquery_md} {
		padding: 0rem 0rem;
	}

	@media #{$mediaquery_XL100X} {
		max-width: 160rem;
	}

	@media #{$mediaquery_XXL350X} {
		max-width: 100%;
		padding: 0rem 7rem;
	}
}
