@import "../../app.theme";

// RESPONSIVE EFFORT
// .vtr-page-content {
// 	.p-30 {
// 		padding: 1.875rem;
// 	}

// 	.pl-40 {
// 		padding-left: 2.5rem;
// 	}

// 	.pr-40 {
// 		padding-right: 2.5rem;
// 	}

// 	.pa-20 {
// 		padding: 1.25rem;
// 	}

// 	.mt--50 {
// 		margin-top: -5.3125rem;
// 	}
// 	.system-status-block {
// 		padding-top: 7.5rem;
// 	}

// 	.pt-6 {
// 		padding-top: 6rem;
// 	}
// 	.vtr-page-right-column {
// 		@media #{$mediaquery_X8} {
// 			padding: 4rem 4rem 4rem 8.5rem;
// 		}
// 	}
// }

.vtr-page {
	&.page-content-bg {
		background: $shade_extralight;
		// RESPONSIVE EFFORT
		// background: #f1f1f1;
		// background: linear-gradient(to right, #f1f1f1 40%, #ffffff 40%);
		// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f1f1", endColorstr="#FFFFFF", GradientType=1);
		// @media #{$mediaquery_md} {
		// 	background: none !important;
		// }
	}
	.page-header-bg {
		background: #289cd0;
		background: linear-gradient(to right, #72d0bb 0%, #289cd0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72d0bb", endColorstr="#289cd0", GradientType=1);
		&::before {
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			width: 100%;
			background: url(/assets/images/gaming/GamingTopImage.jpg) center center no-repeat;
			background-size: cover;
			opacity: 0.15;
		}
	}
	.vtr-page-columns {
		max-width: $max_page_width;
		margin: 0 auto;
		.vtr-page-column {
			padding-top: 0;
			padding-bottom: 0;
			&.vtr-page-left-column {
				padding-left: $padding_side;
				padding-right: 3rem;
				background-color: $shade_extralight;
				@media #{$breakpoint_xl} {
					padding-left: $padding_side_sm;
				}
				@media #{$breakpoint_lg} {
					padding-left: $padding_side_sm;
					padding-right: $padding_side_sm;
				}
			}
			&.vtr-page-right-column {
				padding-right: $padding_side;
				padding-left: 3rem;
				background-color: $light;
				@media #{$breakpoint_xl} {
					padding-right: $padding_side_sm;
				}
				@media #{$breakpoint_lg} {
					padding-left: $padding_side_sm;
					padding-right: $padding_side_sm;
				}
				@media #{$breakpoint_lg} {
					padding-top: 2rem;
				}
				.vtr-page-column-shift-up {
					@media #{$breakpoint_lg} {
						margin-top:0;
					}
				}
			}
			.vtr-page-column-shift-up {
				margin-top: -4rem;
			}
		}
	}
}

:host-context(.is-gaming) {
	.vtr-page {
		&.page-content-bg {
			background: $gaming_darkest;
		}
		.vtr-page-columns {
			.vtr-page-column {
				&.vtr-page-left-column {
					background-color: $gaming_darkest;
				}
				&.vtr-page-right-column {
					background-color: $gaming_dark;
				}
			}
		}
	}
}



// RESPONSIVE EFFORT
// ::ng-deep {
// 	.page-content-bg {
// 		.vtr-header-main {
// 			background: none !important;
// 			padding: 5rem 8.5rem 8rem 1.2rem !important;
// 			&::before {
// 				background: none !important;
// 			}
// 			@media #{$mediaquery_md} {
// 				padding: 5rem 8.5rem 8rem 5rem !important;
// 			}
// 		}
// 		.vtr-page-left-column {
// 			background-color: #f1f1f1;
// 			padding-right: 3.6rem;
// 			@media #{$mediaquery_md} {
// 				padding: 0rem 5rem;
// 				padding-bottom: 10rem;
// 			}
// 		}

// 		.vtr-page-right-column {
// 			padding-left: 3.6rem;
// 			@media #{$mediaquery_md} {
// 				padding: 0rem 5rem;
// 			}
// 		}
// 	}
// }

// .container {
// 	@media #{$mediaquery_5} {
// 		max-width: 100%;
// 		padding: 0rem 7rem;
// 	}

// 	@media #{$mediaquery_md} {
// 		padding: 0rem 0rem;
// 	}

// 	@media #{$mediaquery_XL100X} {
// 		max-width: 160rem;
// 	}

// 	@media #{$mediaquery_XXL350X} {
// 		max-width: 100%;
// 		padding: 0rem 7rem;
// 	}
// }
