@import "../../app.theme";


.vtr-page {
	.vtr-page-header {
		background-image: url('/assets/images/HeaderImage.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.vtr-page-columns {
		max-width: $max_page_width;
		margin: 0 auto;
		.vtr-page-column {
			padding-top: 0;
			padding-bottom: 0;
			&.vtr-page-left-column {
				padding-left: $padding_side;
				padding-right: 2.4rem;
				background-color: $shade_extralight;
				@media #{$breakpoint_xl} {
					padding-left: $padding_side;
				}
				@media #{$breakpoint_lg} {
					padding-left: $padding_side;
					padding-right: $padding_side;
					padding-bottom: 1rem;
				}
				@media #{$breakpoint_sm} {
					padding-bottom: 1rem;
				}
				@media #{$breakpoint_md} {
					padding-bottom: 1rem;
				}
			}
			&.vtr-page-right-column {
				padding-right: $padding_side;
				padding-left: 2.4rem;
				background-color: $light;
				@media #{$breakpoint_xl} {
					padding-right: $padding_side;
				}
				@media #{$breakpoint_lg} {
					padding-left: $padding_side;
					padding-right: $padding_side;
					padding-bottom: $padding_side_sm;
					padding-top: $padding_side_sm;
				}
				@media #{$breakpoint_lg} {
					// padding-top: 2rem;
				}
				@media #{$breakpoint_lg} {
					background-color: $shade_extralight;
				}
				@media #{$breakpoint_md} {
					background-color: $shade_extralight;
				}
				@media #{$breakpoint_sm} {
					background-color: $shade_extralight;
				}
				.vtr-page-column-shift-up {
					@media #{$breakpoint_sm} {
						margin-top:-4rem;
					}
					@media #{$breakpoint_md} {
						margin-top:-4rem;
					}
					@media #{$breakpoint_lg} {
						margin-top:-4rem;
					}
				}
			}
			.vtr-page-column-shift-up {
				margin-top: -4rem;
			}
		}
	}
}

:host-context(.is-gaming) {
	.vtr-page {
		&.page-content-bg {
			background: $gaming_darkest;
		}
		.vtr-page-columns {
			.vtr-page-column {
				&.vtr-page-left-column {
					background-color: $gaming_darkest;
				}
				&.vtr-page-right-column {
					background-color: $gaming_dark;
				}
			}
		}
	}
}
