@import "../../app.theme";

.vtr-page {
	&.page-content-bg {
		background: $shade_extralight;
	}
	.page-header-bg {
		background: #289cd0;
		background: linear-gradient(to right, #72d0bb 0%, #289cd0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72d0bb", endColorstr="#289cd0", GradientType=1);
		&::before {
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			width: 100%;
			background: url(/assets/images/gaming/GamingTopImage.jpg) center center no-repeat;
			background-size: cover;
			opacity: 0.15;
		}

		&.dcc {
			background: linear-gradient(to right, #185d73 0%, #1e7390 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#185d73", endColorstr="#1e7390", GradientType=1);

			&::before {
				background: url(/assets/images/dcc/top-image-dcc.jpg) center center no-repeat;
			}
		}
	}
	.vtr-page-columns {
		max-width: $max_page_width;
		margin: 0 auto;
		.vtr-page-column {
			padding-top: 0;
			padding-bottom: 0;
			&.vtr-page-left-column {
				padding-left: $padding_side;
				padding-right: 3rem;
				background-color: $shade_extralight;
				@media #{$breakpoint_xl} {
					padding-left: $padding_side_sm;
				}
				@media #{$breakpoint_lg} {
					padding-left: $padding_side_sm;
					padding-right: $padding_side_sm;
				}
			}
			&.vtr-page-right-column {
				padding-right: $padding_side;
				padding-left: 3rem;
				background-color: $light;
				@media #{$breakpoint_xl} {
					padding-right: $padding_side_sm;
				}
				@media #{$breakpoint_lg} {
					padding-left: $padding_side_sm;
					padding-right: $padding_side_sm;
				}
				@media #{$breakpoint_lg} {
					// padding-top: 2rem;
				}
				.vtr-page-column-shift-up {
					@media #{$breakpoint_lg} {
						margin-top:0;
					}
				}
			}
			.vtr-page-column-shift-up {
				margin-top: -4rem;
			}
		}
	}
}

:host-context(.is-gaming) {
	.vtr-page {
		&.page-content-bg {
			background: $gaming_darkest;
		}
		.vtr-page-columns {
			.vtr-page-column {
				&.vtr-page-left-column {
					background-color: $gaming_darkest;
				}
				&.vtr-page-right-column {
					background-color: $gaming_dark;
				}
			}
		}
	}
}
