<div class="vtr-home-security-all-devices container-fluid">
	<div class="loading" *ngIf="!pluginAvailable || !account || !allDevicesInfo">
		<div class="spinner-border text-primary progress-spinner" role="status">
		</div>
	</div>
	<div class="row content" [ngClass]="{'show-overlay':account.state === 'trialExpired' || account.state === 'local'}" *ngIf="pluginAvailable && account && allDevicesInfo">
			<div class="col-lg-4 col-12 icon-container container-fluid ">
				<div class="row">
					<div class="icon col-4">
						<fa-icon [icon]="['fal', 'home-lg-alt']"></fa-icon>
					</div>
					<div class="col-8 text">
						<div class="all-device-name text-uppercase">{{'homeSecurity.overview.allDevices' | translate}}</div>
						<div class="manage">
							<a target="_blank" href="javascript:void(0)"
								[ngClass]="{'disabled': !common?.connectedHomeSecurity?.account?.consoleUrl}"
								id="chs-lnk-ad-manageAccount"
								attr.aria-label="chs-lnk-ad-manageAccount"
								vtrMetrics
								metricsItem="manageAccountAllDevice"
								metricsEvent="featureClick"
								(click)="common.openCornet()">
								{{'homeSecurity.overview.manageAccount' | translate}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="device-info-and-add-device device-info col-lg-8 col-12 row">
				<div class="col-md-4 col-4 number-container">
					<div class="icon">
						<img class="img-fluid circle" src="assets/images/connected-home-security/ecosystem-circle-red.svg"
							*ngIf="!allDevicesInfo.allDevicesStatus || account.state==='trialExpired' || account.state==='local'"/>
						<img class="img-fluid circle" src="assets/images/connected-home-security/ecosystem-circle-green.svg"
							*ngIf="allDevicesInfo.allDevicesStatus && account.state!=='trialExpired' && account.state!=='local'"/>
					</div>
					<div class="device-number" [ngClass]="{'sizeChange': allDevicesInfo.allDevicesNumber > 9}"
						*ngIf="allDevicesInfo.allDevicesNumber!==0 && account.state!=='trialExpired' && account.state!=='local'">{{ allDevicesInfo.allDevicesNumber }}</div>
				</div>

				<div class="device-text-add-device col-md-8 col-8 row">
					<div class="col-md-6 col-12 text" >
						<div class="device-text text-uppercase">{{'homeSecurity.overview.devices' | translate}}</div>
						<div class="status">
							<h3 *ngIf="account && allDevicesInfo && (allDevicesInfo.allDevicesNumber !== 0 || this.account.state === 'trialExpired' || this.account.state === 'local')">
								<span class="badge badge-pill badge-success"
									*ngIf="allDevicesInfo.allDevicesStatus && this.account.state!=='trialExpired' && this.account.state!=='local'">
									{{'homeSecurity.overview.secure' | translate}}
								</span>
								<span class="badge badge-pill badge-danger" (click)="common.openCornet()"
									*ngIf="!allDevicesInfo.allDevicesStatus || this.account.state==='trialExpired' || this.account.state==='local'"
									[ngClass]="{'url-disabled': !common?.connectedHomeSecurity?.account?.consoleUrl}"
									id="chs-btn-ad-needAttention"
									attr.aria-label="chs-btn-ad-needAttention"
									vtrMetrics
									metricsItem="needAttentionAllDevice"
									metricsEvent="featureClick">
									{{'homeSecurity.overview.needAttention' | translate}}</span>
							</h3>
						</div>
						<div class="protected-device">
							<a  target="_blank" href="javascript:void(0)"
								[ngClass]="{'disabled': !common?.connectedHomeSecurity?.account?.consoleUrl}"
								id="chs-lnk-ad-seeProtectedDevices"
								aria-label="chs-lnk-ad-seeProtectedDevices"
								vtrMetrics
								metricsItem="seeProtectedDevicesAllDevice"
								metricsEvent="featureClick"
								(click)="common.openCornet()">{{'homeSecurity.overview.seeProtectedDevices' | translate}}</a>
						</div>
					</div>

					<div class="col-md-6 col-12 add-device">
						<vtr-ui-button
							id="chs-btn-ad-addDevice"
							attr.aria-label="chs-btn-ad-addDevice"
							metricsItem="addDeviceAllDevice"
							metricsEvent="featureClick"
							(click)="common.openCornet()"
							[isDisabled]="!common?.connectedHomeSecurity?.account?.consoleUrl"
							[title]="'homeSecurity.overview.addDevice' | translate"
							[label]="'homeSecurity.overview.addDevice' | translate">
						</vtr-ui-button>
					</div>

				</div>

			</div>
	</div>
	<div class="row overlay" *ngIf="pluginAvailable && account && (account.state === 'trialExpired' || account.state === 'local')">
		<div class="col content-container" *ngIf="account.state === 'trialExpired'">
			<div class="text">{{'homeSecurity.overview.trialExpired' | translate}}</div>
			<div class="button-container">
				<vtr-ui-button
					id="chs-btn-ad-upgrade"
					aria-label="chs-btn-ad-upgrade"
					metricsItem="upgradeAllDevice"
					metricsEvent="featureClick"
					(click)="common.upgrade()"
					[title]="'homeSecurity.overview.upgrade' | translate"
					[label]="'homeSecurity.overview.upgrade' | translate">
				</vtr-ui-button>
			</div>
		</div>
		<div class="col content-container" *ngIf="account.state === 'local'">
			<div class="text">{{'homeSecurity.overview.freeTrial' | translate}}</div>
			<div class="button-container">
				<vtr-ui-button
					id="chs-btn-ad-startTrial"
					aria-label="chs-btn-ad-startTrial"
					metricsItem="CHSStartTrialButton"
					metricsEvent="featureClick"
					(click)="common.startTrial()"
					[label]="'homeSecurity.overview.startTrial' | translate"
					[isDisabled]="common?.startTrialDisabled">
				</vtr-ui-button>
			</div>
		</div>
	</div>
</div>
