<div class="vtr-home-security-all-devices container-fluid">
	<div class="row justify-content-between no-gutters">
		<div class="col-2 flex-column text-center" *ngFor="let item of allDevices.allDevicesItem">
			<div class="icon-bkg blue">
				<fa-icon [icon]="['fal', getItemStatusIconClass(item)]"></fa-icon>
			</div>
			<div class="mb-2 text-ellipsis"><span title="{{item.type}}" [innerHTML]="item.type"></span></div>
			<div class="mb-4"><span class="font-weight-bold blue" [innerHTML]="item.count"></span></div>
		</div>
	</div>
</div>
