<vtr-page-layout [title]="'common.menu.device.sub4' | translate"
	[back]="'common.ui.back' | translate"
	[backId]="'smart-assist-back-btn'"
	[textId]="'smart-assist'"
	[parentPath]="parentPath"
	[pageCssClass]="'smart-assist'"
	[shiftLeftUp]="false"
	[shiftRightUp]="true">

	<left-content>
		<div class="mt-2">
			<div class="row">
				<div class="col">
					<vtr-ui-header-subpage [items]="headerMenuItems"
						[caption]="'device.smartAssist.description' | translate"
						[menuTitle]="jumpToSettingsTitle"
						[textId]="'smart-assist'"
						[metricsParent]="'Device.SmartAssist'">
					</vtr-ui-header-subpage>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<!-- Start of Intelligent Security -->
					<div class="row pt-5 smart-assist-card"
						id="security"
						*ngIf="intelligentSecurity.isIntelligentSecuritySupported">
						<div class="col-12 px-0 intelligent-security-block">
							<vtr-container-collapsible [collapseLinkId]="'intelligentSecurity'"
								[tabIndex]="0"
								[cardTitle]="'device.smartAssist.intelligentSecurity.title' | translate"
								componentName="intelligent security"
								[isCollapsed]="false"
								[allowCollapse]="true"
								[theme]="'white'">
								<!-- image -->
								<div class="no-border-bottom pt-4 intelligent-security-image">
									<img [src]="image"
										role="img"
										id="intelligent-security-image" />
									<div class="intelligent-security-image-word">
										<p class="intelligent-security-image-word-title"
											role="text"
											id="intelligent-security-image-word-title">
											{{'device.smartAssist.intelligentSecurity.image.title' | translate}}</p>
										<p class="intelligent-security-image-word-description"
											role="text"
											id="intelligent-security-image-word-description">
											{{'device.smartAssist.intelligentSecurity.image.description' | translate}}
										</p>
									</div>
								</div>
								<!-- zeroTouchLogin -- ideaPad section -->
								<ul class="list-group list-group-flush"
									*ngIf="!isThinkPad">
									<li class="no-border-bottom common-li-padding">
										<vtr-ui-row-switch [switchId]="'zeroTouchLogin'"
											[title]="'device.smartAssist.intelligentSecurity.zeroTouchLoginForIdea.title' | translate"
											[caption]=" 'device.smartAssist.intelligentSecurity.zeroTouchLoginForIdea.caption' | translate"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-zero-touch-login']"
											[showChildContent]="true"
											[isSwitchChecked]="intelligentSecurity.isZeroTouchLoginEnabled"
											(toggleOnOff)="onZeroTouchLoginStatusToggle($event)"
											[theme]="'white'"
											[disabled]="!intelligentSecurity.isHPDEnabled"
											[rightIcon]="['far', 'question-circle']"
											[tooltipText]=" 'device.smartAssist.intelligentSecurity.zeroTouchLoginForIdea.tooltip' | translate">
										</vtr-ui-row-switch>
										<!-- show advanced section -->
										<div class="pl-4 border-bottom pb-4 ml-4"
											*ngIf="!zeroTouchLoginShowAdvancedSection">
											<span class="link-text mt-2 ml-4"
												role="button"
												tabindex="0"
												id="smartAssist-intelligentSecurity-zeroTouchLogin-showAdvSettings"
												attr-aria-label="smartAssist.intelligentSecurity.zeroTouchLogin.showAdvSettings"
												(click)="setHPDAdvancedSetting('zeroTouchLogin', true)"
												(keydown.enter)="setHPDAdvancedSetting('zeroTouchLogin', true)">
												{{'device.smartAssist.intelligentSecurity.advancedSettings.showAdvSettings' | translate}}
											</span>
										</div>
										<!-- login distance sensitivity adjust -->
										<div class="pl-5 bold-title-idea no-border-bottom pb-4"
											*ngIf="intelligentSecurity.isDistanceSensitivityVisible && zeroTouchLoginShowAdvancedSection">
											<vtr-ui-row-switch
												[switchId]="'smartAssist-intelligentSecurity-zeroTouchLogin-distanceSensitivityAutoAdjusting'"
												[title]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.title' | translate"
												[isSwitchVisible]="true"
												[showChildContent]="true"
												[isSwitchChecked]="intelligentSecurity.isZeroTouchLoginAdjustEnabled"
												(toggleOnOff)="onDistanceSensitivityAdjustToggle($event)"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLoginEnabled"
												[toolTipStatus]='true'>
												<div class="col text-wrap zeroTouch-DistanceAdjust">
													<div class="zeroTouchReadMore">
														<p *ngIf="intelligentSecurity.isZeroTouchLoginAdjustEnabled"
															id="zeroTouchLogin-DistanceAdjust-statusOn"
															role="text">
															{{'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.captionOn' | translate}}
														</p>
														<div *ngIf="!intelligentSecurity.isZeroTouchLoginAdjustEnabled"
															role="text">
															<p id="zeroTouchLogin-DistanceAdjust-statusOff"
																role="text">
																{{'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.captionOff' | translate}}
															</p>
															<p id="zeroTouchLogin-DistanceAdjust-readMoreMode1"
																role="text">
																{{'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.readMore' | translate}}
															</p>
															<div *ngIf="hsaIntelligentSecurity.sensorType == 2">
																<p id="zeroTouchLogin-DistanceAdjust-readMoreMode2"
																	role="text">
																	{{'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.readMoreForSensor2.line1' | translate}}
																</p>
																<p id="zeroTouchLogin-DistanceAdjust-readMoreMode3"
																	role="text">
																	{{'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.readMoreForSensor2.line2' | translate}}
																</p>
																<p id="zeroTouchLogin-DistanceAdjust-readMoreMode4"
																	role="text">
																	{{'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.readMoreForSensor2.line3' | translate}}
																</p>
															</div>
															<div *ngIf="hsaIntelligentSecurity.sensorType != 2">
																<p id="zeroTouchLogin-DistanceAdjust-readMoreMode2"
																	role="text">
																	{{'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.readMoreForSensor1.line1' | translate}}
																</p>
																<p id="zeroTouchLogin-DistanceAdjust-readMoreMode3"
																	role="text">
																	{{'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.readMoreForSensor1.line2' | translate}}
																</p>
																<p id="zeroTouchLogin-DistanceAdjust-readMoreMode4"
																	role="text">
																	{{'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.readMoreForSensor1.line3' | translate}}
																</p>
															</div>
														</div>
													</div>
												</div>
											</vtr-ui-row-switch>
											<div class="pl-4">
												<vtr-ui-custom-slider [sliderId]="'distanceSensitivity'"
													*ngIf="!intelligentSecurity.isZeroTouchLoginAdjustEnabled"
													[minLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.options.near' | translate"
													[min]=1
													[midLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.options.medium' | translate"
													[maxLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjustingForIdea.options.far' | translate"
													[max]=3
													(sliderChange)="setZeroTouchLoginSensitivity($event)"
													[value]="intelligentSecurity.zeroTouchLoginDistance"
													[isDisabled]="!intelligentSecurity.isZeroTouchLoginEnabled"
													[metricsItem]="'distanceSensitivity'"
													[ariaLabel]="'zero touch login distance sensitivity adjustment slider'"
													[metricsValue]="intelligentSecurity.zeroTouchLoginDistance">
												</vtr-ui-custom-slider>
											</div>
											<!-- note -->
											<div class="pt-3 pl-4"
												[ngClass]="{'zeroTouchLoginDistanceNote': intelligentSecurity.isZeroTouchLoginAdjustEnabled}"
												[class.blur-1]="!intelligentSecurity.isZeroTouchLoginEnabled"
												*ngIf="intelligentSecurity.isWindowsHelloRegistered">
												<div class="feature-note p-4">
													<div class="row">
														<!-- <div class="col-auto pl-0">
															<fa-icon [icon]="['fal', 'exclamation-circle']">
															</fa-icon>
														</div> -->
														<div class="col">
															<p id="smart-assist-intelligent-security-note"
																role="text">
																{{'device.smartAssist.intelligentSecurity.note.description1' | translate}}
																<a id="goto_hello_link"
																	role="link"
																	(click)="launchFaceEnrollment()"
																	(keydown.enter)="launchFaceEnrollment()"
																	tabindex="0"
																	href="javascript:void()"
																	class="hello-link">{{'device.smartAssist.intelligentSecurity.WindowsLink.goToWindowsHello' | translate}}
																</a>
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- hide advanced section -->
										<div class="pl-4 border-bottom pb-4 ml-4"
											[ngClass]="{'zeroTouchHideAdv': intelligentSecurity.isZeroTouchLoginAdjustEnabled && !intelligentSecurity.isWindowsHelloRegistered}"
											*ngIf="zeroTouchLoginShowAdvancedSection">
											<span class="link-text mt-2 ml-4"
												role="button"
												tabindex="0"
												id="smartAssist-intelligentSecurity-zeroTouchLogin-hideAdvSettings"
												attr.aria-label="smartAssist.intelligentSecurity.zeroTouchLogin.hideAdvSettings"
												(click)="setHPDAdvancedSetting('zeroTouchLogin', false)"
												(keydown.enter)="setHPDAdvancedSetting('zeroTouchLogin', false)">
												{{'device.smartAssist.intelligentSecurity.advancedSettings.hideAdvSettings' | translate}}
											</span>
										</div>
									</li>
								</ul>
								<!-- zeroTouchLogin -- thinkPad section -->
								<ul class="list-group list-group-flush"
									*ngIf="isThinkPad">
									<li class="common-li-padding">
										<vtr-ui-row-switch [switchId]="'humanPresenceDetection'"
											[title]="'device.smartAssist.intelligentSecurity.humanPresenceDetection.title' | translate"
											[componentName]="'HumanPresenceDetection'"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-face-recognition']"
											[showChildContent]="true"
											[isSwitchChecked]="intelligentSecurity.isHPDEnabled"
											(toggleOnOff)="onHumanPresenceDetectStatusToggle($event)"
											[theme]="'white'">
										</vtr-ui-row-switch>
									</li>
									<li class="no-border-bottom common-li-padding">
										<vtr-ui-row-switch [switchId]="'thinkpadZeroTouchLogin'"
											[title]="'device.smartAssist.intelligentSecurity.zeroTouchLogin.title' | translate"
											[caption]=" 'device.smartAssist.intelligentSecurity.zeroTouchLogin.caption' | translate"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-zero-touch-login']"
											[showChildContent]="true"
											[isSwitchChecked]="intelligentSecurity.isZeroTouchLoginEnabled"
											(toggleOnOff)="onZeroTouchLoginStatusToggle($event)"
											[theme]="'white'"
											[disabled]="!intelligentSecurity.isHPDEnabled">
										</vtr-ui-row-switch>
										<div class="pl-5 bold-title no-border-bottom pb-4 border-bottom">
											<vtr-ui-row-switch [switchId]="'thinkpadDistanceSensitivity'"
												[title]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.title' | translate"
												[isSwitchVisible]="false"
												[showChildContent]="true"
												[isSwitchChecked]="intelligentSecurity.isZeroTouchLoginAdjustEnabled"
												(toggleOnOff)="onDistanceSensitivityAdjustToggle($event)"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLoginEnabled || !intelligentSecurity.isHPDEnabled">
											</vtr-ui-row-switch>
											<!-- Add appropriate [enableSlider]="!intelligentSecurity.isZeroTouchLoginAdjustEnabled" -->
											<div class="slider-note"
												[class.disabled]="!intelligentSecurity.isZeroTouchLoginEnabled || !intelligentSecurity.isHPDEnabled">
												<vtr-ui-custom-slider [sliderId]="'thinkpadDistanceSensitivity'"
													[minLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.near' | translate"
													[min]="1"
													[maxLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.far' | translate"
													[max]="3"
													(sliderChange)="setZeroTouchLoginSensitivity($event)"
													[value]="intelligentSecurity.zeroTouchLoginDistance"
													[isDisabled]="!intelligentSecurity.isHPDEnabled || !intelligentSecurity.isZeroTouchLoginEnabled"
													[metricsItem]="'thinkpadDistanceSensitivity'"
													[ariaLabel]="'zero touch login distance sensitivity adjustment slider'"
													[metricsValue]="intelligentSecurity.zeroTouchLoginDistance">
												</vtr-ui-custom-slider>
												<div class="pt-3"
													[class.blur-1]="!intelligentSecurity.isZeroTouchLoginEnabled || !intelligentSecurity.isHPDEnabled"
													*ngIf="intelligentSecurity.isWindowsHelloRegistered">
													<div class="feature-note p-4">
														<div class="row blur">
															<!-- <div class="col-auto pl-0">
													<fa-icon [icon]="['fal', 'exclamation-circle']">
													</fa-icon>
												</div> -->
															<div class="col">
																<p id="smart-assist-intelligent-security-note">
																	{{'device.smartAssist.intelligentSecurity.note.description1' | translate}}
																	<a (click)="launchFaceEnrollment()"
																		id="thinkpad_goto_hello_link"
																		tabindex="0"
																		(keydown.enter)="launchFaceEnrollment()"
																		role="link"
																		href="javascript:void()"
																		class="hello-link">{{'device.smartAssist.intelligentSecurity.WindowsLink.goToWindowsHello' | translate}}
																	</a>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
								<!-- zeroTouchLock -- ideaPad section -->
								<ul class="list-group list-group-flush no-border-bottom"
									[class.disabled-overlay]="!intelligentSecurity.isHPDEnabled"
									*ngIf="intelligentSecurity.isZeroTouchLockVisible && !isThinkPad">
									<li class="auto-screen-block common-li-padding">
										<vtr-ui-row-switch [switchId]="'zeroTouchLock'"
											[title]="'device.smartAssist.intelligentSecurity.zeroTouchLock.title' | translate"
											[caption]=" 'device.smartAssist.intelligentSecurity.zeroTouchLock.caption' | translate"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-zero-touch-lock']"
											[readMoreText]="''"
											[showChildContent]="true"
											[isSwitchChecked]="intelligentSecurity.isZeroTouchLockEnabled"
											(toggleOnOff)="onZeroTouchLockStatusToggle($event)"
											[theme]="'white'"
											[disabled]="!intelligentSecurity.isHPDEnabled">
										</vtr-ui-row-switch>
										<!-- show advanced section -->
										<div class="pl-4 border-bottom pb-4 ml-4"
											*ngIf="!zeroTouchLockShowAdvancedSection">
											<span class="link-text mt-2 ml-4"
												role="button"
												tabindex="0"
												id="smartAssist-intelligentSecurity-zeroTouchLock-showAdvSettings"
												attr-aria-label="smartAssist.intelligentSecurity.zeroTouchLock.showAdvSettings"
												(click)="setHPDAdvancedSetting('zeroTouchLock', true)"
												(keydown.enter)="setHPDAdvancedSetting('zeroTouchLock', true)">
												{{'device.smartAssist.intelligentSecurity.advancedSettings.showAdvSettings' | translate}}
											</span>
										</div>
										<!-- facial recognition -->
										<div class="row fac-control">
											<div class="col mt-8 ml-4 facial-recognition pb-3"
												role="text"
												*ngIf="intelligentSecurity.isZeroTouchLockFacialRecoVisible && zeroTouchLockShowAdvancedSection">
												<h3 id="smart-assist-zero-touch-lock-faical-recognition-title mt-2">
													{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.title' | translate}}
												</h3>
												<p id="smart-assist-zero-touch-lock-faical-recognition-desc"
													role="text"
													attr-aria-label="smart-assist-zero-touch-lock-faical-recognition-desc">
													{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.caption' | translate}}
												</p>
												<div class="smart-assist-checkbox">
													<vtr-ui-checkbox [componentId]="'cb-zero-touch-lock'"
														[componentId]="'cb-zero-touch-lock'"
														[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || !intelligentSecurity.facilRecognitionCameraAccess
															|| intelligentSecurity.facialRecognitionCameraPrivacyMode"
														[value]="intelligentSecurity.isZeroTouchLockFacialRecoEnabled"
														[checked]="intelligentSecurity.isZeroTouchLockFacialRecoEnabled"
														[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.checkBox' | translate"
														[ariaLabel]="'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.checkBox' | translate"
														(toggle)='onZeroTouchLockFacialRecoChange($event)'>
													</vtr-ui-checkbox>
												</div>
												<div *ngIf="!intelligentSecurity.facilRecognitionCameraAccess || intelligentSecurity.facialRecognitionCameraPrivacyMode"
													class="permission-note p-4">
													<div class="row">
														<div *ngIf="!intelligentSecurity.facilRecognitionCameraAccess"
															class="col pr-3"
															role="text">
															<span class="mb-0 mt-auto"
																id="ztl-facial-recognition-permission-note"
																role="text">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.note.permission' | translate}}
															</span>
															<button type="button"
																class="btn btn-link privacy-button pl-0"
																(click)="onClick('ms-settings:privacy-webcam')"
																(keydown.enter)="onClick('ms-settings:privacy-webcam')"
																id="ztl-facial-recognition-access-url"
																role="link"
																tabindex="0"
																[attr.aria-disabled]="!intelligentSecurity.isZeroTouchLockEnabled"
																[disabled]="!intelligentSecurity.isZeroTouchLockEnabled">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.note.windowsLink' | translate}}
															</button>
														</div>
														<div class="col pl-3"
															role="text"
															tabindex="0"
															*ngIf="intelligentSecurity.facilRecognitionCameraAccess && intelligentSecurity.facialRecognitionCameraPrivacyMode">
															<span class="mb-0 mt-auto"
																id="ztl-facial-recognition-privacy-note"
																role="text">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.note.privacyMode' | translate}}
															</span>
															<button type="button"
																class="btn btn-link privacy-button pl-0"
																(click)="onJumpClick()"
																(keydown.enter)="onJumpClick()"
																id="ztl-facial-recognition-privacy-url"
																role="link"
																tabindex="0"
																[attr.aria-disabled]="!intelligentSecurity.isZeroTouchLockEnabled"
																[disabled]="!intelligentSecurity.isZeroTouchLockEnabled">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.note.privacyLink' | translate}}
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- auto screen lock timer -->
										<div class="bold-title no-border-bottom pl-5 pb-4 auto-screen-lock-help-icon"
											*ngIf="intelligentSecurity.isZeroTouchLockVisible && zeroTouchLockShowAdvancedSection"
											[class.col-pad-margin]="isThinkPad">
											<vtr-ui-row-switch [switchId]="'autoScreenLockTimer'"
												[title]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.title' | translate"
												[isSwitchVisible]="false"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)"
												[rightIcon]="['far', 'question-circle']"
												[tooltipText]="tooltipText| translate">
											</vtr-ui-row-switch>

											<!-- radio buttons -->
											<div class="slider-note"
												[class.blur-1]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
												<vtr-ui-rounded-rectangle-radio [radioId]="'autoScreenLockTimer_fast'"
													[group]="'autoScreenLockTimer'"
													name="autoScreenLockTimerFast"
													[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.fast' | translate"
													[value]="'1'"
													[checked]="intelligentSecurity.autoScreenLockTimer === '1'"
													(change)="onZeroTouchLockTimerChange($event, '1')"
													[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
												</vtr-ui-rounded-rectangle-radio>
												<vtr-ui-rounded-rectangle-radio [radioId]="'autoScreenLockTimer_medium'"
													[group]="'autoScreenLockTimer'"
													name="autoScreenLockTimerMedium"
													[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.medium' | translate"
													[value]="'2'"
													[checked]="intelligentSecurity.autoScreenLockTimer === '2'"
													(change)="onZeroTouchLockTimerChange($event, '2')"
													[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
												</vtr-ui-rounded-rectangle-radio>
												<vtr-ui-rounded-rectangle-radio [radioId]="'autoScreenLockTimer_slow'"
													[group]="'autoScreenLockTimer'"
													name="autoScreenLockTimerSlow"
													[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.slow' | translate"
													[value]="'3'"
													[checked]="intelligentSecurity.autoScreenLockTimer === '3'"
													(change)="onZeroTouchLockTimerChange($event, '3')"
													[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
												</vtr-ui-rounded-rectangle-radio>
											</div>
											<!-- note -->
											<div class="pt-3 pl-4">
												<div class="feature-note p-4">
													<div class="row blur">
														<div class="col">
															<p id="smart-assist-zeroTouchLock-note"
																role="text">
																{{'device.smartAssist.intelligentSecurity.note.description2' | translate}}
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- distance sensitivity adjusting -- ideapad section -->
										<div class="pl-5 bold-title-idea no-border-bottom pb-4"
											*ngIf="zeroTouchLockShowAdvancedSection">
											<vtr-ui-row-switch
												[switchId]="'smartAssist-intelligentSecurity-zeroTouchLock-distanceSensitivityAutoAdjusting'"
												*ngIf="zeroTouchPresenceLeaveDistanceAutoAdjustCapability"
												[title]="'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.title' | translate"
												[isSwitchVisible]="true"
												[showChildContent]="true"
												[isSwitchChecked]="hsaIntelligentSecurity.zeroTouchLockDistanceAutoAdjust"
												(toggleOnOff)="onZeroTouchLockDistanceSensitivityAdjustToggle($event)"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || !hsaIntelligentSecurity.capacity"
												[toolTipStatus]='true'>
												<div class="col text-wrap zeroTouch-DistanceAdjust">
													<div class="zeroTouchReadMore">
														<p id="zeroTouchLock-DistanceAdjust-statusOn"
															*ngIf="hsaIntelligentSecurity.zeroTouchLockDistanceAutoAdjust"
															role="text">
															{{'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.captionOn' | translate}}
														</p>
														<div *ngIf="!hsaIntelligentSecurity.zeroTouchLockDistanceAutoAdjust"
															role="text">
															<p id="zeroTouchLock-DistanceAdjust-statusOff"
																role="text">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.captionOff' | translate}}
															</p>
															<p id="zeroTouchLock-DistanceAdjust-readMoreMode1"
																role="text">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.readMore.line1' | translate}}
															</p>
															<p id="zeroTouchLock-DistanceAdjust-readMoreMode2"
																role="text">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.readMore.line2' | translate}}
															</p>
															<p id="zeroTouchLock-DistanceAdjust-readMoreMode3"
																role="text">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.readMore.line3' | translate}}
															</p>
														</div>
													</div>
												</div>
											</vtr-ui-row-switch>
											<div class="pl-4">
												<vtr-ui-custom-slider
													[sliderId]="'smartAssist-intelligentSecurity-zeroTouchLock-distanceSensitivityAdjusting'"
													*ngIf="zeroTouchPresenceLeaveDistanceCapability && !hsaIntelligentSecurity.zeroTouchLockDistanceAutoAdjust"
													[minLegend]="'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.options.near' | translate"
													[min]=0
													[midLegend]="'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.options.medium' | translate"
													[maxLegend]="'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.options.far' | translate"
													[max]=2
													(sliderChange)="SetZeroTouchLockDistanceSensitivity($event)"
													[value]="hsaIntelligentSecurity.zeroTouchLockDistance"
													[isDisabled]="!intelligentSecurity.isZeroTouchLockEnabled || !hsaIntelligentSecurity.capacity"
													[metricsItem]="'zeroTouchLockDistanceSensitivity'"
													[ariaLabel]="'zero touch lock distance sensitivity adjustment slider'"
													[metricsValue]="hsaIntelligentSecurity.zeroTouchLockDistance">
												</vtr-ui-custom-slider>
											</div>
										</div>
										<!-- hide advanced section -->
										<div class="pl-4 border-bottom pb-4 ml-4"
											[ngClass]="{'zeroTouchHideAdv': hsaIntelligentSecurity.zeroTouchLockDistanceAutoAdjust}"
											*ngIf="zeroTouchLockShowAdvancedSection">
											<span class="link-text mt-2 ml-4"
												role="button"
												tabindex="0"
												id="smartAssist-intelligentSecurity-zeroTouchLock-hideAdvSettings"
												attr.aria-label="smartAssist.intelligentSecurity.zeroTouchLock.hideAdvSettings"
												(click)="setHPDAdvancedSetting('zeroTouchLock', false)"
												(keydown.enter)="setHPDAdvancedSetting('zeroTouchLock', false)">
												{{'device.smartAssist.intelligentSecurity.advancedSettings.hideAdvSettings' | translate}}
											</span>
										</div>
									</li>
								</ul>
								<!-- zeroTouchLock -- thinkPad section -->
								<ul class="list-group list-group-flush no-border-bottom"
									[class.disabled-overlay]="!intelligentSecurity.isHPDEnabled"
									*ngIf="intelligentSecurity.isZeroTouchLockVisible && isThinkPad">
									<li class="auto-screen-block common-li-padding">
										<vtr-ui-row-switch [switchId]="'zeroTouchLock'"
											[title]="'device.smartAssist.intelligentSecurity.zeroTouchLock.title' | translate"
											[caption]=" 'device.smartAssist.intelligentSecurity.zeroTouchLock.caption' | translate"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-zero-touch-lock']"
											[readMoreText]="''"
											[showChildContent]="true"
											[isSwitchChecked]="intelligentSecurity.isZeroTouchLockEnabled"
											(toggleOnOff)="onZeroTouchLockStatusToggle($event)"
											[theme]="'white'"
											[disabled]="!intelligentSecurity.isHPDEnabled">
										</vtr-ui-row-switch>
										<div *ngIf="sensitivityVisibility"
											class="pl-5 bold-title no-border-bottom pb-4">
											<vtr-ui-row-switch [switchId]="'thinkpadSensitivity'"
												[title]="'device.smartAssist.intelligentSecurity.sensitivityAdjusting.title' | translate"
												[isSwitchVisible]="false"
												[showChildContent]="true"
												[isSwitchChecked]="false"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || !intelligentSecurity.isHPDEnabled">
											</vtr-ui-row-switch>
											<div class="slider-note"
												[class.disabled]="!intelligentSecurity.isZeroTouchLockEnabled">
												<vtr-ui-custom-slider [sliderId]="'thinkpadSensitivity'"
													[minLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.near' | translate"
													(sliderChange)="setHPDLeaveSensitivitySetting($event)"
													[mediumLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.medium' | translate"
													[maxLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.far' | translate"
													[min]="1"
													[max]="3"
													[value]="sensitivityAdjustVal"
													[ariaLabel]="'zero touch lock sensitivity adjustment slider'"
													[isDisabled]="!intelligentSecurity.isZeroTouchLockEnabled || !intelligentSecurity.isHPDEnabled"
													[metricsItem]="'thinkpadSensitivity'"
													[metricsValue]="sensitivityAdjustVal">
												</vtr-ui-custom-slider>
												<div class="pt-3"
													[class.blur-1]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
													<div class="feature-note p-4">
														<div class="row blur">
															<div class="col">
																<p id="smart-assist-intelligent-security-note">
																	{{'device.smartAssist.intelligentSecurity.note.description7' | translate}}
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="bold-title no-border-bottom pl-5 pb-4 border-bottom auto-screen-lock-help-icon"
											*ngIf="intelligentSecurity.isZeroTouchLockVisible"
											[class.col-pad-margin]="isThinkPad">
											<vtr-ui-row-switch [switchId]="'autoScreenLockTimer'"
												[title]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.title' | translate"
												[isSwitchVisible]="false"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)"
												[rightIcon]="['far', 'question-circle']"
												[tooltipText]="tooltipText| translate">
											</vtr-ui-row-switch>

											<div class="slider-note"
												[class.blur-1]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
												<div role="radiogroup"
													tabindex="0"
													aria-label="automatic screen locker more list, select using arrow keys"
													class="radio-group">
													<vtr-ui-rounded-rectangle-radio
														[radioId]="'autoScreenLockTimer_fast'"
														[group]="'autoScreenLockTimer'"
														name="autoScreenLockTimerFast"
														[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.fast' | translate"
														[value]="'1'"
														[checked]="intelligentSecurity.autoScreenLockTimer === '1'"
														(change)="onZeroTouchLockTimerChange($event, '1')"
														[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
													</vtr-ui-rounded-rectangle-radio>
													<vtr-ui-rounded-rectangle-radio
														[radioId]="'autoScreenLockTimer_medium'"
														[group]="'autoScreenLockTimer'"
														name="autoScreenLockTimerMedium"
														[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.medium' | translate"
														[value]="'2'"
														[checked]="intelligentSecurity.autoScreenLockTimer === '2'"
														(change)="onZeroTouchLockTimerChange($event, '2')"
														[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
													</vtr-ui-rounded-rectangle-radio>
													<vtr-ui-rounded-rectangle-radio
														[radioId]="'autoScreenLockTimer_slow'"
														[group]="'autoScreenLockTimer'"
														name="autoScreenLockTimerSlow"
														[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.slow' | translate"
														[value]="'3'"
														[checked]="intelligentSecurity.autoScreenLockTimer === '3'"
														(change)="onZeroTouchLockTimerChange($event, '3')"
														[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
													</vtr-ui-rounded-rectangle-radio>
												</div>

												<div class="pt-3">
													<div class="feature-note p-4">
														<div class="row blur">
															<div class="col">
																<p id="smart-assist-zeroTouchLock-note">
																	{{'device.smartAssist.intelligentSecurity.note.description2' | translate}}
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
								<!-- note -->
								<div class="row">
									<div class="feature-note p-4 my-4 ml-4">
										<p id="smart-assist-intelligent-security-note-desc1"
											role="text">
											{{'device.smartAssist.intelligentSecurity.note.description3' | translate}}
										</p>
										<div>
											<p id="smart-assist-intelligent-security-note-desc2"
												role="text">
												{{'device.smartAssist.intelligentSecurity.note.description4' | translate}}
											</p>
											<div class="ml-4">
												<p id="smart-assist-intelligent-security-note-desc2a"
													role="text">
													{{'device.smartAssist.intelligentSecurity.note.description5a' | translate}}
												</p>
												<p id="smart-assist-intelligent-security-note-desc2b"
													role="text">
													{{'device.smartAssist.intelligentSecurity.note.description5b' | translate}}
												</p>
											</div>
										</div>
										<p role="text"
											*ngIf="isThinkPad && intelligentSecurity.isZeroTouchLoginVisible && intelligentSecurity.isZeroTouchLockVisible && (hpdSensorType == 2)"
											id="smart-assist-intelligent-security-note-desc4">
											{{'device.smartAssist.intelligentSecurity.note.description6' | translate}}
										</p>
									</div>
								</div>
								<!-- reset -->
								<div class="row ml-3">
									<vtr-ui-button [linkId]="'intelligentSecurity_reset_btn'"
										(onClick)="onResetDefaultSettings($event)"
										(keydown.enter)="onResetDefaultSettings($event)"
										[upperCaseLabel]="true"
										[label]="'device.smartAssist.intelligentSecurity.resetToDefault' | translate"
										metricsParent="Pages.SmartAssist.security"
										metricsItem="btn.Reset To Default Settings"></vtr-ui-button>
								</div>
							</vtr-container-collapsible>
						</div>
					</div>
					<!-- End of Intelligent Security -->

					<!-- Start of Intelligent Sensing (Anti theft)-->
					<div class="smart-assist-anti-theft">
						<vtr-anti-theft id="sensing"></vtr-anti-theft>
					</div>
					<!-- End of Intelligent Sensing (Anti theft)-->

					<!-- Start of Intelligent Screen -->
					<div class="row pt-5 smart-assist-card"
						id="screen"
						*ngIf="intelligentScreen.isIntelligentScreenVisible">
						<div class="col-12 px-0">
							<vtr-container-collapsible [collapseLinkId]="'intelligentScreen'"
								[tabIndex]="0"
								[cardTitle]="'device.smartAssist.intelligentScreen.title' | translate"
								componentName="intelligent screen"
								[isCollapsed]="false"
								[allowCollapse]="true"
								[theme]="'white'">

								<div class="intligent-screen">
									<div class="col-12 px-0">
										<div class="int-screen-desc">
											<p id="smart-assist-intelligent-screen-desc">
												{{'device.smartAssist.intelligentScreen.description' | translate}}
											</p>
										</div>
									</div>
								</div>

								<ul class="list-group list-group-flush">
									<li class="auto-screen-off-block"
										*ngIf="intelligentScreen.isAutoScreenOffVisible">
										<vtr-ui-row-switch [switchId]="'autoScreenOff'"
											[title]="'device.smartAssist.intelligentScreen.autoScreenOff.title' | translate"
											[caption]=" 'device.smartAssist.intelligentScreen.autoScreenOff.caption' | translate"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-auto-screen-off']"
											[theme]="'white'"
											(toggleOnOff)="onAutoScreenOffToggle($event)"
											[isDisabled]="intelligentScreen.isAutoScreenOffNoteVisible"
											[isSwitchChecked]="intelligentScreen.isAutoScreenOffEnabled">
										</vtr-ui-row-switch>
										<div class="row"
											*ngIf="intelligentScreen.isAutoScreenOffNoteVisible">
											<div class="feature-note auto-screen-off-note p-4">
												<p id="smart-assist-auto-screen-off-note">
													{{'device.smartAssist.intelligentScreen.autoScreenOff.note' | translate}}
												</p>
												<!-- <a href="javascript:void();"
										(click)="launchPowerAndSleep();"><span>{{'device.smartAssist.intelligentScreen.autoScreenOff.windowsLink' | translate}}</span></a> -->
											</div>
										</div>
									</li>
									<li class="pt-3 keep-my-display-block">
										<vtr-ui-row-switch [switchId]="'keepMyDisplay'"
											[title]="'device.smartAssist.intelligentScreen.keepMyDisplay.title' | translate"
											[caption]="'device.smartAssist.intelligentScreen.keepMyDisplay.caption' | translate"
											[leftIcon]="['icomoon', 'icomoon-keep-my-display']"
											[theme]="'white'"
											[isSwitchVisible]="true"
											[showChildContent]="true"
											(toggleOnOff)="onKeepMyDisplayToggle($event)"
											[isSwitchChecked]="intelligentScreen.isReadingOrBrowsingEnabled">
											<div class="pl-4 ml-4 pt-4">
												<div class="display-dim-title"
													id="smart-assist-display-slider-title">
													{{'device.smartAssist.intelligentScreen.keepMyDisplay.displaySlider.title' | translate}}
												</div>
												<vtr-ui-custom-slider [sliderId]="'keepMyDisplay'"
													[minLegend]="'device.smartAssist.intelligentScreen.keepMyDisplay.displaySlider.startTime' | translate"
													[maxLegend]="'device.smartAssist.intelligentScreen.keepMyDisplay.displaySlider.endTime' | translate"
													[min]="0"
													[max]="60"
													[value]="intelligentScreen.readingOrBrowsingTime"
													[ariaLabel]="'display dimmer time adjustment slider'"
													[isDisabled]="!intelligentScreen.isReadingOrBrowsingEnabled"
													[metricsItem]="'keepMyDisplay'"
													[metricsValue]="intelligentScreen.readingOrBrowsingTime"
													(sliderChange)="onDisplayDimTimeChange($event)">
												</vtr-ui-custom-slider>
											</div>
										</vtr-ui-row-switch>
									</li>
								</ul>
							</vtr-container-collapsible>
						</div>
					</div>

					<!-- End of Intelligent Screen -->


					<!-- Start of Intelligent Media -->
					<div class="smart-assist-card">
						<vtr-intelligent-media id="media"
							*ngIf="intelligentMedia.available || superResolution.available"
							[isLoading]="isIntelligentMediaLoading"
							[isChecked]="intelligentMedia.status"
							[isSRLoading]="isSuperResolutionLoading"
							[isSRChecked]="superResolution.status"
							[intelligentMediaAvailable]="intelligentMedia.available"
							[superResolutionAvailable]="superResolution.available">
						</vtr-intelligent-media>
					</div>

					<!-- End of Intelligent Media -->

					<!-- Start of Active Protection System -->
					<div class="row pt-5 smart-assist-card"
						id="aps"
						*ngIf='isAPSAvailable'>
						<div class="col-12 px-0">
							<vtr-container-collapsible [collapseLinkId]="'activeProtection'"
								[tabIndex]="0"
								[cardTitle]="'device.smartAssist.activeProtectionSystem.title' | translate"
								componentName=""
								[isCollapsed]="false"
								[allowCollapse]="true"
								[theme]="'white'">
								<vtr-active-protection-system></vtr-active-protection-system>
							</vtr-container-collapsible>
						</div>
					</div>
					<!-- End of Active Protection System -->

					<!-- Start of voice -->
					<div class="row pt-5 smart-assist-card"
						id="voice"
						*ngIf="lenovoVoice.available">
						<div class="col-12 px-0">
							<vtr-container-collapsible [collapseLinkId]="'intelligentVoice'"
								[tabIndex]="0"
								[cardTitle]="'device.smartAssist.voice.title' | translate"
								[isCollapsed]="false"
								[allowCollapse]="true"
								[theme]="'white'"
								[metricsParent]="'Device.SmartAssist'">
								<vtr-voice></vtr-voice>
							</vtr-container-collapsible>
						</div>
					</div>
					<!-- End of voice -->
				</div>
			</div>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 pb-5">
					<vtr-container-card [containerCardId]="'smart-assist-container-card'"
						[item]="cardContentPositionA"
						[type]="'subpage-corner'"
						[ratio]="2"
						order="1"
						sideFlag='r'
						[cornerShift]="'large'">
					</vtr-container-card>
				</div>
			</div>
			<div class="row">
				<div class="col col-12 mb-3 help-heading">
					{{ 'device.deviceSettings.helpful' | translate }}
				</div>
			</div>
			<div class="row">
				<div class="col col-12 cont pb-5">
					<vtr-widget-questions [title]="'common.qAndA.title' | translate"
						[description]="'common.qAndA.subtitle' | translate"
						[items]="qaService.qas"
						blockPosition="r2"
						[linkId]="'smart-assist'">
					</vtr-widget-questions>
				</div>
			</div>
		</div>
	</right-content>

</vtr-page-layout>
