@import '../../../app.theme.scss';
$fontsize_xs: 1.4rem;
.vtr-page {
	.vtr-page-content {
		.vtr-page-left-column {
			background-color: $light;
		}
	}
}

.vtr-page-right-column {
	background-color: $shade_extralight;
}

::ng-deep {
	.vtr-page-smart-assist {
		ul.list-group {
			list-style-type: none;
		}
		.blur-1 {
			opacity: 0.65;
			pointer-events: none;
		}
		.feature-note {
			background-color: $grey_lighter;
			border: 0.1rem solid $note_border;
			width: 100%;
			border-radius: $border_radius;
			&.error-message {
				p {
					color: $red_light;
				}
			}
			p {
				font-size: $fontsize_xs;
				font-weight: $weight_light;
				color: $shade_blue;
			}
			a {
				text-decoration: underline;
				color: $menu_hover;
				&:hover {
					text-decoration: underline;
					&:hover {
						text-decoration: underline;
						color: $menu_hover;
					}
				}
				&.auto-screen-off-note {
					p {
						color: $alt;
					}
					span {
						font-size: 1.5rem;
					}
				}

				fa-icon {
					color: $alt;
					font-size: 3rem;
				}
			}
			.blur {
				&.disabled {
					opacity: 0.65;
				}
			}
			.auto-screen-lock-timer {
				h3 {
					font-weight: $weight_bold;
					color: $main_darker;
					margin-top: 0.2rem;
					letter-spacing: 0.05rem;
				}
				fa-icon {
					font-size: 1.8rem;
					color: $gaming;
					&:hover {
						color: $highlight;
					}
				}
			}
			&.auto-screen-off-note-red {
				p {
					color: #e13836;
				}
				b {
					font-weight: bold;
				}
			}
		}
		.card-body {
			padding: 1.25rem 1.8rem;
		}
		.blur-1 {
			opacity: 0.65;
		}
		.feature-note {
			background-color: $grey_lighter;
			border: 0.1rem solid $note_border;
			width: 100%;
			p {
				font-size: $fontsize_xs;
				font-weight: $weight_light;
				color: $shade_blue;
			}
			a {
				text-decoration: underline;
				color: $menu_hover;
				&:hover {
					text-decoration: underline;
				}
			}
			::ng-deep .vtr-ui-rounded-rectangle-radio {
				width: 25.5rem;
				@media #{$mediaquery_X22} {
					width: 25.5rem;
				}
				@media #{$mediaquery_X23} {
					width: 25.5rem;
				}
			}
			.disabled-overlay {
				background-color: #f6f8f8;
				z-index: 2;
				pointer-events: none;
			}
			.disabled {
				pointer-events: none;
			}
			.border-bottom {
				border-bottom: 0.1rem solid $shade_lighter;
			}
			.col-pad-margin {
				::ng-deep .vtr-ui-switch-row.white-theme {
					.vtr-col-pad {
						margin-right: 0.4rem;
					}
				}
			}
			.padding-right-07 {
				padding-right: 0.7rem;
			}
			.margin-right-05 {
				margin-right: 0.5rem;
			}
			&.auto-screen-off-note {
				margin: 0 0 0 3rem;
			}
		}
		.vtr-page-shift-up-medium {
			@media #{$mediaquery_X5} {
				margin-top: 0;
			}
			@media only screen and (min-width: 400px) and (max-width: 768px) {
				margin-top: -6rem;
			}
		}

		.smart-assist-checkbox {
			margin: 1rem 0rem 1rem 0rem;
			font-size: $fontsize_xs;
			color: $shade_blue;
			font-weight: $weight_light;
			padding-left: 0;
		}
		.permission-note {
			background-color: $grey_lighter;
			border: 0.1rem solid $note_border;
			padding-right: 1.4rem;
			span {
				font-size: $fontsize_xs;
				font-weight: $weight_light;
				color: $shade_blue;
			}
			.privacy-button {
				font-size: $fontsize_xs;
				letter-spacing: 0px;
				text-align: left;
				text-decoration: underline;
				margin-bottom: 0.5rem;
				color: $menu_hover;
				font-family: 'Segoe UI', sans-serif;
				font-weight: $weight_light;
				@media #{$white-on-black} {
					@include black-border;
					@include hyperlink-yellow-black;
				}
				@media #{$black-on-white} {
					@include white-border;
					@include hyperlink-blue-white;
				}
				&:hover {
					text-decoration: underline;
					color: $menu_hover;
				}
				&:focus {
					box-shadow: none;
					@include outline-border-blue;
					@media #{$white-on-black} {
						@include white-border;
					}
					@media #{$black-on-white} {
						@include black-border;
					}
				}
			}
		}
		.facial-recognition {
			h3 {
				font-weight: $weight_bold;
				color: $shade_blue;
				font-size: 1.4rem !important;
			}
			p {
				font-size: $fontsize_xs;
				font-weight: $weight_light;
				color: $grey_dark;
				width: 95%;
			}
		}
		.fac-control {
			margin-left: 3rem;
		}

		.auto-screen-lock-help-icon {
			::ng-deep .vtr-ui-switch-row.white-theme {
				.vtr-row-switch {
					display: block !important;
					text-align: right !important;
					min-width: auto !important;
					.tool-tip-icon {
						margin-left: 0 !important;
					}
				}
			}
			.slider-note {
				padding-left: 0;
			}
		}
		.auto-screen-lock-btns-group {
			&:focus {
				@include outline-blue;
			}
		}

		.keep-my-display-block {
			::ng-deep .vtr-ui-switch-row.white-theme {
				border-bottom: none;
			}
			.display-padding {
				padding-left: 2.5rem;
			}
			::ng-deep {
				.ng5-slider {
					margin: 20px 0 15px;
				}
			}
		}
		.hello-link {
			outline-offset: 0;
		}
		.radio-group {
			&:focus {
				@include outline-blue;
			}
		}
	}
}

.smart-assist-card {
	&:last-child {
		padding-bottom: 3rem;
	}
	::ng-deep .vtr-ui-button {
		.button-box {
			.button {
				min-height: 3.5rem !important;
			}
		}
	}
}

.int-screen-desc {
	p {
		font-size: $fontsize_xs;
		color: $purple_navy;
		font-weight: $weight_light;
		padding-left: 1.5rem;
	}
}

.bold-title {
	::ng-deep .vtr-ui-switch-row.white-theme {
		.title {
			font-weight: $weight_bold !important;
			font-size: $fontsize_xs !important;
			color: $shade_blue !important;
		}
	}
}

.bold-title-idea {
	margin-top: -1rem;
	::ng-deep .vtr-ui-switch-row.white-theme {
		.title {
			line-height: 3.5rem;
			font-weight: $weight_bold !important;
			font-size: $fontsize_xs !important;
			color: $shade_blue !important;
		}
	}
}

.display-dim-title {
	font-size: $fontsize_xs;
	color: $shade_blue;
	font-weight: $weight_bold;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

.facial-recognition-title {
	font-size: $fontsize_xs;
	color: $shade_blue;
	font-weight: $weight_bold;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

.help-heading {
	font-size: $fontsize_xl2;
	font-weight: $weight_light;
	color: $purple_navy;
}

.advanced-section-text {
	font-size: $fontsize_xs2;
	font-weight: $weight_bold;
	text-decoration: underline;
	letter-spacing: 0.05rem;
	color: $menu_hover;
	cursor: pointer;
	padding-top: 0.3rem;
	border: 0.1rem solid transparent;
	@media #{$white-on-black} {
		@include black-border;
		@include hyperlink-yellow-black;
	}
	@media #{$black-on-white} {
		@include white-border;
		@include hyperlink-blue-white;
	}
	&:focus {
		@include outline-border-blue;
		@media #{$white-on-black} {
			@include white-border;
			@include hyperlink-yellow-black;
		}
		@media #{$black-on-white} {
			@include black-border;
			@include hyperlink-blue-white;
		}
	}
}

.zeroTouch-DistanceAdjust {
	width: 95%;

	.zeroTouchReadMore {
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		color: $grey_dark;
		.read-more-link {
			list-style: none;
			text-decoration: underline;
		}
	}
}

.border-bottom-foridea {
	border-bottom: 0.099rem solid $shade_lighter;
}

.zeroTouchHideAdv {
	margin-top: -2rem;
}

.zeroTouchLoginDistanceNote {
	margin-top: -2rem;
}
