<vtr-page-layout [title]="'common.menu.device.sub4' | translate"
	[back]="'common.ui.back' | translate"
	[backId]="'smart-assist-back-btn'"
	[textId]="'smart-assist'"
	[parentPath]="parentPath"
	[pageCssClass]="'smart-assist'"
	[shiftLeftUp]="false"
	[shiftRightUp]="true">

	<left-content>
		<div class="mt-2">
			<div class="row">
				<div class="col">
					<vtr-ui-header-subpage [items]="headerMenuItems"
						[caption]="'device.smartAssist.description' | translate"
						[menuTitle]="jumpToSettingsTitle"
						[textId]="'smart-assist'"
						[metricsParent]="'Device.SmartAssist'">
					</vtr-ui-header-subpage>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<!-- Start of Intelligent Security -->
					<div class="row pt-5 smart-assist-card"
						id="security"
						*ngIf="intelligentSecurity.isIntelligentSecuritySupported">
						<div class="col-12 px-0">
							<vtr-container-collapsible [collapseLinkId]="'intelligentSecurity'"
								[tabIndex]="0"
								[cardTitle]="'device.smartAssist.intelligentSecurity.title' | translate"
								componentName="intelligent security"
								[isCollapsed]="false"
								[allowCollapse]="true"
								[theme]="'white'"
								(toggle)="onCardCollapse($event)">
								<!-- image -->
								<!-- <div class="intelligent-security-img-preview" id="intelligent-security-image" role="img" attr.aria-label="intelligent-security-image"
                                    automationId="intelligent-security-image" [ngStyle]="{ 'background-image': 'url(' + image + ')'}">				
								</div> -->
								<div class="no-border-bottom pb-3 intelligent-security-image">
									<img [src]="image"/>
								</div>
								<!-- ideaPad section -- zeroTouchLogin -->
								<ul class="list-group list-group-flush"
									*ngIf="!isThinkPad">
									<li class="no-border-bottom ">
										<vtr-ui-row-switch [switchId]="'zeroTouchLogin'"
											[title]="'device.smartAssist.intelligentSecurity.zeroTouchLogin.title' | translate"
											[caption]=" 'device.smartAssist.intelligentSecurity.zeroTouchLogin.caption' | translate"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-zero-touch-login']"
											[showChildContent]="true"
											[isSwitchChecked]="intelligentSecurity.isZeroTouchLoginEnabled"
											(toggleOnOff)="onZeroTouchLoginStatusToggle($event)"
											[theme]="'white'"
											[disabled]="!intelligentSecurity.isHPDEnabled"
											[rightIcon]="['far', 'question-circle']"
											[tooltipText]=" 'device.smartAssist.intelligentSecurity.zeroTouchLogin.tooltip' | translate">
										</vtr-ui-row-switch>
										<!-- show advanced section -->
										<div class="pl-5 border-bottom pb-4" *ngIf="!zeroTouchLoginShowAdvancedSection">
											<span class="link-text mt-2 ml-4"
												role="text"
												id="smartAssist.intelligentSecurity.zeroTouchLogin.showAdvSettings"
												attr-aria-label="smartAssist.intelligentSecurity.zeroTouchLogin.showAdvSettings"
												(click)="zeroTouchLoginShowAdvancedSection = true"
												(keydown.enter)="zeroTouchLoginShowAdvancedSection = true">
												{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.showAdvSettings' | translate}}
											</span>
										</div>
										<!-- login distance sensitivity adjust -->
										<div class="pl-5 bold-title no-border-bottom pb-4"
											*ngIf="intelligentSecurity.isDistanceSensitivityVisible && zeroTouchLoginShowAdvancedSection">
											<vtr-ui-row-switch [switchId]="'distanceSensitivity'"
												[title]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.title' | translate"
												[caption]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.caption' | translate"
												[isSwitchVisible]="true"
												[showChildContent]="intelligentSecurity.isZeroTouchLoginAdjustEnabled"
												[isSwitchChecked]="intelligentSecurity.isZeroTouchLoginAdjustEnabled"
												(toggleOnOff)="onDistanceSensitivityAdjustToggle($event)"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLoginEnabled"
												[toolTipStatus]='true'
												[rightIcon]="['far', 'question-circle']">
											</vtr-ui-row-switch>
											<div class="slider-note">
												<vtr-ui-range-slider [rangeSliderId]="'distanceSensitivity'"
													[manualRefresh]="manualRefresh"
													*ngIf="!intelligentSecurity.isZeroTouchLoginAdjustEnabled"
													[minValueLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.near' | translate"
													[minValue]="1"
													[mediumValueLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.medium' | translate"
													[maxValueLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.far' | translate"
													[maxValue]="3"
													(sliderChange)="setZeroTouchLoginSensitivity($event)"
													[value]="intelligentSecurity.zeroTouchLoginDistance"
													[enableSlider]="!intelligentSecurity.isZeroTouchLoginEnabled"
													vtrMetrics
													[metricsItem]="'distanceSensitivity'"
													metricsEvent="featureClick"
													metricsValue="{{intelligentSecurity.zeroTouchLoginDistance}}">
												</vtr-ui-range-slider>
												<div class="pt-3"
													[class.blur-1]="!intelligentSecurity.isZeroTouchLoginEnabled"
													*ngIf="intelligentSecurity.isWindowsHelloRegistered">
													<div class="feature-note p-4">
														<div class="row">
															<!-- <div class="col-auto pl-0">
																<fa-icon [icon]="['fal', 'exclamation-circle']">
																</fa-icon>
															</div> -->
															<div class="col">
																<p id="smart-assist-intelligent-security-note"
																	role="text">
																	{{'device.smartAssist.intelligentSecurity.note.description1' | translate}}
																	<a id="goto_hello_link"
																		role="link"
																		(click)="launchFaceEnrollment()"
																		(keydown.enter)="launchFaceEnrollment()"
																		tabindex="0"
																		href="javascript:void()">{{'device.smartAssist.intelligentSecurity.WindowsLink.goToWindowsHello' | translate}}
																	</a>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- hide advanced section -->
										<div class="pl-5 border-bottom pb-4" 
											*ngIf="zeroTouchLoginShowAdvancedSection">
											<span class="link-text mt-2 ml-4"
												role="text"
												id="smartAssist.intelligentSecurity.zeroTouchLogin.hideAdvSettings"
												attr.aria-label="smartAssist.intelligentSecurity.zeroTouchLogin.hideAdvSettings"
												(click)="zeroTouchLoginShowAdvancedSection = false"
												(keydown.enter)="zeroTouchLoginShowAdvancedSection = false">
												{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.hideAdvSettings' | translate}}
											</span>
										</div>
									</li>
								</ul>
								<!-- thinkPad section -- zeroTouchLogin -->
								<ul class="list-group list-group-flush"
									*ngIf="isThinkPad">
									<li class="common-li-padding">
										<vtr-ui-row-switch [switchId]="'humanPresenceDetection'"
											[title]="'device.smartAssist.intelligentSecurity.humanPresenceDetection.title' | translate"
											[componentName]="'HumanPresenceDetection'"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-face-recognition']"
											[showChildContent]="true"
											[isSwitchChecked]="intelligentSecurity.isHPDEnabled"
											(toggleOnOff)="onHumanPresenceDetectStatusToggle($event)"
											[theme]="'white'">
										</vtr-ui-row-switch>
									</li>
									<li class="no-border-bottom common-li-padding">
										<vtr-ui-row-switch [switchId]="'thinkpadZeroTouchLogin'"
											[title]="'device.smartAssist.intelligentSecurity.zeroTouchLogin.title' | translate"
											[caption]=" 'device.smartAssist.intelligentSecurity.zeroTouchLogin.caption' | translate"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-zero-touch-login']"
											[showChildContent]="true"
											[isSwitchChecked]="intelligentSecurity.isZeroTouchLoginEnabled"
											(toggleOnOff)="onZeroTouchLoginStatusToggle($event)"
											[theme]="'white'"
											[disabled]="!intelligentSecurity.isHPDEnabled">
										</vtr-ui-row-switch>
										<div class="pl-5 bold-title no-border-bottom pb-4 border-bottom">
											<vtr-ui-row-switch [switchId]="'thinkpadDistanceSensitivity'"
												[title]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.title' | translate"
												[isSwitchVisible]="false"
												[showChildContent]="true"
												[isSwitchChecked]="intelligentSecurity.isZeroTouchLoginAdjustEnabled"
												(toggleOnOff)="onDistanceSensitivityAdjustToggle($event)"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLoginEnabled || !intelligentSecurity.isHPDEnabled">
											</vtr-ui-row-switch>
											<!-- Add appropriate [enableSlider]="!intelligentSecurity.isZeroTouchLoginAdjustEnabled" -->
											<div class="slider-note"
												[class.disabled]="!intelligentSecurity.isZeroTouchLoginEnabled || !intelligentSecurity.isHPDEnabled">
												<vtr-ui-range-slider [rangeSliderId]="'thinkpadDistanceSensitivity'"
													[manualRefresh]="manualRefresh"
													[minValueLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.near' | translate"
													[minValue]="1"
													[maxValueLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.far' | translate"
													[maxValue]="3"
													(sliderChange)="setZeroTouchLoginSensitivity($event)"
													[value]="intelligentSecurity.zeroTouchLoginDistance"
													[enableSlider]="!intelligentSecurity.isHPDEnabled || !intelligentSecurity.isZeroTouchLoginEnabled"
													vtrMetrics
													[metricsItem]="'thinkpadDistanceSensitivity'"
													metricsEvent="featureClick"
													metricsValue="{{intelligentSecurity.zeroTouchLoginDistance}}">
												</vtr-ui-range-slider>
												<div class="pt-3"
													[class.blur-1]="!intelligentSecurity.isZeroTouchLoginEnabled || !intelligentSecurity.isHPDEnabled"
													*ngIf="intelligentSecurity.isWindowsHelloRegistered">
													<div class="feature-note p-4">
														<div class="row blur">
															<!-- <div class="col-auto pl-0">
													<fa-icon [icon]="['fal', 'exclamation-circle']">
													</fa-icon>
												</div> -->
															<div class="col">
																<p id="smart-assist-intelligent-security-note"
																	role="text">
																	{{'device.smartAssist.intelligentSecurity.note.description1' | translate}}
																	<a (click)="launchFaceEnrollment()"
																		id="thinkpad_goto_hello_link"
																		tabindex="0"
																		(keydown.enter)="launchFaceEnrollment()"
																		role="link"
																		href="javascript:void()">{{'device.smartAssist.intelligentSecurity.WindowsLink.goToWindowsHello' | translate}}
																	</a>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
								<!-- zeroTouchLock -->
								<ul class="list-group list-group-flush no-border-bottom"
									[class.disabled-overlay]="!intelligentSecurity.isHPDEnabled"
									*ngIf="intelligentSecurity.isZeroTouchLockVisible">
									<li class="auto-screen-block common-li-padding">
										<vtr-ui-row-switch [switchId]="'zeroTouchLock'"
											[title]="'device.smartAssist.intelligentSecurity.zeroTouchLock.title' | translate"
											[caption]=" 'device.smartAssist.intelligentSecurity.zeroTouchLock.caption' | translate"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-zero-touch-lock']"
											[readMoreText]="''"
											[showChildContent]="true"
											[isSwitchChecked]="intelligentSecurity.isZeroTouchLockEnabled"
											(toggleOnOff)="onZeroTouchLockStatusToggle($event)"
											[theme]="'white'"
											[disabled]="!intelligentSecurity.isHPDEnabled">											
										</vtr-ui-row-switch>
										<!-- show advanced section -->
										<div class="pl-5 border-bottom pb-4" 
											*ngIf="!zeroTouchLockShowAdvancedSection">
											<span class="link-text mt-2 ml-4"
												role="text"
												id="smartAssist.intelligentSecurity.zeroTouchLock.showAdvSettings"
												attr-aria-label="smartAssist.intelligentSecurity.zeroTouchLock.showAdvSettings"
												(click)="zeroTouchLockShowAdvancedSection = true"
												(keydown.enter)="zeroTouchLockShowAdvancedSection = true">
												{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.showAdvSettings' | translate}}
											</span>
										</div>
										<!-- facial recognition -->
										<div class="row fac-control">
											<div class="col mt-8 ml-4 facial-recognition"
												role="text"
												*ngIf="intelligentSecurity.isZeroTouchLockFacialRecoVisible && zeroTouchLockShowAdvancedSection">
												<h3 id="smart-assist-zero-touch-lock-faical-recognition-title mt-2">
													{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.title' | translate}}
												</h3>
												<p id="smart-assist-zero-touch-lock-faical-recognition-desc"
													role="text"
													attr-aria-label="smart-assist-zero-touch-lock-faical-recognition-desc">
													{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.caption' | translate}}
												</p>
												<div class="smart-assist-checkbox">
													<vtr-ui-checkbox [componentId]="'cb-zero-touch-lock'"
														[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || !intelligentSecurity.facilRecognitionCameraAccess
															|| intelligentSecurity.facialRecognitionCameraPrivacyMode"
														[value]="intelligentSecurity.isZeroTouchLockFacialRecoEnabled"
														[checked]="intelligentSecurity.isZeroTouchLockFacialRecoEnabled"
														[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.checkBox' | translate"
														(toggle)='onZeroTouchLockFacialRecoChange($event)'>
													</vtr-ui-checkbox>
												</div>
												<div *ngIf="!intelligentSecurity.facilRecognitionCameraAccess || intelligentSecurity.facialRecognitionCameraPrivacyMode"
													class="permission-note p-4">
													<div class="row">
														<div *ngIf="!intelligentSecurity.facilRecognitionCameraAccess"
															class="col pr-3"
															role="text">
															<span class="mb-0 mt-auto"
																id="ztl-facial-recognition-permission-note"
																role="text">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.note.permission' | translate}}
															</span>
															<button type="button"
																class="btn btn-link privacy-button pl-0"
																(click)="onClick('ms-settings:privacy-webcam')"
																(keydown.enter)="onClick('ms-settings:privacy-webcam')"
																id="ztl-facial-recognition-access-url"
																role="button"
																tabindex="0"
																[attr.aria-disabled]="!intelligentSecurity.isZeroTouchLockEnabled"
																[disabled]="!intelligentSecurity.isZeroTouchLockEnabled">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.note.windowsLink' | translate}}
															</button>
														</div>
														<div class="col pl-3"
															role="text"
															tabindex="0"
															*ngIf="intelligentSecurity.facilRecognitionCameraAccess && intelligentSecurity.facialRecognitionCameraPrivacyMode">
															<span class="mb-0 mt-auto"
																id="ztl-facial-recognition-privacy-note"
																role="text">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.note.privacyMode' | translate}}
															</span>
															<button type="button"
																class="btn btn-link privacy-button pl-0"
																(click)="onJumpClick()"
																(keydown.enter)="onJumpClick()"
																id="ztl-facial-recognition-privacy-url"
																role="button"
																tabindex="0"
																[attr.aria-disabled]="!intelligentSecurity.isZeroTouchLockEnabled"
																[disabled]="!intelligentSecurity.isZeroTouchLockEnabled">
																{{'device.smartAssist.intelligentSecurity.zeroTouchLock.facialRecognition.note.privacyLink' | translate}}
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- distance sensitivity adjusting -- thinkpad section -->
										<div *ngIf="sensitivityVisibility"
											class="pl-5 bold-title no-border-bottom pb-4">
											<vtr-ui-row-switch [switchId]="'thinkpadSensitivity'"
												[title]="'device.smartAssist.intelligentSecurity.sensitivityAdjusting.title' | translate"
												[isSwitchVisible]="false"
												[showChildContent]="true"
												[isSwitchChecked]="false"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || !intelligentSecurity.isHPDEnabled">
											</vtr-ui-row-switch>
											<div class="slider-note"
												[class.disabled]="!intelligentSecurity.isZeroTouchLockEnabled">
												<vtr-ui-range-slider [rangeSliderId]="'thinkpadSensitivity'"
													[manualRefresh]="manualRefresh"
													[minValueLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.near' | translate"
													[minValue]="1"
													(sliderChange)="setHPDLeaveSensitivitySetting($event)"
													[mediumValueLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.medium' | translate"
													[maxValueLegend]="'device.smartAssist.intelligentSecurity.distanceSensitivityAdjusting.options.far' | translate"
													[maxValue]="3"
													[value]="sesnsitivityAdjustVal"
													[enableSlider]="!intelligentSecurity.isZeroTouchLockEnabled || !intelligentSecurity.isHPDEnabled"
													vtrMetrics
													[metricsItem]="'thinkpadSensitivity'"
													metricsEvent="featureClick"
													metricsValue="{{sesnsitivityAdjustVal}}">
												</vtr-ui-range-slider>
												<div class="pt-3"
													[class.blur-1]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
													<div class="feature-note p-4">
														<div class="row blur">
															<div class="col">
																<p id="smart-assist-intelligent-security-note"
																	role="text">
																	{{'device.smartAssist.intelligentSecurity.note.description7' | translate}}
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- auto screen lock timer -->
										<div class="bold-title no-border-bottom pl-5 pb-4 auto-screen-lock-help-icon"
											*ngIf="intelligentSecurity.isZeroTouchLockVisible && zeroTouchLockShowAdvancedSection"
											[class.col-pad-margin]="isThinkPad">
											<vtr-ui-row-switch [switchId]="'autoScreenLockTimer'"
												[title]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.title' | translate"
												[isSwitchVisible]="false"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)"
												[rightIcon]="['far', 'question-circle']"
												[tooltipText]="tooltipText| translate">
											</vtr-ui-row-switch>

											<div class="slider-note"
												[class.blur-1]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
												<vtr-ui-rounded-rectangle-radio [radioId]="'autoScreenLockTimer_fast'"
													[group]="'autoScreenLockTimer'"
													name="autoScreenLockTimerFast"
													[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.fast' | translate"
													[value]="'1'"
													[checked]="intelligentSecurity.autoScreenLockTimer === '1'"
													(change)="onZeroTouchLockTimerChange($event, '1')"
													[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
												</vtr-ui-rounded-rectangle-radio>
												<vtr-ui-rounded-rectangle-radio [radioId]="'autoScreenLockTimer_medium'"
													[group]="'autoScreenLockTimer'"
													name="autoScreenLockTimerMedium"
													[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.medium' | translate"
													[value]="'2'"
													[checked]="intelligentSecurity.autoScreenLockTimer === '2'"
													(change)="onZeroTouchLockTimerChange($event, '2')"
													[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
												</vtr-ui-rounded-rectangle-radio>
												<vtr-ui-rounded-rectangle-radio [radioId]="'autoScreenLockTimer_slow'"
													[group]="'autoScreenLockTimer'"
													name="autoScreenLockTimerSlow"
													[label]="'device.smartAssist.intelligentSecurity.zeroTouchLock.autoScreenLockTimer.radioButton.slow' | translate"
													[value]="'3'"
													[checked]="intelligentSecurity.autoScreenLockTimer === '3'"
													(change)="onZeroTouchLockTimerChange($event, '3')"
													[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || (isThinkPad && !intelligentSecurity.isHPDEnabled)">
												</vtr-ui-rounded-rectangle-radio>

												<div class="pt-3">
													<div class="feature-note p-4">
														<div class="row blur">
															<div class="col">
																<p id="smart-assist-zeroTouchLock-note"
																	role="text">
																	{{'device.smartAssist.intelligentSecurity.note.description2' | translate}}
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- distance sensitivity adjusting -- ideapad section -->
										<div class="pl-5 bold-title no-border-bottom pb-4"
											*ngIf="intelligentSecurity.isDistanceSensitivityVisible && zeroTouchLockShowAdvancedSection">
											<vtr-ui-row-switch [switchId]="'zeroTouchLockDistanceSensitivity'"
												*ngIf="zeroTouchPresenceLeaveDistanceAutoAdjustCapability"
												[title]="'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.title' | translate"
												[caption]="'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.caption' | translate"
												[isSwitchVisible]="true"
												[showChildContent]="true"
												[isSwitchChecked]="hsaIntelligentSecurity.zeroTouchLockDistanceAutoAdjust"
												(toggleOnOff)="onZeroTouchLockDistanceSensitivityAdjustToggle($event)"
												[theme]="'white'"
												[disabled]="!intelligentSecurity.isZeroTouchLockEnabled || !hsaIntelligentSecurity.capacity"
												[toolTipStatus]='true'
												[rightIcon]="['far', 'question-circle']">
											</vtr-ui-row-switch>
											<div class="slider-note">
												<vtr-ui-range-slider [rangeSliderId]="'zeroTouchLockDistanceSensitivity'"
													[manualRefresh]="manualRefresh"
													*ngIf="zeroTouchPresenceLeaveDistanceCapability && !hsaIntelligentSecurity.zeroTouchLockDistanceAutoAdjust"
													[minValueLegend]="'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.options.near' | translate"
													[minValue]="0"
													[mediumValueLegend]="'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.options.medium' | translate"												
													[maxValueLegend]="'device.smartAssist.intelligentSecurity.zeroTouchLock.distanceSensitivityAdjusting.options.far' | translate"
													[maxValue]="2"
													(sliderChange)="SetZeroTouchLockDistanceSensitivity($event)"
													[value]="hsaIntelligentSecurity.zeroTouchLockDistance"
													[enableSlider]="!intelligentSecurity.isZeroTouchLockEnabled || !hsaIntelligentSecurity.capacity"
													vtrMetrics
													[metricsItem]="'zeroTouchLockDistanceSensitivity'"
													metricsEvent="featureClick"
													metricsValue="{{hsaIntelligentSecurity.zeroTouchLockDistance}}">
												</vtr-ui-range-slider>
											</div>
										</div>
										<!-- hide advanced section -->
										<div class="pl-5 border-bottom pb-4" 
											*ngIf="zeroTouchLockShowAdvancedSection">
											<span class="link-text mt-2 ml-4"
												role="text"
												id="smartAssist.intelligentSecurity.zeroTouchLock.hideAdvSettings"
												attr.aria-label="smartAssist.intelligentSecurity.zeroTouchLock.hideAdvSettings"
												(click)="zeroTouchLockShowAdvancedSection = false"
												(keydown.enter)="zeroTouchLockShowAdvancedSection = false">
												{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.hideAdvSettings' | translate}}
											</span>
										</div>
									</li>
								</ul>
								<!-- note -->
								<div class="row">
									<div class="feature-note p-4 my-4 mx-3"
										role="text">
										<p id="smart-assist-intelligent-security-note-desc1"
											role="text">
											{{'device.smartAssist.intelligentSecurity.note.description3' | translate}}
										</p>
										<p id="smart-assist-intelligent-security-note-desc2"
											role="text">
											{{'device.smartAssist.intelligentSecurity.note.description4' | translate}}
										</p>
										<p id="smart-assist-intelligent-security-note-desc3"
											role="text">
											{{'device.smartAssist.intelligentSecurity.note.description5' | translate}}
										</p>
										<p role="text"
											*ngIf="isThinkPad && intelligentSecurity.isZeroTouchLoginVisible && intelligentSecurity.isZeroTouchLockVisible && (hpdSensorType == 2)"
											id="smart-assist-intelligent-security-note-desc4">
											{{'device.smartAssist.intelligentSecurity.note.description6' | translate}}
										</p>
									</div>
								</div>
								<!-- reset -->
								<div class="row ml-3">
									<vtr-ui-button [linkId]="'intelligentSecurity_reset_btn'"
										(onClick)="onResetDefaultSettings($event)"
										(keydown.enter)="onResetDefaultSettings($event)"
										[upperCaseLabel]="true"
										[label]="'device.smartAssist.intelligentSecurity.resetToDefault' | translate"
										metricsParent="Pages.SmartAssist.security"
										metricsItem="btn.Reset To Default Settings"></vtr-ui-button>
								</div>
							</vtr-container-collapsible>
						</div>
					</div>
					<!-- End of Intelligent Security -->

					<!-- Start of Intelligent Screen -->
					<div class="row pt-5 smart-assist-card"
						id="screen"
						*ngIf="intelligentScreen.isIntelligentScreenVisible">
						<div class="col-12 px-0">
							<vtr-container-collapsible [collapseLinkId]="'intelligentScreen'"
								[tabIndex]="0"
								[cardTitle]="'device.smartAssist.intelligentScreen.title' | translate"
								componentName="intelligent screen"
								[isCollapsed]="false"
								[allowCollapse]="true"
								[theme]="'white'"
								(toggle)="onCardCollapse($event)">

								<div class="intligent-screen">
									<div class="col-12 px-0">
										<div class="int-screen-desc"
											role="text">
											<p id="smart-assist-intelligent-screen-desc"
												role="text">
												{{'device.smartAssist.intelligentScreen.description' | translate}}
											</p>
										</div>
									</div>
								</div>

								<ul class="list-group list-group-flush">
									<li class="auto-screen-off-block"
										*ngIf="intelligentScreen.isAutoScreenOffVisible">
										<vtr-ui-row-switch [switchId]="'autoScreenOff'"
											[title]="'device.smartAssist.intelligentScreen.autoScreenOff.title' | translate"
											[caption]=" 'device.smartAssist.intelligentScreen.autoScreenOff.caption' | translate"
											[isSwitchVisible]="true"
											[leftIcon]="['icomoon', 'icomoon-auto-screen-off']"
											[theme]="'white'"
											(toggleOnOff)="onAutoScreenOffToggle($event)"
											[isDisabled]="intelligentScreen.isAutoScreenOffNoteVisible"
											[isSwitchChecked]="intelligentScreen.isAutoScreenOffEnabled">
										</vtr-ui-row-switch>
										<div class="row"
											*ngIf="intelligentScreen.isAutoScreenOffNoteVisible">
											<div class="feature-note auto-screen-off-note p-4"
												role="text">
												<p id="smart-assist-auto-screen-off-note"
													role="text">
													{{'device.smartAssist.intelligentScreen.autoScreenOff.note' | translate}}
												</p>
												<!-- <a href="javascript:void();"
										(click)="launchPowerAndSleep();"><span>{{'device.smartAssist.intelligentScreen.autoScreenOff.windowsLink' | translate}}</span></a> -->
											</div>
										</div>
									</li>
									<li class="pt-3 keep-my-display-block">
										<vtr-ui-row-switch [switchId]="'keepMyDisplay'"
											[title]="'device.smartAssist.intelligentScreen.keepMyDisplay.title' | translate"
											[caption]="'device.smartAssist.intelligentScreen.keepMyDisplay.caption' | translate"
											[leftIcon]="['icomoon', 'icomoon-keep-my-display']"
											[theme]="'white'"
											[isSwitchVisible]="true"
											[showChildContent]="true"
											(toggleOnOff)="onKeepMyDisplayToggle($event)"
											[isSwitchChecked]="intelligentScreen.isReadingOrBrowsingEnabled">
											<div class="pl-4 ml-4 pt-4">
												<div class="display-dim-title"
													id="smart-assist-display-slider-title"
													role="text">
													{{'device.smartAssist.intelligentScreen.keepMyDisplay.displaySlider.title' | translate}}
												</div>
												<vtr-ui-range-slider [rangeSliderId]="'keepMyDisplay'"
													[manualRefresh]="manualRefresh"
													[minValueLegend]="'device.smartAssist.intelligentScreen.keepMyDisplay.displaySlider.startTime' | translate"
													[minValue]="0"
													[maxValueLegend]="'device.smartAssist.intelligentScreen.keepMyDisplay.displaySlider.endTime' | translate"
													[maxValue]="60"
													[value]="intelligentScreen.readingOrBrowsingTime"
													[enableSlider]="!intelligentScreen.isReadingOrBrowsingEnabled"
													(valueChangeEnd)="onDisplayDimTimeChange($event)">
												</vtr-ui-range-slider>
											</div>
										</vtr-ui-row-switch>
									</li>
								</ul>
							</vtr-container-collapsible>
						</div>
					</div>

					<!-- End of Intelligent Screen -->


					<!-- Start of Intelligent Media -->
					<div class="smart-assist-card">
						<vtr-intelligent-media id="media"
							*ngIf="intelligentMedia.available || superResolution.available"
							[isLoading]="isIntelligentMediaLoading"
							[isChecked]="intelligentMedia.status"
							[isSRLoading]="isSuperResolutionLoading"
							[isSRChecked]="superResolution.status"
							[intelligentMediaAvailable]="intelligentMedia.available"
							[superResolutionAvailable]="superResolution.available">
						</vtr-intelligent-media>
					</div>

					<!-- End of Intelligent Media -->

					<!-- Start of Active Protection System -->
					<div class="row pt-5 smart-assist-card"
						id="aps"
						*ngIf='isAPSAvailable'>
						<div class="col-12 px-0">
							<vtr-container-collapsible [collapseLinkId]="'activeProtection'"
								[tabIndex]="0"
								[cardTitle]="'device.smartAssist.activeProtectionSystem.title' | translate"
								componentName=""
								[isCollapsed]="false"
								[allowCollapse]="true"
								[theme]="'white'"
								(toggle)="onCardCollapse($event)">
								<vtr-active-protection-system></vtr-active-protection-system>
							</vtr-container-collapsible>
						</div>
					</div>
					<!-- End of Active Protection System -->

					<!-- Start of voice -->
					<div class="row pt-5 smart-assist-card"
						id="voice"
						*ngIf="lenovoVoice.available">
						<div class="col-12 px-0">
							<vtr-container-collapsible [collapseLinkId]="'intelligentVoice'"
								[tabIndex]="0"
								[cardTitle]="'device.smartAssist.voice.title' | translate"
								[isCollapsed]="false"
								[allowCollapse]="true"
								[theme]="'white'"
								(toggle)="onCardCollapse($event)"
								[metricsParent]="'Device.SmartAssist'">
								<vtr-voice></vtr-voice>
							</vtr-container-collapsible>
						</div>
					</div>
					<!-- End of voice -->
				</div>
			</div>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 pb-5">
					<vtr-container-card [containerCardId]="'smart-assist-container-card'"
						[item]="cardContentPositionA"
						[type]="'subpage-corner'"
						[ratio]="2"
						order="1"
						sideFlag='r'
						[cornerShift]="'large'">
					</vtr-container-card>
				</div>
			</div>
			<div class="row">
				<div class="col col-12 mb-3 help-heading"
					role="text">
					{{ 'device.deviceSettings.helpful' | translate }}
				</div>
			</div>
			<div class="row">
				<div class="col col-12 cont pb-5">
					<vtr-widget-questions [title]="'common.qAndA.title' | translate"
						[description]="'common.qAndA.subtitle' | translate"
						[items]="qaService.qas"
						blockPosition="r2"
						[linkId]="'smart-assist'">
					</vtr-widget-questions>
				</div>
			</div>
		</div>
	</right-content>

</vtr-page-layout>
