<div class="row pt-5 smart-settings-card"
	id="smartStandby"
	*ngIf="smartStandby?.isCapable">
	<div class="col-12 px-0 container-border">
		<vtr-container-collapsible [cardTitle]="'device.deviceSettings.power.smartStandby.sectionTitle' | translate"
			[isCollapsed]="false"
			[collapseLinkId]="'smartrStandby'"
			[tabIndex]="0">
			<ul class="list-group list-group-flush">
				<li>
					<vtr-ui-row-switch [title]="'device.deviceSettings.power.smartStandby.title' | translate"
						[name]="'device.deviceSettings.power.smartStandby.title' | translate"
						[caption]="caption"
						[isSwitchVisible]=true
						[isLastChild]=true
						[showChildContent]="true"
						[leftIcon]="['icomoon', 'icomoon-DS-ic-list_Smart-standby']"
						[rightIcon]="['far', 'question-circle']"
						[tooltipText]="tooltipText"
						[isSwitchChecked]="smartStandby.isEnabled"
						(toggleOnOff)="onSmartStandbyToggle($event)"
						[switchId]="'smartStandby'">
						<div class="pl-4 mt-3 ml-2">
							<div>
								<div *ngIf="isAutonomicCapability"
									class="schedule_header"
									role="text"
									tabindex="0">
									<h5 role="text"
										id="smart-standby-schedule-computer"
										attr.aria-label="smart-standby-schedule-computer">
										{{ 'device.deviceSettings.power.smartStandby.subTitle' | translate }}</h5>
									<vtr-ui-rounded-rectangle-radio [radioId]="'automatic_show'"
										[group]="'smartStandByBtns'"
										name="nMehod_show"
										[label]="'device.deviceSettings.power.smartStandby.automaticMode' | translate"
										[value]="'Automatic mode'"
										[checked]="checkbox"
										(change)="onCheckboxClicked(true);isCollapsed = true"
										(customKeyEvent)="onCheckboxClicked(false);isCollapsed = true"
										[disabled]="!smartStandby.isEnabled">
									</vtr-ui-rounded-rectangle-radio>
									<vtr-ui-rounded-rectangle-radio [radioId]="'manual_show'"
										[group]="'smartStandByBtns'"
										name="fnKeyMehod_show"
										[label]="'device.deviceSettings.power.smartStandby.manualMode' | translate"
										[value]="'Manual mode'"
										[checked]="!checkbox"
										(change)="onCheckboxClicked(false)"
										(customKeyEvent)="onCheckboxClicked(true)"
										[disabled]="!smartStandby.isEnabled">
									</vtr-ui-rounded-rectangle-radio>
								</div>
							</div>
							<div role="text"
								tabindex="0"
								*ngIf="!isAutonomicCapability && smartStandby?.isEnabled"
								class="schedule_header">
								<h5 role="text">{{ 'device.deviceSettings.power.smartStandby.subTitle2' | translate }}
								</h5>
							</div>
							<div class="schedule"
								role="text"
								tabindex="0"
								*ngIf="isAutonomicCapability && checkbox && smartStandby?.isEnabled">
								<h5 role="text">
									{{ 'device.deviceSettings.power.smartStandby.subNote' | translate }}
								</h5>
							</div>
							<div *ngIf="!checkbox && smartStandby?.isEnabled && isAutonomicCapability"
								role="text"
								tabindex="0"
								class="schedule">
								<h5 role="text"
									id="smartstandby-timer-heading"
									attr.aria-label="smartstandby-timer-heading">
									{{ 'device.deviceSettings.power.smartStandby.timer.heading' | translate }}
								</h5>
								<span role="text"
									id="smartstandby-schedule"
									attr.aria-label="smartstandby-schedule">
									{{smartStandbyService.schedule}}
								</span>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span role="text"
									id="smartstandby-time"
									attr.aria-label="smartstandby-time">
									{{'common.ui.from' | translate}} {{smartStandbyStartTime }}
									{{'common.ui.to' | translate}} {{smartStandbyEndTime}}
								</span>
							</div>
							<div *ngIf="!checkbox && smartStandby?.isEnabled"
								class="click-to-change-collapse">
								<!-- header -->
								<div *ngIf="isAutonomicCapability"
									class="collapse-header"
									(click)="onToggle(timeToggle)"
									(keydown.enter)="onToggle(timeToggle)"
									[attr.aria-expanded]="!isCollapsed"
									#timeToggle
									tabindex="0"
									role="button"
									aria-label="smart standby, time picker-toggle button">
									<div>
										<div *ngIf="isCollapsed"
											class="collapse-text"
											role="text"
											id="smartstandby-click-to-change"
											attr.aria-label="smartstandby-click-to-change">
											<!-- Expand -->
											{{'common.ui.clickToChange' | translate | uppercase }}
										</div>
										<div *ngIf="!isCollapsed"
											class="collapse-text"
											role="text"
											id="smartstandby-click-to-change-collapse"
											attr.aria-label="smartstandby-click-to-change-collapse">
											<!-- Collapse -->
											{{'common.ui.collapse' | translate | uppercase }}
										</div>
									</div>
									<div class="collapse-header-icon">
										<fa-icon *ngIf="isCollapsed"
											[icon]="['fal', 'chevron-down']"></fa-icon>
										<fa-icon *ngIf="!isCollapsed"
											[icon]="['fal', 'chevron-up']"></fa-icon>
									</div>
								</div>
								<!-- header end -->

								<!-- content start -->
								<div [ngbCollapse]="isCollapsed">
									<section *ngIf="smartStandby?.isEnabled">
										<div class="smart-standby-timer">
											<vtr-ui-time-picker [time]="smartStandbyStartTime"
												[subHeadingText]="'device.deviceSettings.power.smartStandby.timer.subHeading1'"
												[id]="'dropcheck1'"
												[showDropDown]="showDropDown[0]"
												(setTime)="onSetActiveStartEnd($event, true)"
												[label]="'smart standby , start time dropdown'"
												[linkId]="'start'">
											</vtr-ui-time-picker>
											<vtr-ui-time-picker [time]="smartStandbyEndTime"
												[subHeadingText]="'device.deviceSettings.power.smartStandby.timer.subHeading2'"
												[id]="'dropcheck2'"
												[showDropDown]="showDropDown[1]"
												(setTime)="onSetActiveStartEnd($event, false)"
												[label]="'smart standby , end time dropdown'"
												[linkId]="'end'">
											</vtr-ui-time-picker>
											<div *ngIf="showDiffNote"
												class="row">
												<div class="col-md-12 pl-0">
													<div class="note align-items-center"
														id="smartStandby-timer-endTimeNote"
														role="text">
														{{ 'device.deviceSettings.power.smartStandby.timer.endTimeNote' | translate }}
													</div>
												</div>
											</div>
											<vtr-ui-days-picker
												[subHeadingText]="'device.deviceSettings.power.smartStandby.timer.subHeading3'"
												[daysId]="'dropcheck3'"
												[showDropDown]="showDropDown[2]"
												(setDays)="onSetDaysOfWeekOff($event)"></vtr-ui-days-picker>
										</div>
									</section>
								</div>
								<!-- content end -->
							</div>
							<div *ngIf="isAutonomicCapability"
								vtrMetrics
								metricsItem="Open Smart Standby Modal"
								metricsEvent="featureClick"
								metricsParent="Device.deviceSettings"
								id="modal_smartStandby_graphLink"
								metricsValue=true
								[ngClass]="{'disabled': !smartStandby.isEnabled}"
								class="hyperlink-to-graph"
								(click)="showUsageGraph()"
								(keydown.enter)="showUsageGraph()"
								tabindex="0"
								role="link"
								attr.aria-label="{{'device.deviceSettings.power.smartStandby.hyperlinkToGraph' | translate}}">
								{{'device.deviceSettings.power.smartStandby.hyperlinkToGraph' | translate}}
							</div>
						</div>
					</vtr-ui-row-switch>
				</li>
			</ul>
		</vtr-container-collapsible>
	</div>
</div>
