@import "../../../../../../app.theme.scss";
ul.list-group {
	list-style-type: none;
	padding-bottom: 1rem;
}
.schedule_header {
	padding: 0 1rem;
	h5 {
		font-size: $caption;
		color: $shade_blue;
		font-weight: $weight_bold;
		letter-spacing: 0.89px;
		line-height: 23px;
		text-transform: uppercase;
		margin-bottom: 2.5rem;
	}
}
.schedule {
	margin-top: 2rem;
	margin-left: 1rem;
	span {
		font-size: $body;
		font-weight: $weight_light;
		color: $main_darker;
	}
	h5 {
		font-size: $caption;
		color: $shade_blue;
		// font-weight: $weight_bold;
		letter-spacing: 0.89px;
		line-height: 23px;
	}
}

.click-to-change-collapse {
	margin-left: 1rem;
	font-size: $body;
	font-weight: $weight_600;
	.collapse-header {
		display: inline-flex;
		color: $blueHyperLink;
		margin-top: 1rem;
		margin-bottom: 1rem;
		width: auto;
	}
	.collapse-header-icon {
		flex-wrap: nowrap;
		margin-left: 1rem;
		cursor: pointer;
	}

	.collapse-text {
		cursor: pointer;
		text-decoration: underline;
	}

	.smart-standby-timer {
		.note {
			border: 1px solid #ecf0f1;
			border-radius: 0.5rem;
			background-color: #f5f7f8;
			padding: 2rem;
			margin-top: 1.5rem;
			line-height: 23px;
			font-size: 1.4rem;
			color: $shade_blue;
		}
	}
}

.hyperlink-to-graph {
	margin-left: 1rem;
	font-size: $body;
	font-weight: $weight_light;
	color: $blueHyperLink;
	text-decoration: underline;
	margin-top: 3rem;
	display: inline-block;
	cursor: pointer;
	@media #{$black-on-white} {
		color: $high-contrast-blue;
	}
	@media #{$white-on-black} {
		color: yellow;
	}
}
.disabled {
	margin-left: 1rem;
	font-size: $body;
	font-weight: $weight_light;
	color: black;
	text-decoration: none;
	margin-top: 3rem;
	cursor: default;
}
.container-border {
	// @media #{$black-on-white} {
	// 	border: 0.1rem solid $dark;
	// 	border-radius: 1rem;
	// }
	// @media #{$white-on-black} {  
	// 	border: 0.1rem solid $light;
	// 	border-radius: 1rem;
	// }
	.collapse-header-icon {
		flex-wrap: nowrap;
		margin-left: 1rem;
		cursor: pointer;
	}

	.collapse-text {
		cursor: pointer;
		text-decoration: underline;
	}

	.smart-standby-timer {
		.note {
			border: 1px solid #ecf0f1;
			border-radius: 0.5rem;
			background-color: #f5f7f8;
			padding: 2rem;
			margin-top: 1.5rem;
			line-height: 23px;
			font-size: 1.4rem;
			color: $shade_blue;
		}
	}
}

.hyperlink-to-graph {
	margin-left: 1rem;
	font-size: $body;
	font-weight: $weight_light;
	color: $blueHyperLink;
	text-decoration: underline;
	margin-top: 3rem;
	display: inline-block;
	cursor: pointer;

}
.disabled {
	margin-left: 1rem;
	font-size: $body;
	font-weight: $weight_light;
	color: black;
	text-decoration: none;
	margin-top: 3rem;
	cursor: default;
}
