<div class="ui-lighting-profile">
  <div class="d-flex justify-content-around">
      <vtr-ui-lighting-profile-toggle></vtr-ui-lighting-profile-toggle>
      <vtr-ui-brightness-slider></vtr-ui-brightness-slider>
  </div>
  

  <div class="lighting-area">
    <div class="d-flex">
      <div class="gaming-device-image">
        <img src="./../../../../assets/images/gaming/lighting/ren@2x.png" class="img-responsive" />
      </div>
      <div class="gaming-light-options">
        <div class="light-option one-light only-blink">
          <h3 class="content-title">Blink Level</h3>
          <ul class="lighting-list-option">
            <li>
              <label class="gaming-radio">Always On
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>
            </li>
            <li>
              <label class="gaming-radio">Fast Blink
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
            </li>
            <li>
              <label class="gaming-radio">Medium Blink
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
            </li>
            <li>
              <label class="gaming-radio">Slow Blink
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>