<div class="ui-lighting-profile">
  <div class="d-flex justify-content-around">
      <vtr-ui-lighting-profile-toggle></vtr-ui-lighting-profile-toggle>
      <vtr-ui-brightness-slider></vtr-ui-brightness-slider>
  </div>
  

  <div class="lighting-area">
    <div class="d-flex">
      <div class="gaming-device-image d-flex align-items-center">
        <img src="./../../../../assets/images/gaming/lighting/T730Front@2x.png" class="img-responsive" />
      </div>
      <div class="gaming-light-options">
        <!-- <div class="light-option one-light only-blink">
          <vtr-ui-lighting-single-color></vtr-ui-lighting-single-color>
        </div> -->
        <div class="light-option rgb-color one-light">
          <h2 class="main-title">Front Light</h2>
          <h3 class="content-title">Effect</h3>
          <vtr-ui-lighting-effect [options]="options"></vtr-ui-lighting-effect>
          <h3 class="content-title">Color</h3>
          <vtr-ui-lighting-color-wheel></vtr-ui-lighting-color-wheel>
        </div>
      </div>
    </div>
  </div>

  <div class="lighting-area">
      <div class="d-flex">
        <div class="gaming-device-image d-flex align-items-center">
          <img src="./../../../../assets/images/gaming/lighting/T730Side@2x.png" class="img-responsive" />
        </div>
        <div class="gaming-light-options">
          <!-- <div class="light-option one-light only-blink">
            <vtr-ui-lighting-single-color></vtr-ui-lighting-single-color>
          </div> -->
          <div class="light-option rgb-color one-light">
            <h2 class="main-title">Side Light</h2>
            <h3 class="content-title">Effect</h3>
            <vtr-ui-lighting-effect [options]="options"></vtr-ui-lighting-effect>
            <h3 class="content-title">Color</h3>
            <vtr-ui-lighting-color-wheel></vtr-ui-lighting-color-wheel>
          </div>
        </div>
      </div>
    </div>
  <div class="footer-part d-flex flex-row-reverse">
      <a href="#" class="link">Set to default</a>
  </div>
  
</div>