<div class="ui-lighting-profile">
	<div class="d-flex justify-content-around">
		<vtr-ui-lighting-profile-toggle (setLightingProfileId)="setLightingProfileId($event)"
			[currentProfile]="currentProfile"></vtr-ui-lighting-profile-toggle>
		<vtr-ui-brightness-slider *ngIf="!isProfileOff && lightingCapabilities.BrightAdjustLevel!==0"
			[lightingData]="profileBrightness"
			(setLightingBrightness)="setLightingBrightness($event)" ></vtr-ui-brightness-slider>
	</div>
	<div class="lighting-area">
		<div class="d-flex">
			<div class="gaming-device-image d-flex align-items-center">
				<img src='{{panelImage1}}'
					class="img-responsive" />
			</div>
			<div class="gaming-light-options">
				<div *ngIf="!isProfileOff && lightingCapabilities.RGBfeature===1"
					class="light-option one-light only-blink">
					<vtr-ui-lighting-single-color></vtr-ui-lighting-single-color>
				</div>
				<div *ngIf="isProfileOff"
					 class="light-option lighting-off d-flex justify-content-center align-items-center">
					<p>Lighting are currently off. Select the profile tab above to turn it on and customize it.</p>>
				</div>
				<div *ngIf="!isProfileOff && lightingCapabilities.RGBfeature!==1"
					class="light-option rgb-color one-light">
					<h2 class="main-title">Front Light</h2>
					<h3 class="content-title">Effect </h3>

					<vtr-ui-lighting-effect [options]="lightingEffectData.drop[0]"
						(change)="optionChanged($event,item)"></vtr-ui-lighting-effect>
					<h3 class="content-title">Color</h3>
					<vtr-ui-lighting-color-wheel></vtr-ui-lighting-color-wheel>
				</div>
			</div>
		</div>
	</div>

	<div class="lighting-area"
		*ngIf="lightingCapabilities.RGBfeature!==1">
		<div class="d-flex">
			<div class="gaming-device-image d-flex align-items-center">
				<img src='{{panelImage2}}'
					class="img-responsive" />
			</div>
			<div class="gaming-light-options">
				<div *ngIf="isProfileOff"
					 class="light-option lighting-off d-flex justify-content-center align-items-center">
					<p>Lighting are currently off. Select the profile tab above to turn it on and customize it.</p>>
				</div>
				<div *ngIf="!isProfileOff"
					class="light-option rgb-color one-light">
					<h2 class="main-title">Side Light</h2>
					<h3 class="content-title">Effect</h3>
					<vtr-ui-lighting-effect [options]="lightingEffectData.drop[1]"
						(change)="optionChanged($event,item)"></vtr-ui-lighting-effect>
					<h3 class="content-title">Color</h3>
					<vtr-ui-lighting-color-wheel></vtr-ui-lighting-color-wheel>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!isProfileOff && lightingCapabilities.RGBfeature!==1"
		class="footer-part d-flex flex-row-reverse">
		<a href="javascript:void(0);"
			class="link"
			(click)="setDefaultProfile($event)">Set to default</a>
	</div>

</div>
