<div class="vtr-home-security-after-signup">
	<div class="content-container p-40">
		<div class="d-flex justify-content-end mb-4">
			<img class="coronet-logo"
				[src]=" '../../../../assets/images/coronet-logo.svg' | svgInline | async" />
		</div>
		<div>
			<vtr-ui-button
				(click)="switch(role)"
				[label]="'switch account role'">
			</vtr-ui-button>
		</div>
		<div *ngIf="role === 'admin'" class="row content-body mb-4 justify-content-between">
			<div class="col-7 col-md-8 col-xl-9 d-flex flex-column justify-content-center p-4">
				<p class="m-0 pl-0 pb-2"
					*vtrTranslate="'homeSecurity.overview.inTrialDetail' | translate: {remainingDay: account?.expiration | daysInterval: account?.standardTime }">

					<a class="red"></a>
				</p>
				<p class="m-0 pl-0"><span>Lenovo ID: </span><span [innerHTML]="lenovoID"></span></p>
			</div>
			<div class="col-5 col-md-4 col-xl-3 pt-2 tryNow-btn">
				<vtr-ui-button
					metricsItem="buyNow"
					metricsEvent="featureClick"
					(click)="common.openCornet()"
					[isDisabled]="!common?.connectedHomeSecurity?.account?.consoleUrl"
					[linkId]="'chs-btn-buyNow'"
					[title]="'hardwareScan.buy' | translate"
					[label]="'hardwareScan.buy' | translate">
				</vtr-ui-button>
			</div>
		</div>
		<div class="row content-body mb-4">
			<div class="container-fluid sub-container p-4">
				<div class="row heading mb-4" [innerHTML]="'homeSecurity.overview.overviewTitle' | translate"></div>
				<div class="row container-fluid home-card mb-4">
					<vtr-home-security-all-devices [allDevices]="allDevices" class="container-fluid">
					</vtr-home-security-all-devices>
				</div>
				<div *ngIf="role === 'admin'" class="d-flex justify-content-end">
					<vtr-ui-button
						metricsItem="goToDashboard"
						metricsEvent="featureClick"
						(click)="common.openCornet()"
						[isDisabled]="!common?.connectedHomeSecurity?.account?.consoleUrl"
						[linkId]="'chs-btn-goToDashboard'"
						[title]="'homeSecurity.overview.goDashboard' | translate"
						[label]="'homeSecurity.overview.goDashboard' | translate">
					</vtr-ui-button>
				</div>
			</div>
		</div>
		<div *ngIf="role === 'user'" class="row content-body justify-content-between">
				<div class="col-7 col-md-8 col-xl-9 d-flex flex-column justify-content-center p-4">
					<p class="m-0 pl-0 pb-2" [innerHTML]="'homeSecurity.overview.disconnectDevice' | translate"></p>
				</div>
				<div class="col-5 col-md-4 col-xl-3 pt-2 tryNow-btn">
					<vtr-ui-button
						metricsItem="disconnect"
						metricsEvent="featureClick"
						(click)="common.openCornet()"
						[isDisabled]="!common?.connectedHomeSecurity?.account?.consoleUrl"
						[linkId]="'chs-btn-disconnect'"
						[isRed]="true"
						[title]="'homeSecurity.overview.disconnect' | translate"
						[label]="'homeSecurity.overview.disconnect' | translate">
					</vtr-ui-button>
				</div>
		</div>
	</div>
</div>
