<div class="vtr-home-security-after-signup">
	<div *ngIf="account?.role === 'admin'" class="content-container p-20 mb-5">
		<div class="d-flex justify-content-between mb-4">
			<p class="subscription-title" *ngIf="account?.state === 'trial' || account?.state === 'trialExpired'"
				[innerHTML]="'homeSecurity.overview.trialTitle' | translate">
			</p>
			<p class="subscription-title" *ngIf="account?.state === 'standard' || account?.state === 'standardExpired'"
				[innerHTML]="'homeSecurity.overview.subscriptionTitle' | translate">
			</p>
			<div>
				<img class="coronet-logo"
					[src]=" 'assets/images/coronet-logo.svg' | svgInline | async" />
			</div>
		</div>
		<div class="row detail-container">
			<div class="pl-0 pb-5 col-12 col-sm-12 col-lg-6">
				<p class="m-0 pl-0 pr-5" *ngIf="account?.state === 'trial'"
					[innerHTML]="'homeSecurity.overview.inTrialDetail' | translate">
				</p>
				<p class="m-0 pl-0 pr-5" *ngIf="account?.state === 'trialExpired'"
					[innerHTML]="'homeSecurity.overview.trialExpiredDetail' | translate">
				</p>
				<p class="m-0 pl-0 pr-5" *ngIf="account?.state == 'standard'"
					[innerHTML]="'homeSecurity.overview.inSubscriptionDetail' | translate">
				</p>
				<p class="m-0 pl-0 pr-5" *ngIf="account?.state === 'standardExpired'"
					[innerHTML]="'homeSecurity.overview.subscriptionExpiredDetail' | translate">
				</p>
			</div>
			<div class="col-12 col-sm-12 col-lg-6 pl-0 pb-5">
				<ng-container *ngIf="account?.state === 'trial'">
					<p class="m-0 pl-0 row pb-2">
						<span class="pr-2" [innerHTML]="'homeSecurity.overview.trialPeriod' | translate"></span>
						<span class="font-weight-bold"
							[ngClass]="{'warning_red': !isMoreThen30Day(account?.expirationDay)}"
							[innerHTML]="'homeSecurity.overview.remainingDay' | translate: {remainingDay: account?.expirationDay }"></span>
					</p>
				</ng-container>
				<ng-container *ngIf="account?.state === 'trialExpired'">
					<p class="m-0 pl-0 row pb-2">
						<span class="pr-2" [innerHTML]="'homeSecurity.overview.trialPeriod' | translate"></span>
						<span class="font-weight-bold warning_red"
							[innerHTML]="'homeSecurity.overview.expired' | translate"></span>
					</p>
				</ng-container>
				<ng-container *ngIf="account?.state === 'standard'">
					<p class="m-0 pl-0 row pb-2">
						<span class="pr-2" [innerHTML]="'homeSecurity.overview.subscriptionPeriod' | translate"></span>
						<span class="font-weight-bold"
							[ngClass]="{'warning_red': !isMoreThen30Day(account?.expirationDay)}"
							[innerHTML]="'homeSecurity.overview.remainingDay' | translate: {remainingDay: account?.expirationDay }"></span>
					</p>
				</ng-container>
				<ng-container *ngIf="account?.state === 'standardExpired'">
					<p class="m-0 pl-0 row pb-2">
						<span class="pr-2" [innerHTML]="'homeSecurity.overview.subscriptionPeriod' | translate"></span>
						<span class="font-weight-bold warning_red"
							[innerHTML]="'homeSecurity.overview.expired' | translate"></span>
					</p>
				</ng-container>
				<p class="m-0 pl-0 row">
					<span class="pr-2" [innerHTML]="'homeSecurity.overview.lenovoId' | translate"></span>
					<span [innerHTML]="account?.lenovoId"></span>
				</p>
			</div>
			<div class="common-btn subscription-btn">
				<vtr-ui-button *ngIf="account?.state === 'trial' || account?.state === 'trialExpired'"
					metricsItem="buyNow"
					metricsEvent="featureClick"
					(onClick)="common.upgrade()"
					[isDisabled]="!common"
					linkId="chs-btn-buyNow"
					btnHeight=true
					[label]="'homeSecurity.overview.buyNow' | translate">
				</vtr-ui-button>
				<vtr-ui-button *ngIf="account?.state === 'standardExpired'"
					metricsItem="renew"
					metricsEvent="featureClick"
					(onClick)="common.upgrade()"
					[isDisabled]="!common"
					linkId="chs-btn-renew"
					btnHeight=true
					[label]="'homeSecurity.overview.renewNow' | translate">
				</vtr-ui-button>
				<vtr-ui-button
					metricsItem="extendNow" *ngIf="account?.state === 'standard'"
					metricsEvent="featureClick"
					(onClick)="common.upgrade()"
					[isDisabled]="!common"
					linkId="chs-btn-extendNow"
					btnHeight=true
					[label]="'homeSecurity.overview.extendNow' | translate">
				</vtr-ui-button>
			</div>
		</div>
	</div>
	<div class="content-container p-20">
		<div class="row heading mb-4" [innerHTML]="'homeSecurity.overview.overviewTitle' | translate"></div>
		<div class="row content-body mb-4">
			<div class="container-fluid sub-container p-4">
				<div class="row container-fluid home-card">
					<vtr-home-security-all-devices [allDevices]="allDevices" class="container-fluid">
					</vtr-home-security-all-devices>
				</div>
			</div>
		</div>
		<div *ngIf="account?.role === 'admin'" class="d-flex justify-content-start">
			<vtr-ui-button
				metricsItem="goToDashboard"
				metricsEvent="featureClick"
				(onClick)="common.openCoronet()"
				[isDisabled]="!common?.connectedHomeSecurity"
				linkId="chs-btn-goToDashboard"
				btnHeight=true
				[label]="'homeSecurity.overview.goDashboard' | translate">
			</vtr-ui-button>
		</div>
	</div>
	<div *ngIf="account?.role === 'user' || account?.state === 'trialExpired' || account?.state === 'standardExpired'"
		class="mt-5 pl-20">
		<div class="d-flex flex-column justify-content-center pb-3">
			<p class="m-0" [innerHTML]="'homeSecurity.overview.disconnectDevice' | translate"></p>
		</div>
		<div class="d-flex align-items-center pr-4 common-btn">
			<vtr-ui-button
				metricsItem="disconnect"
				metricsEvent="featureClick"
				(onClick)="disconnect()"
				[isDisabled]="!common?.connectedHomeSecurity"
				linkId="chs-btn-disconnect"
				buttonColor="red"
				btnHeight=true
				[label]="'homeSecurity.overview.disconnect' | translate">
			</vtr-ui-button>
		</div>
	</div>
</div>
