@import "../../../../../app.theme.scss";
.vtr-home-security-after-signup {
	color: $shade_blue;
	font-size: 1.8rem;
	.content-container {
        box-shadow: $drop_shadow;
		border-radius: $border_radius;
		background-color: $light;
        padding: 1.5rem;
		width: 100%;
		.subscription-title {
			font-size: 2.5rem;
			font-weight: $weight_600;
		}
		.coronet-logo {
			width: 10rem;
		}
		.detail-container {
			color: $shade_blue;
			.red {
				color: $button_red_start;
				font-weight: $weight_600;
			}
		}
		.heading {
			font-size: 2.5rem;
			font-weight: $weight_600;
		}
		.content-body {
			background-color: $grey_lighter;
			border-radius: $border_radius;
			border: 0.1rem solid $grey_light;
		}
	}
	::ng-deep {
		.button {
			min-height: 4rem !important;
		}
	}
	.common-btn{
		::ng-deep {
			.button-box {
				@media #{$mediaquery_7} {
					margin-top: 0;
				}
				.button {
					max-width: 18rem;
				}
			}
		}
	}
	.red {
		color: $danger_dark;
	}

}
