@import '../../../app.theme.scss';

.vtr-intelligent-boost {
	padding: 1.25rem 4rem;

	.description-col {
		@media #{$breakpoint_xl} {
			flex: 0 0 83.333333%;
			max-width: 83.33%;
		}
	}

	.toggle-col {
		@media #{$breakpoint_xl} {
			flex: 0 0 16.666667%;
			max-width: 16.66%;
		}
	}

	.apps-container {
		padding-left: 2.3rem;

		.apps-container-title {
			color: $main_dark;
		}

		.apps-container-operation {
			color: $menu_hover;
		}

		.apps-container-list {
			border: 0.1rem solid $grey_light;
			border-radius: 0.5rem;
			background: $grey_lighter;
		}
	}

	::ng-deep {
		.boost-feature-icon {
			font-size: 2rem;
			color: $menu_hover;
		}

		.boost-feature-heading {
			color: $main_dark;
		}

		.boost-feature-content {
			color: $grey_dark;
		}
	}
}
