<div class="vtr-intelligent-boost">
	<div class="container row">
		<div class="row w-100 col-auto mb-2">
			<div class="row col-11">
				<div class="col-auto pl-0 pr-1">
					<ng-content select=".boost-feature-icon"></ng-content>
				</div>

				<div class="col-11">
					<div class="font-size-md mb-2">
						<ng-content select=".boost-feature-heading"></ng-content>
					</div>
					<div class="font-size-xs mb-2">
						<ng-content select=".boost-feature-content"></ng-content>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-end col-1 p-0">
				<ng-content select=".boost-feature-toggle"></ng-content>
			</div>
		</div>
		<div class="apps-container row w-100" *ngIf="featureToggle">
			<div class="apps-container-heading row w-100 mb-2 ml-4 p-0">
				<div class="apps-container-title col-11 p-0 uppercase font-size-sm font-weight-bold">
					{{ 'intelligentBoost.appsContainerTitle' | translate }}
				</div>
				<div class="apps-container-operation d-flex justify-content-end col-1 pl-0 pr-3 uppercase font-size-sm font-weight-bold">
					<button
						mat-customize-button
						class="link-button font-size-md font-weight-semibold"
						[disabled]="isEmpty"
						(click)="clickEdit()"
					>
						{{ isDone ? editLabel : doneLabel }}
					</button>
				</div>
			</div>
			<div class="apps-container-list row w-100 ml-4 pt-4">
				<ng-content select="#appTileContainer"></ng-content>
			</div>
		</div>
	</div>
</div>
