@import '../../../app.theme.scss';
.light-dashline {
	border-top: 1px solid $screen_light_15;
}
.vtr-ui-smart-performance-scanning{
    .offline-info-background {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        height: 100%;
        width: 100%;
        background: linear-gradient($gradient_angle, $main_darkest 0%, $main_darker 100%);
        box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
        padding: 0rem 4rem;
        h1 {
            color: $light;
            font-size: 3.5rem;
            font-weight: $weight_light;
        }
        h3 {
            font-size: 2rem;
            color: $light;
            opacity: 0.5;
            line-height: 2;
        }
        fa-icon {
            color: #7D5FEF;
			font-size: 8rem;
			margin-top:2rem;
        }
        .progress-div {
            .progress-title{
                color: $light !important;
                font-size: 2.6rem;
            }
            .progress-value-text {
                color: $light !important;
                font-size: 2.6rem;
            }
            .progress-complete-text{
                color: $light !important;
                font-size: 1.2rem;
                padding-top: 1rem;
                padding-left: 0.3rem;
                text-transform: lowercase;
            }
        }
        .cancel-check {
            .btn-link {
                color: $light;
                font-size: 1.6rem;
                text-transform: uppercase;
                padding: 0;
                border-bottom: 0.1rem solid $light;
            }
        }
    }


    .pc-info-card{
        &::ng-deep {
            .panel{
                .card {
                    border-radius: 0.6rem;
                    border: 1px solid  $screen_dark_01;
                    background: $screen_dark_01;
                    padding: 1rem;
                    margin: 1.5rem auto;
                    width: 85%;
                    .card-header {
                        background-color: transparent;
                        border-bottom: none;
                        .heading {
                            h3, h2{
                                font-size: 2rem;
                                color: $main_shade !important;
                            }
                            .ng-fa-icon{
                                color: $main_shade;
                            }
                        }
                    }
                    .card-body {
                        padding: 0 1.25rem;
                    }
                    .status-text{
                        flex-grow: 8;
                        p {
                            text-transform: uppercase;
                            font-size: 1.6rem;
                            text-align: right;
                            color: $shade_dark;
                        }
                    }
                }
                &.panel-open{
                    .card-header {
                        .heading {
                            h3, h2{
                                font-size: 2.5rem;
                                color: $dark !important;
                            }
                            .ng-fa-icon{
                                color: $main;
                            }
                        }
                    }
                }
            }
        }
        
        &.card-small{
            margin: 2rem auto 0rem auto;
            .heading {
                .ng-fa-icon{
                    font-size: 4rem;
                    margin-right: 1.5rem;
                    color: $main_shade;
                }
            }
        }
        .heading {
            display: flex;
            align-items: center;
            .ng-fa-icon{
                font-size: 4.6rem;
                margin-right: 1.5rem;
                color: $main_gstart;
            }
            h2 {
                font-size: 2.5rem;
                padding: 0;
                font-weight: $weight_medium;
                color: $main_darkest;
                text-transform: uppercase;
            }
            h3 {
                font-size: 2rem;
                padding: 0;
                font-weight: $weight_medium;
                color: $main_shade;
                text-transform: uppercase;
            }
        }
    }
    .icon-box {
        width: 20%;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background: $screen_dark_15;
            right: 0;
            top: 0;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
        fa-icon {
            font-size: 2.6rem;
            margin-right: 0.8rem;
            color: $main_shade;
        }
        p {
            font-size: 1.4rem;
            max-width: 6rem;
            margin-top: 0.6rem;
            line-height: 1.6rem;
            color: $main_shade;
        }
	}
	.current-scan{
		color: $main;
	}
}
