@import '../../../app.theme.scss';
.light-dashline {
	border-top: 1px solid $screen_light_15;
}
.vtr-ui-smart-performance-scanning{
	background: $light;
	border-radius: 0.8rem;
	box-shadow: 0 0 1.5rem $screen_dark_15;
    .offline-info-background {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        height: 100%;
        width: 100%;
        background: linear-gradient($gradient_angle, $main_darkest 0%, $main_darker 100%);
        box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
        padding: 0rem 4rem;
        h1 {
            color: $light;
            font-size: 3.5rem;
            font-weight: $weight_light;
        }
        h3 {
            font-size: 2rem;
            color: $light;
            opacity: 0.5;
            line-height: 2;
        }
        .icon {
            color: #7D5FEF;
			height: 12rem;
			width: auto;
			margin-top:2rem;
        }
        .progress-div {
            .progress-title{
                color: $light !important;
                font-size: 2.6rem;
            }
            .progress-value-text {
                color: $light !important;
                font-size: 2.6rem;
            }
            .progress-complete-text{
                color: $light !important;
                font-size: 1.2rem;
                padding-top: 1rem;
                padding-left: 0.3rem;
                text-transform: lowercase;
            }
        }
        .cancel-check {
            .btn-link {
                color: $light;
                font-size: 1.6rem;
                text-transform: uppercase;
                padding: 0;
                border-bottom: 0.1rem solid $light;
            }
        }
    }


    .pc-info-card{
        &::ng-deep {
            ngb-accordion{
                .card {
                    border-radius: 0.6rem;
                    border: 1px solid  $screen_dark_01;
                    background: $grey_lighter;
                    //padding: 1rem;
                    margin: 1.5rem auto;
                    width: 85%;
                    .card-header {
                        background-color: transparent;
						border-bottom: none;
						.btn-link{
							&:hover, &:focus{
								text-decoration: none;
							}
						}
                        .heading {
                            h3, h2{
                                font-size: 2rem;
                                color: $main_shade !important;
                            }
                            .icon{
                                color: $menu_hover;
                            }
                        }
                    }
                    .card-body {
                        padding: 0 1.25rem;
                    }
                    .status-text{
                        flex-grow: 8;
                        p {
                            text-transform: uppercase;
                            font-size: 1.6rem;
                            text-align: right;
							color: $shade_dark;
							position: absolute;
							right: 5rem;
							top: 40%;
						}
						vtr-widget-speedometer {
							position: absolute;
							right: -54%;
							top: 2.2rem;
						}
                    }
                }
                &.panel-open{
                    .card-header {
                        .heading {
                            h3, h2{
                                font-size: 2.5rem;
                                color: $dark !important;
                            }
                            .icon{
                                color: $menu_hover;
                            }
                        }
                    }
                }
            }
        }
        
        &.card-small{
            margin: 2rem auto 0rem auto;
            .heading {
                .icon{
                    font-size: 4rem;
                    margin-right: 1.5rem;
                    color: $main_shade;
                }
            }
        }
        .heading {
            display: flex;
            align-items: center;
            .icon{
                font-size: 4.6rem;
                margin-right: 1.5rem;
                color: $main_gstart;
            }
            h2 {
                font-size: 2.5rem;
                padding: 0;
                font-weight: $weight_medium;
                color: $main_darkest;
                text-transform: uppercase;
            }
            h3 {
                font-size: 2rem;
                padding: 0;
                font-weight: $weight_medium;
                color: $main_shade;
                text-transform: uppercase;
            }
        }
    }
    .icon-box {
        width: 20%;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background: $screen_dark_15;
            right: 0;
            top: 0;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
        .icon {
            font-size: 2.6rem;
            margin-right: 0.8rem;
            color: $main_shade;
        }
        p {
            font-size: 1.4rem;
            max-width: 6rem;
            margin-top: 0.6rem;
            line-height: 1.6rem;
            color: $main_shade;
        }
	}
	.current-scan{
		color: $main;
	}
}

.sidebar-widget {
	border-radius: 0.9rem;
	background-color: $light;
	box-shadow: 0 0 1.5rem 0 $screen_dark_15;
	padding: 4rem;
	.title {
		font-size: 2.5rem;
		font-weight: 500;
	}
	.card-info{
		p {
			font-size: 1.2rem;
		}
	}
	.link-text {
		font-size: 1.6rem;
		text-decoration: underline;
		letter-spacing: 0.05rem;
		color: #4a81fd;
		cursor: pointer;
		font-weight: 600;
	}
	.status-list {
		padding-left: 0;
		padding: 1rem 1.4rem;
		border-radius: 0.8rem;
		background: $shade_extralight;
		border: 0.1rem solid $shade_lighter;
		li {
			border-bottom: 0.1rem solid $screen_dark_05;
			line-height: 3rem;
			&:last-child{
				border-bottom: none;
			}
		}
		.item {
			font-weight: $weight_bold;
			font-size: 1.2rem;
		}
		.status {
			font-size: 1.2rem;
		}
	}
	.chevron-list {
		padding-left: 0;
		border-radius: 0.8rem;
		background: $shade_extralight;
		border: 0.1rem solid $shade_lighter;
		li {
			padding: 1.2rem;
			border-bottom: 0.1rem solid $screen_dark_05;
			line-height: 3rem;
			font-size: 1.4rem;
			.d-flex{
				&:first-child{
					fa-icon{
						margin-right: 1rem;
						color: $main;
						font-size: 2rem;
					}
				}
				&:first-child{
					fa-icon{
						margin-left: 1rem;
					}
				}
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
	.labels {
		.badge {
			font-size: 1.2rem;
			margin-bottom: 0.6rem;
		}
		.badge-primary{
			position: relative;
			height: 2rem;
			&::after {
				content: "";
				position: absolute;
				top:1px;
				right:-7px;
				width: 0px;
				height: 0px;
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-left: 7px solid $main;
			}
		}
		.badge-light {
			background: transparent;
		}
	}
	.junk-list {
		position: relative;
		padding-left: 3rem;
		list-style: none;
		li {
			line-height: 2.7rem;
			font-size: 1.2rem;
		}
	}
	&.recommended-action{
		background-color: #526fff;
		background-image: linear-gradient(45deg, #526fff 25%, #f175fd 100%);
		.title{
			color: $light;
			text-transform: uppercase;
		}
		.card-info {
			p {
				font-size: 1.6rem;
				color: $light;
			}
		}
		.pricing{
			.big-text {
				font-size: 5.5rem;
				font-weight: $weight_black;
				color: $light;
			}
			small {
				text-transform: uppercase;
				color: $gray;
				font-size: 1.6rem;
				font-weight: $weight_black;
			}
		}
		p {
			color: $light;
			font-size: 1.6rem;
		}
		.action-button {
			border-radius: 2.5rem;
			background: $light;
			text-transform: uppercase;
			padding: 0 5rem;
			color: $main;
			font-size: 1.5rem;
			height: 5rem;
			font-weight: $weight_medium;
			line-height: 5rem;
			text-align: center;
			border: 0rem;
			cursor: pointer;
			width: 100%;
		}
	}
}
.ms-slider {
	display: inline-block;
	margin-top: -0.4rem;
	height: 10rem;
	overflow: hidden;
	vertical-align: middle;
	-webkit-mask-image: linear-gradient(transparent, white, white, white, transparent);
	mask-image: linear-gradient(transparent, white, white, white, transparent);
	mask-type: luminance;
	mask-mode: alpha;
	position: relative;
	left: 3rem;
	&::after {
		content: '';
		position: absolute;
		height: 50%;
		width: 100%;
		bottom: 0;
		left: 0;
		background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
	.ms-slider__words {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		-webkit-animation-name: wordSlider;
		animation-name: wordSlider;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-duration: 20s;
		animation-duration: 20s;
	}
}
.page-heading {
	font-size: 4rem;
    font-weight: 300;
	padding: 3rem 0rem;
	color: $main_shade;
}

@keyframes wordSlider {
	0%,
	20% {
		transform: translateY(0%);
	}
	21%,
	40% {
		transform: translateY(-20%);
	}
	41%,
	60% {
		transform: translateY(-40%);
	}
	61%,
	80% {
		transform: translateY(-60%);
	}
	81%,
	100% {
		transform: translateY(-80%);
	}
}
