<div class="vtr-ui-smart-performance-scanning">
    <div class="row">
        <div class="col col-12 offline-info-background">
            <div class="w-100">
                <div class="row d-flex justify-content-between">
                    <div class="mt-5">
                        <h1>Performance & Security Check</h1>
                        <h3>Please wait while we scan your system for potential problems and threats.</h3>
                    </div>
                    <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                </div>
                <hr class="light-dashline" />
            </div>

				<div *ngIf="showProgress"
					class="col row">
					<div class="col col-12 row progress-div">
						<div class="col col-9 progress-title pb-4" id="su-cheking-updates-title"
							aria-label="su-cheking-updates-title">Scanning system</div>
						<div class="col col-3 progress-percent-text">
							<div class="row d-flex justify-content-end">
								<span class="progress-value-text pb-4">{{percent}}</span>
								<span
									class="progress-complete-text" id="su-progress-complete-text"
									aria-label="su-progress-complete-text">Complete</span>
							</div>
						</div>
					</div>
					<div class="col col-12 row progress-bar-div-container">
						<div class="col col-12 progress-bar-div" id="su_check_progress" aria-label="su_check_progress">
							<ngb-progressbar
								type="success"
								[value]="percent"
								[height]="'0.6rem'"></ngb-progressbar>
						</div>
					</div>
					<div class="col col-12 row">
						<div class="col col-12 cancel-check p-5 d-flex justify-content-center">
							<button type="button"
								id="su_cancel_updates"
								attr.aria-label="su_cancel_updates"
								vtrMetrics
								metricsEvent="ItemClick"
								metricsParent="Pages.SystemUpdate"
								metricsItem="'btn.cancel'"
								class="btn btn-link cancel-check"
								[disabled]="percent === 0 || isCheckingStatus"
								 >Cancel Scan</button>
						</div>
					</div>
				</div>

        </div>
    </div>
    <div class="row">
        <div class="pc-info-card pc-tune">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="heading mt-3">
                        <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                        <h2>Tune up performance</h2>
                    </div>
                </div>
                <div class="mt-5 mb-3 d-flex justify-content-between align-items-center">
                    <div class="icon-box d-flex justify-content-center">
                        <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                        <p>Accumulated Junk</p>
                    </div>
                    <div class="icon-box d-flex justify-content-center">
                        <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                        <p>Usability Issues</p>
                    </div>
                    <div class="icon-box d-flex justify-content-center">
                        <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                        <p>Windows Settings</p>
                    </div>
                    <div class="icon-box d-flex justify-content-center">
                        <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                        <p>System Errors</p>
                    </div>
                    <div class="icon-box d-flex justify-content-center">
                        <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                        <p>Registry Errors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pc-info-card card-small malware-security-card">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="heading">
                        <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                        <h3>Malware &amp; Security</h3>
                    </div>
                    <div class="status-text">
                        <p>WAITING TO SCAN</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-5 pc-info-card card-small internet-performance-card">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="heading">
                        <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                        <h3>Internet performance</h3>
                    </div>
                    <div class="status-text">
                        <p>WAITING TO SCAN</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
