@import "./../../../app.theme.scss";

.vtr-ui-custom-slider {
	padding: 10px;
	$slider-height: 30px;
	$thumb-size: 25px;
	$thumb-focus-size: 32px;
	$thumb-radius: 25px;
	$track-height: 6px;
	$track-radius: 5px;

	@mixin slider-thumb() {
		appearance: none;
		border: none;
		width: $thumb-size;
		height: $thumb-size;
		background-color: $blue-light;
		border-radius: 50%;
		margin: 0 3px;
	}

	@mixin slider-disabled {
		box-shadow: none;
		background: $grey_light;
	}

	// slider thumb pressed
	@mixin slider-active {
		box-shadow: none;
		background: $blue-lighter;
	}

	@mixin slider-focus {
		box-shadow: 0 0 0 1px $light, 0 0 0 2px $menu_hover;
		background: $blue-light;
	}

	input[type="range"] {
		-webkit-appearance: none;
		appearance: none;
		height: $slider-height;
		width: 100%;
		border: none;
		cursor: pointer;
		outline: none;
		background: transparent; /* Otherwise white in Chrome */

		/* start ms edge browser */

		&::-ms-track {
			-webkit-appearance: none;
			appearance: none;
			height: $track-height;
			margin: 0 5px;
		}
		&::-ms-thumb {
			@include slider-thumb();
			margin-top: 0px !important;
		}

		&::-ms-fill-lower {
			/* top-left | top-right | bottom-right | bottom-left */
			border-radius: $track-radius 0 0 $track-radius;
			background: transparent linear-gradient(270deg, $blue-light 0%, $blue-lighter 100%) 0% 0% no-repeat
				padding-box;
		}
		&::-ms-fill-upper {
			/* top-left | top-right | bottom-right | bottom-left */
			border-radius: 0 $track-radius $track-radius 0;
			background: $grey_light;
		}

		/* end ms edge browser */

		/* start chromium browser */

		&::-webkit-slider-thumb {
			@include slider-thumb();
			margin-top: -10px;
		}

		&::-webkit-slider-runnable-track {
			background: $grey_light;
			width: 100%;
			height: $track-height;
			border-radius: $track-radius;
		}

		&:focus::-webkit-slider-thumb {
			@include slider-focus();
		}
		&:active::-webkit-slider-thumb {
			@include slider-active();
		}
		&:disabled::-webkit-slider-thumb {
			@include slider-disabled();
		}

		/* end chromium browser */

		/* start mozilla browser */

		// &::-moz-slider-thumb {
		// 	@include slider-thumb();
		// }

		// &:focus::-moz-slider-thumb {
		// 	@include slider-focus();
		// }

		// &:active::-moz-slider-thumb {
		// 	@include slider-active();
		// }

		// &:disabled::-moz-slider-thumb {
		// 	@include slider-disabled();
		// }

		/* end mozilla browser */
	}
}
