@import "../../../../app.theme.scss";
.list-group.list-group-flush {
  list-style-type: none;
}

vtr-ui-row-switch {
  &::ng-deep {
    .vtr-ui-switch-row.white-theme {
      padding-bottom: 0rem !important;
    }
  }
}

::ng-deep .tooltip-inner {
  .antiTheft-tooltip {
    margin: 0rem 0rem 0rem 1.5rem !important;
    ul li {
      list-style-type: disc;
      margin: 0;
      padding: 0;
    }
  }
}

.subFunctions {
  margin-left: 4.5rem !important;
  p {
    font-size: $fontsize_xs;
    outline: 0;
  }
  label {
    font-size: $fontsize_xs;
    color: #667481;
    font-weight: 300;
    outline: 0;
  }
  .subTitle {
    font-weight: $weight_bold;
    color: $shade_blue;
    font-size: 1.4rem !important;
    margin: 10px 0px;
  }

  .dropdownTitle {
    color: rgba(66, 78, 123, 0.4) !important;
  }

  .cameraTips {
    margin: 10px 0px;
  }

  .checkbox {
    ::ng-deep .auto-set-checkbox {
      margin-top: 0px !important;
    }
  }
  
  .select {
    max-width:380px;
    width: 45%;
    min-width: 360px;
  }

  .showPhoto {
    .btn-link {
      margin-top: -4px;
    }
  }

  .right-icon {
    font-size: $fontsize_sm;
    color: $menu_hover;
    cursor: pointer;
    margin-left: 8px;
    &:hover {
      color: $highlight;
    }
  }

  ::ng-deep .btn-link {
    text-decoration: underline !important;
    font-size: 1.4rem !important;
  }
}
