<div class="row pt-5 smart-assist-card">
    <div class="col-12 px-0" id="smartAssist-intelligentSensing-smartMotionAlert-div">
        <vtr-container-collapsible [tabIndex]="0" [cardTitle]="'device.smartAssist.antiTheft.heading' | translate"
            [isCollapsed]="false" [allowCollapse]="true"
            [collapseLinkId]="'smartAssist-intelligentSensing-smartMotionAlert'">
            <ul class="list-group list-group-flush">
                <li>
                    <vtr-ui-row-switch [switchId]="'smartAssist-intelligentSensing-smartMotionAlert-switch'"
                        [title]="'device.smartAssist.antiTheft.title' | translate"
                        componentName="smartMotionAlertSwitch" [isLastChild]="true" [isSwitchVisible]="true"
                        [leftIcon]="['icomoon', 'icomoon-antiTheft']" [rightIcon]="[]" [showChildContent]="false"
                        [isSwitchChecked]="isChecked" [tooltipText]="" (toggleOnOff)="setAntiTheftStatus($event)"
                        [caption]="'device.smartAssist.antiTheft.desc' | translate" [showLoaderState]="isLoading">
                    </vtr-ui-row-switch>

                    <div id="smartMotionAlertSubFunctions" class="subFunctions">
                        <div class="row">
                            <div class="feature-note p-4">
                                <p id="smartMotionAlertDescription" name="smartMotionAlertDescription">
                                    {{'device.smartAssist.antiTheft.note.description' | translate}}</p>
                            </div>
                        </div>
                        <p id="smartMotionAlertAlarmTitle" name="smartMotionAlertAlarmTitle" class="subTitle dropdownTitle">
                            {{'device.smartAssist.antiTheft.alarm.title' | translate}}
                        </p>
                        <div id="smartMotionAlertAlarmTimeSelect" name="smartMotionAlertAlarmTimeSelect" class="select">
                            <vtr-ui-dropdown class="selectDropdown" [list]="alarmTimeList" [value]="alarmOften"
                                (change)="setAlarmOften($event.value)"
                                [dropDownId]="'smartMotionAlert-alarmTime-dropDown'" 
                                vtrMetrics
                                metricsEvent="FeatureClick" metricsParent="Device.SmartAssist"
                                metricsItem="Smart-motion-alarm.alarm-drop-down" metricsValue="{{alarmOften}}">
                            </vtr-ui-dropdown>
                        </div>
                        <p id="smartMotionAlertSupportPhotoTitle" name="smartMotionAlertSupportPhotoTitle"
                            class="subTitle">
                            {{'device.smartAssist.antiTheft.allowCamera.title' | translate}}</p>
                        <div>
                            <p id="smartMotionAlertSupportPhotoDescribe" name="smartMotionAlertSupportPhotoDescribe">
                                <label id="smartMotionAlertSupportPhotoDescribeLabel"
                                    name="smartMotionAlertSupportPhotoDescribeLabel">{{'device.smartAssist.antiTheft.allowCamera.describe' | translate}}</label>
                            </p>

                            <div class="checkbox">
                                <vtr-ui-checkbox [componentId]="'smartMotionAlertSupportPhotoCheckbox'"
                                    [disabled]="checkboxDisabled" [value]="isSupportPhoto" [checked]="isSupportPhoto"
                                    [label]="'device.smartAssist.antiTheft.allowCamera.checkBoxText' | translate"
                                    (toggle)='setAllowCamera($event)'>
                                </vtr-ui-checkbox>
                            </div>

                        </div>

                        <div class="row" *ngIf="!cameraPrivacyState && !isShowAuthorized">
                            <div class="feature-note p-4 cameraTips">
                                <p id="smartMotionAlertCameraPrivacyDescribe"
                                    name="smartMotionAlertCameraPrivacyDescribe">
                                    {{'device.smartAssist.antiTheft.cameraPrivacy.describe' | translate}}</p>
                                <button id="showCameraPrivacyPageButton" name="showCameraPrivacyPageButton"
                                    type="button" class="btn btn-link privacy-button pl-0" tabindex="0" role="button"
                                    attr.aria-label="{{'device.smartAssist.antiTheft.cameraPrivacy.linkText' | translate}}"
                                    (click)="showCameraPrivacyPage()">
                                    {{'device.smartAssist.antiTheft.cameraPrivacy.linkText' | translate}}
                                </button>
                            </div>
                        </div>

                        <div class="row" *ngIf="!authorizedAccessState && isShowAuthorized">
                            <div class="feature-note p-4 cameraTips">
                                <p id="smartMotionAlertAuthorizedAccessDescribe"
                                    name="smartMotionAlertAuthorizedAccessDescribe">
                                    {{'device.smartAssist.antiTheft.authorizedAccess.describe' | translate}}</p>
                                <button id="showCameraAuthorizedAccessButton" name="showCameraAuthorizedAccessButton"
                                    tabindex="0" role="button" type="button" class="btn btn-link pl-0"
                                    attr.aria-label="{{'device.smartAssist.antiTheft.authorizedAccess.linkText' | translate}}"
                                    (click)="showCameraAuthorizedAccess()">
                                    {{'device.smartAssist.antiTheft.authorizedAccess.linkText' | translate}}
                                </button>
                            </div>
                        </div>

                        <div *ngIf="cameraPrivacyState && authorizedAccessState && isSupportPhoto">
                            <label id="smartMotionAlertPhotoTitle" name="smartMotionAlertPhotoTitle"
                                class="subTitle dropdownTitle">{{'device.smartAssist.antiTheft.photo.title' | translate}}</label>
                            <fa-icon id="smartMotionAlertPhotoIcon" name="smartMotionAlertPhotoIcon" class="right-icon"
                                triggers="manual" placement="auto" autoClose="false" [ngbTooltip]="tooltipRef"
                                #rightToolTip1="ngbTooltip" autoClose="true" [icon]="['far', 'question-circle']"
                                container="vtr-root" tooltipClass="vtr-tooltip"
                                (click)="onRightIconClick(rightToolTip1, $event)"
                                (keydown.enter)="onRightIconClick(rightToolTip1, $event)" tabindex="0"
                                attr.aria-label="{{'device.smartAssist.antiTheft.photo.tooltip' | translate}}">
                            </fa-icon>
                            <ng-template #tooltipRef>
                                <div id="smartMotionAlertPhotoTooltip" name="smartMotionAlertPhotoTooltip"
                                    [innerHTML]="'device.smartAssist.antiTheft.photo.tooltip' | translate"></div>
                            </ng-template>
                            <div class="select" id="smartMotionAlertPhotoNumberSelect"
                                name="smartMotionAlertPhotoNumberSelect">
                                <vtr-ui-dropdown class="selectDropdown" [list]="photoNumberList" [value]="photoNumber"
                                    (change)="setPhotoNumber($event.value)"
                                    [dropDownId]="'smartMotionAlert-photoNumber-dropDown'"
                                    [dropDownName]="'smartMotionAlert-photoNumber-dropDown'" 
                                    vtrMetrics
                                    metricsEvent="FeatureClick" metricsParent="Device.SmartAssist"
                                    metricsItem="Smart-motion-alarm.photo-drop-down" metricsValue="{{photoNumber}}">
                                </vtr-ui-dropdown>
                            </div>

                        </div>

                        <div class="showPhoto" id="smartMotionAlertShowPhotoLink" name="smartMotionAlertShowPhotoLink">
                            <p id="smartMotionAlertShowPhotoTitle" name="smartMotionAlertShowPhotoTitle"
                                class="subTitle">{{'device.smartAssist.antiTheft.showPhoto.title' | translate}}
                                <button id="smartMotionAlertShowPhotoLinkButton"
                                    name="smartMotionAlertShowPhotoLinkButton" tabindex="0" role="button" type="button"
                                    class="btn btn-link pl-0" [(ngModel)]="photoAddress"
                                    attr.aria-label="{{'device.smartAssist.antiTheft.showPhoto.link' | translate}}"
                                    (click)="showPhotoFolder(photoAddress)">
                                    {{'device.smartAssist.antiTheft.showPhoto.link' | translate}}
                                </button>
                            </p>
                        </div>

                        <div class="row" *ngIf="isShowfileAuthorizationTips">
                            <div class="feature-note p-4">
                                <p id="smartMotionAlertShowPhotoTips" name="smartMotionAlertShowPhotoTips">
                                    {{'device.smartAssist.antiTheft.fileAuthorizationTips.content' | translate}}</p>
                                <button id="smartMotionAlertShowPhotoTipsLink" name="smartMotionAlertShowPhotoTipsLink"
                                    tabindex="0" role="button" type="button" class="btn btn-link pl-0"
                                    attr.aria-label="{{'device.smartAssist.antiTheft.fileAuthorizationTips.link' | translate}}"
                                    (click)="showAccessingFileSystem()">
                                    {{'device.smartAssist.antiTheft.fileAuthorizationTips.link' | translate}}
                                </button>
                            </div>
                        </div>

                    </div>

                </li>
            </ul>
        </vtr-container-collapsible>
    </div>
</div>