@import "../../../../app.theme.scss";
.list-group.list-group-flush {
  list-style-type: none;
}

vtr-ui-row-switch {
  &::ng-deep {
    .vtr-ui-switch-row.white-theme {
      padding-bottom: 0rem !important;
    }
  }
}

.subFunctions {
  margin-left: 4.5rem !important;
  p {
    font-size: $fontsize_xs;
    outline: 0;
  }
  label {
    font-size: $fontsize_xs;
    color: #667481;
    font-weight: 300;
    outline: 0;
  }
  .subTitle {
    font-weight: $weight_bold;
    color: $shade_blue;
    font-size: 1.4rem !important;
    margin: 10px 0px;
  }

  .dropdownTitle {
    color: rgba(66, 78, 123, 0.4) !important;
  }

  .cameraTips {
    margin: 10px 0px;
  }

  .checkbox {
    margin-left: 1.5px;
    ::ng-deep .auto-set-checkbox {
      margin-top: 0px !important;
      outline: 0;
      .custom-control-label {
        line-height: 1.5;
        font-size: $fontsize_xs;
        font-weight: $weight_light;
        &::before {
          top: 0.2rem;
          width: 1.5rem;
          height: 1.5rem;
          box-shadow: inset 0 0 0 0 $light;
          border: 0 solid $shade_darker;
        }
        &::after {
          top: 0.2rem;
          width: 1.5rem;
          height: 1.5rem;
          box-shadow: inset 0 0 0 0.1rem $light;
          border: 0.1rem solid $shade_darker;
        }
      }
      .custom-control-input:checked + .custom-control-label {
        &::before {
          display:none;
        }
        &::after {
          top: 0.2rem;
          width: 1.5rem;
          height: 1.5rem;
          box-shadow: inset 0 0 0 0.1rem $light;
          border: 0.1rem solid $shade_darker;
          background-color: $menu_hover;
        }
      }
      .custom-control-input:disabled:checked + .custom-control-label {
        &::after {
          top: 0.2rem;
          width: 1.5rem;
          height: 1.5rem;
          box-shadow: inset 0 0 0 0.1rem $light;
          border: 0.1rem solid $shade_darker;
          background-color: #bbb;
          color: #667481;
        }
        &::before {
          display:none;
        }
      }
    }
  }

  .select {
    width: 380px;
    .selectDropdown {
      ::ng-deep .ui-dropdown {
        height: 7.1rem !important;
        .chevron {
          color: #667481 !important;
        }
        ::ng-deep .ui-menu-dropdown {
          top: 7.1rem !important;
          padding: 0.5rem 0rem !important;
          a {
            padding: 0.8rem 1.5rem !important;
            &:hover {
              color: hsl(0, 0%, 100%) !important;
              background-color: #667481 !important;
              text-decoration: blink !important;
            }
          }
        }
      }
    }
  }

  .showPhoto {
    .btn-link{
      margin-top: -6px;
    }
  }

  .right-icon {
    font-size: $fontsize_sm;
    color: $menu_hover;
    cursor: pointer;
    margin-left: 8px;
    &:hover {
      color: $highlight;
    }
  }

  ::ng-deep .btn-link {
    text-decoration:underline !important;
    font-size: 1.4rem !important;
  }
}
