@import "../../../../app.theme.scss";
.list-group.list-group-flush {
  list-style-type: none;
}

vtr-ui-row-switch {
  &::ng-deep {
    .vtr-ui-switch-row.white-theme {
      padding-bottom: 0rem !important;
    }
  }
}

::ng-deep .tooltip-inner {
  .antiTheft-tooltip {
    margin: 0rem 0rem 0rem 1.5rem !important;
    ul li {
      list-style-type: disc;
      margin: 0;
      padding: 0;
    }
  }
}

.antiTheftFeature {
  label {
    margin-bottom: 0rem;
  }

}

.antiTheft-describe-div {
  width: 100%;
  margin-top: -10px;
  margin-left: 4.5rem !important;
  padding-right: 4.5rem;
  color: #667481;
  font-size: 1.4rem;
  font-weight: 300;
}

.subFunctions {
  margin-left: 4.5rem !important;

  .allowCameraDescribe {
    font-size: $fontsize_xs;
    color: $grey_dark;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .feature-note {
    label {
      font-size: $fontsize_xs;
      color: $shade_blue;
      font-weight: 300;
    }
  }

  .descriptionText {
    label {
      color: #d34503 !important;
      font-size: 14px;
    }
    padding: 16px;
    .descriptionLabel {
      margin-top: 10px;
    }
  }

  .subTitle {
    font-weight: $weight_bold;
    color: $shade_blue;
    font-size: 1.4rem !important;
    margin: 10px 0px;
  }

  .dropdownTitle {
    color: rgba(66, 78, 123, 0.4) !important;
  }

  .cameraTips {
    margin: 10px 0px;
  }

  .checkbox {
    ::ng-deep .auto-set-checkbox {
      margin-top: 0px !important;
    }
  }

  .select {
    max-width: 400px;
    width: 100%;
    min-width: 360px;
  }

  .showPhoto {
    margin: 10px 0px;
    .subTitle {
      display:inline !important;
    }
    .photoLink {
      margin-left: 10px;
    }
  }

  .btn-link {
	  border:0.1rem solid transparent;
	  @media #{$white-on-black} {
		@include hyperlink-yellow-black;
		border: 0.1rem solid transparent;
	  }
	  @media #{$black-on-white} {
		@include hyperlink-blue-white;
		border: 0.1rem solid transparent;
	  }
    &:focus {
    	@include outline-border-blue;

    	@media #{$white-on-black} {
    		@include white-border;
    	}

    	@media #{$black-on-white} {
    		@include black-border;
    	}
    }
  }

.photoDropdown {
  margin: 10px 0px;
  .subTitle {
    display:inline !important;
  }
  .right-icon {
    font-size: $fontsize_sm;
    color: $menu_hover;
	margin-left: 10px;
	border: 0.1rem solid transparent;
    &:hover {
      color: $highlight;
    }
    &:focus {
      @include outline-border-blue;
    }
  }
}
  ::ng-deep .btn-link {
    text-decoration: underline !important;
    font-size: 1.4rem !important;
  }
}
