@import "../../../app.theme.scss";

.vtr-connected-home-security {
  box-shadow: $drop_shadow;
  border-radius: $border_radius;
  background-color: $light;
  padding: 2rem;

  .heading {
    color: $main_dark;
    font-size: 2.5rem;
    font-weight: $weight_medium;
  }

  .sub-heading {
    color: $main_dark;
    font-size: 2rem;
    font-weight: $weight_medium;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .text-regular {
    color: $main_dark;
    font-size: 2rem;
    font-weight: $weight_light;
  }

  .bullet-list {
    margin-top: 1rem;
    list-style: none;
    padding: 0;
    background-color: $light;

    li {
      margin: 0;
      padding: 1rem 1rem 1rem 0;
      color: $main_dark;

      .text-regular {
        color: $main_dark;
        font-size: 2rem;
        font-weight: $weight_light;
      }

      &.good {
        .bullet-icon {
          .icon-bkg {
            background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
            border-color: $go_dark;
          }
        }
      }

      .bullet-icon {
        .icon-bkg {
          display: inline-block;
          border-radius: 50%;
          height: 3.3rem;
          width: 3.3rem;
          border-width: 3px;
          border-style: solid;
          text-align: center;
          fa-icon {
            font-size: 1.6rem;
            line-height: 2.9rem;
            color: $light;
          }
        }
      }
    }
  }

  .gem-box {
    padding: 5rem 0.5rem 5rem 5rem;
    width: 100%;
    height: 100%;
    .gem {
      box-sizing: border-box;
      background-color: $shade_lightest;
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 5rem;
      border-radius: $border_radius_sm;
      fa-icon.icon {
        font-size: 15rem;
        color: $main;
        text-align: center;
        display: inline-block;
        padding: 4rem;
      }
    }
  }

  .button-box {
    padding: 1rem;
    margin: 1rem;
  }

  .invitation-code-box {
    padding: 0.5rem;
    background-color: $shade_lightest;
    border: 0.1rem solid $shade_lighter;
    border-radius: $border_radius;
    text-align: center;

    .sub-heading {
      margin-top: 1rem;
      color: $main_dark;
      font-size: 2rem;
      font-weight: $weight_medium;
      text-transform: uppercase;
      padding: 0.5rem;
    }

    .text-regular {
      color: $main_dark;
      font-size: 2rem;
      font-weight: $weight_light;
    }
  }
}
