@import "../../../app.theme.scss";
.ui-lighting-notebook{
    border-radius: $border_radius;
    background: $dark_cell;
    box-shadow: $drop_shadow_gaming;
    height: auto;
    .lighting-notebook-content{
        background: $gaming_lighting_profile_bg;
        border-radius: .4rem;
        padding: 2.4rem;
        box-shadow: 0 .8rem 1.6rem 0;
        overflow: hidden;
        .lighting-describe{
            color:$gaming_lightest;
            font-size: 1.4rem;
        }
        .lighting-profile-toggle{
            margin-top: 2rem;
        }
        .lighting-detail{
            .content-title {
                color: $gaming_lightest;
                font-weight: $weight_medium;
                font-size: 1.4rem;
                letter-spacing: -0.017rem;
                line-height: 2rem;
                margin-bottom: 1rem;
            }
            .effect-bright-speed{
                width: 100%;
                margin: 4.3rem 0 2rem 0;
                overflow: hidden;
                &>div{
                    float: left;
                }
                .lighting-effect{
                    width:50%;
                    @media #{$below-large-screen} {
                       width: 100%;
                       overflow: hidden;
                    }
                    @media #{$small-screen} {
                       width: 100%;
                       overflow: hidden;
                    }
                    vtr-ui-lighting-effect {
                        position: absolute;
                        width: 45%;
                        @media #{$below-large-screen} {
                            width: calc(100% - 4.8rem);
                         }
                         @media #{$small-screen} {
                            width: calc(100% - 4.8rem);
                         }
                        ::ng-deep {
                            &.select-box {
                                height: 4rem;
                                line-height: 6.8rem;
                                border-radius: 0.6rem;
                                background: rgba(251,253,255,0.05);
                                margin-bottom: 3rem;
                                .dropdown-toggle {
                                    cursor: pointer;
                                    padding-left: 2rem;
                                    padding-right: 2rem;
                                    line-height: 4rem;
                                    .name{
                                        font-size: 1.4rem !important;
                                    }
                                    .icon {
                                      top: 0.3rem;
                                    }
                                }
                                .gaming-dropdown-menu {
                                    top: 4.1rem;
                                    .dropdown-item{
                                        height: 4rem !important;
                                        line-height: 4rem !important;
                                        font-size: 1.4rem !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .bright-speed{
                    width: 50%;
                    padding-left: 10%;
                    @media #{$below-large-screen} {
                        width: 100%;
                        padding-left: 0;
                        margin-top: 7rem;
                     }
                     @media #{$small-screen} {
                        width: 100%;
                        padding-left: 0;
                        margin-top: 7rem;
                     }
                    vtr-ui-add-reduce-button{
                        ::ng-deep{
                            .vtr-ui-add-reduce-button{
                                height: 4rem;
                                &>p>span{
                                    font-size: 1.4rem !important;
                                }
                            }
                        } 
                    }
                    .lighting-bright{
                        width: 40%;
                        float: left;
                        @media #{$below-large-screen} {
                          width: 45%;
                        }
                        @media #{$small-screen} {
                           width: 45%;
                        }
                    }
                    .lighting-speed{
                        width: 40%;
                        float: right;
                        @media #{$below-large-screen} {
                           width: 45%;
                        }
                        @media #{$small-screen} {
                           width: 45%;
                        }
                    }
                }
            }
            .lighting-color{
                position: relative;
                .lighting-keyboard{
                    width: 100%;
                    svg{
                        width: 100%;
                    }
                }
                .lighting-color-inner{
                    position: relative;
                    vtr-ui-color-picker{
                        position: absolute;
                        left: 50%;
                        margin-left: -175px;
                        top: 50%;
                        ::ng-deep{
                            .preset-color{
                                margin-top: -142.6px;
                             }
                             .color-picker{
                                 margin-top: -170px;
                             }
                        } 
                    }
                }
            }
            .lighting-default-text{
                text-align: right;
                padding: 1.7rem 0 1.2rem 0;
            }
        }
        .lighting-off{
            color: $gaming_lightest;
            font-size: 1.4rem;
            padding: 30rem 0;
        }
    }  
}
::ng-deep vtr-ui-lighting-profile-toggle{
    .multi-state-toggle{
        height: 4rem !important;
        border-radius: 4rem !important;
        background: $screen_dark_0 !important;
        .inner-toggle{
            label{
                font-size: 1.4rem !important;
            }
            .toggle{
                height: 3.4rem !important;
            }
        }
        &::after {
            background: $screen_dark_0 !important;
        }
        &::before {
            background: $screen_dark_0 !important;
            border: 0.2rem solid #0078ff !important;
        }

    }
}