<div class="faq-page">
    <div class="faq-page__item" *ngFor="let category of categories | objectValues" id="{{category.id}}">
        <h2 class="faq-page__title">{{category.title}}</h2>
        <ul class="faq-page__list">
            <li class="faq-page__question" *ngFor="let questionItem of category.questions" id="{{questionItem.id}}">
                <div class="faq-page__item-head">
                    <h3 class="faq-page__head-subtitle">{{questionItem.title}}</h3>
                    <div class="faq-page__controls">
                        <button
                                class="faq-page__button-link"
                                (click)="handleOpen(questionItem.id)"
                                [ngClass]="{'faq-page__button-link--open': questionsState[questionItem.id].isOpen}">
                            <span>{{questionsState[questionItem.id].isOpen ? 'Collapse' : 'Expand'}}</span>
                        </button>
                    </div>
                </div>
                <div class="faq-page__item-body" *ngIf="questionsState[questionItem.id].isOpen">
                    <p class="faq-page__item-text" *ngFor="let textItem of questionItem.texts">
                        {{textItem}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
