@import "../../styles/common-blocks";

.faq-page {

  &__item {
    @extend %common-block-wrapper;
    margin: 3rem 0;
  }
  &__title {
    @extend %subtitle;
    margin: 0 0 2rem;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__question {
    margin: .5rem 0;
    border-radius: .5rem;
    border: 1px solid #ECF0F1;
    background-color: #F5F7F8;
    padding: 1.9rem 3rem 1.8rem;
  }
  &__item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__head-subtitle {
    max-width: 70%;
    font-weight: bold;
    color: #34495E;
    line-height: 2.3;
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  &__controls {

  }
  &__button-link {
    @extend %button-link;

    span {
      @extend %button-link__text;
    }
    &--open {
      @extend %button-link--open;
    }
  }
  &__item-body {

  }
  &__item-text {
    font-weight: 300;
    font-size: 1.4rem;
    color: #667481;
    line-height: 2.3rem;
    margin: 2.3rem 0;
  }
}
