@import "../../../../../app.theme.scss";

.vtr-common-antivirus {
	margin-top: 4rem;
	margin-bottom: 2rem;
	@media #{$breakpoint_lg} {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}

	.title {
		color: $main_darkest;
		font-size: 2.2rem;
		font-weight: 500;
		line-height: 4.2rem;
		text-align: center;
	}

	.content {
		@media #{$breakpoint_xl} {
			flex-direction: column;
		}
		border-radius: $border_radius;
		background: $light;
		margin-top: 3rem;

		img {
			width: 100%;
			border-radius: $border_radius;
		}

		.xl-margin {
			@media #{$breakpoint_xl} {
				margin: 2rem 0rem;
			}
		}

		.inner-body {
			padding: 1.5rem 2rem;
			@media #{$breakpoint_xl} {
				padding: 2.5rem 2rem;
			}
			.title {
				color: $main_darker;
				font-size: 1.3rem;
				@media #{$breakpoint_xl} {
					font-size: 1.6rem;
				}
				font-weight: $weight_bold;
				line-height: 2.3rem;
				text-align: left;
			}

			.logo {
				height: 4rem;
				@media #{$breakpoint_xl} {
					height: 7.5rem;
				}
			}

			.last-logo {
				height: 2rem;
				@media #{$breakpoint_xl} {
					height: 3.5rem;
				}
			}

			.height-line {
				width: 0.01rem;
				margin: 0 1.2rem;
				background-color: $shade_light;

				@media #{$mediaquery_X46} {
					margin: 0 0.8rem;
				}
			}

			.subtitle {
				color: $main_darker;
				font-size: 1.2rem;
				@media #{$breakpoint_xl} {
					font-size: 1.4rem;
				}
				font-weight: 400;
				line-height: 2.3rem;
			}
		}
	}

	.footer {
		@media #{$mediaquery_lg} {
			display: none;
		}
		margin-top: 3rem;
		margin-bottom: 3rem;
		.text-regular {
			font-size: 1.4rem;
			color: $main_shade;
			@media #{$mediaquery_X46} {
				font-size: 1.3rem;
			}
		}

		.mcafee-logo {
			width: 12rem;
			padding-top: 1rem;
			margin-right: 1.8rem;
			@media #{$mediaquery_X46} {
				width: 9rem;
				margin-right: 1rem;
			}
		}

		a {
			text-decoration: underline;
			font-weight: $weight_medium;
		}
	}
}
