@import '../../../../../app.theme.scss';

.vtr-autoupdate-settings {
	border-radius: $border_radius;
	background-color: $light;
	box-shadow: $drop_shadow;
	padding: $fontsize_xl;

	@media #{$white-on-black} {
		box-shadow: none;
		@include white-border;
	}

	@media #{$black-on-white} {
		box-shadow: none;
		@include black-border;
	}

	.title {
		color: $main_dark;
		font-size: $fontsize_xl;
		font-weight: $weight_600;
	}

	.description {
		color: $main_shade;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
	}

	.settings-container {
		margin-top: 2.7rem;
		list-style: none;
		padding: 0;
		border-radius: 0.9rem;
		letter-spacing: 0rem;

		.left-image {
			width: 2rem;
			height: 2rem;
		}

		.update-title {
			color: $purple_navy;
			font-size: $fontsize_sm;
			font-weight: $weight_light;

			@media #{$breakpoint_xl} {
				padding-right: 0.5rem;
			}

			@media #{$breakpoint_lg} {
				padding-right: 0;
			}
		}

		fa-icon {
			color: $main;
			font-size: $fontsize_sm;
			margin-left: 0.5rem;
			padding-top: 0.3rem;
			border: 0.1rem solid transparent;

			@media #{$white-on-black} {
				@include black-border;
			}

			@media #{$black-on-white} {
				@include white-border;
			}

			&.question {
				cursor: pointer;
			}

			&:focus {
				outline: 0;
				border: 0.1rem solid $menu_hover;

				@media #{$high-contrast} {
					border: 0.1rem solid $menu_hover !important;
				}

				@media #{$white-on-black} {
					border: 0.1rem solid $light !important;
				}

				@media #{$black-on-white} {
					border: 0.1rem solid $dark !important;
				}
			}
		}

		.no-pointer {
			cursor: default;
		}

		.link-text {
			font-size: 1.4rem;
		}

		.list-group-item {
			padding: 0.75rem 1rem;

			.media {
				img {
					@include high-contrast-img-brightness;
				}
			}
		}
	}
}

// ng-deep required, without this style cannot be overridden.
::ng-deep {
	.vtr-autoupdate-settings {
		.settings-container {
			vtr-ui-row-switch {
				&:last-child {
					.vtr-ui-switch-row {
						border-bottom: none;
					}
				}

				.vtr-ui-switch-row {
					margin: 0;
					padding: 1.5rem;

					.row {
						align-items: center;
					}

					vtr-ui-switch-onoff {
						.checkbox {
							margin: 0;
						}
					}
				}
			}
		}
	}
}
