@import "../../../app.theme";

.dropdown-content {
	top: -0.2rem;

	input:not([type=radio]):not([type=checkbox]) {
		cursor: pointer;
	}

	.dropdown-btn {
		display: flex;
		width: 4.4rem;
		padding-right: 1rem;
		justify-content: center;
		cursor: pointer;

		.icon-con {
			display: block;
			width: 1.8rem;
			height: 1.8rem;
			border-radius: 2rem;
			font-size: 1.0rem;
			padding-bottom: 0.1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #f17f14;
			color: #fff;
			font-weight: $weight_bold;
			cursor: pointer;

			&.in-warranty {
				background: #4b97ff;
				padding-bottom: 0;
			}
		}

		&:hover {
			opacity: .7;
		}

		&::before,
		&::after {
			display: none;
		}
	}

	.header-warranty-dropdown {
		position: absolute;
		top: 3rem !important;
		left: -7.15rem !important;
		padding: 0;
		transform: translate(0px, 0px) !important;
		z-index: 1000;
		text-align: left;
		list-style: none;
		border: none;
		background-clip: padding-box;
		border-radius: 0.9rem;
		box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
		width: 28rem;
		@media #{$breakpoint_xl}{
			width: 29rem;
		}
		&.in-warranty {
			background: linear-gradient(to left bottom, #4980FC, #2E62D9);

			.menu-pointer {
				background: #3c72eb;
			}
		}

		&.expired {
			background: linear-gradient(to left top, #F17F14, #ED4E04);

			.menu-pointer {
				background: #ed5105;
			}

			.button {
				color: #c94000;
				&:focus {
					box-shadow: 0 0 0 0.4rem rgba(255, 150, 146, 0.5);
				}
			}
		}

		.position-top{
			position: absolute;
			width: 100%;
			height: 1.8rem;
			top: -1.3rem;
			opacity: 0;
		}

		.menu-pointer {
			width: 1.4rem;
			height: 1.4rem;
			border: 1px solid rgba(0, 0, 0, 0);
			position: absolute;
			left: 8rem;
			top: -0.7rem;
			transform: rotate(45deg);
			border-right: 0px;
			border-bottom: 0px;
			cursor: pointer;
		}

		.dropdown-item {
			padding: 2.3rem 2.1rem;
			width: 100%;
			color: #fff;
			white-space: normal;
			position: relative;

			::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 1rem;
				background: none;
				opacity: 0;
				left: 0;
				top: -1rem;
			}

			.title {
				text-transform: uppercase;
				font-size: 1.6rem;
				font-weight: $weight_bold;
			}

			.sub-description {
				font-size: 1.4rem;
				opacity: .8;
			}
		}
	}
}
