<div ngbDropdown
	#warrantyDrop="ngbDropdown"
	class="d-inline-block dropdown-content"
	*ngIf="warrantyService.hasFetchWarranty && deviceService.showWarranty && warrantyService.warrantyData?.isAvailable">
	<div class="dropdown-btn"
		id="header-warranty-icon"
		tabindex="1"
		attr.aria-label="lenovo warranty status: {{ warrantyService.warrantyData?.warrantyStatus == WarrantyStatusEnum.InWarranty ? 'in warranty' : 'warranty expired'}}"
		(keyup.enter)="$event.stopPropagation(); warrantyDrop.open();"
		ngbDropdownToggle>
		<div class="icon-con in-warranty"
			*ngIf="warrantyService.warrantyData?.warrantyStatus == WarrantyStatusEnum.InWarranty">
			<fa-icon [icon]="['fas', 'check']"></fa-icon>
		</div>
		<div class="icon-con"
			*ngIf="warrantyService.warrantyData?.warrantyStatus == WarrantyStatusEnum.WarrantyExpired">
			<fa-icon [icon]="['fas', 'exclamation']"></fa-icon>
		</div>
	</div>
	<div class="header-warranty-dropdown"
		[class.in-warranty]="warrantyService.warrantyData?.warrantyStatus == WarrantyStatusEnum.InWarranty"
		[class.expired]="warrantyService.warrantyData?.warrantyStatus == WarrantyStatusEnum.WarrantyExpired"
		ngbDropdownMenu
		aria-labelledby="header-warranty-icon">
		<div class="position-top"></div>
		<div class="menu-pointer"></div>
		<div class="dropdown-item"
			ngbDropdownItem>
			<div class="title pb-3"
				*ngIf="warrantyService.warrantyData?.warrantyStatus == WarrantyStatusEnum.InWarranty"
				id="header-in-warranty-title"
				role="heading">
				{{'support.warranty.titleInWarranty' | translate}}
			</div>
			<div class="title pb-3"
				*ngIf="warrantyService.warrantyData?.warrantyStatus == WarrantyStatusEnum.WarrantyExpired"
				id="header-expired-warranty-title"
				role="heading">
				{{'support.warranty.titleWarrantyExpired' | translate}}
			</div>

			<div class="sub-description pb-4">
				<div class="pb-1">
					<span id="header-warranty-start-date-name"
						role="text">{{'support.warranty.startDate' | translate}}</span>
					<b id="header-warranty-start-date-value"
						role="text">{{ warrantyService.warrantyData?.startDate | formatLocaleDate }}</b>
				</div>
				<div>
					<span id="header-warranty-end-date-name"
						role="text">{{'support.warranty.endDate' | translate}}</span>
					<b id="header-warranty-end-date-value"
						role="text">{{ warrantyService.warrantyData?.endDate | formatLocaleDate }}</b>
				</div>
			</div>

			<div class="button-box">
				<vtr-ui-button linkId="btn-header-warranty-options"
					[tabIndex]="1"
					metricsEvent="FeatureClick"
					metricsItem="ViewWarrantyOptionsButton"
					[metricsParent]="pageParent"
					buttonColor="gray"
					[isFullWidth]="true"
					[btnHeight]="true"
					[inRedBackground]="warrantyService.warrantyData?.warrantyStatus == WarrantyStatusEnum.WarrantyExpired"
					[label]="'support.warranty.viewWarrantyOptions' | translate"
					[href]="warrantyService.warrantyUrl"></vtr-ui-button>
			</div>
		</div>
	</div>
</div>