@import '../../../app.theme.scss';
::ng-deep {
	.vtr-page-security-password {
		color: $shade_blue;
		.vtr-subpage {
			.vtr-widget-offline-info {
				margin-top: $shift_up_small;
			}
		}

		.security-card {
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background-color: $light;
			padding: 1.5rem;
			.min-width-50 {
				min-width: 50%;
			}
			@media #{$black-on-white} {
				@include black-border;
			}
			@media #{$white-on-black} {
				@include white-border;
			}
		}

		.text-regular {
			font-size: 1.4rem;

			a {
				text-decoration: underline;
			}
		}

		vtr-widget-powered-by-info {
			.vtr-widget-powered-by-info {
				.product-logo {
					width: 12rem !important;
				}
			}
		}

		.vtr-page-right-column {
			@media #{$mediaquery_X5} {
				padding: 4rem 4rem 4rem 8.5rem;
			}
		}

		.text-margin {
			margin-bottom: 0.75rem;
		}

		.flex-1 {
			flex: 1;
		}

		.flex-100 {
			flex: 100;
		}
	}
}
