<vtr-page-layout [title]="'security.passwordManager.title' | translate"
	[textId]="'security-password'"
	[pageCssClass]="'security-password'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true"
	[back]="'common.ui.back' | translate"
	[backId]="'sa-pm-btn-back'">

	<left-content>
		<div class="col-12 p-0 mb-4" *ngIf="!isOnline">
			<vtr-widget-offline-info
				[title]="'dashboard.offlineInfo.title' | translate"
				[isSubtitleVisible]="false"
				[isButtonVisible]="false"></vtr-widget-offline-info>
		</div>
		<div class="container-fluid p-20 security-card pwd1">
			<vtr-ui-feature-heading
					appSearchName="search-password-protection"
					featureTitle="security.passwordManager.header"
					[description]="statusItem.status === 'installed' ? 'security.passwordManager.whatIsPmInstalled' : 'security.passwordManager.whatIsPmNotInstalled'"
					imgAlt="dashlane logo"
					imgSrc="assets/images/Dashlane-logo.png"></vtr-ui-feature-heading>
			<div class="row mt-20">
				<div class="col">
					<vtr-ui-security-statusbar [statusList]="[statusItem]">
					</vtr-ui-security-statusbar>
				</div>
			</div>
			<div class="mt-20" *ngIf="statusItem.status === 'not-installed' || statusItem.status === 'installing'">
				<vtr-ui-description-button
					metricsEvent="FeatureClick"
					metricsItem="getDashlane"
					id="sa-pm-btn-getdashlane"
					[isDisabled]="statusItem.status === 'installing' || isOnline === false"
					[label]="'security.passwordManager.getDashLane' | translate"
					[buttonPos]="'align-items-center'"
					[btnHeight]="true"
					[rightCol]="'max-width-50'"
					(buttonClick)="getDashLane()">
					<div class="text-regular mb-2">
						{{'security.passwordManager.startProtect' | translate}}</div>
					<div class="text-regular text-margin">
						{{'security.passwordManager.discount' | translate}}</div>
					<div class="text-regular">
						{{'security.passwordManager.offer' | translate}}</div>
				</vtr-ui-description-button>
			</div>
			<div class="mt-20" *ngIf="statusItem.status === 'installed'">
				<vtr-ui-description-button
					metricsEvent="FeatureClick"
					metricsItem="openDashlane"
					[label]="'security.passwordManager.openDashLane' | translate"
					id="sa-pm-btn-opendashlane"
					[isText]="false"
					[buttonPos]="'align-items-center'"
					[btnHeight]="true"
					(buttonClick)="openDashLane()">
					<p class="text-regular mb-0 p-1" *vtrTranslate="'security.passwordManager.learnMoreAbout' | translate">
						<a vtrMetrics
							id="sa-pm-lnk-learnmore"
							metricsEvent="ArticleClick"
							metricsItem="learnMoreAboutDashLane"
							metricsItemPosition="1"
							metricsPageNumber="1"
							[metricsItemID]="dashlaneArticleId"
							[metricsItemCategory]="dashlaneArticleCategory"
							href="javascript:void(0)"
							(click)="openDashLaneArticle()"
							target="_blank">
						</a>
					</p>
				</vtr-ui-description-button>
			</div>
		</div>
		<div class="container-fluid">
			<vtr-ui-feature-introduction [items]="featureIntroduction">
				<a vtrMetrics
					id="sa-pm-lnk-checkoutthisguide"
					metricsEvent="featureClick"
					metricsItem="checkOutThisGuide"
					href="https://www.dashlane.com/product/intro"
					target="_blank"></a>
			</vtr-ui-feature-introduction>
			<hr class="d-none d-lg-block">
			<vtr-widget-powered-by-info class="d-none d-lg-block"
				[title]="'security.passwordManager.poweredByDashLane'"
				[detail]="'common.securityAdvisor.privacyPolicyAndTermsOfService'"
				[imgUrl]="'assets/images/Dashlane-logo.png'"
				linkId="sa-pm-lnk"
				privacyUrl="https://www.dashlane.com/privacy"
				termsUrl="https://www.dashlane.com/terms">
			</vtr-widget-powered-by-info>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<!--Start of Security Card Advisor-->
			<div class="row mb-40">
				<div class="col col-12">
					<vtr-widget-security-status [securityAdvisor]="securityAdvisor"
						[linkId]="'password-health'">
					</vtr-widget-security-status>
				</div>
			</div>
			<!--End of Security Card Advisor-->
			<div class="row">
				<div class="col col-12">
					<vtr-container-card [item]="cardContentPositionA"
						[ratio]="2"
						type="subpage-corner"
						cornerShift="large"
						order="2"
						sideFlag="r"
						[containerCardId]="'sa-pm-modal'">
					</vtr-container-card>
				</div>
			</div>
			<hr class="d-lg-none">
			<vtr-widget-powered-by-info class="d-lg-none"
				[title]="'security.passwordManager.poweredByDashLane'"
				[detail]="'common.securityAdvisor.privacyPolicyAndTermsOfService'"
				[imgUrl]="'assets/images/Dashlane-logo.png'"
				linkId="sa-pm-lnk"
				privacyUrl="https://www.dashlane.com/privacy"
				termsUrl="https://www.dashlane.com/terms">
			</vtr-widget-powered-by-info>
		</div>
	</right-content>
</vtr-page-layout>
