@import "../../../app.theme.scss";
::ng-deep {
	.vtr-page-security-password {
		.vtr-subpage {
			.vtr-widget-offline-info {
				margin-top: $shift_up_small;
			}
		}

		.security-card {
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background-color: $light;
			padding: 1.5rem;
			.min-width-50 {
				min-width: 50%;
			}
		}

		.title {
			color: $main_dark;
			font-size: 4.2rem;
			font-weight: $weight_medium;
		}

		.heading {
			color: $main_dark;
			font-size: 2.5rem;
			font-weight: $weight_regular;
		}

		.sub-heading {
			color: $main_dark;
			font-size: 2rem;
			font-weight: $weight_medium;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}

		.list-heading {
			color: $main_dark;
			font-size: 2.4rem;
			font-weight: $weight_600;

			.adjust-left {
				padding-left: 0rem;
			}
		}

		.top-line {
			margin-top: 4rem;
			padding-top: 4rem;
			padding-bottom: 4rem;
			border-top: 0.2rem solid $shade_lighter;
		}

		.dashlane_logo_teal {
			width: 12rem;
		}

		.text-regular {
			color: $main_dark;
			font-size: 1.6rem;

			a {
				text-decoration: underline;
			}
		}

		.btn-round-xs {
			border-radius: 5rem;
			padding-left: 1rem;
			padding-right: 1rem;
			cursor: default;
		}

		.btn-round-sm {
			border-radius: 4.5rem;
			padding: 1rem 4rem 1rem 4rem;
			font-size: 1.8rem;
			font-weight: $weight_bold;
		}

		.dashlane-side-left-img {
			width: 90%;
		}

		.dashlane-side-right-img {
			width: 90%;
			float: right;
		}

		.learnmore {
			text-decoration: underline;
		}

		.bullet-list {
			margin-top: 1rem;
			list-style: none;
			padding: 0;

			li {
				margin: 0;
				padding: 1rem 1rem 1rem 0;
				color: $main_dark;

				.text-regular {
					color: $main_shade;
					font-size: 1.6rem;
				}

				&.good {
					.bullet-icon {
						.icon-bkg {
							background: $green_gradient;
							background-color: $go_dark;
							border-color: $green_dark;
						}
					}
				}

				&.bad {
					.bullet-icon {
						.icon-bkg {
							background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
							background-color: $stop_dark;
							border-color: $stop_dark;
						}
					}

					.detail {
						color: $stop;
					}

					.arrow {
						color: $stop;
					}
				}

				.bullet-icon {
					fa-icon {
						font-size: 3rem;
						color: $main;
						line-height: 0;
					}
					.icon-bkg {
						display: inline-block;
						border-radius: 50%;
						height: 3rem;
						width: 3rem;
						border-width: 0.2rem;
						border-style: solid;
						text-align: center;

						fa-icon {
							font-size: 1.6rem;
							line-height: 2.6rem;
							color: $light;
						}
					}

					.icon-installed {
						border-width: 9px;
						border-color: $main !important;
					}
				}
			}
		}

		.number-list {
			margin-top: 1rem;
			list-style: none;
			padding: 0;
			font-size: 90%;

			ol {
				margin: 0 0 1.5rem;
				padding: 0;
				counter-reset: listNumbering;
				box-sizing: border-box;
				li {
					margin: 0;
					padding: 0 0 0 2rem;
					text-indent: -2rem;
					list-style-type: none;
					counter-increment: listNumbering;
					&:before {
						display: inline-block;
						width: 1.5rem;
						padding-right: 0.5rem;
						text-align: left;
						font-size: 1.6rem;
						position: absolute;
						content: counter(listNumbering, decimal) ".";
						left: 0rem;
					}
				}
			}
		}

		.button-box {
			padding: 1rem 0rem !important;
			margin: 1.2rem 0rem;
			button {
				font-weight: bold;
				width: 100%;
				.text {
					color: #fff;
					font-size: 1.4rem;
				}
			}
		}

		.invitation-code-box {
			padding: 0.5rem;
			background-color: $shade_lightest;
			border: 0.1rem solid $shade_lighter;
			border-radius: $border_radius;
			text-align: center;
			height: 7rem;

			.sub-heading {
				margin-top: 1rem;
				color: $main_dark;
				font-size: 1.8rem;
				font-weight: $weight_medium;
				text-transform: uppercase;
				// margin-left: -5rem;
				word-break: break-all;
				word-wrap: break-word;
			}

			.text-regular {
				color: $main_dark;
				font-size: 2rem;
				font-weight: $weight_light;
			}
			.badge-pill {
				font-weight: normal;
				font-size: 1.2rem;
			}
		}

		vtr-widget-powered-by-info {
			.vtr-widget-powered-by-info {
				.product-logo {
					width: 12rem !important;
				}
			}
		}

		.vtr-page-right-column {
			@media #{$mediaquery_X5} {
				padding: 4rem 4rem 4rem 8.5rem;
			}
		}

		.text {
			color: $main_shade;
			font-size: 1.6rem;
		}

		.text-margin {
			margin-bottom: 0.75rem;
		}

		.flex-1 {
			flex: 1;
		}

		.flex-100 {
			flex: 100;
		}
	}
}
