@import '../../../app.theme';

.vtr-page-apps-for-you {
	.vtr-page-content {
		background: $shade_lightest;
		min-height: calc(-31.5rem + 100vh);
		padding: 0 $padding_side;

		@media #{$mediaquery_X4} {
			padding: 0 5rem;
		}

		.offline-content {
			margin-top: -5.3125rem;
		}

		.apps-header {
			margin-top: -5.3125rem;
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background-color: $light;
			padding: 4rem;
			height: 20rem;
			margin-bottom: 4rem;

			.logo-con {
				display: flex;
				align-items: center;
				height: 100%;

				.img-logo {
					width: 10rem;
					max-width: 100%;
				}
			}

			.app-name {
				display: flex;
				flex-flow: column;
				justify-content: center;
				padding-left: 1rem;

				.app-title {
					font-size: 2rem;
				}

				.app-price {
					font-size: 1.4rem;
					opacity: .8;
				}
			}

			.app-spinner {
				width: 6rem;
				height: 100%;
				margin-right: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;

				.spinner-border {
					width: 5rem;
					height: 5rem;
				}
			}


			.btn-content {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				position: relative;

				.btn-box {
					width: 100%;
					max-width: 25rem;
					::ng-deep {
						.vtr-ui-button .button-box {
							margin-top: 0;
						}
					}
				}

				.error-message {
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: 3.5rem;
					height: 6rem;
					padding-right: 0.5rem;
					line-height: 2rem;
					overflow: hidden;
					width: 100%;
					font-size: 1.6rem;
					color: $danger_dark;
					text-align: right;
				}
			}
		}

		.apps-content {
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background-color: $light;
			padding: 4rem;
			min-height: 20rem;
			font-size: 1.8rem;
			margin-bottom: 4rem;

			.title {
				color: $main;
				font-size: 2.4rem;
				font-weight: $weight_600;
			}

			.sub-title {
				font-weight: $weight_600;
			}



			.description-con {
				width: 100%;
			}

			.screenshot-con {
				width: 100%;

				.screenshot-slider {
					width: 100%;
					padding-top: 0.8rem;
					position: relative;

					.image-content {
						position: relative;
						width: 100%;
						overflow: hidden;

						.screenshot-img {
							position: absolute;
							width: 32%;
							top: 0;
							transition: left .3s;
							cursor: pointer;
							&.position-0 {
								left: -34%;
							}

							&.position-1 {
								left: 0;
							}

							&.position-2 {
								left: 34%;
							}

							&.position-3 {
								left: 68%;
							}

							&.position-4 {
								left: 102%;
							}

							&.position-5,
							&.position-6,
							&.position-7,
							&.position-8,
							&.position-9,
							&.position-10,
							&.position-11,
							&.position-12 {
								left: 102%;
							}

							img {
								width: 100%;
							}
						}
					}

					.arrow-content {
						.arrow {
							position: absolute;
							top: 50%;
							margin-top: -4rem;
							width: 3rem;
							height: 8rem;
							font-size: 4rem;
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
							opacity: .5;
							color: $shade_darker;
						}

						.left-arrow {
							left: 1rem;
						}

						.right-arrow {
							right: 1rem;
						}
					}

					&:hover {
						.arrow-content {
							.arrow {
								opacity: .8;

								&:hover {
									opacity: 1;
									color: $main;
								}
							}
						}
					}
				}
			}

			.information-con {
				width: 100%;

				.info-item {
					margin-bottom: 2rem;
				}

				.legal-agreement {
					text-decoration: underline;
				}
			}
		}

		.loading-content {
			width: 100%;
			height: 50vh;
			display: flex;
			justify-content: center;
			align-items: center;

			.spinner-border {
				width: 10rem;
				height: 10rem;
			}
		}
	}
}

:host-context(.is-gaming) {
	.vtr-page-apps-for-you {
		.vtr-page-content {
			background: $gaming_darkest;

			.apps-header,
			.apps-content {
				background: $dark_cell;
				color: $gaming_lightest;
			}
		}
	}
}
