@import "../../../styles/common-blocks";

$leftIndent: 7.5rem;

.breached-account {
	background-color: #F5F7F8;
	border: 1px solid #ECF0F1;
	border-radius: 5px;
	margin: 0 0 1.25rem 0;
	padding: 2rem;

	&--unverify {
		background-color: #EDF2F3;
		margin-top: 3rem;
	}

	&__image {
		display: flex;
		position: relative;
		align-items: center;
	}

	&__count {
		position: absolute;
		border-radius: 80px;
		padding: 3px;
		min-width: 16px;
		height: 16px;
		left: 3rem;
		bottom: 0.5rem;
		background-color: #E74C3C;
		text-align: center;
		color: #FFFFFF;
		font-size: 9px;
		font-weight: bold;
		line-height: 10px;
	}

	&__text {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-left: $leftIndent;
	}

	&__preview {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__img {
		flex-grow: 1;
		max-width: 4rem;
		max-height: 4rem;
		position: absolute;
	}

	&__social {
		display: flex;
		position: relative;
		align-items: center;
		min-height: 4.7rem;
		width: 33%;

		&--unverify {
			width: auto;
		}
	}

	&__social-description {
		width: 100%;
	}

	&__chips {
		width: 33%;
		display: flex;
	}

	&__chips-item {
		background-color: #FFFFFF;
		border: 1px solid #EBEBEB;
		border-radius: 12px;
		padding: 0.4rem 1.8rem 0.6rem 3.2rem;
		font-weight: bold;
		color: #667481;
		font-size: 11px;
		line-height: 14px;
		position: relative;

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&:before {
			content: "";
			position: absolute;
			left: 1rem;
			top: 50%;
			transform: translateY(-50%);
			width: 12px;
			height: 12px;
			background: none;
			background-size: contain;
		}

		&--password:before {
			background: url("src/assets/icons/privacy-tab/icon-password-red.svg") 0 0 no-repeat;
		}

		&--email:before {
			background: url("src/assets/icons/privacy-tab/icon-email-red.svg") 0 0 no-repeat;
		}
	}

	&__title {
		text-transform: uppercase;
		margin: 0;
		color: #34495E;
		font-size: 1.7rem;
		font-weight: bold;
		line-height: 2.3rem;
		display: block;
		max-width: 95%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&--red {
			color: red;
		}
	}

	&__credentials {
		padding: 0 0 0 0.5rem;
		margin: 1rem 0 0.6rem 0;
		border-left: 1px solid #E74C3C;
	}

	&__date {
		color: #34495E;
		font-size: 1.1rem;
		font-weight: bold;
		line-height: 1.4rem;
		margin-top: 0.5rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__details {
		width: 33%;
		text-align: right;
	}

	&__preview-link {
		@extend %button-link;

		display: none;

		&:before {
			display: none;
		}

		span {
			@extend %button-link__text;
			border-bottom: .25rem solid #4A81FD;
		}
	}

	&:hover .breached-account__preview-link {
		display: initial;
	}

	&__details-text {
		@extend %text-common;
		color: #C4C8CC;
	}

	&:hover .breached-account__details-text {
		display: none;
	}

	&__accordion-button {
		@extend %button-link;
		text-transform: capitalize;
		cursor: pointer;

		& span {
			cursor: pointer;
		}

		&--open {
			@extend %button-link--open;
		}

		&--to-right {
			text-transform: uppercase;
			@extend %button-link--to-right;

			& span {
				border-bottom: 1px solid #2D62D8;
			}
		}
	}

	&__description {
		padding: 2rem 2rem 2px $leftIndent;
	}

	&__action {
		padding-top: 3.5rem;
	}

	&__action-button {
		@extend %theme-btn;

		&:not(:first-child) {
			margin-left: 2.4rem;
		}
	}

	&__action-link {
		@extend %button-link;
		@extend %button-link--to-right;
		margin: 0 0 0 4rem;
	}

	&__show-more-text {
		@extend %button-link__text;
		display: inline-block;
		line-height: 1.8rem;
		border-bottom: 1px solid #4a81fd;
		color: #4A81FD;
	}
}
