<div class="row">
    <div class="col">
        <h1>{{'gaming.autoClose.title' | translate}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6">
        <vtr-container-card order="1" [itemID]="cardContentPositionF.Id" [img]="cardContentPositionF.FeatureImage"
            [title]="cardContentPositionF.Title" [logoText]="cardContentPositionF.BrandName"
            [action]="cardContentPositionF.Action" [dataSource]="cardContentPositionF.DataSource"
            [actionType]="cardContentPositionF.ActionType" [actionLink]="cardContentPositionF.ActionLink"
            [type]="'subpage-article'" [ratio]="1">
        </vtr-container-card>
    </div>
    <div class="col-xs-6 col-sm-6">
        <vtr-container-card order="2"
            [itemID]="cardContentPositionC.id" [dynamicmetricsItem]="dynamic_metricsItem"
            [img]="cardContentPositionC.FeatureImage" [caption]="cardContentPositionC.Description"
            [title]="cardContentPositionC.Title" [logoText]="cardContentPositionC.BrandName"
            [action]="cardContentPositionC.Action" [dataSource]="cardContentPositionC.DataSource"
            [actionType]="cardContentPositionC.ActionType" [actionLink]="cardContentPositionC.ActionLink"
            [type]="'subpage-corner'" [ratio]="2" [cornerShift]="'large'">
        </vtr-container-card>
    </div>
</div>