@import "../../../app.theme.scss";
.btn-container {
	position: relative;
}
.picker-container {
	position: relative;
	border-top: 0.2rem solid $gaming_darkest;
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(17, 25, 44, 0.8);
		z-index: 9;
		color: $gaming_lightest;
		font-size: 1.4rem;
		font-weight: $weight_bold;
		text-align: center;
		padding: 4rem;
		padding-top: 16rem;
		box-sizing: border-box;
		@media #{$high-contrast} {
			background-color: $screen_dark_50;
		}
		@media #{$black-on-white} {
			background-color: $gaming_light_05;
		}
	}

	.rgb-header {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-top: 2rem;
		.content-title {
			font-weight: $weight_medium;
			color: $gaming_lightest;
			font-size: 2rem;
			line-height: 2rem;
		}
		.fa-icon {
			font-size: 3rem;
		}
	}
	.wheel-container {
		display: flex;
		align-items: flex-end;
		//padding-bottom: 1.6rem;
		@media #{$large-screen-1} {
		}
	}
	.color-display {
		width: 0;
		height: 0;
		border: 0;
	}
	.rgb-values {
		margin-left: 0.9rem;
		.form-group {
			margin-left: 0.5rem;
			&:nth-last-child(1) {
				margin-bottom: 0 !important;
			}
			label {
				width: 2.4rem;
				font-size: 1.4rem;
				color: $gaming_lightest;
				padding-right: 1rem;
				padding-top: 0.5rem;
			}
			input {
				height: 3rem;
				width: 6rem;
				background: $white5;
				font-size: 1.4rem;
				color: $gaming_lightest;
				border: none;
				box-sizing: border-box;
				padding: 0.6rem;
			}
			.input-color {
				border-radius: 0.5rem;
				&#rgb-rgb {
					margin-left: 1.2rem;
				}
				@media #{$high-contrast} {
					border: 0.1rem solid windowText;
					color: buttonText;
				}
				&#rgb-rgb {
					@media #{$high-contrast} {
						border: 0.1rem solid windowText;
					}
				}
			}
		}
	}
	.color-codes {
		margin-top: 10rem;
		margin-left: 4rem;
	}
	.enable-button {
		background: $blueFill;
		border-radius: 2rem;
		color: $gaming_lightest;
		font-size: 1.4rem;
		text-align: center;
		font-weight: normal;
		height: 4rem;
		padding: 0rem 2rem;
		line-height: 2.86rem;
		text-transform: capitalize;
		@media #{$high-contrast} {
			border: 0.1rem solid windowText;
		}
		span {
			display: inline-block;
		}
		&:hover {
			background: $blueHover;
			@media #{$high-contrast} {
				background: none !important;
				background-color: none !important;
			}
		}
		&:focus {
			outline: none;
			&:before {
				content: "";
				position: absolute;
				top: -0.4rem;
				left: -0.4rem;
				right: -0.4rem;
				bottom: -0.4rem;
				border: 0.1rem solid $blueHover !important;
				width: calc(0.8rem + 100%);
				border-radius: 4rem;
				@media #{$high-contrast} {
					border-color: highlight !important;
				}
			}
		}
	}
	.disable-button {
		background: $gaming_shade !important;
		box-shadow: none !important;
		pointer-events: none;
		@media #{$high-contrast} {
			color: inactiveBorder;
			border-color: inactiveBorder;
		}
	}
	.backColorDpiv {
		height: 3rem;
		width: 4rem;
	}
	#color-wheel {
		position: relative;
		z-index: 8;
		::ng-deep {
			.reinvented-color-wheel,
			.reinvented-color-wheel--hue-wheel,
			.reinvented-color-wheel--hue-handle,
			.reinvented-color-wheel--sv-space,
			.reinvented-color-wheel--sv-handle {
				touch-action: manipulation;
				touch-action: none;
				-webkit-touch-callout: none;
				-webkit-tap-highlight-color: transparent;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			.reinvented-color-wheel {
				position: relative;
				display: inline-block;
				line-height: 0;
				border-radius: 50%;
				@media screen and (max-width: 993px) and (min-width: 992px) {
					transform: scale(0.7);
					transform-origin: 0% 100%;
				}
				@media screen and (max-width: 1200px) and (min-width: 1199px) {
					transform: scale(0.9);
					transform-origin: 0% 100%;
				}
				@media #{$mediaquery_XL100X} {
					transform: scale(1.4);
					transform-origin: 0% 100%;
				}
				@media #{$mediaquery_XXL350X} {
					transform: scale(1.4);
					transform-origin: 0% 100%;
				}
			}

			.reinvented-color-wheel--hue-wheel {
				border-radius: 50%;
			}

			.reinvented-color-wheel--sv-space {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				clip-path: circle(50% at 50% 50%);
			}

			.reinvented-color-wheel--hue-handle,
			.reinvented-color-wheel--sv-handle {
				position: absolute;
				box-sizing: border-box;
				border-radius: 50%;
				border: 2px solid white;
				box-shadow: 0 0 0 1px black inset;
			}

			.reinvented-color-wheel--hue-handle {
				pointer-events: none;
			}

			.reinvented-color-wheel--sv-space {
				clip-path: circle(50% at 50% 50%);
			}
		}
	}
	::ng-deep .vtr-spinner {
		.spinner {
			font-size: 2.6rem !important;
			padding: 0rem 2.2rem;
		}
	}
}
