@import "../../../app.theme.scss";

.picker-container {
	position: relative;
	border-top: 0.2rem solid $gaming_darkest;
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(17, 25, 44, 0.8);
		z-index: 9;
		color: $gaming_lightest;
		font-size: 2rem;
		font-weight: $weight_bold;
		text-align: center;
		padding: 4rem;
		padding-top: 16rem;
		box-sizing: border-box;
	}

	.rgb-header {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-top: 2rem;
		.content-title {
			font-weight: $weight_medium;
			color: $gaming_lightest;
			font-size: 2rem;
			line-height: 2rem;
		}
		.fa-icon {
			font-size: 3rem;
		}
	}
	.wheel-container {
		display: flex;
		align-items: flex-end;
		//padding-bottom: 1.6rem;
		@media #{$large-screen-1} {
		}
	}
	.color-display {
		width: 0;
		height: 0;
		border: 0;
	}
	.rgb-values {
		margin-left: 0.9rem;
		.form-group {
			margin-left: 0.5rem;
			&:nth-last-child(1){
				margin-bottom: 0 !important;
			}
			label {
				width: 2.4rem;
				font-size: 1.6rem;
				color: $gaming_lightest;
				padding-right: 1rem;
				padding-top: 0.5rem;
			}
			input {
				height: 3rem;
				width: 6rem;
				background: $white5;
				font-size: 1.6rem;
				color: $gaming_lightest;
				border: none;
				box-sizing: border-box;
				padding: 0.6rem;
			}
				.input-color {
				border-radius: 0.5rem;
				&#rgb-rgb {
					margin-left: 1.2rem;
				}
				@media #{$black-on-white}{
					border:0.1rem solid $gaming_darkest;
				}
				@media #{$white-on-black}{
					border:0.1rem solid $gaming_lightest;
				}
				&#rgb-rgb{
					@media #{$black-on-white}{
						border: $high-contrast-grey;
						border:0.1rem solid $dark;
					}
					@media #{$white-on-black}{
						background: $high-contrast-grey;
						border:0.1rem solid $light;
					}
				}
			}
		}
	}
	.color-codes {
		margin-top: 10rem;
		margin-left: 4rem;
	}
	.enable-button {
		background: $gradient_main;
		border-radius: 0.5rem;
		color: $light;
		font-size: $fontsize_sm;
		font-weight: 500;
		margin-left: -3rem;
		min-width: 14rem;
		text-align: center;
		font-weight: $weight_bold;
		height: 4.88rem;
		span {
			display: inline-block;
			padding: 0.6rem 0rem;
		}
	}
	.disable-button {
		background: $gaming_shade;
		box-shadow: none!important;
	}
	.backColorDpiv {
		height: 3rem;
		width: 4rem;
	}
	#color-wheel {
		position: relative;
		z-index: 8;
		::ng-deep {
			.reinvented-color-wheel,
			.reinvented-color-wheel--hue-wheel,
			.reinvented-color-wheel--hue-handle,
			.reinvented-color-wheel--sv-space,
			.reinvented-color-wheel--sv-handle {
				touch-action: manipulation;
				touch-action: none;
				-webkit-touch-callout: none;
				-webkit-tap-highlight-color: transparent;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			.reinvented-color-wheel {
				position: relative;
				display: inline-block;
				line-height: 0;
				border-radius: 50%;
				@media screen and (max-width: 993px) and (min-width: 992px)	{			
					transform: scale(0.7);
					transform-origin: 0% 100%;
				}
				@media screen and (max-width: 1200px) and (min-width: 1199px)	{			
					transform: scale(0.9);
					transform-origin: 0% 100%;
				}
				@media #{$mediaquery_XL100X} {
					transform: scale(1.4);
					transform-origin: 0% 100%;
				}
				@media #{$mediaquery_XXL350X} {
					transform: scale(1.4);
					transform-origin: 0% 100%;
				}
			}

			.reinvented-color-wheel--hue-wheel {
				border-radius: 50%;
			}

			.reinvented-color-wheel--sv-space {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				clip-path: circle(50% at 50% 50%);
			}

			.reinvented-color-wheel--hue-handle,
			.reinvented-color-wheel--sv-handle {
				position: absolute;
				box-sizing: border-box;
				border-radius: 50%;
				border: 2px solid white;
				box-shadow: 0 0 0 1px black inset;
			}

			.reinvented-color-wheel--hue-handle {
				pointer-events: none;
			}

			.reinvented-color-wheel--sv-space {
				clip-path: circle(50% at 50% 50%);
			}
		}
	}
	::ng-deep .vtr-spinner {
		.spinner {
			font-size: 2.6rem !important;
			padding: 0rem 2.2rem;
		}
	}
}
