<div class="vtr-ui-rectangle-radio" [ngClass]= "disabled ? 'disabled-class': ' '">
	<input id="{{radioId}}"
		name="{{group}}"
		type="radio"
		[value]="value"
		[checked]="checked"
		[disabled]="disabled"
		#radio
		(change)="onChange($event)"
		vtrMetrics
		metricsEvent="featureClick"
		[metricsItem]="'radio.'+label"
		[metricsValue]="!radio.checked"/>
	<label for="{{radioId}}">

		<span class="label">{{label}}</span>		
		<span class="{{iconName}} mt-3"></span>

		<span *ngIf="!hideIcon" [ngClass]="'icomoon icomoon-'+getIconName(label)"></span>
		<!--<fa-icon class="icon"
			[icon]="['far', 'gem']"></fa-icon>-->
		<span *ngIf="tooltip"
			class="question"
			placement="auto"
			ngbTooltip="{{tooltip}}"
			container="body">
			<fa-icon [icon]="['far', 'question-circle']"></fa-icon>
		</span>
	</label>
</div>
