<div class="vtr-ui-rectangle-radio">
	<input id="{{radioId}}"
		name="{{group}}"
		type="radio"
		[value]="value"
		[checked]="checked"
		[disabled]="disabled"
		(change)="onChange($event)" />
	<label for="{{radioId}}">
		<span>{{label}}</span>
		<fa-icon class="icon"
			[icon]="['far', 'gem']"></fa-icon>
		<span *ngIf="tooltip"
			class="question"
			placement="auto"
			ngbTooltip="{{tooltip}}"
			container="body">
			<fa-icon [icon]="['far', 'question-circle']"></fa-icon>
		</span>
	</label>
</div>
