@import "../../../app.theme";

.vtr-ui-rectangle-radio {
	box-sizing: border-box;
	background-color: $shade_lightest;
	display: inline-block;
	margin-right: 1.5rem;
	position: relative;
	width: 15rem;
	height: 15rem;
	border-radius: $border_radius_sm;
	@media #{$breakpoint_sm} {
		width: 13rem;
		height: 13rem;
	}

	label {
		box-sizing: border-box;
		padding: 0rem;
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		z-index: 2;
		overflow: hidden;

		&:before {
			box-sizing: border-box;
			position: absolute;
			left: 1.5rem;
			top: 2rem;
			width: 2.2rem;
			height: 2.2rem;
			content: "";
			border: 1px solid $main;
			background-color: $light;
			border-radius: 1rem;
			z-index: 2;
			cursor: pointer;
			transition: all 200ms ease-in;
		}

		&:after {
			box-sizing: border-box;
			position: absolute;
			left: 1.8rem;
			top: 2.3rem;
			width: 1.6rem;
			height: 1.6rem;
			content: "";
			background-color: $main;
			border-radius: 1rem;
			z-index: 2;
			cursor: pointer;
			transition: all 200ms ease-in;
		}

		.label {
			position: absolute;
			left: 4.8rem;
			top: 2.2rem;
			color: $main_darkest;
			font-size: 1.3rem;
			font-weight: bold;
			word-wrap: break-word;
			// word-break: break-all;
			padding-right: 1rem;
			text-transform: uppercase;
		}
		.icomoon{
			position:absolute;
			bottom:0.5rem;
			right:1.5rem;
			font-size:2rem;
		}

		fa-icon.icon {
			position: absolute;
			left: 9rem;
			top: 9rem;
			font-size: 3.2rem;
			color: $main;
		}

		span.question {
			position: absolute;
			left: 9.5rem;
			top: 9.3rem;
			font-size: 1.8rem;
			color: $main;
		}
	}

	input[type="radio"]:not(:checked) + label::after {
		opacity: 0;
		transition: all 1s ease;
	}
	input:checked + label::after {
		opacity: 1;
	}

	input {
		position: absolute;
		visibility: hidden;
	}&.border-blue {
		border: 0.3rem solid $main;
		// transition: all 50ms ease-in;
	}
	&.border-grey {
		border: 0.3rem solid $shade_lightest;
		// transition: all 50ms ease-in;
	}
}
.disabled-class{
	opacity: 0.7;
	border: 0.3rem solid $light-grey;

	label {
		&:after, &:before {
			border-color: $light-grey;
		}
		&:after {
			background-color: $light-grey;
		}
		&:hover {
			cursor: not-allowed;
		}
	}
}
.icomoon-Special-function, .icomoon-F1-F12-funciton {
	&:before {
		font-size: $svg_icon
	}
}
