<div id="{{ componentId }}" class="vtr-ui-hardware-list-test">
	<ul class="list-group modal-scroll">
		<li *ngFor="let item of items; let i = index"
			id="{{ componentId }}-item-{{ i }}"
			class="list-group-item" 
			attr.aria-labelledby="{{ componentId }}-item-{{ i }}-name"
			>
			<div class="module" [ngClass]="{'isSelected-item' : item.selected || item.indeterminate}">
				<div class="custom-control">
					<vtr-ui-checkbox
						#checkbox
						[componentId]="componentId + '-item-' + i"
						[ariaLabel]="('hardwareScan.pluginTokens.' + item.name | translateDefault:item.name)"
					 	[indeterminate]="item.indeterminate"
						(click)="onDeviceSelectionClicked(item,checkbox.checked)"
						[hasChild]="true"
						[checked]="item.selected"
						[value]="item.selected"
						class="custom-control-component"
					>
						<p id="{{ componentId }}-item-{{ i }}-name" role="text" class="custom-control-label-text name">
							{{ 'hardwareScan.pluginTokens.' + item.name | translateDefault:item.name }}
							<span id="{{ componentId }}-item-{{ i }}-subname" role="text"
								class="subname">{{ 'hardwareScan.pluginTokens.' + item.subname | translateDefault:item.subname }}</span>
						</p>
					</vtr-ui-checkbox>
				</div>

				<div class="col-auto">
					<div id="{{ componentId }}-item-{{ i }}-collapse-btn"
						class="collapse-control select-item"
						tabindex="0"
						[attr.aria-label]="('hardwareScan.pluginTokens.' + item.name | translateDefault:item.name) + (item.collapsed ? '-collapse-submodules-list': '-expand-submodules-list')"
						(click)="item.collapsed = !item.collapsed"
						(keyup.enter)="item.collapsed = !item.collapsed"
						role="button"
						[attr.aria-expanded]="item.collapsed">
						<fa-icon *ngIf="item.collapsed; else expandArrow" [icon]="['fal', 'angle-up']"></fa-icon>
						<ng-template #expandArrow>
							<fa-icon [icon]="['fal', 'angle-down']"></fa-icon>
						</ng-template>
					</div>
				</div>
			</div>
			<div id="{{ componentId }}-item-{{ i }}-subitems" class="sub-module" [ngbCollapse]="!item.collapsed" >
				<ul class="list-group">
					<li *ngFor="let test of item.tests; let j = index"
						id="{{ componentId }}-item-{{ i }}-subitem-{{ j }}"
						attr.aria-labelledby="{{ componentId }}-item-{{ i }}-subitem-{{ j }}-name"
						class="list-group-item"
						(change)=onCheckChildren(item)
						[ngClass]="{'isSelected-item' : test.selected}"
						>
						<div class="module">
							<div class="custom-control custom-checkbox">
								<vtr-ui-checkbox
									componentId="{{ componentId }}-item-{{ i }}-subitem-{{ j }}"
									[ariaLabel]="('hardwareScan.pluginTokens.' + item.name | translateDefault:item.name) + ('hardwareScan.pluginTokens.' + test.name | translateDefault:test.name)"
									[checked]="test.selected"
									[hasChild]="true"
									[value]="test.selected"
									(toggle)="test.selected = $event"
									class="custom-control-component"
								>
									<p class="name-test" id="{{ componentId }}-item-{{ i }}-subitem-{{ j }}-name" class="custom-control-label-text" role="text">
										{{ 'hardwareScan.pluginTokens.' + test.name | translateDefault:test.name }}
									</p>
								</vtr-ui-checkbox>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	<div class="options">
		<vtr-ui-hyperlink-button
			linkId="hwscan-select-all-tests-link"
			hyperlinkStyle="xs-300-blue-lighter"
			class="hyperlink-container"
			(hyperlinkClick)="onSelectAll()"
			[label]=" 'hardwareScan.select' | translate "
			[disableTooltip]="true"
			></vtr-ui-hyperlink-button>
		<span class="select-item-subtitle">/</span>
		<vtr-ui-hyperlink-button
			linkId="hwscan-deselect-all-tests-link"
			hyperlinkStyle="xs-300-blue-lighter"
			(hyperlinkClick)="onDeselectAll()"
			[label]=" 'hardwareScan.deselect' | translate "
			[disableTooltip]="true"
		></vtr-ui-hyperlink-button>
	</div>
</div>
