<div class="vtr-ui-hardware-list-test">
	<ul class="list-group modal-scroll">
		<li class="list-group-item" *ngFor="let item of items; let id = index"
			[ngClass]="{'isSelected-item' : item.selected || item.indeterminate}">
			<div class="module">
				<div class="custom-control">
					<vtr-ui-checkbox
						[id]="item.id"
						[componentId]="item.id"
						[ariaLabel]="item.name + '-checkbox'"
					 	[indeterminate]="item.indeterminate"
						(state)="onStateChange(item.id, $event)"
						[hasChild]="true"
						[checked]="item.selected"
						[value]="item.selected"
						class="custom-control-component"
					>
						<b>{{ item.name }}</b><span class="subname"> {{ item.subname }}</span>
					</vtr-ui-checkbox>
				</div>

				<div class="col-auto">
					<div class="collapse-control select-item"
						tabindex="0"
						[attr.aria-label]="item.collapsed ? item.name + '-collapse-submodules-list': item.name + '-expand-submodules-list'"
						(click)="item.collapsed = !item.collapsed"
						(keyup.enter)="item.collapsed = !item.collapsed"
						role="button"
						[attr.aria-expanded]="item.collapsed">
						<fa-icon *ngIf="item.collapsed; else expandArrow" [icon]="['fal', 'angle-up']"></fa-icon>
						<ng-template #expandArrow>
							<fa-icon [icon]="['fal', 'angle-down']"></fa-icon>
						</ng-template>
					</div>
				</div>
			</div>
			<div id="{{ id }}" class="sub-module" [ngbCollapse]="!item.collapsed" >
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let test of item.tests" (change)=onCheckChildren(item.id)>
						<div class="custom-control custom-checkbox">
							<vtr-ui-checkbox
								[id]="test.id + id"
								[componentId]="test.id + id"
								[ariaLabel]="item.name + test.name"
								[label]="test.name"
								[checked]="test.selected"
								[value]="test.selected"
								(toggle)="test.selected = $event"
								class="custom-control-component"
							>
							</vtr-ui-checkbox>
						</div>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	<div class="options">
		<a class="select-item" href="javascript:void(0);" (click)="onSelectAll()">{{select}}</a>
		<span class="select-item-subtitle">/</span>
		<a class="select-item" href="javascript:void(0);" (click)="onDeselectAll()">{{deselect}}</a>
	</div>

</div>
