@import "../../../app.theme";

$list-group-item: rgb(245, 247, 248);
$list-group-item-hover: rgb(236, 240, 241);
$list-group-item-border: rgb(230, 234, 235);
$list-group-item-selected: rgba(74, 129, 253, 0.1);
$list-group-item-selected-hover: rgba(74, 129, 253, 0.15);

.vtr-ui-hardware-list-test {
	padding-top: 1.5rem;

	.list-group {
		.list-group-item {
			border-color: $list-group-item-border !important;
			border-start-start-radius: 0.5rem 0.5rem 0 0 !important;
			border-end-end-radius: 0 0 0.5rem 0.5rem !important;
			padding: 0;
			background-color: $list-group-item;
			color: $main_dark;

			.module {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 3rem 0 1rem;
				height: 5.8rem;

				&:hover {
					background-color: $list-group-item-hover;
				}

				.rotate {
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}

			.sub-module {
				.list-group-item {
					display: flex;
					align-items: center;
					height: 5.8rem;
					padding: 0 4rem;
					border-radius: 0 !important;
					border-left: 0 !important;
					border-right: 0 !important;
					border-block-end: 0 !important;

					&:hover {
						background-color: $list-group-item-hover;
						border: none !important;
					}
				}
			}

			&:first-child {
				border-radius: 0.5rem 0.5rem 0 0 !important;
			}

			&:last-child {
				border-radius: 0 0 0.5rem 0.5rem !important;

				.sub-module {
					li:last-child {
						border-radius: 0 0 0.5rem 0.5rem !important;
					}
				}
			}

			.custom-control {
				display: inline-block;

				// modifying global checkbox component
				.custom-control-component ::ng-deep .auto-set-checkbox{
					margin: 0;

					// removing default p margin
					.custom-control-label {
						padding-left: 1rem;

						.custom-control-label-text {
							margin-bottom: 0;
						}
					}
				}
			}

			.name {
				font-size: $fontsize_xs;
				font-weight: $weight_600;
			}

			.subname {
				font-size: $fontsize_xs;
				font-weight: $weight_light !important;
			}

			.name-test {
				font-size: $fontsize_xs;
				font-weight: $weight_medium;
			}

			fa-icon {
				font-size: $fontsize_xl;
				cursor: pointer;
			}
		}

		.isSelected-item {
			background: $list-group-item-selected;
			border: none !important;

			&:hover {
				background: $list-group-item-selected-hover !important;
				border: none !important;

			}
		}
	}

	.modal-scroll {
		max-height: calc(100vh - 32rem);
		overflow-y: auto;
	}

	.options {
		padding: 1.1rem 0;
		font-size: $fontsize_xs;

		.select-item {
			color: $menu_hover;
			font-weight: $weight_light;
			border-bottom: 0.1rem solid $main;
			cursor: pointer;

			&:hover {
				border: none;
				text-decoration: none;
			}
		}

		.select-item-subtitle {
			padding: 0.5rem;
			font-weight: $shade_lighter;
			color: $shade_darker;
		}

		.collapse-control {
			cursor: pointer;

			fa-icon {
				font-size: $fontsize_lg;
				color: $blue_lightest;
				vertical-align: middle;
			}

			&:hover {
				opacity: 1;
			}

			&:focus {
				@include outline-blue;
			}
		}
	}
}
