<section class="exit-pitch">
	<vtr-fake-breaches></vtr-fake-breaches>
	<section class="exit-pitch__block-wrapper">
		<img class="exit-pitch__img"
			 src="assets/images/privacy-tab/main-exit-logo.png"
			 srcset="assets/images/privacy-tab/main-exit-logo@2x.png 2x"
			 alt="main exit logo">

		<h2 class="exit-pitch__title">Relaunch Lenovo Privacy Essentials</h2>

		<p class="exit-pitch__text">
			Get the most recent information about breaches and tracking tools.
		</p>

		<button class="exit-pitch__button"
				vtrOfflineMode
				vtrOpenFigleafInstaller
				vtrSendAnalytics
				[metricsEvent]="'ItemClick'"
				[metricsItem]="'Relaunch App'">
			Relaunch
		</button>
	</section>
</section>

