<div class="vtr-ui-description-button row col-12 d-flex justify-content-between">
	<div class="description text-regular align-self-center col-6 col-sm-7 col-md-8 col-lg-8 col-xl-8 p-0">
		<ng-content></ng-content>
	</div>
	
	<div class="described-button align-items-center col-6 col-sm-5 col-md-4 col-lg-4 col-xl-4 p-0 d-flex justify-content-end">
		<vtr-ui-button
			[vtrMetricEnabled]="vtrMetricEnabled"
			[metricsEvent]="metricsEvent"
			[metricsItem]="metricsItem"
			[metricsParent]="metricsParent"
			[metricsItemID]="metricsItemID"
			[metricsParam]="metricsParam"
			[metricsItemCategory]="metricsItemCategory"
			[metricsItemPosition]="metricsItemPosition"
			[metricsPageNumber]="metricsPageNumber"
			[tabIndex]="tabIndex"
			[upperCaseLabel]="upperCaseLabel"
			[btnHeight]="btnHeight"
			(onClick)="clickButton($event)"
			[isDisabled]="isDisabled"
			[label]="label"
			[linkId]="id">	
		</vtr-ui-button>	
	</div>
</div>
