<div class="vtr-widget-antivirus">
  <div class="description p-5 bg-white">
    <div class="title py-4" [innerHTML]="'security.antivirus.mcafee.topBenefits' | translate"></div>
    <div class="row">
      <div class="col-lg-6 col-12 row inner-body no-gutters">
        <img class="logo col-2 align-self-center"
        [src]=" '/assets/icons/SecurityAdvisor/Virus_Icon.svg' | svgInline | async" />
        <div class="height-line"></div>
        <div class="col-8">
          <div class="title" [innerHTML]="'security.antivirus.mcafee.awardTitle' | translate"></div>
          <div class="subtitle" [innerHTML]="'security.antivirus.mcafee.awardSubtitle' | translate"></div>
        </div>
      </div>
      <div class="col-lg-6 col-12 row inner-body no-gutters">
        <img class="logo col-2 align-self-center"
        [src]=" '/assets/icons/SecurityAdvisor/Multi_device.svg' | svgInline | async" />
        <div class="height-line"></div>
        <div class="col-8">
          <div class="title" [innerHTML]="'security.antivirus.mcafee.MultiTitle' | translate"></div>
          <div class="subtitle" [innerHTML]="'security.antivirus.mcafee.MultiSubtitle' | translate"></div>
        </div>
      </div>
      <div class="col-lg-6 col-12 row inner-body no-gutters">
        <img class="logo col-2 align-self-center"
        [src]=" '/assets/icons/SecurityAdvisor/Home_Network.svg' | svgInline | async" />
        <div class="height-line"></div>
        <div class="col-8">
          <div class="title" [innerHTML]="'security.antivirus.mcafee.networkTitle' | translate"></div>
          <div class="subtitle" [innerHTML]="'security.antivirus.mcafee.networkSubtitle' | translate"></div>
        </div>
      </div>
      <div class="col-lg-6 col-12 row inner-body no-gutters">
        <img class="logo col-2 align-self-center"
        [src]=" '/assets/icons/SecurityAdvisor/Password_Manager.svg' | svgInline | async" />
        <div class="height-line"></div>
        <div class="col-8">
          <div class="title" [innerHTML]="'security.antivirus.mcafee.passwordTitle' | translate"></div>
          <div class="subtitle" [innerHTML]="'security.antivirus.mcafee.passwordSubtitle' | translate"></div>
        </div>
      </div>
      <div class="col-lg-6 col-12 row inner-body no-gutters">
        <img class="logo col-2 align-self-center"
        [src]=" '/assets/icons/SecurityAdvisor/Online_Privacy.svg' | svgInline | async" />
        <div class="height-line"></div>
        <div class="col-8">
          <div class="title" [innerHTML]="'security.antivirus.mcafee.onlineTitle' | translate"></div>
          <div class="subtitle" [innerHTML]="'security.antivirus.mcafee.onlineSubtitle' | translate"></div>
        </div>
      </div>
      <div class="col-lg-6 col-12 row inner-body no-gutters">
        <img class="logo col-2 align-self-center"
        [src]=" '/assets/icons/SecurityAdvisor/Technical_Support.svg' | svgInline | async" />
        <div class="height-line"></div>
        <div class="col-8">
          <div class="title" [innerHTML]="'security.antivirus.mcafee.supportTitle' | translate"></div>
          <div class="subtitle" [innerHTML]="'security.antivirus.mcafee.supportSubtitle' | translate"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer d-none d-lg-block row justify-content-center mb-5">
      <div class="row px-0 justify-content-center align-items-center">
        <div class="px-0">
          <img class="mcafee-logo"
            [src]=" '/assets/images/mcafee_logo.svg' | svgInline | async" />
        </div>
        <p class="text-regular mt-10"
          *vtrTranslate="'security.antivirus.common.privacyTerms' | translate">
          <a id="sa-av-link-privacypolicy"
            vtrMetrics
            metricsEvent="itemClick"
            metricsItem="privacyPolicy"
            metricsParent="security.antivirus"
            href="https://www.mcafee.com/consumer/en-us/policy/global/legal.html"
            target="_blank"></a>
          <a id="sa-av-link-termsofservices"
            vtrMetrics
            metricsEvent="itemClick"
            metricsItem="termsOfServices"
            metricsParent="security.antivirus"
            href="https://www.mcafee.com/consumer/en-us/policy/global/legal.html"
            target="_blank"></a>
        </p>
      </div>
  </div>
</div>

