<div>
    <div class="title" id="support-detail-article-1-tittle" role="text">{{'faq.question1.title' | translate}}</div>
    <hr/>
    <div class="para1">{{'faq.question1.para1' | translate}}</div>
    <div class="heading1">{{'faq.question1.heading1' | translate}}</div>
    <hr/>
    <div class="mb-5">{{'faq.question1.para2' | translate}}</div>
    <div class="mb-5" >
        <img [src]="'assets/images/qa/' + langCode + '1.1.jpg'" />
    </div>
    <div class="mb-5">{{'faq.question1.para3' | translate}}</div>
    <div class="heading1">{{'faq.question1.heading2' | translate}}</div>
    <div class="mb-5">{{'faq.question1.para4' | translate}}</div>
    <div>
        <div class="mb-3">{{'faq.question1.para5.div1' | translate}}</div>
        <div class="mb-3">{{'faq.question1.para5.div2' | translate}}</div>
        <div class="mb-3">{{'faq.question1.para5.div3' | translate}}</div>
    </div>
</div>