<div class="subpage-device-settings-power vtr-subpage">
		<div class="btn-group btn-group-toggle"
		ngbRadioGroup
		style="margin-left:300px;margin-top:-150px;"
		[(ngModel)]="value">
		   <label class="btn-primary"
			ngbButtonLabel> 1
			   <input type="radio"
				ngbButton
				[value]="1" />
		   </label>
		   <label class="btn-primary"
			ngbButtonLabel> 2
			   <input type="radio"
				ngbButton
				[value]="2" />
		   </label>
	   </div>
	<div class="row">
		<div class="col">
			<vtr-ui-header-subpage [items]="headerMenuItems"
				[title]="title"
				[caption]="headerCaption"
				[menuTitle]="headerMenuTitle"></vtr-ui-header-subpage>
		</div>
	</div>

	<div *ngIf="value===1">
		<div class="row py-5 smartsettings-card"
			id="cooling">
			<div class="col-10 mx-auto ">
				<vtr-container-collapsible cardTitle="Power Smartsettings"
					[isCollapsed]="false"
					[allowCollapse]="false"
					[theme]="'blue'">
					<div class="row">
						<div class="col-auto text-wrap subtitle">
							<h3>Intelligent Cooling</h3>
							<p>This feature dynamically adjusts thermal settings to your needs. When on, it adjusts settings to keep the device cooler or quiet, while being held or idle. Otherwise, it optimizes performance while the device is on a stable surface. When off, you can manually set thermal priority.</p>
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="">
							<vtr-ui-row-switch [title]="'Intelligent cooling'"
								[caption]="''"
								[isSwitchVisible]=true
								[leftIcon]="['fas', 'search']"
								[readMoreText]="''"
								[showChildContent]="true"
								[theme]="'blue'"
								(toggleOnOff)="onIntelligentCoolingToggle($event)">
								<div class="my-3"
									*ngIf="!intelligentCooling">
									<!-- <vtr-ui-rectangle-radio [radioId]="'radio2'"
										[group]="'radio'"
										[label]="'PERFORMANCE'"
										[value]="'PERFORMANCE'"></vtr-ui-rectangle-radio>
									<vtr-ui-rectangle-radio [radioId]="'radio1'"
										[group]="'radio'"
										[label]="'QUIET & COOL'"
										[value]="'QUIET & COOL'"></vtr-ui-rectangle-radio> -->

								</div>
							</vtr-ui-row-switch>
						</li>
					</ul>
				</vtr-container-collapsible>
			</div>
		</div>
	</div>

	<div *ngIf="value===2">
	<div class="row py-5 smartsettings-card"
		id="cooling">
		<div class="col-10 mx-auto ">
			<vtr-container-collapsible cardTitle="Power Smartsettings"
				[isCollapsed]="false"
				[allowCollapse]="false"
				[theme]="'blue'">
				<div class="row">
					<div class="col-auto text-wrap subtitle">
						<h3>Intelligent Cooling</h3>
						<p>This feature dynamically adjusts thermal settings to your needs. When on, it adjusts settings to keep the device cooler or quiet, while being held or idle. Otherwise, it optimizes performance while the device is on a stable surface. When off, you can manually set thermal priority.</p>
					</div>
				</div>
				<ul class="list-group list-group-flush">
					<li class="">
						<vtr-ui-row-switch [title]="'Intelligent cooling'"
							[caption]="''"
							[isSwitchVisible]=true
							[leftIcon]="['fas', 'search']"
							[readMoreText]="''"
							[showChildContent]="true"
							[theme]="'blue'"
							(toggleOnOff)="onIntelligentCoolingToggle($event)">
							<div class="my-3"
								*ngIf="!intelligentCooling">
								<vtr-ui-rectangle-radio [radioId]="'radio1'"
									[group]="'radio'"
									[label]="'PERFORMANCE'"
									[value]="'PERFORMANCE'"></vtr-ui-rectangle-radio>
								<vtr-ui-rectangle-radio [radioId]="'radio2'"
									[group]="'radio'"
									[label]="'QUIET & COOL'"
									[value]="'QUIET & COOL'"></vtr-ui-rectangle-radio>

							</div>
						</vtr-ui-row-switch>
					</li>
				</ul>
			</vtr-container-collapsible>
		</div>
	</div>
</div>


	<div class="row py-5"
		id="battery">
		<div class="col-10 mx-auto ">
			<vtr-container-collapsible cardTitle="Battery Settings"
				[isCollapsed]="false">
				<ul class="list-group list-group-flush">

						<li class="">


						<vtr-ui-row-switch [title]="batterySettings[0].header"
							[caption]="batterySettings[0].subHeader"
							[isSwitchVisible]=true
							[leftIcon]="batterySettings[0].leftImageSource"
							[readMoreText]="batterySettings[0].readMoreText"
							[tooltipText]="batterySettings[0].tooltipText">
						</vtr-ui-row-switch>
					</li>
					<li class="">
						<vtr-ui-row-switch [title]="batterySettings[1].header"
							[caption]="batterySettings[1].subHeader"
							[isSwitchVisible]=true
							[leftIcon]="batterySettings[1].leftImageSource"
							[rightIcon]="batterySettings[1].rightImageSource"
							[readMoreText]="batterySettings[1].readMoreText"
							[showChildContent]="true"
							(toggleOnOff)="showBatteryThreshold=$event.switchValue;"
							[tooltipText]="batterySettings[1].tooltipText">
							<div *ngIf="showBatteryThreshold">
								<vtr-battery-charge-threshold-settings [title]="'Threshold for Built in battery'"
									[type]="'primary'">
								</vtr-battery-charge-threshold-settings>

								<vtr-battery-charge-threshold-settings [title]="'Threshold for Removable battery'"
									[type]="'secondary'">
								</vtr-battery-charge-threshold-settings>

								<vtr-battery-charge-threshold-settings [displayNoteOnly]="true">
								</vtr-battery-charge-threshold-settings>
							</div>
						</vtr-ui-row-switch>
					</li>
					<li class="">
						<vtr-ui-row-switch [title]="batterySettings[2].header"
							[caption]="batterySettings[2].subHeader"
							[isSwitchVisible]=true
							[leftIcon]="batterySettings[2].leftImageSource"
							[tooltipText]="batterySettings[2].tooltipText">
						</vtr-ui-row-switch>
					</li>
					<li class="">
						<vtr-ui-row-switch [title]="batterySettings[3].header"
							[caption]="batterySettings[3].subHeader"
							[isSwitchVisible]=true
							[leftIcon]="batterySettings[3].leftImageSource"
							[readMoreText]="batterySettings[3].readMoreText"
							[tooltipText]="batterySettings[3].tooltipText">

						</vtr-ui-row-switch>
					</li>

				</ul>
			</vtr-container-collapsible>
		</div>
	</div>

	<div class="row py-5"
		id="power">
		<div class="col-10 mx-auto ">
			<vtr-container-collapsible cardTitle="Power Settings"
				[isCollapsed]="false">
				<ul class="list-group list-group-flush">
					<li class=""
						*ngFor="let item of powerSettings">
						<vtr-ui-row-switch [title]="item.header"
							[caption]="item.subHeader"
							[isSwitchVisible]=true
							[leftIcon]="item.leftImageSource"
							[rightIcon]="item.rightImageSource"
							[tooltipText]="item.tooltipText">
						</vtr-ui-row-switch>
					</li>
				</ul>
			</vtr-container-collapsible>
		</div>
	</div>

	<div class="row py-5"
		id="other">
		<div class="col-10 mx-auto ">
			<vtr-container-collapsible cardTitle="Other Settings"
				[isCollapsed]="false">
				<ul class="list-group list-group-flush">
					<li class=""
						*ngFor="let item of otherSettings">
						<vtr-ui-row-switch [title]="item.header"
							[caption]="item.subHeader"
							[isSwitchVisible]=true
							[leftIcon]="item.leftImageSource">
						</vtr-ui-row-switch>
					</li>
				</ul>
			</vtr-container-collapsible>
		</div>
	</div>

</div>
