<div class="subpage-device-settings-power vtr-subpage">
	<div class="row">
		<div class="col">
			<vtr-ui-header-subpage [items]="headerMenuItems"
				[title]="'device.deviceSettings.power.title' | translate"
				[caption]="'device.deviceSettings.power.description' | translate"
				[menuTitle]="'device.deviceSettings.power.jumpto.title' | translate"
				[textId]="'myDevice-settings-power'"></vtr-ui-header-subpage>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<!-- ****************** Power Smart Settings Section ******************************** -->
			<vtr-power-smart-settings (isPowerSmartSettingHidden)="onSetSmartSettingsCapability(false)"
				*ngIf="!isDesktopMachine">
			</vtr-power-smart-settings>
			<!-- ****************** Power Smart Settings Section ******************************** -->

			<!-- ****************** Smart Standby Section ******************************** -->
			<vtr-smart-standby *ngIf="!isDesktopMachine"
				(smartStandbyCapability)="onSetSmartStandbyCapability($event)">
			</vtr-smart-standby>
			<!-- ****************** Smart Standby Section ******************************** -->

			<!-- ****************** Battery Section ******************************** -->
			<div *ngIf="isBatterySectionAvailable"
				class="row pt-5 smart-settings-card"
				id="battery">
				<div class="col-12 mx-auto container-card ">

					<vtr-container-collapsible
						[cardTitle]="'device.deviceSettings.power.batterySettings.title' | translate"
						[tabIndex]="0"
						[vtrAppSearchScroller]="['search-airplane-mode', 'search-charge-threshold']"
						[isCollapsed]="false"
						[collapseLinkId]="'device-settings-batterySettings'">
						<ul class="list-group list-group-flush">
							<li class=""
								*ngIf="machineType === 1 && chargeThresholdCapability && thresholdInfo?.length>0">
								<vtr-ui-row-switch
									[title]="'device.deviceSettings.power.batterySettings.batteryThreshold.title' | translate"
									[caption]="'device.deviceSettings.power.batterySettings.batteryThreshold.description' | translate "
									[isSwitchVisible]=true
									[isLastChild]="!conservationModeStatus.available && !expressChargingStatus.available && !gaugeResetCapability"
									[leftIcon]="['fal', 'battery-half']"
									[rightIcon]="['far', 'question-circle']"
									[showChildContent]="true"
									[isSwitchChecked]="chargeThresholdStatus"
									(toggleOnOff)="toggleBCTSwitch($event.switchValue)"
									[switchId]="'ds-power-battery-threshold'"
									[isDisabled]="batteryService.isGaugeResetRunning"
									[tooltipText]="'device.deviceSettings.power.batterySettings.batteryThreshold.tooltip' | translate">
									<div *ngIf="chargeThresholdStatus">
										<vtr-battery-charge-threshold-settings [title]="'device.deviceSettings.power.batterySettings.batteryThreshold.settings.title'
												+ thresholdInfo[0].batteryNum | translate"
											[isGaugeResetRunning]="batteryService.isGaugeResetRunning"
											[bctInfo]="thresholdInfo[0]"
											[textId]="thresholdInfo[0].batteryNum===1?'threshold-primary-battery': 'threshold-secondary-battery'"
											(changeBCTInfo)="onBCTInfoChange($event, 0)"
											(autoChecked)="onAutoCheckChange($event, 0)">
										</vtr-battery-charge-threshold-settings>

										<vtr-battery-charge-threshold-settings *ngIf="thresholdInfo.length===2"
											[title]="'device.deviceSettings.power.batterySettings.batteryThreshold.settings.title2' | translate"
											[isGaugeResetRunning]="batteryService.isGaugeResetRunning"
											[bctInfo]="thresholdInfo[1]"
											[textId]="'threshold-secondary-battery'"
											(changeBCTInfo)="onBCTInfoChange($event, 1)"
											(autoChecked)="onAutoCheckChange($event, 1)">
										</vtr-battery-charge-threshold-settings>

										<vtr-battery-charge-threshold-settings *ngIf="showBCTWarningNote"
											[displayNoteOnly]="true"
											[showBCTWarningNote]="showBCTWarningNote">
										</vtr-battery-charge-threshold-settings>
									</div>
								</vtr-ui-row-switch>
							</li>

							<li class="common-li-padding"
								*ngIf="gaugeResetCapability && batteryService.gaugeResetInfo?.length>0">
								<vtr-battery-gauge-reset></vtr-battery-gauge-reset>
							</li>

							<li class=""
								*ngIf="expressChargingStatus?.available">
								<vtr-ui-row-switch
									[title]="'device.deviceSettings.power.batterySettings.expressCharging.title' | translate"
									[name]="'device.deviceSettings.power.batterySettings.expressCharging.title' | translate"
									[caption]="'device.deviceSettings.power.batterySettings.expressCharging.description' | translate"
									[isSwitchVisible]=true
									[isLastChild]="!conservationModeStatus.available"
									[leftIcon]="['fal', 'battery-bolt']"
									[tooltipText]="'device.deviceSettings.power.batterySettings.expressCharging.tooltip' | translate"
									[isSwitchChecked]="expressChargingStatus.status"
									[disabled]="expressChargingLock"
									[showLoaderState]="false"
									[switchId]="'ds-power-battery-expressCharging'"
									[label]="'rapid charging, toggle button'"
									(toggleOnOff)="changeBatteryMode('expressCharging')">
								</vtr-ui-row-switch>
							</li>
							<li class=""
								*ngIf="conservationModeStatus?.available">
								<vtr-ui-row-switch
									[title]="'device.deviceSettings.power.batterySettings.conservationMode.title' | translate"
									[name]="'device.deviceSettings.power.batterySettings.conservationMode.title' | translate"
									[caption]="'device.deviceSettings.power.batterySettings.conservationMode.description' | translate"
									[isSwitchVisible]=true
									[isLastChild]=true
									[leftIcon]="['fal', 'battery-quarter']"
									[tooltipText]="'device.deviceSettings.power.batterySettings.conservationMode.tooltip.line1' | translate"
									[isSwitchChecked]="conservationModeStatus.status"
									[disabled]="conservationModeLock"
									[showLoaderState]="false"
									[switchId]="'ds-power-battery-conservationMode'"
									(toggleOnOff)="changeBatteryMode('conservationMode')">
								</vtr-ui-row-switch>
							</li>

						</ul>
					</vtr-container-collapsible>
				</div>
			</div>
			<!-- ****************** End Battery Section ******************************** -->

			<!-- ****************** Start Power Section ******************************** -->
			<div class="row pt-5 smart-settings-card"
				id="power"
				*ngIf="isPowerSectionAvailable">
				<div class="col-12 mx-auto container-card">
					<vtr-container-collapsible
						[cardTitle]="'device.deviceSettings.power.powerSettings.title' | translate"
						[tabIndex]="0"
						[vtrAppSearchScroller]="['search-usb-charging', 'search-easy-resume']"
						[isCollapsed]="false"
						[collapseLinkId]="'device-settings-powerSettings'">
						<ul class="list-group list-group-flush">
							<li class=""
								*ngIf="showAirplanePowerModeSection">
								<vtr-ui-row-switch
									[title]="'device.deviceSettings.power.batterySettings.airPlanePower.title' | translate"
									[name]="'device.deviceSettings.power.batterySettings.airPlanePower.title' | translate"
									[caption]="'device.deviceSettings.power.batterySettings.airPlanePower.description' | translate"
									[isSwitchVisible]=true
									[leftIcon]="['fal', 'plane']"
									[tooltipText]="'device.deviceSettings.power.batterySettings.airPlanePower.description' | translate"
									[isSwitchChecked]="toggleAirplanePowerModeFlag"
									[showChildContent]=true
									[switchId]="'ds-power-battery-airplane'"
									(toggleOnOff)="onToggleOfAirplanePowerMode($event.switchValue)">
									<div class="row">
										<div class="col px-5">
											<vtr-ui-checkbox [componentId]="'cb-airplane-mode'"
												[value]="airplaneAutoDetection"
												[checked]="airplaneAutoDetection"
												[label]="'device.deviceSettings.power.batterySettings.airPlanePower.checkBoxDesc' | translate"
												(toggle)='onAirplaneAutoModeStatusChange($event)'>
											</vtr-ui-checkbox>
											<label *ngIf="airplaneAutoDetection"
												id="power.batterySettings.airPlanePower.note"
												attr.aria-label="power.batterySettings.airPlanePower.note"
												class="auto-detection-note">
												{{  'device.deviceSettings.power.batterySettings.airPlanePower.note' | translate }}
											</label>
										</div>
									</div>
								</vtr-ui-row-switch>
							</li>
							<li *ngIf="showFlipToBootSection$ | async"
								class="common-li-padding">
								<vtr-ui-row-switch
									[title]="'device.deviceSettings.power.powerSettings.flipToBoot.title' | translate"
									[name]="'device.deviceSettings.power.powerSettings.flipToBoot.title' | translate"
									[caption]="'device.deviceSettings.power.powerSettings.flipToBoot.description' | translate"
									[isSwitchVisible]=true
									[isLastChild]=false
									[isSwitchChecked]='toggleFlipToBootStatus'
									[leftIcon]="['icomoon','icomoon-Flip-to-boot']"
									[rightIcon]="['far', 'question-circle']"
									[tooltipText]="'device.deviceSettings.power.powerSettings.flipToBoot.tooltip' | translate"
									[switchId]="'ds-power-flipToBoot'"
									(toggleOnOff)="onToggleOfFlipToBoot($event.switchValue)">
								</vtr-ui-row-switch>
							</li>
							<li class="common-li-padding"
								*ngIf="!isDesktopMachine && alwaysOnUSBStatus.available">
								<vtr-ui-row-switch
									[title]="'device.deviceSettings.power.powerSettings.alwaysUSB.title' | translate"
									[name]="'device.deviceSettings.power.powerSettings.alwaysUSB.title' | translate"
									[caption]="'device.deviceSettings.power.powerSettings.alwaysUSB.description' | translate"
									[isSwitchVisible]=true
									[isLastChild]="!showEasyResumeSection"
									[isSwitchChecked]="toggleAlwaysOnUsbFlag"
									[leftIcon]="['fab', 'usb']"
									[rightIcon]="[]"
									[showChildContent]="true"
									[tooltipText]=""
									[switchId]="'ds-power-alwaysUSB'"
									(toggleOnOff)="onToggleOfAlwaysOnUsb($event.switchValue)">
									<div class="row">
										<div class="col-auto justify-content-start align-items-center pr-2">
											<i class="icomoon icomoon-LE-Charging-USB2x"></i>
										</div>
										<div class="col-auto px-0 align-self-center seperator"
											id="always-on-usb-or"
											attr.aria-label="always-on-usb-or">
											{{'device.deviceSettings.power.powerSettings.or' | translate}}
										</div>
										<div class="col-auto pl-2">
											<i class="icomoon icomoon-LE-Charging-USB---SS2x"></i>
										</div>
									</div>
									<div class="row">
										<div class="col px-5">
											<vtr-ui-checkbox *ngIf="usbChargingInBatteryModeStatus"
												[componentId]="'cb-always-on-usb'"
												[disabled]="!toggleAlwaysOnUsbFlag"
												[value]="usbChargingCheckboxFlag"
												[checked]="usbChargingCheckboxFlag"
												[label]="'device.deviceSettings.power.powerSettings.alwaysUSB.checkbox' | translate"
												(toggle)='onUsbChargingStatusChange($event)'>
											</vtr-ui-checkbox>
										</div>
									</div>
								</vtr-ui-row-switch>
							</li>
							<li class="pt-2"
								*ngIf="!isDesktopMachine && showEasyResumeSection">
								<vtr-ui-row-switch
									[title]="'device.deviceSettings.power.powerSettings.easyResume.title' | translate"
									[name]="'device.deviceSettings.power.powerSettings.easyResume.title' | translate"
									[caption]="'device.deviceSettings.power.powerSettings.easyResume.description' | translate"
									[isSwitchVisible]=true
									[isLastChild]=true
									[isSwitchChecked]='toggleEasyResumeStatus'
									[leftIcon]="['icomoon','icomoon-LE-Easy-resume2x']"
									[rightIcon]="['far', 'question-circle']"
									[tooltipText]="'device.deviceSettings.power.powerSettings.easyResume.tooltip' | translate"
									[switchId]="'ds-power-easyResume'"
									(toggleOnOff)="onToggleOfEasyResume($event.switchValue)">
								</vtr-ui-row-switch>
							</li>
						</ul>
					</vtr-container-collapsible>
				</div>
			</div>
			<!-- ****************** End Power Section ******************************** -->


			<div class="row pt-5 smart-settings-card"
				id="other"
				*ngIf="vantageToolbarStatus.available">
				<div class="col-12 mx-auto container-card">
					<vtr-container-collapsible
						componentName="'device.deviceSettings.power.otherSettings.title' | translate"
						[tabIndex]="0"
						[vtrAppSearchScroller]="['search-vantage-toolbar']"
						[cardTitle]="'device.deviceSettings.power.otherSettings.title' | translate"
						[isCollapsed]="false"
						[collapseLinkId]="'device-settings-otherSettings'">
						<ul class="list-group list-group-flush">
							<li class="">
								<vtr-ui-row-switch
									[componentName]="'device.deviceSettings.power.otherSettings.title' | translate"
									[name]="'device.deviceSettings.power.otherSettings.title' | translate"
									[title]="'device.deviceSettings.power.otherSettings.vantageToolbar.title' | translate"
									[caption]="'device.deviceSettings.power.otherSettings.vantageToolbar.description' | translate"
									[isSwitchVisible]=true
									[isLastChild]=true
									[leftIcon]="['fal', 'thumbtack']"
									[isSwitchChecked]="vantageToolbarStatus.status"
									[switchId]="'ds-power-otherSettings-toolBar'"
									(toggleOnOff)="onVantageToolBarStatusToggle($event.switchValue)">
								</vtr-ui-row-switch>
							</li>
						</ul>
					</vtr-container-collapsible>
				</div>
			</div>
			<div class="row pt-5 smart-settings-card"
				*ngIf="isEnergyStarProduct">
				<div class="col-12 mx-auto container-card">
					<vtr-container-collapsible
						componentName="'device.deviceSettings.power.energyStar.title' | translate"
						[tabIndex]="0"
						[cardTitle]="'device.deviceSettings.power.energyStar.title' | translate"
						[isCollapsed]="false"
						[collapseLinkId]="'device-settings-power-otherSettings'">
						<div class="row energystar-container">
							<div class="col-3 col-sm-4 col-md-2">
								<img class="img-fluid mx-auto d-block"
									role="img"
									id="energystar-image"
									attr.aria-label="energystar-image"
									src="assets/images/energystar.png">
							</div>
							<div class="col-9 col-sm-8 col-md-10 pl-0 align-self-center">
								<p class="energystar-text"
									id="power-energyStar-description"
									attr.aria-label="power-energyStar-description">
									{{'device.deviceSettings.power.energyStar.description' | translate}}
								</p>
							</div>
						</div>

					</vtr-container-collapsible>
				</div>
			</div>
		</div>
	</div>
</div>
