@import "../../../../../app.theme";

.subpage-device-settings-power {
	.title {
		opacity: 0.8;
		color: $main_darker;
		font-size: 7rem;
		line-height: 8.2rem;
	}

	.icomoon{
		margin-left:1.8rem;
	}
	.left-border {
		border-left: 0.7rem solid $main;

		.subtitle {
			opacity: 0.8;
			color: $main_dark;
			font-size: 2.5rem;
			line-height: 4.3rem;
		}

		.jump-to-settings {
			color: $main_dark;
			font-size: 2.5rem;
			font-weight: bold;
			line-height: 3rem;
		}

		.btn-label {
			font-size: 2rem;
			line-height: 2.5rem;
			color: $main;
		}
	}
	// .container-card{
	// 	@media #{$black-on-white} {
	// 		//background-color: $high-contrast-grey;
	// 		border: 0.1rem solid $dark;
	// 		border-radius: 1rem;
	// 		box-sizing: border-box;


	// 	}
	// 	@media #{$white-on-black} {
	// 		//background-color: $high-contrast-grey;
	// 		border: 0.1rem solid $light;
	// 		border-radius: 1rem;
	// 		box-sizing: border-box;


	// 	}
	// }
	.smart-settings-card {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		&:last-child {
			padding-bottom: 3rem;
		}
		.subtitle {
			width: 100%;

			h3 {
				opacity: 0.8;
				color: $light;
				font-size: 1.6rem;
				line-height: 2.8rem;
				margin-top: 1.5rem;
				text-transform: capitalize;
			}

			p {
				opacity: 0.8;
				color: $light;
				font-size: 1.6rem;

				a {
					list-style: none;
					text-decoration: underline;
					color: $light;

					&:hover {
						list-style: none;
						color: $light;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.subtitle-its {
		border-top: 1px solid $screen_light_15;
		padding-top: 2.5rem;
	}

	.left-margin {
		margin-left: -3rem;
	}

	ul.list-group {
		list-style-type: none;
		padding-bottom: 1rem;
	}

	.disable {
		opacity: 0.65;
	}

	.search-icon {
		> fa-icon {
			font-size: 2rem;
			color: $light;
		}
	}

	.int-cool-text {
		font-size: 1.8rem;
		color: $light;
		letter-spacing: 0.05rem;
	}

	.settings-link {
		color: $light;
		font-size: 1.8rem;
		text-decoration: underline;
		cursor: pointer;
		float: right;
	}

	.read-more-link {
		color: $light;
		text-decoration: underline;
		cursor: pointer;
	}

	.question {
		color: $light;
		font-size: 2rem;
		cursor: pointer;
	}

	.always-on-usb-checkbox {
		margin: 1rem 0rem 1rem 0rem;
		font-size: 1.5rem;
	}

	.seperator {
		font-size: 2.5rem;
	}
	.icomoon:before {
		font-size: 4.5rem;
	}
	.custom-control-label {
		font-size: $caption;
		font-weight: $weight_bold;
		text-transform: uppercase;
		padding-left: 0.5rem;
		line-height: 1.15;

		// rounded square-box background
		&::before {
			top: 0.2rem;
			width: 1.5rem;
			height: 1.5rem;
		}

		// tick mark
		&::after {
			top: 0rem;
			width: 2rem;
			height: 2rem;
			left: -1.7rem;
		}
	}
	.cooling-modes {
		font-weight: $weight_bold;
	}
	.auto-detection-note {
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		// max-width: 60rem;
		color: $shade_blue;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 1.4rem;
		padding-bottom: 1.4rem;
		margin-top: 1rem;
		background-color: $grey_lighter;
		border: 0.1rem solid  $note_border;
	}

	.energystar-container {
		width: 100%;
		height: auto;
		padding: 1.5rem 0rem;
		border: 1px solid $shade_lightest;
		border-radius: $border_radius_sm;
		background-color: $shade_extralight;
		margin: 0.5rem 0rem 1.5rem 0rem;
		.energystar-text {
			color: $shade_blue;
			font-size: 1.5rem;
			font-weight: $weight_light;
			margin: 0.5rem 0 0 0;
			text-transform: uppercase;
			letter-spacing: 0.89px;
		}
		// .energystar-text {
		// 	@media #{$mediaquery_11} {
		// 		text-align: center;
		// 	}
		// }
	}
}
