@import "../../../../../app.theme";

.subpage-device-settings-power {
  .title {
    opacity: 0.8;
    color: $main_darker;
    font-size: 7rem;
    line-height: 8.2rem;
  }


  .left-border {
    border-left: 1rem solid $main;

    .subtitle {
      opacity: 0.8;
      color: $main_dark;
      font-size: 2.5rem;
      line-height: 4.3rem;
    }

    .jump-to-settings {
      color: $main_dark;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 3rem;
    }

    .btn-label {
      font-size: 2rem;
      line-height: 2.5rem;
      color: $main;
    }
  }

  .smartsettings-card {
    .subtitle {
      width: 100%;

      h3 {
        opacity: 0.8;
        color: $light;
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-top: 1.5rem;
        text-transform: capitalize;
      }

      p {
        opacity: 0.8;
        color: $light;
        font-size: 1.6rem;




        a {
          list-style: none;
          text-decoration: underline;
          color: $light;

          &:hover {
            list-style: none;
            color: $light;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .subtitle-its{
	border-top: 1px solid $screen_light_15;
	padding-top: 2.5rem;
  }

  .left-margin {
    margin-left: -3rem;
  }

  ul.list-group {
    list-style-type: none;
    padding-bottom: 1rem;
  }

  .disable {
    opacity: 0.65;
  }

  .search-icon {
    > fa-icon {
      font-size: 2rem;
      color: $light;
    }
  }

  .int-cool-text {
    font-size: 1.8rem;
    color: $light;
    letter-spacing: 0.05rem;
  }

  .settings-link {
    color: $light;
    font-size: 1.8rem;
    text-decoration: underline;
    cursor: pointer;
    float: right;
  }

  .read-more-link {
    color: $light;
    text-decoration: underline;
    cursor: pointer;
  }

  .question {
    color: $light;
    font-size: 2rem;
    cursor: pointer;
  }

  .always-on-usb-checkbox {
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.5rem;
  }

	.seperator{
		font-size:2.5rem;
	}
	.icomoon:before{
		font-size:4.5rem;
	}
  .custom-control-label {
	padding-left: 0.5rem;
	line-height: 1.15;

    // rounded square-box background
    &::before {
      top: 0.2rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    // tick mark
    &::after {
      top: 0rem;
      width: 2rem;
      height: 2rem;
      left: -1.7rem;
    }
  }
  .cooling-modes {
	  font-weight: $weight_bold;
  }
 .energystar-container{
  width: 100%;
  height:auto;
  padding: 1.5rem 0rem;
  border: 1px solid $shade_lighter;
		border-radius: $border_radius_sm;
		background-color: $shade_lightest;
		margin: 1rem 0rem 1.5rem 0rem;
  .energystar-text{
    color: $main_darker;
		font-size: 1.5rem;
		font-weight: $weight_bold;
		text-transform: uppercase;
		margin: 0.5rem 0 0 0;
  }
  .energystar-text{
    @media#{$mediaquery_11} {
      text-align: center;
    }
  }
}

.smart-standby-timer{
	margin-left: 2rem;
	h5{
		font-size: 1.4rem;
		color: $shade_blue;
		font-weight: $weight_bold;
		letter-spacing: 0.89px;
		line-height: 23px;
		margin: 0;
	}
	.sub-heading{
		font-size: 1.2rem;
		color: rgba(66,78,123,0.4);
		font-weight: $weight_bold;
		letter-spacing: 0.7px;
		line-height: 13px;
		padding-top: 1rem
	}
	.main-block{
	  border-bottom: 1px solid $shade_light;
	.timer-block{
		width: 70%;
		margin: 0;
		padding: 0;
	}
	.hours-block, .minutes-block, .am-pm {
	  .toggle-icon{
		  fa-icon{
			  font-size: 3rem;
			  color: #4579f0;
		  }
	  }
	  span {
		  color: $shade_light;
		  font-size: 1.6rem;
		  font-weight: 500;
		  line-height: 13px;
		  text-align: center;
		  display: block;
	  }
	}
	.minutes-block{
		border-left: 1px solid $shade_light;
		border-right: 1px solid $shade_light;
		padding: 0 5rem;
		@media #{$mediaquery_12} {
			padding: 0 3.5rem;
		}
	}
  }
  .select-close {
	  fa-icon{
		  color: #4579f0;
		  font-size: 2rem;
		  padding: 0 2.5rem;
	  }
  }
  .weekdays-block{
	box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.15);
	border-radius: 0.5rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;


	.card-header {
		background-color: $light;
	}

	.card-body {
		padding: 0;
	}
	.toggle-icon {
		fa-icon {
			color: #4579f0;
			font-size: 2rem;
		}
	}
	h5{
		color: $shade_blue;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 13px;
	}
	.custom-control-label{
		font-size: 1.6rem;
	}
	.custom-control-input:checked~.custom-control-label::before {
		border-color: #4579f0;
		background-color: #4579f0;
		box-shadow: none;
	}
	.custom-checkbox .custom-control-label::before {
		border-radius: 0%;
		box-shadow: none;
		border: 1px solid $shade_light;
	}

	.custom-control-label::before, .custom-file-label, .custom-select {
		transition-property: none;
	}
}
}
}
