<div class="gaming-help-popup">
	<div class="modal-header">
		<div class="modal-title" tabindex="-1">
			<img tabindex="-1" class="gaming-header-image" src="./../../../../assets/images/gaming/legionEdge.png"
				_ngcontent-c6="">
			</div>
		<button type="button" tabindex="1" class="close" (click)="closeModal()" aria-label="close">
			<fa-icon [icon]="['fas', 'times']"></fa-icon>
		</button>
	</div>

	<div class="modal-body" tabindex="-1">
		<div class="innerContent">
			<p [innerHTML]="'gaming.dashboard.device.legionEdgeModal.line1' | translate"></p>
			<p [innerHTML]="'gaming.dashboard.device.legionEdgeModal.line2' | translate"></p>
			<p [innerHTML]="'gaming.dashboard.device.legionEdgeModal.line3' | translate"></p>
			<p [innerHTML]="'gaming.dashboard.device.legionEdgeModal.line4' | translate"></p>
			<p [innerHTML]="'gaming.dashboard.device.legionEdgeModal.line6' | translate"></p>
			<p [innerHTML]="'gaming.dashboard.device.legionEdgeModal.line7' | translate"></p>
			<p [innerHTML]="'gaming.dashboard.device.legionEdgeModal.line8' | translate"></p>
			<p [innerHTML]="'gaming.dashboard.device.legionEdgeModal.line9' | translate"></p>
			<p [innerHTML]="'gaming.dashboard.device.legionEdgeModal.line11' | translate"></p>
		</div>
	</div>

</div>