@import '../../../app.theme.scss';
.gaming-help-popup{
	position: relative;
	background: $darkCell;
	color: $gaming_lightest;
	@media #{$high-contrast} {
		border: 1px solid windowText;
	}
	.modal-header{
		height: 7rem;
		padding: 3rem 4rem;
		border-bottom:none;
		.modal-title {
			img {
				height: 3rem;
				@media #{$high-contrast}{
					background-color: $darkCell;
				}
			}
		}
		.close {
			color: $white60;
			opacity: 1;
			font-size: 1.8rem;
			position: relative;
			top: -2rem;
			right: -3rem;
			&:hover {
				color: $white100;
			}
			@media #{$high-contrast} {
				color: buttonText;
			}
		}
	}
	.modal-body {
		padding: 0 4rem 3rem 4rem;
		width: 100%;
		.innerContent{
			width: 100%;
			background: $background;
			padding: 2rem;
			max-height: 48.5vh;
			overflow-y: auto;
			@media #{$high-contrast} {
				border: 1px solid windowText;
			}
			p {
				font-size: 1.6rem;
			}
		}
	}
}

::ng-deep{
	body.focus-enable{
		.is-gaming{
			.gaming-help-popup{
				&:focus{
					@include solid-button-outline;
					@media #{$high-contrast} {
						@include solid-button-outline(highlight);
					}
				}
				button.close,.innerContent{
					&:focus{
						@include solid-button-outline;
						@media #{$high-contrast} {
							@include solid-button-outline(highlight);
						}
					}
				}
			}
		}
	}
}