@import '../../../app.theme.scss';
.close {
	color: $white60;
	opacity: 1;
	font-size: 1.8rem;
	position: relative;
	top: 0.3rem;
	right: 0.4rem;
	z-index: 1;
	padding: 1rem;
	&:hover {
		color: $white100;
	}
	@media #{$high-contrast} {
		color: buttonText;
	}
}
.gaming-help-popup {
	position: relative;
	background: $darkCell;
	color: $gaming_lightest;
	@media #{$high-contrast} {
		border: 1px solid windowText;
	}
	.modal-header {
		height: 7rem;
		padding: 3rem 4rem;
		border-bottom: none;
		.modal-title {
			img {
				height: 3rem;
				@media #{$high-contrast} {
					background-color: $darkCell;
				}
			}
		}
	}
	.modal-body {
		padding: 0 4rem 3rem 4rem;
		width: 100%;
		.innerContent {
			width: 100%;
			background: $background;
			padding: 2rem;
			max-height: 48.5vh;
			overflow-y: auto;
			@media #{$high-contrast} {
				border: 1px solid windowText;
			}
			p {
				font-size: 1.6rem;
			}
		}
	}
}

::ng-deep {
	body.focus-enable {
		.is-gaming {
			vtr-modal-gaming-legionedge {
				button.close,
				.innerContent {
					&:focus {
						@include solid-button-outline;
						@media #{$high-contrast} {
							@include solid-button-outline(highlight);
						}
					}
				}
				.gaming-help-popup {
					&:focus {
						@include solid-dialog-legionedge-outline;
						@media #{$high-contrast} {
							@include solid-dialog-legionedge-outline(highlight);
						}
					}
				}
			}
		}
	}
}
