@import "../../../styles/common-blocks";

.article-preview {
	background: #fff;
	height: 100%;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;

	&__image {
		width: 100%;
		border-radius: 1rem 1rem 0 0;
	}

	&__description {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 100%;
		padding: 2rem 3rem 3.2rem 3rem;
	}

	&__title {
		color: #444F78;
		font-size: 2.2rem;
		line-height: 3.4rem;
		margin-bottom: 3.9rem;
	}

	&__read-more {
		@extend %button-link__text;
		color: #4A81FD;
		font-size: 1.3rem;
		font-weight: 500;
		text-transform: uppercase;
		cursor: pointer;

		&.offline-active {
			color: #D8D8D8;
		}
	}
}
