<div class="article-preview">
  <img class="article-preview__image" [src]="article.FeatureImage" alt="{{article.Title}}">
  <div class="article-preview__description">
    <h2 class="article-preview__title" vtrCutMultilineTextWithDots [textToAppend]="article.Title" title="{{article.Title}}"></h2>
    <div class="article-preview__read-more"
		 vtrSendAnalytics
		 [metricsEvent]="'ItemClick'"
		 [metricsItem]="'ArticlesReadMoreItem'"
		 [metricsParam]="{'ArticleId': article.ActionLink}"
		 (click)="openArticle.emit(article.ActionLink)">
		Read more</div>
  </div>
</div>
