<div class="article-preview">
	<div [ngClass]="{'offline-image-overlay': !isOnline}">
		<img class="article-preview__image"
			 (click)="openArticle.emit(article.ActionLink)"
			 vtrOfflineMode
			 vtrSendAnalytics
			 [metricsEvent]="'ArticleClick'"
			 [metricsItem]="'ArticlesReadMoreItem'"
			 [metricsParam]="{'ArticleId': article.ActionLink}"
			 [src]="isOnline ? article.FeatureImage : defaultSrc"
			 default="{{defaultSrc}}"
			 alt="{{article.Title}}">
	</div>
	<div class="article-preview__description">
		<h2 class="article-preview__title"
			[ngClass]="{'article-preview__title--offline': !isOnline}"
			vtrCutMultilineTextWithDots [textToAppend]="article.Title"
			title="{{article.Title}}"
			(click)="openArticle.emit(article.ActionLink)"
			vtrSendAnalytics
			[metricsEvent]="'ArticleClick'"
			[metricsItem]="'ArticlesReadMoreItem'"
			[metricsParam]="{'ArticleId': article.ActionLink}"
		></h2>
	</div>
</div>
