<div class="vtr-login-lenovo-id mb-4">
    <div class="chs-logo w-100 pb-5">
      <img src="../../../../assets//images/coronet-img.png" alt="">
    </div>
    <div class="chs-login-content row">
      <div class="col-7">
        <div class="text-regular mb-5">
          <p class="h3">Create your account</p>
          <p class="h1">with Lenovo ID</p>
        </div>
        <div class="mb-5">
          <ul class="list-unstyled">
            <li class="text pb-4">
              <div class="row">
                <div class="col-auto pl-0">
                  <div class="bullet-icon-check">
                    <div class="icon-bkg">
                      <fa-icon [icon]="['fas', 'check']">
                      </fa-icon>
                    </div>
                  </div>
                </div>
                <div class="col text-regular align-self-center">
                  Receive <b>notifications</b> about your home's status
                </div>
              </div>
            </li>
            <li class="text pb-4">
              <div class="row">
                <div class="col-auto pl-0">
                  <div class="bullet-icon-check">
                    <div class="icon-bkg">
                      <fa-icon [icon]="['fas', 'check']">
                      </fa-icon>
                    </div>
                  </div>
                </div>
                <div class="col text-regular align-self-center">
                    <b>Monitor</b> the safety of your family's devices
                </div>
              </div>
            </li>
            <li class="text">
              <div class="row">
                <div class="col-auto pl-0">
                  <div class="bullet-icon-check">
                    <div class="icon-bkg">
                      <fa-icon [icon]="['fas', 'check']">
                      </fa-icon>
                    </div>
                  </div>
                </div>
                <div class="col text-regular align-self-center">
                  Get <b>peace of mind</b> that you are protected at all times!
                </div>
              </div>
            </li>
          </ul>
        </div>
        <vtr-ui-button
            id="chs-tour-btn-login-lenovoId"
            [label]="'tutorial.signInLenovoId' | translate"></vtr-ui-button>
        <div class="chs-create-lenovoId">
          <span>I don't have a <strong>Lenovo ID</strong></span>
          <a href="javascript:void(0)"> Create a Lenovo ID</a>
        </div>
      </div>
      <div class="col-5">
        <div class="start-trial pl-5">
          <div class="text-regular mb-3">
            Proceed <b>without an account</b>
          </div>
          <vtr-ui-button
            class="trial-btn button-gray"
            id="chs-tour-btn-login-lenovoId"
            [label]="'tutorial.skipAndTrial' | translate"></vtr-ui-button>
        </div>
        <div class="chs-account pl-5">
          <div class="text-regular mb-4">
            I already have a <b>Connected Home Security Account</b>
          </div>
          <a href="javascript:void(0)">Login to existing CHS account</a>
        </div> 
      </div>
    </div>
		
	</div>
