$main_darkest: #1c2238;
$main_darker: #2f3447;
$main_dark: #194a65;
$main_shade: #697293;
$main_gstart: #2d5dcf;
$main: #4579f0;
$main_light: #5086cb;
$main_lighter: #b5d0f4;
$main_lightest: #eaf2fd;

$highlight: #2ec5eb;

$alt: #e02725;

$go: #2cd283;
$go_light: #31e4b6;
$go_dark: #11b85b;
$stop: #ea5545;
$stop_light: #f97264;
$stop_dark: #d94839;

$shade_extradark: #1b1b1b;
$shade_darkest: #333;
$shade_darker: #6b6b6b;
$shade_dark: #9d9d9d;
$shade: #adadad;
$shade_light: #c8cbcb;
$shade_lighter: #e6e6e6;
$shade_lightest: #f1f1f1;
$shade_extralight: #f6f8f8;

$light: #fff;
$dark: #000;

$screen_dark_05: rgba(0, 0, 0, 0.05);
$screen_dark_10: rgba(0, 0, 0, 0.1);
$screen_dark_15: rgba(0, 0, 0, 0.15);
$screen_dark_20: rgba(0, 0, 0, 0.2);
$screen_dark_30: rgba(0, 0, 0, 0.3);
$screen_dark_70: rgba(0, 0, 0, 0.7);

$screen_light_15: rgba(255, 255, 255, 0.15);

$drop_shadow: 0 0 1.5rem 0 $screen_dark_15;
$drop_shadow_1: 0 0 1rem 0 $screen_dark_15;
$text_shadow: 0 0 0.3rem $screen_dark_70;

$weight_light: 300;
$weight_regular: 400;
$weight_medium: 500;
$weight_bold: 700;
$weight_black: 900;

$shift_up_small: -6rem;
$shift_up_medium: -14rem;

$menu_height: 9rem;
$header_height: 20.5rem;

$padding_side: 10%;
$gradient_angle: 135deg;
$gradient_angle_reverse: 315deg;

$border_radius: 0.9rem;
$border_radius_sm: 0.6rem;

$gradient_main: linear-gradient(90deg, $main_gstart 0%, $main 100%);

$mediaquery_0: "only screen and (max-width : 3600px)";
$mediaquery_1: "only screen and (max-width : 3000px)";
$mediaquery_2: "only screen and (max-width : 2600px)";
$mediaquery_3: "only screen and (max-width : 2200px)";
$mediaquery_4: "only screen and (max-width : 1800px)";
$mediaquery_5: "only screen and (max-width : 1600px)";
$mediaquery_6: "only screen and (max-width : 1400px)";
$mediaquery_7: "only screen and (max-width : 1200px)";
$mediaquery_8: "only screen and (max-width: 800px)";

$drop_shadow: 0 0 1.5rem 0 $screen_dark_15;
$text_shadow: 0 0 0.3rem $screen_dark_70;

$weight_light: 300;
$weight_regular: 400;
$weight_medium: 500;
$weight_bold: 700;
$weight_black: 900;

$shift_up_small: -6rem;
$padding_side: 8.5rem;

// for battery indicator
$yellow: #e6e73c;
$yellow_light: #ffdf70;

// for security widget
$pink: #ff7d70;
$orange: orange;
$teal: #35e6b9;

$menu_height: 9rem;
$header_height: 20.5rem;
