<div [ngClass]="{'is-gaming':deviceService.isGaming, 'is-arm':deviceService.isArm}"
	tabindex="-1"
	attr.aria-label="{{ pageTitle | translate }}"
	id="main-wrapper"
	role="document">
	<vtr-menu-main
		[hidden]="!isMachineInfoLoaded || deviceService.isAndroid"
		[loadMenuItem]="machineInfo"
		>
	</vtr-menu-main>
	<div class="vtr-app container-fluid"
		[ngClass]="{'is-android': deviceService.isAndroid}">
		<div class="row">
			<div class="col p-0">
				<router-outlet (activate)="onActivate()"></router-outlet>
			</div>
		</div>
	</div>
</div>
