$main: #4561C2;
$main_dark: #305a90;
$main_darker: #2a476b;
$main_darkest: #1d2c40;
$main_light: #5086cb;
$main_lighter: #b5d0f4;
$main_lightest: #eaf2fd;

$highlight: #2EC5EB;

$go: #39CA0D;
$go_light: #B4F1A1;
$stop: #E72222;
$stop_light: #F3A09B;

$shade_extradark: #1B1B1B;
$shade_darkest: #333;
$shade_darker: #636363;
$shade_dark: #9D9D9D;
$shade_light: #C8CBCB;
$shade_lighter: #e6e6e6;
$shade_lightest: #F1F1F1;
$shade_extralight: #F8F8F8;

$light: #FFF;
$dark: #000;

$screen_dark_05: rgba(0,0,0,.05);
$screen_dark_20: rgba(0,0,0,.2);
$screen_dark_30: rgba(0,0,0,.3);
$screen_dark_70: rgba(0,0,0,.7);