<div [ngClass]="{'is-gaming':deviceService.isGaming, 'is-arm':deviceService.isArm}"
	class="default-theme"
	tabindex="-1"
	attr.aria-label="{{ pageTitle | translate }}"
	id="main-wrapper"
	role="document"
	cdkTrapFocus
	(dragstart)="onDragStart($event)"
	(drop)="onDrop($event)">
	<vtr-menu-main [hidden]="!isMachineInfoLoaded || deviceService.isAndroid"
		[machineInfo]="machineInfo"
		[isGaming]="isGaming">
	</vtr-menu-main>
	<div tabindex="-1"
		cdkScrollable
		class="vtr-app container-fluid"
		#pageContainer
		(scroll)="onPageScroll($event)"
		[ngClass]="{'is-android': deviceService.isAndroid}">
		<div class="row">
			<div class="col p-0">
				<router-outlet (activate)="onActivate($event)"></router-outlet>
			</div>
		</div>
	</div>
</div>
