@import "../app/font-styles.scss";
$main_darkest: #1c2238;
$main_darker: #2f3447;
$main_dark: #194a65;
$main_shade: #697293;
$main_gstart: #2d5dcf;
$main: #4579f0;
$main_light: #5086cb;
$main_lighter: #b5d0f4;
$main_lightest: #eaf2fd;
$menu_hover: #4a81fd;
//new added styles
$gaming_bg: #11192c;// as per VAN-11517
$gaming-Darkslate-blue: #233043;
$darkPopup: #293757;
$white5:rgba(251,253,255,0.05);
$white100:rgba(251,253,255,1);
$white60:rgba(251,253,255,0.6);
//
$dark_cell: linear-gradient(0deg, #2e4255, #293c4f);
$dark_popup_cell: linear-gradient(0deg, #435064, #3d4c5c);

$gaming_darkest: #1f2a42;
$gaming_darker: #253048;
$gaming_dark: #293c4f;
$gaming_shade: #293757;// updated as per VAN-11517
$gaming_gstart: #2d5dcf;
$gaming: #4579f0;
$gaming_light: #5086cb;
$gaming_lighter: #b5d0f4;
$gaming_lightest: #fbfdff;
$gaming_icon_gradient: linear-gradient(45deg, #3592ff, #0078ff);
$gaming_lighting_gradient: linear-gradient(-90deg, #0078ff, #3592ff);
$gaming_green_gradient: linear-gradient(90deg, #2fcc74, #33dfa6);
$gaming_switch_light: #f2f2f2;
$gaming_switch_dark: #6d6d6d;
$gaming-slate-blue: #30415a;
$gaming_blue_grey_light: #425067;
$gaming_grey_lightest: #aab0bc;
$gaming_hover: #545f76;
$gaming_dark_popup: #404d5f;
$gaming_light_02: rgba(255, 255, 255, 0.2);
$gaming_light_05: rgba(255, 255, 255, 0.5);
$gaming_light_08: rgba(255, 255, 255, 0.8);
$gaming_light_09: rgba(255, 255, 255, 0.9);
$gaming_info_link: #2776b5;
$gaming_info_link_hover: #3089c3;
$gaming_lighting_profile_bg: rgba(20, 29, 49, 0.45);
$gaming_light_blue: #047aff;
$gaming_hdd_border_clr: rgba(35, 38, 53, 0.8);
$gaming_hdd_ring: #6a7080;
$gaming_orange_grad: linear-gradient(90deg, #ff5900, #ff7b00);
$gaming_rightbg: linear-gradient(180deg, #151F36,50%, #11192c);
$highlight: #2ec5eb;
$highlight_bright: #53f9ff;

$shade_extradark: #1b1b1b;
$shade_darkest: #333;
$shade_darker: #6b6b6b;
$shade_dark: #9d9d9d;
$shade: #adadad;
$shade_light: #c8cbcb;
$shade_lighter: #e6e6e6;
$shade_lightest: #f1f1f1;
$shade_extralight: #f6f8f8;

$alt: #e02725;
$orange-light: #ff7e3e;
$yellow-dark: #e67e22;

$go: #2cd283;
$go_light: #31e4b6;
$go_lighter: #5eebc7;
$go_dark: #21c48a;

$go_dark: #11b85b;
$stop: #ea5545;
$stop_light: #f97264;
$stop_dark: #d94839;

$shade_extradark: #1b1b1b;
$shade_darkest: #333;
$shade_darker: #6b6b6b;
$shade_dark: #9d9d9d;
$shade: #adadad;
$shade_btn_light: #bdbcbc;
$shade_light: #c8cbcb;
$shade_lighter: #e6e6e6;
$shade_lightest: #f1f1f1;
$shade_extralight: #f6f8f8;
$shade_blue: #34495e;
$blue-dark: #24536d;
$blue-light: #2955bc;
$blue-lighter: #346cef;
$blue_lightest: #0078d7;
$light-grey: #788590;
$grey_darker: #34495e;
$border_light: #f8d5d5;
$text_light: #fef8f8;
$button_disable: #808080;
$button_disable_text: #8d9aa4;
$button_gradient_start: #2e62d9;
$button_gradient_end: #4980fc;
$button_red_start: #db221f;
$button_red_end: #ff5b4d;
$grey_dark: #667481;
$grey_light: #e6eaeb;
$grey_lighter: #f5f7f8;
$blueHyperLink: #346cef;
$green_darker: #00893a;
$green_dark: #008035;
$green-light: #00a886;
$black_dark: #101424;
$black_light: #424b6c;
$hover_gray: #c2c8ce;
$hover_dark: #191c28;
$active_blue : #5671ff;

$light: #ffffff;
$dark: #000;
$gray: #ccc;
$charcoal: #434343;
$purple_navy: #444f78;
$note_border: #ecf0f1;
$dim_gray: #707070;
$solitude: #fbfcfc;
$gray_out: #99A4AE;

// updated button color, hover & active effect
$btn_primary_color: #0073ff;
$btn_secondary_color: #2486ff;
$gaming_white60: rgba(251, 253, 255, 0.6);//as per VAN-11517
$gaming_white80: rgba(251, 253, 255, 0.8);// as per VAN-11517

$screen_dark_0: rgba(0, 0, 0, 0);
$screen_dark_05: rgba(0, 0, 0, 0.05);
$screen_dark_10: rgba(0, 0, 0, 0.1);
$screen_dark_15: rgba(0, 0, 0, 0.15);
$screen_dark_20: rgba(0, 0, 0, 0.2);
$screen_dark_30: rgba(0, 0, 0, 0.3);
$screen_dark_50: rgba(0, 0, 0, 0.5);
$screen_dark_70: rgba(0, 0, 0, 0.7);
$button_red_shadow: rgba(237, 88, 73, 0.25);

$screen_light_15: rgba(255, 255, 255, 0.15);

//gaming3.2.1 start ------------------------

//below are colors

$blueFill: #257eff;
//for most blue color in Gaming, such as button/icon/text,etc

$blueHover: #0160d6;
//when you hover on blue elements such as button

$green: #32d489;
//for the toggle

$background: #11192c;
//the whole background color for Gaming

$darkCell: #1f2a42;
// lots of containers/boxes on Gaming pages, this is the color of them

$darkPopup: #293757;
//this is for popups shown on page, including dropdown menu, popups

$shadow: rgba(0, 0, 0, 0.4);
//a shadow color for containers

//some white colors with differect opacities for different purposes
$white100: rgba(251, 253, 255, 1);
$white60: rgba(251, 253, 255, 0.6);
$white20: rgba(251, 253, 255, 0.2);
$white10: rgba(251, 253, 255, 0.1);
$white5: rgba(251, 253, 255, 0.05);

//usually in Gaming we do not need dark text but there are white dialogs, therefore some dark colors are needed
$darkText: #1A638B;
$lightText: #135579;
$dark40: rgba(17, 25, 44, 0.4);
$dark20: rgba(17, 25, 44, 0.2);
$dark10: rgba(17, 25, 44, 0.1);
$dark5: rgba(17, 25, 44, 0.05);

//gaming3.2.1 end -------------------------

$drop_shadow: 0 0 1.5rem 0 $screen_dark_15;
$drop_shadow_1: 0 0 1rem 0 $screen_dark_15;
$drop_shadow_gaming: 0 0 3.5rem 0 $screen_dark_30;
$text_shadow: 0 0 0.3rem $screen_dark_70;

$weight_light: 300;
$weight_regular: 400;
$weight_medium: 500;
$weight_bold: 700;
$weight_black: 900;
$weight_600: 600;

$shift_up_small: -6rem;
$shift_up_medium: -14rem;

$max_page_width: 160rem;
$menu_height: 9rem;
$header_height: 20.5rem;

$padding_side: 3.2rem;
$padding_side_sm: 5%;
$gradient_angle: 135deg;
$gradient_angle_reverse: 315deg;

$border_radius: 0.9rem;
$border_radius_sm: 0.6rem;

$gaming_hd_diameter_xl: 12rem;
$gaming_hd_diameter_lg: 10rem;
$gaming_hd_diameter_md: 8rem;
$gaming_hd_diameter_sm: 7rem;
$gaming_hd_diameter_xs: 6rem;

$gradient_main: linear-gradient(90deg, $main_gstart 0%, $main 100%);
$gradient_red: linear-gradient(103deg, $button_red_start 0%, $button_red_end 100%);
$gradient_red1: linear-gradient(135deg, $button_red_start 0%, $button_red_end 100%);
$gradient_gray: linear-gradient(90deg, $grey_lighter 0%, $light 100%);
$blue_gradient: linear-gradient(90deg, $blue-light 0%, $blue-light 100%);
$green_gradient: linear-gradient(135deg, $green_darker 0%, $green_light 100%);
$black_gradient: linear-gradient(122deg, $black_dark 0%, $black_light 100%);

//RESPONSIVE EFFORT - WIP - Using the font sizes below will standardize all font sizes throughout the app
$fontsize_xl4: 4.6rem;
$fontsize_xl3: 4rem;
$fontsize_xl2: 3.4rem;
$fontsize_xl: 2.4rem;
$fontsize_lg: 2rem;
$fontsize_md: 1.8rem;
$fontsize_sm: 1.6rem;
$fontsize_xs: 1.4rem;
$fontsize_xs2: 1.2rem;

// RESPONSIVE EFFORT - The only media queries that should be used are the breakpoints below
$breakpoint_sm: "only screen and (max-width: 575.99px)";
$breakpoint_md: "only screen and (max-width: 767.99px)";
$breakpoint_lg: "only screen and (max-width: 991.99px)";
$breakpoint_xl: "only screen and (max-width: 1199.99px)";
$breakpoint_xl2: "only screen and (max-width: 1400px)";
$breakpoint_xl3: "only screen and (max-width: 1600px)";
$breakpoint_xl4: "only screen and (max-width: 1800px)";
$breakpoint_xl5: "only screen and (max-width: 2200px)";
$breakpoint_xl6: "only screen and (max-width: 3000px)";

// RESPONSIVE EFFORT - The media queries below need to be depricated and removed from the app
$mediaquery_0: "only screen and (max-width: 3600px)";
$mediaquery_1: "only screen and (max-width: 3000px)";
$mediaquery_2: "only screen and (max-width: 2600px)";
$mediaquery_3: "only screen and (max-width: 2200px)";
$mediaquery_4: "only screen and (max-width: 1800px)";
$mediaquery_5: "only screen and (max-width: 1600px)";
$mediaquery_6: "only screen and (max-width: 1400px)";
$mediaquery_7: "only screen and (max-width: 1200px)";
$mediaquery_8: "only screen and (max-width: 1000px)";
$mediaquery_9: "only screen and (max-width: 900px)";
$mediaquery_10: "only screen and (max-width: 800px)";
$mediaquery_11: "only screen and (max-width: 769px)";
$mediaquery_12: "only screen and (max-width: 575px)";
$mediaquery_13: "only screen and (min-width: 576px) and (max-width: 735px)";
$mediaquery_14: "only screen and (min-width: 768px) and (max-width: 1366px) and (max-resolution: 125dpi)";
$mediaquery_15: "only screen and (max-width: 767px)";
$mediaquery_16: "only screen and (min-width: 531px) and (max-width: 585px)";
$mediaquery_17: "only screen and (min-width: 1196px) and (max-width: 1346px)";
$mediaquery_18: "only screen and (min-width: 1258px) and (max-width: 1271px)";
$mediaquery_19: "only screen and (min-width: 2160px) and (max-width: 3840px) and (max-resolution: 300dpi)";
$mediaquery_20: "only screen and (min-width: 350px) and (max-width: 500px)";
$mediaquery_21: "only screen and (min-width: 500px) and (max-width: 992px)";
$mediaquery_22: "only screen and (min-width: 1200px) and (max-width: 1280px)";
$mediaquery_23: "only screen and (max-width: 991px)";
$mediaquery_xl: "only screen and (max-width: 1199px)";
$mediaquery_lg: "only screen and (max-width: 992px)";
$mediaquery_lg_ex: "only screen and (width: 992px)";
$mediaquery_md: "only screen and (max-width: 768px)";
$mediaquery_sm: "only screen and (max-width: 576px)";
$mediaquery_X1: "only screen and (min-width: 800px) and (max-width: 1200px)";
$mediaquery_X2: "only screen and (min-width: 769px) and (max-width: 966px)";
$mediaquery_X3: "only screen and (max-width: 530px)";
$mediaquery_X4: "only screen and (max-width: 768px)";
$mediaquery_X5: "only screen and (min-width: 770px) and (max-width: 992px)";
$mediaquery_X6: "only screen and (min-width: 530px) and (max-width: 768px)";
$mediaquery_X7: "only screen and (min-width: 992px) and (max-width: 1195px)";
$mediaquery_X8: "only screen and (min-width: 769px) and (max-width: 990px)";
$mediaquery_X9: "only screen and (min-width: 770px) and (max-width: 872px)";
$mediaquery_X10: "only screen and (min-width: 874px) and (max-width: 1045px)";
$mediaquery_X11: "only screen and (min-width: 1201px) and (max-width: 1257px)";
$mediaquery_X12: "only screen and (min-width: 900px) and (max-width: 1440px)";
$mediaquery_X13: "only screen and (min-width: 900px) and (max-width: 1600px)";
$mediaquery_X14: "only screen and (min-width: 1080px) and (max-width: 1920px)";
$mediaquery_X15: "only screen and (min-width: 1080px) and (max-width: 1920px) and (max-resolution: 150dpi)";
$mediaquery_X16: "only screen and (min-width: 703px) and (max-width: 963px)";
$mediaquery_X17: "only screen and (min-width: 500px) and (max-width: 702px)";
$mediaquery_X18: "only screen and (min-width: 703px) and (max-width: 963px) and (max-resolution: 150dpi)";
$mediaquery_X19: "only screen and (min-width: 703px) and (max-width: 963px) and (max-resolution: 175dpi)";
$mediaquery_X20: "only screen and (min-width: 703px) and (max-width: 963px) and (max-resolution: 125dpi)";
$mediaquery_X21: "only screen and (min-width: 2160px) and (max-width: 3840px) and (max-resolution: 350dpi)";
$mediaquery_X22: "only screen and (min-width: 500px) and (max-width: 661px)";
$mediaquery_X23: "only screen and (min-width: 990px) and (max-width: 1040px)";
$mediaquery_X24: "only screen and (min-width: 703px) and (max-width: 963px) and (max-resolution: 300dpi)";
$mediaquery_X25: "only screen and (min-width: 703px) and (max-width: 963px) and (max-resolution: 350dpi)";
$mediaquery_X26: "only screen and (min-width: 769px) and (max-width: 837px)";
$mediaquery_X27: "only screen and (min-width: 993px) and (max-width: 1279px)";
$mediaquery_X28: "only screen and (max-width: 700px)";
$mediaquery_X29: "only screen and (min-width: 1346px) and (max-width: 1550px)";
$mediaquery_X30: "only screen and (min-width: 1030px) and (max-width: 1080px)";
$mediaquery_X31: "only screen and (min-width: 768px) and (max-width: 917px)";
$mediaquery_X32: "only screen and (min-width: 560px) and (max-width: 600px)";

$mediaquery_X34: "only screen and (min-width: 990px) and (max-width: 1336px)";
$mediaquery_X33: "only screen and (min-width: 770px) and (max-width: 992px)";
$mediaquery_X35: "only screen and (min-width: 995px) and (max-width: 1900px)";
$mediaquery_X36: "only screen and (min-width: 1880px) and (max-width: 2360px)";
$mediaquery_X37: "only screen and (min-width: 750px) and (max-width: 1000px)";
$mediaquery_X38: "only screen and (min-width: 992px) and (max-width: 1600px)";
$mediaquery_X39: "only screen and (min-width: 992px) and (max-width: 2600px)";
$mediaquery_X40: "only screen and (min-width: 770px) and (max-width: 991px)";
$mediaquery_X41: "only screen and (min-width: 600px) and (max-width: 991px)";
$mediaquery_X42: "only screen and (min-width: 992px) and (max-width: 1100px)";
$mediaquery_X43: "only screen and (min-width: 1366px)";
$mediaquery_X44: "all and (min-width: 992px)";
$mediaquery_X45: "only screen and (min-width: 992px) and (max-width: 1200px)";
$mediaquery_X46: "only screen and (min-width: 768px) and (max-width: 992px)";
$mediaquery_X47: "only screen and (min-width: 600px) and (max-width: 768px)";
$mediaquery_X48: "only screen and (max-width: 600px)";
$mediaquery_X49: "only screen and (min-width: 768px) and (max-width: 815px)";
$dpiquery_0: "max-resolution: 350dpi";
$dpiquery_1: "max-resolution: 275dpi";
$dpiquery_2: "max-resolution: 200dpi";
$dpiquery_3: "max-resolution: 150dpi";
$dpiquery_4: "max-resolution: 125dpi";
$dpiquery_5: "max-resolution: 100dpi";

$drop_shadow: 0 0 1.5rem 0 $screen_dark_15;
$text_shadow: 0 0 0.3rem $screen_dark_70;

$weight_light: 300;
$weight_regular: 400;
$weight_medium: 500;
$weight_bold: 700;
$weight_black: 900;

$shift_up_small: -6rem;

// for battery indicator
$yellow: #e6e73c;
$yellow_light: #ffdf70;

// for security widget
$pink: #ff7d70;
$orange: orange;
$teal: #35e6b9;

// for security score
$danger_dark: #ed5849;
$danger_light: #f97163;
$warning_dark: #ee5a08;
$warning_light: #ff7e3e;
$caution_dark: #ede549;
$caution_light: #f9e163;
$good_dark: #2fd07e;
$good_light: #34e1ad;

$percent_0_dark: $danger_dark;
$percent_0_light: $danger_light;
$percent_20_dark: $danger_dark;
$percent_20_light: $danger_light;
$percent_25_dark: $danger_dark;
$percent_25_light: $danger_light;
$percent_33_dark: $warning_dark;
$percent_33_light: $warning_light;
$percent_40_dark: $warning_dark;
$percent_40_light: $warning_light;
$percent_50_dark: $warning_dark;
$percent_50_light: $warning_light;
$percent_60_dark: $caution_dark;
$percent_60_light: $caution_light;
$percent_66_dark: $caution_dark;
$percent_66_light: $caution_light;
$percent_75_dark: $caution_dark;
$percent_75_light: $caution_light;
$percent_80_dark: $good_dark;
$percent_80_light: $good_light;
$percent_100_dark: $good_dark;
$percent_100_light: $good_light;

$menu_height: 9rem;
$header_height: 20.5rem;

$modal_top_margin: 8rem;

/*media screen sizes for gaming*/
$only-small-screen: "only screen and (max-width: 575.98px)";
$small-screen: "only screen and (max-width: 767.98px)";
$between-small-medium-screen: "only screen and (min-width: 400px) and (max-width: 768px)";
$medium-screen: "only screen and (min-width : 768px) and (max-width: 991.98px)";
$below-large-screen: "only screen and (min-width : 993px) and (max-width: 1199px)";
$large-screen-1: "only screen and (min-width : 1200px) and (max-width: 1366px)";
$large-screen: "only screen and (min-width : 1200px)";

/*large screen */
$mediaquery_XL100X: "only screen and (min-width: 1601px) and (max-width: 4000px) and (max-resolution: 100dpi)";
$mediaquery_XXL350X: "only screen and (min-width: 1601px) and (max-width: 4000px) and (min-resolution: 100dpi) and (max-resolution: 350dpi)";

/*media query for high contrast mode*/
$high-contrast-grey: #c0c0c0;
$black-on-white: "screen and (-ms-high-contrast: black-on-white)";
$white-on-black: "screen and (-ms-high-contrast: white-on-black)";
$screen_dark_01: rgba(0, 0, 0, 0.01);
$high-contrast-white-textselected: #37006e;
$high-contrast-blue: #0007a4;
$high-contrast-white-disabled: #600000;
$high-contrast-grey: #767879;
$high-contrast-black-textselected: #1aebff;
$high-contrast-black-disabled: #3be23b;
