$page_header: 5.75rem; /*-----46px-----*/
$sub_header: 4.25rem; /*-----34px-----*/
$title: 2rem; /*-----24px-----*/
$sub_title: 1.7rem; /*-----20px-----*/
$section_header: 2.25rem; /*-----18px-----*/
$base: 1.75rem; /*-----14px-----*/
$body: 1.75rem; /*-----14px-----*/
$caption: 1.5rem; /*-----12px-----*/
