$page_header: 5.6rem; /*-----56px-----*/
$sub_header: 4rem; /*-----40px-----*/
$title: 2.8rem; /*-----28px-----*/
$sub_title: 2.4rem; /*-----24px-----*/
$section_header: 3rem; /*-----30px-----*/
$base: 2rem; /*-----20px-----*/
$body: 2rem; /*-----20px-----*/
$caption: 1.4rem; /*-----14px-----*/
$svg_icon: 3rem; /*-----30px-----*/
$subpage_menu_title: 2rem;
