@import 'app.theme.scss';
@import '~@lenovo/material/theming';
@include mat-core();

$mat-van-theme-background: (
	high-contrast-white-dark-magenta: #370070,
	high-contrast-black-cyan: #00ebff,
	high-contrast-black-yellow: #ffff00,
	high-contrast-white-blue: #0000a2,
	high-contrast-black-disabled-green: #30f42c,
	high-contrast-white-disabled-maroon: #610000,
	button: (
		bg-primary: transparent linear-gradient(90deg, $blue-light 0%, $blue-lighter 100%) 0% 0%
			no-repeat padding-box,
		bg-primary-hover: $blue-light,
		bg-primary-active: $blueHyperLink,
		bg-accent: transparent linear-gradient(90deg, $grey_lighter 0%, $light 100%) 0% 0% no-repeat
			padding-box,
		bg-accent-hover: $grey_lighter,
		bg-accent-active: $light,
		bg-caution: transparent linear-gradient(90deg, $button_red_start 0%, $button_red_end 100%)
			0% 0% no-repeat padding-box,
		bg-caution-hover: $button_red_start,
		bg-caution-active: $button_red_end,
		bg-disabled: $grey_light,
	),
	checkbox: (
		bg-checkbox-unselected: $light,
		bg-checkbox-selected: $menu_hover,
		bg-checkbox-active: $shade_blue,
	),
	tooltips: (
		bg-tooltip: $light,
	),
	toggle: (
		bg-on: linear-gradient(135deg, $green_darker 0%, $green-light 100%),
		bg-on-thumb: $light,
		bg-on-pressed: $green-light,
		bg-on-hover: $green_darker,
		bg-off: $grey_light,
		bg-off-thumb: $shade_blue,
		bg-disabled: $shade_blue,
	),
	form-field: (
		bg-form-invalid: $text_light,
		bg-form-disabled: $grey_lighter,
		bg-select-panel: $light,
		bg-select-option: rgba($dark, 0.04),
	),
);

$mat-van-theme-foreground: (
	button: (
		color-disabled-text: rgba($grey_darker, 0.4),
		color-primary-text: $light,
		color-accent-text: $grey_darker,
		color-caution-text: $light,
		color-accent-hover-text: $grey_darker,
		color-focus-outline: $menu_hover,
		style-focus-outline: '',
		style-primary-border: none,
		style-accent-border: 0.1rem solid $grey_dark,
		style-caution-border: none,
		style-disabled-border: none,
		font-size-link: 1.2rem,
		font-size-link-button: 1.4rem,
		style-link-button-underline: 0.1rem solid $blueHyperLink,
		style-link-button-hover-underline: 0.1rem solid $blue-light,
		style-link-button-active-underline: 0.1rem solid $menu_hover,
		style-link-button-disabled-underline: 0.1rem solid rgba($grey_darker, 0.4),
		style-link-button-outline: none,
		color-link-button-text: $blueHyperLink,
		color-link-button-hover-text: $blue-light,
		color-link-button-active-text: $menu_hover,
		color-link-button-disabled-text: rgba($grey_darker, 0.4),
		color-link-button-icon-underline: $light,
		style-link-outline: 0.1rem solid $menu_hover,
		color-link-text: $blueHyperLink,
		color-link-hover-text: $blue-light,
		color-link-active-text: $menu_hover,
		color-link-disabled-text: $grey_darker,
	),
	checkbox: (
		color-checkbox-text: $grey_darker,
		color-checkbox-border: $grey_dark,
		color-checkbox-border-hover: $menu_hover,
		color-checkbox-border-disabled: $shade_blue,
		style-checkbox-focus-outline: 0.1rem solid $menu_hover,
		color-checkmark: $light,
		color-checkmark-active: $light,
		color-checkmark-disabled: $light,
		color-in-checkmark: $menu_hover,
		color-in-checkmark-active: black,
		color-in-checkmark-disabled: $grey_darker,
	),
	tooltips: (
		color-tooltip-text: $grey_darker,
		style-tooltip-border: 0.1rem solid $grey_darker,
	),
	toggle: (
		color-border-off: $grey_dark,
		style-shadow: (
			0px -0.15px 0px 2px $shade_extralight,
			-0.15px 0px 0px 3.7px $menu_hover,
		),
		style-shadow-high-contrast-white: (
			0px -0.15px 0px 2px $light,
			-0.15px 0px 0px 3.7px $dark,
		),
		style-shadow-high-contrast-black: (
			0px -0.15px 0px 2px $dark,
			-0.15px 0px 0px 3.7px $light,
		),
	),
	form-field: (
		color-select-text: $grey_darker,
		color-select-disabled-text: $grey_darker,
		color-select-option-text: $grey_darker,
		color-select-arrow: $grey_dark,
		style-select-panel-border: 0.1rem solid $dim_gray,
		color-form-border-rest: $grey_light,
		style-form-shadow: 0 0 15px $screen_dark_15,
		color-form-header: $shade_blue,
		color-form-border-hover: $grey_dark,
		color-form-border-focus: $menu_hover,
		color-form-invalid: $button_red_start,
		color-form-input: $grey_dark,
		opacity-form-header: 0.5,
	),
);
$van-theme: (
	100: $button_gradient_start,
	200: $button_red_start,
	contrast: (
		100: $dark,
		200: $light,
	),
);
$van-typography: mat-typography-config(
	$font-family: '"Segoe UI", sans-serif',
	$display-4: mat-typography-level(46px, 74px, 300, $letter-spacing: -0.05em),
	$display-3: mat-typography-level(34px, 54px, 400, $letter-spacing: -0.02em),
	$display-2: mat-typography-level(24px, 38px, 400, $letter-spacing: -0.005em),
	$display-1: mat-typography-level(20px, 32px, 400),
	$headline: mat-typography-level(18px, 30px, 400),
	$body-2: mat-typography-level(14px, 24px, 500),
	$body-1: mat-typography-level(14px, 24px, 400),
	$caption: mat-typography-level(11px, 18px, 400),
	$button: mat-typography-level(1.4rem, 1.4rem, 700),
);
$van-ui-theme: mat-vcl-theme(
	(
		color: (
			primary: mat-palette($van-theme, 100),
			accent: mat-palette($van-theme, 200),
			foreground: $mat-van-theme-foreground,
			background: $mat-van-theme-background,
		),
	)
);
$van-ui-layout: (
	button: (
		layout-min-width: 12rem,
		layout-min-height: 3.6rem,
		layout-margin: 0.5rem,
		layout-line-height: 1.5,
		layout-border-radius: 3rem,
		layout-outline-offset: 0.5rem,
	),
	checkbox: (
		layout-checkbox-border-radius: 0.2rem,
		layout-checkbox-border-width: 0.1rem,
		layout-checkbox-size: 2rem,
		layout-checkbox-stroke-size: 0.2rem,
		layout-checkbox-inner-margin: 0.3rem,
		layout-checkbox-outline-offset: 0.2rem,
	),
	toggle: (
		layout-toggle-height: 2.4rem,
		layout-bar-border-radius: 2rem,
		layout-bar-width: 4.6rem,
		layout-bar-height: 2rem,
		layout-thumb-size: 1.4rem,
		layout-spacing: 0.8rem,
		layout-border-width: 0.1rem,
		layout-ripple-radius: 0,
	),
	form-field: (
		layout-select-panel-max-height: 25.6rem,
		layout-select-item-height: 2.5rem,
		layout-select-panel-padding: 1.5rem,
		layout-select-arrow-size: 0.5rem,
		layout-select-arrow-length: 1.2rem,
		layout-select-arrow-margin: 0.4rem,
		layout-form-title-font-weight: 600,
		layout-form-font-size: 1.4rem,
		layout-form-line-height: 1.5,
		layout-form-text-padding: 0.5rem,
		layout-form-label-font-size: 1.2rem,
		layout-form-label-line-height: 1.125,
	),
);
@include angular-material-layout($van-ui-layout);
@include angular-material-typography($van-typography);
@include angular-material-theme($van-ui-theme);

.mat-dialog-container {
	background-color: $light;
	box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
	border-radius: 0.6rem !important;
	padding: 2.4rem;
}

@media (min-width: 768px) {
	.modal-sm {
		max-width: 300px !important;
	}
}
@media (min-width: 992px) {
	.modal-lg {
		max-width: 800px !important;
	}
}

button:focus {
	outline: none;
}

.mat-customize-button {
	.mat-button-wrapper {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.mat-customize-button,
.mat-checkbox,
.mat-tooltip,
.mat-tooltip-handset {
	font-family: inherit;
}

.mat-checkbox .mat-checkbox-input {
	width: 2rem;
	height: 2rem;
	left: 0.1rem;
	bottom: 0.1rem;
}

.mat-form-field-appearance-fill-customize.mat-form-field-invalid {
	.mat-form-field-flex {
		border-color: $button_red_start !important;
		box-shadow: none !important;
	}
	.mat-input-element {
		color: $button_red_start !important;
	}
}

.cdk-overlay-pane .mat-dialog-container {
	padding-top: 2rem;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

	.closeButton {
		top: -1rem;
		right: 0rem;
		height: 2.4rem;
		width: 2.4rem;
		color: $grey_darker;
		z-index: 2;

		&:focus {
			outline: 0.1rem solid $menu_hover;
		}
		&:hover {
			color: $menu_hover;
		}
	}

	@media #{$black-on-white} {
		outline: none !important;
		@include black-border;
	}

	@media #{$white-on-black} {
		outline: none !important;
		@include white-border;
	}
}

.mat-tooltip.vtr-tooltip,
.mat-tooltip-handset.vtr-tooltip {
	max-width: 24.2rem;
	padding: 1.2rem;
	margin: 0.5rem;
	border: none;
	border-radius: 0.4rem;
	color: $main_dark;
	font-size: 1.4rem;
	background-color: $light;
	filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
	@media #{$black-on-white} {
		border: 0.1rem solid;
		filter: drop-shadow(0 0 0 $light);
	}
	@media #{$white-on-black} {
		border: 0.1rem solid;
	}
	@media #{$breakpoint_xl6} {
		max-width: 44.2rem !important;
	}
	@media #{$breakpoint_xl3} {
		max-width: 32.5rem !important;
	}
	@media #{$breakpoint_xl} {
		max-width: 24.2rem !important;
	}
	.vtr-ui-hyperlink-button {
		display: block;
	}
}

.mat-tooltip.vtr-system-tooltip,
.mat-tooltip-handset.vtr-system-tooltip {
	z-index: 10002; // need higher than modal z-index: 10001
	padding: 0.8rem;
	margin: 0.5rem;
	color: $main_dark;
	border-radius: 0rem;
	background-color: $light;
	border: 0.1rem solid $grey_dark;
	font-size: 1.2rem;
	text-align: left;
	max-width: 24.2rem;

	@media #{$breakpoint_xl} {
		max-width: 24.2rem !important;
	}

	&.text-capitalize {
		text-transform: capitalize;
	}

	.vtr-ui-hyperlink-button {
		display: block;
	}
}

.mat-tooltip.fcc-note-tooltip,
.mat-tooltip-handset.fcc-note-tooltip {
	width: 20rem;
	a {
		&:focus {
			@include outline-border-blue;
		}
	}

	.vtr-ui-hyperlink-button {
		display: block;
	}
}

.mat-tooltip.fnctrl-tooltip,
.mat-tooltip-handset.fnctrl-tooltip {
	width: 30rem;
	padding: 0.5rem;

	.vtr-ui-hyperlink-button {
		display: block;
	}
}

.mat-tooltip.tooltip-click,
.mat-tooltip-handset.tooltip-click {
	max-width: 40rem;
	padding: 1.2rem;
	margin: 0.5rem;
	border: none;
	border-radius: 0.4rem;
	color: $grey_dark;
	font-size: $fontsize_xs;
	background-color: $light;
	filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));

	.vtr-ui-hyperlink-button {
		display: block;
	}

	span {
		font-weight: $weight_600;
	}

	.reboot-text {
		text-decoration: none;
		color: $orange-light;
		font-weight: bold;

		fa-icon {
			padding-right: 1rem;
			font-size: 1.6rem;
		}
	}

	.read {
		color: $menu_hover;
		text-decoration: underline;
		padding: 0.2rem;
		border: 0.1rem solid transparent;
		&:focus {
			outline: none;
			border: 0.1rem solid $menu_hover;
			@media #{$high-contrast} {
				border: 0.1rem solid $high-contrast-black-textselected !important;
			}
			@media #{$white-on-black} {
				border: 0.1rem solid $light !important;
			}
			@media #{$black-on-white} {
				border: 0.1rem solid $dark !important;
			}
		}
		@media #{$white-on-black} {
			@include black-border;
		}
		@media #{$black-on-white} {
			@include white-border;
		}
	}

	.ignore {
		color: $menu_hover;
		text-decoration: underline;
		padding: 0.2rem;
		border: 0.1rem solid transparent;
		&:focus {
			outline: none;
			border: 0.1rem solid $menu_hover;
			@media #{$high-contrast} {
				border: 0.1rem solid $high-contrast-black-textselected !important;
			}
			@media #{$white-on-black} {
				border: 0.1rem solid $light !important;
			}
			@media #{$black-on-white} {
				border: 0.1rem solid $dark !important;
			}
		}
		@media #{$white-on-black} {
			@include black-border;
		}
		@media #{$black-on-white} {
			@include white-border;
		}
	}
	@media #{$white-on-black} {
		@include white-border;
	}
	@media #{$black-on-white} {
		@include black-border;
	}
	&.show {
		opacity: 1;
	}

	ul {
		padding: 0;
		margin-bottom: 0;

		li {
			list-style: none;
		}
	}
}
