@import 'app.theme';

.is-gaming {
	$mat-van-gaming-theme-background: (
		high-contrast-white-dark-magenta: #370070,
		high-contrast-black-cyan: #00ebff,
		high-contrast-black-yellow: #ffff00,
		high-contrast-white-blue: #0000a2,
		high-contrast-black-disabled-green: #30f42c,
		high-contrast-white-disabled-maroon: #610000,
		toggle: (
			bg-on: linear-gradient(135deg, $green_darker 0%, $green-light 100%),
			bg-on-thumb: $light,
			bg-on-pressed: $green-light,
			bg-on-hover: $green_darker,
			bg-off: $grey_light,
			bg-off-thumb: $shade_blue,
			bg-disabled: $shade_blue,
		),
		checkbox: (
			bg-checkbox-unselected: $light,
			bg-checkbox-selected: $menu_hover,
			bg-checkbox-active: $shade_blue,
		),
	);

	$mat-van-gaming-theme-foreground: (
		toggle: (
			color-border-off: $grey_dark,
			style-shadow: (
				0px -0.15px 0px 2px $shade_extralight,
				-0.15px 0px 0px 3.7px $menu_hover,
			),
			style-shadow-high-contrast-white: (
				0px -0.15px 0px 2px $light,
				-0.15px 0px 0px 3.7px $dark,
			),
			style-shadow-high-contrast-black: (
				0px -0.15px 0px 2px $dark,
				-0.15px 0px 0px 3.7px $light,
			),
		),
		checkbox: (
			color-checkbox-text: $light,
			color-checkbox-border: $grey_dark,
			color-checkbox-border-hover: $menu_hover,
			color-checkbox-border-disabled: $shade_blue,
			style-checkbox-focus-outline: 0.1rem solid $menu_hover,
			color-checkmark: $light,
			color-checkmark-active: $light,
			color-checkmark-disabled: $light,
			color-in-checkmark: $menu_hover,
			color-in-checkmark-active: black,
			color-in-checkmark-disabled: $grey_darker,
		),
	);
	$van-ui-layout: (
		toggle: (
			layout-toggle-height: 2.4rem,
			layout-bar-border-radius: 2rem,
			layout-bar-width: 4.6rem,
			layout-bar-height: 2rem,
			layout-thumb-size: 1.4rem,
			layout-spacing: 0.8rem,
			layout-border-width: 0.1rem,
			layout-ripple-radius: 0,
		),
		checkbox: (
			layout-checkbox-border-radius: 0.2rem,
			layout-checkbox-border-width: 0.1rem,
			layout-checkbox-size: 2rem,
			layout-checkbox-stroke-size: 0.2rem,
			layout-checkbox-inner-margin: 0.3rem,
			layout-checkbox-outline-offset: 0.2rem,
		),
	);
	$van-theme: (
		100: $blueHover,
		200: $button_red_start,
		contrast: (
			100: $dark,
			200: $light,
		),
	);
	$van-typography: mat-typography-config(
		$font-family: '"Segoe UI", sans-serif',
	);
	$van-ui-gaming-theme: mat-vcl-theme(
		(
			color: (
				primary: mat-palette($van-theme, 100),
				accent: mat-palette($van-theme, 200),
				foreground: $mat-van-gaming-theme-foreground,
				background: $mat-van-gaming-theme-background,
			),
		)
	);
	@include angular-material-typography($van-typography);
	@include angular-material-color($van-ui-gaming-theme);
	@include angular-material-layout($van-ui-layout);

	.mat-dialog-container {
		background-color: $light;
		box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
		border-radius: 0.6rem !important;
		padding: 0;
		overflow-x: hidden;
	}

	.mat-slide-toggle.mat-disabled .mat-slide-toggle-bar {
		background-color: $grey_light;
	}

	.mat-slide-toggle.mat-checked.mat-disabled .mat-slide-toggle-thumb {
		background-color: $shade_blue;
	}

	.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
	.mat-checkbox-checked.mat-accent .mat-checkbox-background {
		background-color: $menu_hover;
	}

	.mat-checkbox .mat-checkbox-label {
		color: $light;
	}

	.mat-checkbox .mat-checkbox-ripple {
		opacity: 0;
	}
}
