<div class="modal-body vtr-modal-eticket">
  <div class="row justify-content-end">
      <button type="button" class="close" aria-hidden="true" (click)="closeModal()">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
  </div>

  <div class="row modal-information">
		<div class="title">{{ title }}</div>
  </div>

  <br />

  <div class="row modal-information">
		<div class="description">{{ ticketDescription1 }}</div>
  </div>

  <br />

  <div class="row modal-information">
		<div class="broken">{{ moduleNames }}</div>
  </div>


  <br />

  <div class="row modal-information">
		<div class="description">{{ ticketDescription2 }}</div>
  </div>

  <div class="row">
		<div class="col button-row">
      <a class="action-button" id="lenovoSupportTicket" (click)="closeModal()" target="_blank">{{ buttonText }}</a>
		</div>
  </div>



</div>

