<div class="trackers-page"
	 vtrSendAnalytics
	 [metricsEvent]="'PageView'">
	<div class="trackers-page__header">
		<vtr-feature-header
			[texts]="textForFeatureHeader"
			[isFeatureWasScanned]="(isWebsiteTrackersWasScanned$ | async) && (isConsentGiven$ | async)"
			[countOfIssue]="websiteTrackersCount$ | async"
			[isFigleafReadyToCommunication]="isFigleafReadyForCommunication$ | async">
			<span class="trackers-page__title--red">{{websiteTrackersCount$ | async}}</span> tracking tools found
		</vtr-feature-header>
		<button class="trackers-concent__btn"
				*ngIf="(isFigleafReadyForCommunication$ | async) && (websiteTrackersCount$ | async) > 0"
				(click)="openFigleafApp()">
			Block in lenovo privacy
		</button>
	</div>
	<div class="trackers-concent"
		 *ngIf="!(isConsentGiven$ | async) && !(isTrackersBlocked$ | async)">
		<div class="trackers-concent__text-wrapper">
			<p class="trackers-concent__text">
				Show me what tracking tools are collecting information about me.
			</p>
		</div>
		<div class="trackers-concent__btn-wrapper">
			<button class="trackers-concent__btn"
					vtrSendAnalytics
					[metricsEvent]="'ItemClick'"
					[metricsItem]="'WebsiteTrackersPermissionToAccessButton'"
					(click)="giveConcent()">
				Accept & scan
			</button>
		</div>
	</div>

	<vtr-tracking-map [animate]="true"></vtr-tracking-map>
	<vtr-try-product-block
		*ngIf="(websiteTrackersCount$ | async)"
		[isFigleafReadyToCommunication]="isFigleafReadyForCommunication$ | async"
		[texts]="tryProductText">
	</vtr-try-product-block>
</div>
