@import "../../styles/common-blocks";

.trackers-page {
	@extend %common-block-wrapper;
	border-radius: 0 0 1rem 1rem;

	&__header {
		display: flex;
		flex-flow: row;
		align-content: center;
		align-items: center;
		margin-bottom: 3rem;
		justify-content: space-between;
	}

	&__title {
		@extend %subtitle;
		margin-bottom: 2rem;

		&--red {
			color: red;
			font-weight: bold;
		}
	}

	&__text {
		@extend %text-common;
		font-size: 1.6rem;
	}

	&__clear-data-wrapper {
		width: 100%;
		text-align: right;
		padding-top: 2rem;
	}
}

.trackers-concent {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ECF0F1;
	border-radius: 5px;
	background-color: #F5F7F8;
	padding: 2.5rem 2rem;
	margin: 2rem 0 1rem 0;

	&__text-wrapper {
		display: flex;
		align-items: center;
		margin: 0 3.5rem 0 0;
	}

	&__text {
		color: #34495E;
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 2.9rem;
		margin: 0;
	}

	&__btn {
		@extend %theme-btn;
		min-width: 22rem;

		&--transparent {
			@extend %theme-btn--transparent;
		}
	}
}

.trackers {
	background-color: #FFFFFF;
	padding: 3.5rem 4rem;

	&__text {
		@extend %text-common
	}


}

.stay-private {
	padding: 3.5rem 4rem;
	background-color: #FFFFFF;
	border-radius: 7px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);

	&__title {
		@extend %subtitle;
	}

	&__text {
		margin-top: 2rem;
		@extend %text-common;
	}

	&__video {
		margin-top: 4rem;
	}

	&__steps-wrapper {
		margin-top: 4rem;
	}

	&__banner {
		margin-top: 4rem;
	}
}
