@import '../../../app.theme.scss';

.vtr-ui-list-support {
	.support-list {
		margin-top: 2.7rem;
		list-style: none;
		padding: 0;
		background-color: #f5f7f8;
		border: .1rem solid $shade_lighter;
		border-radius: $border_radius;
		overflow: hidden;

		li {
			height: auto;
			padding: 1.5rem 1rem;
			border-bottom: 0.1rem solid $shade_lighter;
			color: $main_darker;

			&:last-child {
				border: none;
			}

			a {
				width: 100%;
				height: 100%;
				color: $shade_blue;
				display: block;
				cursor: pointer;
				background: none;
				border: none;
				text-align: left;
				letter-spacing: 0;

				.item-icon-content {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				&:hover {
					text-decoration: none;
					background-color: $shade_extralight;
				}
			}

			.item-icon {
				.icon-bkg {
					cursor: pointer;
				}

				fa-icon {
					color: $main;
					font-size: 1.9rem;
					cursor: pointer;
				}
			}

			.item-icon-image {
				display: inline-block;
				height: 2rem;
				width: 2rem;
				cursor: pointer;
			}

			.item-text {
				overflow: hidden;
				padding-left: 1rem;
				cursor: pointer;
				.title {
					cursor: pointer;
					font-size: $body;
					font-weight: $weight_bold;
					float: left;
					width: 100%;
					padding-top: 0.1rem;
					padding-right: 0.1rem;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: $blue-dark;

					&.light-title {
						font-weight: $weight_light;
						cursor: pointer;
					}
				}

				.sub-text{
					font-size: 1.2rem;
					margin-top: 2px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.arrow {
				color: $main_darker;
				line-height: 2.8rem;
				font-size: 2rem;
				cursor: pointer;
			}
		}
	}
}
