<div class="vtr-ui-list-support">
	<ul class="support-list">
		<li *ngFor="let item of items">
			<!-- <a role="button" *ngIf="item.url" href="{{item.url}}" target="_blank"> -->
			 <a role="button" *ngIf="item.url" href="{{item.url}}" target="_blank" vtrMetrics metricsItem="{{item?.metricsItem}}"
			 metricsEvent="{{item?.metricsEvent}}" metricsParent="{{item?.metricsParent}}">
				<div class="container-fluid">
					<div class="row">
						<div class="col col-2 text-center">
							<div class="item-icon">
								<div class="icon-bkg">
									<fa-icon [icon]="item.icon"></fa-icon>
								</div>
							</div>
						</div>
						<div class="col col-9 item-text">
							<div class="title">
								{{item.title | translate}}
							</div>
						</div>
						<div class="col col-1 text-center">
							<div class="arrow" *ngIf="!item.hideArrow">
								<fa-icon [icon]="['fal', 'chevron-right']"></fa-icon>
							</div>
						</div>
						<div class="image text-center w-100 p-4" *ngIf="item.image">
							<img src="{{item.image}}" alt="item.title">
						</div>
					</div>
				</div>
			</a>
			<div class="no-pointer" *ngIf="!item.url && !item.path">
				<div class="container-fluid">
					<div class="row">
						<div class="col col-2 text-center">
							<div class="item-icon">
								<div class="icon-bkg">
									<fa-icon [icon]="item.icon"></fa-icon>
								</div>
							</div>
						</div>
						<div class="col col-9 item-text">
							<div class="title">
								{{item.title | translate}}
							</div>
						</div>
						<div class="col col-1 text-center">
							<div class="arrow" *ngIf="!item.hideArrow">
								<fa-icon [icon]="['fal', 'chevron-right']"></fa-icon>
							</div>
						</div>
						<div class="image text-center w-100 p-4" *ngIf="item.image">
							<img src="{{item.image}}" alt="item.title">
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
