@import '../../../app.theme.scss';

.vtr-ui-list-support {
	.support-list {
		margin-top: 2.7rem;
		list-style: none;
		padding: 0;
		background-color: #f5f7f8;
		border: .1rem solid $shade_lighter;
		border-radius: $border_radius;
		overflow: hidden;

		li {
			min-height: 6rem;
			// padding: 1.5rem 1rem 1.5rem 0;
			border-bottom: .1rem solid $shade_lighter;
			color: $main_darker;

			&:last-child {
				border: none;
			}


			&.good {
				.item-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
						background-color: $go_dark;
						border-color: $go_dark;
					}
				}
			}

			&.bad {
				.item-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
						background-color: $stop_dark;
						border-color: $stop_dark;
					}
				}
			}

			a {
				width: 100%;
				height: 100%;
				color: $shade_blue;
				display: block;
				padding: 1.5rem 1rem 1.5rem 0;
				cursor: pointer;

				&:hover {
					text-decoration: none;
					background-color: $shade_extralight;
				}
			}

			.no-pointer {
				padding: 1.5rem 1rem 1.5rem 0;
			}

			.item-icon {
				.icon-bkg {
					cursor: pointer;
				}
				&.status {
					.icon-bkg {
						display: inline-block;
						border-radius: 50%;
						height: 2.4rem;
						width: 2.4rem;
						border-width: .2rem;
						border-style: solid;
						text-align: center;

						fa-icon {
							font-size: 1.2rem;
							line-height: 2rem;
							color: $light;
						}
					}
				}

				fa-icon {
					color: $main;
					font-size: 1.9rem;
					line-height: 3rem;
					cursor: pointer;
				}
			}

			.item-icon-image {
				display: inline-block;
				height: 2rem;
				width: 2rem;
				line-height: 3rem;
				cursor: pointer;
			}

			.item-text {
				overflow: hidden;
				display: flex;
				align-items: center;
				cursor: pointer;
				.title {
					line-height: 1.8rem;
					font-size: 1.4rem;
					font-weight: $weight_bold;
					float: left;
					cursor: pointer;
					&.light-title {
						font-weight: $weight_light;
					}
				}

				.detail {
					padding-right: .5rem;
					float: right;
					text-align: right;
					line-height: 2.8rem;
					font-size: 1.2rem;
					color: $shade_dark;
					font-style: italic;
					cursor: pointer;
					&.highlight {
						color: $main_shade;
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}

			.arrow {
				color: $main_darker;
				line-height: 2.8rem;
				font-size: 2rem;
				cursor: pointer;
			}
		}
	}
}
