<div class="wifi-security-location-container" id="wifi-sec-modal"
	attr.aria-label="{{ 'security.wifisecurity.locationmodal.title' | translate }}" role="dialog">
	<h1>{{ header | translate }} </h1>
	<p class="description">
		{{ description | translate }}
	</p>
	<ul>
		<li *ngFor="let package of packages">{{ package }}</li>
	</ul>
	<div class="d-flex">
		<div class="ml-0 mr-4 pl-0">
			<vtr-ui-button vtrMetrics metricsParent="Security.WifiSecurity" metricsItem="agreeOpenLocation"
				metricsEvent="featureClick" [linkId]="agreeButtonId" (onClick)="onOkClick()" [title]="OkText | translate"
				[label]="OkText | translate"></vtr-ui-button>
		</div>
		<div class="ml-0 mr-4 pl-0">
			<button 
				id="{{cancelButtonId}}" 
				class="btn btn-default modal-button-cancel"
				(click)="onCancelClick()"
				vtrMetrics 
				metricsParent="Security.WifiSecurity"
				metricsItem="cancelOpenLocation" 
				metricsEvent="featureClick"
				(keydown)="keydownFn($event)"
				tabindex="0">
				{{CancelText | translate}}
			</button>
		</div>
	</div>
	<div class="btn-modal-close">
		<button
			mat-dialog-close
			class="position-relative float-right closeButton"
			[id]="closeButtonId"
			aria-label="{{'common.ui.close' | translate}}"
			(click)="onCancelClick()"
			vtrMetrics
			metricsEvent="FeatureClick"
		>
			<mat-icon class="icon close-icon">close</mat-icon>
		</button>
	</div>
</div>
