@import '../../../app.theme.scss';
.wifi-security-location-modal {
	background: $white100;
	background-size: cover;
	color: $darkText;
	padding: 2rem;
	position: relative;
	outline: none;
	@media #{$high-contrast} {
		border: 1px solid windowText;
	}
	h1 {
		font-size: 2.6rem;
		font-weight: $weight_regular;
		color: $darkText;
		letter-spacing: 0;
	}
	.description {
		font-size: 1.5rem;
		font-weight: $weight_light;
		color: $darkText;
		letter-spacing: 0;
		padding-bottom: 1.5rem;
		margin-bottom: 2rem;
		border-bottom: 0.1rem solid $main_lightest;
	}
	.closeButton {
		top: -1.5rem;
		right: -1.5rem;
		height: 2.4rem;
		width: 2.4rem;
		color: $grey_darker;

		&:focus {
			outline: 0.1rem solid $menu_hover;
		}
		&:hover {
			color: $menu_hover;
		}
	}
	.close-btn {
		position: absolute;
		right: 1.8rem;
		top: 1.8rem;
		width: 2.2rem;
		height: 2.2rem;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			text-decoration: none;
			font-size: 2rem;
		}
	}
	.modal-button-cancel {
		cursor: pointer;
		background: none;
		color: $blueFill;
		font-size: 1.5rem;
		font-weight: $weight_bold;
		margin-left: 0.5rem;
		padding: 1.2rem 0 0.5rem;
		height: 3.8rem;
		border-radius: 0;
		border-bottom: 0.2rem solid $blueFill;
		&:hover {
			color: $blueHover;
			border-bottom: 0.2rem solid $blueHover;
		}
		@media #{$black-on-white} {
			@include hyperlink-blue-white;
			border: none;
			border-bottom: 0.2rem solid $high-contrast-blue;
		}
		@media #{$white-on-black} {
			@include hyperlink-yellow-black;
			border: none;
			border-bottom: 0.2rem solid $high-contrast-black-yellow;
		}
	}
	// Version 3.3: UI reskin
	.btn-modal-close {
		&::ng-deep .x {
			background: $blueFill;
			@media #{$high-contrast} {
				background: buttonText;
			}
			&::before {
				background: $blueFill;
				@media #{$high-contrast} {
					background: buttonText;
				}
			}
		}
		&:hover {
			&::ng-deep .x {
				background: $blueHover;
				&::before {
					background: $blueHover;
				}
			}
		}
	}
}
::ng-deep {
	.wifi-security-location-modal .modal-dialog {
		height: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-top: 0;
	}
}
