.note{
	background-color: #F5F7F8;
	color:#34495E;
	font-size: 1.2rem;
	border: 1px solid #ECF0F1;
	padding: 16px;
	border-radius: 4px;
	max-width: 656px;
	margin-right: 4.5px;
}

// section{
// 	display: inline-block;
// }
