<div class="vtr-power-settings">
	<vtr-ui-row-switch [title]="'device.deviceSettings.power.dpm.globalPowerSettings.title' | translate"
		componentName="dpm-powersetting"
		[caption]="'device.deviceSettings.power.dpm.globalPowerSettings.description' | translate"
		[leftIcon]="['icomoon', 'icomoon-dpm-global-settings']"
		[showChildContent]="true"
		[isLastChild]="true"
		[theme]="'white'"
		[switchId]="'dpm-powersetting'">
		<div class="content">
			<section>
				<p id="dpm-powersetting-powerbutton-label"
					role="text">
					{{'device.deviceSettings.power.dpm.globalPowerSettings.powerButton.label' | translate}}
				</p>
				<vtr-ui-dropdown [list]="powerButtonActions"
						[isMetricsEnabled]=false
						[value]="selectAction"
						(selectionChange)="onActionChange($event)"
						[dropDownName]="'dpm-powersetting-powerbutton-dd-dropdown'"
						[dropDownId]="'dpm-powersetting-powerbutton-dropdown'">
					</vtr-ui-dropdown>
				<p id="dpm-powersetting-requiredsignin-label"
					role="text">
					{{'device.deviceSettings.power.dpm.globalPowerSettings.requiredSignIn.label' | translate}}
				</p>
				<vtr-ui-dropdown [list]="signInOptions"
						[isMetricsEnabled]=false
						[value]="selectedSignInOptionVal"
						(selectionChange)="onSignInOptionChanged($event)"
						[dropDownName]="'dpm-powersetting-requiredsignin-dd-dropdown'"
						[dropDownId]="'dpm-powersetting-requiredsignin-dropdown'">
					</vtr-ui-dropdown>
			</section>
			<p class="note"
				role="text"
				id="dpm-powersetting-requiredsignin-note">
				{{'device.deviceSettings.power.dpm.globalPowerSettings.requiredSignIn.tip' | translate}}
			</p>
			</div>
	</vtr-ui-row-switch>
</div>
