@import '../../../../../../app.theme.scss';
.vtr-power-settings {
	section {
		p {
			color: #34495e;
			font-size: 1.2rem;
			margin: 1.4rem 0rem;
			font-weight: bold;
			opacity: 0.5;
			@media #{$white-on-black} {
				opacity: 1;
			}
			@media #{$black-on-white} {
				opacity: 1;
			}
		}
	}
	.note {
		display: block;
		background-color: #f5f7f8;
		color: #34495e;
		font-size: 1.2rem;
		border: 1px solid #ecf0f1;
		padding: 16px;
		border-radius: 4px;
		max-width: 656px;
		margin-right: 4.5px;
		margin-top: 1rem;
	}
}
