@import "../../../../../../app.theme.scss";
.vtr-power-settings {
	section {
		max-width: 400px;
		p {
			color: #34495E;
			font-size: 1.2rem;
			margin: 1.4rem 0rem;
			font-weight: bold;
			opacity: 0.5;
			@media #{$white-on-black} {
				opacity: 1;
			}
			@media #{$black-on-white} {
				opacity: 1;
			}
		}
	}
	.note {
		display:block;
		background-color: #F5F7F8;
		color:#34495E;
		font-size: 1.2rem;
		border: 1px solid #ECF0F1;
		padding: 16px;
		border-radius: 4px;
		max-width: 656px;
		margin-right: 4.5px;
		margin-top: 1rem;
	}
}
