@import "../../../app.theme";

.vtr-home-security {
	.header {
		.heading {
			color: $shade_blue;
			font-size: 3rem;
			font-weight: $weight_light;
		}
	}

	.text-regular {
		color: $shade_blue;
		font-size: 1.4rem;
		font-weight: $weight_regular;
		padding: 1rem 1rem 1rem 0rem;
		a{
			text-decoration: underline;
		}
	}

	.peace-of-mind {
		.bullet-icon {
			.icon-bkg {
				display: inline-block;
				border-radius: 50%;
				height: 2.3rem;
				width: 2.3rem;
				border-width: 0.3rem;
				border-style: solid;
				text-align: center;
				fa-icon {
					font-size: 1.4rem;
					line-height: 1.7rem;
					color: $light;
				}
			}
		}

		.sub-heading {
			color: $shade_blue;
			font-size: 2.4rem;
			font-weight: $weight_bold;
		}
	}

	.bullet-list {
		list-style: none;
		padding: 0;

		li {
			margin: 0;
			padding: 1rem 1rem 1rem 0;
			color: $main_dark;

			&.good {
				padding-top: 0;
				padding-bottom: 0;
				.bullet-icon {
					.icon-bkg {
						background: $green_gradient;
						background-color: $go_dark;
						border-color: $green_dark;
					}
				}
			}

			.bullet-icon {
				.icon-bkg {
					display: inline-block;
					border-radius: 50%;
					height: 3rem;
					width: 3rem;
					border-width: 0.3rem;
					border-style: solid;
					text-align: center;

					fa-icon {
						font-size: 1.4rem;
						line-height: 2.2rem;
						color: $light;
					}
				}
			}
		}
	}

	.gem-box {
		height: auto;
		width: 50%;
		float: right;
		@media #{$mediaquery_X4} { // 768~0
			float: none;
			width: 100%;
		}
		@media #{$mediaquery_X46} { // 992-768
			float: right;
			width: 50%;
		}
		@media #{$mediaquery_X45} { // 1200-992
			float: none;
			width: 100%;
		}
		.gem {
			width: 100%;
			height: 100%;
			border-radius: $border_radius_sm;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				max-width: 110%;
				height: auto;
			}

			fa-icon.icon {
				font-size: 15rem;
				color: $main;
				text-align: center;
				position: relative;
				padding: 2rem;
				right: 5%;
			}
		}
	}

	.text-content {
		padding-left: 0;
	}
}
