<div class="vtr-home-security mb-5 pl-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="header">
					<div class="heading">{{'security.homeprotection.homesecurity.title' | translate}}</div>
					<div class="text-regular">
						{{'security.homeprotection.homesecurity.titleDescription' | translate}}
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-12 text-content">
				<ul class="bullet-list">
					<div class="gem-box mb-5 pl-3 d-none d-md-block d-lg-none d-xl-block">
						<div class="gem" id="gem">
							<img src="assets/images/Banner_no_logo_h&f.jpg"
								center />
						</div>
					</div>
					<li class="good" *ngFor="let item of items;">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto pl-0">
									<div class="bullet-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', 'check']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular pt-0">
										{{item | translate}}
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="container-fluid">
							<div class="text-regular">
								{{'security.homeprotection.homesecurity.describe' | translate}}
							</div>
						</div>
					</li>

					<div class="gem-box mb-5 d-block d-md-none d-lg-block d-xl-none">
						<div class="gem" id="gem">
							<img src="assets/images/Banner_no_logo_h&f.jpg"
								center />
						</div>
					</div>

				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-content">
				<div class="peace-of-mind row">
					<div class="col">
						<div class="sub-heading">{{'security.homeprotection.homesecurity.subtitle' | translate}}</div>
						<div class="text-regular" *vtrTranslate="'security.homeprotection.homesecurity.subtitleDescribe' | translate">
							<a vtrMetrics  id="sa-ws-lnk-CHS-here"
								metricsEvent="ArticleClick"
								metricsItem="learnMoreAboutSecurityHealth"
								metricsItemPosition="1"
								metricsPageNumber="1"
								[metricsItemID]="peaceOfMindArticleId"
								[metricsItemCategory]="peaceOfMindArticleCategory"
								href="javascript:void(0)"
								(click)="openPeaceOfMindArticle()"
								target="_blank"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
