@import "../../../app.theme";

.vtr-modal-wait {
	@include high-contrast-border;
	.title {
		font-size: $fontsize_xl2;
	}

	.description {
		font-size: $fontsize_lg;
	}

	.modal-body {
		padding: 4rem;
	}

	#loading-icon {
		font-size: 6.5rem;
		color: $main;
	}

	#loading-div {
		padding-left: 45%;
	}
}
