<div class="vtr-page-device-settings vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="'settings.preferenceSettings' | translate"
				[vtrAppSearchScroller]="['search-preference-subscription']"
				[backarrow]="'&lt; '"
				[back]="'common.ui.back' | translate"
				[backId]="backId"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="row vtr-page-left-column">
				<div class="col-lg-2 col-sm-12"></div>
				<div class="col-lg-8 col-sm-12 settings-main-column">
					<div class="subpage-settings vtr-subpage">
						<div class="row">
							<div class="col-11">
								<vtr-ui-header-subpage [title]="'settings.settings' | translate"
									[caption]="'settings.settingsDescription' | translate"
									*ngIf="!deviceService.isArm && !deviceService.isSMode">
								</vtr-ui-header-subpage>
								<vtr-ui-header-subpage [title]="'settings.settings' | translate"
								*ngIf="deviceService.isArm || deviceService.isSMode">
								</vtr-ui-header-subpage>
							</div>
						</div>

						<div class="row py-5"
							*ngIf="!deviceService.isArm && !deviceService.isSMode"
							id="settings-messages">
							<div class="col-10 mx-auto ">
								<vtr-container-collapsible
									name="SettingsMessage"
									[tabIndex]="0"
									[cardTitle]="'settings.messagesInLenovoVantage' | translate"
									[isCollapsed]="false">
									<ul class="list-group list-group-flush"
										*ngIf="isMessageSettings">
										<li>
											<vtr-ui-row-switch [title]="'settings.appFeatures' | translate"
												[name]="'AppFeaturesToggle'"
												[switchId]="'settingsAppFeaturesToggle'"
												id="settings-appFeaturesToggle"
												aria-label="settings-appFeatures"
												[caption]="'settings.appFeaturesDescription' | translate"
												[isSwitchVisible]=true
												[leftIcon]="messageSettings[0].leftImageSource"
												[tooltipText]=""
												[isSwitchChecked]="toggleAppFeature"
												(toggleOnOff)="onToggleOfAppFeature($event)">
											</vtr-ui-row-switch>
										</li>
										<li>
											<vtr-ui-row-switch [title]="'settings.marketing' | translate"
												[vtrAppSearchScroller]="['search-preference-marketing']"
												[name]="'MarketingToggle'"
												[switchId]="'settingsMarketingToggle'"
												id="settings-marketingToggle"
												aria-label="settings-marketingToggle"
												[caption]="'settings.marketingDescription' | translate"
												[isSwitchVisible]=true
												[leftIcon]="messageSettings[1].leftImageSource"
												[tooltipText]=""
												[isSwitchChecked]="toggleMarketing"
												(toggleOnOff)="onToggleOfMarketing($event)">
											</vtr-ui-row-switch>
										</li>
										<li>
											<vtr-ui-row-switch [title]="'settings.actionTriggered' | translate"
												[vtrAppSearchScroller]="['search-preference-action-trigger']"
												[name]="'ActionTriggeredToggle'"
												[switchId]="'settingsActionTriggeredToggle'"
												id="settings-actionTriggeredToggle"
												aria-label="settings-actionTriggeredToggle"
												[caption]="'settings.actionTriggeredDescription' | translate"
												[isLastChild]=true
												[isSwitchVisible]=true
												[leftIcon]="messageSettings[2].leftImageSource"
												[tooltipText]=""
												[isSwitchChecked]="toggleActionTriggered"
												(toggleOnOff)="onToggleOfActionTriggered($event)">
											</vtr-ui-row-switch>
										</li>

									</ul>
								</vtr-container-collapsible>
							</div>
						</div>

						<div class="row py-5 beta-setting">
							<div class="col-10 mx-auto ">
								<vtr-container-collapsible
									[tabIndex]="0"
									name="SettingsOther"
									[cardTitle]="'settings.betaSettingTitle' | translate "
									[isCollapsed]="false">
									<ul class="list-group list-group-flush">
										<li>
											<vtr-ui-row-switch [title]="'settings.betaProgram' | translate"
												[name]="'settingsBetaStatisticsToggle'"
												[switchId]="'settingsBetaStatisticsToggle'"
												[vtrAppSearchScroller]="['search-preference-statistics']"
												id="settings-betaStatisticsToggle"
												aria-label="settings-bataStatisticsToggle"
												[caption]="'settings.betaSettingDescription' | translate"
												[isSwitchVisible]=true
												[isLastChild]=true
												[leftIcon]="betaSettings[0].leftImageSource"
												[isSwitchChecked]="toggleBetaStatistics"
												(toggleOnOff)="onToggleOfBetaStatistics($event)">
											</vtr-ui-row-switch>
										</li>
									</ul>
								</vtr-container-collapsible>
							</div>
						</div>

						<div class="row py-5"
							id="settings-other-settings">
							<div class="col-10 mx-auto ">
								<vtr-container-collapsible
									[tabIndex]="0"
									name="SettingsOther"
									[cardTitle]="'settings.OtherSettings' | translate "
									[isCollapsed]="false">
									<ul class="list-group list-group-flush">
										<li *ngIf="isToggleUsageStatistics">
											<vtr-ui-row-switch [title]="'settings.usageStatistics' | translate"
												[name]="'settingsUsageStatisticsToggle'"
												[switchId]="'settingsUsageStatisticsToggle'"
												[vtrAppSearchScroller]="['search-preference-statistics']"
												id="settings-usageStatisticsToggle"
												aria-label="settings-usageStatisticsToggle"
												[caption]="'settings.usageStatisticsDescription' | translate"
												[isLastChild]="!isToggleDeviceStatistics"
												[isSwitchVisible]=true
												[leftIcon]="otherSettings[0].leftImageSource"
												[tooltipText]=""
												[isSwitchChecked]="toggleUsageStatistics"
												(toggleOnOff)="onToggleOfUsageStatistics($event)">
											</vtr-ui-row-switch>
										</li>
										<li *ngIf="isToggleDeviceStatistics">
											<vtr-ui-row-switch [title]="'settings.deviceStatistics' | translate"
												[name]="'settingsDeviceStatisticsToggle'"
												[switchId]="'settingsDeviceStatisticsToggle'"
												[vtrAppSearchScroller]="['search-preference-device-statistics']"
												id="settings-deviceStatisticsToggle"
												aria-label="settings-deviceStatisticsToggle"
												[caption]="'settings.deviceStatisticsDescription' | translate"
												[isLastChild]=true
												[isSwitchVisible]=true
												[leftIcon]="otherSettings[1].leftImageSource"
												[tooltipText]=""
												[isAdminRequired]=true
												[isSwitchChecked]="toggleDeviceStatistics"
												(toggleOnOff)="onToggleOfDeviceMetricStatistics($event)">
											</vtr-ui-row-switch>
										</li>
									</ul>
								</vtr-container-collapsible>
							</div>
						</div>

						<div class="row py-5"
							id="settings-other-settings">
							<div class="col-10 mx-auto ">
								<div class="settings-note">
									<b>{{ 'settings.Note' | translate }}</b>{{ 'settings.settingsNotes' | translate }}
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- <div class="col-lg-4 col-sm-12 vtr-page-right-column">
				</div> -->
			</div>
		</div>
	</div>
</div>
