<div class="vtr-ui-header-subpage container-fluid"
	#pageHeadingRef>
	<div class="row"
		*ngIf="title!=undefined">
		<div class="col">
			<h2 class="title"
				id="{{textId}}-header-title">
				<span attr.aria-label="{{title}}'page'"
					style="outline: none;"
					tabindex="-1"
					role="text">{{title}}</span>
			</h2>
		</div>
	</div>
	<div class="row"
		[ngClass]="{'no-title': title==undefined}"
		*ngIf="caption || menuTitle || items">
		<div class="col left-border header-subpage-content">
			<div class="col px-20">
				<div class="row">
					<div class="col">
						<div class="caption"
							id="{{textId}}-header-caption"
							attr.aria-label="{{caption}}"
							role="text"
							tabindex="-1"
							style="outline: none;">
							{{caption}}
						</div>
					</div>
				</div>
				<div class="row"
					*ngIf="menuTitle">
					<div class="col">
						<div class="menu-title"
							id="{{textId}}-jumptToSettings-title"
							attr.aria-label="{{menuTitle}}:">
							{{menuTitle}}:
						</div>
					</div>
				</div>
				<div class="row"
					*ngIf="items">
					<div *ngFor="let item of items; let i=index;"
						class="col-auto p-0">
						<div class="menu-item"
							role="link"
							tabindex="0"
							vtrMetrics
							metricsItem="{{item.metricsItem}}"
							metricsEvent="FeatureClick"
							[metricsParent]="metricsParent"
							id="jumptoSetting-{{item.path}}"
							attr.aria-label="{{'device.deviceSettings.power.jumpto.title' | translate}}-{{item.title | translate}}"
							(click)="menuItemClick($event, item)"
							(keydown.enter)="menuItemClick($event, item)">
							{{item.title | translate}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
