@import "../../../app.theme";

.vtr-ui-header-subpage {
	.title {
		h2 {
			color: $purple_navy;
			font-size: $fontsize_xl4;
			font-weight: $weight_light;
			margin-bottom: 2.5rem;
			opacity: 0.8;
			margin-top: 0.8rem;
		}
	}

	.caption {
		color: $shade_blue;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		line-height: 2rem;
		margin-bottom: 2rem;
		opacity: 1;
	}
	.left-border {
		border-left: 0.7rem solid $main;
		.menu-title {
			color: $purple_navy;
			font-size: $base;
			font-weight: $weight_bold;
			margin: 1rem 0;
			text-transform: uppercase;
		}
		.menu-item {
			font-size: $fontsize_xs;
			font-weight: $weight_light;
			color: $menu_hover;
			cursor: pointer;
			padding-bottom: 0.2rem;
			border-bottom: 1px solid $main;
			margin: 0 2rem 0 0;
			&:hover {
				$color: $highlight;
				border-bottom: none;
				@media #{$white-on-black} {
					border-bottom: 1px solid $high-contrast-black-yellow;
				}
				@media #{$black-on-white} {
					border-bottom: 1px solid $high-contrast-white-blue;
				}
			}
			&:focus {
				@include outline-blue;
			}
			@media #{$white-on-black} {
				@include hyperlink-yellow-black;
			}
			@media #{$black-on-white} {
				@include hyperlink-blue-white;
			}
		}
	}
	.no-title {
		margin-top: 5rem;
	}
}
