@import "../../../app.theme";

.vtr-ui-header-subpage {
	//margin-bottom: 4rem;
	h2 {
		&.title {
			color: $purple_navy;
			font-size: $fontsize_xl4;
			font-weight: $weight_light;
			margin-bottom: 2.5rem;
			opacity: 0.8;
		}
	}
	.caption {
		color: $purple_navy;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		line-height: 1.8em;
		margin-bottom: 2rem;
		opacity: 0.8;
	}
	.left-border {
		border-left: 0.7rem solid $main;
		.menu-title {
			color: $purple_navy;
			font-size: $base;
			font-weight: $weight_bold;
			margin: 1rem 0;
			text-transform: uppercase;
		}
		.menu-item {
			font-size: $fontsize_xs;
			font-weight: $weight_light;
			color: $menu_hover;
			cursor: pointer;
			padding-bottom: .2rem;
			border-bottom: 1px solid $main;
			margin: 0 2rem 0 0;
			&:hover {
				$color: $highlight;
				border-bottom: none;
			}
		}
	}
	.no-title {
		margin-top: 5rem;
	}
}
