@import "../../../app.theme";

.vtr-ui-header-subpage {
	h2 {
		&.title {
			color: $main_shade;
			font-size: 4.8rem;
			font-weight: $weight_light;
			margin-bottom: 3rem;
		}
	}
	.caption {
		color: $main_shade;
		font-size: 1.8rem;
		line-height: 1.8em;
		margin-bottom: 2rem;
	}
	.left-border {
		border-left: 0.7rem solid $main;
		.menu-title {
			color: $main_dark;
			font-size: 1.8rem;
			font-weight: $weight_bold;
			margin: 1rem 0;
			text-transform: uppercase;
		}
		.menu-item {
			font-size: 1.8rem;
			color: $main;
			cursor: pointer;
			padding-bottom: .2rem;
			border-bottom: 1px solid $main;
			margin: 0 2rem 0 0;
			&:hover {
				$color: $highlight;
				border-bottom: none;
			}
		}
	}
}
