<div class="vtr-ui-header-subpage container-fluid">
	<div class="row" *ngIf="title!=undefined">
		<div class="col">
			<h2 class="title" id="{{textId}}-header-title" attr.aria-label="{{textId}}-header-title">
				{{title}}
			</h2>
		</div>
	</div>
	<div class="row" [ngClass]="{'no-title': title==undefined}"
	*ngIf="caption || menuTitle || items">
		<div class="col left-border header-subpage-content">
			<div class="col px-20">
				<div class="row">
					<div class="col">
						<div class="caption" id="{{textId}}-header-caption" attr.aria-label="{{textId}}-header-caption">
							{{caption}}
						</div>
					</div>
				</div>
				<div class="row" *ngIf="menuTitle">
					<div class="col">
						<div class="menu-title" id="{{textId}}-jumptToSettings-title" attr.aria-label="{{textId}}-jumptToSettings-title">
							{{menuTitle}}:
						</div>
					</div>
				</div>
				<div class="row" *ngIf="items">
					<div *ngFor="let item of items; let i=index"
					 class="col-auto p-0">
						<div class="menu-item"
						tabindex="0"
						vtrMetrics
						metricsItem="{{item.metricsItem}}"
						metricsEvent="FeatureClick"
						[metricsParent]="metricsParent"
						id="jumptoSetting-{{item.path}}"
						attr.aria-label="jumptoSetting-{{item.path}}"
						 (click)="menuItemClick($event, item)">
							{{item.title | translate}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
