@import '../a11y';

@mixin battery-temperature-color($theme) {
	$color: map-get($theme, color);

	.battery-temperature-wrap {
		color: map-get($color, default);

		@include high-contrast(white-on-black) {
			color: map-get($color, white-on-black);
		}

		@include high-contrast(black-on-white) {
			color: map-get($color, black-on-white);
		}
	}
}
