@import 'src/app/app.theme';
@import '../battery-health.variables';
@import '../battery-health.theme';
@import '../battery-health.gaming.theme';
@import 'battery-temperature-theme.component';

.battery-temperature-wrap {
	@include flex-column-center();
	text-align: center;
	font-size: $body;
}

.battery-title {
	margin-top: $battery-title-offset-y;
	font-weight: $battery-semi-bold;
	font-size: $body;
}

.battery-indicator {
	margin-top: $battery-middle-content-offset-top;

	.indicator-icon {
		width: $battery-temperature-indicator-icon-offset-width;
		height: $battery-temperature-indicator-icon-offset-height;
		background-position: center center;
		background-size: cover;

		@each $key, $item in $battery-temperature-condition {
			&.#{$key} {
				background-image: url($item);
				@include high-contrast('white-on-black') {
					$item-white-on-black: map-get(
						$battery-temperature-condition-high-contrast,
						white-on-black
					);
					background-image: url($item-white-on-black);
				}
				@include high-contrast('black-on-white') {
					$item-black-on-white: map-get(
						$battery-temperature-condition-high-contrast,
						black-on-white
					);
					background-image: url($item-black-on-white);
				}
			}
		}
	}

	.indicator-text {
		margin-top: $battery-temperature-indicator-text-offset-top;
	}
}

.battery-description {
	margin-top: $battery-temperature-indicator-description-offset-top;
	margin-bottom: $battery-capacity-area-offset-bottom;
	padding-left: 20px;
	padding-right: 20px;
}
::ng-deep .indicator-text svg {
	width: 26px;
	height: 26px;
	stroke: #f7c809;
	@include high-contrast('white-on-black') {
		stroke: #ffffff;
	}
	@include high-contrast('black-on-white') {
		stroke: #000000;
	}
}

@include battery-temperature-color($smart-battery-theme);
:host-context(.is-gaming) {
	@include battery-temperature-color($smart-battery-gaming-theme);
}
