@import '../../../app.theme.scss';

.vtr-widget-warranty {
	border-radius: $border_radius;
	background-size: cover;
	color: $light;
	box-shadow: $drop_shadow;
	letter-spacing: 0;
	padding: 2.4rem;

	&.in-warranty {
		background-image: url("../../../../assets/images/warranty-bg.png"),
			linear-gradient(to left bottom, #4980fc, #2e62d9);
		background-size: cover;
	}

	&.expired {
		background-image: url("../../../../assets/images/warranty-bg.png"),
			linear-gradient(to left top, $stop_light, $stop_dark);
		background-size: cover;
	}

	&.not-found {
		background-image: url("../../../../assets/images/warranty-bg.png"),
			linear-gradient(to left bottom, #e2e4e5, #e4e4e1);
		color: $blue-dark;
		.sub-description {
			b {
				text-transform: lowercase;
				display: inline-block;
				&::first-letter {
					text-transform: uppercase;
				}
			}
		}
	}

	.title {
		font-size: $fontsize_xl;
		font-weight: $weight_bold;
		padding-bottom: 1.5rem;
		text-transform : capitalize;
	}

	.sub-title {
		font-size: $fontsize_xs;
		font-weight: $weight_bold;
		opacity: .8;
		padding-bottom: 0.75rem;
	}

	.sub-description {
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		line-height: 2rem;
		padding-bottom: 2rem;
		b {
			font-weight: $weight_bold;
		}
	}

	.status-wrapper {
		b {
			white-space: nowrap;
		}
	}

	.left-col {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		padding-right: 1rem;
	}

	.right-col {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
}
