@import "../../../app.theme.scss";
.vtr-widget-permission-note {
	width: 100%;
	background-color: $shade_lightest;
	font-size: $fontsize_xs;
	color: $alt;
	border: 1px solid $shade_lighter;
	@media #{$black-on-white} {
		color: $alt;
		background-color: $light-grey;
		border:none;
	}
	@media #{$white-on-black} {
		color: $alt;
		background-color: $light-grey;
		border:none;
	}


	.privacy-button {
		font-size: $fontsize_xs;
		letter-spacing: 0px;
		text-align: left;
		font-family: "Segoe UI", sans-serif;
		font-weight: $weight_light;
		@media #{$black-on-white} {
			color: $blue-light;
			border:none;
		}
		@media #{$white-on-black} {
			color: $yellow;
			border:none;

		}
	}
}
