@import "../../../app.theme.scss";
.vtr-widget-permission-note {
	width: 100%;
	background-color: $shade_lightest;
	font-size: 1.4rem;
	color: $alt;
	border: 1px solid $shade_lighter;
	@media #{$black-on-white} {
		color: $alt;
		background-color: $light-grey;
		border:none;
	}
	@media #{$white-on-black} {
		color: $alt;
		background-color: $light-grey;
		border:none;
	}


	.privacy-button {
		font-size: 1.2rem;
		letter-spacing: 0.76px;
		text-align: left;
		@media #{$black-on-white} {
			color: $blue-light;
			border:none;
		}
		@media #{$white-on-black} {
			color: $yellow;
			border:none;
			
		}
	}
}
