@import '../../../app.theme';

$spacer: 1rem;

:host {
	.vtr-page.vtr-page-page-app-search {
		.vtr-page-columns .vtr-page-column.vtr-page-left-column {
			padding-bottom: 4rem !important;
		}
	}

	.vtr-page-left-column {
		background: $shade_lightest;
	}

	.vtr-page-right-column {
		@media #{$mediaquery_X5} {
			padding: 4rem 8.5rem;
		}
	}

	.search-offline-tips {
		min-height: 20rem;
		margin-top: $spacer * 3.5;
	}

	.search-loading-animation {
		min-height: 6rem;
		margin-top: $spacer * 10;
	}

	.search-result-table {
		min-height: 6rem;
		margin-top: 4.1rem;
	}
}

:host-context(.is-gaming) {
	.vtr-page-left-column {
		background: $gaming_darkest;
	}
}
