<vtr-page-layout
	[title]="pageTitle"
	[textId]="'app-search-title'"
	[pageCssClass]="'page-app-search'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true"
	[back]="'common.ui.back' | translate"
	[backId]="'app-search-page-btn-back'"
	[isInnerBack]="false"
>
	<left-content>
		<div class="container-fluid">
			<vtr-search-input-widget
				[(input)]="userInput"
				(search)="onClickSearch()"
				class="row justify-content-center search-input-widget"
				[disabled]="!(isOnline && userInput?.length > 0)"
				[maxlength]="40"
			></vtr-search-input-widget>

			<vtr-search-offline-tips
				*ngIf="!isOnline"
				class="row justify-content-center search-offline-tips"
			></vtr-search-offline-tips>

			<vtr-search-loading-animation
				*ngIf="runningSearch && isOnline"
				class="row justify-content-center search-loading-animation"
			></vtr-search-loading-animation>

			<vtr-search-result-table
				*ngIf="allResultItems.length > 0 && isOnline"
				class="row justify-content-center search-result-table"
				[dataSource]="allResultItems"
				(itemClick)="onClickResultItem($event)"
			></vtr-search-result-table>

			<vtr-search-result-empty-tips
				[userInput]="userInput"
				*ngIf="runningSearch === false && allResultItems.length === 0 && isOnline"
			></vtr-search-result-empty-tips>
		</div>
	</left-content>

	<right-content>
		<vtr-right-content-for-support></vtr-right-content-for-support>
	</right-content>
</vtr-page-layout>
