<div class="subpage-device-settings-audio">
	<div class="row">
		<div class="col-11 mx-auto">
			<div class="row">
				<div class="col-auto px-0">
					<div class="row py-5">
						<div class="col title">
							Audio Settings
						</div>
					</div>
					<div class="row left-border align-items-start">
						<div class="col">
							<div class="row align-items-start">
								<div class="col-auto  text-wrap subtitle">
									El dolor sit amet del consectetur vestibulum Lorem ipsum el dolor sit amet del
									consectetur vestibulum Lorem ipsum el dolor sit amet del consectetur vestibulum El
									dolor sit amet del ello

								</div>
							</div>
							<div class="row pt-5">
								<div class="col-auto mr-auto jump-to-settings">
									JUMP TO SETTINGS
								</div>
							</div>
							<div class="row py-3">
								<div class="col-auto btn-label">
									Battery <i class="fa fa-angle-down"></i>
								</div>
								<div class="col-auto mr-auto btn-label">
									Power <i class="fa fa-angle-down"></i>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">

				</div>
			</div>

		</div>

	</div>

</div>
