@import '../../../../../app.theme';

.subpage-device-settings-audio {
	.smart-settings-card {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		.subtitle {
			width: 100%;

			h3 {
				color: $light;
				font-size: $fontsize_sm;
				line-height: 2.8rem;
				text-transform: uppercase;
				font-weight: $weight_600;
			}

			p {
				color: $light;
				font-size: $fontsize_xs;
				line-height: 2.8rem;
				font-weight: $weight_light;
				margin-bottom: 0;
			}
		}

		.audioDolbySub {
			margin-top: 3rem;
			::ng-deep .slider-note {
				padding-left: 0 !important;
				padding-top: 1.5rem;
				padding-bottom: 0.5rem;
				input:disabled:checked + label {
					::ng-deep .checked-circle {
						color: $circle_checkbox_disabled !important;
					}
				}
			}

			::ng-deep .vtr-ui-rounded-rectangle-radio {
				width: 16rem !important;
			}

			.checkbox {
				margin-top: 1rem;
				.right-icon {
					font-size: $fontsize_sm;
					color: $menu_hover;
					margin-left: 1.5rem;
					margin-top: 2px;
					cursor: pointer;
					border: 0.1rem solid transparent;
					@media #{$white-on-black} {
						@include black-border;
					}
					@media #{$black-on-white} {
						@include white-border;
					}
					&:hover {
						color: $highlight;
					}
					&:focus {
						@include outline-border-blue;
						@media #{$white-on-black} {
							border-color: $light;
						}
						@media #{$black-on-white} {
							border-color: $dark;
						}
					}
				}
				::ng-deep .auto-set-checkbox {
					margin-top: 0px;
				}
			}

			.feature-note {
				background-color: #f5f7f8;
				border: 0.1rem solid #ecf0f1;
				width: 100%;
				padding: 1.5rem !important;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.5;
				color: #212529;
				text-align: left;
			}
			p {
				font-size: $fontsize_xs;
				color: $shade_blue;
			}

			.entertainmentDescription {
				margin: 0rem 0rem 0rem 1.5rem !important;
				ul li {
					list-style-type: disc;
					margin: 0;
					padding: 0;
				}
			}
		}

		.microphone-slider-margin {
			margin-right: 1.5rem;
		}
		.microphone-on-off {
			::ng-deep .vtr-ui-switch-row.white-theme {
				.vtr-row-switch {
					min-width: 7.5rem;
				}
			}
		}

		.audioVendorLink {
			margin-top: 1rem;
			padding-left: 3.5rem;
			font-size: 1.4rem;
			font-weight: 300;
			color: $grey_dark;
			// TODO: check this if it is necessary.
		}

		.audioVendor-here {
			&:focus {
				outline-offset: 0;
			}
		}
	}

	ul.list-group {
		list-style-type: none;
		li {
			&:last-child {
				::ng-deep .vtr-ui-switch-row {
					border-bottom: none !important;
				}
			}
		}
	}
	.tab-focus-blue {
		&:focus {
			@include outline-white;
		}
	}
	.tab-focus-white {
		&:focus {
			@include outline-blue;
		}
	}

	::ng-deep .vtr-ui-circle-radio-with-checkbox.white-theme {
		&:focus {
			.checkbox-custom-label::before {
				top: -0.1rem !important;
			}
			.checkbox-custom:checked + .checkbox-custom-label {
				&::before {
					top: -0.1rem !important;
				}
			}
		}
	}
}
