@import "../../../../../app.theme";

.subpage-device-settings-audio {
	.smart-settings-card {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		.subtitle {
			width: 100%;

			h3 {
				color: $light;
				font-size: $fontsize_sm;
				line-height: 2.8rem;
				text-transform: uppercase;
				font-weight: $weight_600;
			}

			p {
				color: $light;
				font-size: $fontsize_xs;
				line-height: 2.8rem;
				//border-bottom: 0.1rem solid $screen_light_15;
				font-weight: $weight_light;
				margin-bottom: 0;
			}
		}

		.microphone-slider-margin {
			margin-right: 1.5rem;
		}
		.microphone-on-off {
			::ng-deep .vtr-ui-switch-row.white-theme {
				.vtr-row-switch {
					min-width: 7.5rem;
				}
			}
		}
	}
	
	ul.list-group {
		list-style-type: none;
		//padding-bottom: 3rem;
		li {
			&:last-child {
				::ng-deep .vtr-ui-switch-row {
					border-bottom: none !important;
				}
			}
		}
	}
}
