<div class="subpage-device-settings-audio vtr-subpage">
	<div class="row">
		<div class="col">
			<vtr-ui-header-subpage [title]="title"
				[caption]="headerCaption">
			</vtr-ui-header-subpage>

		</div>
	</div>
	<div class="row py-5 smartsettings-card" *ngIf="dolbyModeResponse.available"
		id="audio">
		<div class="col-10 mx-auto ">
			<vtr-container-collapsible componentName="Audio SmartSettings"
				cardTitle="Audio Smartsettings"
				[isCollapsed]="false"
				[allowCollapse]="false"
				[theme]="'blue'">
				<div class="row">
					<div class="col-auto text-wrap subtitle">
						<h3>Application-Based Settings</h3>
						<p>Automatically adjust audio settings according to different apps you are using.</p>
					</div>
				</div>
				<ul class="list-group list-group-flush">
					<li class="">
						<vtr-ui-row-switch componentName="Automatic Dolby Audio Settings"
							[title]="'Automatic Dolby Audio settings'"
							[name]="'Automatic Dolby Audio settings'"
							componentName="Automatic Dolby Audio Settings"
							[caption]="''"
							[isSwitchVisible]=true
							[leftIcon]="['svg', 'LE-Dolby']"
							[rightIcon]="['far', 'question-circle']"
							[readMoreText]="''"
							[showChildContent]="true"
							[theme]="'blue'"
							[tooltipText]="'Automatic Dolby Audio settings configures Dolby audio settings to the appropriate mode for different apps you are using to enhance your audio experience.'"
							(toggleOnOff)="onAutomaticDolbyAudioToggleOnOff($event)"
							[isSwitchChecked]="autoDolbyFeatureStatus.status">

							<div class="my-3"
								*ngIf="!autoDolbyFeatureStatus.status && dolbyModeResponse.available">
								<vtr-ui-rectangle-radio *ngFor="let dolbyMode of dolbyModeResponse.supporedModes"
									[radioId]="'radio'| uniqueId"
									[group]="radioGroupAutoDolbySettings"
									[label]="dolbyMode | dolbyModesTranslation"
									[value]='dolbyMode'
									[checked]="dolbyMode == dolbyModeResponse.currentMode"
									(change)="onDolbySeetingRadioChange($event)">
								</vtr-ui-rectangle-radio>
							</div>
						</vtr-ui-row-switch>
					</li>
					<li class="">
						<vtr-ui-row-switch [title]="'Automatic Audio Optimization for VoIP'"
							name="Automatic Audio Optimization for VoIP"
							componentName="Automatic Audio Optimization for VoIP"
							[caption]="''"
							[isSwitchVisible]=true
							[leftIcon]="['fas', 'search']"
							[rightIcon]="['far', 'question-circle']"
							[readMoreText]="''"
							[showChildContent]="false"
							[theme]="'blue'"
							[tooltipText]="'Automatically switch to Dolby Voice mode during VoIP calls to deliver clear, consistent voice quality.'"
							(toggleOnOff)="onToggleOfMicrophoneAutoOptimization($event)"
							[isSwitchChecked]="microphoneProperties.autoOptimization">
						</vtr-ui-row-switch>
					</li>
				</ul>
			</vtr-container-collapsible>
		</div>
	</div>
	<div class="row py-5 smartsettings-card"
		id="microphone">
		<div class="col-10 mx-auto ">
			<vtr-container-collapsible componentName="Microphone"
				cardTitle="Microphone"
				[isCollapsed]="false"
				[allowCollapse]="true"
				[theme]="'white'">
				<ul class="list-group list-group-flush">
					<li class="">
						<vtr-ui-row-switch [title]="'Microphone'"
							name="Microphone"
							componentName="Microphone"
							[caption]=""
							[isSwitchVisible]=true
							[leftIcon]="['far', 'gem']"
							[rightIcon]="['far', 'question-circle']"
							[readMoreText]="''"
							[showChildContent]="true"
							[theme]="'white'"
							[disabled]="!microphoneProperties.permission"
							[tooltipText]="'You can customize your MIC effect by adjusting the microphone volume and specify appropriate mode.'"
							(toggleOnOff)="onToggleOfMicrophone($event)"
							[isSwitchChecked]="microphoneProperties.muteDisabled">
						</vtr-ui-row-switch>
					</li>
					<li class="">
						<vtr-ui-row-switch [title]="'Microphone Volume'"
							name="Microphone Volume"
							componentName="MicrophoneVolume"
							[caption]="'Dolby Audio delivers rich, clear, powerful sound from all the content you enjoy, select appropriate mode for your content and equipment.'"
							[isSwitchVisible]=false
							[leftIcon]="['far', 'gem']"
							[rightIcon]=""
							[readMoreText]="''"
							[showChildContent]="true"
							[disabled]="!microphoneProperties.permission"
							[theme]="'white'">
							<div class="row">
								<div class="col-10">
									<vtr-ui-range-slider [minValueLegend]="'Silent'"
										[minValue]="0"
										[maxValueLegend]="'Loud'"
										[maxValue]="100"
										(change)="setVolume($event)"
										[enableSlider]="!microphoneProperties.permission"
										[value]="microphoneProperties.volume">
									</vtr-ui-range-slider>
								</div>
								<div class="col-2"></div>
							</div>
						</vtr-ui-row-switch>
					</li>

					<li class="" *ngIf="microphoneProperties.keyboardNoiseSuppression != undefined">
						<vtr-ui-row-switch [title]="'Suppress keyboard noise'"
							name="Supress Keyborad noise"
							componentName="Supress Keyboard noise"
							[caption]=""
							[isSwitchVisible]=true
							[leftIcon]="['far', 'gem']"
							[rightIcon]="['far', 'question-circle']"
							[readMoreText]="''"
							[showChildContent]="true"
							[theme]="'white'"
							[tooltipText]="'Toggle this on to optimize the MIC audio by suppressing keyboard noise.'"
							(toggleOnOff)="onToggleOfSuppressKbdNoise($event)"
							[disabled]="microphoneProperties.disableEffect"
							[isSwitchChecked]="microphoneProperties.keyboardNoiseSuppression">
						</vtr-ui-row-switch>
					</li>

					<li class="">
						<vtr-ui-row-switch [title]="'Acoustic Echo Cancellation'"
							name="Acoustic Echo Cancellation"
							componentName="Acoustic Echo Cancellation"
							[caption]=""
							[isSwitchVisible]=true
							[leftIcon]="['far', 'gem']"
							[rightIcon]="['far', 'question-circle']"
							[readMoreText]="''"
							[showChildContent]="true"
							[theme]="'white'"
							[tooltipText]="'Toggle on this feature to optimize your MIC audio by reducing acoustic echo.'"
							(toggleOnOff)="setMicrophoneAEC($event)"
							[disabled]="microphoneProperties.disableEffect"
							[isSwitchChecked]="microphoneProperties.AEC">
						</vtr-ui-row-switch>
					</li>

					<li class="">
						<vtr-ui-row-switch [title]="'Optimize my microphone for:'"
							componentName="Optimize my microphone for"
							name="Optimize microphone"
							[caption]="'Configure microphone effect to enhance your audio experience by different scenarios and environment.'"
							[isSwitchVisible]=false
							[leftIcon]="['far', 'gem']"
							[readMoreText]="''"
							[showChildContent]="true"
							[disabled]="microphoneProperties.disableEffect"
							[theme]="'white'">
							<div class="row">
								<div class="col-12 pt-4">
									<vtr-ui-rectangle-radio *ngFor="let optimizeMode of microOptimizeModeResponse.modes"
										[radioId]="'radio'| uniqueId"
										[group]="radioOptimiseMicSettings"
										[label]="optimizeMode | separatePascalCase"
										[value]='optimizeMode'
										[checked]="optimizeMode === microOptimizeModeResponse.current"
										[disabled]="microphoneProperties.disableEffect"
										(change)="onOptimizeModesRadioChange($event)">
									</vtr-ui-rectangle-radio>
								</div>
							</div>
						</vtr-ui-row-switch>
					</li>
				</ul>
			</vtr-container-collapsible>
		</div>
	</div>
</div>
