<div class="modal-body">
  <div class="title">{{'hardwareScan.warning' | translate}}</div>
  <div class="description" [innerHtml]="modalDescription"></div>

  <div class="row">
    <div class="col">
      <beta-vtr-ui-button
        vtrMetrics
        metricsEvent="FeatureClick"
        metricsParent="{{ItemParent}}"
        metricsItem="{{ConfirmItemName}}"
        [label]="buttonText"
        [tooltipText]="buttonText"
        (onClick)="onClosing()">
      </beta-vtr-ui-button>
    </div>
  </div>

  <a role="button"
    href="javascript:;"
    class="close-btn"
    vtrMetrics
    metricsEvent="FeatureClick"
    metricsParent="{{ItemParent}}"
    metricsItem="{{CancelItemName}}"
    tabindex="0"
    (click)="activeModal.dismiss('Cross click')">
    <img [src]=" '/assets/icons/Close.svg' | svgInline | async"
      alt=""
      srcset="">
  </a>
</div>
