@import "../../../../app.theme";

.title {
	font-size: $fontsize_xl;
	font-weight: $weight_600;
	color: $shade_blue;
}

.description {
	font-size: $fontsize_xs;
	white-space: pre-wrap;
	font-weight: $weight_light;
	color: $shade_blue;
}

.modal-body {
	padding: 2.4rem;
}

.close-btn {
	position: absolute;
	right: 1.8rem;
	top: 1.8rem;
	width: 2.2rem;
	height: 2.2rem;
	margin-bottom: 1rem;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}

	img {
		width: 100%;
		height: 100%;
	}
}

::ng-deep .beta-vtr-ui-button {
	.button-box {
		margin-top: 1rem;
		.button {
			min-height: 4rem !important;
		}
	}
}