@import "../../../app.theme.scss";
.wifi-security-location-modal {
	border-radius: $border_radius;
	background: $light;
	background-size: cover;
	color: $main_dark;
	box-shadow: $drop_shadow;
	padding: 4rem;
	position: relative;
	outline: none;
	h1 {
		font-size: 2.6rem;
		font-weight: $weight_regular;
		color: $main_dark;
		letter-spacing: 0;
	}
	.description {
		font-size: 1.5rem;
		font-weight: $weight_light;
		color: $main_dark;
		letter-spacing: 0;
		padding-bottom: 1.5rem;
		margin-bottom: 2rem;
		border-bottom: 0.1rem solid $main_lightest;
	}
	.close-btn {
		position: absolute;
		right: 1.8rem;
		top: 1.8rem;
		width: 2.2rem;
		height: 2.2rem;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			text-decoration: none;
			font-size: 2rem;
		}
	}
	.modal-button-cancel {
		cursor: pointer;
		background: none;
		color: $main;
		font-size: 1.5rem;
		font-weight: $weight_bold;
		margin: 0.5rem;
		padding: 1.2rem 0 0.5rem;
		height: 3.8rem;
		border-radius: 0;
		border-bottom: 0.2rem solid $main;
	}
}
::ng-deep {
	.wifi-security-location-modal .modal-dialog {
		height: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-top: 0;
	}
}
