<div class="wifi-security-location-modal" id="wifi-sec-modal"
	attr.aria-label="{{ 'security.wifisecurity.locationmodal.title' | translate }} window" tabindex="1">
	<h1>{{ header | translate }} </h1>
	<div role="button" tabindex="1" class="close-btn" id="{{closeButtonId}}" (click)="onCancelClick($event)">
		<img [src]=" 'assets/icons/Close.svg' | svgInline | async" alt="" srcset="">
	</div>
	<p class="description">
		{{ description | translate }}
	</p>
	<ul>
		<li *ngFor="let package of packages">{{ package }}</li>
	</ul>
	<div class="d-flex">
		<div class="ml-0 mr-4 pl-0">
			<vtr-ui-button vtrMetrics metricsParent="Security.WifiSecurity" metricsItem="agreeOpenLocation"
				metricsEvent="featureClick" [linkId]="agreeButtonId" (onClick)="onOkClick($event)" [title]="OkText | translate"
				[label]="OkText | translate"></vtr-ui-button>
		</div>
		<div class="ml-0 mr-4 pl-0">
			<div tabindex="1" (keydown)="keydownFn($event)" role="button" id="{{cancelButtonId}}" role="button" class="btn btn-default modal-button-cancel"
				(click)="onCancelClick($event)" vtrMetrics metricsParent="Security.WifiSecurity"
				metricsItem="cancelOpenLocation" metricsEvent="featureClick">
				{{CancelText | translate}}
			</div>
		</div>
	</div>
</div>