@import "../../../app.theme";

// @import '../../../app.theme.scss';

.vtr-device-information {
	border-radius: $border_radius;
	background-color: $light;
	box-shadow: $drop_shadow;
	padding: 4rem;
	margin-bottom: 4rem;
	.family {
		color: $main_darker;
		font-size: 3.5rem;
	}
	.device-sub-header {
		color: $shade;
		font-size: 1.5rem;
	}

	.sub-header-separator {
		color: $shade;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		font-size: 1.5rem;
	}

	.subheader {
		color: $main_darker;
		font-size: 3.0rem;
		margin-top: 4rem;
		font-weight: $weight_bold;
	}

	.status-list {
		margin-top: 2.7rem;
		list-style: none;
		padding: 0;
		background-color: $light;
		border: 0.1rem solid $shade_lightest;
		li {
			height: 12rem;
			margin-top: 2.5rem;
			padding: 1.5rem 1rem 1.5rem 0;
			border-bottom: 0.1rem solid $shade_lighter;
			&:last-child {
				border: none;
			}
			&:hover {
				background-color: $shade_extralight;
			}
			&.good {
				.status-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
						border-color: $go_dark;
					}
				}
			}
			&.bad {
				.status-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
						border-color: $stop_dark;
					}
				}
				.detail {
					color: $stop;
				}
				.arrow {
					color: $stop;
				}
			}
			a {
				&:hover {
					text-decoration: none;
				}
			}
			.status-icon {
				.icon-bkg {
					display: inline-block;
					border-radius: 50%;
					height: 3.6rem;
					width: 3.6rem;
					border-width: 0.2rem;
					border-style: solid;
					text-align: center;
					fa-icon {
						font-size: 2.1rem;
						line-height: 3.3rem;
						padding-left: 0.3rem;
						color: $light;
					}
				}
			}
			.title {
				font-size: 1.7rem;
				font-weight: $weight_medium;
				margin-left: -3rem;
			}
			.description {
				font-size: 1.4rem;
				margin-left: -3rem;
				margin-top: 0.9rem;
			}
			.detail {
				font-size: 1.6rem;
				text-decoration: underline;
				line-height: 6.9rem;
				margin-top: 0.9rem;
				color: $shade_darker;
				&.highlight {
					color: $shade_darker;
					text-decoration: underline;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.arrow {
				color: $main_darker;
				line-height: 6.9rem;
				font-size: 1.5rem;
				margin-left: -2.2rem;
				margin-top: 0.9rem;
			}
		}
	}
}
.heading {
	color: $main_dark;
	color: $main_darker;
	font-size: 4.0rem;
}

