<div class="modal-body vtr-modal-reboot-machine">
	<div class="row justify-content-end">
		<div class="btn-close">
			<button type="button"
				role="button"
				class="close"
				tabindex="1"
				aria-hidden="true"
				aria-label="ds-reboot-popup-close-button"
				(click)="closeModal()"
				(keydown.enter)="closeModal()">
				<fa-icon [icon]="['fal', 'times']"></fa-icon>
			</button>
		</div>
	</div>
	<h1 id="ds-reboot-popup"
		git
		attr.aria-label="ds-reboot-popup">
		{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.popup.title' | translate}}</h1>
	<p id="ds-rebootpopup-description2"
		attr.aria-label="ds-rebootpopup-description2">
		{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.popup.description' | translate}}</p>
	<hr>
	<div class="row">
		<button id="reboot-popup-enable"
			role="button"
			attr.aria-label="reboot-popup-enable"
			tabindex="1"
			class="btn enable-button"
			(click)="proceedToReboot()"
			(keydown.enter)="proceedToReboot()">{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.popup.reboot' | translate}}</button>
		<a id="reboot-popup-cancel"
			role="link"
			tabindex="1"
			attr.aria-label="reboot-popup-cancel"
			(click)="closeModal()"
			(keydown.enter)="closeModal()"
			class="cancel-link active">{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.popup.cancel' | translate}}</a>
	</div>

</div>
