<div class="modal-body vtr-modal-reboot-machine"
	role="dialog"
	aria-modal="true">
	<div class="row justify-content-end">
		<div class="btn-close">
			<button type="button"
				role="button"
				class="close"
				tabindex="0"
				aria-label="ds-reboot-popup-close-button"
				(click)="closeModal()"
				(keydown.enter)="closeModal()">
				<fa-icon [icon]="['fal', 'times']"></fa-icon>
			</button>
		</div>
	</div>
	<h1 id="ds-reboot-popup"
		role="text"
		tabindex="0"
		ngbAutofocus>
		{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.popup.title' | translate}}
	</h1>
	<p id="ds-rebootpopup-description2"
		role="text">{{description | translate}}</p>
	<hr>
	<div class="row">
		<button id="reboot-popup-enable"
			role="button"
			attr.aria-label="reboot-popup-enable"
			tabindex="0"
			class="btn enable-button"
			(click)="proceedToReboot()"
			(keydown.enter)="proceedToReboot()">{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.popup.reboot' | translate}}</button>
		<a id="reboot-popup-cancel"
			role="link"
			tabindex="0"
			attr.aria-label="reboot-popup-cancel"
			(click)="closeModal()"
			(keydown.enter)="closeModal()"
			class="cancel-link active">{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.popup.cancel' | translate}}</a>
	</div>

</div>
