@import "../../../app.theme.scss";

.vtr-modal-reboot-machine {
	&.modal-body {
		padding: 0;
		.btn-close {
			position: absolute;
			top: -4rem;
			right: -4rem;
			padding: 0.6rem 1.2rem;
			width: 4rem;
			height: 4rem;
			}
	}

	fa-icon {
		font-size: 3rem;
		color: $main;
	}

	h1 {
		font-size: $fontsize_xl;
		font-weight: normal;
		color: $darkText;		
		padding-right: 2.5rem;
	}

	p {
		font-size: $fontsize_xs;
		color: $darkText;
		padding: 0.5rem 0;
	}

	.enable-button {
		background: $blueFill;
		border-radius: 3rem;
		color: $light;
		font-size: $fontsize_sm;
		padding: 1rem 3rem;
		margin-top: 1rem;
		margin-right: 3rem;
		font-weight: $weight_bold;
	}
	.cancel-link {
		height: 2.5rem;
		color: $blueFill;
		font-size: $fontsize_sm;
		vertical-align: middle;
		padding: 0 0.5rem;
		font-weight: $weight_600;
		margin-top: 2rem;
		border-bottom: 2px solid $blueFill;
		cursor: pointer;
		&:hover {
			color: $blueHover;
			border-bottom: 2px solid $blueHover;			
			cursor: pointer;
		  }		
	}
}
