@import "../../../../../app.theme.scss";

.vtr-widget-landing-security {
  .icomoon {
    font-size: 2rem;
    color: $menu_hover;
  }
  .basis-width {
	  flex: 0 1 3rem;
  }

  .landing-content {
    vtr-ui-button {
      ::ng-deep .vtr-ui-button {
        margin: 1.5rem 0 1rem 0;
        .button-box {
          padding-left: 0;
          button {
            min-height: 2.7rem;
            font-size: 1.2rem;
			font-weight: 600;
			max-width: 100%;
          }
        }
      }
    }

    .custom-control-input {
      z-index: 1;
      width: 2rem;
      height: 2rem;
    }
  }

  .white-button {
    ::ng-deep {
      .button-box {
        .button {
          border: 1px solid $grey_dark !important;
          color: $grey_darker !important;
          background: linear-gradient(90deg, $grey_lighter 0%, $light 100%) !important;
        }
      }
    }
  }

  .badge {
	  height: 1.5rem;
	  line-height: 1.5rem;
    text-transform: uppercase;
    color: $light;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0 1rem;
	  justify-self: end;
	  max-width: 12rem;
  }

  .status-enabled {
    background: $green_dark;
  }

  .status-haveOwn {
    background: $black_light;
  }

  .status-loading {
    background: $black_light;
  }

  .status-disabled {
    color: $grey_dark;
  }

  .custom-control-label {
    cursor: pointer;

    &::before {
      width: 1.8rem;
      height: 1.8rem;
    }

    &::after {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  label {
    padding: 0.2rem 0 0 1.5rem;
    font-size: 1.2rem;
  }

  .item:last-of-type {
    hr {
      display: none;
    }
  }

  .landing-content {
    p {
      font-size: 1.2rem;
    }
  }
}
