@import "../../../app.theme";

.vtr-widget-switch-icon {
	display: inline-block;
	.switch-container {
		height: 12.5rem;
		width: 12.5rem;
		border-radius: $border_radius;
		&.checked {
			border: 1px solid $go;
			background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
			.title {
				color: $light;
			}
			.icon-container {
				background: linear-gradient($gradient_angle_reverse, $go 0%, $go_light 100%);
				color: $light;
			}
		}
		&.unchecked {
			border: 1px solid $shade_lighter;
			background: linear-gradient($gradient_angle, $shade_lighter 0%, $light 100%);
			.title {
				color: $shade_darker;
			}
			.icon-container {
				background: linear-gradient($gradient_angle_reverse, $shade_lighter 0%, $light 100%);
				color: $shade_darker;
			}
		}
		.title {
			text-transform: uppercase;
			text-align: center;
			font-size: 1.1rem;
			margin: 0.5em 0;
			font-weight: $weight_medium;
			letter-spacing: 0;
		}
		.icon-container {
			width: 6rem;
			height: 6rem;
			border-radius: 50%;
			overflow: hidden;
			margin: 0.7rem auto;
			text-align: center;
			position: relative;

			fa-icon {
				font-size: 4rem;
				line-height: 6rem;
			}

			.feature-off {
				position: absolute;
				color: $alt;
				font-weight: 300;
				font-size: 5.5rem;
				left: 28%;
				top: -16%;
				transform: rotate(-25deg);
			}
		}
		.switch {
			width: 5.3rem;
			margin: 0.5rem auto;
		}
	}
}
