<div class="vtr-widget-switch-icon"
	tabindex="0"
	[disabled]="isBlocked"
	[ngClass]="{'disable-state': (disable || isLoading)}"
	(keyup.enter)="onChange($event)"
	(click)="onChange($event)"
	[title]="tooltipText"
	id="qs-{{switchId}}-switch-icon"
	attr.aria-label="qs-{{switchId}}-switch-icon"
	vtrMetrics
	metricsEvent="featureClick"
	[metricsValue]="!value"
	[metricsItem]="metricsItem">
	<button class="switch-container"
		tabindex="-1"
		[ngClass]="[(value && !isLoading) ? 'checked' : 'unchecked', disable ? 'disable-container' : '']"
		[ngClass]="{'unchecked': isLoading}"
		[id]="findId(value,disable)">
		<div class="title"
			[ngClass]="{'disable-container' : disable}"
			id="qs-{{switchId}}-switch-title"
			attr.aria-label="qs-{{switchId}}-switch-title">{{ title }}</div>
		<div *ngIf="!isLoading"
			class="icon-container d-block"
			[ngClass]="{'disable-container' : disable}">
			<i [class]="iconDefinition"
				[ngClass]="{'enabled' : !isBlocked}"
				*ngIf="!isBlocked"></i>
			<i [class]="offIconDefinition"
				[ngClass]="{'disabled' : isBlocked}"
				*ngIf="isBlocked && !disable"></i>
			<i [class]="iconDefinition"
				[ngClass]="{'disable-container' : disable}"
				*ngIf="isBlocked && disable"></i>
		</div>
		<div *ngIf="isLoading"
			class="icon-container d-block position-relative">
			<div class="loader center-block">
				<div class="spinner-border text-secondary progress-spinner"
					role="status"></div>
			</div>
		</div>
		<div class="row" [ngClass]="{'is-visible' : hideOnOffLabel}">
			<div class="col">
				<div class="switch-on-off">
					<div *ngIf="!value && !isLoading"
						class="switch-label off-label"
						id="qs-{{switchId}}-switch-off"
						attr.aria-label="qs-{{switchId}}-switch-off">
						<span *ngIf="!disable">{{'common.ui.off' | translate}}</span>
						<span *ngIf="disable">&nbsp;</span>
					</div>
					<div *ngIf="value && !isLoading"
						class="switch-label on-label"
						id="qs-{{switchId}}-switch-on"
						attr.aria-label="qs-{{switchId}}-switch-on">
						{{'common.ui.on' | translate}}</div>
					<!-- <div *ngIf="isLoading"
						class="switch-label off-label"
						id="qs-{{switchId}}-switch-loading"
						attr.aria-label="qs-{{switchId}}-switch-loading">
						{{'common.ui.loading' | translate}}
					</div> -->
				</div>
			</div>
		</div>
	</button>
</div>
