@import "../../../app.theme";

.vtr-widget-switch-icon {
	display: inline-block;
	cursor: pointer;
	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.switch-container {
		height: 12.5rem;
		width: 12.5rem;
		border-radius: $border_radius;
		padding: 0.1rem 0 0;
		&.focus-blue-outline {
			&:focus::after {
				border-radius: $border_radius;
			}
		}

		@media #{$breakpoint_xl3} {
			height: 10.5rem;
			width: 10.5rem;
		}

		@media #{$breakpoint_xl2} {
			height: 9rem;
			width: 9rem;
		}

		@media #{$breakpoint_xl} {
			height: 9.5rem;
			width: 9.5rem;
		}

		@media #{$breakpoint_lg} {
			height: 21rem;
			width: 21rem;
		}

		@media #{$breakpoint_md} {
			height: 13rem;
			width: 13rem;
		}

		&.checked {
			border: 1px solid $go;
			background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);

			.title {
				color: $light;
			}

			.icon-container {
				background: linear-gradient($gradient_angle_reverse, $go 0%, $go_lighter 100%);
				color: $light;
			}
		}

		&.unchecked {
			border: 1px solid $shade_lighter;
			background: linear-gradient($gradient_angle, $shade_lighter 0%, $light 100%);

			.title {
				color: $shade_darker;
			}

			.icon-container {
				background: linear-gradient($gradient_angle_reverse, $shade_lighter 0%, $light 100%);
				color: $shade_darker;
			}
		}

		.title {
			cursor: pointer;
			text-transform: uppercase;
			text-align: center;
			font-size: 1.1rem;
			// margin: 0 0 0rem 0.6rem;
			font-weight: $weight_medium;
			letter-spacing: 0;
			// overflow: hidden;

			@media #{$breakpoint_lg} {
				font-size: 2rem;
			}

			@media #{$breakpoint_md} {
				font-size: 1.1rem;
			}
		}

		.icon-container {
			width: 6rem;
			height: 6rem;
			border-radius: 50%;
			overflow: hidden;
			margin: 1rem auto;
			text-align: center;
			position: relative;
			cursor: pointer;

			@media #{$breakpoint_xl3} {
				height: 4.5rem;
				width: 4.5rem;
				margin: 0.5rem auto;
			}

			@media #{$breakpoint_xl} {
				width: 5rem;
				height: 5rem;
			}

			@media #{$breakpoint_lg} {
				width: 6rem;
				height: 6rem;
			}

			@media #{$breakpoint_md} {
				width: 6rem;
				height: 6rem;
			}

			.icomoon {
				font-size: 4.5rem;
				line-height: 1.3em;
				@media #{$breakpoint_xl3} {
					font-size: 3.5rem;
					line-height: 4.5rem;
				}

				@media #{$breakpoint_xl2} {
					font-size: 2.7rem;
					line-height: 4.3rem;
				}

				@media #{$breakpoint_xl} {
					font-size: 3.7rem;
					line-height: 5rem;
				}
				@media #{$breakpoint_lg} {
					font-size: 4.5rem;
					line-height: 6rem;
				}

				@media #{$breakpoint_md} {
					font-size: 4.5rem;
					line-height: 6rem;
				}
			}

			&.disable {
				color: #000 !important;
			}

			&.enabled {
				color: #fff !important;
			}
		}

		.switch-on-off {
			text-align: center;
			position: relative;
			font-size: 1.1rem;
			font-weight: $weight_medium;
			.off-label {
				color: $shade_darker;
			}
			.on-label {
				color: $light;
			}
			@media #{$breakpoint_lg} {
				font-size: 2rem;
			}

			@media #{$breakpoint_md} {
				font-size: 1.1rem;
			}
		}

		.is-visible {
			visibility: hidden;
		}
	}
}
.disable-state {
	opacity: 0.65;
}
.disable-container {
	cursor: default !important;
	color: lightgray;
}
