<div class="trackers" *ngIf="(trackingData$ | async) as trackingData; else loader">
	<div class="trackers__wrapper" *ngIf="trackingData?.sites.length > 0">
		<fl-tracking-map [trackers]="trackingData"
						 [labels]="getText((isTrackersBlocked$ | async), isUserData)"
						 [positive]="isTrackersBlocked$ | async"
						 [animate]="animate"
						 [defaultSiteIcon]="defaultIcon.site"
						 [defaultTrackerIcon]="defaultIcon.tracker"
						 (showDetails)="showDetails($event, trackingData); sendAnalytics()">
		</fl-tracking-map>
	</div>

	<vtr-common-popup [popUpId]="trackingMapSinglePopupId" size="large">
		<ng-template>
			<vtr-single-tracker-detail
				[percentOfTrack]="percentOfTrack"
				[popUpId]="trackingMapSinglePopupId">
			</vtr-single-tracker-detail>
		</ng-template>
	</vtr-common-popup>
</div>

<ng-template #loader>
	<vtr-big-loader [text]="textForLoader"></vtr-big-loader>
</ng-template>
