@import "../../styles/common-blocks";

.trackers {
	&__header-row {
		display: flex;
		justify-content: space-between;
		margin: 0 0 1.6rem 0;
	}

	&__text {
		@extend %text-common;
		font-size: 1.6rem;
	}

	&__popup-btn {
		@extend %theme-btn;
	}

	&__wrapper {
		width: 100%;
		margin-top: 3rem;
		border: 1px solid #ECF0F1;
		border-radius: 5px;
		overflow: hidden;
		font-size: 1.8rem;
		text-align: center;

		&--loader {
			background-color: #F5F7F8;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 5rem 0;
		}
	}

	&__toggle {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		border-top: 1px solid #ECF0F1;
		text-align: right;
		padding: 1.5rem 2rem;
	}

	&__toggle--text {
		@extend %text-common;
		color: #667481;
		margin-right: 2rem;
	}

	&__spinner-border {
		border: 3px solid rgba(#D9EAF5, 0.2);
		border-radius: 50%;
		padding: 6.4rem;
		display: flex;
	}

	&__spinner-wrapper {
		background-color: #D9EAF5;
		border-radius: 50%;
		padding: 7rem;
		box-shadow: 0 0 0 2.4rem rgba(#D9EAF5, 0.3);
	}

	&__spinner {
		width: 40px;
		height: 40px;
		position: relative;
		text-align: center;

		-webkit-animation: sk-rotate 2.0s infinite linear;
		animation: sk-rotate 2.0s infinite linear;
	}

	&__spinner-dot1,
	&__spinner-dot2 {
		width: 60%;
		height: 60%;
		display: inline-block;
		position: absolute;
		top: 0;
		background-color: #FFFFFF;
		border-radius: 100%;

		-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
		animation: sk-bounce 2.0s infinite ease-in-out;
	}

	&__spinner-dot2 {
		top: auto;
		bottom: 0;
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	&__spinner-text {
		@extend %text-common;
		margin-top: 3.5rem;
		font-weight: 500;
		letter-spacing: 0.54px;
	}
}

.history-clean {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 7rem 7rem 2rem 7rem;

	&__bold-text {
		@extend %text-common;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 5rem;
	}

	&__text {
		@extend %text-common;
		margin-top: 2rem;
	}
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
	  }
}

.trackers__try-product {
	margin-top: 2rem;
	background-color: #FFFFFF;
}
