<div class="trackers">
	<div class="trackers__wrapper" *ngIf="(trackingData$ | async) as trackingData; else loader">
		<ng-container *ngIf="trackingData?.sites.length > 0">
			<fl-tracking-map [trackers]="trackingData"
							 [labels]="getText((isTrackersBlocked$ | async), isUserData)"
							 [positive]="isTrackersBlocked$ | async"
							 [animate]="animate"
							 [defaultSiteIcon]="defaultIcon.site"
							 [defaultTrackerIcon]="defaultIcon.tracker"
							 (showDetails)="showDetails($event, trackingData); sendAnalytics()">
			</fl-tracking-map>
		</ng-container>

		<div class="history-clean"
			 *ngIf="isUserData && trackingData?.sites.length <= 0">
			<img src="assets/images/privacy-tab/privacy-search-completed.png"
				 srcset="assets/images/privacy-tab/privacy-search-completed@2x.png 2x"
				 alt="search completed"
				 class="history-clean__img">
			<span class="history-clean__bold-text">Your browser history is clean.</span>
			<span class="history-clean__text">We cannot compile a tracking map, as there is no data. You could clear the browser history, or you had a new PC.
Use your browser to view websites, and come back here later, then we can show who’s tracking you...</span>
		</div>
	</div>

	<ng-template #loader>
		<vtr-big-loader [text]="textForLoader"></vtr-big-loader>
	</ng-template>

	<vtr-common-popup [popUpId]="trackingMapSinglePopupId" size="large">
		<h3>
			Websites you visit with {{(trackingMapSingleData$ | async)?.tracker.company_name}} tracking tools
		</h3>
		<ng-template>
			<vtr-single-tracker-detail
				[percentOfTrack]="percentOfTrack"
				[popUpId]="trackingMapSinglePopupId"
				[trackingMapSingleData]="trackingMapSingleData$ | async"
				[isTrackersBlocked]="isTrackersBlocked$ | async"
				[isFigleafReadyForCommunication]="isFigleafReadyForCommunication$ | async"
				[isFigleafInExit]="isFigleafInExit$ | async">
			</vtr-single-tracker-detail>
		</ng-template>
	</vtr-common-popup>
</div>
