@import "../../../../app.theme";

.vtr-ui-dropdown-hwscan {

    .dropdown-button{        
        //padding: 1.4rem 1rem 1.4rem 1rem;
        margin: 1rem;
        height: 7rem;
        width: 100%;
        font-size: $fontsize_lg;
        font-weight: 200;
        color: black;
        border: #b8b8b8;
        border-radius: 8px;
        box-shadow: 0 0 2.2rem #b8b8b8;
        background-color: $light;
        outline: none;

        .subtitle{
            padding: 0 2rem;
            color: $shade_light;
            font-size: $fontsize_xs2;
            font-weight: $weight_medium;
            text-align: left;
          }

        .larger-subtitle{
            font-size: 0.9rem !important;
            padding: 0 2rem;
            color: $shade_light;
            font-weight: $weight_medium;
            text-align: left;
        }

        .dropdown-button-elements {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 0 2rem;

            
            .icon{
                font-size: $fontsize_xl3;
                color: $main;
                font-weight: $weight_regular;
            }
        }

    }

    .dropdown-button::after {
        display:none;
    }

    .dropdown-toggle::after {
        display:none;
    }

    .dropdown-menu{
        margin-left: 1rem;
        margin-top: 1rem;
        border-radius: 8px;
        width: 60rem;
        outline: none;
        transform: translate3d(0rem, 7rem, 0rem)!important;
    }

    .small {
        width: 18rem;
    }

    .dropdown-items{
        border: 0rem;
        font-size: $fontsize_lg;
    }

    

    .dropdown-options{
        border-radius: 8px;
        font-weight: bolder;
    }

    .force-scroll {
        overflow-y: scroll;        
        height: 12rem;        
    }

    .has-subtitle{
        margin-top: -1.9rem;
    }

    .no-subtitle{
        margin-top: -1rem;
    }

    .d-inline-block {
        padding: 0;
    }
}