<div class="modal-body vtr-modal-server-switch">
	<div class="row justify-content-end">
		<div class="btn-close">
			<button type="button"
				class="close"
				(click)="closeModal()">
				<fa-icon [icon]="['fal', 'times']"></fa-icon>
			</button>
		</div>
	</div>
	<div class="row justify-content-start">
		<div class="col-6">
			<h1>{{serverSwitchTitle}}</h1>
			<h4 class="col-12">{{serverSwitchData.currentUrl}}</h4>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row server-content">
			<div class="server-body col">
				<form name="serverswitchform"
					[formGroup]="serverSwitchForm"
					(ngSubmit)="onSubmit()"
					class="form"
					novalidate>
					<ul *ngIf="sddInvalid.status"
						class="alert alert-danger">
						<li class="fa fa-error"
							*ngFor="let msg of sddInvalid.message;">{{msg}}</li>
					</ul>

					<div class="form-group row mb-2">
						<label for="cmsserver"
							class="col col-4 col-form-label">CMS API</label>
						<div class="col">
							<select name="cmsserver"
								id="cmsserver"
								formControlName="cmsserver"
								required>
								<option *ngFor="let cmsserver of serverSwitchData.serverList"
									[ngValue]="cmsserver">{{cmsserver}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row mb-2">
						<label for="country"
							class="col col-4 col-form-label">Country</label>
						<div class="col">
							<select name="country"
								id="country"
								formControlName="country"
								required>
								<option *ngFor="let country of serverSwitchData.countryList"
									[ngValue]="country">{{country.Value}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row mb-2">
						<label for="language"
							class="col col-4 col-form-label">Language</label>
						<div class="col">
							<select name="language"
								id="language"
								formControlName="language"
								required>
								<option *ngFor="let language of serverSwitchData.languageList"
									[ngValue]="language">{{language.Value}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row mb-2">
						<label for="segment"
							class="col col-4 col-form-label">Segment</label>
						<div class="col">
							<select name="segment"
								id="segment"
								formControlName="segment"
								required>
								<option *ngFor="let segment of serverSwitchData.segmentList"
									[ngValue]="segment">{{segment}}</option>
							</select>
						</div>
					</div>

					<div class="form-group row mb-2">
						<label for="oem"
							class="col col-4 col-form-label">OEM</label>
						<div class="col">
							<select name="oem"
								id="oem"
								formControlName="oem"
								required>
								<option *ngFor="let oem of serverSwitchData.oemList"
									[ngValue]="oem">{{oem}}</option>
							</select>
						</div>
					</div>

					<div class="form-group row mb-2">
						<label for="brand"
							class="col col-4 col-form-label">Brand</label>
						<div class="col">
							<select name="brand"
								id="brand"
								formControlName="brand"
								required>
								<option *ngFor="let brand of serverSwitchData.brandList"
									[ngValue]="brand">{{brand}}</option>
							</select>
						</div>
					</div>

					<div class="form-group row mb-2">
						<div class="col">
							<input type="submit"
								class="btn btn-lg btn-primary button"
								value="Submit">
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
