@import "../../../app.theme";

.vtr-widget-device {
	box-shadow: $drop_shadow;
	border-radius: $border_radius;
	background-color: $light;
	overflow: hidden;
	position: relative;
	.my-dev-pad {
		padding: 2.4rem;
	}
	.device-status {
		@media #{$breakpoint_lg} {
			flex-direction: row;
		}
		@media #{$breakpoint_md} {
			flex-direction: row;
		}
		@media #{$breakpoint_sm} {
			flex-direction: column;
		}
		.device-info {
			flex-grow: 2;
		}
		.device-image {
			display: flex;
			justify-content: flex-end;
			flex-grow: 1;
			padding-top: 3rem;
			@media #{$breakpoint_sm} {
				justify-content: flex-start;

			}
			.circleimage {
				@media #{$breakpoint_lg} {
					width: 200px;

				}
			}
		}
		.family {
			color: $main_dark;
			font-size: $fontsize_xl2;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 95%;
			font-weight: $weight_light;
		}
	}

	.device-sub-header {
		color: $shade_darkest;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		@media #{$breakpoint_sm} {
			font-size: 1.25rem!important;
		}
	}

	.sub-header-separator {
		color: $shade_darkest;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		font-size: 1.4rem;
		@media #{$mediaquery_X1} {
			font-size: 1.25rem;
		}
	}

	.subheader {
		color: $main_dark;
		font-size: $title;
		margin-top: 4rem;
		font-weight: $weight_bold;
	}

	.status-list {
		margin-top: 2.7rem;
		list-style: none;
		padding: 0;
		background-color: $light;
		border: 0.1rem solid $shade_lightest;
		li {
			margin: 0;
			padding: 3rem 1.3rem 3rem 0;
			border-bottom: 1px solid $shade_lighter;
			&:last-child {
				border: none;
			}
			&:hover {
				background-color: $shade_extralight;
			}
			&.good {
				.status-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
						background-color: $go_dark;
						border-color: $go_dark;
					}
				}

				.detail {
					color: $shade_blue;
					/*  &.highlight {
						color: $shade_darkest;
					} */
				}
			}
			&.bad {
				.status-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
						background-color: $stop_dark;
						border-color: $stop_dark;
					}
				}
				.detail {
					color: $stop;
				}
				.arrow {
					color: $stop;
				}
			}
			a {
				display: block;
				padding: 0.2rem;
				&:hover {
					text-decoration: none;
				}
			}
			.status-icon {
				flex-grow: 0;
				padding: 0 1rem;
				@media #{$breakpoint_sm} {
					flex-grow: 0;
				}
				.icon-bkg {
					display: inline-block;
					border-radius: 50%;
					height: 3.3rem;
					width: 3.3rem;
					border-width: 0.3rem;
					border-style: solid;
					text-align: center;
					fa-icon {
						font-size: $fontsize_sm;
						line-height: $fontsize_xl;
						color: $light;
					}
				}
			}
			.status-content {
				flex-grow: 8;
				@media #{$breakpoint_xl} {
					flex-direction: column;
					flex-grow: 0;
					width: 85%;

				}
				@media #{$breakpoint_lg} {
					flex-direction: row;
				}
				@media #{$breakpoint_md} {
					flex-direction: column;
					flex-grow: 0;
				}
				@media #{$breakpoint_sm} {
					flex-direction: column;
					flex-grow: 0;
					width: 80%;

				}
			}
			.title {
				font-size: $fontsize_sm;
				font-weight: $weight_light;
				margin-bottom: 0.5rem;
				color: $charcoal;

				.systemDetails {
					font-size: $fontsize_xs;
					font-weight: $weight_light;
					color: $grey_dark;
				}
			}
			.description {
				font-size: 1.4rem;
				color: $shade;
			}
			.detail {
				font-size: $fontsize_xs;
				text-decoration: underline;
				font-weight: $weight_light;
				&.highlight {
					text-decoration: underline;
					&:hover {
						text-decoration: underline;
					}
				}
				fa-icon {
					margin-left: .5em;
					position: relative;
					top: .1em;
					color: $menu_hover;
				}
			}
			.arrow {
				color: $main_darker;
				line-height: 3.8rem;
				font-size: 1.1rem;
				font-weight: $weight_light;
			}
		}

	}

	.device-sub-header .rtl {
		display: inline-block;
	}
	/*
	.status-list li .row.rtl {
		display: flex;
		flex-direction: row-reverse;
		.text-right{
			text-align: left !important;
			flex-grow: 8;
		}
	}*/
}
