<div class="vtr-widget-device">
	<div class="container-fluid p-40">
		<div class="circleimage"><img src="../../../../assets/images/circle.png" /> </div>
		<div class="row mt-20">
			<div class="col">
				<div class="family">{{myDevice.family}}</div>
			</div>
		</div>
		<div class="row">
			<div class="device-sub-header">Serial: {{myDevice.sn}}</div>
			<div class="sub-header-separator">
				<fa-icon [icon]="['fas', 'minus']"></fa-icon>
			</div>
			<div class="device-sub-header">Product number: {{myDevice.productNo}}</div>
			<div class="sub-header-separator">
				<fa-icon [icon]="['fas', 'minus']"></fa-icon>
			</div>
			<div class="device-sub-header">Bios version: {{myDevice.bios}}</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="subheader">{{subtitle}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="status-list">
					<li *ngFor="let item of deviceStatus"
						[ngClass]="[!item.status?'good':'bad']">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto">
									<div class="status-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', !item.status?'check':'times']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col-auto p-0">
									<div class="title"
										[ngClass]="[!item.status?'good':'bad']">
										{{item.title}}
									</div>
									<!-- <div class="description row">{{item.description}}</div> -->
								</div>
								<div class="col-auto text-right ml-auto">
									<!--Open vantage subapges if isSystemLink===undefined or  isSystemLink  === false then user routerLink to naviagate within Lenovo Vantage Application -->
									<a routerLink="/{{item.path}}"
										*ngIf="item.isSystemLink===undefined">
										<div class="detail"
											[ngClass]="{'highlight':item.asLink}">
											{{item.detail}}
										</div>
									</a>
									<!--Open Windows Settings /subapges if isSystemLink is not undefined or  then sanitise URL of windows settings page like (ms-settings:storagesense) , link href instead of routerlink value is set to URL-->
									<a *ngIf="item.isSystemLink!==undefined"
										[href]="(item.path | sanitizeUrl)">
										<div class="detail"
											[ngClass]="{'highlight':item.asLink}">
											{{item.detail}}
										</div>
									</a>
								</div>
								<div class="col-auto">
									<div class="arrow">
										<fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
