@import "../../../app.theme";

@mixin theme($name, $background, $color, $icon_color, $border) {
  .vtr-schedule-row.#{$name} {

    border: $light;

    .col-auto {
      height: 100%;
    }
    
    padding: 0.7rem;
    margin: 0rem 1.7rem 0rem;
    background-color: none;
    border-bottom: 0.1rem $border;

    .schedule-row{
      display: flex;
			justify-content: space-between;
      align-items: center;
      
      .type-icon{

        display: flex;
        justify-content: space-between;
        align-items: center;

        .type-scan{
          float: right;
          font-size: $fontsize_xs;
          font-weight: 100;
          color: $shade_darker;
          text-align: center;
        }

        .right-icon{
          padding: 0 1rem;
          font-size: 2.2rem;
          color: $shade_darker;
        }
      }

      .title {  
        font-size: $fontsize_xs;
				font-weight: bolder;
				padding-top: 0rem;
        float: left;
        color: $main_darker;
      }

      .type-button{
        border-radius: 50%;
        padding: 0.5rem;
        background: none;
        border: none;
        outline: none;
      }
    }
  }
}

@include theme(white-theme, $light, $main_darker, $main, $screen_dark_10);
@include theme(blue-theme, $gradient_main, $light, $light, $screen_light_15);
