@import "../../../app.theme";
.title {
    font-size: 2.5rem;
    font-weight: $weight_medium;
    margin-bottom: -1.5rem;
    &.good {
        color: $go_dark;
    }
    &.bad {
        color: $stop_dark;
    }
    &.blue {
        color: $main_gstart;
    }
    &.orange {
        color: $stop_light;
    }
    .security {
        font-weight: 500;
    }
    .highlight {
        color: $main_shade;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

}
