<ui-gaming-driver-popup id="gamingDriverPopup" tabindex="1" vtrOutsideClick (clickOutside)="onOutsideClick()"
 [attr.aria-label]="'Driver Install Required window'">
	<div class="modal-body vtr-ui-gaming-driver-popup">
			<div class="btn-close">
			<a type="button" class="close" aria-hidden="true" (click)="close()"
			tabindex="1" (keyup.enter)="close()"
			role="button"
			 vtrMetrics [metricsItem]="'driverpopup_close'"
					metricsEvent="featureClick" id="gaming-driverPopup-close" aria-label="gaming driverPopup close" role="link" aria-labelledby="driver_popup_close">
					<fa-icon [icon]="['fal', 'times']"></fa-icon>
			</a>
			</div>
		<div class="content-body" role="dialog" aria-labelledby="driver_popup" tabindex="-1">
			<h1>{{'gaming.dashboard.device.legionEdge.driverPopup.headerText' | translate}}</h1>
			<p *ngIf="!isLightingText">{{popupText | translate}}</p>
			<p *ngIf="isLightingText">{{'gaming.dashboard.device.legionEdge.lightingDriverPopup.text' | translate}}</p>
		</div>
		<hr>
		<div class="row">
			<div class="btn-container">
			<div>
			<a class="btn enable-button" vtrMetrics tabindex="1"
				[metricsItem]="'driverPopup_install'"
				metricsEvent="featureClick"
				role="button"
				(click)="systemUpdatePage()"  (keyup.enter)="systemUpdatePage()"
				 id="gaming_driverPopup_install" aria-label="gaming driverPopup install"
				role="link">
				{{'gaming.dashboard.device.legionEdge.driverPopup.button' | translate}}
			</a>
			</div>
			<div>
			<a (click)="close()" vtrMetrics tabindex="1"
			role="button"
				[metricsItem]="'driverpopup_cancel'"
				metricsEvent="featureClick"  (keyup.enter)="close()"
				(keydown)="runappKeyup($event)"
				class="cancel-link active" id="gaming_driverPopup_cancel" aria-label="gaming driverPopup cancel" role="link">{{'gaming.dashboard.device.legionEdge.driverPopup.link' | translate}}</a>
			</div>
			</div>	
		</div>
	</div>
	<!--Need input from Raghu on this-->
	<!-- <span id="driver_popup" style="visibility: hidden;">{{'gaming.dashboard.device.legionEdge.lightingDriverPopup.text' | translate}}</span>
	<span id="driver_popup_close" style="visibility: hidden;">close</span> -->
</ui-gaming-driver-popup>

