@import "../../../app.theme.scss";

ui-gaming-driver-popup {
	position: absolute;
	max-width: 56rem;
	background: $gaming_lightest;
	z-index: 9;
	border-radius: 0.75rem;
	box-shadow: 0 0.8rem 1.5rem $screen_dark_30;
	right: 8rem;
	top: -13rem;
	width: 35vw;
	min-width: 56rem;
	@media #{$breakpoint_md} {
		min-width: 42rem;
		top: -14rem;
	}
	@media #{$breakpoint_sm} {
		min-width: 38rem;
	}
	@media #{$black-on-white} {
		background: $high-contrast-grey;
	}
	@media #{$white-on-black} {
		background: $high-contrast-grey;
	}
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-bottom: 3rem solid $gaming_lightest;
		border-left: 3rem solid transparent;
		bottom: -1rem;
		top: calc(50% - 1.5rem);
		right: -1.4rem;
		transform: rotate(-45deg);
		@media #{$black-on-white} {
			border-bottom: 3rem solid $high-contrast-grey;
			border-left: 3rem solid transparent;
		}
		@media #{$white-on-black} {
			border-bottom: 3rem solid $high-contrast-grey;
			border-left: 3rem solid transparent;
		}
	}
	.vtr-ui-gaming-driver-popup {
		&.modal-body {
			padding: 4rem 4rem;
				.btn-close {
				position: absolute;
				top: 0px;
				right: 0px;
				padding: 0.6rem 1.2rem;
				width: 4rem;
				height: 4rem;
			}
		}
		.content-body {
			min-height: 10rem;
		}

		fa-icon {
			font-size: 3rem;
			color: $main;
			display: block !important;
			@media #{$black-on-white} {
				color: $gaming_darkest;
			}
			@media #{$white-on-black} {
				color: $gaming_darkest;
			}
		}

		h1 {
			font-size: 2.5rem;
			font-weight: normal;
			color: $blue-dark;
			padding-right: 2.5rem;
		}

		p {
			font-size: 1.6rem;
			color: $light-grey;
			padding: 0.5rem 0;
		}

		.enable-button {
			background: $gradient_main;
			border-radius: 3rem;
			color: $light;
			font-size: 2rem;
			padding: 1rem 3rem;
			margin-top: 1rem;
			font-weight: $weight_bold;
			// text-transform: uppercase;
		}

		.cancel-link {
			height: 3.2rem;
			color: $main;
			font-size: 2rem;
			vertical-align: middle;
			padding: 0 0.5rem;
			font-weight: $weight_600;
			margin-top: 1.8rem;
			margin-left: 3rem;
			border-bottom: 2px solid $btn_secondary_color;
			cursor: pointer;
			&:hover{
				text-decoration: none;
			}
		}
	}
	#driver_popup{
		color: $gaming_darkest;
		@media #{$black-on-white} {
			display: none;
		}
		@media #{$white-on-black} {
			display: none;
		}
	}
	#driver_popup_close{
		@media #{$black-on-white} {
			display: none;
		}
		@media #{$white-on-black} {
			display: none;
		}
	}
}

::ng-deep {
		.overclock-driver-popup {
			#gamingDriverPopup {
				top:-9.3rem;
				@media #{$breakpoint_md} {
					top:-10.3rem;
				}
				@media #{$breakpoint_sm} {
					top:-13.2rem;
					right: 7.5rem;
					min-width: 37.5rem;
				}
					.modal-body{
						@media #{$breakpoint_md} {
							padding: 3.8rem 3rem;
						}
						@media #{$breakpoint_sm} {
							padding: 3.8rem 1.5rem;
						}
						.cancel-link{
								margin-left: 1.5rem;
								@media #{$breakpoint_sm} {
							   margin-left: 1rem;
								}
							}
							.content-body {
								min-height: 12rem;
								@media #{$breakpoint_md} {
							  min-height: 14.7rem;
							  }
								@media #{$breakpoint_sm} {
									min-height: 20rem;
								}
							}
				}
			}
		}
	.networkboost-driver-popup {
		#gamingDriverPopup {
			right:7.5rem;
			top:-12.2rem;
					@media #{$breakpoint_md} {
						top:-13.5rem;
					}
					@media #{$breakpoint_sm} {
					min-width: 37.5rem;
					top:-16.2rem;
				}
				.modal-body{
					@media #{$breakpoint_md} {
						padding: 3.8rem 3rem;
					}
					@media #{$breakpoint_sm} {
					padding: 3.8rem 1.5rem;
					}
					.cancel-link{
						margin-left: 1.5rem;
						@media #{$breakpoint_sm} {
							margin-left: 1rem;
						}
					}
					.content-body {
						  min-height: 12rem;
							@media #{$breakpoint_md} {
							min-height: 14.7rem;
							}
							@media #{$breakpoint_sm} {
								min-height: 20rem;
							}
						}
					}
			}
	}
}