@import "../../../app.theme.scss";

ui-gaming-driver-popup {
	position: absolute;
	max-width: 56rem;
	background: $gaming_lightest;
	z-index: 9;
	border-radius: 0.75rem;
	box-shadow: 0 0.8rem 1.5rem $screen_dark_30;
	right: 8rem;
	width: 35vw;
	min-width: 56rem;
	@media #{$breakpoint_md} {
		min-width: 45rem;
	}
	@media #{$breakpoint_sm} {
		min-width: 36rem;
	}
	@media #{$black-on-white} {
		background: $high-contrast-grey;
	}
	@media #{$white-on-black} {
		background: $high-contrast-grey;
	}
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-bottom: 3rem solid $gaming_lightest;
		border-left: 3rem solid transparent;
		bottom: -1rem;
		top: calc(50% - 1.5rem);
		@media #{$breakpoint_md} {
			top:11.8rem;
		}
		right: -1.4rem;
		transform: rotate(-45deg);
		@media #{$black-on-white} {
			border-bottom: 3rem solid $high-contrast-grey;
			border-left: 3rem solid transparent;
		}
		@media #{$white-on-black} {
			border-bottom: 3rem solid $high-contrast-grey;
			border-left: 3rem solid transparent;
		}
	}
	.vtr-ui-gaming-driver-popup {
		&.modal-body {
			padding: 4rem 4rem;
				.btn-close {
				position: absolute;
				top: 0px;
				right: 0px;
				padding: 0.6rem 1.2rem;
				width: 4rem;
				height: 4rem;
			}
		}
		.content-body {
			min-height: 10rem;
		}

		fa-icon {
			font-size: 3rem;
			color: $main;
			display: block !important;
			@media #{$black-on-white} {
				color: $gaming_darkest;
			}
			@media #{$white-on-black} {
				color: $gaming_darkest;
			}
		}

		h1 {
			font-size: $fontsize_xl;
			font-weight: normal;
			color: $darkText;
			padding-right: 2.5rem;
		}

		p {
			font-size: $fontsize_xs;
			color: $darkText;
			padding: 0.5rem 0;
		}

		.btn-container{
			div {
				display: inline-block;
			}
		}

		.enable-button {
			background: $blueFill;
			border-radius: 3rem;
			color: $light;
			font-size: $fontsize_sm;
			padding: 1rem 3rem;
			margin-right: 3rem;
			font-weight: $weight_bold;
			// text-transform: uppercase;
		}

		.cancel-link {
			height: 2.5rem;
			color: $blueFill;
			font-size: $fontsize_sm;
			vertical-align: middle;
			padding: 0 0.5rem;
			font-weight: $weight_600;
			margin-top: 1.8rem;
			margin-left: 3rem;
			border-bottom: 2px solid $blueFill;
			cursor: pointer;
			&:hover{
				color: $blueHover;
				border-bottom: 2px solid $blueHover;
			}
		}
	}
	#driver_popup{
		color: $gaming_darkest;
		@media #{$black-on-white} {
			display: none;
		}
		@media #{$white-on-black} {
			display: none;
		}
	}
	#driver_popup_close{
		@media #{$black-on-white} {
			display: none;
		}
		@media #{$white-on-black} {
			display: none;
		}
	}
}

::ng-deep {
	.overclock-driver-popup, .networkboost-driver-popup,.ram-overclock-driver-popup{
		#gamingDriverPopup{
			@media #{$mediaquery_X48} {
					min-width: 44rem;
				}
				@media #{$breakpoint_sm} {
					min-width: 36rem;
			}
			.modal-body{
						.btn-container{
								div {
									display: inline-block;
										@media #{$mediaquery_sm} {
											display: block;
										}
								}
								.cancel-link{
									@media #{$mediaquery_X48} {
									margin-left: 1.5rem;
									}
								}
								.enable-button{
										@media #{$mediaquery_sm} {
										margin-bottom: 1rem;
									}
								}
						}
					}
		}	
}
		.overclock-driver-popup {
			#gamingDriverPopup {
				top:-8.5rem;
				@media #{$breakpoint_sm} {
					right: 7.5rem;
				}
					&::after {
						top: 11.7rem;
					}
			}
		}
		.ram-overclock-driver-popup {
		#gamingDriverPopup {
			right:7.5rem;
			top:-11.5rem;
				&::after {
						top: 11.7rem;
					}
			}
	}
	.networkboost-driver-popup {
		#gamingDriverPopup {
			right:7.5rem;
			top:-11.5rem;
				&::after {
						top: 11.7rem;
					}
			}
	}
}