@import "../../../app.theme.scss";

ui-gaming-driver-popup {
  position: absolute;
  width: 55rem;
  padding: 3rem 2rem 3rem 4rem;
  background: $gaming_lightest;
  z-index: 9;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 1.5rem $screen_dark_30;
  right: 8rem;
  top: -13rem;
  @media #{$small-screen} {
    width: 45rem;
  }
  @media #{$medium-screen} {
    width: 50rem;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 3rem solid $gaming_lightest;
    border-left: 3rem solid transparent;
    //transform: rotate(45deg);
    bottom: -1rem;
    top: calc(50% - 1.5rem);
    right: -1.5rem;
    transform: rotate(-45deg);
  }
  &.modal-body {
    padding: 0;
  }

  .content-body {
    min-height: 10rem;
  }

  button.close i {
    font-size: 3rem;
    color: $main_gstart;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: normal;
    color: $main_darkest;
  }

  hr {
    border-top: 1px solid $screen_dark_30;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.6rem;
    color: $light-grey;
    padding: 0.5rem 0;
  }

  .enable-button {
    height: 4rem;
    border-radius: 3rem;
    min-width: 15rem;
    border: none;
    background: $gaming_lighting_gradient;
    color: $gaming_lightest;
    font-weight: $weight_600;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    margin-top: 1rem;
  }

  .cancel-link {
    color: $main;
    font-size: 1.8rem;
    text-decoration: underline;
    vertical-align: middle;
    padding: 0rem 3rem;
    font-weight: $weight_600;
    margin-top: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}
