<div class="vtr-widget-status">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="title">{{title}}</div>
				<div class="description">{{description}}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="text-center"
				*ngIf="items.length === 0">
				<vtr-spinner></vtr-spinner>
			</div>
			<vtr-ui-list-chevron [items]="items" vtrMetrics metricsEvent="featureclick"
				*ngIf="items.length > 0"></vtr-ui-list-chevron>
		</div>
	</div>
</div>
