<div class="network-boost-wrapper">
	<ul class="d-flex flex-wrap">
		<li class="add-icon" [ngClass]="{'add-disabled': runningAppsList && runningAppsList.length >=5}">
			<div (click)="openModal()"
				role="button"
				id="{{runningAppsList && runningAppsList.length >=5 ? 'networkboost_addButton_unclickable' : 'networkboost_addButton_clickable'}}"
				[ngClass]="{'isdisabled': runningAppsList && runningAppsList.length >=5}"
				(keyup.enter)="openModal()"
				[tabindex]="runningAppsList && runningAppsList.length >=5 ? -1 : 1"
				attr.aria-label="{{'gaming.narrator.networkBoost.subPage.addApps' | translate}}">
				<button class="add-icon-button"></button>
			</div>
			<div>{{'gaming.autoClose.addAppsButton' | translate}}</div>
		</li>
		<li *ngFor="let app of runningAppsList; let i = index"
			[ngClass]="{'hovered': app.isHovered, runningList: app.isHovered}"
			(mouseover)="app.isHovered=true"
			(mouseout)="app.isHovered=false"
			[title]="app.processDescription">
			<div>
				<img [src]="app.iconName | sanitize : 'resourceUrl'"
					alt="{{app.processDescription}}" />
			</div>
			<div placement="bottom"
				[title]="app.processDescription">
				{{app.processDescription}}
			</div>
			<div class="remove-app"
				id="{{'nb_remove'+i}}"
				(click)="removeApp(app.processPath,i)"
				role="area"
				(keyup.enter)="removeApp(app.processPath,i)"
				(focus)="app.isHovered=true"
				(focusout)="app.isHovered=false"
				[tabindex]="modalStatus? '-1':'1'"
				role="button"
				attr.aria-label="{{'gaming.narrator.networkBoost.subPage.remove' | translate}} {{app.processDescription}}"
				role="button">
			</div>
		</li>
	</ul>
</div>
