.vtr-widget-landing-nav {
  display: flex;
  margin: 2rem 0 0 0;
  padding: 0rem;

  .nav-item {
    list-style-type: none;
    margin-right: 2rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    height: 8rem;
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem 2rem;

    &:hover {
      background: linear-gradient(#fff 80%, transparent);
    }

    &.active {
      color: #5671ff;
      background-color: #ffffff;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
      position: relative;
      top:1px;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        height: 15px;
      }

      &:hover {
        color: #34495e;
      }
    }
  }

  .nav-title {
    color: #34495e;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 2.2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.vtr-sub-page-security {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 0 0 1rem 1rem;
  padding: 2.5rem 3.5rem;
}
