<ul class="vtr-widget-landing-nav">
    <li class="nav-item" [ngClass]="{'d-none': !featureConfig.display}" *ngFor="let featureConfig of featurePagesConfig">
        <span class="nav-link" [ngClass]="{'active': featureConfig.page === currentPage}" 
        (click)="changePage(featureConfig.page)">
            <p class="nav-title mb-0">{{featureConfig.title}}</p>
        </span>
    </li>
</ul>
<section class="vtr-sub-page-security">
    <vtr-widget-landing-security
    *ngIf="currentPage === 'base-security'"
    [items]="baseItems | statusTransform"></vtr-widget-landing-security>
    <vtr-widget-landing-security
    *ngIf="currentPage === 'intermediate-security'"
    [items]="intermediateItems | statusTransform"></vtr-widget-landing-security>
    <vtr-widget-landing-security
    *ngIf="currentPage === 'advanced-security'"
    [items]="advancedItems | statusTransform"></vtr-widget-landing-security>
</section>





