<div class="vtr-widget-landing-nav">
	<a class="nav-item" role="button" href="javascript:void(0)"
		*ngFor="let featureConfig of featurePagesConfig"
		[hidden]="!featureConfig.item || featureConfig.item && featureConfig.item.length === 0"
		id="{{'sa-ov-nav-'+featureConfig.page}}"
		(click)="changePage(featureConfig.page)"
		(keydown.enter)="changePage(featureConfig.page)"
		vtrMetrics
		metricsItem="change security item {{featureConfig.page}}"
		metricsEvent="FeatureClick"
		metricsParent="Security">
		<span class="nav-link" [ngClass]="{'active': featureConfig.page === currentPage}">
            <p class="nav-title text-two-ellipsis mb-0">{{featureConfig.title | translate}}</p>
        </span>
    </a>
</div>
<section class="vtr-sub-page-security">
	<vtr-widget-landing-security
	(haveOwnChecked)="haveOwn($event)"
	(retryClick)="retry($event)"
    *ngIf="currentPage === 'base-security'"
    [items]="baseItems | statusTransform"></vtr-widget-landing-security>
	<vtr-widget-landing-security
	(haveOwnChecked)="haveOwn($event)"
    *ngIf="currentPage === 'intermediate-security'"
    [items]="intermediateItems | statusTransform"></vtr-widget-landing-security>
	<vtr-widget-landing-security
	(haveOwnChecked)="haveOwn($event)"
    *ngIf="currentPage === 'advanced-security' && advancedItems.length > 0"
    [items]="advancedItems | statusTransform"></vtr-widget-landing-security>
</section>





