<ul class="vtr-widget-landing-nav">
    <li class="nav-item" [ngClass]="{'d-none': advancedItems && advancedItems.length === 0}" *ngFor="let featureConfig of featurePagesConfig">
        <span class="nav-link" [ngClass]="{'active': featureConfig.page === currentPage}"
			(click)="changePage(featureConfig.page)"
			vtrMetrics
			metricsItem="change security item {{featureConfig.page}}"
			metricsEvent="FeatureClick"
			metricsParent="Security">
            <p class="nav-title mb-0">{{featureConfig.title | translate}}</p>
        </span>
    </li>
</ul>
<section class="vtr-sub-page-security">
	<vtr-widget-landing-security
	(haveOwnChecked)="haveOwn($event)"
	(retryClick)="retry($event)"
    *ngIf="currentPage === 'base-security'"
    [items]="baseItems | statusTransform"></vtr-widget-landing-security>
	<vtr-widget-landing-security
	(haveOwnChecked)="haveOwn($event)"
    *ngIf="currentPage === 'intermediate-security'"
    [items]="intermediateItems | statusTransform"></vtr-widget-landing-security>
	<vtr-widget-landing-security
	(haveOwnChecked)="haveOwn($event)"
    *ngIf="currentPage === 'advanced-security' && advancedItems.length > 0"
    [items]="advancedItems | statusTransform"></vtr-widget-landing-security>
</section>





