<div class="modal-body vtr-modal-voice-installed">
	<div class="row justify-content-end">
		<div class="btn-close">
			<button type="button"
				class="close"
				aria-hidden="true"
				(click)="closeModal()">
				<fa-icon [icon]="['fal', 'times']"></fa-icon>
			</button>
		</div>
	</div>
	<h1 class="mb-3"> {{'device.smartAssist.voice.modalInstallationFailed.title' | translate}}</h1>
	<div class="row text-center">
		<div class="col">
			<div class="number-list">
				<span class="text-regular">{{'device.smartAssist.voice.modalInstallationFailed.desc' | translate}}</span>
			</div>
		</div>
	</div>
	<div class="row center">
		<button class="btn close-button"
			(click)="closeModal()">{{'device.smartAssist.voice.modalInstallationFailed.btnText' | translate}}</button>
	</div>
</div>
