@import "../../../../app.theme";

.error {
	font-size: $fontsize_xl;
	font-weight: $weight_600;
	color: $shade_blue;
}

.description {
	font-size: $fontsize_xs;
	white-space: pre-wrap;
	font-weight: $weight_light;
	color: $shade_blue;
}

.modal-body {
	padding: 2.4rem;
}

.close-button {
	border: none;
	color: $gradient_main;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: 200;
	outline: none;
	font-size: $fontsize_lg;
}

.close-btn {
	position: absolute;
	right: 1.8rem;
	top: 1.8rem;
	width: 2rem;
	height: 2rem;
	margin-bottom: 1rem;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}

	img {
		width: 100%;
		height: 100%;
	}
}
::ng-deep .beta-vtr-ui-button {
	.button-box {
		.button {
			min-height: 4rem !important;
		}
	}
}

