@import "../../../../app.theme";

.error {
	font-size: 3rem;
	font-weight: bold;
}

.description {
	font-size: 2rem;
	white-space: pre-wrap;
}

.modal-body {
	// padding: 0 5rem 3rem 5rem;
	padding: 4rem;
}

.close-button {
	border: none;
	color: $gradient_main;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: 200;
	outline: none;
	font-size: 20px;
}

.close-btn {
	position: absolute;
	right: 1.8rem;
	top: 1.8rem;
	width: 2.2rem;
	height: 2.2rem;
	margin-bottom: 1rem;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}

	img {
		width: 100%;
		height: 100%;
	}
}
