@import "../../../app.theme.scss";

.select-box {
	position: relative;
	&:hover {
		.dropdown-menu {
			display: none;
			&.show {
				display: block;
			}
		}
	}
	&.disabled {
		opacity: 0.5;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
		}
	}
	.dropdown-toggle {
		display: flex;
		justify-content: space-between;
		font-size: 1.6rem;
		color: $shade_light;
		margin-bottom: -1.2rem;
		.icon {
			position: relative;
			font-size: 2.2rem;
			top: -0.5rem !important;
		}
		&::after {
			display: none;
		}
	}
	.gaming-dropdown-menu {
		width: 100%;
		background-color: $white5;	
		@media #{$black-on-white}{
			border:0.1rem solid $dark;
			}
		@media #{$white-on-black}{
			border:0.1rem solid $light;
			}	
		border: none;
		border-radius: 0.8rem;
		position: absolute;
		overflow: hidden;
		z-index: 9;
		top: 3.5rem;
		ul {
			padding: 0 !important;
			max-height: 35rem;
			overflow: auto;
		}
		li {
			list-style: none;
			margin: 0;
			.dropdown-item {
				color: $gaming_lightest;
				font-size: 1.6rem;
				height: 5.5rem;
				line-height: 5.5rem;
				position: relative;
				padding-left: 5rem;
				.icon {
					position: absolute;
					left: 2rem;
					font-size: 2rem;
					background: $gaming_green_gradient;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					opacity: 0;
				}
				&:hover {
					background: $gaming_hover;
					@media #{$black-on-white}{
						background-color:$high-contrast-grey;					
						}
					@media #{$white-on-black}{
						background-color:$high-contrast-grey;						
						}
				}
				&:focus {
					background: $gaming_hover;
				}
			}
			&.selected {
				.dropdown-item {
					.icon {
						opacity: 1;
						color: $good_dark;
					}
				}
			}
		}
		.information {
			margin: 1.6rem;
			margin-top: 0;
			border-top: 1px solid $gaming_darkest;
			padding-top: 1.6rem;
			p {
				font-size: 1.4rem;
				color: $main_lightest;
				&[lang="ar"] {
					text-align: right;
				}
			}
		}
	}
}
