<div class="select-box" [ngClass]="{'disabled': isRecording}">
	<div class="dropdown">
		<div class="dropdown-toggle" id="gaming-drop" (click)="toggleOptions()"
			name="dropdown" role="combobox"
			[attr.aria-label]="selectedOption.label | translate" role="combobox"
			[attr.aria-expanded]="showOptions" aria-haspopup="true" tabindex="1"
			(keydown.enter)="toggleOptions()">
			<span *ngIf="selectedOption">{{ selectedOption.name | translate }}</span>
			<fa-icon class="icon" [icon]="['fal', 'chevron-down']"></fa-icon>
		</div>
		<ng-container *ngIf="showOptions">
			<div class="gaming-dropdown-menu" role="listbox" tabindex="-1" aria.labelledby="gaming-drop"
				[attr.aria-hidden]="!showOptions" #dropdownLightingEle>
				<ul>
					<li *ngFor="let option of options; index as i"
						[ngClass]="{ 'selected': selectedOption && option.name === selectedOption.name }" vtrMetrics
						[metricsItem]="option.metricitem" metricsEvent="featureClick" metricsParam="{{option.metricitem}}"
						metricsValue="{{option.value}}" (click)="optionSelected(option)"
						(keydown.enter)="optionSelected(option)" (mouseenter)="changeDescription(option)"
						(mouseleave)="resetDescription(option)" (focusout)="itemsFocused()"
						tabindex="1" role="option" id="{{option.id}}"
						(keydown)="keydownFn($event,i)"
						[attr.aria-selected]="option.value===options.curSelected?'true':'false'" role="option"
						attr.aria-label="{{option.value===selectedOption.value? (option.label | translate) +( 'gaming.macroKey.narrator.optionSelected' | translate):(option.label | translate)}}">
						<a class="dropdown-item" tabindex="-1">
							<fa-icon class="icon" [icon]="['fal', 'check']"></fa-icon>{{ option.name  | translate}}
						</a>

					</li>
				</ul>
				<div class="information" *ngIf="enableDescription">
					<p *ngIf="defaultLanguage === 'ar'" dir="rtl" lang="ar">{{ selectedOption.description | translate }}
					</p>
					<p *ngIf="defaultLanguage !== 'ar'">{{ selectedOption.description | translate }}</p>
				</div>
			</div>
		</ng-container>
	</div>
</div>
