<div class="vtr-installation-history">
	<div class="row"
		*ngIf="installationHistory.length > 0">
		<div class="col">
			<div class="updates-lists-container">
				<div class="row">
					<div class="col">
						<!-- <div class="heading">Full History</div> -->
						<ul class="installation-list"
							id="su_history_list"
							[dir]="'dir' | translate">
							<li class="list-heading">
								<div class="container-fluid">
									<div class="row align-items-center">
										<div class="col col-9">
											<div class="item-text">{{'systemUpdates.installationHistory.name' | translate}}</div>
										</div>
										<div class="col col-3 sort-order">
											<a id="su_installation_update_sort_order"
												role="link"
												tabindex="0"
												(keydown.enter)="toggleSortOrder()"
												(click)="toggleSortOrder()">
												<div class="sort-heading-text">{{'systemUpdates.installationHistory.sortByDate' | translate}}</div>
												<div class="sort-icon">
													<fa-icon *ngIf="!sortAsc"
														[icon]="['fas', 'caret-up']"></fa-icon>
													<fa-icon *ngIf="sortAsc"
														[icon]="['fas', 'caret-down']"></fa-icon>
												</div>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li *ngFor="let item of installationHistory"
								id="{{'su_history_item_'+item.packageID}}">
								<div class="container-fluid">
									<div class="row">
										<div class="col item-text"
											[ngClass]="{'col-11': !enableDelete, 'col-10 col-xs-10 col-sm-11 col-md-11 col-lg-10 col-xl-11 ': enableDelete}">
											<div class="row">
												<div class="col status-icon">
													<div class="icon-check"
														*ngIf="item.status.toLowerCase() === 'installed'">
														<div class="icon-bg">
															<fa-icon id="{{'su_history_icon_success_'+item.packageID}}"
																role="article"
																[icon]="['fas', 'check']"></fa-icon>
														</div>
													</div>
													<div class="icon-times"
														*ngIf="item.status.toLowerCase() === 'failed'">
														<div class="icon-bg">
															<fa-icon id="{{'su_history_icon_failure_'+item.packageID}}"
																role="article"
																[icon]="['fas', 'times']"></fa-icon>
														</div>
													</div>
												</div>
												<div class="col update-info">
													<span class="title"
														[ngClass]="{'light-title':$any(item).lightTitle}">
														<span id="{{'su_history_'+item.packageID}}"
															role="listitem"><b>{{item.packageDesc}}</b> - {{item.version}}</span>
														<div class="row">
															<span class="installation-details">
																{{item.message}}
															</span>
														</div>
														<div *ngIf="expandedRecordId===item.packageID">
															<div class="row">
																<div class="col">
																	<span class="installation-details">
																		{{'systemUpdates.installationHistory.packageSize' | translate}}
																		{{commonService.formatBytes($any(item).packageSize)}}
																	</span>
																</div>
															</div>
															<div class="row">
																<div class="col">
																	<span class="installation-details">
																		{{'systemUpdates.installationHistory.releaseDate' | translate}}
																		{{convertReleaseDate(item.packageReleaseDate)}}
																	</span>
																</div>
															</div>
															<!-- MVP 2 feature, retry install -->
															<!-- <div class="row"
																	*ngIf="item.status.toLocaleLowerCase() === 'failed'">
																	<div class="col">
																		<span class="installation-details">
																			<button type="button"
																				(click)="onRetryClick(item.packageID)"
																				class="btn btn-outline-primary">Retry install</button>
																		</span>
																	</div>
																</div> -->
														</div>
													</span>
												</div>

											</div>

										</div>
										<div class="col"
											[ngClass]="{'col-1': !enableDelete, 'col-2 col-xs-2 col-sm-1 col-md-1 col-lg-2 col-xl-1': enableDelete}">
											<div class="d-flex"
												[ngClass]="{'justify-content-end': !enableDelete, 'justify-content-around': enableDelete}">
												<div class="expand"
													*ngIf="enableDelete">
													<a (keydown.enter)="onDeleteClick(item)"
														(click)="onDeleteClick(item)"
														id="{{'su_history_delete_'+item.packageID}}"
														role="button"
														aria-label="delete"
														tabindex="0">
														<fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
													</a>
												</div>
												<div class="expand">
													<a (keydown.enter)="toggleExpand(item.packageID)"
														(click)="toggleExpand(item.packageID)"
														id="{{'su_installation_update_expand_'+item.packageID}}"
														role="button"
														[attr.aria-label]="item.packageID === expandedRecordId ? 'collapse' : 'expand'"
														tabindex="0">
														<fa-icon *ngIf="expandedRecordId!==item.packageID"
															[icon]="['fas', 'plus-circle']"></fa-icon>
														<fa-icon *ngIf="expandedRecordId===item.packageID"
															[icon]="['fas', 'minus-circle']"></fa-icon>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="float-right"
					*ngIf="!showAll">
					<button type="button"
						id="su_installation_update_showAll"
						aria-label="su_installation_update_showAll"
						(click)="onShowAllClick()"
						class="btn btn-link">{{'systemUpdates.installationHistory.showAll' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row"
		*ngIf="installationHistory.length === 0">
		<div class="col-12 heading text-center" id="su_installation_no_history" role="text">{{'systemUpdates.installationHistory.noInstallationHistory' | translate}}</div>
	</div>
</div>
