<div class="vtr-page-privacy vtr-page container-fluid">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="'privacy.headerMain.title' | translate"
				[forwardLink]=""></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div [ngClass]="{
							'col-sm-12 col-md-7 col-lg-7 col-xl-8 vtr-page-left-column':!deviceService.isArm,
							'vtr-arm-page': deviceService.isArm
						}">
						<div class="vtr-page-shift-up nmx-40">
							<div class="container-fluid">
								<div class="row">
									<div class="col col-12 px-40 pb-40">
										PAGE CONTENT
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-5 col-lg-5 col-xl-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<div class="container-fluid">
								<div class="row no-gutters">
									<div class="col-sm-12 col-md-12 pb-60">
										RIGHT COLUMN CONTENT
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
