@import "../../app.theme";

.vtr-menu-main {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;

	.navbar {
		height: $menu_height;
		background-color: $main_darker;
		color: $light;

		.navbar-brand {
			font-size: 5rem;
			font-weight: $weight_bold;
			width: $menu_height;
			height: 100%;
			background-color: $main;
			text-align: center;
			color: $light;
		}

		.navbar-text {
			margin-left: 2rem;

			.app-title {
				text-transform: uppercase;
				font-size: 2rem;

				.app-name {
					font-weight: $weight_medium;
				}

				.app-version {
					font-size: 1rem;
					padding-left: 1rem;
					font-weight: $weight_light;
				}
			}

			.device-type {
				font-size: 1.6rem;
			}
		}

		.navbar-collapse {
			.navbar-nav {
				.nav-item {
					.nav-link {
						display: inline-table;
						font-size: 1.6rem;
						line-height: $menu_height;
						color: $light;
						padding: 0 1rem;

						&.user {
							padding: 2rem 4rem 2rem 2rem;
							margin-left: 2rem;
							height: $menu_height;
							line-height: 4.6rem;
							background-color: $main_darkest;

							.user-initials {
								display: inline-block;
								text-align: center;
								font-size: 2rem;
								width: 4.6rem;
								height: 4.6rem;
								border-radius: 2.3rem;
								background-color: $main_darker;
							}
						}
					}

					.active {
						line-height: 8.5rem;
						border-bottom: $main solid 0.5rem;

						.fa-icon {
							color: $main;
						}
					}

					.dropdown-menu {
						border: none;
						border-radius: $border_radius;
						box-shadow: $drop_shadow;
						margin-top: -1rem;
						padding: 2.5rem 1.5rem;

						&.user {
							margin-left: -1.5rem;
							border-radius: 0;
							margin-top: 0;
						}

						fa-icon {
							&.menu-pointer {
								position: absolute;
								top: -1.5rem;
								left: 50%;
								margin-left: -1.5rem;
								color: $light;
								font-size: 3rem;
								transform: rotate(45deg);
								z-index: 0;
							}
						}

						.dropdown-item {
							position: relative;
							z-index: 1;
							color: $main_shade;
							font-size: 1.2rem;
							line-height: 2.2rem;
							font-weight: $weight_medium;

							&.link {
								font-weight: $weight_light;
								text-decoration: underline;

								&:hover {
									color: $main;
								}
							}
						}
					}
					&:last-child{
						.dropdown-menu{
							right: 0;
							left: auto;
							min-width: 20rem;
							max-width: 50rem;
						}
					}
				}
			}
		}

		.navbar-toggler {
			font-size: 5rem;
			color: $shade_light;

			&:hover {
				color: $shade_extralight;
			}
		}

		.fa-icon {
			padding-right: 0.3rem;
			font-size: 2.1rem;
		}
	}
}
