@import "../../app.theme";

:host-context(.is-gaming) {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 9rem;
	display: block;
	background-color: $gaming_darkest;
}

.vtr-menu-main {
	position: fixed;
	top: 0;
	z-index: 100 !important;
	width: 100%;

	@media #{$mediaquery_xl} {
		position: absolute;
		left: 0%;
		right: 0%;
	}

	.beta {
		font-size: 1rem;
		color: rgb(146, 229, 255);
		font-style: italic;
		position: relative;
		top: -0.6rem;
		left: -0.1rem;
		margin-right: 0.2rem;
	}

	.beta-item {
		top: 0.1rem;
		margin-right: 1rem;
	}

	.navbar {
		height: $menu_height;
		background-color: $main_darker;
		color: $light;
		padding-right: 16px;

		.active .icomoon::before {
			color: $main;
		}

		.navbar-brand {
			font-size: 5rem;
			font-weight: $weight_bold;
			width: $menu_height;
			border: none;
			text-align: center;
			color: $light;
			overflow: hidden;
			&.logo-y {
				height: 9rem;
				padding-bottom: 0;
			}

			.menu-main-logo {
				display: block;
				width: 100%;
				height: 100%;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		.navbar-brand a {
			border: none;
			display: block;
			width: 100%;
			height: 100%;
		}

		.navbar-text {
			margin-left: 2rem;
			margin-right: auto;

			@media #{$mediaquery_xl} {
				text-align: left;
			}

			.app-title {
				font-size: $sub_title;

				.app-name {
					text-transform: uppercase;
					font-weight: $weight_bold;
				}

				.app-version {
					// text-transform: lowercase;
					font-size: 1.4rem;
					padding-left: 1rem;
					font-weight: $weight_light;
				}
			}

			.device-type {
				font-size: $body;
				text-align: left;
			}
		}

		.search-dropdown {
			position: absolute;
			top: calc(#{$menu_height} + 0.5rem);
			width: 40rem;
			right: 0rem;
		}

		.search-nav-item {
			position: relative;
		}

		.search-nav-item-mask {
			opacity: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 100;
			cursor: pointer;
		}

		.navbar-collapse {
			&.show {
				display: block;
				// overflow-y: auto;
			}

			.navbar-nav {
				.nav-item {
					.nav-link {
						// @media #{$mediaquery_7} {
						// 	display: none;
						// }
						display: inline-table;
						font-size: 1.7rem;
						font-weight: 400;
						line-height: calc(#{$menu_height} - 0.65rem);
						color: $light;
						padding: 0 1.5rem;

						@media #{mediaquery_7} {
							padding: 0 1.5rem;
						}

						padding: 0 1rem;
						border-bottom: transparent solid 0.5rem;

						@media #{$black-on-white} {
							border-bottom: $gaming_lightest solid 0.5rem;
						}

						@media #{$white-on-black} {
							border-bottom: $gaming_darkest solid 0.5rem;
						}

						/*@media #{$mediaquery_7} {
							font-weight: 300;
							font-size: 1.5rem;
							padding-right:0;
							padding-left: 0;

						}
*/
						@media #{$mediaquery_4} {
							line-height: calc(#{$menu_height} - 0.5rem);
						}

						@media #{$mediaquery_5} {
							line-height: calc(#{$menu_height} - 0.65rem);
						}

						@media #{$mediaquery_6} {
							line-height: calc(#{$menu_height} - 0.5rem);
						}

						&.search-active {
							.fa-icon {
								color: $main;
							}
						}

						&.active {
							border-bottom: $menu_hover solid 0.5rem;

							@media #{$black-on-white} {
								border-bottom: $gaming_darkest solid 0.5rem;
							}

							@media #{$white-on-black} {
								border-bottom: $gaming_lightest solid 0.5rem;
							}

							.fa-icon {
								color: $main;
							}
						}

						.icon {
							display: inline-block;
							vertical-align: middle;
						}

						&.user {
							padding: 2rem 2rem 2rem 2rem;

							@media #{$mediaquery_9} {
								padding: 2rem 0 2rem 0;
							}

							height: $menu_height;
							line-height: 4.6rem;
							border-bottom: none;
							background-color: $main_darkest;

							.user-initials {
								display: inline-block;
								text-align: center;
								font-size: 2rem;
								width: 4.6rem;

								@media #{$mediaquery_9} {
									width: 2.6rem;
								}

								height: 4.6rem;
								border-radius: 2.3rem;
								background-color: $main_darker;
							}
						}
					}

					.dropdown-menu {
						border: none;
						border-radius: $border_radius;
						box-shadow: $drop_shadow;
						margin-top: -1rem;
						padding: 2.5rem 1.5rem;
						transform: translateX(0%);

						@media #{$black-on-white} {
							background: $high-contrast-grey;
						}

						@media #{$white-on-black} {
							background: $high-contrast-grey;
						}

						//left: 50%;
						// min-width: 22.5rem;

						&.user {
							margin-left: -1.5rem;
							border-radius: 0;
							margin-top: 0;
						}

						&.dropdown-menu-id {
							left: auto;
							right: 0rem;
							padding-right: 16px;
							transform: translateX(0px);
						}

						fa-icon {
							&.menu-pointer {
								position: absolute;
								top: -1.5rem;
								left: 6rem;
								margin-left: -1.5rem;
								color: $light;
								font-size: 3rem;
								transform: rotate(45deg);
								z-index: 0;

								@media #{$black-on-white} {
									color: $high-contrast-grey;
								}

								@media #{$white-on-black} {
									color: $high-contrast-grey;
								}
							}
						}

						.dropdown-item {
							position: relative;
							z-index: 1;
							color: $main_shade;
							padding: 0.25rem 0.9rem;
							font-size: 1.5rem;
							line-height: 2.2rem;
							font-weight: $weight_medium;

							&.link {
								text-decoration: underline;

								&:hover {
									color: $menu_hover;
								}
							}

							&.link-active {
								color: $main;
								font-weight: bold;
							}

							&.link-lma,
							&.link-adobe {
								position: relative;

								.unread-tag {
									position: absolute;
									left: -0.5rem;
									top: 50%;
									margin-top: -0.3rem;
									width: 0.8rem;
									height: 0.8rem;
									background: #db221f;
									border-radius: 50%;
								}
							}
						}
					}

					&:last-child {
						.dropdown-menu {
							min-width: 20rem;
							max-width: 50rem;
						}
					}

					&.dropdown {
						.dropdown-toggle {
							position: relative;
							padding-right: 3rem;

							&::after {
								border: none;
								content: "";
								position: absolute;
								height: 1.4rem;
								width: 0.2rem;
								background-color: white;
								transform: rotate(45deg);
								right: 1.2rem;
								top: 4rem;
								@media #{$black-on-white} {
									background: $high-contrast-blue;
								}
								@media #{$white-on-black} {
									background: $yellow;
								}
							}

							&::before {
								border: none;
								content: "";
								position: absolute;
								height: 1.4rem;
								width: 0.2rem;
								background-color: white;
								transform: rotate(135deg);
								right: 2rem;
								top: 4rem;
								@media #{$black-on-white} {
									background: $high-contrast-blue;
								}
								@media #{$white-on-black} {
									background: $yellow;
								}
							}

							&.user {
								padding-right: 5.2rem;

								@media #{$black-on-white} {
									background: $high-contrast-grey;
								}

								@media #{$white-on-black} {
									background: $high-contrast-grey;
								}

								@media #{$mediaquery_9} {
									padding-right: 4.2rem;
								}

								&::after {
									right: 3rem;
								}

								&::before {
									right: 4rem;
								}
							}
						}
					}
				}
			}

			@media #{$mediaquery_xl} {
				position: absolute;
				top: 9rem;
				right: 0;
				background: $main_darker;

				.navbar-nav {
					.nav-item {
						padding: 0 0 0.5rem 0;

						.nav-link {
							line-height: 4rem;
							border-bottom: none;
							border-left: transparent solid 0.5rem;

							&.active {
								border-bottom: none;
								border-left: $menu_hover solid 0.5rem;

								.fa-icon {
									color: $main;
								}
							}
						}

						.dropdown-toggle {
							&::before {
								display: none;
							}

							&::after {
								display: none;
							}

							&.user {
								display: none;
							}
						}

						.dropdown-menu {
							display: block !important;
							box-shadow: none;
							margin-top: 0;
							padding: 0 4rem 0 5.5rem;
							background: transparent;

							&.user {
								border-top: 1px solid $shade_dark;
								padding-top: 2rem;
								margin-left: 0;
							}

							.dropdown-item {
								color: $light;
								line-height: 3rem;
								padding: 0.25rem 0.9rem;
								text-decoration: none;

								&.link {
									background: transparent;
								}
							}

							fa-icon {
								&.menu-pointer {
									display: none;
								}
							}
						}
					}
				}
			}
		}

		.navbar-toggler {
			//display: none;
			font-size: 5rem;
			color: $shade_light;
			padding: 0.25rem 1rem;
			position: relative;
			text-align: center;

			@media #{$mediaquery_xl} {
				display: block;
			}

			&:hover {
				color: $shade_extralight;
			}

			.navbar-toggler-icon {
				fa-icon {
					vertical-align: middle;
				}
			}

			.unread-count-tag {
				left: 5.4rem;
				top: 1.2rem;
			}
		}

		.fa-icon {
			position: relative;
			padding-right: 0.3rem;
			font-size: 2.1rem;
		}

		.navbar-icon {
			display: inline-block;
			position: relative;
			top: 0.3rem;
		}
	}
}

.unread-count-tag {
	position: absolute;
	left: 5rem;
	top: 1.6rem;
	background: #db221f;
	color: #ffffff;
	width: 2rem;
	height: 2rem;
	font-size: 1.2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0;
}

.search-dropdown-sm {
	position: absolute;
	top: 9.5rem;
	right: 2.2rem;
}

@media #{$mediaquery_xl} {
	.dropdown-menu {
		top: 0 !important;
		position: relative;
	}
}

/*
@media screen and (min-width: 1200px) {
	.navbar-nav{
		.nav-link{
			.nav-item{
				display: none;
			}
		}
	}
}
*/
