@import "../../../../../app.theme";

.vtr-home-security-content {
	box-shadow: $drop_shadow;
	border-radius: $border_radius;
	background-color: $light;

	.header {
		padding-left: 1.5rem;
		.heading {
			color: $shade_blue;
			font-size: 3.4rem;
			font-weight: $weight_regular;
		}
	}

	.text-regular {
		color: $shade_blue;
		font-size: 1.4rem;
		font-weight: $weight_regular;
		padding: 1rem 1rem 1rem 0rem;
		a{
			text-decoration: underline;
		}
	}

	.peace-of-mind {
		.bullet-icon {
			.icon-bkg {
				display: inline-block;
				border-radius: 50%;
				height: 3rem;
				width: 3rem;
				border-width: 0.3rem;
				border-style: solid;
				text-align: center;
				fa-icon {
					font-size: 1.6rem;
					line-height: 2.7rem;
					color: $light;
				}
			}
		}

		.sub-heading {
			color: $shade_blue;
			font-size: 2.4rem;
			font-weight: $weight_bold;
		}
	}

	.bullet-list {
		margin-top: 1rem;
		list-style: none;
		padding: 0;
		background-color: $light;

		li {
			margin: 0;
			padding: 1rem 1rem 1rem 0;
			color: $main_dark;

			&.good {
				.bullet-icon {
					.icon-bkg {
						background: $green_gradient;
						background-color: $go_dark;
						border-color: $green_dark;
					}
				}
			}

			.bullet-icon {
				.icon-bkg {
					display: inline-block;
					border-radius: 50%;
					height: 3rem;
					width: 3rem;
					border-width: 0.3rem;
					border-style: solid;
					text-align: center;

					fa-icon {
						font-size: 1.6rem;
						line-height: 2.7rem;
						color: $light;
					}
				}
			}
		}
	}

	.gem-box {
		// padding: 3rem 1rem 4rem 1rem;
		height: auto;
		width: 100%;
		max-width: 100%;

		.gem {
			padding: 2.5rem;
			width: 100%;
			height: 100%;
			border-radius: $border_radius_sm;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				max-width: 110%;
				height: auto;
			}

			fa-icon.icon {
				font-size: 15rem;
				color: $main;
				text-align: center;
				position: relative;
				padding: 2rem;
				right: 5%;
			}
		}
	}

	.bottom-content {
		padding-bottom: 3rem;
	}
	vtr-home-security-card {
		width: 100%;
		margin: 1rem;
	}
}
