<div class="vtr-home-security-content">
	<div class="container-fluid p-20">
		<div class="row pb-3">
			<div class="col">
				<div class="header">
					<div class="heading pb-3" [innerHTML]="'security.homeprotection.homesecurity.title' | translate"></div>
					<div class="text-regular pb-0" [innerHTML]="'security.homeprotection.homesecurity.titleDescription' | translate"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6 order-lg-2 p-0">
				<div class="gem-box">
					<div class="gem p-0">
						<img src="assets/images/Banner_no_logo_h&f.jpg"
							center />
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6 order-lg-1">
				<ul class="bullet-list">
					<li class="good">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto pl-0">
									<div class="bullet-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', 'check']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular p-2" [innerHTML]="'security.homeprotection.homesecurity.homeSecurityAffect1' | translate"></div>
								</div>
							</div>
						</div>
					</li>
					<li class="good">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto pl-0">
									<div class="bullet-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', 'check']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular p-2" [innerHTML]="'security.homeprotection.homesecurity.homeSecurityAffect2' | translate"></div>
								</div>
							</div>
						</div>
					</li>
					<li class="good">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto pl-0">
									<div class="bullet-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', 'check']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular p-2" [innerHTML]="'security.homeprotection.homesecurity.homeSecurityAffect3' | translate"></div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col">
									<div class="text-regular" [innerHTML]="'security.homeprotection.homesecurity.describe' | translate"></div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="peace-of-mind row mb-5">
					<div class="col">
						<div class="sub-heading" [innerHTML]="'security.homeprotection.homesecurity.subtitle' | translate"></div>
						<div class="text-regular col-12 col-lg-6 order-lg-1" *vtrTranslate="'security.homeprotection.homesecurity.subtitleDescribe' | translate">
							<a vtrMetrics  id="chs-lnk-peaceofmind-here"
								metricsEvent="ArticleClick"
								metricsItemPosition="1"
								metricsPageNumber="1"
								[metricsItemID]="peaceOfMindArticleId"
								[metricsItemCategory]="peaceOfMindArticleCategory"
								href="javascript:void(0)"
								(click)="openPeaceOfMindArticle()"
								target="_blank"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="home-security-card row" *ngIf="page === 'homeSecurity'">
			<vtr-home-security-card
				[location]="location"
				[permission]="permission"
			></vtr-home-security-card>
		</div>
	</div>
</div>
