@import '../../../app.theme.scss';

:host {
	position: relative;
}

.article-main-body {
	&:focus {
		outline: 0rem;
	}
}

.vtr-modal-article-detail {
	padding: 0;
	display: flex;
	flex-flow: column;
	height: calc(100vh - 5.5rem);
	box-sizing: border-box;

	fa-icon {
		font-size: 2rem;
		color: $main;
	}

	.article-content {
		width: 100%;
		padding: 0 4rem;
		overflow-x: hidden;
		overflow-y: auto;

		&:focus {
			outline-offset: -0.2rem;
		}
	}

	h1,
	header {
		font-size: 3.1rem;
		font-weight: normal;
		color: $blue-dark;
		margin-bottom: 2rem;
		padding: 0 6.4rem 0 4rem;
	}

	img,
	iframe {
		max-width: 100%;
		margin-bottom: 3rem;
	}

	.article-body {
		padding-bottom: 4rem;
	}

	.loading-body,
	.empty-body {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;
		background: #fff;
	}
}

.btn-modal-close {
	right: 1rem;
	top: -2rem;
	z-index: 2;
}

.spinner-content,
.empty-content {
	width: 100%;
	height: calc(100vh - 13.5rem);
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 75%;
	}

	.spinner-border {
		width: 5rem !important;
		height: 5rem !important;
		padding: 5rem;
		margin-bottom: 6rem;
	}
}