<div class="modal-body vtr-modal-article-detail">
	<div role="button"
		class="close-btn"
		aria-hidden="true"
		vtrMetrics
		metricsItem="ArticleCloseButton"
		metricsEvent="FeatureClick"
		metricsParent="{{ metricsParent }}"
	 (click)="closeModal()">
		<img [src]=" '/assets/icons/Close.svg' | svgInline | async" alt="" srcset="">
	</div>
	<h1>{{articleTitle}}</h1>
	<div class="article-content">
		<img src="{{articleImage}}"
			alt="">
		<div class="article-body" [innerHTML]="articleBody"> </div>
	</div>
</div>
