@import '../../../app.theme.scss';

.vtr-modal-article-detail {
	&.modal-body {
		padding: 0;
	}

	fa-icon {
		font-size: 2rem;
		color: $main;
	}

	h1 {
		font-size: 3.1rem;
		font-weight: normal;
		color: $blue-dark;
		margin-bottom: 3rem;
	}

	img,
	iframe {
		max-width: 100%;
		margin-bottom: 3rem;
	}
}
