@import '../../../app.theme.scss';

.vtr-modal-article-detail {
	padding: 0;
	display: flex;
	flex-flow: column;
	height: calc(100vh - 5.5rem);
	box-sizing: border-box;

	fa-icon {
		font-size: 2rem;
		color: $main;
	}

	.article-content{
		width: 100%;
		padding: 0 4rem;
		overflow-x: hidden;
		overflow-y: auto;
	}

	h1 {
		font-size: 3.1rem;
		font-weight: normal;
		color: $blue-dark;
		margin-bottom: 2rem;
		padding: 0 6.4rem 0 4rem;
	}

	img,
	iframe {
		max-width: 100%;
		margin-bottom: 3rem;
	}

	.article-body {
		padding-bottom: 4rem;
	}
}

.close-btn {
	position: absolute;
	right: 1rem;
	top: -2rem;
	width: 4.2rem;
	height: 4.2rem;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}

	img {
		width: 2.2rem;
		height: 2.2rem;
		margin: 1rem;
	}
}

.spinner-content,
.empty-content {
	width: 100%;
	height: calc(100vh - 13.5rem);
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 75%;
	}

	.spinner-border {
		width: 5rem !important;
		height: 5rem !important;
		padding: 5rem;
		margin-bottom: 6rem;
	}
}
