
@import "../../../../../app.theme";

.vtr-ui-hardware-scan-test-result {

	.item-right {
		display: flex;
		justify-content: right;
		align-items: center;

		.module-result-text {
			padding: 0 1rem;
			font-size: $fontsize_xs2;
			font-weight: $weight_bold;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}

	.text-status {
		margin: 0rem;
	}

	.not-applicable {
		color: $light-grey;
	}

	.failure {
		color: $button_red_start;
	}

	.warning {
		color: $warning_light;
	}

	.success {
		color: $green-dark;
	}
}
