<vtr-page-layout [title]="'cpt.title' | translate" [back]="'common.ui.back' | translate" [backId]="'cpt-back-btn'"
    [shiftLeftUp]="false" [shiftRightUp]="true">
    <left-content>
        <div class="cpt-form">
            <div class="row server-content">
                <div class="server-body col">
                    <form name="serverswitchform" [formGroup]="serverSwitchForm" (ngSubmit)="onSubmit()" class="form"
                        novalidate>
                        <ul *ngIf="sddInvalid.status" class="alert alert-danger">
                            <li class="fa fa-error" *ngFor="let msg of sddInvalid.message;">{{msg}}</li>
                        </ul>

                        <div class="form-group row mb-2">
                            <label for="cmsserver" class="col col-4 col-form-label">CMS API</label>
                            <div class="col">
                                <select name="cmsserver" id="cmsserver" formControlName="cmsserver" required>
                                    <option *ngFor="let cmsserver of serverSwitchData.serverList" [ngValue]="cmsserver">
                                        {{cmsserver}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="country" class="col col-4 col-form-label">Country</label>
                            <div class="col">
                                <select name="country" id="country" formControlName="country" required>
                                    <option *ngFor="let country of serverSwitchData.countryList" [ngValue]="country">
                                        {{country.Value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="language" class="col col-4 col-form-label">Language</label>
                            <div class="col">
                                <select name="language" id="language" formControlName="language" required>
                                    <option *ngFor="let language of serverSwitchData.languageList" [ngValue]="language">
                                        {{language.Value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="segment" class="col col-4 col-form-label">Segment</label>
                            <div class="col">
                                <select name="segment" id="segment" formControlName="segment" required>
                                    <option *ngFor="let segment of serverSwitchData.segmentList" [ngValue]="segment">
                                        {{segment}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label for="oem" class="col col-4 col-form-label">OEM</label>
                            <div class="col">
                                <select name="oem" id="oem" formControlName="oem" required>
                                    <option *ngFor="let oem of serverSwitchData.oemList" [ngValue]="oem">{{oem}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label for="brand" class="col col-4 col-form-label">Brand</label>
                            <div class="col">
                                <select name="brand" id="brand" formControlName="brand" required>
                                    <option *ngFor="let brand of serverSwitchData.brandList" [ngValue]="brand">{{brand}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="page" class="col col-4 col-form-label">Page</label>
                            <div class="col">
                                <select name="page" id="page" formControlName="page" required>
                                    <option *ngFor="let page of serverSwitchData.pageList" [ngValue]="page">
                                        {{page.label}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <div class="col">
                                <input type="submit" class="btn btn-lg btn-primary button" value="Submit">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="cpt-preview row">
            <div class="col">
                <!-- Pages -->
                <div class="mt-5">
                    <ng-template #vc></ng-template>
                </div>
            </div>
        </div>
    </left-content>
    <right-content>
        <div class="container-fluid">
            <div class="row mb-40">
                <div class="col col-12" [ngClass]="" role="text" tabindex="0" id="cpt-cms-url">
                    <h2>CMS Url: {{serverSwitchResponse.cmsserver}}</h2>
                </div>
            </div>
            <div class="row mb-40">
                <div class="col col-12" [ngClass]="" role="text" tabindex="0" id="cpt-cms-response">
                    <h2>CMS Response:</h2><br />
                    <span *ngIf="this.serverSwitchResponse.isloading == null"></span>
                    <pre *ngIf="this.serverSwitchResponse.isloading===false">
                        <code>
                            {{serverSwitchResponse.jsonresponse | json}}
                        </code>
                    </pre>
                    <div  *ngIf="this.serverSwitchResponse.isloading===true" class="container-fluid position-relative">
                        <div class="loader center-block">
                            <div class="spinner-border text-secondary progress-spinner" role="status"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </right-content>
</vtr-page-layout>