@import "../../../styles/common-blocks";

.feature-header {
	&__title {
		@extend %subtitle;
		line-height: normal;

		&--red {
			color: red;
		}

		&--three-dots {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	&__text {
		@extend %text-common;
		font-size: 1.6rem;
	}
}
