<div class="feature-header">
	<ng-container *ngIf="!isFeatureWasScanned">
		<p class="feature-header__title">{{texts.title}}</p>
		<p class="feature-header__text">
			{{texts.figleafUninstalled}}
		</p>
	</ng-container>

	<ng-container *ngIf="isFeatureWasScanned">
		<p class="feature-header__title" *ngIf="countOfIssue > 0">
			<ng-content></ng-content>
		</p>
		<ng-container *ngIf="isFigleafReadyToCommunication && countOfIssue === 0">
			<p class="feature-header__title">{{texts.figleafTitle}}</p>
			<p class="feature-header__text">
				{{texts.figleafInstalled}}
			</p>
		</ng-container>
		<ng-container *ngIf="!isFigleafReadyToCommunication && countOfIssue === 0">
			<p class="feature-header__title feature-header__title--three-dots" [title]="texts.noIssuesTitle">{{texts.noIssuesTitle}}</p>
			<p class="feature-header__text">
				{{texts.noIssuesDescription}}
			</p>
		</ng-container>
	</ng-container>
</div>
