<div class="vtr-page-security-internet vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="backarrow"
			 [back]="back"
			 [title]="title"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col col-8 vtr-page-left-column">
						<div class="vtr-subpage">
							<div class="vtr-page-shift-up">
								<div class="vtr-page-security-internet">
									<div class="container-fluid p-40 security-card"
									 *ngIf="IsDashlaneInstalled">
										<div class="row">
											<div class="col">
												<div class="heading">SurfEasy Virtual Private Network</div>
											</div>
											<div class="pull right"><img class="surfeasy_logo_teal"
												 src="../../../../assets/images/SurfEasy-logo.png" /></div>
										</div>
										<div class="row mt-20">
											<div class="col">
												<div class="text-regular">
													SurfEasy is a VPN, or Virtual Private Network provider that helps
													protect you while you are surfing the internet. Without a VPN, your
													PC may be more vulnerable to attackers and identity thieves. A VPN
													runs silently in the background and provides additional safety and
													privacy measures while you use the internet.
												</div>
											</div>
										</div>
										<div class="row mt-40">
											<div class="col">
												<div class="get-app-code-box">
													<div class="row">
														<div class="col col-1">
															<div>
																<ul class="bullet-list">
																	<li class="bad">
																		<div class="bullet-icon">
																			<div class="icon-bkg">
																				<fa-icon [icon]="['fas', 'times']">
																				</fa-icon>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
														<div class="col col-2">
															<div class="sub-heading">
																SURFEASY VPN
															</div>
														</div>
														<div>
															<div class="button-box">
																<button type="button"
																 class="btn btn-danger btn-round-xs text-uppercase">
																	Not Installed
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-40">
											<div class="col">

											</div>
											<div class=" pull right">
												<div class="col-12">
													<button type="button"
														vtrMetrics
														metricsEvent="itemClick"
														metricsParent="surfeasy-virtual-private-network"
														metricsItem="get surfeasy"
														(click)="surfeasy()"
														class="btn btn-primary text-uppercase btn-round-sm  btn-lg">
														Get SurfEasy
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="container-fluid p-40 security-card"
									 *ngIf="!IsDashlaneInstalled">
										<div class="row">
											<div class="col">
												<div class="heading">SurfEasy Virtual Private Network</div>
											</div>
											<div class="pull right"><img class="surfeasy_logo_teal"
												 src="../../../../assets/images/SurfEasy-logo.png" /></div>
										</div>
										<div class="row mt-20">
											<div class="col">
												<div class="text-regular">
													A Virtual Private Network provider helps you protect while you are
													surfing the internet. Without a VPN, your pc may be more vulnerable
													to attackers and identity thieves. A VPN runs silently in the
													background and provides safety and privacy measures.
												</div>
											</div>
										</div>
										<div class="row mt-40">
											<div class="col">
												<div class="get-app-code-box">
													<div class="row">
														<div class="col col-1">
															<div>
																<ul class="bullet-list">
																	<li class="installed">
																		<div class="bullet-icon">
																			<div class="icon-bkg icon-installed">
																				<fa-icon [icon]="['fas', 'dot']">
																				</fa-icon>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
														<div class="col col-2">
															<div class="sub-heading">
																SurfEasy VPN
															</div>
														</div>
														<div>
															<div class="button-box">
																<button type="button"
																 class="btn btn-primary btn-round-xs text-uppercase">
																	Installed
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-40">
											<div class="col">
												<div class="text-regular">Stop worrying about your computer safety and
													get SurfEasy <a href="">See comparision</a></div>
											</div>
											<div class=" pull right">
												<div class="col-12">
													<button type="button"
														(click)="surfeasy()"
														class="btn btn-primary text-uppercase btn-round-sm  btn-lg">
														Open SurfEasy
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row vtr-page-security-internet"
						 *ngIf="IsDashlaneInstalled">
							<div class="row">
								<div class="col col-12 col-sm-12 mt-40">
									<div>
										<p class="title"> Why SurfEasy?</p>
										<p class="text-regular">SurfEasy makes it easy to stay safe while surfing the
											internet. It helps you remain anonymous, and adds an additional layer of
											security between you and anyone that wants your personal information.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col col-6 mt-40">
									<div class="col">
										<img src="../../../../assets/images/surfeasy-left-img.png"
										 class="surfeasy-side-left-img" />
									</div>
								</div>
								<div class="col col-6 mt-40">
									<div class="col">
										<div class="list-heading">
											<p class="adjust-left">Start using SurfEasy Today</p>
										</div>
										<ul class="bullet-list">
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																Using a VPN adds Security. SurfEasy encrypts your data,
																adding anonymity and security.
															</div>
														</div>
													</div>
												</div>
											</li>
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																Once registered SurfEasy runs silently in the background
																so everything runs the same but better.
															</div>
														</div>
													</div>
												</div>
											</li>
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																Start using SurfEasy to protect yourself while browsing
																the internet. Enjoy the no-log VPN that works on every
																device.
															</div>
														</div>
													</div>
												</div>
											</li>
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																As a surfEasy user enjoy 250 MB of free data every 30
																days! Unlock additional data by following the steps on
																the "Rewards" tab of the SurfEasy app.
															</div>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col col-12 ">
								<div class="row top-line">
									<div class="col">
										<div class="list-heading">Powered By SurfEasy</div>
										<p class="text-regular"> Read more on the <a
												href="https://www.surfeasy.com/privacy_policy/"
												target="_blank"
												class="learnmore">Privacy Policy</a> and <a
												href="https://www.surfeasy.com/terms_of_service/"
												target="_blank"
												class="learnmore">Terms of Services</a></p>
									</div>
									<div class="pull right"><img class="surfeasy_logo_bottom"
										 src="../../../../assets/images/SurfEasy-logo.png" /></div>
								</div>
							</div>
						</div>
						<div class="row vtr-connected-security-internet"
						 *ngIf="!IsDashlaneInstalled">
							<div class="row">
								<div class="col col-12 col-sm-12 mt-40">
									<div>
										<p class="title">How to use SurfEasy VPN</p>
										<p class="text-regular">A VPN provider helps you protect you while you are
											surfing the internet. Without a VPN, our PC may be moe vulnerable to
											attackers and identity thieves. A VPN runs silently in the bacground and
											provides safety andprivacy measures.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col col-6 mt-40">
									<div class="col">
										<img src="../../../../assets/images/SurfEasy-Left-img-2.png"
										 class="surfeasy-side-right-img pull-right" />
									</div>
								</div>
								<div class="col col-6 mt-40">
									<div class="col">
										<div class="list-heading">
											<p class="adjust-left">Get started:</p>
										</div>
										<div class="number-list">
											<ol>
												<li>
													<div class="text-regular">
														After installing SurfEasy register and make an account.
													</div>
												</li>
												<li>
													<div class="text-regular">
														Log in with your secure credentials.
													</div>
												</li>
												<li>
													<div class="text-regular">
														Wait for confirmation to know you are connected and then begin
														browsing securely.
													</div>
												</li>
											</ol>
										</div>
										<div class="col col-12 mt-40">
											<div class="col">
												<div class="list-heading">
													<p class="adjust-left sub-heading">HOW TO GET FREE DATA:</p>
												</div>
												<ul class="bullet-list">
													<li class="good">
														<div class="container-fluid">
															<div class="row align-items-center">
																<div class="col-auto">
																	<div class="bullet-icon">
																		<div class="icon-bkg">
																			<fa-icon [icon]="['fas', 'check']">
																			</fa-icon>
																		</div>
																	</div>
																</div>
																<div class="col">
																	<div class="text-regular">
																		Confirm email and earn +250 MB
																	</div>
																</div>
															</div>
														</div>
													</li>
													<li class="good">
														<div class="container-fluid">
															<div class="row align-items-center">
																<div class="col-auto">
																	<div class="bullet-icon">
																		<div class="icon-bkg">
																			<fa-icon [icon]="['fas', 'check']">
																			</fa-icon>
																		</div>
																	</div>
																</div>
																<div class="col">
																	<div class="text-regular">
																		Add second device and earn +250 Mb
																	</div>
																</div>
															</div>
														</div>
													</li>
													<li class="good">
														<div class="container-fluid">
															<div class="row align-items-center">
																<div class="col-auto">
																	<div class="bullet-icon">
																		<div class="icon-bkg">
																			<fa-icon [icon]="['fas', 'check']">
																			</fa-icon>
																		</div>
																	</div>
																</div>
																<div class="col">
																	<div class="text-regular">
																		Refer a friend and earn +500 MB
																	</div>
																</div>
															</div>
														</div>
													</li>
													<li class="good">
														<div class="container-fluid">
															<div class="row align-items-center">
																<div class="col-auto">
																	<div class="bullet-icon">
																		<div class="icon-bkg">
																			<fa-icon [icon]="['fas', 'check']">
																			</fa-icon>
																		</div>
																	</div>
																</div>
																<div class="col">
																	<div class="text-regular">
																		Like SurfEasy on Facebook and earn +100 MB
																	</div>
																</div>
															</div>
														</div>
													</li>
													<li class="good">
														<div class="container-fluid">
															<div class="row align-items-center">
																<div class="col-auto">
																	<div class="bullet-icon">
																		<div class="icon-bkg">
																			<fa-icon [icon]="['fas', 'check']">
																			</fa-icon>
																		</div>
																	</div>
																</div>
																<div class="col">
																	<div class="text-regular">
																		Follow SurfEasy on Twitter and earn +100 MB
																	</div>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="col col-12 ">
								<div class="row top-line">
									<div class="col">
										<div class="list-heading">Powered By SurfEasy</div>
										<p class="text-regular"><a href="https://www.surfeasy.com/privacy_policy/"
												target="_blank"
												class="learnmore">Privacy Policy</a> and <a
												href="https://www.surfeasy.com/terms_of_service/"
												target="_blank"
												class="learnmore">Terms of Services</a></p>
									</div>
									<div class="pull right"><img class="surfeasy_logo_teal"
										 src="../../../../assets/images/SurfEasy-logo.png" /></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<div class="container-fluid">
								<!--Start of Security Card Advisor-->
								<div class="row mb-40">
									<div class="col col-12">
										<vtr-widget-status [title]="'Security Advisor'"
											[description]="'CHECK IF YOUR DEVICE IS SECURED.'"
											[items]="mockService.securityStatus">
										</vtr-widget-status>
									</div>
								</div>
								<!--End of Security Card Advisor-->
								<div class="row mb-40">
									<div class="col col-12">
										<vtr-container-card [img]="'./../../../../assets/images/antivirus/poaster.png'"
											[title]="'Lenovo announced new powerful Legion compact series.'"
											[logoText]="'LENOVO SPECIAL'"
											[readMore]="'http://www.google.com'"
											[type]="'article'"
											[ratioX]="4"
											[ratioY]="4">
										</vtr-container-card>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
