<vtr-page-layout [title]="'security.vpn.title' | translate"
	[textId]="'security-internet'"
	[pageCssClass]="'security-internet'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true"
	[back]="'common.ui.back' | translate"
	[backId]="'sa-vpn-btn-back'">

	<left-content>
		<div class="col-12 p-0 mb-4" *ngIf="!isOnline">
			<vtr-widget-offline-info
				[title]="'dashboard.offlineInfo.title' | translate"
				[isSubtitleVisible]="false"
				[isButtonVisible]="false"></vtr-widget-offline-info>
		</div>
		<div class="container-fluid p-0">
			<div class="row security-card p-20">
				<div class="container-fluid p-0">
					<vtr-ui-feature-heading
						appSearchName="search-internet-protection"
						featureTitle="security.vpn.header"
						description="security.vpn.whatIsSufEasy"
						imgAlt="surfEasy logo"
						imgSrc="assets/images/SurfEasy-logo.png"></vtr-ui-feature-heading>
					<div class="row mt-20">
						<div class="col get-app-code-box">
							<vtr-ui-security-statusbar [statusList]="[statusItem]">
							</vtr-ui-security-statusbar>
						</div>
					</div>
					<div class="mt-20" *ngIf="statusItem.status === 'not-installed' || statusItem.status === 'installing'">
						<vtr-ui-description-button
							metricsEvent="FeatureClick"
							metricsItem="getSurfEasy"
							id="sa-vpn-btn-getsurfeasy"
							[isDisabled]="statusItem.status === 'installing' || isOnline === false"
							[label]="'security.vpn.getSufEasy' | translate"
							[buttonPos]="'align-items-center'"
							[btnHeight]="true"
							[rightCol]="'max-width-50'"
							(buttonClick)="getSurfEasy()">
							{{'security.vpn.helpKeep' | translate}}
						</vtr-ui-description-button>
					</div>
					<div class="mt-20" *ngIf="statusItem.status === 'installed'">
						<vtr-ui-description-button
							metricsItem="openSurfEasy"
							[label]="'security.vpn.openSufEasy' | translate"
							id="sa-vpn-btn-opensurfeasy"
							[buttonPos]="'align-items-center'"
							[btnHeight]="true"
							[rightCol]="'max-width-50'"
							(buttonClick)="openSurfEasy()">
							{{'security.vpn.helpKeep' | translate}}
						</vtr-ui-description-button>
					</div>
				</div>
			</div>
			<vtr-ui-feature-introduction [items]="featureIntroduction">
			</vtr-ui-feature-introduction>
			<hr class="d-none d-lg-block">
			<vtr-widget-powered-by-info class="d-none d-lg-block"
				[title]="'security.vpn.poweredBySurfEasy'"
				[detail]="'common.securityAdvisor.privacyPolicyAndTermsOfService'"
				[imgUrl]="'assets/images/SurfEasy-logo.png'"
				linkId="sa-vpn-lnk"
				privacyUrl="https://www.surfeasy.com/privacy_policy/"
				termsUrl="https://www.surfeasy.com/terms_of_service/">
			</vtr-widget-powered-by-info>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<!--Start of Security Card Advisor-->
			<div class="row mb-40">
				<div class="col col-12">
					<vtr-widget-security-status [securityAdvisor]="securityAdvisor"
						[linkId]="'vpn-security'">
					</vtr-widget-security-status>
				</div>
			</div>
			<!--End of Security Card Advisor-->
			<div class="row">
				<div class="col col-12">
					<vtr-container-card [item]="cardContentPositionA"
						[type]="'subpage-corner'"
						cornerShift="large"
						order="2"
						sideFlag="r"
						[ratio]="2"
						[cornerShift]="'large'"
						[containerCardId]="'sa-vpn-modal'">
					</vtr-container-card>
				</div>
			</div>
			<hr class="d-lg-none">
			<vtr-widget-powered-by-info class="d-lg-none"
				[title]="'security.vpn.poweredBySurfEasy'"
				[detail]="'common.securityAdvisor.privacyPolicyAndTermsOfService'"
				[imgUrl]="'assets/images/SurfEasy-logo.png'"
				linkId="sa-vpn-lnk"
				privacyUrl="https://www.surfeasy.com/privacy_policy/"
				termsUrl="https://www.surfeasy.com/terms_of_service/">
			</vtr-widget-powered-by-info>
		</div>
	</right-content>

</vtr-page-layout>
