@import "../../../app.theme.scss";
::ng-deep {
	.vtr-page-security-internet {
		color: $shade_blue;
		.vtr-subpage {
			.vtr-widget-offline-info {
				margin-top: $shift_up_small;
			}
		}
		.security-card {
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background-color: $light;
			padding: 1.5rem;
		}

		.text-regular {
			font-size: 1.4rem;

			a {
				text-decoration: underline;
			}
		}

		.get-app-code-box {
			background-color: $shade_lightest;
			border: 0.1rem solid $shade_lighter;
			border-radius: $border_radius;

			.sub-heading {
				margin-top: 2rem;
				font-size: 1.8rem;
				font-weight: $weight_bold;
				text-transform: uppercase;
				margin-left: -5rem;
				word-break: break-all;
				word-wrap: break-word;
			}

			.text-regular {
				font-size: 2rem;
				font-weight: $weight_light;
			}
		}

		vtr-widget-powered-by-info {
			.vtr-widget-powered-by-info {
				.product-logo {
					width: 14rem !important;
				}
			}
		}

		.min-width-50 {
			min-width: 50%;
		}

		.flex-1 {
			flex: 1;
		}

		.flex-100 {
			flex: 100;
		}

		.vtr-page-right-column {
			@media #{$mediaquery_X8} {
				padding: 0 4rem 4rem 8.5rem;
			}
		}

	}
}
