@import '../../../../../app.theme';

.vtr-snapshot-list-item {
    padding: 0 2.4rem;
    margin-top: 1rem;
    width: 100%;

	.module-information {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
        flex-wrap: nowrap;
        
        .load-icon {
            margin-left: auto;
			color: $blue_lightest;
			animation-name: rotation;
			animation-duration: 3s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			transform-origin: 50% 50%;
			display: inline-block;
		}
		@keyframes rotation {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
			
		.update-btn {
			margin-left: auto;
		}
	}
    
    .last-child {
        margin-bottom: 1rem;
	}

	.title {
		font-size: $fontsize_xs;
		font-weight: $weight_bold;
		padding-left: 1rem;
		color: $shade_blue;
	}

	.subtitle {
		font-size: $fontsize_xs;
		padding: 0 1rem;
		color: $shade_blue;
		font-weight: $weight_light;
	}

	.module-icon {
		display: flex;
		align-items: center;
		font-size: 3rem;
	}

	.img-icon {
		width: 2.4rem;
		height: 2.4rem;
		vertical-align: middle;
		margin-bottom: 1rem;
	}

    .collapse-control {
		margin: 0 1rem 0 2.2rem;

		fa-icon {
			font-size: $fontsize_lg;
			vertical-align: middle;
		}

		&:hover {
			opacity: 1;

			.collapse-text {
				text-decoration: underline;
			}
		}

		&:focus {
			@include outline-blue;
		}
    }

	.details-list {
		border-radius: $border_radius;
		overflow: hidden;
		
		@include high-contrast-border;
		
		table {
			table-layout: fixed;
			background-color: $shade_extralight;

			tbody {
				.progress-warning-image {
					padding-top: 12.3rem;
					padding-bottom: 12.3rem;
					text-align: center;
					vertical-align: middle;
	
					fa-icon {
						color: $blue_lightest;
						font-size: 6.4rem;
					}
				}

				.table-info-separator {
					height: 2.4rem;
				}

				.snapshot-table-titles {
					padding-top: 2.4rem;
				}

				tr {
					.table-info-name {
						padding-left: 4.9rem;
					}
		
					.modified-item {
						color: $menu_hover;
						font-weight:  $weight_600;
					}
		
					td, th {
						word-wrap: break-word;
					}
				}
			}
		}
	}

	p {
		margin-bottom: 0.5rem;
	}
}

.modified-module {
	background-color: $grey_light;
	padding-top: 1rem;
	padding-bottom: 1rem;

	.modified-module-name {
		font-weight: $weight_600;
		color: $blue-lighter;
		margin-bottom: 0;
	}

	hr {
		margin-bottom: 0;
	}

	@media #{$black-on-white} {
		border-top: 1px solid #000000;
		border-bottom: 1px solid #000000;
	}
	@media #{$white-on-black} {
		border-top: 1px solid #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
	}
}
