<div class="vtr-ui-list-chevron">
	<ul class="chevron-list" [ngClass]="items | wifiClass">
		<li *ngFor="let item of items" [ngClass]="getItemStatusClass(item)">
			<!--Open vantage subapges if isSystemLink===undefined or  isSystemLink  === false then user routerLink to naviagate within Lenovo Vantage Application -->
			<a routerLink="/{{item.path}}" [queryParams]="item.pathParams" vtrMetrics [metricsItem]="'link.'+item.title" metricsEvent="itemClick"
				*ngIf="item.isSystemLink===undefined || (item.isSystemLink!==undefined && item.isSystemLink===false)">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col col-1 text-center" *ngIf="iconPlacement==='left'">
							<div class="item-icon status" *ngIf="item.status !== undefined && item.status !== ''">
								<div class="icon-bkg">
									<fa-icon *ngIf="item.status !== 3" [icon]="['fas', getItemStatusIconClass(item)]"></fa-icon>
									<img *ngIf="item.status === 3" src="../../../../assets/images/security/svg_icon_stick.svg">
								</div>
							</div>
							<fa-icon *ngIf="item.circle === 'questionCircle'" class="question-icon" placement="auto" [icon]="['far', 'question-circle']" container="body"></fa-icon>
							<div class="item-icon" *ngIf="item.icon">
								<div class="icon-bkg">
									<fa-icon [icon]="item.icon"></fa-icon>
								</div>
							</div>
							<div class="item-icon-image" *ngIf="item.iconPath">
								<img [src]="item.iconPath" />
							</div>
						</div>
						<div class="col item-text"
							[ngClass]="{'col-10': chevronVisibility, 'col-11': !chevronVisibility}">
							<div class="row no-gutters">
								<div class="title text-break" [ngClass]="{'light-title':item.lightTitle, 'col-12':!item.detail, 'col-8': item.detail}">
									{{item.title}}
								</div>
								<div class="col-4 detail text-break" *ngIf="item.detail" [ngClass]="getItemDetailClasses(item)">
									{{item.detail}}
								</div>
							</div>
						</div>
						<div class="col col-1 text-center" *ngIf="iconPlacement==='right'">
							<div class="item-icon status" *ngIf="item.status !== undefined && item.status !== ''">
								<div class="icon-bkg">
									<fa-icon *ngIf="item.status !== 3" [icon]="['fas', getItemStatusIconClass(item)]"></fa-icon>
									<img *ngIf="item.status === 3" src="../../../../assets/images/security/svg_icon_stick.svg">
								</div>
							</div>
							<fa-icon *ngIf="item.circle === 'questionCircle'" class="question-icon" placement="auto" [icon]="['far', 'question-circle']" container="body"></fa-icon>
							<div class="item-icon" *ngIf="item.icon">
								<div class="icon-bkg">
									<fa-icon [icon]="item.icon"></fa-icon>
								</div>
							</div>
							<div class="item-icon-image" *ngIf="item.iconPath">
								<img [src]="item.iconPath" />
							</div>
						</div>
						<div *ngIf="chevronVisibility" class="col col-1 text-center">
							<div class="arrow" [ngClass]="{'blue-arrow': arrowColor==='blue-arrow'}">
								<fa-icon [icon]="['fal', 'chevron-right']"></fa-icon>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!--Open Windows Settings /subapges if isSystemLink is not undefined and  true or  then sanitise URL of windows settings page like (ms-settings:storagesense) , link href instead of routerlink value is set to URL-->
			<a href="#!" id="{{item.title+item.id}}" (click)="launchSystemUri(item.path)"
				*ngIf="item.isSystemLink!==undefined &&  item.isSystemLink===true">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col col-1 text-center" *ngIf="iconPlacement==='left'">
							<div class="item-icon status" *ngIf="item.status !== undefined && item.status !== ''">
								<div class="icon-bkg">
									<fa-icon *ngIf="item.status !== 3" [icon]="['fas', getItemStatusIconClass(item)]"></fa-icon>
									<img *ngIf="item.status === 3" src="../../../../assets/images/security/svg_icon_stick.svg">
								</div>
							</div>
							<fa-icon *ngIf="item.circle === 'questionCircle'" class="question-icon" placement="auto" [icon]="['far', 'question-circle']" container="body"></fa-icon>
							<div class="item-icon" *ngIf="item.icon">
								<div class="icon-bkg">
									<fa-icon [icon]="item.icon"></fa-icon>
								</div>
							</div>
							<div class="item-icon-image" *ngIf="item.iconPath">
								<img [src]="item.iconPath" />
							</div>
						</div>
						<div class="col item-text"
							[ngClass]="{'col-10': chevronVisibility, 'col-11': !chevronVisibility}">
							<div class="row no-gutters">
								<div class="col-8 title text-break" [ngClass]="{'light-title':item.lightTitle, 'col-12':!item.detail, 'col-8': item.detail}">
									{{item.title}}
								</div>
								<div class="col-4 detail text-break" *ngIf="item.detail" [ngClass]="getItemDetailClasses(item)">
									{{item.detail}}
								</div>
							</div>
						</div>
						<div class="col col-1 text-center" *ngIf="iconPlacement==='right'">
							<div class="item-icon status" *ngIf="item.status!==undefined&&item.status!==''">
								<div class="icon-bkg" *ngIf="item.status !== question">
									<fa-icon *ngIf="item.status !== 3" [icon]="['fas', getItemStatusIconClass(item)]"></fa-icon>
									<img *ngIf="item.status === 3" src="../../../../assets/images/security/svg_icon_stick.svg">
								</div>

							</div>
							<fa-icon *ngIf="item.circle === 'questionCircle'" class="question-icon" placement="auto" [icon]="['far', 'question-circle']" container="body"></fa-icon>
							<div class="item-icon" *ngIf="item.icon">
								<div class="icon-bkg">
									<fa-icon [icon]="item.icon"></fa-icon>
								</div>
							</div>
							<div class="item-icon-image" *ngIf="item.iconPath">
								<img [src]="item.iconPath" />
							</div>
						</div>
						<div *ngIf="chevronVisibility" class="col col-1 text-center">
							<div class="arrow">
								<fa-icon [icon]="['fal', 'chevron-right']"></fa-icon>
							</div>
						</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
