@import "../../../app.theme.scss";

.vtr-ui-list-chevron {
	.chevron-list {
		margin-top: 2.7rem;
		list-style: none;
		padding: 0;
		background-color: $shade_extralight;
		border: 0.1rem solid $shade_lighter;
		border-radius: $border_radius;
		li {
			height: 6rem;
			padding: 1.5rem 1rem 1.5rem 0;
			border-bottom: 0.1rem solid $shade_lighter;
			color: $main_darker;
			&:last-child {
				border: none;
			}
			&:hover {
				background-color: $shade_extralight;
			}
			&.good {
				.item-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
						border-color: $go_dark;
					}
				}
			}
			&.bad {
				.item-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
						border-color: $stop_dark;
					}
				}
			}
			a {
				color: $main_darker;
				&:hover {
					text-decoration: none;
				}
			}
			.item-icon {
				&.status {
					.icon-bkg {
						display: inline-block;
						border-radius: 50%;
						height: 2.4rem;
						width: 2.4rem;
						border-width: 0.2rem;
						border-style: solid;
						text-align: center;
						fa-icon {
							font-size: 1.2rem;
							line-height: 2rem;
							color: $light;
						}
					}
				}
				fa-icon {
					color: $main;
					font-size: 1.9rem;
					line-height: 3rem;
				}
			}
			.item-icon-image {
				display: inline-block;
				height: 3rem;
				width: 3rem;
			}
			.item-text {
				overflow: hidden;
				padding-left: 1rem;
				.title {
					font-size: 1.4rem;
					font-weight: $weight_medium;
					float: left;
					&.light-title {
						font-weight: $weight_light;
					}
				}
				.detail {
					padding-right: 0.5rem;
					float: right;
					text-align: right;
					font-size: 1.2rem;
					color: $shade_dark;
					&.highlight {
						color: $main_shade;
						text-decoration: underline;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			.arrow {
				color: $main_darker;
				line-height: 2.8rem;
				font-size: 2rem;
			}
		}
	}
}
