@import "../../../app.theme.scss";

.vtr-ui-list-chevron {
	.chevron-list {
		margin-top: 2.7rem;
		list-style: none;
		padding: 0;
		background-color: $shade_extralight;
		border: 0.1rem solid $shade_lighter;
		border-radius: $border_radius;
		line-height: 1.3;

		li {
			height: auto;
			padding: 1.5rem 1rem;
			border-bottom: 0.1rem solid $shade_lighter;
			color: $main_darker;

			.item-icon {
				&.status {
					cursor: pointer;
					.icon-bkg {
						display: inline-block;
						border-radius: 50%;
						height: 2rem;
						width: 2rem;
						border-width: 0.2rem;
						border-style: solid;
						text-align: center;
						cursor: pointer;
						fa-icon {
							font-size: 1.2rem;
							line-height: 1.6rem;
							color: $light;
						}
					}
				}

				fa-icon {
					color: $main;
					font-size: 1.9rem;
					line-height: 3rem;
				}
			}

			&:last-child {
				border: none;
			}

			// &:hover {
			// 	background-color: $shade_extralight;
			// }
			&.good {
				.item-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
						background-color: $go_dark;
						border-color: $go_dark;
					}
				}
			}

			&.bad {
				.item-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
						background-color: $stop_dark;
						border-color: $stop_dark;
					}
				}
			}

			&.orange {
				.item-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $orange 0%, $orange-light 100%);
						background-color: $yellow_dark;
						border-color: $yellow_dark;
					}
				}
			}

			&.blue {
				.item-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $main 0%, $main_light 100%);
						background-color: $main_gstart;
						border-color: $main_gstart;

						fa-icon {
							font-size: 0.5rem;
							line-height: 1rem;
							vertical-align: 0.1rem;
						}
					}
				}
			}

			&.black, &.text-blue {
				.item-icon {
					.icon-bkg {
						background: linear-gradient($gradient_angle, $main_darker 0%, $main_darkest 100%);
						background-color: $main_darker;
						border-color: $main_darker;

						fa-icon {
							font-size: 0.5rem;
							line-height: 1.6rem;
							vertical-align: 0.1rem;
						}
					}
				}
			}

			a {
				color: $main_darker;

				&:hover {
					text-decoration: none;
				}
			}

			.item-icon-image {
				display: inline-block;
				height: 3rem;
				width: 3rem;
			}
			.item-icon-class{
				display: flex;
				height: 3rem;
				width: 3rem;
				align-items: center;
				.icon{
					font-size: 2rem;				}
			}

			.item-text {
				overflow: hidden;
				padding-left: 1rem;
				cursor: pointer;
				.title {
					cursor: pointer;
					font-size: 1.4rem;
					font-weight: $weight_bold;
					float: left;
					padding-top: 0.1rem;
					padding-right: 0.1rem;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: $blue-dark;

					&.light-title {
						font-weight: $weight_light;
						cursor: pointer;
					}
				}

				.detail {
					padding-left: 0.1rem;
					padding-top: 0.3rem;
					float: right;
					text-align: right;
					font-size: 1.2rem;
					color: $shade_dark;
					font-weight: $weight_medium;
					max-width: 50%;
					word-wrap: break-word;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					cursor: pointer;
					&.good {
						color: $go_dark;
					}

					&.bad {
						color: $stop_dark;
					}

					&.blue, &.text-blue {
						color: $main_gstart;
					}

					&.orange {
						color: $yellow_dark;
					}

					&.black {
						color: $main_darker;
					}

					&.security {
						text-transform: uppercase;
						font-weight: $weight_bold;
					}

					&.highlight {
						color: $main_shade;
						//text-decoration: underline;
						text-decoration: none !important;

						&:hover {
							text-decoration: none;
						}
					}
				}

				.sub-text{
					font-size: 1.2rem;
					margin-top: 2px;
				}
			}

			.arrow {
				color: $main_darker;
				line-height: 2.8rem;
				font-size: 2rem;
				cursor: pointer;
				&.blue-arrow {
					color: $main;
				}
			}

			.question-icon {
				color: $main;
				font-size: 2rem;
				cursor: pointer;
			}
		}
	}

	.wifiStatus-no-border-bottom {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin-bottom: 0;
	}

	.disabled {
		cursor: default;
	}

}
