<div class="confirm-popup">
  <form action="" (submit)="confirm()" [formGroup]="confirmationForm">

    <h2 class="confirm-popup__title">Let’s confirm your email</h2>

    <div class="confirm-content">
      <div class="confirm-content__container-top" [class.confirm-content__container-top--error]="isError">
        <div class="confirm-content__inner-wrapper">
          <p class="confirm-content__title">Enter code</p>
          <div class="verification-input">
            <input class="verification-input__input" [class.verification-input__input--error]="isError"
                   type="text" maxlength="6" numbersOnly
                   value="{{verificationCode}}"
                   formControlName="confirmationCode"
                   (input)="onInput($event)">
          </div>
          <div class="confirm-failure">
            <p class="confirm-failure__text">Didn't get the code?</p>
            <button type="reset" class="confirm-failure__btn" (click)="resendConfirmationCode()">send it again</button>
          </div>
        </div>
      </div>

      <div *ngIf="isError" class="confirm-error">
        <img class="confirm-error__img" src="/assets/icons/privacy-tab/error-white.svg" alt="">
        <p class="confirm-error__text">Sorry, the code you entered is not valid. Please try again.</p>
      </div>

      <div class="confirm-content__steps">
        <vtr-scan-steps steps="verifyPopUpSteps"></vtr-scan-steps>
      </div>

    </div>

    <div class="confirm-popup__confirm-btn-wrapper">
      <!--TODO investigate why doesn't work without 'confirm' function-->
      <button (click)="confirm()" class="confirm-popup__confirm-btn" [class.confirm-popup__confirm-btn--error]="isError" type="submit">Confirm email</button>
    </div>
  </form>
</div>
