<div *ngIf="isPopupOpen" class="confirm-popup">
  <div class="confirm-popup__overlay" (click)="closePopup()"></div>
  <div class="confirm-popup__body">
    <button class="confirm-popup__close-btn"></button>

    <h2 class="confirm-popup__title">Let’s confirm your email</h2>

    <div class="confirm-content">
      <div class="confirm-content__container-top">
        <p class="confirm-content__title">Enter code</p>
        <div class="verification-input">
          <input class="verification-input__input"
                 type="text" maxlength="6" numbersOnly
                 value="{{verificationCode}}"
                 (input)="onInput($event)">
        </div>
        <div class="confirm-failure">
          <p class="confirm-failure__text">Didn't get the code?</p>
          <button class="confirm-failure__btn">send it again</button>
        </div>
      </div>

      <div class="confirm-error"></div>

      <div class="confirm-content__steps">
        <vtr-scan-steps></vtr-scan-steps>
      </div>

    </div>

    <button class="confirm-popup__confirm-btn" (click)="confirm()">Confirm email</button>
  </div>
</div>