@import "../../../../../app.theme";

.vtr-hardware-components {
	background-color: $light;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.heading1 {
			color: $main_darker;
			font-size: $fontsize_xl;
			text-transform: capitalize;
		}

		.heading2 {
			color: $main;
			font-size: $fontsize_xl;

			&::first-letter {
				text-transform: uppercase;
			}
		}

		.action-anchor {
			font-size: $fontsize_xs2;
			color: $main;
			text-decoration: underline;
			cursor: pointer;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.final-result {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 2rem;

		.status {
			display: flex;
			align-items: center;
			text-align: left;

			.test-status {
				font-size: $fontsize_xl2;

				.loading {
					color: $main;
				}
			}

			.text-status {
				color: $shade_darkest;

				.title {
					text-transform: capitalize;
					font-size: $fontsize_md;
					font-weight: $weight_bold;
					padding-left: 1rem;
				}

				.subtitle {
					font-size: $fontsize_xs;
					padding-left: 1rem;
					margin-top: -0.4rem;
				}
			}
		}

		.final-result-code {
			text-align: right;

			.result-code-value-text {
				font-size: $fontsize_md;
				color: $shade_dark;
				font-weight:$weight_bold;
			}

			.left-result-code {
				.result-code-complete-text {
					font-size: $fontsize_xs2;
					color: $shade_darker;
					font-weight: $weight_bold;
				}

				.result-code-icon {
					margin-left: 0.5rem;
					font-size: $fontsize_xs;
					color: $main;
					cursor: pointer;

					&:hover {
						color: $highlight;
					}
				}
			}
		}
	}

	.text-regular {
		color: $main_shade;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		padding: 1rem 1rem 1rem 0rem;
	}
	.hardware-lists-container {
		padding: 0rem 2rem 0rem 2rem;

		.heading {
			color: $main_dark;
			font-size: $fontsize_xl;
		}

		.button-box {
			padding: 0rem;
			margin: 1rem;

			&.shift-left {
				top: 20%;
				left: 20%;
				transform: translate(-8%, -12%);
				padding-top: 1rem 0.5rem 0.5rem 0rem;
			}
		}
	}
	.row-seperator {
		width: 100%;
		height: 0.2rem;
		background-color: $shade_lightest;
		// margin: 0.5rem 1.5rem 1.5rem 0rem;
	}

	.loading-components {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4rem 0;

		fa-icon {
			font-size: 6.5rem;
			color: $main;
		}
	}

	.button-box {
		padding: 0.5rem;
		@media #{$mediaquery_7} {
			margin-top: 1.2rem;
		}

		.button {
			min-height: 3rem;
			border-radius: 3rem;
			min-width: 6rem;
			background: $gradient_main;
			border: none;
			color: $light;
			font-size: $fontsize_xs2;
			font-weight: $weight_bold;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			// cursor: pointer;
			padding: 0 2.5rem;
		}
	}

	.warning {
		color: $warning_dark;
	}
}
