<div class="common-confirmation-modal">
	<h1 id="modal_confirm_title">{{ header | translate }} </h1>

	<p class="description"
		id="modal_confirm_description"
		role="text">
		{{ description | translate }}
	</p>

	<div class="packages"
		*ngIf="packages!==undefined && packages.length>0">
		<ul>
			<li *ngFor="let package of packages"
				id="{{'modal_confirm_package_'+package}}">{{ package }}</li>
		</ul>
	</div>

	<div class="d-flex">
		<div class="ml-0 mr-4 pl-0">
			<vtr-ui-button
				[linkId]="'modal_confirm_ok'"
				(onClick)="onOkClick($event)"
				[upperCaseLabel]=false
				[btnHeight]=true
				[label]="OkText | translate"
				metricsParent="metricsParent"
				metricsItem="Ok Button">
			</vtr-ui-button>
		</div>
		<div class="ml-0 mr-4 pl-0"
			*ngIf="CancelText.length > 0">
			<div role="button"
				title=""
				vtrMetrics
				metricsItem="Cancel Button"
				metricsEvent="featureClick"
				[metricsParent]="metricsParent"
				class="btn btn-default modal-button-cancel"
				id="modal_confirm_cancel"
				tabindex="0"
				(keydown.enter)="onCancelClick($event)"
				(click)="onCancelClick($event)">
				<span class="underline">{{CancelText | translate}}</span>
			</div>
		</div>
	</div>
	<div class="btn-modal-close">
		<vtr-ui-close-button linkId="modal_confirm_close"
			metricsItem="btn.close"
			[metricsParent]="metricsParent"
			(clickClose)="onCancelClick($event)"></vtr-ui-close-button>
	</div>
</div>
