@import "../../../app.theme.scss";

.common-confirmation-modal {
	border-radius: $border_radius;
	background: $light;
	background-size: cover;
	color: $main_dark;
	box-shadow: $drop_shadow;
	padding: 4rem;
	position: relative;

	h1 {
		font-size: $fontsize_xl;
		font-weight: $weight_600;
		color: $shade_blue;
		letter-spacing: 0;
	}

	.description {
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		color: $shade_blue;
		letter-spacing: 0;
		padding-bottom: 1.5rem;
		margin-bottom: 2rem;
		border-bottom: 0.1rem solid $main_lightest;
	}

	.close-btn {
		position: absolute;
		right: 1.8rem;
		top: 1.8rem;
		width: 2.2rem;
		height: 2.2rem;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	.packages {
		max-height: 10rem;
		padding-bottom: 1.5rem;
		margin-bottom: 2rem;
		border-bottom: 0.1rem solid $main_lightest;
		overflow-y: auto;

		ul {
			list-style: none;
			padding: 0;

			li {
				text-decoration: none;
				font-size: 1.4rem;
				font-weight: $weight_medium;
			}
		}
	}

	.modal-button {
		background: $gradient_main;
		border-radius: 5rem;
		padding: 0 3rem;
		height: 3.6rem;
		font-size: $fontsize_xs;
		color: $light;
		font-weight: $weight_bold;
	}

	.modal-button-cancel {
		cursor: pointer;
		background: none;
		color: $main;
		font-size: $fontsize_xs;
		font-weight: $weight_bold;
		padding: 0.5rem 0 0;
		height: 2.8rem;
		border-radius: 0;
		border-bottom: 0.2rem solid $main;
		text-transform: uppercase;
	}
}
