@import "../../styles/common-blocks";

.landing {

}

.landing-pitch {
	@extend %common-block-wrapper;
	margin: $topIndent 0 5rem 0;
	padding-bottom: 0;
	overflow: hidden;

	&--bottom {
		margin: 7rem 0 0 0;
	}

	&__img {
		margin: -3.5rem 0 0 -4rem;

		&--bottom {
			margin: -3.5rem -4rem 0 0;
			order: 2;
		}
	}



	&__row {
		display: flex;
	}

	&__img-col {
		padding: 0 4rem 0 0;

		img {
			max-width: 100%;
		}
	}

	&__content {
		flex-grow: 1;
		margin-left: 4rem;

		&--bottom {
			margin: 0 4rem 0 0;
		}
	}

	&__title {
		@extend %subtitle;
		margin: 0 0 2rem;
	}

	&__title-line { // <br> is evil
		display: block;

		&--bold {
			font-weight: bold;
		}
	}

	&__text {
		@extend %text-common;
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin: 2rem 0;
	}

	&__list {
		padding: 0 0 0 1.7rem;
		margin: 3rem 0 2.2rem;
		list-style-position: outside;
	}

	&__item {
		@extend %text-common;
		margin: 3.4rem 0 0;
		font-size: 1.6rem;
		line-height: 2.4rem;

		&--bold {
			font-weight: bold;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	&__buttons {
		padding: 2rem 0 0 0;
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;

		@media screen and (max-width: 1600px) {
			flex-flow: column;
			justify-content: space-between;
		}
	}

	&__button {
		@extend %theme-btn;
	}

	&__button--disable {
		color: #A1AAB3;
		font-size: 1.2rem;
		line-height: 2.3rem;
		margin-left: 5rem;
		padding: 1.5rem 0;

		@media screen and (max-width: 1600px) {
			margin-left: 0;
		}
	}
}

.landing-privacy-benefits {


	&__title {
		@extend %subtitle;
		font-weight: 300;
		margin: 0 0 2rem;
	}

	&__text {
		color: #34495E;
		line-height: 3rem;
		font-size: 1.6rem;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 4rem 0 5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 3.5rem;
	}

	&__item {

	}
}

.landing-benefit {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 124px 1fr;

	&__img {

		img {
			max-width: 100%;
		}
	}

	&__content {
		flex-grow: 1;
	}

	&__title {
		font-weight: bold;
		color: #34495E;
		font-size: 1.6rem;
		line-height: 3rem;
		margin: 0 0 0.3rem;
		text-transform: uppercase;
		position: relative;

		&--coming-soon {
			position: absolute;
			top: 0;
			height: 14px;
			line-height: 10px;
			color: #FFFFFF;
			font-size: 0.9rem;
			font-weight: 500;
			background-color: #C8CED0;
			border-radius: 7.5px;
			padding: 0.3rem 0.7rem;
			margin-left: 5px;
		}
	}

	&__text {
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: #34495E;
	}
}
