<div class="landing"
	 vtrSendAnalytics
	 [metricsEvent]="'PageView'">
	<div class="landing-pitch" data-analyticsName="TopBlock">
		<div class="landing-pitch__row">
			<div class="landing-pitch__img">
				<img src="assets/images/privacy-tab/landing/img-up.jpg"
					 srcset="assets/images/privacy-tab/landing/img-up@2x.jpg 2x"
					 alt="Lenovo Privacy Essentials by figleaf">
			</div>
			<div class="landing-pitch__content">
				<h2 class="landing-pitch__title">
					<span class="landing-pitch__title-line">What you do online is nobody’s business</span>
				</h2>
				<p class="landing-pitch__text">
					With Lenovo Privacy Essentials by FigLeaf, you’ll have everything you need to take control of your privacy everywhere online.
				</p>
				<ul class="landing-pitch__list">
					<li class="landing-pitch__item"><span class="landing-pitch__item--bold">Block tracking tools</span> to stop advertisers from learning all about you</li>
					<li class="landing-pitch__item"><span class="landing-pitch__item--bold">Scan for breaches</span> and find out if your information is exposed online</li>
					<li class="landing-pitch__item"><span class="landing-pitch__item--bold">Get a masked email</span> to use on signup instead of your real one.</li>
					<li class="landing-pitch__item"><span class="landing-pitch__item--bold">Pay privately</span> and keep your real card number out of data breaches</li>
					<li class="landing-pitch__item"><span class="landing-pitch__item--bold">Make your connection private</span> to hide your IP address and location</li>
				</ul>
				<div class="landing-pitch__buttons">
					<button class="landing-pitch__button"
							vtrSendAnalytics
							[metricsEvent]="'ItemClick'"
							[metricsItem]="'InstallButton' | changeActionButtonText | async"
							vtrOfflineMode
							positionContextTo="top-left"
							vtrOpenFigleafInstaller>{{'Install Now' | changeActionButtonText | async}}</button>
					<span class="landing-pitch__button--disable">Also available for Android</span>
				</div>
			</div>
		</div>
	</div><!-- landing-pitch up -->

	<div class="landing-privacy-benefits">
		<h2 class="landing-privacy-benefits__title">One App. Everything you need to control your privacy.</h2>
		<p class="landing-privacy-benefits__text">Lenovo Privacy Essentials by FigLeaf lets you choose what personal information others get to see — and what they don’t.</p>
		<ul class="landing-privacy-benefits__list">
			<li class="landing-privacy-benefits__item">
				<div class="landing-benefit">
					<div class="landing-benefit__img">
						<img src="assets/images/privacy-tab/landing/breaches-scan-monitoring.png"
						     srcset="assets/images/privacy-tab/landing/breaches-scan-monitoring@2x.png 2x"
						     alt="Scan and monitoring">
					</div>
					<div class="landing-benefit__content">
						<h3 class="landing-benefit__title">Scan & watch out for breaches</h3>
						<p class="landing-benefit__text">Find out if any of your accounts have been part of a data
							breach.</p>
					</div>
				</div>
			</li>
			<li class="landing-privacy-benefits__item">
				<div class="landing-benefit">
					<div class="landing-benefit__img">
						<img src="assets/images/privacy-tab/landing/mask-your-email-promo.png"
						     srcset="assets/images/privacy-tab/landing/mask-your-email-promo@2x.png 2x"
						     alt="Scan and monitoring">
					</div>
					<div class="landing-benefit__content">
						<h3 class="landing-benefit__title">Mask your email</h3>
						<p class="landing-benefit__text">It’s your personal email. Keep it that way by masking your
							real address when signing up somewhere new.</p>
					</div>
				</div>
			</li>
			<li class="landing-privacy-benefits__item">
				<div class="landing-benefit">
					<div class="landing-benefit__img">
						<img src="assets/images/privacy-tab/landing/login-keys-promo.png"
						     srcset="assets/images/privacy-tab/landing/login-keys-promo@2x.png 2x"
						     alt="Scan and monitoring">
					</div>
					<div class="landing-benefit__content">
						<h3 class="landing-benefit__title">Log in automatically</h3>
						<p class="landing-benefit__text">Create strong and unique passwords for your favorite sites.
							Lenovo Privacy Essentials remembers everything and logs you in securely.</p>
					</div>
				</div>
			</li>
			<li class="landing-privacy-benefits__item">
				<div class="landing-benefit">
					<div class="landing-benefit__img">
						<img src="assets/images/privacy-tab/landing/connect-privately.png"
						     srcset="assets/images/privacy-tab/landing/connect-privately@2x.png 2x"
						     alt="Scan and monitoring">
					</div>
					<div class="landing-benefit__content">
						<h3 class="landing-benefit__title">Connect privately</h3>
						<p class="landing-benefit__text">Hide your IP and location on one site. Share it with another.
							Lenovo Privacy Essentials gives you site-by-site control.</p>
					</div>
				</div>
			</li>
			<li class="landing-privacy-benefits__item">
				<div class="landing-benefit">
					<div class="landing-benefit__img">
						<img src="assets/images/privacy-tab/landing/block-trackers.png"
						     srcset="assets/images/privacy-tab/landing/block-trackers@2x.png 2x"
						     alt="Scan and monitoring">
					</div>
					<div class="landing-benefit__content">
						<h3 class="landing-benefit__title">Block online tracking tools</h3>
						<p class="landing-benefit__text">Do what you love online without being tracked by advertisers
							and others.</p>
					</div>
				</div>
			</li>
		</ul>
	</div><!-- landing-privacy-benefits -->

	<div class="landing-pitch landing-pitch--bottom" data-analyticsName="BottomBlock">
		<div class="landing-pitch__row">
			<div class="landing-pitch__img landing-pitch__img--bottom">
				<img src="assets/images/privacy-tab/landing/img-down.jpg"
					 srcset="assets/images/privacy-tab/landing/img-down@2x.jpg 2x"
					 alt="Lenovo Privacy Essentials by figleaf">
			</div>
			<div class="landing-pitch__content landing-pitch__content--bottom">
				<h2 class="landing-pitch__title">
					<span class="landing-pitch__title-line landing-pitch__title-line--bold">Why Lenovo Privacy Essentials?</span>
				</h2>
				<ul class="landing-pitch__list">
					<li class="landing-pitch__item">Own your data — everything is encrypted in the Lenovo Privacy Essentials app so no one can access your info</li>
					<li class="landing-pitch__item">Set unique privacy rules for every site you visit</li>
					<li class="landing-pitch__item">Enjoy seamless privacy — Lenovo Privacy Essentials is an all-in-one app to stay private whenever you want to</li>
					<li class="landing-pitch__item">Stay private on multiple devices — one account gives you privacy everywhere</li>
					<li class="landing-pitch__item">Get help when you need it from privacy experts, 24/7</li>
				</ul>
				<div class="landing-pitch__buttons">
					<button class="landing-pitch__button"
							vtrSendAnalytics
							[metricsEvent]="'ItemClick'"
							[metricsItem]="'InstallButton' | changeActionButtonText | async"
							vtrOfflineMode
							positionContextTo="top-right"
							vtrOpenFigleafInstaller>
						{{'Install Now' | changeActionButtonText | async}}
					</button>
					<span class="landing-pitch__button--disable">Also available for Android</span>
				</div>
			</div>
		</div>
	</div><!-- landing-pitch bottom -->

</div>
