<div class="vtr-subpage-{{pageCssClass}} vtr-subpage container-fluid page-content-bg">
	<div class="row vtr-subpage-columns">
		<div class="col-lg-7 col-xl-8 vtr-subpage-column vtr-subpage-left-column mt-2">
			<!-- add the select attribute to ng-content -->
			<ng-content select="left-content"></ng-content>
		</div>
		<div class="col-lg-5 col-xl-4 vtr-subpage-column vtr-subpage-right-column">
			<!-- add the select attribute to ng-content -->
			<ng-content select="right-content"></ng-content>
		</div>
	</div>
</div>
