@import '../../../../../app.theme';

.vtr-modal-export-log {
	padding: 2.4rem;

	.title {
		font-size: $fontsize_xl;
		font-weight: $weight_600;
		color: $shade_blue;
	}

	.description {
		margin: 2rem 0rem;
		font-size: $fontsize_xs;
		white-space: pre-wrap;
		font-weight: $weight_light;
		color: $shade_blue;
		word-wrap: break-word;
	}

	.loading {
		font-size: 3rem;
		color: $main;
	}

	.btn-modal-close {
		right: 0rem;
		top: 0rem;
	}
}
