@import '../../../../../app.theme';
.subpage-meeting-manager {
	.content-card {
		&:last-child {
			padding-bottom: 3rem;
		}
	}

	ul.list-group {
		list-style-type: none;
	}
	.vtr-subpage-left-column {
		::ng-deep .left-border {
			border-left: 0.7rem solid $smb_navy;
		}
	}
	::ng-deep .collapse-header {
		outline: none;
	}

	.audioVendorLink {
		margin-top: 1rem;
		padding-left: 3rem;
		font-size: 1.4rem;
		font-weight: 300;
		color: $grey_dark;
		// TODO: check this if it is necessary.
	}

	.audioVendor-here {
		&:focus {
			outline-offset: 0;
		}
	}

	.right-banner {
		margin-top: 2.8rem;
		padding: 24px;
		border-radius: 10px;
		background: no-repeat 0 0 url(^assets/images/smb/meeting-manager-banner-bg.png);
		background-size: 100%;
		box-shadow: 0 0 15px $smb_banner_shadow;
		&.banner-ai-meeting-manager {
			background-image: url(^assets/images/smb/meeting-manager-banner-bg.png),
				$smb_first_banner;
		}
		&.banner-smart-appearance {
			background-color: $smb_second_banner;
		}
		.title {
			font-size: 2.4rem;
			line-height: 2.8rem;
			font-weight: $weight_600;
			color: $light;
		}
		.description {
			font-size: 1.4rem;
			line-height: 2rem;
			font-weight: $weight_bold;
			color: $light;
			margin: 12px 0;
		}
	}
}

.context {
	font-size: $fontsize_xs;
	margin: 0 2.4rem 0 1.5rem;
	color: $purple_navy;
	font-weight: $weight_light;
}

.install-or-launch-btn {
	margin: 0 -0.3rem 0 0;
}
