@import '../../../../../app.theme';
.subpage-meeting-manager{
    ul.list-group {
		list-style-type: none;
	}

	.audioVendorLink {
		margin-top: 1rem;
		padding-left: 3rem;
		font-size: 1.4rem;
		font-weight: 300;
		color: $grey_dark;
		// TODO: check this if it is necessary.
	}

	.audioVendor-here {
		&:focus {
			outline-offset: 0;
		}
	}
}
