<div>
    <vtr-ui-row-switch [title]="'device.deviceSettings.power.dpm.powerUse.title' | translate"
        componentName="dpm-poweruse" [caption]="" [leftIcon]="['icomoon', 'icomoon-dpm-power-use']"
        [showChildContent]="true" [isLastChild]="true" [theme]="'white'" [switchId]="'dpm-poweruse'">
        <div class="content">
            <h3 class="boldtitle" id="dpm-poweruse-description" attr.aria-label="{{'device.deviceSettings.power.dpm.powerUse.description' | translate}}">
				{{'device.deviceSettings.power.dpm.powerUse.description' | translate}}
			</h3>
            <section>
                <h5 id="dpm-poweruse-turnoffdisplay-label">
                    {{'device.deviceSettings.power.dpm.powerUse.turnOffDisplay' | translate}}
                </h5>
                <vtr-ui-dpm-dropdown [label]="'device.deviceSettings.power.dpm.powerUse.turnOffDisplay' | translate" [list]="timeItems" [value]="turnoffDisplay"
                    (change)="onTurnOffDisplayChange($event)" [dropDownId]="'dpm-poweruse-display-dropdown'">
                </vtr-ui-dpm-dropdown>
                <h5 id="dpm-poweruse-turnoffhdd-label">
                    {{'device.deviceSettings.power.dpm.powerUse.turnOffHDD' | translate}}
                </h5>
                <vtr-ui-dpm-dropdown [label]="'device.deviceSettings.power.dpm.powerUse.turnOffHDD' | translate" [list]="timeItems" [value]="turnoffHDD" (change)="onTurnOffHDDChange($event)"
                    [dropDownId]="'dpm-poweruse-hdd-dropdown'">
                </vtr-ui-dpm-dropdown>
                <h5 id="dpm-poweruse-sleep-label">
                    {{'device.deviceSettings.power.dpm.powerUse.sleep' | translate}}
                </h5>
                <vtr-ui-dpm-dropdown [label]="'device.deviceSettings.power.dpm.powerUse.sleep' | translate" [list]="timeItems" [value]="sleepAfter" (change)="onSleepChange($event)"
                    [dropDownId]="'dpm-poweruse-sleep-dropdown'">
                </vtr-ui-dpm-dropdown>
                <h5 id="dpm-poweruse-hibernate-label">
                    {{'device.deviceSettings.power.dpm.powerUse.hibernate' | translate}}
                </h5>
                <vtr-ui-dpm-dropdown [label]="'device.deviceSettings.power.dpm.powerUse.hibernate' | translate" [list]="timeItems" [value]="hibernateAfter" (change)="onHibernateChange($event)"
                    [dropDownId]="'dpm-poweruse-hibernate-dropdown'">
                </vtr-ui-dpm-dropdown>
            </section>
        </div>
    </vtr-ui-row-switch>
</div>
