<div class="vtr-power-use">
	<vtr-ui-row-switch [title]="'device.deviceSettings.power.dpm.powerUse.title' | translate"
		componentName="dpm-poweruse"
		[caption]=""
		[leftIcon]="['icomoon', 'icomoon-dpm-power-use']"
		[showChildContent]="true"
		[isLastChild]="true"
		[theme]="'white'"
		[switchId]="'dpm-poweruse'">
		<div class="content">
			<h5 class="boldtitle"
				id="dpm-poweruse-description">
				{{'device.deviceSettings.power.dpm.powerUse.description' | translate}}
			</h5>
			<section>
				<p id="dpm-poweruse-turnoffdisplay-label"
					role="text">
					{{'device.deviceSettings.power.dpm.powerUse.turnOffDisplay' | translate}}
				</p>
				<vtr-ui-dropdown [list]="timeItems"
					[isMetricsEnabled]=false
					[value]="turnoffDisplay"
					(selectionChange)="onTurnOffDisplayChange($event)"
					[dropDownName]="'dpm-poweruse-display-turnoff-dropdown'"
					[dropDownId]="'dpm-poweruse-display-dropdown'">
				</vtr-ui-dropdown>

				<p id="dpm-poweruse-turnoffhdd-label"
					role="text">
					{{'device.deviceSettings.power.dpm.powerUse.turnOffHDD' | translate}}
				</p>
				<vtr-ui-dropdown [list]="timeItems"
					[isMetricsEnabled]=false
					[value]="turnoffHDD"
					(selectionChange)="onTurnOffHDDChange($event)"
					[dropDownName]="'dpm-poweruse-hdd-turnoff-dropdown'"
					[dropDownId]="'dpm-poweruse-hdd-dropdown'">
				</vtr-ui-dropdown>
				<p id="dpm-poweruse-sleep-label"
					role="text">
					{{'device.deviceSettings.power.dpm.powerUse.sleep' | translate}}
				</p>
				<vtr-ui-dropdown [list]="timeItems"
					[isMetricsEnabled]=false
					[value]="sleepAfter"
					(selectionChange)="onSleepChange($event)"
					[dropDownName]="'dpm-poweruse-sleep-turnoff-dropdown'"
					[dropDownId]="'dpm-poweruse-sleep-dropdown'">
				</vtr-ui-dropdown>
				<p id="dpm-poweruse-hibernate-label"
					role="text">
					{{'device.deviceSettings.power.dpm.powerUse.hibernate' | translate}}
				</p>
				<vtr-ui-dropdown [list]="timeItems"
					[isMetricsEnabled]=false
					[value]="hibernateAfter"
					(selectionChange)="onHibernateChange($event)"
					[dropDownName]="'dpm-poweruse-hibernate-turnoff-dropdown'"
					[dropDownId]="'dpm-poweruse-hibernate-dropdown'">
				</vtr-ui-dropdown>
			</section>
		</div>
	</vtr-ui-row-switch>
</div>