@import './../../../../app.theme.scss';
@import '../../../../../hw-settings-icomoon/icomoon-style.scss';

.battery-conditions-tips {
	font-size: $fontsize_xs;
	line-height: 1.2em;
	width: 100%;
	letter-spacing: 0;
	padding: 0.5rem 0;
	align-self: center;
	color: $shade_blue;

	h6 {
		font-size: $fontsize_xs;
	}
}

.icomoon {
	font-size: 3.5rem;
}
.icomoon-ConditionACAdapterError {
	@extend .icomoon-ConditionACAdapter;
	&:before {
		color: #f17f14;
	}
}

.icomoon-ConditionACAdapterSupport {
	@extend .icomoon-ConditionACAdapter;
	&:before {
		color: #30d487;
	}
}

.icomoon-ConditionBadBattery {
	&:before {
		color: #e74c3c;
	}
}

.icomoon-ConditionFairBattery {
	&:before {
		color: #f17f14;
	}
}
.icomoon-ConditionGoodBattery {
	&:before {
		color: #30d487;
	}
}
.feature-note {
	background-color: $grey_lighter;
	border: 0.1rem solid $note_border;
	p {
		font-size: $fontsize_xs;
		color: $shade_blue;
		margin: 0;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: underline;
		}
	}
}
