@import "../../../app.theme";
::ng-deep {
	.vtr-page-security-windows-hello {
		.vtr-subpage {
			.vtr-widget-offline-info {
				margin-top: $shift_up_small;
			}
		}

		.security-card {
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background-color: $light;
			padding: 1.5rem;
		}

		.title {
			color: $main_dark;
			font-size: 4.5rem;
			font-weight: $weight_regular;
		}

		.text {
			color: $main_shade;
			font-size: 1.6rem;
		}

		.heading {
			color: $main_dark;
			font-size: 2.5rem;
			font-weight: $weight_regular;
		}

		.sub-heading {
			color: $main_dark;
			font-size: 3rem;
			font-weight: $weight_regular;
		}

		.list-heading {
			color: $main_dark;
			font-size: 3rem;
			font-weight: $weight_bold;

			.adjust-left {
				padding-left: 0rem;
			}
		}

		.top-line {
			margin-top: 4rem;
			padding-top: 4rem;
			padding-bottom: 4rem;
			border-top: 0.2rem solid $shade_lighter;
		}

		.dashlane_logo_teal {
			height: 3.5rem;
			width: 15rem;
		}

		.text-regular {
			color: $main_dark;
			font-size: 1.6rem;

			a {
				text-decoration: underline;
			}
		}

		.btn-round-xs {
			border-radius: 5rem;
			padding-left: 1rem;
			padding-right: 1rem;
			cursor: default;
		}

		.btn-round-sm {
			border-radius: 4.5rem;
			padding: 1rem 4rem 1rem 4rem;
			font-size: 1.8rem;
			font-weight: $weight_bold;
		}

		.dashlane-side-left-img {
			width: 90%;
		}

		.dashlane-side-right-img {
			width: 90%;
			float: right;
		}

		.learnmore {
			text-decoration: underline;
		}

		.bullet-list {
			margin-top: 1rem;
			list-style: none;
			padding: 0;

			li {
				margin: 0;
				padding: 1rem 1rem 1rem 0;
				color: $main_dark;

				.text-regular {
					color: $main_shade;
					font-size: 1.6rem;

					a {
						text-decoration: underline;
					}
				}

				&.good {
					.bullet-icon {
						.icon-bkg {
							background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
							background-color: $go_dark;
							border-color: $go_dark;
						}
					}
				}

				&.bad {
					.bullet-icon {
						.icon-bkg {
							background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
							background-color: $stop_dark;
							border-color: $stop_dark;
						}
					}

					.detail {
						color: $stop;
					}

					.arrow {
						color: $stop;
					}
				}

				.bullet-icon {
					.icon-bkg {
						display: inline-block;
						border-radius: 50%;
						height: 3rem;
						width: 3rem;
						border-width: 0.2rem;
						border-style: solid;
						text-align: center;

						fa-icon {
							font-size: 1.6rem;
							line-height: 2.6rem;
							color: $light;
						}
					}

					.icon-installed {
						border-width: 9px;
						border-color: $main !important;
					}
				}
			}
		}

		.number-list {
			margin-top: 1rem;
			list-style: none;
			padding: 0;
			color: $main_dark;
			font-size: 1.6rem;

			ol {
				margin: 0 0 1.5rem;
				padding: 0;
				counter-reset: listNumbering;
				box-sizing: border-box;
				padding-left: 0.5rem;
				li {
					margin: 0;
					padding: 0 0 0 2rem;
					list-style-type: none;
					counter-increment: listNumbering;
					position: relative;
					&:before {
						display: inline-block;
						width: 1.5rem;
						padding-right: 0.5rem;
						text-align: left;
						font-size: 3.6rem;
						position: absolute;
						content: counter(listNumbering, decimal) ".";
						left: 0rem;
					}
					.text-regular {
						color: $main_shade;
						padding: 0.8rem 0.8rem 0.8rem 2rem;
						a {
							text-decoration: underline;
						}
					}
				}

				@media #{$mediaquery_X8} {
					margin-bottom: 5rem;
				}
			}
		}

		.vtr-page-right-column {
			@media #{$mediaquery_X8} {
				padding: 0 4rem 4rem 8.5rem;
			}
		}
	}
}
