<div class="vtr-page-security-windows-hello vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="'&lt; '"
				[back]="'common.ui.back' | translate"
				[title]="'security.windowsHello.title' | translate"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-7 col-lg-7 col-xl-8 vtr-page-left-column">
						<div class="vtr-subpage">
							<div class="vtr-page-shift-up">
								<div class="vtr-page-security-windows-hello">
									<div class="container-fluid p-40 security-card">
										<div class="row">
											<div class="col">
												<div class="heading">{{'security.windowsHello.title' | translate}}</div>
											</div>
											<div class="pull right"><img class="dashlane_logo_teal"
													src="../../../../assets/images/windows-logo.png" /></div>
										</div>
										<div *ngIf="statusItem.status === 'disabled'"
											class="row mt-20">
											<div class="col">
												<div class="text-regular">
													{{'security.windowsHello.protectYourDevice' | translate}}
													<!-- Traditional passwords can be stolen and used to access your account
													from anywhere in the world. More secure and convenient, Windows
													Hello is the next generation of a password. Use your fingerprint
													reader (or IR camera) instead of insecure passwords to log in. -->
												</div>
											</div>
										</div>
										<div *ngIf="statusItem.status === 'enabled'"
											class="row">
											<div class="col">
												<div class="text-regular">
													{{'security.windowsHello.protectYourDevice' | translate}}
												</div>
											</div>
										</div>
										<div class="row mt-40">
											<div class="col">
												<vtr-ui-security-statusbar [statusList]="[statusItem]">
												</vtr-ui-security-statusbar>
											</div>
										</div>
										<div *ngIf="statusItem.status === 'disabled'"
											class="row mt-40">
											<div class="col">
												<div class="text-regular">{{'security.windowsHello.signIn' | translate}}
												</div>
											</div>
											<div class=" pull right">
												<div class="col-12">
													<vtr-ui-button type="button"
														[metricsItem]="'setUpWindowsHello'"
														[metricsParent]="'windowsHello'"
														(click)="setUpWindowsHello()"
														[label]="'security.windowsHello.setUp' | translate">
													</vtr-ui-button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row vtr-page-security-windows-hello"
							*ngIf="statusItem.status === 'disabled'">
							<div class="row">
								<div class="col col-12 col-sm-12 mt-40">
									<div>
										<p class="title">{{'security.windowsHello.whyWindowsHello' | translate}}</p>
										<p class="text-regular">
											{{'security.windowsHello.whyWindowsHelloDescription1' | translate}}</p>
									</div>
								</div>
							</div>
							<div class="row w-100">
								<div class="col-sm-12 col-md-12 col-lg-6 order-lg-2 mt-40">
									<div class="col">
										<img src="../../../../assets/images/windows-hello-left-img.png"
											class="dashlane-side-left-img" />
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-6 order-lg-1 mt-40">
									<div class="col">
										<div class="list-heading">
											<p class="adjust-left">
												{{'security.windowsHello.startUsingToday' | translate}}</p>
										</div>
										<ul class="bullet-list">
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto pl-1">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																{{'security.windowsHello.visitAndRegister' | translate}}
																<span
																	*vtrTranslate="'security.windowsHello.visitInSettings' | translate">
																	<a vtrMetrics
																		metricsEvent="itemClick"
																		metricsItem="setUpWindowsHello"
																		metricsParent="security.windowsHello"
																		href="javascript:void(0)"
																		(click)="setUpWindowsHello()"
																		target="_blank"></a>
																</span>
															</div>
														</div>
													</div>
												</div>
											</li>
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto pl-1">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																{{'security.windowsHello.unlock' | translate}}
															</div>
														</div>
													</div>
												</div>
											</li>
											<!-- <li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																Start using SurfEasy to protect yourself while browsing
																the internet. Enjoy the no-log VPN for every device
															</div>

														</div>
													</div>
												</div>
											</li> -->
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto pl-1">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																{{'security.windowsHello.startUsingWindowsHello' | translate}}
																<a target="_blank"
																	vtrMetrics
																	metricsItem="visitMicrosoft"
																	metricsEvent="itemClick"
																	href="https://support.microsoft.com/en-us/help/17215/windows-10-what-is-hello">
																	{{'security.windowsHello.visitMicrosoft' | translate}}
																</a>
															</div>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col col-12 ">
								<div class="row top-line">
									<div class="col">
										<div class="list-heading">
											{{'security.windowsHello.poweredByWindowsHello' | translate}}</div>
										<p class="text-regular"
											*vtrTranslate="'security.windowsHello.privacyPolicy' | translate">
											<a vtrMetrics
												metricsEvent="itemClick"
												metricsItem="privacyPolicy"
												metricsParent="security.windowsHello"
												href="https://support.microsoft.com/en-us/help/4468253/windows-hello-and-privacy-microsoft-privacy"
												target="_blank"></a>
										</p>
									</div>
									<div class="pull right"><img class="dashlane_logo_teal"
											src="../../../../assets/images/windows-logo.png" /></div>
								</div>
							</div>
						</div>
						<div class="row vtr-connected-security-password"
							*ngIf="statusItem.status === 'enabled'">
							<div class="row">
								<div class="col col-12 col-sm-12 mt-40">
									<div>
										<p class="title">{{'security.windowsHello.signIn' | translate}}</p>
										<p class="text-regular">
											{{'security.windowsHello.whyWindowsHelloDescription2' | translate}}</p>
										<p class="sub-heading-2 mt-40">
											{{'security.windowsHello.authentication' | translate}}</p>
										<p class="text-regular">{{'security.windowsHello.traditional' | translate}}</p>
									</div>
								</div>
							</div>
							<div class="row justify-content-between no-gutters">
								<div class="col-sm-12 col-md-12 col-lg-6 order-lg-2 mt-40">
									<div class="col">
										<img src="assets/images/windows-hello-finger-print.png"
											class="dashlane-side-right-img pull-right" />
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-6 order-lg-1 mt-40">
									<div class="col">
										<div class="list-heading">
											<p class="adjust-left">{{'security.windowsHello.howToStart' | translate}}
											</p>
										</div>
										<div class="number-list">
											<ol>
												<li>
													<div class="text-regular">
														{{'security.windowsHello.visitAndRegister' | translate}}
														<span
															*vtrTranslate="'security.windowsHello.visitInSettings' | translate">
															<a vtrMetrics
																metricsEvent="itemClick"
																metricsItem="setUpWindowsHello"
																metricsParent="security.windowsHello"
																href="javascript:void(0)"
																(click)="setUpWindowsHello()"
																target="_blank"></a>
														</span>
													</div>
												</li>
												<li>
													<div class="text-regular">
														{{'security.windowsHello.unlock' | translate}}
													</div>
												</li>
												<li>
													<div class="col">
														<div class="text-regular">
															{{'security.windowsHello.startUsingWindowsHello' | translate}}
															<a target="_blank"
																vtrMetrics
																metricsItem="visitMicrosoft"
																metricsEvent="itemClick"
																metricsParent="security.windowsHello"
																href="https://support.microsoft.com/en-us/help/17215/windows-10-what-is-hello">
																{{'security.windowsHello.visitMicrosoft' | translate}}</a>
														</div>
													</div>
												</li>
											</ol>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-5 col-lg-5 col-xl-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<div class="container-fluid">
								<!--Start of Security Card Advisor-->
								<div class="row mb-40">
									<div class="col col-12">
										<vtr-widget-security-status [securityAdvisor]="securityAdvisor">
										</vtr-widget-security-status>
									</div>
								</div>
								<!--End of Security Card Advisor-->
								<div class="row">
									<div class="col col-12">
										<vtr-container-card [img]="cardContentPositionA.FeatureImage"
											[caption]="cardContentPositionA.Description"
											[title]="cardContentPositionA.Title"
											[logoText]="cardContentPositionA.BrandName"
											[action]="cardContentPositionA.Action"
											[actionLink]="cardContentPositionA.ActionLink"
											[type]="'corner-article'"
											[ratioX]="4"
											[ratioY]="2"
											[cornerShift]="'large'">
										</vtr-container-card>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
