<div class="vtr-page-security-windows-hello vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="backarrow"
			 [back]="back"
			 [title]="title"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col col-8 vtr-page-left-column">
						<div class="vtr-subpage">
							<div class="vtr-page-shift-up">
								<div class="vtr-page-security-windows-hello">
									<div class="container-fluid p-40 security-card"
									 *ngIf="IsWindowsHelloInstalled==='not-installed'">
										<div class="row">
											<div class="col">
												<div class="heading">Windows Hello</div>
											</div>
											<div class="pull right"><img class="dashlane_logo_teal"
												 src="../../../../assets/images/windows-logo.png" /></div>
										</div>
										<div class="row mt-20">
											<div class="col">
												<div class="text-regular">
													Traditional passwords can be stolen and used to access your account from anywhere in the world. More secure and convenient, Windows Hello is the next generation of a password. Use your fingerprint reader (or IR camera) instead of insecure passwords to log in.
												</div>
											</div>
										</div>
										<div class="row mt-40">
											<div class="col">
												<div class="invitation-code-box">
													<div class="row">
														<div class="col col-1">
															<div>
																<ul class="bullet-list">
																	<li class="bad">
																		<div class="bullet-icon">
																			<div class="icon-bkg">
																				<fa-icon [icon]="['fas', 'times']">
																				</fa-icon>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
														<div class="col col-2">
															<div class="sub-heading">
																<p> Windows Hello</p>
															</div>
														</div>

														<div>
															<div class="button-box">
																<button type="button"
																 class="btn btn-danger btn-round-xs text-uppercase">
																	Disabled
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-40">
											<div class="col">
												<div class="text-regular">Sign in quickly and securely with Windows
													Hello</div>
											</div>
											<div class=" pull right">
												<div class="col-12">
													<button type="button"
													 class="btn btn-primary text-uppercase btn-round-sm  btn-lg">
														Setup Windows Hello
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="container-fluid p-40 security-card"
									 *ngIf="IsWindowsHelloInstalled==='active'">
										<div class="row">
											<div class="col">
												<div class="heading">Windows Hello</div>
											</div>
											<div class="pull right"><img class="dashlane_logo_teal"
												 src="../../../../assets/images/windows-logo.png" /></div>
										</div>
										<div class="row">
											<div class="col">
												<div class="text-regular">
													Protect your ideapad with these Lenovo recommended security options.
												</div>
											</div>
										</div>
										<div class="row mt-40">
											<div class="col">
												<div class="invitation-code-box">
													<div class="row">
														<div class="col col-1">
															<div>
																<ul class="bullet-list">
																	<li class="good">
																		<div class="bullet-icon">
																			<div class="icon-bkg">
																				<fa-icon [icon]="['fas', 'check']">
																				</fa-icon>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
														<div class="col col-2">
															<div class="sub-heading">
																Windows Hello
															</div>
														</div>
														<div>
															<div class="button-box">
																<button type="button"
																 class="btn btn-success btn-round-xs text-uppercase">
																	Enabled
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row vtr-page-security-windows-hello"
						 *ngIf="IsWindowsHelloInstalled==='not-installed'">
							<div class="row">
								<div class="col col-12 col-sm-12 mt-40">
									<div>
										<p class="title"> Why Windows Hello?</p>
										<p class="text-regular">Windows Hello makes logging into your PC easier and more
											secure, and can also be used for your online Microsoft apps. Follow the
											instructions below to begin using Windows Hello.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col col-6 mt-40">
									<div class="col">
										<img src="../../../../assets/images/windows-hello-left-img.png"
										 class="dashlane-side-left-img" />
									</div>
								</div>
								<div class="col col-6 mt-40">
									<div class="col">
										<div class="list-heading">
											<p class="adjust-left">Start using Windows Hello Today</p>
										</div>
										<ul class="bullet-list">
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																Visit the Windows Hello page and register your
																fingerprint
																Visit Windows Hello system settings
															</div>
														</div>
													</div>
												</div>
											</li>
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																Use Windows Hello to log into and unlock your PC with a
																touch of a finger on the sensor
															</div>
														</div>
													</div>
												</div>
											</li>
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																Start using SurfEasy to protect yourself while browsing
																the internet. Enjoy the no-log VPN for every device
															</div>

														</div>
													</div>
												</div>
											</li>
											<li class="good">
												<div class="container-fluid">
													<div class="row align-items-center">
														<div class="col-auto">
															<div class="bullet-icon">
																<div class="icon-bkg">
																	<fa-icon [icon]="['fas', 'check']"></fa-icon>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="text-regular">
																Start using Windows Hello to log into Microsoft Apps
																such as Outlook, OneDrive, Office 365 and Xbox Live.
																Visit Microsoft
															</div>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col col-12 ">
								<div class="row top-line">
									<div class="col">
										<div class="list-heading">Powered By Windows Hello</div>
										<p class="text-regular">Read more on the <a href=""
											 class="learnmore">Privacy policy</a> and <a href=""
											 class="learnmore">lorem ipsum</a></p>
									</div>
									<div class="pull right"><img class="dashlane_logo_teal"
										 src="../../../../assets/images/windows-logo.png" /></div>
								</div>
							</div>
						</div>
						<div class="row vtr-connected-security-password"
						 *ngIf="IsWindowsHelloInstalled==='active'">
							<div class="row">
								<div class="col col-12 col-sm-12 mt-40">
									<div>
										<p class="title"> Sign in quickly and securely with Windows Hello</p>
										<p class="text-regular">Windows Hello makes logging into your PC easier and more
											secure. And you can also be used for your online Microsoft apps. Follow the
											instructions below to begin using Windows Hello</p>
										<p class="sub-heading-2"> Windows Hello Authentication</p>
										<p class="text-regular">Traditional passwords can be stolen and used to access
											your account from anywhere in the world. More secure and convinient. Windows
											Hello is the next generation of a password. Use your fingerprint reader [or
											IR camera] instead of insecure passwords to log in.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col col-6 mt-40">
									<div class="col">
										<div class="list-heading">
											<p class="adjust-left">How do I start using Windows Hello</p>
										</div>
										<div class="number-list">
											<ol>
												<li>
													<div class="text-regular">
														Visit the Windows Hello page and register your fingerprint
														<a href="#">Visit Windows Hello </a> in system settings
													</div>
												</li>
												<li>
													<div class="text-regular">
														Use Windows Hello to log into and unlock your PC with a touch of
														a finger on the sensor
													</div>
												</li>
												<li>
													<div class="col">
														<div class="text-regular">
															Start using Windows Hello to log into Microsoft Apps such as
															Outlook, OneDrive, Office 365 and Xbox Live. <a href="#">
																Visit Microsoft</a>
														</div>
													</div>
												</li>
											</ol>
										</div>
									</div>
								</div>
								<div class="col col-6 mt-40">
									<div class="col">
										<img src="../../../../assets/images/dashlane-right-img.png"
										 class="dashlane-side-right-img pull-right" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<div class="container-fluid">
								<!--Start of Security Card Advisor-->
								<div class="row mb-40">
									<div class="col col-12">
										<vtr-widget-status [title]="'Security Advisor'"
										 [description]="'Security Status Component'"
										 [items]="mockService.securityStatus">
										</vtr-widget-status>
									</div>
								</div>
								<!--End of Security Card Advisor-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
