<div class="vtr-backlight-thinkpad common-li-padding">
<vtr-ui-row-switch *ngIf="modes.length !== 0"
	[title]="'device.deviceSettings.inputAccessories.backlight.title' | translate"
	componentName="Input Accessories"
	[caption]="'device.deviceSettings.inputAccessories.backlight.description.' + baseAuto | translate"
	[leftIcon]="['fal', 'keyboard']"
	[showChildContent]="true"
	[theme]="'white'"
	[isLastChild]="false"
	[switchId]="'inputAccessories-backlight-thinkpad'"
	automationId="[backlight.title, backlight.description.base]">
	<div class="row"
		role="radiogroup"
		tabindex="0"
		aria-label="backlight mode list, select using arrow keys">
		<vtr-ui-circle-radio-with-checkbox *ngFor="let mode of modes"
			[theme]="'white'"
			[radioId]="'backlightMode' + mode.value | removeSpace"
			[group]="'backlight'"
			[label]="mode.title | translate"
			[value]="mode.value"
			[checked]="mode.value === currentMode"
			(optionChange)="updateMode(mode.value)"
			[textId]="'myDevice-settings-inputAccessories-backlight-thinkpad'">
		</vtr-ui-circle-radio-with-checkbox>
	</div>
</vtr-ui-row-switch>
</div>
