<div class="vtr-backlight-thinkpad">
	<vtr-ui-row-switch *ngIf="modes.length !== 0"
		[title]="'device.deviceSettings.inputAccessories.backlight.title' | translate"
		componentName="Input Accessories"
		[caption]="'device.deviceSettings.inputAccessories.backlight.description.' + baseAuto | translate"
		[leftIcon]="['fal', 'keyboard']"
		[showChildContent]="true"
		[theme]="'white'"
		[isLastChild]="false"
		[switchId]="'inputAccessories-backlight-thinkpad'"
		automationId="[backlight.title, backlight.description.base]">
		<div class="row backlight-modes-list"
			aria-label="backlight mode list, select using arrow keys">
			<vtr-ui-circle-radio-with-checkbox-list [groupName]="'optimize-microphone-radio-group'"
				[sendMetrics]=true
				(optionChange)="onBacklightRadioChange($event)"
				[radioDetails]="kbBacklightUIModel">
			</vtr-ui-circle-radio-with-checkbox-list>
		</div>
	</vtr-ui-row-switch>
</div>