<div class="vtr-widget-system-tools">
	<div class="widget-title">
		{{title}}
	</div>
	<div class="widget-container">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<ul class="system-tool-icons d-flex justify-content-around">
						<li>
							<figure>
								<div class="icon">
								<a routerLink ="/device/device-settings/power"><i class="icomoon icon-power"></i></a>
								</div>
								<figcaption>{{'gaming.dashboard.device.systemTools.power' | translate}}</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<div class="icon">
								<a routerLink="/device/device-settings/audio">	<i class="icomoon icon-media"></i></a>
								</div>
								<figcaption>{{'gaming.dashboard.device.systemTools.media' | translate}}</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<div class="icon">
									<a routerLink ="/macrokey"><i class="icomoon icon-macroKey"></i></a>
								</div>
								<figcaption>{{'gaming.dashboard.device.systemTools.macroKey' | translate}}</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<div class="icon">
									<a routerLink ="/hardwarescan"><i class="icomoon icon-systemUpdate"></i></a>
								</div>
								<figcaption>{{'gaming.dashboard.device.systemTools.hardwareScan' | translate}}</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<div class="icon">
									<a routerLink ="/device/system-updates"><i class="icomoon icon-systemUpdate"></i></a>
								</div>
								<figcaption>{{'gaming.dashboard.device.systemTools.systemUpdate' | translate}}</figcaption>
							</figure>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
