<div class="vtr-widget-system-tools">
	<div class="widget-title">
		{{title}}
	</div>
	<div class="widget-container">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<ul class="system-tool-icons d-flex justify-content-around">
						<li>
							<figure>
								<div class="system-icon">
								<a routerLink="/device/device-settings/power"><i class="icon icon-power"></i></a>
								</div>
								<figcaption>{{'gaming.dashboard.device.systemTools.power' | translate}}</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<div class="system-icon">
									<a routerLink="/device/device-settings/display-camera"><i class="icon icon-media"></i></a>
								</div>
								<figcaption>{{'gaming.dashboard.device.systemTools.media' | translate}}</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<div class="system-icon">
									<a routerLink="/macrokey"><i class="icon icon-macrokey"></i></a>
								</div>
								<figcaption>{{'gaming.dashboard.device.systemTools.macroKey' | translate}}</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<div class="system-icon">
									<a routerLink="/hardwarescan"><i class="icon icon-systemupdate"></i></a>
								</div>
								<figcaption>{{'gaming.dashboard.device.systemTools.hardwareScan' | translate}}</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<div class="system-icon">
									<a routerLink="/device/system-updates">	<i class="icon icon-systemupdate"></i></a>
								</div>
								<figcaption>{{'gaming.dashboard.device.systemTools.systemUpdate' | translate}}</figcaption>
							</figure>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
