<div class="vtr-widget-system-tools">
	<div class="widget-title">
		{{title}}
	</div>
	<div class="widget-container">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<ul class="system-tool-icons d-flex justify-content-around">
						<li>
						<a vtrMetrics [metricsItem]="'gaming.dashboard.device.systemTools.systemUpdate' | translate" metricsEvent="featureClick"
						routerLink="/device/system-updates">
								<figure>
									<div class="system-icon">
										<i class="icon icon-systemupdate"></i>
									</div>

								<figcaption>{{'gaming.dashboard.device.systemTools.systemUpdate' | translate}}
								</figcaption>
							</figure>
						</a>
						</li>
						<li>
							<figure>
								<a routerLink="/macrokey">
									<div class="system-icon">
										<i class="icon icon-macrokey"></i>
									</div>
								</a>
								<figcaption>{{'gaming.dashboard.device.systemTools.macroKey' | translate}}</figcaption>
							</figure>
						</li>

						<li>
							<figure>
								<a routerLink="/device/device-settings/power">
									<div class="system-icon">
										<i class="icon icon-power"></i>
									</div>
								</a>
								<figcaption>{{'gaming.dashboard.device.systemTools.power' | translate}}</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<a routerLink="/device/device-settings/display-camera">
									<div class="system-icon">
										<i class="icon icon-media"></i>
									</div>
								</a>
								<figcaption>{{'gaming.dashboard.device.systemTools.media' | translate}}</figcaption>
							</figure>
						</li>

						<li>
							<figure>
								<a routerLink="/hardwarescan">
									<div class="system-icon">
										<i class="icon icon-hardwarescan"></i>
									</div>
								</a>
								<figcaption>{{'gaming.dashboard.device.systemTools.hardwareScan' | translate}}
								</figcaption>
							</figure>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
