@import '../../../app.theme.scss';

.vtr-widget-system-tools {
	.widget-title {
		color: $white100;
		font-size: 4rem;
		margin-bottom: 1rem;
		font-weight: $weight-light;
	}
	.widget-container {
		border-radius: $border_radius;
		background:$darkCell;
		box-shadow: $drop_shadow_gaming;
		padding: 4rem;
		@media #{$breakpoint_xl} {
			padding: 4rem 2rem;
		}
		// remove once populated
		// min-height: 20rem;
		@media #{$high-contrast} {
			border: 1px solid windowText;
			border-radius: $border_radius;
		}
		.system-tool-icons {
			list-style: none;
			padding-left: 0rem;
			margin-bottom: -1.4rem;
			li {
				//width: calc(100% / 5);
				width: 20%;
				min-width: 8rem;
				a {
					text-decoration: none;
					display: inline-block;
					border-radius: 1.2rem;
					width: 100%;
					background: transparent;
					transition: all .3s ease-in-out;
					// min-height: 18.5rem;
					// @media #{$medium-screen} {
					// 	padding: 2rem 0rem;
					// }
					// @media #{$small-screen} {
					// 	padding: 2rem 0rem;
					// }
					&:hover {
						background: $white5;
						.system-icon::before {
							background: $gaming_shade;
						}
					}
					@media #{$high-contrast} {
						color: buttonText;
					}
				}
				figure {
					text-align: center;
					color: $white100;
					margin: auto;
					padding: 1rem;
					.system-icon {
						cursor: pointer;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 8rem;
						width: 8rem;
						border-radius: 50%;
						margin: auto;
						background: $gaming_bg;
						position: relative;
						z-index: 1;
						box-sizing: border-box;
						background-clip: padding-box;
						border: solid 0.4rem transparent;
						@media #{$breakpoint_xl} {
							height: 6rem;
							width: 6rem;
						}
						&::after {
							content: '';
							position: absolute;
							border-radius: 50%;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							margin: -3px;
							background-image: linear-gradient(45deg, $blueFill, $blueFill);
							z-index: -1;
							@media #{$high-contrast} {
								background-image: linear-gradient(45deg, buttonText, buttonText);
							}
						}
						&::before {
							content: '';
							position: absolute;
							border-radius: 50%;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							margin: 0;
							background: $darkCell;
							z-index: 0;
							transition: all .3s ease-in-out;
						}
						.icon {
							position: relative;
							z-index: 2;
							font-size: 3.5rem;
							background: $gaming_bg;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
							background-clip: text;
							color: $blueFill;
							// padding-top: 0.8rem;
							@media #{$high-contrast} {
								color: buttonText;
							}
						}
						.image {
							z-index: 2;
							height: 4rem;
							width: 4rem;
							background-image: url(../../../../assets/images/gaming/gaming-accessory.png);
							background-size: cover;
							@media #{$black-on-white} {
								background-image: url(../../../../assets/images/gaming/gaming-accessory-black.png);
							}
							@media #{$white-on-black} {
								background-image: url(../../../../assets/images/gaming/gaming-accessory-white.png);
							}
						}
					}
					figcaption {
						font-size: $fontsize_sm;
						@media #{$breakpoint_xl} {
							font-size: $fontsize_xs;
						}
						line-height: 2rem;
						margin-top: 1.2rem;
						text-overflow: ellipsis;
						white-space: normal;
						overflow: hidden;
						height: 4.4rem;
						@media #{$high-contrast} {
							color: buttonText;
						}
					}
					.system-tool-title{
						@media #{$high-contrast} {
							color: buttonText;
						}
					}
				}
				.button-container {
					width: 100%;
					height: 100%;
					&:focus {
						outline-offset: .2rem;
						outline: 0.1rem solid $blueFill;
					}
				}
			}
			&.list-overflow-6 {
				flex-wrap: wrap;
				li {
					width: 16.6%;
					@media #{$breakpoint_xl} {
						min-width: 33.3%;
					}
				}
			}
		}
	}
}
