<div class="support-banner">
  <div class="support-banner__col">
    <h3 class="support-banner__title">Got privacy questions?</h3>
    <p class="support-banner__text">We're standing by with help, whenever you need it. </p>
  </div>
  <div class="support-banner__col">
    <p class="support-banner__support-time">
      <strong>24/7</strong> Live Chat
    </p>
    <button class="support-banner__button" (click)="openPopup('support-popup')">Chat now</button>
  </div>
</div>
<vtr-common-popup popUpId="support-popup">

</vtr-common-popup>
