<div class="tooltip-fg" (vtrClickOutside)="hideContextByClick()" (mouseleave)="hideContext()">
	<div class="tooltip-fg__text"
		 (click)="changeContextByClick()"
		 (mouseenter)="showContext()">
		<ng-container [ngTemplateOutlet]="tooltipText"></ng-container>
	</div>
	<div class="tooltip-fg__context tooltip-fg__context--right-to-left"
		 [ngClass]="{
				'tooltip-fg__context--right-to-left': positionContextTo === 'left',
				'tooltip-fg__context--left-to-right': positionContextTo === 'right',
				'tooltip-fg__context--top-left-to-right': positionContextTo === 'top-right',
				'tooltip-fg__context--top-right-to-left': positionContextTo === 'top-left'
			 }"
		 *ngIf="isShowContext">
		<ng-container [ngTemplateOutlet]="tooltipContext"></ng-container>
	</div>
</div>
