
<div class="articles-wrapper">
    <!--<ng-container *ngIf="openArticleId">-->
        <!--<vtr-article-single class="article-single" [articleData]="articles[openArticleId]"></vtr-article-single>-->
        <!--<div class="article-recommendations" *ngIf="recommendationsArticles">-->
            <!--<div class="article-recommendations__top">-->
                <!--<p class="article-recommendations__title">Related content</p>-->
                <!--<a class="article-recommendations__read-more" routerLink="/privacy/articles">see all articles</a>-->
            <!--</div>-->
            <!--<div class="article" *ngFor="let articleItem of recommendationsArticles">-->
                <!--<vtr-article-preview [article]="articleItem"></vtr-article-preview>-->
            <!--</div>-->
        <!--</div>-->
    <!--</ng-container>-->

	<div class="article" *ngFor="let articleItem of (articles$ | async)">
		<vtr-article-preview
			(openArticle)="openArticle($event)"
			[article]="articleItem">
		</vtr-article-preview>
	</div>
</div>
