@import "../../app.theme";

.container-card {
	box-shadow: $drop_shadow;
	border-radius: $border_radius;
	background-color: $light;
	position: relative;

	// overflow: hidden;
	.default-cursor {
		cursor: default !important;

		* {
			cursor: default !important;
		}
	}

	.container-fluid {
		height: 100%;

		.loader {
			position: absolute;
			z-index: 999;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.row {
			height: 100%;
		}
	}

	&.card-corner {
		@media #{$breakpoint_xl} {
			height: 20rem !important;
		}
		@media #{$breakpoint_lg} {
			height: 17.6rem !important;
		}
		@media #{$breakpoint_sm} {
			height: 15.7rem !important;
		}
		.content {
			position: relative;
			z-index: 1;
			padding: 0rem;

			.card-image {
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				text-decoration: none;
				cursor: pointer;
				width: 100%;
				height: 100% !important;
				position: relative;
				display: block;
				border-radius: $border_radius;
				overflow: hidden;

				&::after {
					content: "";
					background: rgba(0, 0, 0, 0.4);
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					position: absolute;
					z-index: 0;
				}

				.inner-content {
					position: relative;
					z-index: 1;
					padding: 2rem 2.5rem;
					height: 100%;
					@media #{$black-on-white} {

						border-bottom: 1px solid $dark !important;
						border-radius: 1rem;
					}
					@media #{$white-on-black} {

						border-bottom: 1px solid $light !important;
						border-radius: 1rem;
					}

					.title {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
						font-size: $fontsize_xl2;
						font-weight: $weight_light;
					}

					.description {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
					}

					.caption {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;

						div {
							cursor: pointer;
						}
						font-size: $fontsize_md;
						font-weight: $weight_light;
						line-height: 1.4;
					}

					.logo {
						.logo-img {
							color: $alt;
							text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						}

						.logo-text {
							color: $alt;
							text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						}
					}
				}
			}
		}
	}

	&.card-android {
		overflow: visible;
		box-shadow: none;
		border-radius: none;

		.content {
			position: relative;
			z-index: 1;
			padding: 0rem;

			.card-image {
				border-radius: $border_radius;
				display: block;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				text-decoration: none;
				cursor: pointer;
				width: 100%;
				height: 50%;
			}

			.inner-content {
				z-index: 1;
				padding: 1.5rem 0;
				height: 50%;

				@media #{$mediaquery_X9} {
					padding: 0.5rem 0;
				}

				@media #{$mediaquery_X10} {
					padding: 1rem 0;
				}

				@media #{$mediaquery_X3} {
					padding: 0.5rem 0;
				}

				@media #{$mediaquery_X4} {
					padding: 1rem 0;
				}

				@media #{$mediaquery_X7} {
					padding: 0.5rem 0;
				}

				.title {
					color: $shade_darkest;
					cursor: pointer;
				}

				.description {
					color: $shade_darkest;
					cursor: pointer;
				}

				.caption {
					color: $shade_darkest;
					cursor: pointer;
				}

				.logo {
					.logo-img {
						color: $alt;
					}

					.logo-text {
						color: $alt;
					}
				}

				.default-cursor {
					cursor: default;
				}
			}

			.default-cursor {
				cursor: default;
			}
		}
	}

	&.card-subpage-corner {
		.content {
			position: relative;
			z-index: 1;
			padding: 0rem;

			.card-image {
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				text-decoration: none;
				cursor: pointer;
				width: 100%;
				height: 100%;
				position: relative;
				display: block;
				border-radius: $border_radius;
				overflow: hidden;

				&::after {
					content: "";
					background: rgba(0, 0, 0, 0.4);
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					position: absolute;
					z-index: 0;
				}

				.inner-content {
					position: relative;
					z-index: 1;
					padding: 2rem;
					height: 100%;
					@media #{$black-on-white} {
						border:1px solid;
						border-bottom: 1px solid !important;
						border-radius: 1rem;
					}
					@media #{$white-on-black} {
						border: 1px solid;
						border-bottom: 1px solid !important;
						border-radius: 1rem;
					}

					@media #{$mediaquery_X1} {
						padding: 2rem;
					}

					// @media #{$mediaquery_10} {
					// 	padding: 1.5rem 2rem;
					// }

					// @media #{$mediaquery_X7} {
					// 	padding: 1.5rem;
					// }

					// @media #{$mediaquery_18} {
					// 	padding: 1.5rem;
					// }

					.title {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
						font-size: $fontsize_xl2;
						font-weight: $weight_light;
					}

					.description {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
					}

					.caption {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
						font-size: $fontsize_md;
						font-weight: $weight_light;
						line-height: 1.4;

						div {
							cursor: pointer;
						}
					}

					.logo {
						.logo-img {
							color: $alt;
							text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						}

						.logo-text {
							color: $alt;
							text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						}
					}
				}
			}

			.default-cursor {
				cursor: default;
			}
		}
	}

	&.card-highlight {
		@media #{$breakpoint_xl} {
			height: 20rem !important;
		}
		@media #{$breakpoint_lg} {
			height: 17.6rem !important;
		}
		@media #{$breakpoint_sm} {
			height: 15.7rem !important;
		}
		.content {
			position: relative;
			z-index: 1;
			padding: 0rem;

			.card-image {
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				text-decoration: none;
				cursor: pointer;
				width: 100%;
				height: 100% !important;
				display: block;
				border-radius: $border_radius;
				overflow: hidden;

				.inner-content {
					position: relative;
					z-index: 1;
					display: flex;
					padding: 2rem 2.5rem;
					// justify-content: flex-end;
					// align-items: center;


					.title {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
						font-size: $fontsize_xl2;
					}
				}
			}

			.highlight-offline {
				.inner-content {
					.title {
						cursor: default;
					}
				}
			}
		}
	}

	&.card-article {
		height: 32.5rem !important;
		.row {
			max-width: 100%;
		}

		.offline-a {
			height: 100%;
		}

		.article-content {
			width: 100%;
			height: 100%;
			display: block;
			border-radius: $border_radius;
			overflow: hidden;
		}

		a,
		.offline-a {
			&:hover {
				text-decoration: none;
			}

			.image-container {
				height: 60%;
			}

			.card-image {
				display: block;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				text-decoration: none;
				width: 100%;
				height: 60%;
				cursor: pointer;
				// @media #{$black-on-white} {
				// 	border: 0.1rem solid ;
				// }
				// @media #{$white-on-black} {
				// 	border: 0.1rem solid ;
				// }
			}

			.content {
				cursor: pointer;
				width: 100%;
				//padding: 28 / 430 * 100% 40 / 430 * 100% 0;
				padding: 2.4rem;
				padding-bottom: 0;
				height: 30%;

				.title {
					font-weight: $weight_light;
					text-decoration: none;
					cursor: pointer;
					height: 4.5rem !important;
					&:hover {
						text-decoration: underline;
					}
					@media #{$breakpoint_md}{
						margin-bottom: -1rem;
					}
				}

				.read-more {
					// position: absolute;
					// margin-top: 2rem;
					// left: 4rem;
					font-size: $fontsize_xs;
					cursor: pointer;
					text-transform: uppercase;
					color: $main;
					line-height: 2rem !important;
					// @media #{$mediaquery_xl} {
					// 	font-size: 1.1rem;
					// }
					// @media #{$mediaquery_lg} {
					// 	font-size: $fontsize_xs2;
					// }
					// @media #{$mediaquery_md} {
					// 	font-size: $fontsize_xs2;
					// }

					&:hover {
						.link-label {
							border-bottom: none;
						}
					}

					.link-label {
						padding-bottom: 0.2rem;
						border-bottom: 0.2rem solid $main;
						font-weight: $weight_bold;
					}

					fa-icon {
						color: $main;
						margin-left: 1rem;
					}
				}
			}
		}
	}

	&.card-subpage-partner-corner {
		.image {
			// height: 60%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			border-radius: $border_radius;

			a {
				text-decoration: none;
				width: 100%;
				height: 100%;
				display: block;
				border-radius: $border_radius;
				overflow: hidden;
			}
		}

		.default-cursor {
			cursor: default;
		}

		.content {
			padding: 2rem;
			cursor: pointer;

			@media #{$mediaquery_X1} {
				padding: 2rem;
			}

			@media #{$mediaquery_10} {
				padding: 1.5rem 2rem;
			}

			@media #{$mediaquery_X7} {
				padding: 1.5rem;
			}

			@media #{$mediaquery_18} {
				padding: 1.5rem;
			}

			.title {
				color: $light;
				text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
				font-size: $fontsize_xl2;
				font-weight: $weight_light;
				line-height: 1.4;
				cursor: pointer;
			}

			.read-more {
				// position: absolute;
				bottom: 4rem;
				// left: 4rem;
				font-size: $fontsize_xs;
				cursor: pointer;
				text-transform: uppercase;
				a {
					color: $light;
					text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;

					&:hover {
						text-decoration: none;

						.link-label {
							border-bottom: 0.2rem solid transparent;
						}
					}

					.link-label {
						padding-bottom: 0.2rem;
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						font-size: 1.1rem;
						font-weight: $weight_bold;
						text-transform: uppercase;
						padding-top: 1rem;
					}

					fa-icon {
						color: $main;
						margin-left: 1rem;
					}
				}
			}
		}

		.offline-a {
			.default-cursor {
				cursor: default;
			}

			.content {
				cursor: default;

				.title {
					cursor: default;
				}

				.read-more {
					cursor: default;
				}
			}
		}
	}

	.content {
		position: relative;
		z-index: 1;
		padding: 2.4rem;

		.title {
			color: $main_dark;
			font-size: $fontsize_xl;
			font-weight: $weight_light;
			line-height: 1.4;
			width: 100%;
		}

		.description {
			color: $main_dark;
			font-size: 1.1rem;
			line-height: 1.4;
		}

		.caption {
			color: $main_shade;
			font-size: 2.2rem;
			line-height: 1.1em;
			padding-top: 0.2rem;
			width: 100%;
		}

		.logo {
			position: absolute;
			bottom: 3em;
			padding-top: 3rem;

			.logo-img {
				color: $alt;
				font-size: 2.4rem;
				padding-right: 0.7rem;
			}

			.logo-text {
				color: $alt;
				font-size: 1.4em;
				font-weight: $weight_medium;
				position: relative;
				top: -0.4rem;
			}
		}
	}

	.image {
		position: relative;
		z-index: 0;
	}
	@media #{$black-on-white} {
		border: 0.1rem solid  $dark ;

		border-radius: $border_radius;
	}
	@media #{$white-on-black} {
		border: 0.1rem solid $dark ;

		border-radius: $border_radius;
	}


}

.spinner-border {
	height: 50px;
	width: 50px;
}
