@import "../../app.theme";

.container-card {
	box-shadow: $drop_shadow;
	border-radius: $border_radius;
	background-color: $light;
	position: relative;
	overflow: hidden;

	.container-fluid {
		height: 100%;
         .loader{
			 position:absolute;
			 z-index:999;
			 top:50%;
			 left:50%;
			 transform: translate(-50%,-50%);
		 }
		.row {
			height: 100%;
		}
	}

	&.card-corner {
		.content {
			position: relative;
			z-index: 1;
			padding: 0rem;

			.card-image {
				display: block;
				background-size: cover;
				background-position: 0 0%;
				background-repeat: no-repeat;
				text-decoration: none;
				cursor: pointer;
				width: 100%;
				height: 100%;

				.inner-content {
					position: relative;
					z-index: 1;
					padding: 2.5rem;
					height: 100%;
					@media #{$mediaquery_X9} {
						padding: 1.5rem;
					}
					@media #{$mediaquery_X10} {
						padding: 2rem;
					}
					@media #{$mediaquery_X3} {
						padding: 1.5rem;
					}
					@media #{$mediaquery_X4} {
						padding: 2rem;
					}
					@media #{$mediaquery_X7} {
						padding: 1rem;
					}

					.title {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
					}

					.description {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
					}

					.caption {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
					}

					.logo {
						.logo-img {
							color: $alt;
							text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						}

						.logo-text {
							color: $alt;
							text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						}
					}
				}
			}
		}
	}

	&.card-corner-article {

		.content {
			position: relative;
			z-index: 1;
			padding: 0rem;

			.card-image {
				display: block;
				background-size: cover;
				background-position: 0 0%;
				background-repeat: no-repeat;
				text-decoration: none;
				cursor: pointer;
				width: 100%;
				height: 100%;

				.inner-content {
					position: relative;
					z-index: 1;
					padding: 2rem;
					height: 100%;
					@media #{$mediaquery_X1} {
						padding: 2rem;
					}
					@media #{$mediaquery_10} {
						padding: 1.5rem 2rem;
					}
					@media #{$mediaquery_X7} {
						padding: 1.5rem;
					}
					@media #{$mediaquery_18}{
						padding: 1.5rem;
					}

					.title {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
					}

					.description {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
					}

					.caption {
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
					}

					.logo {
						.logo-img {
							color: $alt;
							text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						}

						.logo-text {
							color: $alt;
							text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						}
					}
				}
			}
		}
	}

	&.card-highlight {
		.content {
			position: relative;
			z-index: 1;
			padding: 0rem;

			.card-image {
				display: block;
				background-size: cover;
				background-position: 0 0%;
				background-repeat: no-repeat;
				text-decoration: none;
				cursor: pointer;
				width: 100%;
				height: 100%;

				.inner-content {
					position: relative;
					z-index: 1;
					padding: 3rem;
					height: 100%;

					.title {
						font-weight: $weight_light;
						font-size: 4rem;
						position: absolute;
						top: 30%;
						right: 5%;
						padding: 0 15%;
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						cursor: pointer;
						@media #{$mediaquery_X9} {
							font-size: 3rem;
							top: 15%;
						}
						@media #{$mediaquery_X10} {
							font-size: 3rem;
							top: 15%;
						}
						@media #{$mediaquery_X3} {
							font-size: 3rem;
							top: 15%;
						}
					}
				}
			}
		}
	}

	&.card-article {
		.row {
			max-width: 100%;
		}

		a {
			&:hover {
				text-decoration: none;
			}

			.image-container {
				height: 60%;
			}

			.card-image {
				display: block;
				background-size: cover;
				background-position: 0 0%;
				background-repeat: no-repeat;
				text-decoration: none;
				cursor: pointer;
				width: 100%;
				height: 100%;
			}

			.content {
				padding: 3rem 4rem;
				height: 40%;
				cursor: pointer;
				@media #{$mediaquery_10} {
					padding: 1.5rem 2rem;
				}

				.title {
					font-weight: $weight_light;
					text-decoration: none;
					cursor: pointer;
					&:hover {
						text-decoration: none;
					}
					@media #{$mediaquery_7} {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}

				.read-more {
					position: absolute;
					margin-top: 2rem;
					left: 4rem;
					font-size: 1.3rem;
					cursor: pointer;
					text-transform: uppercase;

					a {
						color: $main;

						&:hover {
							text-decoration: none;
						}

						.link-label {
							padding-bottom: 0.2rem;
							border-bottom: 0.2rem solid $main;
							font-weight: $weight_bold;
						}

						fa-icon {
							color: $main;
							margin-left: 1rem;
						}
					}
				}
			}
		}
	}

	&.card-partnerarticle {
		.image {
			// height: 60%;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			a{
				text-decoration: none;
			}
		}

		.content {
			padding: 3rem 4rem;
			cursor: pointer;
			.title {
				font-weight: $weight_light;
				color: $light;
				text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
				font-size: 4rem;
				line-height: 4.6rem;
				cursor: pointer;
			}

			.read-more {
				position: absolute;
				bottom: 4rem;
				left: 4rem;
				font-size: 1.3rem;
				cursor: pointer;
				text-transform: uppercase;

				a {
					color: $light;
					text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;

					&:hover {
						text-decoration: none;

						.link-label {
							border-bottom: 0.2rem solid transparent;
						}
					}

					.link-label {
						padding-bottom: 0.2rem;
						color: $light;
						text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
						font-size: 1.1rem;
						font-weight: $weight_bold;
						text-transform: uppercase;
						padding-top: 1rem;
					}

					fa-icon {
						color: $main;
						margin-left: 1rem;
					}
				}
			}
		}
	}

	.content {
		position: relative;
		z-index: 1;
		padding: 3rem;

		.title {
			color: $main_dark;
			font-size: 2.5rem;
			font-weight: $weight_bold;
			@media #{$mediaquery_X4} {
				font-size: 2rem;
			}
			@media #{$mediaquery_X7} {
				font-size: 1.85rem;
			}
			@media #{$mediaquery_X11} {
				font-size: 2rem;
			}
			@media #{$mediaquery_17} {
				font-size: 2rem;
			}
			@media #{$mediaquery_X3} {
				font-size: 1.6rem;
			}
		}

		.description {
			color: $main_dark;
			font-size: 1.1rem;
		}

		.caption {
			color: $main_shade;
			font-size: 2.2rem;
			@media #{$mediaquery_X4} {
				font-size: 1.8rem;
			}
			@media #{$mediaquery_X7} {
				font-size: 1.7rem;
			}
			@media #{$mediaquery_X11} {
				font-size: 1.8rem;
			}
			@media #{$mediaquery_17} {
				font-size: 1.8rem;
			}
			@media #{$mediaquery_X3} {
				font-size: 1.6rem;
			}
		}

		.logo {
			position: absolute;
			bottom: 3em;
			padding-top: 3rem;

			.logo-img {
				color: $alt;
				font-size: 2.4rem;
				padding-right: 0.7rem;
			}

			.logo-text {
				color: $alt;
				font-size: 1.4em;
				font-weight: $weight_medium;
				position: relative;
				top: -0.4rem;
			}
		}
	}

	.image {
		position: relative;
		z-index: 0;
	}
}
.spinner-border{
	height:50px;
	width:50px;
}
