<div *ngIf="isLoading && isOnline">
	<div class="container-card"
		[style.height.px]="containerHeight">
		<div class="container-fluid position-relative">
			<div class="loader center-block">
				<div class="spinner-border text-secondary progress-spinner"
					role="status"></div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="!isLoading || !isOnline">
	<div class="container-card card-{{type}}"
		*ngIf="type === 'corner'"
		#containerCardCorner
		[style.height.px]="containerCardCorner.clientWidth * ratio">
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 content">
					<a [class.default-cursor]="isOfflineArm"
						[attr.href]="!actionLink ? null : actionLink"
						(click)="linkClicked(actionType, actionLink)"
						vtrMetrics
						id="{{containerCardId+'_doc_link'}}"
						metricsItemCategory="corner"
						metricsEvent="docClick"
					 	[metricsParam]="dataSource"
						[metricsItemPosition]="sideFlag + order"
						[metricsItemID]="itemID"
						target="_blank"
						rel="noopener"
						class="card-image"
						[style.background-image]="'url(' + img + ')'"
						[style.height.px]="containerCardCorner.clientWidth * ratio - 1">
						<div class="inner-content" *ngIf="!isOfflineArm">
							<div *ngIf="title"
								class="title" id="{{containerCardId+'-title'}}"
								attr.aria-label="{{containerCardId+'-title'}}"
								#cornerTitle
								[title]="cornerTitle.innerText"
								[innerHTML]="title"></div>
							<div *ngIf="caption"
								class="caption"
								id="{{containerCardId+'-caption'}}"
								attr.aria-label="{{containerCardId+'-caption'}}"
								#cornerCaption
								[title]="cornerCaption.innerText"
								[innerHtml]="caption"></div>
							<div *ngIf="logo || logoText"
								class="logo">
								<span class="logo-img">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text"
								id="{{containerCardId+'-logo-text'}}"
								attr.aria-label="{{containerCardId+'-logo-text'}}">{{logoText}}</span>
							</div>
						</div>
					</a>

				</div>
			</div>
		</div>
	</div>

	<div class="container-card card-{{type}}"
		*ngIf="type === 'android'"
		#containerCardAndroid
		[style.height.px]="containerCardAndroid.clientWidth * ratio * 2">
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 content">
					<ng-container *ngIf="isOnline">
						<a [attr.href]="!actionLink ? null : actionLink"
							(click)="linkClicked(actionType, actionLink)"
							vtrMetrics
							id="{{containerCardId+'_link'}}"
							metricsItemCategory="corner"
							metricsEvent="docClick"
							[metricsItemPosition]="sideFlag + order"
							[metricsItemID]="itemID"
							target="_blank"
							rel="noopener"
							class="card-image"
							[style.background-image]="'url(' + img + ')'"
							[style.height.px]="containerCardAndroid.clientWidth * ratio * 2">
						</a>
						<div class="inner-content">
							<div *ngIf="title"
								class="title"
								[innerHtml]="title"
								id="{{containerCardId+'-title'}}"
								attr.aria-label="{{containerCardId+'-title'}}"></div>
							<div *ngIf="caption"
								class="caption"
								id="{{containerCardId+'-caption'}}"
								attr.aria-label="{{containerCardId+'-caption'}}"
								[innerHtml]="caption"></div>
							<div *ngIf="logo || logoText"
								class="logo">
								<span class="logo-img">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text" id="{{containerCardId+'-logo-text'}}"
								attr.aria-label="{{containerCardId+'-logo-text'}}">{{logoText}}</span>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="!isOnline">
						<div class="card-image default-cursor"
							[style.background-image]="'url(' + img + ')'">
						</div>
						<div class="inner-content">
							<div *ngIf="title"
								class="title default-cursor"
								[innerHtml]="title" id="{{containerCardId+'-title'}}"
								attr.aria-label="{{containerCardId+'-title'}}"></div>
							<div *ngIf="caption"
								class="caption default-cursor"
								id="{{containerCardId+'-caption'}}"
								attr.aria-label="{{containerCardId+'-caption'}}"
								[innerHtml]="caption"></div>
							<div *ngIf="logo || logoText"
								class="logo default-cursor">
								<span class="logo-img default-cursor">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text" id="{{containerCardId+'-logo-text'}}"
								attr.aria-label="{{containerCardId+'-logo-text'}}">{{logoText}}</span>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>

	<div class="container-card card-{{type}}"
		*ngIf="type === 'corner-article'"
		#containerCardCornerArticle
		[style.height.px]="containerCardCornerArticle.clientWidth * ratio">
		<div class="container-fluid">
			<div class="row"
				*ngIf="isOnline">
				<div class="col col-12 content">
					<a *ngIf="isOnline"
						[attr.href]="!actionLink ? null : actionLink"
						(click)="linkClicked(actionType, actionLink)"
						target="_blank"
						rel="noopener"
						class="card-image"
						vtrMetrics
						metricsEvent="ArticleClick"
						metricsItemCategory="corner-article"
						[metricsItemPosition]="sideFlag + order"
						[metricsItemID]="itemID"
						[style.background-image]="'url(' + img + ')'"
						[style.height.px]="containerCardCornerArticle.clientWidth * ratio"
						id="{{containerCardId+'-article_link'}}">
						<div class="inner-content">
							<div *ngIf="title"
								class="title"
								#cornerArticleTitle
								[title]="cornerArticleTitle.innerText"
								[innerHtml]="title" id="{{containerCardId+'-title'}}"
								attr.aria-label="{{containerCardId+'-title'}}"></div>
							<div *ngIf="caption"
								class="caption">
								<div #cornerArticleCaption
									[title]="cornerArticleCaption.innerText"
									[innerHtml]="caption"
									id="{{containerCardId+'-caption'}}"
									attr.aria-label="{{containerCardId+'-caption'}}"></div>
							</div>
							<div *ngIf="logo || logoText"
								class="logo">
								<span class="logo-img">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text"id="{{containerCardId+'-logo-text'}}"
								attr.aria-label="{{containerCardId+'-logo-text'}}">{{logoText}}</span>
							</div>
						</div>
					</a>
					<div *ngIf="!isOnline"
						class="card-image default-cursor"
						[style.background-image]="'url(' + img + ')'">
						<div class="inner-content">
							<div *ngIf="title"
								class="title"
								#cornerArticleTitle
								[title]="cornerArticleTitle.innerText"
								[innerHtml]="title" id="{{containerCardId+'-title'}}"
								attr.aria-label="{{containerCardId+'-title'}}"></div>
							<div *ngIf="caption"
								class="caption">
								<div #cornerArticleCaption
									[title]="cornerArticleCaption.innerText"
									[innerHtml]="caption" id="{{containerCardId+'-caption'}}"
								attr.aria-label="{{containerCardId+'-caption'}}"></div>
							</div>
							<div *ngIf="logo || logoText"
								class="logo">
								<span class="logo-img">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text" id="{{containerCardId+'-logo-text'}}"
								attr.aria-label="{{containerCardId+'-logo-text'}}">{{logoText}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row offline-icon col col-12"
				*ngIf="!isOnline">
				<fa-icon [icon]="['fal', 'wifi-slash']"></fa-icon>
			</div>
		</div>
	</div>

	<div class="container-card card-{{type}}"
		*ngIf="type === 'highlight'"
		#containerCardHighlight
		[style.height.px]="containerCardHighlight.clientWidth * ratio">
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 content">
					<a [attr.href]="!actionLink ? null : actionLink"
						(click)="linkClicked(actionType, actionLink)"
						metricsItemCategory="highlight"
						vtrMetrics
						id="{{containerCardId+'_article'}}"
						metricsEvent="docClick"
						[metricsItemPosition]="sideFlag + order"
						[metricsItemID]="itemID"
						target="_blank"
						rel="noopener"
						class="card-image"
						[class.default-cursor]="isOfflineArm"
						[style.background-image]="'url(' + img + ')'"
						[style.height.px]="containerCardHighlight.clientWidth * ratio">
						<div class="inner-content">
							<div *ngIf="title && !isOfflineArm"
								#highlightTitle
								[title]="highlightTitle.innerText"
								class="title" id="{{containerCardId+'-title'}}"
								attr.aria-label="{{containerCardId+'-title'}}"
								[innerHtml]="title"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-card card-{{type}}"
		*ngIf="type === 'article'"
		#containerCardArticle
		[style.height.px]="containerCardArticle.clientWidth * ratio">
		<div class="container-fluid">
			<a class="article-content"
				[class.default-cursor]="isOfflineArm"
				[attr.href]="!actionLink ? null : actionLink"
				(click)="linkClicked(actionType, actionLink)"
				metricsItemCategory="article"
				vtrMetrics
				id="{{containerCardId+'_card_article'}}"
				metricsEvent="docClick"
				[metricsItemPosition]="sideFlag + order"
				[metricsItemID]="itemID"
				target="_blank"
				rel="noopener">
				<div class="row">
					<div class="card-image"
						[style.background-image]="'url(' + img + ')'">
						<div *ngIf="logo || logoText"
							class="logo">
							<span class="logo-img">
								<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
							</span>
							<span class="logo-text" id="{{containerCardId+'-logo-text'}}"
							attr.aria-label="{{containerCardId+'-logo-text'}}">{{logoText}}</span>
						</div>
					</div>
					<div class="row w-100">
						<div class="col col-12 content">
							<div *ngIf="title && !isOfflineArm"
								class="title"
								#articleTitle
								[title]="articleTitle.innerText"
								[innerHtml]="title"
								id="{{containerCardId+'-title'}}"
								[style.margin-top.px]="containerCardArticle.clientWidth * 13 / 436"
								[style.font-size.px]="containerCardArticle.clientWidth * 24 / 436"
								[style.height.px]="containerCardArticle.clientWidth * 54 / 430"
								[style.line-height.px]="containerCardArticle.clientWidth * 27 / 430"
								attr.aria-label="{{containerCardId+'-title'}}"></div>
							<div *ngIf="actionLink && !isOfflineArm"
								[style.font-size.px]="containerCardArticle.clientWidth * 14 / 436"
								[style.height.px]="containerCardArticle.clientWidth * 27 / 430"
								[style.line-height.px]="containerCardArticle.clientWidth * 27 / 430"
								class="read-more">
								<span class="link-label" [innerHTML]="action"></span>
								<fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="container-card card-{{type}}"
		*ngIf="type === 'partnerarticle'"
		#containerCardPartnerArticle
		[style.height.px]="containerCardPartnerArticle.clientWidth * ratio">
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 image"
					[style.background-image]="'url('+img+')'">
					<div *ngIf="logo || logoText"
						class="logo">
						<span class="logo-img">
							<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
						</span>
						<span class="logo-text" id="{{containerCardId+'-logo-text'}}"
						attr.aria-label="{{containerCardId+'-logo-text'}}">{{logoText}}</span>
					</div>
					<div class="row">
						<a *ngIf="isOnline"
							[attr.href]="!actionLink ? null : actionLink"
							target="_blank"
							rel="noopener"
							vtrMetrics
							id="{{containerCardId+'_side_article'}}"
							metricsEvent="docClick"
							[metricsItemID]="itemID"
							[metricsItemPosition]="sideFlag + order"
							metricsItemCategory="partnerarticle">
							<div class="col col-12 content">
								<div *ngIf="title"
									class="title"
									[innerHtml]="title" id="{{containerCardId+'-title'}}"
									attr.aria-label="{{containerCardId+'-title'}}"></div>
								<div *ngIf="actionLink"
									class="read-more">
								</div>
							</div>
						</a>
						<div *ngIf="!isOnline"
							class="default-cursor">
							<div class="col col-12 content">
								<div *ngIf="title"
									class="title"
									[innerHtml]="title"
									id="{{containerCardId+'-title'}}"
								attr.aria-label="{{containerCardId+'-title'}}"></div>
								<div *ngIf="actionLink"
									class="read-more">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
