<div *ngIf="isLoading && isOnline">
	<div class="container-card"
		[style.height.px]="containerHeight">
		<div class="container-fluid position-relative">
			<div class="loader center-block">
				<div class="spinner-border text-secondary progress-spinner"
					role="status"></div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="!isLoading || !isOnline">
	<div class="container-card card-{{type}}"
		*ngIf="type === 'corner'"
		#containerCardCorner
		[style.height.px]="containerCardCorner.clientWidth * ratio">
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 content">
					<a *ngIf="isOnline"
						[attr.href]="!actionLink ? null : actionLink"
						(click)="linkClicked(actionType, actionLink)"
						vtrMetrics
						id="{{containerCardId+'_doc_link'}}"
						attr.aria-label="{{containerCardId+'_doc_link'}}"
						metricsItemCategory="corner"
						metricsEvent="docClick"
					 	[metricsParam]="dataSource"
						[metricsItemPosition]="sideFlag + order"
						[metricsItemID]="itemID"
						target="_blank"
						rel="noopener"
						class="card-image"
						[style.background-image]="'url(' + img + ')'">
						<div class="inner-content">
							<div *ngIf="title"
								class="title">{{title}}</div>
							<div *ngIf="caption"
								class="caption"
								[innerHtml]="caption"></div>
							<div *ngIf="logo || logoText"
								class="logo">
								<span class="logo-img">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text">{{logoText}}</span>
							</div>
						</div>
					</a>
					<div *ngIf="!isOnline"
						class="card-image default-cursor"
						[style.background-image]="'url(' + img + ')'">
						<div class="inner-content">
							<div *ngIf="title"
								class="title default-cursor">{{title}}</div>
							<div *ngIf="caption"
								class="caption default-cursor"
								[innerHtml]="caption"></div>
							<div *ngIf="logo || logoText"
								class="logo default-cursor">
								<span class="logo-img default-cursor">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text">{{logoText}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-card card-{{type}}"
		*ngIf="type === 'android'"
		#containerCardAndroid
		[style.height.px]="containerCardAndroid.clientWidth * ratio * 2">
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 content">
					<ng-container *ngIf="isOnline">
						<a [attr.href]="!actionLink ? null : actionLink"
							(click)="linkClicked(actionType, actionLink)"
							vtrMetrics
							id="{{containerCardId+'_link'}}"
							attr.aria-label="{{containerCardId+'_link'}}"
							metricsItemCategory="corner"
							metricsEvent="docClick"
							[metricsItemPosition]="sideFlag + order"
							[metricsItemID]="itemID"
							target="_blank"
							rel="noopener"
							class="card-image"
							[style.background-image]="'url(' + img + ')'">
						</a>
						<div class="inner-content">
							<div *ngIf="title"
								class="title"
								[innerHtml]="title"></div>
							<div *ngIf="caption"
								class="caption"
								[innerHtml]="caption"></div>
							<div *ngIf="logo || logoText"
								class="logo">
								<span class="logo-img">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text">{{logoText}}</span>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="!isOnline">
						<div class="card-image default-cursor"
							[style.background-image]="'url(' + img + ')'">
						</div>
						<div class="inner-content">
							<div *ngIf="title"
								class="title default-cursor"
								[innerHtml]="title"></div>
							<div *ngIf="caption"
								class="caption default-cursor"
								[innerHtml]="caption"></div>
							<div *ngIf="logo || logoText"
								class="logo default-cursor">
								<span class="logo-img default-cursor">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text">{{logoText}}</span>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>

	<div class="container-card card-{{type}}"
		*ngIf="type === 'corner-article'"
		#containerCardCornerArticle
		[style.height.px]="containerCardCornerArticle.clientWidth * ratio">
		<div class="container-fluid">
			<div class="row"
				*ngIf="isOnline">
				<div class="col col-12 content">
					<a *ngIf="isOnline"
						[attr.href]="!actionLink ? null : actionLink"
						(click)="linkClicked(actionType, actionLink)"
						target="_blank"
						rel="noopener"
						class="card-image"
						vtrMetrics
						id="{{containerCardId+'article_link'}}"
						attr.aria-label="{{containerCardId+'article_link'}}"
						metricsEvent="ArticleClick"
						metricsItemCategory="corner-article"
						[metricsItemPosition]="sideFlag + order"
						[metricsItemID]="itemID"
						[style.background-image]="'url(' + img + ')'">
						<div class="inner-content">
							<div *ngIf="title"
								class="title"
								[innerHtml]="title"></div>
							<div *ngIf="caption"
								class="caption">
								<div [innerHtml]="caption"></div>
							</div>
							<div *ngIf="logo || logoText"
								class="logo">
								<span class="logo-img">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text">{{logoText}}</span>
							</div>
						</div>
					</a>
					<div *ngIf="!isOnline"
						class="card-image default-cursor"
						[style.background-image]="'url(' + img + ')'">
						<div class="inner-content">
							<div *ngIf="title"
								class="title"
								[innerHtml]="title"></div>
							<div *ngIf="caption"
								class="caption">
								<div [innerHtml]="caption"></div>
							</div>
							<div *ngIf="logo || logoText"
								class="logo">
								<span class="logo-img">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text">{{logoText}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row offline-icon col col-12"
				*ngIf="!isOnline">
				<fa-icon [icon]="['fal', 'wifi-slash']"></fa-icon>
			</div>
		</div>
	</div>

	<div class="container-card card-{{type}}"
		*ngIf="type === 'highlight'"
		#containerCardHighlight
		[style.height.px]="containerCardHighlight.clientWidth * ratio">
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 content">
					<a *ngIf="isOnline"
						[attr.href]="!actionLink ? null : actionLink"
						metricsItemCategory="highlight"
						vtrMetrics
						id="{{containerCardId+'_article'}}"
						attr.aria-label="{{containerCardId+'_article'}}"
						metricsEvent="docClick"
						[metricsItemPosition]="sideFlag + order"
						[metricsItemID]="itemID"
						target="_blank"
						rel="noopener"
						class="card-image"
						[style.background-image]="'url(' + img + ')'">
						<div class="inner-content">
							<div *ngIf="title"
								class="title"
								[innerHtml]="title"></div>
						</div>
					</a>
					<div *ngIf="!isOnline"
						class="card-image default-cursor"
						[style.background-image]="'url(' + img + ')'">
						<div class="inner-content">
							<div *ngIf="title"
								class="title"
								[innerHtml]="title"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-card card-{{type}}"
		*ngIf="type === 'article'"
		#containerCardArticle
		[style.height.px]="containerCardArticle.clientWidth * ratio">
		<div class="container-fluid">
			<a *ngIf="isOnline"
				[attr.href]="!actionLink ? null : actionLink"
				metricsItemCategory="article"
				vtrMetrics
				id="{{containerCardId+'_card_article'}}"
				attr.aria-label="{{containerCardId+'_card_article'}}"
				metricsEvent="docClick"
				[metricsItemPosition]="sideFlag + order"
				[metricsItemID]="itemID"
				target="_blank"
				rel="noopener">
				<div class="row">
					<div class="col col-12 image-container">
						<a [attr.href]="!actionLink ? null : actionLink"
							target="_blank"
							rel="noopener"
							id="{{containerCardId+'_card_image'}}"
							attr.aria-label="{{containerCardId+'_card_image'}}"
							class="card-image"
							[style.background-image]="'url(' + img + ')'">
							<div *ngIf="logo || logoText"
								class="logo">
								<span class="logo-img">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text">{{logoText}}</span>
							</div>
						</a>
					</div>
					<div class="row">
						<div class="col col-12 content">
							<div *ngIf="title"
								class="title"
								[innerHtml]="title"></div>
							<div *ngIf="actionLink"
								class="read-more">
								<a [attr.href]="!actionLink ? null : actionLink"
									id="{{containerCardId+'_read_more'}}"
									attr.aria-label="{{containerCardId+'_read_more'}}"
									target="_blank"
									rel="noopener">
									<span class="link-label">{{action}}</span>
									<fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
								</a>
							</div>
						</div>
					</div>
				</div>
			</a>
			<div class="offline-a"
				*ngIf="!isOnline">
				<div class="row">
					<div class="col col-12 image-container">
						<div class="card-image default-cursor"
							[style.background-image]="'url(' + img + ')'">
							<div *ngIf="logo || logoText"
								class="logo">
								<span class="logo-img">
									<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
								</span>
								<span class="logo-text">{{logoText}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-card card-{{type}}"
		*ngIf="type === 'partnerarticle'"
		#containerCardPartnerArticle
		[style.height.px]="containerCardPartnerArticle.clientWidth * ratio">
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 image"
					[style.background-image]="'url('+img+')'">
					<div *ngIf="logo || logoText"
						class="logo">
						<span class="logo-img">
							<fa-icon [icon]="['fab', 'stumbleupon-circle']"></fa-icon>
						</span>
						<span class="logo-text">{{logoText}}</span>
					</div>
					<div class="row">
						<a *ngIf="isOnline"
							[attr.href]="!actionLink ? null : actionLink"
							target="_blank"
							rel="noopener"
							vtrMetrics
							id="{{containerCardId+'_side_article'}}"
							attr.aria-label="{{containerCardId+'_side_article'}}"
							metricsEvent="docClick"
							[metricsItemID]="itemID"
							[metricsItemPosition]="sideFlag + order"
							metricsItemCategory="partnerarticle">
							<div class="col col-12 content">
								<div *ngIf="title"
									class="title"
									[innerHtml]="title"></div>
								<div *ngIf="actionLink"
									class="read-more">
								</div>
							</div>
						</a>
						<div *ngIf="!isOnline"
							class="default-cursor">
							<div class="col col-12 content">
								<div *ngIf="title"
									class="title"
									[innerHtml]="title"></div>
								<div *ngIf="actionLink"
									class="read-more">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
