@import "../../app.theme";

:host-context(.is-gaming) {
	.container-card {
		box-shadow: $drop_shadow_gaming;
		background-color: $gaming_darkest;

		@media #{$high-contrast} {
			background-color: window;
		}

		.card-image {
			background-color: $gaming_lightest;
		}
	}
}