@import "../../app.theme";

:host-context(.is-gaming) {
	.container-card {
		box-shadow: $drop_shadow_gaming;
		background-color: transparent;
		@media #{$white-on-black} {
			background-color: $dark;
		}
		@media #{$black-on-white} {
			background-color: $light;
		}
		.card-image{
			background-color: $gaming_lightest;
		}
		}
	}
