<div class="container-card"
 *ngIf="type === '4X3' || type === '8X4'">
	<div class="row">
		<div class="card card{{type}}">
			<div class="row root">
				<div class="col-xs-8 content">
					<div class="col-md-12 ">
						<div *ngIf="title"
						 class="title">{{title}}</div>
						<div *ngIf="caption"
						 class="caption">{{caption}}</div>
						<div *ngIf="logo || logoText"
						 class="logo">
							<span class="logo-bkg">L</span>
							<span *ngIf="logo"
							 class="logo-text">{{logoText}}</span>
						</div>
						<div class="clearfix"></div>
						<div *ngIf="readMore" 
						class="read-more">{{readMore}}</div>
					</div>
				</div>
				<div class="col-xs-3 icon">
					<div class="bottomright"><img [src]="img"
						 *ngIf="img"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container card{{type}}"
 *ngIf="type =='4X4'">
	<div class="row">
		<div class="card card{{type}}">
			<div class="content">
				<img class="card-img-top"
				 [src]="img"
				 *ngIf="img"
				 alt="Card image cap">
				<div class="content">
					<h4 class="title">{{title}}</h4>
					<p class="caption">{{caption}}</p>
					<a href="#"
					 *ngIf="readMore"
					 class="read-more ">{{readMore}} <i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>