.scan-steps {
  display: flex;
  justify-content: center;

  &--inner-indent {
    padding: 0 2rem;
  }
  &__item {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0 2rem;
    &:nth-child(2) {
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        background: #E6EAEB;
        width: calc(100% - 9.1rem); // 51px (width of circle) + 20px (from design) + 20px (from design)
        top: 2.5rem;
        right: calc(50% + 5.1rem);
      }
      &:after {
        content: '';
        position: absolute;
        height: 1px;
        background: #E6EAEB;
        width: calc(100% - 9.1rem); // 51px (width of circle) + 20px (from design) + 20px (from design)
        top: 2.5rem;
        left: calc(50% + 5.1rem);
      }
    }
  }
  &__number-wrapper {
    height: 5.1rem;
    width: 5.1rem;
    border: 1px solid #E6EAEB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__number {
    color: #4A81FD;
    font-size: 3rem;
    font-weight: 500;
  }
  &__title {
    color: #34495E;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin: 1.4rem 0 0 0;
    text-transform: uppercase;
  }
  &__text {
    color: #667481;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.3rem;
    margin: 0;
  }
}
