<div class="vtr-page-support vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="title"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col ">
			<div class="row">
				<div class="col col-8 vtr-page-left-column">

					<div class="row mn-6 card mx-5 mb-5">
						<div class="col p-5">
							<div class="row py-5 description-container">
								<div class="col"
								 [innerHTML]="qa.description|sanitizeHtml">
									<!--<div class="col">-->

								</div>
							</div>
							<div class="row inset-content align-items-center justify-content-center py-3">

								<div class="col-auto ml-auto px-0">
									<div class="icon-bkg text-center cursor-pointer"
									 (click)="qa.like=!qa.like">
										<fa-icon [icon]="['far','thumbs-up']"></fa-icon>
									</div>
								</div>
								<div class="col-auto px-2 ">
									<div class="icon-bkg text-center cursor-pointer"
									 (click)="qa.dislike=!qa.dislike">
										<fa-icon [icon]="['far','thumbs-down']"></fa-icon>
									</div>
								</div>
								<div class="col-auto mr-auto px-0 text">
									Was this Helpful??
								</div>
							</div>
						</div>
					</div>
					<div class="row card m-5">
						<div class="col">
							<div class="row p-5">
								<div class="col title smaller">
									Not finding what you are looking for?
								</div>
								<div class="w-100"></div>
								<div class="col subtitle">
									Need additional support? Don’t hesitate to contact us via:
								</div>
								<div class="w-100"></div>
								<div class="col px-0 mt-5">
									<div class="row">
										<div class="col inset-content">
											<div class="row align-items-center">
												<div class="col-auto">
													<fa-icon [icon]="['fas','briefcase']"></fa-icon>
												</div>
												<div class="col-auto px-2 mr-auto sub-title">
													24X7 - Live Chat
												</div>
												<div class="col-auto ">
													<button class="btn btn-label">CHAT NOW</button>
												</div>
											</div>
										</div>
										<div class="col-auto px-4">

										</div>
										<div class="col inset-content">
											<div class="row align-items-center">
												<div class="col-auto">
													<fa-icon [icon]="['fas','briefcase']"></fa-icon>
												</div>
												<div class="col-auto px-2 mr-auto sub-title">
													Lenovo Community
												</div>
												<div class="col-auto ">
													<button class="btn btn-label">Go To Forum</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col col-4 vtr-page-right-column">
					<div class="row mn-6">
						<div class="col">
							<vtr-widget-questions [title]="'Q&A\'s for your Machine'"
							 [description]="'FIND SOME HELPFUL TIPS FOR YOUR DEVICE.'"
							 [items]="qaService.qas"></vtr-widget-questions>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
