@import "../../../app.theme";
$largeCircleWidth: 22rem;
$largeSideWidth: 3.5rem;
.circle-container {
	.circle-desc {
		width: 12rem;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -6rem;
		margin-top: -2rem;
		text-align: center;
		color: $light;
		@include high-contrast-adjust;
		@include high-contrast-color-reversal;
		p {
			font-size: 1.6rem;
			line-height: 1.1;
		}
		b {
			font-size: 1.2rem;
		}
	}
	&:not(.security-card) {
		.circle-box {
			width: 18rem;
			height: 18rem;
		}
	}
	&.security-card {
		.circle-box {
			width: $largeCircleWidth;
			height: $largeCircleWidth;
		}
		@media #{$mediaquery_X45} {
			.circle-box {
				width: 18rem;
				height: 18rem;
			}
		}
		@media #{$mediaquery_X47} {
			.circle-box {
				width: 18rem;
				height: 18rem;
			}
		}
		@media #{$mediaquery_X48} {
			.circle-box {
				width: 10rem;
				height: 10rem;
			}
		}
		.circle-desc {
			@media #{$mediaquery_X45} {
				width: 12rem;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -6rem;
				margin-top: -2rem;
			}
			@media #{$mediaquery_X47} {
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -6rem;
				margin-top: -2rem;
			}
			@media #{$mediaquery_X48} {
				position: initial;
				width: auto;
				margin-top: 1rem;
				margin-left: 0;
			}
		}
	}
}
