@import '../../../app.theme.scss';

.vtr-widget-legion-edge {
	border-radius: $border_radius;
	background-color: $gaming_dark;
	box-shadow: $drop_shadow_gaming;
	padding: 4rem;

	// remove once populated
	min-height: 30rem;
	.gaming-header-image {
		height: 2.5rem;
	}
}