@import "../../../app.theme.scss";

.vtr-widget-legion-edge {
	border-radius: $border_radius;
	background: $gaming_darkest;
	box-shadow: $drop_shadow_gaming;
	padding: 2.2rem;
	.gaming-header-image {
		height: 4rem;
		margin-top: 0.8rem;
	}
	.help-box {
		height: 4rem;
		margin-top: 1.6rem;
		margin-right: 0.7rem;
		button{
			display: inline-block;
			border: none;
			background: none;
		}
		.icon {
			background: $gaming_icon_gradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			font-size: 2.6rem;
			cursor: pointer;
			color: $gaming_light_blue;
			@media #{$black-on-white}{
				color: $high-contrast-grey;
			}
			@media #{$white-on-black}{
				color: $high-contrast-grey;
			}
		}
	}
    .legionEdge-list-items {
        .item {
            background: transparent;
            padding: 2rem 0rem;
			font-size: 1.8rem;
			line-height: 2rem;
			color: $white100;
            border: none;
            border-bottom: 1px solid $screen_dark_15;
            position: relative;
            &:first-child {
                height: 8rem;
                cursor: pointer;
            }
            &:first-child div {
                cursor: pointer;
            }
            &:last-child {
                border-bottom: none;
            }
            .item-left {
                float: left;
                .title {
                    font-weight: bold;
                }
                .mode-status {
                    font-size: 1.4rem;
					line-height: 2rem;
					color: $shade_light;
                }
            }
            .item-right {
                height: 4rem;
                width: 4rem;
                float: right;
                text-align: center;
                color: $gaming_grey_lightest;
                .icon {
					width: 3rem;
					height: 3rem;
                    margin: .5rem;
					opacity: 0.5;
					.pngStatus {
						width: 100%;
						height: 100%;
					}
				};
			}
		}
		&::ng-deep .vtr-widget-device-update-settings {
			background-color: transparent;
			padding: 0;
			box-shadow: none;
			border: none;
			.settings-container {
				.off-state {
					position: absolute;
					z-index: 9;
					height: 2.5rem;
					width: auto;
					top: 0.5rem;
					display: inline-block;
				}
				.list-group-item {
					background: transparent;
					color: white;
					padding: 1.8rem 0rem;
					font-size: 1.8rem;
					border: none;
					border-bottom: 1px solid $screen_dark_15;
					&:last-child {
						border-bottom: none;
					}
					&:first-child {
						.media-body {
							> div.collapsible {
								display: block !important;
							}
						}
					}
					.media {
						padding-left: 0 !important;
						fa-icon {
							display: none;
						}
						.media-body {
							padding-left: 0 !important;
							.no-pointer {
								width: 5.4rem;
								position: relative;
							}
							.customizable {
								text-align: right;
								margin-right: 2rem;
								margin-left: 35%;
								display: inline-block;
								text-decoration: none;
								height: 3.2rem;
								width: 3.2rem;
								border-radius: 3.2rem;
								margin-top: 0.5rem;
								position: absolute;
								right: 6rem;
								.icon {
									text-align: center;
									font-size: 2.2rem;
									color: $gaming_grey_lightest;
									line-height: 2.4rem;
									margin-left: 1.1rem;
									@media #{$black-on-white} {
										color: $gaming_lightest;
									}
									@media #{$white-on-black} {
										color: $gaming_lightest;
									}
									&::after {
										content: "";
										position: absolute;
										height: 3.2rem;
										width: 3.2rem;
										border-radius: 3.2rem;
										background: $screen_dark_20;
										transition: all 0.3s ease-in;
										right: -0.6rem;
										top: -0.4rem;
										opacity: 0;
										@media #{$black-on-white} {
											background: transparent;
										}
										@media #{$white-on-black} {
											background: transparent;
										}
									}
								}
								&:hover .icon::after {
									opacity: 1;
								}
							}
						}
					}
					.update-title {
						color: white;
					}
				}
				&::ng-deep vtr-ui-switch-onoff {
					.checkbox {
						input {
							& + .switch {
								background: $gaming_switch_light;
								height: 2.4rem;
								width: 5.4rem;
								transition: all 0.2s ease-in;
								small {
									background: $gaming_switch_dark;
									height: 1.8rem;
									width: 1.8rem;
									margin-top: 0.1rem;
									transition: all 0.2s ease-in;
									@media #{$black-on-white} {
										background: $gaming_darkest;
									}
									@media #{$white-on-black} {
										background: $gaming_lightest;
									}
								}
							}
							&.wifi-checked + .switch {
								background: $gaming_green_gradient;
								transition: all 0.2s ease-in;
								small {
									background: $gaming_lightest;
									transition: all 0.2s ease-in;
									left: 3.2rem;
									@media #{$black-on-white} {
										background: $gaming_darkest;
									}
									@media #{$white-on-black} {
										background: $gaming_lightest;
									}
								}
							}
						}
						.switch-label.on-label {
							color: $gaming_lightest;
							font-weight: bold;
							font-size: 1.2rem;
							padding-top: 0.1rem;
							text-indent: -0.4rem;
							transition: all 0.2s ease-in;
							@media #{$medium-screen} {
								padding-top: 0.3rem;
							}
							@media #{$small-screen} {
								padding-top: 0.3rem;
							}
						}
						.switch-label.off-label {
							color: $gaming_switch_dark;
							font-weight: bold;
							font-size: 1.2rem;
							padding-top: 0.1rem;
							text-indent: 0;
							transition: all 0.2s ease-in;
							@media #{$medium-screen} {
								padding-top: 0.3rem;
							}
							@media #{$small-screen} {
								padding-top: 0.3rem;
							}
						}
					}
				}
			}
		}
	}
}
::ng-deep {
	.fade {
		transition: opacity 0s linear !important;
	}
}
