<div class="vtr-widget-legion-edge">
	<div class="container-fluid">
		<div class="row">
			<div class="col d-flex justify-content-between">
				<img class="gaming-header-image" src="./../../../../assets/images/gaming/legionEdge.png" />
				<div class="help-box">
					<i class="icomoon icon-question"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col legionEdge-list-items">

			<vtr-widget-device-update-settings
				componentName="Legion Edge"
				[items]="autoUpdateOptions"
				(toggleOnOff)="onUpdateToggleOnOff($event)">
			</vtr-widget-device-update-settings>

			<!--<ul class="list-group legionEdge-list-items mt-20">
				<li class="list-group-item d-flex justify-content-between">
					<h4>CPU Overclock <small>On</small></h4>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<h4>Ram Overclock</h4>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<h4>Auto Close</h4>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<h4>Network Boost</h4>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<h4>Hybrid Mode</h4>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<h4>Touchpad Lock</h4>
				</li>
			</ul>-->
		</div>
	</div>
</div>