@import "../../../app.theme.scss";

::ng-deep {
	.vtr-material-menu-dropdown {
		&.menu-dropdown-container {
			border-radius: 0 0 0.5rem 0.5rem;
			background-color: $light;
			@include high-contrast-background;
			box-shadow: $menu_dropdown_shadow;
		}
		.secondary-menu-container {
			max-width: 60rem;
			.column-container {
				width: 20rem;
			}
		}
		.dropdown-menu-item {
			color: $main_shade;
			font-weight: $weight_regular;
			font-family: "Segoe UI",sans-serif;
			height: 3.2rem;
			line-height: 1;
			outline: none !important;
			@include menu-color-high-contrast;
			&:hover {
				text-decoration: underline;
				color: $blue-light;
				@include menu-color-hover-high-contrast;
			}
			&:focus {
				text-decoration: underline;
				color: $blue-light;
				@include menu-color-hover-high-contrast;
				span {
					@include border-blue-high-contrast;
				}
			}
			&.active {
				text-decoration: underline;
				color: $blue-light;
				@include menu-color-hover-high-contrast;
			}
		}
	}
}
