<mat-menu #menuMain="matMenu"
	[hasBackdrop]="false"
	id="menu-main-nav-lnk-dropdown-toggle-{{dropdownMenu.id}}"
	class="vtr-material-menu-dropdown mt-0 overflow-wrap-normal max-width-none min-height-0 menu-dropdown-container"
	attr.aria-labelledby="menu-main-nav-lnk-dropdown-toggle-{{dropdownMenu.id}}"
	xPosition="before">
	<section *ngIf="!hasSecondaryMenu && dropdownMenu.id!=='user'">
		<ng-container *ngFor="let subitem of dropdownMenu.subitems; let i=index">
			<button mat-menu-item
				*ngIf="subitem && !subitem.hide && subitem.externallink"
				id="menu-main-nav-lnk-dropdown-menu-external-{{parentId}}-{{i}}"
				class="mt-0 border-radius-0 outline-none dropdown-menu-item"
				[ngClass]="{'active': subitem.id === activeItemId}"
				attr.aria-label="{{subitem.label | translate }}"
				routerLinkActive="link-active"
				[routerLinkActiveOptions]="subitem.routerLinkActiveOptions"
				vtrMetrics
				[metricsEvent]="subitem.metricsEvent"
				[metricsParent]="subitem.metricsParent"
				[metricsItem]="subitem.metricsItem"
				target="_blank"
				rel="noopener"
				href="javascript:void(0)"
				(click)="[openExternalLink(subitem.path), setActiveItem(subitem.id)]">
				<span [innerHTML]="subitem.label | translate"></span>
			</button>
			<button mat-menu-item
				*ngIf="subitem && !subitem.hide && !subitem.externallink"
				id="menu-main-nav-lnk-dropdown-menu-{{parentId}}-{{i}}"
				class="mt-0 border-radius-0 outline-none dropdown-menu-item"
				[ngClass]="{'active': subitem.id === activeItemId}"
				attr.aria-label="{{subitem.label| translate}}"
				routerLinkActive="link-active"
				[routerLinkActiveOptions]="subitem.routerLinkActiveOptions"
				vtrMetrics
				[metricsEvent]="subitem.metricsEvent"
				[metricsParent]="subitem.metricsParent"
				[metricsItem]="subitem.metricsItem"
				routerLink="/{{parentPath}}/{{subitem.path}}"
				href="javascript:void(0)"
				role="menuitem"
				(click)="setActiveItem(subitem.id)"
				(keydown.enter)="[setActiveItem(subitem.id), menuItemKeyDown(parentPath, subitem.path)]">
				<span [innerHTML]="subitem.label | translate"></span>
			</button>
		</ng-container>
	</section>
	<section *ngIf="hasSecondaryMenu && dropdownMenu.id!=='user'" class="d-flex p-3 secondary-menu-container">
		<section *ngFor="let subitem of dropdownMenu.subitems; let i=index"
			class="d-inline-block column-container">
			<button mat-menu-item
				*ngIf="subitem && !subitem.hide && subitem.externallink"
				vtrMetrics
				id="menu-main-nav-lnk-dropdown-menu-external-{{parentId}}-{{i}}"
				attr.aria-label="{{subitem.label | translate }}"
				routerLinkActive="link-active"
				[routerLinkActiveOptions]="subitem.routerLinkActiveOptions"
				[metricsEvent]="subitem.metricsEvent"
				[metricsParent]="subitem.metricsParent"
				[metricsItem]="subitem.metricsItem"
				class="d-inline-block mt-0 text-uppercase border-radius-0 outline-none dropdown-menu-item high-contrast-color-reversal font-weight-bold"
				target="_blank"
				rel="noopener"
				href="javascript:void(0)"
				(click)="[openExternalLink(subitem.path), setActiveItem(subitem.id)]">
				<span [innerHTML]="subitem.label | translate"></span>
			</button>
			<button mat-menu-item
				*ngIf="subitem && !subitem.hide && !subitem.externallink"
				vtrMetrics
				id="menu-main-nav-lnk-dropdown-menu-{{parentId}}-{{i}}"
				class="d-inline-block mt-0 text-uppercase border-radius-0 outline-none dropdown-menu-item high-contrast-color-reversal font-weight-bold"
				attr.aria-label="{{subitem.label| translate}}"
				routerLinkActive="link-active"
				[routerLinkActiveOptions]="subitem.routerLinkActiveOptions"
				[metricsEvent]="subitem.metricsEvent"
				[metricsParent]="subitem.metricsParent"
				[metricsItem]="subitem.metricsItem"
				routerLink="/{{parentPath}}/{{subitem.path}}"
				href="javascript:void(0)"
				role="menuitem"
				(click)="setActiveItem(subitem.id)"
				(keydown.enter)="[menuItemKeyDown(parentPath, subitem.path), setActiveItem(subitem.id)]">
				<span [innerHTML]="subitem.label | translate"></span>
			</button>
			<ng-container *ngFor="let secondarySubitem of subitem.subitems; let ii=index">
				<button mat-menu-item
					*ngIf="secondarySubitem && !secondarySubitem.hide && secondarySubitem.externallink"
					vtrMetrics
					id="menu-main-nav-lnk-dropdown-menu-external-{{parentId}}-{{subitem.id}}-{{ii}}"
					class="d-inline-block mt-0 border-radius-0 outline-none dropdown-menu-item"
					[ngClass]="{'active': secondarySubitem.id === activeItemId}"
					attr.aria-label="{{secondarySubitem.label | translate }}"
					routerLinkActive="link-active"
					[routerLinkActiveOptions]="secondarySubitem.routerLinkActiveOptions"
					[metricsEvent]="secondarySubitem.metricsEvent"
					[metricsParent]="secondarySubitem.metricsParent"
					[metricsItem]="secondarySubitem.metricsItem"
					target="_blank"
					rel="noopener"
					href="javascript:void(0)"
					(click)="[openExternalLink(secondarySubitem.path), setActiveItem(secondarySubitem.id)]">
					<span [innerHTML]="secondarySubitem.label | translate"></span>
				</button>
				<button mat-menu-item
					*ngIf="secondarySubitem && !secondarySubitem.hide && !secondarySubitem.externallink"
					vtrMetrics
					id="menu-main-nav-lnk-dropdown-menu-{{parentId}}-{{subitem.id}}-{{ii}}"
					class="d-inline-block mt-0 border-radius-0 outline-none dropdown-menu-item"
					[ngClass]="{'active': secondarySubitem.id === activeItemId}"
					attr.aria-label="{{secondarySubitem.label| translate}}"
					routerLinkActive="link-active"
					[routerLinkActiveOptions]="subitem.routerLinkActiveOptions"
					[metricsEvent]="secondarySubitem.metricsEvent"
					[metricsParent]="secondarySubitem.metricsParent"
					[metricsItem]="secondarySubitem.metricsItem"
					routerLink="/{{parentPath}}/{{subitem.path}}/{{secondarySubitem.path}}"
					href="javascript:void(0)"
					role="menuitem"
					(click)="setActiveItem(secondarySubitem.id)"
					(keydown.enter)="[menuItemKeyDown(parentPath, subitem.path, secondarySubitem.path), setActiveItem(secondarySubitem.id)]">
					<span [innerHTML]="secondarySubitem.label | translate"></span>
				</button>
			</ng-container>
		</section>
	</section>
</mat-menu>
