@import '../../../app.theme.scss';

::ng-deep {
	.vtr-material-menu-dropdown {
		&.menu-dropdown-container {
			border-radius: 0 0 0.5rem 0.5rem;
			background-color: $light;
			@include high-contrast-background;
			box-shadow: $menu_dropdown_shadow;
		}
		&.app-search {
			border-radius: 0.5rem;
			.mat-menu-content {
				padding-top: 0;
				padding-bottom: 0;
				background: transparent;

				.mat-menu-item {
					width: auto;
					height: auto;
					padding: 0 0;
				}
			}
		}
		.secondary-menu-container {
			max-width: 60rem;
			.column-container {
				width: 20rem;
			}
		}
		.dropdown-menu-item {
			color: $main_shade;
			font-weight: $weight_regular;
			font-family: 'Segoe UI', sans-serif;
			min-height: 2.2rem;
			line-height: 1;
			outline: none !important;
			@include menu-color-high-contrast;
			&.text-lowercase > span::first-letter {
				text-transform: uppercase !important;
			}
			span {
				word-break: normal;
				white-space: pre-wrap;
				word-wrap: break-word;
				line-height: 1.3;
			}
			&:hover {
				color: $blue-light;
				@include menu-color-hover-high-contrast;
				span {
					text-decoration: underline;
				}
			}
			&.mat-menu-item.cdk-program-focused,
			&.mat-menu-item.cdk-keyboard-focused {
				&:not([disabled]) {
					color: $blue-light;
					@include menu-color-focus-high-contrast;
					span {
						text-decoration: none;
						@include border-blue-high-contrast;
					}
				}
			}
			&.active {
				color: $blue-light;
				@include menu-color-hover-high-contrast;
				span {
					border: none;
					text-decoration: underline;
				}
			}
		}
	}
}
