<div class='title'>{{'faq.question5.title' | translate}}</div>
<hr/>
<p>{{'faq.question5.para1' | translate}}</p>
<h3 class='heading2'>{{'faq.question5.heading1' | translate}}</h3>
<p [innerHTML]="'faq.question5.para2' | translate"></p>
<img [src]="'assets/images/qa/' + langCode + '5.1.jpg'" />
<p></p>
<h3 class='heading2'>{{'faq.question5.heading2' | translate}}</h3>
<p>{{'faq.question5.para3' | translate}}</p>
<p>{{'faq.question5.para4' | translate}}</p>
<h3 class='heading2'>{{'faq.question5.heading3' | translate}}</h3>
<p [innerHTML]="'faq.question5.para5' | translate"></p>
<h3 class='heading2'>{{'faq.question5.heading4' | translate}}</h3>
<p>{{'faq.question5.para6' | translate}}</p>
<p>{{'faq.question5.para7' | translate}}</p>
<ul>
    <li>{{'faq.question5.para8' | translate}}</li>
    <li [innerHTML]="'faq.question5.para9' | translate"></li>
    <li>{{'faq.question5.para10' | translate}}</li>
</ul>


