<div class="privacy-dashboard">
	<p class="privacy-dashboard__title">
		My privacy statistics
	</p>
	<ul class="privacy-dashboard-list">
		<li class="privacy-dashboard-list__item">
			<div class="privacy-dashboard-list__issues">
				<div class="privacy-dashboard-list__icon-holder privacy-dashboard-list__icon-holder--man"
					 rel="icon" role="img" aria-label="icon green man">
				</div>
				<p class="privacy-dashboard-list__value">{{dashboardData?.monitoredAccounts}}
					<span class="privacy-dashboard-list__value--grey">of {{dashboardData?.totalAccounts}}</span></p>
			</div>
			<p class="privacy-dashboard-list__text">
				Accounts monitored for breaches
			</p>
		</li>
		<li class="privacy-dashboard-list__item">
			<div class="privacy-dashboard-list__issues">
				<div class="privacy-dashboard-list__icon-holder privacy-dashboard-list__icon-holder--man-leaf"
					 rel="icon" role="img" aria-label="icon green man with green leaf"></div>
				<p class="privacy-dashboard-list__value">{{dashboardData?.maskedAccounts}}
					<span class="privacy-dashboard-list__value--grey">of {{dashboardData?.totalAccounts}}</span></p>
			</div>
			<p class="privacy-dashboard-list__text">
				Accounts with masked emails
			</p>
		</li>
		<li class="privacy-dashboard-list__item">
			<div class="privacy-dashboard-list__issues">
				<div class="privacy-dashboard-list__icon-holder privacy-dashboard-list__icon-holder--eye-cross"
					 rel="icon"
					 role="img" aria-label="icon cross eye"></div>
				<p class="privacy-dashboard-list__value">{{dashboardData?.blockedTrackers}}</p>
			</div>
			<p class="privacy-dashboard-list__text">
				Tracking tools blocked
			</p>
		</li>
		<li class="privacy-dashboard-list__item">
			<div class="privacy-dashboard-list__issues">
				<div class="privacy-dashboard-list__icon-holder privacy-dashboard-list__icon-holder--earth" rel="icon"
					 role="img" aria-label="icon green earth"></div>
				<p class="privacy-dashboard-list__value">{{dashboardData?.websitesConnectedPrivately}}</p>
			</div>
			<p class="privacy-dashboard-list__text">
				Sites connected privately
			</p>
		</li>
	</ul>
</div>
