<div class="vtr-widget-speedometer">
	<div class="widget-container">
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col">
					<div class="speed-label">{{speedLabel}}</div>
				</div>
				<div class="col">
					<div class="monitor-speed-container">
						<div class="monitor-speed">
							<div class="speed-ring"></div>
							<div class="speed-mask right">
								<div class="mask-obj"
									[ngStyle]="{'transform':'rotate('+getRightDeg(speedCurrent, speedMax)+'deg)'}">
									<div class="mask-ring"></div>
								</div>
							</div>
							<div class="speed-inner-ring"
								[ngStyle]="{'transform':'rotate('+getRightDeg(speedCurrent, speedMax)+'deg)'}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
