@import "../../../app.theme.scss";

.vtr-widget-speedometer {
	position: relative;
	.widget-container {
		border-radius: 2rem;
		background: $gaming_dark;
		padding: 0 2rem;
		width: 66rem;
		height: 23rem;
		transform: scale(.25);
		transform-origin: 0% 0%;
		.speed-label {
			margin-top: 8rem;
			width: 22rem;
			text-align: right;
			color: $light;
			text-transform: uppercase;
			font-size: 4rem;
			font-weight: 500;
		}
		.monitor-speed-container {
			position: relative;
			left: 2rem;
			top: -8.5rem;
			overflow: hidden;
			width: 19rem;
			height: 38rem;
			transform: rotate(-90deg);
			.monitor-speed {
				position: absolute;
				left: -19rem;
				background-color: $gaming_dark;
				width: 38rem;
				height: 38rem;
				border-radius: 50%;

				.speed-ring {
					// background-color: $highlight;
					background-image: url("../../../../../src/assets/images/smart-performance/smart-speed-ring.svg");
					background-size: 100% 100%;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					width: 34.5rem;
					height: 34.5rem;
					position: relative;
					top: 1.75rem;
					left: 1.75rem;
					border-radius: 50%;
					border: 0.75rem solid $gaming_darkest;
				}

				.speed-mask {
					overflow: hidden;
					width: 17.25rem;
					height: 34.5rem;
					position: absolute;
					top: 1.75rem;
					left: 1.75rem;
					transform-origin: center center;

					&.hidden {
						display: none;
					}
					.mask-obj {
						overflow: hidden;
						background-color: $gaming_dark;
						width: 17.25rem;
						height: 34.5rem;
						position: absolute;
						border-radius: 17.25rem 0 0 17.25rem;
						transform-origin: right center;

						.mask-ring {
							width: 34.5rem;
							height: 34.5rem;
							position: absolute;
							left: 0;
							border-radius: 50%;
							background-color: $gaming_bg;
						}
					}
					&.right {
						left: 19rem;
						.mask-obj {
							background-color: $gaming_darkest;
							content: "";
							position: absolute;
							width: 17.25rem;
							height: 34.5rem;
							border-radius: 0 17.25rem 17.25rem 0;
							transform-origin: left center;
							.mask-ring {
								left: -17.25rem;
							}
						}
					}
				}

				.speed-inner-ring {
					position: absolute;
					top: 6rem;
					left: 6rem;
					background-color: $gaming_dark;
					width: 26rem;
					height: 26rem;
					border-radius: 50%;
					border: 0.75rem solid $gaming_darkest;
					background-image: url("/assets/images/smart-performance/smart-speed-needle.svg");
					background-size: 90% 90%;
					background-position: 50% 50%;
					background-repeat: no-repeat;
				}
			}
		}
	}
}
