<div class="installed-browser__wrapper">
	<div class="installed-browser__collapsed">
		<div class="installed-browser__detail-col">
			<img class="installed-browser__icon" [src]="installedBrowser.img" alt="">
			<div class="installed-browser__description">
				<p *ngIf="installedBrowser.accountsCount > 0"
				   class="installed-browser__title">
					<span class="installed-browser__number">{{installedBrowser.accountsCount}}</span>
					account{{installedBrowser.accountsCount > 1 ? 's' : ''}}
					stored in {{installedBrowser.name}}
				</p>
				<p *ngIf="installedBrowser.accountsCount === 0"
				   class="installed-browser__title">
					No stored accounts in {{installedBrowser.name}}
				</p>
				<p *ngIf="installedBrowser.accountsCount === null"
				   class="installed-browser__title">{{installedBrowser.name}}</p>
			</div>
		</div>
		<ng-container *ngIf="!isFigleafInstalled">
			<!--before concent-->
			<button disabled *ngIf="installedBrowser.accountsCount === null"
					class="installed-browser__btn installed-browser__btn--disabled">
				Details
			</button>
			<!--browser does NOT have stored passwords-->
			<div *ngIf="installedBrowser.accountsCount === 0" class="accounts-safe"></div>
			<!--browser has stored passwords-->
			<button *ngIf="showDetailAction === 'expand' && installedBrowser.accountsCount"
					class="installed-browser__btn"
					vtrSendAnalytics
					[metricsEvent]="'ItemClick'"
					[metricsItem]="'NonPrivatePasswordsDetailItem'"
					[class.installed-browser__btn--expanded]="isDetailsExpanded"
					(click)="openAccordion.emit(index)">
				Details
			</button>
		</ng-container>
		<ng-container *ngIf="isFigleafInstalled">
			<button disabled *ngIf="installedBrowser.accountsCount === null"
					class="installed-browser__btn installed-browser__btn--disabled">
				Details
			</button>
			<div *ngIf="installedBrowser.accountsCount === 0" class="accounts-safe"></div>
			<button class="installed-browser__btn installed-browser__btn--action"
					*ngIf="installedBrowser.accountsCount > 0"
					vtrSendAnalytics
					[metricsEvent]="'ItemClick'"
					[metricsItem]="'NonPrivatePasswordsHowToFixButton'"
					(click)="howToFixClick.emit(installedBrowser.name)">
				How to fix
			</button>
		</ng-container>
	</div>
	<div [hidden]="!isDetailsExpanded || installedBrowser.accountsCount === 0" class="installed-browser__content" data-analyticsName="Details">
		<div [hidden]="!installedBrowser.accounts" class="browser-accounts__wrapper">
			<div class="accounts-title">
				<div class="accounts-title__img-col"></div>
				<div class="accounts-title__text-wrapper">
					<div class="accounts-title__website-col">
						<p class="accounts-title__text">Website name</p>
					</div>
					<div class="accounts-title__email-col">
						<p class="accounts-title__text">Username</p>
					</div>
					<div class="accounts-title__password-col">
						<p class="accounts-title__text">Password</p>
					</div>
				</div>
			</div>

			<div class="browser-accounts">
				<infinite-scroll (scrolled)="changeScrollEnd()">
					<ng-container *ngFor="let account of installedBrowser.accounts | slice:0:scrollEnd; trackBy: trackAccountsById; let i = index;">
						<div class="browser-accounts__item browser-account" [class.browser-account--first]="i === 0">
							<div class="browser-account__img-col">
								<img [src]="(account.domain | sitesFavicon | async)"
									 default="{{defaultIcon}}"
									 alt="account stored in browser image"
									 class="browser-account__img">
							</div>
							<div class="browser-account__text-wrapper">
								<div class="browser-account__website-col">
									<p class="browser-account__website" [title]="account.domain">{{account.domain}}</p>
								</div>
								<div class="browser-account__email-col">
									<p class="browser-account__email" [title]="account.login">{{account.login}}</p>
								</div>
								<div class="browser-account__pass-col">
									<p class="browser-account__pass" [title]="account.password">{{account.password}}</p>
								</div>
							</div>
						</div>
					</ng-container>
				</infinite-scroll>
			</div>
			<vtr-try-product-block
				[isFigleafReadyToCommunication]="isFigleafInstalled"
				[texts]="tryProductText">
			</vtr-try-product-block>
		</div>
	</div>
</div>
