@import "../../../../styles/common-blocks";

.installed-browser {
  &__wrapper {
    padding: 2.5rem 2rem;
    border: 1px solid #ECF0F1;
    border-radius: 5px;
    background-color: #F5F7F8;
    margin-top: 1rem;
  }
  &__collapsed {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__detail-col {
    display: flex;
    align-items: center;
  }
  &__icon {
    max-width: 4.3rem;
    max-height: 4.3rem;
  }
  &__description {
    padding: 0 1rem 0 1.7rem;
  }
  &__title {
    text-transform: uppercase;
    color: #34495E;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin: 0;
  }
	&__number {
		color: #FE5050;
	}
  &__text {
    color: #667481;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.3rem;
    margin: 0;
  }

	&__btn {
		@extend %button-link;

		&--expanded {
			@extend %button-link--open;
		}

		&--disabled {
			@extend %button-link--disabled;
		}

		&--action {
			text-transform: uppercase;
			border-bottom: 1px solid #2D62D8;
			padding: 0;
			&:before {
				display: none;
				background-image: none;
			}
		}
  }
  &__content {
    margin-top: 2rem;
	margin-left: 6rem;
    border-radius: 5px;
    overflow: hidden;
  }
}

.browser-preview {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: rgba(86,108,127,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30rem;
  &__text {
    color: #34495E;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.9rem;
    text-align: center;
    max-width: 60%;
    margin: 0;
  }
  &__btn {
    @extend %theme-btn;
    margin-top: 2rem;
    text-transform: uppercase;
    min-width: 24rem;
  }
}

.browser-accounts {
  background: #fff;
  height: 30rem;
  overflow: auto;
  border: 1px solid #C2C8CE;
  &__wrapper {
    height: 100%;
  }
}

.accounts-title {
  width: 100%;
  height: 2.5rem;
  padding: 0 2rem;
  background: #C2C8CE;
  display: flex;
  align-items: center;
  position: relative;
  &__text-wrapper {
    display: flex;
    width: 100%;
  }
  &__img-col {
    width: 4.2rem;
  }
  &__website-col {
    width: 30%;
  }
  &__email-col {
    width: 35%;
  }
  &__password-col {
    width: 35%;
  }
  &__text {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding: 0 2rem 0 1.4rem;
    margin: 0;
  }
}

.browser-account {
  padding: 2rem;
  border: 1px solid #ECF0F1;
  border-top: 0;
  display: flex;
  align-items: center;
  &--first {
    border-top: 1px solid #ECF0F1;
  }
  &__text-wrapper {
    display: flex;
    width: 100%;
  }
  &__img-col {
    width: 4.2rem;
  }
  &__img {
    max-width: 25px;
    max-height: 25px;
  }
  &__website-col {
    width: 30%;
  }
  &__website {
    padding: 0 2rem 0 1.4rem;
    color: #667481;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 23px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__email-col {
    width: 35%;
  }
  &__email {
    padding: 0 2rem 0 1.4rem;
    color: #667481;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 23px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__pass-col {
    width: 35%;
  }
  &__pass {
    padding: 0 2rem 0 1.4rem;
    color: #667481;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 23px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.accounts-safe {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: linear-gradient(135deg, #2ECC71 0%, #35E6B9 100%);
  border: 2px solid #2ECC71;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 1rem;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-40deg);
    border-bottom: 0.3rem solid #fff;
    border-left: 0.3rem solid #fff;
  }
}
