<div class="installed-browser__wrapper">
  <div class="installed-browser__collapsed">
    <div class="installed-browser__detail-col">
      <img class="installed-browser__icon" [src]="installedBrowser.img" alt="">
      <div class="installed-browser__description">
        <p *ngIf="installedBrowser.accountsCount !== null && installedBrowser.accountsCount > 0"
           class="installed-browser__title">
          <span class="installed-browser__number">{{installedBrowser.accountsCount}}</span>
          account{{installedBrowser.accountsCount > 1 ? 's': ''}}
          stored in {{installedBrowser.name}}
        </p>
		<p *ngIf="installedBrowser.accountsCount !== null && installedBrowser.accountsCount === 0"
		   class="installed-browser__title">
			No saved accounts in {{installedBrowser.name}}
		</p>
		<p *ngIf="installedBrowser.accountsCount === null" class="installed-browser__title">{{installedBrowser.name}}</p>
        <p class="installed-browser__text">
          You should consider a more private place to store your emails and passwords.
        </p>
      </div>
    </div>
    <!--before concent-->
    <button disabled *ngIf="installedBrowser.accountsCount === null"
			class="installed-browser__btn installed-browser__btn--disabled">
		See details
	</button>
    <!--browser does NOT have stored passwords-->
    <div *ngIf="installedBrowser.accountsCount === 0" class="accounts-safe"></div>
    <!--browser has stored passwords-->
    <a *ngIf="showDetailAction === 'link' && installedBrowser.accountsCount"
	   class="installed-browser__btn"
	   routerLink="./browser-accounts"
	   [queryParams]="{openId: index}">
		Show details
	</a>
    <button *ngIf="showDetailAction === 'expand' && installedBrowser.accountsCount"
			class="installed-browser__btn" (click)="toggleDetails()"
			[class.installed-browser__btn--expanded]="isDetailsExpanded">
		{{isDetailsExpanded ? 'Hide' : 'Show'}} details
	</button>
  </div>
  <div *ngIf="isDetailsExpanded" class="installed-browser__content">
    <div *ngIf="!installedBrowser.accounts" class="browser-preview">
      <p class="browser-preview__text">Find out why storing passwords in your browser isn't as private as you think.</p>
      <button class="browser-preview__btn" (click)="showBrowserPasswords()">Show me</button>
    </div>

    <div *ngIf="installedBrowser.accounts" class="browser-accounts__wrapper">
      <div class="accounts-title">
        <div class="accounts-title__img-col"></div>
        <div class="accounts-title__text-wrapper">
          <div class="accounts-title__website-col">
            <p class="accounts-title__text">Website name</p>
          </div>
          <div class="accounts-title__email-col">
            <p class="accounts-title__text">Username</p>
          </div>
          <div class="accounts-title__password-col">
            <p class="accounts-title__text">Password</p>
          </div>
        </div>
      </div>

      <div class="browser-accounts">
        <div *ngFor="let account of installedBrowser.accounts; trackBy: trackAccountsById; let i = index;">
          <div class="browser-accounts__item browser-account" [class.browser-account--first]="i === 0">
            <div class="browser-account__img-col">
              <img [src]="(account.domain | sitesFavicon | async)"
				   alt="account stored in browser image"
				   class="browser-account__img">
            </div>
            <div class="browser-account__text-wrapper">
              <div class="browser-account__website-col">
                <p class="browser-account__website" [title]="account.domain">{{account.domain}}</p>
              </div>
              <div class="browser-account__email-col">
                <p class="browser-account__email" [title]="account.login">{{account.login}}</p>
              </div>
              <div class="browser-account__pass-col">
                <p class="browser-account__pass" [title]="account.password">{{account.password}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
		<vtr-try-product-block *ngIf="isFigleafInstalled$" [texts]="tryProductText">
		</vtr-try-product-block>
    </div>
  </div>


</div>
