<div class="gaming-advanced-oc gaming-modal-fun">
    <div class="modal-loading" *ngIf="loading">
        <fa-icon [icon]="['fal', 'circle-notch']" class="icon" [spin]="true"></fa-icon>
    </div>
    <div class="modal-main" *ngIf="!loading" role="text" id="overclock_advanced_settings_popup" >
        <div class="modal-header" role="text" id="gpu_overclock_section">
            <h2 role="text" id="overclock_advanced_settings_header">{{ 'gaming.dashboard.device.advancedOC.title' | translate }}</h2>
            <p tabindex="-1" role="text" id="overclock_advanced_settings_header_description">{{ 'gaming.dashboard.device.advancedOC.description' | translate }}</p>
            <button type="button" class="close" id="overclock_advanced_settings_close_button" aria-label="close" role="button" (click)="closeModal()">
                ×
            </button>
        </div>
        <div class="modal-body" tabindex="-1" >
            <div class="gpu-overclock-box overclock-box" *ngIf="advanceGPUOCFeature" [ngClass]="{'marginBtnNone': (advanceGPUOCFeature && !advanceCPUOCFeature)}"  role="text" id="gpu_overclock_section">
                <h3 role="text" id="gpu_overclock_section_item">{{ 'gaming.dashboard.device.advancedOC.gpuOverclock' | translate }}</h3>
                <ul class="clearfix">
                    <li *ngFor="let item of advancedOCInfo.gpuParameterList; let idx = index">
                        <p class="overclock-name" role="text" [id]="removeSpaces(itemUnit.gpuOCNames['gpuOCName'+item.tuneId]) + '_item'" [title]="'gaming.dashboard.device.advancedOC.gpuOCTips.gpuOCTip'+item.tuneId | translate">
                            {{ 'gaming.dashboard.device.advancedOC.gpuOCNames.gpuOCName'+item.tuneId | translate }}
                        </p>
                        <div class="overclock-range" tooltipClass="vtr-tool-tip" container="body">
                            <div class="left-slider">
                                <vtr-ui-gaming-slider [minValue]="item.minValue" [maxValue]="item.maxValue" [step]="item.stepValue" [currentVal]="item.OCValue" (onSliderChanged)="setRangeValue($event,idx,'gpuParameterList',0,false)"
                                [automationId]="removeSpaces(itemUnit.gpuOCNames['gpuOCName'+item.tuneId]) + '_slider'"  [vtrMetricEnabled]="false" [ariaLabelValue]="itemUnit.gpuOCNames['gpuOCName'+item.tuneId]"></vtr-ui-gaming-slider>
                            </div>
                            <div class="right-range">
                                <vtr-ui-add-reduce-button [automationId]="removeSpaces(itemUnit.gpuOCNames['gpuOCName'+item.tuneId])" [btnWidth]="'26.3%'" [value]="item.OCValue" [minData]="item.minValue" [maxData]="item.maxValue" [step]="item.stepValue" [unit]="itemUnit['gpuAdvancedOC'+item.tuneId]" (setVal)="setRangeValue($event,idx,'gpuParameterList',0,true)"
                                    [tabIndexNum]="0" [ariaLabelValue]="itemUnit.gpuOCNames['gpuOCName'+item.tuneId]"></vtr-ui-add-reduce-button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cpu-overclock-box overclock-box" *ngIf="advanceCPUOCFeature" role="text" id="cpu_overclock_section">
                <h3 role="text" id="cpu_overclock_section_item">{{ 'gaming.dashboard.device.legionEdge.title' | translate }}</h3>
                <ul class="clearfix">
                    <li *ngFor="let item of advancedOCInfo.cpuParameterList; let idx = index">
                        <p class="overclock-name" role="text" [id]="removeSpaces(itemUnit.cpuOCNames['cpuOCName'+item.tuneId]) + '_item'" [title]="((item.tuneId>=116 && item.tuneId<=125) || (item.tuneId>=29 && item.tuneId<=32) ||
                            item.tuneId==42 || item.tuneId==43 || item.tuneId==96 || item.tuneId==97 || item.tuneId==107 || item.tuneId==108) ? ('gaming.dashboard.device.advancedOC.cpuOCTips.cpuOCTip' | translate) : ('gaming.dashboard.device.advancedOC.cpuOCTips.cpuOCTip'+item.tuneId | translate)">
                            {{ 'gaming.dashboard.device.advancedOC.cpuOCNames.cpuOCName'+item.tuneId | translate }}
                        </p>
                        <div class="overclock-range" tooltipClass="vtr-tool-tip" container="body">
                            <div class="left-slider">
                                <vtr-ui-gaming-slider [minValue]="item.minValue" [maxValue]="item.maxValue" [step]="item.stepValue" [currentVal]="item.OCValue" (onSliderChanged)="setRangeValue($event,idx,'cpuParameterList',item.tuneId,false)"
                                [automationId]="removeSpaces(itemUnit.cpuOCNames['cpuOCName'+item.tuneId]) + '_slider'"  [vtrMetricEnabled]="false" [ariaLabelValue]="itemUnit.cpuOCNames['cpuOCName'+item.tuneId]"></vtr-ui-gaming-slider>
                            </div>
                            <div class="right-range">
                                <vtr-ui-add-reduce-button [automationId]="removeSpaces(itemUnit.cpuOCNames['cpuOCName'+item.tuneId])" [btnWidth]="'26.3%'" [value]="item.OCValue" [minData]="item.minValue" [maxData]="item.maxValue" [step]="item.stepValue" [unit]="itemUnit['cpuAdvancedOC'+item.tuneId]" (setVal)="setRangeValue($event,idx,'cpuParameterList',item.tuneId,true)"
                                    [tabIndexNum]="0" [ariaLabelValue]="itemUnit.cpuOCNames['cpuOCName'+item.tuneId]"></vtr-ui-add-reduce-button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="under-line-button" (click)="openSetToDefaultModal()" id="overclock_advanced_settings_set_to_default_button" aria-label="set to default" role="button">
                {{'gaming.lightingProfile.button.default.title' | translate}}
            </button>
        </div>
    </div>

</div>
