<div class="subheader mt-60">
	<div class="rounded-card-with-shadow p-5 bg-white">
		<div class="">
			<div class="row">
				<div class="col-auto px-0 mr-auto">
					<div class="title pb-3">Some updates were not installed correctly</div>
				</div>
			</div>

			<div class="subtitle pb-5">Something went wrong during downloading or installation of these updates. Please
				make sure you are online and keep don't turn off your computer when installing these updates.
			</div>
			<hr>
			<div class="updates-heading">3 critical updates</div>

			<ul class="list-group">
				<li class="list-group-item">
					<div class="row align-items-center">
						<div class="col-auto px-3">
							<div class="bullet-icon-check">
								<div class="icon-bkg">
									<fa-icon [icon]="['fas', 'check']"></fa-icon>
								</div>
							</div>
						</div>
						<div class="col col-11 text px-0">
							<div class="update-title">Lenovo Intelligent Thermal Solutions driver <span
									class="update-number">- 10[64]</span>
							</div>
						</div>
						<fa-icon class="question"
							[icon]="['far', 'question-circle']"></fa-icon>
					</div>

				</li>

				<li class="list-group-item">
					<div class="row align-items-center">
						<div class="col-auto px-3 ">
							<div class="bullet-icon-check">
								<div class="icon-bkg">
									<fa-icon [icon]="['fas', 'check']"></fa-icon>
								</div>
							</div>
						</div>
						<div class="col col-11 text px-0">
							<p class="update-title">Lenovo Intelligent Thermal Solutions driver <span
									class="update-number">- 10[64]</span></p>
						</div>
						<fa-icon class="question"
							[icon]="['far', 'question-circle']"></fa-icon>
					</div>

				</li>

				<li class="list-group-item">
					<div class="row align-items-center">
						<div class="col-auto px-3">
							<div class="bullet-icon-times">
								<div class="icon-bkg">
									<fa-icon [icon]="['fas', 'times']"></fa-icon>
								</div>
							</div>
						</div>
						<div class="col col-11 text px-0">
							<p class="update-title">Intel wireless LAN driver <span class="update-number"> - (Windoes 10
									Build 1709 And Later ) - 10[64]</span></p>
						</div>
						<fa-icon class="question"
							[icon]="['far', 'question-circle']"></fa-icon>
					</div>

				</li>

			</ul>

		</div>

	</div>
</div>
