<div class="vtr-page-{{pageCssClass}} vtr-page container-fluid">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="pageTitle"
				[back]="backLinkText"
				[parentPath]="parentPath"
				[menuItems]="menuItems"
				[forwardLink]=""
				[textId]="textId"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-lg-7 col-xl-8 vtr-page-left-column"
						[class.padding-bottom-20]="increasePadding">
						<div class="vtr-page-shift-up nmx-40">
							<!-- add the select attribute to ng-content -->
							<ng-content select="left-content"></ng-content>
						</div>
					</div>
					<div class="col-sm-12 col-lg-5 col-xl-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<!-- add the select attribute to ng-content -->
							<ng-content select="right-content"></ng-content>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
