registry=https://registry.npmjs.org/
@lenovo:registry=https://artifactory.tc.lenovo.com/artifactory/api/npm/npm-virtual
strict-ssl=false
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=D12A4A22-1370-4E02-94E5-7F631FD9C4E0
