<div class='title'>{{'faq.question6.title' | translate}}</div>
<hr/>
<h3 class='heading2'>{{'faq.question6.heading1' | translate}}</h3>
<hr/>
<p>{{'faq.question6.para1' | translate}}</p>
<p>{{'faq.question6.para2' | translate}}</p>
<p>{{'faq.question6.para3' | translate}}</p>
<p>{{'faq.question6.para4' | translate}}</p>
<img [src]="'assets/images/qa/' + langCode + '6.1.jpg'" />
<p></p>
<p>{{'faq.question6.para5' | translate}}</p>
<p>{{'faq.question6.para6' | translate}}</p>
<ul>
    <li>{{'faq.question6.unorderedList1.listItem1' | translate}}</li>
    <li>{{'faq.question6.unorderedList1.listItem2' | translate}}</li>
    <li>{{'faq.question6.unorderedList1.listItem3' | translate}}</li>
    <li>{{'faq.question6.unorderedList1.listItem4' | translate}}</li>
    <li>{{'faq.question6.unorderedList1.listItem5' | translate}}</li>
    <li>{{'faq.question6.unorderedList1.listItem6' | translate}}</li>
    <li>{{'faq.question6.unorderedList1.listItem7' | translate}}</li>
    <li>{{'faq.question6.unorderedList1.listItem8' | translate}}</li>
</ul>
<h3 class='heading2'>{{'faq.question6.heading2' | translate}}</h3>
<hr/>
<p>{{'faq.question6.para7' | translate}}</p>
<p>{{'faq.question6.para8' | translate}}</p>
<p>{{'faq.question6.para9' | translate}}</p>
<p>{{'faq.question6.para10' | translate}}</p>
<img [src]="'assets/images/qa/' + langCode + '6.2.jpg'" />
<p></p>
<h3 class='heading2'>{{'faq.question6.heading3' | translate}}</h3>
<hr/>
<p [innerHTML]="'faq.question6.para11' | translate"></p>
<img [src]="'assets/images/qa/' + langCode + '6.3.jpg'" />
<p></p>
<h3 class='heading2'>{{'faq.question6.heading4' | translate}}</h3>
<p>{{'faq.question6.para12' | translate}}</p>
