@import '../../../app.theme.scss';

.search-tips {
	position: fixed;
	top: 9.5rem;
	right: 2.2rem;
	opacity: 1;
	background: $light;
	box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
	background: $main_lightest;
	border: 1px solid $main_lighter;
	border-radius: 0.5rem;
	max-width: 40rem;
	z-index: 12;
	padding: 1rem 3rem;
	animation: showSearchTips 0.3s ease-out 1;

	.title {
		font-size: 2rem;
		margin-bottom: 0.5rem;
		color: $main_shade;
	}

	.content {
		font-size: 1.8rem;
		line-height: 2rem;
		font-weight: $weight_bold;
	}
}

@keyframes showSearchTips {
	0%,
	10% {
		right: -2rem;
		opacity: 0;
	}

	100% {
		right: 2.2rem;
		opacity: 1;
	}
}
