<div class="modal-body vtr-modal-license">
  <div role="button" class="close-btn" aria-hidden="true"
				vtrMetrics
				metricsItem="{{licenseModalMetrics.closeButton}}"
				metricsEvent="FeatureClick"
				metricsParent="{{licenseModalMetrics.pageName}}"
				(click)="closeModal()">
		<img [src]=" '/assets/icons/Close.svg' | svgInline | async" alt="" srcset="">
	</div>
	<div class="article-content" *ngIf="type=='txt'">
		<div class="article-body" [innerHTML]="articleBody"></div>
	</div>
	<div class="iframe-content" *ngIf="type!='txt'">
		<iframe id="license-agreement-iframe" class="article-frame" src="" width="100%" height="100%" ></iframe>
	</div>
</div>
