@import "../../../app.theme.scss";

.vtr-modal-battery-charge-threshold {
	h1 {
		font-size: $fontsize_xl;
		font-weight: normal;
		color: $blue-dark;
	}

	p {
		font-size: $fontsize_xs;
		color: $light-grey;
		padding: 0.5rem 0;
	}

	.enable-button {
		background: $gradient_main;
		border-radius: 3rem;
		color: $light;
		font-size: $fontsize_xs;
		padding: 1.5rem 3rem;
		font-weight: 500;
		margin-top: 1rem;
		text-transform: uppercase;
		font-weight: $weight_bold;
	}

	.cancel-link {
		color: $main;
		font-size: $fontsize_xs;
		vertical-align: middle;
		padding: 1.5rem 3rem;
		text-transform: uppercase;
		font-weight: $weight_bold;
		margin-top: 1rem;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
	.close-btn {
		position: absolute;
		right: 1.8rem;
		top: 1.8rem;
		width: 2.2rem;
		height: 2.2rem;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}
