@import "../../../app.theme.scss";

.vtr-modal-battery-charge-threshold {
	&.modal-body {
		padding: 0;
	}

	fa-icon {
		font-size: 3rem;
		color: $main;
	}

	h1 {
		font-size: 2.5rem;
		font-weight: normal;
		color: $blue-dark;
	}

	p {
		font-size: 1.6rem;
		color: $light-grey;
		padding: 0.5rem 0;
	}

	.enable-button {
		background: $gradient_main;
		border-radius: 3rem;
		color: $light;
		font-size: 1.5rem;
		padding: 1.5rem 3rem;
		font-weight: 500;
		margin-top: 1rem;
		text-transform: uppercase;
		font-weight: $weight_bold;
	}

	.cancel-link {
		color: $main;
		font-size: 1.5rem;
		text-decoration: underline;
		vertical-align: middle;
		padding: 1.5rem 3rem;
		text-transform: uppercase;
		font-weight: $weight_bold;
		margin-top: 1rem;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}
