<button
	class="position-relative float-right closeButton"
	id="ds-{{id}}-popup-close-button"
	aria-label="close modal"
	(click)="closeModal()"
	vtrMetrics
	metricsItem="ThresholdCloseButton"
	metricsEvent="FeatureClick"
	metricsParent="Page.DeviceSettings.Power"
>
	<mat-icon class="icon close-icon">close</mat-icon>
</button>
<div class="vtr-modal-battery-charge-threshold"
	id="modal-battery-charge-threshold"
	role="dialog"
	aria-modal="true">
	<div class="content">
		<h4 id="ds-{{id}}-popup"
			[innerHTML]="title | translate"></h4>
		<p id="ds-{{id}}popup-description1"
			[innerHTML]="description1 | translate"></p>
		<p id="ds-{{id}}popup-description2"
			[innerHTML]="description2 | translate"></p>

		<!-- Note if machine is DLS/PI capable -->
		<div class="row"
			*ngIf="id==='threshold' && batteryService.isDlsPiCapable">
			<div class="col">
				<div class="note-box">
					<div class="note"
						id="threshold-dls-pi-mode"
						role="note">
						{{'device.deviceSettings.power.batterySettings.batteryThreshold.popup.description3' | translate}}
						<p id=""
							role="text"
							[innerHtml]="'device.deviceSettings.batteryGauge.details.moreInfo' | translate"></p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Note -->

		<hr aria-hidden="true">
		<div class="row">
			<button id="battery-{{id}}-popup-{{buttonId | lowercase}}"
				cdkFocusInitial 
				attr.aria-label="battery-threshold-popup-enable"
				tabindex="0"
				class="btn enable-button"
				(click)="onPositiveButtonClick()"
				(keydown.enter)="onPositiveButtonClick()">
				<span class="text-ellipsis">{{positiveResponseText | translate}}</span>
			</button>
			<a id="battery-{{id}}-popup-cancel"
				attr.aria-label="battery-threshold-popup-cancel"
				role="button"
				tabindex="0"
				(click)="closeModal()"
				class="cancel-link active">{{negativeResponseText | translate}}</a>
		</div>
	</div>
</div>
