<div class="modal-body vtr-modal-battery-charge-threshold">
	<div class="row justify-content-end">
		<div class="btn-close">
			<button type="button"
				class="close"
				aria-hidden="true"
				(click)="closeModal()">
				<fa-icon [icon]="['fal', 'times']"></fa-icon>
			</button>
		</div>
	</div>
	<h1 id="ds-threshold-popup"
		attr.aria-label="ds-threshold-popup"
		[innerHTML]="title | translate"></h1>
	<p id="ds-thresholdpopup-description1"
		attr.aria-label="ds-thresholdpopup-description1"
		[innerHTML]="description1 | translate"></p>
	<p id="ds-thresholdpopup-description2"
		attr.aria-label="ds-thresholdpopup-description2"
		[innerHTML]="description2 | translate"></p>
	<hr>
	<div class="row">
		<button id="battery-threshold-popup-enable"
			attr.aria-label="battery-threshold-popup-enable"
			class="btn enable-button"
			(click)="enableBatteryChargeThreshold()">
			{{positiveResponseText | translate}}
		</button>
		<a id="battery-threshold-popup-cancel"
			attr.aria-label="battery-threshold-popup-cancel"
			(click)="closeModal()"
			class="cancel-link active">{{negativeResponseText | translate}}</a>
	</div>

</div>
