<div class="modal-body vtr-modal-battery-charge-threshold"
	role="dialog"
	aria-modal="true">
	<div class="row justify-content-end">
		<div class="btn-close">
			<button type="button"
				role="button"
				class="close"
				tabindex="0"
				id="ds-threshold-popup-close-button"
				aria-hidden="true"
				attr.aria-label="ds-threshold-popup-close-button"
				(click)="closeModal()"
				(keydown.enter)="closeModal()">
				<fa-icon [icon]="['fal', 'times']"></fa-icon>
			</button>
		</div>
	</div>
	<h1 id="ds-threshold-popup"
		role="text"
		ngbAutofocus>
		{{title | translate}}</h1>
	<p id="ds-thresholdpopup-description1"
		role="text"
		[innerHTML]="description1 | translate">
	</p>
	<p id="ds-thresholdpopup-description2"
		role="text"
		[innerHTML]="description2 | translate">
	</p>
	<hr aria-hidden="true">
	<div class="row">
		<button id="battery-threshold-popup-enable"
			tabindex="0"
			role="button"
			attr.aria-label="battery-threshold-popup-enable"
			class="btn enable-button"
			(click)="enableBatteryChargeThreshold()"
			(keydown.enter)="enableBatteryChargeThreshold()">{{positiveResponseText | translate}}</button>
		<a id="battery-threshold-popup-cancel"
			attr.aria-label="battery-threshold-popup-cancel"
			tabindex="0"
			role="link"
			(click)="closeModal()"
			(keydown.enter)="closeModal()"
			class="cancel-link active">{{negativeResponseText | translate}}</a>
	</div>

</div>
