<div class="modal-body vtr-modal-threat-locator" id="modal-threat-locator" [ngClass]="{'connection-error-modal': !online}">
	<h1>Threat locator</h1>
	<div class="iframe-container"
	 [style.height.px]="document.body.clientHeight / ratio">
		<div *ngIf="!online" class="disabled-network p-5">
			<p class="title">{{ 'security.wifisecurity.threatlocator.connectionError' | translate}}</p>
			<p class="subscribe">{{ 'security.wifisecurity.threatlocator.tryAgain' | translate}}</p>
		</div>
		<iframe *ngIf="online" [src]="threatLocatorUrl | sanitize : 'resourceUrl'"
			attr.sandbox="allow-scripts allow-same-origin allow-popups allow-forms"
			class="w-100 h-100 border"
			scrolling="no"
			frameborder="0"></iframe>
	</div>
	<a href="javascript:;"
		role="button"
		id="sa-ws-btn-closelocator"
		class="close-btn"
		aria-hidden="true"
		vtrMetrics
		metricsItem="ThreatLocatorDialogCloseButton"
		metricsEvent="FeatureClick"
		metricsParent="Wifi Security"
		(click)="closeModal()">
		<img [src]=" '/assets/icons/Close.svg' | svgInline | async" alt="" srcset="">
	</a>
</div>
