<div class="modal-body vtr-modal-threat-locator" id="modal-threat-locator" [ngClass]="{'connection-error-modal': !online}" #domModalDiv tabindex="-1" role=dialog>
	<h1 class="mb-3">Threat locator</h1>
	<div class="iframe-container">
		<div *ngIf="!online" class="disabled-network text-center h-100">
			<div class="offline-info">
				<fa-icon class="wifi-slash" [icon]="['fal', 'wifi-slash']"></fa-icon>
				<p class="subscribe" innerHTML="{{'security.wifisecurity.threatlocator.tryAgain' | translate}}"></p>
			</div>
		</div>
		<iframe *ngIf="online" [src]="threatLocatorUrl | sanitize : 'resourceUrl'"
			attr.sandbox="allow-scripts allow-same-origin allow-popups allow-forms"
			class="w-100 h-100 border"
			scrolling="no"
			frameborder="0"></iframe>
	</div>
</div>
<div class="btn-modal-close">
	<vtr-ui-close-button linkId="sa-ws-btn-closelocator"
		metricsItem="ThreatLocatorDialogCloseButton"
		metricsParent="Wifi Security"
		(clickClose)="closeModal()"></vtr-ui-close-button>
</div>
