<aside class="sidebar">
    <vtr-sidebar-benefits-widget></vtr-sidebar-benefits-widget>
    <vtr-sidebar-preview [data]="news"></vtr-sidebar-preview>
    <vtr-sidebar-preview [data]="tips"></vtr-sidebar-preview>
    <vtr-faq></vtr-faq>

    <nav style="font-size: 12px"> <!-- Links to all pages (just for test)-->
        <a routerLink="./result" routerLinkActive="active">Result </a>
        <a routerLink="./trackers" routerLinkActive="active">Trackers </a>
        <a routerLink="./breaches" routerLinkActive="active">Breaches </a>
        <a routerLink="./installed" routerLinkActive="active">Installed </a>
        <a routerLink="./browser-accounts" routerLinkActive="active">BrowserAccounts </a>
    </nav>
</aside>
