<aside class="sidebar">
    <vtr-sidebar-benefits-widget></vtr-sidebar-benefits-widget>
    <vtr-sidebar-preview [data]="news"></vtr-sidebar-preview>
    <vtr-sidebar-preview [data]="tips"></vtr-sidebar-preview>
    <vtr-faq></vtr-faq>

    <nav style="font-size: 2rem;">
        <strong>DEBUG:</strong>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLink="./scan" routerLinkActive="active">Scan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./trackers" routerLinkActive="active">Trackers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./breaches" routerLinkActive="active">Breaches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./installed" routerLinkActive="active">Installed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./browser-accounts" routerLinkActive="active">Browser Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./faq" routerLinkActive="active">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./tips" routerLinkActive="active">TipsList</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./news" routerLinkActive="active">NewsList</a>
            </li>
        </ul>
        <button (click)="deleteAccessToken()" class="btn" style="background-color: #2E62D9; color: #fff;">Delete AccessToken</button>
    </nav>
</aside>
