<div class="row">
    <div class="col">
        <h1>{{'common.menu.security.sub1' | translate}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6">
        <vtr-container-card [img]="cardContentPositionA.FeatureImage" [caption]="cardContentPositionA.Description"
            [title]="cardContentPositionA.Title" [logoText]="cardContentPositionA.BrandName"
            [action]="cardContentPositionA.Action" [actionType]="cardContentPositionA.ActionType"
            [actionLink]="cardContentPositionA.ActionLink" [itemID]="cardContentPositionA.ActionLink" [ratio]="2"
            type="subpage-corner" order="1" sideFlag="r" cornerShift="large" [containerCardId]="'sa-ov-modal'">
        </vtr-container-card>
    </div>
</div>