<vtr-page-layout [title]="'gaming.autoClose.title' | translate" [textId]="'autoclose'" [pageCssClass]="'autoclose'"
	[shiftLeftUp]="true" [shiftRightUp]="true" [back]="'common.ui.back' | translate"
	[backId]="'vtr-gaming-autoclose-btn-back'">

	<left-content>
		<div class="container-fluid">
			<div class="row" *ngIf="!isOnline">
				<div class="col col-12 px-0 pt-0 pb-40">
					<vtr-widget-offline-info [title]="'dashboard.offlineInfo.title' | translate"
						[subtitle]="'dashboard.offlineInfo.subtitle' | translate"
						[buttonText]="'dashboard.offlineInfo.buttonText' | translate" [isSubtitleVisible]="false"
						[isButtonVisible]="false" id="dashboard-btn-connectivity">
					</vtr-widget-offline-info>
				</div>
			</div>
			<div class="row">
				<div class="col col-12 px-0 pt-0 pb-40">
					<div class="vtr-widget-system-monitor">
						<div class="widget-container">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-12">
										<vtr-ui-toggle *ngIf='toggleStatus !== undefined' [toggleId]="'Auto close '"
											(toggle)="toggleAutoClose($event)" [value]="toggleStatus">
										</vtr-ui-toggle>
										<p class="intro-text">
											{{'gaming.autoClose.introLine' | translate}}</p>
										<vtr-widget-autoclose [appListData]="autoCloseAppList"
											(actionModal)="openTargetModal()"
											(removeFromList)="deleteAppFromList($event)"
											[modalStatus]="showAppsModal || showTurnOnModal">
										</vtr-widget-autoclose>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<div class="row">
				<div *ngIf="!deviceService.isGaming" class="col col-12 px-0 pt-0 pb-40">
					<vtr-container-card [ngClass]="{'cursor-default': isOnline == false}" order="1" [itemID]="cardContentPositionF.Id"
						[img]="cardContentPositionF.FeatureImage" [title]="cardContentPositionF.Title"
						[logoText]="cardContentPositionF.BrandName" [action]="cardContentPositionF.Action"
						[dataSource]="cardContentPositionF.DataSource" [actionType]="cardContentPositionF.ActionType"
						[actionLink]="cardContentPositionF.ActionLink" [type]="'article'" [ratioX]="4"
						[ratioY]="4">
					</vtr-container-card>
				</div>

				<div class="col col-12 px-0 pt-0 pb-40">
					<vtr-container-card [ngClass]="{'cursor-default': isOnline == false}" order="2" [itemID]="cardContentPositionC.id"
						[dynamicmetricsItem]="dynamic_metricsItem" [img]="cardContentPositionC.FeatureImage"
						[caption]="cardContentPositionC.Description" [title]="cardContentPositionC.Title"
						[logoText]="cardContentPositionC.BrandName" [action]="cardContentPositionC.Action"
						[dataSource]="cardContentPositionC.DataSource" [actionType]="cardContentPositionC.ActionType"
						[actionLink]="cardContentPositionC.ActionLink" [type]="'corner'" [ratioX]="4"
						[ratioY]="2" [cornerShift]="'large'">
					</vtr-container-card>
				</div>
			</div>
		</div>
	</right-content>

</vtr-page-layout>

<vtr-modal-turn-on *ngIf="showTurnOnModal" (actionNeedAsk)="doNotShowAction($event)"
	(closeTurnOnModal)="modalCloseTurnOn($event)" (actionNotNow)="showTurnOnModal=false;initNotNowAction($event)"
	(actionTurnOn)="showTurnOnModal=false;initTurnOnAction()">
</vtr-modal-turn-on>

<vtr-modal-add-apps *ngIf="showAppsModal" (addAppToList)="addAppDataToList($event)"
	(closeAddAppsModal)="modalCloseAddApps($event)">
</vtr-modal-add-apps>
