@import '../../../app.theme.scss';

.vtr-modal-dcc-detail {
	padding: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	height: calc(100vh - 5.5rem);
	box-sizing: border-box;
	
	&:hover {
		overflow-y: auto;
	}

	&:hover {
		overflow-y: auto;
	}

	fa-icon {
		font-size: 2rem;
		color: $main;
	}

	.content {
		width: 100%;
		overflow-x: hidden;
	}

	.img-top {
		max-width: 100%;
		height: 340px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(/assets/images/dcc/img-dcc-detail-bg-1.jpg);
		.title {
			font-size: 3.1rem;
			font-weight: $weight_regular;
			width: 50%;
			text-align: center;
			color: $light;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.img-medium {
		max-width: 100%;
		min-height: 340px;
		padding: 2.4rem;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(/assets/images/dcc/img-dcc-detail-bg-2.jpg);
		display: flex;
		flex-direction: column;
		justify-content: center;
		.subtitle {
			font-size: $fontsize_xl;
			font-weight: bold;
			color: $dark;
			text-align: center;
		}
		.icons {
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			.button {
				display: inline-block;
				width: 5rem;
				height: 5rem;
				margin: 2rem;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
		.body {
			font-size: 1.8rem;
			color: $blue-dark;
		}
		.white-button {
			display: flex;
			align-items: center;
			margin-top: 2rem;
			.button-box {
				.button {
					border: 0.1rem solid $main !important;
					background: $light !important;
					color: $main !important;
					min-height: 3rem;
					min-width: 10rem;
					&:hover {
						background: $light;
						color: $main;
					}
				}
			}
		}
	}

	.img-bottom {
		max-width: 100%;
		height: 340px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(/assets/images/dcc/img-dcc-detail-bg-3.jpg);
		.text-content {
			width: 45%;
			height: 100%;
			padding-left: 8%;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-content: center;
			.subtitle2 {
				font-size: $fontsize_xl;
				font-weight: bold;
				color: $dark;
			}
			.body2 {
				font-size: 1.8rem;
				color: $blue-dark;
			}
		}
	}
}

.close-btn {
	position: absolute;
	right: 2rem;
	top: 2rem;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	opacity: 0.8;

	&:hover {
		opacity: 0.6;
	}

	img {
		position: relative;
		width: 4rem;
		height: 4rem;
		filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
	}
}
