@import "../../../app.theme.scss";

.select-box {
	@media #{$black-on-white} {
		background-color: transparent;
		border: 0.1rem solid $dark;
	}
	@media #{$white-on-black} {
		background-color: transparent;
		border: 0.1rem solid $light;
	}
	&:hover {
		.dropdown-menu {
			display: none;
			&.show {
				display: block;
			}
		}
	}
	@media #{$black-on-white} {
		background-color: $high-contrast-grey;
		border: 0.1rem solid $dark;
	}
	@media #{$white-on-black} {
		background-color: $high-contrast-grey;
		border: 0.1rem solid $light;
	}
	a {
		text-decoration: none !important;
	}
	.brightCondition {
		color: $gaming_lightest;
		font-size: 1.8rem;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		@media #{$large-screen-1} {
			font-size: 1.6rem;
		}
	}
	.dropdown-toggle {
		display: flex;
		justify-content: space-between;
		font-size: 1.6rem;
		color: $shade_light;
		margin-bottom: -1.2rem;
		.icon {
			position: relative;
			font-size: 2.2rem;
			top: 0px !important;
			@media #{$black-on-white} {
				color: $high-contrast-grey;
			}
			@media #{$white-on-black} {
				color: $high-contrast-grey;
			}
		}
		&::after {
			display: none;
		}
	}
	.gaming-dropdown-menu {
		width: 100%;
		background-color: $gaming_shade;
		@media #{$black-on-white} {
			border: 0.1rem solid $dark;
		}
		@media #{$white-on-black} {
			border: 0.1rem solid $light;
		}
		border: none;
		border-radius: 0.8rem;
		position: absolute;
		overflow: hidden;
		z-index: 10;
		top: 3.5rem;
		@media #{$black-on-white} {
			background-color: $high-contrast-grey;
			border: 0.1rem solid $dark;
		}
		@media #{$white-on-black} {
			background-color: $high-contrast-grey;
			border: 0.1rem solid $light;
		}
		li {
			list-style: none;
			.dropdown-item {
				color: $gaming_lightest;
				font-size: 1.6rem;
				height: 5.5rem;
				line-height: 5.5rem;
				position: relative;
				padding-left: 5rem;
				.icon {
					position: absolute;
					left: 2rem;
					font-size: 2rem;
					background: $gaming_green_gradient;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					opacity: 0;
				}
				&:hover {
					background: $gaming_hover;
					@media #{$black-on-white} {
						background-color: $high-contrast-grey;
						border: 0.1rem solid $dark;
					}
					@media #{$white-on-black} {
						background-color: $high-contrast-grey;
						border: 0.1rem solid $light;
					}
				}
			}
			&.selected {
				.dropdown-item {
					.icon {
						opacity: 1;
						color: $good_dark;
					}
				}
			}
		}
		.information {
			margin: 1.6rem;
			margin-bottom: 5rem;
			margin-top: 0;
			border-top: 1px solid $gaming_darkest;
			padding-top: 1.6rem;
			p {
				font-size: 1.4rem;
				color: $main_lightest;
			}
		}
	}
}
.dropdown-item {
	&:focus {
		background: $gaming_hover;
	}
}
::ng-deep vtr-ui-lighting-effect {
	.select-box {
		ngb-tooltip-window.tooltip {
			top: 1.5rem !important;
			.arrow {
				height: 0.5rem;
				&::before {
					top: 0px;
					border-width: 1.2rem 1.2rem 0;
					border-top-color: $gaming_lightest;
				}
			}
			.tooltip-inner {
				padding: 2.4rem;
				min-width: 45rem;
				text-align: center;
				background-color: #fff;
				border-radius: 0.4rem;
				font-size: 1.4rem;
				color: $gaming_dark;
			}
		}
	}
}
