<div class="select-box">
	<div class="dropdown">
		<a class="dropdown-toggle" id="gaming-drop" (click)="toggleOptions()">
			<span *ngIf="selectedOption">{{ selectedOption.name | translate }}</span>
			<fa-icon class="icon" [icon]="['fal', 'chevron-down']"></fa-icon>
		</a>
		<ng-container *ngIf="showOptions">
			<div class="gaming-dropdown-menu">
				<ng-container *ngFor="let option of options.dropOptions; index as i">
					<li [ngClass]="{ 'selected': selectedOption && option.name === selectedOption.name }"
						(click)="optionSelected(option)" (mouseenter)="changeDescription(option)"
						(mouseleave)="resetDescription(option)" vtrMetrics [metricsItem]="option.id"
						metricsParam="{{option.id}}" metricsValue="{{option.value}}" metricsEvent="featureClick"
						id="{{option.id}}" attr.aria-label="{{option.id}}">
						<a class="dropdown-item">
							<fa-icon class="icon" [icon]="['fal', 'check']"></fa-icon>{{ option.name  | translate}}
						</a>
					</li>
				</ng-container>
				<div class="information" *ngIf="showDescription">
					<p>{{ selectedOption.description | translate }}</p>
				</div>
			</div>
		</ng-container>
	</div>
	<p class="brightCondition" ngbTooltip="{{'gaming.lightingProfile.brightness.text1.title' | translate}} {{effectOptionName | translate}}	{{'gaming.lightingProfile.brightness.text2.title' | translate}}"  *ngIf="enableBrightCondition1" id="lighting_brightness_setting_msg" attr.aria-label="lighting_brightness_setting_msg">
		<span *ngIf="defaultLang === 'ar' || defaultLang === 'he'" 	dir="rtl">
				{{'gaming.lightingProfile.brightness.text1.title' | translate}} {{effectOptionName | translate}}
				{{'gaming.lightingProfile.brightness.text2.title' | translate}}
		</span>
		<span *ngIf="defaultLang !== 'ar' && defaultLang !== 'he'" >
				{{'gaming.lightingProfile.brightness.text1.title' | translate}} {{effectOptionName | translate}}
				{{'gaming.lightingProfile.brightness.text2.title' | translate}}
		</span>		</p>
</div>
