@import "../../../app.theme.scss";

.select-box {
	position: relative;
	@media #{$black-on-white} {
		background-color: transparent;
		border: 0.1rem solid $dark;
	}
	@media #{$white-on-black} {
		background-color: transparent;
		border: 0.1rem solid $light;
	}
	&:hover {
		.dropdown-menu {
			display: none;
			&.show {
				display: block;
			}
		}
	}
	@media #{$black-on-white} {
		background-color: $high-contrast-grey;
		border: 0.1rem solid $dark;
	}
	@media #{$white-on-black} {
		background-color: $high-contrast-grey;
		border: 0.1rem solid $light;
	}
	a {
		text-decoration: none !important;
	}
	.brightCondition {
		color: $gaming_lightest;
		font-size: 1.8rem;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		@media #{$large-screen-1} {
			font-size: 1.6rem;
		}
		&:hover ~ .gaming-tooltip {
			opacity: 1;
		}
	}
	.gaming-tooltip {
		padding: 2rem;
		background: $gaming_lightest;
		color: $main_dark;
		border-radius: 0.8rem;
		text-align: center;
		position: absolute;
		display: inline-block;
		z-index: 99;
		bottom: 1rem;
		min-width: 40rem;
		left: 50%;
		transform: translate(-50%);
		opacity: 0;
		transition: all 0.5s ease-in-out;
		white-space: pre-wrap;
		word-break: keep-all;
		pointer-events: none;
		p {
			font-size: $fontsize_xs;
			line-height: 1.8rem;
		}
		@media #{$black-on-white} {
			background-color: $high-contrast-grey;
		}
		@media #{$white-on-black} {
			background-color: $high-contrast-grey;
		}
		&::after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-bottom: 3rem solid $gaming_lightest;
			border-left: 3rem solid transparent;
			transform: rotate(45deg);
			bottom: -1rem;
			left: calc(50% - 1.5rem);
			z-index: -1;
			@media #{$black-on-white} {
				border-bottom-color: $high-contrast-grey;
				border-left-color: transparent;
			}
			@media #{$white-on-black} {
				border-bottom-color: $high-contrast-grey;
				border-left-color: transparent;
			}
		}
	}
	.dropdown-toggle {
		display: flex;
		justify-content: space-between;
		font-size: 1.6rem;
		color: $shade_light;
		margin-bottom: -1.2rem;
		.name {
			max-width: calc(100% - 6rem) !important;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.icon {
			position: relative;
			font-size: 2.2rem;
			top: 0px !important;
			@media #{$black-on-white} {
				color: $high-contrast-grey;
			}
			@media #{$white-on-black} {
				color: $high-contrast-grey;
			}
		}
		&::after {
			display: none;
		}
	}
	.gaming-dropdown-menu {
		width: 100%;
		background-color: $gaming_shade;
		@media #{$black-on-white} {
			border: 0.1rem solid $dark;
		}
		@media #{$white-on-black} {
			border: 0.1rem solid $light;
		}
		border: none;
		border-radius: 0.8rem;
		position: absolute;
		overflow: hidden;
		z-index: 10;
		top: 3.5rem;
		@media #{$black-on-white} {
			background-color: $high-contrast-grey;
			border: 0.1rem solid $dark;
		}
		@media #{$white-on-black} {
			background-color: $high-contrast-grey;
			border: 0.1rem solid $light;
		}
		li {
			list-style: none;
			.dropdown-item {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				color: $gaming_lightest;
				font-size: 1.6rem;
				height: 5.5rem;
				line-height: 5.5rem;
				position: relative;
				padding-left: 5rem;
				.icon {
					position: absolute;
					left: 2rem;
					font-size: 2rem;
					background: $gaming_green_gradient;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					opacity: 0;
				}
				&:hover {
					background: $gaming_hover;
					@media #{$black-on-white} {
						background-color: $high-contrast-grey;
						border: 0.1rem solid $dark;
					}
					@media #{$white-on-black} {
						background-color: $high-contrast-grey;
						border: 0.1rem solid $light;
					}
				}
			}
			&.selected {
				.dropdown-item {
					.icon {
						opacity: 1;
						color: $good_dark;
					}
				}
			}
		}
		.information {
			margin: 1.6rem;
			margin-top: 0;
			border-top: 1px solid $gaming_darkest;
			padding-top: 1.6rem;
			p {
				font-size: 1.4rem;
				color: $main_lightest;
			}
		}
	}
}
.dropdown-item {
	&:focus {
		background: $gaming_hover;
	}
}
::ng-deep vtr-ui-lighting-effect {
	.select-box {
		ngb-tooltip-window.tooltip {
			top: 0.5rem !important;
			padding-left: 3.5rem !important;
			.arrow {
				height: 0.5rem;
				padding-left: 1rem;
				&::before {
					top: 0px;
					border-width: 1.2rem 1.2rem 0;
					border-top-color: $gaming_lightest;
				}
			}
			.tooltip-inner {
				width: auto !important;
				min-width: 26rem;
				padding: 1.4rem;
				text-align: center;
				background-color: #fff;
				border-radius: 0.4rem;
				font-size: 1.4rem;
				color: $gaming_dark;
			}
		}
	}
}
