.popup {
  $topNavZIndex: 10000;
  z-index: ($topNavZIndex + 100);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#0d0d0d, .2);
  overflow: auto;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle;
  }
  &__inner {
    background: #fff;
    width: 63rem;
    max-width: 90%;
    padding: 3.5rem 4rem 3rem 4rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    text-align: left;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .popup_big & {
      width: 86rem;
    }
    .popup_large & {
      width: 109rem;
    }
  }
  &__close {
    opacity: 0.8;
    position: absolute;
    top: 2.3rem;
    right: 2.3rem;
    border: none;
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    background: url("src/assets/icons/privacy-tab/close-icon.svg") center center no-repeat;
    background-size: cover;
    outline: none;

    &:focus,
    &:hover {
      opacity: 1;
    }
  }
}
