@import "../../../styles/common-blocks";

.article {
	&__title {
		color: #34495E;
		font-size: 3.5rem;
		line-height: 4.2rem;
	}

	&__img {
		margin-bottom: 4rem;
	}

	&__pitch {
		margin-top: 4rem;
	}
}

::ng-deep .article {
	width: 100%;

	a {
		text-decoration: underline;
	}

	p {
		color: #647683;
		font-size: 1.8rem;
		line-height: 2.2rem;
	}

	h2 {
		color: #647683;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 2.2rem;
		padding: 4rem 0 0 0;
	}

	img {
		width: 100%;
		object-fit: contain;
	}

	li {
		p {
			padding: 0.4rem 0;
		}
	}
}
