<div class="article"
	 vtrSendAnalytics
	 [metricsEvent]="'ArticleView'"
	 [metricsParam]="{'ArticleId': article?.Id}">
	<img class="article__img" src="{{article?.Image}}" alt="{{article?.Title}}">
	<div #innerHTML [innerHTML]="article?.Body"></div>
	<div class="article__pitch" *ngIf="!(isFigleafInstalled$ | async)">
		<vtr-big-pitch
			[isLanding]="isLanding"
			[articleId]="article?.Id"
			[isShowExpiredPitch]="isShow$ | async"
			[appStatuses]="appStatuses$ | async"
			[timeToExpires]="timeToExpires$ | async"
			[isFigleafInExit]="isFigleafInExit$ | async">
		</vtr-big-pitch>
	</div>
</div>
