@import '../../../../../app.theme.scss';

.loading-tips {
	margin-top: 3.2rem;
	color: $grey_dark;
	opacity: 0.8;
	font-size: 2rem;
}

:host-context(.is-gaming) {
	.loading-tips {
		color: $gaming_lightest;
	}
}
