<vtr-subpage-layout [pageCssClass]="'colorCalibration'">
	<left-content>
		<div class="container-fluid">
			<div class="row">
				<div class="col apps-header">
					<vtr-ui-header-subpage [title]="'smb.creatorCentre.colorCalibration.title' | translate"
						[caption]="'smb.creatorCentre.colorCalibration.desc' | translate"
						[textId]="'smb-color-calibration'">
					</vtr-ui-header-subpage>
				</div>
			</div>
			<div class="row btn-content no-gutters justify-content-between ng-star-inserted">
				<div class="col-6 logo-con d-flex align-items-center "
					*ngIf="true">
					<img class="img-logo"
						role="img"
						id="apps-for-you-app-icon"
						[src]="'assets/images/smb/colorcalibration/logo.svg'"
						alt="App logo" />
					<div class="app-name">
						<div class="app-title"
							role="text"
							id="apps-for-you-text-app-title">{{ 'X-rite application' }}</div>
					</div>
				</div>
				<div class="col-6 d-flex align-items-center justify-content-end">
					<div class="d-block">
						<div class="d-flex justify-content-end">
							<div class="spinner-content app-spinner"
								*ngIf="downloadStatus == DownloadState.DOWNLOADING || downloadStatus == DownloadState.INSTALLING">
								<div class="spinner-border text-primary progress-spinner"
									role="status"></div>
							</div>
							<div class="btn-box">
								<vtr-ui-button [isDisabled]="!isOnline"
									(onClick)="clickInstallButton()"
									metricsEvent="FeatureClick"
									metricsParent="CreatorCentre"
									metricsItem="{{getMetricsItem(installStatus)}}"
									[isFullWidth]="true"
									linkId="{{getLinkID(installStatus)}}"
									[label]="getInstallButtonLabel(installStatus)"></vtr-ui-button>
							</div>
						</div>
						<div class="error-message text-ellipsis"
							role="text"
							id="color-calibration-launch-button-error-message"
							*ngIf="errorMessage"
							[title]=""
							[matTooltip]="errorMessage"
							matTooltipClass="vtr-system-tooltip">{{ errorMessage }}</div>
					</div>
				</div>
			</div>
			<div class="row"
				id="X-rite application">
				<div class="col-12 px-0 app-content">
					<vtr-container-collapsible [collapseLinkId]="'colorCalibration'"
						[headerLevel]="3"
						[cardTitle]="'smb.creatorCentre.colorCalibration.title' | translate"
						componentName="colorCalibration"
						[isCollapsed]="false"
						[allowCollapse]="true"
						[theme]="'white'"
						[tabIndex]="0">
						<div class="summary-box">
							<p [innerHTML]="'smb.creatorCentre.colorCalibration.summary' | translate"></p>
						</div>
						<div class="screenshot-box">
							<div class="screenshot-title">
								<span>{{'smb.creatorCentre.colorCalibration.screenshotTitle' | translate}} </span>
							</div>
							<div class="screenshot d-flex justify-content-between"
								#screenshotImageContent
								[style.height.px]="screenshotImageContent.clientWidth / 5">
								<a (click)="openScreenshotDialog('assets/images/smb/colorcalibration/screenshot1.png')">
									<img class="images"
										role="img"
										[src]="'assets/images/smb/colorcalibration/screenshot1.png'">
								</a>
								<a (click)="openScreenshotDialog('assets/images/smb/colorcalibration/screenshot2.png')">
									<img class="images"
										role="img"
										[src]="'assets/images/smb/colorcalibration/screenshot2.png'">
								</a>
								<a (click)="openScreenshotDialog('assets/images/smb/colorcalibration/screenshot3.png')">
									<img class="images"
										role="img"
										[src]="'assets/images/smb/colorcalibration/screenshot3.png'">
								</a>
							</div>
						</div>
					</vtr-container-collapsible>
				</div>
			</div>
		</div>
	</left-content>
	<right-content>
		<div class="container-fluid">
			<div class="row">
				<div class="col col-sm-12 col-md-12 pb-20 px-0 card-content">
					<vtr-promotion-banner [title]="'smb.creatorCentre.colorCalibration.cardTitle' | translate"
						[description]="('smb.creatorCentre.colorCalibration.cardSummary' | translate)"
						[imgSrc]="'assets/images/smb/colorcalibration/card-background.png'">
						<div>
							<a class="learn-more"
								role="button"
								(click)="onRestoreProfileClick()">{{'smb.creatorCentre.colorCalibration.learnMore' | translate}}</a>
						</div>
					</vtr-promotion-banner>
				</div>
			</div>
		</div>
	</right-content>
</vtr-subpage-layout>
<ng-template #storeProfileDlg
	let-data>
	<div class="dialog-content">
		<div class="row d-flex justify-content-between">
			<div class="btn-modal-close">
				<vtr-ui-close-button linkId="productivity-CreatorCentre-ColorCalibration-modal-close"
					metricsItem="ColorCalibrationModalCloseIcon"
					[metricsParent]="'Productivity.CreatorCentre.ColorCalibration'"
					(clickClose)="closeRestoreProfileModal()"></vtr-ui-close-button>
			</div>
			<div>
				<h1 class="card-title">
					{{'smb.creatorCentre.colorCalibration.cardTitle' | translate}}</h1>
			</div>

		</div>
		<div class="row text-content mb-2">
			<div class="col">
				<div>
					<p class="description">{{'smb.creatorCentre.colorCalibration.restoreProfileDesc'|translate}}</p>
				</div>
				<div>
					<ul class="steps">
						<li>
							{{'smb.creatorCentre.colorCalibration.restoreProfileStep1' | translate}}
						</li>
						<li>
							{{'smb.creatorCentre.colorCalibration.restoreProfileStep2' | translate}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #screenshotDlg
	let-data>
	<div class="dialog-content d-flex flex-column position-relative pt-5"
		id="color-calibration-screenshot-dialog">
		<div class="content">
			<div class="image-content"
				#loadingImg
				[style.height.px]="loadingImg.clientWidth * 1600 / 2187">
				<img [src]="clickedScreenshot" />
			</div>
		</div>
		<div class="btn-modal-close">
			<vtr-ui-close-button linkId="color-calibration-screenshot-dialog-close"
				metricsItem="ColorCalibrationScreenshotCloseButton"
				[metricsParent]="'CreatorCentre'"
				(clickClose)="closeScreenshotDialog()"></vtr-ui-close-button>
		</div>
	</div>
</ng-template>
