@import '../../../../../app.theme';

.vtr-hardware-components {
	border-radius: 0.5rem;
	background-color: $light;

	.body-content {
		border-radius: 0rem 0rem 0.5rem 0.5rem;
		@include high-contrast-border;
	}

	.header {
		padding: 1rem 2.4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		// Used to create a separator between Hardware component tittle and modules list
		border-bottom: 0.5px solid $grey_light;
		margin-bottom: 1rem;

		.heading2 {
			color: $menu_hover;
			font-size: $fontsize_xl;
			font-weight: $weight_light;
			width: 100%; // Width, overflow and text-overflow to break long words on some languages as German
			overflow: hidden;
			text-overflow: ellipsis;
			&::first-letter {
				text-transform: uppercase;
			}
		}
	}

	.text-regular {
		color: $main_shade;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		padding: 1rem 1rem 1rem 0rem;
	}

	.hardware-lists-container {
		.heading {
			color: $main_dark;
			font-size: $fontsize_xl;
		}

		.button-box {
			padding: 0rem;
			margin: 1rem;

			&.shift-left {
				top: 20%;
				left: 20%;
				transform: translate(-8%, -12%);
				padding-top: 1rem 0.5rem 0.5rem 0rem;
			}
		}
	}

	.loading-components {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4rem 0 2rem 0;

		fa-icon {
			font-size: 6.5rem;
			color: $main;
		}
	}

	.export-log-btn {
		width: 100%;
	}

	.refresh-button {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.refresh-message {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 4rem;
		text-align: center;
		color: $grey_dark;
		font-size: $fontsize_sm;
		font-weight: $weight_light;
	}

	::ng-deep .vtr-ui-hyperlink-button {
		padding-right: 0;
	}
}
