@import "../../../app.theme.scss";

.vtr-widget-lighting {
	.widget-title {
		color: $gaming_lightest;
		font-size: 5rem;
		margin-bottom: 1rem;
		font-weight: $weight-light;
	}
	.widget-container {
		border-radius: $border_radius;
		box-shadow: $drop_shadow_gaming;
		padding: 4rem;
		background: url(./../../../../assets/images/gaming/lightingImage@2x.png) center top no-repeat $gaming_dark;
		background-size: 100% auto;
		padding-top: 18rem;
	}
	.lighting-porfile {
		padding: 3rem;
		background: $gaming_darkest;
		border-radius: 0.8rem;
		.card-title {
			color: $gaming_switch_light;
			font-size: 1.6rem;
			margin-bottom: 3rem;
		}
		.multi-state-toggle {
			height: 5rem;
			width: 100%;
			border-radius: 5rem;
			margin: auto;
			background: $gaming_darkest;
			position: relative;
			z-index: 0;
			box-sizing: border-box;
			background-clip: padding-box;
			border: solid 0.2rem transparent;
			padding: 0.2rem;
			&::after {
				content: " ";
				position: absolute;
				border-radius: 5rem;
				top: 0rem;
				left: 0rem;
				bottom: 0rem;
				right: 0rem;
				margin: 0rem;
				background: $gaming_darkest;
				z-index: -1;
			}
			&::before {
				content: " ";
				position: absolute;
				border-radius: 5rem;
				top: 0rem;
				left: 0rem;
				bottom: 0rem;
				right: 0rem;
				margin: -0.2rem;
				background-image: $gaming_lighting_gradient;
				z-index: -1;
			}
			.inner-toggle{
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: 100%;
				position: relative;
			}

			input {
				width: 25%;
				height: 4.2rem;
				opacity: 0;
				position: absolute;
				left: 0;
				margin: 0;
				padding: 0;
				&:nth-child(3){
					left: 25%;
				}
				&:nth-child(5){
					left: 50%;
				}
				&:nth-child(7){
					left: 75%;
				}
				& ~ label {
					color: $gaming;
					font-size: 1.8rem;
					width: 25%;
					height: 4.2rem;
					border-radius: 4.2rem;
					margin: 0.4rem 0rem;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					z-index: 1;
					cursor: pointer;
					span{ 
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						box-sizing: border-box;
						padding: .25rem;
						}
				}
			}
			.toggle-stable {
				position: absolute ;
				background: $gaming_lighting_gradient;
				width: 25% ;
				height: 4.2rem;
				border-radius: 4.2rem;
				margin: 0.4rem 0.2rem;
				transition: all 0.3s ease-in-out;
				left: 0;
				color: white !important;
			}
			.toggle {
				position: absolute;
				background: $gaming_lighting_gradient;
				width: 25%;
				height: 4.2rem;
				border-radius: 4.2rem;
				transition: all 0.3s ease-in-out;
				left: 0;
				color: white !important;
			}
			#off_radio:checked {
				& ~ .toggle {
					left: 0%;
				}
			}
			#first_radio:checked {
				& ~ .toggle {
					left: 25%;
				}
			}
			#second_radio:checked {
				& ~ .toggle {
					left: 50%;
				}
			}
			#third_radio:checked {
				& ~ .toggle {
					left: 75%;
				}
			}
		}
		vtr-ui-gaming-driver-popup {
			::ng-deep{
				ui-gaming-driver-popup {
					right: calc(100% - 1rem);
					top: -3.5rem;
					@media #{$medium-screen}{
						min-width: 45rem;
						right: auto;
						left: 50%;
						transform: translateX(-50%);
						top: -24.7rem;
						&::after {
							top: calc(100% - 1.6rem);
							right: calc(50% - 1.5rem);
							transform: rotate(45deg);
						}
					}
					@media #{$small-screen}{
						right: auto;
						left: 50%;
						transform: translateX(-50%);
						&::after {
							top: calc(100% - 1.6rem);
							right: calc(50% - 1.5rem);
							transform: rotate(45deg);
						}
					}
					@media #{$breakpoint_md} {
						min-width: 45rem;
						top:-24.7rem;
					}
					.content-body {
						min-height: 12rem;
							@media #{$medium-screen}{
							min-height: 14.7rem;
							}
							@media #{$breakpoint_md}{
							min-height: 14.7rem;
							}
						h1{
							min-height: 60px;
						}
					}
				}
			}
		}
	}
	.list-group {
		.list-group-item {
			background: transparent;
			border: none;
			padding-left: 0;
			padding-top: 0;
			margin-bottom: -1.8rem;
			a {
				font-size: 1.5rem;
				color: $gaming_switch_light;
				text-decoration: none;
				padding-left: 0;
				//display: flex;
				//width: 11rem;
				//align-items: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				cursor: pointer;
				color: $shade_light;
				line-height: 1.5rem;
				&:hover {
					color: $gaming_lightest;
					.icon{
						background:$screen_dark_20;
						color: $gaming_lightest;
					}
				}
				.icon {
					margin-top: -0.5rem;
					margin-right: -0.5rem;
					font-size: 2rem;
					transition: all .2s ease-in-out;
					border-radius: 50%;
					padding: 0.6rem;
					color: $gaming_grey_lightest;
					vertical-align: middle;
					height: 3.2rem;
					widows: 3.3rem;
					display: inline-block;
					text-align: center;
					line-height: 1.2rem;
				}
			}
		}
	}
	.gamingTextColor {
		color: $gaming_lightest !important;
	}
}
