@import '../../../app.theme.scss';

.vtr-widget-lighting {
	.widget-title {
		color: $white100;
		font-size: 5rem;
		margin-bottom: 1rem;
		font-weight: $weight-light;
	}
	.widget-container {
		border-radius: $border_radius;
		box-shadow: $drop_shadow_gaming;
		padding: 4rem;
		background: url(../../../../assets/images/gaming/lightingImage@2x.webp),
			url(../../../../assets/images/gaming/lightingImage@2x.png) center top no-repeat
				$gaming_dark;
		background-size: 100% auto;
		padding-top: 18rem;
		@media #{$high-contrast} {
			border: 0.1rem solid windowText;
			border-radius: $border_radius;
		}
	}
	.widget-container-notebook {
		background: url(../../../../assets/images/gaming/lighting/lighting-ui-new/bg_note.webp),
			url(../../../../assets/images/gaming/lighting/lighting-ui-new/bg_note.png) center top
				no-repeat $gaming_dark;
		background-size: 100% auto;
	}
	.lighting-porfile {
		padding: 3rem;
		background: $darkCell;
		border-radius: 0.8rem;
		@media #{$high-contrast} {
			border: 0.1rem solid windowText;
		}
		.card-title {
			color: $white100;
			font-size: 1.6rem;
			margin-bottom: 3rem;
		}
		vtr-ui-gaming-driver-popup {
			::ng-deep {
				ui-gaming-driver-popup {
					right: calc(100% - 0.9rem);
					top: 0.5rem;
					@media #{$medium-screen} {
						min-width: 45rem;
						right: auto;
						left: 50%;
						transform: translateX(-50%);
						top: -14rem;
						&::after {
							top: calc(100% - 1.6rem);
							right: calc(50% - 1.5rem);
							transform: rotate(45deg);
						}
					}
					@media #{$small-screen} {
						right: auto;
						left: 50%;
						transform: translateX(-50%);
						&::after {
							top: calc(100% - 1.6rem);
							right: calc(50% - 1.5rem);
							transform: rotate(45deg);
						}
					}
					@media #{$breakpoint_md} {
						min-width: 45rem;
						top: -14rem;
					}
				}
			}
		}
	}
	.list-group {
		.list-group-item {
			background: transparent;
			border: none;
			padding-left: 0;
			padding-top: 0;
			margin-bottom: -1.8rem;
			a {
				font-size: 1.5rem;
				text-decoration: none;
				padding-left: 0;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				cursor: pointer;
				color: $white60;
				line-height: 1.5rem;
				transition: all 0.2s ease-in-out;
				@media #{$high-contrast} {
					color: buttonText;
				}
				&:hover {
					color: $white100;
					.icon {
						background: $white10;
					}
				}
				.icon {
					margin-right: -0.5rem;
					font-size: 2rem;
					transition: all 0.2s ease-in-out;
					border-radius: 50%;
					padding: 1rem;
					color: $white60;
					vertical-align: middle;
					width: 4rem;
					height: 4rem;
					widows: 3.3rem;
					display: inline-block;
					text-align: center;
					line-height: 1.2rem;
				}
			}
		}
	}
	.gamingTextColor {
		color: $gaming_lightest !important;
	}
}
