<div class="vtr-widget-lighting" *ngIf="isLightingVisible">
	<div class="widget-title">
		{{'gaming.dashboard.device.lighting.header' | translate}}
	</div>
	<div class="widget-container">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="lighting-porfile">
						<h5 class="card-title">
							{{'gaming.lightingProfile.lightingProfileHeading.heading.title' | translate}}</h5>
						<div class="multi-state-toggle">
							<div class="inner-toggle">

								<input type="radio" value="0" name="lighting-porfile" vtrMetrics
									[metricsItem]="'lighting_customize_off'" metricsEvent="featureClick" metricsParam="'profileId'" metricsValue="0" id="off_radio"
									attr.aria-label="off_radio" [checked]="setprofId===0" (click)="SetProfile($event)">
								<label for="off_radio" id="off"
									[ngClass]="{'toggle-stable': isPopupVisible && setprofId===0, 'gamingTextColor': setprofId==0}">
									{{'gaming.lightingProfile.lightingProfileHeading.text1.title' | translate}} </label>


								<input type="radio" value="1" name="lighting-porfile" vtrMetrics
									[metricsItem]="'lighting_customize_profile1'" metricsEvent="featureClick" metricsParam="'profileId'" metricsValue="1"
									id="first_radio" attr.aria-label="first_radio" [checked]="setprofId===1"
									(click)="SetProfile($event)">
								<label for="first_radio"
									[ngClass]="{'toggle-stable': isPopupVisible && setprofId===1, 'gamingTextColor': setprofId==1}"
									id="first_lbl">{{'gaming.lightingProfile.lightingProfileHeading.text2.title' | translate}}</label>


								<input type="radio" value="2" name="lighting-porfile" vtrMetrics
									[metricsItem]="'lighting_customize_profile2'" metricsEvent="featureClick" metricsParam="'profileId'" metricsValue="2"
									id="second_radio" attr.aria-label="second_radio" [checked]="setprofId===2"
									(click)="SetProfile($event)">
								<label for="second_radio"
									[ngClass]="{'toggle-stable': isPopupVisible && setprofId===2, 'gamingTextColor': setprofId==2}"
									id="second_lbl">{{'gaming.lightingProfile.lightingProfileHeading.text3.title' | translate}}</label>

								<input type="radio" value="3" name="lighting-porfile" vtrMetrics
									[metricsItem]="'lighting_customize_profile3'" metricsEvent="featureClick" metricsParam="'profileId'" metricsValue="3"
									id="third_radio" attr.aria-label="third_radio" [checked]="setprofId===3"
									(click)="SetProfile($event)">
								<label for="third_radio"
									[ngClass]="{'toggle-stable': isPopupVisible && setprofId===3, 'gamingTextColor': setprofId==3}"
									id="third_lbl">{{'gaming.lightingProfile.lightingProfileHeading.text4.title' | translate}}</label>
								<div [ngClass]="{toggle: !isPopupVisible}" *ngIf="!isPopupVisible"></div>
							</div>
						</div>
						<hr class="dark-dashline" />
						<vtr-ui-gaming-driver-popup *ngIf="isdriverpopup==true" [showMePartially]="isdriverpopup"
							[isLightingText]="true" (driverpopval)="isdriverpopup=$event">
						</vtr-ui-gaming-driver-popup>
						<ul class="list-group">
							<li class="list-group-item">
								<a  *ngIf="isPopupVisible" (click)="isdriverpopup==true" vtrMetrics
									[metricsItem]="'gaming_lightingProfile_widget_gearicon'" metricsEvent="featureClick"
									id="lighting_customize_settings" attr.aria-label="lighting_customize_settings">
									   <i class="icon icon-gear"></i>
									   {{'gaming.lightingProfile.lightingProfileHeading.Customize.title' | translate}}</a>

								<a  *ngIf="!isPopupVisible" [routerLink]="['/gaming/lightingcustomize/'+setprofId]" vtrMetrics
									[metricsItem]="'lighting_customize'" metricsEvent="featureClick" metricsParam="lightingcustomize" metricsValue="{{setprofId}}"
									id="lighting_customize" attr.aria-label="lighting_customize">
									   <i class="icon icon-gear"></i>
									  {{'gaming.lightingProfile.lightingProfileHeading.Customize.title' | translate}}</a>
							</li>


						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
