@import "../../../app.theme.scss";

.macrokey-wrapper {
	background: $gaming_darkest;
	width: 100%;
	min-height: 70rem;
	border-radius: 0.8rem;
	position: relative;
	&:not(.numberpad) {
		min-height: 76rem;
	}
	&.recording {
		border: 0.1rem solid $gaming;
		.header-component {
			.title-main {
				display: block;
			}
		}
		.section-details {
		}
		.footer-component {
			.start-button {
				display: none;
				letter-spacing: 0px;
			}
			.stop-button {
				display: block;
				letter-spacing: 0px;
			}
		}
	}
	.section-details {
		text-align: center;
		position: absolute;
		width: 100%;
		top: 0rem;
		height: 100%;
		.intro {
			padding-top: 14rem;
			.title-main {
				p:first-child {
					font-size: 3rem;
					padding: 0 2.4rem;
				}
				p:nth-child(2) {
					//text-transform: uppercase;
					font-size: 5rem;
					color: $gaming;
					font-weight: 700;
				}
			}
			&.no-key {
				padding-top: 28rem;
			}
			&.recording-data {
				padding-top: 6rem;
			}
			&.data-exists {
				text-align: left;
				padding: 0rem;
			}
			.description {
				margin-top: 5.6rem;
				min-height: 18rem;
				p {
					font-size: 1.4rem;
					color: $gaming_lightest;
					line-height: 2rem;
					padding: 0 2rem;
					&:before {
						content: "- ";
					}
					&:after {
						content: " -";
					}
				}
			}
			.initalize {
				.title-main {
					p:first-child {
						font-size: 3rem;
					}
					p:last-child {
						font-size: 1.4rem;
						font-weight: normal;
						color: $gaming_lightest;
						text-transform: none;
						padding: 0 2rem;
					}
				}
			}
		}
	}
	.footer-component {
		position: absolute;
		width: 100%;
		bottom: 0rem;
		padding-bottom: 6rem;
		.button {
			@media #{$mediaquery_X4} {
				min-width: 10rem;
			}
			min-height: 6rem;
			border-radius: 3rem;
			min-width: 12rem;
			background: $gradient_main;
			border: none;
			color: $light;
			font-size: $body;
			font-weight: $weight_bold;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			padding: 0 2.5rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			letter-spacing: 0.1rem;
		}
		.min-height {
			min-height: 32px !important;
		}

		.btn-gradient {
			background-color: $button_gradient_start;
			background-image: linear-gradient(to right, $button_gradient_start, $button_gradient_end);
		}
		.stop-button {
			display: none;
		}
	}

	.header-component {
		.title-main {
			display: none;
			padding: 1rem;
			background: $gaming;
			font-size: 1.4rem;
			font-weight: 500;
			//font-style: italic;
			//text-transform: capitalize;
			border-top-right-radius: 0.8rem;
			border-top-left-radius: 0.8rem;
		}
	}
}

::ng-deep {
	.start-button,
	.stop-button {
		.button {
			padding: 1.2rem 4rem !important;
			max-width: calc(100% - 2rem);
			@media #{$mediaquery_13} {
				padding: 1.2rem 3rem !important;
			}
			@media #{$mediaquery_X3} {
				padding: 1.2rem 4rem !important;
			}
		}
	}
}
