<div class="macrokey-wrapper" [ngClass]="{'recording': recording && number}">
	<div class="header-component" *ngIf="number && !number.status">
		<div class="title-main">
			{{ 'gaming.macroKey.recording.title' | translate }} <span
				*ngIf="isNumberpad">{{ 'gaming.macroKey.details.buttons.numberPrefix' | translate }}</span>
			{{ number.key }}
		</div>
	</div>
	<div class="section-details">
		<div class="intro"
			[ngClass]="{'no-key': !number, 'data-exists': number && number.status, 'recording-data': recording && keyData.inputs.length > 0}">
			<div class="select-key" *ngIf="!number">
				<div class="title-main">
					<p>
						{{ 'gaming.macroKey.details.intro.noNumber' | translate }}
					</p>
				</div>
			</div>
			<div *ngIf="number && !number.status">
				<div class="can-record" *ngIf="!recording">
					<div class="title-main">
						<p>
							{{ 'gaming.macroKey.details.intro.title' | translate }}
						</p>
						<p>
							<span
								*ngIf="isNumberpad">{{ 'gaming.macroKey.details.buttons.numberPrefix' | translate }}</span>
							{{ number.key }}
						</p>
					</div>
					<div class="description">
						<p>{{ 'gaming.macroKey.details.intro.line1' | translate }}</p>
						<p>{{ 'gaming.macroKey.details.intro.line2' | translate }}</p>
						<p>{{ 'gaming.macroKey.details.intro.line3' | translate }}</p>
					</div>
				</div>
				<div class="is-recording" *ngIf="recording">
					<div class="initalize" *ngIf="keyData.inputs.length == 0">
						<div class="title-main">
							<p>
								{{ 'gaming.macroKey.details.recording.title' | translate }}
							</p>
							<p>
								{{ 'gaming.macroKey.details.recording.description' | translate }}
							</p>
						</div>
						<div class="description"></div>
					</div>
					<div class="recorded-data" *ngIf="keyData.inputs.length > 0">
						<vtr-ui-macrokey-recorded-list [number]="number" [isNumberpad]="isNumberpad"
							[recordingStatus]="recording" [recordsData]="keyData"
							(deleteRecords)="recordsDelete($event)">
						</vtr-ui-macrokey-recorded-list>
					</div>
				</div>
			</div>
			<div *ngIf="number && number.status && keyData.inputs.length > 0">
				<vtr-ui-macrokey-recorded-list [number]="number" [isNumberpad]="isNumberpad"
					[recordingStatus]="recording" [recordsData]="keyData" (deleteRecords)="recordsDelete($event)">
				</vtr-ui-macrokey-recorded-list>
			</div>
		</div>
	</div>
	<div class="footer-component text-center" *ngIf="number && !number.status">
		<div class="start-button">
			<vtr-ui-button id="gaming_macrokey_startrecording" tabindex="1" aria-label="gaming macrokey startrecording"
				metricsEvent="featureClick" [metricsItem]="'macrokey_start_recording'" role="button"
				[label]="'gaming.macroKey.details.buttons.start' | translate" [btnHeight]=true [isGradient]=true
				(onClick)="onStartClicked($event)" (keyup.enter)="onStartClicked($event)">
			</vtr-ui-button>
		</div>
		<div class="stop-button">
			<vtr-ui-button id="gaming_macrokey_stoprecording" tabindex="1" aria-label="gaming macrokey stoprecording"
				metricsEvent="featureClick" [metricsItem]="'macrokey_stop_recording'"
				[label]="'gaming.macroKey.details.buttons.stop' | translate" [btnHeight]=true [isGradient]=true
				(onClick)="onStopClicked($event)">
			</vtr-ui-button>
		</div>
	</div>
</div>

<vtr-ui-macrokey-popup *ngIf="showModal" [modalContent]="modalContent" (action)="showModal=false">
</vtr-ui-macrokey-popup>