<div class="vtr-widget-system-monitor">
	<div class="widget-container">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col-sm-12 monitor-col link-wrapper">
							<div class="link-container">
								<a vtrMetrics [metricsItem]="'System Status'" metricsEvent="featureClick"
									routerLink="/device" class="info-link">Info</a>
								<div class="icon icon-backarrow"></div>
							</div>
						</div>
						<div class="col-sm-8 monitor-col left">
							<div class="monitor-section">
								<div class="monitor-inner gpu">
									<div class="gaming-tooltip">
										<p>{{this.gpuOver|translate}}</p>
									</div>
									<div class="monitor-stack">
										<div class="stack-container">
											<div class="stack-content gpu"></div>
											<div class="stack-mask"
												[ngStyle]="{'height':getStackHeight(gpuCurrent, gpuMax)+'%'}"></div>
										</div>
										<div class="stack-label">
											<div class="stack-title">
												GPU
											</div>
											<div class="stack-status">
												{{gpuCurrent}}/{{gpuMax}}GHz
											</div>
										</div>
									</div>
								</div>

								<div class="monitor-cpu">
									<div class="gaming-tooltip">
										<p>{{this.cpuover|translate}}</p>
									</div>
									<div class="cpu-ring"></div>
									<div class="cpu-mask left">
										<div class="mask-obj"
											[ngStyle]="{'transform':'rotate('+getLeftDeg(cpuCurrent, cpuMax)+'deg)'}">
											<div class="mask-ring"></div>
										</div>
									</div>
									<div class="cpu-mask right" [ngClass]="{'hidden':cpuCurrent/cpuMax>.5}">
										<div class="mask-obj"
											[ngStyle]="{'transform':'rotate('+getRightDeg(cpuCurrent, cpuMax)+'deg)'}">
											<div class="mask-ring"></div>
										</div>
									</div>
									<div class="cpu-inner-ring">
										<div class="cpu-inner-circle">
											<div class="cpu-label">
												<div class="cpu-title">
													CPU
												</div>
												<div class="cpu-status">
													{{cpuCurrent}}/{{cpuMax}}GHz
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="monitor-inner ram">
									<div class="gaming-tooltip">
										<p>{{this.ramOver|translate}}</p>
									</div>
									<div class="monitor-stack">
										<div class="stack-container">
											<div class="stack-content ram"></div>
											<div class="stack-mask"
												[ngStyle]="{'height':getStackHeight(ramCurrent, ramMax)+'%'}"></div>
										</div>
										<div class="stack-label">
											<div class="stack-title">
												RAM
											</div>
											<div class="stack-status">
												{{ramCurrent}}/{{ramMax}}GB
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="col-sm-4 monitor-col right">
							<div class="monitor-section hds" [ngClass]="{'expanded':showAllHDs}"
								(click)="toggleHDs($event)">
								<div class="hd-list" [ngClass]="{'single':hds.length===1}">
									<div class="hd-item" [ngClass]="{'danger':hd.usedDisk/hd.capacity>.75}"
										*ngFor="let hd of hds; let i=index;">
										<div class="monitor-hd">
											<div class="hd-ring"></div>
											<div class="hd-mask left">
												<div class="mask-obj"
													[ngStyle]="{'transform':'rotate('+getLeftDeg(hd.usedDisk, hd.capacity)+'deg)'}">
													<div class="mask-ring"></div>
												</div>
											</div>
											<div class="hd-mask right"
												[ngClass]="{'hidden':hd.usedDisk/hd.capacity>.5}">
												<div class="mask-obj"
													[ngStyle]="{'transform':'rotate('+getRightDeg(hd.usedDisk, hd.capacity)+'deg)'}">
													<div class="mask-ring"></div>
												</div>
											</div>
											<div class="hd-inner-ring">
												<div class="hd-inner-circle">
													<div class="hd-label">
														<div class="hd-pct">
															{{hd.diskUsage}}<span class="pct">%</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="hd-item-label">
											<div class="hd-title">
												<span *ngIf="hd.isSystemDisk">
													<fa-icon [icon]="['fab', 'windows']"></fa-icon>
												</span>

												{{hd.type}}
											</div>
											<div class="hd-status">
												{{getHDSize(hd.usedDisk)}}/{{getHDSize(hd.capacity)}}
											</div>
										</div>
									</div>
								</div>
								<div class="expand-icon">
									<!-- <fa-icon [icon]="['fas', 'chevron-down']" *ngIf="!showAllHDs&&hds.length>1"></fa-icon> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
