<div class="vtr-page-security vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="title"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="row">
				<div class="col col-8 vtr-page-left-column">
					<div class="vtr-page-shift-up">
						<div class="vtr-page-left-column-inner">
							<div class="container-fluid">
								<div class="row">
									<div class="col col-12">
										<vtr-widget-security
										 [percentValue]="getScore(antivirusScore)"></vtr-widget-security>
									</div>
								</div>

								<div class="row">
									<div class="col col-md-6 security-widgets-container left">

										<vtr-ui-landing-feature *ngIf="antivirusLandingViewModel.subjectStatus !== undefined && antivirusLandingViewModel.subjectStatus !== null" [feature]='antivirusLandingViewModel'>
										</vtr-ui-landing-feature>

										<vtr-ui-landing-feature *ngIf="passwordManagerLandingViewModel.subjectStatus !== undefined && passwordManagerLandingViewModel.subjectStatus !== null" [feature]='passwordManagerLandingViewModel'>
										</vtr-ui-landing-feature>

										<vtr-ui-landing-feature *ngIf="vpnLandingViewModel.subjectStatus !== undefined && vpnLandingViewModel.subjectStatus !== null" [feature]='vpnLandingViewModel'>
										</vtr-ui-landing-feature>
									</div>
									
									<div class="col col-md-6 security-widgets-container">
										<div class="security-widget wifi-connected-home" *ngIf="wifiSecurityLandingViewModel.subjectStatus !== undefined && wifiSecurityLandingViewModel.subjectStatus !== null">
											<div class="security-widget-inner">
												<div class="security-widget-wifi">
														<vtr-ui-object-title [objects]="wifiSecurityLandingViewModel">													
															</vtr-ui-object-title>
                            <vtr-ui-list-chevron [items]="wifiSecurityLandingViewModel.statusList">
                              </vtr-ui-list-chevron>
                              <div class="wifi-history" *ngIf="wifiHistory && wifiSecurityLandingViewModel.subjectStatus === 0">
                                <div class="row align-items-center pt-wifiLength">
                                  <div class="col-3">
																		<fa-icon class="wifi-font-icon" [icon]="['fas', 'wifi']"></fa-icon>
                                    <!-- <img src="../../../../assets//images//img-empty.svg" alt=""> -->
                                  </div>
                                  <div class="col-9">Prevented your computer from joining <span>{{getMaliciousWifi(wifiHistory)}}</span> malicious networks this month.</div>
                                </div>
                                <ul class="chevron-list">	
                                  <li *ngFor="let wifi of wifiHistory.slice(0, 2);" class="row">
                                      <div class="col-2 item-icon">
                                        <div class="icon-bkg">
																						<fa-icon [ngClass]="getWifiStatus(wifi.good)" [icon]="['fas', 'wifi']"></fa-icon>
                                            <!-- <img [ngClass]="getWifiStatus(wifi.good)"  src="../../../../assets//images//img-empty.svg" alt=""> -->
                                        </div>
                                      </div>
                                      <div class="col-6">{{wifi.ssid}}</div>
                                      <div class="wifi-bg">
																				<div class="wifi-good" [ngClass]="getWifiStatus(wifi.good)">{{getWifiDetail(wifi.good)}}</div>
																			</div>
                                  </li>
                                  <li class="wifi-link"><a routerLink="/wifi-security">See all joined networks</a></li>
                                </ul>
                              </div>
                        </div>
												<vtr-ui-list-chevron [items]="homeProtectionLandingViewModel.statusList">
												</vtr-ui-list-chevron>
												<div class="pull"><img class="coronet-logo"
													 src="../../../../assets/images/coronet-logo.svg" />
												</div>
											</div>
										</div>
										<vtr-ui-landing-feature *ngIf="windowsHelloLandingViewModel.subjectStatus !== undefined && windowsHelloLandingViewModel.subjectStatus !== null" [feature]='windowsHelloLandingViewModel'>
										</vtr-ui-landing-feature>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-4 vtr-page-right-column">
					<div class="vtr-page-shift-up">
						<div class="container-fluid">
							<div class="row">
								<div class="col col-12">
									<vtr-article-item *ngFor="let item of articles, let i = index"
										[item]="item"></vtr-article-item>
								</div>
							</div>
							<div class="row mb-40">
								<div class="col col-12 ">
									<vtr-widget-feedback [title]="'Discover our top ideapad offers for the holidays '"
										[description]="'Lenovo Exclusive'"
										[actionName]="''"
										[action]="''">
									</vtr-widget-feedback>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
