<vtr-page-layout [title]="'common.menu.security.sub1' | translate"
	[textId]="'security'"
	[pageCssClass]="'security'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true"
	[back]="'common.ui.back' | translate"
	[backId]="'sa-ov-btn-back'">

	<left-content>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 p-0 mb-4" *ngIf="!isOnline">
					<vtr-widget-offline-info
						[title]="'dashboard.offlineInfo.title' | translate"
						[isSubtitleVisible]="false"
						[isButtonVisible]="false"></vtr-widget-offline-info>
				</div>
				<div class="col-12 p-0 mb-4">
					<vtr-widget-security
						[isOnline]="isOnline"
						[statusItem]="statusItem"></vtr-widget-security>
				</div>
			</div>
			<section class="landing-nav mb-40">
				<vtr-widget-landing-nav
					(haveOwnChecked)="updateStatus($event)"
					[baseItems]="baseItems"
					[intermediateItems]="intermediateItems"
					[advancedItems]="advanceItems"></vtr-widget-landing-nav>
			</section>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<div class="row mb-40">
				<div class="col col-12">
					<vtr-container-card [img]="cardContentPositionA.FeatureImage"
						[caption]="cardContentPositionA.Description"
						[title]="cardContentPositionA.Title"
						[logoText]="cardContentPositionA.BrandName"
						[action]="cardContentPositionA.Action"
						[actionType]="cardContentPositionA.ActionType"
						[actionLink]="cardContentPositionA.ActionLink"
						[itemID]="cardContentPositionA.ActionLink"
						[ratio]="2"
						type="subpage-corner"
						order="1"
						sideFlag="r"
						cornerShift="large"
						[containerCardId]="'sa-ov-modal'">
					</vtr-container-card>
				</div>
			</div>

			<div class="row">
				<div class="col col-12">
					<vtr-widget-qa></vtr-widget-qa>
				</div>
			</div>
		</div>
	</right-content>

</vtr-page-layout>
