<div class="vtr-page-security vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="title"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="row">
				<div class="col col-8 vtr-page-left-column">
					<div class="vtr-page-shift-up">
						<div class="vtr-page-left-column-inner">
							<div class="container-fluid">
								<div class="row">
									<div class="col col-12">
										<vtr-widget-security [title]="'Not fully protected'"
											[subTitle1]="'You are not fully protected. Learn how to better protect yourself now.'"
											[subTitle2]="''"
											[buttonText]="'Security Advisor 101'"
											percentValue=80></vtr-widget-security>
									</div>
								</div>


								<div class="row">
									<div class="col security-widgets-container left">
										<div class="security-widget anti-virus">
											<div class="security-widget-inner">
												<div class="title">
													<fa-icon [icon]="['fas', 'minus-circle']"></fa-icon>
													<span>
														Anti-Virus
													</span>
												</div>
												<vtr-ui-list-chevron [items]="mockService.securityAntivirus">
												</vtr-ui-list-chevron>
												<div class="pull"><img class="mcafee-logo"
														src="../../../../assets/images/mcafee_logo.svg" />
												</div>
											</div>
										</div>

										<div class="security-widget password-health">
											<div class="security-widget-inner">
												<div class="title">
													<fa-icon [icon]="['fas', 'dot-circle']"></fa-icon>
													<span>
														Password health
													</span>
												</div>
												<vtr-ui-list-chevron [items]="mockService.securityPasswordHealth">
												</vtr-ui-list-chevron>
												<div class="pull right"><img class="dashlane-logo"
														src="../../../../assets/images/Dashlane_Logo_Teal _Web.png" />
												</div>
											</div>
										</div>

										<div class="security-widget vpn-security">
											<div class="security-widget-inner">
												<div class="title">
													<fa-icon [icon]="['fas', 'dot-circle']"></fa-icon>
													<span>
														VPN Security
													</span>
												</div>
												<vtr-ui-list-chevron [items]="mockService.securityVPN">
												</vtr-ui-list-chevron>
												<div class="pull"><img class="surfeasy-logo"
														src="../../../../assets/images/surfeasy-logo.svg" />
												</div>
											</div>
										</div>
									</div>
									<div class="col security-widgets-container">
										<div class="security-widget wifi-connected-home">
											<div class="security-widget-inner">
												<div class="title">
													<fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
													<span>
														WiFi & Connected Home Security
													</span>
												</div>
												<vtr-advisor-wifi-security>
												</vtr-advisor-wifi-security>
												<vtr-ui-list-chevron [items]="mockService.securityConnectedHome">
												</vtr-ui-list-chevron>
												<div class="pull"><img class="coronet-logo"
														src="../../../../assets/images/coronet-logo.svg" />
												</div>
											</div>
										</div>
										<div class="security-widget windows-hello">
											<div class="security-widget-inner">
												<div class="title">
													<fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
													<span>
														Windows hello
													</span>
												</div>
												<vtr-ui-list-chevron [items]="mockService.securityWindowsHello">
												</vtr-ui-list-chevron>
												<div class="pull"><img class="windows-logo"
														src="../../../../assets/images/windows-logo.svg" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-4 vtr-page-right-column">
					<div class="vtr-page-shift-up">
						<div class="container-fluid">
							<div class="row mb-40">
								<div class="col col-12">
									<vtr-container-card [img]="cardContentPositionA.FeatureImage"
										[title]="cardContentPositionA.Title"
										[logoText]="cardContentPositionA.BrandName"
										[action]="cardContentPositionA.Action"
										[actionLink]="cardContentPositionA.ActionLink"
										[type]="'article'"
										[ratioX]="4"
										[ratioY]="4">
									</vtr-container-card>
								</div>
							</div>

							<div class="row mb-40">
								<div class="col col-12 aritcle-card">
									<vtr-container-card [img]="cardContentPositionB.FeatureImage"
										[caption]="cardContentPositionB.Description"
										[title]="cardContentPositionB.Title"
										[logoText]="cardContentPositionB.BrandName"
										[action]="cardContentPositionB.Action"
										[actionLink]="cardContentPositionB.ActionLink"
										[type]="'partnerarticle'"
										[ratioX]="4"
										[ratioY]="2.5">
									</vtr-container-card>
								</div>
							</div>

							<div class="row mb-40">
								<div class="col col-12 ">
									<vtr-widget-feedback [title]="'Discover our top ideapad offers for the holidays '"
										[description]="'Lenovo Exclusive'"
										[actionName]="''"
										[action]="''">
									</vtr-widget-feedback>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
