@import "../../../app.theme";

.toggle-button{
	border: none;
	height: 2.4rem;
	width: 5.4rem;
	border-radius:10rem;
	cursor: pointer;
	display: inline-block;
	background: #f2f2f2;
	position: relative;
	vertical-align: middle;
	transition: all 0.2s ease-in;
	margin-top: 0.5rem;
	&.selected{
		background: linear-gradient(90deg, #2fcc74, #33dfa6);
	}
	.btnRound{
		border: none;
		height: 1.8rem;
		width: 1.8rem;
		border-radius:10rem;
		cursor: pointer;
		background: #6d6d6d;
		position: absolute;
		left: 0.3rem;
		top: 0.25rem;
		box-shadow: 0px 0.1rem 0.3rem rgba(0,0,0,0.4);
		transition:all 0.2s ease-in;
		visibility:visible;
		&.selected{
			background: #fbfdff;
			left: 3.2rem;
		}
		@media #{$black-on-white} {
			background: $gaming_darkest;
		}
		@media #{$white-on-black} {
			background: $gaming_lightest;
		}
	}
	.switch-label {
		border: none;
		font-size: 1.2rem;
		font-weight: bold;
		text-transform: uppercase;
		color: #fbfdff;
		position: absolute;
		top: 0.6rem;
		width: 3.5rem;
		left: 0.5rem;
		text-align: center;
		letter-spacing:0rem;
		margin-top: -0.3rem;
		visibility:visible;
		background: none;
		&.off-label {
			left: 2rem;
			color: #6d6d6d;
		}
	}
}



