@import "../../../../app.theme.scss";

.vtr-snapshot-main {
	.item-line {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}

	.custom-control {
		display: inline-block;
		padding-left: 0;

		// modifying global checkbox component
		.custom-control-component ::ng-deep .auto-set-checkbox{
			margin: 0;

			// removing default p margin
			.custom-control-label {
				padding-left: 1.5rem;

				.custom-control-label-text {
					margin-bottom: 0;
				}
			}
		}
	}

	.name {
		font-size: $fontsize_sm;
		font-weight: $weight_bold;
		padding-top: 1rem;
	}
}
