@import "../../../../app.theme.scss";

.vtr-snapshot-components {
	border-radius: 0.5rem;
	background-color: $light;
	@include high-contrast-border;

	.snapshot-group-card-list {
		margin-top: 2.4rem;
		padding: 0;
	}
	.components-list {
		width: 100%;
	}
}
