<!--<vtr-page-layout [title]="'smartPrivacy.title' | translate"-->
<!--				 [textId]="'smartPrivacy'"-->
<!--				 [pageCssClass]="'device'"-->
<!--				 [shiftLeftUp]="true"-->
<!--				 [shiftRightUp]="true"-->
<!--				 [back]="'common.ui.back' | translate"-->
<!--				 [backId]="'smartPerformance-back-btn'">-->
<!--	<left-content>-->
<!--		-->
<!--		<div>123</div>-->
<!--	</left-content>-->
<!--</vtr-page-layout>-->
<iframe class="smart-privacy-content"
		src="/assets/smart-privacy/index.html"
		frameborder="0"
		width="100%"
		height="100%">
</iframe>
