<div class="modal-body">
	<h1 id="hwscan-recover-title" class="title" role="heading">{{ 'hardwareScan.warning' | translate }}</h1>
	<p id="hwscan-recover-description" class="description" role="text">{{ 'hardwareScan.recoverBadSectors.popup.description' | translate }}</p>

	<hr aria-hidden="true"class="info-divisor">

	<div class="row">
		<vtr-ui-button
			linkId="hwscan-rbs-confirm-btn"
			[metricsParent]="'HardwareScan.ConfirmRecoverBadSectors'"
			[metricsItem]="'ConfirmRecoverBadSectors.Confirm'"
			[label]="'hardwareScan.ok' | translate"
			(onClick)="confirmClick()">
		</vtr-ui-button>
	</div>

	<div class="btn-modal-close">
		<vtr-ui-close-button
			linkId="hwscan-rbs-confirm-close-btn"
			[metricsParent]="'HardwareScan.ConfirmRecoverBadSectors'"
			[metricsItem]="'ConfirmRecoverBadSectors.Close'"
			(clickClose)="onClosing()">
		</vtr-ui-close-button>
	</div>
</div>
