@import "../../../app.theme.scss";

.vtr-widget-powered-by-info {
	.subTitle {
		color: $main_darker;
		font-size: 2.4rem;
		font-weight: $weight_600;
	}
	.text-regular {
		color: $main_shade;
		font-size: 1.6rem;
		font-weight: $weight_regular;
		a {
			text-decoration: underline;
		}
	}
	.product-logo {
		width: 10rem;
	}
}
