@import '../../../app.theme.scss';

.vtr-widget-powered-by-info {
	.subTitle {
		color: $shade_blue;
		font-size: 2.4rem;
		font-weight: $weight_600;
	}
	.text-regular {
		color: $main_shade;
		font-size: 1.6rem;
		font-weight: $weight_regular;
		padding: 0.2rem 0.3rem;
		a {
			text-decoration: underline;
		}
	}
	.product-logo {
		width: 10rem;
		@media #{$white-on-black} {
			filter: brightness(0) invert(1);
		}
	}
}
