<vtr-page-layout [title]="title"
	[textId]="'smartPerformance'"
	[pageCssClass]="'device'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true"
	[back]="'common.ui.back' | translate"
	[backId]="'smartPerformance-back-btn'">

	<left-content>
		<div class="vtr-ui-smart-performance vtr-page">
			<div class="row vtr-page-content"
				*ngIf="!isScanning && !isScanningCompleted && !isSubscribed">
				<div class="col vtr-col mb-5">
					<div class="vtr-device-information">
						<div class="container-fluid">
							<div class="row">
								<div class="col col-12 offline-info-background py-5">
									<div class="d-flex justify-content-center w-100 hero-content">
										<span class="icomoon icomoon-pcScan"></span>
										<div class="pl-5 main-title">
											<h1 id="smart-performance-check-title">{{'smartPerformance.performanceandSecurityCheckTitle' |translate }}</h1>
											<h3 id="smart-performance-check-sub-title">{{'smartPerformance.performanceandSecurityCheckSubTitle' |translate }}</h3>
										</div>
									</div>
									<div class="d-flex justify-content-center mb-4 scan-button-content">
										<vtr-ui-button (onClick)="scanNow()"
											linkId="btn.smart-performance-free-scan"
											metricsItem="btn.freepcscan"
											metricsEvent="FeatureClick"
											metricsParent="Page.Support.SmartPerformance"
											[isFullWidth]="true"
											[isDisabled]="!isOnline"
											[label]="'smartPerformance.scanButton' | translate"></vtr-ui-button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col col-12 pc-performance-block">
									<h1 id="smart-performance-section1-head">{{'smartPerformance.section1Heading' |translate }}</h1>
									<h5 id="smart-performance-section1-desc">{{'smartPerformance.section1Description' |translate }}</h5>
									<div class="performance-slider-block">
										<div class="slider">
											<div class="condition">
												<div class="critical">{{'smartPerformance.critical' |translate }}</div>
												<div class="well">{{'smartPerformance.allisWell' |translate }}</div>
											</div>
											<div class="verticle-lines">
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
											</div>
										</div>
										<div class="pc-status-info d-flex">
											<p class="info-text needs-tune-up"><span title="{{'smartPerformance.tuneUP' |translate }}">{{'smartPerformance.tuneUP' |translate }}</span></p>
											<p class="info-text running-well"><span title="{{'smartPerformance.runningWell' |translate }}">{{'smartPerformance.runningWell' |translate }}</span></p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col col-12 pc-performance-block">
									<h2 id="smart-performance-section2-head">{{'smartPerformance.section2Heading' |translate }}</h2>
									<h5 id="smart-performance-section2-desc">{{'smartPerformance.section2Description' |translate }}</h5>
								</div>
							</div>
							<div class="row">
								<div class="col col-12 pc-performance-block">
									<div class="row">
										<ngb-tabset class="tabset-main">
											<ngb-tab id="main-1">
												<ng-template ngbTabTitle>
													<div class="icomoon icomoon-tune-pc"></div><p role="title" id="smart-performance-tune-pc-title">{{'smartPerformance.tunePCPerformance.title' |translate }}</p>
												</ng-template>
												<ng-template ngbTabContent>
													<h2 id="smart-performance-tune-pc-head">{{'smartPerformance.tunePCPerformance.heading' |translate }}</h2>
													<h5 id="smart-performance-tune-pc-desc">{{'smartPerformance.tunePCPerformance.description' |translate }}</h5>
													<div class="icon-bar my-5">
														<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<span class="icomoon icomoon-junk"></span>
																<p id="smart-performance-tune-pc-accumulated-junk" role="title" title="{{'smartPerformance.tunePCPerformance.tabSet1.tab1' |translate }}">{{'smartPerformance.tunePCPerformance.tabSet1.tab1' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-usibilityIssue"></div>
																<p id="smart-performance-tune-pc-usability-issue" role="title" title="{{'smartPerformance.tunePCPerformance.tabSet1.tab2' |translate }}">{{'smartPerformance.tunePCPerformance.tabSet1.tab2' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-windows"></div>
																<p id="smart-performance-tune-pc-windows" role="title" title="{{'smartPerformance.tunePCPerformance.tabSet1.tab3' |translate }}">{{'smartPerformance.tunePCPerformance.tabSet1.tab3' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-systemError"></div>
																<p id="smart-performance-tune-pc-system-error" role="title" title="{{'smartPerformance.tunePCPerformance.tabSet1.tab4' |translate }}">{{'smartPerformance.tunePCPerformance.tabSet1.tab4' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-registryError"></div>
																<p id="smart-performance-tune-pc-registry-error" role="title" title="{{'smartPerformance.tunePCPerformance.tabSet1.tab5' |translate }}">{{'smartPerformance.tunePCPerformance.tabSet1.tab5' |translate }}</p>
															</li>
														</ul>
													</div>
													<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
													<div class="row my-5 smart-features">
														<div class="col-4">
															<h3 class="title" id="smart-performance-tune-pc-tab1-head"
																title="{{'smartPerformance.tunePCPerformance.tabSet2.tab1Heading' |translate }}">{{'smartPerformance.tunePCPerformance.tabSet2.tab1Heading' |translate }}</h3>
															<p id="smart-performance-tune-pc-tab1-desc" role="text">{{'smartPerformance.tunePCPerformance.tabSet2.tab1Description' |translate }}</p>
														</div>
														<div class="col-4">
															<h3 class="title" id="smart-performance-tune-pc-tab2-head"
																title="{{'smartPerformance.tunePCPerformance.tabSet2.tab2Heading' |translate }}">{{'smartPerformance.tunePCPerformance.tabSet2.tab2Heading' |translate }}</h3>
															<p id="smart-performance-tune-p-tab2-desc" role="text">{{'smartPerformance.tunePCPerformance.tabSet2.tab2Description' |translate }}</p>
														</div>
														<div class="col-4">
															<h3 class="title" id="smart-performance-tune-pc-tab3-head"
																title="{{'smartPerformance.tunePCPerformance.tabSet2.tab3Heading' |translate }}">{{'smartPerformance.tunePCPerformance.tabSet2.tab3Heading' |translate }}</h3>
															<p id="smart-performance-tune-pc-tab3-desc" role="text">{{'smartPerformance.tunePCPerformance.tabSet2.tab3Description' |translate }}</p>
														</div>
													</div>
												</ng-template>
											</ngb-tab>
											<ngb-tab id="main-2">
												<ng-template ngbTabTitle>
													<div class="icomoon icomoon-boost-internet"></div><p id="smart-performance-boost-title" role="title">{{'smartPerformance.boostInternetPerformance.title' |translate }}</p>
												</ng-template>
												<ng-template ngbTabContent>
													<h2 id="smart-performance-boost-head">{{'smartPerformance.boostInternetPerformance.heading' |translate }}</h2>
													<h5 id="smart-performance-boost-desc">{{'smartPerformance.boostInternetPerformance.description' |translate }}</h5>
													<div class="icon-bar my-5">
														<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-e-junk"></div>
																<p id="smart-performance-boost-e-junk" role="title" title="{{'smartPerformance.boostInternetPerformance.tabSet1.tab1' |translate }}">{{'smartPerformance.boostInternetPerformance.tabSet1.tab1' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-network-settings"></div>
																<p id="smart-performance-boost-network" role="title" title="{{'smartPerformance.boostInternetPerformance.tabSet1.tab2' |translate }}">{{'smartPerformance.boostInternetPerformance.tabSet1.tab2' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-browser-settings"></div>
																<p id="smart-performance-boost-e-browser-setting" role="title" title="{{'smartPerformance.boostInternetPerformance.tabSet1.tab3' |translate }}">{{'smartPerformance.boostInternetPerformance.tabSet1.tab3' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-browser-security"></div>
																<p id="smart-performance-boost-e-browser-security" role="title" title="{{'smartPerformance.boostInternetPerformance.tabSet1.tab4' |translate }}">{{'smartPerformance.boostInternetPerformance.tabSet1.tab4' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-wifi"></div>
																<p id="smart-performance-boost-wifi" role="title" title="{{'smartPerformance.boostInternetPerformance.tabSet1.tab5' |translate }}">{{'smartPerformance.boostInternetPerformance.tabSet1.tab5' |translate }}</p>
															</li>
														</ul>
													</div>
													<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
													<div class="row my-5 smart-features">
														<div class="col-4">
															<h3 class="title" id="smart-performance-boost-tab1-head"
																title="{{'smartPerformance.boostInternetPerformance.tabSet2.tab1Heading' |translate }}">{{'smartPerformance.boostInternetPerformance.tabSet2.tab1Heading' |translate }}</h3>
															<p id="smart-performance-boost-tab1-desc" role="text">{{'smartPerformance.boostInternetPerformance.tabSet2.tab1Description' |translate }}</p>
														</div>
														<div class="col-4">
															<h3 class="title" id="smart-performance-boost-tab2-head"
																title="{{'smartPerformance.boostInternetPerformance.tabSet2.tab2Heading' |translate }}">{{'smartPerformance.boostInternetPerformance.tabSet2.tab2Heading' |translate }}</h3>
															<p id="smart-performance-boost-tab2-desc" role="text">{{'smartPerformance.boostInternetPerformance.tabSet2.tab2Description' |translate }}</p>
														</div>
														<div class="col-4">
															<h3 class="title" id="smart-performance-boost-tab3-head"
																title="{{'smartPerformance.boostInternetPerformance.tabSet2.tab3Heading' |translate }}">{{'smartPerformance.boostInternetPerformance.tabSet2.tab3Heading' |translate }}</h3>
															<p id="smart-performance-boost-tab3-desc" role="text">{{'smartPerformance.boostInternetPerformance.tabSet2.tab3Description' |translate }}</p>
														</div>
													</div>
												</ng-template>
											</ngb-tab>
											<ngb-tab id="main-3">
												<ng-template ngbTabTitle>
													<span class="icomoon icomoon-malware-security"></span><p id="smart-performance-malware-title" role="title">{{'smartPerformance.malwareSecurity.title' |translate }}</p>
												</ng-template>
												<ng-template ngbTabContent>
													<h2 id="smart-performance-malware-head">{{'smartPerformance.malwareSecurity.heading' |translate }}</h2>
													<h5 id="smart-performance-malware-desc">{{'smartPerformance.malwareSecurity.description' |translate }}</h5>
													<div class="icon-bar my-5">
														<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-malware-scan"></div>
																<p id="smart-performance-malware-scan" role="title" title="{{'smartPerformance.malwareSecurity.tabSet1.tab1' |translate }}">{{'smartPerformance.malwareSecurity.tabSet1.tab1' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-zero-day"></div>
																<p id="smart-performance-malware-zero-day" role="title" title="{{'smartPerformance.malwareSecurity.tabSet1.tab2' |translate }}">{{'smartPerformance.malwareSecurity.tabSet1.tab2' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-errant-program"></div>
																<p id="smart-performance-malware-errant" role="title" title="{{'smartPerformance.malwareSecurity.tabSet1.tab3' |translate }}">{{'smartPerformance.malwareSecurity.tabSet1.tab3' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-annoying-adware"></div>
																<p id="smart-performance-malware-annoy" role="title" title="{{'smartPerformance.malwareSecurity.tabSet1.tab4' |translate }}">{{'smartPerformance.malwareSecurity.tabSet1.tab4' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-security-settings"></div>
																<p id="smart-performance-malware-security" role="title" title="{{'smartPerformance.malwareSecurity.tabSet1.tab5' |translate }}">{{'smartPerformance.malwareSecurity.tabSet1.tab5' |translate }}</p>
															</li>
														</ul>
													</div>
													<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
													<div class="row my-5 smart-features">
														<div class="col-4">
															<h3 class="title" id="smart-performance-malware-tab1-head"
																title="{{'smartPerformance.malwareSecurity.tabSet2.tab1Heading' |translate }}">{{'smartPerformance.malwareSecurity.tabSet2.tab1Heading' |translate }}</h3>
															<p id="smart-performance-malware-tab1-desc" role="text">{{'smartPerformance.malwareSecurity.tabSet2.tab1Description' |translate }}</p>
														</div>
														<div class="col-4">
															<h3 class="title" id="smart-performance-malware-tab2-head"
																title="{{'smartPerformance.malwareSecurity.tabSet2.tab2Heading' |translate }}">{{'smartPerformance.malwareSecurity.tabSet2.tab2Heading' |translate }}</h3>
															<p id="smart-performance-malware-tab2-desc" role="text">{{'smartPerformance.malwareSecurity.tabSet2.tab2Description' |translate }}</p>
														</div>
														<div class="col-4">
															<h3 class="title" id="smart-performance-malware-tab3-head"
																title="{{'smartPerformance.malwareSecurity.tabSet2.tab3Heading' |translate }}">{{'smartPerformance.malwareSecurity.tabSet2.tab3Heading' |translate }}</h3>
															<p id="smart-performance-malware-tab3-desc" role="text">{{'smartPerformance.malwareSecurity.tabSet2.tab3Description' |translate }}</p>
														</div>
													</div>
												</ng-template>
											</ngb-tab>

											<ngb-tab id="main-4">
												<ng-template ngbTabTitle>
													<span class="icomoon icomoon-proactive"></span><p id="smart-performance-proactive-title" role="title">{{'smartPerformance.proactiveAutomated.title' |translate }}</p>
												</ng-template>
												<ng-template ngbTabContent>
													<h2 id="smart-performance-proactive-head">{{'smartPerformance.proactiveAutomated.heading' |translate }}</h2>
													<h5 id="smart-performance-proactive-desc">{{'smartPerformance.proactiveAutomated.description' |translate }}</h5>
													<div class="icon-bar my-5">
														<ul class="listed-task-icons d-flex justify-content-between align-items-center py-3">
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-schedule-scan"></div>
																<p id="smart-performance-proactive-schedule" role="title" title="{{'smartPerformance.proactiveAutomated.tabSet1.tab1' |translate }}">{{'smartPerformance.proactiveAutomated.tabSet1.tab1' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-on-demand"></div>
																<p id="smart-performance-proactive-on-demand" role="title" title="{{'smartPerformance.proactiveAutomated.tabSet1.tab2' |translate }}">{{'smartPerformance.proactiveAutomated.tabSet1.tab2' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-automated"></div>
																<p id="smart-performance-proactive-automated" role="title" title="{{'smartPerformance.proactiveAutomated.tabSet1.tab3' |translate }}">{{'smartPerformance.proactiveAutomated.tabSet1.tab3' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-effective"></div>
																<p id="smart-performance-proactive-effective" role="title" title="{{'smartPerformance.proactiveAutomated.tabSet1.tab4' |translate }}">{{'smartPerformance.proactiveAutomated.tabSet1.tab4' |translate }}</p>
															</li>
															<li class="icon-box d-flex justify-content-center align-items-center py-3">
																<div class="icomoon icomoon-7-protection"></div>
																<p id="smart-performance-proactive-protection" role="title" title="{{'smartPerformance.proactiveAutomated.tabSet1.tab5' |translate }}">{{'smartPerformance.proactiveAutomated.tabSet1.tab5' |translate }}</p>
															</li>
														</ul>
													</div>
													<!-- <vtr-ui-smart-tune-pc></vtr-ui-smart-tune-pc> -->
													<div class="row my-5 smart-features">
														<div class="col-4">
															<h3 class="title" id="smart-performance-proactive-tab1-head">{{'smartPerformance.proactiveAutomated.tabSet2.tab1Heading' |translate }}</h3>
															<p id="smart-performance-proactive-tab1-desc" role="text">{{'smartPerformance.proactiveAutomated.tabSet2.tab1Description' |translate }}</p>
														</div>
														<div class="col-4">
															<h3 class="title" id="smart-performance-proactive-tab2-desc">{{'smartPerformance.proactiveAutomated.tabSet2.tab2Heading' |translate }}</h3>
															<p id="smart-performance-proactive-tab2-desc" role="text">{{'smartPerformance.proactiveAutomated.tabSet2.tab2Description' |translate }}</p>
														</div>
														<div class="col-4">
															<h3 class="title" id="smart-performance-proactive-tab3-desc">{{'smartPerformance.proactiveAutomated.tabSet2.tab3Heading' |translate }}</h3>
															<p id="smart-performance-proactive-tab3-desc" role="text">{{'smartPerformance.proactiveAutomated.tabSet2.tab3Description' |translate }}</p>
														</div>
													</div>
												</ng-template>
											</ngb-tab>
										</ngb-tabset>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col col-12 free-scan">
									<div class="row">
										<div class="contents">
											<vtr-ui-button (onClick)="scanNow()"
												class="mr-4 btn-scan"
												linkId="btn.smart-performance-start-scan"
												metricsItem="btn.freepcscan"
												metricsEvent="FeatureClick"
												metricsParent="Page.Support.SmartPerformance"
												[isDisabled]="!isOnline"
												[isFullWidth]="true"
												[label]="'smartPerformance.scanButton' | translate"></vtr-ui-button>
											<div class="description" id="smart-performance-startScan" role="text">
												<p [innerHTML]="'smartPerformance.startScan' |translate"></p>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="system-scan-complete"
							*ngIf="isScanningCompleted">
							<div class="row">
								<div class="col col-12 offline-info-background">
									<div class="w-100">
										<div class="row d-flex justify-content-between">
											<div class="mt-5 hero-text">
												<h1>{{'smartPerformance.scanCompletePage.title' |translate }}</h1>
												<h3>{{'smartPerformance.scanCompletePage.description' |translate }}</h3>
											</div>
											<fa-icon [icon]="['fas', 'laptop']"></fa-icon>
										</div>
										<hr class="light-dashline" />
									</div>
									<div class="performance-slider-block scan-results">
										<h3 class="recomendation-text">{{'smartPerformance.scanCompletePage.scanRates' |translate }}<span>4</span></h3>
										<div class="slider">
											<div class="verticle-lines">
												<div class="scan-pointer">&#9660;</div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
												<div class="line"></div>
											</div>
											<div class="condition">
												<div class="critical">{{'smartPerformance.critical' |translate }}</div>
												<div class="well">{{'smartPerformance.allisWell' |translate }}</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="summary-block">
									<h2 class="title-big mb-3">{{'smartPerformance.scanCompletePage.summary' |translate }}</h2>
									<p>{{'smartPerformance.scanCompletePage.summaryDetails' |translate }}</p>
									<div class="d-flex justify-content-between my-5">
										<button class="action-button"
											vtrMetrics
											metricsEvent="FeatureClick"
											metricsParent="Page.Support.SmartPerformance"
											metricsItem="btn.backtohome">{{'smartPerformance.scanCompletePage.signupRepairButton' |translate }}</button>
										<div class="desc">
											<p>{{'smartPerformance.scanCompletePage.monthlyPricing' |translate }}<a href="#"
													class="para-link"
													vtrMetrics
													metricsItem="btn.learnmore"
													metricsParent="Page.Support.SmartPerformance"
													metricsEvent="FeatureClick">Learn more</a></p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</left-content>
	<right-content>
		<div class="vtr-ui-smart-performance vtr-page">
			<div class="row vtr-page-content"
				*ngIf="!isScanning && !isScanningCompleted && !isSubscribed">
				<div class="col vtr-col">
					<div class="container-fluid">
						<div class="row">
							<div class="vtr-page-shift-up">
								<div class="container-fluid">

									<div class="row mb-40"
										*ngIf="!isScanning && !isScanningCompleted">
										<div class="col col-12">
											<vtr-widget-subscriptiondetails (subScribeEvent)="changeManageSubscription($event)"
												(expiredStatusEvent)="subscriptionInfo($event)"
												[isOnline]="isOnline"></vtr-widget-subscriptiondetails>
										</div>
									</div>

									<div class="row mb-40"
										*ngIf="!isScanning && !isScanningCompleted && !isOldVersion">
										<div class="col col-12">
											<!----------Scan Schedule--------------->
											<vtr-subpage-schedule-scan [isOnline]="isOnline"
												(hideBasedOnOldAddIn)="hideBasedOnOldAddInVersion($event)"></vtr-subpage-schedule-scan>
											<!----------Scan Schedule--------------->
										</div>
									</div>

									<div class="row mb-40">
										<div class="col col-12">
											<div class="feedback-container">
												<div class="container-fliud">
													<div class="row">
														<div class="col">
															<div class="title">{{'smartPerformance.feedbackContainer.title' | translate}}</div>
															<div class="description">{{'smartPerformance.feedbackContainer.subtitle' | translate}}</div>
															<div class="pt-5 text-center">
																<button class="feedback-btn"
																	vtrMetrics
																	metricsEvent="FeatureClick"
																	metricsParent="Page.Support.SmartPerformance"
																	metricsItem="btn.sp.sendfeedback"
																	type="button"
																	(click)="onclickFeedback()"
																	[ngbTooltip]="'smartPerformance.feedbackContainer.buttonText' | translate"
																	placement="top">{{'smartPerformance.feedbackContainer.buttonText' | translate}}
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</right-content>
</vtr-page-layout>
<vtr-subpage-scanning *ngIf="isScanning"
	(sendModelStatus)="cancelScanfromScanning()"
	[scheduleScanData]="scheduleScanObj"
	[isScheduleScan]="isScheduleScan"
	[isAutoScanRunning]="isScheduleScanRunning">
</vtr-subpage-scanning>
<vtr-subpage-smart-performance-scan-summary *ngIf="(isScanningCompleted || isSubscribed) && !isScanning "
	[hasSubscribedScanCompleted]="hasSubscribedScanCompleted"
	[inputIsScanningCompleted]="showSubscribersummary"
	[isExpired]="subscriptionInfoStatus"
	(backToScan)="changeScanEvent()"
	(backToNonSubscriber)="changeSummaryToHome()"
	[rating]="rating"
	[tune]="tune"
	[boost]="boost"
	[secure]="secure"
	[isOnline]="isOnline">
</vtr-subpage-smart-performance-scan-summary>

<div style="width: 90px; height: 20px; cursor: pointer; position: fixed; right: 0; bottom: 0; font-size: 12px; text-align: center; background: #bbb; color: #fff"
	(click)="forPATest()">
	SP for PA Test
</div>
