@import "../../../styles/common-blocks";

.permit {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 4.5rem 7rem 0;

	&__figure {
		max-width: 30rem;
		img {
			width: 100%;
			height: auto;
		}
	}

	&__stepper {
		margin-top: 6rem;
	}

	&__title {
		@extend %subtitle;
		padding: 0 6rem;
		margin-top: 1rem;
		text-align: center;
	}

	&__text-block {
		margin-top: 1.5rem;
	}

	&__text {
		@extend %text-common;
		font-size: 1.6rem;
		line-height: 3rem;
		text-align: center;

		&--block {
			display: block;
		}
	}

	&__button {
		margin-top: 4rem;
		width: 26rem;
		@extend %theme-btn;

		&--skip {
			margin-top: 3rem;
			@extend %button-text;
		}
	}
}
