@import "../../../styles/common-blocks";

.permit {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 4.5rem 12rem;

	&__figure {

	}

	&__stepper {
		margin-top: 6rem;
	}

	&__title {
		margin-top: 1rem;
		@extend %subtitle;
	}

	&__text-block {
		margin-top: 3rem;
	}

	&__text {
		@extend %text-common;
		text-align: center;

		&--block {
			display: block;
		}
	}

	&__button {
		margin-top: 5rem;
		width: 26rem;
		@extend %theme-btn;
	}

	&__button--skip {
		width: 9rem;
		margin-top: 4rem;
		border: none;
		background: inherit;
		text-transform: uppercase;
		opacity: 0.4;
		color: #444F78;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 0.7px;
		line-height: 13px;
		text-align: center;
	}
}
