<!--<p>-->
	<!--permit works!-->
	<!--<span>{{data.index}} | {{data.length}}</span>-->
	<!--<button (click)="allowEmitter()">Allow</button>-->
<!--</p>-->

<section class="permit">
	<figure class="permit__figure">
		<img src="/assets/images/privacy-tab/privacy-search-completed.png"
			 srcset="/assets/images/privacy-tab/privacy-search-completed@2x.png 2x"
			 alt="permit">
	</figure>

	<h2 class="permit__title">
		Can we check your browser?
	</h2>


	<div class="permit__text-block">
		<p class="permit__text">
			To check for online trackers and non-private passwords we need access to view your browsing history and accounts saved in browser.
			<span class="permit__text permit__text--block">We don't store your private data or use it in any way that violates your privacy.</span>
		</p>
	</div>

	<button class="permit__button" (click)="allowEmitter()">
		Agree
	</button>

	<button class="permit__button--skip" (click)="disallowEmitter()">
		Skip
	</button>

</section>
