<div class="vtr-widget-reboot">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="title">Reboot pending</div>
				<div class="content">
					<div class="description">
						In order to succesfully install the updates your computer needs a reboot to ensure everything is
						running safe and
						smoothly.
					</div>
				</div>
				<div class="button-box">
					<a role="button" vtrMetrics metricsItem="reboot now" metricsParent="reboot-pending" metricsEvent="itemClick"
						href="/"
						class="button"
						target="_blank">Reboot Now</a>
				</div>
				<a role="link"
					href="/"
					class="link"
					target="_blank">Remind me later</a>
			</div>
		</div>
	</div>
</div>
