<ngb-tabset class="tabset1"   (tabChange)="fetchSmartTabId($event)">
		<ngb-tab id="tab-selectbyid1" class="tune-ups">
			<ng-template ngbTabTitle> 	<fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> Accumulated Junk</ng-template>
			<ng-template ngbTabContent>
				<h6 class="small-title">SCANNED AREAS</h6>
				<div class="row">

						<div class="col-sm-6 col-md-6 ">
							<ul class="check-list">

								<li>Optimizing windows settings</li>
								<li> Applying registry and shortcut fixes</li>
								<li>Scanning and fixing critical services</li>
								<li>Modifying Windows settings</li>
								<li>Improving start-up performance</li>

							</ul>

						</div>
						<div class="col-sm-6 col-md-6">
							<ul class="check-list">
								<li>Preventing non-essential services from running</li>
								<li>Removing unnecessary residual files</li>
								<li>Removing OS and application log files</li>
								<li>Clearing various cache & temporary files</li>
								<li>Cleaning and removing registry entries</li>
							</ul>

						</div>
				</div>

			</ng-template>
		  </ngb-tab>
		  <ngb-tab id="tab-selectbyid2">
			<ng-template ngbTabTitle> Usability Issues </ng-template>
			<ng-template ngbTabContent> Usability Issues
			</ng-template>
		  </ngb-tab>
		  <ngb-tab id="tab-selectbyid3">
			<ng-template ngbTabTitle>Windows Settings </ng-template>
			<ng-template ngbTabContent>Windows Setting

			</ng-template>
		  </ngb-tab>
		  <ngb-tab id="tab-selectbyid4">
			<ng-template ngbTabTitle>	<fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>Systems Errors </ng-template>
			<ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.

			</ng-template>
		  </ngb-tab>
		  <ngb-tab id="tab-selectbyid5">
			<ng-template ngbTabTitle>Registry Errors </ng-template>
			<ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.

			</ng-template>
		  </ngb-tab>
	</ngb-tabset>
