@import "../../../styles/common-blocks";

.no-issue {
	@extend %common-block-wrapper;
	margin-top: 5rem;

	&__title {
		@extend %subtitle;
	}

	&__text {
		//display: flex;
		//flex-flow: row;
		//flex-wrap: wrap;
		margin-top: 2rem;
		@extend %text-common;
		font-size: 1.6rem;
		line-height: 3rem;

		&--bold {
			font-weight: bold;
		}
	}

	&__img {
		margin-top: 3rem;
		width: 100%;
	}

	&__chips {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		@extend %text-common;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__chips-item {
		padding: 0 2rem;
		margin-top: 1.5rem;
		line-height: 3.4rem;
		border-radius: 17px;
		background-color: #E6EAEB;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	&__pitch {
		margin-top: 4rem;
	}
}
