<div class="modal-smart-performance-cancel">
	<div class="row justify-content-end">
		<div class="btn-close">
			<button type="button"
				class="close"
				aria-hidden="true"
				(click)="closeModal()">
				<fa-icon [icon]="['fal', 'times']"></fa-icon>
			</button>
		</div>
	</div>
	<div class="content-block px-3">
		<h1>{{'smartPerformance.scanningPage.cancelScan.title' |translate }}</h1>
		<p>{{'smartPerformance.scanningPage.cancelScan.description' |translate }}</p>
		<hr>
		<div class="row">
			<button class="btn cancel-button" (click)="cancelScan()">{{'smartPerformance.scanningPage.cancelScan.yesButton' |translate }}</button>
			<div class="py-5 ml-5">
				<a (click)="closeModal()" class="resume-scan">{{'smartPerformance.scanningPage.cancelScan.noButton' |translate }}</a>
			</div>
		</div>
	</div>
</div>
