<div class="modal-smart-performance-cancel">
	<div class="content-block px-3">
		<h1>{{'smartPerformance.scanningPage.cancelScan.title' |translate }}</h1>
		<p>{{'smartPerformance.scanningPage.cancelScan.cancelMayTakeSomeTime' |translate }}</p>
		<p *ngIf="!isLoading">{{'smartPerformance.scanningPage.cancelScan.cancelTextPrompt' |translate }}</p>
		<!-- <h5 *ngIf="promptMsg" class="mt-2">{{ 'hardwareScan.cancelTextPrompt' | translate }}</h5> -->
		<hr>
		<div *ngIf="isLoading">
			<div class="container" [style.height.px]="40">
				<div class="loader center-block">
					<div class="spinner-border text-secondary progress-spinner" role="status"></div>
				</div>
			</div>
		</div>
		<div class="row align-items-center" *ngIf="!isLoading">
			<vtr-ui-button linkId="smart-performance-btn-yes-cancel" 
				metricsEvent="FeatureClick"
				metricsItem="btn.yes,cancel" 
				metricsParent="Page.Support.SmartPerformance"
				[isFullWidth]="true"
				buttonColor="red"
				label="{{'smartPerformance.scanningPage.cancelScan.yesButton' | translate }} ({{secondsCountdown}})"
				(onClick)="cancelScan()"></vtr-ui-button>
			<div class="py-5 ml-5">
				<button (click)="closeModal()" class="resume-scan" vtrMetrics metricsEvent="ItemClick"
					metricsParent="Page.Support.SmartPerformance"
					metricsItem="btn.no,resumescan" #resume>{{'smartPerformance.scanningPage.cancelScan.noButton' |translate }}
				</button>
			</div>
		</div>
	</div>
	<div class="btn-modal-close" *ngIf="!isLoading">
		<vtr-ui-close-button linkId="about-close-button"
			metricsItem="btn.cancelscan.closepopup"
			metricsParent="Page.Support.SmartPerformance"
			(clickClose)="closeModal()"></vtr-ui-close-button>
	</div>
</div>