@import "../../../../../app.theme";

.title {
	color: $light;
	font-size: $fontsize_xl;
	font-weight: $weight_600;
	padding: 2.4rem 2.4rem 0.5rem;
}

.result-date-description {
	color: $grey_light;
	font-size: $fontsize_xs;
	font-weight: $weight_light;
	padding-bottom: 1.5rem;
	padding-left: 2.4rem;
}

.description-row {
	color: $light;
	font-size: $fontsize_xs;
	font-weight: $weight_light;
	line-height: 2.1rem;
	padding-bottom: 1rem;

	.failure-description {
		padding-left: 2.4rem;
	}
}

.button-row {
	padding-left: 2rem;
	padding-bottom: 1.5rem;
	padding-right: 2.4rem;
	display: flex;

	.button-container {
		margin: 0 1.9rem 0 0;
	}
}

// Removing padding left from hyperlink button
:host::ng-deep.tooltip-inner {
	.hyperlink-container {
		.vtr-ui-hyperlink-button {
			padding-left: 0;
		}
	}

}

.final-result-code {
	color: $light;
	font-size: $fontsize_xs2;
	line-height: 1.5rem;
	padding: 1rem 2.4rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.result-code-value-text {
		opacity: 0.5;
		margin-top: 1rem;
		font-weight: $weight_bold;
	}
	.result-code-complete-text {
		margin-left: 0.5rem;
		margin-top: 1rem;
		text-transform: uppercase;
	}
	.result-code-icon {
		margin-left: 0.5rem;
		font-size: $fontsize_lg;
		color: $menu_hover;
		cursor: pointer;
		&:hover {
			color: $highlight;
		}
		&:focus {
			@include outline_blue;
		}
	}

	::ng-deep ngb-tooltip-window.vtr-tooltip.tooltip {
		&.bs-tooltip-auto[x-placement^=left-top], &.tooltip.bs-tooltip-left-top {
			margin-top: -6rem;
			.arrow {
				&::before {
					top: calc(5rem + 50%);
				}

				// Used to fix arrow top when is in high contrast
				@media #{$white-on-black} {
					top: calc(-11.5rem + 50%);
				}
				@media #{$black-on-white} {
					top: calc(-11.5rem + 50%);
				}
			}
		}

		&.bs-tooltip-auto[x-placement^=right-top], &.tooltip.bs-tooltip-right-top {
			margin-top: -6rem;
			.arrow {
				&::before {
					top: calc(5rem + 50%);
				}

				// Used to fix arrow top when is in high contrast
				@media #{$white-on-black} {
					top: calc(-7.5rem + 50%);
				}
				@media #{$black-on-white} {
					top: calc(-7.5rem + 50%);
				}
			}
		}

	}
}

#rbs-header-height-filler {
	height: 12.8rem;
}
