@import "./../../../app.theme.scss";

.vtr-ui-custom-switch {
	$font-size-base: 14px;
	$line-height-base: 1.5 !default;
	$custom-control-indicator-border-color: $light;
	$custom-control-gutter: 3px !default;
	$custom-control-indicator-border-width: 1px;
	$custom-switch-width: 46px !default;
	$custom-switch-height: 20px !default;
	$custom-switch-indicator-border-radius: 10px;
	$custom-switch-indicator-size: 14px;
	$input-focus-indicator: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 3px rgba(0, 123, 255, 1);
	$input-checked-background: transparent linear-gradient(113deg, $green_darker 0%, $green-light 100%) 0% 0% no-repeat
		padding-box;

	.custom-switch {
		height: 26px;
		margin: 5px 4px;
		padding-left: $custom-switch-width + $custom-control-gutter;

		.custom-control-input {
			width: 48px;
			height: 25px;
		}
		.custom-control-label {
			cursor: pointer;
			&::before {
				left: -($custom-switch-width + $custom-control-gutter);
				width: $custom-switch-width;
				height: $custom-switch-height;
				pointer-events: all;
				border-radius: $custom-switch-indicator-border-radius;
				transition: none;
				top: 0;
			}

			&::after {
				top: ($custom-switch-height - $custom-switch-indicator-size) /2;
				// left: (-($custom-switch-width + $custom-control-gutter) + ($custom-control-indicator-border-width * 2));
				left: -45px;
				width: $custom-switch-indicator-size !important;
				height: $custom-switch-indicator-size !important;
				background-color: $custom-control-indicator-border-color;
				border-radius: $custom-switch-indicator-border-radius;
			}
		}

		// maintain order of hover, focus, active
		.custom-control-input:checked:active ~ .custom-control-label {
			&::before {
				background: $green-light;
				border-color: $green-light;
			}
		}

		.custom-control-input:focus ~ .custom-control-label {
			&::before {
				box-shadow: $input-focus-indicator;
			}
		}

		.custom-control-input:checked:hover ~ .custom-control-label {
			&::before {
				border-color: $green_darker;
				background: $green_darker;
			}
		}
		.custom-control-input:checked ~ .custom-control-label {
			&::before {
				border: 0;
				background: $input-checked-background;
			}
			&::after {
				background-color: $light;
				transform: translateX(24px);
			}
		}
		.custom-control-input:not(:checked) ~ .custom-control-label {
			&::before {
				border-color: $grey_darker;
				background-color: $grey_light;
			}
			&::after {
				background-color: $grey_darker;
			}
		}

		.custom-control-input:disabled:hover ~ .custom-control-label,
		.custom-control-input:disabled ~ .custom-control-label {
			&::before {
				background: $grey_light;
				opacity: 0.8;
				border: $grey_darker solid 1px;
			}
			&::after {
				background-color: $grey_darker;
				opacity: 0.4;
			}
		}
	}

	vtr-spinner {
		font-size: 2rem !important;
		color: $menu_hover;
	}
}
