@import "../../../styles/common-blocks";

$leftIndent: 7.5rem;

.verify {
	position: relative;

	&__block {
		position: absolute;
		width: 67rem;
		left: 50%;
		top: 5%;
		transform: translate(-50%, 0);
		border-radius: 10px;
		box-shadow: 0 7px 31px 0 rgba(52,73,94,0.18);
		background: #fff;
		overflow: hidden;

		&--confirmation {
			padding: 3rem 3rem 4rem 3rem;
		}
	}

	&__wrapper {
		display: flex;
		flex-flow: column;
		padding: 3rem 4rem;
	}

	&__wrapper-email {
		display: flex;
		flex-flow: column;
		padding: 2rem 4rem;
		background-color: #F5F7F8;
	}

	&__title {
		@extend %subtitle;
		font-weight: 500;

		&--red {
			color: red;
		}
	}

	&__email {
		&--bold {
			font-weight: bold;
		}
	}

	&__text {
		@extend %text-common;
		margin-top: 2rem;
	}

	&__email-title {
		@extend %text-common;
		font-weight: bold;
		text-transform: uppercase;

		&--limit {
			color: #34495E;
		}
	}

	&__email-text {
		@extend %text-common;
	}

	&__email-check-form {
		margin: 2rem 0 4rem;
	}

	&__button-wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		align-content: center;
		margin-top: 4rem;
	}

	&__button {
		@extend %theme-btn;
		display: inline;

		&--transparent {
			@extend %theme-btn--transparent;
		}
	}

	&__button-link {
		@extend %button-link;
		@extend %button-link__text;
		@extend %button-link--padding-0;
		@extend %button-link--uppercase;
	}
}



.limit {
	&__group-button {
		display: flex;
		flex-flow: row;
		align-items: center;
		margin-top: 2rem;
		padding-bottom: 1rem;
	}

	&__button-link {
		text-align: center;
		cursor: pointer;

		a {
			@extend %button-link;
			@extend %button-link--to-right;
			padding-right: 0;
			position: relative;
			border-bottom: 1px solid;
			cursor: pointer;
		}

		&.offline-active {
			a {
				color: #D8D8D8;

				&:before {
					display: none;
				}
			}
		}

		&:not(:last-child) {
			margin-right: 4rem;
		}

		&--to-right {
			a {
				@extend %button-link--to-right;

				&:before {
					right: -15px;
				}
			}
		}

		&--download {
			a:before {
				position: absolute;
				transform: translateY(-50%);
				width: 1.4rem;
				height: 1.2rem;
				right: -15px;
				top: 60%;
				background-image: url("src/assets/icons/privacy-tab/icon-download.svg");
			}

			a:hover:before {
				background-image: url("/assets/icons/privacy-tab/icon-download-hover.svg");
			}

			a:active:before {
				background-image: url("/assets/icons/privacy-tab/icon-download-active.svg");
			}
		}
	}
}
