<div class="verify">
	<vtr-fake-breaches></vtr-fake-breaches>

	<div class="verify__block" *ngIf="!isShowConfrimation">
		<div class="verify__wrapper">
			<ng-container [ngTemplateOutlet]="verifyBlock"></ng-container>
		</div>
		<div class="verify__wrapper-email" *ngIf="isShowEmailBlock">
			<ng-container [ngTemplateOutlet]="emailBlock" *ngIf="scanCounter < scanCounterLimit"></ng-container>
			<ng-container [ngTemplateOutlet]="scanLimitBlock" *ngIf="scanCounter >= scanCounterLimit"></ng-container>
		</div>

	</div>
	<div class="verify__block verify__block--confirmation" *ngIf="isShowConfrimation">
		<vtr-confirmation></vtr-confirmation>
	</div>

	<vtr-try-product-block
		[isFigleafReadyToCommunication]="isFigleafReadyForCommunication"
		[texts]="tryProductText">
	</vtr-try-product-block>
</div>

<ng-template #emailBlock>
	<p class="verify__email-title">Check another email</p>
	<p class="verify__email-text">You’ve already checked 1 of 2 email addresses. Make sure you enter your second email accurately because you won’t be able to check a third one.</p>

	<vtr-check-breaches-form class="verify__email-check-form" (userEmail)="hideEmailBlock()"></vtr-check-breaches-form>
</ng-template>

<ng-template #scanLimitBlock>
	<p class="verify__email-title verify__email-title--limit">You’ve reached your breach scan limit</p>
	<p class="verify__email-text">If you want to check more emails, Install Lenovo Privacy Essentials by FigLeaf.</p>

	<div class="limit__group-button">
		<div class="limit__button-link limit__button-link--download"
			 vtrOfflineMode
			 positionContextTo="top-right">
			<a vtrOpenFigleafInstaller
			   vtrSendAnalytics
			   [metricsEvent]="'ItemClick'"
			   [metricsItem]="'InstallButton' | changeActionButtonText | async">
				{{'Install' | changeActionButtonText | async}}
			</a>
		</div>
		<div class="limit__button-link limit__button-link--to-right">
			<a routerLink="/privacy/landing"
			   vtrSendAnalytics
			   [metricsEvent]="'ItemClick'"
			   [metricsItem]="'LearnMoreLink'">
				Learn more
			</a>
		</div>
	</div>
</ng-template>

<ng-template #verifyBlock>
	<h3 class="verify__title"><span class="verify__title--red">{{breachedAccountsLength}}</span> breached accounts found</h3>
	<p class="verify__text">To see breached accounts for <span class="verify__email--bold">{{userEmail}}</span>, verify your email so we can make sure it belongs to you.</p>

	<p class="verify__button-wrapper">
		<button class="verify__button"
				[ngClass]="{'verify__button--transparent': isShowEmailBlock}"
				vtrSendAnalytics
				[metricsEvent]="'ItemClick'"
				[metricsItem]="'BreachedAccountsVerifyEmailButton'"
				(click)="verifyEmailClick()">
			{{isFigleafReadyForCommunication ? 'Verify email in app' : 'Verify email'}}
		</button>
		<button class="verify__button-link"
				*ngIf="!isFigleafReadyForCommunication"
				[disabled]="isShowEmailBlock"
				vtrSendAnalytics
				[metricsEvent]="'ItemClick'"
				[metricsItem]="'BreachedAccountsThisEmailIsNotMineButton'"
				(click)="openInputEmailBlock()">
			This email is not mine
		</button>
	</p>
</ng-template>
