<div class="verify">
	<div class="verify-item" *ngFor="let opacity of ['0.7','0.5','0.4','0.3','0.2','0.05']">
		<div class="verify-item__preview" [ngStyle]="{'opacity': opacity}">
			<div class="verify-item__image">
				<img class="verify-item__img"
					 src="assets/images/privacy-tab/default-site.png"
					 srcset="assets/images/privacy-tab/default-site@2x.png 2x"
					 alt="website">
			</div>
			<div class="verify-item__text">
				<div class="verify-item__social">
					<div class="verify-item__social-description">
						<h4 class="verify-item__title">Website name</h4>
						<p class="verify-item__date" title="Dec 12, 2016">Breached on Dec 12, 2016</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="verify__block" *ngIf="!isShowConfrimation">
		<div class="verify__wrapper">
			<h3 class="verify__title"><span class="verify__title--red">{{breachedAccountsLength}}</span> breached accounts found</h3>
			<p class="verify__text">To see breached accounts for <span class="verify__email--bold">{{userEmail}}</span>, verify your email so we can make sure it belongs to you.</p>

			<p>
				<button class="verify__button"
						vtrSendAnalytics
						[metricsEvent]="'ItemClick'"
						[metricsItem]="'BreachedAccountsVerifyEmailButton'"
						(click)="verifyEmailClick()">{{isFigleafReadyForCommunication ? 'Verify email in app' : 'Verify email'}}</button>
			</p>
		</div>
	</div>
	<div class="verify__block verify__block--confirmation" *ngIf="isShowConfrimation">
		<vtr-confirmation></vtr-confirmation>
	</div>

	<vtr-try-product-block
		[isFigleafReadyToCommunication]="isFigleafReadyForCommunication"
		[texts]="tryProductText">
	</vtr-try-product-block>
</div>
