<div class="vtr-ui-time-picker">
	<p class="sub-heading">
		{{ subHeadingText | translate | uppercase }}</p>
	<div class="row">
		<div class="col-md-12 col-sm-12 pl-0">
			<div class="row">
				<div class="dropdown">
					<input [id]="id"
						class="dropcheck"
						type="checkbox"
						tabindex="-1"
						[attr.aria-checked]="showDropDown"
						[checked]="showDropDown"
						(click)="onToggleDropDown()"
						(keydown.enter)="onToggleDropDown()">
					<label [for]="id"
						attr.aria-label="{{label}}, {{hours[hour]}}, 'hours', {{minutes[minute]}}, 'minutes', {{amPms[amPm] | translate}}"
						[attr.aria-expanded]="showDropDown"
						tabindex="0"
						class="dropbtn"
						role="combobox"
						(keydown.enter)="onToggleDropDown()">
						<div class="row">
							<div class="col align-items-center d-flex justify-content-between">
								<div class="time-headings">
									<p class=""
										id="smartStandby-{{linkId}}-hours"
										attr.aria-label="smartStandby-{{linkId}}-hours">
										{{ 'device.deviceSettings.power.smartStandby.timer.timeUnits.unit1' | translate | uppercase }}
									</p>
									<span class="">{{hours[hour]}}</span>
								</div>
								<div class="time-headings">
									<p class=""
										id="smartStandby-{{linkId}}-minutes"
										attr.aria-label="smartStandby-{{linkId}}-minutes">
										{{ 'device.deviceSettings.power.smartStandby.timer.timeUnits.unit2' | translate | uppercase }}
									</p>
									<span class="">{{minutes[minute]}}</span>
								</div>
								<div class="time-headings">
									<p class=""
										id="smartStandby-{{linkId}}-amPm"
										attr.aria-label="smartStandby-{{linkId}}-amPm">
										{{ 'device.deviceSettings.power.smartStandby.timer.timeUnits.unit3' | translate }}
									</p>
									<span class="">{{amPms[amPm] | translate}}</span>
								</div>

								<div class="toggle-icon align-right"
									id="smartStandby-{{linkId}}-dropDown-btn"
									attr.aria-label="smartStandby-{{linkId}}-dropDown-btn">
									<fa-icon [icon]="['fal', 'chevron-down']"></fa-icon>
								</div>
							</div>
						</div>
					</label>

					<div *ngIf="showDropDown"
						class="dropdown-content">

						<div class="main-block">
							<div class="timer-block">
								<div class="row align-items-center d-flex justify-content-between">
									<div class="hours-block">

										<div class="toggle-icon"
											(click)="updateHours(false)"
											(keydown.enter)="updateHours(false)"
											tabindex="0"
											role="button"
											id="smartStandby-{{linkId}}-hours-prev-btn"
											aria-label="smart standby hours decrease button">
											<fa-icon [icon]="['fal', 'chevron-up']"></fa-icon>
										</div>

										<span>{{hours[prevHour]}}</span><br>
										<span class="highlight" role="text" tabindex="0" id="{{hours[copyHour]}}, 'hours'" attr.aria-label="{{hours[copyHour]}}, 'hours'">{{hours[copyHour]}}</span><br>
										<span>{{hours[nextHour]}}</span>

										<div class="toggle-icon"
											(click)="updateHours(true)"
											(keydown.enter)="updateHours(true)"
											tabindex="0"
											role="button"
											id="smartStandby-{{linkId}}-hours-next-btn"
											aria-label="smart standby hours increase button">
											<fa-icon [icon]="['fal', 'chevron-down']"></fa-icon>
										</div>

									</div>

									<div class="minutes-block">
										<div class="toggle-icon"
											(click)="updateMinutes(false)"
											(keydown.enter)="updateMinutes(false)"
											id="smartStandby-{{linkId}}-minutes-prev-btn"
											tabindex="0"
											role="button"
											aria-label="smart standby minutes decrease button">
											<fa-icon [icon]="['fal', 'chevron-up']"></fa-icon>
										</div>

										<span>{{minutes[prevMinute]}}</span><br>
										<span class="highlight" role="text" tabindex="0" id="{{minutes[copyMinute]}}, 'minutes'" attr.aria-label="{{minutes[copyMinute]}}, 'minutes'">{{minutes[copyMinute]}}</span><br>
										<span>{{minutes[nextMinute]}}</span>

										<div class="toggle-icon"
											(click)="updateMinutes(true)"
											(keydown.enter)="updateMinutes(true)"
											tabindex="0"
											role="button"
											id="smartStandby-{{linkId}}-minutes-next-btn"
											aria-label="smart standby minutes increase button">
											<fa-icon [icon]="['fal', 'chevron-down']"></fa-icon>
										</div>

									</div>

									<div class="am-pm highlight" role="radiogroup" tabindex="0">
										<span>
											<label class="inline-block" for="{{linkId}}-am-radio" attr.aria-label="{{ amPms[0] | translate }}" tabindex="0"
											[attr.aria-checked]="copyAmPm==0" (keydown.enter)="setAmPm(0)">
												<input class="label-radio"
													id="{{linkId}}-am-radio"
													[name]="'ampmradio'+id"
													type="radio"
													value="0"
													tabindex="-1"
													[checked]="copyAmPm==0"
													(click)="setAmPm(0)"
													 />
												<p class="label-text">{{ amPms[0] | translate }}</p>
											</label>
										</span><br>
										<span>
											<label class="inline-block" for="{{linkId}}-pm-radio" attr.aria-label="{{ amPms[1] | translate }}" [attr.aria-checked]="copyAmPm==1" tabindex="0" (keydown.enter)="setAmPm(1)">
												<input class="label-radio"
													id="{{linkId}}-pm-radio"
													[name]="'ampmradio'+id"
													type="radio"
													tabindex="-1"
													value="1"
													[checked]="copyAmPm==1"
													(click)="setAmPm(1)"
													 />
												<p class="label-text">{{ amPms[1] | translate }}</p>
											</label>
										</span>
									</div>
									<div class="empty-block"></div>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-end py-3">
							<div class="select-close">
								<fa-icon [icon]="['fal', 'check']"
									tabindex="0"
									role="button"
									(click)="setTimer()"
									(keydown.enter)="setTimer()"
									id="smartStandby-{{linkId}}-done-icon"
									aria-label="'confirm changes'"></fa-icon>
								<fa-icon [icon]="['fal', 'times']"
									tabindex="0"
									role="button"
									(click)="clearSettings()"
									(keydown.enter)="clearSettings()"
									id="smartStandby-{{linkId}}-close-icon"
									aria-label="'cancel changes'"></fa-icon>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
