<div class="beta-vtr-header-main">
	<div *ngIf="!hide"
		class="back">{{backarrow}}
		<a vtrMetrics
			metricsEvent="FeatureClick"
			metricsItem="Back.Button"
			(click)="goBack()"
			id="{{backId}}"
			attr.aria-label="{{backId}}">
			<span>
				{{back}}
			</span>
		</a>
	</div>
	<h1 class="title"
		id="{{textId}}-header-title"
		attr.aria-label="{{textId}}-header-title">{{title}}</h1>
	<ng-content></ng-content>
	<div *ngIf="forwardLink"
		class="forward-link">
		<a routerLink="/{{forwardLink.path}}"><span role="text"
				class="forward-link-label">{{forwardLink.label}}</span>
			<fa-icon [icon]="['fas', 'arrow-right']"
				class="forward-link-icon"></fa-icon>
		</a>
	</div>
	<div class="menu">
		<vtr-menu-header [menuItems]="menuItems"></vtr-menu-header>
	</div>
</div>
