@import "../../../styles/common-blocks";

.sidebar-expired-widget {
	@extend %common-block-wrapper;
	margin: $topIndent 0 9.6rem 0;
	letter-spacing: 0;
	padding: 0 0 3.5rem 0;

	&__inner {
		text-align: center;
		font-size: 1.6rem;
		display: flex;
		flex-direction: column;
	}

	&__hidden-inner {
		border-top: 1px solid #ECF0F1;
		padding: 3.9rem 4rem;
	}

	&__main-image {
		vertical-align: top;
		width: 100%;
	}

	&__text {
		color: #34495E;
		font-size: 1.6rem;
		line-height: 2.6rem;
		margin: 2rem 5rem;
	}

	&__text-strong {
		display: block;
		font-weight: bold;
	}

	&__main-text {
		display: block;
		margin-top: 1rem;

		&--sm {
			font-size: 1.6rem;
			line-height: 2.6rem;
		}
	}

	&__text-light {
		font-weight: 300;

		&--bold {
			font-weight: bold;
		}
	}

	&__button {
		@extend %theme-btn;
		display: block;
		margin: 0 auto;

		&--transparent {
			@extend %theme-btn--transparent;
		}
	}

	&__button-link {
		margin-top: 1.2rem;
	}

	&__show-more {
		@extend %button-link;
		@extend %button-link--to-right;
	}

	&__show-more-text {
		@extend %button-link__text;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		background-color: #F5F7F8;
		border: 1px solid #ECF0F1;
		border-radius: 0.5rem;
	}

	&__item {
		border-top: 1px solid #ECF0F1;

		&:first-child {
			border-top: none;
		}
	}

	&__list-item-icon {
		position: absolute;
		left: 2.2rem;
		top: 50%;
		transform: translateY(-50%);
		width: 4rem;
		height: 4rem;
	}

	&__item-content {
		position: relative;
		padding: 1.3rem 2rem 1.3rem 8rem;
	}

	&__text-strong {
		line-height: 3rem;
		font-weight: bold;
		font-size: $fontsize_xl;
		color: #34495E;
	}

	&__title {
		font-weight: 400;
		color: #194A65;
		font-size: $fontsize_xl;
		line-height: 2.9rem;
		margin: 0 0 1.6rem;
	}
}

