@import "../../../styles/common-blocks";

.clear-data {
	&__tooltip-text {
		color: #BBC6C9;
		font-size: 1.4rem;

		&:hover {
			color: #4A81FD;
		}
	}

	&__tooltip-context {
		min-width: 38rem;
		text-align: left;
	}

	&__button {
		@extend %button-link;
		@extend %button-link--clear-text;
		@extend %button-link--uppercase;
	}
}
