@import "../../../../app.theme";
.vtr-widget-hardware-scan {
    .hardwarescan-background {
        border-radius: 0.5rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
        height: 100%;
        width: 100%;
        background: linear-gradient($gradient_angle, $main_darkest 0%, $main_darker 100%);
        box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
        .status {
            font-size: 2rem;
            color: $light;
            padding-right: 5rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: right;
        }
        .title {
            color: $light;
            font-size: 2.5rem;
            font-weight: $weight_light;
            line-height: 4.2rem;
            padding-left: 2.4rem;
            padding-top: 3rem;
            padding-bottom: 0.5rem;
            padding-right: 2.4rem;
        }
        .row1 {
            color: $light;
            font-size: $fontsize_xs;
            line-height: 2.1rem;
            padding-left: 5rem;
            padding-right: 5rem;
        }
        .button-row {
            padding-left: 2.4rem;
            padding-bottom: 3rem;
            padding-top: 3rem;
            padding-right: 2.4rem;
            .action-button {
                border-radius: 2.5rem;
                background: $gradient_main;
                text-transform: uppercase;
                padding: 0 3rem;
                color: $light;
                font-size: 1.5rem;
                height: 5rem;
                font-weight: $weight_bold;
                line-height: 5rem;
                text-align: center;
                border: 0rem;
                cursor: pointer;
            }
            .action-button-disable {
                border-radius: 2.5rem;
                background: $light-grey;
                text-transform: uppercase;
                padding: 0 3rem;
                color: $light;
                font-size: 1.5rem;
                height: 5rem;
                font-weight: $weight_bold;
                line-height: 5rem;
                text-align: center;
                border: 0rem;
                cursor: default;
            }
            .action-anchor {
                font-size: 1.3rem;
                font-weight: $weight_bold;
                color: $light;
                border-bottom: 0.2rem solid $light;
                padding-bottom: 0.2rem;
                margin-left: 2.5rem;
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    border: none;
                }
            }
            .disabled-anchor {
                font-size: 1.3rem;
                font-weight: $weight_bold;
                color: $shade_light;
                border-bottom: 0.2rem solid $shade_light;
                padding-bottom: 0.2rem;
                margin-left: 2.5rem;
                text-transform: uppercase;
                cursor: default;
                pointer-events: none !important;
            }
        }
        .progress-div {
            padding-left: 5rem;
            padding-right: 5rem;
            .progress-percent-text {
                color: $light;
                font-size: 2.5rem;
                font-weight: $weight_light;
                line-height: 2.9rem;
                display: inline;
                text-align: right;
                .progress-value-text {
                    color: $light;
                    font-size: 1.4rem;
                    font-weight: $weight_light;
                    line-height: 2.9rem;
                    padding-right: 0rem;
                    padding-left: 0rem;
                    text-align: left;
                    font-size: 3rem !important;
                }
                .progress-complete-text {
                    color: $light;
                    font-size: 1.4rem;
                    font-weight: $weight_light;
                    line-height: 2.9rem;
                    padding-right: 0rem;
                    padding-left: 0;
                    text-align: left;
                }
            }
        }
        .progress-bar-div-container {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            .progress-bar-div {
                padding: 1rem;
                border-radius: 1.5rem;
                background: linear-gradient($gradient_angle_reverse, $main_darkest 0%, $main_darker 100%);
                 ::ng-deep .mat-progress-bar-fill::after {
                    background: linear-gradient(90deg, $go 0%, $go 100%);
                }
                 ::ng-deep .mat-progress-bar-buffer {
                    background: $light;
                }
                 ::ng-deep .mat-progress-bar {
                    border-radius: 0.4rem;
                }
                .progress {
                    height: 0.2rem;
                    .progress-bar {
                        height: 0.8rem;
                        border-radius: 0.8rem;
                        margin-top: -0.3rem;
                        &.bg-info {
                            background: linear-gradient(90deg, $go_light 0%, $go_dark 100%) !important;
                        }
                    }
                }
            }
        }

        .cancel-check {
            margin-left: 5rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-right: 5rem;
            .cancel-button {
                border-radius: 2.5rem;
                border-color: $light-grey;
                background: $gradient_main;
                text-transform: uppercase;
                padding: 0 3rem;
                color: $light;
                font-size: 1.5rem;
                height: 5rem;
                font-weight: $weight_bold;
                line-height: 5rem;
                text-align: center;
                border: 0rem;
                cursor: pointer;
            }
            .cancel-button-disable {
                border-radius: 2.5rem;
                background: $light-grey;
                text-transform: uppercase;
                padding: 0 3rem;
                color: $light;
                font-size: 1.5rem;
                height: 5rem;
                font-weight: $weight_bold;
                line-height: 5rem;
                text-align: center;
                border: 0rem;
                cursor: default;
                pointer-events: none !important;
            }
        }

        .hwscan-header {
            padding-bottom: 1.5rem;
        }
        .final-result-code {
            color: $light;
            font-size: 1.3rem;
            line-height: 1.5rem;
            padding-left: 5rem;
            padding-top: 2rem;
            padding-bottom: 1rem;
            padding-right: 5rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .result-code-value-text {
                opacity: 0.5;
            }
            .result-code-complete-text {
                margin-left: 0.5rem;
                text-transform: uppercase;
            }
            .result-code-icon {
                margin-left: 0.5rem;
                font-size: 1.3rem;
                color: $main;
                cursor: pointer;
                &:hover {
                    color: $highlight;
                }
            }
        }
    }
}
