<div class="vtr-widget-hardware-scan">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-12 hardwarescan-background">
                <div class="row">
                    <div class="col title">{{title}}</div>
                </div>
                <div class="row hwscan-header" *ngIf="showProgress && !isScanOrRBSFinished()">
                    <div class="col row1">
                        <span class="row">{{subTitle}}</span>
                        <span class="row">{{warningMessage}}</span>
                    </div>
                    <div class="row">
                        <div class="row progress-div">
                            <div class="row progress-percent-text">
                                <span class="progress-value-text">{{percent}}</span>
                                <span class="progress-complete-text">% {{completeText}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!showProgress" class="row">
                    <div class="col button-row">
                        <button [ngClass]="{'action-button': !disableQuickScan, 'action-button-disable': disableQuickScan}" 
                            [title]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate"
                            [disabled]="disableQuickScan" 
                            (click)="onQuickScan()">{{buttonText}}</button>
                        <a 
                            vtrMetrics 
                            metricsEvent="FeatureClick" 
                            metricsParent="HardwareScan"
                            metricsItem="HardwareScan.CustomizeScan"
                            [title]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate"
                            [ngClass]="{'action-anchor': !disableQuickScan, 'disabled-anchor': disableQuickScan}" (click)="onAnchor()">
                            {{anchorText}}
                        </a>
                    </div>
                </div>
                <div *ngIf="showProgress" class="col row hwscan-header">
                    <div *ngIf="!isScanOrRBSFinished()" class="col col-12 row progress-bar-div-container">
                        <div class="col col-12 progress-bar-div">
                            <ngb-progressbar type="success" [value]="percent" [height]="'0.6rem'"></ngb-progressbar>
                        </div>
                    </div>
                    <div *ngIf="isScanOrRBSFinished()" class="col col-12 row status">
                        <span>{{statusText}}</span>
                    </div>


                    <div class="col col-12 row">
                        <div class="cancel-check" *ngIf="!isScanOrRBSFinished()" title="{{ disableCancel ? ('hardwareScan.waitScanStarts' | translate) : ''}}">
                            <button [ngClass]="{'cancel-button': !disableCancel, 'cancel-button-disable': disableCancel}" 
                                    (click)="onCancel()"
                                    vtrMetrics
                                    metricsEvent="FeatureClick" 
                                    metricsParent="{{itemParentCancel}}"
                                    metricsItem="{{itemNameCancel}}"
                            >{{cancelText}}</button>
                        </div>
                        <div class="container final-result-code" *ngIf="getFinalResultCode()">
                            <span class="result-code-value-text">{{finalResultCodeText}}:</span>
                            <span class="result-code-complete-text">{{getFinalResultCode()}}</span>
                            <fa-icon *ngIf="getTooltipInformation()" class="result-code-icon" triggers="click:blur" placement="auto" [ngbTooltip]="tooltipFinalResultCode" [icon]="['far', 'question-circle']" container="body" tooltipClass="vtr-tooltip">
                            </fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #tooltipFinalResultCode>
    <div [innerHTML]="getTooltipInformation()"></div>
    <div class='button-box'>
        <a
			[attr.href]="'https://support.lenovo.com/contactus'"
			target="_blank"
			vtrMetrics
			metricsItemID="HardwareScan.ResultSupport"
			metricsItemPosition="r1"
			metricsItemCategory="partnerarticle"
			metricsEvent="articleclick"
			metricsPageNumber="1">
			<button class='btn button'>
				{{ lenovoSupport }}
			</button>
		</a>
    </div>
</ng-template>