<div class="vtr-widget-feedback">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="title"
					*ngIf="title"
					id="dashboard-give-feedback-title"
					attr.aria-label="dashboard-give-feedback-title"
					[innerHTML]="title"></div>
				<div class="description"
					*ngIf="description"
					id="dashboard-give-feedback-description"
					attr.aria-label="dashboard-give-feedback-description"
					[innerHTML]="description"></div>
				<div *ngIf="actionName"
					class="button-box">
					<vtr-ui-button (onClick)="feedback($event)"
						[tabIndex]="100"
						id="widget-btn-feedback"
						aria-label="widget-btn-feedback"
						vtrMetrics="giveFeedbackEvent"
						[isFullWidth]="true"
						[label]="actionName"
						[isDisabled]="!isOnline"
						[linkId]="'dashboard-btn-feedback'"></vtr-ui-button>
				</div>
			</div>
		</div>
	</div>
</div>
