<div class="vtr-widget-feedback">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="title"
					*ngIf="title">{{ title }}</div>
				<div class="description"
					*ngIf="description">
					{{ description }}
				</div>
				<div *ngIf="actionName"
					class="button-box">
					<vtr-ui-button (onClick)="feedback($event)"
						id="widget-btn-feedback"
						aria-label="widget-btn-feedback"
						metricsItem="btn.givefeedback"
						[isFullWidth]="true"
						[label]="actionName"></vtr-ui-button>
				</div>
			</div>
		</div>
	</div>
</div>
