@import '../../../app.theme';

.vtr-widget-feedback {
	border-radius: $border_radius;
	background-color: $light;
	box-shadow: $drop_shadow;
	padding: $fontsize_xl;
	.title {
		color: $main_darker;
		font-size: $fontsize_xl;
		font-weight: $weight_600;
	}
	.description {
		color: $main_shade;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
	}
	.button-box {
		padding: 0;
		margin-top: 2.7rem;
	}
	@media #{$black-on-white} {
		border: 0.1rem solid $dark;
	}
	@media #{$white-on-black} {
		border: 0.1rem solid;
	}


}
