@import "../../../app.theme";

.offline-icon {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	font-size: 8rem;
	background: rgba(25, 28, 40, 0.75);
	border-radius: $border_radius;
	color: white;
	display: flex;
	justify-content: center;
  align-items: center;
  overflow: hidden;

	@media #{$mediaquery_X41} {
		font-size: 12rem;
	}

	@media #{$mediaquery_X42} {
		font-size: 6rem;
  }
  
  .offline-message {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 5rem;
    line-height: 2rem;
    padding: 0.5rem 1rem;
    font-size: $base;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(102, 102, 102, 0.8);
    transition: all .3s;
  }
  &:hover {
    .offline-message {
      opacity: 1;
    }
  }

}