<div [ngSwitch]="supportType$ | async">
	<vtr-ui-row-switch
		*ngSwitchCase="backlightLevelEnum.ONE_LEVEL"
		[title]="'device.deviceSettings.inputAccessories.backlight.title' | translate"
		componentName="Input Accessories"
		[caption]="'device.deviceSettings.inputAccessories.backlight.description.base' | translate"
		[leftIcon]="['fal', 'keyboard']"
		[theme]="'white'"
		[isLastChild]="isLastChild"
		[isSwitchVisible]="true"
		[isSwitchChecked]="isSwitchChecked"
		(toggleOnOff)="onToggleOnOff($event)"
		[switchId]="'inputAccessories-backlight'"
		automationId="[backlight.title, backlight.description.base]">
	</vtr-ui-row-switch>
	<vtr-ui-row-switch
		*ngSwitchCase="backlightLevelEnum.TWO_LEVELS"
		[title]="'device.deviceSettings.inputAccessories.backlight.title' | translate"
		componentName="Input Accessories"
		[caption]="'device.deviceSettings.inputAccessories.backlight.description.base' | translate"
		[leftIcon]="['fal', 'keyboard']"
		[showChildContent]="true"
		[theme]="'white'"
		[isLastChild]="isLastChild"
		[switchId]="'inputAccessories-backlight'"
		automationId="[backlight.title, backlight.description.base]">
		<div class="row no-gutters">
			<vtr-ui-circle-radio-with-checkbox
				*ngFor="let mode of modes"
				[theme]="'white'"
				[radioId]="'backlightMode' + mode.value | removeSpace"
				[group]="'backlight'"
				[label]="mode.title | translate"
				[value]="mode.value"
				[checked]="mode.checked"
				(optionChange)="update$.next(mode)"
				[disabled]="mode.value === backlightStatusEnum.DISABLED_OFF"
				[textId]="'myDevice-settings-inputAccessories-backlight'">
			</vtr-ui-circle-radio-with-checkbox>
		</div>
	</vtr-ui-row-switch>
	<vtr-ui-row-switch
		*ngSwitchCase="backlightLevelEnum.TWO_LEVELS_AUTO"
		[title]="'device.deviceSettings.inputAccessories.backlight.title' | translate"
		componentName="Input Accessories"
		[caption]="'device.deviceSettings.inputAccessories.backlight.description.auto' | translate"
		[leftIcon]="['fal', 'keyboard']"
		[showChildContent]="true"
		[theme]="'white'"
		[isLastChild]="isLastChild"
		[switchId]="'inputAccessories-backlight'"
		automationId="[backlight.title, backlight.description.auto]">
		<div class="row no-gutters">
			<vtr-ui-circle-radio-with-checkbox
				*ngFor="let mode of modes"
				[theme]="'white'"
				[radioId]="'backlightMode' + mode.value | removeSpace"
				[group]="'backlight'"
				[label]="mode.title | translate"
				[value]='mode.value'
				[checked]="mode.checked"
				(optionChange)="update$.next(mode)"
				[disabled]="mode.value === backlightStatusEnum.DISABLED_OFF"
				[textId]="'myDevice-settings-inputAccessories-backlight'">
			</vtr-ui-circle-radio-with-checkbox>
		</div>
	</vtr-ui-row-switch>
</div>
