@import "../../../app.theme.scss";

.card{
    border-radius: $border_radius;
	box-shadow: $drop_shadow_gaming;
	background: $gaming_lightest;
	border: none;
}

::ng-deep .vtr-page-lightingcustomize {
	.vtr-page-left-column {
		.vtr-page-column-shift-up {
			overflow: hidden;
		}	
	}
}