<!-- VAN-3149 hide till search is implemented -->
<!-- <form class="card">
		<div class="card-body row no-gutters align-items-center">
			<div class="search-icon">
				<fa-icon [icon]="['fas', 'search']"></fa-icon>
			</div>
			<div class="col">
				<input class="form-control form-control-borderless"
					type="search"
					placeholder="Filter settings">
			</div>
		</div>
	</form> -->


<vtr-page-layout [title]="'common.menu.device.sub2' | translate"
	[back]="'common.ui.back' | translate"
	[textId]="'myDevice-settings'"
	[parentPath]="parentPath"
	[menuItems]="menuItems"
	[pageCssClass]="'device-settings'"
	[shiftLeftUp]="false"
	[shiftRightUp]="true">

	<left-content>
		<div class="mt-2"
			#hsRouterOutlet>
			<router-outlet (activate)="onRouteActivate($event, hsRouterOutlet)"></router-outlet>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<div class="row mb-5">
				<div class="col col-12"
					[ngClass]="{'battery-unavailable': isDesktopMachine}"
					role="text"
					tabindex="0"
					id="battery-details">
					<vtr-battery-card *ngIf="!isDesktopMachine"> </vtr-battery-card>
				</div>
			</div>
			<div class="row">
				<div class="col col-12 mb-3 help-heading"
					role="text"
					tabindex="0">
					{{ 'device.deviceSettings.helpful' | translate }}
				</div>
			</div>
			<div class="row mb-5">
				<div class="col col-12 cont">
					<vtr-widget-questions [title]="'common.qAndA.title' | translate"
						[description]="'common.qAndA.subtitle' | translate"
						[items]="qaService.qas"
						blockPosition="r2"
						[linkId]="'device-settings-qa'"></vtr-widget-questions>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col col-12">
					<vtr-container-card
						[item]="cardContentPositionA"
						[type]="'subpage-corner'"
						[ratio]="2"
						order="3"
						sideFlag='r'
						[cornerShift]="'large'"
						id="device-settings-container-card"
						attr.aria-label="device-settings-container-card-{{cardContentPositionA.Title}}"
						role="link"
						[containerCardId]="'device-settings-container-card'">
					</vtr-container-card>
				</div>
			</div>
		</div>
	</right-content>

</vtr-page-layout>
