<div class="vtr-page-device-settings vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="backarrow"
			 [back]="back"
			 [title]="title"
			 [menuItems]="menuItems"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="row">
				<div class="col col-8 vtr-page-left-column">
					<router-outlet></router-outlet>
				</div>
				<div class="col col-4 vtr-page-right-column">
					<div class="vtr-page-shift-up-medium">
						<div class="container-fluid">
							<div class="row mb-40">
								<div class="col col-12">
									<vtr-battery-card> </vtr-battery-card>
								</div>
							</div>
							<div class="row mb-40">
								<div class="col col-12 cont">
									<div class="widget-heading mb-40">Helpful content</div>
									<vtr-widget-questions [title]="'Q&A for your machine'"
									 [description]="'Find answers for your Ideapad'"
									 [items]="qaService.qas"></vtr-widget-questions>
								</div>
							</div>
							<div class="row mb-40">
								<div class="col col-12 aritcle-card">
									<vtr-container-card [img]="'https://d3w2mpp70f6o8z.cloudfront.net/media/images/MareNostrum.original.jpg'"
									 [title]="'Ideas on how to handle all your passwords online'"
									 [readMore]="'http://www.google.com'"
									 [type]="'partnerarticle'"
									 [ratioX]="4.0"
									 [ratioY]="2.5">
									</vtr-container-card>
								</div>
							</div>
							<div class="row mb-40">
								<div class="col col-12 ">
									<vtr-widget-feedback [title]="'Discover our top ideapad offers for the holidays '"
									 [description]="'Lenovo Exclusive'"
									 [actionName]="''"
									 [action]="''">
									</vtr-widget-feedback>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form class="card">
		<div class="card-body row no-gutters align-items-center">
			<div class="search-icon">
				<fa-icon [icon]="['fas', 'search']"></fa-icon>
			</div>
			<div class="col">
				<input class="form-control form-control-borderless"
				 type="search"
				 placeholder="Filter settings">
			</div>
		</div>
	</form>
</div>
