<div class="vtr-page-device-settings vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="title"
			 [menuItems]="menuItems"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="row">
				<div class="col col-8 vtr-page-left-column">
					<router-outlet></router-outlet>
				</div>
				<div class="col col-4 vtr-page-right-column">
					<div class="vtr-page-shift-up">
						<div class="container-fluid">
							<div class="row mb-40">
								<div class="col col-12">
									<vtr-battery-card> </vtr-battery-card>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>