@import "../../../app.theme.scss";

// .vtr-page {
// 	.vtr-page-content {
// 		.vtr-page-left-column {
// 			background-color: $light;
// 		}
// 	}
// }

.vtr-page-right-column {
	background-color: $shade_extralight;
	.battery-unavailable {
		height: 8rem;
	}
}

/*-----search-box------*/
.form-control-borderless {
	border: none;
	padding: 0rem 0.8rem;
	font-style: italic;
	font-size: 2rem;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

.card {
	width: 20%;
	position: absolute;
	top: 8rem;
	left: 42%;
	border-radius: 0.8rem;

	.card-body {
		padding: 0.6rem;

		.search-icon {
			> fa-icon {
				font-size: 2rem;
				padding: 0rem 0.5rem;
			}
		}
	}
}

.vtr-page-shift-up-medium {
	@media #{$mediaquery_X5} {
		margin-top: 2rem;
		margin-left: 9rem;
	}

}

.vtr-page-right-column {
	@media #{$mediaquery_X4} {
		margin-top: 0 !important;
	}
}
