@import "../../../app.theme.scss";
.heading {
	color: $main_shade;
	font-size: 4rem;
}

.vtr-page {
	.vtr-page-content {
		.vtr-page-left-column {
			background-color: $light;
		}
	}
}

.vtr-page-right-column {
	background-color: $shade_extralight;
}
