<div class="vtr-widget-hardware-scan-status" *ngIf="hasPreviousResults() && item">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h2 class="title">{{title}}</h2>
				<p class="description">{{description}}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<vtr-ui-hardware-list [items]="item.modules" [template]="3">
			</vtr-ui-hardware-list>
		</div>
	</div>
	<div class="button-row">
		<vtr-ui-button
			metricsEvent="ItemClick"
			metricsParent="HardwareScan"
			metricsItem="HardwareScan.DetailsLog"
			[isFullWidth]="true"
			[label]="'hardwareScan.viewDetailsLog' | translate"
			[routerPath] = "viewResultsPath"
			[active]="'true'"
			(onClick)="onPreviousResults()">
		</vtr-ui-button>
	</div>
</div>
