@import '../../../../../app.theme.scss';

.pc-info-card {
	&::ng-deep {
		ngb-accordion {
			.card {
				border-radius: 0.6rem;
				border: 1px solid $screen_dark_01;
				background: $grey_lighter;
				margin-top: 1rem;
				width: 100%;

				&:first-child {
					margin-top: 0;
				}

				.card-header {
					border-bottom: none;
					min-height: 6.3rem;
					display: flex;
					padding: 0.75rem;
					background: $grey_lighter;

					.card-heading {
						width: 100%;
						position: relative;
						padding: 0 1.25rem;

						@media #{$white-on-black} {
							border: none;
						}

						@media #{$black-on-white} {
							border: none;
						}

						@media #{$breakpoint_sm} {
							padding-left: 0rem;
						}

						&:hover,
						&:focus {
							text-decoration: none;
						}

						&:focus {
							outline: 0;
							box-shadow: none;
							@include outline-blue;

							@media #{$white-on-black} {
								&::after {
									border: thin solid $light;
								}
							}
						}
					}

					fa-icon {
						padding-left: 1rem;
						color: $menu_hover;
					}

					.chevron-up {
						display: block;
					}

					.chevron-down {
						display: none;
					}

					.collapsed {
						.chevron-up {
							display: none;
						}

						.chevron-down {
							display: block;
						}

						.heading {
							h2 {
								font-size: $fontsize_xs;

								@media #{$breakpoint_lg} {
									font-size: $fontsize_xs;
								}
							}
						}

						.status-text {
							p {
								font-size: $fontsize_xs;

								&.issues-number {
									font-size: $fontsize_xs;
								}

								@media #{$breakpoint_lg} {
									font-size: $fontsize_xs;
								}
							}
						}
					}

					.heading {
						max-width: 60%;
						width: 60%;
						text-align: left;
						word-wrap: break-word;
						display: flex;
						align-items: center;
						cursor: pointer;

						* {
							cursor: pointer;
						}

						h2 {
							padding: 0;
							color: $grey_darker;
							text-transform: capitalize;
							text-align: left;
							letter-spacing: 0;
							font-weight: $weight_bold;
							font-size: $fontsize_md;

							@media #{$breakpoint_lg} {
								font-size: $fontsize_xs;
							}
						}

						.icon,
						.icomoon {
							font-size: 3.2rem;
							margin-right: 1.5rem;
							color: $menu_hover;

							@media #{$breakpoint_sm} {
								height: 3rem;
								width: 3rem;
								font-size: 3rem;
								margin-right: 0.4rem;
								line-height: 3rem;
							}
						}
					}

					.status-text {
						cursor: pointer;
						width: 38%;
						max-width: 38%;
						margin: 0;

						p {
							display: flex;
							justify-content: flex-end;
							align-items: center;
							font-size: $fontsize_md;
							text-align: right;
							color: $grey_darker;
							position: relative;
							letter-spacing: 0;
							word-wrap: break-word;
							margin: 0;

							&.issues-number {
								font-size: $fontsize_md;
							}

							b {
								padding-right: 0.5rem;
							}

							@media #{$breakpoint_lg} {
								font-size: $fontsize_xs;
							}
						}
					}
				}

				.card-body {
					padding: 0 1rem $padding_content $padding_content;

					h4 {
						font-size: $fontsize_xs;
					}

					.notes {
						p {
							font-size: $fontsize_xs;
						}
					}

					.scan-result-tabs {
						flex-shrink: 0;
						padding-right: 2rem;
						margin-left: -1rem;

						.scan-result-content {
							margin-bottom: 0.5rem;
							position: relative;
							height: 7rem;
							padding: 1rem;
							width: 16rem;
							color: $tab_gray;
							cursor: pointer;
							* {
								cursor: pointer;
							}
							&:focus {
								@include outline-blue;
							}

							&.is-selected {
								cursor: default;
								* {
									cursor: default;
								}
								background: $grey_light;
								color: $menu_hover;
								border-radius: 0.7rem 0.2rem 0.2rem 0.7rem;

								&::before {
									content: '';
									position: absolute;
									z-index: 2;
									right: 0;
									top: 0;
									background: $grey_lighter;
									height: 7rem;
									width: 2rem;
								}

								&::after {
									content: '';
									position: absolute;
									z-index: 2;
									right: calc(-2rem + 0.1rem);
									top: 0;
									height: 7rem;
									width: 4rem;
									border-top: 3.5rem solid transparent;
									border-left: 2rem solid $grey_light;
									border-bottom: 3.5rem solid transparent;
								}
								@media #{$black-on-white} {
									background: $shade_light;
									color: $dark;
									&::before {
										background: $light;
									}

									&::after {
										border-top: 3.5rem solid transparent;
										border-left: 2rem solid $shade_light;
										border-bottom: 3.5rem solid transparent;
									}
								}
								@media #{$white-on-black} {
									background: $shade_dark;
									color: $light;
									&::before {
										background: $dark;
									}

									&::after {
										border-top: 3.5rem solid transparent;
										border-left: 2rem solid $shade_dark;
										border-bottom: 3.5rem solid transparent;
									}
								}

								.icon-box {

									.icomoon {
										color: $menu_hover;
									}
								}
							}

							&:last-child {
								margin-bottom: 0;
							}

							.icon-box {
								padding: 0.1rem 0;

								.icomoon {
									font-size: 2.8rem;
									margin-right: 1rem;
									margin-top: -0.8rem;
									color: $tab_gray;
								}

								.sub-category-title {
									height: 2.8rem;
								}

								p {
									margin: 0;
									font-size: 1.2rem;
									font-weight: bold;
									line-height: 1.4rem;
									max-height: 2.8rem;
									width: 9rem;
									position: relative;
									z-index: 2;

									&.is-en {
										width: 8rem;
									}
								}

								.sub-category-issues {
									max-height: 1.4rem;
									width: 9rem;
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis;
									word-wrap: break-word;
								}
							}
						}

						.scanned-area {
							font-weight: $weight_bold;
						}

					}

					.scanned-list {
						.list-item {
							padding: 0.5rem;

							.scan-detail-item {
								border: 0.1rem solid #E2E2E2;
								padding: 3rem 2rem;
								border-radius: 0.5rem;
								width: 100%;
								height: 100%;

								.icon-bkg {
									border-radius: 50%;
									width: 2rem;
									height: 2rem;
									border: 0.2rem solid $go_dark;
									text-align: center;
									background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
									background-color: $go_dark;
									flex-shrink: 0;
									@include high-contrast-status-icon-and-badge;

									fa-icon {
										font-size: 1.2rem;
										line-height: 1.6rem;
										color: $light;
										@include high-contrast-color;
									}
								}

								p {
									font-size: $fontsize_xs;
									font-family: $font_family_semibold;
								}

								@media #{$breakpoint_xl} {
									padding: 1rem;
								}

								@media #{$breakpoint_lg} {
									padding: 3rem 2rem;
								}

								@media #{$breakpoint_md} {
									padding: 1rem;
								}

								@media #{$breakpoint_sm} {
									font-size: $fontsize_xs2;
								}
							}
						}
					}
				}
			}
		}
	}
}