@import '../../../../../app.theme.scss';

.pc-info-card {
	&::ng-deep {
		ngb-accordion {
			.card {
				border-radius: 0.6rem;
				border: 1px solid $screen_dark_01;
				background: $grey_lighter;
				margin-top: 1rem;
				width: 100%;

				&:first-child {
					margin-top: 0;
				}

				.card-header {
					border-bottom: none;
					min-height: 6.3rem;
					display: flex;
					padding: 0.75rem;
					background: $grey_lighter;

					.btn-link {
						width: 100%;
						position: relative;
						padding: 0 1.25rem;

						@media #{$white-on-black} {
							border: none;
						}

						@media #{$black-on-white} {
							border: none;
						}

						@media #{$breakpoint_sm} {
							padding-left: 0rem;
						}

						&:hover,
						&:focus {
							text-decoration: none;
						}

						&:focus {
							outline: 0;
							box-shadow: none;
							@include outline-blue;

							@media #{$white-on-black} {
								&::after {
									border: thin solid $light;
								}
							}
						}
					}

					fa-icon {
						padding-left: 1rem;
						color: $menu_hover;
					}

					.chevron-up {
						display: block;
					}

					.chevron-down {
						display: none;
					}

					.collapsed {
						.chevron-up {
							display: none;
						}

						.chevron-down {
							display: block;
						}

						.heading {
							h2 {
								font-size: $fontsize_xs;

								@media #{$breakpoint_lg} {
									font-size: $fontsize_xs;
								}
							}
						}

						.status-text {
							p {
								font-size: $fontsize_xs;
	
								&.issues-number {
									font-size: $fontsize_xs;
								}
	
								@media #{$breakpoint_lg} {
									font-size: $fontsize_xs;
								}
							}
						}
					}

					.heading {
						max-width: 60%;
						width: 60%;
						text-align: left;
						word-wrap: break-word;
						display: flex;
						align-items: center;
						cursor: pointer;
						* {
							cursor: pointer;
						}

						h2 {
							padding: 0;
							color: $grey_darker;
							text-transform: capitalize;
							text-align: left;
							letter-spacing: 0;
							font-weight: $weight_bold;
							font-size: $fontsize_md;

							@media #{$breakpoint_lg} {
								font-size: $fontsize_xs;
							}
						}

						.icon,
						.icomoon {
							font-size: 3.2rem;
							margin-right: 1.5rem;
							color: $menu_hover;

							@media #{$breakpoint_sm} {
								height: 3rem;
								width: 3rem;
								font-size: 3rem;
								margin-right: 0.4rem;
								line-height: 3rem;
							}
						}
					}

					.status-text {
						cursor: pointer;
						width: 38%;
						max-width: 38%;
						margin: 0;

						p {
							display: flex;
							justify-content: flex-end;
							align-items: center;
							font-size: $fontsize_md;
							text-align: right;
							color: $grey_darker;
							position: relative;
							letter-spacing: 0;
							word-wrap: break-word;
							margin: 0;

							&.issues-number {
								font-size: $fontsize_md;
							}

							b {
								padding-right: 0.5rem;
							}

							@media #{$breakpoint_lg} {
								font-size: $fontsize_xs;
							}
						}
					}
				}

				.card-body {
					padding: 0 $padding_content $padding_content;

					.scan-result-tabs {
						.scan-result-content {
							margin-bottom: 2rem;

							&:last-child {
								margin-bottom: 0;
							}
						}

						.icon-box {
							width: 15rem;
							@media #{$breakpoint_sm} {
								align-items: center;
							}

							p {
								margin: 0;
								font-size: 1.2rem;
								font-weight: bold;
							}

							.icon,
							.icomoon {
								font-size: 3rem;
								margin-right: 1rem;
								color: $main;
							}
						}

						.scanned-area {
							font-weight: $weight_bold;
						}

						.scanned-list {
							width: calc(100% - 15rem);
							list-style-type: none;
							padding: 0;
							margin-bottom: 0;
							border: 0.1rem solid $grey_light;
							border-radius: 0.5rem;

							.list-item {
								height: 5rem;
								display: flex;
								align-items: center;
								border-top: 0.1rem solid $grey_light;

								&:first-child {
									border-top: none;
								}

								.item-text {
									margin-bottom: 1rem;
								}

								p {
									font-size: 1.4rem;
									padding-right: 0.5rem;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
								}

								fa-icon {
									font-size: 1.4rem;
									margin-right: 0.8rem;
									color: $go_dark;
									position: relative;
									text-indent: -100rem;

									&::after {
										position: absolute;
										height: 0.6rem;
										width: 0.6rem;
										content: '';
										border-radius: 1rem;
										background-color: $main_shade;
										left: 1.5rem;
										top: 0.8rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}