<ng-container *ngIf="isNoneBreachedAndFigleafReadyState(); else defaultHeader">
	<p class="browser-accounts-header__title-block">
			<span class="browser-accounts-header__title">
				{{dashboardData?.totalAccounts}} accounts stored in Lenovo Privacy Essentials by Figleaf
			</span>
		<button class="browser-accounts-header__btn"
				vtrSendAnalytics
				[metricsEvent]="'ItemClick'"
				[metricsItem]="'ViewInLenovoPrivacyEssentialsButton'"
				(click)="openFigleafApp.emit(true)">
			View in the app
		</button>
	</p>
	<p class="browser-accounts-header__text">
		Store your passwords in the app and log in to your favorite sites automatically. Everything is encrypted to keep you private.
	</p>
</ng-container>
<ng-template #defaultHeader>
	<div class="browser-accounts-header">
		<vtr-feature-header
			[texts]="textForFeatureHeader"
			[countOfIssue]="nonPrivatePasswordCount"
			[isFeatureWasScanned]="isNonPrivatePasswordWasScanned"
			[isFigleafReadyToCommunication]="isFigleafReadyForCommunication">
			<span class="browser-accounts-header__title--red">{{nonPrivatePasswordCount}}</span> Vulnerable
			passwords found
		</vtr-feature-header>
		<vtr-why-seeing-tooltip *ngIf="!isFigleafReadyForCommunication && nonPrivatePasswordCount > 0"
			[contextText]="textForTooltip">
		</vtr-why-seeing-tooltip>
	</div>
</ng-template>
