<div class="vtr-ui-article-item mb-80"
	*ngIf="articleType === 'articles'"
	#articleItemDiv
	id="{{'article-item-' + index}}"
	attr.aria-label="{{'article-item-' + index}}"
	[ngClass]="{'item-no-img': !item.Thumbnail, 'item-no-title': !item.Title}"
	[style.height.px]="articleItemDiv.clientWidth * ratio">
	<div class="container-fluid">
		<div class="row">
			<a href="javascript:;"
				*ngIf="item.Thumbnail"
				class="col col-12 image"
				[style.background-image]="'url('+item.Thumbnail+')'"
				vtrMetrics
				id="{{'article-item-image-' + index}}"
				attr.aria-label="{{'article-item-image-' + index}}"
				metricsEvent="ArticleClick"
				metricsParent="Page.Support"
				metricsItemID="{{ item.Id }}"
				metricsItemCategory="{{ itemCategory }}"
				metricsItemPosition="{{ index }}"
				metricsViewOrder="{{metricsDatas.viewOrder}}"
				metricsPageNumber="{{metricsDatas.pageNumber}}"
				(click)="showArticleDetails()">
				<div *ngIf="item.Logo"
					class="logo">
					<span class="img"
						*ngIf="item.Logo && item.Thumbnail">
						<img src="{{item.Logo}}"
							alt="{{item.LogoText}}">
					</span>
					<span *ngIf="item.LogoText"
						class="text">{{item.LogoText}}</span>
				</div>
			</a>
			<div *ngIf="item.Title"
				class="col col-12 content">
				<a href="javascript:;"
					class="title"
					vtrMetrics
					id="{{'article-item-title-' + index}}"
					attr.aria-label="{{'article-item-title-' + index}}"
					metricsEvent="ArticleClick"
					metricsParent="Page.Support"
					metricsItemID="{{ item.Id }}"
					metricsItemCategory="{{ itemCategory }}"
					metricsItemPosition="{{ index }}"
					metricsViewOrder="{{metricsDatas.viewOrder}}"
					metricsPageNumber="{{metricsDatas.pageNumber}}"
					(click)="showArticleDetails()">{{item.Title}}</a>
				<div class="logo-text">
					<span *ngIf="item.LogoText && !item.Thumbnail">{{item.LogoText}}</span>
				</div>
				<div *ngIf="item.ReadMore && item.Thumbnail"
					class="read-more">
					<a href="javascript:;"
						vtrMetrics
						id="{{'article-item-readmore-' + index}}"
						attr.aria-label="{{'article-item-readmore-' + index}}"
						metricsEvent="ArticleClick"
						metricsParent="Page.Support"
						metricsItemID="{{ item.Id }}"
						metricsItemCategory="{{ itemCategory }}"
						metricsItemPosition="{{ index }}"
						metricsViewOrder="{{metricsDatas.viewOrder}}"
						metricsPageNumber="{{metricsDatas.pageNumber}}"
						(click)="showArticleDetails()">
						<span class="link-label">Read More</span>
						<fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="vtr-ui-article-item mb-80"
	*ngIf="articleType === 'content'"
	#articleItemDiv
	id="{{'article-item-' + index}}"
	attr.aria-label="{{'article-item-' + index}}"
	[ngClass]="{'item-no-img': !item.FeatureImage, 'item-no-title': !item.Title}"
	[style.height.px]="articleItemDiv.clientWidth * ratio">
	<div class="container-fluid">
		<div class="row">
			<a href="javascript:;"
				*ngIf="item.FeatureImage"
				class="col col-12 image"
				[style.background-image]="'url('+item.FeatureImage+')'"
				vtrMetrics
				id="{{'article-item-image-' + index}}"
				attr.aria-label="{{'article-item-image-' + index}}"
				metricsEvent="ArticleClick"
				metricsParent="Page.Support"
				metricsItemID="{{item.Id}}"
				metricsItemCategory=""
				metricsItemPosition="{{index}}"
				metricsViewOrder="{{metricsDatas.viewOrder}}"
				metricsPageNumber="{{metricsDatas.pageNumber}}"
				(click)="showArticleDetails()">
				<div *ngIf="item.BrandImage"
					class="logo">
					<span class="img"
						*ngIf="item.BrandImage && item.FeatureImage">
						<img src="{{item.BrandImage}}"
							alt="{{item.BrandName}}">
					</span>
					<span *ngIf="item.BrandName"
						class="text">{{item.BrandName}}</span>
				</div>
			</a>
			<div *ngIf="item.Title"
				class="col col-12 content">
				<a href="javascript:;"
					class="title"
					vtrMetrics
					id="{{'article-item-title-' + index}}"
					attr.aria-label="{{'article-item-title-' + index}}"
					metricsEvent="ArticleClick"
					metricsParent="Page.Support"
					metricsItemID="{{item.Id}}"
					metricsItemCategory=""
					metricsItemPosition="{{index}}"
					metricsViewOrder="{{metricsDatas.viewOrder}}"
					metricsPageNumber="{{metricsDatas.pageNumber}}"
					(click)="showArticleDetails()">{{item.Title}}</a>
				<div class="logo-text">
					<span *ngIf="item.BrandName && !item.FeatureImage">{{item.BrandName}}</span>
				</div>
				<div *ngIf="item.ActionLink && item.FeatureImage && item.Action"
					class="read-more">
					<a href="javascript:;"
						vtrMetrics
						id="{{'article-item-readmore-' + index}}"
						attr.aria-label="{{'article-item-readmore-' + index}}"
						metricsEvent="ArticleClick"
						metricsParent="Page.Support"
						metricsItemID="{{item.Id}}"
						metricsItemCategory=""
						metricsItemPosition="{{index}}"
						metricsViewOrder="{{metricsDatas.viewOrder}}"
						metricsPageNumber="{{metricsDatas.pageNumber}}"
						(click)="showArticleDetails()"
						href="javascript:;">
						<span class="link-label">{{item.Action}}</span>
						<fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
