<div class="vtr-ui-range-slider"
	id="{{rangeSliderId + '_range_slider'}}"
	attr.aria-label="{{rangeSliderId + '_range_slider'}}"
	[ngClass]="{'disable-slider-pointer': enableSlider}">
	<ng5-slider [(value)]="value"
		[options]="options"
		(valueChange)="onValueChange($event)"
		(userChange)="onChange($event)"
		[manualRefresh]="manualRefresh"
		(userChangeEnd)="dragEnd($event)">
	</ng5-slider>
	<div class="row label"
		*ngIf="minValueLegend.length > 0 || maxValueLegend.length > 0">
		<div class="col">{{ minValueLegend }}</div>
		<div class="col text-right">{{ maxValueLegend }}</div>
	</div>
</div>
