<div class="vtr-page-dashboard vtr-page container-fluid">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="title"
			 [forwardLink]="forwardLink"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col col-8 vtr-page-left-column">
						Left Column Content Here...
					</div>
					<div class="col col-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<vtr-widget-status [title]="'System Status'"
								[description]="'System Status Component'"
								[items]="dummySystem">
							</vtr-widget-status>
							<vtr-widget-status [title]="'Security Status'"
								[description]="'Security Status Component'"
								[items]="dummySecurity">
							</vtr-widget-status>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>