<vtr-page-layout
	[pageTitle]="deviceService.isArm || !commonService.isOnline || !userService.auth || !userService.hasFirstName || !userService.isLenovoIdSupported() ? (welcomeTextWithoutUserName | translate) : '<pre>' + (welcomeText | translate:{firstName:userService.firstName}) + '</pre>'"
	[textId]="'dashboard'"
	[pageCssClass]="'dashboard'">

	<left-content>
		<div class="container-fluid">
			<div class="row"
				*ngIf="!isOnline">
				<div class="col col-12 px-40 pb-40">
					<vtr-widget-offline-info [title]="'dashboard.offlineInfo.title' | translate"
						[subtitle]="'dashboard.offlineInfo.subtitle' | translate"
						[buttonText]="'dashboard.offlineInfo.buttonText' | translate"
						[isSubtitleVisible]="false"
						[isButtonVisible]="false"
						id="dashboard-btn-connectivity"></vtr-widget-offline-info>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 px-40 pb-20">
					<vtr-widget-carousel [data]="heroBannerItems"
						order="1"
						source="title"
						[interval]="5000"
						cardTitle="title"
						pauseOnHover="true"
						image="url"
						[showNavigationArrows]="true"
						[showNavigationIndicators]="true"
						[carouselId]="'dashboard-lnk-hero-banner'"
						id="dashboard-lnk-hero-banner"
						aria-label="dashboard-lnk-hero-banner"
						link="thumbnailUrl">
					</vtr-widget-carousel>
				</div>
				<div class="col-xl-6 card-left">
					<vtr-container-card order="2"
						[itemID]="cardContentPositionB.Id"
						[img]="cardContentPositionB.FeatureImage"
						[caption]="cardContentPositionB.Description"
						[title]="cardContentPositionB.Title"
						[logoText]="cardContentPositionB.BrandName"
						[action]="cardContentPositionB.Action"
						[actionType]="cardContentPositionB.ActionType"
						[actionLink]="cardContentPositionB.ActionLink"
						[dataSource]="cardContentPositionB.DataSource"
						[isOfflineArm]="(deviceService.isArm && !isOnline) || (deviceService.isArm && cardContentPositionB.isLocal)"
						[type]="'corner'"
						[ratioX]="4"
						[ratioY]="2"
						[cornerShift]="'large'"
						[containerCardId]="'dashboard-lnk-content-b'"
						id="dashboard-card-b"
						aria-label="dashboard-card-b">
					</vtr-container-card>
				</div>
				<div class="col-xl-6 card-right">
					<vtr-container-card order="3"
						[itemID]="cardContentPositionC.Id"
						[img]="cardContentPositionC.FeatureImage"
						[caption]="cardContentPositionC.Description"
						[title]="cardContentPositionC.Title"
						[logoText]="cardContentPositionC.BrandName"
						[action]="cardContentPositionC.Action"
						[actionType]="cardContentPositionC.ActionType"
						[actionLink]="cardContentPositionC.ActionLink"
						[isOfflineArm]="(deviceService.isArm && !isOnline) || (deviceService.isArm && cardContentPositionC.isLocal)"
						[type]="'corner'"
						[ratioX]="4"
						[ratioY]="2"
						[containerCardId]="'dashboard-lnk-content-c'"
						id="dashboard-card-c"
						aria-label="dashboard-card-c">
					</vtr-container-card>
				</div>
				<div class="col-sm-12 px-40 py-20">
					<vtr-container-card order="4"
						[itemID]="cardContentPositionD.Id"
						[img]="cardContentPositionD.FeatureImage"
						[title]="cardContentPositionD.Title"
						[logoText]="cardContentPositionD.BrandName"
						[action]="cardContentPositionD.Action"
						[actionType]="cardContentPositionD.ActionType"
						[actionLink]="cardContentPositionD.ActionLink"
						[isOfflineArm]="(deviceService.isArm && !isOnline) || (deviceService.isArm && cardContentPositionD.isLocal)"
						[type]="'highlight'"
						[ratioX]="8"
						[ratioY]="2"
						[containerCardId]="'dashboard-lnk-content-d'"
						id="dashboard-card-d"
						aria-label="dashboard-card-d">
					</vtr-container-card>
				</div>
				<div class="col-xl-6 card-left" [hidden]="deviceService.isSMode">
					<vtr-container-card order="5"
						[itemID]="cardContentPositionE.Id"
						[img]="cardContentPositionE.FeatureImage"
						[title]="cardContentPositionE.Title"
						[logoText]="cardContentPositionE.BrandName"
						[action]="cardContentPositionE.Action"
						[actionType]="cardContentPositionE.ActionType"
						[actionLink]="cardContentPositionE.ActionLink"
						[isOfflineArm]="(deviceService.isArm && !isOnline) || (deviceService.isArm && cardContentPositionE.isLocal)"
						[type]="'article'"
						[ratioX]="4"
						[ratioY]="4"
						[containerCardId]="'dashboard-lnk-content-e'"
						id="dashboard-card-e"
						aria-label="dashboard-card-e">
					</vtr-container-card>
				</div>
				<div class="col-xl-6 card-right" [hidden]="deviceService.isSMode">
					<vtr-container-card order="6"
						[itemID]="cardContentPositionF.Id"
						[img]="cardContentPositionF.FeatureImage"
						[title]="cardContentPositionF.Title"
						[logoText]="cardContentPositionF.BrandName"
						[action]="cardContentPositionF.Action"
						[actionType]="cardContentPositionF.ActionType"
						[actionLink]="cardContentPositionF.ActionLink"
						[isOfflineArm]="(deviceService.isArm && !isOnline) || (deviceService.isArm && cardContentPositionF.isLocal)"
						[type]="'article'"
						[ratioX]="4"
						[ratioY]="4"
						[containerCardId]="'dashboard-lnk-content-f'"
						id="dashboard-card-f"
						aria-label="dashboard-card-f">
					</vtr-container-card>
				</div>
			</div>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<div class="row no-gutters" *ngIf="warrantyData && isWarrantyVisible">
				<div class="col-sm-12 col-md-12 pb-60">
					<vtr-widget-dashboard-warranty [item]="warrantyData"
						[isConnected]="isOnline">
					</vtr-widget-dashboard-warranty>
				</div>
			</div>
			<div class="row no-gutters" *ngIf="!deviceService.showWarranty">
				<div class="col-sm-12 col-md-12 pb-60">
					<vtr-widget-feedback [title]="'dashboard.feedback.title' | translate"
						[description]="'dashboard.feedback.subtitle' | translate"
						[actionName]="'dashboard.feedback.button' | translate"
						[action]="'feedback'"
						(feedBackClick)="onFeedbackModal()">
					</vtr-widget-feedback>
				</div>
			</div>
			<!-- Hide in 3.1.1 due to performance issue -->
			<!-- <div class="row no-gutters" *ngIf="!deviceService.isArm && showQuickSettings">
				<div class="col-sm-12 col-md-12 pb-60">
					<vtr-widget-quicksettings
						[vtrAppSearchScroller]="['search-microphone-quick', 'search-camera-quick', 'search-eye-care-quick']">
					</vtr-widget-quicksettings>
				</div>
			</div> -->
			<div class="row no-gutters" *ngIf="!deviceService.isArm">
				<div class="col-sm-12 col-md-12 pb-60">
					<vtr-widget-status componentName="system status"
						[title]="'dashboard.systemStatus.title' | translate"
						[description]="'dashboard.systemStatus.subtitle' | translate"
						[items]="systemStatus"
						[linkId]="'dashboard-ss'">
					</vtr-widget-status>
				</div>
			</div>

			<div class="row no-gutters"
				*ngIf="!androidService.isAndroid && deviceService.isArm">
				<div class="col-sm-12 col-md-12 pb-60 cont">
					<vtr-widget-questions [title]="'common.qAndA.title' | translate"
						[description]="'common.qAndA.subtitle' | translate"
						[items]="qaService.qas"
						blockPosition="r4"
						[linkId]="'dashboard-qa'"></vtr-widget-questions>
				</div>
			</div>

			<div class="row no-gutters"
				*ngIf="deviceService.showWarranty"
				[vtrAppSearchScroller]="['search-feedback']">
				<div class="col-sm-12 col-md-12 pb-60">
					<vtr-widget-feedback [title]="'dashboard.feedback.title' | translate"
						[description]="'dashboard.feedback.subtitle' | translate"
						[actionName]="'dashboard.feedback.button' | translate"
						[action]="'feedback'"
						(feedBackClick)="onFeedbackModal()">
					</vtr-widget-feedback>
				</div>
			</div>
		</div>
	</right-content>
</vtr-page-layout>
