<vtr-page-layout [title]="dashboardService.welcomeText"
	[textId]="'dashboard'"
	[pageCssClass]="'dashboard'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true"
	[hideTitle]="hideTitle"
	[showDemo]="dccService.showDemo">

	<left-content>
		<div class="container-fluid">
			<div class="row"
				*ngIf="!isOnline">
				<div class="col col-12 p-0 pb-40">
					<vtr-widget-offline-info [title]="'dashboard.offlineInfo.title' | translate"
						[subtitle]="'dashboard.offlineInfo.subtitle' | translate"
						[buttonText]="'dashboard.offlineInfo.buttonText' | translate"
						[isSubtitleVisible]="false"
						[isButtonVisible]="false"
						id="dashboard-btn-connectivity"
						aria-label="dashboard-btn-connectivity"
						[offlineConnection]="offlineConnection"></vtr-widget-offline-info>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 pb-20 pt-0 px-0"
					[hidden]="canShowDccDemo$ | async">
					<vtr-widget-carousel [data]="contentCards.positionA.displayContent"
						[order]="1"
						source="title"
						[interval]="5000"
						cardTitle="title"
						[pauseOnHover]="true"
						image="url"
						[showNavigationArrows]="true"
						[showNavigationIndicators]="true"
						[carouselId]="'dashboard-lnk-hero-banner'"
						id="dashboard-lnk-hero-banner"
						aria-label="dashboard-lnk-hero-banner"
						link="thumbnailUrl">
					</vtr-widget-carousel>
				</div>
				<div class="col-sm-12 pb-20 pt-0 px-0"
					[hidden]="!(canShowDccDemo$ | async)">
					<vtr-widget-carousel [data]="heroBannerDemoItems"
						[order]="1"
						source="title"
						[interval]="5000"
						cardTitle="title"
						[pauseOnHover]="true"
						image="url"
						[showNavigationArrows]="true"
						[showNavigationIndicators]="true"
						[carouselId]="'dashboard-lnk-hero-banner'"
						id="dashboard-lnk-hero-banner"
						aria-label="dashboard-lnk-hero-banner"
						link="thumbnailUrl">
					</vtr-widget-carousel>
				</div>
				<div class="col-12 px-0 d-flex custom-card-container row justify-content-between no-gutters">
					<div class="custom-card col-12 col-md-6 col-lg-12 col-xl-6 pb-20 card-left">
						 <vtr-container-card *ngIf="!isShowStateCard" order=2
							[item]="contentCards.positionB.displayContent"
							[isOfflineArm]="(deviceService.isArm && !isOnline) || (deviceService.isArm && contentCards.positionB.displayContent.isLocal)"
							[type]="'corner'"
							[ratio]="2"
							[cornerShift]="'large'"
							[containerCardId]="'dashboard-lnk-content-b'"
							id="dashboard-card-b"
							aria-label="dashboard-card-b">
						</vtr-container-card>

						<vtr-material-state-card-container *ngIf="isShowStateCard" order=2
							[cardData]="positionBData">
							<div class="circle-state">
							<vtr-widget-round-status
								[status]="positionBData.state"
								[statusText]="positionBData.stateText">
							</vtr-widget-round-status>
							</div>
						</vtr-material-state-card-container>

					</div>
					<div class="custom-card col-12 col-md-6 col-lg-12 col-xl-6 pb-20 card-right">
						<ng-container *ngIf="!showSecurityStatusCard else securityCard">
							<vtr-container-card
								order=3
								[item]="contentCards.positionC.displayContent"
								[isOfflineArm]="(deviceService.isArm && !isOnline) || (deviceService.isArm && contentCards.positionC.displayContent.isLocal)"
								[type]="'corner'"
								[ratio]="2"
								[containerCardId]="'dashboard-lnk-content-c'"
								id="dashboard-card-c"
								aria-label="dashboard-card-c">
							</vtr-container-card>
						</ng-container>
						<ng-template #securityCard>
							<vtr-material-state-card-container
								[cardData]="securityInfo?.status !== undefined ? positionCData[securityInfo.status + 1] : positionCData[0]"
								order=3
								cardId="dashboard-lnk-security">
								<vtr-material-status-circle
									[gradientColor]="securityInfo"
									[statusText]="securityInfo?.statusText">
								</vtr-material-status-circle>
							</vtr-material-state-card-container>
						</ng-template>

					</div>
				</div>
				<div class="col-sm-12 pb-20 px-0">
					<vtr-container-card order=4
						[item]="contentCards.positionD.displayContent"
						[isOfflineArm]="(deviceService.isArm && !isOnline) || (deviceService.isArm && contentCards.positionD.displayContent.isLocal)"
						[type]="'highlight'"
						[ratio]="4"
						[containerCardId]="'dashboard-lnk-content-d'"
						id="dashboard-card-d"
						aria-label="dashboard-card-d">
					</vtr-container-card>
				</div>
				<div class="col-12 px-0 d-flex custom-card-container row no-gutters">
					<div class="custom-card col-12 col-md-6 col-lg-12 col-xl-6 pb-20 card-left"
						[hidden]="deviceService.isSMode">
						<vtr-container-card order=5
							[item]="contentCards.positionE.displayContent"
							[isOfflineArm]="(deviceService.isArm && !isOnline) || (deviceService.isArm && contentCards.positionE.displayContent.isLocal)"
							[type]="'article'"
							[ratio]="1"
							[containerCardId]="'dashboard-lnk-content-e'"
							id="dashboard-card-e"
							aria-label="dashboard-card-e">
						</vtr-container-card>
					</div>
					<div class="custom-card col-12 col-md-6 col-lg-12 col-xl-6 pb-20 card-right"
						[hidden]="deviceService.isSMode">
						<vtr-container-card order=6
							[item]="contentCards.positionF.displayContent"
							[isOfflineArm]="(deviceService.isArm && !isOnline) || (deviceService.isArm && contentCards.positionF.displayContent.isLocal)"
							[type]="'article'"
							[ratio]="1"
							[containerCardId]="'dashboard-lnk-content-f'"
							id="dashboard-card-f"
							aria-label="dashboard-card-f">
						</vtr-container-card>
					</div>
				</div>
			</div>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<div class="row"
				*ngIf="!deviceService.isArm && !deviceService.isSMode">
				<div class="col-sm-12 col-md-12 pb-20 px-0">
					<vtr-widget-system-update></vtr-widget-system-update>
				</div>
			</div>
			<div class="row"
				*ngIf="deviceService.isSMode">
				<div class="col-sm-12 col-md-12 pb-20 px-0">
					<vtr-widget-feedback [title]="'dashboard.feedback.title' | translate"
						[description]="'dashboard.feedback.subtitle' | translate"
						[actionName]="'dashboard.feedback.button' | translate"
						[isOnline]="isOnline"
						(feedBackClick)="openFeedbackModal()">
					</vtr-widget-feedback>
				</div>
			</div>
			<div class="row"
				*ngIf="warrantyData && warrantyData.info && warrantyData.info.status !== 2 && isWarrantyVisible">
				<div class="col-sm-12 col-md-12 pb-20 px-0">
					<vtr-widget-dashboard-warranty [item]="warrantyData"
						[isConnected]="isOnline">
					</vtr-widget-dashboard-warranty>
				</div>
			</div>

			<div class="row"
				*ngIf="!androidService.isAndroid && deviceService.isArm">
				<div class="col-sm-12 col-md-12 pb-20 px-0">
					<vtr-widget-support [title]="'support.documentation.title' | translate"
						[description]="''"
						[items]="supportDatas.documentation">
					</vtr-widget-support>
				</div>
			</div>

			<div class="row"
				*ngIf="!deviceService.isArm && showQuickSettings">
				<div class="col-sm-12 px-0 pt-3">
					<vtr-widget-quicksettings [vtrAppSearchScroller]="['search-microphone-quick', 'search-camera-quick', 'search-eye-care-quick']">
					</vtr-widget-quicksettings>
				</div>
			</div>
			<div class="row"
				*ngIf="!deviceService.isArm">
				<div class="col-sm-12 px-0 mt-20">
					<vtr-widget-status componentName="system status"
						[title]="'dashboard.systemStatus.title' | translate"
						[description]="'dashboard.systemStatus.subtitle' | translate"
						[items]="systemStatus"
						[linkId]="'dashboard-ss'">
					</vtr-widget-status>
				</div>
			</div>

			<div class="row"
				*ngIf="!androidService.isAndroid && deviceService.isArm">
				<div class="col-sm-12 px-0 pb-20">
					<vtr-widget-questions [title]="'common.qAndA.title' | translate"
						[description]="'common.qAndA.subtitle' | translate"
						[items]="qaService.qas"
						blockPosition="r4"
						[linkId]="'dashboard-qa'"></vtr-widget-questions>
				</div>
			</div>

			<div class="row"
				*ngIf="!androidService.isAndroid && deviceService.isArm">
				<div class="col-sm-12 px-0 pb-20">
					<vtr-widget-energy-star></vtr-widget-energy-star>
				</div>
			</div>

			<!-- <div class="row"
				*ngIf="!deviceService.isArm && !deviceService.isSMode && brand !== 1 && !deviceService.isGaming">
				<div class="col-sm-12 px-0 py-20">
					<vtr-widget-security-status [securityAdvisor]="securityAdvisor"
						[linkId]="'dashboard'">
					</vtr-widget-security-status>
				</div>
			</div> -->

		</div>
	</right-content>
</vtr-page-layout>
