@import '../../../app.theme';

.yellow{
  background-color:yellow;
}

.pink{
  background-color:pink;
}
.margin-negative-20{
  margin-top:-95px;
}

.p-30{
  padding:30px;
}

.height-230{
  height:230px;
}

.pl-40{
  padding-left:40px;
}

.pr-40{
  padding-right:40px;
}

.pa-20{
  padding:20px;
}

.mt--50{
  margin-top:-85px;
}
