<div class="vtr-intelligent-boost">
	<div class="container row">
		<div class="row w-100 col-auto mb-2">
			<div class="description-col row col-11">
				<div class="col-auto pl-0 pr-1 mat-display-1">
					<ng-content select=".boost-feature-icon"></ng-content>
				</div>

				<div class="col-11">
					<div class="mat-headline mb-2">
						<ng-content select=".boost-feature-heading"></ng-content>
					</div>
					<div class="mat-body-1 mb-2">
						<ng-content select=".boost-feature-content"></ng-content>
					</div>
				</div>
			</div>

			<div class="toggle-col d-flex justify-content-end col-1 p-0">
				<ng-content select=".boost-feature-toggle"></ng-content>
			</div>
		</div>
		<div class="apps-container row w-100" *ngIf="featureToggle">
			<div class="apps-container-title row w-100 mb-2 ml-4 p-0 uppercase mat-body-2 font-weight-bold">
				{{ 'intelligentBoost.appsContainerTitle' | translate }}
			</div>
			<div class="apps-container-list row w-100 ml-4">
				<ng-content select=".boost-feature-apps-container"></ng-content>
			</div>
		</div>
	</div>
</div>
