<div class="page-banner"
     [ngStyle]="{'background-image': 'url(' + data.image_url + ')'}">
    <div class="page-banner__text-block">
        <p class="page-banner__title">{{data.title}}</p>
        <p class="page-banner__text">{{data.text}}</p>
    </div>
    <div class="page-banner__btns-col">
        <button class="page-banner__btn">Try Lenovo Privacy</button>
        <a *ngIf="data.read_more_link && data.read_more_link.length" class="page-banner__link page-banner__link--to-right" href="{{data.read_more_link}}">Read more</a>
    </div>
</div>