@import "../../styles/common-blocks";

.page-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem 0 rgba(0,0,0,0.15);
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 5rem 3.5rem 5rem 4.2rem;
  &__text-block {
    max-width: 70%;
    padding: 0 3.8rem 0 0;
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.9rem;
    margin: 0 0 1.7rem 0;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 3rem;
  }
  &__btns-col {
    display: flex;
    align-self: center;
    position: relative;
  }
  &__btn {
    @extend %theme-btn;
    text-transform: uppercase;
    min-width: 23.8rem;
    color: #4A81FD;
    background: #fff;
    align-self: center;
  }
  &__link {
    @extend %button-link;
    @extend %button-link--to-right;
    @include href();
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 2.3rem 0 0 0;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
  }
}
