<div class="row vtr-page-content">
	<div class="col vtr-col">
		<div class="container-fluid mb-5">
			<div class="row">

				<div class="w-100">
					<div class="vtr-ui-smart-performance-scanning">
						<vtr-ui-smart-performance-header [image]="SPHeaderImageType.Normal"
							[headerTitle]="headerTitle"
							[subTitle]="'smartPerformance.scanningPage.description' |translate"
							headerTitleId="smart-performance-scanning-page-title"
							subTitleId="smart-performance-scanning-page-desc"
							[titleWrap]="true"
							[isScanning]="true"
							[contentWrap]="true">
							<div *ngIf="showProgress"
								class="col row">
								<div class="col col-12 row progress-div">
									<div class="col col-6 progress-percent-text">
										<div class="row d-flex justify-content-end align-items-end"
											*ngIf="!isLoading">
											<span class="progress-value-text"
												id="smart-performance-scanning-page-progress-complete-value"
												role="text">{{percent}}</span>
											<span class="progress-complete-text pb-2"
												id="smart-performance-scanning-page-progress-complete-text"
												role="text">%
												{{'smartPerformance.scanningPage.complete' |translate }}</span>
										</div>
										<div class="row d-flex justify-content-end progress-spinner w-100 text-right"
											*ngIf="isLoading">
											<div class="container">
												<div class="loader center-block">
													<div class="spinner-border text-secondary progress-spinner"
														role="status"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<vtr-ui-progress-bar progressId="smart-performance-progress-bar"
									[value]="percent"
									[noPadding]="true"></vtr-ui-progress-bar>
								<div class="col col-12 row scan-cancel-btn">
									<div class="col col-12 pt-5 pb-4 d-flex justify-content-center">
										<button type="button"
											id="smart-performance-scanning-page-cancel-scan"
											vtrMetrics
											metricsEvent="ItemClick"
											metricsParent="Page.Support.SmartPerformance"
											metricsItem="'btn.cancelscan'"
											class="btn btn-link cancel-check"
											[disabled]="percent === 0 || isCheckingStatus || percent >= 95"
											(click)="openCancelScanModel()"
											[matTooltip]="'smartPerformance.cancel' | translate"
											placement="top">{{ 'smartPerformance.cancel' | translate }}</button>
									</div>
								</div>
							</div>
						</vtr-ui-smart-performance-header>


						<div class="pc-info-card pc-accordion w-100"
							#spScanningAccordion>
							<ngb-accordion [closeOthers]="true"
								#acc="ngbAccordion">
								<ngb-panel id="Tune up performance">
									<ng-template ngbPanelTitle>
										<div class="d-flex justify-content-between">
											<div class="heading">
												<div class="icomoon icomoon-tune-pc"></div>
												<h2 id="smart-performance-scanning-page-turnPC-title"
													[class.is-active]="activeGroup === SPCategory.TuneUpPerformance"
													title="{{'smartPerformance.tunePCPerformance.title' |translate }}">
													{{'smartPerformance.tunePCPerformance.title' |translate }}
												</h2>
											</div>
											<div class="status-text float-right pull-right">
												<p id="smart-performance-scanning-page-tunePC-issues-number"
													role="text"
													class="issues-number"
													*ngIf="activeGroup === SPCategory.TuneUpPerformance">
													{{'smartPerformance.scanning' | translate}}
													<!-- <b>30</b> {{'smartPerformance.scanCompletePage.issues' |translate }} -->
												</p>
												<p id="smart-performance-scanning-page-tunePC-completed"
													role="text"
													*ngIf="activeGroup !== SPCategory.TuneUpPerformance">
													{{'smartPerformance.scanningPage.completed' |translate }}
												</p>
											</div>
										</div>
									</ng-template>
									<ng-template ngbPanelContent>
										<div class="d-flex">
											<div class="d-flex flex-column justify-content-between align-items-center pb-4 icon-box-content">
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-e-junk"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.TunePCAccumulateJunk}">
													</div>
													<p id="smart-performance-scanning-page-tunePC-tabSet1-tab1"
														role="text"
														[title]="'smartPerformance.tunePCPerformance.tabSet1.tab1' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.TunePCAccumulateJunk}">
														{{'smartPerformance.tunePCPerformance.tabSet1.tab1' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-usibilityIssue"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.TunePCUsabilityIssues}">
													</div>
													<p id="smart-performance-scanning-page-tunePC-tabSet1-tab2"
														role="text"
														[title]="'smartPerformance.tunePCPerformance.tabSet1.tab2' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.TunePCUsabilityIssues}">
														{{'smartPerformance.tunePCPerformance.tabSet1.tab2' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-windows"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.TunePCWindowsSettings}">
													</div>
													<p id="smart-performance-scanning-page-tunePC-tabSet1-tab3"
														role="text"
														[title]="'smartPerformance.tunePCPerformance.tabSet1.tab3' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.TunePCWindowsSettings}">
														{{'smartPerformance.tunePCPerformance.tabSet1.tab3' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-system-error"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.TunePCSystemErrors}">
													</div>
													<p id="smart-performance-scanning-page-tunePC-tabSet1-tab4"
														role="text"
														[title]="'smartPerformance.tunePCPerformance.tabSet1.tab4' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.TunePCSystemErrors}">
														{{'smartPerformance.tunePCPerformance.tabSet1.tab4' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-registery-errors"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.TunePCRegistryErrors}">
													</div>
													<p id="smart-performance-scanning-page-tunePC-tabSet1-tab5"
														role="text"
														[title]="'smartPerformance.tunePCPerformance.tabSet1.tab5' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.TunePCRegistryErrors}">
														{{'smartPerformance.tunePCPerformance.tabSet1.tab5' |translate }}
													</p>
												</div>
											</div>
											<div class="scan-detail-content"
												*ngIf="activeGroup === SPCategory.TuneUpPerformance">
												<vtr-ui-smart-performance-scanning-detail [items]="smartPerformanceService.subItems?.items"></vtr-ui-smart-performance-scanning-detail>
											</div>
										</div>
									</ng-template>
								</ngb-panel>

								<ngb-panel id="Internet performance">
									<ng-template ngbPanelTitle>
										<div class="d-flex justify-content-between align-items-center">
											<div class="heading">
												<div class="icomoon icomoon-boost-internet"></div>
												<h2 id="smart-performance-scanning-page-boost-title"
													[class.is-active]="activeGroup === SPCategory.InternetPerformance">{{'smartPerformance.boostInternetPerformance.extraTitle' |translate }}
												</h2>
											</div>
											<!-- <div class="status-text float-right pull-right">
											<p>WAITING TO SCAN</p>
										</div> -->
											<div class="status-text float-right pull-right">
												<p id="smart-performance-scanning-page-boost-issues-number"
													role="text"
													class="issues-number"
													*ngIf="activeGroup === SPCategory.InternetPerformance">
													{{'smartPerformance.scanning' | translate}}
													<!-- <b>30</b> {{'smartPerformance.scanCompletePage.issues' |translate }} -->
												</p>
												<p id="smart-performance-scanning-page-boost-waiting"
													role="text"
													*ngIf="activeGroup === SPCategory.TuneUpPerformance">
													{{'smartPerformance.scanningPage.waiting' |translate }}
												</p>
												<p id="smart-performance-scanning-page-boost-completed"
													role="text"
													*ngIf="activeGroup === SPCategory.MalwareSecurity">
													{{'smartPerformance.scanningPage.completed' |translate }}
												</p>
											</div>
										</div>
									</ng-template>
									<ng-template ngbPanelContent>
										<div class="d-flex">
											<div class="d-flex flex-column justify-content-between align-items-center pb-4 icon-box-content">
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-e-junk"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.BoostEJunk}">
													</div>
													<p id="smart-performance-scanning-page-boost-tabSet1-tab1"
														role="text"
														[title]="'smartPerformance.boostInternetPerformance.tabSet1.tab1' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.BoostEJunk}">
														{{'smartPerformance.boostInternetPerformance.tabSet1.tab1' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-network-settings"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.BoostNetworkSettings}">
													</div>
													<p id="smart-performance-scanning-page-boost-tabSet1-tab2"
														role="text"
														[title]="'smartPerformance.boostInternetPerformance.tabSet1.tab2' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.BoostNetworkSettings}">
														{{'smartPerformance.boostInternetPerformance.tabSet1.tab2' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-browser-settings"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.BoostBrowserSettings}">
													</div>
													<p id="smart-performance-scanning-page-boost-tabSet1-tab3"
														role="text"
														[title]="'smartPerformance.boostInternetPerformance.tabSet1.tab3' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.BoostBrowserSettings}">
														{{'smartPerformance.boostInternetPerformance.tabSet1.tab3' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-browser-security"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.BoostBrowserSecurity}">
													</div>
													<p id="smart-performance-scanning-page-boost-tabSet1-tab4"
														role="text"
														[title]="'smartPerformance.boostInternetPerformance.tabSet1.tab4' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.BoostBrowserSecurity}">
														{{'smartPerformance.boostInternetPerformance.tabSet1.tab4' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-wifi"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.BoostWiFiPerformance}">
													</div>
													<p id="smart-performance-scanning-page-boost-tabSet1-tab5"
														role="text"
														[title]="'smartPerformance.boostInternetPerformance.tabSet1.tab5' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.BoostWiFiPerformance}">
														{{'smartPerformance.boostInternetPerformance.tabSet1.tab5' |translate }}
													</p>
												</div>
											</div>
											<div class="scan-detail-content"
												*ngIf="activeGroup === SPCategory.InternetPerformance">
												<vtr-ui-smart-performance-scanning-detail [items]="smartPerformanceService.subItems?.items"></vtr-ui-smart-performance-scanning-detail>
											</div>
										</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel id="Malware & Security">
									<ng-template ngbPanelTitle>
										<div class="d-flex justify-content-between align-items-center">
											<div class="heading">
												<div class="icomoon icomoon-malware-security"></div>
												<h2 id="smart-performance-scanning-page-malware-title"
													[class.is-active]="activeGroup === SPCategory.MalwareSecurity">{{'smartPerformance.malwareSecurity.title' |translate }}
												</h2>
											</div>
											<div class="status-text float-right pull-right">
												<p id="smart-performance-scanning-page-malware-issues-number"
													role="text"
													class="issues-number"
													*ngIf="activeGroup === SPCategory.MalwareSecurity">
													{{'smartPerformance.scanning' | translate}}
													<!-- <b>30</b> {{'smartPerformance.scanCompletePage.issues' |translate }} -->
												</p>
												<p id="smart-performance-scanning-page-malware-waiting"
													role="text"
													*ngIf="activeGroup === SPCategory.InternetPerformance || activeGroup === SPCategory.TuneUpPerformance">
													{{'smartPerformance.scanningPage.waiting' |translate }}
												</p>
											</div>
										</div>
									</ng-template>
									<ng-template ngbPanelContent>
										<div class="d-flex">
											<div class="d-flex flex-column justify-content-between align-items-center pb-4 icon-box-content">
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-malware-scan"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.MalwareSan}">
													</div>
													<p id="smart-performance-scanning-page-malware-tabSet1-tab1"
														role="text"
														[title]="'smartPerformance.malwareSecurity.tabSet1.tab1' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.MalwareSan}">
														{{'smartPerformance.malwareSecurity.tabSet1.tab1' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-zero-day"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.MalwareZeroDayInfections}">
													</div>
													<p id="smart-performance-scanning-page-malware-tabSet1-tab2"
														role="text"
														[title]="'smartPerformance.malwareSecurity.tabSet1.tab2' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.MalwareZeroDayInfections}">
														{{'smartPerformance.malwareSecurity.tabSet1.tab2' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-errant-program"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.MalwareErrantPrograms}">
													</div>
													<p id="smart-performance-scanning-page-malware-tabSet1-tab3"
														role="text"
														[title]="'smartPerformance.malwareSecurity.tabSet1.tab3' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.MalwareErrantPrograms}">
														{{'smartPerformance.malwareSecurity.tabSet1.tab3' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-annoying-adware"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.MalwareAnnoyingAdware}">
													</div>
													<p id="smart-performance-scanning-page-malware-tabSet1-tab4"
														role="text"
														[title]="'smartPerformance.malwareSecurity.tabSet1.tab4' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.MalwareAnnoyingAdware}">
														{{'smartPerformance.malwareSecurity.tabSet1.tab4' |translate }}
													</p>
												</div>
												<div class="icon-box d-flex align-items-center">
													<div class="icomoon icomoon-security-settings"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.MalwareSecuritySettings}">
													</div>
													<p id="smart-performance-scanning-page-malware-tabSet1-tab5"
														role="text"
														[title]="'smartPerformance.malwareSecurity.tabSet1.tab5' |translate"
														[ngClass]="{'text-primary': scanData.status.subcategory==SPSubCategory.MalwareSecuritySettings}">
														{{'smartPerformance.malwareSecurity.tabSet1.tab5' |translate }}
													</p>
												</div>
											</div>
											<div class="scan-detail-content"
												*ngIf="activeGroup === SPCategory.MalwareSecurity">
												<vtr-ui-smart-performance-scanning-detail [items]="smartPerformanceService.subItems?.items"></vtr-ui-smart-performance-scanning-detail>
											</div>
										</div>
									</ng-template>
								</ngb-panel>
							</ngb-accordion>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
