@import '../../../../../app.theme.scss';

.light-dashline {
	border-top: 1px solid $screen_light_15;
}

vtr-subpage-smart-performance-scan-summary {
	.vtr-page-header {
		display: none;
	}
}

.vtr-ui-smart-performance-scanning {
	background: $light;
	border-radius: 0.8rem;
	box-shadow: 0 0 1.5rem $screen_dark_15;

	.progress-div {
		width: 100%;
		position: relative;

		.progress-percent-text {
			position: absolute;
			right: 0;
			top: -5rem;

			.progress-spinner {
				.container {
					padding-top: 1rem;
				}
			}

			.spinner-border {
				@media #{$high-contrast} {
					display: inline-block;
					border: 0.25em solid currentColor;
					border-right-color: transparent;
				}
			}
		}

		.progress-value-text {
			font-family: $font_family_semibold;
			color: $light !important;
			font-size: 2.6rem;
		}

		.progress-complete-text {
			font-weight: $weight_bold;
			color: $light !important;
			font-size: 1.4rem;
			padding-top: 1rem;
			padding-left: 0.3rem;
			text-transform: lowercase;
		}
	}

	.cancel-check {
		color: $light;
		font-size: 1.4rem;
		font-weight: $weight_bold;
		line-height: 1.4;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 0.2rem solid $light;
		padding: 0 0 0.1rem;

		&:hover {
			color: $light;
			text-decoration: none;
		}

		&:focus {
			color: $light;
			text-decoration: none;
			@include outline-white;
		}

		button {
			cursor: pointer;
		}
	}

	.scan-cancel-btn {
		::ng-deep .tooltip-inner {
			@include tt-inner();
		}

		::ng-deep .arrow::before {
			@include arrow-before();
		}
	}

	.pc-info-card {
		padding: $padding_content;

		@media #{$high-contrast} {
			@include black-border;
		}

		@media #{$white-on-black} {
			@include white-border;
		}

		@media #{$black-on-white} {
			@include black-border;
		}

		&::ng-deep {
			ngb-accordion {
				.card {
					border-radius: 0.6rem;
					border: 1px solid $screen_dark_01;
					background: $grey_lighter;
					margin-top: 1rem;
					width: 100%;

					&:first-child {
						margin-top: 0;
					}

					.card-header {
						border-bottom: none;
						min-height: 6.3rem;
						padding-top: 0;
						padding-bottom: 0;
						display: flex;
						pointer-events: none;
						background: $grey_lighter;

						.btn-link {
							width: 100%;

							@media #{$white-on-black} {
								border: none;
							}

							@media #{$black-on-white} {
								border: none;
							}

							@media #{$breakpoint_sm} {
								padding-left: 0rem;
							}

							&:hover,
							&:focus {
								text-decoration: none;
							}
						}

						.collapsed {
							.heading {
								h2 {
									font-size: $fontsize_xs;

									@media #{$breakpoint_lg} {
										font-size: $fontsize_xs;
									}
								}
							}

							.status-text {
								p {
									font-size: $fontsize_xs;

									&.issues-number {
										font-size: $fontsize_xs;
									}

									@media #{$breakpoint_lg} {
										font-size: $fontsize_xs;
									}
								}
							}
						}

						.heading {
							max-width: 60%;
							width: 60%;
							text-align: left;
							word-wrap: break-word;
							display: flex;
							align-items: center;

							h2 {
								padding: 0;
								color: $grey_darker;
								text-transform: capitalize;
								text-align: left;
								letter-spacing: 0;
								font-weight: $weight_bold;
								font-size: $fontsize_md;

								@media #{$breakpoint_lg} {
									font-size: $fontsize_xs;
								}
							}

							.icomoon {
								font-size: 3.2rem;
								margin-right: 1.5rem;
								color: $menu_hover;

								@media #{$breakpoint_sm} {
									height: 3rem;
									width: 3rem;
									font-size: 3rem;
									margin-right: 0.4rem;
									line-height: 3rem;
								}
							}
						}
					}

					.card-body {
						padding: 0 1.25rem;

						@media #{$breakpoint_sm} {
							padding: 0 0.25rem;
						}
					}

					.status-text {
						width: 38%;
						max-width: 38%;
						margin: 0;
						display: flex;
						align-items: center;
						text-transform: capitalize;

						p {
							width: 100%;
							font-size: $fontsize_xs;
							text-align: right;
							color: $grey_darker;
							position: relative;
							letter-spacing: 0;
							word-wrap: break-word;
							margin: 0;

							&.issues-number {
								font-size: $fontsize_md;
							}

							@media #{$breakpoint_lg} {
								font-size: $fontsize_xs;
							}

							@media #{$breakpoint_md} {
								font-size: $fontsize_xs2;
							}

							@media #{$breakpoint_xl} {
								font-size: $fontsize_xs2;
							}

							@media #{$breakpoint_sm} {
								font-size: 1.2rem;
							}
						}
					}
				}
			}
		}
	}

	.icon-box-content {
		width: 15rem;
		padding-left: 0.5rem;
	}

	.icon-box {
		width: 100%;
		position: relative;
		text-align: left;
		padding: 0.5rem 2rem 0.5rem 0.5rem;
		border-right: 1px solid $grey_light;

		.icon,
		.icomoon {
			font-size: 3rem;
			margin-right: 1rem;
			color: $main_shade;
		}

		p {
			font-size: 1.1rem;
			font-weight: bold;
			line-height: 1.4;
			margin: 0;
			color: $tab_gray;
		}
	}

	.scan-detail-content {
		width: 100%;
		overflow: hidden;
		padding-left: 2rem;
		padding-top: 1rem;
	}

	.current-scan {
		color: $main;
	}
}