<div class="vtr-eye-care-mode">
	<div class="row">
		<div class="col">
			<!-- <vtr-ui-range-slider
				[minValueLegend]="'Warm (Better for eyes)'"
				[maxValueLegend]="'Cold'"
				[stepsArray]="stepsArray"
				[legendPositionFunction]="legendPosition"
				(change)="sliderChange($event)"
			>
			</vtr-ui-range-slider> -->
			<vtr-ui-range-slider [step]="100"
				[enableSlider]="enableSlider"
				[minValue]="eyeCareModeSettings.minimum"
				[maxValue]="eyeCareModeSettings.maximum"
				[minValueLegend]="'Warm (Better for eyes)'"
				[maxValueLegend]="'Cold'"
				[(value)]="eyeCareModeSettings.current"
				(change)="onEyeCareTemparatureChange($event)"
				(valueChange)="onEyeCareTemparatureValueChange($event)">
			</vtr-ui-range-slider>
		</div>
		<div class="reset-temperature">
			<button type="button"
				class="btn btn-link text"
				(click)="onResetTemparature($event)">
				Reset temperature
			</button>
		</div>
	</div>
	<div class="custom-control custom-checkbox eye-care-checkbox" *ngIf="sunsetToSunriseStatus.available">
		<input id="cb-eye-care-schedule"
			type="checkbox"
			[disabled]="enableSlider"
			class="custom-control-input"
			[checked]="sunsetToSunriseStatus.status"
			(change)="onSunsetToSunrise(sunsetToSunriseStatus)" />
		<label class="custom-control-label "
			for="cb-eye-care-schedule">
			Schedule eye care mode from sunset to sunrise
		</label>
	</div>
</div>
