<div class="vtr-eye-care-mode"
	*ngIf="eyeCareModeSettings">
	<div class="row">
		<div class="col">
			<vtr-ui-range-slider [step]="100"
				[manualRefresh]="manualRefresh"
				[enableSlider]="enableSlider"
				[minValue]="eyeCareModeSettings.minimum"
				[maxValue]="eyeCareModeSettings.maximum"
				[minValueLegend]="'device.deviceSettings.displayCamera.display.eyeCareMode.options.warm' | translate"
				[maxValueLegend]="'device.deviceSettings.displayCamera.display.eyeCareMode.options.cold' | translate"
				[(value)]="eyeCareModeSettings.current"
				(change)="onEyeCareTemparatureChange($event)"
				(valueChange)="onEyeCareTemparatureValueChange($event)"
				[rangeSliderId]="'color-temp-eyeCareMode'">
			</vtr-ui-range-slider>
		</div>
		<div class="reset-temperature">
			<div class="button-box">
				<vtr-ui-button (onClick)="onResetTemparature($event)"
					metricsEvent="itemClick"
					metricsParent="eye-care-mode"
					metricsItem="btn.eye-care-mode.ResetTemparature"
				    [isDisabled]="disableReset"
					[isFullWidth]="false"
					[label]="'device.deviceSettings.displayCamera.display.eyeCareMode.reset' | translate"
					[linkId]="'color-temp-eyeCareMode-reset-btn'">
				</vtr-ui-button>
			</div>
		</div>
	</div>

	<div class="custom-control custom-checkbox eye-care-checkbox"
		*ngIf="sunsetToSunriseStatus.available && enableSunsetToSunrise">
		<input id="cb-eye-care-schedule"
			attr.aria-label="cb-eye-care-schedule"
			type="checkbox"
			[disabled]="enableSunsetToSunrise || missingGraphicDriver"
			class="custom-control-input"
			[checked]="sunsetToSunriseStatus.status"
			(change)="onSunsetToSunrise(sunsetToSunriseStatus)" />
		<label class="custom-control-label"
			for="cb-eye-care-schedule">
			<span class="text-capitalize"
				[ngClass]="{'disabled':sunsetToSunriseStatus.available && enableSunsetToSunrise}"
				id="cb-eye-care-schedule-text"
				attr.aria-label="cb-eye-care-schedule-text">
				{{'device.deviceSettings.displayCamera.display.eyeCareMode.onSunsetToSunriseScheduleDescription' | translate}}
				{{sunriseToSunsetText}}
			</span>
		</label>
	</div>
	<div class="custom-control custom-checkbox eye-care-checkbox"
		*ngIf="sunsetToSunriseStatus.available && !enableSunsetToSunrise">
		<input id="cb-eye-care-schedule"
			attr.aria-label="cb-eye-care-schedule"
			type="checkbox"
		    [disabled]="missingGraphicDriver"
			class="custom-control-input"
			[checked]="sunsetToSunriseStatus.status"
			(change)="onSunsetToSunrise(sunsetToSunriseStatus)" />
		<label class="custom-control-label"
			for="cb-eye-care-schedule">
			<span class=""
				id="cb-eye-care-schedule-text"
				attr.aria-label="cb-eye-care-schedule-text">
				{{'device.deviceSettings.displayCamera.display.eyeCareMode.onSunsetToSunriseScheduleDescription' | translate}}
				<!-- Commented  below line due to VAN-1654-->
				<!-- {{sunriseToSunsetText}} -->
				<span *ngIf="sunsetToSunriseStatus && !sunsetToSunriseStatus.firstChange">({{sunsetToSunriseStatus.sunsettime}} - {{this.sunsetToSunriseStatus.sunrisetime}})</span>
			</span>
		</label>
	</div>
</div>
