<div class="modal-body vtr-modal-apps-for-you-screenshot" id="apps-for-you-screenshot-dialog">
	<div class="content">
		<div class="image-content" *ngIf="image" #loadingImg [style.height.px]="loadingImg.clientWidth * 875 / 1400">
			<img [src]="image" />
		</div>
		<div *ngIf="!image" class="spinner-content w-100 text-center">
			<div class="spinner-border text-primary progress-spinner" role="status"></div>
		</div>
	</div>
	<div class="btn-modal-close">
		<vtr-ui-close-button linkId="apps-for-you-screenshot-dialog-close"
			metricsItem="AppsForYouScreenshotCloseButton"
			[metricsParent]="metricsParent"
			(clickClose)="closeModal()"></vtr-ui-close-button>
	</div>
</div>
