<div class="sidebar-benefits-widget" *ngIf="needToShow">
    <div class="sidebar-benefits-widget__inner">
        <picture class="sidebar-benefits-widget__main-image">
            <source srcset="/assets/images/privacy-tab/privacy-search.webp, /assets/images/privacy-tab/privacy-search@2x.webp 2x" type="image/webp">
            <source srcset="/assets/images/privacy-tab/privacy-search@2x.png 2x" type="image/png">
            <img src="/assets/images/privacy-tab/privacy-search.png" alt="{{mainImageAlt}}">
        </picture>
        <p class="sidebar-benefits-widget__text">
            <strong class="sidebar-benefits-widget__text-strong">{{mainImportantText}}</strong>
            <span class="sidebar-benefits-widget__text-light">{{mainText}}</span>
        </p>
        <button class="sidebar-benefits-widget__button">{{primaryButtonText}}</button>
        <button (click)="handleClick($event)"
                class="sidebar-benefits-widget__show-more"
                [class.sidebar-benefits-widget__show-more--open]="isOpen">
            <span class="sidebar-benefits-widget__show-more-text">{{linkButtonText}}</span>
        </button>
    </div>

    <div class="sidebar-benefits-widget__hidden-inner" *ngIf="isOpen">
        <h4 class="sidebar-benefits-widget__title">Benefits of Lenovo Privacy</h4>
        <ul class="sidebar-benefits-widget__list">
            <li class="sidebar-benefits-widget__item" *ngFor="let item of benefitsItems">
                <div class="sidebar-benefits-widget__item-content">
                    <img class="sidebar-benefits-widget__list-item-icon" src="{{item.image}}" alt="Scan for breaches">
                    <strong class="sidebar-benefits-widget__text-strong">{{item.subtitle}}</strong>
                    <span class="sidebar-benefits-widget__text-light sidebar-benefits-widget__text-light--sm">
                        {{item.text}}
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
