<div class="sidebar-benefits-widget">
    <div class="sidebar-benefits-widget__inner">
        <picture class="sidebar-benefits-widget__main-image">
            <source srcset="/assets/images/privacy-tab/privacy-search.webp, /assets/images/privacy-tab/privacy-search@2x.webp 2x" type="image/webp">
            <source srcset="/assets/images/privacy-tab/privacy-search@2x.png 2x" type="image/png">
            <img src="/assets/images/privacy-tab/privacy-search.png" alt="Stop trackers!">
        </picture>
        <p class="sidebar-benefits-widget__text">
            <strong class="sidebar-benefits-widget__text-strong">Stop trackers in their tracks</strong>
            <span class="sidebar-benefits-widget__text-light">Get the app that lets you choose who sees your info</span>
        </p>
        <button class="sidebar-benefits-widget__button">Try Lenovo Privacy</button>
        <button class="sidebar-benefits-widget__show-more">
            <span class="sidebar-benefits-widget__show-more-text">Tell me more</span>
        </button>
    </div>

    <div class="sidebar-benefits-widget__hidden-inner">
        <h4 class="sidebar-benefits-widget__title">Benefits of Lenovo Privacy</h4>
        <ul class="sidebar-benefits-widget__list">
            <li class="sidebar-benefits-widget__item">
                <div class="sidebar-benefits-widget__item-content">
                    <img src="/assets/images/privacy-tab/default.png" alt="">
                    <strong class="sidebar-benefits-widget__text-strong">Scan for breaches</strong>
                    <span class="sidebar-benefits-widget__text-light sidebar-benefits-widget__text-light--sm">
                        Start by finding out if any of your accounts have been part of a data breach.
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
