<div class="sidebar-install-widget"
	 data-analyticsName="PromotionBlock"
	 *ngIf="installWidgetSettings.visible && !isFigleafInstalled && !(isFigleafInExit$ | async)">
	<div class="sidebar-install-widget__inner">
		<div>
			<img class="sidebar-install-widget__main-image"
				 [src]="'/assets/images/privacy-tab/' + installWidgetSettings.image + '.png'"
				 [srcset]="'/assets/images/privacy-tab/' + installWidgetSettings.image + '@2x.png 2x'"
				 [alt]="installWidgetSettings.image">
		</div>
		<div class="sidebar-install-widget__text">
			<strong class="sidebar-install-widget__text-strong">{{installWidgetSettings.title}}</strong>
			<div class="sidebar-install-widget__main-text sidebar-install-widget__main-text--sm">
				<p class="sidebar-install-widget__text-light">{{installWidgetSettings.text}}</p>
			</div>
		</div>
		<div class="sidebar-install-widget__button-group">
			<vtr-ab-tests [testName]="currentTests.PrimaryButtonPitch">
				<button class="sidebar-install-widget__button sidebar-install-widget__button--transparent"
						*testOption="'Secondary'"
						vtrOfflineMode
						vtrOpenFigleafInstaller
						vtrSendAnalytics
						[metricsEvent]="'ItemClick'"
						[metricsItem]="'InstallButton' | changeActionButtonText | async"
						[metricsParam]="{Test: 'PrimaryButtonPitch', Variant: 'Secondary'}">
					{{primaryButtonText | changeActionButtonText | async}}
				</button>
				<button class="sidebar-install-widget__button"
						*testOption="'Primary'"
						vtrOfflineMode
						vtrOpenFigleafInstaller
						vtrSendAnalytics
						[metricsEvent]="'ItemClick'"
						[metricsItem]="'InstallButton' | changeActionButtonText | async"
						[metricsParam]="{Test: 'PrimaryButtonPitch', Variant: 'Primary'}">
					{{primaryButtonText | changeActionButtonText | async}}
				</button>
			</vtr-ab-tests>

			<div class="sidebar-install-widget__button-link">
				<a class="sidebar-install-widget__show-more"
				   vtrSendAnalytics
				   [metricsEvent]="'ItemClick'"
				   [metricsItem]="'LearnMoreLink'"
				   routerLink="/privacy/landing">
					<span class="sidebar-install-widget__show-more-text">{{linkButtonText}}</span>
				</a>
			</div>
		</div>
	</div>
</div>
