@import "../../../../app.theme.scss";
.auto-screen-block,
.auto-screen-off-block {
	::ng-deep .vtr-ui-switch-row {
		border-bottom: none !important;
	}
}
.aps {
	// margin-bottom: 3rem;
	li {
		list-style: none;
	}
	.bb {
		border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
	}
	.caption {
		font-size: $fontsize_xs;
		color: $purple_navy;
		font-weight: $weight_light;
		padding-left: 1rem;
	}
	.switch {
		.caption {
			font-size: $fontsize_xs;
			color: $purple_navy;
			font-weight: $weight_light;
		}
	}
	.slider {
		padding: 0 3rem 0 2rem;
	}
	.checkbox {
		padding: 0 3rem 0 2rem;
	}
	.dropdown {
		margin-top: 1.5rem;
		padding: 0 2rem;
		section {
			margin-bottom: 3rem;
			padding: 0 2rem 0 0;
			p {
				font-size: 1.2rem;
				font-weight: 600;
				color: $main_shade;
				padding-left: 0.3rem;
			}
		}
		.suspend-now-box {
			padding-top: 2.6rem;
			display: flex;
			align-items: center;
			height: 100%;
		}
	}
	.advanced {
		// padding-bottom: 3rem;
		h4 {
			color: $main_darkest;
			font-weight: 700;
			letter-spacing: 0.1rem;
			margin-bottom: 1.5rem;
		}
		a {
			p {
				font-weight: 700;
				font-size: 1.3rem;
				color: $main;
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}

.aps-checkbox {
	margin: 1rem 0rem 1rem 0rem;
	font-size: $fontsize_xs;
	padding-left: 5rem;
}

.aps-disabled {
	.custom-control-input ~ .custom-control-label {
		cursor: not-allowed;
	}
	.custom-control-input:checked ~ .custom-control-label::before {
		background-color: #8b91a2;
		box-shadow: none;
		border-color: #8b91a2;
	}
}

.custom-control-label {
	padding-left: 0.5rem;
	line-height: 1.15;
	color: $shade_blue;

	.disabled {
		color: $light-grey;
	}
	// rounded square-box background
	&::before {
		top: 0.2rem;
		width: 1.5rem;
		height: 1.5rem;
	}

	// tick mark
	&::after {
		top: 0rem;
		width: 2rem;
		height: 2rem;
		left: -1.7rem;
	}
}
