@import '../../../app.theme.scss';

.vtr-modal-modern-preload {
	padding: 0;
	display: flex;
	max-width: 80rem;
	margin: 0 auto;
	flex-flow: column;
	box-sizing: border-box;

	&.page-app {
		max-width: 120rem;
	}

	.action-control {
		height: 3rem;
		opacity: 0;
	}

	.content {
		border-radius: 1rem;
		width: 100%;
		overflow-x: hidden;
		max-height: calc(100vh - 10rem);
		overflow-y: auto;
		background: $light;
		@media #{$black-on-white} {
			border: 0.1rem solid $dark;
		}

		@media #{$white-on-black} {
			border: 0.1rem solid $light;
		}
	}
}

.close-btn {
	position: absolute;
	right: 0.5rem;
	top: 0.2rem;
	width: 2.2rem;
	height: 2.2rem;
	cursor: pointer;
	visibility: hidden;

	&.show {
		visibility: visible;
	}

	&:hover {
		opacity: 0.7;
	}

	img {
		width: 100%;
		height: 100%;
	}

	&:focus {
		@include outline-blue;
		@media #{$high-contrast} {
			outline: 0.1rem solid $light;
		}
	}

	@media #{$high-contrast} {
		background-color: $high-contrast-black-cyan;
	}

	@media #{$black-on-white} {
		background-color: $high-contrast-white-dark-magenta;
	}
}

.loading-page {
	.spinner-content {
		padding-top: 4rem;
		margin-bottom: 4rem;

		.spinner-border {
			width: 5rem !important;
			height: 5rem !important;
			padding: 4rem;
			@media #{$high-contrast} {
				display: inline-block;
				width: 2rem;
				height: 2rem;
				vertical-align: text-bottom;
				border: 0.25em solid currentColor;
				border-right-color: transparent;
				border-radius: 50%;
				animation: spinner-border 0.75s linear infinite;
			}
		}
	}

	.loading-text {
		font-size: $section_header;
		padding: 0 4rem 4rem;
	}
}

.app-page {
	.landing-content {
		position: relative;
		width: 100%;
		height: 26rem;
		background-image: url('^assets/images/modern-preload/img_modern_preload_landing_page_735x165_200.jpg');
		background-size: cover;

		.title-box {
			position: absolute;
			top: 4rem;
			left: 0;
			max-width: 52rem;
			max-height: 20.5rem;
			overflow-y: auto;
			padding: 2rem 4rem 2.5rem;
			background: rgba(70, 138, 201, 0.8);
			color: #fff;

			.title {
				font-size: 3rem;
				margin-bottom: 0.6rem;
			}

			.sub-title {
				font-size: 2rem;
				line-height: 2.6rem;
			}
		}
	}

	.app-content,
	.error-content {
		padding: 2.4rem;
		font-size: $section_header;

		.description {
			margin-bottom: 2rem;
		}

		.app-item {
			display: flex;
			margin-bottom: 3rem;
			padding-right: 6rem;
		}

		.button-content {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.btn-box {
				width: 32rem;
				max-width: 58%;
			}

			.btn-skip {
				font-size: 1.6rem;
				margin-right: 4rem;
				text-decoration: underline;
				max-width: 42%;
				height: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				&:hover {
					text-decoration: none;
				}

				&:focus {
					@media #{$black-on-white} {
						outline: 0.1rem solid $dark;
					}

					@media #{$white-on-black} {
						outline: 0.1rem solid $light;
					}
				}
			}
		}

		.bottom-tips {
			font-size: 1.6rem;
		}
	}

	.error-content {
		.error-icon {
			margin-right: 3rem;

			img {
				width: 8rem;
				height: 8rem;
			}
		}

		.error-box {
			width: calc(100% - 11rem);
		}
	}
}

.loading-content {
	img {
		width: 100%;
		height: 100%;
	}
}
