<div class="modal-body vtr-modal-modern-preload"
	[class.page-app]="page != PageNames.LOADING"
	[ngSwitch]="page">
	<div class="content"
		*ngSwitchCase="PageNames.LOADING">
		<div class="loading-page">
			<div class="loading-content"
				#loadingImg
				[style.height.px]="loadingImg.clientWidth * 115 / 386">
				<img src="/assets/images/modern-preload/img_modern_preload_loading_386x115_200.jpg" />
			</div>
			<div class="spinner-content w-100 text-center">
				<div class="spinner-border text-primary progress-spinner"
					id="modern-preload-loading"
					attr.aria-label="modern-preload-loading"
					role="status"></div>
			</div>
			<div class="loading-text"
				[innerHTML]="'modernPreload.loadingDescription' | translate"></div>
		</div>
	</div>
	<div class="content"
		*ngSwitchCase="PageNames.APP">
		<div class="app-page">
			<div class="landing-content">
				<div class="title-box">
					<div class="title"
						[innerHTML]="'modernPreload.title' | translate"></div>
					<div class="sub-title"
						[innerHTML]="'modernPreload.shortDescription' | translate"></div>
				</div>
			</div>
			<div class="app-content">
				<div class="description"
					[innerHTML]="'modernPreload.softwareDescription' | translate"></div>
				<div class="row no-gutters"
					id="modern-preload-app-list"
					role="list"
					*ngIf="appList">
					<div class="col-12 col-lg-6 app-item"
						*ngFor="let app of appList"
						id="modern-preload-app-item-{{app.udcId}}"
						role="listitem">
						<div class="custom-control custom-checkbox pl-0">
							<input type="checkbox"
								class="custom-control-input"
								tabindex="-1"
								[(ngModel)]="app.isChecked"
								id="modern-preload-app-{{app.udcId}}"
								[disabled]="!!(modernPreloadService.DownloadButtonStatus === DownloadButtonStatusEnum.DOWNLOADING || app.isCheckDisabled)"
								attr.aria-label="modern-preload-app-{{app.udcId}}"
								(change)="checkedApp()" />
							<label class="custom-control-label"
								[tabindex]="!!(modernPreloadService.DownloadButtonStatus === DownloadButtonStatusEnum.DOWNLOADING || app.isCheckDisabled) ? -1 : 0"
								(keydown.enter)="setAppCheckStatus(app)"
								for="modern-preload-app-{{app.udcId}}">
								<div class="app-logo">
									<img [src]="app.thumbnail" />
								</div>
							</label>
						</div>

						<div class="item-info">
							<b>{{ app.title }}</b>
							<div *ngIf="!app.isCheckDisabled"
								[ngSwitch]="app.showStatus">
								<div class="status-box download_available"
									*ngSwitchCase="statusEnum.NOT_INSTALL">
									<img class="status-icon"
										[src]="downloadIconBase64 | sanitize : 'resourceUrl'"
										alt=""
										srcset="">
									<div class="status-text"
										role="text"
										id="modern-preload-status-download-available-{{ app.udcId }}"
										[innerHTML]="'modernPreload.downloadAvailable' | translate"></div>
								</div>
								<div class="status-box download_complete"
									*ngSwitchCase="statusEnum.DOWNLOAD_COMPLETE">
									<img class="status-icon"
										[src]="successIconBase64 | sanitize : 'resourceUrl'"
										alt=""
										srcset="">
									<div class="status-text"
										role="text"
										id="modern-preload-status-download-complete-{{ app.udcId }}"
										[innerHTML]="'modernPreload.downloadComplete' | translate"></div>
								</div>
								<div class="status-box failed-install"
									*ngSwitchCase="statusEnum.FAILED_INSTALL">
									<img class="status-icon"
										[src]="errorIconBase64 | sanitize : 'resourceUrl'"
										alt=""
										srcset="">
									<div class="status-text"
										role="text"
										id="modern-preload-status-failed-install-{{ app.udcId }}"
										[innerHTML]="'modernPreload.failedInstall' | translate"></div>
								</div>
								<div class="status-box installed"
									*ngSwitchCase="statusEnum.INSTALLED">
									<img class="status-icon"
										[src]="successIconBase64 | sanitize : 'resourceUrl'"
										alt=""
										srcset="">
									<div class="status-text"
										role="text"
										id="modern-preload-status-installed-{{ app.udcId }}"
										[innerHTML]="'modernPreload.installed' | translate"></div>
								</div>
								<div class="status-box downloading"
									*ngSwitchCase="statusEnum.DOWNLOADING">
									<div class="downloading-text"
										role="text"
										id="modern-preload-status-downloading-{{ app.udcId }}">{{ app.progress }}% <span
											[innerHTML]="'modernPreload.downloading' | translate"></span></div>
									<div class="progress-box w-100">
										<ngb-progressbar type="success"
											[value]="app.progress"
											[height]="'0.8rem'">
										</ngb-progressbar>
									</div>
								</div>
							</div>
							<div *ngIf="app.company">{{ app.company }}</div>
							<div *ngIf="app.size">{{'modernPreload.sizeText' | translate}}: {{ app.size }}</div>
							<div *ngIf="app.version">{{'modernPreload.versionText' | translate}}: {{ app.version }}
							</div>
							<div *ngIf="redemptionSupport && app.activationCode"
								class="redemption-code-content mb-3">
								<div class="text"
									role="text"
									id="modern-preload-redemption-code-title-{{app.udcId}}">
									{{'modernPreload.redemptionCode' | translate}}</div>
								<div class="code d-flex align-items-center">
									<div class="redemption-code mr-2 activation-code"
										role="text"
										id="modern-preload-redemption-code-{{app.udcId}}"
										*ngIf="app.isShowActiveCode">
										{{app.activationCode}}</div>
									<div class="redemption-code mr-2 hide-characters d-flex flex-wrap"
										role="text"
										id="modern-preload-redemption-star-{{app.udcId}}"
										*ngIf="!app.isShowActiveCode"
										[innerHTML]="app.hiddenCharacters"></div>
									<div class="redeem-icon"
										(click)="setRedeemStatus(app)"
										(keydown.enter)="setRedeemStatus(app)"
										role="button"
										tabindex="0"
										vtrMetrics
										metricsItem="ModernPreload.redeemCodeEyeButton"
										metricsEvent="FeatureClick"
										metricsParent="Modern Preload"
										id="modern-preload-button-eye-{{app.udcId}}-{{app.isShowActiveCode}}">
										<fa-icon *ngIf="app.isShowActiveCode"
											[icon]="['far', 'eye-slash']"></fa-icon>
										<fa-icon *ngIf="!app.isShowActiveCode"
											[icon]="['far', 'eye']"></fa-icon>
									</div>
									<div class="redeem-icon"
										role="button"
										[tabindex]="app.isShowActiveCode ? 0 : -1"
										vtrMetrics
										metricsItem="ModernPreload.redeemCodeCopyButton"
										metricsEvent="FeatureClick"
										metricsParent="Modern Preload"
										#redeemCodeCopy
										id="modern-preload-button-redeem-code-copy-{{app.udcId}}"
										ngxClipboard
										(keydown.enter)="copy(app.activationCode, 'redeemCodeCopy')"
										[cbContent]="app.activationCode">
										<fa-icon *ngIf="app.isShowActiveCode"
											[icon]="['fal', 'copy']"></fa-icon>
									</div>
								</div>
							</div>
							<div class="redemption-url d-flex align-items-center"
								*ngIf="redemptionSupport && app.redemptionURL">
								<a class="mr-2"
									[href]="app.redemptionURL"
									target="_blank"
									vtrMetrics
									metricsItem="ModernPreload.redeemWebsiteUrl"
									metricsEvent="FeatureClick"
									metricsParent="Modern Preload"
									id="modern-preload-button-redeem-url-{{app.udcId}}">
									<fa-icon class="pr-1"
										[icon]="['fal', 'external-link']"></fa-icon>
									<span>{{'modernPreload.redeemWebsite' | translate}}</span>
								</a>
								<div class="redeem-icon"
									role="button"
									tabindex="0"
									vtrMetrics
									metricsItem="ModernPreload.redeemWebsiteCopyButton"
									metricsEvent="FeatureClick"
									metricsParent="Modern Preload"
									#redeemUrlCopy
									id="modern-preload-button-redeem-url-copy-{{app.udcId}}"
									ngxClipboard
									(keydown.enter)="copy(app.redemptionURL, 'redeemUrlCopy')"
									[cbContent]="app.redemptionURL">
									<fa-icon [icon]="['fal', 'copy']"></fa-icon>
								</div>
								<div class="redeem-icon"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="button-content mb-4">
					<div class="btn-box mr-5"
						[ngSwitch]="modernPreloadService.DownloadButtonStatus">
						<vtr-ui-button *ngSwitchCase="DownloadButtonStatusEnum.DOWNLOAD"
							(onClick)="installEntitledApp()"
							linkId="modern-preload-download-button"
							metricsEvent="FeatureClick"
							metricsParent="Modern Preload"
							metricsItem="btn.Download"
							[isFullWidth]="true"
							[isDisabled]="checkedAppList.length === 0"
							[label]="'modernPreload.download' | translate">
						</vtr-ui-button>
						<vtr-ui-button *ngSwitchCase="DownloadButtonStatusEnum.RESTART_DOWNLOAD"
							(onClick)="installEntitledApp()"
							linkId="modern-preload-restart-download-button"
							metricsEvent="FeatureClick"
							metricsParent="Modern Preload"
							metricsItem="btn.RestartDownload"
							[isFullWidth]="true"
							[isDisabled]="checkedAppList.length === 0 || modernPreloadService.IsCancelInstall"
							[label]="'modernPreload.restartDownload' | translate">
						</vtr-ui-button>
						<vtr-ui-button *ngSwitchCase="DownloadButtonStatusEnum.DOWNLOADING"
							linkId="modern-preload-downloading-button"
							[isFullWidth]="true"
							[isDisabled]="true"
							[label]="'modernPreload.downloading' | translate">
						</vtr-ui-button>
					</div>
					<a *ngIf="modernPreloadService.DownloadButtonStatus !== DownloadButtonStatusEnum.DOWNLOADING"
						vtrMetrics
						metricsItem="ModernPreload.skipButton"
						metricsEvent="FeatureClick"
						metricsParent="Modern Preload"
						id="modern-preload-skip-button"
						attr.aria-label="modern-preload-skip-button"
						href="javascript:;"
						class="btn-skip"
						(click)="closeModal()"
						[innerHTML]="'modernPreload.skip' | translate"></a>
					<a *ngIf="modernPreloadService.DownloadButtonStatus === DownloadButtonStatusEnum.DOWNLOADING"
						vtrMetrics
						metricsItem="ModernPreload.CancelButton"
						metricsEvent="FeatureClick"
						metricsParent="Modern Preload"
						id="modern-preload-cancel-button"
						attr.aria-label="modern-preload-cancel-button"
						href="javascript:;"
						class="btn-skip"
						(click)="cancel()"
						[innerHTML]="'modernPreload.cancel' | translate"></a>
				</div>
				<div class="bottom-tips"
					*ngIf="!isAppInstallError"
					[innerHTML]="'modernPreload.noteDownloading' | translate"></div>
				<div class="bottom-tips"
					*ngIf="isAppInstallError"
					[innerHTML]="'modernPreload.noteFailedDownload' | translate"></div>
			</div>
		</div>
	</div>
	<div class="content"
		*ngSwitchCase="PageNames.ERROR">
		<div class="app-page">
			<div class="landing-content">
				<div class="title-box">
					<div class="title"
						[innerHTML]="'modernPreload.title' | translate"></div>
					<div class="sub-title"
						[innerHTML]="'modernPreload.shortDescription' | translate"></div>
				</div>
			</div>
			<div class="error-content">
				<div class="d-flex">
					<div class="error-icon">
						<img [src]="errorIconBase64 | sanitize : 'resourceUrl'"
							alt=""
							srcset="">
					</div>
					<div class="error-box w-100 pt-2">
						<div class="bottom-tips mb-5"
							[innerHTML]="'modernPreload.errorDescription' | translate"></div>
						<div class="button-content mb-4">
							<div class="btn-box mr-5">
								<vtr-ui-button (onClick)="retry()"
									linkId="modern-preload-retry-button"
									metricsEvent="FeatureClick"
									metricsParent="Modern Preload"
									metricsItem="btn.Retry"
									[isFullWidth]="true"
									[label]="'modernPreload.retry' | translate">
								</vtr-ui-button>
							</div>
							<a vtrMetrics
								metricsItem="ModernPreload.skipButton"
								metricsEvent="FeatureClick"
								metricsParent="Modern Preload"
								id="modern-preload-skip-button"
								attr.aria-label="modern-preload-skip-button"
								href="javascript:;"
								class="btn-skip"
								[title]="'modernPreload.skip' | translate"
								(click)="closeModal()"
								[innerHTML]="'modernPreload.skip' | translate"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div role="button"
		class="close-btn"
		tabindex="0"
		[class.show]="page != PageNames.LOADING"
		vtrMetrics
		metricsItem="ModernPreload.closeButton"
		metricsEvent="FeatureClick"
		metricsParent="Modern Preload"
		id="modern-preload-close-button"
		attr.aria-label="modern-preload-close-button"
		(keyup.enter)="closeModal()"
		(click)="closeModal()">
		<img [src]=" '/assets/icons/Close-white.svg' | svgInline | async"
			alt=""
			srcset="">
	</div>
</div>