@import '../../../app.theme.scss';

:host {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.vtr-widget-about {
	background: $light;
	background-size: cover;
	color: $main_dark;
	box-shadow: $drop_shadow;
	padding: 4rem;
	position: relative;
	width: 100%;

	.img-con {
		height: 28rem;
		display: flex;
		justify-content: center;
	}

	.qr-img {
		width: 22.5rem;
		height: 22.5rem;
	}

	.content {
		padding-top: 6rem;
		padding-bottom: 2.5rem;
	}

	.title {
		font-size: 3.5rem;
		font-weight: $weight_regular;
		color: $shade_blue;
		letter-spacing: 0;
	}

	.description {
		width: 100%;
		font-size: 1.6rem;
		font-weight: $weight_regular;
		color: #667481;
		letter-spacing: 0;
	}

	.line {
		width: 100%;
		height: 1px;
		background-color: #f5f7f8;
		margin-bottom: 2.5rem;
	}

	.about-links {
		font-size: 1.6rem;
		letter-spacing: 0;
		color: #667481;

		a {
			text-decoration: underline;
			padding: 0.3rem;

			&:focus {
				outline: none;
				padding: 0.2rem;
				border: 0.1rem solid $menu_hover;
			}
		}
	}
}
