@import './../../../app.theme';

.vtr-ui-circle-radio {
	.checkbox {
		position: relative;
		height: 12rem;
		width: 14rem;
	}

	.checkbox-custom {
		opacity: 0;
		position: absolute;
	}

	.checkbox-custom + .checkbox-custom-label > .icomoon {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);
		margin: 0;
	}

	.checkbox-custom + .checkbox-custom-label > .icomoon::before {
		color: $main;
	}

	.checkbox-custom:checked + .checkbox-custom-label > .icomoon::before {
		color: $light;
	}

	.checkbox-custom + .checkbox-custom-label {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $light;
		border: 0.1rem solid $shade_lighter;
		display: inline-block;
		vertical-align: middle;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
	}

	.title {
		position: absolute;
		bottom: -8px;
		left: 0;
		right: 0;
		font-weight: $weight_bold;
		font-size: 1.39rem;
		color: $shade_light;
	}

	.checkbox-custom:checked + .checkbox-custom-label {
		background-color: $main;
	}
}
