<div class="auto-set-checkbox ">
	<div class="custom-checkbox-gaming custom-control custom-checkbox">
		<input [id]="componentId+'_checkbox'"
			class="custom-control-input"
			type="checkbox"
			role="checkbox"
			[name]="componentId+'_checkbox'"
			[value]="value"
			[disabled]="disabled"
			[indeterminate]="indeterminate"
			[checked]="checked"
			[attr.aria-disabled]="disabled"
			[attr.aria-checked]="checked"
			[attr.aria-label]="ariaLabel"
			tabIndex="0"
			(change)="onChange($event)" />
		<div *ngIf="hasChild; else elseBlock"
			[id]="componentId+'_checkbox-label'"
			class="custom-control-label">
			<ng-content></ng-content>
		</div>
		<ng-template #elseBlock>
			<div
				[id]="componentId+'_checkbox-label'"
				class="custom-control-label">
				{{ label }}
			</div>
		</ng-template>
	</div>
</div>
