<div class="auto-set-checkbox ">
	<div class="custom-checkbox-gaming custom-control custom-checkbox">
		<input [id]="componentId"
			class="custom-control-input"
			type="checkbox"
			role="checkbox"
			[name]="componentId"
			[value]="value"
			[disabled]="disabled"
			[checked]="checked"
			[attr.aria-disabled]="disabled"
			[attr.aria-checked]="checked"
			tabIndex="0"
			vtrMetrics
			[metricsEvent]="metricsEvent"
			[metricsParent]="metricsParent"
			[metricsItem]="componentId"
			[metricsValue]="checked"
			(change)="onChange($event)" />
		<label *ngIf="hasChild; else elseBlock"
			class="custom-control-label"
			[for]="componentId">
			<ng-content></ng-content>
		</label>
		<ng-template #elseBlock>
			<label [for]="componentId"
				class="custom-control-label">
				{{ label }}
			</label>
		</ng-template>
	</div>
</div>