@import "./../../../app.theme.scss";

.auto-set-checkbox {
	margin-top: 2rem;
	position: relative;
	input {
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		top: 0.5rem;
		margin-right: 0.5rem;
		z-index: 0;
		outline: 0;
		background: transparent;
	}
	label {
		color: $shade_blue;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		text-align: left;
		padding-left: 2rem;
		line-height: 1.7;
	}

	.custom-control-label {
		font-size: $caption;
		text-transform: none;
		padding-left: 0.5rem;

		// rounded square-box background
		&::before {
			top: 0.2rem;
			width: 1.5rem;
			height: 1.5rem;
			box-shadow: inset 0 0 0 0.1rem $light;
			border: 0.1rem solid $shade_darker;
		}

		// tick mark
		&::after {
			top: 0rem;
			width: 2rem;
			height: 2rem;
			left: -1.7rem;
		}
	}
}
