<div class="hwscan-header">
	<div class="row">
		<div [ngSwitch]="headerType" aria-live="polite">
			<div id="rbs-header-height-filler" *ngSwitchCase="enumScanHeaderTypeFinished.RecoverBadSectors">
				<h2 id="hwscan-rbs-finished-title" role="heading" class="col title">{{ 'hardwareScan.recoverBadSectors.recoverCompleted' | translate }}</h2>
			</div>
			<div *ngSwitchCase="enumScanHeaderTypeFinished.Scan">
				<ng-container *ngTemplateOutlet="scanFinishedHeaderTitle"></ng-container>

				<div class="description-row">
					<ng-container
						[ngTemplateOutlet]="scanFinishedFinalResultCode"
						[ngTemplateOutletContext]="{ finalResultCodeTitle: 'hardwareScan.scanFinishedHeader.finalResultCodeLabel' | translate, finalResultCodeValue: getFinalResultCode() }">
					</ng-container>
				</div>

				<div class="description-row">
					<div *ngIf="numberTestsFailed > 0">
						<span id="hwscan-failure-description" role="text" class="row failure-description"> {{ 'hardwareScan.scanFinishedHeader.frcFailureDescription' | translate }}</span>
						<span id="hwscan-support-instruction" role="text" class="row failure-description"> {{ 'hardwareScan.scanFinishedHeader.lenovoSupportInstruction' | translate }}</span>
					</div>
				</div>

				<div class="button-row">
					<div class="row" *ngIf="numberTestsFailed > 0; else successfulScan">
						<vtr-ui-button
							[linkId]="'hwscan-support-btn'"
							vtrMetrics
							metricsEvent="FeatureClick"
							metricsParent="HardwareScan.ScanFailureActions"
							metricsItem="ScanFailureActions.LenovoSupport"
							[href]="supportUrl"
							[tooltipText]="'hardwareScan.scanFinishedHeader.supportButtonText' | translate"
							[label]="'hardwareScan.scanFinishedHeader.supportButtonText' | translate">
						</vtr-ui-button>
						<vtr-ui-hyperlink-button
							class="hyperlink-container"
							hyperlinkStyle="xs-white"
							linkId="hwscan-scan-again-btn"
							linkRole="button"
							metricsEvent="FeatureClick"
							metricsParent="HardwareScan"
							metricsItem="HardwareScan.ScanAgain"
							[upperCaseLabel]="true"
							[label]="'hardwareScan.scanFinishedHeader.scanAgainButtonText' | translate"
							[title]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate"
							[tooltipText]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate"
							(hyperlinkClick)="onScanAgain()">
						</vtr-ui-hyperlink-button>
					</div>

					<ng-template #successfulScan>
						<div class="row" *ngIf="numberTestsFailed == 0">
							<div class="row">
								<vtr-ui-button
									[linkId]="'hwscan-scan-again-btn'"
									vtrMetrics
									metricsEvent="FeatureClick"
									metricsParent="HardwareScan"
									metricsItem="HardwareScan.ScanAgain"
									(click)="onScanAgain()"
									[tooltipText]="'hardwareScan.scanFinishedHeader.scanAgainButtonText' | translate"
									[label]="'hardwareScan.scanFinishedHeader.scanAgainButtonText' | translate">
								</vtr-ui-button>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
			<div *ngSwitchCase="enumScanHeaderTypeFinished.ViewResults">

				<!-- Defines a title -->
				<ng-container *ngTemplateOutlet="scanFinishedHeaderTitle"></ng-container>

				<!-- Show the date and result about the last scan -->
				<p class="result-date-description" aria-labelledby="hwscan-previous-results-last-scan-text hwscan-previous-results-last-scan-value hwscan-previous-results-result-text hwscan-previous-results-result-value">
					<span aria-hidden="true" id="hwscan-previous-results-last-scan-text" role="text">{{ 'hardwareScan.lastScanOn' | translate }} </span>
					<span aria-hidden="true" id="hwscan-previous-results-last-scan-value" role="text">{{ lastScanResultCompletionInfo.date | formatLocaleDateTime }}</span>
				</p>

				<!-- Show the result code -->
				<ng-container
					[ngTemplateOutlet]="scanFinishedFinalResultCode"
					[ngTemplateOutletContext]="{ finalResultCodeTitle: 'hardwareScan.finalResultCode' | translate, finalResultCodeValue: getLastFinalResultCode() }">
				</ng-container>

				<!-- Defines a message about lenovo support -->
				<div class="description-row" *ngIf="numberTestsFailed > 0">
					<p id="hwscan-failure-description" role="text" class="row failure-description"> {{ 'hardwareScan.scanFinishedHeader.frcFailureDescription' | translate }}</p>
					<p id="hwscan-support-instruction" role="text" class="row failure-description"> {{ 'hardwareScan.scanFinishedHeader.lenovoSupportInstruction' | translate }}</p>
				</div>

				<div class="button-row" *ngIf="numberTestsFailed > 0">
					<div class="row">
						<vtr-ui-button
							[linkId]="'hwscan-support-btn'"
							vtrMetrics
							metricsEvent="FeatureClick"
							metricsParent="HardwareScan.ScanFailureActions"
							metricsItem="ScanFailureActions.LenovoSupport"
							[href]="supportUrl"
							tabindex="1"
							[tooltipText]="'hardwareScan.scanFinishedHeader.supportButtonText' | translate"
							[label]="'hardwareScan.scanFinishedHeader.supportButtonText' | translate">
						</vtr-ui-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #tooltipFinalResultCode>
			<div
				id="hwscan-final-result-code-success-tooltip" role="text"
				[innerHTML]="'hardwareScan.scanFinishedHeader.frcSuccessDescription' | translate">
			</div>
			<vtr-ui-hyperlink-button
				hyperlinkStyle="xs-300-blue-lighter"
				class="hyperlink-container"
				linkId="hwscan-final-result-code-support-link"
				metricsItemID="HardwareScan.ResultSupport"
				metricsItemPosition="r1"
				metricsItemCategory="partnerarticle"
				metricsEvent="articleclick"
				metricsPageNumber="1"
				[tabIndex]="1"
				[label]=" 'hardwareScan.scanFinishedHeader.supportButtonText' | translate "
				(hyperlinkClick)="openContactusPage()">
			</vtr-ui-hyperlink-button>
	</ng-template>

	<!-- Common templates used in both Scan and Previous Results headers -->
	<ng-template #scanFinishedHeaderTitle>
		<div class="col" [ngSwitch]="numberTestsFailed" >
			<h2 id="hwscan-title-success" role="heading" class="title" *ngSwitchCase="0">{{ 'hardwareScan.result' | translate }} : {{ 'hardwareScan.' + scanResult.toLowerCase() | translate }}</h2> <!-- No failures -->
			<h2 id="hwscan-title-error" role="heading" class="title" *ngSwitchDefault>{{ 'hardwareScan.scanFinishedHeader.titleError' | translate:{'numberTestsFailed':numberTestsFailed} }}</h2>  <!-- One or more failures -->
		</div>
	</ng-template>
	<ng-template #scanFinishedFinalResultCode let-finalResultCodeTitle="finalResultCodeTitle" let-finalResultCodeValue="finalResultCodeValue">
		<div class="row final-result-code">
			<p class="result-code-value-text">{{ finalResultCodeTitle }} </p>
			<p id="hwscan-final-result-code-value" role="text" class="result-code-complete-text">{{ finalResultCodeValue }}</p>
			<a *ngIf="numberTestsFailed === 0"
				id="hwscan-final-result-code-tooltip"
				href="javascript:void(0)"
				role="img"
				attr.aria-label="final-result-code-tooltip, which reads: {{('hardwareScan.scanFinishedHeader.frcSuccessDescription' | translate)}}"
				class="result-code-icon"
				triggers="click"
				[placement]="['left','right']"
				[ngbTooltip]="tooltipFinalResultCode"
				container="vtr-root"
				tabindex="1"
				tooltipClass="vtr-tooltip">
				<fa-icon [icon]="['far', 'question-circle']"></fa-icon>
			</a>
		</div>
	</ng-template>
</div>
