<div class="hwscan-header">
	<div class="row">
		<div [ngSwitch]="headerType" aria-live="polite">
			<div class="col title" *ngSwitchCase="enumScanHeaderTypeFinished.RecoverBadSectors">
				{{'hardwareScan.recoverBadSectors.recoverCompleted' | translate }}
			</div>
			<div *ngSwitchCase="enumScanHeaderTypeFinished.Scan">
				<div class="col title" [ngSwitch]="numberTestsFailed">
					<div *ngSwitchCase="0">
						{{'hardwareScan.scanFinishedHeader.titleSuccess' | translate }}
					</div>
					<div *ngSwitchCase="1">
						{{'hardwareScan.scanFinishedHeader.titleErrorSingular' | translate }}
					</div>
					<div *ngSwitchDefault> <!-- More than one failure -->
						{{'hardwareScan.scanFinishedHeader.titleErrorPlural' | translate:{'numberTestsFailed':numberTestsFailed} }}
					</div>
				</div>

				<div class="description-row">
					<div class="row final-result-code">
						<p class="result-code-value-text">{{'hardwareScan.scanFinishedHeader.finalResultCodeLabel' | translate }} </p>
						<p class="result-code-complete-text">{{getFinalResultCode()}}</p>
						<a *ngIf="numberTestsFailed === 0"
							href="javascript:void(0)"
							role="img"
							attr.aria-label="final-result-code-tooltip, which reads: {{('hardwareScan.scanFinishedHeader.frcSuccessDescription' | translate)}}"
							class="result-code-icon"
							triggers="click"
							[placement]="['left','right']"
							[ngbTooltip]="tooltipFinalResultCode"
							container="vtr-root"
							tabindex="1"
							tooltipClass="vtr-tooltip">
							<fa-icon [icon]="['far', 'question-circle']"></fa-icon>
						</a>
					</div>
				</div>

				<div class="description-row">
					<div *ngIf="numberTestsFailed > 0">
						<span class="row failure-description"> {{ 'hardwareScan.scanFinishedHeader.frcFailureDescription' | translate }}</span>
						<span class="row failure-description"> {{ 'hardwareScan.scanFinishedHeader.lenovoSupportInstruction' | translate }}</span>
					</div>
				</div>

				<div class="button-row">
					<div class="row" *ngIf="numberTestsFailed > 0; else successfulScan">
						<vtr-ui-button
							vtrMetrics
							metricsEvent="FeatureClick"
							metricsParent="HardwareScan.ScanFailureActions"
							metricsItem="ScanFailureActions.LenovoSupport"
							id="supportButton"
							[href]="supportUrl"
							[tooltipText]="'hardwareScan.scanFinishedHeader.supportButtonText' | translate"
							[label]="'hardwareScan.scanFinishedHeader.supportButtonText' | translate">
						</vtr-ui-button>

						<div class="row align-items-center">
							<button type="button"
								id="scanAgainWhenFail"
								vtrMetrics
								metricsEvent="FeatureClick"
								metricsParent="HardwareScan"
								metricsItem="HardwareScan.ScanAgain"
								class="scan-again-button"
								[title]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate"
								(click)="onScanAgain()">{{'hardwareScan.scanFinishedHeader.scanAgainButtonText' | translate}}
							</button>
						</div>
					</div>

					<ng-template #successfulScan>
						<div class="row" *ngIf="numberTestsFailed == 0">
							<div class="row">
								<vtr-ui-button
									id="scanAgainWhenSuccess"
									vtrMetrics
									metricsEvent="FeatureClick"
									metricsParent="HardwareScan"
									metricsItem="HardwareScan.ScanAgain"
									(click)="onScanAgain()"
									[tooltipText]="'hardwareScan.scanFinishedHeader.scanAgainButtonText' | translate"
									[label]="'hardwareScan.scanFinishedHeader.scanAgainButtonText' | translate">
								</vtr-ui-button>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
			<div *ngSwitchCase="enumScanHeaderTypeFinished.ViewResults">

				<!-- Defines a title -->
				<div class="col title"  [ngSwitch]="numberTestsFailed">
					<h2 *ngSwitchCase="0">
						{{'hardwareScan.scanFinishedHeader.titleSuccess' | translate }}
					</h2>

					<h2 *ngSwitchCase="1">
						{{'hardwareScan.scanFinishedHeader.titleErrorSingular' | translate }}
					</h2>

					<!-- More than one failure -->
					<h2 *ngSwitchDefault>
						{{'hardwareScan.scanFinishedHeader.titleErrorPlural' | translate:{'numberTestsFailed':numberTestsFailed} }}
					</h2>
				</div>

				<!-- Show the date and result about the last scan -->
				<p class="result-date-description">
					{{ 'hardwareScan.lastScanOn' | translate }} {{ lastScanResultCompletionInfo.date | formatLocaleDateTime }}
					- {{ 'hardwareScan.result' | translate }}:
					{{ (lastScanResultCompletionInfo.isCompleted ? 'hardwareScan.complete' : 'hardwareScan.incomplete') | translate }}
				</p>

				<!-- Show the result code -->
				<div class="row final-result-code">
					<p class="result-code-value-text">{{'hardwareScan.finalResultCode' | translate }} </p>
					<p class="result-code-complete-text">{{getLastFinalResultCode()}}</p>
					<a *ngIf="numberTestsFailed === 0"
						href="javascript:void(0)"
						role="img"
						attr.aria-label="final-result-code-tooltip, which reads: {{('hardwareScan.scanFinishedHeader.frcSuccessDescription' | translate)}}"
						class="result-code-icon"
						triggers="click"
						[placement]="['left','right']"
						[ngbTooltip]="tooltipFinalResultCode"
						container="vtr-root"
						tabindex="1"
						tooltipClass="vtr-tooltip">
						<fa-icon [icon]="['far', 'question-circle']"></fa-icon>
					</a>
				</div>

				<!-- Defines a message about lenovo support -->
				<div class="description-row" *ngIf="numberTestsFailed > 0">
					<p class="row failure-description"> {{ 'hardwareScan.scanFinishedHeader.frcFailureDescription' | translate }}</p>
					<p class="row failure-description"> {{ 'hardwareScan.scanFinishedHeader.lenovoSupportInstruction' | translate }}</p>
				</div>

				<div class="button-row" *ngIf="numberTestsFailed > 0">
					<div class="row">
						<vtr-ui-button
							vtrMetrics
							metricsEvent="FeatureClick"
							metricsParent="HardwareScan.ScanFailureActions"
							metricsItem="ScanFailureActions.LenovoSupport"
							id="supportButton"
							[href]="supportUrl"
							tabindex="1"
							[tooltipText]="'hardwareScan.scanFinishedHeader.supportButtonText' | translate"
							[label]="'hardwareScan.scanFinishedHeader.supportButtonText' | translate">
						</vtr-ui-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #tooltipFinalResultCode>
		<div [innerHTML]="'hardwareScan.scanFinishedHeader.frcSuccessDescription' | translate"></div>
			<a [attr.href]="contactusUrl"
				class="link-support"
				id="supportButton"
				target="_blank"
				vtrMetrics
				metricsItemID="HardwareScan.ResultSupport"
				metricsItemPosition="r1"
				metricsItemCategory="partnerarticle"
				metricsEvent="articleclick"
				metricsPageNumber="1"
				tabindex="1">
				{{ 'hardwareScan.scanFinishedHeader.supportButtonText' | translate }}
			</a>
	</ng-template>
</div>
