@import "../../../../../../app.theme";

.title {
	color: $light;
	font-size: $fontsize_xl;
	font-weight: $weight_600;
	padding-left: 2.4rem;
	padding-top: 2.4rem;
	padding-bottom: 0.5rem;
	padding-right: 2.4rem;
}

.result-date-description {
	color: $main_shade;
	font-size: $fontsize_xs;
	font-weight: $weight_light;
	padding-bottom: 1.5rem;
	padding-left: 2.4rem;
}

.description-row {
	color: $light;
	font-size: $fontsize_xs;
	font-weight: $weight_light;
	line-height: 2.1rem;
	padding-bottom: 1rem;

	.failure-description {
		padding-left: 2.4rem;
	}
}

.button-row {
	padding-left: 2rem;
	padding-bottom: 1.5rem;
	padding-right: 2.4rem;
	display: flex;

	.scan-again-button {
		font-size: $fontsize_xs2;
		font-weight: $weight_bold;
		color: $light;
		border-bottom: 0.2rem solid $light;
		padding-bottom: 0.2rem;
		margin-left: 2.5rem;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			border: none;
			padding-bottom: 0.5rem; // Centering the text after removing its text-decoration
			text-decoration: none; //Remove underline on customize scan when the cursor is under the link
		}
		&:focus {
			@include outline_blue;
		}
	}
	.align-items-center {
		align-content: center;
	}
}

.link-support {
	padding-top: 1rem;
	text-decoration: underline;
	&:hover {
		color: $menu_hover;
		text-decoration: none;
	}
}

.final-result-code {
	color: $light;
	font-size: $fontsize_xs2;
	line-height: 1.5rem;
	padding: 1rem 2.4rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.result-code-value-text {
		opacity: 0.5;
		margin-top: 1rem;
		font-weight: $weight_bold;
	}
	.result-code-complete-text {
		margin-left: 0.5rem;
		margin-top: 1rem;
		text-transform: uppercase;
	}
	.result-code-icon {
		margin-left: 0.5rem;
		font-size: $fontsize_sm;
		color: $menu_hover;
		cursor: pointer;
		&:hover {
			color: $highlight;
		}
		&:focus {
			@include outline_blue;
		}
	}
}

#rbs-header-height-filler {
	height: 12.8rem;
}
