@import "../../../app.theme";

.vtr-widget-offline-info {
	.offline-info-background {
		border-radius: 0.5rem;
		height: 100%;
		width: 100%;
		background: linear-gradient($gradient_angle, $main_darkest 0%, $main_darker 100%);
		box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);

		.title {
			color: $light;
			font-size: 3.5rem;
			font-weight: $weight_light;
			line-height: 4.2rem;
			padding-left: 5rem;
			padding-top: 5rem;
			padding-bottom: 2rem;
			padding-right: 5rem;
		}

		.subtitle {
			opacity: 0.5;
			color: $light;
			font-size: 1.4rem;
			line-height: 2.1rem;
			padding-left: 5rem;
			padding-top: 0rem;
			padding-right: 5rem;
		}

		.icon {
			color: $light;
			font-size: 10rem;
		}

		.button-row {
			padding-left: 5rem;
			padding-bottom: 5rem;
			padding-top: 3rem;
			padding-right: 5rem;

			.action-button {
				border-radius: 2.5rem;
				background: $gradient_main;
				text-transform: uppercase;
				padding: 0 3rem;
				color: $light;
				font-size: 1.5rem;
				height: 5rem;
				font-weight: $weight_medium;
				line-height: 5rem;
				text-align: center;
				border: 0rem;
				cursor: pointer;
			}
		}
	}
}
