@import "../../../app.theme.scss";

.vtr-widget-quicksettings {
	.heading {
		color: $shade_blue;
		font-size: $fontsize_xl2;
		line-height: 1.1em;
		font-weight: $weight_light;
	}
	.widget-icon-3 {
		display: flex;
		justify-content: center;
		> div {
			&:first-child{
				margin-right: 2.4rem;
			}
			&:nth-child(2n){
				margin-right: 2.4rem;
			}
			&:last-child{
				margin-right: 0 !important;
			}
		}
	}
}

.widget-icon-2 {
	display: flex;
	justify-content: center;
	> div {
		&:first-child{
			margin-right: 2.4rem;
		}
		&:nth-child(2n){
			margin-right: 2.4rem;
		}
		&:last-child{
			margin-right: 0 !important;
		}
	}
}
.permission-note {
	width: 100%;
	background-color: $shade_lightest;
	font-size: $fontsize_xs;
	border: 0.1rem solid $shade_lighter;
	justify-content: space-between;
	.note-icon {
		font-size: 20px;
	}
	.privacy-button {
		font-size: $fontsize_xs;
		letter-spacing: 0px;
		text-align: left;
		font-family: "Segoe UI", sans-serif;
		font-weight: $weight_light;
		@media #{$black-on-white} {
			color: $yellow;
			border: none;
		}
		@media #{$white-on-black} {
			color: $blue-lighter;
			border: none;
		}
	}
}
.link-text {
	font-size: $body;
	text-decoration: underline;
	letter-spacing: 0.05rem;
	color: $menu_hover;
	cursor: pointer;
	font-weight: 600;
}
