@import "../../../app.theme.scss";

.vtr-widget-quicksettings {
	.heading {
		color: $main_darker;
		font-size: $fontsize_xl2;
		line-height: 1.1em;
		font-weight: $weight_light;
	}
	.widget-icon-3 {
		display: flex;
		// justify-content: space-between;
		> div {
			width: 33%;
		}
	}
}

.widget-icon-2 {
	display: flex;
	// justify-content: flex-start;
	> div {
		width: 33%;
	}
}
.permission-note {
	width: 100%;
	background-color: $shade_lightest;
	font-size: 1.3rem;
	border: 1px solid $shade_lighter;
	justify-content: space-between;
	.note-icon {
		font-size: 20px;
	}
	.privacy-button {
		font-size: 1.3rem;
		letter-spacing: 0.76px;
		text-align: left;
		@media #{$black-on-white} {
			color: $yellow;
			border:none;
		}
		@media #{$white-on-black} {
			color: $blue-lighter;
			border:none;
		}
	}
}
	.link-text {
		font-size: $body;
		text-decoration: underline;
		letter-spacing: 0.05rem;
		color: $menu_hover;
		cursor: pointer;
		font-weight: 600;
	}
