@import "../../../app.theme.scss";

.vtr-widget-quicksettings {
	.heading {
		color: $shade_blue;
		font-size: 3.5rem;
		margin-bottom: 4rem;
		margin-top: -1rem;
		font-weight: $weight-medium;
	}
	.widget-icon-3 {
		display: flex;
		// justify-content: space-between;
		> div {
			width: 33%;
		}
	}
}

.widget-icon-2 {
	display: flex;
	// justify-content: flex-start;
	> div {
		width: 33%;
	}
}
.permission-note {
	width: 100%;
	background-color: $shade_lightest;
	font-size: 1.3rem;
	border: 1px solid $shade_lighter;
	justify-content: space-between;
	.note-icon {
		font-size: 20px;
	}
	.privacy-button {
		font-size: 1.3rem;
		letter-spacing: 0.76px;
		text-align: left;
	}
}
	.link-text {
		font-size: $body;
		text-decoration: underline;
		letter-spacing: 0.05rem;
		color: $menu_hover;
		cursor: pointer;
		font-weight: 600;
	}
