@import "../../../app.theme.scss";

.heading {
	color: $main_darker;
	font-size: 3.5rem;
	margin-bottom: 5rem;
	font-weight: $weight-medium;
}
.widget-icon-3 {
	display: flex;
	justify-content: space-between;
	>div{
		width: 33%;
	}
}

.widget-icon-2 {
	display: flex;
	justify-content: flex-start;
	>div{
		width: 33%;
	}
}
