<div *ngIf="cameraStatus.available || !deviceService.isSMode" class="vtr-widget-quicksettings vtr-widget">
	<div class="container-fluid">
		<div class="row">
			<div class="col col-12">
				<div class="heading pb-20"
					id="dashboard-quick-settings-title"
					attr.aria-label="dashboard-quick-settings-title">{{'dashboard.quickSettings.title' | translate}}
				</div>
				<div [ngClass]="cameraStatus.available ? 'widget-icon-3': 'widget-icon-2'">
					<div class="">
						<vtr-widget-switch-icon [iconDefinition]="'icomoon icomoon-FA-Microphone2x'"
							[offIconDefinition]="'icomoon icomoon-FA-Microphone---slash2x'"
							[value]="microphoneStatus.status && microphoneStatus.permission && !microPhoneGreyOut"
							[title]="'dashboard.quickSettings.microphone' | translate"
							metricsItem="microphone"
							id="qs-switch-microphone"
							aria-label="qs-switch-microphone"
							[switchId]="'microphone'"
							[isBlocked]="!microphoneStatus.status"
							(toggle)="onMicrophoneStatusToggle($event)"
							[disable]="!(microphoneStatus.permission && microphoneStatus.available && quickSettingsWidget[0].state) || microPhoneGreyOut"
							[isLoading]="microphoneStatus.isLoading">
						</vtr-widget-switch-icon>
					</div>
					<div *ngIf="cameraStatus.available"
						class="">
						<vtr-widget-switch-icon [iconDefinition]="'icomoon icomoon-Camera'"
							[offIconDefinition]="'icomoon icomoon-Camera-slash'"
							[value]="!cameraStatus.status && cameraStatus.permission"
							[title]="'dashboard.quickSettings.cameraPrivacy' | translate"
							metricsItem="camera"
							id="qs-switch-camera"
							aria-label="qs-switch-camera"
							[switchId]="'camera'"
							[isBlocked]="cameraStatus.status || !cameraStatus.permission"
							[isCamera]="true"
							(toggle)="onCameraStatusToggle($event)"
							[disable]="!(cameraStatus.available && cameraStatus.permission && quickSettingsWidget[1].state)"
							[isLoading]="cameraStatus.isLoading">
						</vtr-widget-switch-icon>
					</div>
					<div *ngIf="!deviceService.isSMode"
						class="">
						<vtr-widget-switch-icon [iconDefinition]="'icomoon icomoon-quick-setting-system-update'"
							[offIconDefinition]="'icomoon icomoon-quick-setting-system-update'"
							[value]="true"
							[title]="'dashboard.systemStatus.systemUpdate.detail.update' | translate"
							metricsItem="system-update"
							id="qs-switch-system-update"
							aria-label="qs-switch-system-update"
							[switchId]="'system-update'"
							[isBlocked]="false"
							[isCamera]="true"
							(toggle)="onSystemUpdateToggle($event)"
							[disable]="false"
							[isLoading]="false"
							[hideOnOffLabel]="true">
						</vtr-widget-switch-icon>
					</div>
					<!-- <div *ngIf="vantageToolbarStatus.available"
						class="">
						<vtr-widget-switch-icon [iconDefinition]="'icomoon icomoon-FA-Eye2x'"
							[offIconDefinition]="'icomoon icomoon-FA-Eye-Slash2x'"
							[value]="!vantageToolbarStatus.status"
							[title]="'dashboard.quickSettings.cameraPrivacy' | translate"
							metricsItem="camera"
							id="qs-switch-camera"
							aria-label="qs-switch-camera"
							[switchId]="'camera'"
							[isBlocked]="vantageToolbarStatus.status"
							[isCamera]="true"
							(toggle)="onToolbarStatusToggle($event)"
							[disable]="!vantageToolbarStatus.available"
							[isLoading]="vantageToolbarStatus.isLoading">
						</vtr-widget-switch-icon>
					</div> -->
					<!-- <div class="">
						<vtr-widget-switch-icon [iconDefinition]="'icomoon icomoon-FA-Eye2x'"
							[offIconDefinition]="'icomoon icomoon-FA-Eye-Slash2x'"
							[title]="'dashboard.quickSettings.eyeCareMode' | translate"
							metricsItem="eyeCareMode"
							id="qs-switch-eyeCareMode"
							aria-label="qs-switch-eyeCareMode"
							[switchId]="'eyeCareMode'"
							[value]="eyeCareModeStatus.status"
							[isBlocked]="!eyeCareModeStatus.status"
							(toggle)="onEyeCareModeToggle($event)"
							[disable]="!(eyeCareModeStatus.available && quickSettingsWidget[2].state)"
							[isLoading]="eyeCareModeStatus.isLoading"></vtr-widget-switch-icon>
					</div> -->
					<!-- <div class="" *ngIf="machineType ==1">
						<vtr-widget-switch-icon [iconDefinition]="'icomoon icomoon-FA-Battery-three-quarters2x'"
							[offIconDefinition]="'icomoon icomoon-Quick-settings_Charge-threshold-off'"
							[title]="'dashboard.quickSettings.threshold' | translate"
							id="qs-switch-threshold"
							(toggle)="showBatteryThresholdsettings(!thresholdStatus)"
							aria-label="qs-switch-threshold"
							[switchId]="'threshold'"
							[value]="thresholdStatus"
							[isBlocked]="!thresholdStatus"
							[disable]="batteryInfo && batteryInfo.length > 0 && !batteryInfo[0].isCapable"
							[isLoading]="thresholdLoadingStatus">
						</vtr-widget-switch-icon>
					</div>
					<div class="" *ngIf="machineType ==0">
						<vtr-widget-switch-icon [iconDefinition]="'icomoon icomoon-FA-Battery-three-quarters2x'"
							[offIconDefinition]="'icomoon icomoon-Quick-settings_Charge-threshold-off'"
							[title]="'dashboard.quickSettings.conservation' | translate"
							id="qs-switch-conservation"
							aria-label="qs-switch-conservation"
							[switchId]="'conservation'"
							(toggle)="setConservationModeStatusIdeaNoteBook(!conservationModeStatus.status)"
							[value]="conservationModeStatus.status"
							[disable]="!conservationModeStatus.available"
							[isBlocked]="!conservationModeStatus.status"
							[isLoading]="false">
						</vtr-widget-switch-icon>
					</div> -->
				</div>
			</div>
		</div>
		<div *ngIf="!microphoneStatus.isLoading || !cameraStatus.isLoading">
			<div *ngIf="!microphoneStatus.permission && cameraStatus.permission"
				class="row permission-note mt-4">
				<div class="col-12 p-3 d-flex">
					<div class="col-1 pl-0 text-center">
						<fa-icon [icon]="['fas', 'exclamation-circle']"
							class="note-icon">
						</fa-icon>
					</div>
					<div class="col-11 pr-0 pl-2">
						<p class="mb-0 mt-auto"
							id="qs-microphone-note"
							attr.aria-label="qs-microphone-note">
							{{'dashboard.quickSettings.note.microphoneNote' | translate}}
						</p>
						<button type="button"
							class="btn btn-link privacy-button pl-0"
							(click)="onClick('ms-settings:privacy-microphone')"
							id="qs-microphone-access-link"
							attr.aria-label="qs-microphone-access-link">
							{{'dashboard.quickSettings.note.accessUrl' | translate}}
						</button>
					</div>
				</div>
			</div>
			<div *ngIf="!cameraStatus.permission && !cameraStatus.isLoading && cameraStatus.available && microphoneStatus.permission"
				class="row permission-note mt-4">
				<div class="col-12 p-3 d-flex">
					<div class="col-1 pl-0 text-center">
						<fa-icon [icon]="['fas', 'exclamation-circle']"
							class="note-icon">
						</fa-icon>
					</div>
					<div class="col-11 pr-0 pl-2">
						<p class="mb-0 mt-auto"
							id="qs-camera-note"
							attr.aria-label="qs-camera-note">
							{{'dashboard.quickSettings.note.cameraPrivacyNote' | translate}}
						</p>
						<button type="button"
							class="btn btn-link privacy-button pl-0"
							(click)="onClick('ms-settings:privacy-webcam')"
							id="qs-camera-access-link"
							attr.aria-label="qs-camera-access-link">
							{{'dashboard.quickSettings.note.accessUrl' | translate}}
						</button>
					</div>
				</div>
			</div>
			<div *ngIf="!microphoneStatus.permission && !cameraStatus.permission && !cameraStatus.isLoading"
				class="row permission-note mt-4">
				<div class="col-12 p-3 d-flex">
					<div class="col-1 pl-0 text-center">
						<fa-icon [icon]="['fas', 'exclamation-circle']"
							class="note-icon">
						</fa-icon>
					</div>
					<div class="col-11 pr-0 pl-2"
						*ngIf="!cameraStatus.available">
						<div class="col-11 pr-0 pl-2">
							<p class="mb-0 mt-auto"
								id="qs-microphone-dt-machine-note"
								attr.aria-label="qs-microphone-dt-machine-note">
								{{'dashboard.quickSettings.note.microphoneNote' | translate}}
							</p>
							<button type="button"
								class="btn btn-link privacy-button pl-0"
								(click)="onClick('ms-settings:privacy-microphone')"
								id="qs-microphone-dt-machine-access-ink"
								attr.aria-label="qs-microphone-dt-machine-access-ink">
								{{'dashboard.quickSettings.note.accessUrl' | translate}}
							</button>
						</div>
					</div>
					<div class="col-11 pr-0 pl-2"
						*ngIf="cameraStatus.available">
						<p class="mb-0 mt-auto"
							id="qs-microphone-camera-note"
							attr.aria-label="qs-microphone-camera-note">
							{{'dashboard.quickSettings.note.microphoneAndcameraPrivacyNotes' | translate}}
						</p>
						<button type="button"
							class="btn btn-link privacy-button pl-0"
							(click)="onClick('ms-settings:privacy-webcam')"
							id="qs-microphone-camera-access-ink"
							attr.aria-label="qs-microphone-camera-access-ink">
							{{'dashboard.quickSettings.note.accessUrl' | translate}}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="text-right text-uppercase mt-4">
			<a class="link-text"
				vtrMetrics
				id="qs-lnk-my-device-settings"
				attr.aria-label="qs-lnk-my-device-settings"
				[metricsEvent]="'FeatureClick'"
				[metricsItem]="'MyDeviceSettings'"
				routerLink="/device/device-settings">
				{{'common.menu.device.sub2' | translate}}
			</a>
		</div>
	</div>
</div>
