<div class="vtr-ui-list-hardware">
	<ul class="list-group" [ngClass]="{'list1': template === 1, 'list2': template === 2, 'list3' : template === 3}">
		<li class=" list-group-item details" *ngIf="collapsed && details">
			<div class="row align-items-center">
				<table class="table table-bordered">
					<tbody>
						<tr *ngFor="let detail of details">
							<td>{{getKey(detail)}}</td>
							<td>{{getValue(detail)}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</li>
		<li class=" list-group-item" *ngFor="let item of items">
			<div class="col text button-box">
				<div class="row item-line">
					<div class="item-left">
						<div class="test-status" *ngIf="item.icon !== undefined">
							<img class="qr-img" src={{item.icon}} />
						</div>

						<div class="test-status" *ngIf="item.status >= 0">
							<div [ngSwitch]="item.status">
								<fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" class="loading"
									*ngSwitchCase="0">
								</fa-icon>
								<span class="progress-value-text" *ngSwitchCase="1">{{item.percent}}%</span>
								<fa-icon [icon]="['fas', 'check-circle']" class="success" *ngSwitchCase="2">
								</fa-icon>
								<fa-icon [icon]="['fas', 'times-circle']" class="failure" *ngSwitchCase="3">
								</fa-icon>
								<fa-icon [icon]="['fas', 'exclamation-triangle']" class="warning" *ngSwitchCase="4">
								</fa-icon>
								<fa-icon [icon]="['fas', 'ban']" class="not-applicable" *ngSwitchCase="6">
								</fa-icon>
								<fa-icon [icon]="['fas', 'exclamation-circle']" class="failure" *ngSwitchDefault>
								</fa-icon>
							</div>
						</div>

						<div class="title" [ngClass]="{'not-applicable': item.status === 6}">{{item.name}}</div>
						<div class="subtitle" *ngIf="item.subname">{{item.subname}}</div>
						<div class="span-not-applicable" *ngIf="item.status === 6">{{testNotApplicable}}</div>
					</div>
					<div class="item-right" *ngIf="item.information">
						<fa-icon class="result-code-icon" triggers="click:blur" placement="auto"
							[ngbTooltip]="tooltipRefItem" [icon]="['far', 'question-circle']" container="vtr-root"
							tooltipClass="vtr-tooltip" (click)="getInformation(item.information)"></fa-icon>
					</div>
					<div class="item-right" *ngIf="item.result">
						<div class="module-result-text"
							[ngClass]="{'success': item.resultIcon === 2, 'failure': item.resultIcon === 3 || item.resultIcon === 4 || item.resultIcon === 5, noScanned: !item.resultIcon}">
							{{item.statusToken}}</div>
						<div class="module-result-icon">
							<div [ngSwitch]="item.resultIcon">
								<fa-icon [icon]="['fas', 'check-circle']" class="success" *ngSwitchCase="2">
								</fa-icon>
								<fa-icon [icon]="['fas', 'times-circle']" class="failure" *ngSwitchCase="3">
								</fa-icon>
								<fa-icon [icon]="['fas', 'exclamation-triangle']" class="warning" *ngSwitchCase="4">
								</fa-icon>
								<fa-icon [icon]="['fas', 'exclamation-circle']" class="failure" *ngSwitchCase="5">
								</fa-icon>
								<fa-icon [icon]="['fas', 'ban']" class="not-applicable" *ngSwitchCase="6">
								</fa-icon>
								<fa-icon [icon]="['fas', 'question-circle']" *ngSwitchDefault>
								</fa-icon>
							</div>

						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<ng-template #tooltipRefItem>
	<div [innerHTML]="information"></div>
</ng-template>
