<div class="top-row-key-block common-li-padding"
	*ngIf="topRowKeyObj.fnLockCap || topRowKeyObj.stickyFunCap || topRowKeyObj.primaryFunCap">
	<div *ngIf="topRowKeyObj.fnLockCap">
		<div class="row">
			<div class="col-12 pl-4">
				<div class="col-12 title-blck px-0 d-flex">
					<div class="col-auto left-icon-column">
						<div class="left-icon-block">
							<fa-icon class="left-icon"
								id="top-row-functions"
								role="img"
								[icon]="['fal', 'keyboard']"></fa-icon>
						</div>
					</div>
					<div class="title"
						role="heading"
						id="inputAccessory.topRowFunctions.title">
						{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.title' | translate}}
					</div>
				</div>
				<div class="col-12 pr-0 caption">
					<div class="text"
						role="heading"
						id="inputAccessory.topRowFunctions.description">
						{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.description' | translate}}
					</div>
					<div class="mb-3">
						<div class="col-12 pl-0 d-flex methods-block">
							<vtr-ui-circle-radio-with-checkbox-list [groupName]="'top-row-function-radio-group'"
								[sendMetrics]=true
								[isDisabled]="topRowKeyObj.stickyFunStatus"
								(optionChange)="onFunctionLockRadioChange($event)"
								[radioDetails]="functionLockUIModel">
							</vtr-ui-circle-radio-with-checkbox-list>
						</div>
						<p class="text mt-4"
							role="heading"
							id="inputAccessory.topRowFunctions.subSection.description">
							{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.description' | translate}}
						</p>
						<div *ngIf="!showAdvancedSection">
							<a class="link-text mt-4"
								role="link"
								id="inputAccessory.topRowFunctions.showAdvSettings"
								(click)="showAdvancedSection = !showAdvancedSection"
								(keydown.enter)="showAdvancedSection = !showAdvancedSection"
								tabindex="0"
								#adv>
								{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.showAdvSettings' | translate}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<vtr-ui-row-switch></vtr-ui-row-switch>
	</div>
	<div *ngIf="showAdvancedSection">
		<div *ngIf="topRowKeyObj.primaryFunCap"
			class="common-li-padding autofocus"
			[autofocus]="showAdvancedSection">
			<vtr-ui-row-switch
				[title]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionTwo.title' | translate"
				componentName="Input Accessories"
				[leftIcon]="['fal', '']"
				[rightIcon]="['far', 'question-circle']"
				[caption]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionTwo.description' | translate"
				[showChildContent]="true"
				[isSwitchVisible]="true"
				[isSwitchChecked]="topRowKeyObj.primaryFunStatus"
				(rebootToggleOnOff)="rebootToggleOnOff($event)"
				[theme]="'white'"
				[switchId]="'inputAccessories-reversing-primary-function'"
				[tooltipText]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionTwo.tooltipText' | translate">
				<p class="pl-5 mt-2 mb-0">
					<span class="sub-heading-caption"
						role="heading"
						id="inputAccessory.topRowFunctions.subSectionTwo.caption">{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionTwo.caption' | translate}}</span>
					<span class="sub-heading-caption"
						*ngIf="(topRowKeyObj.primaryFunStatus && topRowKeyObj.fnLockStatus) || (!topRowKeyObj.primaryFunStatus && !topRowKeyObj.fnLockStatus)"
						role="heading"
						id="inputAccessory.topRowFunctions.subSection.radioButton.sFunKey2">
						{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.radioButton.sFunKey' | translate | uppercase}}
					</span>
					<span class="sub-heading-caption"
						*ngIf="(!topRowKeyObj.primaryFunStatus && topRowKeyObj.fnLockStatus) || (topRowKeyObj.primaryFunStatus && !topRowKeyObj.fnLockStatus)"
						role="heading"
						id="inputAccessory.topRowFunctions.subSection.radioButton.fnKey2">
						{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.radioButton.fnKey' | translate | uppercase}}
					</span>
				</p>
			</vtr-ui-row-switch>
		</div>
		<div *ngIf="topRowKeyObj.stickyFunCap">
			<div class="col-12 pl-3 sectn-padding">
				<div class="col-12 title-blck px-0 d-flex">
					<div class="title pl-5 ml-2"
						role="heading"
						id="inputAccessory.topRowFunctions.subSectionThree.title">
						{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionThree.title' | translate}}
					</div>
				</div>
				<div class="col-12 pl-5 pr-0">
					<div class="caption pl-2">
						<div class="text"
							role="heading"
							id="inputAccessory.topRowFunctions.subSectionThree.description">
							{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionThree.description' | translate}}
						</div>
					</div>
					<div class="pl-2 pr-0 mt-5 methods-block">
						<vtr-ui-rounded-rectangle-custom-radio-list [groupName]="'top-row-keys-methods-radio-group'"
							[sendMetrics]=true
							[radioDetails]="topRowFunctionKeysUIModel"
							(selectionChange)="onChangeKeyType($event)">
						</vtr-ui-rounded-rectangle-custom-radio-list>

						<div class="caption mt-4 pl-0"
							*ngIf="topRowKeyObj.stickyFunStatus">

							<vtr-widget-permission-note
								[noteTitle]="'device.deviceSettings.displayCamera.camera.note.title' | translate"
								[description]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionThree.note' | translate"
								[noPath]="true"
								linkId="top-row-sticky">
							</vtr-widget-permission-note>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pl-5">
			<a class="link-text mt-2 ml-4"
				role="link"
				id="inputAccessory.topRowFunctions.hideAdvSettings"
				(click)="showAdvancedSection = !showAdvancedSection; switchFocusToShowAdv()"
				(keydown.enter)="showAdvancedSection = !showAdvancedSection; switchFocusToShowAdv()"
				tabindex="0">
				{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.hideAdvSettings' | translate}}
			</a>
		</div>
		<vtr-ui-row-switch></vtr-ui-row-switch>
	</div>
</div>
