<div class="top-row-key-block common-li-padding"
	*ngIf="topRowKeyObj.fnLockCap || topRowKeyObj.stickyFunCap || topRowKeyObj.primaryFunCap">
	<div *ngIf="topRowKeyObj.fnLockCap">
		<vtr-ui-row-switch
			[title]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.title' | translate"
			componentName="Input Accessories"
			[caption]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.description' | translate"
			[leftIcon]="['fal', 'keyboard']"
			[theme]="'white'"
			[showChildContent]="true"
			[switchId]="'inputAccessory-topRowFunctions'">
			<div class="pl-4">
				<vtr-ui-circle-radio-with-checkbox-list [groupName]="'top-row-function-radio-group'"
					[sendMetrics]=true
					[isDisabled]="topRowKeyObj.stickyFunStatus"
					(optionChange)="onTopRowFunctionRadioChange($event)"
					[radioDetails]="topRowFunctionUIModel">
				</vtr-ui-circle-radio-with-checkbox-list>
				<p class="text mt-4 pl-4"
					role="text"
					id="inputAccessory.topRowFunctions.subSection.description">
					{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.description' | translate}}
				</p>

				<div *ngIf="!showAdvancedSection" class="pl-4">
					<a class="link-text mt-4"
						role="link"
						id="inputAccessory.topRowFunctions.showAdvSettings"
						(click)="showAdvancedSection = !showAdvancedSection"
						(keydown.enter)="showAdvancedSection = !showAdvancedSection"
						tabindex="0"
						#adv>
						{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.showAdvSettings' | translate}}
					</a>
				</div>
			</div>
		</vtr-ui-row-switch>
	</div>
	<div *ngIf="showAdvancedSection">
		<div *ngIf="topRowKeyObj.primaryFunCap"
			class="common-li-padding autofocus"
			[autofocus]="showAdvancedSection">
			<vtr-ui-row-switch
				[title]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionTwo.title' | translate"
				componentName="Input Accessories"
				[leftIcon]="['fal', '']"
				[rightIcon]="['far', 'question-circle']"
				[caption]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionTwo.description' | translate"
				[showChildContent]="true"
				[isSwitchVisible]="true"
				[isSwitchChecked]="topRowKeyObj.primaryFunStatus"
				(rebootToggleOnOff)="rebootToggleOnOff($event)"
				[theme]="'white'"
				[switchId]="'inputAccessories-reversing-primary-function'"
				[tooltipText]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionTwo.tooltipText' | translate">
				<p class="pl-5 mt-2 mb-0">
					<span class="sub-heading-caption"
						id="inputAccessory.topRowFunctions.subSectionTwo.caption">{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionTwo.caption' | translate}}</span>
					<span class="sub-heading-caption"
						*ngIf="(topRowKeyObj.primaryFunStatus && topRowKeyObj.fnLockStatus) || (!topRowKeyObj.primaryFunStatus && !topRowKeyObj.fnLockStatus)"
						id="inputAccessory.topRowFunctions.subSection.radioButton.sFunKey2">
						{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.radioButton.sFunKey' | translate | uppercase}}
					</span>
					<span class="sub-heading-caption"
						*ngIf="(!topRowKeyObj.primaryFunStatus && topRowKeyObj.fnLockStatus) || (topRowKeyObj.primaryFunStatus && !topRowKeyObj.fnLockStatus)"
						id="inputAccessory.topRowFunctions.subSection.radioButton.fnKey2">
						{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.radioButton.fnKey' | translate | uppercase}}
					</span>
				</p>
			</vtr-ui-row-switch>
		</div>
		<div *ngIf="topRowKeyObj.stickyFunCap" class="common-li-padding">
			<vtr-ui-row-switch
				[title]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionThree.title' | translate"
				componentName="Top Row Functions"
				[leftIcon]="['fal', '']"
				[caption]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionThree.description' | translate"
				[theme]="'white'"
				[showChildContent]="true"
				[switchId]="'inputAccessory-fnKeyCombinations'"
				[isLastChild]="true">
				<div class="pl-4">
					<vtr-ui-rounded-rectangle-custom-radio-list
						[groupName]="'top-row-keys-methods-radio-group'"
						[sendMetrics]=true
						[radioDetails]="functionKeyTypeUIModel"
						(selectionChange)="onFunctionKeyTypeChange($event)">
					</vtr-ui-rounded-rectangle-custom-radio-list>

					<div class="caption mt-4 pl-0"
						*ngIf="topRowKeyObj.stickyFunStatus">

						<vtr-widget-permission-note
							[noteTitle]="'device.deviceSettings.displayCamera.camera.note.title' | translate"
							[description]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSectionThree.note' | translate"
							[noPath]="true"
							linkId="top-row-sticky">
						</vtr-widget-permission-note>
					</div>
				</div>
			</vtr-ui-row-switch>
		</div>
		<div class="pl-5">
			<a class="link-text mt-2 ml-4"
				role="link"
				id="inputAccessory.topRowFunctions.hideAdvSettings"
				(click)="showAdvancedSection = !showAdvancedSection; switchFocusToShowAdv()"
				(keydown.enter)="showAdvancedSection = !showAdvancedSection; switchFocusToShowAdv()"
				tabindex="0">
				{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.hideAdvSettings' | translate}}
			</a>
		</div>
		<vtr-ui-row-switch></vtr-ui-row-switch>
	</div>
</div>
