@import "../../../../../../app.theme.scss";

.top-row-key-block{
.title-blck{
    .left-icon {
        display: inline-block;
        font-size: $fontsize_md;
        height: 1em;
        width: 1.12em;
        color:$menu_hover;
        overflow: visible;
        vertical-align: -0.12em;
}
.title {
    font-size: $fontsize_md;
    color: $purple_navy;
    font-weight: $weight_light;
    letter-spacing: 0.05rem;
    text-transform: none;
}
}
.caption {
    .text{
        font-size: $fontsize_xs;
        font-weight: $weight_light;
		color: $purple_navy;
    }
	// max-width: 60rem;
	padding-left: 2.6rem;
}
    .link-text {
        font-size: $fontsize_xs2;
        font-weight: $weight_bold;
        text-decoration: underline;
        letter-spacing: 0.05rem;
        color: $menu_hover;
        cursor: pointer;
        padding-top: 0.3rem;
    }
    .sectn-padding {
        padding: 1.5rem 0.7rem 1.5rem;
    }
}
