@import "./../../../app.theme.scss";

.vtr-battery-indicator {
	/* Start : below are --css-variables will be used in TS file. */

	--acid-width: 0;
	--background-color: #f17f14;
	--border-color: rgb(241, 127, 20);
	--acid-fill-gradient: linear-gradient($gradient_angle_reverse, #f17f14 0%, #ed4e04 100%);

	// when % is between 0-20
	--background-color-0-20: #{$stop_dark};
	--border-color-0-20: #{rgba($stop_dark, 0.4)};
	--acid-fill-gradient-0-20: linear-gradient(#{$gradient_angle_reverse}, #{$stop_dark} 0%, #{$alt} 100%);

	// when % is between 21-40
	--background-color-21-40: #{$stop_light};
	--border-color-21-40: #{rgba($stop_light, 0.4)};
	--acid-fill-gradient-21-40: linear-gradient(#{$gradient_angle_reverse}, #{$stop_light} 0%, #{$stop} 100%);

	// when % is between 41-60
	--background-color-41-60: #{$stop_light};
	--border-color-41-60: #{rgba($stop_light, 0.4)};
	--acid-fill-gradient-41-60: linear-gradient(#{$gradient_angle_reverse}, #{$stop_light} 0%, #{$stop} 100%);

	// when % is between 61-80
	--background-color-61-80: #{$stop_light};
	--border-color-61-80: #{rgba($stop_light, 0.4)};
	--acid-fill-gradient-61-80: linear-gradient(#{$gradient_angle_reverse}, #{$stop_light} 0%, #{$stop} 100%);

	// when % is between 81-100
	--background-color-81-100: #{$go_light};
	--border-color-81-100: #{rgba($go_light, 0.4)};
	--acid-fill-gradient-81-100: linear-gradient(#{$gradient_angle_reverse}, #{$go_light} 0%, #{$go} 100%);

	/* End of variables*/

	.cell {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		position: relative;

		/* battery shadow/blur background */
		.battery-shadow {
			position: absolute;
			width: 90%;
			height: 12rem;
			border: 0.3rem solid var(--border-color);
			opacity: 0.4;
			border-radius: 0.8rem;
			filter: blur(0.3rem);

			/* battery notch */
			&:after {
				position: absolute;
				top: 32%;
				left: 102%;
				width: 1rem;
				height: 35%;
				background-color: var(--background-color);
				border-radius: 0rem 0.3rem 0.3rem 0rem;
				content: "";
				border-left-width: 0;
			}
		}

		.battery {
			position: relative;
			width: 90%;
			height: 12rem;
			border: 0.1rem solid var(--border-color);
			border-radius: 0.3rem;
			left: 0rem;

			/* battery notch */
			&:after {
				position: absolute;
				top: 32%;
				left: 100%;
				width: 1.2rem;
				height: 35%;
				background-color: var(--background-color);
				border-radius: 0rem 0.3rem 0.3rem 0rem;
				content: "";
				border-left-width: 0;
			}

			.acid-container {
				overflow: hidden;
				height: calc(100% - 0.8rem);
				border-radius: 0.2rem;
				margin: 0.4rem;

				.white-background {
					background: $light;
					width: calc(100% - 0.8rem);
					z-index: 1;
					position: absolute;
					height: calc(100% - 0.8rem);
				}

				.black-background {
					background: $dark;
					width: var(--acid-width);
					z-index: 2;
					position: absolute;
					height: calc(100% - 0.8rem);
				}

				.fill {
					background: var(--acid-fill-gradient);
					mix-blend-mode: screen;
					width: calc(100% - 0.8rem);
					z-index: 4;
					position: absolute;
					height: calc(100% - 0.8rem);
					display: flex;
					flex-direction: row;
					flex-shrink: 0;
				}

				.percentage {
					font-size: 6rem;
					font-weight: bold;
					position: absolute;
					mix-blend-mode: difference;
					color: $light;
					z-index: 3;
					left: 35%;

					.percentage-symbol {
						position: relative;
						font-size: 2rem;
						left: -1.2rem;
					}

					.remaining-time {
						position: relative;
						font-size: 1.3rem;
						mix-blend-mode: difference;
						color: $light;
						z-index: 3;
						font-weight: normal;
						top: -1.5rem;
					}
				}
			}
		}
	}
}
