<div class="vtr-battery-indicator"
	#batteryIndicator>
	<div class="cell">
		<div class="battery-shadow"></div>
		<div #battery
			*ngIf="!isWinRTLoading"
			[class]="isInDetailsModal?'battery detail-battery': 'battery'">
			<div class="acid-container">
				<div class="fill"></div>
				<div class="percentage"
					*ngIf="!batteryNotDetected"
					role="text"
					id="batteryPercentage"
					attr.aria-label="batteryPercentage">
					{{ percentage }}
					<span class="percentage-symbol"
						role="text">
						%
					</span>
				</div>
				<div class="battery-error d-flex justify-content-center align-items-center"
					*ngIf="batteryNotDetected">
					<span class="icomoon icomoon-NoBatteryError error-icon"
					id="myDevice-settings-batteryInChargeIcon"
					attr.aria-label="myDevice-settings-batteryInChargeIcon"></span>
					<span role="text"
						class="no-battery-detected"
						title="{{'device.deviceSettings.batteryGauge.batteryNotDetected'| translate}}"
						id="myDevice-settings-batteryGauge-notDetected-title"
						attr.aria-label="myDevice-settings-batteryGauge-notDetected-title"
						role="text">
						{{'device.deviceSettings.batteryGauge.batteryNotDetected'| translate}}
					</span>
				</div>
			</div>
			<div *ngIf="!batteryNotDetected && !hideRemainingTimeTxt">
				<div class="remaining-time"
					role="text" id="remaining-time-value">
					{{ getTimeRemaining() }}
				</div>
				<div [class]="isInDetailsModal?'remaining-text text-uppercase remaining-text-detail': 'remaining-text text-uppercase'"
					*ngIf="timeText === 'timeRemaining'"
					id="myDevice-settings-batteryGauge-remainingTime-title"
					role="text">
					{{'device.deviceSettings.batteryGauge.details.remainingTime' | translate}}
				</div>
				<div class="remaining-text text-uppercase"
					*ngIf="timeText === 'timeCompletion'"
					id="myDevice-settings-batteryGauge-time-to-charge-title"
					role="text">
					{{'device.deviceSettings.batteryGauge.charge' | translate}}
				</div>
			</div>
			<div class="battery-charging"
				*ngIf="!batteryNotDetected">
				<span *ngIf="(isCharging && !(isExpressCharging || isAirplaneMode || isChargeThresholdOn))"
					class="icomoon icomoon-FA-Plug2x" id="batteryIcon-Charging"></span>
				<span *ngIf="(isCharging && isExpressCharging)"
					class="icomoon icomoon-LE-expressCharging2x" id="batteryIcon-ExpressCharging"></span>
				<span *ngIf="(!isCharging && isAirplaneMode)"
					class="icomoon icomoon-LE-Airplanemode2x" id="batteryIcon-AirplaneMode"></span>
				<span *ngIf="(isCharging && isAirplaneMode)"
					class="icomoon icomoon-LE-AirplanemodeCharging2x" id="batteryIcon-Charging-AirplaneMode"></span>
				<span *ngIf="(isCharging && isChargeThresholdOn && !isAirplaneMode)"
					class="icomoon icomoon-LE-ConservationCharging2x" id="batteryIcon-ChargeThresholdOn"></span>
			</div>
		</div>
	</div>
</div>
