<div class="vtr-battery-indicator">
	<div class="cell">
		<div #batteryShadow class="battery-shadow"></div>
		<div #battery class="battery">
			<div class="acid-container">
				<div class="white-background"></div>
				<div class="black-background" #acidLevel></div>
				<div class="fill"></div>
				<div class="percentage">
					{{ percentage }}
					<span class="percentage-symbol">
						%
					</span>
					<div class="remaining-time">
						{{ getTimeRemaining() }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
