<div class="vtr-battery-detail">
	<div class="p-5 battery-detail-max-height">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="battery-indicator pb-5">
						<vtr-battery-indicator [remainingHour]="batteryIndicator.hours"
						    [isWinRTLoading]="false"
							[remainingMinutes]="batteryIndicator.minutes"
							[percentage]="batteryIndicator.percent"
							[isCharging]="batteryIndicator.charging"
							[isExpressCharging]="batteryIndicator.expressCharging"
							[batteryNotDetected]="batteryIndicator.batteryNotDetected"
							[timeText]="batteryIndicator.timeText"
							[isAirplaneMode]="batteryIndicator.isAirplaneMode"
							[isChargeThresholdOn]="batteryIndicator.isChargeThresholdOn"
							[isInDetailsModal]="true">
						</vtr-battery-indicator>
					</div>
				</div>
			</div>
			<hr />
			<!-- repeat battery-detail information -->
			<div *ngFor="let model of dataSource; let i=index"
				class="line-height-2-5 mb-3">
				<div class="row mb-3">
					<div class="col">
						<!-- Section Title like Primary Battery -->
						<h2 class="battery-header">
							{{ model.heading | translate }}
						</h2>
					</div>
				</div>
				<div class="row">

					<div class="col-3 col-sm-3 col-md-2 p-0 battery-label-text"
						*ngIf="isValid(model.chargeStatusString)">
						{{'device.deviceSettings.batteryGauge.details.status' | translate }}</div>
					<div class="col-3 col-sm-3 col-md-2 p-0 battery-value-text"
						*ngIf="isValid(model.chargeStatusString)">
						{{ model.chargeStatusString | translate }}
					</div>
					<div *ngIf="isValid(model.wattage)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.wattage' | translate }}
					</div>
					<div *ngIf="isValid(model.wattage)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.wattage + " W"}}
					</div>
					<div *ngIf="isValid(model.barCode)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.barcode' | translate }}
					</div>
					<div *ngIf="isValid(model.barCode)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.barCode }}
					</div>

					<div *ngIf="isValid(model.remainingPercent)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.remainingPercent' | translate }}
					</div>
					<div *ngIf="isValid(model.remainingPercent)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.remainingPercent }}%
					</div>
					<div *ngIf="isValid(model.temperature)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.temp' | translate }}
					</div>
					<div *ngIf="isValid(model.temperature)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.temperature }} &#176;C
					</div>
					<div *ngIf="isValid(model.fruPart)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.frupn' | translate }}
					</div>
					<div *ngIf="isValid(model.fruPart)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.fruPart }}
					</div>

					<div *ngIf="isValid(model.remainingTime)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{ model.remainingTimeText | translate }}
					</div>
					<div *ngIf="isValid(model.remainingTime)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						<!-- {{ model.remainingTime | minutesToHourmin }} -->
						<span *ngIf="isValid(remainingHours[i])">
							{{remainingHours[i]}} {{hourText | translate}}
						</span>
						<span>
							{{remainingMinutes[i]}} {{minutesText | translate}}
						</span>

					</div>
					<div *ngIf="isValid(model.cycleCount)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.cycleCount' | translate }}
					</div>
					<div *ngIf="isValid(model.cycleCount)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.cycleCount }}
					</div>
					<div *ngIf="isValid(deviceChemistry[i])"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.chemistry' | translate }}
					</div>
					<div *ngIf="isValid(deviceChemistry[i])"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ deviceChemistry[i] | translate }}
					</div>

					<div *ngIf="isValid(model.remainingCapacity)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.remainingCap' | translate }}
					</div>
					<div *ngIf="isValid(model.remainingCapacity)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.remainingCapacity }} Wh
					</div>
					<div *ngIf="isValid(model.manufacturer)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.manufacturer.title' | translate }}
					</div>
					<div *ngIf="isValid(model.manufacturer)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.manufacturer }}
					</div>
					<div *ngIf="isValid(model.designCapacity)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.designCap' | translate }}
					</div>
					<div *ngIf="isValid(model.designCapacity)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.designCapacity }} Wh
					</div>

					<div *ngIf="isValid(model.fullChargeCapacity)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.fullChargeCap' | translate }}
					</div>
					<div *ngIf="isValid(model.fullChargeCapacity)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.fullChargeCapacity }} Wh
					</div>
					<div *ngIf="isValid(model.manufactureDate)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.manufDt' | translate }}
					</div>
					<div *ngIf="isValid(model.manufactureDate)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.manufactureDate | date: 'MM/dd/yyyy' }}
					</div>
					<div *ngIf="isValid(model.designVoltage)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.designVolt' | translate }}
					</div>
					<div *ngIf="isValid(model.designVoltage)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.designVoltage }} V
					</div>

					<div *ngIf="isValid(model.voltage)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.volts' | translate }}</div>
					<div *ngIf="isValid(model.voltage)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.voltage }} V
					</div>
					<div *ngIf="isValid(model.firstUseDate)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.firstUseDt' | translate }}
					</div>
					<div *ngIf="isValid(model.firstUseDate)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.firstUseDate | date: 'MM/dd/yyyy' }}
					</div>
					<div *ngIf="isValid(model.firmwareVersion)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-label-text">
						{{'device.deviceSettings.batteryGauge.details.firmwareVer' | translate }}
					</div>
					<div *ngIf="isValid(model.firmwareVersion)"
						class="col-3 col-sm-3 col-md-2 p-0 battery-value-text">
						{{ model.firmwareVersion }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
