@import "./../../../app.theme.scss";

.vtr-battery-detail {
	.battery-detail-max-height {
		max-height: 75vh;
		overflow-x: hidden;
		overflow-y: auto;
		@media #{$breakpoint_md} {
			max-height: 55rem;
		}
		 @media #{$breakpoint_sm} {
		 	max-height: 50rem;
		}

		.fcc-tooltip-icon{
			margin-left: 1.5rem;
			font-size: 1.8rem;
			cursor: pointer;
			color: #496afd;
		}


		.battery-indicator {
			width: 35rem;
		}
		hr {
			background-color: $shade_light;
			border: 0.1rem solid $shade_lighter;
		}

		.line-height-2-5 {
			line-height: 2.5rem;

			.battery-header {
				color: $main_dark;
				font-size: $fontsize_xl;
				font-weight: bold;
				line-height: 2.9rem;
			}

			.battery-label-text {
				font-size: $body;
				color: $shade_light;
				word-break: normal;
			}
			.battery-value-text {
				font-size: $body;
				color: $main_dark;
			}

			.battery-gauge {
				height: 20rem;
				border: 0.1rem solid $shade_lighter;
				border-radius: 0.4rem;
				background-color: $shade_extralight;

				.battery-gauge-heading {
					color: $main_dark;
					font-size: 1.4rem;
					font-weight: bold;
					letter-spacing: 0.1rem;
					line-height: 2.3rem;
				}

				.battery-button {
					font-size: 1.5rem;
					height: 5.5rem;
					width: 24.4rem;
					border-radius: 2.5rem;
					background: linear-gradient($gradient_angle_reverse, $main_light 0%, $main 100%),
						linear-gradient($gradient_angle, $light 0%, $light 100%);
				}
			}
		}
	}

	::ng-deep .vtr-battery-indicator {
		.battery-shadow {
			position: absolute !important;
			left: -0.1rem !important;
		}
	}

	.battery-detail-block {
		flex-direction: row;
		justify-content: space-between;
		@media #{$breakpoint_md} {
			flex-direction: column;
		}
		.battery-details {
			width: 33.33%;
			@media #{$breakpoint_xl} {
				width: 50%;
			}
			@media #{$breakpoint_md} {
				width: 100%;
			}
		}
	}
}
