<div class="vtr-available-updates p-40">
	<div class="row">
		<div class="col">
			<div class="header">
				<div class="heading">Available updates</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="text-regular">
				These packages include updates to hardware drivers and other system utilities that are critical
				for the correct
				operation of your computer. Critical updates are also important for protecting data on your
				computer and should be
				installed as they become available. Failure to install these packages could result in data loss,
				system malfunction, or
				hardware failure
			</div>
		</div>
		<div class="col-3">
			<div class="button-box shift-right">
				<vtr-ui-button (onClick)="installUpdates($event)"
					[label]="'Install updates'"></vtr-ui-button>
			</div>
		</div>
	</div>

	<div class="row mt-20">
		<div class="col">
			<div class="row-seperator">&nbsp;</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="updates-lists-container">
				<div class="row">
					<div class="col">
						<div class="header">
							<div class="heading">{{mockService.criticalUpdates.length}} Critical updates</div>
							<vtr-ui-list-checkbox [items]="mockService.criticalUpdates"></vtr-ui-list-checkbox>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="header">
							<div class="heading">{{mockService.recommendedUpdates.length}} Recommended updates</div>
							<vtr-ui-list-checkbox [items]="mockService.recommendedUpdates"></vtr-ui-list-checkbox>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="header">
							<div class="heading">{{mockService.optionalUpdates.length}} optional updates</div>
							<vtr-ui-list-checkbox [items]="mockService.optionalUpdates"></vtr-ui-list-checkbox>
						</div>
					</div>
				</div>

				<div class="row mt-10">
					<div class="col-5">
						<div class="button-box shift-left">
							<vtr-ui-button (onClick)="installSelectedUpdates($event)"
								[label]="'Install Selected updates'"></vtr-ui-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-10">
		<div class="col">
			<div class="row-seperator">&nbsp;</div>
		</div>
	</div>
</div>
