<div class="vtr-available-updates">
	<div class="row select-all"
		*ngIf="!isUpdateDownloading && !isInstallationCompleted">
		<mat-checkbox [id]="'select-all-checkbox'"
			class="font-size-xs"
			[ariaLabel]="'defaultUnchecked'"
			[checked]="isSelectAll"
			(change)="onSelectAllClick($event)"
			vtrMetrics
			metricsEvent="featureClick"
			metricsParent="device"
			[metricsItem]="'AvailableUpdates.SelectAll'">{{'systemUpdates.banner.selectAll' | translate}}</mat-checkbox>

	</div>
	<div class="row-seperator"
		*ngIf="!isUpdateDownloading && !isInstallationCompleted"></div>
	<div class="row">
		<div class="col">
			<div class="updates-lists-container">
				<div class="row"
					*ngIf="(!isUpdateDownloading && criticalUpdates && criticalUpdates.length > 0) || (isUpdateDownloading && criticalUpdatesToInstall && criticalUpdatesToInstall.length > 0)">
					<img class="icon"
						[src]="criticalUpdatesIcon | svgInline | async" />
					<div class="col">
						<div class="header">
							<div class="heading"
								[id]="UpdateInstallTitleId.CriticalUpdates"
								role="text">{{isUpdateDownloading?criticalUpdatesToInstall.length:criticalUpdates.length}}
								{{'systemUpdates.criticalUpdates' | translate}}</div>
							<div class="description"
								[id]="UpdateInstallTitleId.CriticalUpdates + 'Description'"
								role="text">{{'systemUpdates.availableUpdates.criticalUpdatesDescription' | translate}}</div>
							<vtr-ui-list-system-update-checkbox (checkChange)="onCheckChange($event)"
								[isUpdateDownloading]="isUpdateDownloading"
								[isInstallationCompleted]="isInstallationCompleted"
								[isInstallationSuccess]="isInstallationSuccess"
								[items]="isUpdateDownloading?criticalUpdatesToInstall:criticalUpdates">
							</vtr-ui-list-system-update-checkbox>
						</div>
					</div>
				</div>
				<div class="row"
					*ngIf="(!isUpdateDownloading && recommendedUpdates && recommendedUpdates.length > 0) || (isUpdateDownloading && recommendedUpdatesToInstall && recommendedUpdatesToInstall.length > 0)">
					<div class="row-seperator"
						*ngIf="criticalUpdates && criticalUpdates.length > 0"></div>
					<img class="icon"
						[src]="recommendedUpdatesIcon | svgInline | async" />
					<div class="col">
						<div class="header">
							<div class="heading"
								[id]="UpdateInstallTitleId.RecommendedUpdates"
								tabindex="-1"
								role="text">{{isUpdateDownloading?recommendedUpdatesToInstall.length:recommendedUpdates.length}}
								{{'systemUpdates.recommendedUpdates' | translate}}</div>
							<div class="description"
								[id]="UpdateInstallTitleId.RecommendedUpdates + 'Description'"
								role="text">{{'systemUpdates.availableUpdates.recommendedUpdatesDescription' | translate}}</div>
							<vtr-ui-list-system-update-checkbox (checkChange)="onCheckChange($event)"
								(ignoreUpdate)="onIgnoreUpdate($event)"
								[isUpdateDownloading]="isUpdateDownloading"
								[isInstallationCompleted]="isInstallationCompleted"
								[isInstallationSuccess]="isInstallationSuccess"
								[items]="isUpdateDownloading?recommendedUpdatesToInstall:recommendedUpdates"></vtr-ui-list-system-update-checkbox>
						</div>
					</div>
				</div>
				<div class="row"
					*ngIf="(!isUpdateDownloading && optionalUpdates && optionalUpdates.length > 0) || (isUpdateDownloading && optionalUpdatesToInstall && optionalUpdatesToInstall.length > 0)">
					<div class="row-seperator"
						*ngIf="criticalUpdates && criticalUpdates.length > 0 || recommendedUpdates && recommendedUpdates.length > 0"></div>
					<img class="icon"
						[src]="optionalUpdateIcon | svgInline | async" />
					<div class="col">
						<div class="header">
							<div class="heading"
								[id]="UpdateInstallTitleId.OptionalUpdates"
								tabindex="-1"
								role="text">{{isUpdateDownloading?optionalUpdatesToInstall.length:optionalUpdates.length}}
								{{'systemUpdates.optionalUpdates' | translate}}</div>
							<div class="description"
								[id]="UpdateInstallTitleId.OptionalUpdates + 'Description'"
								role="text">{{'systemUpdates.availableUpdates.optionalUpdatesDescription' | translate}}</div>
							<vtr-ui-list-system-update-checkbox (checkChange)="onCheckChange($event)"
								(ignoreUpdate)="onIgnoreUpdate($event)"
								[isUpdateDownloading]="isUpdateDownloading"
								[isInstallationCompleted]="isInstallationCompleted"
								[isInstallationSuccess]="isInstallationSuccess"
								[items]="isUpdateDownloading?optionalUpdatesToInstall:optionalUpdates"></vtr-ui-list-system-update-checkbox>
						</div>
					</div>
				</div>
				<div class="row"
					*ngIf="(!isUpdateDownloading && ignoredUpdates && ignoredUpdates.length > 0) || (isUpdateDownloading && ignoredUpdatesToInstall && ignoredUpdatesToInstall.length > 0)">
					<div class="row-seperator"
						*ngIf="criticalUpdates && criticalUpdates.length > 0 || recommendedUpdates && recommendedUpdates.length > 0 || optionalUpdates && optionalUpdates.length > 0"></div>
					<img class="icon slash-icon"
						[src]="ignoredUpdateIcon | svgInline | async" />
					<div class="col">
						<div class="header mb-20">
							<div class="row d-flex justify-content-between w-100">
								<div class="heading"
									[id]="UpdateInstallTitleId.IgnoredUpdates"
									tabindex="-1"
									role="text">{{isUpdateDownloading?ignoredUpdatesToInstall.length:ignoredUpdates.length}}
									{{'systemUpdates.ignoredUpdates' | translate}}</div>
								<div class="collapse-control"
									id="su-col-exp-ignore"
									role="button"
									aria-label="ignored updates collapse"
									tabindex="0"
									[attr.aria-expanded]="!isCollapsed"
									(keydown.enter)="onToggle()"
									(click)="onToggle()">
									<div *ngIf="isCollapsed"
										class="collapse-text">
										{{'common.ui.expand' | translate}}
									</div>
									<div *ngIf="!isCollapsed"
										class="collapse-text">
										{{'common.ui.collapse' | translate}}
									</div>
									<fa-icon *ngIf="isCollapsed"
										[icon]="['fal', 'chevron-down']"></fa-icon>
									<fa-icon *ngIf="!isCollapsed"
										[icon]="['fal', 'chevron-up']"></fa-icon>
								</div>
							</div>
						</div>
						<vtr-ui-list-system-update-checkbox *ngIf="!isCollapsed"
							(checkChange)="onCheckChange($event)"
							(ignoreUpdate)="onIgnoreUpdate($event)"
							[isUpdateDownloading]="isUpdateDownloading"
							[isInstallationCompleted]="isInstallationCompleted"
							[isInstallationSuccess]="isInstallationSuccess"
							[items]="isUpdateDownloading?ignoredUpdatesToInstall:ignoredUpdates"></vtr-ui-list-system-update-checkbox>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
