@import "../../../../../app.theme";

.vtr-available-updates {
	background-color: $light;
	box-shadow: 0 0.7rem 1.5rem 0 rgba(0,0,0,0.15);
	.header {
		.heading {
			color: $main_darker;
			font-size: 3.5rem;
			line-height: 1;
			@media #{$breakpoint_xl2} {
				font-size: 2.8rem;
			}

			@media #{$breakpoint_lg} {
				font-size: $fontsize_xl;
			}
			@media #{$breakpoint_md} {
				font-size: $fontsize_md;
			}
		}
	}

	.text-regular {
		color: $main_shade;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		padding: 1rem 1rem 1rem 0rem;
	}
	.updates-lists-container {
		// margin-left: 3rem;
		padding: 2rem 0 0;

		.heading {
			color: $main_dark;
			font-size: 2.5rem;
		}

		// .button-box {
		// 	padding: 0rem;
		// 	margin: 1rem;

		// 	&.shift-left {
		// 		top: 20%;
		// 		left: 20%;
		// 		transform: translate(-8%, -12%);
		// 		padding-top: 1rem 0.5rem 0.5rem 0rem;
		// 	}
		// }
	}
	.row-seperator {
		width: 100%;
		height: 0.2rem;
		background-color: $shade_lightest;
		// margin: 0.5rem 1.5rem 1.5rem 0rem;
	}
	.collapse-control {
		cursor: pointer;
		.collapse-text {
			display: inline-block;
			color: $main;
			font-size: 1.6rem;
			margin-right: 1rem;
			vertical-align: middle;
		}
		fa-icon {
			font-size: 2.4rem;
			color: $main;
			vertical-align: middle;
		}
	}

	vtr-ui-button {
		::ng-deep .vtr-ui-button {
			max-width: 100% !important;
			.button-box .button {
				max-width: 100% !important;
			}
		}
	}
}
