<div class="vtr-available-updates p-5">
	<div *ngIf="!isInstallationCompleted">
		<div class="row">
			<div class="col">
				<div class="header">
					<div class="heading" id="su_availableUpdates" role="article">{{'systemUpdates.availableUpdates.title' | translate}}</div>
				</div>
			</div>
		</div>

		<div class="row no-gutters">
			<div class="col-sm-12 col-md-12 col-lg-8">
				<div class="text-regular">{{'systemUpdates.availableUpdates.description' | translate}}</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-4">
				<div class="button-box shift-right">
					<vtr-ui-button
						[linkId]="'su_install_all_updates'"
						(onClick)="onInstallAllUpdates($event)"
						[isDisabled]="!((criticalUpdates && criticalUpdates.length > 0) || (recommendedUpdates && recommendedUpdates.length > 0) || (optionalUpdates && optionalUpdates.length > 0))"
						[upperCaseLabel]=true
						[label]="'systemUpdates.availableUpdates.installAllUpdates' | translate"
						metricsParent="Pages.SystemUpdate.NewUpdateAvailable"
						metricsItem="btn.Install all updates"></vtr-ui-button>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="isInstallationCompleted && isInstallationSuccess">
		<div class="row">
			<div class="col">
				<div class="header">
					<div class="heading">{{'systemUpdates.availableUpdates.installSuccessHeader' | translate}}</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="isInstallationCompleted && !isInstallationSuccess">
		<div class="row">
			<div class="col">
				<div class="header">
					<div class="heading">{{'systemUpdates.availableUpdates.installFailHeader' | translate}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="text-regular">{{'systemUpdates.availableUpdates.installFailDescription' | translate}}</div>
			</div>
		</div>
	</div>

	<div class="row mt-20">
		<div class="col">
			<div class="row-seperator">&nbsp;</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="updates-lists-container">
				<div class="row"
					*ngIf="criticalUpdates && criticalUpdates.length > 0">
					<div class="col">
						<div class="header">
							<div class="heading" id="su_criticalUpdates" role="article">{{criticalUpdates.length}}
								{{'systemUpdates.criticalUpdates' | translate}}</div>
							<vtr-ui-list-checkbox (checkChange)="onCheckChange($event)"
								[isInstallationCompleted]="isInstallationCompleted"
								[isInstallationSuccess]="isInstallationSuccess"
								[items]="criticalUpdates">
							</vtr-ui-list-checkbox>
						</div>
					</div>
				</div>

				<div class="row"
					*ngIf="recommendedUpdates && recommendedUpdates.length > 0">
					<div class="col">
						<div class="header">
							<div class="heading" id="su_recommendedUpdates" role="article">{{recommendedUpdates.length}}
								{{'systemUpdates.recommendedUpdates' | translate}}</div>
							<vtr-ui-list-checkbox (checkChange)="onCheckChange($event)"
								(ignoreUpdate)="onIgnoreUpdate($event)"
								[isInstallationCompleted]="isInstallationCompleted"
								[isInstallationSuccess]="isInstallationSuccess"
								[items]="recommendedUpdates"></vtr-ui-list-checkbox>
						</div>
					</div>
				</div>

				<div class="row"
					*ngIf="optionalUpdates && optionalUpdates.length > 0">
					<div class="col">
						<div class="header">
							<div class="heading" id="su_optionalUpdates" role="article">{{optionalUpdates.length}}
									{{'systemUpdates.optionalUpdates' | translate}}</div>
							<vtr-ui-list-checkbox (checkChange)="onCheckChange($event)"
								(ignoreUpdate)="onIgnoreUpdate($event)"
								[isInstallationCompleted]="isInstallationCompleted"
								[isInstallationSuccess]="isInstallationSuccess"
								[items]="optionalUpdates"></vtr-ui-list-checkbox>
						</div>
					</div>
				</div>

				<div class="row"
					*ngIf="ignoredUpdates && ignoredUpdates.length > 0">
					<div class="col">
						<div class="header">
							<div class="row d-flex justify-content-between w-100">
								<div class="heading" id="su_ignoredUpdates" role="article">{{ignoredUpdates.length}}
									{{'systemUpdates.ignoredUpdates' | translate}}</div>
								<div class="px-3 collapse-control"
									id="su-col-exp-ignore"
									aria-label="su-col-exp-ignore"
									(click)="onToggle()">
									<div *ngIf="isCollapsed"
										class="collapse-text">
										{{'common.ui.expand' | translate}}
									</div>
									<div *ngIf="!isCollapsed"
										class="collapse-text">
										{{'common.ui.collapse' | translate}}
									</div>
									<fa-icon *ngIf="isCollapsed"
										[icon]="['fas', 'chevron-down']"></fa-icon>
									<fa-icon *ngIf="!isCollapsed"
										[icon]="['fas', 'chevron-up']"></fa-icon>
								</div>
							</div>
						</div>
						<vtr-ui-list-checkbox *ngIf="!isCollapsed" (checkChange)="onCheckChange($event)"
								(ignoreUpdate)="onIgnoreUpdate($event)"
								[isInstallationCompleted]="isInstallationCompleted"
								[isInstallationSuccess]="isInstallationSuccess"
								[items]="ignoredUpdates"></vtr-ui-list-checkbox>
					</div>
				</div>

				<div class="row mt-10 no-gutters"
					*ngIf="!isInstallationCompleted">
					<div class="col-12">
						<div class="button-box shift-left">
							<vtr-ui-button (onClick)="onInstallSelectedUpdates($event)"
								[linkId]="'su_install_selected_updates'"
								[isDisabled]="!isUpdateSelected"
								[upperCaseLabel]=true
								[label]="'systemUpdates.availableUpdates.installSelectedUpdates' | translate"
								metricsParent="Pages.SystemUpdate.NewUpdateAvailable"
								metricsItem="btn.Install selected updates"></vtr-ui-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
