@import "../../../../../app.theme";

.vtr-available-updates {
	padding: 2.4rem 2.4rem 3.2rem 2.5rem;
	background-color: $light;
	box-shadow: 0 0.7rem 1.5rem 0 rgba(0, 0, 0, 0.15);
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;

	@media #{$white-on-black} {
		box-shadow: none;
		@include white-border;
	}

	@media #{$black-on-white} {
		box-shadow: none;
		@include black-border;
	}

	.header {
		.heading {
			color: $main_darker;
			font-size: 3.5rem;
			line-height: 1;

			@media #{$breakpoint_xl2} {
				font-size: 2.8rem;
			}

			@media #{$breakpoint_lg} {
				font-size: $fontsize_xl;
			}

			@media #{$breakpoint_md} {
				font-size: $fontsize_md;
			}
		}
	}

	.text-regular {
		color: $main_shade;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		padding: 1rem 1rem 1rem 0rem;
	}

	.updates-lists-container {
		// margin-left: 3rem;
		.icon {
			width: 1.8rem;
			height: 1.8rem;
			margin: 0.3rem 0.5rem 0 0;
		}
		.slash-icon {
			width: 2rem;
			height: 2rem;
		}
		.heading {
			font-family: $font_family_semilight;
			color: $purple_navy;
			font-size: 1.8rem;
			line-height: 2.4rem;
		}
		.description {
			margin: 0.8rem 0 1.6rem 0;
			font-family: $font_family_semilight;
			color: $grey_dark;
			font-size: 1.4rem;
			line-height: 2rem;
		}
		.row-seperator {
			width: 100%;
			height: 0.1rem;
			background-color: $grey_light;
			margin: 1.5rem 0rem 1.6rem 0rem;
		}
	}

	.collapse-control {
		margin-right: 0.4rem;
		cursor: pointer;

		.collapse-text {
			display: inline-block;
			color: $grey_dark;
			font-size: $fontsize_xs;
			font-weight: $weight_light;
			margin-right: 0.6rem;
			vertical-align: middle;
			text-decoration: underline;
			cursor: pointer;
		}

		fa-icon {
			font-size: 2.0rem;
			color: $menu_hover;
			vertical-align: middle;
		}
		&:hover {
			opacity: 1;

			.collapse-text {
				text-decoration: underline;
			}
		}
		&:focus {
			@include outline-blue;
		}
	}

	vtr-ui-button {
		::ng-deep .vtr-ui-button {
			max-width: 100% !important;

			.button-box .button {
				max-width: 100% !important;
			}
		}
	}
}

:host-context(.is-gaming) {
	.vtr-available-updates{
		.updates-lists-container {
			.description{
				color:$light;
				opacity: 0.75;
			}
		}
	} 
}

