<div class="vtr-page-security-antivirus vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="backarrow" [back]="'common.ui.back' | translate"
				[title]="'security.antivirus.common.title' | translate" [backId]="backId"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-sm-12 col-lg-8 vtr-page-left-column">
						<div *ngIf="viewModel?.currentPage ==='windows'">
							<div *ngIf="isOnline" class="header mt-minus row justify-content-between">
								<div class="rounded-card-with-shadow py-4 pl-0 pr-4 col mr-5">
									<div class="row" [vtrAppSearchScroller]="['search-anti-virus']">
										<div class="align-self-center">
											<img class="img-fluid"
												src="./../../../../assets/images/antivirus/protection.png" />
										</div>
										<div class="col align-self-center">
											<div class="subtitle p-0"
												[innerHTML]="'security.antivirus.windowsDefender.optimallyProtected' | translate">
											</div>
										</div>
									</div>
								</div>
								<div class="rounded-card-with-shadow bg-white py-4 pl-0 pr-4 col-4 row b-border">
									<img class="align-self-center col-4"
										[src]=" '../../../../assets/icons/SecurityAdvisor/Rock-solid.svg' | svgInline | async" />
									<div class="align-self-center col-8 p-0">
										<div class="title"
											[innerHTML]="'security.antivirus.windowsDefender.topTip' | translate"></div>
										<div class="row">
											<div class="subtitle font">
												{{'security.antivirus.windowsDefender.topContent' | translate}}
												<a id="sa-av-link-subscribe" vtrMetrics metricsEvent="itemClick"
												metricsItem="subscribe" metricsParent="security.antivirus"
												href="javascript:void(0)" target="_blank"
												(click)="openArticle()"
												[innerHTML]="'security.antivirus.windowsDefender.view' | translate"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<vtr-widget-offline-info *ngIf="!isOnline"
								[title]="'dashboard.offlineInfo.title' | translate" [isSubtitleVisible]="false"
								[isButtonVisible]="false"></vtr-widget-offline-info>
							<div class="subheader antivirus-block row justify-content-between">
								<div class="rounded-card-with-shadow p-5 bg-white defender-part">
									<div class="row justify-content-between">
										<div class="row">
											<img class="mcafee-logo align-self-start"
												[src]=" '../../../../assets/images/mcafee_logo.svg' | svgInline | async" />
											<div class="title"
												[innerHTML]="'security.antivirus.mcafee.title' | translate">
											</div>
										</div>
										<div class="flex-column">
											<button class="h-100"
												title="{{'security.antivirus.windowsDefender.buyNow'}}">
												<a id="sa-av-link-subscribe" vtrMetrics metricsEvent="itemClick"
													metricsItem="subscribe" metricsParent="security.antivirus"
													href="{{viewModel.mcafee?.trialUrl}}" target="_blank"
													[innerHTML]="'security.antivirus.windowsDefender.buyNow' | translate"></a>
											</button>
										</div>
									</div>
									<div class="divider"></div>
									<div class="subtitle"
										[innerHTML]="'security.antivirus.windowsDefender.buy' | translate"></div>
									<vtr-widget-mcafee-state [windowsDefender]="true" [url]="viewModel.mcafee.trialUrl">
									</vtr-widget-mcafee-state>
									<div class="subtitle mt-5 text-center"
										[innerHTML]="'security.antivirus.mcafee.discount' | translate"></div>
								</div>
								<div class="rounded-card-with-shadow p-5 bg-white defender-part s-border">
									<div class="title"
										[innerHTML]="'security.antivirus.windowsDefender.windowsSubtitle' | translate">
									</div>
									<div class="divider"></div>
									<div class="subtitle"
										[innerHTML]="'security.antivirus.windowsDefender.onlyBasic' | translate"></div>
									<vtr-widget-mcafee-state [windowsDefender]="true"
										[statusList]="viewModel.windowsDefenderstatusList | statusTransform">
									</vtr-widget-mcafee-state>
								</div>
							</div>
							<vtr-widget-common-antivirus></vtr-widget-common-antivirus>
						</div>

						<div *ngIf="viewModel?.currentPage ==='mcafee'">
							<vtr-widget-offline-info *ngIf="!isOnline"
								[title]="'dashboard.offlineInfo.title' | translate" [isSubtitleVisible]="false"
								[isButtonVisible]="false"></vtr-widget-offline-info>
							<div class="subheader" [ngClass]="{'mt-minus': isOnline}">
								<div class="rounded-card-with-shadow p-5 bg-white">
									<div class="row">
										<div *ngIf="showMetricsList" class="col-5 px-0">
											<vtr-widget-mcafee-metric [metricsList]="viewModel.metricsList"
												[showMetricButton]="showMetricButton" [common]="common">
											</vtr-widget-mcafee-metric>
											<div class="subtitle sub-font">
												{{'security.antivirus.mcafee.trialContent' | translate:{remainingDays: viewModel.mcafee.expireAt} }}
												<a id="sa-av-link-subscribe" vtrMetrics metricsEvent="itemClick"
													metricsItem="subscribe" metricsParent="security.antivirus"
													href="{{viewModel.mcafee?.trialUrl}}" target="_blank"
													[innerHTML]="'security.antivirus.mcafee.subscribeNow' | translate"></a>
											</div>
										</div>
										<div class="col-7 px-0" [ngClass]="{'col-12': !showMetricsList}">
											<div class="row justify-content-between">
												<div class="row">
													<img class="mcafee-logo align-self-start"
														[src]=" '../../../../assets/images/mcafee_logo.svg' | svgInline | async" />
													<div class="height-line"></div>
													<div class="title"
														[innerHTML]="'security.antivirus.mcafee.title' | translate">
													</div>
												</div>
												<div class="flex-column">
													<button
														title="{{'security.antivirus.mcafee.trialSubscribe' | translate:{remainingDays: viewModel.mcafee.expireAt} }}">
														<a id="sa-av-link-subscribe" vtrMetrics metricsEvent="itemClick"
															metricsItem="subscribe" metricsParent="security.antivirus"
															href="{{viewModel.mcafee?.trialUrl}}" target="_blank"
															[innerHTML]="'security.antivirus.mcafee.trialSubscribe' | translate:{remainingDays: viewModel.mcafee.expireAt}"></a>
													</button>
													<div class="subtitle text-center"
														[innerHTML]="'security.antivirus.mcafee.discount' | translate">
													</div>
												</div>
											</div>
											<div>
												<div class="divider"></div>
												<div class="content"
													[innerHTML]="'security.antivirus.mcafee.subtitle' | translate:{remainingDays: viewModel.mcafee.expireAt}">
												</div>
												<vtr-widget-mcafee-state
													[statusList]="viewModel.mcafeestatusList | statusTransform"
													[common]="common">
												</vtr-widget-mcafee-state>
											</div>
										</div>
									</div>
								</div>
							</div>
							<vtr-widget-antivirus></vtr-widget-antivirus>
						</div>

						<div *ngIf="viewModel?.currentPage ==='others'">
							<vtr-widget-offline-info *ngIf="!isOnline"
								[title]="'dashboard.offlineInfo.title' | translate" [isSubtitleVisible]="false"
								[isButtonVisible]="false"></vtr-widget-offline-info>
							<div class="subheader" [ngClass]="{'mt-minus': isOnline}">
								<div class="rounded-card-with-shadow p-5 bg-white">
									<div *ngIf="viewModel.otherAntiVirus && viewModel.otherAntiVirus.name">
										<div class="row">
											<div class="col-auto px-0 mr-auto">
												<div class="title pb-3">{{viewModel.otherAntiVirus?.name}}</div>
											</div>
											<div class="col-auto px-0">
											</div>
										</div>

										<div class="subtitle pb-5">
											{{viewModel.otherAntiVirus?.name}}
											{{'security.antivirus.others.othersProtection' | translate}}
										</div>

										<vtr-ui-security-statusbar
											[statusList]="viewModel.othersAntistatusList | statusTransform">
										</vtr-ui-security-statusbar>

									</div>
									<div *ngIf="viewModel.otherFirewall && viewModel.otherFirewall.name" class="pt-5">
										<div class="row">
											<div class="col-auto px-0 mr-auto">
												<div class="title pb-3">{{viewModel.otherFirewall?.name}}</div>
											</div>
											<div class="col-auto px-0">
											</div>
										</div>

										<div class="subtitle pb-5">
											{{viewModel.otherFirewall?.name}}
											{{'security.antivirus.others.othersProtection' | translate}}
										</div>

										<vtr-ui-security-statusbar
											[statusList]="viewModel.othersFirewallstatusList | statusTransform">
										</vtr-ui-security-statusbar>

									</div>
									<vtr-widget-mcafee [install]="viewModel.mcafeeInstall" [isOnline]="isOnline"
										[name]="viewModel.otherAntiVirus.name" [common]="common"></vtr-widget-mcafee>
									<vtr-widget-common-antivirus></vtr-widget-common-antivirus>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-lg-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<div class="container-fluid">
								<!--Start of Security Card Advisor-->
								<div class="row mb-40">
									<div class="col col-12">
										<vtr-widget-security-status [securityAdvisor]="securityAdvisor"
											[linkId]="'anti-virus'">
										</vtr-widget-security-status>
									</div>
								</div>
								<!--End of Security Card Advisor-->

								<div class="row">
									<div class="col col-12">
										<vtr-container-card [img]="cardContentPositionA.FeatureImage"
											[caption]="cardContentPositionA.Description"
											[title]="cardContentPositionA.Title"
											[logoText]="cardContentPositionA.BrandName"
											[action]="cardContentPositionA.Action"
											[actionType]="cardContentPositionA.ActionType"
											[actionLink]="cardContentPositionA.ActionLink"
											[itemID]="cardContentPositionA.ActionLink" [ratioX]="4" [ratioY]="2"
											type="corner-article" cornerShift="large" order="1" sideFlag="r"
											[containerCardId]="'sa-av-modal'">
										</vtr-container-card>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>