@import "../../../app.theme";

.vtr-page-security-antivirus {
	::ng-deep .vtr-widget-offline-info {
		margin-top: $shift_up_small;
	}

	.mt-minus {
		margin-top: $shift_up_small;
	}

	.windows-logo {
		width: 10rem;
		padding-top: 1rem;
	}
	.mcafee-logo {
		width: 10rem;
		padding-top: 1rem;
	}

	.footer {
		.title {
			color: $main_dark;
			font-size: 3rem;
			font-weight: $weight_bold;
			line-height: 2.9rem;
		}

		.subtitle {
			color: $highlight;
			font-size: 1.6rem;
			font-weight: $weight_light;
			line-height: 2.3rem;
			text-decoration: underline;
		}

		.text-regular {
			font-size: 1.6rem;
		}

		.read-more-text {
			font-size: 1.4rem;
		}

		.mcafee-logo {
			width: 14rem;
			padding-top: 1rem;
		}

		a {
			text-decoration: underline;
		}
	}

	.divider {
		margin: 3.4rem 0;
		height: 0.2rem;
		background-color: $shade_lighter;
	}

	.mt-60 {
		margin-top: 60px;
	}

	.header {
		.rounded-card-with-shadow {
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background: $main_darkest;

			.title {
				color: $light;
				font-size: 2.5rem;
				font-weight: $weight_medium;
				line-height: 2.9rem;
			}

			.subtitle {
				color: $light;
				font-size: 1.4rem;
				line-height: 2.1rem;
			}

			.text {
				font-size: 1.5rem;
				line-height: 2.1rem;
			}

			.date {
				color: $go_dark;
				font-size: 1.6rem;
				font-weight: $weight_medium;
				line-height: 3rem;
      		}
		}
	}

	.subheader {
		.rounded-card-with-shadow {
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background: $light;

			.list-group {
				border-radius: $border_radius;

				.list-group-item {
					background: $shade_extralight;
				}

				.text {
					color: $screen_dark_70;
					padding: 2rem 0;
					font-size: 1.4rem;
					font-weight: $weight_medium;
					letter-spacing: 0.89px;
					line-height: 2.3rem;
				}
			}

			.title {
				color: $screen_dark_70;
				font-size: 2.5rem;
				font-weight: $weight_regular;
				line-height: 2.9rem;
			}

			.subtitle {
				color: $main_shade;
				font-size: 1.5rem;
				font-weight: $weight_regular;
				line-height: 2.3rem;
			}

			.text {
				font-size: 1.5rem;
				line-height: 2.1rem;
			}

			.date {
				color: $go_dark;
				font-size: 1.6rem;
				font-weight: $weight_bold;
				line-height: 3rem;
      }

      .stopdate{
        color: $stop_dark;
				font-size: 1.6rem;
				font-weight: $weight_bold;
				line-height: 3rem;
      }
		}
	}

	.description {
		margin-top: 5rem;

		.title {
			color: $main_dark;
			font-size: 3.5rem;
			font-weight: $weight_medium;
			line-height: 4.2rem;
		}
		.top-benefits-desc{
			font-size: 1.5rem;
			font-weight: $weight_light;
			color: $main_shade;
			padding: 1rem 1rem 1rem 0;
		}

		.subtitle {
			color: $main_shade;
			font-size: 1.4rem;
			font-weight: $weight_light;
			line-height: 2.3rem;
		}

		.inner-body {
			.title {
				color: $main_dark;
				font-size: 1.4rem;
				font-weight: $weight_black;
				letter-spacing: 0.89px;
				line-height: 2.3rem;
				text-transform: uppercase;
			}

			.subtitle {
				color: $main_shade;
				font-size: 1.4rem;
				font-weight: $weight_light;
				line-height: 2.3rem;
			}
		}
	}

	.body {
		.title {
			color: $screen_dark_70;
			font-size: 3.5rem;
			font-weight: $weight_regular;
			line-height: 4.2rem;
		}

		.subtitle {
			color: $screen_dark_70;
			font-size: 2.5rem;
			font-weight: $weight_bold;
			line-height: 2.9rem;
		}

		.text {
			color: $main_shade;
			font-size: 1.5rem;
			font-weight: $weight_regular;
			line-height: 2.3rem;
		}
	}

	.antivirus-block {
		margin-top: 4rem;

		ul.list-unstyled {
			li {
				.col-auto {
					padding-left: .8rem;
				}
			}
		}
	}

	.badge {
		font-weight: normal;
		font-size: 69%;
	}

	.dashlane-side-left-img{
		width: 90%;
	}
	.vtr-page-right-column{
		@media #{$mediaquery_X5} {
			padding: 4rem 4rem 4rem 8.5rem;
		}
	}
}
