<div class="vtr-page-security-antivirus vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [backarrow]="backarrow"
				[back]="back"
				[title]="title"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col col-8 vtr-page-left-column">
						<div *ngIf="viewMode?.currentPage ==='windows'">
							<div class="header mt-minus">
								<div class="rounded-card-with-shadow p-5">
									<div class="row">
										<div class="col-auto align-self-center">
											<img class="img-fluid"
												src="./../../../../assets/images/antivirus/protection.png" />

										</div>
										<div class="col">
											<div class="title p-3"> Not Optimally Protected</div>
											<div class="subtitle p-3"
												[innerHTML]="subTitle"></div>
											<div class="p-3">
												<vtr-ui-button [metricsItem]="'learnMoreAboutMcafee'"
													[label]="'LEARN MORE ABOUT MCAFEE'"
													(onClick)="openArticle()"></vtr-ui-button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="subheader antivirus-block">
								<div class="rounded-card-with-shadow p-5 bg-white">
									<div>
										<div class="row">
											<div class="col-auto px-0 mr-auto">
												<div class="title pb-3">Windows Defender basic protection</div>
											</div>
											<div class="col-auto px-0">
												<img class="windows-logo"
													src="../../../../assets/images/windows-logo.png" />
											</div>
										</div>

										<div class="subtitle pb-5">Windows defender offers basic protection for your
											device
										</div>

										<vtr-ui-security-statusbar [statusList]=" viewMode.windowsDefenderstatusList | statusTransform">
										</vtr-ui-security-statusbar>


										<vtr-ui-security-statusbar [statusList]=" viewMode.windowsDefenderstatusList | statusTransform">
										</vtr-ui-security-statusbar>


									</div>
									<vtr-widget-mcafee [install]="viewMode.mcafee"
										[name]="'Windows Defender'"></vtr-widget-mcafee>
								</div>
							</div>
							<div class="body antivirus-block">
								<div>
									<div class="title py-5"> Why McAfee ?</div>
									<div class="row">
										<div class="col-auto px-0">
											<img src="./../../../../assets/images/antivirus/side.png" />
										</div>
										<div class="col px-5">
											<div class="subtitle pb-5">
												Lenovo recommends McAfee to protect all your devices with:
											</div>
											<div>
												<ul class="list-unstyled">
													<li class="text pb-4">
														<div class="row">
															<div class="col-auto">
																<div class="bullet-icon-check">
																	<div class="icon-bkg">
																		<fa-icon [icon]="['fas', 'check']"></fa-icon>
																	</div>
																</div>
															</div>
															<div class="col">
																Award winning protection from the latest
																online threats including ransomware and malware
															</div>
														</div>

													</li>

													<li class="text pb-4">
														<div class="row">

															<div class="col-auto">
																<div class="bullet-icon-check">
																	<div class="icon-bkg">
																		<fa-icon [icon]="['fas', 'check']"></fa-icon>
																	</div>
																</div>
															</div>
															<div class="col">Dedicated security that
																consistently outperforms Defender and other leading AV
																providers
															</div>
														</div>
													</li>
													<li class="text">
														<div class="row">
															<div class="col-auto">
																<div class="bullet-icon-check">
																	<div class="icon-bkg">
																		<fa-icon [icon]="['fas', 'check']"></fa-icon>
																	</div>
																</div>
															</div>
															<div class="col">
																Device to cloud technology that won't slow down
																your PC
															</div>
														</div>

													</li>

												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="divider"></div>
							<div class="footer">
								<div class="row">
									<div class="col-auto mr-auto px-0">
										<div class="title">
											Powered By McAfee
										</div>
										<div>
											<ul class="list-inline">
												<li class="list-inline-item read-more-text">Read more on the</li>
												<li class="list-inline-item subtitle">
													<a vtrMetrics
														metricsItem="privacyPolicy"
														metricsEvent="itemClick"
														href="{{urlPrivacyPolicy}}"
														target="_blank">Privacy Policy</a>
												</li>
												<li class="list-inline-item">and</li>
												<li class="list-inline-item subtitle">
													<a vtrMetrics
														metricsItem="termsOfServices"
														metricsEvent="itemClick"
														href="{{urlTermsOfService}}"
														target="_blank">Terms Of Service</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-auto align-self-center px-0">
										<img class="mcafee-logo"
											src="../../../../assets/images/mcafee_logo.svg" />
									</div>
								</div>
							</div>
						</div>

						<div *ngIf="viewMode?.currentPage ==='mcafee'">
							<div class="subheader mt-minus">
								<div class="rounded-card-with-shadow p-5 bg-white">


									<div class="row">
										<div class="col-auto px-0 mr-auto">
											<div class="title pb-3">McAfee LiveSafe</div>
										</div>
										<div class="col-auto px-0">
											<img class="mcafee-logo"
												src="../../../../assets/images/mcafee_logo.svg" />
										</div>
									</div>
									<div class="subtitle pb-5">You are currently protected by McAfee LiveSafe</div>

									<vtr-ui-security-statusbar [statusList]="viewMode.mcafeestatusList | statusTransform">
									</vtr-ui-security-statusbar>

									<div class="row align-items-center">
										<div class="col-auto mr-auto px-0">
											<div class="card-with-border p-3">
												<span class="text">
													{{ viewMode.mcafee?.subscription}} Valid Until
												</span>
												<span class="date">
													{{ viewMode.mcafee?.expireAt | date:'MM/dd/yyyy' }}
												</span>
												<span>
													<a *ngIf=" viewMode.mcafee?.subscription !== 'licenseActive'"
														vtrMetrics
														metricsItem="upgradeMcafee"
														metricsEvent="itemClick"
														href="javacript:0"
														(click)=" viewMode.mcafee?.launch()"
														class="text">Upgrade Now</a>
												</span>
											</div>
										</div>
										<div class="col-auto px-0 py-5">
											<vtr-ui-button [metricsItem]="'launchMcafee'"
												(onClick)=" viewMode.mcafee?.launch()"
												[label]="'LAUNCH MCAFEE'"></vtr-ui-button>
										</div>
									</div>

								</div>
							</div>
							<div class="description">
								<div class="title py-4">
									Top Benefits of McAfee LiveSafe
								</div>
								<div class="inner-body">
									<div class="row">
										<div class="col-6">
											<div class="row pt-5">
												<div class="col-auto align-self-center">
													<img class="img-fluid"
														src="./../../../../assets/images/antivirus/icon1.png" />


												</div>
												<div class="col">
													<div class="title">
														Award-Winning Antivirus
													</div>
													<div class="subtitle">
														Blocks viruses, malware, ransomware, spyware, unwanted programs,
														and
														more on your PC.
													</div>
												</div>
											</div>
											<div class="row pt-5">
												<div class="col-auto align-self-center">
													<img class="img-fluid"
														src="./../../../../assets/images/antivirus/icon2.png" />


												</div>
												<div class="col">
													<div class="title">
														Encrypted Storage
													</div>
													<div class="subtitle">
														Keep sensitive files private by storing them on your PC with
														128-bit
														encryption.
													</div>
												</div>
											</div>
											<div class="row pt-5">
												<div class="col-auto align-self-center">
													<img class="img-fluid"
														src="./../../../../assets/images/antivirus/icon3.png" />


												</div>
												<div class="col">
													<div class="title">
														Identity theft protection
													</div>
													<div class="subtitle">
														Take charge of protecting your identity from theft and fraud.
													</div>
												</div>
											</div>
											<div class="row pt-5">
												<div class="col-auto align-self-center">
													<img class="img-fluid"
														src="./../../../../assets/images/antivirus/icon4.png" />


												</div>
												<div class="col">
													<div class="title">
														FREE Customer Support
													</div>
													<div class="subtitle">
														Has you covered by phone, by chat, or online for the life of
														your
														subscription.
													</div>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="row pt-5">
												<div class="col-auto align-self-center">
													<img class="img-fluid"
														src="./../../../../assets/images/antivirus/icon5.png" />


												</div>
												<div class="col">
													<div class="title">
														Anti-Spam
													</div>
													<div class="subtitle">
														Blocks dangerous messages before they reach your inbox by
														removing
														emails that may include risky links and viruses.
													</div>
												</div>
											</div>
											<div class="row pt-5">
												<div class="col-auto align-self-center">
													<img class="img-fluid"
														src="./../../../../assets/images/antivirus/icon6.png" />


												</div>
												<div class="col">
													<div class="title">
														Virus protection pledge
													</div>
													<div class="subtitle">
														Provides you with the confidence that in the event your PC gets
														a
														virus, a McAfee expert will remotely access your computer to
														remove
														it.
													</div>
												</div>
											</div>
											<div class="row pt-5">
												<div class="col-auto align-self-center">
													<img class="img-fluid"
														src="./../../../../assets/images/antivirus/icon7.png" />


												</div>
												<div class="col">
													<div class="title">
														Parental controls
													</div>
													<div class="subtitle">
														Block web sites and search results you don’t want your kids to
														see.
														Also lets you set limits for how much time they spend online.
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="divider"></div>
							<div class="footer">
								<div class="row">
									<div class="col-auto mr-auto px-0">
										<div class="title">
											Powered By McAfee
										</div>
										<div>
											<ul class="list-inline">
												<li class="list-inline-item read-more-text">Read more on the</li>
												<li class="list-inline-item subtitle">
													<a vtrMetrics
														metricsItem="privacyPolicy"
														metricsEvent="itemClick"
														href="{{urlPrivacyPolicy}}"
														target="_blank">Privacy Policy</a>
												</li>
												<li class="list-inline-item">and</li>
												<li class="list-inline-item subtitle">
													<a vtrMetrics
														metricsItem="termsOfServices"
														metricsEvent="itemClick"
														href="{{urlTermsOfService}}"
														target="_blank">Terms Of Service</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-auto align-self-center px-0">
										<img class="mcafee-logo"
											src="../../../../assets/images/mcafee_logo.svg" />
									</div>
								</div>
							</div>
						</div>

						<div *ngIf="viewMode?.currentPage ==='others'">

							<div class="subheader mt-minus">
								<div class="rounded-card-with-shadow p-5 bg-white">
									<div *ngIf="viewMode.otherAntiVirus && viewMode.otherAntiVirus?.name">
										<div class="row">
											<div class="col-auto px-0 mr-auto">
												<div class="title pb-3">{{viewMode.otherAntiVirus?.name}}</div>
											</div>
											<div class="col-auto px-0">
											</div>
										</div>

										<div class="subtitle pb-5">{{viewMode.otherAntiVirus?.name}} offers you basic protection for your
											device
										</div>

										<vtr-ui-security-statusbar [statusList]="viewMode.othersAntistatusList | statusTransform">
										</vtr-ui-security-statusbar>

									</div>
									<div *ngIf="viewMode.otherFirewall && viewMode.otherFirewall?.name"
										class="pt-5">
										<div class="row">
											<div class="col-auto px-0 mr-auto">
												<div class="title pb-3">{{viewMode.otherFirewall?.name}}</div>
											</div>
											<div class="col-auto px-0">
											</div>
										</div>

										<div class="subtitle pb-5">{{viewMode.otherFirewall.name}} offers you basic protection for your
											device
										</div>

										<vtr-ui-security-statusbar [statusList]="viewMode.othersFirewallstatusList | statusTransform">
										</vtr-ui-security-statusbar>

									</div>
									<vtr-widget-mcafee [install]="viewMode.mcafee"
										[name]="viewMode.otherAntiVirus.name"></vtr-widget-mcafee>
								</div>
							</div>
							<div class="body antivirus-block">
								<div>
									<div class="title py-5"> Why McAfee ?</div>
									<div class="row">
										<div class="col-auto px-0">
											<img src="./../../../../assets/images/antivirus/side.png" />
										</div>
										<div class="col px-5">
											<div class="subtitle pb-5">
												Lenovo recommends McAfee to protect all your devices with:
											</div>
											<div>
												<ul class="list-unstyled">
													<li class="text pb-4">
														<div class="row">
															<div class="col-auto">
																<div class="bullet-icon-check">
																	<div class="icon-bkg">
																		<fa-icon [icon]="['fas', 'check']"></fa-icon>
																	</div>
																</div>
															</div>
															<div class="col">
																Award winning protection from the latest online threats
																including ransomware and malware
															</div>
														</div>
													</li>
													<li class="text pb-4">
														<div class="row">
															<div class="col-auto">
																<div class="bullet-icon-check">
																	<div class="icon-bkg">
																		<fa-icon [icon]="['fas', 'check']"></fa-icon>
																	</div>
																</div>
															</div>
															<div class="col">
																Dedicated security that consistently outperforms
																Defender and other leading AV providers
															</div>
														</div>
													</li>
													<li class="text">
														<div class="row">
															<div class="col-auto">
																<div class="bullet-icon-check">
																	<div class="icon-bkg">
																		<fa-icon [icon]="['fas', 'check']"></fa-icon>
																	</div>
																</div>
															</div>
															<div class="col">
																Device to cloud technology that won't slow down
																your PC
															</div>
														</div>

													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="divider"></div>
							<div class="footer">
								<div class="row">
									<div class="col-auto mr-auto px-0">
										<div class="title">
											Powered By McAfee
										</div>
										<div>
											<ul class="list-inline">
												<li class="list-inline-item read-more-text">Read more on the</li>
												<li class="list-inline-item subtitle">
													<a vtrMetrics
														metricsItem="privacyPolicy"
														metricsEvent="itemClick"
														href="{{urlPrivacyPolicy}}"
														target="_blank">Privacy Policy</a>
												</li>
												<li class="list-inline-item">and</li>
												<li class="list-inline-item subtitle">
													<a vtrMetrics
														metricsItem="termsOfServices"
														metricsEvent="itemClick"
														href="{{urlTermsOfService}}"
														target="_blank">Terms Of Service</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-auto align-self-center px-0">
										<img class="mcafee-logo"
											src="../../../../assets/images/mcafee_logo.svg" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<div class="container-fluid">
								<!--Start of Security Card Advisor-->
								<div class="row mb-40">
									<div class="col col-12">
										<vtr-widget-status [title]="'Security Advisor'"
											[description]="'CHECK IF YOUR DEVICE IS SECURED.'"
											[items]="mockService.securityStatus">
										</vtr-widget-status>
									</div>
								</div>
								<!--End of Security Card Advisor-->

								<div class="row">
									<div class="col col-12">
										<vtr-container-card [img]="cardContentPositionA.FeatureImage"
											[caption]="cardContentPositionA.Description"
											[title]="cardContentPositionA.Title"
											[logoText]="cardContentPositionA.BrandName"
											[action]="cardContentPositionA.Action"
											[actionLink]="cardContentPositionA.ActionLink"
											[type]="'corner'"
											[ratioX]="4"
											[ratioY]="2"
											[cornerShift]="'large'">
										</vtr-container-card>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
