@import "../../../app.theme.scss";
::ng-deep {
	.vtr-page-security-antivirus {
		.vtr-widget-offline-info {
			margin-top: $shift_up_small;
		}

		.img-fluid {
			width: 10rem;
			@media #{$mediaquery_md} {
				width: 15rem;
			}
		}

		.left-col {
			padding-top: 4rem;
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 2rem;
			@media #{$breakpoint_xl} {
				padding-right: 0;
			}
		}

		.right-col {
			padding-top: 4rem;
			padding-bottom: 0;
			padding-right: 0;
			padding-left: 2rem;
			@media #{$breakpoint_xl} {
				padding-left: 0;
			}
		}

		.subheader{
			::ng-deep {
				.card-header {
					padding: 1.25rem 3rem !important;
					.header{
						color: $screen_dark_70 !important;
						font-weight: 400 !important;
					}
				}

				.card-body {
					padding: 0.75rem 3rem !important;
				}
			}
		}

		.rounded-card-with-shadow {
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background: $main_darkest;
			padding: 1rem;

			&.inset {
				margin: 2rem auto;
				@media #{$breakpoint_lg} {
					max-width: 80%;
				}
				@media #{$breakpoint_xl} {
					max-width: 60%;
				}
			}

			&.b-border {
				border: 0.1rem solid #27add7;
				box-shadow: none;
			}

			.img-limit {
				max-width: 100%;
				margin: 0 auto;
				&.img-xl-15 {
					@media #{$breakpoint_xl} {
						max-width: 15rem;
					}
				}
			}

			.title {
				color: $shade_darkest;
				font-size: $fontsize_sm;
				font-weight: 600;
				line-height: 1.2em;
				margin-bottom: 1rem;
				&.larger {
					font-size: $fontsize_lg;
					line-height: 1.4em;
				}
			}

			.subtitle {
				font-size: 1.4rem;
				line-height: 2.1rem;
			}

			.subtitle-color {
				color: $shade_darkest;
			}

			.text {
				font-size: 1.5rem;
				line-height: 2.1rem;
			}

			.date {
				color: $go_dark;
				font-size: 1.6rem;
				font-weight: $weight_medium;
				line-height: 3rem;
			}

			a {
				text-decoration: underline;
			}

		}

		.windows-logo {
			width: 10rem;
			padding-top: 0.9rem;
		}

		.mcafee-logo {
			width: 10rem;
			padding-top: 0.7rem;
		}

		.divider {
			margin: 2rem 0 1rem 0;
			height: 0.1rem;
			background-color: $light-grey;
		}
	}
}
