@import "../../../app.theme";

.vtr-page-security-antivirus {
	.mt-minus {
		margin-top: $shift_up_small;
	}

	.windows-logo {
		width: 10rem;
		padding-top: 1rem;
	}
	.mcafee-logo {
		width: 10rem;
		padding-top: 1rem;
	}

	.footer {
		.title {
			color: $main_dark;
			font-size: 2.5rem;
			font-weight: $weight_bold;
			line-height: 2.9rem;
		}

		.subtitle {
			color: $highlight;
			font-size: 1.6rem;
			font-weight: $weight_light;
			line-height: 2.3rem;
			text-decoration: underline;
		}

		.read-more-text {
			font-size: 1.4rem;
		}

		.mcafee-logo {
			width: 14rem;
			padding-top: 1rem;
		}
	}

	.divider {
		margin: 3.4rem 0;
		height: 0.2rem;
		background-color: $shade_lighter;
	}

	.mt-60 {
		margin-top: 60px;
	}

	.header {
		.rounded-card-with-shadow {
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background: $main_darkest;

			.title {
				color: $light;
				font-size: 2.5rem;
				font-weight: $weight_medium;
				line-height: 2.9rem;
			}

			.subtitle {
				color: $light;
				font-size: 1.4rem;
				line-height: 2.1rem;
			}

			.text {
				font-size: 1.5rem;
				line-height: 2.1rem;
			}

			.date {
				color: $go_dark;
				font-size: 1.6rem;
				font-weight: $weight_medium;
				line-height: 3rem;
			}
		}
	}

	.subheader {
		.rounded-card-with-shadow {
			box-shadow: $drop_shadow;
			border-radius: $border_radius;
			background: $light;

			.list-group {
				border-radius: $border_radius;

				.list-group-item {
					background: $shade_extralight;
				}

				.text {
					color: $screen_dark_70;
					padding: 2rem 0;
					font-size: 1.4rem;
					font-weight: $weight_medium;
					letter-spacing: 0.89px;
					line-height: 2.3rem;
				}
			}

			.title {
				color: $screen_dark_70;
				font-size: 2.5rem;
				font-weight: $weight_regular;
				line-height: 2.9rem;
			}

			.subtitle {
				color: $main_shade;
				font-size: 1.5rem;
				font-weight: $weight_regular;
				line-height: 2.3rem;
			}

			.text {
				font-size: 1.5rem;
				line-height: 2.1rem;
			}

			.date {
				color: $go_dark;
				font-size: 1.6rem;
				font-weight: $weight_medium;
				line-height: 3rem;
			}
		}
	}

	.description {
		margin-top: 5rem;

		.title {
			color: $dark;
			font-size: 3.5rem;
			font-weight: $weight_light;
			line-height: 4.2rem;
		}
		.top-benefits-desc{
			font-size: 1.5rem;
			font-weight: $weight_light;
			color: $main_shade;
			padding: 1rem 1rem 1rem 0;
		}

		.subtitle {
			color: $main_shade;
			font-size: 1.4rem;
			font-weight: $weight_light;
			line-height: 2.3rem;
		}

		.inner-body {
			.title {
				color: $dark;
				font-size: 1.4rem;
				font-weight: $weight_medium;
				letter-spacing: 0.89px;
				line-height: 2.3rem;
				text-transform: uppercase;
			}

			.subtitle {
				color: $main_shade;
				font-size: 1.4rem;
				font-weight: $weight_light;
				line-height: 2.3rem;
			}
		}
	}

	.body {
		.title {
			color: $screen_dark_70;
			font-size: 3.5rem;
			font-weight: $weight_regular;
			line-height: 4.2rem;
		}

		.subtitle {
			color: $screen_dark_70;
			font-size: 2.5rem;
			font-weight: $weight_bold;
			line-height: 2.9rem;
		}

		.text {
			color: $main_shade;
			font-size: 1.5rem;
			font-weight: $weight_regular;
			line-height: 2.3rem;
		}
	}

	.antivirus-block {
		margin-top: 4rem;

		ul.list-unstyled {
			li {
				.col-auto {
					padding-left: .8rem;
				}
			}
		}
	}

	.badge {
		font-weight: normal;
		font-size: 69%;
	}
  .mt-minus {
    margin-top: $shift_up_small;
  }

  .windows-logo {
    width: 10rem;
    padding-top: 1rem;
  }
  .mcafee-logo {
    width: 10rem;
    padding-top: 1rem;
  }

  .footer {
    .title {
      color: $main_dark;
      font-size: 3rem;
      font-weight: $weight_bold;
      line-height: 2.9rem;
    }

    .subtitle {
      color: $highlight;
      font-size: 1.6rem;
      font-weight: $weight_light;
      line-height: 2.3rem;
      text-decoration: underline;
    }

    .read-more-text {
      font-size: 1.4rem;
    }

    .learnmore {
      text-decoration: underline;
    }

    .pull-left {
      padding: 0.8rem 0rem 0.8rem 0rem;
    }

    .text .mcafee-logo {
      width: 14rem;
      padding-top: 1rem;
    }
  }

  .divider {
    margin: 3.4rem 0;
    height: 0.2rem;
    background-color: $shade_lighter;
  }

  .mt-60 {
    margin-top: 60px;
  }

  .header {
    .rounded-card-with-shadow {
      box-shadow: $drop_shadow;
      border-radius: $border_radius;
      background: $main_darkest;

      .title {
        color: $light;
        font-size: 2.5rem;
        font-weight: $weight_medium;
        line-height: 2.9rem;
      }

      .subtitle {
        color: $light;
        font-size: 1.4rem;
        line-height: 2.1rem;
      }

      .text {
        font-size: 1.5rem;
        line-height: 2.1rem;
      }

      .date {
        color: $go_dark;
        font-size: 1.6rem;
        font-weight: $weight_medium;
        line-height: 3rem;
      }
    }
  }

  .subheader {
    .rounded-card-with-shadow {
      box-shadow: $drop_shadow;
      border-radius: $border_radius;
      background: $light;

      .list-group {
        border-radius: $border_radius;

        .list-group-item {
          background: $shade_extralight;
        }

        .text {
          color: $screen_dark_70;
          padding: 2rem 0;
          font-size: 1.4rem;
          font-weight: $weight_medium;
          letter-spacing: 0.89px;
          line-height: 2.3rem;
        }
      }

      .title {
        color: $screen_dark_70;
        font-size: 2.5rem;
        font-weight: $weight_regular;
        line-height: 2.9rem;
      }

      .subtitle {
        color: $main_shade;
        font-size: 1.5rem;
        font-weight: $weight_regular;
        line-height: 2.3rem;
      }

      .text {
        font-size: 1.5rem;
        line-height: 2.1rem;
      }

      .date {
        color: $go_dark;
        font-size: 1.6rem;
        font-weight: $weight_medium;
        line-height: 3rem;
      }
    }
  }

  .description {
    margin-top: 5rem;

    .title {
      color: $dark;
      font-size: 3.5rem;
      font-weight: $weight_light;
      line-height: 4.2rem;
    }

    .subtitle {
      color: $main_shade;
      font-size: 1.4rem;
      font-weight: $weight_light;
      line-height: 2.3rem;
    }

    .inner-body {
      .title {
        color: $dark;
        font-size: 1.4rem;
        font-weight: $weight_medium;
        letter-spacing: 0.89px;
        line-height: 2.3rem;
        text-transform: uppercase;
      }

      .subtitle {
        color: $main_shade;
        font-size: 1.4rem;
        font-weight: $weight_light;
        line-height: 2.3rem;
      }
    }
  }

  .body {
    .title {
      color: $screen_dark_70;
      font-size: 3.5rem;
      font-weight: $weight_regular;
      line-height: 4.2rem;
    }

    .subtitle {
      color: $screen_dark_70;
      font-size: 2.5rem;
      font-weight: $weight_bold;
      line-height: 2.9rem;
    }

    .text {
      color: $main_shade;
      font-size: 1.5rem;
      font-weight: $weight_regular;
      line-height: 2.3rem;
    }
  }

  .antivirus-block {
    margin-top: 4rem;

    .subtitle {
      color: $main_dark;
      font-size: 3rem;
      font-weight: $weight_bold;
    }

    .text-regular {
      color: $main_dark;
      font-size: 1.6rem;
    }
    ul.list-unstyled {
      margin-top: 0.5rem;
      list-style: none;
      padding: 0;
      li {
        margin: 0;
        padding: 1rem 1rem 1rem 0;
        color: $main_dark;

        .col-auto {
          padding-left: 0.8rem;
        }
      }
    }
  }

  .badge {
    font-weight: normal;
    font-size: 69%;
  }
}
