@import "./../../../app.theme";

@mixin theme($name, $background, $foreground, $label-color) {
	$focus-indicator: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 3px rgba(0, 123, 255, 1);
	.vtr-ui-circle-radio-with-checkbox-list.#{$name} {
		$container-width: 12rem;
		margin-right: 1.5rem;
		margin-top: 1.5rem;

		.control-disabled {
			color: $shade_blue;
			pointer-events: none;
		}

		.circle-radio {
			outline: 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			position: relative;
			text-align: center;

			.radio-container {
				position: relative;
				width: $container-width;
				margin-bottom: 1rem;

				.focus {
					display: block;
				}

				// circle UI part
				[role="radio"] {
					background: $foreground;
					border: 0.2rem solid $background;
					display: inline-block;
					vertical-align: middle;
					width: 6rem;
					height: 6rem;
					border-radius: 50%;
					text-align: center;
					line-height: 6rem;
					cursor: pointer;
					outline: 0;

					.fa-layers {
						position: absolute;
						top: 0.3rem;
						left: 3.1rem;
					}

					.check-circle {
						position: absolute;
						right: -2.5rem;
						top: 0.5rem;
						font-size: 2rem;
						@media #{$black-on-white} {
							right: -2.6rem;
							top: 0.4rem;
						}
						@media #{$white-on-black} {
							right: -2.6rem;
							top: 0.4rem;
						}
					}

					.icon-circle {
						position: absolute;
						right: -2.6rem;
						top: 0.4rem;
						font-size: 2rem;
					}

					.icomoon {
						font-size: 3rem;
						&::before {
							color: $background;
						}
					}

					&:focus {
						box-shadow: $focus-indicator;
					}

					&:hover {
						border-color: $blue-light;
						@media #{$black-on-white} {
							border-color: $high-contrast-white-dark-magenta;
						}
						@media #{$white-on-black} {
							border-color: $high-contrast-black-cyan;
						}

						.icomoon {
							&::before {
								color: $blue-light;
								@media #{$black-on-white} {
									color: $high-contrast-white-dark-magenta;
								}
								@media #{$white-on-black} {
									color: $high-contrast-black-cyan;
								}
							}
						}
					}

					&:disabled {
						.text {
							color: $circle_checkbox_disabled;
						}
					}

					&:active {
						border-color: $shade_blue;

						.check-circle {
							color: $shade_blue;
						}

						.icon-circle {
							color: $light;
						}

						.icomoon {
							&::before {
								color: $shade_blue;
							}
						}
					}

					&[aria-disabled="true"] {
						border-color: $grey_light;
						background: $grey_lighter;
						pointer-events: none;

						&:focus{
							box-shadow: none;
						}

						.icomoon {
							&::before {
								color: $shade_blue;
								opacity: 0.5;
								@media #{$black-on-white} {
									@include high-contrast-white-text-color-disabled;
								}
								@media #{$white-on-black} {
									@include high-contrast-black-text-color-disabled;
								}
							}
						}
						@media #{$black-on-white} {
							background: transparent;
							border: 0.2rem solid $high-contrast-white-disabled-maroon;
						}
						@media #{$white-on-black} {
							background: transparent;
							border: 0.2rem solid $high-contrast-black-disabled-green;
						}
					}
				}

				[role="radio"][aria-checked="true"] {
					background: $background;
					@media #{$black-on-white} {
						background: transparent;
						border: 0.2rem solid $high-contrast-white-dark-magenta;
					}
					@media #{$white-on-black} {
						background: transparent;
						border: 0.2rem solid $high-contrast-black-cyan;
					}

					.check-circle {
						color: $main;
						@media #{$black-on-white} {
							color: $light;
						}
						@media #{$white-on-black} {
							color: $dark;
						}
					}

					.icon-circle {
						color: $light;
						@media #{$black-on-white} {
							color: $high-contrast-white-dark-magenta;
						}
						@media #{$white-on-black} {
							color: $high-contrast-black-cyan;
						}
					}
					.icomoon {
						font-size: 3rem;
						&::before {
							color: $light;
							@media #{$black-on-white} {
								color: $high-contrast-white-dark-magenta;
							}
							@media #{$white-on-black} {
								color: $high-contrast-black-cyan;
							}
						}
					}

					&:focus{
						box-shadow: none;
					}

					&:hover {
						background: $blue-light;
						border-color: $blue-light;

						.check-circle {
							color: $blue-light;
						}

						.icon-circle {
							color: $light;
						}
						.icomoon {
							&::before {
								color: $light;
							}
						}
					}
					&:active {
						background: $shade_blue;
						border-color: $shade_blue;

						.focus {
							display: none;
						}

						.check-circle {
							color: $shade_blue;
						}

						.icon-circle {
							color: $light;
						}

						.icomoon {
							&::before {
								color: $light;
							}
						}
					}
					&[aria-disabled="true"] {
						border-color: $grey_light;
						background: $grey_light;
						pointer-events: none;
						.focus {
							display: none;
						}
						.check-circle {
							color: $shade_blue;
							opacity: 0.5;
							@media #{$black-on-white} {
								@include high-contrast-white-text-color-disabled;
							}
							@media #{$white-on-black} {
								@include high-contrast-black-text-color-disabled;
							}
						}

						.icon-circle {
							color: $light;
							@media #{$black-on-white} {
								color: $light;
							}
							@media #{$white-on-black} {
								color: $dark;
							}
						}

						.icomoon {
							&::before {
								color: $shade_blue;
								// opacity: 0.6;
								@media #{$black-on-white} {
									@include high-contrast-white-text-color-disabled;
								}
								@media #{$white-on-black} {
									@include high-contrast-black-text-color-disabled;
								}
							}
						}
						@media #{$black-on-white} {
							background: transparent;
							border: 0.2rem solid $high-contrast-white-disabled-maroon;
						}
						@media #{$white-on-black} {
							background: transparent;
							border: 0.2rem solid $high-contrast-black-disabled-green;
						}
					}
				}

				.text {
					font-weight: $weight_light;
					font-size: $fontsize_xs;
					color: $label-color;
					padding-top: 0.5rem;
				}

				.text-disabled {
					color: $shade_blue;
					opacity: 0.6;
					@media #{$white-on-black} {
						@include high-contrast-black-text-color-disabled;
					}
					@media #{$black-on-white} {
						@include high-contrast-white-text-color-disabled;
					}
				}
				// icon file css class name
				span {
					&.icomoon {
						font-size: 6.8rem !important;
						background: transparent;
						position: absolute;
						left: 2.6rem;
						top: -0.1rem;
						@include high-contrast-adjust;
						&::before {
							color: $background !important;
							@media #{$black-on-white} {
								color: $high-contrast-white-dark-magenta !important;
							}
							@media #{$white-on-black} {
								color: $high-contrast-black-cyan !important;
							}
						}
					}
				}
			}
		}
	}
}

@include theme(white-theme, $main, $light, $menu_hover);
@include theme(blue-theme, $light, $main, $light);
