<div id="{{ widgetId }}" class="vtr-widget-device-recover-bad-sectors">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="row title-box">
					<h2 id="{{ widgetId }}-title" role="heading" class="title">{{title}}</h2>
					<div class="title-question-mark">

						<!-- Ignoring the href property from narrator by using the role="img" atribute
							and passing the tooltip information with the [attr.aria-label] -->
						<vtr-ui-question-mark-button
							#tooltip="ngbTooltip"
							[componentId]="widgetId"
							ariaLabel="recover-bad-sectors-tooltip, which reads: {{description}}"
							(clickEvent)="tooltip.toggle()"
							(blurEvent)="tooltip.close()"
							triggers="manual"
							[ngbTooltip]="tooltipRef"
							tooltipClass="vtr-tooltip"
							placement="left"
							container="vtr-root">
						</vtr-ui-question-mark-button>
					</div>
				</div>
				<p id="{{ widgetId }}-description" role="text" class="description">{{'hardwareScan.recoverBadSectors.waitAvailability' | translate}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="button-row">
					<vtr-ui-button
						linkId="{{ widgetId }}-btn"
						metricsParent="HardwareScan"
						metricsItem="HardwareScan.RecoverBadSectors"
						[isFullWidth]="true"
						[label]="'hardwareScan.recoverBadSectors.title' | translate"
						[isDisabled]="disable"
						[tooltipText]="tooltipText"
						(onClick)="onRecoverBadSectors()">
					</vtr-ui-button>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #tooltipRef>
	<div id="{{ widgetId }}-tooltip-text">{{description}}</div>
</ng-template>
