@import "../../../styles/common-blocks";

.faq {
	@extend %common-block-wrapper;
	margin: $topIndent 0 7.6rem 0;
	padding: 3.6rem 4rem 4rem;
	letter-spacing: 0;

	&__head {
		display: flex;
		vertical-align: baseline;
		justify-content: space-between;
		margin: 0 0 2rem;
	}

	&__title {
		color: #194A65;
		font-size: 2.5rem;
		line-height: 2.9rem;
		font-weight: normal;
		max-width: 70%;
	}

	&__see-more-link {
		text-transform: uppercase;
		text-decoration: underline;
		color: #4A81FD;
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 2.9rem;
	}

	&__list {
		list-style: none;
		padding: 0;
		border: 1px solid #ECF0F1;
		border-radius: 0.5rem;
		background-color: rgba(236, 240, 241, 0.5);
		//box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
	}

	&__item {
		border-top: 1px solid #ECF0F1;
		cursor: pointer;

		&:first-child {
			border-top: none;
		}
	}

	&__item-top {
		display: flex;
		align-items: center;
	}

	&__item-title {
		color: #34495E;
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 1.8rem;
		padding: 1.8rem 4.2rem 1.5rem 2rem;
		position: relative;
		width: 100%;
		cursor: pointer;

		&:after {
			content: "";
			position: absolute;
			right: 1.5rem;
			top: 50%;
			transform: translateY(-50%) rotate(180deg);
			width: 1rem;
			height: 1.2rem;
			background: url("src/assets/icons/privacy-tab/icon-blue-arrow.svg") 0 0 no-repeat;
			background-size: contain;
		}

		&--icon-up {
			&:after {
				transform: translateY(-50%) rotate(0);
			}
		}
	}

	&__item-icon {
		color: #4A81FD;
		max-width: 2.2rem;
		margin-left: 1.8rem;
		font-size: 2.4rem;
		text-align: center;
	}

	&__item-description {
		background-color: #FEFEFE;
		padding: 1.8rem 4.2rem 1.8rem 2rem;
		font-size: 1.6rem;
		line-height: 2.2rem;
		cursor: default;
	}
}
