<div class="modal-main-wrapper">
	<ui-popover-turn-on id="closedialog" tabindex="1"
		attr.aria-label="{{ 'gaming.autoClose.modalTurnAutoClose.title' | translate }} window">
		<div class="modal-body vtr-modal-turn-on">
			<div class="modal-body">
				<div class="row justify-content-end">
					<div class="btn-close">
						<button type="button" class="close" aria-hidden="true" (click)="closeModal(false)"
							(keyup.enter)="closeModal(false)" tabindex="1" role="button" [attr.aria-label]="'gaming.autoClose.modalTurnAutoCloseNarrator.close' | translate">
							<fa-icon [icon]="['fal', 'times']"></fa-icon>
						</button>
					</div>
				</div>
				<div class="content-body">
					<h1>{{ 'gaming.autoClose.modalTurnAutoClose.title' | translate }}</h1>
					<p>{{ 'gaming.autoClose.modalTurnAutoClose.body' | translate }}</p>
				</div>
				<div class="check-asked">
					<label for="askedBox">
						<button class="ask-again" role="checkbox" [ngClass]="{'checked':isChecked}"
							[attr.aria-checked]="isChecked" (click)="setAksAgain($event)" tabindex="1"
							attr.aria-label="'gaming.autoClose.modalTurnAutoCloseNarrator.dontask' | translate"></button>
						<div class="status-text">{{ 'gaming.autoClose.modalTurnAutoClose.checkedTitle' | translate }}
						</div>
					</label>
				</div>
				<hr>
				<div class="row">
					<div>
						<button class="btn enable-button" (click)="turnOnAction(true)"
							(keyup.enter)="turnOnAction(true)" tabindex="1" role="button"
							[attr.aria-label]="'gaming.autoClose.modalTurnAutoCloseNarrator.turnOn' | translate">{{ 'gaming.autoClose.modalTurnAutoClose.btnConfirm' | translate}}</button>
							 <div class="nextbuton1">
						<a (click)="notNowAction($event)" (keyup.enter)="notNowAction($event)"
							class="cancel-link active" tabindex="1" role="button" (keydown)="keydownFn($event)"
							[attr.aria-label]="'gaming.autoClose.modalTurnAutoCloseNarrator.notNow' | translate">{{ 'gaming.autoClose.modalTurnAutoClose.btnCancel' | translate}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui-popover-turn-on>
</div>
