
<div class="modal-main-wrapper d-flex justify-content-center align-items-center">
	<ui-popover-turn-on class="gaming-popup-window" id="autoclose_turnon_dialog" tabindex="1"
		attr.aria-label="{{ 'gaming.autoClose.modalTurnAutoClose.title' | translate }} window">
		<div class="vtr-modal-turn-on-auto-close">
			<div class="modal-body">
					<div class="btn-close">
						<button type="button" class="close" (click)="closeModal(false)" id="autoclose_turnon_dialog_close"
							(keyup.enter)="closeModal(false)" tabindex="1" role="button" [attr.aria-label]="'gaming.autoClose.modalTurnAutoCloseNarrator.close' | translate">
							<fa-icon [icon]="['fal', 'times']"></fa-icon>
					</button>
					</div>
				 <div class="content-body">
					<h1 id="auto_close_turn_on_popup_header_text">{{ 'gaming.autoClose.modalTurnAutoClose.title' | translate }}</h1>
					<p role="text" id="auto_close_turn_on_popup_description">{{ 'gaming.autoClose.modalTurnAutoClose.body' | translate }}</p>
				</div>
				<div class="check-asked">
					<label for="askedBox">
						<button class="ask-again" role="checkbox" [ngClass]="{'checked':isChecked}"
							[attr.aria-checked]="isChecked" (click)="setAksAgain($event)" tabindex="1" id="autoclose_turnon_dialog_checkbox_Dont_ask_again"
							attr.aria-label="{{'gaming.autoClose.modalTurnAutoCloseNarrator.dontask' | translate}}"></button>
						<div class="status-text">{{ 'gaming.autoClose.modalTurnAutoClose.checkedTitle' | translate }}
						</div>
					</label>
				</div>
				<hr>
				<div class="row">
					<div class="action-container">
						<div>
						<vtr-ui-button [linkId]="'autoclose_turnon_dialog_turnon'" [tabIndex]="1"
							metricsEvent="featureClick" [metricsItem]="'autoclose_turn_on_button'"
							[ariaLabel]="'gaming.autoClose.modalTurnAutoCloseNarrator.turnOn' | translate"
							[label]="'gaming.autoClose.modalTurnAutoClose.btnConfirm' | translate" [btnHeight]=true [isGradient]=true
							(onClick)="turnOnAction(true)" (keyup.enter)="turnOnAction(true)">
						</vtr-ui-button>
						</div>
						<div>
						<a (click)="notNowAction($event)" (keyup.enter)="notNowAction($event)"  id="autoclose_turnon_dialog_notnow"
							class="cancel-link active" tabindex="1" role="button" (keydown)="keydownFn($event)"
							[attr.aria-label]="'gaming.autoClose.modalTurnAutoCloseNarrator.notNow' | translate">{{ 'gaming.autoClose.modalTurnAutoClose.btnCancel' | translate}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui-popover-turn-on>
</div>
