<div class="modal-main-wrapper" id="close" tabindex="1" >
  <ui-popover-turn-on>
    <div class="modal-body vtr-modal-turn-on">
      <div class="modal-body">
        <div class="row justify-content-end">
          <div class="btn-close">
            <button type="button" class="close" aria-hidden="true" (click)="closeModal(false)" aria-label="Close" tabindex="1" (keyup.enterv)="closeModal(false)">
              <fa-icon [icon]="['fal', 'times']"></fa-icon>
            </button>
          </div>
        </div>
        <div class="content-body">
          <h1>{{ 'gaming.autoClose.modalTurnAutoClose.title' | translate }}</h1>
          <p>{{ 'gaming.autoClose.modalTurnAutoClose.body' | translate }}</p>
        </div>
        <div class="check-asked">
          <label for="askedBox">
            <!-- <input type="checkbox" id="askedBox" (change)="setAksAgain($event)">
            <div class="status-check"></div> -->
            <button class="ask-again" [ngClass]="{'checked':isChecked}" tabindex="1" (click)="setAksAgainbtn()" aria-label = "Don't ask again"></button>
            <div class="status-text">{{ 'gaming.autoClose.modalTurnAutoClose.checkedTitle' | translate }}</div>
          </label>
        </div>
        <hr>
        <div class="row">
          <div>
            <button class="btn enable-button"
              (click)="turnOnAction(true)" tabindex="1" (keyup.enter)="turnOnAction(true)" aria-label="modal Turn AutoClose Confirm">{{ 'gaming.autoClose.modalTurnAutoClose.btnConfirm' | translate}}</button>
            <a (click)="notNowAction($event)"
              class="cancel-link active" tabindex="1" (keyup.enter)="notNowAction($event)" role="button" aria-label="modal Turn AutoClose Cancel" (keydown)="keydownFn($event)">{{ 'gaming.autoClose.modalTurnAutoClose.btnCancel' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </ui-popover-turn-on>
</div>
