<div class="vtr-ui-hyperlink-button">
	<div class="hyperlink-box"
		[ngClass]="{'disabled': isDisabled === true}">
		<button
			(click)="onClick()"
			[tabindex]="tabIndex ? tabIndex : 0"
			class="hyperlink-outline"
			[attr.role]="linkRole"
			[attr.id]="linkId"
			[vtrMetrics]="vtrMetricEnabled"
			[metricsEvent]="metricsEvent"
			[metricsParent]="metricsParent"
			[metricsItem]="metricsItem"
			[metricsItemID]="metricsItemID"
			[metricsItemPosition]="metricsItemPosition"
			[metricsItemCategory]="metricsItemCategory"
			[metricsPageNumber]="metricsPageNumber"
			[attr.aria-label]="ariaLabel"
			[ngbTooltip]="tooltipText" tooltipClass="vtr-system-tooltip" container="body"
			[disableTooltip]="disableTooltip">
			<div class="hyperlink-text-container">
				<span
				class="hyperlink {{hyperlinkStyle}}"
				[innerHTML]="label"
				[ngClass]="{
					'text-upper-case': upperCaseLabel === true,
					'text-capitalize': capitalizeLabel === true
				}">
				</span>
			</div>
			<fa-icon [icon]="faIcon" *ngIf="faIcon" class="icon {{faIconStyle}}"></fa-icon>
			<img [src]='imgIconSrc | svgInline | async' role="img" class="icon image-icon" *ngIf="imgIconSrc"/>
		</button>
	</div>
</div>
