@import "../../../app.theme.scss";

.vtr-widget-macrokey {
	color: $gaming_lightest;
	.intro-text {
		font-size: 1.6rem;
	}
	.macrokey-wrapper {
		margin-top: 1.4rem;
		.numbers-wrapper {
			float: left;
			width: 5rem;
		}
		.details-wrapper {
			width: calc(100% - 5rem);
			float: right;
			padding-left: 2rem;
		}
		&.numberpad {
			.numbers-wrapper {
				width: 17rem;
				@media #{$breakpoint_xl} {
					clear: both;
					width: 100%;
				}
				@media #{$breakpoint_lg} {
					clear: none;
					float: left;
					width: 17rem;
				}
				@media #{$breakpoint_md} {
					clear: both;
					width: 100%;
				}
			}
			.details-wrapper {
				width: calc(100% - 17rem);
				@media #{$breakpoint_xl} {
					clear: both;
					width: 100%;
					padding-left: 0;
				}
				@media #{$breakpoint_lg} {
					clear: none;
					width: calc(100% - 17rem);
					float: right;
					padding-left: 2rem;
				}
				@media #{$breakpoint_md} {
					clear: both;
					width: 100%;
					padding-left: 0;
				}
			}
		}
	}
	.widget-container {
		border-radius: $border_radius;
		background: $dark_cell;
		box-shadow: $drop_shadow_gaming;
		padding: 4rem;
		@media #{$breakpoint_sm} {
			padding: 2rem;
		}
	}
}

::ng-deep {
	.macrokey-status-wrapper {
		.select-wrapper {
			max-width: 40rem;
		}
	}
	.select-wrapper {
		background: $gaming_hover;
		@media #{$black-on-white} {
			border: 0.1rem solid $dark;
		}
		@media #{$white-on-black} {
			border: 0.1rem solid $light;
		}
		border-radius: 0.8rem;
		padding-bottom: 1.4rem;
		margin: 1rem 0;
		@media #{$mediaquery_xl} {
			width: auto;
		}
		.dropdown-toggle {
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			font-size: 1.6rem;
			color: $shade_light;
			margin-bottom: -1.2rem;
			margin-top: 1.2rem;
			padding-top: 1.2rem;
			span {
				padding-left: 1.2rem;
				color: $gaming_lightest;
				cursor: pointer;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.icon {
				position: relative;
				font-size: 2.2rem;
				padding-right: 1.2rem;
				top: 0rem !important;
			}
			&::after {
				display: none;
			}
		}

		.gaming-dropdown-menu {
			top: 5rem !important;
			li {
				a {
					height: auto !important;
					line-height: inherit !important;
					padding-top: 1.6rem;
					padding-bottom: 1.6rem;
					white-space: nowrap;
					.icon {
						top: 0px;
						bottom: 0px;
						height: 3rem;
						margin: auto;
					}
				}
			}
			.information {
				margin-bottom: 1.4rem !important;
			}
		}
	}

	.numberpad {
		ul {
			li {
				&:last-child {
					margin-left: 5.6rem;
					margin-right: 5.6rem;
				}
			}
		}
	}
}
