<div class="vtr-widget-macrokey">
	<div class="widget-container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<p class="intro-text">{{ 'gaming.macroKey.introLine' | translate }}</p>
				</div>
				<div class="col-12 macrokey-status-wrapper" *ngIf="isNumpad">
					<div class="select-wrapper">
						<vtr-ui-lighting-effect [tooltip_value]= "tooltips_value | translate" [isRecording]="isRecording" [options]="macroKeyOptions[0]" 
							[selectedValue]="macroKeyTypeStatus.MacroKeyStatus" (change)="optionChanged($event)" [tabindex]="1">
						</vtr-ui-lighting-effect>
					</div>
					
				</div>
				<div class="col-12">
					<div class="macrokey-wrapper" [ngClass]="{numberpad: isNumpad}">
						<div class="numbers-wrapper">
							<vtr-ui-number-button [numbers]="macroKeyRecordedStatus"
								(numberSelected)="onNumberSelected($event)" [isNumberpad]="isNumpad"
								[selectedNumber]="numberSelected" [recordingStatus]="isRecording">
							</vtr-ui-number-button>

						</div>
						<div class="details-wrapper">
							<vtr-ui-macrokey-details [number]="numberSelected" [isNumberpad]="isNumpad"
								[messageData]="macroKeyMessageData" (isRecording)="onRecordingChanged($event)"
								[keyData]="macroKeyInputData.macro" [recordingData]="macroKeyInputData.macro.inputs">
							</vtr-ui-macrokey-details>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
