@import "../../../app.theme.scss";

.vtr-widget-macrokey {
	color: $gaming_lightest;
	.intro-text {
		font-size: 1.6rem;
	}
	.macrokey-wrapper {
		margin-top: 1.4rem;
		.numbers-wrapper {
			float: left;
			width: 5rem;
		}
		.details-wrapper {
			width: calc(100% - 5rem);
			float: right;
			padding-left: 2rem;
		}
		&.numberpad {
			.numbers-wrapper {
				width: 17rem;
				@media #{$breakpoint_lg} {
					clear: none;
					float: left;
					width: 17rem;
				}
				@media #{$breakpoint_md} {
					clear: both;
					width: 100%;
				}
			}
			.details-wrapper {
				width: calc(100% - 17rem);
				@media #{$breakpoint_xl} {
					clear: both;
					width: 100%;
					padding-left: 0;
				}
				@media #{$breakpoint_lg} {
					clear: none;
					width: calc(100% - 17rem);
					float: right;
					padding-left: 2rem;
				}
				@media #{$breakpoint_md} {
					clear: both;
					width: 100%;
					padding-left: 0;
				}
			}
		}
	}
	.widget-container {
		border-radius: $border_radius;
		background: $gaming_darkest;
		box-shadow: $drop_shadow_gaming;
		padding: 4rem;
		@media #{$breakpoint_sm} {
			padding: 2rem;
		}
	}
}

::ng-deep {
	vtr-page-macrokey {
		ngb-tooltip-window.tooltip {
			.arrow {
				height: 0.5rem;
				&::before {
					top: 0px;
					border-width: 1.2rem 1.2rem 0;
					border-top-color: $gaming_lightest;
				}
			}
			.tooltip-inner {
				text-align: center;
				background-color: $light;
				border-radius: 0.4rem;
				font-size: 1.4rem;
				color: $gaming_dark;
			}
		
		}
	}
	.macrokey-status-wrapper {
		.select-wrapper {
			max-width: 55rem;
		}
	}
	.select-wrapper {
		@media #{$black-on-white} {
			border: 0.1rem solid $dark;
		}
		@media #{$white-on-black} {
			border: 0.1rem solid $light;
		}
		margin: 1rem 0;
		@media #{$breakpoint_xl} {
			width: auto;
		}

		.gaming-dropdown-menu {
			max-height: 35rem;
			overflow: auto !important;
		}
	}

	.numberpad {
		ul {
			li {
				&:last-child {
					margin-left: 5.6rem;
					margin-right: 5.6rem;
				}
			}
		}
	}
}
