@import '../../../app.theme.scss';

.vtr-modal-update-change-log  {

	padding: 1rem 0 0;
	display: flex;
	flex-flow: column;
	height: calc(100vh - 5.5rem);
	box-sizing: border-box;

	.article-content{
		width: 100%;
		padding-right: 4rem;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.article-body {
		padding-bottom: 4rem;
		margin-left: 2rem;
	}

	.iframe-content{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.article-frame{
		width: 100% !important;
		height: 100% !important;
		border: none;
	}

	fa-icon {
		font-size: 2rem;
		color: $main;
	}

	h1 {
		font-size: 3.1rem;
		font-weight: normal;
		color: $blue-dark;
		margin-bottom: 3rem;
		margin-left: 2rem;
		margin-top: 2rem;
	}

	img,
	iframe {
		max-width: 100%;
		margin-bottom: 3rem;
	}
}

.close-btn {
	position: absolute;
	right: 2rem;
	top: 2rem;
	width: 2.2rem;
	height: 2.2rem;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}

	img {
		width: 100%;
		height: 100%;
	}
}

:host ::ng-deep {
	pre {
		// font-family: "Segoe UI", Sans-serif;
		font-size: 1.8rem;
		color: $main_dark;
		word-wrap: break-word;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		width: 100%;
		overflow-x: hidden;
	}

	.spinner-content {
		width: 100%;
		height: calc(83vh - 1rem);
		display: flex;
		justify-content: center;
		align-items: center;

		.spinner-border {
			width: 5rem !important;
			height: 5rem !important;
			padding: 5rem;
			margin-bottom: 6rem;
		}
	}
}
