<div class="modal-body vtr-modal-update-change-log">
	<div role="button" class="close-btn" aria-hidden="true"
				vtrMetrics
				metricsItem="{{updateModalMetrics.closeButton}}"
				metricsEvent="FeatureClick"
				metricsParent="{{updateModalMetrics.pageName}}"
				(click)="closeModal()">
		<img [src]=" '/assets/icons/Close.svg' | svgInline | async" alt="" srcset=""/>
	</div>
	<h1>{{'systemUpdates.readMore' | translate}}</h1>
	<div class="iframe-content">
			<iframe id="modal-update-change-log-iframe" class="article-frame" [src]="url | sanitize : 'resourceUrl'"
			attr.sandbox="allow-scripts allow-same-origin allow-popups allow-forms"
			width="100%" height="100%" ></iframe>
		</div>
</div>
