<div class="row">
    <div class="col">
        <h1>{{'common.menu.device.sub2' | translate}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 px-0 pb-20 pt-0">
        <vtr-container-card [img]="cardContentPositionA.FeatureImage" [itemID]="cardContentPositionA.Id"
            [caption]="cardContentPositionA.Description" [title]="cardContentPositionA.Title"
            [logoText]="cardContentPositionA.BrandName" [action]="cardContentPositionA.Action"
            [actionType]="cardContentPositionA.ActionType" [actionLink]="cardContentPositionA.ActionLink"
            [type]="'corner-article'" [ratioX]="4" [ratioY]="2" order="3" sideFlag='r' [cornerShift]="'large'"
            id="device-settings-container-card"
            attr.aria-label="device-settings-container-card-{{cardContentPositionA.Title}}" role="link"
            [containerCardId]="'device-settings-container-card'">
        </vtr-container-card>
    </div>
</div> 