@import '../../../../../app.theme.scss';
.vtr-modal-chs-start-trial-container {
	.close-btn {
		width: 2.2rem;
		height: 2.2rem;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
    .modal-header {
		border: none;
		padding-top: 2rem;
		padding-right: 2rem;
    }
    .page {
		margin: 0 4rem 4rem 4rem;
		border-bottom: none;
		color: $main_dark;
        .description {
            font-size: $fontsize_xl;
            font-weight: $weight_bold;
            letter-spacing: 0;
		}
		.sub-desc {
            font-size: 1.8rem;
			margin-bottom: 2rem;
			::ng-deep .button {
				font-size: 2rem;
			}
		}
		::ng-deep {
			.button-box {
				@media #{$mediaquery_7} {
					margin-top: 0;
				}
			}
		}
		&.page-one {
			.countdown {
				border-bottom: 0.1rem solid $grey_light;
				span {
					font-size: 5rem;
				}
			}
			.btn_cancel {
				background: $light;
				font-size: 1.5rem;
				font-weight: $weight_bold;
				color: $blueHyperLink;
				border-bottom: 0.1rem solid $blueHyperLink;
				height: 3rem;
				&:hover {
					color: $blue-light;
				}
			}
		}
		&.page-two {
			.btn-group {
				border-top: 0.1rem solid $shade_extralight;
			}
		}
		&.page-three {
			.loadingIcon {
				color: $blue-light;
				width: 6rem;
				height: 6rem;
				border-width: 0.5rem;
			}
			.loading-text {
				font-size: 2rem;
			}
		}
		.cancel-button {
			background: $light;
			color: $blue-lighter;
			border-bottom: 1px solid $blue-light;
			height: 3rem;
			padding-left: 0;
			padding-right: 0;
			border-radius: 0;
			font-size: 1.5rem;
			color: $light;
			font-weight: $weight_bold;
			margin: 0 1rem 0 2rem;
			&:hover {
				color: $blue-light;
			}
		}
    }

}
