<div class="vtr-widget-system-update">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="title"
					id="widget-system-update-title"
					attr.aria-label="{{title}}"
					role="text">{{title}}</div>
				<div class="description"
					id="widget-system-update-description"
					attr.aria-label="{{subtitle}}"
					[dir]="'dir' | translate"
					[innerHTML]="subtitle"></div>
				<div class="button-box">
					<vtr-ui-button linkId="btn-check-for-system-updates"
						metricsEvent="FeatureClick"
						metricsItem="CheckForSystemUpdatesButton"
						buttonColor="gray"
						[isFullWidth]="true"
						(onClick)="gotoAndCheckSystemUpdate()"
						[label]="'dashboard.systemUpdate.checkForSystemUpdates' | translate"></vtr-ui-button>
				</div>
			</div>
		</div>
	</div>
</div>