@import "../../../app.theme";

.vtr-widget-carousel {
	box-shadow: $drop_shadow;
	border-radius: $border_radius;
	position: relative;
	overflow: hidden;
	&::after {
		content: "";
		background: rgba(0, 0, 0, 0.4);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		border-radius: $border_radius;
		z-index: 0;
	}

	.carousel-link {
		display: block;
	}

	a.no-link {
		cursor: default;
		pointer-events: none;
	}

	.default-cursor {
		cursor: default;
	}

	.carousel-caption {
		position: absolute;
		top: 0;
		left: 0;
		padding: 2.5rem;
		right: 0 !important;
		text-align: left;
		z-index: 1;

		.title {
			padding: 0;
			font-size: 2.4rem;//3rem
			color: $light;
			text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
			//max-width: 60%;
			/*@media #{$mediaquery_X31} {
				max-width: 80%;
				font-size: 2.4rem;
			}*/
		}

		.source {
			padding: 0;
			color: $light;
			text-shadow: 0.2rem 0.2rem 0.2rem $shade_extradark;
			font-size: 2rem;//1.4rem
			font-weight: $weight_medium;
			text-transform: uppercase;
		}
	}

	.image {
		border-radius: $border_radius;
		width: 100%;
		background-size: cover;
		background-position: center center;
	}
}

// DEEP SELECTOR REQUIRED FOR NESTED COMPONENT STYLING
::ng-deep {
	.vtr-widget-carousel {
		.carousel {
			// &:focus {
			// 	outline: none;
			// }
			.carousel-inner {
				overflow: inherit;
			}

			.carousel-control-prev,
			.carousel-control-next {
				width: 5%;
			}
		}
	}
}
