<div class="vtr-widget-carousel"
	(swipeleft)="swipe($event.type)"
	(swiperight)="swipe($event.type)" #containerSarousel>
	<ngb-carousel tabindex="0"
		*ngIf="carouselModel"
		[attr.aria-label]="'dashboard.heroBanner' | translate"
		(keyup)="onCarouselKeyUp($event)"
		(slide)="onCarouselSlideChange($event)"
		[showNavigationArrows]="carouselModel.length>1"
		[showNavigationIndicators]="carouselModel.length>1">
		<ng-template *ngFor="let model of carouselModel let cIndex = index"
			ngbSlide
			[id]="slideIdFormat+cIndex">
			<a [href]="model.link"
				tabindex="-1"
				vtrMetrics
				id="{{carouselId}}-{{cIndex}}"
				metricsEvent="articleclick"
				[metricsItemID]="model.id"
				[metricsItemPosition]="''+order"
				[metricsPageNumber]="'' + cIndex + 1"
				[metricsParam]="model.dataSource"
				target="_blank"
				rel="noopener"
				class="carousel-link"
				[ngClass]="{'no-link': !model.link}"
				(click)="linkClicked($event, model.linkType, model.link, model.cardTitle)">
				<div class="image img-fluid"
					[class.overlay-dark]="model.overlayThemeDark"
					[style.backgroundImage]="'url(' + model.image + ')'"></div>
				<div class="carousel-caption">
					<h3 class="source text-three-ellipsis"
						[innerHTML]="model.source"
						id="{{carouselId}}-{{cIndex}}-source"
						[ngbTooltip]="model.source | htmlText"
						tooltipClass="vtr-system-tooltip"
						container="body"
						#tipCarouselSource = "ngbTooltip"
						(mouseenter)="closeTipTimeout(tipCarouselSource)"
						></h3>
					<h2 class="title"
						[innerHTML]="model.cardTitle"
						id="{{carouselId}}-{{cIndex}}-title"
						[ngbTooltip]="model.cardTitle | htmlText"
						tooltipClass="vtr-system-tooltip"
						container="body"
						#tipCarouselTitle = "ngbTooltip"
						(mouseenter)="closeTipTimeout(tipCarouselTitle)"
						></h2>
				</div>
			</a>
		</ng-template>
	</ngb-carousel>
</div>
