<div class="vtr-widget-carousel"
	#carouselContainer
	[style.height.px]="carouselContainer.clientWidth * 340 / 944">
	<ngb-carousel tabindex="-1"
		*ngIf="carouselModel"
		[showNavigationArrows]="carouselModel.length>1"
		[showNavigationIndicators]="carouselModel.length>1">
		<ng-template *ngFor="let model of carouselModel let cIndex = index"
			ngbSlide
			id="ngb-slide-{{cIndex}}">
			<a [href]="model.link"
				tabindex="0"
				vtrMetrics
				id="{{carouselId}}-{{cIndex}}"
				metricsEvent="articleclick"
				[metricsItemID]="model.id"
				[metricsItemPosition]="order"
				[metricsParent]="'dashboard'"
				[metricsPageNumber]="cIndex + 1"
				[metricsParam]="model.dataSource"
				target="_blank"
				rel="noopener"
				class="carousel-link"
				[ngClass]="{'no-link': !model.link}"
				(click)="linkClicked($event, model.linkType, model.link)">
				<div class="image img-fluid"
					[class.overlay-dark]="model.overlayThemeDark"
					[style.backgroundImage]="'url(' + model.image + ')'"
					[style.height.px]="carouselContainer.clientWidth * 340 / 944"></div>
				<div class="carousel-caption">
					<h3 class="source"
						attr.aria-label={{model.source}}
						[title]="model.source | htmlText"
						[innerHTML]="model.source"
						id="{{carouselId}}-{{cIndex}}-source"></h3>
					<h2 class="title"
						attr.aria-label={{model.cardTitle}}
						[title]="model.cardTitle | htmlText"
						[innerHTML]="model.cardTitle"
						id="{{carouselId}}-{{cIndex}}-title"></h2>
				</div>
			</a>
		</ng-template>
	</ngb-carousel>
</div>
