@import "../../app.theme";

.article-item {
	box-shadow: $drop_shadow;
	border-radius: $border_radius;
	background-color: $light;
	position: relative;
	overflow: hidden;

	.container-fluid {
		height: 100%;

		.row {
			height: 100%;
			position: relative;
		}
	}

	a {
		cursor: pointer;
	}

	.content {
		position: relative;
		z-index: 1;
		width: 100%;
		padding: 32 / 420 * 100% 40 / 430 * 100% 0;
		height: 40%;

		.title {
			color: $main_dark;
			font-size: 2.3rem;
			height: 7rem;
			width: 100%;
			display: block;
			font-weight: $weight_light;
			@media #{$mediaquery_10} {
				font-size: 2rem;
				height: 6.1rem;
			}
			@media #{$mediaquery_X6} {
				font-size: 1.6rem;
				height: 4.9rem;
			}
			@media #{$mediaquery_X3} {
				font-size: 1.4rem;
				height: 4.3rem;
			}
		}

		.description {
			color: $main_dark;
			font-size: 1.1rem;
		}

		.caption {
			color: $main_shade;
			font-size: 2.2rem;
		}

		.logo-text {
			position: absolute;
			top: 109 / 160 * 100%;
			left: 0;
			width: 100%;
			padding: 0 40 / 430 * 100%;
			font-size: 1.1rem;
			font-weight: $weight_medium;
			text-transform: uppercase;
			color: #bcc0ce;
		}

		.read-more {
			position: absolute;
			top: 116 / 182 * 100%;
			left: 40 / 430 * 100%;
			font-size: 1.3rem;
			font-weight: $weight_medium;
			cursor: pointer;
			text-transform: uppercase;

			a {
				color: $main;

				&:hover {
					text-decoration: none;

					.link-label {
						border-bottom: .2rem solid transparent;
					}
				}

				.link-label {
					padding-bottom: .2rem;
					border-bottom: .2rem solid $main;
				}

				fa-icon {
					color: $main;
					margin-left: 1rem;
				}
			}
		}
	}

	.image {
		position: relative;
		z-index: 0;
		height: 238 / 420 * 100%;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		display: block;

		.bottomright {

			position: absolute;
			bottom: 0;
			right: 0;

			&.large {
				bottom: -8rem;
				right: -8rem;
			}

		}

		.logo {
			position: absolute;
			display: flex;
			align-items: center;
			left: 20 / 430 * 100%;
			bottom: 20 / 238 * 100%;

			.img {
				color: $alt;
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				overflow: hidden;
				display: inline-block;

				img {
					width: 100%;
					height: 100%;
				}
			}

			.text {
				color: $alt;
				font-size: 1.4em;
				padding-left: 0.7rem;
				display: inline-block;
				font-weight: $weight_bold;
				position: relative;
			}
		}
	}

	&.item-no-title {
		border-radius: $border_radius;

		.image {
			height: 100%;
		}
	}

	&.item-no-img {
		border-radius: $border_radius;

		.content {
			height: 100%;
		}
	}
}
