<li class="pt-3 user-defined-key-block"
	*ngIf="hasUDKCapability">
	<vtr-ui-row-switch [title]="'device.deviceSettings.inputAccessories.userDefinedKey.title' | translate"
		componentName="User defined key"
		[caption]="'device.deviceSettings.inputAccessories.userDefinedKey.caption' | translate"
		[leftIcon]="['icomoon', 'icomoon-star']"
		[showChildContent]="true"
		[theme]="'white'"
		[tooltipText]="'device.deviceSettings.inputAccessories.userDefinedKey.tooltip' | translate"
		[switchId]="'ds-ip-userdefined-key'">
		<div class="row">
			<div class="col-md-10 col-sm-12 col-lg-10 pt-5">
				<div class="row">
					<div class="col-auto pl-0">
						<img class="img-fluid"
							src="../../../../../../assets/images/F12-key.PNG">
						<!-- <p class="pressf12"
							style="text-align: center">press F12</p> -->
					</div>
					<div class="inputSection">
						<form name="udkBack"
							validate>

							<div class="col">
								<div class="btn-group btn-block dropdown-left"
									ngbDropdown
									placement="bottom">
									<button [ngClass]="['btn','btn-outline-shadow']"
										ngbDropdownToggle
										type="button"
										id="ip-userdefinedkey-dropdown-btn"
										attr.aria-label="ip-userdefinedkey-dropdown-btn">
										<div class="row d-flex justify-content-between">
											<div class="col-11 col-sm-10 pl-1 pr-0">
												<div class="select-title"
													id="ip-userdefinedkey-dropdown-title"
													attr.aria-label="ip-userdefinedkey-dropdown-title">
													{{'device.deviceSettings.inputAccessories.userDefinedKey.dropDown.title' | translate}}
												</div>

												<div class="select-text text-left"
													id="userdefinedkey-selected-text"
													attr.aria-label="userdefinedkey-selected-text">
													{{selectedValue.title | translate}}
												</div>
											</div>
											<div class="col-1 pl-0 pr-1">
												<div class="dropdown-icon">
													<fa-icon [icon]="['fas', 'chevron-down']">
													</fa-icon>
												</div>
											</div>
										</div>
									</button>
									<div ngbDropdownMenu
										aria-labelledby="">
										<a [ngClass]="['dropdown-item']"
											*ngFor="let item of userDefinedKeyOptions, let i=index"
											id="userdefinedkey-{{i}}"
											attr.aria-label="userdefinedkey-{{i}}"
											(click)="onChange(item)">{{item.title | translate}}
										</a>
									</div>
								</div>
							</div>

							<div class="col"
								*ngIf="selectedValue.value == 1 && !hideApplyForDefault">
							</div>
							<div class="col"
								*ngIf="selectedValue.value == 2">
								<form #form1="ngForm"
									novalidate
									(ngSubmit)="udkSubmit(2)">
									<div class="row no-gutters">
										<div class="input-group mt-3">
											<label id="ip-webseiteurl"
												attr.aria-label="ip-webseiteurl">{{'device.deviceSettings.inputAccessories.userDefinedKey.website.url' | translate}}</label>
											<textarea class="form-control"
												[(ngModel)]="url"
												name="url"
												required
												[pattern]="hyperLinkPatterns"></textarea>
										</div>
										<div class="col-12">
											<button type="submit"
												class="button"
												[ngClass]="{'submittedButton':udkFormSubmitted, 'button':!udkFormSubmitted}"
												[disabled]="form1.invalid || udkFormSubmitted"
												title="{{'device.deviceSettings.inputAccessories.userDefinedKey.apply.title' | translate}}"
												id="ip-userdefined-key-applybtn"
												attr.aria-label="ip-userdefined-key-applybtn">
												{{'device.deviceSettings.inputAccessories.userDefinedKey.apply.title' | translate}}

											</button>
										</div>
									</div>
								</form>
							</div>


							<div class="col"
								*ngIf="selectedValue.value == 3">
								<div class="note align-items-center"
									id="ip-accesories-note"
									attr.aria-label="ip-accesories-note">
									{{'device.deviceSettings.inputAccessories.userDefinedKey.dropDown.note' | translate}}
								</div>
							</div>

							<div class="col"
								*ngIf="selectedValue.value == 3">

								<form #form2="ngForm"
									novalidate
									(ngSubmit)="udkSubmit(3)">
									<div class="row no-gutters">
										<div class="input-group mt-3">
											<label id="ip-texttobe-entered"
												attr.aria-label="ip-texttobe-entered">{{'device.deviceSettings.inputAccessories.userDefinedKey.enterText.title' | translate}}</label>
											<textarea class="form-control"
												[(ngModel)]="description"
												name="description"
												(keydown)="onKeydown($event)"
												required></textarea>
										</div>
										<div class="col-12">
											<button id="ip-userdefined-key-applybtn"
												attr.aria-label="ip-userdefined-key-applybtn"
												type="submit"
												class="button"
												[ngClass]="{'submittedButton':udkFormSubmitted, 'button':!udkFormSubmitted}"
												[disabled]="form2.invalid || udkFormSubmitted"
												title="{{'device.deviceSettings.inputAccessories.userDefinedKey.apply.title' | translate}}">
												{{'device.deviceSettings.inputAccessories.userDefinedKey.apply.title' | translate}}

											</button>
										</div>
									</div>
								</form>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</vtr-ui-row-switch>
</li>
