<div class="subpage-device-settings-input-accessories vtr-subpage">
	<div class="row">
		<div class="col">
			<vtr-ui-header-subpage [title]="title | translate"
				[caption]="'device.deviceSettings.inputAccessories.description' | translate">
			</vtr-ui-header-subpage>
		</div>
	</div>

	<div class="row py-5 smartsettings-card"
		id="Input & Accessories">
		<div class="col-10 mx-auto ">
			<!-- Input & Accessories -->
			<vtr-container-collapsible
				[cardTitle]="'device.deviceSettings.inputAccessories.inputAccessory.title' | translate"
				componentName="Input & Accessories"
				[isCollapsed]="false"
				[allowCollapse]="true"
				[theme]="'white'">
				<ul class="list-group list-group-flush">
					<li class="pt-3" *ngIf="machineType == 1 && keyboardCompatability">
						<vtr-ui-row-switch
							[title]="'device.deviceSettings.inputAccessories.inputAccessory.hiddenKeyboardFunctions.title' | translate"
							componentName="Input Accessories"
							[caption]=""
							[isSwitchVisible]="false"
							[leftIcon]="['fal', 'keyboard']"
							[readMoreText]="''"
							[showChildContent]="true"
							[theme]="'white'">
							<div class="row">
								<div class="col d-flex justify-content-between col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<p class="hidden-keyboard-text">
										{{'device.deviceSettings.inputAccessories.inputAccessory.hiddenKeyboardFunctions.description' | translate}}
										<!-- <span class="ml-2 text-primary"><u>read more</u></span> -->
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<!-- <img src="../../../../../../assets/icons/Hidden keyboard functions.svg" alt="">-->
									<div class="img-preview" [ngStyle]="{ 'background-image': 'url(' + image + ')'}">										 
										 <div class="img-preview" [style.background-image]="additionalCapabilitiesObj.privacy ? 'url(' + privacyIcon + ')': ''">										 
											<div class="img-preview"  [style.background-image]="additionalCapabilitiesObj.backLight ? 'url(' + kbdBlIcon + ')': ''">
												<div class="img-preview" [style.background-image]="additionalCapabilitiesObj.magnifier ? 'url(' + merlynIcon + ')': ''">
													<img *ngIf="additionalCapabilitiesObj.performane" [src]="zoomIcon" class="image"/>		   
												   </div>
											   </div>
											</div>
										
										</div>
								</div>
							</div>
							<div class="row keys-row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex"
									*ngFor="let key of shortcutKeys">								
									<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 pl-1">
										<h4 class="mb-0 caption-tittle">
											{{key + '.tittle' | translate}}
										</h4>
									</div>
									<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
										<p class="hidden-keyboard-text mb-0">
											{{key + '.description' | translate}}
										</p>
									</div>
								</div>
							</div>
						</vtr-ui-row-switch>
					</li>

					<li class="pt-3 user-defined-key-block">
						<vtr-ui-row-switch [title]="'device.deviceSettings.inputAccessories.userDefinedKey.title' | translate"
							componentName="User defined key"
							[caption]="'device.deviceSettings.inputAccessories.userDefinedKey.caption' | translate"
							[leftIcon]="['fal', 'gem']" [rightIcon]="['far', 'question-circle']" [showChildContent]="true"
							[theme]="'white'">
							<div class="row">
								<div class="col-md-10 col-sm-12 col-lg-10 pt-5">
									<div class="row">
										<div class="col-auto pl-0">
											<img class="img-fluid" src="../../../../../../assets/images/F12-key.PNG">
										</div>
											<div class="inputSection">
													<div class="col">
														<div class="btn-group btn-block dropdown-left" ngbDropdown
															placement="bottom">
															<button
																[ngClass]="['btn','btn-outline-shadow']"
																ngbDropdownToggle type="button">
																<div class="row d-flex justify-content-between">
																	<div class="col-auto pl-1 pr-1">
																		<div class="select-title">
																			{{'device.deviceSettings.inputAccessories.userDefinedKey.dropDown.title' | translate}}
																		</div>

																		<div class="select-text text-left">
																			{{selectedValue.title}}
																		</div>
																	</div>
																	<div class="col-auto pl-0 pr-1">
																		<div class="dropdown-icon">
																			<fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
																		</div>
																	</div>
																</div>
															</button>
															<div ngbDropdownMenu aria-labelledby="">
																<a [ngClass]="['dropdown-item']"
																	*ngFor="let item of userDefinedKeyOptions"
																	(click)="onChange(item)"
																	 >{{item.title}}</a>
															</div>
														</div>
													</div>

															<div class="col" *ngIf = "selectedValue.value == 2">
																<textarea placeholder="WEBSITE URL"></textarea>
															</div>

																<div class="col" *ngIf = "selectedValue.value == 3">
																		<div class="note align-items-center">
																				{{'device.deviceSettings.inputAccessories.userDefinedKey.dropDown.note' | translate}}
																		</div>
																</div>


															<div class="col" *ngIf = "selectedValue.value == 3">
																<textarea placeholder="TEXT TO BE ENETERED"></textarea>
															</div>

											</div>
										</div>
								</div>
							</div>
						</vtr-ui-row-switch>
					</li>
				</ul>
			</vtr-container-collapsible>
		</div>
	</div>
</div>
