@import "../../../../../app.theme.scss";

// TODO: remove below line in 3.2
$fontsize_xs: 1.4rem;

.subpage-device-settings-input-accessories {
	ul.list-group {
		list-style-type: none;
		padding-bottom: 1rem;
	}

	.hidden-keyboard-text {
		font-size: $fontsize_xs;
		font-weight: $weight_light;
		color: $grey_dark;
	}

	.keys-row {
		margin-top: 1.3rem;
		margin-left: 1.4rem;

		.caption-tittle {
			color: $grey_dark;
			font-weight: $weight_bold;
			font-size: $fontsize_xs;
			line-height: 2.8rem;
		}
	}

	.img-preview {
		background-size: 100% 100%;
		width: 100%;
		min-height: 33vh;
		height: auto;
		margin-top: 1rem;
		margin-left: 1rem;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.toggle-icon {
		fa-icon {
			color: #4579f0;
			font-size: 2rem;
		}
	}

	.udk-caption {
		font-size: 1.5rem;
		color: $main_darker;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.inputSection {
		margin-top: 0.3rem;
		width: 75%;
		@media #{$mediaquery_X28} {
			margin-top: 1rem;
		}
		@media #{$mediaquery_X26} {
			width: 72%;
		}
		@media #{$mediaquery_X27} {
			width: 64%;
		}

		.dropdown-toggle::after {
			display: none;
		}

		.select-title {
			font-size: 1.2rem;
			font-weight: $weight_medium;
			text-transform: uppercase;
			color: $shade;
			letter-spacing: 0;
			line-height: 13px;
		}

		.select-text {
			color: $shade_darker;
			font-size: 1.6rem;
			font-weight: $weight_light;
		}

		.button {
			text-transform: uppercase;
			height: 5rem;
			line-height: 5rem;
			border: none;
			border-radius: 10rem;
			background: $gradient_main;
			padding: 0 3rem;
			color: $light;
			font-size: 1.5rem;
			letter-spacing: 0.1rem;
			font-weight: $weight_600;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			cursor: pointer;
			-webkit-appearance: initial;
			max-width: 26rem;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			margin-top: 2rem;

			&:disabled {
				opacity: 0.5;
			}
		}

		.btn-block {
			button {
				padding: 0.5rem 1rem;
				height: 7rem;

				&.btn-outline-shadow {
					border: 1px solid $shade_lighter;
					border-radius: $border_radius_sm;
					background-color: $light;
					box-shadow: $drop_shadow;
				}

				.dropdown-icon {
					fa-icon {
						font-size: 2rem;
						color: $main;
					}
				}
			}
		}

		.dropdown-item {
			font-size: 1.6rem;

			&:hover {
				background: $main_lightest;
			}

			&.disabled {
				background: $shade_lightest;
				color: $shade;
			}
		}

		.btn:focus,
		.btn:active {
			outline: none !important;
		}

		.dropdown-menu {
			width: 100%;
			padding: 2rem 0rem;
		}

		.dropdown .dropdown-menu:not(.show) {
			display: none;
		}

		.dropdown dropdown-menu.show {
			display: block;
		}

		textarea {
			margin-top: 1rem;
			border: 1px solid $shade_lighter;
			border-radius: $border_radius_sm;
			background-color: $light;
			box-shadow: $drop_shadow;
			font-size: 1.2rem;

			padding: 1rem;
			width: 100%;

			&:hover {
				outline: $dark;
			}

			&::placeholder {
				color: $shade_light;
				font-weight: $weight_medium;
			}
		}

		.note {
			border: 1px solid #ecf0f1;
			border-radius: 0.5rem;
			background-color: #f5f7f8;
			padding: 1rem;
			font-size: 1.6rem;
			margin-top: 1rem;
		}

		.user-defined-key-block {
			::ng-deep .vtr-ui-switch-row .white-theme {
				border-bottom: none !important;
			}
		}
	}

	.pressf12 {
		text-align: center;
		font-size: 12px;
	}

	div {
		cursor: default;
	}

	.control-options-block {
		margin-top: 1rem;
		margin-bottom: 2rem;
		p {
			color: $main_darker;
			font-weight: $weight_bold;
			font-size: 1.4rem;
			margin-bottom: 0;
		}

		.controls {
			color: $main;
			font-size: 1.3rem;
			font-weight: $weight_bold;
			padding-top: 0.5rem;

			a {
				&:hover {
					text-decoration: none;
					color: $main;
				}

				span {
					padding-bottom: .2rem;
					border-bottom: .2rem solid $main;
				}
			}
		}
	}

	.feature-note {
		background-color: $grey_lighter;
		border:  0.1rem solid $note_border;
		width: 100%;
		p {
			font-size: $fontsize_xs;
			color: $shade_blue;
		}
		&.note {
			margin-top: 1rem;
			margin-left: 2rem;
		}
	}

	.img-block {
		padding-left: 2.4rem;
	}
}

.voip {
	.caption,
	.prompting,
	.app-text {
		font-size: 1.75rem;
		font-weight: 300;
	}

	.adjust-indent {
		margin-left: -15px;
	}

	.adjust-margin {
		margin-left: 4rem !important;
		padding-left: 0;
	}
}

.app-icon {
	display: inline-block;
	width: 5rem;
	height: 5rem;
	vertical-align: middle;

	&.icon-s4b {
		background: url('src/assets/images/S4B_2016.png') center/cover;
	}
	&.icon-teams {
		background: url('src/assets/images/Microsoft_Teams_1.0.png') center/cover;
	}
}

:host ::ng-deep {
	vtr-ui-rectangle-radio {
		.label {
			word-wrap: normal;
			word-break: normal!important;
		}
		.app-icon {
			display: inline-block;
			position: absolute;
			bottom: 1.5rem;
			right: 1.5rem;
			width: 4rem;
			height: 4rem;

			&.icon-s4b {
				background: url('src/assets/images/S4B_2016.png') center/cover;
			}
			&.icon-teams {
				background: url('src/assets/images/Microsoft_Teams_1.0.png') center/cover;
			}
		}
	}
}
