@import "../../../../../app.theme.scss";

.subpage-device-settings-input-accessories {
	ul.list-group {
		list-style-type: none;
		padding-bottom: 1rem;
	}
	.hidden-keyboard-text {
		font-size: 1.5rem;
		color: $main_darker;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.keys-row{
		margin-top: 13px;

	.caption-tittle{
		color: #667481;
		font-weight: bold;
		font-size: 14px;
	}
}
	.img-preview {
		background-size: 100% 100%;
		width: 100%;
		min-height: 33vh;
		 height: auto;
		margin-top: 1rem;
		img{
			width: 100%;
			height: 100%;
		}
}
.toggle-icon {
	fa-icon {
		color: #4579f0;
		font-size: 2rem;
	}
}

.inputSection {
	margin-top: 0.3rem;
	width: 75%;
	@media #{$mediaquery_X28} {
		margin-top: 1rem;
	}
	@media #{$mediaquery_X26} {
		width: 72%;
	}
	@media #{$mediaquery_X27} {
		width: 64%;
	}

	.dropdown-toggle::after {
		display: none;
	}
	.select-title {
		font-size: 1.2rem;
		font-weight: $weight_bold;
		text-transform: uppercase;
		color: $shade;
		letter-spacing: 0;
		line-height: 13px;
	}
	.select-text {
		color: $shade_darker;
		font-size: 1.6rem;
		font-weight: $weight_light;
	}
	.btn-block {
		button {
			padding: 0.5rem 1rem;
			height: 7rem;
			&.btn-outline-shadow {
				border: 1px solid $shade_lighter;
				border-radius: $border_radius_sm;
				background-color: $light;
				box-shadow: $drop_shadow;
			}
			.dropdown-icon {
				fa-icon {
					font-size: 2rem;
					color: $main;
				}
			}
		}
	}
	.dropdown-item {
		font-size: 1.6rem;
		&:hover {
			background: $main_lightest;
		}
		&.disabled {
			background: $shade_lightest;
			color: $shade;
		}
	}

	.btn:focus,
	.btn:active {
		outline: none !important;
	}

	.dropdown-menu {
		width: 100%;
		padding: 2rem 0rem;
	}

	.dropdown .dropdown-menu:not(.show) {
		display: none;
	}

	.dropdown dropdown-menu.show {
		display: block;
	}

	textarea{
		margin-top: 1rem;
		border: 1px solid $shade_lighter;
		border-radius: $border_radius_sm;
		background-color: $light;
		box-shadow: $drop_shadow;
		font-size: 1.6rem;
		padding: 1rem;
		width: 100%;
		&:hover{
			outline: $dark;
		}
		&::placeholder {
			color: $shade_light;
			font-weight: $weight_medium;
		}
	}
	.note {
		border: 1px solid #ECF0F1;
		border-radius: 0.5rem;
		background-color: #F5F7F8;
		padding: 1rem;
		font-size: 1.6rem;
		margin-top: 1rem;
	}
	.user-defined-key-block {
		::ng-deep .vtr-ui-switch-row .white-theme {
			border-bottom: none !important;
		}
	}
}
}
.pressf12 {
	text-align: center;
	font-size: 12px;

}
