@import "../../../app.theme";

:host-context(.is-gaming) {
	.container-card {
		box-shadow: $drop_shadow_gaming;
		background-color: transparent;
		.card-image {
			background-color: $gaming_lightest;
		}
	}
}
