<vtr-common-popup popUpId="support-popup" size="big">
	<h3>How can we help you?</h3>
	<ng-template>
		<div class="support-popup" data-analyticsName="Home.HelpPopup">
			<p class="support-popup__text">Make sure your question relates to the support you choose.</p>
			<div class="support-popup__row">
				<div class="support-popup__col support-popup__col--bottom-indent">
					<figure class="support-popup__image support-popup__image--green">
						<svg class="support-popup__img" width="76" height="68" viewBox="0 0 90 100" version="1.1"
							 xmlns="http://www.w3.org/2000/svg"><title>Support_icon_green</title>
							<g id="Privacy-Tab-2.1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g id="Support-Popup" transform="translate(-540.000000, -288.000000)" fill="#5AC462">
									<g id="Group-19" transform="translate(370.000000, 100.000000)">
										<g id="Group-15" transform="translate(40.000000, 149.000000)">
											<g id="Support_icon_green" transform="translate(130.000000, 39.000000)">
												<path
													d="M18,67 C17.8824067,52.8301701 17.8824067,41.4968367 18,33 C17.8236101,22.2461847 27.6069259,7.84122772 45,8 C61.6586209,7.84122772 72.278141,21.5060071 72,33 C72.278141,44.2478207 72.278141,55.7912766 72,67 C72.278141,82.1772156 60.8423678,91.8447343 49,92 C48.8316013,90.5971164 48.768839,89.2872522 48.8117129,88.0704075 C48.8505903,86.9665313 47.9872519,86.0401339 46.8833764,86.0012402 C46.8599111,86.0004135 46.836433,86 46.8129532,86 L43,86 C41.8954305,86 41,86.8954305 41,88 C41,92 41,96 41,100 C44.1179095,100 46.1795626,100 49,100 C60.373016,100 80,91.3733012 80,67 C80,41.9393807 80,58.0983174 80,36 C80,13.6228496 61.7369293,1.42108547e-14 45,1.42108547e-14 C27.5286175,1.42108547e-14 10,13.6228496 10,36 C10,50.7322116 10,61.065545 10,67 L18,67 Z"
													id="Path-3"></path>
												<path
													d="M10,42 L18,42 L18,68 L10,68 C4.4771525,68 6.76353751e-16,63.5228475 0,58 L0,52 C-6.76353751e-16,46.4771525 4.4771525,42 10,42 Z"
													id="Rectangle"></path>
												<path
													d="M82,41 L90,41 L90,67 L82,67 C76.4771525,67 72,62.5228475 72,57 L72,51 C72,45.4771525 76.4771525,41 82,41 Z"
													id="Rectangle-Copy"
													transform="translate(81.000000, 54.000000) scale(-1, -1) translate(-81.000000, -54.000000) "></path>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
						<figcaption class="support-popup__image-description">Privacy Support</figcaption>
					</figure>
					<ul class="support-popup__list">
						<li class="support-popup__list-item">Ask any privacy related questions</li>
						<li class="support-popup__list-item">Report privacy related issues</li>
						<li class="support-popup__list-item">Get help with Lenovo Privacy Essentials by FigLeaf</li>
						<li class="support-popup__list-item">24/7 support</li>
					</ul>
					<div class="support-popup__buttons">
						<button class="support-popup__button"
								type="button"
								vtrSendAnalytics
								vtrOfflineMode
								[metricsEvent]="'ItemClick'"
								[metricsItem]="'GetPrivacySupportButton '"
								(click)="openFigleafSupport()">
							Get Privacy Support
						</button>
					</div>
				</div>
				<div class="support-popup__col support-popup__col--bottom-indent">
					<figure class="support-popup__image">
						<svg class="support-popup__img" width="76" height="68" viewBox="0 0 90 100"
							 xmlns="http://www.w3.org/2000/svg">
							<path
								d="M80 40c5.523 0 10 4.477 10 10v6c0 5.523-4.477 10-10 10v1c0 24.373-19.627 33-31 33h-8V88a2 2 0 0 1 2-2h3.813a2 2 0 0 1 1.999 2.07c-.043 1.217.02 2.527.188 3.93 11.842-.155 23.278-9.823 23-25l.024-1H72V40h.137A699.25 699.25 0 0 0 72 33c.278-11.494-10.341-25.159-27-25-17.393-.159-27.176 14.246-27 25-.034 2.434-.058 5.1-.072 8H18v26h-8C4.477 67 0 62.523 0 57v-6c0-5.523 4.477-10 10-10v-5C10 13.623 27.529 0 45 0c16.737 0 35 13.623 35 36v4z"
								fill="#4A81FD" fill-rule="evenodd"/>
						</svg>
						<figcaption class="support-popup__image-description">PC Technical Support</figcaption>
					</figure>
					<ul class="support-popup__list">
						<li class="support-popup__list-item">Ask any PC related questions</li>
						<li class="support-popup__list-item">Report PC related issues</li>
						<li class="support-popup__list-item">Get help with PC issues</li>
						<li class="support-popup__list-item">Online support</li>
					</ul>
					<div class="support-popup__buttons">
						<button class="support-popup__button"
								type="button"
								vtrSendAnalytics
								vtrOfflineMode
								[metricsEvent]="'ItemClick'"
								[metricsItem]="'GetTechnicalSupportButton'"
								(click)="openLenovoSupport()">
							Get Technical Support
						</button>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</vtr-common-popup>
