@import "../../../app.theme";

/*
* UI Spec link
* https://xd.adobe.com/spec/4dd677d9-0bab-4b71-46f7-ac1f2efe0878-3be7/screen/b2046b82-01ad-465f-b000-572df2e3b668/Selectors/
*/

.vtr-ui-rounded-rectangle-custom-radio-list {
	$radio-gutter: 0.8rem;
	$radio-width: 25rem;
	$radio-height: 5rem;
	$radio-border: 0.1rem;
	$radio-indicator-size: 2rem;
	$radio-indicator-inner-size: 1.4rem;
	$radio-text-height: 2rem;
	$radio-indicator-top-position: (($radio-height / 2) - ($radio-indicator-size / 2));
	$radio-text-padding-top: (($radio-height / 2) - $radio-text-height) + $radio-gutter;
	$radio-text-left-position: $radio-indicator-top-position + $radio-indicator-size + 0.8;
	$radio-indicator-inner-position: ($radio-gutter / 2) + $radio-indicator-inner-size;
	$radio-unselected-box-shadow: 0 0 0 0.1rem $grey_light;
	$radio-selected-box-shadow: 0 0 0 0.2rem $grey_dark;
	$radio-focus-box-shadow: 0 0 0 0.2rem $grey_dark, 0 0 0 0.4rem $light, 0 0 0 0.5rem $menu_hover;

	// margin: $radio-gutter;

	// display radio buttons in row manner
	.horizontal {
		display: flex;
		flex-direction: row;
	}

	// display radio buttons in row manner. for camera blur
	.vertical {
		display: flex;
		flex-direction: column;
	}

	.radio-group {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		outline: 0;

		[role="radio"] {
			margin: $radio-gutter;
			position: relative;
			padding-top: $radio-text-padding-top + 0.1;
			padding-left: $radio-text-left-position;
			box-shadow: $radio-unselected-box-shadow;
			background: $grey_lighter;
			width: $radio-width;
			min-width: $radio-width - 10;
			height: $radio-height;
			border-radius: 20rem;
			cursor: pointer;
			outline: none;
			font-size: $base;
			color: $grey_darker;

			// common style for indicator and indicator outer side
			&::before,
			&::after {
				display: block;
				position: absolute;
				border-radius: 50%;
				content: "";
			}

			&::before {
				top: $radio-indicator-top-position;
				left: $radio-indicator-top-position;
				width: $radio-indicator-size;
				height: $radio-indicator-size;
				border: $radio-border solid $grey_dark;
				background: $light;
			}

			&:hover {
				box-shadow: $radio-selected-box-shadow;
				&::before {
					border-color: $menu_hover;
				}
			}

			&:focus {
				box-shadow: $radio-focus-box-shadow;

				&::before {
					border-color: $menu_hover;
				}
			}

			&:active {
				box-shadow: $radio-unselected-box-shadow;
				background: $grey_light;

				&::before {
					border-color: $grey_darker;
				}
			}

			&[aria-disabled="true"] {
				background: $grey_lighter;
				opacity: 0.6;
				pointer-events: none;

				&:hover {
					box-shadow: $radio-unselected-box-shadow;
				}

				&::before {
					border-color: $grey_darker;
				}
			}
		}

		[role="radio"][aria-checked="true"] {
			box-shadow: $radio-selected-box-shadow;
			&:focus {
				box-shadow: $radio-focus-box-shadow;
			}
			&:active {
				box-shadow: $radio-selected-box-shadow;

				&::before {
					border-color: $grey_darker;
				}
				&::after {
					background-color: $grey_darker;
				}
			}
			&::after {
				top: $radio-indicator-inner-position;
				left: $radio-indicator-inner-position;
				background-color: $menu_hover;
				width: $radio-indicator-inner-size;
				height: $radio-indicator-inner-size;
				content: "";
			}
			&[aria-disabled="true"] {
				background: $grey_lighter;
				opacity: 0.6;
				pointer-events: none;

				&::after {
					background-color: $grey_darker;
				}
			}
		}
	}
}
