<div class="vtr-widget-mcafee-metric" [ngClass]="{'m-top': showMetricButton}">
  <div class="d-flex align-items-center justify-content-center">
      <div class="icon-check flex-shrink-0">
            <fa-icon [icon]="['fas', 'check']"></fa-icon>
      </div>
      <div class="title px-0">{{'security.antivirus.mcafee.report' | translate}}</div>
  </div>
  <div class="divider"></div>
  <div>
      <div *ngIf="showMetricButton" class="row inner no-gutters">
        <img class="logo col-2"
        [src]=" 'assets/icons/SecurityAdvisor/Files_Scanned.svg' | svgInline | async" />
        <div class="height-line"></div>
        <div class="col-8 row justify-content-center align-items-center">
          <vtr-ui-button
              linkId="sa-av-button-startFileScan"
              metricsEvent="itemClick"
              metricsItem="startFileScan"
              metricsParent="security.antivirus"
              upperCaseLabel=false
              btnHeight=true
              [label]="'security.antivirus.mcafee.startFileScan' | translate"
              (onClick)="common.launch()"></vtr-ui-button>
        </div>
      </div>
      <div *ngIf="!showMetricButton" class="row">
        <div class="row inner no-gutters col-12 col-md-6 col-lg-12" *ngFor="let item of scanData; let i = index">
            <img class="logo col-2"
            [src]=" item.icon | svgInline | async" />
            <div class="height-line"></div>
            <div class="col-8 align-self-center">
                <div class="number" [innerHTML]="metricsList[i]"></div>
                <div class="subtitle" [innerHTML]="item.name | translate"></div>
            </div>
        </div>
      </div>
  </div>
</div>
