@import './../../../app.theme';

@mixin theme($name, $background, $foreground) {
	.vtr-ui-circle-radio-with-checkbox.#{$name} {
		margin-right: 1.5rem;
		.checkbox {

			position: relative;
			height: 12rem;
			width: 14rem;
		}

		.checkbox-custom {
			opacity: 0;
			position: absolute;
		}

		.checkbox-custom+.checkbox-custom-label>.icomoon {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 3rem;
			transform: translate(-50%, -50%);
			margin: 0;
			@media #{$black-on-white} {
				//background: $highlight_bright;
			}
			@media #{$white-on-black} {
				//background: darkviolet;
			}

		}

		.checkbox-custom+.checkbox-custom-label>.icomoon::before {
			color: $background;
		}

		.checkbox-custom:checked+.checkbox-custom-label>.icomoon::before {
			color: $foreground;

		}


		.checkbox-custom+.checkbox-custom-label {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $foreground;
			border: 0.1rem solid $background;
			display: inline-block;
			vertical-align: middle;
			width: 6rem;
			height: 6rem;
			border-radius: 50%;
		}


		.title {
			position: absolute;
			//bottom: 4px;
			top:80%;
			left: 0;
			right: 0;
			font-weight: $weight_bold;
			font-size: $caption;
			color: $shade_light;
			//top: 75px;
			// white-space: nowrap;
		}

		.checkbox-custom:checked+.checkbox-custom-label {
			background-color: $background;
			@media #{$white-on-black}{
				background-color: $highlight_bright;;

			}
			@media #{$black-on-white}{
				background-color:$high-contrast-white-textselected;
			}

		}


		.check-circle{
			position: absolute;
			right: -2.5rem;
			top: 0.5rem;
			color: $light;
			font-size: 2rem;
			@media #{$black-on-white} {
				//border: 0.1rem solid $dark;
				color:$light;
			}
			@media #{$white-on-black} {
				//border: 0.1rem solid $light;
				color:$dark;
			}


		}

		.icon-circle{
			position: absolute;
			right: -2.5rem;
			top: 0.5rem;
			color: $main;
			font-size: 2rem;
			@media #{$black-on-white} {
				color: $dark;

			}
			@media #{$white-on-black} {
				color: $light;

	}
		}
	}
}

@include theme(white-theme, $main, $light);
@include theme(blue-theme, $light, $main);
