<div class="vtr-hardware-components">
	<div class="row">
		<div class="col col-12">
			<vtr-hardware-scan-header-pages
				[percent]="progress"
				[disableButtonScan]="startScanClicked || isRefreshClicked"
				(checkCancel)="onCancelScan()"
				[disableCancel]="isDisableCancel()"
				(checkAnchor)="startScanWaitingModules(taskTypeEnum.CustomScan)"
				(startQuickScan)="startScanWaitingModules(taskTypeEnum.QuickScan)"
				(scanAgain)="scanAgain()"
				[completed]="completedStatus"
				[deviceInRecover]="deviceInRecover"
				itemParentCancel="{{itemParentCancelScan}}"
				itemNameCancel= "{{itemNameCancelScan}}">
			</vtr-hardware-scan-header-pages>
		</div>
	</div>

	<div class="mb-5 body-content">
		<div class="row px-0">
			<div class="col-12 header">
				<h2 id="hwscan-components-title" role="heading" class="heading2">{{getComponentsTitle()}}</h2>
				<vtr-ui-hyperlink-button class="refresh-button"
					linkId="hwscan-refresh-modules-btn"
					linkRole="button"
					*ngIf="!isRefreshingModules() && !isScanExecuting() && !isRecoverExecuting()"
					hyperlinkStyle="xs-300-blue-lighter"
					metricsEvent="FeatureClick"
					metricsParent="HardwareScan"
					metricsItem="HardwareScan.RefreshModules"
				 	[disableTooltip]="true"
				 	[isDisabled]="disableRefreshAnchor()"
				 	[faIcon]="['fal', 'redo']"
					[label]="'hardwareScan.refreshModule' | translate"
					(hyperlinkClick)="refreshModules()">
				</vtr-ui-hyperlink-button>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col">
				<div class="hardware-lists-container">
					<vtr-widget-hardware-scan-item
						*ngIf="!isRefreshingModules()"
						[items]="modules"
						[resultCodeText]="'hardwareScan.resultCode' | translate"
						[isScanExecute]="isScanExecuting()"
						[isRecoverExecute]="isRecoverExecuting()"
						[isEnableViewResults]="getEnableViewResults()">
					</vtr-widget-hardware-scan-item>

					<div class="loading-components" *ngIf="isRefreshingModules() && !isRecoverExecuting()">
						<fa-icon id="hwscan-refresh-modules-spinner" role="img" placement="auto" [spin]="true" [icon]="['fal', 'circle-notch']" container="vtr-root">
						</fa-icon>
					</div>

					<div id="hwscan-refresh-modules-message" role="text" class="refresh-message" *ngIf="isRefreshingModules() && !isRecoverExecuting()" aria-live="polite">
						{{ 'hardwareScan.refreshMessage' | translate }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
