<div class="vtr-hardware-components">
	<div class="row">
		<div class="col col-12">
			<vtr-widget-hardware-scan *ngIf="!isScanDone" [title]="getDeviceTitle()"
				[subTitle]="getDeviceSubTitle()" [buttonText]="'hardwareScan.quickScan' | translate"
				[anchorText]="'hardwareScan.customize.name' | translate" [percent]="progress"
				[finalResultCodeText]="'hardwareScan.finalResultCode' | translate"
				[disableQuickScan]="startScanClicked"
				[disableCancel]="isDisableCancel()"
				[lenovoSupport]="'hardwareScan.support.subtitle' | translate"
				[offlineText]="'dashboard.offlineInfo.title' | translate" [isOnline]="isOnline"
				[showProgress]="isScanExecuting() || isRecoverExecuting()" (startQuickScan)="startScanWaitingModules(taskTypeEnum.QuickScan)"
				(checkCancel)="onCancelScan()" (checkAnchor)="startScanWaitingModules(taskTypeEnum.CustomScan)" [statusText]="finalStatusToken()"
				itemParentCancel="{{itemParentCancelScan}}"
				itemNameCancel= "{{itemNameCancelScan}}">
			</vtr-widget-hardware-scan>
		</div>
	</div>

	<div class="hardware-scan-items">
		<div class="row">
			<div class="col-12 px-0">
				<div class="header">
					<div
						[ngClass]="{'heading1': !isScanExecuting() || isRecoverExecuting(), 'heading2': isScanExecuting() && !isRecoverExecuting()}">
						{{getComponentsTitle()}}</div>
					<a class="action-anchor" (click)="isScanExecuting() ? onViewResults() : onViewResultsRecover()"
						*ngIf="getEnableViewResults()" [routerLink]="viewResultsPath"
						routerLinkActive="active"
						vtrMetrics
						metricsEvent="FeatureClick"
						metricsParent="{{itemParentSummary}}"
						metricsItem="{{itemNameSummary}}">{{'hardwareScan.viewResults' | translate}}
					</a>

					<a class="refresh-button"
						*ngIf="!isRefreshingModules() && !isScanExecuting() && !isRecoverExecuting()"
						vtrMetrics
						metricsEvent="FeatureClick"
						metricsParent="HardwareScan"
						metricsItem="HardwareScan.RefreshModules"
						[title]="'hardwareScan.reminderTimeRetrieveHardwareInformation' | translate"
						[ngClass]="{'action-anchor': !startScanClicked, 'disabled-anchor': startScanClicked}"
						(click)="refreshModules()">{{'hardwareScan.refreshModule' | translate}}
						<fa-icon class="refresh-icon"
							placement="auto"
							[icon]="['fal', 'redo']"
							container="body">
						</fa-icon>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="hardware-lists-container">
					<vtr-ui-hardware-list *ngIf="!isRefreshingModules() && !isScanExecuting() && !isRecoverExecuting()"
						[items]="getItemToDisplay()">
					</vtr-ui-hardware-list>

					<div class="loading-components" *ngIf="isRefreshingModules() && !isRecoverExecuting()">
						<fa-icon placement="auto" spin="true" [icon]="['fal', 'circle-notch']" container="body">
						</fa-icon>
					</div>

					<vtr-widget-hardware-scan-item *ngIf="isScanExecuting()" [items]="modules"
						[resultCodeText]="'hardwareScan.resultCode' | translate"
						[lenovoSupport]="'hardwareScan.support.subtitle' | translate"
						[isLoadingDone]="isLoadingDone()">
					</vtr-widget-hardware-scan-item>

					<vtr-ui-hardware-list *ngIf="isRecoverExecuting() && !isScanExecuting()"
						[items]="devicesRecoverBadSectors">
					</vtr-ui-hardware-list>
				</div>
			</div>
		</div>
	</div>
</div>
