@import "../../../../app.theme";

.modal-body {
	padding: 0 5rem 3rem 5rem;
}

.close-button {
	fa-icon {
		font-size: $fontsize_xl;
		color: $main;
		margin-right: 0.5rem;
	}
}

.test {
	font-size: 5rem;
}

.user-submit {
	font-size: $fontsize_lg;
	padding: 1rem 3rem;
	border-radius: 5rem;
}

input {
	margin: 0.4rem;
}

.warning {
	color: $alt;
	font-size: $fontsize_xs;
}

.radiobtn {
	display: block;
	position: relative;
	padding-left: 5rem;
	cursor: pointer;
	font-size: $fontsize_xl;
	text-transform: capitalize;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-right: 10rem;
}

.radiobtn input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 10%;
	left: 0%;
	height: 3rem;
	width: 3rem;
	background-color: white;
	border-radius: 50%;
	border-style: solid;
	border-width: 0.2rem;
	border-color: #2e62d9;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.radiobtn input:checked ~ .checkmark:after {
	display: block;
}

.radiobtn .checkmark:after {
	width: 75%;
	height: 75%;
	left: 13%;
	top: 14%;
	border-radius: 50%;
	background: #2e62d9;
}

.time {
	display: flex;
	align-items: center;
}

.subname {
	padding: 1rem 0;
	font-size: $fontsize_xs2;
	text-align: left;
	color: $shade;
	font-weight: $weight_medium;
}

.radiobutton {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.recurrence {
	color: black;
	font-size: $fontsize_xl2;
	font-weight: 400;
	text-align: left;
}

.calendar {
	border: 0;
	color: $main;
	font-size: $fontsize_xl;
	font-weight: $weight_medium;
	text-align: left;
	outline: none !important;

	&:hover {
		background: none;
	}
}

.calendar-text {
	&:read-only {
		padding: 0 3rem;
		outline: none;
		margin-left: 1rem;
		border-color: $shade;
		height: 7rem;
		font-size: $fontsize_lg;
		font-weight: 200;
		color: black;
		border: #b8b8b8;
		border-radius: 8px;
		box-shadow: 0 0 2.2rem #b8b8b8;
		background-color: $light;
	}
}

.date-assets {
	display: flex;
	align-items: center;
	justify-content: left;
}

.action-anchor {
	font-size: $fontsize_sm;
	font-weight: $weight_bold;
	color: $shade_light;
	border-bottom: 0.2rem solid $main_gstart;
	margin-left: 2.5rem;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		border: none;
	}
}

.buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}

:host ::ng-deep .dropdown-menu.show {
    width: auto;
    height: auto;
    font-size: x-small;
}

//:host ::ng-deep .ngb-dp-header {}
//:host ::ng-deep .ngb-dp-months {}
:host ::ng-deep .ngb-dp-day {
    width: 4.4rem;
    height: 3rem;
    font-size: x-small;
    cursor: default;
}

:host ::ng-deep .ngb-dp-week-number {
    width: 4.4rem;
    height: 3rem;
    font-size: x-small;
}

:host ::ng-deep .ngb-dp-weekday {
    width: 4.4rem;
    height: 3rem;
    font-size: x-small;
}

:host ::ng-deep .custom-select {
    flex: 1 1 auto;
    /* padding: 0 .5rem; */
    font-size: $fontsize_xs;
    height: auto;
}

:host ::ng-deep .btn-light {
    width: 4rem;
    font-size: 1rem;
    cursor: pointer;
}

