<div class="subpage-device-settings-dpm vtr-subpage" >
	<div class="row">
		<div class="col">
			<vtr-ui-header-subpage [title]="'device.deviceSettings.power.dpm.title' | translate"
				[caption]="'device.deviceSettings.power.dpm.description' | translate"
				[textId]="'myDevice-settings-dpm'">
			</vtr-ui-header-subpage>
		</div>
	</div>
	<div class="row" *ngIf="!isLoading">
		<div class="col">
			<div class="row py-5 smartsettings-card" id="display">
				<div class="col-12 mx-auto  container-card">
					<vtr-container-collapsible [cardTitle]="'device.deviceSettings.power.dpm.subtitle' | translate"
						[tabIndex]="0" [vtrAppSearchScroller]="['search-airplane-mode', 'search-charge-threshold']"
						[allowCollapse]="true" [isCollapsed]="false"
						[collapseLinkId]="'device-settings-batterySettings'">
						<div class="dpmpowersetting">
							<vtr-power-use></vtr-power-use>
							<hr />
							<vtr-power-plan></vtr-power-plan>
							<hr />
							<vtr-power-settings></vtr-power-settings>
						</div>
					</vtr-container-collapsible>

				</div>
			</div>
		</div>
	</div>
	<div class="spinner-content w-100 text-center" *ngIf="isLoading">
		<div class="spinner-border text-primary progress-spinner" role="status"></div>
	</div>
</div>
