<div class="vtr-recover-bad-sectors mb-5">
	<div class="container">
		<div class="row">
			<div class="col-12 px-0">
				<div class="header">
					<div id="hwscan-rbs-title" role="heading" class="heading1">{{title}}</div>
				</div>
			</div>
		</div>

		<div class="row loading-components" *ngIf="!devices">
			<fa-icon id="hwscan-loading-rbs-devices-spinner" role="img" placement="auto" [spin]="true" [icon]="['fal', 'circle-notch']" container="body"></fa-icon>
		</div>

		<div class="row" *ngIf="devices">
			<div id="hwscan-rbs-error-message" role="text" class="errorMessage">{{ errorMessage }}</div>
			<div class="col-12 px-0">
				<vtr-ui-hardware-list-checkbox
					[componentId]="'hwscan-rbs-devices'"
					[devices]="devices">
				</vtr-ui-hardware-list-checkbox>
			</div>
		</div>

		<div class="row" *ngIf="devices">
			<div class="button-row">
				<vtr-ui-button
					id="hwscan-start-rbs-btn"
					[isDisabled]="!isSelectedItem()"
					metricsEvent="ItemClick"
					metricsParent="HardwareScan.RecoverBadSectors"
					metricsItem="RecoverBadSectors.RunRecoverBadSectors"
					[label]= " 'hardwareScan.recoverBadSectors.title' | translate "
					(onClick)="startRecover()">
				</vtr-ui-button>
			</div>
		</div>
	</div>
</div>
