@import "../../../../../app.theme";

.vtr-recover-bad-sectors {
	background-color: $light;
	border-radius: $border_radius;
	@include high-contrast-border;

	.container {
		padding: 2.4rem;
		margin: 0;
		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.heading1 {
				color: $main_darker;
				font-size: $fontsize_xl;
				text-transform: capitalize;
			}
			.action-anchor {
				font-size: $fontsize_xs2;
				color: $main;
				text-decoration: underline;
				cursor: pointer;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.text-regular {
			color: $main_shade;
			font-size: $fontsize_xs;
			font-weight: $weight_light;
			padding: 1rem 1rem 1rem 0rem;
		}

		.hardware-lists-container {
			.heading {
				color: $main_dark;
				font-size: $fontsize_xl;
			}
		}

		.row-seperator {
			width: 100%;
			height: 0.2rem;
			background-color: $shade_lightest;
		}

		fa-icon {
			font-size: $fontsize_xl4;
			color: $main;
		}

		.loading-components {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 4rem 0;

			fa-icon {
				font-size: 6.5rem;
				color: $main;
			}
		}

		.button-row {
			::ng-deep .vtr-ui-button {
				.button-box {
					padding-left: 0;
				}
			}
		}

		.errorMessage {
			width: 100%;
			color: $alt;
			font-size: $fontsize_xs;
			font-weight: $weight_medium;
			margin-left: 2.5rem;
		}
	}
}
