@mixin href($color: #4A81FD, $colorHover: darken(#4A81FD, 5%), $colorActive: darken(#4A81FD, 15%), $colorVisited: #4A81FD, $colorDisable: #808B95) {
	color: $color;

	&:visited {
		color: $colorVisited;
	}
	&:link {
		color: $color;
	}
	&:hover {
		color: $colorHover;
	}
	&:active {
		color: $colorActive;
	}
	&:disabled {
		color: $colorDisable
	}
}
