// abstract fonts classes
@import "fonts";
@import "mixins";

$topIndent: -4rem;

%common-block-wrapper {
	background: #fff;
	border-radius: 1rem;
	padding: 3.5rem 4rem 4rem;
	box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
}

%subtitle {
	font-size: $subtitle;
	color: #34495E;
	font-weight: 300;
	line-height: 4.2rem;
}

%text-common {
	font-size: $text-block;
	color: #667481;
	font-weight: 400;
	line-height: 2.3rem;
}

%theme-btn {
	text-decoration: none;
	border: none;
	outline: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	padding: 1.5rem 4rem;
	min-width: 18rem;
	max-width: 100%;
	background: linear-gradient(270deg, #346CEF 0%, #2955BC 100%);
	background-size: 100% auto;
	transition: background-size .3s linear;
	border-radius: 3rem;
	font-size: 1.6rem;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 0.1rem;
	text-align: center;
	position: relative;

	@media (max-width: 1200px) {
		padding: 1.5rem 1rem;
	}

	&:hover {
		background: #2955BC;
	}

	&:focus {
		background: #346CEF;
	}

	&:focus::after {
		content: '';
		display: block;
		position: absolute;
		left: -0.4rem;
		top: -0.4rem;
		border-radius: 500px;
		width: calc(100% + 0.8rem);
		height: calc(100% + 0.8rem);
		border: thin solid #4A81FD;
	}

	&--transparent {
		background: #FDFDFD;
		border: 1px solid #667481;
		color: #34495E;

		&:hover {
			background: #F5F7F8;
		}

		&:focus {
			background: #FFFFFF;
		}
	}

	&--white {
		background: #FFFFFF;
		border: none;
		color: #4A81FD;
		box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);

		&:focus,
		&:hover {
			color: darken(#4A81FD, 10%);
			border-color: darken(#4A81FD, 10%);
		}
	}

	&--grey {
		border: 1px solid #ECF0F1;
		background: linear-gradient(270deg, #FBFCFC 0%, #F5F7F8 100%);
		color: #34495E;

		&:focus,
		&:hover {
			color: darken(#ECF0F1, 10%);
			border-color: darken(#ECF0F1, 10%);
		}
	}
}

%button-link {
	outline: none;
	text-decoration: none;
	background: none;
	border: none;
	padding: 0 2.5rem 0 0;
	margin: 0;
	letter-spacing: 0.1rem;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.5rem;
	position: relative;

	@include href(#346CEF, #2955BC, #4A81FD);

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -0.1rem;
		transform: translateY(-50%) rotate(180deg);
		transform-origin: 50% 50%;
		right: 0;
		width: 1.4rem;
		height: 0.8rem;
		background: url("src/assets/icons/privacy-tab/icon-blue-arrow.svg") center no-repeat;
		background-size: contain;
	}

	&:hover {
		&:before {
			background-image: url("/assets/icons/privacy-tab/icon-blue-arrow-hover.svg");
		}
	}

	&:active {
		&:before {
			background-image: url("/assets/icons/privacy-tab/icon-blue-arrow-active.svg");
		}
	}

	&__text {
		text-decoration: none;
		border-bottom: 1px solid;
		font-weight: bold;
		&:before {
			width: 0;
			height: 0;
			display: none;
		}
	}

	&--padding-0 {
		padding: 0;
	}

	&--clear-text {
		padding-right: 1rem;
		&:before {
			width: 0;
			height: 0;
			display: none;
		}
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--to-right {
		text-transform: uppercase;
		font-weight: bold;
		&:before {
			transform: translateY(-50%) rotate(0deg);
			width: 1.4rem;
			height: 1.4rem;
			background-image: url("src/assets/icons/privacy-tab/blue-arrow-right-long.svg");
		}

		&:hover {
			color: #FFFFFF;
			&:before {
				background-image: url("/assets/icons/privacy-tab/blue-arrow-right-long-hover.svg");
			}
		}

		&:active {
			color: #FFFFFF;
			&:before {
				background-image: url("/assets/icons/privacy-tab/blue-arrow-right-long-active.svg");
			}
		}
	}

	&--to-right-white {
		&:before {
			transform: translateY(-50%) rotate(0deg);
			width: 1.4rem;
			height: 1.4rem;
			background-image: url("src/assets/icons/privacy-tab/white-arrow-right-long.svg");
		}

		&:hover {
			&:before {
				background-image: url("/assets/icons/privacy-tab/white-arrow-right-long.svg");
			}
		}

		&:active {
			&:before {
				background-image: url("/assets/icons/privacy-tab/white-arrow-right-long.svg");
			}
		}
	}

	&--open {
		&:before {
			transform: translateY(-50%) rotate(0deg);
		}
	}

	&--disabled {
		color: #C2C9CF;
		cursor: default;
		text-transform: initial;

		&:disabled {
			color: #C2C9CF;
			&:before {
				background-image: url("src/assets/icons/privacy-tab/icon-grey-arrow.svg");
				transform: translateY(-50%) rotate(0deg);
				background-size: cover;
			}
		}
	}
}

%button-text {
	min-width: 9rem;
	margin-top: 4rem;
	border: none;
	background: inherit;
	text-transform: uppercase;
	color: #667481;
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: 0.7px;
	line-height: 13px;
	text-align: center;
}
