.offline-image-overlay {
	position: relative;
	border-radius: 1rem 1rem 0 0;
	overflow: hidden;
	&:hover {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(0, 0, 0, 0.30);
		}
		&:after {
			content: 'Connect to the internet to use this feature';
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			padding: 1rem 2rem 1.3rem 2rem;
			color: #fff;
			font-size: 1.6rem;
			width: 100%;
			background: rgba(0, 0, 0, 0.20);
		}
	}
}
