<div class="offline-widget">
	<div class="offline-widget__inner">
		<div>
			<img class="offline-widget__main-image"
				 [src]="'/assets/images/privacy-tab/offline-widget/offline-mode.png'"
				 [srcset]="'/assets/images/privacy-tab/offline-widget/offline-mode@2x.png 2x'"
				 alt="offline-mode">
		</div>
		<div class="offline-widget__text-block">
			<h3 class="offline-widget__title">Application is offline</h3>
			<div class="offline-widget__text">
				Connect to the internet to access all features of Lenovo Vantage
			</div>
		</div>
	</div>
</div>
