@import "../../../app.theme";

.vtr-modal-hardware-scan-customize {
	@include high-contrast-border;

	fa-icon {
		font-size: $fontsize_xl;
		color: $main;
	}

	.modal-information {
		// padding: 0 2rem 0 2rem;

		.title {
			width: 100%;
			font-size: $fontsize_xl;
			font-weight: $weight_light;
			color: $shade_blue;
		}

		.description {
			width: 100%;
			color: $shade-darker;
			font-size: $fontsize_xs2;
			font-weight: $weight_light;
		}

		.errorMessage {
			width: 100%;
			color: $alt;
			font-size: $fontsize_xs;
			font-weight: $weight_medium;
		}
	}

	.button-row {
		padding-top: 1rem;
		::ng-deep .vtr-ui-button .button-box{
			padding-left: 0;
		}
	}

	.close-btn {
		position: absolute;
		right: 2.3rem;
		top: 2.4rem;
		width: 2rem;
		height: 2rem;
	}
}

.modal-body {
	padding: 2.4rem;
}
