@import "../../../styles/common-blocks";

.low-privacy {
	&__title {
		font-size: 2.5rem;
		line-height: 2.9rem;
		color: #194A65;
		margin: 0 0 2rem;
	}

	&__text {
		font-size: 1.5rem;
		font-weight: 300;
		color: #667481;
		line-height: 2.3rem;

		strong {
			font-weight: bold;
		}
	}

	&__desribe-wrapper {
		margin: 2rem 0 3rem;
		display: flex;
		flex-wrap: wrap;
		flex-flow: row;
	}

	&__desribe-step {
		display: flex;
		flex-flow: column;
		flex-wrap: wrap;
		align-items: center;
		width: 33%;
		border: 1px solid #ECF0F1;
		border-radius: 10px;
		background-color: #F5F7F8;
		padding: 2.5rem 1.7rem 2rem 1.7rem;

		&:not(:first-child) {
			margin-left: 1.5rem;
		}
	}

	&__desribe-img {
		max-width: 100%;

		img {
			max-width: 100%;
		}
	}

	&__desribe-title {
		color: #34495E;
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 2.3rem;
		text-align: center;
		padding-top: 3rem;
		text-transform: uppercase;
	}

	&__describe-button {
		@extend %theme-btn;
		@extend %theme-btn--white;
		width: 100%;
		border-radius: 20px;
		margin-top: 2rem;
		font-size: 1.3rem;
		font-weight: 500;
	}

	&__figleaf-description {
		margin: 3rem 0;
		padding: 3rem 2rem;
		border-radius: .6rem;
		background-color: #F5F7F8;
		border: 1px solid #ECF0F1;
	}

	&__figleaf-slogan {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
	}

	&__figleaf-text {
		font-size: 1.6rem;
		line-height: 2.3rem;
		font-weight: bold;
		color: #667481;
		margin: 0 0 1.5rem;
	}

	&__figleaf-img {
		position: relative;
		top: -1.2rem;
	}

	&__button {
		@extend %theme-btn;
	}
}
