<div class="low-privacy" data-analyticsName="ScorePopup">
	<h2 class="low-privacy__title">
		How we calculate your privacy score
	</h2>
	<p class="low-privacy__text">
		By checking for breached accounts, online trackers, and any passwords stored in your browser, you’ll know if you’re doing enough to stay private.
	</p>

	<div class="low-privacy__desribe-wrapper">
		<div class="low-privacy__desribe-step" *ngFor="let step of steps">
			<picture class="low-privacy__desribe-img">
				<source srcset="{{step.img2x}} 2x" type="image/png">
				<img [src]="step.img" alt="{{step.title}}">
			</picture>
			<div class="low-privacy__desribe-title">
				{{step.title}}
			</div>

			<a [routerLink]="step.button.link"
			   (click)="handleLinkClick()"
			   vtrSendAnalytics
			   [metricsEvent]="'ItemClick'"
			   [metricsItem]="step.clickEventName"
			   class="low-privacy__describe-button">
				{{step.button.name}}
			</a>
		</div>
	</div>

	<div class="low-privacy__figleaf-description">
		<div class="low-privacy__figleaf-slogan">
			<h3 class="low-privacy__figleaf-text">Improve your score with Lenovo Privacy Essentials by FigLeaf</h3>
			<img class="low-privacy__figleaf-img"
			     src="assets/images/privacy-tab/figleaf.png"
			     srcset="assets/images/privacy-tab/figleaf@2x.png 2x"
			     alt="figleaf">
		</div>

		<p class="low-privacy__text">
			It lets you share what you want or keep things private for each site you visit or transact with.
			Your email. Payment and billing info. Your location. Even your personal interests.
			No matter what you do or where you go, you decide your level of privacy. Start your <strong>14-day free trial.</strong> No credit card required.
		</p>
	</div>

	<button
			class="low-privacy__button"
			vtrOpenFigleafInstaller
			vtrSendAnalytics
			[metricsEvent]="'ItemClick'"
			[metricsItem]="'TryLenovoPrivacyButton'"
	>
		Try Lenovo Privacy Essentials
	</button>
</div>
