<div class="vtr-battery-card"
	*ngIf="isLoading">
	<div class="container p-5"
		[style.height.px]="292">
		<div class="loader center-block">
			<div class="spinner-border progress-spinner"
				id="battery-card-spinner"
				role="status"></div>
		</div>
	</div>
</div>
<div class="vtr-battery-card"
	*ngIf="!isLoading">
	<!-- Battery Details Popup Modal -->
	<ng-template #batteryDetail
		let-modal
		aria-describedby="heading">
		<div class="modal-header"
			role="modal"
			aria-describedby="heading">
			<h4 class="modal-title battery-detail-modal-title pl-5"
				id="heading">
				{{'device.deviceSettings.batteryGauge.details.title' | translate }}
			</h4>
			<button type="button"
				class="close-button bg-white"
				id="myDevice-settings-battery-details-card-close-icon"
				aria-label="battery details card close"
				role="button"
				tabindex="0"
				(click)="modal.dismiss('Cross click')"
				(keydown.esc)="modal.dismiss('Cross click')">
				<fa-icon [icon]="['fal', 'times']"></fa-icon>

			</button>
		</div>
		<div class="modal-body">
			<vtr-battery-detail [dataInfo]="batteryInfo"
				[dataIndicator]="batteryIndicator"
				[dataConditions]="batteryConditions"> </vtr-battery-detail>
		</div>
	</ng-template>
	<!-- End Battery Details Modal -->

	<div class="container p-5 battery-panel-background">
		<h3 class="battery-health"
			id="myDevice-settings-batteryGauge-subtitle">
			{{'device.deviceSettings.batteryGauge.subtitle' | translate}}
		</h3>
		{{batteryIndicator.percent == 0 && flag ? reInitValue(): ""}}
		<div class="pt-4 battery-frame pr-3">
			<vtr-battery-indicator [remainingHour]="batteryIndicator.hours"
				[isWinRTLoading]="isWinRTLoading"
				[remainingMinutes]="batteryIndicator.minutes"
				[percentage]="batteryIndicator.percent"
				[isCharging]="batteryIndicator.charging"
				[isExpressCharging]="batteryIndicator.expressCharging"
				[batteryNotDetected]="batteryIndicator.batteryNotDetected"
				[timeText]="batteryIndicator.timeText"
				[isAirplaneMode]="batteryIndicator.isAirplaneMode"
				[isChargeThresholdOn]="batteryIndicator.isChargeThresholdOn">
			</vtr-battery-indicator>
		</div>

		<vtr-battery-condition-notes 
			[batteryConditions]="batteryConditions"
			[batteryGauge]="batteryGauge"
			[batteryDetected]="!batteryIndicator.batteryNotDetected"
			[batteryFullChargeCapacity]="batteryInfo[0].fullChargeCapacity"
			[batteryDesignCapacity]="batteryInfo[0].designCapacity"> 
		</vtr-battery-condition-notes>

		<div class="pt-4 text-center"
			[class.btn-disabled]="disableBatteryDetails">
			<vtr-ui-button [isFullWidth]="true"
				[metricsItem]="'btn.see-battery-details'"
				[metricsParent]="metricsParent"
				[metricsEvent]="metricsType"
				(onClick)="showDetailModal(batteryDetail)"
				[isDisabled]="disableBatteryDetails"
				id="myDevice-settings-battery-details-btn"
				[alreadyJoinGroup]="'groupNone'"
				[linkId]="'myDevice-settings-battery-details-btn'"
				[label]="'device.deviceSettings.batteryGauge.button' | translate"
				attr.aria-label="myDevice-settings-battery-details-btn"
				[attr.aria-disabled]="disableBatteryDetails">
			</vtr-ui-button>
		</div>
	</div>
</div>
