<div class="vtr-battery-card"
	*ngIf="isLoading">
	<div class="container p-5"
		[style.height.px]="292">
		<div class="loader center-block">
			<div class="spinner-border text-secondary progress-spinner"
				role="status"></div>
		</div>
	</div>
</div>
<div class="vtr-battery-card"
	*ngIf="!isLoading">
	<ng-template #batteryDetail
		let-modal>
		<div class="modal-header">
			<h4 class="modal-title battery-detail-modal-title pl-5">
				{{'device.deviceSettings.batteryGauge.details.title' | translate }}
			</h4>
			<button type="button"
				class="close-button bg-white"
				aria-label="Close"
				(click)="modal.dismiss('Cross click')">
				<!-- <img [src]=" 'assets/icons/Close.svg' | svgInline | async" alt="X" /> -->
				<fa-icon [icon]="['fal', 'times']"></fa-icon>

			</button>
		</div>
		<div class="modal-body">
			<vtr-battery-detail [dataInfo]="batteryInfo"
				[dataIndicator]="batteryIndicator"
				[dataConditions]="batteryConditions"> </vtr-battery-detail>
		</div>
	</ng-template>
	<div class="container p-5 battery-panel-background">
		<div class="battery-gauge-label text-uppercase">
			{{'device.deviceSettings.batteryGauge.title' | translate}}
		</div>
		<div class="battery-health">
			{{'device.deviceSettings.batteryGauge.subtitle' | translate}}
		</div>
		{{batteryIndicator.percent == 0 && flag ? reInitValue(): ""}}
		<div class="pt-4 battery-frame pr-3">
			<vtr-battery-indicator [remainingHour]="batteryIndicator.hours"
				[remainingMinutes]="batteryIndicator.minutes"
				[percentage]="batteryIndicator.percent"
				[isCharging]="batteryIndicator.charging"
				[isExpressCharging]="batteryIndicator.expressCharging"
				[batteryNotDetected]="batteryIndicator.batteryNotDetected"
				[timeText]="batteryIndicator.timeText">
			</vtr-battery-indicator>
		</div>

		<div class="p-3 row"
			*ngFor="let batteryConditionNote of batteryConditionNotes; let i = index">
			<div class="p-0 pr-3 col-auto battery-conditions">
				<img *ngIf="batteryConditions[i].conditionStatus == batteryQuality.Good"
					[src]=" '/assets/icons/battery-conditions/good.svg'" />
				<img *ngIf="batteryConditions[i].conditionStatus == batteryQuality.Fair"
					[src]=" '/assets/icons/battery-conditions/fair.svg'" />
				<img *ngIf="batteryConditions[i].conditionStatus == batteryQuality.Poor && batteryConditions[i].condition!=batteryConditionsEnum.Error"
					[src]=" '/assets/icons/battery-conditions/poor.svg'" />

				<img *ngIf="batteryConditions[i].conditionStatus == batteryQuality.AcError"
					[src]=" '/assets/icons/battery-conditions/ac_error.svg'" />
			</div>
			<div class='col pt-2'>
				<span *ngIf="batteryConditions[i].condition==batteryConditionsEnum.StoreLimitation"
					class="battery-conditions-tips"
					[innerHTML]="batteryConditionNote | translate:param2"></span>
				<span
					*ngIf="batteryConditions[i].condition!=batteryConditionsEnum.StoreLimitation && batteryConditions[i].condition!=batteryConditionsEnum.Error"
					class="battery-conditions-tips"
					[innerHTML]="batteryConditionNote | translate"></span>
				<a *ngIf="batteryConditions[i].conditionStatus===batteryQuality.AcError&&shortAcErrNote"
					class="link-label"
					(click)="showDetailTip(i)"><br>{{'device.deviceSettings.batteryGauge.seeDetailsLink' | translate}}</a>
			</div>

		</div>
		<div class="feature-note p-2 mt-2"
			*ngIf="chargeThresholdInfo?.isOn">
			<div class="row">
				<p>
					<span [innerHTML]="'device.deviceSettings.batteryGauge.thresholdNote' | translate:param1"></span>
				</p>
			</div>
		</div>

		<div class="pt-4 text-center">
			<button type="button"
				vtrMetrics
				metricsItem="see battery details"
				metricsParent="battery-gauge"
				metricsEvent="itemClick"
				class="btn btn-primary btn-block btn-lg battery-detail-button text-uppercase"
				(click)="showDetailModal(batteryDetail)"
				[disabled]="isBatteryDetailsBtnDisabled">
				{{'device.deviceSettings.batteryGauge.button' | translate }}
			</button>
		</div>
	</div>
</div>
