<div class="vtr-battery-card"
	*ngIf="isLoading">
	<div class="container p-5"
		[style.height.px]="292">
		<div class="loader center-block">
			<div class="spinner-border text-secondary progress-spinner"
				role="status"></div>
		</div>
	</div>
</div>
<div class="vtr-battery-card"
	*ngIf="!isLoading"
	role="dialog"
	ngbAutofocus>
	<ng-template #batteryDetail
		let-modal>
		<div class="modal-header"
			role="heading">
			<h4 class="modal-title battery-detail-modal-title pl-5"
				id="myDevice-settings-battery-deatails-heading"
				role="text">
				{{'device.deviceSettings.batteryGauge.details.title' | translate }}
			</h4>
			<button type="button"
				class="close-button bg-white"
				id="myDevice-settings-battery-details-card-close-icon"
				aria-label="myDevice-settings-battery-details-card-close-icon"
				tabindex="0"
				(click)="modal.dismiss('Cross click')"
				(keydown.esc)="modal.dismiss('Cross click')">
				<!-- 	(keydown.enter)="modal.dismiss('Cross click')" this keyboard navigation not required.  -->
				<!-- <img [src]=" 'assets/icons/Close.svg' | svgInline | async" alt="X" /> -->
				<fa-icon [icon]="['fal', 'times']"></fa-icon>

			</button>
		</div>
		<div class="modal-body"
			role="text">
			<vtr-battery-detail [dataInfo]="batteryInfo"
				[dataIndicator]="batteryIndicator"
				[dataConditions]="batteryConditions"> </vtr-battery-detail>
		</div>
	</ng-template>
	<div class="container p-5 battery-panel-background"
		role="text">
		<div class="battery-health"
			id="myDevice-settings-batteryGauge-subtitle"
			role="text">
			{{'device.deviceSettings.batteryGauge.subtitle' | translate}}
		</div>
		{{batteryIndicator.percent == 0 && flag ? reInitValue(): ""}}
		<div class="pt-4 battery-frame pr-3"
			role="text">
			<vtr-battery-indicator [remainingHour]="batteryIndicator.hours"
				[isWinRTLoading]="isWinRTLoading"
				[remainingMinutes]="batteryIndicator.minutes"
				[percentage]="batteryIndicator.percent"
				[isCharging]="batteryIndicator.charging"
				[isExpressCharging]="batteryIndicator.expressCharging"
				[batteryNotDetected]="batteryIndicator.batteryNotDetected"
				[timeText]="batteryIndicator.timeText"
				[isAirplaneMode]="batteryIndicator.isAirplaneMode"
				[isChargeThresholdOn]="batteryIndicator.isChargeThresholdOn">
			</vtr-battery-indicator>
		</div>

		<div class="row px-3"
			*ngFor="let batteryConditionNote of batteryConditionNotes; let i = index">
			<div class="p-0 pr-2 col-auto"
				*ngIf="batteryConditions[i].condition!= batteryConditionsEnum.FullACAdapterSupport">
				<span *ngIf="batteryConditions[i].conditionStatus == batteryStatus.Good"
					class="icomoon icomoon-ConditionGoodBattery"></span>
				<span *ngIf="batteryConditions[i].conditionStatus == batteryStatus.Fair"
					class="icomoon icomoon-ConditionFairBattery"></span>
				<span *ngIf="batteryConditions[i].conditionStatus == batteryStatus.Poor &&
				batteryConditions[i].condition!=batteryConditionsEnum.Error"
					class="icomoon icomoon-ConditionBadBattery"></span>
				<span *ngIf="batteryConditions[i].condition==batteryConditionsEnum.NotSupportACAdapter"
					class="icomoon icomoon-ConditionACAdapterError"></span>
			</div>
			<div *ngIf="batteryConditions[i].condition == batteryConditionsEnum.FullACAdapterSupport && acAdapterInfoParams?.acWattage!=0"
				class="p-0 pr-2 col-auto adapter-support">
				<span class="icomoon icomoon-ConditionACAdapterError"></span>
			</div>
			<div class='col battery-conditions-tips'>
				<span *ngIf="batteryConditions[i].condition==batteryConditionsEnum.StoreLimitation"
					[innerHTML]="batteryConditionNote | translate:param"
					id="myDevice-settings-battery-condition-tip"
					role="text"></span>
				<span
					*ngIf="batteryConditions[i].condition==batteryConditionsEnum.FullACAdapterSupport && acAdapterInfoParams?.acWattage!=0"
					[innerHTML]="batteryConditionNote | translate:acAdapterInfoParams"
					id="myDevice-settings-battery-condition-tip"
					role="text"></span>
				<span
					*ngIf="batteryConditions[i].condition!=batteryConditionsEnum.StoreLimitation && batteryConditions[i].condition!=batteryConditionsEnum.Error && batteryConditions[i].condition!=batteryConditionsEnum.FullACAdapterSupport"
					[innerHTML]="batteryConditionNote | translate"
					id="myDevice-settings-battery-condition-tip"
					role="text"></span>
				<a *ngIf="batteryConditions[i].conditionStatus===batteryStatus.AcAdapterStatus && batteryConditions[i].condition!=batteryConditionsEnum.FullACAdapterSupport && shortAcErrNote"
					class="link-label"
					(click)="showDetailTip(i)"
					id="myDevice-settings-batteryGauge-seeDetails-link"
					role="link">{{'device.deviceSettings.batteryGauge.seeDetailsLink' | translate}}</a>
			</div>

		</div>
		<div class="feature-note p-3 mt-2"
			*ngIf="batteryIndicator.isChargeThresholdOn || batteryService.isGaugeResetRunning">
			<div class="row">
				<p id="myDevice-settings-batteryGauge-threshold-note"
					role="text">
					<span role="text"
						*ngIf="!batteryService.isGaugeResetRunning"
						[innerHTML]="'device.deviceSettings.batteryGauge.thresholdNote' | translate"></span>
					<span role="text"
						*ngIf="batteryService.isGaugeResetRunning"
						[innerHTML]="'device.deviceSettings.batteryGauge.gaugeResetWarning' | translate"></span>
				</p>
			</div>
		</div>

		<div class="pt-4 text-center"
			[class.btn-disabled]="batteryService.isPowerDriverMissing">
			<vtr-ui-button metricsItem="See.Battery.Details"
				metricsParent="Page.Settings"
				metricsEvent="FeatureClick"
				[isFullWidth]="true"
				(click)="showDetailModal(batteryDetail)"
				[isDisabled]="batteryService.isPowerDriverMissing"
				id="myDevice-settings-battery-details-btn"
				[linkId]="'myDevice-settings-battery-details-btn'"
				[label]="'device.deviceSettings.batteryGauge.button' | translate"
				attr.aria-label="myDevice-settings-battery-details-btn"
				[attr.aria-disabled]="batteryService.isPowerDriverMissing"></vtr-ui-button>


		</div>
	</div>
</div>
