@import "./../../../app.theme.scss";

.close-button {
	color: #496afd;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 1;
	border: none;
	&:hover {
		opacity: 0.7;
	}
}
.vtr-battery-card {
		@media #{$mediaquery_11} {
			padding-top: 8.5rem;
		}
		@media #{$mediaquery_sm} {
			padding-top: 0rem;
			//margin-top: -1rem;
		}
		@media #{$mediaquery_md} {
			padding-top: 0rem;
			//margin-top: -1rem;
		}
		@media #{$mediaquery_lg} {
			padding-top: 0rem;
			//margin-top: -1rem;
		}
	// @media #{$mediaquery_X5} {
	// 	padding-left: 8.5rem;
	// 	padding-top: 12.5rem;
	// }

	.battery-panel-background {
		background-image: url(../../../../assets/images/battery/TOP.png),
			url(../../../../assets/images/battery/BOTTOM.png);
	}

	.container {
		border-radius: 1rem;
		background-color: $light;
		box-shadow: $drop_shadow;
		background-position: right top, right bottom;
		background-repeat: no-repeat;
		background-size: contain;
		max-width: 100%;
		@media #{$breakpoint_lg} {
			max-width: 100%;
		}
		@media #{$breakpoint_md} {
			max-width: 100%;
		}
		@media #{$breakpoint_sm} {
			max-width: 100%;
		}
		.battery-gauge-label {
			opacity: 0.58;
			color: $main_dark;
			font-size: $caption;
			font-weight: $weight_medium;
			letter-spacing: 0.1rem;
			line-height: 1.3rem;
		}

		.battery-health {
			color: $shade_blue;
			font-size: 3.6rem;
			font-weight: $weight_light;
			line-height: 4.2rem;
		}

		.battery-frame {
			box-sizing: border-box;
		}

		.battery-image {
			width: 35rem;
		}

		.btn-disabled {
			pointer-events: none;
			::ng-deep .vtr-ui-button {
				.button-box {
					.button {
						background: #e6eaeb;
						color: #34495e;


					}
				}
			}
			@media #{$black-on-white} {
				border: 0.1rem brown;
				border-radius: 5rem;
				padding-top: 25px;
			}
			@media #{$white-on-black} {
				border: 0.1rem green;
				border-radius: 5rem;
				padding-top: 25px;
			}
		}
		// .btn-disabled{
		// 	@media #{$black-on-white} {
		// 		border: 0.1rem brown;
		// 		border-radius: 5rem;
		// 		padding-top: 25px;
		// 	}
		// 	@media #{$white-on-black} {
		// 		border: 0.1rem green;
		// 		border-radius: 5rem;
		// 		padding-top: 25px;
		// 	}
		// }

		.feature-note {
			background-color: $grey_lighter;
			border: 0.1rem solid $note_border;
			p {
				font-size: $fontsize_xs;
				color: $shade_blue;
				margin: 0;
			}
			a {
				text-decoration: underline;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.battery-conditions-tips {
			font-size: $fontsize_xs;
			line-height: 1.2em;
			width: 100%;
			letter-spacing: 0;
			padding: 0.5rem 0;
			align-self: center;
			color: $shade_blue;
		}
		.icomoon {
			font-size: 3.5rem;
		}
		.icomoon-ConditionACAdapterError {
			&:before {
				color: #f17f14;
			}
		}
		.adapter-support {
			.icomoon-ConditionACAdapterError {
				&:before {
					color: #30d487;
				}
			}
		}

		.icomoon-ConditionBadBattery {
			&:before {
				color: #e74c3c;
			}
		}
		.icomoon-ConditionFairBattery {
			&:before {
				color: #f17f14;
			}
		}
		.icomoon-ConditionGoodBattery {
			&:before {
				color: #30d487;
			}
		}

		.loader {
			position: absolute;
			z-index: 999;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.spinner-border {
			height: 50px;
			width: 50px;
		}

		.link-label {
			margin-left: 1rem;
			color: $menu_hover;
			text-decoration: underline;
			cursor: pointer;
			align-self: center;
			font-size: $base;
		}

	}
	@media #{$black-on-white} {

		border: 0.1rem solid $dark;
		border-radius: 1rem;
	}
	@media #{$white-on-black} {

		border: 0.1rem solid $light;
		border-radius: 1rem;
	}

}
.modal-header{
	@media #{$black-on-white} {

		border: 0.1rem solid $dark;
		//border-radius: 1rem;
	}
	@media #{$white-on-black} {

		border: 0.1rem solid $light;
		//border-radius: 1rem;
	}
	}
	.modal-body{
		@media #{$black-on-white} {

			border: 0.1rem solid $dark;
			//border-radius: 1rem;
		}
		@media #{$white-on-black} {

			border: 0.1rem solid $light;
			//border-radius: 1rem;
		}
	}
