@import "../../../styles/common-blocks";

.tracker {
	&__wrapper {
		display: flex;
		flex-flow: row;
	}

	&__details-wrapper {
		width: 100%;
		max-width: 45%;
		background-color: #F5F7F8;
		margin:  -3.5rem 0 -3rem -4rem;
	}

	&__details {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 3.5rem 0 3rem 4rem;
	}

	&__map {
		width: 100%;
		max-width: 55%;
		padding-left: 3rem;
	}

	&__progress-wrapper {
		margin:  -3.5rem 0 3rem -4rem;
		background: linear-gradient(131.24deg, #191C28 0%, #2F3447 100%);
	}

	&__progress {
		padding: 3.5rem 3rem 2.5rem 9rem;
		color: #fff;
	}

	&__map-title {
		@extend %subtitle;
		font-size: 2.5rem;
		color: #194A65;
	}

	&__map-wrapper {
		width: 100%;
		text-align: center;
		margin-top: 7rem;
	}

	&__progress-brand {
		position: relative;
	}

	&__progress-brand-title {
		@extend %subtitle;
		font-size: 2.5rem;
		line-height: 2.9rem;
		color: #fff;
	}

	&__progress-brand-img {
		position: absolute;
		top: 50%;
		left: -6.5rem;
		transform: translateY(-50%);
		transform-origin: 50% 50%;
		width: 4.6rem;
		height: 4.6rem;
		background: center no-repeat;
		background-size: cover;
	}

	&__progress-bar {
		position: relative;
		padding: 1rem;
		border-radius: 15px;
		background: linear-gradient(221.24deg, #191C28 0%, #2F3447 100%);
		height: 2.8rem;
		margin: 1.2rem 0;
	}

	&__progress-bar-wrapper {
		position: relative;
		height: 100%;
	}

	&__progress-bar-line {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: 2px;
		border-radius: 1px;
		background-color: #FFFFFF;
	}

	&__progress-bar-fill {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: linear-gradient(90deg, #ED4E04 0%, #F17F14 100%);
		border-radius: 4px;
		height: 8px;
	}

	&__text {
		@extend %text-common;
		margin: 2rem 1rem 0 0;

		&--white {
			color: #FFFFFF;
		}

		&--bold {
			font-weight: bold;
			letter-spacing: 0.89px;
			text-transform: uppercase;
		}

		&--main {
			margin: 0;
			padding-right: 4rem;
		}
	}

	&__types {
		margin-top: 3rem;
	}

	&__types-block {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
	}

	&__types-item {
		@extend %text-common;
		background-color: #DFE4E9;
		border-radius: 14px;
		padding: 0.7rem 1.6rem;
		margin-top: 1rem;

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&--orange {
			background-color: #FF8400;
			color: #fff;
		}

		&--blue {
			background-color: #0099FF;
			color: #fff;
		}

		&--pink {
			background-color: #EC68D8;
			color: #fff;
		}
	}

	&__stop-wrapper {
		margin: auto 0 -3rem -4rem;
		background-color: #EBEEEF;
	}

	&__stop {
		padding: 2rem 3rem 3rem 4rem;
	}

	&__stop-title {
		@extend %subtitle;
		font-size: 2.5rem;
		line-height: 2.4rem;
		color: #34495E;
	}

	&__btn-group {
		margin-top: 3rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}

	&__btn {
		@extend %theme-btn;
		text-transform: uppercase;
		font-size: 1.3rem;
		max-width: 26.5rem;
	}

	&__link {
		@extend %button-link;
		@extend %button-link--to-right;
		text-decoration: underline;
		margin-left: 1rem;
	}
}
