<div class="tracker" *ngIf="(trackingMapSingleData$ | async) as trackingMapSingleData">
	<div class="tracker__wrapper">
		<div class="tracker__details-wrapper">
			<div class="tracker__details">
				<div class="tracker__progress-wrapper">
					<div class="tracker__progress">
						<div class="tracker__progress-brand">
							<div class="tracker__progress-brand-img"
								 [style.background-image]="'url('+ trackingMapSingleData.tracker.logo_url +')'">
							</div>
							<span
								class="tracker__progress-brand-title">{{trackingMapSingleData.tracker.company_name}}</span>
						</div>
						<div class="tracker__progress-bar">
							<div class="tracker__progress-bar-wrapper">
								<div class="tracker__progress-bar-line"></div>
								<div class="tracker__progress-bar-fill" [style.width.%]="percentOfTrack"></div>
							</div>
						</div>
						<div class="tracker__text tracker__text--white">Tracking you on {{percentOfTrack}}% of site
							visited
						</div>
					</div>
				</div>
				<div class="tracker__text" *ngIf="trackingMapSingleData.tracker.metadata.description">
					{{trackingMapSingleData.tracker.metadata.description}}
				</div>
				<div class="tracker__text" *ngIf="!trackingMapSingleData.tracker.metadata.description">
					{{trackingMapSingleData.tracker.company_name}} uses trackers to learn your online behavior and interests, and improve how you interact with its services.
				</div>

				<div class="tracker__types">
					<span class="tracker__text tracker__text--bold">Tracking types</span>
					<div class="tracker__types-block">
						<div class="tracker__types-item"
							 *ngFor="let trackingType of trackingMapSingleData.tracker.categories"
							 [ngClass]="getColorForTrackerTypes(trackingType)">
							{{trackingType}}
						</div>
					</div>
				</div>

				<div class="tracker__stop-wrapper">
					<div class="tracker__stop">
						<h3 class="tracker__stop-title">
							Want to stop trackers?
						</h3>
						<div class="tracker__text">
							Lenovo Privacy by FigLeaf lets you share what you want or keep things private for each site you visit or transact with. Start your 14-day free trial. No credit card required.
						</div>
						<div class="tracker__btn-group">
							<button class="tracker__btn" vtrOpenFigleafInstaller>Try Lenovo Privacy</button>
							<a class="tracker__link" routerLink="./landing" (click)="closePopup()">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tracker__map">
			<h3 class="tracker__map-title">
				Where am I being tracked?
			</h3>
			<div class="tracker__map-wrapper">
				<fl-tracking-map-single [trackers]="trackingMapSingleData"
										[defaultSiteIcon]="defaultIcon.site"
										[defaultTrackerIcon]="defaultIcon.tracker"
										height="600"
										width="255"
										[positive]="isTrackersBlocked$ | async">
				</fl-tracking-map-single>
			</div>
		</div>
	</div>
</div>
