@import "../../../app.theme.scss";

.cover {
  width: 100%;
  height: 100vh;
  // background: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 950;
  left: 0;
  top: 0;
}
.vtr-ui-dropdown {
  position: relative;
//   z-index: 990;

  margin-right: 4.5px;
  max-width: 656px;
  div.input {
	height: 100%;
	min-height: 6rem;
	width:100%;
    padding: 0 0 0 1.4rem;
    box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.15);
    border-radius: 0.321rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: flex;
	justify-content: space-between;
	position: absolute;
	top:0;
    z-index: 940;
    .time {
      display: inline-block;
      font-size: 1.4rem;
      padding: 0 1rem;
      color: #667481;
      align-self: center;
      overflow: hidden;
      p {
        font-weight: 600;
      }
    }
    .chevron {
      font-size: 2rem;
      align-self: center;
      padding: 0 1.5rem;
      display: inline-block;
      color: #667481;
      margin-top: 1.3rem;
    }
  }
  div.input.opened {
    border: 0.1rem solid #4a81fd;
    z-index: 960;
    .chevron {
      color: #4579f0;
    }
  }
  .input.input-placeholder{
	position: static;
	visibility: hidden;
  }
  .list {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 960;
    ul {
      box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.15);
      border-radius: 0.321rem;
      border: 0.1rem solid rgba(0, 0, 0, 0.1);
      background-color: #fff;
      padding: 0;
      li {
        white-space: nowrap;
        font-size: 1.4rem;
        padding: 0.625rem 0;
        list-style: none;
        color: #34495e;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        cursor: pointer;
        span {
          padding: 0 2.4rem;
        }
        &:hover {
          text-decoration: none;
          background-color: #eaf2fd;
          @media #{$black-on-white} {
            background-color: #000;
          }
          @media #{$white-on-black} {
            background: #fff;
          }
        }
      }
    }
  }
}
