<section class="no-issue" *ngIf="shouldShowDidYouKnowBlock$ | async">
	<h2 class="no-issue__title">Did you know?</h2>
	<ng-container *ngTemplateOutlet="getTemplate()"></ng-container>
	<div class="no-issue__pitch" *ngIf="isShowPitch$ | async">
		<vtr-big-pitch [texts]="getText()"></vtr-big-pitch>
	</div>
</section>

<ng-template #breachAccount>
	<p class="no-issue__text">
		About
		<a href="https://thecitizenng.com/analysis-data-breaches-compromised-4-5bn-records-in-half-year-2018-gemalto/"
		   class="no-issue__text--bold"
		   vtrOpenLinkInBrowser
		   vtrOfflineMode>4.5 billion records</a> with private information were exposed as a result of data breaches in 2018. Among companies hit by breaches are
		<a href="https://www.cnbc.com/2018/03/29/under-armour-stock-falls-after-company-admits-data-breach.html"
		   class="no-issue__text--bold"
		   vtrOpenLinkInBrowser
		   vtrOfflineMode>Under Armour</a> (150 million records),
		<a href="https://fortune.com/2018/11/26/usps-security-flaw-60-million-people/"
		   class="no-issue__text--bold"
		   vtrOpenLinkInBrowser
		   vtrOfflineMode>United States Postal Service</a> (60 million records),
		<a href="https://www.cnn.com/2018/12/03/tech/quora-hack-data-breach/index.html"
		   class="no-issue__text--bold"
		   vtrOpenLinkInBrowser
		   vtrOfflineMode>Quora</a> (100 million records),
		<a href="https://www.nytimes.com/2018/11/30/business/marriott-data-breach.html"
		   class="no-issue__text--bold"
		   vtrOpenLinkInBrowser
		   vtrOfflineMode>Marriott International</a> (500 million records),
		<a href="https://www.economist.com/gulliver/2018/09/09/british-airways-admits-that-over-380000-customers-had-their-data-stolen"
		   class="no-issue__text--bold"
		   vtrOpenLinkInBrowser
		   vtrOfflineMode>British Airways</a> (380 million records),
		<a href="https://www.reuters.com/article/us-myheritage-privacy/security-breach-at-myheritage-website-leaks-details-of-over-92-million-users-idUSKCN1J1308"
		   class="no-issue__text--bold"
		   vtrOpenLinkInBrowser
		   vtrOfflineMode>MyHeritage</a> (92 million records) and many others.
	</p>
	<img class="no-issue__img"
		 src="assets/images/privacy-tab/DYN_Breaches.png"
		 srcset="assets/images/privacy-tab/DYN_Breaches@2x.png 2x"
		 alt="graphic with leak information">
</ng-template>

<ng-template #trackers>
	<p class="no-issue__text">
		Most websites collect this information about you:
	</p>

	<div class="no-issue__chips">
		<div class="no-issue__chips-item">IP Address</div>
		<div class="no-issue__chips-item">Location</div>
		<div class="no-issue__chips-item">Social Profile Information</div>
		<div class="no-issue__chips-item">Shopping History</div>
		<div class="no-issue__chips-item">Device Information</div>
		<div class="no-issue__chips-item">Online Behaviour Patterns</div>
		<div class="no-issue__chips-item">Websites Visited</div>
	</div>

	<p class="no-issue__text">
		This data is used to personalize your experience, show targeted ads, or suggest things based on your interests.
	</p>
</ng-template>

<ng-template #nonPrivatePassword>
	<p class="no-issue__text">
		If you store passwords for your bank accounts or social media profiles in your web browser, you risk sharing
		this private information unintentionally with apps and extensions on your PC.
		People often reuse the same password for many websites. This leads to multiple account breaches if the password
		exposed.
	</p>
</ng-template>
