@import "../../../styles/common-blocks";

.scanning {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 4.5rem 12rem;

	&__button{
		&--skip {
			@extend %button-text;
		}
	}

	&__progress-bar {
		margin-top: 13rem;
		width: 100%;
	}

	&__title {
		margin-top: 6rem;
		@extend %subtitle;
	}
}
