@import "../../../app.theme.scss";
.numbers-holder {
	position: relative;
	&.recording {
		.numpad-btn-wrapper {
			position: relative;
			opacity: 0.8;
			span {
				opacity: 0.8;
			}
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
		ul {
			li {
				opacity: 0.5;
			}
		}
	}

	.numpad-btn {
		display: none;
		padding: 1.2rem 2rem 1.2rem 1.2rem;
		text-transform: uppercase;
		font-size: 1.6rem;
		background-color: $white5;
		margin-bottom: 2rem;
		border-radius: 0.6rem;
		cursor: pointer;
		svg {
			margin-right: 1rem;
		}
		@media #{$breakpoint_xl} {
			display: inline-block;
		}
		@media #{$breakpoint_lg} {
			display: none;
		}
		@media #{$breakpoint_md} {
			display: inline-block;
		}
	}

	ul {
		padding: 0;
		&.numberpad-popup {
			@media #{$breakpoint_xl} {
				display: none;
				padding: 1.4rem;
				background-color: $gaming_shade;
				width: 19rem;
				position: absolute;
				border-radius: 0.6rem;
				z-index: 1;
				top: 5.8rem;
			}
			@media #{$breakpoint_lg} {
				display: block;
				background: none;
				position: relative;
				top: 0;
				padding-top: 0;
				padding-left: 0;
			}
			@media #{$breakpoint_md} {
				display: none;
				padding: 1.4rem;
				background-color: $gaming_shade;
				width: 19rem;
				position: absolute;
				border-radius: 0.6rem;
				z-index: 1;
				top: 5.8rem;
			}
			&.show {
				display: block;
			}
		}

		li {
			display: inline-block;
			cursor: pointer !important;
			width: 4.8rem;
			height: 4.8rem;
			border-radius: 0.8rem;
			background-color: $gaming_lightest;
			color: $gaming_dark;
			font-weight: 800;
			font-size: 2rem;
			text-align: center;
			line-height: 4.8rem;
			margin-bottom: 1.2rem;
			margin-right: 0.8rem;
			a {
				color: $gaming_dark;
				text-decoration: none;
			}
			&:nth-child(3) {
				margin-right: 0;
			}
			&:nth-child(6) {
				margin-right: 0;
			}
			&:nth-child(9) {
				margin-right: 0;
			}
			div {
				cursor: pointer !important;
			}
			box-shadow: 0rem 0.4rem 0rem 0.1rem $gaming_hover !important;
			&.selected {
				a {
					color: $gaming_lightest;
				}
				opacity: 1;
				color: $gaming_lightest;
				@media #{$black-on-white} {
					background-color: $gaming_light_blue;
					border: 0.1rem solid $dark;
				}
				@media #{$white-on-black} {
					background-color: $gaming_light_blue;
					border: 0.1rem solid $light;
				}
				background-color: $gaming_light_blue;
				box-shadow: 0rem 0.4rem 0rem 0.1rem $gaming_gstart !important;
				&.macro-exists {
					div {
						position: relative;
						&:after {
							background-color: $gaming_lightest;
							@media #{$black-on-white} {
								background-color: $light;
								bottom: 0.4rem;
							}
							@media #{$white-on-black} {
								background-color: $dark;
								bottom: 0.4rem;
							}
						}
					}
				}
			}
			&.macro-exists {
				div {
					position: relative;
					&:after {
						content: '';
						width: 0.5rem;
						height: 0.5rem;
						background-color: $gaming_dark;
						position: absolute;
						bottom: 0.6rem;
						border-radius: 0.5rem;
						margin: auto;
						left: 0px;
						right: 0px;
						@media #{$black-on-white} {
							background-color: $dark;
							bottom: 0.4rem;
						}
						@media #{$white-on-black} {
							background-color: $light;
							bottom: 0.4rem;
						}
					}
				}
			}
		}
	}
}
