@import "../../../app.theme";
::ng-deep {
	.vtr-page-device-gaming {
		// .p-30 {
		// 	padding: 1.875rem;
		// }

		// .pl-40 {
		// 	padding-left: 2.5rem;
		// }

		// .pr-40 {
		// 	padding-right: 2.5rem;
		// }

		// .pa-20 {
		// 	padding: 1.25rem;
		// }

		// .mt--50 {
		// 	margin-top: -5.3125rem;
		// }
		// .system-status-block {
		// 	padding-top: 7.5rem;
		// }

		// .pt-6 {
		// 	padding-top: 6rem;
		// }

		.action-link-a:hover {
			text-decoration: none;
		}

		.vtr-page-header {
			.gaming-header-image {
				height: 5rem;
				background-color: #6DBEB8;
			}
		}
	}
}

// .vtr-page-shift-up {
// 	@media #{$medium-screen} {
// 		.no-gutters {
// 			> .col,
// 			> [class*="col-"] {
// 				padding-right: 15px;
// 				padding-left: 15px;
// 			}
// 		}
// 	}
// 	@media #{$small-screen} {
// 		.no-gutters {
// 			> .col,
// 			> [class*="col-"] {
// 				padding-right: 15px;
// 				padding-left: 15px;
// 			}
// 		}
// 	}
// }
