@import '../../../app.theme';
::ng-deep {
	.vtr-page-device-gaming {
		.action-link-a:hover {
			text-decoration: none;
		}

		.vtr-page-header {
			.gaming-header-image {
				height: 5rem;
				@media #{$high-contrast} {
					background-color: $darkCell;
				}
			}
		}
	}
}
::ng-deep body.focus-enable {
	.is-gaming {
		.vtr-page-device-gaming {
			.vtr-widget-quicksettings-list,
			.vtr-widget-lighting {
				&:focus {
					@include solid-button-outline;
					@media #{$high-contrast} {
						@include solid-button-outline(highlight);
					}
				}
			}
		}
	}
}
