<vtr-page-layout [title]="''" [textId]="'device-gaming'" [pageCssClass]="'device-gaming'" [shiftLeftUp]="true"
	[shiftRightUp]="true">

	<header-content>
				<img class="gaming-header-image" *ngIf="!liteGaming" [src]=" './../../../../assets/images/gaming/gaming-logo-full.svg' | svgInline | async" />
				<img class="gaming-header-image" *ngIf="liteGaming && desktopType" [src]=" './../../../../assets/images/gaming/ideaCentre@2x.png' | svgInline | async" />
				<img class="gaming-header-image" *ngIf="liteGaming && !desktopType" [src]=" './../../../../assets/images/gaming/ideaPad@2x.png' | svgInline | async" />
	</header-content>

	<left-content>
		<div class="container-fluid">
			<div class="row" *ngIf="!isOnline">
				<div class="col-12 px-0 pt-0 pb-40">
					<vtr-widget-offline-info [title]="'dashboard.offlineInfo.title' | translate"
						[subtitle]="'dashboard.offlineInfo.subtitle' | translate"
						[buttonText]="'dashboard.offlineInfo.buttonText' | translate" [isSubtitleVisible]="false"
						[isButtonVisible]="false" (buttonClick)="onConnectivityClick($event)"></vtr-widget-offline-info>
				</div>
			</div>
			<div class="row">
				<div class="col-12 pt-0 pb-20 px-0">
					<app-widget-system-monitor></app-widget-system-monitor>
				</div>
			</div>
			<div class="row">
				<div class="col-12 py-20 px-0">
					<vtr-widget-system-tools title=""></vtr-widget-system-tools>
				</div>
			</div>
			<div class="row">
				<div class="col-12 py-20 px-0">
					<vtr-container-card *ngIf="!isOnline" order="4" role="img" tabindex="1" id="lenovo game store"
						aria-label="lenovo game store" vtrMetrics [metricsItem]="'dashboard_gaming_banner'"
						metricsEvent="featureClick" metricsParent="Gaming.Dashboard" [item]="cardContentPositionD"
						[type]="'highlight'" [ratio]="4">
					</vtr-container-card>
					<a class="action-link-a" *ngIf="isOnline" [href]="cardContentPositionD.ActionLink"
						[target]="cardContentPositionD.ActionType">
						<vtr-container-card order="4" role="img" tabindex="1" id="lenovo game store"
							aria-label="lenovo game store" vtrMetrics  [metricsItem]="'dashboard_gaming_banner'"
							metricsEvent="featureClick" metricsParent="Gaming.Dashboard" [item]="cardContentPositionD" [type]="'highlight'" [ratio]="4">
						</vtr-container-card>
					</a>
				</div>
			</div>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-sm-12 col-lg-12 mb-40">
					<vtr-widget-legion-edge></vtr-widget-legion-edge>
				</div>

				<div class="col-sm-12 col-lg-12 mb-40">
					<vtr-widget-quicksettings-list
						title="{{'gaming.dashboard.device.quickSettingstitle.title' | translate}}">
					</vtr-widget-quicksettings-list>
				</div>

				<div class="col-sm-12 col-lg-12 mb-40">
					<vtr-widget-lighting title=""></vtr-widget-lighting>
				</div>
				<div class="col-sm-12 col-lg-12 mb-40">
					<vtr-widget-feedback [title]="'dashboard.feedback.title' | translate"
						[description]="'dashboard.feedback.subtitle' | translate"
						[actionName]="'dashboard.feedback.button' | translate" [isOnline]="isOnline"
						(feedBackClick)="onFeedbackModal()">
					</vtr-widget-feedback>
				</div>
			</div>
		</div>
	</right-content>

	<!--indicate dashboard was loaed, send related metrics-->
	<div vtrPageLoadedDetector></div>

</vtr-page-layout>
