@import "../../../app.theme";
::ng-deep {
	.vtr-page-device-gaming {
		.action-link-a:hover {
			text-decoration: none;
		}

		.vtr-page-header {
			.gaming-header-image {
				height: 5rem;
			}
		}
	}
}
::ng-deep body.focus-enable{
	.is-gaming {
		.vtr-page-device-gaming{
			vtr-container-card {
				&:focus {
					.content {
						@include outline-blue-gaming;
					}
				}
				a.card-image,a.action-link-a{
					outline: none !important;
				}
			}
      .vtr-widget-quicksettings-list,.vtr-widget-lighting{
        &:focus{
          @include outline-blue-gaming;
        }
      }
		}
	}
}