@import '../../../../../app.theme';

.vtr-modal-pre-scan-info {
	padding: 2.4rem;
	@include high-contrast-border;

	.error {
		font-size: $fontsize_xl;
		font-weight: $weight_600;
		color: $shade_blue;
	}

	.description {
		font-size: $fontsize_xs;
		white-space: pre-wrap;
		font-weight: $weight_light;
		color: $shade_blue;
	}
}
