.privacy-dashboard-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 -1rem;

  &__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 0 2.5rem 1.9rem;
    background: linear-gradient(to bottom, #FBFCFC, #ECF8F1) 0 0 no-repeat;
    margin: 0 1rem;
    border: 2px solid #ECF8F0;
    text-align: center;
  }
  &__icon-holder {
    position: relative;
    height: 9rem;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: transparent 0 0 no-repeat;
      background-size: contain;
      width: 4.8rem;
      height: 4.8rem;
    }

    &--card {
      &:before {
        background-image: url("/assets/icons/privacy-tab/icon-green-card.svg");
      }
    }
    &--earth {
      &:before {
        background-image: url("/assets/icons/privacy-tab/icon-green-earth.svg");
      }
    }
    &--eye-cross {
      &:before {
        background-image: url("/assets/icons/privacy-tab/icon-green-eye-cross.svg");
      }
    }
    &--man {
      &:before {
        background-image: url("/assets/icons/privacy-tab/icon-green-man.svg");
      }
    }
    &--man-leaf {
      &:before {
        background-image: url("/assets/icons/privacy-tab/icon-green-man-leaf.svg");
      }
    }
  }
  &__value,
  &__text {
    margin: 0;
    padding: 0;
  }
  &__value {
    font-weight: bold;
    font-size: 2.2rem;
    margin: 0 0 1rem;
    line-height: 2.7rem;
  }
  &__text {
    font-weight: 300;
    line-height: 1.9rem;
    font-size: 1.4rem;
  }
}
