<ul class="privacy-dashboard-list">
  <li class="privacy-dashboard-list__item">
    <div class="privacy-dashboard-list__icon-holder privacy-dashboard-list__icon-holder--man" rel="icon" role="img" aria-label="icon green man"></div>
    <p class="privacy-dashboard-list__value">46</p>
    <p class="privacy-dashboard-list__text">
      Accounts are monitored for breaches
    </p>
  </li>
  <li class="privacy-dashboard-list__item">
    <div class="privacy-dashboard-list__icon-holder privacy-dashboard-list__icon-holder--man-leaf" rel="icon" role="img" aria-label="icon green man with green leaf"></div>
    <p class="privacy-dashboard-list__value">4 of 46</p>
    <p class="privacy-dashboard-list__text">
      Accounts use masked emails
    </p>
  </li>
  <li class="privacy-dashboard-list__item">
    <div class="privacy-dashboard-list__icon-holder privacy-dashboard-list__icon-holder--card" rel="icon" role="img" aria-label="icon green credit card"></div>
    <p class="privacy-dashboard-list__value">4 of 20</p>
    <p class="privacy-dashboard-list__text">
      Accounts use masked cards
    </p>
  </li>
  <li class="privacy-dashboard-list__item">
    <div class="privacy-dashboard-list__icon-holder privacy-dashboard-list__icon-holder--eye-cross" rel="icon" role="img" aria-label="icon cross eye"></div>
    <p class="privacy-dashboard-list__value">56</p>
    <p class="privacy-dashboard-list__text">
      Trackers were blocked
    </p>
  </li>
  <li class="privacy-dashboard-list__item">
    <div class="privacy-dashboard-list__icon-holder privacy-dashboard-list__icon-holder--earth" rel="icon" role="img" aria-label="icon green earth"></div>
    <p class="privacy-dashboard-list__value">46GB of 50</p>
    <p class="privacy-dashboard-list__text">
      Sites connected privately
    </p>
  </li>
</ul>
