@import '../../../../app.theme.scss';

.vtr-widget-quicksettings-note {
	width: 100%;
	background-color: $grey_lighter;
	font-size: $fontsize_xs;
	border: 0.1rem solid $grey_light;
	border-radius: 0.5rem;
	justify-content: space-between;
	color: $shade_blue;
	.icomoon-Alert {
		font-size: 1.8rem;
	}
	.privacy-link{
		@extend %hyperlink-text;
	}

	.icon-container {
		max-width: 2.2rem;
	}

	#qs-note {
		margin-top: 0.2rem;
		margin-left: 1.2rem;
	}
}
