<div class="row mt-4 vtr-widget-quicksettings-note">
	<div class="col-12 p-3 d-flex">
		<div class="col-1 pl-0 text-center">
			<span id="alert-icon" class="icomoon icomoon-Alert" role="img" attr.aria-label="alert {{note.id}}">
				<span class="path1" aria-hidden="true"></span>
				<span class="path2" aria-hidden="true"></span>
			</span>
		</div>
		<div id="qs-note" class="col-11 pr-0 pl-2">
			<p class="mb-0 mt-auto"
				[id]="'qs-' + note.id +'-note'">{{note.text}}</p>
			<a class="privacy-link"
				(click)="goToSettingsClick()"
				id="qs-{{note.id}}-access-link"
				href="#">{{'dashboard.quickSettings.note.accessUrl' | translate}}</a>
		</div>
	</div>
</div>
