<div class="vtr-home-security-card container-fluid">
	<div class="row content">
		<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 container-fluid position-relative">
			<div class="title pb-4">
				<span [innerHTML]="'homeSecurity.card.startTrialTitle' | translate"></span>
			</div>
			<div class="description pb-4">
				<span [innerHTML]="'homeSecurity.card.startTrialDescription' | translate"></span>
			</div>
			<div class="button-box position-absolute">
				<vtr-ui-button
					[ngClass]="{'disable': location?.isLoading}"
					metricsEvent="featureClick"
					metricsItem="startTrial"
					(onClick)="openTrialModal()"
					[label]="'homeSecurity.card.startTrial' | translate"
					[isDisabled]="location?.isLoading"
					btnHeight=true
					linkId="chs-card-btn-startTrial">
				</vtr-ui-button>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 container-fluid  position-relative">
			<div class="title pb-4">
				<span [innerHTML]="'homeSecurity.card.joinTitle' | translate"></span>
			</div>
			<div class="description pb-4">
				<span [innerHTML]="'homeSecurity.card.joinDescription' | translate"></span>
			</div>
			<div class="button-box position-absolute">
				<vtr-ui-button class="join"
					[ngClass]="{'disable': location?.isLoading}"
					metricsEvent="featureClick"
					metricsItem="joinGroup"
					[label]="'homeSecurity.card.join' | translate"
					[isDisabled]="location?.isLoading"
					buttonColor="gray"
					btnHeight=true
					(onClick)="joinGroup()"
					linkId="chs-card-btn-joinGroup">
				</vtr-ui-button>
			</div>
		</div>
	</div>
</div>
