@import "../../../../../app.theme.scss";

.vtr-home-security-card {
	width: 100%;
	border-radius: $border_radius;
	background-color: $shade_extralight;
	border: 0.1rem solid $shade_lighter;
	.content {
		.container-fluid:nth-child(2n + 1) {
			border-right: 0.1rem solid $shade_lighter;
		}
		.container-fluid {
			padding: 2rem;
			.title {
				color: $shade_blue;
				font-size: 2.4rem;
				font-weight: $weight_bold;
			}

			.description {
				color: $shade_blue;
				font-size: 1.4rem;
				font-weight: 400;
				overflow: hidden;
				margin-bottom: 4rem;
			}

			vtr-ui-button{
				display: inline-block;
			}
		}
	}
	.button-box {
		bottom: 2rem;
	}

	@media #{$medium-screen, $large-screen-1} {
		.content {
			.container-fluid:nth-child(2n + 1) {
				border-bottom: 0.1rem solid #e6e6e6;
			}
		}
	}

	@media #{$small-screen, $mediaquery_X45}{
		.content {
			.container-fluid:nth-child(2n + 1) {
				border-right: 0;
				border-bottom: 0.1rem solid #e6e6e6;
			}
		}
	}
}
