@import "../../../app.theme";

.checkbox {
	display: inline-block;
	position: relative;
	cursor: pointer;
	border-radius: 10rem;
	width: 5rem;
	height: 2.4rem;
	label {
		cursor: pointer;
		.switch-label,
		.switch {
			cursor: pointer;
		}
	}
}
input:not(:disabled).switch ~ .switch {
	border: 0.1rem solid $grey_dark;
	&:hover {
		@media #{$black-on-white} {
			@include high-contrast-white-border;
		}
		@media #{$white-on-black} {
			@include high-contrast-black-border;
		}
	}
}
input:not(:disabled).checked ~ .switch {
	border: 0.1rem solid transparent;
	&:hover {
		@media #{$black-on-white} {
			@include high-contrast-white-border;
		}
		@media #{$white-on-black} {
			@include high-contrast-black-border;
		}
	}
}
input:disabled ~ .switch {
	border: 0.1rem solid $grey_dark;
	@media #{$black-on-white} {
		@include high-contrast-white-background-disabled;
		@include high-contrast-white-disabled-border;
	}
	@media #{$white-on-black} {
		@include high-contrast-black-background-disabled;
		@include high-contrast-black-disabled-border;
	}
	small {
		background-color: $grey_darker !important;
		opacity: 0.4;
		@media #{$black-on-white} {
			opacity: 1;
			background: $light !important;
		}
		@media #{$white-on-black} {
			opacity: 1;
			background: $dark !important;
		}
	}
}

.switch-disable {
	pointer-events: none;
	.switch {
		background: $grey_light !important;
	}
}

.checkbox input {
	position: absolute;
	opacity: 0;
	top: 0.4rem;
	height: 2.6rem;
	width: 5.4rem;
}

.checkbox label {
	padding-left: 0;
	position: relative;
}

.switch {
	border-radius: 10rem;
	cursor: pointer;
	display: inline-block;
	width: 4.4rem;
	position: relative;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	vertical-align: middle;
}

.switch,
.switch > small {
	background-color: $light;
	height: 2.2rem;
}

input:not(:disabled) + .switch {
	background: $grey_light;
	// margin-right: 0.7rem; // changed to match the UI Mockup.

	@media #{$black-on-white} {
		background: $light;
	}
	@media #{$white-on-black} {
		background: $dark;
	}

	&:hover {
		small {
			@media #{$black-on-white} {
				background: $high-contrast-white-dark-magenta !important;
			}
			@media #{$white-on-black} {
				background: $high-contrast-black-cyan !important;
			}
		}
	}
}

input:not(:disabled).checked + .switch {
	background: linear-gradient(
		$gradient_angle,
		$green_darker 0%,
		$green-light 100%
	);
	transition: background 1.2s;

	@media #{$black-on-white} {
		@include high-contrast-white-background;
		@include high-contrast-white-border;
	}
	@media #{$white-on-black} {
		@include high-contrast-black-background;
		@include high-contrast-black-border;
	}
	&:hover {
		@include high-contrast-background-color;

		small {
			@media #{$black-on-white} {
				background: $high-contrast-white-dark-magenta !important;
			}
			@media #{$white-on-black} {
				background: $high-contrast-black-cyan !important;
			}
		}
	}
}

.checkbox-double .switch {
	position: relative;
	margin-left: 0.7rem;
	margin-right: 0.7rem;
}

.switch > small {
	background-color: $shade_blue;
	border-radius: 50%;
	width: 2.2rem;
	height: 2.2rem;
	position: absolute;
	left: 0.4rem;
	top: 0.4rem;
	//-webkit-box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
	//box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
	transition: background-color 0.4s, left 0.2s;
	@include high-contrast-background-color-reversal;
}

input.checked + .switch > small {
	left: 2.2rem;
	transition: background-color 0.4s, left 0.2s;
	background-color: rgb(255, 255, 255);
	@include high-contrast-background-color;
}

/* LARGE - LG */

input.checked + .switch.switch-lg > small {
	left: 2.6rem;
}

.switch.switch-lg {
	margin-top: -0.4rem;
	height: 2.6rem;
	width: 5.2rem;
}

.switch-lg small {
	height: 2.6rem;
	width: 2.6rem;
}

/* SMALL - SM */

input.checked + .switch.switch-sm > small {
	left: 1.8rem;
}

.switch.switch-sm {
	margin-top: 0;
	height: 1.8rem;
	width: 3.6rem;
}

.switch-sm small {
	height: 1.8rem;
	width: 1.8rem;
}

/* EXTRA SMALL - XS */

input.checked + .switch.switch-xs > small {
	left: 2.8rem;
}

.switch.switch-xs {
	left: -0.25rem;
	height: 2.2rem;
	width: 4.8rem;
}

.switch-xs small {
	height: 1.4rem;
	width: 1.4rem;
}

/* Full Width Switch - Right Aligned */

.checkbox.checkbox-right label {
	display: block;
}

.checkbox.checkbox-right .switch {
	position: absolute;
	left: auto;
	right: 0;
}

.switch-label {
	font-size: 1.1rem;
	text-transform: uppercase;
	color: $light;
	font-weight: $weight_bold;
	position: absolute;
	top: 0.1rem;
	width: 3.5rem;
	text-align: center;

	&.on-label {
		right: 1.3rem;
	}
	&.off-label {
		left: 1.2rem;
		color: $shade_darker;
	}
}

.spinner-text {
	padding-left: 5px;
	height: 100%;
	margin: auto;
}
.spinner-row.white-theme {
	margin-top: -5px;
	color: $main;
}

.spinner-row.blue-theme {
	margin-top: -5px;
	color: $light;
}

// .checkbox.blue-theme {
// 	&:focus {
// 		@include outline-border-white;
// 	}
// }

.checkbox.white-theme {
	&:focus {
		outline: none;
		border-radius: 10rem;
		box-shadow: 0px -0.15px 0px 2px $shade_extralight,
			-0.15px 0px 0px 3.7px $menu_hover;
		@media #{$high-contrast} {
			box-shadow: 0px -0.15px 0px 2px $dark, -0.15px 0px 0px 3.7px $light;
		}
		@media #{$black-on-white} {
			box-shadow: 0px -0.15px 0px 2px $light, -0.15px 0px 0px 3.7px $dark;
		}
		@media #{$white-on-black} {
			box-shadow: 0px -0.15px 0px 2px $dark, -0.15px 0px 0px 3.7px $light;
		}
	}
	&:hover {
		input.checked ~ .switch {
			background: $green_darker !important;
			transition: none;
		}
	}
}
