@import "../../../app.theme";

.checkbox {
	display: inline-block;
	position: relative;
	cursor: pointer;
	label {
		cursor: pointer;
		.switch-label,
		.switch {
			cursor: pointer;
		}
	}
	&.switch-disable {
		pointer-events: none;
	}
}
.switch-disable {
	pointer-events: none;
	.switch {
		background: #e6eaeb !important;
	}
}

.checkbox input {
	position: absolute;
	opacity: 0;
	top: 0.4rem;
	height: 2.6rem;
	width: 5.4rem;
}

.checkbox label {
	padding-left: 0;
	position: relative;
}

.switch {
	border-radius: 10rem;
	cursor: pointer;
	display: inline-block;
	width: 4.4rem;
	position: relative;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	vertical-align: middle;
}

.switch,
.switch > small {
	background-color: $light;
	height: 2.2rem;
}

input + .switch {
	background: linear-gradient($gradient_angle, $shade_light 0%, $shade_lightest 100%);
	margin-right: 0.7rem;
	@media #{$black-on-white} {
		background: $dark;
	}
	@media #{$white-on-black} {
		background:$light;
	}

}

input.wifi-checked + .switch {
	background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
	transition: background 1.2s;
	@media #{$black-on-white} {
		background: $high-contrast-white-textselected;
	}
	@media #{$white-on-black} {
		background: $highlight_bright;
	}

}

.checkbox-double .switch {
	position: relative;
	margin-left: 0.7rem;
	margin-right: 0.7rem;
}

.switch > small {
	background-color: $shade_darkest;
	border-radius: 10rem;
	width: 2.2rem;
	height: 2.2rem;
	position: absolute;
	left: 0.3rem;
	top: 0.2rem;
	-webkit-box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
	box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
	transition: background-color 0.4s, left 0.2s;
	@media #{$black-on-white} {
		background-color: $light;
	}
	@media #{$white-on-black} {
		background-color: $dark;
	}
}

input.wifi-checked + .switch > small {
	left: 2.2rem;
	transition: background-color 0.4s, left 0.2s;
	background-color: rgb(255, 255, 255);
}

/* LARGE - LG */

input.wifi-checked + .switch.switch-lg > small {
	left: 2.6rem;
}

.switch.switch-lg {
	margin-top: -0.4rem;
	height: 2.6rem;
	width: 5.2rem;
}

.switch-lg small {
	height: 2.6rem;
	width: 2.6rem;
}

/* SMALL - SM */

input.wifi-checked + .switch.switch-sm > small {
	left: 1.8rem;
}

.switch.switch-sm {
	margin-top: 0;
	height: 1.8rem;
	width: 3.6rem;
}

.switch-sm small {
	height: 1.8rem;
	width: 1.8rem;
}

/* EXTRA SMALL - XS */

input.wifi-checked + .switch.switch-xs > small {
	left: 4.2rem;
}

.switch.switch-xs {
	margin-top: 0.5rem;
	height: 2rem;
	width: 6rem;
}

.switch-xs small {
	height: 1.4rem;
	width: 1.4rem;
}

.switch-disable {
	pointer-events: none;
	.switch {
		background: #e6eaeb !important;
		@media #{$black-on-white} {
			background: $high-contrast-black-disabled !important;
		}
		@media #{$white-on-black} {
			background: $high-contrast-black-disabled !important;
		}

	}
}

/* Full Width Switch - Right Aligned */

.checkbox.checkbox-right label {
	display: block;
}

.checkbox.checkbox-right .switch {
	position: absolute;
	left: auto;
	right: 0;
}

.switch-label {
	font-size: 1.1rem;
	text-transform: uppercase;
	color: $light;
	font-weight: $weight_medium;
	position: absolute;
	top: 0.6rem;
	width: 3.5rem;
	left: 0.5rem;
	text-align: center;

	&.off-label {
		left: 2rem;
		color: $shade_darkest;
		}
}

.spinner-text {
	padding-left: 5px;
	height: 100%;
	margin: auto;
}
.spinner-row.white-theme {
	margin-top: -5px;
	color: $main;
}

.spinner-row.blue-theme {
	margin-top: -5px;
	color: $light;
}
