<div class="row">
    <div class="col">
        <h1>{{title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6">
        <vtr-container-card order="4" role="img" tabindex="1" id="lenovo game store" aria-label="lenovo game store"
            vtrMetrics [metricsItem]="'dashboard_gaming_banner'" metricsEvent="featureClick"
            [metricsItem]="'dashboard_gaming_banner'" metricsEvent="featureClick" [itemID]="cardContentPositionD.Id"
            [img]="cardContentPositionD.FeatureImage" [title]="cardContentPositionD.Title"
            [logoText]="cardContentPositionD.BrandName" [action]="cardContentPositionD.Action"
            [actionType]="cardContentPositionD.ActionType" [actionLink]="cardContentPositionD.ActionLink"
            [type]="'highlight'" [ratio]="4">
        </vtr-container-card>
    </div>
</div>