<!-- Here there is a role, aria-labelledby and aria-describedby because its a workaround to this popup to read the new description message when updated -->
<div class="modal-body vtr-modal-cancel" role="alertdialog" aria-labelledby="hwscan-cancel-modal-title" aria-describedby="hwscan-cancel-modal-description">

	<h1 id="hwscan-cancel-modal-title" role="text">{{ 'hardwareScan.attention' | translate }}</h1>

	<p id="hwscan-cancel-modal-description" role="text">{{ description }}</p>
	<p id="hwscan-cancel-modal-confirm-message" *ngIf="isInCountdown" role="text">{{ 'hardwareScan.cancelTextPrompt' | translate }}</p>

	<!-- This is the regular button which is shown during the cancelation countdown and which is responsible for cancel the scan/rbs process if the user clicks on it
		NOTICE: It's mandatory to use a <div class="row"> here to prevent that the button could be clicked wrongly (in its near instead of itself), caused by its 'button box' internal div-->
	<div class="row">
		<div class="col" *ngIf="!loading">
			<div class="row">
				<vtr-ui-button *ngIf="isInCountdown; else noCountdown"
					linkId="hwscan-cancel-modal-yes-btn"
					label="{{ 'hardwareScan.yes' | translate }} ({{ secondsCountdown }})"
					metricsParent="{{ ItemParent }}"
					metricsItem="{{ ConfirmItemName }}"
					(onClick)= "onAgree()">
				</vtr-ui-button>

				<ng-template #noCountdown>
					<vtr-ui-button
						#cancel_modal_ok
						linkId="hwscan-cancel-modal-ok-btn"
						(onClick)= "closeModal()"
						label="{{ 'hardwareScan.ok' | translate }}">
					</vtr-ui-button>
				</ng-template>
			</div>
		</div>

		<div class="col loading" *ngIf="loading">
			<fa-icon placement="auto" [spin]="true" [icon]="['fal', 'circle-notch']" container="body"></fa-icon>
			<!--Workaround to keep focus inside modal when there is no elements to be focused-->
			<div tabindex="1" [autofocus]=true></div>
		</div>
	</div>

	<div class="btn-modal-close" *ngIf="isInCountdown">
		<vtr-ui-close-button
			linkId="hwscan-cancel-modal-close-btn"
			metricsItem="{{ CancelItemName }}"
			metricsParent="{{ ItemParent }}"
			(clickClose)="closeModal()">
		</vtr-ui-close-button>
	</div>
</div>
