@import '../../../../../app.theme';

.vtr-modal-cancel {
	padding: 2.4rem;
	@include high-contrast-border;

	.title {
		font-size: $fontsize_xl;
		font-weight: $weight_600;
		color: $shade_blue;
		margin-bottom: 1.5rem;
	}

	.loading {
		font-size: 3rem;
		color: $main;
	}

	p {
		font-size: $fontsize_xs;
		font-weight: $weight_bold;
		color: $shade_blue;
	}

	.user-submit {
		font-size: 1.5rem;
		padding: 1rem 3rem;
		border-radius: 5rem;
		font-weight: $weight_bold;
		text-transform: uppercase;
	}

	.btn-modal-close {
		right: 0rem;
		top: 0rem;
	}
}
