<div class="color-settings">
    <vtr-ui-row-switch
        [title]="'smb.creatorCentre.creatorSettings.windowsHdColor.title' | translate"
        componentName="windows hd color"
        [caption]="'smb.creatorCentre.creatorSettings.windowsHdColor.description' | translate"
        [isSwitchVisible]="false"
        [leftIcon]="['icomoon', 'icomoon-HDR']"
        [isLastChild]="true"
        [showChildContent]="true"
        [theme]="'white'"
        [switchId]="'windows-hd-color'">
        <p class="windowsHDColorLink">
            <span role="text"
                id="smbHdr-link-launcher">{{'smb.creatorCentre.creatorSettings.windowsHdColor.link.launcher' | translate}}</span>
            <a id="smbHdr-link-here"
                href="javascript:void()"
                role="link"
                attr.aria-label="smbHdr-link-here"
                (click)="launchProtocol('ms-settings:display')"
                (keydown.enter)="launchProtocol('ms-settings:display')"
                class="">{{'smb.creatorCentre.creatorSettings.windowsHdColor.link.here' | translate}}</a>
            <span role="text"
                id="smbHdr-link-punctuation">{{'smb.creatorCentre.creatorSettings.windowsHdColor.link.punctuation' | translate}}</span>
        </p>
    </vtr-ui-row-switch>
</div>
