<div class="color-settings">
    <div class="row">
        <div class="col-auto left-icon">
            <span [ngClass]="'icomoon icomoon-HDR'"
                role="img"
                attr.aria-label="{{'device.deviceSettings.power.powerSmartSettings.intelligentCooling.title' | translate}}"></span>
        </div>
        <div class="col text-wrap subtitle">
            <h4 id="powerSmartSettings.intelligentCooling.title"
                attr.aria-label="powerSmartSettings.intelligentCooling.title">
                <!-- color settings  -->
                {{'smb.creatorCentre.creatorSettings.colorSettings.title' | translate}}
            </h4>
            <p
                aria-hidden="false">
                <span class="select-title"
                    id="powerSmartSettings-dytc5-description"
                    role="text">
                    {{'smb.creatorCentre.creatorSettings.colorSettings.desc' | translate}}
                </span>
            </p>
            <p
                aria-hidden="false">
                <span class="select-title"
                    id="powerSmartSettings-dytc5-description"
                    role="text">
                    {{'smb.creatorCentre.creatorSettings.colorSettings.clickHere' | translate}}
                </span>
            </p>
        </div>
    </div>
</div>
