@import '../../../../../../app.theme';

.color-settings {
	.windowsHDColorLink {
		padding-left: 3rem;
		font-size: 1.4rem;
		font-weight: 300;
		color: $grey_dark;
		.smbHdr-link {
			&:focus {
				outline-offset: 0;
			}
		}
	}
}