@import '../../app.theme';

.vtr-container-collapsible {
	.card-header {
		background: $light;
		.header {
			color: $main;
			font-size: 1.2rem;
			font-weight: 300;
			line-height: 1.5rem;

		}

		.text-collapse {
			color: $main 	;
			font-size: 0.8rem;
			line-height: 1rem;
		}
	}

}
