<div class="vtr-container-collapsible"
	[ngClass]="{'white-theme': theme === 'white', 'blue-theme': theme === 'blue'}">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header"
					[class.hide-border-bottom]="isCollapsed">
					<div class="container-fluid">
						<div class="row align-items-center py-2">
							<h4 class="col-auto text-left mr-auto mb-0 header"
								id="{{cardTitle+'-collapse-card-title'}}"
								attr.aria-label="{{ cardTitle + ',card' }}"
								[innerHTML]="cardTitle"></h4>
							<div class="col-auto px-3"
								*ngIf="allowCollapse">
								<div class="collapse-control"
									[tabindex]="tabIndex ? tabIndex : 0"
									vtrMetrics
									id="{{collapseLinkId+'-collapse-link'}}"
									attr.aria-label="{{collapseLinkId+'-collapse-link'}}"
									metricsEvent="itemClick"
									[metricsValue]="!isCollapsed"
									[metricsItem]="'btn.collapse'"
									[metricsParent]="metricsParent"
									(click)="onToggle()"
									(keyup.enter)="onToggle()"
									role="button"
									[attr.aria-expanded]="!isCollapsed"
									[attr.aria-labelledby]="collapseLinkId+'-collapse-card-title'">
									<div *ngIf="isCollapsed"
										class="collapse-text"
										id="{{collapseLinkId+'-expand-title'}}"
										attr.aria-label="{{collapseLinkId+'-expand-title'}}"
										[attr.aria-label]>
										<!-- Expand -->
										{{'common.ui.expand' | translate}}
									</div>
									<div *ngIf="!isCollapsed"
										class="collapse-text"
										id="{{collapseLinkId+'-collapse-title'}}"
										attr.aria-label="{{collapseLinkId+'-collapse-title'}}">
										<!-- Collapse -->
										{{'common.ui.collapse' | translate}}
									</div>
									<fa-icon *ngIf="isCollapsed"
										[icon]="['fal', 'chevron-down']"></fa-icon>
									<fa-icon *ngIf="!isCollapsed"
										[icon]="['fal', 'chevron-up']"></fa-icon>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body"
					[ngbCollapse]="isCollapsed">
					<!-- what ever content is inside the component tags, goes here -->
					<ng-content></ng-content>
				</div>
			</div>
		</div>
	</div>
</div>
