@import "../../app.theme.scss";

.vtr-camera-control {
	.camera-preview {
		.base-preview {
			border: 0.1rem solid #ecf0f1;
			height: 25.8rem;
			width: 35rem;
			object-fit: contain;
			border-radius: 0.4rem;
		}
		.feed {
			@extend .base-preview;
			background-color: $dark;
			transform: rotateY(180deg);
			&.disable {
				cursor: not-allowed;
			}
		}
	}

	.hidden {
		display: none;
	}
}
