<div class="vtr-camera-control">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 pl-0 pr-0">
			<div class="camera-preview" *ngIf="!disabledAll">
				<video *ngIf="!cameraDetail.isPrivacyModeEnabled"
					#cameraPreview
					class="feed"></video>
			</div>
			<div class="camera-preview"  *ngIf="disabledAll">
				 <img  class="feed disable" src="../../../assets/images/camera-disable.png" alt="Camera Not Available"/>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
			<ul class="list-group list-group-flush">
				<li class="list-group-item border-top"
					*ngIf="cameraSettings.brightness.supported">
					<div class="slider-item-text text-uppercase">
						Brightness
					</div>
					<vtr-ui-range-slider [step]="cameraSettings.brightness.step"
						[minValue]="cameraSettings.brightness.min"
						[maxValue]="cameraSettings.brightness.max"
						[manualRefresh]="manualRefresh"
						[enableSlider]="disabledAll"
						[(value)]="cameraSettings.brightness.value"
						(change)="onBrightnessSliderChange($event)">
					</vtr-ui-range-slider>
				</li>
				<li class="list-group-item"
					*ngIf="cameraSettings.contrast.supported">
					<div class="slider-item-text text-uppercase">
						Contrast
					</div>
					<vtr-ui-range-slider [step]="cameraSettings.contrast.step"
						[minValue]="cameraSettings.contrast.min"
						[maxValue]="cameraSettings.contrast.max"
						[manualRefresh]="manualRefresh"
						[enableSlider]="disabledAll"
						[(value)]="cameraSettings.contrast.value"
						(change)="onContrastSliderChange($event)">
					</vtr-ui-range-slider>
				</li>
				<li class="list-group-item"
					*ngIf="cameraSettings.exposure.autoModeSupported">
					<div class="d-flex justify-content-between">
						<div class="slider-item-text text-uppercase">
							Auto Exposure
						</div>
						<div class="float-right">
							<vtr-ui-switch-onoff [value]="cameraFeatureAccess.exposureAutoValue" [disabled]="disabledAll"
								(toggle)="onAutoExposureChange($event)"></vtr-ui-switch-onoff>
						</div>
					</div>
					<vtr-ui-range-slider *ngIf="cameraFeatureAccess.showAutoExposureSlider"
						[step]="cameraSettings.exposure.step"
						[minValue]="cameraSettings.exposure.min"
						[maxValue]="cameraSettings.exposure.max"
						[enableSlider]="disabledAll"
						[manualRefresh]="manualRefresh"
						[(value)]="cameraSettings.exposure.value"
						(change)="onExposureSliderChange($event)">
					</vtr-ui-range-slider>
				</li>
				<li class="list-group-item"
					*ngIf="cameraSettings.focus.supported">
					<div class="d-flex justify-content-between">
						<div class="slider-item-text text-uppercase ">
							Auto Focus
						</div>

						<div class="float-right">
							<vtr-ui-switch-onoff [value]="cameraSettings.focus.autoModeSupported"></vtr-ui-switch-onoff>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
