@import "../../app.theme.scss";

.vtr-camera-control {
	.camera-preview {
		.base-preview {
			border: 0.1rem solid #ecf0f1;
			height: 25.8rem;
			object-fit: contain;
			width: 100%;
			border-radius: 0.4rem;
		}
		.feed {
			@extend .base-preview;
			background-color: $dark;
			transform: rotateY(180deg);
		}
	}
}
