<div class="vtr-camera-control">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 pl-0 pr-0">
			<div class="camera-preview">
				<video #cameraPreview
					id="camera-preview"
					*ngIf="!disabledAll && !isCameraInErrorState"
					class="feed"></video>
				<img class="feed disable"
					*ngIf="disabledAll && !isCameraInErrorState"
					src="assets/images/camera-disable.png"
					title=""
					id="camera-notAvailable"
					role="img"
					[ngbTooltip]="'device.deviceSettings.displayCamera.camera.notAvailable' | translate"
					tooltipClass="vtr-system-tooltip"
					container="body" />
				<div class="error"
					*ngIf="isCameraInErrorState">
					<div class="error-title"
						id="camera-error-title"
						attr.aria-label="camera-error-title">
						{{ cameraErrorTitle | translate }}
					</div>
					<div class="error-description"
						id="camera-error-description"
						attr.aria-label="camera-error-description">
						{{ cameraErrorDescription | translate }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 camera-details">
			<ul class="list-group list-group-flush">
				<li class="list-group-item"
					*ngIf="cameraSettings.brightness && cameraSettings.brightness.supported">
					<div class="slider-item-text text-uppercase"
						id="camera-brightness"
						attr.aria-label="camera-brightness">
						<!-- Brightness -->
						{{'device.deviceSettings.displayCamera.camera.brightness' | translate}}
					</div>
					<vtr-ui-custom-slider [step]="cameraSettings.brightness.step"
						[min]="cameraSettings.brightness.min"
						[max]="cameraSettings.brightness.max"
						[isDisabled]="disabledAll"
						[value]="cameraSettings.brightness.value"
						(valueChange)="onBrightnessSliderChange($event)"
						[isMetricsEnabled]=true
						[metricsParent]="metricsParent"
						[ariaLabel]="'camera brightness'"
						[sliderId]="'cameraSettings-brightness'">
					</vtr-ui-custom-slider>
				</li>
				<li class="list-group-item"
					*ngIf="cameraSettings.contrast && cameraSettings.contrast.supported">
					<div class="slider-item-text text-uppercase"
						id="camera-contrast"
						attr.aria-label="camera-contrast">
						<!-- Contrast -->
						{{'device.deviceSettings.displayCamera.camera.contrast' | translate}}
					</div>
					<vtr-ui-custom-slider [step]="cameraSettings.contrast.step"
						[min]="cameraSettings.contrast.min"
						[max]="cameraSettings.contrast.max"
						[isDisabled]="disabledAll"
						[value]="cameraSettings.contrast.value"
						[isMetricsEnabled]=true
						[metricsParent]="metricsParent"
						(valueChange)="onContrastSliderChange($event)"
						[ariaLabel]="'camera contrast'"
						[sliderId]="'cameraSettings-contrast'">
					</vtr-ui-custom-slider>
				</li>
				<li class="list-group-item"
					*ngIf="cameraSettings.exposure && cameraSettings.exposure.autoModeSupported">
					<div class="d-flex justify-content-between">
						<div class="slider-item-text text-uppercase"
							id="camera-auto-exposure"
							attr.aria-label="camera-auto-exposure">
							<!-- Auto Exposure -->
							{{'device.deviceSettings.displayCamera.camera.autoExposure' | translate}}
						</div>
						<div class="float-right">
							<vtr-ui-custom-switch [value]="cameraFeatureAccess.exposureAutoValue"
								[isDisabled]="disabledAll"
								(toggle)="onAutoExposureChange($event)"
								[ariaLabel]="'device.deviceSettings.displayCamera.camera.autoExposure' | translate"
								[componentId]="'cameraSettings-autoExposure'"></vtr-ui-custom-switch>
						</div>
					</div>
					<div *ngIf="!cameraFeatureAccess.exposureAutoValue">
						<vtr-ui-custom-slider [hidden]="!cameraFeatureAccess.showAutoExposureSlider"
							[step]="cameraSettings.exposure.step"
							[min]="cameraSettings.exposure.min"
							[max]="cameraSettings.exposure.max"
							[isDisabled]="disabledAll"
							[value]="cameraSettings.exposure.value"
							[isMetricsEnabled]=true
							[metricsParent]="metricsParent"
							(valueChange)="onExposureSliderChange($event)"
							[ariaLabel]="'camera exposure'"
							[sliderId]="'cameraSettings-autoExposure'">
						</vtr-ui-custom-slider>
					</div>
				</li>
				<li class="list-group-item"
					*ngIf="cameraSettings.focus && cameraSettings.focus.supported">
					<div class="d-flex justify-content-between">
						<div class="slider-item-text text-uppercase ">
							<!-- Auto Focus -->
							{{'device.deviceSettings.displayCamera.camera.autoFocus' | translate}}
						</div>

						<div class="float-right">
							<!-- <vtr-ui-switch-onoff [value]="cameraSettings.focus.autoModeSupported"
								[onOffSwitchId]="'cameraSettings-auto-focus'"></vtr-ui-switch-onoff> -->
							<vtr-ui-custom-switch [value]="cameraSettings.focus.autoModeSupported"
								[componentId]="'cameraSettings-auto-focus'"></vtr-ui-custom-switch>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>