<div class="vtr-camera-control">
	<div class="row">
		<div class="col-6">
			<div class="camera-preview">
				<video *ngIf="!cameraDetail.isPrivacyModeEnabled"
				 #cameraPreview
				 class="feed"></video>
				<div *ngIf="cameraDetail.isPrivacyModeEnabled"
				 class="privacy text-center">
					<fa-icon [icon]="['far', 'gem']"></fa-icon>
				</div>
			</div>
		</div>
		<div class="col-6">
			<ul class="list-group list-group-flush">
				<li class="list-group-item border-top">
					<div class="slider-item-text text-uppercase">
						Brightness
					</div>
					<vtr-ui-range-slider [step]="cameraSettings.brightness.step"
					 [minValue]="cameraSettings.brightness.min"
					 [maxValue]="cameraSettings.brightness.max"
					 [value]="cameraSettings.brightness.value"
					 >
					</vtr-ui-range-slider>
				</li>
				<li class="list-group-item">
					<div class="slider-item-text text-uppercase">
						Contrast
					</div>
					<vtr-ui-range-slider [step]="cameraSettings.contrast.step"
					 [minValue]="cameraSettings.contrast.min"
					 [maxValue]="cameraSettings.contrast.max"
					 [value]="cameraSettings.contrast.value">
					</vtr-ui-range-slider>
				</li>
				<li class="list-group-item" *ngIf="cameraSettings.exposure.autoModeSupported">
					<div class="d-flex justify-content-between">
						<div class="slider-item-text text-uppercase">
							Auto Exposure
						</div>
						<div class="float-right">
							<vtr-ui-switch-onoff
							 [value]="cameraSettings.exposure.autoModeSupported"
							 (toggle)="onAutoExposureChange($event)"></vtr-ui-switch-onoff>
						</div>
					</div>
					<vtr-ui-range-slider [step]="cameraSettings.exposure.step"
					 [minValue]="cameraSettings.exposure.min"
					 [maxValue]="cameraSettings.exposure.max"
					 [value]="cameraSettings.exposure.value"
					 *ngIf="cameraSettings.exposure.supported">
					</vtr-ui-range-slider>
				</li>
				<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div class="slider-item-text text-uppercase ">
							Auto Focus
						</div>

						<div class="float-right">
							<vtr-ui-switch-onoff [value]="cameraSettings.focus.autoModeSupported"></vtr-ui-switch-onoff>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
