@import "../../../app.theme.scss";

.vtr-eye-care-mode {
	.mode-slider {
		width: 100%;
	}
	.slider-length{
		width: 80%;
	}	
	.reset-temperature {
		width: 20%;
		//width: 20rem;
		margin-top: 2.5rem;
		position: relative;

		@media #{$mediaquery_7} {
			margin-top: 1.6rem;
			position: relative;
		}

		@media #{$mediaquery_10} {
			margin-top: 1.7rem;
			position: relative;
		}
		.button-box {
			margin: 0rem 0rem 0rem 0.5rem;
			::ng-deep .button {
				min-height: 3rem;
				border-radius: 2.25rem;
				font-weight: $weight_bold;
				padding: 0.5rem 1.5rem;
				max-width: 12rem;
				@media #{$breakpoint_xl} {
					min-width: 8rem;
				}
			}
		}
		.text {
			font-size: 1.4rem;
		}
	}
	.eye-care-checkbox {
		margin: 1rem 0rem 1rem 0rem;
		font-size: 1.4rem;
	}

	.custom-control-label {
		padding-left: 0.5rem;
		line-height: 1.15;
		@media #{$mediaquery_14} {
			line-height: 1.3;
		}
		@media #{$mediaquery_19} {
			line-height: 1.3;
		}
		@media #{$mediaquery_X15} {
			line-height: 1.3;
		}

		// rounded square-box background
		&::before {
			top: 0.2rem;
			width: 1.5rem;
			height: 1.5rem;
		}

		// tick mark
		&::after {
			top: 0rem;
			width: 2rem;
			height: 2rem;
			left: -1.7rem;
		}
	}
}
