<div class="top-row-key-block"
	 *ngIf="topRowKeyObj.fnLockCap || topRowKeyObj.stickyFunCap || topRowKeyObj.primaryFunCap">
	<div *ngIf="topRowKeyObj.fnLockCap">
		<div class="row">
			<div class="col-12 pl-3">
				<div class="col-12 title-blck px-0 d-flex">
					<div class="left-icon">
						<fa-icon [icon]="['fal', 'keyboard']"></fa-icon>
					</div>
					<div class="title pl-2">
						{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.title' | translate}}
					</div>
				</div>
				<div class="col-12 pl-5 pr-0 caption">
					<div class="text">
						{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.description' | translate}}
					</div>
					<div class="my-3">
						<div class="col-12 pl-0 d-flex">
							<div class="mr-5">
								<vtr-ui-rectangle-radio [radioId]="'radio1'"
														[checked]="(topRowKeyObj.primaryFunStatus && topRowKeyObj.fnLockStatus) || (!topRowKeyObj.primaryFunStatus && !topRowKeyObj.fnLockStatus) ? true: false"
														[group]="'radio'"
														[label]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.radioButton.sFunKey' | translate"
														[iconName]="'icomoon icomoon-Special-function'"
														[disabled]="topRowKeyObj.stickyFunStatus"
														(change)="onChangeFunType(topRowKeyObj.primaryFunStatus)"
														[value]="(topRowKeyObj.primaryFunStatus && topRowKeyObj.fnLockStatus) || (!topRowKeyObj.primaryFunStatus && !topRowKeyObj.fnLockStatus) ? true: false">
								</vtr-ui-rectangle-radio>
							</div>
							<div>
								<vtr-ui-rectangle-radio [radioId]="'radio2'" [group]="'radio'"
														[checked]="(topRowKeyObj.primaryFunStatus && topRowKeyObj.fnLockStatus) || (!topRowKeyObj.primaryFunStatus && !topRowKeyObj.fnLockStatus) ? false: true"
														[label]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.radioButton.fnKey' | translate"
														[iconName]="'icomoon icomoon-F1-F12-funciton'"
														[disabled]="topRowKeyObj.stickyFunStatus"
														(change)="onChangeFunType(!topRowKeyObj.primaryFunStatus)"
														[value]="(topRowKeyObj.primaryFunStatus && topRowKeyObj.fnLockStatus) || (!topRowKeyObj.primaryFunStatus && !topRowKeyObj.fnLockStatus) ? false: true">
								</vtr-ui-rectangle-radio>
							</div>
						</div>
						<p class="text mt-3">
							{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.description' | translate}}
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--<vtr-ui-row-switch></vtr-ui-row-switch>-->
	</div>
</div>
