<div class="top-row-key-block">
	<div class="row m-0">
		<div class="row pl-4">
			<div class="col-12 title-blck px-0 d-flex">
				<div class="col-auto left-icon-column">
					<div class="left-icon-block">
						<fa-icon class="left-icon" [icon]="['fal', 'keyboard']"></fa-icon >
					</div>
				</div>
                <div class="title" role="text"  id="topRowFunctionsIdeapad-title">
                    {{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.title' | translate}}
                </div>
			</div>
            <div class="col-12 pr-0 caption">
                <div class="text" role="text" 
                    id="topRowFunctionsIdeapad-description">
                    {{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.description' | translate}}
                </div>
				<div class="my-3">
					<div class="col-12 pl-0 d-flex">
						<div class="mr-5">
							<vtr-ui-rectangle-radio [radioId]="'radio1'"
								[checked]="hotkey$ | async"
								[group]="'top-row-functions-ideapad-radio'"
								[label]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.radioButton.sFunKey' | translate"
								[iconName]="'icomoon icomoon-Special-function'"
								(change)="update$.next(keyType.HOTKEY)"
								[value]="keyType.HOTKEY"
								>
							</vtr-ui-rectangle-radio>
						</div>
						<div>
							<vtr-ui-rectangle-radio [radioId]="'radio2'"
								[group]="'top-row-functions-ideapad-radio'"
								[checked]="fnkey$ | async"
								[label]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.subSection.radioButton.fnKey' | translate"
								[iconName]="'icomoon icomoon-F1-F12-funciton'"
								(change)="update$.next(keyType.FNKEY)"
								[value]="keyType.FNKEY"
								>
							</vtr-ui-rectangle-radio>
						</div>
					</div>
                    <p role="text" class="text mt-3" *ngIf="hotkey$ | async" id="topRowFunctionsIdeapad-note-sFunKey">
                        {{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.note.sFunKey' | translate}}
                    </p>
                    <p role="text" class="text mt-3" *ngIf="fnkey$ | async" id="topRowFunctionsIdeapad-note-fnKey">
                        {{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.note.fnKey' | translate}}
                    </p>
				</div>
			</div>
		</div>
	</div>
	<!--<vtr-ui-row-switch></vtr-ui-row-switch>-->
</div>
