<div class="top-row-key-block common-li-padding">
	<vtr-ui-row-switch
		[title]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.title' | translate"
		componentName="Input Accessories"
		[caption]="'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.description' | translate"
		[leftIcon]="['fal', 'keyboard']"
		[theme]="'white'"
		[showChildContent]="true"
		[switchId]="'inputAccessory.topRowFunctions'">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<vtr-ui-circle-radio-with-checkbox-list [groupName]="'top-row-function-radio-group'"
				(optionChange)="onFunctionLockRadioChange($event)"
				[radioDetails]="functionLockUIModel">
			</vtr-ui-circle-radio-with-checkbox-list>
			<p class="text mt-3"
				*ngIf="hotkey$ | async"
				role="text"
				id="topRowFunctionsIdeapad-note-sFunKey">
				{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.note.sFunKey' | translate}}
			</p>
			<p class="text mt-3"
				*ngIf="fnkey$ | async"
				role="text"
				id="topRowFunctionsIdeapad-note-fnKey">
				{{'device.deviceSettings.inputAccessories.inputAccessory.topRowFunctions.note.fnKey' | translate}}
			</p>
		</div>
	</vtr-ui-row-switch>
</div>
