<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 22 22">
	<defs>
		<style>.a,.b{fill:none;stroke:#f7c809;stroke-width:2px;}.a{stroke-miterlimit:10;}</style>
	</defs>
	<g transform="translate(-687 -2328)">
		<g transform="translate(688 2329)">
			<g transform="translate(0 0)">
			<circle class="a" cx="10" cy="10" r="10"/>
		</g>
	</g>
	<g transform="translate(698 2333)">
		<line class="b" y2="8"/>
		<line class="b" y2="2" transform="translate(0 10)"/>
	</g>
</g>
</svg>
