<div class="breached-account">
	<div class="breached-account__social">
		<img class="breached-account__img" [src]="breached_account.image" alt="">
		<div class="breached-account__social-description">
			<h4 class="breached-account__title">{{breached_account.domain}}</h4>
			<p class="breached-account__email"
			   title="{{breached_account.breachedEmail}}">{{breached_account.breachedEmail}}</p>
		</div>
	</div>

	<span class="breached-account__date">Breached on {{breached_account.breachDate}}</span>

	<div class="breached-account__details">
		<a class="breached-account__details-link" href=""><span>Details</span></a>
	</div>
</div>
