<div class="row threat-locator mb-40">
	<div class="col">
		<div class="threat-locator-container">
			<div class="row">
				<vtr-ui-description-button class="description-button col-12 row"
					metricsEvent="featureClick"
					metricsItem="checkYourLocation"
					id="sa-ws-btn-openlocator"
					[label]="'security.wifisecurity.threatlocator.button' | translate"
					[isDisabled]="locatorButtonDisable"
					(buttonClick)="openThreatLocator()">
						<div class="sub-heading-2">Threat locator</div>
						<div class="text-regular">
							{{'security.wifisecurity.threatlocator.describe' | translate}}
						</div>
				</vtr-ui-description-button>
			</div>
		</div>
	</div>
</div>
