@import '../../../../../app.theme';
.threat-locator {
	background: url('^assets/images/threat-locator-background.webp'),
		url('^assets/images/threat-locator-background.jpg');
	border-radius: $border_radius;
	box-shadow: $drop_shadow;

	@media #{$black-on-white} {
		@include black-border;
	}
	@media #{$white-on-black} {
		@include white-border;
	}

	.threat-locator-container {
		margin: 3rem;
		padding: 2rem;
		background: $light;
		border-radius: $border_radius;

		@media #{$black-on-white} {
			@include black-border;
		}
		@media #{$white-on-black} {
			@include white-border;
		}

		.sub-heading-2 {
			color: $main_dark;
			font-weight: $weight_bold;
			font-size: 2.4rem;
		}
		.text-regular {
			color: $main_dark;
			font-size: 1.4rem;
		}
		@media #{$mediaquery_md, $mediaquery_X45} {
			vtr-ui-description-button {
				::ng-deep .vtr-ui-description-button {
					.description {
						flex: 0 0 100%;
						max-width: 100%;
					}
					.described-button {
						flex: 0 0 100%;
						max-width: 100%;
						vtr-ui-button {
							width: 100%;
							button {
								width: 100%;
							}
						}
					}
				}
			}
		}
		@media #{$mediaquery_X46} and (min-width: 1200px) {
			vtr-ui-description-button {
				::ng-deep .vtr-ui-description-button {
					.description {
						flex: 0 0 58.333333%;
						max-width: 58.33%;
					}
					.described-button {
						flex: 0 0 41.666667%;
						max-width: 41.66%;
						vtr-ui-button {
							width: 100%;
							button {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	.button-box {
		padding: 0rem;
		margin: 0rem;
		padding-top: 1rem;
		text-align: left !important;
	}
}
