@import "../../../../../app.theme";
.threat-locator {
	background: url("src/assets/images/threat-locator-background.jpg");
	border-radius: $border_radius;
	box-shadow: $drop_shadow;

	.threat-locator-container {
		margin: 3rem;
		padding: 2rem;
		background: $light;
		border-radius: $border_radius;
		.sub-heading-2 {
			color: $main_dark;
			font-weight: $weight_bold;
			font-size: 2.4rem;
		}
		.text-regular {
			color: $main_dark;
			font-size: 1.4rem;
		}
		.col-check-location {
			margin: auto;
			@media #{$mediaquery_md, $mediaquery_X45} {
				justify-content: center !important;
				.button-box {
					width: 100%;
					::ng-deep .vtr-ui-button {
						.button-box {
							.button {
								width: 100%;
								max-width: 100%;
							}
						}
					}
				}
			}
		}

		.button-box {
			padding: 0rem;
			margin: 0rem;
			padding-top: 1rem;
			text-align: left !important;
		}
	}
}
