@import "../../../../../app.theme";

.vtr-hardware-scan-header-pages {
	.hardwarescan-background {
		border-radius: 0.5rem;
		border-bottom-left-radius: 0rem;
		border-bottom-right-radius: 0rem;
		height: 100%;
		width: 100%;		
	}
}
