@import "../../styles/common-blocks";

.breaches-page {}

.breached-accounts {
  @extend %common-block-wrapper;
  padding: 3.5rem 4rem 4rem 4rem;
  &__acc-container {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1.5rem;
  }
  &__account {
    width: calc(25% - 3rem);
    margin: 1rem 1.5rem;
  }
}