@import "../../styles/common-blocks";

.breaches-page {
	@extend %common-block-wrapper;
	border-radius: 0 0 1rem 1rem;
	padding: 3.5rem 4rem 4rem 4rem;

	&__title {
		@extend %subtitle;
		font-weight: 400;

		&--red {
			color: red;
			font-weight: bold;
		}
	}

	&__header {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-content: center;
		align-items: flex-start;
	}

	&__feature-header {
		max-width: 100%;
	}

	&__tooltip {
		padding-top: 1rem;
		//align-self: center;
	}

	&__button {
		@extend %theme-btn;

		&--max-width {
			min-width: 24rem;
		}
	}
}

.breached-accounts {
	margin-top: 3rem;

	&__preview-link {
		@extend %button-link;
		padding: 0;
		border-bottom: 1px solid #2D62D8;

		&:before {
			display: none;
		}
	}

	&__clear-data-wrapper {
		width: 100%;
		text-align: right;
		margin-top: 2rem;
		padding-top: 2rem;
	}

	&__offline {
		text-align: center;
	}

	&__offline-title {
		@extend %subtitle;
		margin-top: 2rem;
		color: #34495E;
	}

	&__offline-text {
		@extend %text-common;
		margin-top: 2rem;
	}
}
