
<section class="breaches-page">

    <div class="breached-accounts">
        <p class="breached-accounts__text">Looks like some of your personal info is floating around online, making it easy for others to access your accounts without your knowledge. You should change your passwords right now.</p>

		<vtr-breached-account
			[breachedAccounts]="breached_accounts"
			[openId]="openBreachedId$ | async">
		</vtr-breached-account>

        <div class="breaches-promo">
            <img class="breaches-promo__img" src="/assets/images/privacy-tab/default.png" alt="">
            <div class="breaches-promo__text-col">
                <div class="breaches-promo__text">Use another email? Make sure it’s safe too.</div>
                <a class="breaches-promo__link" href="https://figleafapp.com/">Get Lenovo Privacy by FigLeaf</a>
            </div>
        </div>

    </div>

    <vtr-article-promo [data]="promoArticleData"></vtr-article-promo>

    <div class="promo">
        <h3 class="promo__title">We recommend to keep your data private</h3>
        <p class="promo__text">Lenovo Privacy by FigLeaf can keep your data private and can even create masked emails and hard-to-crack passwords for you. Everything remains private and fully encrypted.</p>

        <vtr-promo-video [data]="promoVideoData" [popupData]="promoVideoPopupData"></vtr-promo-video>

        <div class="promo__features-list">
            <vtr-promo-features-list [data]="promoFeaturesData"></vtr-promo-features-list>
        </div>

        <vtr-page-banner [data]="pageBannerData"></vtr-page-banner>
    </div>

    <h3>Privacy - Breached accounts page</h3>

    <button (click)="backClicked()"><= back</button>

</section>
