<section class="breaches-page"
		 vtrSendAnalytics
		 [metricsEvent]="'PageView'">

	<div class="breaches-page__header" *ngIf="!(isShowExitPitch$ | async) && !(isShowVerifyBlock$ | async) && (isOnline || (!isOnline && !(userEmail$ | async) || (isFigleafReadyForCommunication$ | async)))">
	<vtr-feature-header
			class="breaches-page__feature-header"
			[texts]="textForFeatureHeader"
			[isFeatureWasScanned]="breachedAccountWasScanned$ | async"
			[countOfIssue]="breachedAccountsCount$ | async"
			[isFigleafReadyToCommunication]="isFigleafReadyForCommunication$ | async">
			<span class="breaches-page__title--red">{{breachedAccountsCount$ | async}}</span> breached accounts found
		</vtr-feature-header>

		<button class="breaches-page__button"
				*ngIf="(isFigleafReadyForCommunication$ | async) && !(breachedAccounts$ | async)?.length"
				vtrSendAnalytics
				[metricsEvent]="'ItemClick'"
				[metricsItem]="'ViewInLenovoPrivacyEssentialsButton'"
				(click)="openFigleafApp()">
			View now
		</button>

		<button class="breaches-page__button"
				*ngIf="(isFigleafReadyForCommunication$ | async) && (breachedAccounts$ | async)?.length"
				vtrSendAnalytics
				[metricsEvent]="'ItemClick'"
				[metricsItem]="'BreachedAccountsFixInLenovoPrivacyButton'"
				(click)="openFigleafApp()">
			Fix in Lenovo Privacy Essentials
		</button>

		<div class="breaches-page__tooltip"
			 *ngIf="!(isBreachedFoundAndUserNotAuthorizedWithoutFigleaf$ | async) &&
					!(isFigleafReadyForCommunication$ | async) &&
					(breachedAccounts$ | async)?.length > 0">
			<vtr-why-seeing-tooltip [contextText]="textForTooltip">
			</vtr-why-seeing-tooltip>
		</div>
	</div>

	<div class="breached-accounts" data-analyticsName="BreachedAccountsBlock">
		<ng-container *ngIf="isOnline || (!isOnline && !(userEmail$ | async)) || (isFigleafReadyForCommunication$ | async); else offlineBlock" >
			<vtr-email-scanner
				class="breached-accounts__email-scanner"
				*ngIf="(isShowEmailScanner | async)"
				[scanCounter]="scanCounter$ | async"
				[emailWasScanned]="breachedAccountWasScanned$ | async">
			</vtr-email-scanner>
			<vtr-breached-account
				*ngIf="isShowBreachedAccount$ | async"
				[breachedAccounts]="(breachedAccounts$ | async)"
				[isUserAuthorized]="isUserAuthorized$ | async"
				[isFigleafReadyForCommunication]="isFigleafReadyForCommunication$ | async"
				(openFigleaf)="openFigleafByUrl($event)">
			</vtr-breached-account>

			<vtr-verify-email
				*ngIf="(isShowVerifyBlock$ | async)"
				[isFigleafReadyForCommunication]="isFigleafReadyForCommunication$ | async"
				[userEmail]="userEmail$ | async"
				[breachedAccountsLength]="(breachedAccounts$ | async)?.length"
				(verifyEmailEmit)="startVerify()">
			</vtr-verify-email>

			<vtr-exit-pitch *ngIf="isShowExitPitch$ | async">

			</vtr-exit-pitch>

			<div class="breached-accounts__clear-data-wrapper"
				 *ngIf="(userEmail$ | async) && !(isFigleafReadyForCommunication$ | async)">
				<vtr-clear-data-tooltip [feature]="breachedFeatureName"></vtr-clear-data-tooltip>
			</div>
		</ng-container>

		<ng-template #offlineBlock>
			<div class="breached-accounts__offline">
				<img src="assets/images/privacy-tab/offline-widget/offline-mode-grey.png"
					 srcset="assets/images/privacy-tab/offline-widget/offline-mode-grey@2x.png 2x"
					 alt="offline-mode-grey">
				<p class="breached-accounts__offline-title">Application is offline</p>
				<p class="breached-accounts__offline-text">When you connect to the internet you can view your breaches scan results.</p>
			</div>
		</ng-template>
	</div>
</section>
