@import "../../../app.theme";

.test-status-icon {
	display: inline-block;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	text-align: center;
	opacity: 1;

	&.success {
		background: $green-gradient;
		background-color: $green-darker;
		border: 2px solid $green-dark;
		@include high-contrast-status-icon-and-badge;
	}

	&.failure {
		background: $gradient_red1;
		background-color: $button_red_start;
		border: 2px solid $button_red_start;
		@include high-contrast-status-icon-and-badge;
	}

	&.warning {
		background: linear-gradient($gradient_angle, $warning_dark 0%, $warning_light 100%);
		background-color: $warning_dark;
		border: 2px solid $warning_dark;
		@include high-contrast-status-icon-and-badge;
	}

	.not-applicable {
		color: $light_grey !important;
		font-size: $fontsize_lg;
		@include high-contrast-color-reversal;
	}

	&.rotate-icon {
		transform: rotate(180deg);
	}

	fa-icon {
		font-size: $fontsize_xs2;
		line-height: 1.6rem;
		margin-bottom: 1rem;
		color: $light;
		@include high-contrast-color;
	}
}
