@import '../../../app.theme.scss';

.vtr-widget-support {
	border-radius: $border_radius;
	background-color: $light;
	box-shadow: $drop_shadow;
	padding: 2.4rem;

	.title {
		color: $main_darker;
		font-size: 2.5rem;
		font-weight: $weight_medium;
	}

	.description {
		color: $main_shade;
		font-size: $fontsize_xs;
		font-weight: $weight_light;
	}
}
