<div class="vtr-connected-home">
	<div class="container-fluid p-40">
		<div class="row">
			<div class="col">
				<div class="header">
					<div class="heading">{{'security.homeprotection.homesecurity.title' | translate}}</div>
					<div class="text-regular">
						{{'security.homeprotection.homesecurity.titleDescription' | translate}}
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col">
				<ul class="bullet-list">
					<li class="good">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto pl-0">
									<div class="bullet-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', 'check']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular">
										{{'security.homeprotection.homesecurity.homeSecurityAffect1' | translate}}
									</div>
								</div>
							</div>
						</div>
					</li>

					<li class="good">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto pl-0">
									<div class="bullet-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', 'check']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular">
										{{'security.homeprotection.homesecurity.homeSecurityAffect2' | translate}}
									</div>
								</div>
							</div>
						</div>
					</li>

					<li class="good">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto pl-0">
									<div class="bullet-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', 'check']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular">
										{{'security.homeprotection.homesecurity.homeSecurityAffect3' | translate}}
									</div>

								</div>
							</div>
						</div>
					</li>


					<li>
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto pl-0 invisible">
									<div class="bullet-icon">
										<div class="icon-bkg ">

										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular">
										{{'security.homeprotection.homesecurity.describe' | translate}}
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="col">
				<div class="gem-box">
					<div class="gem">
						<img src="assets/images/Banner_no_logo_h&f.jpg"
							center />
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="peace-of-mind">
					<div class="sub-heading">{{'security.homeprotection.homesecurity.subtitle' | translate}}</div>
					<div class="text-regular">{{'security.homeprotection.homesecurity.subtitleDescribe' | translate}} </div>
					<div class="col-sm-3">
						<div class="button-box shift-left">
							<vtr-ui-button
								[metricsItem]="'tryNow'"
								(onClick)="tryNow($event)"
								[label]="'security.homeprotection.homesecurity.tryNow' | translate"
								[disabled]="!data.tryNowEnable">
							</vtr-ui-button>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="row-seperator">&nbsp;</div>
			</div>
		</div>
		<div class="row"
			*ngIf="isShowInvitationCode">
			<div class="col">
				<div class="invitation-code-box">
					<div class="row">
						<div class="col">
							<div class="sub-heading">
								{{'security.homeprotection.invitationcode.title' | translate}}
								<div class="text-regular">{{'security.homeprotection.invitationcode.titleDescribe' | translate}}</div>
							</div>

						</div>
						<div class="col-5">
							<div class="button-box shift-right">
								<vtr-ui-button [metricsItem]="'enterInvitationCode'"
									(onClick)="enterActivationCode($event)"
									[label]="'security.homeprotection.invitationcode.button' | translate"
									[isLWSEnabled]="data.isLWSEnabled"></vtr-ui-button>
								<div *ngIf="!data.isLWSEnabled">{{'security.homeprotection.invitationcode.buttonDescribe' | translate}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--
			Remove connected home  my home as its no longer available in invision mock as per
			<div class="row">
			<div class="col">
				<vtr-connected-home-my-home></vtr-connected-home-my-home>
			</div>
		</div>
		-->

	</div>
</div>
