<div class="vtr-connected-home">
	<div class="container-fluid p-40">
		<div class="row">
			<div class="col">
				<div class="header">
					<div class="heading">Connected Home Security</div>
					<div class="text-regular">
						Connected Home Security keeps you safe in three ways:
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col">
				<ul class="bullet-list">
					<li class="good">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto">
									<div class="bullet-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', 'check']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular">
										Connected Home Security ensures your device is safe, and has not been
										compromised
									</div>
								</div>
							</div>
						</div>
					</li>

					<li class="good">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto">
									<div class="bullet-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', 'check']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular">
										Connected Home Security ensures that the networks you are connected to are safe
									</div>
								</div>
							</div>
						</div>
					</li>

					<li class="good">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto">
									<div class="bullet-icon">
										<div class="icon-bkg">
											<fa-icon [icon]="['fas', 'check']"></fa-icon>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular">
										Connected Home Security ensures that other devices connected to your home
										network are safe.
									</div>

								</div>
							</div>
						</div>
					</li>


					<li>
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-auto invisible">
									<div class="bullet-icon">
										<div class="icon-bkg ">

										</div>
									</div>
								</div>
								<div class="col">
									<div class="text-regular">
										Unsafe devices and networks can introduce malware, lead to identity theft, and
										leak private
										and financial information. Enable this feature to reduce the risk of having your
										device, and
										your home network exposed to attackers
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="col">
				<div class="gem-box">
					<div class="gem">
						<!-- <fa-icon class="icon"
						 [icon]="['far', 'gem']"
						 center></fa-icon> -->
						<!-- <img src="assets/images/Banner_no_logo_h&f.jpg"
							center /> -->
						<img src="assets/images/connected-home-gem-icon-ceed8afd.png"
							center />

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="peace-of-mind">
					<div class="sub-heading">Peace of Mind</div>
					<div class="text-regular">Connected Home Security will send you an alert if it detects a
						vulnerability in your device or home network, or if you are connected to a potentially malicious
						network. Learn even more in about Connected Home Security in Tips and Tricks. </div>

					<div class="col-sm-3">
						<div class="button-box shift-left">
							<vtr-ui-button metricsItem="try now"
								metricsParent="connected-home-security"
								metricsEvent="itemClick"
								(onClick)="tryNow($event)"
								[label]="'Try Now'"></vtr-ui-button>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="row-seperator">&nbsp;</div>
			</div>
		</div>
		<div class="row" *ngIf="isShowInvitationCode">
			<div class="col">
				<div class="invitation-code-box">
					<div class="row">
						<div class="col">
							<div class="sub-heading">
								Already have Connected Home Security?
								<div class="text-regular">Add this device to your Connected Home</div>
							</div>

						</div>
						<div class="col-5">
							<div class="button-box shift-right">
								<vtr-ui-button metricsParent="connected-home-security" metricsEvent="itemClick" metricsItem="enter invitation code" (onClick)="enterActivationCode($event)"
									[label]="'Enter invitation code'" [isLWSEnabled]="data.isLWSEnabled"></vtr-ui-button>
								<div *ngIf="!data.isLWSEnabled">enter invitation code require enable wifi security.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--
			Remove connected home  my home as its no longer available in invision mock as per
			<div class="row">
			<div class="col">
				<vtr-connected-home-my-home></vtr-connected-home-my-home>
			</div>
		</div>
		-->

	</div>
</div>
