<div>
	<vtr-ui-row-switch [title]="'device.deviceSettings.power.dpm.powerPlan.title' | translate"
		componentName="dpm-powerplan"
		[caption]="'device.deviceSettings.power.dpm.powerPlan.description' | translate"
		[leftIcon]="['icomoon', 'icomoon-dpm-power-plan']"
		[showChildContent]="true"
		[isLastChild]="true"
		[theme]="'white'">
		<div class="content">
			<section>
				<h5>
					{{'device.deviceSettings.power.dpm.powerPlan.currentPowerPlan.label' | translate}}
				</h5>
				<vtr-ui-dpm-dropdown [list]="powerPlanIntervals"
					[value]="selectedPowerPlanVal"
					(change)="onPowerPlanChange($event)"
					[dropDownId]="'dpm-powerplan-action-dropDown'">
				</vtr-ui-dpm-dropdown>
			</section>
		</div>
	</vtr-ui-row-switch>
</div>
