<div class="row">
	<div class="col">
		<h1>{{title}}</h1>
	</div>
</div>
<div class="rol vtr-page-dashboard">
	<div class="col col-lg-7 col-xl-8 vtr-page-left-column">
		<div class="row vtr-page-dashboard">
			<div class="col-sm-12 pb-20 pt-0 px-0">
				<vtr-widget-carousel [data]="contentCards.positionA.displayContent"
					[order]="1"
					source="title"
					[interval]="5000"
					cardTitle="title"
					[pauseOnHover]="true"
					image="url"
					[showNavigationArrows]="true"
					[showNavigationIndicators]="true"
					[carouselId]="'dashboard-lnk-hero-banner'"
					id="dashboard-lnk-hero-banner"
					aria-label="dashboard-lnk-hero-banner"
					link="thumbnailUrl">
				</vtr-widget-carousel>
			</div>
			<div class="col-12 px-0 d-flex custom-card-container">
				<div class="custom-card pb-20 card-left">
					<vtr-container-card order=2
						[item]="contentCards.positionB.displayContent"
						[type]="'corner'"
						[ratio]="2"
						[cornerShift]="'large'"
						[containerCardId]="'dashboard-lnk-content-b'"
						id="dashboard-card-b"
						aria-label="dashboard-card-b">
					</vtr-container-card>
				</div>
				<div class="custom-card pb-20 card-right">
					<vtr-container-card order=3
						[item]="contentCards.positionC.displayContent"
						[type]="'corner'"
						[ratio]="2"
						[containerCardId]="'dashboard-lnk-content-c'"
						id="dashboard-card-c"
						aria-label="dashboard-card-c">
					</vtr-container-card>
				</div>
			</div>
			<div class="col-sm-12 pb-20 px-0">
				<vtr-container-card order=4
					[item]="contentCards.positionD.displayContent"
					[type]="'highlight'"
					[ratio]="4"
					[containerCardId]="'dashboard-lnk-content-d'"
					id="dashboard-card-d"
					aria-label="dashboard-card-d">
				</vtr-container-card>
			</div>
			<div class="col-12 px-0 d-flex custom-card-container">
				<div class="custom-card pb-20 card-left">
					<vtr-container-card order=5
						[item]="contentCards.positionE.displayContent"
						[type]="'article'"
						[ratio]="2"
						[containerCardId]="'dashboard-lnk-content-e'"
						id="dashboard-card-e"
						aria-label="dashboard-card-e">
					</vtr-container-card>
				</div>
				<div class="custom-card pb-20 card-right">
					<vtr-container-card order=6
						[item]="contentCards.positionF.displayContent"
						[type]="'article'"
						[ratio]="2"
						[containerCardId]="'dashboard-lnk-content-f'"
						id="dashboard-card-f"
						aria-label="dashboard-card-f">
					</vtr-container-card>
				</div>
			</div>
		</div>
	</div>
</div>