@import '../../../app.theme.scss';

:host {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.find-us-modal {
	background: $light;
	background-size: cover;
	color: $main_dark;
	box-shadow: $drop_shadow;
	padding: 4rem;
	position: relative;
	width: 100%;

	.img-con {
		height: 30.5rem;
		display: flex;
		justify-content: center;
	}

	.qr-img {
		width: 22.5rem;
		height: 22.5rem;
	}

	.fb-img {
		width: 24rem;
		height: 24rem;
	}

	.goto-facebook {
		display: block;
		text-decoration: none;

		&:hover {
			.title,
			.description {
				color: $main;
			}
		}
	}

	.title {
		font-size: 3.5rem;
		font-weight: $weight_regular;
		color: $shade_blue;
		letter-spacing: 0;
	}

	.description {
		width: 76%;
		margin-left: 12%;
		font-size: 1.6rem;
		font-weight: $weight_regular;
		color: #667481;
		letter-spacing: 0;
	}
}
