.trackers__wrapper {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ECF0F1;
	border-radius: 5px;
	overflow: hidden;
	font-size: 1.8rem;
	text-align: center;
}
