<div class="exit-widget">
	<div class="exit-widget__inner">
		<div>
			<img class="exit-widget__main-image"
				 [src]="'/assets/images/privacy-tab/sidebar-exit-logo.png'"
				 [srcset]="'/assets/images/privacy-tab/sidebar-exit-logo@2x.png 2x'"
				 alt="sidebar exit logo">
		</div>
		<div class="exit-widget__text-block">
			<h3 class="exit-widget__title">Can’t sync your information</h3>
			<div class="exit-widget__text">
				To see the most recent information about breaches and tracking tools, launch Lenovo Privacy Essentials by FigLeaf.
			</div>
			<div class="exit-widget__button-link exit-widget__button-link--to-right"
				 vtrOfflineMode positionContextTo="top-right" contextSize="small">
				<a vtrOpenFigleafInstaller
				   vtrSendAnalytics
				   [metricsEvent]="'ItemClick'"
				   [metricsItem]="'Launch app'">
					Launch app
				</a>
			</div>
		</div>
	</div>
</div>
