<div class="vtr-ui-brightness-slider">
	<ng5-slider class="brightness_slider" [options]="options" (userChangeEnd)="dragEnd($event)" [manualRefresh]="manualRefresh"
		[(value)]="lightingData" [vtrMetrics]="vtrMetricEnabled" [metricsItem]="metricsId" metricsEvent="featureClick"
		[id]="'lightingBrightness'+lightingData" metricsParam="{{ metricsId }}" metricsValue="{{lightingData}}">
	</ng5-slider>

	<button type="button" id="sliderDetailsEle" tabindex="-1"></button>

	<div class=" row label" *ngIf="minValueLegend.length > 0 || maxValueLegend.length > 0">
		<div class="col">{{ minValueLegend }}</div>
		<div class="col text-right">{{ maxValueLegend }}</div>
	</div>
</div>
