@import "../../../app.theme.scss";

.vtr-ui-brightness-slider {
    .ng5-slider{
        margin: 0;
        margin-top: 2.3rem;
        ::ng-deep {
            &.ng5-slider-bubble {
                display: none;
            }
            &.ng5-slider-selection {
                background: $gaming_lighting_gradient;
            }
            &.ng5-slider-pointer {
                background: $gaming_lighting_gradient;
                height: 3rem;
                width: 3rem;
                top: -1.3rem;
            }
            &.ng5-slider-pointer{
                &::after{
                    content: "\42";
                    font-family: "gaming-icon" !important;
                    font-style: normal !important;
                    font-weight: normal !important;
                    font-variant: normal !important;
                    text-transform: none !important;
                    speak: none;
                    line-height: 1;
                    color: $gaming_lightest;
                    font-size: 2rem;
                    background: none;
                    top: calc(50% - 1rem);
                    left:  calc(50% - 1rem);
                }
            }
        }
    }
}
