@import "../../../app.theme.scss";

.vtr-ui-brightness-slider {
	#sliderDetailsEle {
		position: absolute;
		width: 0 !important;
		height: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
		outline: none !important;
	}
	.ng5-slider {
		margin: 0;
		margin-top: 2.3rem;
		::ng-deep {
			&.ng5-slider-bubble {
				display: none;
			}
			&.ng5-slider-bar {
				background-color: $gaming_square_button20;
			}
			&.ng5-slider-selection {
				background-color: $btn_secondary_color;
			}

			&.ng5-slider-pointer {
				background-image: url("../../../../assets/gaming-icons/Brightness@2x.png");
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 100%;
				height: 3.2rem;
				width: 3.2rem;
				top: -1.3rem;
				border-radius: 50%;
				&::after {
					background: none;
				}
			}
			@media #{$high-contrast} {
				&.ng5-slider-bar {
					border: 0.1rem solid windowText;
				}
				&.ng5-slider-selection {
					background: highlight;
					border: 0.1rem solid highlight;
				}
				&.ng5-slider-pointer {
					background-color: highlight;
					outline-color: highlight !important;
				}
			}
		}
	}
}

::ng-deep {
	&.ng5-slider-span {
		&.ng5-slider-bar {
			width: 99% !important;
		}
	}
	body.focus-enable {
		.is-gaming {
			.ng5-slider-pointer-min {
				&:focus {
					@include outline-blue-gaming;
				}
			}
		}
	}
}
