<div class="vtr-ui-brightness-slider">
	<ng5-slider [options]="options" (userChangeEnd)="dragEnd($event)" [manualRefresh]="manualRefresh"
		[(value)]="lightingData" vtrMetrics [metricsItem]="metricsId" metricsEvent="featureClick"
		[id]="lightingBrightness" metricsParam="{{ metricsId }}" metricsValue="{{lightingData}}" role="radiogroup">
	</ng5-slider>

	<button type="button" id="sliderDetailsEle" tabindex="-1"></button>

	<div class=" row label" *ngIf="minValueLegend.length > 0 || maxValueLegend.length > 0">
		<div class="col">{{ minValueLegend }}</div>
		<div class="col text-right">{{ maxValueLegend }}</div>
	</div>
</div>