<vtr-page-layout [title]="title"
	[textId]="'support'"
	[pageCssClass]="'support'"
	[shiftLeftUp]="true"
	[shiftRightUp]="true"
	[back]="'common.ui.back' | translate"
	[backId]="'support-page-btn-back'"
	[isInnerBack]="isCategoryArticlesShow"
	(innerBack)="onInnerBack()">

	<left-content *ngIf="!isCdDevice">
		<div class="container-fluid">
			<div class="row"
				*ngIf="!isOnline">
				<div class="col col-12 px-0 pt-0 pb-24">
					<vtr-widget-offline-info [isButtonVisible]="false"
						[isSubtitleVisible]="false"
						[title]="'dashboard.offlineInfo.title' | translate"
						[subtitle]="'dashboard.offlineInfo.subtitle' | translate"
						[buttonText]="'dashboard.offlineInfo.buttonText' | translate"
						[offlineConnection]="offlineConnection">
					</vtr-widget-offline-info>
				</div>
			</div>

			<div class="row">
				<div class="col col-12 px-0 pt-0 pb-24"
					*ngIf="warrantyService.hasFetchWarranty && deviceService.showWarranty && warrantyService.warrantyData.isAvailable">
					<vtr-widget-warranty-detail [warrantyData]="warrantyService.warrantyData"
						[warrantyUrl]="warrantyService.warrantyUrl"
						[isOnline]="isOnline"
						[isLargeWidget]="true"></vtr-widget-warranty-detail>
				</div>
				<div class="col col-12 px-0 pt-0 pb-24"
					*ngIf="deviceService.showWarranty && warrantyService.warrantyData.warrantyStatus === WarrantyStatusEnum.WarrantyNotFound">
					<a tabindex="1"
						[href]="warrantyService.warrantyUrl"
						target="_blank"
						role="link"
						class="warranty-not-found-card"
						id="warranty-make-sure-need-coverage"
						vtrMetrics
						metricsItem="WarrantyMakeSureNeedCoverageLink"
						metricsEvent="FeatureClick">
						<div class="label text-three-ellipsis"
							[title]="'warranty.makeSureNeedCoverage' | translate">{{'warranty.makeSureNeedCoverage' | translate}}</div>
					</a>
				</div>
				<div class="col col-12 px-0 pt-0 pb-24"
					*ngIf="warrantyService.hasFetchWarrantyLevels">
					<div class="warranty-levels-content">
						<h3 class="title mb-3"
							id="warranty-upgrade-levels-title">
							{{'warranty.upgradeLevels.title' | translate}}
						</h3>
						<div class="sub-title mb-0 mb-md-4 mb-lg-0 mb-xl-4"
							id="warranty-upgrade-levels-sub-title"
							role="text">
							{{'warranty.upgradeLevels.subTitle' | translate}}
						</div>
						<div class="row level-card-container no-gutters mb-24">
							<div class="level-card-content level-card-content-{{i}} col-12 col-md-4 col-lg-12 col-xl-4"
								*ngFor="let levelItem of warrantyService.warrantyLevels; let i = index">
								<div *ngIf="levelItem.isRecommended"
									id="warranty-upgrade-recommended-text"
									role="text"
									class="recommended">{{'warranty.upgradeLevels.recommended' | translate}}</div>
								<div class="row no-gutters level-card text-center">
									<div class="col-6 col-md-12 col-lg-6 col-xl-12 pr-4 pr-md-0 pr-lg-4 pr-xl-0">
										<div class="level-icon">
											<i class="warranty-icon-font warranty-font-{{levelItem.warrantyCode}}"></i>
										</div>
										<div class="level-name"
											id="warranty-upgrade-level-{{levelItem.id}}-level-name"
											role="text">{{levelItem.warrantyCodeText}}</div>
										<div class="level-button w-100">
											<button mat-customize-button
												id="warranty-level-button-{{levelItem.id}}"
												color="primary"
												tabindex="1"
												[disabled]="!isOnline"
												class="w-100 uppercase btn-size-md m-0"
												(click)="openWarrantyExploreOptions()"
												[matTooltip]="levelItem.levelText"
												matTooltipClass="vtr-system-tooltip"
												vtrMetrics
												metricsEvent="FeatureClick"
												[metricsItem]="'WarrantyLevelButton.' + levelItem.id">{{levelItem.levelText}}</button>
										</div>
									</div>
									<div class="col-6 col-md-12 col-lg-6 col-xl-12 level-detail text-left">
										<div class="level-detail-item d-flex"
											*ngFor="let point of levelItem.points; let pointIndex = index">
											<div class="icon-bkg">
												<fa-icon [icon]="['fas', 'check']"></fa-icon>
											</div>
											<div class="level-detail-label"
												id="warranty-upgrade-level-{{levelItem.id}}-level-detail-{{pointIndex}}"
												role="text"
												[innerHtml]="point"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="interested-text text-center mb-3 font-size-xs font-weight-bold">{{ 'warranty.upgradeLevels.learnMore' | translate }}</div>
						<div class="explore-options text-center">
							<a [tabindex]="isOnline ? 1 : -1"
								class="text-uppercase font-size-xs2 font-weight-bold"
								[class.is-disabled]="!isOnline"
								id="warranty-upgrade-explore-options"
								role="link"
								vtrMetrics
								metricsItem="Support.WarrantyExploreOptions"
								metricsEvent="FeatureClick"
								(click)="openWarrantyExploreOptions()">
								<span class="label mr-3 text-uppercase">{{ 'warranty.exploreOptions' | translate }}</span>
								<fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</left-content>
	<left-content *ngIf="isCdDevice">
		<div class="container-fluid">
			<div class="row"
				*ngIf="!isOnline">
				<div class="col col-12 px-0 pt-0 pb-24">
					<vtr-widget-offline-info [isButtonVisible]="false"
						[isSubtitleVisible]="false"
						[title]="'dashboard.offlineInfo.title' | translate"
						[subtitle]="'dashboard.offlineInfo.subtitle' | translate"
						[buttonText]="'dashboard.offlineInfo.buttonText' | translate"
						[offlineConnection]="offlineConnection">
					</vtr-widget-offline-info>
				</div>
			</div>
			<div class="row no-gutters"
				*ngIf="!isOnline">
				<div class="col-12 col-sm-6 pb-24 offline-article"
					*ngFor="let offlineImage of offlineImages">
					<div class="offline-article-item">
						<img class="w-100"
							[src]="offlineImage" />
					</div>
				</div>
			</div>

			<div class="row"
				*ngIf="articleCategories.length > 0 && isOnline">
				<div class="col col-12 px-0 pt-0 pb-24">
					<div class="card quick-access">
						<div id="support-category-title"
							role="text"
							class="quick-access-title">
							{{ 'support.quickAccess.categories' | translate }}</div>
						<div id="support-category-description"
							role="text"
							class="quick-access-desc">
							{{ 'support.quickAccess.categoriesDesc' | translate }}</div>
						<div class="quick-assess-categories row no-gutters">
							<div role="button"
								class="quick-assess-item focus-with-border-radius"
								*ngFor="let category of articleCategories, let i = index"
								[tabindex]="selectedCategoryId === category.Id ? -1 : 1"
								id="{{'support-category-'+category.Id}}"
								[attr.aria-label]="category.Title + 'support.quickAccess.seeArticles' | translate"
								vtrMetrics
								metricsItem="Support.CategoryClicked"
								metricsEvent="featureClick"
								metricsParam="CategoryId: {{ category.Id }}"
								metricsParent="Page.Support"
								(keyup.enter)="clickCategory(category.Id)"
								(click)="clickCategory(category.Id)">
								<div class="item-con"
									[class.selected]="selectedCategoryId === category.Id">
									<div class="item-icon">
										<img *ngIf="category.Image"
											[src]="category.Image" />
										<img *ngIf="!category.Image"
											[src]="localCateIcons[i] | svgInline | async" />
									</div>
									<div class="item-title">{{ category.Title }}</div>

									<div class="item-button"
										[matTooltip]="'support.quickAccess.seeArticles' | translate"
										matTooltipClass="vtr-system-tooltip">
										{{ 'support.quickAccess.seeArticles' | translate }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row"
				*ngIf="articlesType !== 'loading'">
				<div class="col-md-6 pb-24 card-left"
					*ngIf="articles.leftTop.length > 0">
					<vtr-container-article [items]="articles.leftTop"
						*ngIf="isOnline"
						[startIndex]="1"
						[indexTimes]="2"
						[type]="articlesType">
					</vtr-container-article>
					<vtr-container-article class="d-none d-lg-block"
						[items]="articles.leftBottom"
						*ngIf="isOnline"
						[startIndex]="5"
						[indexTimes]="2"
						[type]="articlesType">
					</vtr-container-article>
					<vtr-container-article class="d-lg-none"
						[items]="articles.leftBottomSmall"
						*ngIf="isOnline"
						[startIndex]="5"
						[indexTimes]="2"
						[type]="articlesType">
					</vtr-container-article>
				</div>
				<div class="col-md-6 pb-24 card-right"
					*ngIf="articles.middleTop.length > 0">
					<vtr-container-article [items]="articles.middleTop"
						*ngIf="isOnline"
						[startIndex]="2"
						[indexTimes]="2"
						[type]="articlesType">
					</vtr-container-article>
					<vtr-container-article class="d-none d-lg-block"
						[items]="articles.middleBottom"
						*ngIf="isOnline"
						[startIndex]="6"
						[indexTimes]="2"
						[type]="articlesType">
					</vtr-container-article>
					<vtr-container-article class="d-lg-none"
						[items]="articles.middleBottomSmall"
						*ngIf="isOnline"
						[startIndex]="6"
						[indexTimes]="2"
						[type]="articlesType">
					</vtr-container-article>
				</div>
			</div>
			<div class="spinner-content w-100 text-center"
				*ngIf="articlesType === 'loading' && isOnline">
				<div class="spinner-border text-primary progress-spinner"
					role="status"></div>
			</div>
			<div class="spinner-content w-100 text-center"
				*ngIf="articlesType === SupportContentStatus.Empty && isOnline">
				<img src="assets/images/support/empty.png" />
			</div>
		</div>
	</left-content>

	<right-content>
		<div class="container-fluid">
			<div class="row">
				<div class="col col-12 px-0 pt-0 pb-24">
					<vtr-widget-feedback [title]="'dashboard.feedback.title' | translate"
						[description]="'dashboard.feedback.subtitle' | translate"
						[actionName]="'dashboard.feedback.button' | translate"
						[isOnline]="isOnline"
						(feedBackClick)="openFeedbackModal()">
					</vtr-widget-feedback>
				</div>
			</div>

			<div class="row">
				<div class="col col-12 px-0 pt-0 pb-24">
					<vtr-widget-support [title]="'support.documentation.title' | translate"
						[description]="''"
						[items]="supportDatas.documentation"
						[widgetTittleId]="'documentation'"
						[widgetDescriptionId]="''">
					</vtr-widget-support>
				</div>
			</div>

			<div class="row">
				<div class="col col-12 px-0 pt-0 pb-24">
					<vtr-widget-support [title]="'support.needHelp.title' | translate"
						[description]="'support.needHelp.description' | translate"
						[items]="supportDatas.needHelp"
						[widgetTittleId]="'need-help'"
						[widgetDescriptionId]="'contact-us-help'">
					</vtr-widget-support>
				</div>
			</div>

			<div class="row">
				<div class="col col-12 px-0 pt-0 pb-24">
					<vtr-widget-support [title]="'support.quicklinks.title' | translate"
						[description]="''"
						[items]="supportDatas.quicklinks"
						[widgetTittleId]="'quicklinks'"
						[widgetDescriptionId]="''">
					</vtr-widget-support>
				</div>
			</div>
			<div class="row d-none d-lg-block"
				*ngIf="isCdDevice && articlesType !== 'loading' && articles.right.length > 0">
				<div class="col col-12 px-0 pt-0 pb-24">
					<vtr-container-article [items]="articles.right"
						*ngIf="isOnline"
						[startIndex]="5"
						[indexPreText]="'r'"
						[indexTimes]="1"
						[type]="articlesType">
					</vtr-container-article>
				</div>
			</div>
		</div>
	</right-content>

</vtr-page-layout>