<div class="vtr-page-support vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="title"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col col-8 vtr-page-left-column">
						<div class="row mn-6">
							<div class="col">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Low power licence-exempt devices</h4>
										<p class="card-text">
											Operation is subject to the following two conditions: When you use a wireless LAN module in the 802.11 a/n transmission mode, note the following. The devices for the band 5150–5350 MHz are only for indoor usage to reduce potential for harmful interference to co-channel Mobile Satellite systems. High power radars are allocated as primary users (meaning they have priority) of 5250–5350 MHz and 5650–5850 MHz and these radars could cause interference and/or damage to LE-LAN (Licence-Exempt Local Area Network) devices. The maximum antenna gain permitted for devices in the 5250-5350 MHz, 5470-5725 MHz, and 5725-5825 MHz bands complies with the e.i.r.p.
										</p>
									</div>

									<div class="card-body">
										<h4 class="card-title">Low power licence-exempt devices</h4>
										<p class="card-text">
											Operation is subject to the following two conditions: When you use a wireless LAN module in the 802.11 a/n transmission mode, note the following. The devices for the band 5150–5350 MHz are only for indoor usage to reduce potential for harmful interference to co-channel Mobile Satellite systems. High power radars are allocated as primary users (meaning they have priority) of 5250–5350 MHz and 5650–5850 MHz and these radars could cause interference and/or damage to LE-LAN (Licence-Exempt Local Area Network) devices. The maximum antenna gain permitted for devices in the 5250-5350 MHz, 5470-5725 MHz, and 5725-5825 MHz bands complies with the e.i.r.p.
										</p>
									</div>
									<div class="card m-3">
										<div class="card-body">
											<div class="row justify-content-center">
												<div class="col-auto">
											<span class="fa-stack fa-2x">
												<i class="fa fa-circle-thin fa-stack-2x"></i>
												<i class="fa fa-thumbs-o-up fa-stack-1x"></i>
											</span>
													<span class="fa-stack fa-2x">
												<i class="fa fa-circle-thin fa-stack-2x"></i>
												<i class="fa fa-thumbs-o-up fa-stack-1x"></i>
											</span>
													<span>
												Was this helpfull?
											</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card my-5">
									<div class="card-body">
										<h3 class="card-title">Not finding what you are looking for?</h3>
										<p class="card-text">Need additional support? Don’t hesitate to contact us via:</p>
										<div class="row">
											<div class="col px-0 mr-2">
												<div class="card">
													<div class="card-body">
														<div class="row">
															<div class="col-auto px-0">
																<i class="fa fa-briefcase"></i>
															</div>
															<div class="col text-truncate px-2">
																24/7 - LiveChat
															</div>
															<div class="col-auto">
																<button class="btn btn-primary">CHAT NOW</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col px-0 ml-2">
												<div class="card">
													<div class="card-body">
														<div class="row">
															<div class="col-auto px-0">
																<i class="fa fa-briefcase"></i>
															</div>
															<div class="col text-truncate px-2">
																Lenovo Community
															</div>
															<div class="col-auto">
																<button class="btn btn-primary">Go TO FORUM</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-4 vtr-page-right-column">
						<div class="row mn-6">
							<div class="col">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
