<div class="vtr-page-support vtr-page">
	<div class="row vtr-page-header">
		<div class="col vtr-col">
			<vtr-header-main [title]="title"></vtr-header-main>
		</div>
	</div>
	<div class="row vtr-page-content">
		<div class="col vtr-col">
			<div class="container-fluid">
				<div class="row">
					<div class="col col-8 vtr-page-left-column">
						<div class="vtr-page-shift-up nmx-40">

							<div class="row">
								<div class="col col-12 px-40 pb-40">
									<form action="" class="card p-20">
										<div class="input-group p-1">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<fa-icon [icon]="['fas', 'search']"></fa-icon>
												</div>
											</div>
											<input type="text" class="form-control px-3" placeholder="Input help here" aria-label="Input help here"
											 aria-describedby="basic-addon1" #searchInput (keyup.enter)="search(searchInput.value)">
											<div class="input-group-append">
												<button class="btn button" type="button" (click)="search(searchInput.value)">SEARCH FOR HELP</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="row" *ngIf="searchWords" class="search-result-text">
								<div class="col px-40 pt-4">
									<div class="title m-0" *ngIf="searchCount > 0">
										35 Results that match "<span class="special">{{searchWords}}</span>"
									</div>
									<div class="title m-0" *ngIf="searchCount === 0">
										<div>0 result found.</div>
										<div>
											<span class="mr-5">Would you like to go for more help?</span>
											<a href="https://community.lenovo.com" target="_blank" class="btn button" type="button">GO TO FURUM</a>
										</div>
									</div>
								</div>
							</div>
							<vtr-container-article [items]="mockService.articles">
							</vtr-container-article>
						</div>
					</div>
					<div class="col col-4 vtr-page-right-column">
						<div class="vtr-page-shift-up">
							<div class="container-fluid">

								<div class="row">
									<div class="col col-12 pb-40">
										<vtr-widget-warranty [item]="mockService.warranty"></vtr-widget-warranty>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 pb-60">
										<vtr-widget-support [title]="'Documentation'" [description]="''" [items]="mockService.documentation"></vtr-widget-support>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 pb-60">
										<vtr-widget-support [title]="'Need Help?'" [description]="'CONTACT US TO HELP YOU OUT.'" [items]="mockService.needHelp"></vtr-widget-support>
									</div>
								</div>

								<div class="row">
									<div class="col col-12 pb-60">
										<vtr-widget-support [title]="'Quicklinks'" [description]="'CONTACT US TO HELP YOU OUT.'" [items]="mockService.quicklink"></vtr-widget-support>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
