<div class="subpage-device-settings-display vtr-subpage">
	<div class="row">
		<div class="col">
			<vtr-ui-header-subpage [items]="headerMenuItems"
				[title]="title"
				[caption]="headerCaption"
				[menuTitle]="headerMenuTitle"></vtr-ui-header-subpage>
		</div>
	</div>
	<div class="row py-5 smartsettings-card"
		id="display">
		<div class="col-10 mx-auto ">
			<vtr-container-collapsible cardTitle="Display"
				[isCollapsed]="false"
				[allowCollapse]="true"
				[theme]="'white'">
				<ul class="list-group list-group-flush">
					<li class="pt-3"
						*ngIf="eyeCareModeStatus.available">
						<vtr-ui-row-switch [title]="'Eye Care Mode'"
							[caption]=""
							[isSwitchVisible]="true"
							[leftIcon]="['far', 'gem']"
							[rightIcon]="['far', 'question-circle']"
							[readMoreText]="''"
							[showChildContent]="true"
							[isSwitchChecked]="eyeCareModeStatus.status"
							(toggleOnOff)="onEyeCareModeStatusToggle($event)"
							[theme]="'white'"
							[tooltipText]="'Eye Care Mode adjusts the color temperature of your display to filter out blue light and reduce eye strain.'">
							<vtr-eye-care-mode [eyecareModeSettings]="eyecareDatasource" [enableSlider]="eyeCareModeStatus.status"
								(eyecareTemparatureChange)="onEyecareTemparaturechange($event)" (resetTemparature)="onResetTemparature($event)"></vtr-eye-care-mode>

							<br />
						</vtr-ui-row-switch>
					</li>
					<li class="pt-3">
						<vtr-ui-row-switch [title]="'Display Priority Control'"
							[caption]="'Configures microphone effect to enhance your audio experience by different scenarios and environment.'"
							[isSwitchVisible]="false"
							[leftIcon]="['far', 'gem']"
							[readMoreText]="''"
							[showChildContent]="true"
							[theme]="'white'">
							<div class="my-3">
								<vtr-ui-rectangle-radio [radioId]="'radio1'"
									[group]="'radio'"
									[label]="'HDMI'"
									[value]="'DYNAMIC'"></vtr-ui-rectangle-radio>
								<vtr-ui-rectangle-radio [radioId]="'radio2'"
									[group]="'radio'"
									[label]="'USB TYPE-c'"
									[value]="'MOVIE'"></vtr-ui-rectangle-radio>
							</div>
						</vtr-ui-row-switch>
					</li>
				</ul>
			</vtr-container-collapsible>
		</div>
	</div>
	<div class="row py-5 smartsettings-card"
		id="camera">
		<div class="col-10 mx-auto ">
			<vtr-container-collapsible cardTitle="Camera"
				[isCollapsed]="false"
				[allowCollapse]="true"
				[theme]="'white'">
				<!-- <div class="alert alert-secondary no-camera-access"
					*ngIf="!dataSource.hasAccessToCamera">
					<div>
						<strong>Note:</strong> Lenovo Vantage does not have
						permissions to access your camera. Please turn on access
						to your camera for the Lenovo Vantage app.
					</div>
					<button type="button"
						class="btn btn-link privacy-button pl-0"
						(click)="onPrivacySettingClick($event)">
						Go to windows privacy settings
					</button>
				</div> -->
				<ul class="list-group list-group-flush">
					<li class="pt-3">
						<vtr-ui-row-switch [title]="'Camera privacy mode'"
							[isSwitchVisible]="true"
							[leftIcon]="['far', 'gem']"
							[rightIcon]="['far', 'question-circle']"
							(toggleOnOff)="onCameraPrivacyModeToggle($event)"
							[isSwitchChecked]="cameraPrivacyModeStatus.status"
							[tooltipText]="'The camera stops sending live images when the privacy setting is enabled. Turn this setting on, only when you do not want to share your images to others while video calling.'">
						</vtr-ui-row-switch>
					</li>
					<li class="pt-3">
						<vtr-ui-row-switch [title]="'Camera'"
							[isSwitchVisible]="false"
							[leftIcon]="['far', 'gem']"
							[showChildContent]="true"
							[resetText]="'Reset factory settings'"
							[rightIcon]="['far', 'question-circle']"
							[tooltipText]="'Click here to reset Camera properties to default settings.'"
							(resetClick)="resetCameraSettings()">
							<vtr-camera-control [cameraSettings]="dataSource"
								(brightnessChange)="onBrightnessChange($event)"
								(contrastChange)="onContrastChange($event)"
								(exposureChange)="onCameraExposureValueChange($event)">
							</vtr-camera-control>
						</vtr-ui-row-switch>
					</li>
				</ul>
			</vtr-container-collapsible>
		</div>
	</div>
</div>
