<div class="vtr-display-and-camera  vtr-subpage">
	<div class="row">
		<div class="col">
			<vtr-ui-header-subpage
				[items]="headerMenuItems"
				[title]="title"
				[caption]="headerCaption"
				[menuTitle]="headerMenuTitle"
			></vtr-ui-header-subpage>
		</div>
	</div>

	<!-- Camera preview & setting section  -->
	<div class="p-5">
		<vtr-container-collapsible [title]="'Camera'" [isCollapsed]="false">
			<vtr-ui-row-switch [title]="'Camera privacy mode'">
			</vtr-ui-row-switch>
			<!-- not sure if camera section will be used somewhere else or not -->
			<div class="container-fluid">
				<div class="row p-5">
					<div class="col-6">
						<video #cameraPreview class="camera-preview"></video>
					</div>
					<div class="col-6">
						<ul class="list-group list-group-flush">
							<li class="list-group-item border-top">
								<div class="slider-item-text text-uppercase">
									Brightness
								</div>
								<vtr-ui-range-slider
									[step]="1"
									[minValue]="1"
									[maxValue]="10"
									[value]="3"
								>
								</vtr-ui-range-slider>
							</li>
							<li class="list-group-item">
								<div class="slider-item-text text-uppercase">
									Contrast
								</div>
								<vtr-ui-range-slider
									[step]="1"
									[minValue]="1"
									[maxValue]="10"
									[value]="5"
								>
								</vtr-ui-range-slider>
							</li>
							<li class="list-group-item">
								<div class="d-flex justify-content-between">
									<div
										class="slider-item-text text-uppercase"
									>
										Auto Exposure
									</div>
									<div class="float-right">
										<vtr-ui-switch-onoff
											(change)="
												onAutoExposureChange($event)
											"
										></vtr-ui-switch-onoff>
									</div>
								</div>
								<vtr-ui-range-slider
									[step]="1"
									[minValue]="1"
									[maxValue]="10"
									[value]="8"
									*ngIf="isAutoExposureEnabled"
								>
								</vtr-ui-range-slider>
							</li>
							<li class="list-group-item">
								<div
									class="slider-item-text text-uppercase d-flex justify-content-between"
								>
									<div>
										Auto Focus
									</div>

									<div>
										<vtr-ui-switch-onoff></vtr-ui-switch-onoff>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</vtr-container-collapsible>
	</div>
</div>
