<div class="vtr-wifi-security mb-40">
	<div class="container-fluid security-card">
		<div class="row">
			<div class="col">
				<div class="heading">{{'security.wifisecurity.container.title' | translate}}</div>
			</div>
			<div  class="pull right" >
					<img *ngIf="!deviceService.isGaming"  class="coronet-logo"
					[src]=" 'assets/images/coronet-logo.svg' | svgInline | async" />
					<img *ngIf="deviceService.isGaming"  class="coronet-logo"
					[src]="'assets/images/coronet-logo-gaming.svg' | svgInline | async" />
			</div>
		</div>
		<div class="row mb-20">
			<div>
				<div *ngIf="data.isLWSEnabled === false" class="text-regular">{{ 'security.wifisecurity.container.disableDescribe' | translate }}</div>
				<div *ngIf="data.isLWSEnabled" class="text-regular">{{ 'security.wifisecurity.container.enabledDescribe' | translate }}</div>
			</div>
		</div>
		<div class="row mb-20 no-gutters">
			<div class="col-12">
				<div class="wifi-security">
					<div class="card"
						[ngClass]="{'expand': data.isLWSEnabled}">
						<div class="card-header flex align-items-center"
							id="wifi-security">
							<div class="row no-gutters">
								<div class="col-7 subHeading align-items-center d-flex">
									<span class="circle green"
										*ngIf="data.isLWSEnabled">
										<fa-icon [icon]="['fas', 'check']"></fa-icon>
									</span>
									<span class="circle red"
										*ngIf="data.isLWSEnabled===false">
										<fa-icon [icon]="['fas', 'times']"></fa-icon>
									</span>
									<div *ngIf="data.isLWSEnabled===undefined"
										class="loading">
										<div class="spinner-border text-primary progress-spinner"
											role="status"></div>
									</div>
									<div class="d-flex align-items-center flex-wrap flex-shrink-1 overflow-hidden">
										<h3 class="mb-0 wifisecurity-container-name pr-3"
											title="{{'security.wifisecurity.container.name' | translate}}">
											{{'security.wifisecurity.container.name' | translate}}
										</h3>
										<h3 class="wifisecurity-container-enable mb-0"><span
												class="badge badge-pill badge-success line-height-2 p-0 pl-3 pr-3"
												title="{{'security.wifisecurity.container.enable' | translate}}"
												*ngIf="data.isLWSEnabled">{{'security.wifisecurity.container.enable' | translate}}</span>
											<span class="badge badge-pill badge-danger line-height-2 p-0 pl-3 pr-3"
												title="{{'security.wifisecurity.container.disable' | translate}}"
												*ngIf="data.isLWSEnabled===false">{{'security.wifisecurity.container.disable' | translate}}</span>
										</h3>
									</div>
								</div>
								<div class="col-5 align-items-center text-right sm-device-responsive row flex-wrap-reverse justify-content-end">
									<vtr-ui-switch-onoff
										[ngClass]="{'switch-disable': data.isLWSEnabled === undefined || switchDisabled || cancelClick}"
										name="wifisecurity"
										[value]="data.isLWSEnabled"
										[onOffSwitchId]="'sa-ws-switch'"
										[disabled]="data.isLWSEnabled === undefined || switchDisabled || cancelClick"
										(toggle)="onToggleChange($event)"></vtr-ui-switch-onoff>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="data.isLWSEnabled" class="card-history">
						<vtr-container-collapsible
							[collapseLinkId]="'wifi-history'"
							[cardTitle]="'security.wifisecurity.container.networkHistory' | translate"
							componentName="wifiHistoriesCollapsible"
							[isCollapsed]="!isShowMore"
							[allowCollapse]="true">
							<div class="border-top-none show">
								<div class="card-body show" *ngIf="data.histories.length > 0">
									<div class="row no-gutters wifi-card">
										<div *ngFor="let history of data.histories"
											class="col-sm-12 col-md-6 col-lg-12 col-xl-6 pr-3 wifi">
											<div class="media pt-3 border-0">
												<div class="status-icon pr-3 pl-3">
													<span class="fa-stack fa-3x">
														<fa-icon [icon]="['fal', 'wifi']"
															class="menu-pointer"></fa-icon>
														<span class="circle"
															[ngClass]="{'green':history.good == 0,'red':history.good != 0}">
															<fa-icon [icon]="['fas', 'check']"
																*ngIf="history.good == 0"></fa-icon>
															<fa-icon [icon]="['fas', 'times']"
																*ngIf="history.good != 0"></fa-icon>
														</span>
													</span>
												</div>
												<div class="connection-name media-body border-0 pl-3">
													<h5 class="mt-0"
														title="{{history.ssid}}">{{history.ssid}}</h5>
													<small class="connection-status text-muted">
														{{'security.wifisecurity.container.connect' | translate}}
														{{history.info}}
													</small>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card-foot"
									*ngIf="data.hasMore">
									<a id="sa-ws-lnk-wh-showmore"
										vtrMetrics
										metricsItem="showMoreWiFiHistory"
										metricsEvent="featureClick"
										class="show-more"
										href="#"
										(click)="clickShowMore()"
										*ngIf="isShowMoreLink">{{'security.wifisecurity.container.showmore' | translate}}</a>
									<a id="sa-ws-lnk-wh-showless"
										vtrMetrics
										metricsItem="showLessWiFiHistory"
										metricsEvent="featureClick"
										class="show-more"
										href="#"
										(click)="clickShowMore()"
										*ngIf="!isShowMoreLink">{{'security.wifisecurity.container.showless'| translate}}</a>
								</div>
							</div>
						</vtr-container-collapsible>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
