<div class="wifi-security">
	<div class="container-fluid p-40 security-card">
		<div class="row">
			<div class="col">
				<div class="heading">Lenovo Wifi Security</div>
			</div>
			<div class="pull right"><img class="coronet-logo"
					src="../../../../assets/images/coronet-logo.svg" /></div>
		</div>
		<div class="row mt-20">
			<div class="col">
				<div class="wifiSecurity accordion">
					<div class="card"
						[ngClass]="{'collapsed': isCollapsed}">
						<div class="card-header"
							id="wifiSecurity">
							<div class="half subHeading">
								<span *ngIf="isWifiSecurityEnabled"
									class="circle green">
									<fa-icon [icon]="['fas', 'check']"></fa-icon>
								</span>
								<span *ngIf="!isWifiSecurityEnabled"
									class="circle red">
									<fa-icon [icon]="['fas', 'times']"></fa-icon>
								</span>
								<h3>WIFI SECURITY</h3>
								<button class="btn btn-success btn-round-xs text-uppercase button-green">{{isWifiSecurityEnabled ? 'Enabled':'Disabled'}}</button>
							</div>
							<div class="half">
								<div class="collapse-control"
									*ngIf="isWifiSecurityEnabled"
									(click)="$event.preventDefault();isCollapsed=!isCollapsed;">
									<div *ngIf="isCollapsed"
										class="collapse-text">More info</div>
									<div *ngIf="!isCollapsed"
										class="collapse-text">Less info</div>
									<fa-icon *ngIf="isCollapsed"
										[icon]="['fas', 'chevron-down']"></fa-icon>
									<fa-icon *ngIf="!isCollapsed"
										[icon]="['fas', 'chevron-up']"></fa-icon>
								</div>
								<div class="switch"
									*ngIf="isWifiSecurityEnabled">
									<vtr-ui-switch-onoff [value]="isWifiSecurityEnabled"></vtr-ui-switch-onoff>
								</div>
							</div>
						</div>
					</div>
					<div id="wifi-collapse"
						class=""
						*ngIf="isWifiSecurityEnabled">
						<div class="card-body"
							[ngbCollapse]="isCollapsed">
							<div class="content">
								<div class="cardTitle">
									<h3>Network History</h3>
									<small class="status">
										Show: <a href=""
											(click)="$event.preventDefault();showAllNetworks=false;"
											[ngClass]="{'active': !showAllNetworks}">Malicious</a> / <a href=""
											(click)="$event.preventDefault();showAllNetworks=true;"
											[ngClass]="{'active': showAllNetworks}">All</a>
									</small>
								</div>
								<div class="cardBody">
									<ul class="openNetworks">
										<li *ngIf="showAllNetworks">
											<div class="status-icon">
												<span class="fa-stack fa-3x">
													<fa-icon [icon]="['fas', 'wifi']"
														class="menu-pointer"></fa-icon>
													<span class="circle green">
														<fa-icon [icon]="['fas', 'check']"></fa-icon>
													</span>
												</span>
											</div>
											<div class="connection-name">
												Dunkin Donutz
												<small class="connection-status">
													Connected last 12/12/2018 3:00PM
												</small>
											</div>
										</li>
										<li *ngIf="showAllNetworks">
											<div class="status-icon">
												<span class="fa-stack fa-3x">
													<fa-icon [icon]="['fas', 'wifi']"
														class="menu-pointer"></fa-icon>
													<span class="circle green">
														<fa-icon [icon]="['fas', 'check']"></fa-icon>
													</span>
												</span>
											</div>
											<div class="connection-name">
												My Wifi
												<small class="connection-status">
													Connected last 12/12/2018 3:00PM
												</small>
											</div>
										</li>
										<li>
											<div class="status-icon">
												<span class="fa-stack fa-3x">
													<fa-icon [icon]="['fas', 'wifi']"
														class="menu-pointer"></fa-icon>
													<span class="circle red">
														<fa-icon [icon]="['fas', 'times']"></fa-icon>
													</span>
												</span>
											</div>
											<div class="connection-name">
												PublicWifi1
												<small class="connection-status">
													Connected last 12/12/2018 3:00PM
												</small>
											</div>
										</li>
										<li>
											<div class="status-icon">
												<span class="fa-stack fa-3x">
													<fa-icon [icon]="['fas', 'wifi']"
														class="menu-pointer"></fa-icon>
													<span class="circle red">
														<fa-icon [icon]="['fas', 'times']"></fa-icon>
													</span>
												</span>
											</div>
											<div class="connection-name">
												PublicWifi2
												<small class="connection-status">
													Connected last 12/12/2018 3:00PM
												</small>
											</div>
										</li>
										<li *ngIf="showAllNetworks && showMore">
											<div class="status-icon">
												<span class="fa-stack fa-3x">
													<fa-icon [icon]="['fas', 'wifi']"
														class="menu-pointer"></fa-icon>
													<span class="circle green">
														<fa-icon [icon]="['fas', 'check']"></fa-icon>
													</span>
												</span>
											</div>
											<div class="connection-name">
												MyWiFi 2
												<small class="connection-status">
													Connected last 12/12/2018 3:00PM
												</small>
											</div>
										</li>
										<li *ngIf="showAllNetworks && showMore">
											<div class="status-icon">
												<span class="fa-stack fa-3x">
													<fa-icon [icon]="['fas', 'wifi']"
														class="menu-pointer"></fa-icon>
													<span class="circle green">
														<fa-icon [icon]="['fas', 'check']"></fa-icon>
													</span>
												</span>
											</div>
											<div class="connection-name">
												MyWiFi 3
												<small class="connection-status">
													Connected last 12/12/2018 3:00PM
												</small>
											</div>
										</li>
										<li *ngIf="showAllNetworks && showMore">
											<div class="status-icon">
												<span class="fa-stack fa-3x">
													<fa-icon [icon]="['fas', 'wifi']"
														class="menu-pointer"></fa-icon>
													<span class="circle green">
														<fa-icon [icon]="['fas', 'check']"></fa-icon>
													</span>
												</span>
											</div>
											<div class="connection-name">
												MyWiFi 2
												<small class="connection-status">
													Connected last 12/12/2018 3:00PM
												</small>
											</div>
										</li>
										<li *ngIf="showAllNetworks && showMore">
											<div class="status-icon">
												<span class="fa-stack fa-3x">
													<fa-icon [icon]="['fas', 'wifi']"
														class="menu-pointer"></fa-icon>
													<span class="circle green">
														<fa-icon [icon]="['fas', 'check']"></fa-icon>
													</span>
												</span>
											</div>
											<div class="connection-name">
												MyWiFi 3
												<small class="connection-status">
													Connected last 12/12/2018 3:00PM
												</small>
											</div>
										</li>
									</ul>
								</div>
								<div class="card-foot">
									<a href=""
										class="show-more"
										(click)="$event.preventDefault();showMore=!showMore;">{{!showMore?'Show more':'Show less'}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row threat-locator"
			[ngbCollapse]="isCollapsed">
			<div class="col">
				<div class="threat-locator-container">
					<div class="row">
						<div class="col">
							<div class="sub-heading-2">Threat locator</div>
							<div class="text-regular">
								Use the threat detector to determine the safety of the networks
								around you.
							</div>
						</div>
						<div class="col-5 col-check-location">
							<div class="button-box">
								<vtr-ui-button vtrMetrics
									metricsParent="lenovo-wifi-security"
									metricsEvent="itemClick"
									metricsItem="Check your location"
									(click)="openThreatLocator()"
									[label]="'Check your location'"></vtr-ui-button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-40"
			*ngIf="!isWifiSecurityEnabled">
			<div class="col">
			</div>
			<div class=" pull right">
				<div class="col-12">
					<button type="button"
						(click)="enableWifiSecurity()"
						vtrMetrics
						metricsParent="lenovo-wifi-security"
						metricsItem="enable wifi security"
						metricsEvent="itemClick"
						class="btn btn-primary text-uppercase btn-round-sm  btn-lg">
						Enable Wifi Security
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
