@import "../../../../../app.theme";

.vtr-wifi-security {
	.security-card {
		box-shadow: $drop_shadow;
		border-radius: $border_radius;
		background-color: $light;
		padding: 2rem;

		@media #{$breakpoint_sm} {
			padding: $fontsize_xl;
		}

		@media #{$breakpoint_lg} {
			margin-bottom: 3rem;
		}

		.heading {
			color: $main_dark;
			font-size: 2.4rem;
			font-weight: $weight_regular;
		}

		.coronet-logo {
			width: 10rem;
		}

		.text-regular {
			color: $main_dark;
			font-size: 1.4rem;
		}


		.wifi-security {

			.card {
				border-radius: $border_radius;

				&.expand {
					border-bottom-left-radius: 0rem;
					border-bottom-right-radius: 0rem;
				}

				.no-gutters {
					width: 100%;
					display: flex;

					.wifisecurity-container-name {
						line-height: 2rem;
						font-size: 1.2rem;
					}

					.wifisecurity-container-enable {
						line-height: 1;
						overflow: hidden;

						span {
							display: inline-block;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							font-size: 1.2rem;
							max-width: 100%;

							&.badge-success {
								background-color: $green_dark;
							}

							&.badge-danger {
								background-color: $button_red_start;
							}
						}
					}
				}

				.subHeading {

					.loading {
						margin-right: 1rem;
						text-align: center;
					}

					.circle {
						background-color: $green_darker;
						background-image: linear-gradient(135deg, $green_darker 25%, $green-light 100%);
						height: 2rem;
						width: 2rem;
						border-radius: 100%;
						border: 0.1rem solid $green_darker;
						text-align: center;
						display: inline-block;
						margin-right: 1rem;
						flex-shrink: 0;

						fa-icon {
							font-size: 1.2rem;
							color: $light;
						}

						&.red {
							background-color: $button_red_start;
							background-image: linear-gradient(135deg, $button_red_start 25%, $button_red_end 100%);
							border: 0.1rem solid $button_red_start;
						}
					}

					.line-height-2 {
						line-height: 2rem;
						height: 2rem;
					}

					h3 {
						font-weight: $weight_bold;
						text-transform: uppercase;
						line-height: 1;
					}
				}

				.sm-device-responsive {

					vtr-ui-switch-onoff {
						display: inline-block;

						::ng-deep .checkbox {
							input.wifi-checked+.switch {
								background: linear-gradient($gradient_angle, $green_darker 0%, $green-light 100%);
							}
						}
					}

					.switch-disable {
						opacity: 0.3;
						cursor: auto;

						::ng-deep .checkbox {
							opacity: 0.3;
							cursor: default;

							.switch {
								cursor: default;
							}

							.switch-label {
								cursor: default;
							}
						}
					}
				}
			}

			.card-history {
				background: $shade_extralight;
				border: 0.1rem solid $shade_lighter;
				border-bottom-left-radius: $border_radius;
				border-bottom-right-radius: $border_radius;

				::ng-deep .vtr-container-collapsible.white-theme {
					box-shadow: none !important;
					background: none !important;

					.card-header {
						border: none !important;
						.header {
							font-size: 2rem;
							font-weight: $weight_light;
							color: inherit !important;
						}

						.collapse-control {
							.collapse-text {
								color: $blueHyperLink !important;
								font-weight: $weight_medium;

								&:hover {
									color: $blueHyperLink !important;
								}
							}
						}
					}
				}

				.border-top-none {
					border-radius: $border_radius;
					border-top-left-radius: 0rem;
					border-top-right-radius: 0rem;
				}

				.card-body {
					border: 0.1rem solid $shade_lighter;
					border-radius: $border_radius;
					background: $light;
					padding-top: 0 !important;

					.wifi-card {
						div.wifi {
							padding-right: 1rem;

							.media {
								justify-content: center;
								align-items: center;
							}
						}

						div.wifi:nth-child(odd) {
							border-bottom: 0.1rem solid $shade_lighter;
							border-right: 0.1rem solid $shade_lighter;
						}

						div.wifi:nth-child(even) {
							border-bottom: 0.1rem solid $shade_lighter;
						}

						div.wifi:nth-last-child(1):nth-child(odd),
						div.wifi:nth-last-child(2):nth-child(odd) {
							border-bottom-left-radius: $border_radius;
							border-bottom: 0;
						}

						div.wifi:nth-last-child(1):nth-child(even) {
							border-bottom-right-radius: $border_radius;
							border-bottom: 0;
							border-bottom-left-radius: $border_radius; 
						}

						div.wifi:nth-child(odd) {
							@media #{$mediaquery_md, $mediaquery_X45} {
								border-right: 0;
							}
						}

						div.wifi:nth-last-child(2):nth-child(odd) {
							@media #{$mediaquery_md, $mediaquery_X45} {
								border-bottom-left-radius: 0;
								border-bottom: 0.1rem solid $shade_lighter;
							}
						}

						.connection-name {
							overflow: hidden;
							text-overflow: ellipsis;

							h5 {
								font-size: 1.4rem;
								font-weight: $weight_bold;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								line-height: 2.2rem;
							}

							.connection-status {
								font-size: 1.4rem;
							}

							small {
								font-weight: $weight_light;
								display: block;
							}
						}

						.status-icon {
							position: relative;
							padding-right: 1rem;

							span {
								height: 1.5rem;
								width: 1.5rem;
								font-size: 2rem;
							}

							fa-icon {
								color: $main;
							}

							.circle {
								background-color: $green_darker;
								background-image: linear-gradient(135deg, $green_darker 25%, $green-light 100%);
								// height: 1.5em;
								width: 1.5rem;
								border-radius: 2rem;
								border: 0.1rem solid $green_darker;
								line-height: 0.9rem;
								display: inline-block;
								position: absolute;
								top: 1.3rem;
								left: 1.3rem;
								flex-basis: auto;

								fa-icon {
									font-size: 1rem;
									color: $shade_extralight;
									position: absolute;
									left: 0.2rem;
									top: 0.2rem;
								}

								&.red {
									background-color: $button_red_start;
									background-image: linear-gradient(135deg, $button_red_start 25%, $button_red_end 100%);
									border: 0.1rem solid $button_red_start;

									fa-icon {
										left: 0.4rem;
										top: 0.2rem;
									}
								}
							}
						}
					}

				}

				.card-foot {
					margin-top: 2.2rem;

					.show-more {
						font-size: 1.6rem;
						text-decoration: underline;
					}
				}
			}

			.card-header {
				border: none !important;
				padding: 1.5rem 1rem;
				background: $shade_extralight;
				border-radius: $border_radius;

				@media #{$breakpoint_sm} {
					padding: 1rem;
				}
			}

			::ng-deep vtr-ui-switch-onoff {
				.checkbox {
					>label {
						.switch-label {
							cursor: pointer;
						}
					}

					.switch {
						margin-right: 0rem;
					}
				}
			}

		}
	}
}
