<div class="wifi-security">
	<div class="container-fluid p-40 security-card"
	 *ngIf="IsWifiSecurityInstalled==='not-installed'">
		<div class="row">
			<div class="col">
				<div class="heading">Lenovo Wifi Security</div>
			</div>
			<div class="pull right"><img class="coronet-logo"
				 src="../../../../assets/images/coronet-logo.svg" /></div>
		</div>
		<div class="row mt-20">
			<div class="col">
				<div class="wifi-security-box">
					<div class="row">
						<div class="col col-1">
							<div>
								<ul class="bullet-list">
									<li class="bad">
										<div class="bullet-icon">
											<div class="icon-bkg">
												<fa-icon [icon]="['fas', 'times']">
												</fa-icon>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col col-2">
							<div class="sub-heading">
								<p> Wifi Security</p>
							</div>
						</div>

						<div>
							<div class="button-box">
								<button type="button"
								 class="btn btn-danger btn-round-xs text-uppercase">
									Disabled
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-10 threat-locator">
			<div class="col">
				<div class="sub-heading-2">Threat locator</div>
				<div class="text-regular">
					Use the threat detector to determine the safety of the networks
					around you.
				</div>
				<div class="text-regular">
					<input type="text"
					 placeholder="Your location">
					<button type="button"
					 class="btn btn-primary text-uppercase btn-round-sm  btn-lg">
						Check threat
					</button>
				</div>
			</div>
		</div>
		<div class="row mt-40">
			<div class="col">
			</div>
			<div class=" pull right">
				<div class="col-12">
					<button type="button"
					 (click)="enableWifiSecurity()"
					 class="btn btn-primary text-uppercase btn-round-sm  btn-lg">
						Enable Wifi Security
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid p-40 security-card"
	 *ngIf="IsWifiSecurityInstalled==='active'">
		<div class="row">
			<div class="col">
				<div class="heading">Lenovo Wifi Security</div>
			</div>
			<div class="pull right"><img class="coronet-logo"
				 src="../../../../assets/images/coronet-logo.svg" /></div>
		</div>
		<div class="row mt-20">
			<div class="col">
				<div class="wifi-security-box">
					<div class="row">
						<div class="col col-1">
							<div>
								<ul class="bullet-list">
									<li class="good">
										<div class="bullet-icon">
											<div class="icon-bkg">
												<fa-icon [icon]="['fas', 'check']">
												</fa-icon>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col col-2">
							<div class="sub-heading">
								Wifi Security
							</div>
						</div>
						<div>
							<div class="button-box">
								<button type="button"
								 class="btn btn-success btn-round-xs text-uppercase">
									Enabled
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
