@import "../../../app.theme.scss";

:host {
    color: $grey_darker;

    .closeButton {
        top: -1.5rem;
        right: -1.5rem;
        height: 2.6rem;
        width: 2.6rem;

        &:focus {
            outline: 0.1rem solid $menu_hover;
        }
        &:hover {
            color: $menu_hover;
        }
    }

    .title {
        font-weight: $weight_600;
        font-size: $fontsize_xl;
    }
    
    .subtitle, .content-text  {
        font-size: $fontsize_xs;
    } 

    .line {
        border: 0.1rem solid $grey_light;
    }
}
