@import '../../../../../app.theme.scss';

.vtr-promotion-banner {
	border-radius: $border_radius;
	background-size: cover;
	color: $light;
	box-shadow: $drop_shadow;
	letter-spacing: 0;
	background-image: linear-gradient(239deg, #b773e4 0%, #7728ac 100%);
    background-size: cover;

	@media #{$white-on-black} {
		border: 0.1rem solid $light;
		background: $dark;
		background-image: none;
	}

	@media #{$black-on-white} {
		border: 0.1rem solid $dark;
		background: $light;
		background-image: none;
    }
    
    .banner{
        border-radius: $border_radius;
        padding: 2.4rem;
        .title {
            font-size: $fontsize_xl;
            font-weight: $weight_regular;
            margin-bottom: 0.5rem;
        }
    
        .description {
            font-size: $fontsize_xs;
            font-weight: $weight_regular;
            margin-bottom: 2rem;
        }
    }
}
