@import "../../../styles/common-blocks";
@import "../../../styles/variables";
@import "../../../../../../app.theme";


.privacy-score {
	@extend %common-block-wrapper;
	border-radius: 1rem 1rem 0 0;
	background: linear-gradient(131.24deg, #191C28 0%, #2F3447 100%);
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	padding: 2.5rem 4rem;
	@media (max-width: $responsive_s) {
		// flex-direction: column;
	}

	&__title-wrapper {
		// display: flex;
		// flex-flow: row;
		// align-items: center;
		// align-content: center;
	}

	&__description-col {
		// display: flex;
		// flex-grow: 1;
		// align-items: center;
		// justify-content: space-between;
		// @media (max-width: $responsive_m) {
		// 	flex-direction: column;
		// }
		// @media (max-width: $responsive_s) {
		// 	text-align: center;
		// 	margin-top: 3rem;
		// }
		text-align: left;
		@media #{$breakpoint_xl} {
			text-align: center;
		}
		@media #{$breakpoint_lg} {
			text-align: left;
		}
		@media #{$breakpoint_md} {
			text-align: center;
		}
	}

	&__btn-container {
		flex-shrink: 0;
		@media (max-width: $responsive_m) {
			padding: 0 7rem 0 4rem;
			width: 100%;
		}
	}

	&__btn {
		@extend %theme-btn;
		@media (max-width: $responsive_m) {
			width: 100%;
		}
	}
}

.score-pic {
	&__circle {
		height: 115px;
		width: 115px;
		background: linear-gradient(136.04deg, #9198AB 0%, #BEC0C2 100%);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		@media #{$breakpoint_lg} {
			margin-bottom: 2rem;
		}
		@media #{$breakpoint_sm} {
			margin-bottom: 2rem;
		}

		&--undefined {
			background: linear-gradient(136.04deg, #CB7BD9 0%, #5854D6 100%);
		}

		&--exit-undefined {
			background: linear-gradient(136.04deg, #C4ADC9 0%, #484769 100%);
		}

		&--low {
			background: linear-gradient(136.04deg, #E74C3C 0%, #FF7D70 100%);
		}

		&--medium-low {
			background: linear-gradient(296.78deg, #faab21 0%, #cc5611 100%);
		}

		&--medium {
			background: linear-gradient(296.78deg, #FAD961 0%, #FFAF00 100%);
		}

		&--high {
			background: linear-gradient(135deg, #2ECC71 0%, #35E6B9 100%);
		}
	}

	&__symbol {
		height: 7rem;
		width: 7rem;

		img {
			max-height: 100%;
			max-width: 100%;
		}
	}

	&__number {
		color: #FFFFFF;
		font-size: 3.7rem;
		font-weight: bold;
	}

	&__percent {
		font-size: 2.2rem;
	}
}

.score-description {
	//padding: 0 7rem 0 4rem;
	padding: 0;
	color: #FFFFFF;

	&__title {
		color: #FFFFFF;
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 2.9rem;
		margin: 0 1rem 0.8rem 0;
		display: inline-block;
	}

	&__text {
		@extend %text-common;
		color: #FFFFFF;
	}

	&__tooltip-text {
		font-size: 12px;
		line-height: 14px;
		font-weight: 600;
		color: #FFFFFF;
		padding: 0 6px;
		cursor: pointer;
		border: 2px solid #FFFFFF;
		border-radius: 50%;
		box-sizing: border-box;

		&:hover {
			background-color: #C2C8CE;
			border-color: #C2C8CE;
			color: #191C28;
		}
	}

	&__tooltip-context {
		width: 50rem;
	}

}
