@import "../../../app.theme";

.list-group {
	border-radius: $border_radius;

	.list-group-item {
		background: $shade_extralight;
		padding: 1.5rem;
	}

	.text {
		color: $shade_blue;
		padding: 0.5rem 0;
		font-size: 1.4rem;
		font-weight: $weight_bold;
	}

	.installing-text {
		color: $main_lightest;
		background-color: $main_gstart;
	}

	span:hover {
		cursor: default;
	}
}

.bullet-icon {
	.icon-bkg {
		display: inline-block;
		border-radius: 50%;
		height: 2rem;
		width: 2rem;
		border-width: 0.2rem;
		border-style: solid;
		text-align: center;

		fa-icon {
			font-size: 1.2rem;
			line-height: 1.6rem;
			color: $light;
		}
	}

	.icon-check {
		background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
		background-color: $go_dark;
		border-color: $go_dark;
	}

	.icon-check:before {
		content: '';
	}

	.icon-times {
		background: $gradient_red1;
		border-color: $button_red_start;
		background-color: $stop_dark;
	}

	.icon-dot {
		border-width: 0.8rem;
		border-color: $black_light;
	}

}

.badge {
	font-size: 1.2rem;
}

.badge-primary {
	background-color: $black_light;
}

.badge-danger {
	background-color: $button_red_start;
}

.flex-1 {
	flex: 1;
}

.badge-item{
	a:hover{
		cursor: default;
	}
}

.badge-item-click{
	a:hover{
		cursor: pointer;
	}

	span:hover{
		cursor: pointer;
	}
}
