@import "../../../app.theme";

.vtr-widget-hardware-scan-item {
	padding: 0 1.5rem;

	.module-information {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;

		.rotate {
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		//angle-up and angle-down icon
		fa-icon{
			font-size: 2.4rem;
			color: $gaming_grey_lightest;
		}
	}

	.title {
		font-size: $fontsize_xs;
		font-weight: $weight_600;
		padding-left: 1rem;
		color: $shade_blue;
	}

	.subtitle {
		font-size: $fontsize_xs;
		padding: 0 1rem;
		color: $shade_blue;
		font-weight: $weight_light;
	}

	.module-icon {
		display: flex;
		align-items: center;
		font-size: 3rem;
	}

	.img-icon {
		width: 3.2rem;
		height: 3.2rem;
		vertical-align: top;
		padding-top: 0.5rem;
	}

	.details-link {
		display: flex;
		color: $blue_lightest;
		font-size: $fontsize_xs2;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
		&:focus {
			@include outline-blue;
		}

		fa-icon {
			font-size: $fontsize_xs;
			color:$blue_lightest;
			padding: 0 1rem;
		}
	}

	.details-list {
		margin-left: 4.2rem;
		border-radius: $border_radius;
		.table-details {
			font-size:$fontsize_xs;
			font-weight:$weight_regular;
		}
	}

	.button-box {
		padding: 0.5rem;
		@media #{$mediaquery_7} {
			margin-top: 1.2rem;
		}

		.button {
			min-height: 2rem;
			border-radius: 3rem;
			min-width: 5rem;
			background: $gradient_main !important;
			border: none;
			color: $light !important;
			font-size: 1rem;
			font-weight: $weight_bold !important;
			text-align: center !important;
			text-decoration: none;
			display: inline-block;
			padding: 0 2.5rem;
		}
	}

	.link-support {
		padding-top: 1rem;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
			color: $menu_hover;
		}
	}

	.result-code {
		width: 100%;
		display: flex;
		text-align: right;
		padding-top: 1rem;
		padding-left: 3.2rem;
		align-items: center;

		.title, .subtitle{
			margin-bottom: 0;
		}

		.result-code-icon {
			margin-left: 0.5rem;
			margin-right: 0.4rem;
			font-size: $fontsize_lg;
			color: $menu_hover;
			cursor: pointer;

			&:hover {
				color: $highlight;
			}
		}
	}

	.test-list{
		padding-left: 4.2rem;
	}

	.collapse-control {
		cursor: pointer;

		fa-icon {
			font-size: $fontsize_lg;
			color: $blue_lightest;
			vertical-align: middle;
		}

		&:hover {
			opacity: 1;

			.collapse-text {
				text-decoration: underline;
			}
		}
		&:focus {
			@include outline-blue;
		}
	}

	.not-wrap {
		flex-wrap: nowrap;
	}
}
