<div class="vtr-widget-hardware-scan-item" *ngFor="let item of items">
	<div class="container-fluid">
		<div class="row">
			<div class="row module-information">
				<div class="module-icon" *ngIf="item.icon !== undefined">
					<div class="test-status" [ngSwitch]="item.icon">
						<img class="qr-img" *ngSwitchCase="'cpu'" [src]="'/assets/icons/hardware-scan/icon_hardware_processor.svg' | svgInline | async" />
						<img class="qr-img" *ngSwitchCase="'memory'" [src]=" '/assets/icons/hardware-scan/icon_hardware_memory.svg' | svgInline | async" />
						<img class="qr-img" *ngSwitchCase="'motherboard'" [src]=" '/assets/icons/hardware-scan/icon_hardware_motherboard.svg' | svgInline | async" />
						<img class="qr-img" *ngSwitchCase="'pci_express'" [src]=" '/assets/icons/hardware-scan/icon_hardware_pci-desktop.svg' | svgInline | async" />
						<img class="qr-img" *ngSwitchCase="'pci_express_laptop'" [src]=" '/assets/icons/hardware-scan/icon_hardware_pci-laptop.svg' | svgInline | async" />
						<img class="qr-img" *ngSwitchCase="'wireless'" [src]=" '/assets/icons/hardware-scan/icon_hardware_wireless.svg' | svgInline | async" />
						<img class="qr-img" *ngSwitchCase="'storage'" [src]=" '/assets/icons/hardware-scan/icon_hardware_hdd.svg' | svgInline | async" />
						<img class="qr-img" *ngSwitchDefault [src]=" '/assets/icons/hardware-scan/icon_hardware_hdd.svg' | svgInline | async" />
					</div>
				</div>
				<div class="title">
					<div class="row col-12 module-name">
						{{item.module}}
						<div class="row col-12 description">
							<div class="subtitle">{{item.name}}
								<span *ngIf="item.details" class="details" (click)="item.collapsed = !item.collapsed">
									<fa-icon [icon]="['fas', 'caret-right']" *ngIf="!item.collapsed"></fa-icon>
									<fa-icon [icon]="['fas', 'caret-down']" *ngIf="item.collapsed"></fa-icon>{{ detailsText }}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="settings-container">
					<vtr-ui-hardware-list *ngIf="isLoadingDone" [items]="item.listTest" [details]="item.details"
						[template]="2" [collapsed]="item.collapsed">
					</vtr-ui-hardware-list>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col pt-3">
			<div class="result-code d-flex justify-content-end" *ngIf="item.resultCode">
				<div class="result-code-value-text pr-2"><span>{{resultCodeText}}:</span></div>
				<div class="left-code-result">
					<span class="result-code-complete-text"> {{item.resultCode}}</span>
					<fa-icon *ngIf="item.information" class="result-code-icon" triggers="click:blur"
						placement="auto" [ngbTooltip]="tooltipRefModule" [icon]="['far', 'question-circle']"
						container="vtr-root" tooltipClass="vtr-tooltip" (click)="getInformation(item.information)">
					</fa-icon>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<ng-template #tooltipRefModule>
	<div [innerHTML]="tooltipText"></div>
	<div class='button-box'>
		<a
			[attr.href]="'https://support.lenovo.com/contactus'"
			target="_blank"
			vtrMetrics
			metricsItemID="HardwareScan.ResultSupport"
			metricsItemPosition="r1"
			metricsItemCategory="partnerarticle"
			metricsEvent="articleclick"
			metricsPageNumber="1">
			<button class='btn button'>
				{{ lenovoSupport }}
			</button>
		</a>
	</div>
</ng-template>
