@import "../../../app.theme";

.vtr-widget-hardware-scan-item {
	margin-top: 2rem;

	.module-information {
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	.title {
		display: flex;
		justify-content: flex-start;
		color: $shade_blue;
		font-size: $fontsize_xl;
		font-weight: $weight_600;

		.module-name {
			padding-left: 1rem;
		}
	}

	.module-icon {
		display: inline-block;
		font-size: 3rem;
	}

	.img-icon {
		width: 3.2rem;
		height: 3.2rem;
		vertical-align: top;
		padding-top: 0.5rem;
	}

	.description {
		display: flex;
		justify-content: space-between;
		font-size: $fontsize_xs2;
		font-weight: $weight_light;

		.subtitle {
			color: $shade_blue;
		}


		.details {
			color: $shade_darker;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
				cursor: pointer;
			}

			fa-icon {
				font-size: $fontsize_lg;
				padding-left: 1rem;
				padding-right: 0.5rem;
			}
		}

		.button-box {
			padding: 0.5rem;
			@media #{$mediaquery_7} {
				margin-top: 1.2rem;
			}

			.button {
			  min-height: 2rem;
			  border-radius: 3rem;
			  min-width: 5rem;
			  background: $gradient_main !important;
			  border: none;
			  color: $light !important;
			  font-size: 1rem;
			  font-weight: $weight_bold !important;
			  text-align: center !important;
			  text-decoration: none;
			  display: inline-block;
			  // cursor: pointer;
			  padding: 0 2.5rem;
			}
		}
	}
	.result-code {
		width: 100%;
		text-align: right;
		padding-right: 1.2rem;
		.result-code-value-text {
			color: $shade_blue;
			line-height: 3.3rem;
			font-size: $fontsize_xs2;
			font-weight: $weight_600;
		}
		.left-code-result {
			.result-code-complete-text {
				color: $shade_blue;
				text-transform: uppercase;
				font-size: $fontsize_xs2;
				font-weight: $weight_light;
			}

			.result-code-icon {
				margin-left: 0.5rem;
				margin-right: 0.4rem;
				font-size: $fontsize_sm;
				color: $menu_hover;
				cursor: pointer;

				&:hover {
					color: $highlight;
				}


			}
		}
	}
}
