<div class="vtr-oled-power-settings">
	<div class="row">
		<div class="col">
			<p class="caption mb-0"
				id="oled-power-settings-caption1"
				attr.aria-label="{{ description[0] }}">
				{{ description[0] }}
			</p>
			<p class="caption"
				id="oled-power-settings-caption2"
				attr.aria-label="{{ description[1] }}">
				{{ description[1] }}
			</p>
		</div>
	</div>

	<div class="dropdown row">
		<section class="col-sm-12 col-md-12 col-xl-4">
			<div class="oled-dimming-portions">
				<h5 id="oled-power-settings-tb-dimmer"
					attr.aria-label="{{'device.deviceSettings.displayCamera.display.oledPowerSettings.taskBarDimmer' | translate}}">
					{{'device.deviceSettings.displayCamera.display.oledPowerSettings.taskBarDimmer' | translate}}
				</h5>
			</div>
			<vtr-ui-dropdown [list]="intervals"
				[metricsParent]="metricsParent"
				[isMetricsEnabled]=true
				[value]="taskBarDimmerValue"
				[textCase]="'oled'"
				(selectionChange)="onTaskBarDimmerChange($event)"
				[dropDownName]="'OledPowerSettings.TaskBarDimmer'"
				[dropDownId]="'oled-taskbar-dimmer-dropDown'">
			</vtr-ui-dropdown>
		</section>
		<section class="col-sm-12 col-md-12 col-xl-4">
			<div class="oled-dimming-portions">
				<h5 id="oled-power-settings-bg-dimmer"
					attr.aria-label="{{'device.deviceSettings.displayCamera.display.oledPowerSettings.backgroundDimmer' | translate}}">
					{{'device.deviceSettings.displayCamera.display.oledPowerSettings.backgroundDimmer' | translate}}
				</h5>
			</div>
			<vtr-ui-dropdown [list]="intervals"
				[isMetricsEnabled]=true
				[metricsParent]="metricsParent"
				[value]="backgroundDimmerValue"
				[textCase]="'oled'"
				(selectionChange)="onBackgroundDimmerChange($event)"
				[dropDownName]="'OledPowerSettings.BackgroundDimmer'"
				[dropDownId]="'oled-background-dimmer-dropDown'">
			</vtr-ui-dropdown>
		</section>
		<section class="col-sm-12 col-md-12 col-xl-4">
			<div class="oled-dimming-portions">
				<h5 id="oled-power-settings-dp-dimmer"
					attr.aria-label="{{'device.deviceSettings.displayCamera.display.oledPowerSettings.displayDimmer' | translate}}">
					{{'device.deviceSettings.displayCamera.display.oledPowerSettings.displayDimmer' | translate}}
				</h5>
			</div>
			<vtr-ui-dropdown [list]="intervals"
				[isMetricsEnabled]=true
				[metricsParent]="metricsParent"
				[value]="displayDimmerValue"
				(selectionChange)="onDisplayDimmerChange($event)"
				[textCase]="'oled'"
				[dropDownName]="'OledPowerSettings.DisplayDimmer'"
				[dropDownId]="'oled-display-dimmer-dropDown'">
			</vtr-ui-dropdown>
		</section>
	</div>
</div>