<div class="vtr-ui-list-hardware">
	<ul class="list-group" [ngClass]="{'list1': template === 1, 'list2': template === 2, 'list3' : template === 3}">
		<li class=" list-group-item" *ngFor="let item of items">
			<div class="col text button-box">
				<div class="row item-line">
					<div class="item-left">
						<div class="test-status" *ngIf="item.status >= 0">
							<div [ngSwitch]="item.status">
								<!--Aria-hidden defined as true to ignore faicon selection and defined a span with description to the icon-->
								<fa-icon aria-label="status-loading-icon" role="img" class="loading" [icon]="['fas', 'circle-notch']" [spin]="true" *ngSwitchCase="0"></fa-icon>

								<span class="progress-value-text" *ngSwitchCase="1">{{item.percent}}%</span>

								<fa-icon aria-label="status-success" role="img" class="success" [icon]="['fas', 'check-circle']" *ngSwitchCase="2"></fa-icon>

								<fa-icon aria-label="status-failure" role="img" class="failure" [icon]="['fas', 'times-circle']" *ngSwitchCase="3"></fa-icon>

								<fa-icon aria-label="status-warning" role="img" class="warning" [icon]="['fas', 'exclamation-triangle']" *ngSwitchCase="4"></fa-icon>

								<fa-icon arialabel="status-not-applicable" role="img" class="not-applicable" [icon]="['fas', 'ban']" *ngSwitchCase="6"></fa-icon>

								<fa-icon aria-label="status-canceled" role="img" class="failure" [icon]="['fas', 'exclamation-circle']" *ngSwitchDefault></fa-icon>
							</div>
						</div>

						<div class="title" [ngClass]="{'not-applicable': item.status === 6}">{{item.name}}</div>
						<div class="subtitle" *ngIf="item.subname">{{item.subname}}</div>
						<div class="span-not-applicable" *ngIf="item.status === 6">{{testNotApplicable}}</div>
					</div>
					<div class="item-right" *ngIf="item.information">
						<a href="javascript:void(0)"
							role="img"
							[attr.aria-label]="item.name + 'tooltip, which reads: ' + item.information"
							(click)="getInformation(item.information)"
							class="result-code-icon"
							triggers="click:blur"
							[ngbTooltip]="tooltipRefItem"
							container="vtr-root"
							tooltipClass="vtr-tooltip"
							placement="auto">
							<fa-icon [icon]="['far', 'question-circle']"></fa-icon>
						</a>
					</div>
					<div class="item-right" *ngIf="item.result">
						<div class="module-result-text"
							[ngClass]="{'success': item.resultIcon === 2, 'failure': item.resultIcon === 3 || item.resultIcon === 4 || item.resultIcon === 5, noScanned: !item.resultIcon}">
							{{item.statusToken}}</div>
						<div class="module-result-icon">
							<div [ngSwitch]="item.resultIcon">
								<!--Aria-hidden defined as true to ignore faicon selection-->
								<fa-icon aria-hidden="true" class="success" [icon]="['fas', 'check-circle']" *ngSwitchCase="2"></fa-icon>

								<fa-icon aria-hidden="true" class="failure" [icon]="['fas', 'times-circle']" *ngSwitchCase="3"></fa-icon>

								<fa-icon aria-hidden="true" class="warning" [icon]="['fas', 'exclamation-triangle']" *ngSwitchCase="4"></fa-icon>

								<fa-icon aria-hidden="true" class="not-applicable" [icon]="['fas', 'ban']" *ngSwitchCase="5"></fa-icon>

								<fa-icon aria-hidden="true" class="failure" [icon]="['fas', 'exclamation-circle']" *ngSwitchCase="6"></fa-icon>

								<fa-icon aria-hidden="true" [icon]="['fas', 'question-circle']" *ngSwitchDefault></fa-icon>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<ng-template #tooltipRefItem>
	<div [innerHTML]="information"></div>
</ng-template>
