<div class="vtr-ui-list-hardware">
	<ul class="list-group" [ngClass]="{'list1': template === 1, 'list2': template === 2, 'list3' : template === 3}">
		<li class=" list-group-item" *ngFor="let item of items">
			<div class="col text button-box">
				<div class="row item-line">
					<div class="item-left">
						<div class="test-status" *ngIf="item.statusTest >= testResultEnum.NotStarted">
							<span class="progress-value-text" *ngIf="item.statusTest === testResultEnum.InProgress; else testFinished">{{ item.percent }}%</span>
							<ng-template #testFinished>
								<vtr-ui-test-result-icon #testFinished
									[testResultResponse]="item.statusTest">
								</vtr-ui-test-result-icon>
							</ng-template>
						</div>

						<div class="title" [ngClass]="{'not-applicable': item.statusTest === testResultEnum.Na, 'item-failed': item.statusTest === testResultEnum.Fail}">{{ item.name }}</div>
						<div class="subtitle" *ngIf="item.subname">{{ item.subname }}</div>
						<div class="span-not-applicable" *ngIf="item.statusTest === testResultEnum.Na">{{ 'hardwareScan.testNotApplicable' | translate }}</div>
					</div>
					<div class="item-right" *ngIf="item.information">
						<a href="javascript:void(0)"
							role="img"
							[attr.aria-label]="item.name + 'tooltip, which reads: ' + item.information"
							(click)="getInformation(item.information); tooltip.toggle()"
							class="result-code-icon"
							triggers="manual"
							#tooltip="ngbTooltip"
							(blur)="tooltip.close()"
							[ngbTooltip]="tooltipRefItem"
							container="vtr-root"
							tooltipClass="vtr-tooltip"
							placement="auto">
							<img aria-hidden="true" class="question-mark-list-icon" [src]="'assets/icons/questionCircle.svg' | svgInline | async" />
						</a>
					</div>
					<vtr-ui-hardware-scan-test-result
						*ngIf="item.resultModule"
						[module]="item">
					</vtr-ui-hardware-scan-test-result>
				</div>
			</div>
		</li>
	</ul>
</div>

<ng-template #tooltipRefItem>
	<div [innerHTML]="information"></div>
</ng-template>
