<div class="vtr-ui-list-hardware">
	<ul class="list-group" [ngClass]="{'list1': template === 1, 'list2': template === 2, 'list3' : template === 3}">
		<li class=" list-group-item" *ngFor="let item of items">
			<div class="col text button-box">
				<div class="row item-line">
					<div class="item-left">
						<div class="test-status" *ngIf="item.status >= 0">
							<div [ngSwitch]="item.status">
								<!--Aria-hidden defined as true to ignore faicon selection and defined a span with description to the icon-->
								<div *ngSwitchCase="0">
									<fa-icon aria-hidden="true" aria-labelledby="status-loading-icon" class="loading" [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
									<span id="status-loading-icon" class="sr-only">loading</span>
								</div>

								<span class="progress-value-text" *ngSwitchCase="1">{{item.percent}}%</span>

								<div *ngSwitchCase="2">
									<fa-icon aria-hidden="true" aria-labelledby="status-success-icon" class="success" [icon]="['fas', 'check-circle']"></fa-icon>
									<span id="status-success-icon" class="sr-only">success</span>
								</div>

								<div *ngSwitchCase="3">
									<fa-icon aria-hidden="true" aria-labelledby="status-failure-icon" class="failure" [icon]="['fas', 'times-circle']"></fa-icon>
									<span id="status-failure-icon" class="sr-only">failure</span>
								</div>

								<div *ngSwitchCase="4">
									<fa-icon aria-hidden="true" aria-labelledby="status-warning-icon" class="warning" [icon]="['fas', 'exclamation-triangle']"></fa-icon>
									<span id="status-warning-icon" class="sr-only">warning</span>
								</div>

								<div *ngSwitchCase="6">
									<fa-icon aria-hidden="true" aria-labelledby="status-not-applicable-icon" class="not-applicable" [icon]="['fas', 'ban']"></fa-icon>
									<span id="status-not-applicable-icon" class="sr-only">not applicable</span>
								</div>

								<div *ngSwitchDefault>
									<fa-icon aria-hidden="true" aria-labelledby="status-canceled-icon" class="failure" [icon]="['fas', 'exclamation-circle']"></fa-icon>
									<span id="status-canceled-icon" class="sr-only">canceled</span>
								</div>
							</div>
						</div>

						<div class="title" [ngClass]="{'not-applicable': item.status === 6}">{{item.name}}</div>
						<div class="subtitle" *ngIf="item.subname">{{item.subname}}</div>
						<div class="span-not-applicable" *ngIf="item.status === 6">{{testNotApplicable}}</div>
					</div>
					<div class="item-right" *ngIf="item.information">
						<a href="javascript:void(0)"
							role="img"
							[attr.aria-label]="item.name + 'question-mark, witch reads: ' + item.information"
							(click)="getInformation(item.information)"
							class="result-code-icon"
							triggers="click:blur"
							[ngbTooltip]="tooltipRefItem"
							container="vtr-root"
							tooltipClass="vtr-tooltip"
							placement="auto">
							<fa-icon [icon]="['far', 'question-circle']"></fa-icon>
						</a>
					</div>
					<div class="item-right" *ngIf="item.result">
						<div class="module-result-text"
							[ngClass]="{'success': item.resultIcon === 2, 'failure': item.resultIcon === 3 || item.resultIcon === 4 || item.resultIcon === 5, noScanned: !item.resultIcon}">
							{{item.statusToken}}</div>
						<div class="module-result-icon">
							<div [ngSwitch]="item.resultIcon">
								<!--Aria-hidden defined as true to ignore faicon selection and defined a span with description to the icon-->
								<div *ngSwitchCase="2">
									<fa-icon aria-hidden="true" aria-labelledby="result-success-icon" class="success" [icon]="['fas', 'check-circle']"></fa-icon>
									<span id="result-success-icon" class="sr-only">success</span>
								</div>

								<div *ngSwitchCase="3">
									<fa-icon aria-hidden="true" aria-labelledby="result-failure-icon" class="failure" [icon]="['fas', 'times-circle']"></fa-icon>
									<span id="result-failure-icon" class="sr-only">failure</span>
								</div>

								<div *ngSwitchCase="4">
									<fa-icon aria-hidden="true" aria-labelledby="result-warning-icon" class="warning" [icon]="['fas', 'exclamation-triangle']"></fa-icon>
									<span id="result-warning-icon" class="sr-only">warning</span>
								</div>

								<div *ngSwitchCase="5">
									<fa-icon aria-hidden="true" aria-labelledby="result-not-applicable-icon" class="not-applicable" [icon]="['fas', 'ban']"></fa-icon>
									<span id="result-not-applicable-icon" class="sr-only">not applicable</span>
								</div>

								<div *ngSwitchCase="6">
									<fa-icon aria-hidden="true" aria-labelledby="result-canceled-icon" class="failure" [icon]="['fas', 'exclamation-circle']"></fa-icon>
									<span id="result-canceled-icon" class="sr-only">canceled</span>
								</div>

								<div *ngSwitchDefault>
									<fa-icon aria-hidden="true" aria-labelledby="result-quetion-mark-icon" [icon]="['fas', 'question-circle']"></fa-icon>
									<span id="result-quetion-mark-icon" class="sr-only">question mark</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<ng-template #tooltipRefItem>
	<div [innerHTML]="information"></div>
</ng-template>
