@import "app/app.theme";

@font-face {
	font-family: "gaming-icon";
	src: url("./assets/gaming-icons/gaming-icons.eot");
	src: url("./assets/gaming-icons/gaming-icons.eot?#iefix") format("embedded-opentype"),
		url("./assets/gaming-icons/gaming-icons.woff") format("woff"),
		url("./assets/gaming-icons/gaming-icons.ttf") format("truetype"),
		url("./assets/gaming-icons/gaming-icons.svg#gaming-icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "gaming-icon" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "gaming-icon" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
	content: "\61";
}

.icon-arrowdown:before {
	content: "\62";
}

.icon-media:before {
	content: "\63";
}

.icon-menu:before {
	content: "\64";
}

.icon-power:before {
	content: "\65";
}

.icon-backarrow:before {
	content: "\66";
}

.icon-bin:before {
	content: "\67";
}

.icon-press:before {
	content: "\68";
}

.icon-question:before {
	content: "\69";
}

.icon-check:before {
	content: "\6a";
}

.icon-checkicon:before {
	content: "\6b";
}

.icon-radio:before {
	content: "\6c";
}

.icon-refresh:before {
	content: "\6d";
}

.icon-checkline:before {
	content: "\6e";
}

.icon-close:before {
	content: "\6f";
}

.icon-release:before {
	content: "\70";
}

.icon-store:before {
	content: "\71";
}

.icon-content:before {
	content: "\72";
}

.icon-device:before {
	content: "\73";
}

.icon-support:before {
	content: "\74";
}

.icon-systemupdate:before {
	content: "\75";
}

.icon-dots:before {
	content: "\76";
}

.icon-gear:before {
	content: "\77";
}

.icon-wifisecurity:before {
	content: "\78";
}

.icon-windows:before {
	content: "\79";
}

.icon-macrokey:before {
	content: "\7a";
}

.icon-hardwarescan:before {
	content: "\41";
}

.icon-sunny:before {
	content: "\42";
}

.btn {
	cursor: pointer;
}
.is-gaming {
	width: 100%;
	height: 100%;
	background-color: $gaming_darkest;
	vtr-container-collapsible {
		.vtr-container-collapsible.white-theme {
			background: $dark_cell !important;
			.card {
				background: $dark_cell !important;
			}
		}
	}
	.vtr-page,
	.vtr-page-support {
		.vtr-page-content {
			.vtr-page-left-column {
				background-color: $gaming_darkest !important;

				@media #{$between-small-medium-screen} {
					padding: 0rem 5rem 4rem 5rem;
				}

				@media #{$medium-screen} {
					padding: 0 8.5rem 4rem 8.5rem;
				}

				.installation-history-container {
					background: $dark_cell;
				}

				.vtr-available-updates {
					background: $dark_cell;

					.header {
						.heading {
							color: $gaming_lightest;
						}
					}

					.text-regular {
						color: $gaming_lightest;
					}

					.vtr-ui-list-checkbox {
						.list-group {
							.list-group-item {
								background-color: $gaming-Darkslate-blue;
								.update-title,
								.fail-reason {
									color: $gaming_lightest;
								}

								.custom-control {
									&.custom-checkbox {
										.custom-control-input:disabled ~ .custom-control-label::before {
											background-color: $gaming-Darkslate-blue;
										}

										.custom-control-input:disabled:checked ~ .custom-control-label::before {
											border-color: $gaming-Darkslate-blue;
										}
									}

									.button-box {
										.btn-round-sm {
											background: $gaming_orange_grad;
											color: $gaming_lightest;
										}
									}
								}
								.icon-check,
								.icon-times {
									.icon-bg {
										fa-icon {
											color: $gaming-Darkslate-blue;
										}
									}
								}
							}
						}
					}
				}

				.installation-history-container {
					vtr-container-collapsible {
						.vtr-container-collapsible {
							background: none;
							box-shadow: none;
							border: none;

							.vtr-installation-history {
								background-color: transparent;

								.heading {
									color: $gaming_lightest;
								}

								.installation-list {
									background-color: transparent;
									border: none;

									.list-heading {
										color: $gaming_lightest;
										border-color: $screen_dark_20;

										.sort-order {
											a {
												text-decoration: none;
											}
										}

										.item-text {
											padding-left: 0;
										}
									}

									li {
										border-color: $screen_dark_20;

										.item-text {
											color: $gaming_lightest;
											padding-left: 0;
										}

										.icon-check,
										.icon-times {
											.icon-bg {
												fa-icon {
													color: $gaming-Darkslate-blue;
												}
											}

											&::before {
												content: "";
											}
										}
									}
								}
							}

							&.white-theme {
								.card {
									background-color: $dark_cell !important;
									.card-header {
										.header {
											text-transform: uppercase;
											font-weight: $weight_black;
											position: relative;

											&::after {
												content: "";
												position: absolute;
												height: 0.4rem;
												width: 110%;
												left: 0;
												bottom: -0.6rem;
												background: $gaming_info_link;
											}
										}

										.collapse-control {
											.collapse-text {
												color: $gaming_lightest;
											}
										}
									}
								}
							}
						}
					}
				}

				.vtr-subpage {
					.vtr-ui-header-subpage {
						.title {
							color: $gaming_lightest;
						}

						.caption {
							color: $gaming_lightest;
						}

						.left-border {
							.menu-title {
								color: $gaming_lightest;
							}

							.menu-item {
								border-bottom-style: dotted;

								&:hover {
									border-bottom-style: none;
								}
							}
						}
					}
					.vtr-page-shift-up {
						.vtr-widget-device {
							background: $dark_cell !important;
							.family,
							.subheader {
								color: $gaming_lightest;
							}
							.device-sub-header,
							.sub-header-separator {
								color: $gaming_grey_lightest;
							}
							.status-list {
								background: $gaming-Darkslate-blue;
								border: none !important;
								li {
									border-bottom-color: $screen_dark_15;
									&:hover {
										background-color: $screen_dark_10;
									}
									.title {
										color: $gaming_lightest;
										.systemDetails {
											color: $gaming_lightest;
										}
									}
									&.good {
										.detail {
											color: $gaming_grey_lightest !important;
										}
									}
								}
							}
						}
					}
					.vtr-widget-permission-note {
						background: $gaming-Darkslate-blue;
						border: none;
					}
					&.subpage-device-settings-power {
						.auto-set-checkbox.custom-checkbox-gaming {
							.custom-control-input {
								position: absolute;
								opacity: 0;
								top: 0.4;
								cursor: pointer;
								height: 1.4rem;
								width: 1.4rem;
								&:checked ~ .checkmark {
									background-color: $gaming_light_blue;
									&::after {
										display: block;
									}
								}
							}
							.checkmark {
								position: absolute;
								top: 0.3rem;
								left: 0;
								height: 1.7rem;
								width: 1.7rem;
								pointer-events: none;
								background-color: $gaming_lightest;
								border: 0.2rem solid $screen_light_15;
								&::after {
									content: "";
									position: absolute;
									display: none;
									left: 0.4rem;
									top: 0.1rem;
									width: 0.6rem;
									height: 0.9rem;
									border: solid $gaming_darkest;
									border-width: 0 0.1rem 0.1rem 0;
									-webkit-transform: rotate(45deg);
									-ms-transform: rotate(45deg);
									transform: rotate(45deg);
								}
							}
							label {
								color: $gaming_grey_lightest;
								margin-left: 0.8rem;
							}
						}
						.auto-detection-note {
							background: $gaming-Darkslate-blue;
							color: $gaming_lightest;
							border: none;
						}
						.vtr-battery-charge-threshold-settings {
							.threshold-for-built-in-battery {
								color: $gaming_grey_lightest;
							}
							.inputSection {
								.btn-block button.btn-outline-shadow {
									border: none;
									background: $gaming-Darkslate-blue;
									.select-title {
										color: $gaming_lightest;
									}
									.select-text {
										color: $gaming_grey_lightest;
									}
								}
							}
							.row-seperator {
								height: 0.1rem;
								background-color: $screen_dark_20;
							}
						}
					}
				}

				.vtr-container-collapsible.white-theme {
					background: $dark_cell !important;

					.card {
						background-color: $dark_cell !important;
						.card-header {
							.header {
								color: $gaming_light_blue !important;
								font-size: 2.2rem;
							}
							#audio-microphone-collapse-card-title {
								color: $gaming_light_blue !important;
								font-size: 2.2rem;
							}

							.collapse-control {
								.collapse-text,
								fa-icon {
									color: $gaming_grey_lightest !important;
								}
							}
						}

						.card-body {
							vtr-ui-row-switch {
								.vtr-ui-switch-row.white-theme {
									.right-icon {
										font-size: 2.2rem !important;
									}

									.title {
										color: $gaming_lightest;
									}

									.caption {
										color: $gaming_grey_lightest;
									}
									.permission-note {
										background: $gaming-Darkslate-blue;
										border: none;
										.note-icon {
											color: $gaming_grey_lightest;
										}
										#camera-privacy-mode-note,
										#device-settings-camera-privacy-note {
											color: $gaming_grey_lightest;
										}
									}
								}
							}
						}
					}

					.custom-control-label,
					.seperator {
						color: $gaming_grey_lightest !important;
					}

					.vtr-camera-control {
						.list-group-flush {
							.list-group-item {
								background-color: transparent;
							}

							.border-top {
								border-top: 1px solid $screen_dark_10 !important;
							}

							&:first-child.list-group-item {
								border-top-right-radius: 0 !important;
								border-top-left-radius: 0 !important;
							}

							.slider-item-text {
								color: $gaming_lightest;
								font-size: 1.4rem;
								font-weight: $weight_bold;
							}

							vtr-ui-range-slider {
								.vtr-ui-range-slider {
									.ng5-slider {
										margin-top: 1.2rem;
										margin-bottom: 3rem;
									}

									.label {
										color: $gaming_grey_lightest !important;
									}
								}
							}
						}
					}
					.custom-control {
						&.custom-checkbox {
							.custom-control-input:disabled ~ .custom-control-label::before {
								background-color: $gaming-Darkslate-blue;
								border: 0.2rem solid $screen_light_15;
							}

							.custom-control-input:disabled:checked ~ .custom-control-label::before {
								border-color: $gaming-Darkslate-blue;
								border: 0.2rem solid $screen_light_15;
							}
						}
					}
				}

				.vtr-camera-control {
					.camera-preview {
						.feed,
						.base-preview,
						.error {
							background-color: transparent !important;
							border: none !important;
						}
					}
				}

				vtr-ui-switch-onoff {
					.checkbox {
						input {
							& + .switch {
								background: $gaming_switch_light;
								height: 2.4rem;
								width: 5.4rem;
								transition: all 0.2s ease-in;

								small {
									background: $gaming_switch_dark;
									height: 1.8rem;
									width: 1.8rem;
									margin-top: 0.1rem;
									transition: all 0.2s ease-in;
								}
							}

							&.wifi-checked + .switch {
								background: $gaming_green_gradient;
								transition: all 0.2s ease-in;

								small {
									background: $gaming_lightest;
									transition: all 0.2s ease-in;
									left: 3.2rem;
								}
							}
						}

						.switch-label.on-label {
							color: $gaming_lightest;
							font-weight: bold;
							font-size: 1.2rem;
							padding-top: 0.1rem;
							text-indent: -0.4rem;
							transition: all 0.2s ease-in;

							@media #{$medium-screen} {
								padding-top: 0.3rem;
							}

							@media #{$small-screen} {
								padding-top: 0.3rem;
							}
						}

						.switch-label.off-label {
							color: $gaming_switch_dark;
							font-weight: bold;
							font-size: 1.2rem;
							padding-top: 0.1rem;
							text-indent: 0;
							transition: all 0.2s ease-in;

							@media #{$medium-screen} {
								padding-top: 0.3rem;
							}

							@media #{$small-screen} {
								padding-top: 0.3rem;
							}
						}
					}
				}

				//badsectorspage
				.vtr-device-information {
					vtr-recover-bad-sectors {
						.vtr-recover-bad-sectors {
							background: $dark_cell;
							.header {
								.heading1 {
									color: $gaming_info_link;
								}
							}
							.vtr-ui-list-checkbox-hardware {
								.list-group {
									.list-group-item {
										background-color: $gaming-Darkslate-blue;
										border: 0.1rem solid $screen_dark_15;
										.title {
											color: $gaming_lightest;
										}
										.subtitle {
											color: $gaming_grey_lightest;
										}
										.select-item-subtitle {
											color: $gaming_grey_lightest;
										}
									}
								}
								.options {
									.select-item {
										color: $main;
									}
									.select-item-subtitle {
										color: $shade_darker;
									}
								}
							}
						}
					}
				}

				//till here

				.vtr-hardware-components {
					.vtr-device-information {
						background: $dark_cell;
						.header {
							.heading1 {
								color: $gaming_info_link;
							}
						}
						vtr-ui-hardware-list-checkbox {
							.vtr-ui-list-checkbox-hardware {
								.list-group {
									.list-group-item {
										background-color: $gaming-Darkslate-blue;
										border: 0.1rem solid $screen_dark_15;
										.title {
											color: $gaming_lightest;
										}
										.subtitle {
											color: $gaming_grey_lightest;
										}
									}
								}
							}
						}
						.select-item-subtitle {
							color: $gaming_grey_lightest;
						}
					}

					.hardware-scan-items {
						background: $dark_cell;
						.header {
							.heading1 {
								color: $gaming_info_link;
							}
						}
						.hardware-lists-container {
							vtr-ui-hardware-list {
								.vtr-ui-list-hardware {
									.list-group {
										.list-group-item {
											background-color: $gaming-Darkslate-blue;
											border: 0.1rem solid $screen_dark_15;
											.title {
												color: $gaming_lightest;
											}
											.subtitle {
												color: $gaming_grey_lightest;
											}
										}
									}
								}
							}
							vtr-widget-hardware-scan-item {
								.vtr-widget-hardware-scan-item {
									.title {
										color: $gaming_lightest;
									}
									.subtitle {
										color: $gaming_grey_lightest;
									}
								}
								vtr-ui-hardware-list {
									.vtr-ui-list-hardware {
										.list-group {
											.list-group-item {
												background-color: $gaming-Darkslate-blue;
												border: 0.1rem solid $screen_dark_15;
												.title {
													color: $gaming_lightest;
												}
												.subtitle {
													color: $gaming_grey_lightest;
												}
											}
										}
									}
								}
							}
						}
					}
					.hardware-lists-container {
						.vtr-widget-hardware-scan-item {
							.settings-container {
								.vtr-ui-list-hardware {
									.list-group {
										.list-group-item {
											&.details {
												.table-bordered {
													tr {
														border: none !important;
														td {
															border: none !important;
															border-top: 0.1rem solid $screen_dark_15 !important;
															color: $gaming_lightest !important;
															width: 50% !important;
															font-size: 1.4rem !important;
															min-height: 5rem;
															vertical-align: middle;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				vtr-hardware-view-results {
					.vtr-hardware-components {
						background: $dark_cell;
						.header {
							.heading1 {
								color: $gaming_lightest;
							}
						}
						.hardware-lists-container {
							.final-result {
								.status {
									.text-status {
										.title {
											color: $gaming_lightest;
										}
										.subtitle {
											color: $gaming_grey_lightest;
											.details {
												color: $gaming_grey_lightest;
											}
										}
									}
								}
							}
						}
						vtr-widget-hardware-scan-item {
							.vtr-widget-hardware-scan-item {
								.title {
									color: $gaming_lightest;
								}
								.subtitle {
									color: $gaming_grey_lightest;
									.details {
										color: $gaming_grey_lightest;
									}
								}
							}
							vtr-ui-hardware-list {
								.vtr-ui-list-hardware {
									.list-group {
										.list-group-item {
											background-color: $gaming-Darkslate-blue;
											border: 0.1rem solid $screen_dark_15;
											.title {
												color: $gaming_lightest;
											}
											.subtitle {
												color: $gaming_grey_lightest;
												.details {
													color: $gaming_grey_lightest;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.vtr-widget-hardware-scan {
					.hardwarescan-background {
						.cancel-check {
							.cancel-check-text {
								color: $gaming_light_blue !important;
								padding-bottom: 0.4rem !important;
							}
						}
					}
				}
			}

			.vtr-page-right-column {
				background-image: url("./assets/images/gaming/GradientLine@1x.png");
				background-repeat: repeat;
				background-size: 100% 100%;
				//background-color: $gaming_darker;
				//padding-left: 2.2rem;
				padding: 0 8.5rem 4rem 4rem;

				@media #{$small-screen} {
					margin-top: -0.1rem;
					padding: 6rem 3rem 1.5rem 3rem !important;
					background-color: $gaming_darkest !important;
					background-image: none;
				}

				@media #{$medium-screen} {
					margin-top: -0.1rem;
					padding: 6rem 6.5rem 4rem 6.5rem !important;
					background-color: $gaming_darkest !important;
					background-image: none;
				}

				vtr-autoupdate-settings {
					.vtr-autoupdate-settings {
						background-color: auto;
						background: $dark_cell;

						.title {
							color: $gaming_lightest;
						}

						.description {
							color: $gaming_grey_lightest;
							font-size: 1.2rem;
						}

						.settings-container {
							.list-group-item {
								background-color: $gaming-Darkslate-blue;

								.update-title {
									color: $gaming_lightest;
								}
							}
						}
					}
				}

				vtr-widget-questions {
					.vtr-widget-questions {
						background-color: auto;
						background: $dark_cell !important;

						.title {
							color: $gaming_lightest !important;
						}

						.description {
							color: $gaming_grey_lightest;
							font-size: 1.2rem;
						}

						.vtr-ui-list-chevron {
							.chevron-list {
								background-color: $gaming-Darkslate-blue;
								border: none;
								overflow: hidden;

								.good {
									color: $gaming_lightest;
									border-bottom: 1px solid $screen_dark_15;
								}

								li {
									a {
										.title {
											font-weight: $weight_regular !important;
											font-size: 1.6rem !important;
										}
									}
								}
							}
						}
					}
				}

				.vtr-page-shift-up-medium {
					.vtr-battery-card {
						.container {
							background-color: $gaming_dark !important;

							.battery-gauge-label,
							.battery-conditions-tips {
								color: $gaming_grey_lightest;
							}

							.battery-health {
								color: $gaming_lightest;
							}
						}
					}
				}

				.vtr-widget-schedule-scan {
					background: $dark_cell;
					.title {
						color: $gaming_lightest;
					}
					.description {
						color: $gaming_grey_lightest;
					}
				}
				.vtr-page-shift-up {
					.vtr-widget-hardware-scan-status {
						background: $dark_cell;
						.title {
							color: $gaming_lightest;
						}
						.description {
							color: $gaming_grey_lightest;
						}
						vtr-ui-hardware-list {
							.vtr-ui-list-hardware {
								.list-group {
									.list-group-item {
										background-color: $gaming-Darkslate-blue;
										border: 0.1rem solid $screen_dark_15;
										.title {
											color: $gaming_lightest;
										}
										.subtitle {
											color: $gaming_grey_lightest;
										}
									}
								}
							}
						}
					}
					vtr-widget-recover-bad-sectors {
						.vtr-widget-device-recover-bad-sectors {
							background: $dark_cell;
							.title {
								color: $gaming_lightest;
							}
							.description {
								color: $gaming_grey_lightest;
							}
							.hardware-lists-container {
								.heading {
									color: $gaming_lightest;
								}
							}
						}
					}
				}
				.vtr-battery-card {
					.container {
						background-color: $gaming_dark !important;
						&.battery-panel-background {
							background-color: $gaming_dark !important;
						}
						.battery-health {
							color: $gaming_lightest;
						}
						.vtr-battery-indicator {
							.cell {
								.battery {
									.acid-container {
										.percentage {
											color: $gaming_lightest;
										}
									}
									.remaining-time {
										color: $gaming_lightest;
									}
									.remaining-text {
										color: $gaming_grey_lightest;
									}
								}
							}
						}
						.battery-conditions-tips {
							color: $gaming_grey_lightest;
						}
						.feature-note {
							background: $gaming-Darkslate-blue;
							border: none;
							p {
								color: $gaming_lightest !important;
							}
						}
					}
				}
			}

			.tooltip-click.tooltip {
				ul {
					li {
						font-family: "Segoe UI", Sans-serif;
					}
				}

				.tooltip-inner {
					.read {
						font-family: "Segoe UI", Sans-serif;
					}
				}
			}
			.widget-heading {
				color: $gaming_lightest;
			}
		}

		.vtr-menu-header {
			.menu-header-tab {
				opacity: 0.7;

				fa-icon {
					&.menu-pointer {
						color: $gaming_darkest !important;
					}
				}
			}
		}
	}
	.vtr-page-support {
		.vtr-page-content {
			.vtr-page-left-column {
				.vtr-page-shift-up {
					.card {
						background: $dark_cell;
						&.quick-access {
							background: $dark_cell;
							.quick-access-title {
								color: $gaming_lightest;
							}
							.quick-assess-categories {
								.quick-assess-item {
									.item-con {
										background: $gaming_darkest;
										border: none;
										&:hover {
											background: $gaming;
										}
										.item-title {
											color: $gaming_lightest !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.vtr-widget-support {
		background-color: auto;
		background: $dark_cell;
		.title {
			color: $gaming_lightest !important;
		}
		.vtr-ui-list-support {
			.support-list {
				background-color: $gaming-Darkslate-blue !important;
				border: none !important;
				button {
					&:hover {
						background-color: transparent !important;
					}
				}
				.title {
					color: $gaming_lightest;
				}
				.arrow {
					color: $gaming_lightest !important;
				}
				.description {
					color: $gaming_grey_lightest;
					font-size: 1.2rem;
				}
				li {
					border-bottom: 0.1rem solid $screen_dark_15 !important;
					a {
						&:hover {
							background-color: transparent !important;
						}
					}
				}
			}
		}
	}
	.dark-dashline {
		height: 1px;
		background: $gaming_darkest;
		width: 100%;
		clear: both;
		margin-top: 2.2rem;
	}
	// //added by Ram
	.feature-note {
		background-color: $gaming-Darkslate-blue !important;
		border: none !important;
		border-radius: $border_radius;
		p {
			font-size: 1.5rem;
			color: $gaming_lightest !important;
		}
	}
	.permission-note {
		border-radius: $border_radius;
		p {
			font-size: 1.5rem;
			color: $stop !important;
		}
	}
	.progress-value-text {
		color: $light !important;
	}

	.final-result-code {
		.result-code-value-text {
			color: $light !important;
		}

		.left-result-code {
			.result-code-complete-text {
				color: $gaming_grey_lightest !important;
			}
		}
	}

	.result-code {
		.result-code-value-text {
			color: $light !important;
		}
		.left-code-result {
			.result-code-complete-text {
				color: $gaming_grey_lightest !important;
			}
		}
	}
}

.gaming-help-modal {
	.modal-dialog {
		top: 16rem;
		width: 80rem;
		max-width: 100%;

		@media #{$medium-screen} {
			max-width: 70rem;
			position: relative;
		}

		@media #{$small-screen} {
			max-width: 50rem;
			position: relative;
		}

		@media #{$mediaquery_12} {
			left: 9rem;
		}
	}
}

vtr-container-card {
	&.cursor-default {
		.container-card {
			a,
			.card-image,
			.content,
			.title,
			.caption,
			.read-more,
			.inner-content {
				cursor: default !important;
			}
		}
	}
}

.is-gaming,
.gaming-help-popup,
.battery-modal-size {
	button:focus,
	span:focus,
	*:focus {
		outline: 0 !important;
		box-shadow: none !important;
	}
}
