@import "~bootstrap/dist/css/bootstrap.css";
@import "./styles-bootstrap.scss";
@import "app/app.theme";
@import "./app/beta/beta-styles.scss";

@import "./hw-settings-icomoon/icomoon-base64.scss";

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	letter-spacing: 0;
}

div {
	cursor: default;
}

.color-light {
	color: $light;
}

*:not(a),
*:not(a > *),
input:not([type="radio"]):not([type="checkbox"]),
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
	cursor: default;
}

body a > *,
.no-pointer > *,
.no-pointer > div,
a > div {
	cursor: pointer;
}
a.disabled {
	pointer-events: none;
}

// @media #{$dpiquery_0} {
// }

// @media #{$dpiquery_1} {
// }

// @media #{$dpiquery_2} {
// }

// @media #{$dpiquery_3} {
// }

// @media #{$dpiquery_4} {
// }

// @media #{$dpiquery_5} {
// }

// @media #{$mediaquery_0} {
// 	html {
// 		font-size: 100%;
// 	}
// }

// @media #{$mediaquery_1} {
// 	html {
// 		font-size: 85%;
// 	}
// }

// @media #{$mediaquery_2} {
// 	html {
// 		font-size: 72%;
// 	}
// }

// @media #{$mediaquery_3} {
// 	html {
// 		font-size: 62.5%;
// 	}
// }

// @media #{$mediaquery_4} {
// 	html {
// 		font-size: 58%;
// 	}
// }

// @media #{$mediaquery_5} {
// 	html {
// 		font-size: 53%;
// 	}
// }

// @media #{$mediaquery_6} {
// 	html {
// 		font-size: 50%;

// 		&.is-arm {
// 			font-size: 60%;
// 		}
// 	}
// }

// @media #{$mediaquery_7} {
// 	html {
// 		font-size: 45%;

// 		&.is-arm {
// 			font-size: 47%;
// 		}
// 	}
// }

/* @media #{$mediaquery_5} {
  html {
    font-size: 25%;
  }
} */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Segoe UI", sans-serif;
	cursor: default;
	// font-weight: 300;
}

svg-icon {
	svg {
		width: 100%;
		height: 100%;

		path {
			fill: currentColor;
		}
	}
}

button {
	letter-spacing: 0.1em;
}

// for bootstrap hamburger menu touch input
.dropdown-backdrop {
	z-index: 0;
}

// RESPONSIVE EFFORT
// .vtr-page {
// 	height: 100%;

// 	.vtr-page-header {
// 		position: relative;
// 		z-index: 0;
// 	}

// 	.vtr-page-content {
// 		position: relative;
// 		z-index: 1;

// 		.vtr-page-left-column {
// 			padding: 0 4rem 4rem $padding_side;
// 			background-color: $shade_extralight;

// 			h2 {
// 				margin: 0;
// 				color: $main_shade;
// 				font-size: 4.5rem;
// 				font-weight: $weight_light;
// 				padding: 7rem 0 0 $padding_side;
// 			}

// 			.header-subpage-content {
// 				margin-left: $padding_side;
// 			}
// 		}

// 		.vtr-page-right-column {
// 			padding: 0 $padding_side 4rem 4rem;
// 		}

// 		@media only screen and (min-width: 400px) and (max-width: 768px) {
// 			.navbar {
// 				justify-content: left !important;
// 			}

// 			.vtr-page-left-column {
// 				padding: 0 4rem 4rem 4rem;
// 			}

// 			.vtr-page-right-column {
// 				padding: 0 4rem 4rem 4rem;
// 				margin-top: 4rem;
// 			}
// 		}
// 	}

// 	.vtr-page-shift-up {
// 		margin-top: $shift_up_small;
// 	}

// 	.vtr-page-shift-up-medium {
// 		margin-top: $shift_up_medium;
// 	}

// 	.widget-heading {
// 		color: $main_shade;
// 		font-size: $sub_header;
// 		margin-top: 4rem;
// 	}
// }

.list-group-item:first-child {
	border-top-right-radius: $border_radius !important;
	border-top-left-radius: $border_radius !important;
}

.list-group-item:last-child {
	border-bottom-right-radius: $border_radius !important;
	border-bottom-left-radius: $border_radius !important;
}

.bullet-icon-check {
	.icon-bkg {
		display: inline-block;
		border-radius: 50%;
		height: 3.3rem;
		width: 3.3rem;
		border-width: 0.3rem;
		border-style: solid;
		text-align: center;
		background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
		background-color: $go_dark;
		border-color: $go_dark;

		fa-icon {
			font-size: 1.6rem;
			line-height: 2.7rem;
			color: $light;
		}
	}
}

.bullet-icon-times {
	.icon-bkg {
		display: inline-block;
		border-radius: 50%;
		height: 3.3rem;
		width: 3.3rem;
		border-width: 0.3rem;
		border-style: solid;
		text-align: center;
		background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
		background-color: $stop_dark;
		border-color: $stop_dark;

		fa-icon {
			font-size: 1.6rem;
			line-height: 2.7rem;
			color: $light;
		}
	}
}

.card-with-border {
	border: 1px solid $shade_lighter;
	border-radius: $border_radius;
	background-color: $light;
}

strong {
	font-weight: $weight_medium;
}

.vtr-subpage {
	.modal-content {
		width: 54rem !important;
		margin: 0rem auto;
	}
}

ngb-tooltip-window.vtr-tooltip.tooltip {
	border-radius: 0.4rem;
	// z-index: 1;
	background-color: $light;
	box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);

	@media #{$black-on-white} {
		border: 0.1rem solid;
	}
	@media #{$white-on-black} {
		border: 0.1rem solid;
	}

	.tooltip-inner {
		padding: 1.2rem;
		color: $main_dark;
		border-radius: 0.4rem;
		background-color: $light;
		font-size: 1.4rem;
		text-align: left;
		max-width: 24.2rem;
		@media #{$breakpoint_xl6}{
			max-width: 44.2rem !important;
		}
		@media #{$breakpoint_xl3}{
			max-width: 32.5rem !important;
		}
		@media #{$breakpoint_xl}{
			max-width: 24.2rem !important;
		}
	}
}

.fcc-note-tooltip {
		.tooltip-inner {
			width: 32.5rem !important;
			@media #{$breakpoint_xl}{
				width: 20rem !important;
			}
		}
}

.fnctrl-tooltip.tooltip {
	width: 30rem !important;
	.tooltip-inner {
		padding: 0.5rem !important;
	}
}

.failure {
	color: $alt;
}

.success {
	color: $go_dark;
}

.warning_red {
	color: $button_red_start !important;
}

/*intelligent-cooling-read-more-pop-up-style*/

.read-more {
	.modal-dialog {
		margin-top: 8rem;
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 2rem;

		.modal-body {
			p {
				font-size: 1.6rem;
				font-weight: normal;
				color: $light-grey;

				span {
					font-size: 2rem;
					font-weight: bold;
					color: $blue-dark;
				}
			}
		}
	}
}

/*common-confirmation-modal-styles*/

.common-confirmation-modal {
	.modal-dialog {
		.modal-content {
			background-color: transparent;
			border: none;
		}
	}
}

.wifi-security-invitation-modal {
	.modal-dialog {
		margin-top: 8rem;

		.modal-content {
			background-color: transparent;
			border: none;
		}
	}
}

.wifi-security-location-modal {
	.modal-dialog {
		margin-top: 8rem;

		.modal-content {
			background-color: transparent;
			border: none;
		}
	}
}

.wifi-security-error-modal {
	.modal-dialog {
		max-width: 500px;
		margin-top: 8rem;

		.modal-content {
			border-radius: $border_radius;
		}
	}
}

/*Battery-charge-threshold-modal-styles*/
.Battery-Charge-Threshold-Modal {
	.modal-dialog {
		width: 49rem;
		max-width:90%;
		margin:auto;

		// RESPONSIVE EFFORT
		// @media #{$mediaquery_11} {
		// 	max-width: 75%;
		// 	margin: 0 auto;
		// }

		// @media #{$mediaquery_X8} {
		// 	max-width: 50%;
		// }
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem;
		@media #{$black-on-white} {
			border: 0.1rem solid;
			border-radius: 1rem;
		}
		@media #{$white-on-black} {
			border: 0.1rem solid;
			border-radius: 1rem;
		}
	}
}

/*.smart-standBy-modal-styles*/
.smart-standBy-modal {
	// .modal-dialog {
	// 	// max-width: 85%;
	// }
	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 2rem;
		@media #{$black-on-white} {
			border: 0.1rem solid;
			border-radius: 1rem;
		}
		@media #{$white-on-black} {
			border: 0.1rem solid;
			border-radius: 1rem;
		}
	}
}

/*modal-intelligent-cooling-modes-styles*/
.Intelligent-Cooling-Modes-Modal {
	.modal-dialog {
		max-width: 49rem;
		// RESPONSIVE EFFORT
		// @media #{$mediaquery_11} {
		// 	max-width: 75%;
		// 	margin: 0 auto;
		// }

		// @media #{$mediaquery_X8} {
		// 	max-width: 50%;
		// }
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem;
		@media #{$black-on-white} {
			border: 0.1rem solid $gaming_darkest;
		}
		@media #{$white-on-black} {
			border: 0.1rem solid $gaming_darkest;
		}
	}
}

/*.smart-standBy-modal-styles*/
.smart-standBy-modal {
	// .modal-dialog {
	// 	max-width: 85%;
	// }
	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 2rem;
		@media #{$black-on-white} {
			border: 0.1rem solid;
			border-radius: 1rem;
		}
		@media #{$white-on-black} {
			border: 0.1rem solid;
			border-radius: 1rem;
		}
	}
}

/*-----Voice-Modal------------*/
.Voice-Modal {
	.modal-dialog {
		max-width: 35%;
		@media #{$breakpoint_xl} {
			max-width: 45%;
		}
		@media #{$breakpoint_lg} {
			max-width: 60%;
		}
		@media #{$breakpoint_md} {
			max-width: 80%;
		}
		@media #{$breakpoint_sm} {
			max-width: 90%;
			margin: 0.5rem auto 0;
		}
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem;
	}
}

/*-----Voice-Install-Failed-Modal------------*/
.voice-install-failed-modal {
	.modal-dialog {
		max-width: 40%;
		@media #{$breakpoint_md} {
			max-width: 90%;
			margin: 0 auto;
		}
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem;
		@media #{$black-on-white} {
			border: 0.1rem solid;
			border-radius: 1rem;
		}

		@media #{$white-on-black} {
			border: 0.1rem solid;
			border-radius: 1rem;
		}
	}
}

.modern-preload-modal {
	.modal-dialog {
		max-width: 85%;
		margin: 1rem auto 0;
		// margin: auto;
		overflow-y: initial !important;
	}

	.modal-dialog-centered {
		min-height: calc(100vh - 2rem);
	}

	.modal-content {
		background: none;
		padding: 0;
		// overflow: hidden;
	}
}

.apps-for-you-dialog {
	.modal-dialog {
		max-width: 75%;
		margin: 1rem auto 0;
		overflow-y: initial !important;
		@media #{$mediaquery_15} {
			max-width: 90%;
		}
	}

	.modal-dialog-centered {
		min-height: calc(100vh - 2rem);
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 3rem 0 0 4rem;
		overflow: hidden;
	}
}

.update-read-more-modal-size {
	.modal-dialog {
		max-width: 60%;
		margin: 1.75rem auto;
		overflow-y: initial !important;
	}

	.modal-content {
		border-radius: 1rem;
		// background: none;
		border: none;
	}
}

.Article-Detail-Modal {
	.modal-dialog {
		max-width: 70%;
		margin: 1.75rem auto;
		overflow-y: initial !important;
	}

	.modal-dialog-centered {
		height: calc(100vh - 3.5rem);
		min-height: calc(100vh - 3.5rem);
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 3rem 0 0 0;
		overflow: hidden;
		font-size: 1.8rem;
		color: $light-grey;
		@media #{$black-on-white} {
			border: 0.1rem solid;
		}
		@media #{$white-on-black} {
			border: 0.1rem solid;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: normal;
			color: $blue-dark;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		h1 {
			font-size: 3.1rem;
			margin-top: 0rem;
			margin-bottom: 3rem;
		}

		h2 {
			font-size: 2.6rem;
		}

		h3 {
			font-size: 2.2rem;
		}

		h4 {
			font-size: 1.8rem;
		}

		h5 {
			font-size: 1.6rem;
		}

		h6 {
			font-size: 1.4rem;
		}

		.article-content {
			div,
			span {
				margin-bottom: 1rem;
				word-wrap: break-word;
			}

			p,
			li,
			ul {
				font-size: 1.8rem;
				color: $light-grey;
				margin-bottom: 1rem;
				word-wrap: break-word;
			}
		}

		img {
			max-width: 100%;
			height: auto;
			margin-bottom: 3rem;
			border: none;
		}

		iframe {
			max-width: 100%;
			margin-bottom: 3rem;
			border: none;
		}
	}
}

.Dcc-Detail-Modal {
	.modal-dialog {
		max-width: 70%;
		overflow-y: initial !important;

		@media #{$mediaquery_15} {
			max-width: 90% !important;
			margin: 1rem auto !important;
		}
	}

	.modal-dialog-centered {
		height: calc(100vh - 3.5rem);
		min-height: calc(100vh - 3.5rem);
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		overflow: hidden;
	}
}

.Threat-Locator-Modal {
	.modal-dialog {
		max-width: 70%;
		overflow-y: initial !important;

		@media #{$mediaquery_15} {
			max-width: 90% !important;
			margin: 1rem auto !important;
		}
	}

	.modal-dialog-centered {
		height: calc(100vh - 3.5rem);
		min-height: calc(100vh - 3.5rem);
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		overflow: hidden;
	}
}

.Threat-Locator-Modal {
	.modal-dialog {
		max-width: 70%;
		overflow-y: initial !important;

		// RESPONSIVE EFFORT
		// @media #{$mediaquery_12} {
		// 	max-width: 95%;
		// 	margin: 1rem auto;
		// }

		// @media #{$mediaquery_13} {
		// 	max-width: 90%;
		// }
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: normal;
			color: $blue-dark;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		h1 {
			font-size: 3.1rem;
			margin-top: 0rem;
			margin-bottom: 3rem;
		}
	}

	.vtr-modal-threat-locator {
		&.connection-error-modal {
			margin-bottom: 4rem;

			.iframe-container {
				height: auto !important;
			}
		}
	}
}

.license-Modal {
	.modal-dialog {
		max-width: 70%;
		margin: 1.75rem auto;
		overflow-y: initial !important;
	}

	.modal-dialog-centered {
		height: calc(100vh - 3.5rem);
		min-height: calc(100vh - 3.5rem);
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem 0 0 0;
		overflow: hidden;
	}
}

.About-Modal {
	.modal-dialog {
		width: 47.8rem;
		margin: 1.75rem auto;
		overflow-y: initial !important;
	}

	.modal-content {
		border-radius: 1rem;
		background: none;
		border: none;
	}
}

.Find-Us-Modal {
	.modal-dialog {
		width: 47.8rem;
		margin: 1.75rem auto;
		overflow-y: initial !important;
	}

	.modal-content {
		border-radius: 1rem;
		background: none;
		border: none;
	}
}

.feedback-modal {
	.modal-dialog {
		margin: 1.75rem auto;
		width: 50rem;
		max-width: 90%;
	}

	.modal-content {
		border-radius: 1rem;
		background: none;
		border: none;
	}

	.modal-dialog-centered {
		height: calc(100% - 3.5rem);
		min-height: auto;
	}
}

.cancel-modal {
	.modal-dialog {
		max-width: 27%;
	}
	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 1.5rem;
	}
}
/*----- onclick-tooltip-style------*/
.tooltip-click {
	box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
	background: $light;
	&.show {
		opacity: 1;
	}

	&.tooltip {
		font-size: 1.6rem;
		border-radius: 1rem;

		ul {
			padding: 0;
			margin-bottom: 0;

			li {
				list-style: none;
			}
		}
	}

	&.bs-tooltip-top {
		padding: 0;
	}

	.tooltip-inner {
		background: $light;
		border-radius: 1rem;
		padding: 3rem;
		color: $main_darker;
		text-align: left;
		max-width: 40rem;

		span {
			font-weight: bold;
		}

		.reboot-text {
			text-decoration: none;
			color: $orange-light;
			font-weight: bold;

			fa-icon {
				padding-right: 1rem;
				font-size: 1.6rem;
			}
		}

		.read {
			color: $main;
			text-decoration: underline;
		}

		.ignore {
			color: $main;
			text-decoration: underline;
		}
	}

	// .arrow::before {
	// 	border-top-color: $dark;
	// }
}

/*green and red button style*/

.button-red {
	background: linear-gradient(135deg, $stop 0%, $stop_light 100%);
}

.button-green {
	background: linear-gradient(135deg, $go 0%, $go_light 100%);
}

.vtr-login-lenovo-id {
	.start-trial {
		.button-box {
			.button {
				min-height: 5rem !important;
				background: linear-gradient(135deg, $shade_lighter 0%, $shade_lightest 100%) !important;
				color: $blue-dark !important;
				border: 0.1rem solid $shade_light !important;
				width: 100%;
			}
		}
	}
}

.vtr-modal-chs-welcome-container {
	.modal-backdrop.show {
		opacity: 0.7;
	}

	.button-gray {
		.vtr-ui-button {
			width: 100%;
		}
	}

	.vtr-ui-button {
		.button-box {
			padding: 0px !important;
			margin: 0px !important;
		}
	}
}

.Welcome-container-Modal {
	.modal-dialog {
		max-width: 60rem;
		.modal-content {
			border-radius: $border_radius;
			width: auto;
			margin: 0rem auto;
		}

		@media #{$breakpoint_md} {
			max-width: 55rem !important;
			margin: 0.5rem auto;
		}

		@media #{$breakpoint_sm} {
			max-width: 45rem !important;
		}
	}
}

// gaming overrides need to be at the bottom here
@import "./styles-gaming.scss";

/* ngb-modal-window overriding the class fade  =========== */
.fade {
	transition: none;
}

.is-android {
	margin-top: 2rem !important;
}

.focus-blue-outline {
	position: relative;
	&:focus {
		outline: 0;
		box-shadow: none;
	}
	&:focus::after {
		content: "";
		display: block;
		position: absolute;
		left: -0.4rem;
		top: -0.4rem;
		border-radius: 500px;
		width: calc(100% + 0.8rem);
		height: calc(100% + 0.8rem);
		border: thin solid $menu_hover;
	}
}

.tabset1 .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	background: $shade_lightest !important;
	color: $shade_darkest !important;
	border-radius: 0 !important;
	border-color: none !important;
	padding-bottom: 2px;
}
.tabset1 .nav-tabs .nav-link {
	border: none !important;
	border-right: 1px solid #ffffff !important;
}
.tabset1 .nav-link {
	//margin-bottom: 25px !important;
	color: $shade_darkest !important;

	padding: 2rem !important;
	font-size: 1.5rem;
}
.tabset1 .nav-tabs {
	border-color: 0 !important;
	border-bottom: 0 !important;
	background: $shade_lighter !important;
}
.tabset1 .tab-content > .tab-pane {
	padding: 2rem !important;
	background: $shade_lightest !important;
}

/*koch code*/
.pc-performance-block {
	.tabset-main {
		width: 100%;
		& > .nav-tabs {
			display: flex;
			justify-content: space-between !important;
			padding: 1.5rem;
			border-radius: 0.8rem;
			background: $main_darkest;
			margin-bottom: 5rem;
			.nav-item {
				width: calc(25% - 1rem);
				.nav-link {
					height: 19.5rem;
					border-radius: 0.5rem;
					background: $main_darker;
					border: none !important;
					display: flex;
					justify-content: center;
					flex-direction: column;
					align-items: center;
					font-size: 1.6rem;
					text-transform: uppercase;
					padding: 3.5rem;
					text-align: center;
					font-weight: $weight_bold;
					line-height: 2rem;
					color: $main_lightest;
					position: relative;
					z-index: 5;
					@media #{$breakpoint_xl} {
						font-size: $fontsize_xs2;
					}
					@media #{$breakpoint_sm} {
						font-size: 0.9rem;
					}
					.icon {
						height: 12rem;
						width: 10rem;
						line-height: 12rem;
						text-align: center;
						font-size: 8rem;
						color: $main_light;
						@media #{$breakpoint_sm} {
							font-size: 6rem;
						}
					}
					&::before {
						content: "";
						position: absolute;
						display: block;
						// height: 4rem;
						// height: 4rem;
						font-size: 6rem;
						color: $main_darkest;
						//transform: rotate(90deg);
						bottom: -3rem;
						left: calc(50% - 2rem);
						z-index: 0;
						opacity: 0;
						height: 0;
						width: 0;
						border-left: 20px solid transparent;
						border-right: 20px solid transparent;
						border-top: 20px solid $main_darkest;
					}
					&.active {
						background: $main_lightest !important;
						color: $main_darker;
						.icon {
							color: $main_light;
						}
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
		& > .tab-content {
			vtr-ui-smart-tune-pc {
				.tabset1 {
					.nav-tabs {
						display: flex;
						justify-content: space-between !important;
						.nav-item {
							flex: 1;
							.nav-link {
								display: flex;
								justify-content: center;
								align-items: center;
								padding: 2rem 4rem !important;
								line-height: 1.4rem;
								.ng-fa-icon {
									margin-right: 1.5rem;
									font-size: 3rem;
									color: $main_light;
								}
							}
						}
					}
				}
			}
		}
	}
}

// smart performance icons

@font-face {
	font-family: "smart-icons";
	src: url("./assets/smart-icons/smart-icons.eot");
	src: url("./assets/smart-icons/smart-icons.eot?#iefix") format("embedded-opentype"),
		url("./assets/smart-icons/smart-icons.woff") format("woff"),
		url("./assets/smart-icons/smart-icons.ttf") format("truetype"),
		url("./assets/smart-icons/smart-icons.svg#smart-icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "smart-icons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "smart-icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-computer-scan-756353:before {
	content: "\61";
}
.icon-easy-resume:before {
	content: "\63";
}
.icon-error-1582584:before {
	content: "\64";
}
.icon-internet-performance:before {
	content: "\66";
}
.icon-malware-security:before {
	content: "\67";
}
.icon-microsoft-windows-22:before {
	content: "\68";
}
.icon-noun-registery-key-1581151:before {
	content: "\69";
}
.icon-noun-touch-200038:before {
	content: "\6a";
}
.icon-performance:before {
	content: "\6b";
}
.icon-power-agenda:before {
	content: "\6c";
}
.icon-question-circle:before {
	content: "\6d";
}
.icon-recycling-2025397:before {
	content: "\6e";
}
.icon-multitasking:before {
	content: "\6f";
}
.icon-virus:before {
	content: "\70";
}
.icon-wifi:before {
	content: "\62";
}
.icon-visible-to-online-trackers:before {
	content: "\71";
}
.icon-uninstall-375971-2:before {
	content: "\72";
}
.icon-uninstall-375971:before {
	content: "\73";
}
.icon-uninstall:before {
	content: "\74";
}
.icon-thumbsup:before {
	content: "\75";
}
.icon-router:before {
	content: "\76";
}
.icon-responsive:before {
	content: "\77";
}
.icon-icon-247-protection:before {
	content: "\65";
}
.icon-icon-automated-resolution:before {
	content: "\78";
}
.icon-icon-browser-security:before {
	content: "\79";
}
.icon-icon-browser-settings:before {
	content: "\7a";
}
.icon-icon-e-junk:before {
	content: "\41";
}
.icon-icon-schedule-scan:before {
	content: "\42";
}
.icon-icon-security-settings:before {
	content: "\43";
}
.icon-icon-zero-day:before {
	content: "\44";
}

// smart-performance-scan-summary-calendar-styles
vtr-ui-smart-performance-scan-summary {
	.vtr-page-header {
		display: none;
	}
}
vtr-ui-smart-performance-scanning {
	.vtr-page-header {
		display: none;
	}
}
.vtr-ui-smart-performance-scan-summary {
	.date-picker {
		ngb-datepicker {
			width: 100%;
			border: none;
			border-radius: 0;
			.ngb-dp-header {
				background: transparent;
			}
			.ngb-dp-month {
				width: 100%;
				.ngb-dp-week {
					display: flex;
					justify-content: space-around;
					&.ngb-dp-weekdays {
						border: none;
					}
					&.bg-light {
						background: transparent !important;
					}
					.ngb-dp-weekday {
						font-style: normal;
					}
				}
			}
			.bg-primary {
				background: transparent !important;
				&.text-white {
					color: $go_dark !important;
					font-weight: $weight_bold;
				}
			}
		}
	}
}

.sidebar-widget {
	.change-scan-schedule {
		.day-dropdown {
			&.date-picker {
				ngb-datepicker {
					width: 20rem;
					border: none;
					border-radius: 0;
					.ngb-dp-header {
						background: transparent;
					}
					.ngb-dp-month {
						width: 100%;
						.ngb-dp-week {
							display: flex;
							justify-content: space-around;
							&.ngb-dp-weekdays {
								border: none;
							}
							&.bg-light {
								background: transparent !important;
							}
							.ngb-dp-weekday {
								font-style: normal;
							}
						}
					}
					.bg-primary {
						background: transparent !important;
						&.text-white {
							color: $go_dark !important;
							font-weight: $weight_bold;
						}
					}
				}
			}
		}
	}
}

/* override bootstrap custom check box in high contrast mode*/

.custom-control-label:before {
	@media #{$white-on-black} {
		background-color: $dark;
	}
	@media #{$black-on-white} {
		background-color: $light;
	}
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	@media #{$white-on-black} {
		background-color: $high-contrast-black-textselected;
	}
	@media #{$black-on-white} {
		background-color: $high-contrast-white-textselected;
	}
}

/* battery-detail-modal */
.battery-modal-size {
	display:flex!important;
	align-items: center;
	.modal-dialog {
		max-width: 110rem;
		@media #{$breakpoint_xl} {
			max-width: 92rem;
		}
		@media #{$breakpoint_lg} {
			max-width: 66rem;
		}
		@media #{$breakpoint_md} {
			max-width: 54rem;
		}
		@media #{$breakpoint_sm} {
			max-width: 40rem;
			margin:auto;
		}
		.modal-content {
			border-radius: 1rem;
			.vtr-battery-indicator {
				.cell{
					@media #{$breakpoint_md} {
						width:95%;
					}
				}
			}
		}
	}
}
.subscribe-modal {
	.modal-dialog {
		max-width: 70%;
	}
}

.hardware-scan-modal-size {
	.modal-dialog {
		max-width: 55%;
		margin: 0 auto;
		@media #{$breakpoint_lg} {
			max-width: 70%;
		}
		@media #{$breakpoint_md} {
			max-width: 75%;
		}
		@media #{$breakpoint_sm} {
			max-width: 80%;
		}
		.modal-content {
			border-radius: 1rem;
			.description {
				.question {
					font-weight: $weight_bold;
				}
			}
		}
	}
}

.cancel-modal-hwscan {
	.modal-dialog {
		max-width: 50%;
		margin: 0 auto;
		@media #{$breakpoint_lg} {
			max-width: 60%;
		}
		@media #{$breakpoint_md} {
			max-width: 65%;
		}
		@media #{$breakpoint_sm} {
			max-width: 80%;
		}
		.modal-content {
			border-radius: 1rem;
		}
	}

}
.installation-history-container {
	.vtr-container-collapsible.white-theme {
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-left-radius: 0.7rem !important;
		border-bottom-right-radius: 0.7rem !important;
		box-shadow: 0 0.7rem 1.5rem 0 rgba(0,0,0,0.15) !important;
		.card-header {
			border-bottom: none;
		}
	}
}

.no-border-bottom {
 .vtr-ui-switch-row.white-theme {
	   border-bottom: none !important;
   }
}

.slider-note {
	margin-right: 0.8rem;
	padding-left: 1.5rem;
	.vtr-ui-rounded-rectangle-radio {
		width: 13rem !important;
		height: 5rem !important;
		.label {
			font-size: $fontsize_xs !important;
			left: 4.5rem !important;
		}
		.icon-circle {
			font-size: 2rem !important;
			top: 1.4rem !important;
		}
	}
}

.np-l{
	padding-left:0rem!important;
}
.auto-screen-lock-help-icon {
	ngb-tooltip-window.vtr-tooltip.tooltip {
		.tooltip-inner {
			width: 40rem;
		}
	}
}

.vtr-page-dashboard {
	.vtr-header-main {
		.vtr-header-main-inner {
			padding: 1rem $padding_side 6rem $padding_side !important;
		}
	}
}

