/* You can add global styles to this file, and also import other style files */
/*
Fix for VAN-1178 : Commented as RUBIK font google url as google is blocked in China, fonts are not downloaded ,
downloaded font related files locally and added to assets/font/Rubik folder.
Now these fonts are part of application. Should fix this issue
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i");
reference : https://fonts.google.com/specimen/Rubik
*/
// @import url("./assets/font/Rubik/font.css");

@import "~bootstrap/dist/css/bootstrap.css";
@import "./styles-bootstrap.scss";
// @import "~bootstrap/dist/css/bootstrap.css";
@import "app/app.theme";

/************************* hw-settings icomoon icons ****************/
@import "icomoon-hw-settings.css";
// @import "./icomoon-style.scss";
@import "./app/beta/beta-styles.scss";

@font-face {
	font-family: "icomoon";
	src: url("./assets/fonts/icomoon.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

.icomoon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 2rem;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	letter-spacing: 0;
}

div {
	cursor: default;
}

*:not(a),
*:not(a > *),
input:not([type="radio"]):not([type="checkbox"]),
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
	cursor: default;
}

body a>*,
.no-pointer>*,
.no-pointer>div,
a>div {
	cursor: pointer;
}
a.disabled {
	pointer-events: none;
}

// @media #{$dpiquery_0} {
// }

// @media #{$dpiquery_1} {
// }

// @media #{$dpiquery_2} {
// }

// @media #{$dpiquery_3} {
// }

// @media #{$dpiquery_4} {
// }

// @media #{$dpiquery_5} {
// }

@media #{$mediaquery_0} {
	html {
		font-size: 62.5%;
	}
}

@media #{$mediaquery_1} {
	html {
		font-size: 62.5%;
	}
}

@media #{$mediaquery_2} {
	html {
		font-size: 62.5%;
	}
}

@media #{$mediaquery_3} {
	html {
		font-size: 62.5%;
	}
}

@media #{$mediaquery_4} {
	html {
		font-size: 58%;
	}
}

@media #{$mediaquery_5} {
	html {
		font-size: 53%;
	}
}

@media #{$mediaquery_6} {
	html {
		font-size: 50%;

		&.is-arm {
			font-size: 60%;
		}
	}
}

@media #{$mediaquery_7} {
	html {
		font-size: 45%;

		&.is-arm {
			font-size: 47%;
		}
	}
}

/* @media #{$mediaquery_5} {
  html {
    font-size: 25%;
  }
} */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Yu Gothic UI","Segoe UI", Sans-serif;
	cursor: default;
	// font-weight: 300;
}

svg-icon {
	svg {
		width: 100%;
		height: 100%;

		path {
			fill: currentColor;
		}
	}
}

button {
	letter-spacing: 0.1em;
}

// for bootstrap hamburger menu touch input
.dropdown-backdrop{
	z-index: 0;
}


.vtr-page {
	height: 100%;

	.vtr-page-header {
		position: relative;
		z-index: 0;
	}

	.vtr-page-content {
		position: relative;
		z-index: 1;

		.vtr-page-left-column {
			padding: 0 4rem 4rem $padding_side;
			background-color: $shade_extralight;

			h2 {
				margin: 0;
				color: $main_shade;
				font-size: 4.5rem;
				font-weight: $weight_light;
				padding: 7rem 0 0 $padding_side;
			}

			.header-subpage-content {
				margin-left: $padding_side;
			}
		}

		.vtr-page-right-column {
			padding: 0 $padding_side 4rem 4rem;
		}

		// @media #{$mediaquery_500} {
		@media only screen and (min-width: 400px) and (max-width: 768px) {
			.navbar {
				justify-content: left !important;
			}

			.vtr-page-left-column {
				padding: 0 4rem 4rem 4rem;
			}

			.vtr-page-right-column {
				padding: 0 4rem 4rem 4rem;
				margin-top: 4rem;
			}
		}
	}

	.vtr-page-shift-up {
		margin-top: $shift_up_small;
	}

	.vtr-page-shift-up-medium {
		margin-top: $shift_up_medium;
	}

	.widget-heading {
		color: $main_shade;
		font-size: $sub_header;
		margin-top: 4rem;
	}
}

.list-group-item:first-child {
	border-top-right-radius: $border_radius !important;
	border-top-left-radius: $border_radius !important;
}

.list-group-item:last-child {
	border-bottom-right-radius: $border_radius !important;
	border-bottom-left-radius: $border_radius !important;
}

.bullet-icon-check {
	.icon-bkg {
		display: inline-block;
		border-radius: 50%;
		height: 3.3rem;
		width: 3.3rem;
		border-width: 0.3rem;
		border-style: solid;
		text-align: center;
		background: linear-gradient($gradient_angle, $go 0%, $go_light 100%);
		background-color: $go_dark;
		border-color: $go_dark;

		fa-icon {
			font-size: 1.6rem;
			line-height: 2.7rem;
			color: $light;
		}
	}
}

.bullet-icon-times {
	.icon-bkg {
		display: inline-block;
		border-radius: 50%;
		height: 3.3rem;
		width: 3.3rem;
		border-width: 0.3rem;
		border-style: solid;
		text-align: center;
		background: linear-gradient($gradient_angle, $stop 0%, $stop_light 100%);
		background-color: $stop_dark;
		border-color: $stop_dark;

		fa-icon {
			font-size: 1.6rem;
			line-height: 2.7rem;
			color: $light;
		}
	}
}

.card-with-border {
	border: 1px solid $shade_lighter;
	border-radius: $border_radius;
	background-color: $light;
}

strong {
	font-weight: $weight_medium;
}

.vtr-subpage {
	.modal-content {
		width: 54rem !important;
		margin: 0rem auto;
	}
}

ngb-tooltip-window.vtr-tooltip.tooltip {
	border-radius: 0.4rem;
	background-color: $light;
	box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
	// font-family: "Segoe UI";
	@media #{$mediaquery_xl} {
		max-width: 20rem;
	}

	.tooltip-inner {
		padding: 1.2rem;
		color: $main_dark;
		border-radius: 0.4rem;
		background-color: $light;
		font-size: 1.4rem;
		text-align: left;
	}
}

.failure {
	color: $alt;
}

.success {
	color: $go_dark;
}

.warning_red {
	color: $button_red_start !important;
}

/*intelligent-cooling-read-more-pop-up-style*/

.read-more {
	.modal-dialog {
		margin-top: 8rem;
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 2rem;

		.modal-body {
			p {
				font-size: 1.6rem;
				font-weight: normal;
				color: $light-grey;

				span {
					font-size: 2rem;
					font-weight: bold;
					color: $blue-dark;
				}
			}
		}
	}
}

/*common-confirmation-modal-styles*/

.common-confirmation-modal {
	.modal-dialog {
		.modal-content {
			background-color: transparent;
			border: none;
		}
	}
}

.wifi-security-invitation-modal {
	.modal-dialog {
		margin-top: 8rem;

		.modal-content {
			background-color: transparent;
			border: none;
		}
	}
}

.wifi-security-location-modal {
	.modal-dialog {
		margin-top: 8rem;

		.modal-content {
			background-color: transparent;
			border: none;
		}
	}
}

.wifi-security-error-modal {
	.modal-dialog {
		max-width: 500px;
		margin-top: 8rem;

		.modal-content {
			border-radius: $border_radius;
		}
	}
}

/*Battery-charge-threshold-modal-styles*/
.Battery-Charge-Threshold-Modal {
	.modal-dialog {
		max-width: 35%;

		@media #{$mediaquery_11} {
			max-width: 75%;
			margin: 0 auto;
		}

		@media #{$mediaquery_X8} {
			max-width: 50%;
		}
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem;
	}
}

/*modal-intelligent-cooling-modes-styles*/
.Intelligent-Cooling-Modes-Modal {
	.modal-dialog {
		max-width: 35%;

		@media #{$mediaquery_11} {
			max-width: 75%;
			margin: 0 auto;
		}

		@media #{$mediaquery_X8} {
			max-width: 50%;
		}
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem;
	}
}

/*-----Voice-Modal------------*/
.Voice-Modal {
	.modal-dialog {
		max-width: 35%;

		@media #{$mediaquery_11} {
			max-width: 75%;
			margin: 0 auto;
		}

		@media #{$mediaquery_X8} {
			max-width: 50%;
		}
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem;
	}
}

/*-----Voice-Install-Failed-Modal------------*/
.voice-install-failed-modal {
	.modal-dialog {
		max-width: 40%;

		@media #{$mediaquery_11} {
			max-width: 75%;
			margin: 0 auto;
		}

		@media #{$mediaquery_X8} {
			max-width: 50%;
		}
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem;
	}
}

.modern-preload-modal {
	.modal-dialog {
		max-width: 85%;
		margin: 1rem auto 0;
		// margin: auto;
		overflow-y: initial !important;
	}

	.modal-dialog-centered {
		min-height: calc(100vh - 2rem);
	}

	.modal-content {
		background: none;
		padding: 0;
		// overflow: hidden;
	}
}

.apps-for-you-dialog {
	.modal-dialog {
		max-width: 75%;
		margin: 1rem auto 0;
		overflow-y: initial !important;
	}

	.modal-dialog-centered {
		min-height: calc(100vh - 2rem);
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 3rem 0 0 4rem;
		overflow: hidden;
	}
}

.update-read-more-modal-size {
	.modal-dialog {
		max-width: 60%;
		margin: 1.75rem auto;
		overflow-y: initial !important;
	}

	.modal-content {
		border-radius: 1rem;
		// background: none;
		border: none;
	}
}

.Article-Detail-Modal {
	.modal-dialog {
		max-width: 70%;
		margin: 1.75rem auto;
		overflow-y: initial !important;
	}

	.modal-dialog-centered {
		height: calc(100vh - 3.5rem);
		min-height: calc(100vh - 3.5rem);
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 3rem 0 0 0;
		overflow: hidden;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: normal;
			color: $blue-dark;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		h1 {
			font-size: 3.1rem;
			margin-top: 0rem;
			margin-bottom: 3rem;
		}

		h2 {
			font-size: 2.6rem;
		}

		h3 {
			font-size: 2.2rem;
		}

		h4 {
			font-size: 1.8rem;
		}

		h5 {
			font-size: 1.4rem;
		}

		h6 {
			font-size: 1rem;
		}

		p,
		li,
		ul {
			font-size: 1.8rem;
			color: $light-grey;
			margin-bottom: 1rem;
		}

		img,
		iframe {
			max-width: 100%;
			margin-bottom: 3rem;
			border: none;
		}

		p,
		li,
		ul {
			word-wrap: break-word;
		}
	}
}

.Threat-Locator-Modal {
	.modal-dialog {
		max-width: 70%;
		overflow-y: initial !important;

		@media #{$mediaquery_12} {
			max-width: 95%;
			margin: 1rem auto;
		}

		@media #{$mediaquery_13} {
			max-width: 90%;
		}
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: normal;
			color: $blue-dark;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		h1 {
			font-size: 3.1rem;
			margin-top: 0rem;
			margin-bottom: 3rem;
		}
	}

	.vtr-modal-threat-locator {
		&.connection-error-modal {
			margin-bottom: 4rem;

			.iframe-container {
				height: auto !important;
			}
		}
	}
}

.license-Modal {
	.modal-dialog {
		max-width: 70%;
		margin: 1.75rem auto;
		overflow-y: initial !important;
	}

	.modal-dialog-centered {
		height: calc(100vh - 3.5rem);
		min-height: calc(100vh - 3.5rem);
	}

	.modal-content {
		border-radius: 1rem;
		background: $light;
		padding: 4rem 0 0 0;
		overflow: hidden;
	}
}

.About-Modal {
	.modal-dialog {
		width: 47.8rem;
		margin: 1.75rem auto;
		overflow-y: initial !important;
	}

	.modal-content {
		border-radius: 1rem;
		background: none;
		border: none;
	}
}

.Find-Us-Modal {
	.modal-dialog {
		width: 55rem;
		margin: 1.75rem auto;
		overflow-y: initial !important;
	}

	.modal-content {
		border-radius: 1rem;
		background: none;
		border: none;
	}
}

.feedback-modal {
	.modal-dialog {
		margin: 1.75rem auto;
		width: 52rem;
	}

	.modal-content {
		border-radius: 1rem;
		background: none;
		border: none;
	}

	.modal-dialog-centered {
		height: calc(100% - 3.5rem);
		min-height: auto;
	}
}

/*----- onclick-tooltip-style------*/
.tooltip-click {
	box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);

	&.show {
		opacity: 1;
	}

	&.tooltip {
		font-size: 1.6rem;
		border-radius: 1rem;
		// font-family: "Segoe UI";

		ul {
			padding: 0;
			margin-bottom: 0;

			li {
				list-style: none;
			}
		}
	}

	&.bs-tooltip-top {
		padding: 0;
	}

	.tooltip-inner {
		background: $light;
		border-radius: 1rem;
		padding: 3rem;
		color: $main_darker;
		text-align: left;
		max-width: 100%;
		// font-family: "Segoe UI";

		span {
			font-weight: bold;
		}

		.reboot-text {
			text-decoration: none;
			color: $orange-light;
			font-weight: bold;

			fa-icon {
				padding-right: 1rem;
				font-size: 1.6rem;
			}
		}

		.read {
			color: $main;
			text-decoration: underline;
		}

		.ignore {
			color: $main;
			text-decoration: underline;
		}
	}

	.arrow::before {
		border-top-color: $dark;
	}
}

/*green and red button style*/

.button-red {
	background: linear-gradient(135deg, $stop 0%, $stop_light 100%);
}

.button-green {
	background: linear-gradient(135deg, $go 0%, $go_light 100%);
}

.vtr-login-lenovo-id {
	.start-trial {
		.button-box {
			.button {
				min-height: 5rem !important;
				background: linear-gradient(135deg, $shade_lighter 0%, $shade_lightest 100%) !important;
				color: $blue-dark !important;
				border: 0.1rem solid $shade_light !important;
				width: 100%;
			}
		}
	}
}

.vtr-modal-chs-welcome-container {
	.modal-backdrop.show {
		opacity: 0.7;
	}

	.button-gray {
		.vtr-ui-button {
			width: 100%;
		}
	}

	.vtr-ui-button {
		.button-box {
			padding: 0px !important;
			margin: 0px !important;
		}
	}
}

.Welcome-container-Modal {
	.modal-dialog {
		max-width: 70rem;
		.modal-content {
			border-radius: $border_radius;
		}
	}
}

// gaming overrides need to be at the bottom here
@import "./styles-gaming.scss";



/* ngb-modal-window overriding the class fade  =========== */
.fade {
	transition: none;
}

.is-android {
	margin-top: 2rem !important;
}

.focus-blue-outline {
	position: relative;
	&:focus {
		outline: 0;
		box-shadow: none;
	}
	&:focus::after {
		content: '';
		display: block;
		position: absolute;
		left: -0.4rem;
		top: -0.4rem;
		border-radius: 500px;
		width: calc(100% + 0.8rem);
		height: calc(100% + 0.8rem);
		border: thin solid $menu_hover;
	}
}
